<?php
    $companyID = $_GET["v"];
?>
<style type="text/css">
    .classLink{
        /*color:#3400FF;*/
        text-decoration: underline;
    }
</style>
<?php
$DateRangeHtml = "<option value=\"showAll\" selected=\"selected\">Show All</option>";
$DateRangeHtml .= "<option value=\"showToday\">Today</option>";
$DateRangeHtml .= "<option value=\"showWeek\">This Week</option>";
$DateRangeHtml .= "<option value=\"showLastWeek\">Last Week</option>";
$DateRangeHtml .= "<option value=\"showMonth\">This Month</option>";
$DateRangeHtml .= "<option value=\"lastMonth\">Last Month</option>";
$DateRangeHtml .= "<option value=\"5\">Q1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"6\">Q2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"7\">Q3 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"8\">Q4 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"9\">H1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"10\">H2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"11\">YTD " . date("Y") . "</option>";
?>
<div id="grayOutLoading">
    <div id="loadingMsg">
        <img src="/images/loading.gif" /> Loading ...
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#grayOutLoading").hide();
    });
    
</script>
<!--- Add Content Here --->
<form id="ActivityReport" name="ActivityReport" action="ExpenseReimbursementReport.php?v=<?=$this->companyid?>" method="POST">
    <div align="center">    
        <table width="700" border="0" cellspacing="5" cellpadding="0">
            <tr>
                <td nowrap="nowrap" scope="col" align="center" colspan="2" style="color: #174065;"><strong >Expense Reimbursement Report</strong></td>                   
            </tr>        
            <tr>
                <td width="33%" align="left">
                    Start Date Range:
                </td>
                <td align="left">
                    <select id="cbxStartDateRange" name="cbxStartDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    <input id="StartDateStartDateRange" name="StartDateStartDateRange" type="text" size="13" /> 
                    &nbsp; to &nbsp;
                    <input id="EndDateStartDateRange" name="EndDateStartDateRange" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td width="33%" align="left">
                    Approval Date Range:
                </td>
                <td align="left" >
                    <select id="cbxApprovalDateRange" name="cbxApprovalDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    <input id="StartDateApprovalDateRange" name="StartDateApprovalDateRange" type="text" size="13" /> 
                    &nbsp; to &nbsp;
                    <input id="EndDateApprovalDateRange" name="EndDateApprovalDateRange" type="text" size="13" /> 
                </td>
            </tr>
            
             <tr>
                <td width="33%" align="left">
                    Invoice Date Range:
                </td>
                <td align="left">
                    <select id="cbxInvoiceDateRange" name="cbxInvoiceDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    <input id="StartDateInvoiceDateRange" name="StartDateInvoiceDateRange" type="text" size="13" /> 
                    &nbsp; to &nbsp;
                    <input id="EndDateInvoiceDateRange" name="EndDateInvoiceDateRange" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td align="left">
                    WIN#:
                </td>
                <td align="left">
                    <input id="txtWIN" name="txtWIN" type="text" size="13" /> 
                </td>
            </tr>
             <tr>
                <td align="left">
                    Client WO ID#:
                </td>
                <td align="left">
                    <input id="txtClientWOID" name="txtClientWOID" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td align="left">
                    FS-Tech ID#:
                </td>
                <td align="left">
                    <input id="txtFSTechID" name="txtFSTechID" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td align="left">
                    Project:
                </td>
                <td align="left">
                    <input checked id="chkAllProject" name="chkAllProject" type="checkbox" class="MasterItemsProject" value="1" />
                    <label for="chkAllProject">All</label>
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td align="left">
                    <div id="ListProject" name="ListProject" style="height:160px;overflow-y: scroll;overflow-x: hidden; ">
                        <?php
                            
                            $ArrayProjectList=$this->projectList->data;
                            $numProject=count($ArrayProjectList);
                            for($i=0;$i<$numProject;$i++)
                            {
                                echo '<div style="padding-bottom: 3px;">';
                                echo'<input type="checkbox" id="chk'.$ArrayProjectList[$i]->Project_ID.'" value="'.$ArrayProjectList[$i]->Project_ID.'"  name="chkProjectList[]" class="classProjectItems">';
                                echo'&nbsp;<label for="chk'.$ArrayProjectList[$i]->Project_ID.'">'.$ArrayProjectList[$i]->Project_Name.'</label>';                                
                                echo '</div>';
                            }
                          
                        ?>
                    </div>
                </td>
            </tr>
             <tr>
                <td align="left">
                    Show Approved Reimbursements only:
                </td>
                <td align="left">
                    <input id="chkShowApprovedReimbursementsOnly" name="chkShowApprovedReimbursementsOnly" type="checkbox" value="1" checked="checked" />
                    
                </td>
            </tr>
            <tr>
                <td align="left">
                    Show Details by Category:
                </td>
                <td align="left">
                    <input id="chkShowDetailbyCategory" name="chkShowDetailbyCategory" type="checkbox" value="1" />
                    
                </td>
            </tr>
            <tr>
                <td align="left">
                    Show Tech Claim $:
                </td>
                <td align="left">
                    <input id="chkShowTechClaim" name="chkShowTechClaim" type="checkbox" value="1" />
                    
                </td>
            </tr>
            <tr>
                <td align="left">
                    Show $ to be Reimbursed <span class="classLink">through</span> FS:
                </td>
                <td align="left">
                    <input id="chkShowReimbursedthrough" name="chkShowReimbursedthrough" type="checkbox" checked="checked"  value="1"/>
                    
                </td>
            </tr>
            <tr>
                <td align="left">
                    Show $ to be Reimbursed <span class="classLink">outside</span> FS:
                </td>
                <td align="left">
                    <input id="chkShowReimbursedOutside" name="chkShowReimbursedOutside" value="1" type="checkbox" />
                    
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <input id="btnRunReport" name="btnRunReport" type="submit" value="Run Report" style="background-color:#385C7E; color:#FFFFFF; font-size:12px; font-weight:bold; cursor: pointer;"/>
                    
                </td>
            </tr>
        </table>
    </div>

</form>

