<?php

$companyID = $this->companyid;
$certRecords = $this->CertRecords;

?>
<style type="text/css">
    .classLink{
        /*color:#3400FF;*/
        text-decoration: underline;
    }
</style>
<?php
$DateRangeHtml = "<option value=\"showAll\" selected=\"selected\">Show All</option>";
$DateRangeHtml .= "<option value=\"showToday\">Today</option>";
$DateRangeHtml .= "<option value=\"showWeek\">This Week</option>";
$DateRangeHtml .= "<option value=\"showLastWeek\">Last Week</option>";
$DateRangeHtml .= "<option value=\"showMonth\">This Month</option>";
$DateRangeHtml .= "<option value=\"lastMonth\">Last Month</option>";
$DateRangeHtml .= "<option value=\"5\">Q1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"6\">Q2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"7\">Q3 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"8\">Q4 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"9\">H1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"10\">H2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"11\">YTD " . date("Y") . "</option>";
?>
<div id="grayOutLoading">
    <div id="loadingMsg">
        <img src="/images/loading.gif" /> Loading ...
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#grayOutLoading").hide();
    });
    
</script>
<!--- Add Content Here --->
<form id="ActivityReport" name="ActivityReport" action="TechUtilReport.php?v=<?=$this->companyid?>" method="POST">
    <div align="center">    
        <table width="700" border="0" cellspacing="5" cellpadding="0" >
            <tr>
                <td nowrap="nowrap" scope="col" align="center" colspan="2" style="color: #174065;"><strong >Tech Utilization Report</strong></td>                   
            </tr>        
            <tr style="height:9px;"><td colspan="2"></td></tr>
            <tr>
                <td width="22%" align="left">
                    Start Date Range:
                </td>
                <td align="left">
                    <select id="cbxStartDateRange" name="cbxStartDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;
                    <input id="StartDateStartDateRange" name="StartDateStartDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateStartDateRange" name="EndDateStartDateRange" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td width="22%" align="left">
                    End Date Range:
                </td>
                <td align="left" >
                    <select id="cbxEndDateRange" name="cbxEndDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;                    
                    <input id="StartDateEndDateRange" name="StartDateEndDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateEndDateRange" name="EndDateEndDateRange" type="text" size="13" /> 
                </td>
            </tr>            
            <tr style="height:5px;"><td colspan="2"></td></tr>
            <tr>
                <td align="left">
                    Project:
                </td>
                <td align="left">
                    <input checked id="chkAllProject" name="chkAllProject" type="checkbox" class="MasterItemsProject" value="1" />
                    <label for="chkAllProject">All</label>
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td align="left">
                    <div id="ListProject" name="ListProject" style="min-height:50px;max-height:160px;overflow-y: auto;overflow-x: hidden; width:200px;">
                        <?php                            
                            $ArrayProjectList=$this->projectList->data;
                            $numProject=count($ArrayProjectList);
                            for($i=0;$i<$numProject;$i++)
                            {
                                echo '<div style="padding-bottom: 3px;">';
                                echo'<input type="checkbox" id="chk'.$ArrayProjectList[$i]->Project_ID.'" value="'.$ArrayProjectList[$i]->Project_ID.'"  name="chkProjectList[]" class="classProjectItems">';
                                echo'&nbsp;<label for="chk'.$ArrayProjectList[$i]->Project_ID.'">'.$ArrayProjectList[$i]->Project_Name.'</label>';                                
                                echo '</div>';
                            }
                          
                        ?>
                    </div>
                </td>
            </tr>
            <tr style="height:5px"><td colspan="2"></td></tr>            
            <tr>
                <td align="left">
                    FS-Tech ID#:
                </td>
                <td align="left">
                    <input id="txtFSTechID" name="txtFSTechID" type="text" size="13" /> 
                </td>
            </tr>
            <?php 
            $contractorTitle = $this->ContractorTitle;
            if(!empty($contractorTitle)){
            ?>
            <tr>
                <td align="left"><?=$contractorTitle?></td>
                <td align="left">
                    <input id="txtContractorID" name="txtContractorID" type="text" size="13" /> 
                </td>
            </tr>
            <?php
            }
            ?>
    <?php if(!empty($certRecords) && !in_array($companyID,array('PURP','ERG','BBAL','BBGC','BBGE','BBCN','BCSST','BBGN','BBJC','BBLC','BBNSG','BBNC','BBS','BB'))) { 
        ?>
            <tr>
                <td align="left">
                    Client Credential:
                </td>
                <td align="left">
                    <select style="width:173px" name="ClientCredential" id="ClientCredential">
                        <option value="">Select a Client Credential</option>
    <?php     foreach($certRecords as $cert) { ?>
        <option value="<?=$cert['id']?>" ><?=$cert['Title']?></option>
    <?php     } ?>   
                    </select>
                </td>
            </tr>
    <?php } ?>                        

    <?php  if(!empty($certRecords) && in_array($companyID,array('PURP','ERG','BBAL','BBGC','BBGE','BBCN','BCSST','BBGN','BBJC','BBLC','BBNSG','BBNC','BBS','BB')) ) { ?>
            <tr>
                <td align="left">
                    Client Credential:
                </td>
                <td align="left">                                  
    <?php     foreach($certRecords as $cert) { 
          $label = $cert['label'];
          if(in_array($companyID,array('BBAL','BBGC','BBGE','BBCN','BCSST','BBGN','BBJC','BBLC','BBNSG','BBNC','BBS','BB')))  
          {
              $label = $cert['description'];
          }
    ?>    

    <div style="padding-bottom: 3px;"><input type="checkbox" class="classCertItems" name="chkCertIDList[]" value="<?=$cert['id']?>" id="chkCertID<?=$cert['id']?>">&nbsp;<label for="chkCertID<?=$cert['id']?>"><?=$label?></label></div>        

    <?php     } ?>   
                </td>
            </tr>
    <?php } ?>                        
            
            <tr style="height:9px;"><td colspan="2"></td></tr>
            <tr>
                <td>
                </td>
                <td nowrap="nowrap">
                 <input id="btnRunReport" name="btnRunReport" type="submit" value="Run Report" style="background-color:#385C7E; color:#FFFFFF; font-size:12px; font-weight:bold; cursor: pointer;"/>
                <span style="color:#aeaeae"><i>Note: Excludes work orders that have no start and completion dates.</i>
</span>                    
                </td>
            </tr>
        </table>
    </div>

</form>

