<?php
$companyID = $this->companyid;
?>
<style type="text/css">
    .classLink{
        /*color:#3400FF;*/
        text-decoration: underline;
    }
</style>
<?php
$DateRangeHtml = "<option value=\"showAll\" selected=\"selected\">Show All</option>";
$DateRangeHtml .= "<option value=\"showToday\">Today</option>";
$DateRangeHtml .= "<option value=\"showWeek\">This Week</option>";
$DateRangeHtml .= "<option value=\"showLastWeek\">Last Week</option>";
$DateRangeHtml .= "<option value=\"showMonth\">This Month</option>";
$DateRangeHtml .= "<option value=\"lastMonth\">Last Month</option>";
$DateRangeHtml .= "<option value=\"5\">Q1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"6\">Q2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"7\">Q3 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"8\">Q4 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"9\">H1 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"10\">H2 " . date("Y") . "</option>";
$DateRangeHtml .= "<option value=\"11\">YTD " . date("Y") . "</option>";
?>
<div id="grayOutLoading">
    <div id="loadingMsg">
        <img src="/images/loading.gif" /> Loading ...
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#grayOutLoading").hide();
    });
    
</script>
<!--- Add Content Here --->
<iframe id="iframdownload" name="iframdownload" style="display:none" ></iframe>

<form method="POST" target="iframdownload" action="/widgets/dashboard/reports/download-project-master-report" id="frmdownload" name="frmdownload">
    <div align="center">    
        <table width="700" border="0" cellspacing="5" cellpadding="0" >
            <tr>
                <td nowrap="nowrap" scope="col" align="center" colspan="2" style="color: #174065;">
                <strong >Project Master Download</strong>
                </td>                   
            </tr>        
            <tr style="height:9px;"><td colspan="2"></td></tr>
            <tr>
                <td width="22%" align="left">
                    Created Date Range:
                </td>
                <td align="left">
                    <select id="cbxCreatedDateRange" name="cbxCreatedDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;
                    <input id="StartDateCreatedDateRange" name="StartDateCreatedDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateCreatedDateRange" name="EndDateCreatedDateRange" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td width="22%" align="left">
                    Start Date Range:
                </td>
                <td align="left">
                    <select id="cbxStartDateRange" name="cbxStartDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;
                    <input id="StartDateStartDateRange" name="StartDateStartDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateStartDateRange" name="EndDateStartDateRange" type="text" size="13" /> 
                </td>
            </tr>
            <tr>
                <td width="22%" align="left">
                    End Date Range:
                </td>
                <td align="left" >
                    <select id="cbxEndDateRange" name="cbxEndDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;                    
                    <input id="StartDateEndDateRange" name="StartDateEndDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateEndDateRange" name="EndDateEndDateRange" type="text" size="13" /> 
                </td>
            </tr>            
            <tr>
                <td width="22%" align="left">
                    Approved Date Range:
                </td>
                <td align="left" >
                    <select id="cbxApprovedDateRange" name="cbxApprovedDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;                    
                    <input id="StartDateApprovedDateRange" name="StartDateApprovedDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateApprovedDateRange" name="EndDateApprovedDateRange" type="text" size="13" /> 
                </td>
            </tr>            
            <tr>
                <td width="22%" align="left">
                    Invoiced Date Range:
                </td>
                <td align="left" >
                    <select id="cbxInvoicedDateRange" name="cbxInvoicedDateRange" style="width:110px;"><?= $DateRangeHtml ?></select>
                    &nbsp; From: &nbsp;                    
                    <input id="StartDateInvoicedDateRange" name="StartDateInvoicedDateRange" type="text" size="13" /> 
                    &nbsp; To: &nbsp;
                    <input id="EndDateInvoicedDateRange" name="EndDateInvoicedDateRange" type="text" size="13" /> 
                </td>
            </tr>            
            <tr style="height:5px;"><td colspan="2"></td></tr>
            <tr>
                <td align="left">
                    Project:
                </td>
                <td align="left">
                    <input checked id="chkAllProject" name="chkAllProject" type="checkbox" class="MasterItemsProject" value="1" />
                    <label for="chkAllProject">All</label>
                </td>
            </tr>
            <tr>
                <td>
                   
                </td>
                <td align="left">
                    <div id="ListProject" name="ListProject" style="min-height:50px;max-height:160px;overflow-y: auto;overflow-x: hidden; width:200px;">
                        <?php                            
                            $ArrayProjectList=$this->projectList->data;
                            $numProject=count($ArrayProjectList);
                            for($i=0;$i<$numProject;$i++)
                            {
                                echo '<div style="padding-bottom: 3px;">';
                                echo'<input type="checkbox" id="chk'.$ArrayProjectList[$i]->Project_ID.'" value="'.$ArrayProjectList[$i]->Project_ID.'"  name="chkProjectList[]" class="classProjectItems">';
                                echo'&nbsp;<label for="chk'.$ArrayProjectList[$i]->Project_ID.'">'.$ArrayProjectList[$i]->Project_Name.'</label>';                                
                                echo '</div>';
                            }
                        ?>
                    </div>
                </td>
            </tr>

            <tr style="height:9px;"><td colspan="2"></td></tr>
            <tr>
                <td>
                </td>
                <td nowrap="nowrap">
                    <div >
                        <input border="0" align="left" type="submit" value="Download" class="link_button download_button">         
                        <input type="hidden" name="CompanyID" value="<?=$companyID?>">           
                    </div>                
                </td>
            </tr>
        </table>
    </div>

</form>

