
<style type="text/css">
    .expense-reimbursement-report-header{
        background-color: #D9D9D9;
        padding:5px;

    }
    .border-left{
        border-left:solid 1px #fff;
    }
    .border-top{
        border-top:solid 1px #000;
    }
    .AlternatingRowStyle td{
        background-color: #C6D9F1;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .RowStyle td{
        background-color: White;
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>
<div style="text-align: center; padding-top:10px;color: #174065;">
    <strong>Expense Reimbursement Report</strong>
</div>
<div style="padding-left:11px;">
    <table celpadding="0" width="" border="0" cellspacing="0">
        <tr>
            <td >
                <iframe id="iframdownload" name="iframdownload" style="display: none;" ></iframe>
                <form method="POST" target="iframdownload" action="/widgets/dashboard/reports/download-expense-reimbursement-report" id="frmdownload" name="frmdownload">
                    <div >
                        <input border="0" align="left" type="submit" value="Download" class="link_button download_button">                    
                        <input type="hidden" value="<?= base64_encode(json_encode($this->params)) ?>" name="hidParams" id="hidParams" >
                    </div>
                </form>
            </td>
            <td style="padding-left:5px;">
    <a href="CreateExpenseReimbursementReport.php?v=<?= $this->companyid ?>&Params=<?= urlencode(base64_encode(json_encode($this->params))) ?>" >Edit Report Filters</a>&nbsp;|&nbsp;<a href="CreateExpenseReimbursementReport.php?v=<?= $this->companyid ?>" class="CreateNewReport">Create New Report</a>&nbsp;|&nbsp;<a href="FinancialReports.php?v=<?= $this->companyid ?>" class="ProjectManagementReports">Financial Reports</a>
            </td>
        </tr>
    </table>    
</div>
<div style=" padding-left:5px;">

    <?php
    $Core_Api_User = new Core_Api_User;
    $columFix = $Core_Api_User->getFixedBCatNames_ByCompany($this->companyid);
    $columnDynamic = $Core_Api_User->getCustomBCatNames_ByCompany($this->companyid);
    $colspanColumTotal = 5;
    $colspanColumFixDyn = 3;
    if (!$this->ShowTechClaim) {
        $colspanColumFixDyn = $colspanColumFixDyn - 1;
        $colspanColumTotal = $colspanColumTotal - 1;
    }
    if (!$this->ShowReimbursedthrough) {
        $colspanColumFixDyn = $colspanColumFixDyn - 1;
        $colspanColumTotal = $colspanColumTotal - 1;
    }
    if (!$this->ShowReimbursedOutside) {
        $colspanColumFixDyn = $colspanColumFixDyn - 1;
        $colspanColumTotal = $colspanColumTotal - 1;
    }
    ?>
    <table celpadding="0" width="" border="0" cellspacing="0">
        <tr>
            <td colspan="11" class="expense-reimbursement-report-header">

            </td>
            <?php
            if ($this->ShowDetailbyCategory) {
                if ($colspanColumFixDyn > 0) {
                    foreach ($columFix as $fix) {
                        ?>
                        <td colspan="<?= $colspanColumFixDyn ?>" align="center" class="expense-reimbursement-report-header border-left">
                            <?= $fix ?>
                        </td>
                        <?php
                    }
                    if (!empty($columnDynamic)) {
                        foreach ($columnDynamic as $dyn) {
                            ?>
                            <td colspan="<?= $colspanColumFixDyn ?>" align="center" class="expense-reimbursement-report-header border-left">
                                <?= $dyn ?>
                            </td>
                            <?php
                        }
                    }
                }
            }
            ?>
            <td colspan="<?= $colspanColumTotal ?>" align="center" class="expense-reimbursement-report-header border-left">
                Totals
            </td>
        </tr> 
        <tr style="height:1px;">
            <?php
            $numColspan = 15;
            $colsFix = count($columFix);
            $colsDyn = count($columnDynamic);
            $numColspan = $numColspan + $colsFix * $colspanColumFixDyn + $colsDyn * $colspanColumFixDyn;
            ?>
            <td style="heigth:1px;" colspan=\"<?= $numColspan ?>"\"></td>
        </tr>
        <tr>
            <td style="width:80px;"  align="center" class="expense-reimbursement-report-header">
                <div style="width:80px; ">
                    WIN#
                </div>
            </td>
            <td style="width:150px;" align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:150px; ">                    
                    Client WO ID
                </div>
            </td>
            <td style="width:80px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    Site #
                </div>
            </td>
            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:100px; ">
                    Start<br>Date
                </div>
            </td>
            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:100px; ">
                    Approval<br>Date
                </div>
            </td>
            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:100px; ">
                    Invoice<br>Date
                </div>
            </td>
            <td style="width:80px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    FS-Tech<br>ID#
                </div>
            </td>
            <td style="width:80px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    Tech First<br>Name
                </div>
            </td>
            <td width="80px" align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    Tech Last<br>Name
                </div>
            </td>
            <td width="80px" align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    Agreed $<br>Amount
                </div>
            </td>
            <td width="80px" align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:80px; ">
                    Base Tech<br>Pay
                </div>
            </td>
            <?php
            if ($this->ShowDetailbyCategory) {
                foreach ($columFix as $fix) {
                    if ($this->ShowTechClaim) {
                        ?>

                        <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                            <div style="width:100px; ">
                                Tech <br>
                                Claim
                            </div>
                        </td>
                        <?php
                    }
                    if ($this->ShowReimbursedthrough) {
                        ?>
                        <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                            <div style="width:100px; ">
                                Reimburse<br>through FS
                            </div>
                        </td>
                        <?php
                    }
                    if ($this->ShowReimbursedOutside) {
                        ?>
                        <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                            <div style="width:100px; ">
                                Reimburse<br>
                                outside FS</div>
                        </td>
                        <?php
                    }
                }
                ?>
                <?php
                if (!empty($columnDynamic)) {
                    foreach ($columnDynamic as $dyn) {
                        if ($this->ShowTechClaim) {
                            ?>
                            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                                <div style="width:100px; ">Tech<br>Claim</div>
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedthrough) {
                            ?>
                            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                                <div style="width:100px; ">
                                    Reimburse<br>
                                    through FS
                                </div>
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedOutside) {
                            ?>
                            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                                <div style="width:100px; ">
                                    Reimburse<br>
                                    outside FS
                                </div>
                            </td>
                            <?php
                        }
                    }
                }
            }
            if ($this->ShowTechClaim) {
                ?>
                <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                    <div style="width:100px; ">
                        Tech<br>
                        Claim
                    </div>
                </td>
                <?php
            }
            if ($this->ShowReimbursedthrough) {
                ?>
                <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                    <div style="width:100px; ">
                        Reimburse<br>
                        through FS
                    </div>
                </td>
                <?php
            }
            if ($this->ShowReimbursedOutside) {
                ?>
                <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                    <div style="width:100px; ">
                        Reimburse<br>
                        outside FS
                    </div>
                </td>
                <?php
            }
            ?>
            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:100px; ">
                    Final Total<br>
                    Tech Pay
                </div>
            </td>
            <td style="width:100px; " align="center" class="expense-reimbursement-report-header border-left">
                <div style="width:100px; ">
                    Final Invoice<br>
                    Amount
                </div>
            </td>
        </tr>
        <?php
        $numListProjectID = count($this->ListProjectID);
        $listProjectIDs = "";
        for ($i = 0; $i < $numListProjectID; $i++) {
            $listProjectIDs = $listProjectIDs . $this->ListProjectID[$i] . ",";
        }

        if (strlen($listProjectIDs) > 0) {
            $listProjectIDs = substr($listProjectIDs, 0, strlen($listProjectIDs) - 1);
        }

        $Core_Api_WosClass = new Core_Api_WosClass;
        $DataReport = $Core_Api_WosClass->getExReReport(
                $this->companyid, $this->ApprovalDateFrom, $this->ApprovalDateTo, $this->InvoiceDateFrom, $this->InvoiceDateTo, $this->WIN, $this->ClientWOID, $this->TechID, $listProjectIDs, $this->ShowApprovedReimbursementsOnly ? 1 : 0, $this->StartDateDateFrom, $this->StartDateDateTo
                );
        $numRowData = count($DataReport);
        $footer = $DataReport['total_footer'];
        unset($DataReport['total_footer']);
        for ($i = 0; $i < $numRowData; $i++) {
            if (!empty($DataReport[$i])) {
                $class = "AlternatingRowStyle";
                if ($i % 2) {
                    $class = "RowStyle";
                }
                ?>
                <tr class="<?= $class ?>">
                    <td align="center">
                        <?php echo $DataReport[$i]['WIN_NUM'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $DataReport[$i]['WO_ID'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $DataReport[$i]['SiteNumber'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $this->displayDate('n/j/Y', $DataReport[$i]['StartDate']) ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $this->displayDate('n/j/Y', $DataReport[$i]['DateApproved']) ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $this->displayDate('n/j/Y', $DataReport[$i]['DateInvoiced']) ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $DataReport[$i]['Tech_ID'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $DataReport[$i]['Tech_FName'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $DataReport[$i]['Tech_LName'] ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php
                        if (!empty($DataReport[$i]['PayAmount']) && ($DataReport[$i]['PayAmount'] > 0))
                            echo $DataReport[$i]['PayAmount'] . "/" . $DataReport[$i]['Amount_Per'];
                        ?>
                    </td>
                    <td  align="center" class="border-left">
                        <?php echo $this->displayMoney($DataReport[$i]['baseTechPay']) ?>
                    </td>
                    <?php
                    $dataRowOfColumnFixAndDyn = $DataReport[$i]['bcatsinfo'];
                    $countdataRowOfColumnFixAndDyn = count($dataRowOfColumnFixAndDyn);
                    if (!empty($dataRowOfColumnFixAndDyn)) {
                        if ($this->ShowDetailbyCategory) {
                            foreach ($columFix as $fix) {
                                $codeName = $Core_Api_WosClass->getBCatCode($fix);
                                $valueFixColum = $dataRowOfColumnFixAndDyn[$codeName];
                                if ($this->ShowTechClaim) {
                                    ?>
                                    <td align="center" class="border-left">
                                        <?php
                                        if (empty($valueFixColum['tech_claim']))
                                            echo $this->displayMoney(0);
                                        else
                                            echo $this->displayMoney($valueFixColum['tech_claim']);
                                        ?>
                                    </td>
                                    <?php
                                }
                                if ($this->ShowReimbursedthrough) {
                                    ?>
                                    <td align="center" class="border-left">
                                        <?php
                                        if (empty($valueFixColum['reimburse_through_fs']))
                                            echo $this->displayMoney(0);
                                        else
                                            echo $this->displayMoney($valueFixColum['reimburse_through_fs']);
                                        ?>
                                    </td>
                                    <?php
                                }
                                if ($this->ShowReimbursedOutside) {
                                    ?>

                                    <td align="center" class="border-left"> 
                                        <?php
                                        if (empty($valueFixColum['reimburse_outside_fs']))
                                            echo $this->displayMoney(0);
                                        else
                                            echo $this->displayMoney($valueFixColum['reimburse_outside_fs']);
                                        ?>
                                    </td>

                                    <?php
                                }
                            }

                            if (!empty($columnDynamic)) {
                                foreach ($columnDynamic as $dyn) {
                                    $codeNameDyn = $Core_Api_WosClass->getBCatCode($dyn);

                                    $valueDynColum = $dataRowOfColumnFixAndDyn[$codeNameDyn];
                                    if ($this->ShowTechClaim) {
                                        ?>
                                        <td align="center" class="border-left">
                                            <?php
                                            if (empty($valueDynColum['tech_claim']))
                                                echo $this->displayMoney(0);
                                            else
                                                echo $this->displayMoney($valueDynColum['tech_claim']);
                                            ?>
                                        </td>
                                        <?php
                                    }
                                    if ($this->ShowReimbursedthrough) {
                                        ?>
                                        <td align="center" class="border-left">
                                            <?php
                                            if (empty($valueDynColum['reimburse_through_fs']))
                                                echo $this->displayMoney(0);
                                            else
                                                echo $this->displayMoney($valueDynColum['reimburse_through_fs']);
                                            ?>
                                        </td>
                                        <?php
                                    }
                                    if ($this->ShowReimbursedOutside) {
                                        ?>
                                        <td align="center" class="border-left">
                                            <?php
                                            if (empty($valueDynColum['reimburse_outside_fs']))
                                                echo $this->displayMoney(0);
                                            else
                                                echo $this->displayMoney($valueDynColum['reimburse_outside_fs']);
                                            ?>
                                        </td>
                                        <?php
                                    }
                                }
                            }
                        }
                        if ($this->ShowTechClaim) {
                            ?>
                            <td align="center" class="border-left">
                                <?php
                                if (empty($dataRowOfColumnFixAndDyn['total_techClaim']))
                                    echo $this->displayMoney(0);
                                else
                                    echo $this->displayMoney($dataRowOfColumnFixAndDyn['total_techClaim']);
                                ?>
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedthrough) {
                            ?>
                            <td align="center" class="border-left">
                                <?php
                                if (empty($dataRowOfColumnFixAndDyn['total_reimThroughFS']))
                                    echo $this->displayMoney(0);
                                else
                                    echo $this->displayMoney($dataRowOfColumnFixAndDyn['total_reimThroughFS']);
                                ?>
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedOutside) {
                            ?>
                            <td align="center" class="border-left">
                                <?php
                                if (empty($dataRowOfColumnFixAndDyn['total_reimOutsiteFS']))
                                    echo $this->displayMoney(0);
                                else
                                    echo $this->displayMoney($dataRowOfColumnFixAndDyn['total_reimOutsiteFS']);
                                ?>
                            </td>

                            <?php
                        }
                    } else {
                        if ($this->ShowDetailbyCategory) {
                            foreach ($columFix as $fix) {
                                if ($this->ShowTechClaim) {
                                    ?>
                                    <td  align="center" class="border-left" ><?= $this->displayMoney(0) ?></td>
                                    <?php
                                }
                                if ($this->ShowReimbursedthrough) {
                                    ?>
                                    <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                                    <?php
                                }
                                if ($this->ShowReimbursedOutside) {
                                    ?>
                                    <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>

                                    <?php
                                }
                            }
                            if (!empty($columnDynamic)) {
                                foreach ($columnDynamic as $dyn) {
                                    if ($this->ShowTechClaim) {
                                        ?>
                                        <td  align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                                        <?php
                                    }
                                    if ($this->ShowReimbursedthrough) {
                                        ?>
                                        <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                                        <?php
                                    }
                                    if ($this->ShowReimbursedOutside) {
                                        ?>
                                        <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                                        <?php
                                    }
                                }
                            }
                        }
                        if ($this->ShowTechClaim) {
                            ?>
                            <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                            <?php
                        }
                        if ($this->ShowReimbursedthrough) {
                            ?>
                            <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                            <?php
                        }
                        if ($this->ShowReimbursedOutside) {
                            ?>
                            <td align="center" class="border-left"><?= $this->displayMoney(0) ?></td>
                            <?php
                        }
                    }
                    ?>
                    <td align="center" class="border-left">
                        <?php
                        if (empty($DataReport[$i]['total_tech_pay']))
                            echo $this->displayMoney(0);
                        else
                            echo $this->displayMoney($DataReport[$i]['total_tech_pay']);
                        ?>
                    </td>
                    <td align="center" class="border-left">
                        <?php
                        if (empty($DataReport[$i]['calculatedInvoice']))
                            echo $this->displayMoney(0);
                        else
                            echo $this->displayMoney($DataReport[$i]['calculatedInvoice']);
                        ?>
                    </td>
                </tr>         

                <?php
            }
        }
        ?>
        <tr class="AlternatingRowStyle">
            <td align="left" class="border-top"><strong>Total</strong></td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center"  class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td align="center" class="border-left border-top">--</td>
            <td  align="center" class="border-left border-top">
                <?php
                echo $this->displayMoney($footer['sum_base_tech_pay']);
                ?>
            </td>
            <?php
            if ($this->ShowDetailbyCategory) {
                if (!empty($columFix)) {
                    foreach ($columFix as $fix) {
                        $codeNameDyn = $Core_Api_WosClass->getBCatCode($fix);
                        if ($this->ShowTechClaim) {
                            ?>
                            <td align="center" class="border-left border-top">
                                <?php
                                echo $this->displayMoney($footer['sum_category_techclaim'][$codeNameDyn]);
                                ?>                      
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedthrough) {
                            ?>
                            <td align="center" class="border-left border-top">                      
                                <?php
                                echo $this->displayMoney($footer['sum_category_reimthroughfs'][$codeNameDyn]);
                                ?>                        
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedOutside) {
                            ?>
                            <td align="center" class="border-left border-top">

                                <?php
                                echo $this->displayMoney($footer['sum_category_reimoutsidefs'][$codeNameDyn]);
                                ?>
                            </td>
                            <?php
                        }
                    }
                }


                if (!empty($columnDynamic)) {
                    foreach ($columnDynamic as $dyn) {
                        $codeNameDyn = $Core_Api_WosClass->getBCatCode($dyn);
                        if ($this->ShowTechClaim) {
                            ?>
                            <td align="center" class="border-left border-top">
                                <?php
                                echo $this->displayMoney($footer['sum_category_techclaim'][$codeNameDyn]);
                                ?>                      
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedthrough) {
                            ?>
                            <td align="center" class="border-left border-top">                      
                                <?php
                                echo $this->displayMoney($footer['sum_category_reimthroughfs'][$codeNameDyn]);
                                ?>                        
                            </td>
                            <?php
                        }
                        if ($this->ShowReimbursedOutside) {
                            ?>
                            <td align="center" class="border-left border-top">

                                <?php
                                echo $this->displayMoney($footer['sum_category_reimoutsidefs'][$codeNameDyn]);
                                ?>
                            </td>
                            <?php
                        }
                    }
                }
            }
            if ($this->ShowTechClaim) {
                ?>
                <td align="center" class="border-left border-top"><?= $this->displayMoney($footer['sum_techclaim']) ?></td>
                <?php
            }
            if ($this->ShowReimbursedthrough) {
                ?>
                <td align="center" class="border-left border-top"><?= $this->displayMoney($footer['sum_reimburse_throught_fs']) ?></td>
                <?php
            }
            if ($this->ShowReimbursedOutside) {
                ?>
                <td align="center" class="border-left border-top"><?= $this->displayMoney($footer['sum_reimburse_outside_fs']) ?></td>
                <?php
            }
            ?>
            <td align="center" class="border-left border-top"><?= $this->displayMoney($footer['sum_final_total_tech_pay']) ?></td>
            <td align="center" class="border-left border-top"><?= $this->displayMoney($footer['sum_final_invoice_amount']) ?></td>
        </tr>
    </table>  

</div>