
<style type="text/css">
    .report-header{
        background-color: #D9D9D9;
        padding:5px;

    }
    .border-left{
        border-left:solid 1px #fff;
    }
    .border-top{
        border-top:solid 1px #000;
    }
    .AlternatingRowStyle td{
        background-color: #C6D9F1;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .RowStyle td{
        background-color: White;
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>
<div style="text-align: center; padding-top:10px;color: #174065;">
    <strong>Tech Utilization Report</strong>
</div>
<div style="padding-left:11px;">
    <table celpadding="0" width="" border="0" cellspacing="0">
        <tr>
            <td >
                <iframe id="iframdownload" name="iframdownload" style="display: none;" ></iframe>
                <form method="POST" target="iframdownload" action="/widgets/dashboard/reports/download-tech-util-report" id="frmdownload" name="frmdownload">
                    <div >
                        <input border="0" align="left" type="submit" value="Download" class="link_button download_button">                    
                        <input type="hidden" value="<?= base64_encode(json_encode($this->params)) ?>" name="hidParams" id="hidParams" >
                    </div>
                </form>
            </td>
            <td style="padding-left:5px;">
    <a href="createTechUtilReport.php?v=<?= $this->companyid ?>&Params=<?= urlencode(base64_encode(json_encode($this->params))) ?>" >Edit Report Filters</a>&nbsp;|&nbsp;<a href="createTechUtilReport.php?v=<?= $this->companyid ?>" class="CreateNewReport">Create New Report</a>&nbsp;|&nbsp;<a href="TechnicianReports.php?v=<?= $this->companyid ?>" class="ProjectManagementReports">Tech Analysis & Reports</a>
            </td>
        </tr>
    </table>    
</div>
<div style=" padding-left:5px;">

<?php    
$contractorTitle = $this->contractorTitle;
$techs = $this->techs;    
$companyid = $this->companyid;
$clientAvailHours = $this->clientAvailHours;
$filterStartDateForm = $this->filterStartDateForm;
$filterStartDateTo = $this->filterStartDateTo;
$filterEndDateForm = $this->filterEndDateForm;
$filterEndDateTo = $this->filterEndDateTo;
$filterStartDateRange="";
$filterEndDateRange="";
if(!empty($filterStartDateForm) || !empty($filterStartDateTo))
{
    $filterStartDateRange = $filterStartDateForm.' - '.$filterStartDateTo;
}
if(!empty($filterEndDateForm) || !empty($filterEndDateTo))
{
    $filterEndDateRange = $filterEndDateForm.' - '.$filterEndDateTo;
}

?>
    <table celpadding="1" width="" border="0" cellspacing="1">
        <tr class="report-header">
            <td style="width:80px;"  align="center" class="report-header">
                FS Tech ID#
            </td>
            <td style="width:100px;"  align="center" class="report-header">
                First Name
            </td>
            <td style="width:100px;"  align="center" class="report-header">
                Last Name
            </td>
        <?php if(!empty($contractorTitle)) {?>
           <td style="width:80px;"  align="center" class="report-header">
                <?=$contractorTitle?>
           </td>
        <?php }?>     
           <td style="width:140px;"  align="center" class="report-header">
                Start Date Range
            </td>        
           <td style="width:140px;"  align="center" class="report-header">
                End Date Range
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                Client-Avail. Hours
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                Client-Hours Filled
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                Client-% Utilization
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                FS Total-Avail. Hours
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                FS Total-Hours Filled
            </td>
           <td style="width:80px;"  align="center" class="report-header">
                FS Total-% Utilization
            </td>
        </tr> 
<?php 
if(!empty($techs))    
{
    foreach($techs as $tech)
    {
        
        $contractID = $tech['ContractorID'];
        if($companyid=='FLS') $contractID=$tech['FLSID'];
        
        $clientPercUtil = 0;
        if($clientAvailHours > 0) 
        {
            $clientPercUtil=($tech['HourFilled']/$clientAvailHours)*100;
            $FSTotalPerUtil = ($tech['FSTotalHourFilled']/$clientAvailHours)*100;
        }
        
        if( $class == "AlternatingRowStyle") $class = "RowStyle";
        else $class = "AlternatingRowStyle";
        
?>
        <tr class="<?=$class?>">
            <td style="width:80px;"  align="center" class="">
                <?=$tech['TechID']?>
            </td>
            <td style="width:100px;"  align="center" class="">
                <?=$tech['FirstName']?>
            </td>
            <td style="width:100px;"  align="center" class="">
                <?=$tech['LastName']?>
            </td>
        <?php if(!empty($contractorTitle)) {?>
           <td style="width:80px;"  align="center" class="">
                <?=$contractID?>
           </td>
        <?php }?>     
           <td style="width:80px;"  align="center" class="">
                <?=$filterStartDateRange?>
           </td>        
           <td style="width:80px;"  align="center" class="">
                <?=$filterEndDateRange?>
           </td>        
           <td style="width:80px;"  align="center" class="">
                <?=number_format($clientAvailHours,0)?>
            </td>
           <td style="width:80px;"  align="center" class="">
                 <?=number_format($tech['HourFilled'],2)?>
            </td>
           <td style="width:80px;"  align="center" class="">
                <?=number_format($clientPercUtil,2)?>%
            </td>
           <td style="width:80px;"  align="center" class="">
                 <?=number_format($clientAvailHours,0)?>
            </td>
           <td style="width:80px;"  align="center" class="">
                <?=number_format($tech['FSTotalHourFilled'],2)?>
            </td>
           <td style="width:80px;"  align="center" class="">
                <?=number_format($FSTotalPerUtil,2)?>%
            </td>
        </tr> 
<?php        
    }
}
?>
    </table>  

</div>