
<style type="text/css">
    .report-header{
        background-color: #D9D9D9;
        padding:5px;

    }
    .border-left{
        border-left:solid 1px #fff;
    }
    .border-top{
        border-top:solid 1px #000;
    }
    .AlternatingRowStyle td{
        background-color: #C6D9F1;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .RowStyle td{
        background-color: White;
        padding-top: 3px;
        padding-bottom: 3px;
    }
</style>
<div style="text-align: center; padding-top:10px;color: #174065;">
    <strong>Update Requests</strong>
</div>
<div style="padding-left:11px;">
    <table celpadding="0" width="" border="0" cellspacing="0">
        <tr>
            <td >
                <iframe id="iframdownload" name="iframdownload" style="display: none;" ></iframe>
                <form method="POST" target="iframdownload" action="/widgets/dashboard/reports/download-update-request-report" id="frmdownload" name="frmdownload">
                    <div >
                        <input border="0" align="left" type="submit" value="Download" class="link_button download_button">                    
                        <input type="hidden" value="<?= base64_encode(json_encode($this->params)) ?>" name="hidParams" id="hidParams" >
                    </div>
                </form>
            </td>
            <td style="padding-left:5px;">
    <a href="createUpdateRequestReport.php?v=<?= $this->companyid ?>&Params=<?= urlencode(base64_encode(json_encode($this->params))) ?>" >Edit Report Filters</a>&nbsp;|&nbsp;<a href="createUpdateRequestReport.php?v=<?= $this->companyid ?>" class="CreateNewReport">Create New Report</a>&nbsp;|&nbsp;<a href="FTXS_Reports.php?v=<?= $this->companyid ?>" class="ProjectManagementReports">FAI Reports</a>
            </td>
        </tr>
    </table>    
</div>
<div style=" padding-left:5px;">

<?php    
$companyid = $this->companyid;
$filterStartDateForm = $this->filterStartDateForm;
$filterStartDateTo = $this->filterStartDateTo;
$filterRequestDateForm = $this->filterRequestDateForm;
$filterRequestDateTo = $this->filterRequestDateTo;
$filterStartDateRange="";
$filterRequestDateRange="";
if(!empty($filterStartDateForm) || !empty($filterStartDateTo))
{
    $filterStartDateRange = $filterStartDateForm.' - '.$filterStartDateTo;
}
if(!empty($filterRequestDateForm) || !empty($filterRequestDateTo))
{
    $filterRequestDateRange = $filterRequestDateForm.' - '.$filterRequestDateTo;
}

?>
    <table celpadding="1" width="" border="0" cellspacing="1">
        <tr class="report-header">
            <td style="width:80px;"  align="center" class="report-header">WIN#</td>
            <td style="width:100px;"  align="center" class="report-header">Client WO ID</td>
            <td style="width:100px;"  align="center" class="report-header">Work Order Status</td>
            <td style="width:80px;"  align="center" class="report-header">Project Name</td>
            <td style="width:140px;"  align="center" class="report-header">Start Date</td>        
            <td style="width:140px;"  align="center" class="report-header">Start Time</td>
            <td style="width:80px;"  align="center" class="report-header">Short Notice</td>
            <td style="width:80px;"  align="center" class="report-header">Site Number</td>
            <td style="width:80px;"  align="center" class="report-header">Site Name</td>
            <td style="width:80px;"  align="center" class="report-header">City</td>
            <td style="width:80px;"  align="center" class="report-header">State</td>
            <td style="width:80px;"  align="center" class="report-header">Zip Code</td>
            <td style="width:80px;"  align="center" class="report-header">Requested by</td>
            <td style="width:80px;"  align="center" class="report-header">Update Request Date</td>
            <td style="width:80px;"  align="center" class="report-header">Update Request Time</td>
            <td style="width:80px;"  align="center" class="report-header">Reason for Update</td>
            <td style="width:80px;"  align="center" class="report-header">FS-Tech ID#</td>
            <td style="width:80px;"  align="center" class="report-header">FLS ID#</td>
            <td style="width:80px;"  align="center" class="report-header">Tech Role</td>
            <td style="width:80px;"  align="center" class="report-header">Tech First Name</td>
            <td style="width:80px;"  align="center" class="report-header">Tech Last Name</td>
        </tr> 
<?php 
$wos = $this->wos; 
if(!empty($wos))
{
    foreach($wos as $wo)
    {    
        if( $class == "AlternatingRowStyle") $class = "RowStyle";
        else $class = "AlternatingRowStyle";
        
        $reason = $wo['Description'];//FLS Update Requested:
        $reason = str_replace("FLS Update Requested:", "",$reason);
        $techRole = "";
        if($wo['Lead']==1) $techRole='Lead';
        if($wo['Assist']==1) 
        {
            if(empty($techRole))  $techRole ='Assist';
            else $techRole .= ", Assist";
        }
        

?>        
        <tr class="<?=$class?>">
            <td style="width:80px;"  align="center" class=""><?=$wo['WIN_NUM']?></td>
            <td style="width:100px;" align="center" class=""><?=$wo['WO_ID']?></td>
            <td style="width:100px;" align="center" class=""><?=$wo['Status']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Project_Name']?></td>
            <td style="width:140px;"  align="center" class=""><?=$wo['StartDate']?></td>        
            <td style="width:140px;"  align="center" class=""><?=$wo['StartTime']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['ShortNotice']==1?'Yes':'No'?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['SiteNumber']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['SiteName']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['City']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['State']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Zipcode']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Username']?></td>
            <td style="width:80px;"  align="center" class=""><?=$this->displayDate('n/j/Y',$wo['DateTime_Stamp'])?></td>
            <td style="width:80px;"  align="center" class=""><?=$this->displayDate('H:i:s',$wo['DateTime_Stamp'])?></td>
            <td style="width:80px;"  align="center" class=""><?=$reason?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Tech_ID']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['FLS_ID']?></td>
            <td style="width:80px;"  align="center" class=""><?=$techRole?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Tech_FName']?></td>
            <td style="width:80px;"  align="center" class=""><?=$wo['Tech_LName']?></td>
        </tr> 
<?php 
    }
}
?>
    </table>  

</div>