<?php
$cursor = '';
if ($this->mode)
    $cursor = 'cursor: pointer;';
?>
<img src="/widgets/images/checklist_flase.jpg" style="display: none;" />
<img src="/widgets/images/checklist_true.jpg" style="display: none;" />
<img src="/widgets/images/checklist_block.jpg" style="display: none;" />
<img src="/widgets/images/checklist_true_square.jpg" style="display: none;" />
<img src="/widgets/images/checklist_block_suare.jpg" style="display: none;" />
<table class="form_tableV2" style="margin-top: 0px;" width="100%">
    <tr>
        <td colspan="2" align="right" style="padding-top: 5px;" valign="top">

            <input class="link_button middle_button" type="button" id="cmdActivityLog" value="Activity Log" />

        </td>
    </tr>

    <tr>
        <td valign="top" colspan="2" id="clientAccessSettingsValue" align="left">
            <table width ="100%">
                <tr>
                    <td width="40%">

                    </td>
                    <td width="15%" align="center">Open</td>
                    <td width="15%" align="center">Restricted</td>
                    <td width="40%">
                        &nbsp;
                    </td>
                </tr>
                <tr class="trChildren trChildrenId-1 trCurrentId0" item_id="0"
                    parent_id="-1">
                    <td style="color: #10085A;">
                        <a href="javascript:;" item_id="0" parent_id="-1" class="cmdCollspan" style="color: #10085A;" ><img src="/widgets/images/img_minus.jpg" border="0"/><strong>&nbsp;All</strong></a>
                    </td>
                    <td align="center">
                        <img item_id="0" parent_id="-1"  style="<?= $cursor ?>" src="/widgets/images/checklist_flase.jpg" class="ckChildrenOpen ckChildrenOpenId0 trParentOpenId-1"  
                             checked='false' border="0"/>
                    </td>
                    <td align="center">
                        <img item_id="0" parent_id="-1"  style="<?= $cursor ?>" src="/widgets/images/checklist_flase.jpg" class="ckChildrenRestricted ckChildrenRestrictedId0 trParentRestrictedId-1"  
                             checked='false' border="0"/>
                    </td>
                    <td >
                        &nbsp;
                    </td>
                </tr>
            </table>
            <table class="trChildrenId0" width="100%" >
                <?php
                if (!empty($this->clientAccessAttributes)) {
                    foreach ($this->clientAccessAttributes as $i => $item) {
                        $nbsp = "&nbsp;&nbsp;&nbsp;&nbsp;";
                        $label = "";
                        $style = "";
                        if ($item["parent_id"] > 0) {
                            $style = "display:none;";
                        }
                        if ($item["parent_id"] > 0) {
                            $nbsp = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                        }
                        if ($item["parent_id"] == 0 && $item["childs"] > 0) {
                            $label = '<a href="javascript:;" class="cmdCollspan" item_id="' . $item["id"] . '" style="color: #10085A;" ><img src="/widgets/images/img_plus.jpg" border="0"/>&nbsp;' . $item["label"] . '</a>';
                        }else if($item["parent_id"] == 0)
                        {
                            $label = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".$item["label"];
                        }
                        else {
                            $label = "&nbsp;&nbsp;".$item["label"];
                        }
                        ?>
                        <tr style="<?= $style ?>" class="trChildren trChildrenId<?= $item["parent_id"] ?> trCurrentId<?= $item["id"] ?>" item_id="<?= $item["id"] ?>"
                            parent_id="<?= $item["parent_id"] ?>">
                            <td style="color: #10085A;" width="40%">
        <?= $nbsp . $label ?>
                            </td>
                            <td width="15%" align="center">
                                <img style="<?= $cursor ?>" src="/widgets/images/<?= $item["open"] ? "checklist_true.jpg" : "checklist_flase.jpg"
        ?>" class="ckChildrenOpen ckChildrenOpenId<?= $item["id"] ?> trParentOpenId<?= $item["parent_id"] ?>" value_id="1" 
                                     item_id="<?= $item["id"] ?>" <?= $item["open"] ? "checked='true'" : "checked='false'"
        ?> border="0"/>
                            </td>
                            <td width="15%" align="center">
                                <img style="<?= $cursor ?>" src="/widgets/images/<?= $item["restricted"] ? "checklist_block.jpg" : "checklist_flase.jpg"
                             ?>" class="ckChildrenRestricted  ckChildrenRestrictedId<?= $item["id"] ?> trParentRestrictedId<?= $item["parent_id"] ?>" value_id="2" 
                                     item_id="<?= $item["id"] ?>" <?= $item["restricted"] ? "checked='true'" : "checked='false'"
        ?> border="0"/>
                            </td>
                            <td width="40%">
                                &nbsp;
                            </td>
                        </tr>
        <?php
    }
}
?>
            </table>
        </td>
    </tr>
</table>
