<style>
    .gradBox_table_inner td 
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>
<div style="height: 340px;overflow-x: hidden;overflow-y: auto;position: relative;">
    <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;">
        <tr style="background-color: #0070C0;color: white;" class="table_head">
            <th>
                Data & Time
                (C & T)
            </th>
            <th width="20%">
                Username
            </th>
            <th>
                Action
            </th>
        </tr>
        <?php
        if (count($this->Logs) > 0) {
            ?>
            <?php
            $tr = 1;
            foreach ($this->Logs as $item) {
                ?>
                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                    <td>
                        <?= $item['logdate'] ?>
                    </td>
                    <td>
                        <?= $item['username'] ?>
                    </td>
                    <td>
                        <?= $item['action'] ?>
                    </td>
                </tr>
                <?php
                ++$tr;
            }
            ?>



            <?php
        } else {
            ?>
            <tr>
                <td colspan="3">
                    Not records display.
                </td>
            </tr>
        <?php } ?>
    </table>
</div>
<table id="AcivitiLogUserTN" style="background-color: #6699CC;margin-bottom: 5px;" width="100%">
    <?php
    if (count($this->Logs) > 0) {
        ?>
        <tr class="paginator">
            <td colspan="3" class="tCenter" id="paginatorContainer">
                <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()) ?>
            </td>
        </tr>
        <script type="text/javascript">
            $(document).ready( function() {
                $("#toppaginatorContainer").html('<?= str_replace("\n", '', addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()), "'")) ?>');
            });
        </script>
    <?php } ?>
</table>

