<div class="popup_form_holder">
    <div><?=$this->formErrors($this->messages)?></div>
	<h1>Email assigned technician or log a call</h1>
    <form action="#" method="post" id="addContactForm" name="addContactForm">
        <input type="hidden" name="addContactForm[Company_ID]" value="<?= $this->Company_ID?>" />
        <input type="hidden" name="addContactForm[WorkOrder_ID]" value="<?= $this->WorkOrder_ID?>" />
        <input type="hidden" id="Created_By" name="addContactForm[Created_By]" value="<?= $this->Created_By?>" />
        <input type="hidden" id="fromEmail" name="fromEmail" value="<?= $this->fromEmail?>" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field">Type</td>
				<td>
                    <input onchange="changeType(this);" checked type="radio" name="addContactForm[Type]" id="Type1" value="email" />Email
                    <input onchange="changeType(this);" type="radio" name="addContactForm[Type]" id="Type2" value="phone" />Phone
                </td>
			</tr>
            <tr>
				<td class="label_field"><label id="labelForContact">Email</label></td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact" name="addContactForm[Contact]" value="<?=$this->email?>" /></td>
			</tr>
            <tr id="copyBox">
				<td class="label_field">Copy to Self</td>
                <td><input type="checkbox" id="Copy" name="Copy" value="1" /></td>
			</tr>
            <tr>
                <td class="label_field"><label id="labelForSubject">Subject</label></td>
				<td><input type="text" maxlength="255" class="input_text" id="Subject" name="addContactForm[Subject]" value="WIN #<?= $this->WorkOrder_ID ?>: " /></td>
			</tr>
            <tr>
				<td class="label_field"><label id="labelForMessage">Message</label></td>
                <td><textarea id="Message" name="addContactForm[Message]" cols="100" rows="10"></textarea></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;">
                    <input type="button" value="Submit" onclick="detailsWidget.addContact('<?= $this->Company_ID?>','<?= $this->WorkOrder_ID?>',<?=($this->isLB ? 'true' : 'false')?>);" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
function changeType(el){
    if(!el.checked) return true;
    if(el.value == 'email'){
        $('#copyBox').css('display','');
        $('#labelForContact').html('Email');
        $('#labelForContact').html('Email');
        $('#Contact').val('<?=$this->email?>');
    }
    if(el.value == 'phone'){
        $('#copyBox').css('display','none');
        $('#labelForContact').html('Contact Name');
        $('#labelForSubject').html('Reason');
        $('#Contact').val('<?=$this->techName?>');
    }
}
</script>