<?php
	$highlight = $this->highlight ? "color: #e00" : "";
	$count = count($this->wins);
	$wins = json_encode($this->wins);
	$eList = json_encode($this->eList);
?>
<div>
	<div>
		<div>Name this Bundle<span class="required">*</span>&nbsp;<input id="bundleName" name="bundleName" maxlength="30" style="width: 11.5em" value="<?=$this->escape($this->bundleName)?>"/></div>
		<div style="margin: 5px 0px;<?=$highlight?>">
			Note: <?php if ($count == 1):?>This Work Order will<?php else:?>These <?=count($this->wins)?> Work Orders are<?php endif?> not being assigned at this time.
		</div>
		<div style="margin: 5px 0px; <?=$highlight?>">Invite Technicians in the highlighted area to bid on this Bundle of Work Orders.</div>
		<div>
			<span style="padding-left: 0.35em">
				<input id="bundleBtn" class="link_button_sm" type="button" value="Bundle Only" onclick="techMapper.bundleOnlyClick()">
			</span>
			<span style="padding-left: 1.75em">
				<input id="bundleInviteRealBtn" class="link_button_sm" type="button" value="Bundle &amp; Invite" onclick="techMapper.bundleInviteClick()">
			</span>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#bundleName").data('wins', <?=$wins?>);
$("#bundleName").data('eList', <?=$eList?>);
</script>
