<?php
	$highlight = $this->highlight ? "color: #e00" : "";
	$count = count($this->wins);
	$wins = json_encode($this->wins);
?>
<div>
	<div>
		<div>Name this Bundle (optional)&nbsp;<input id="bundleName" name="bundleName" maxlength="30" style="width: 7.5em" value="<?=$this->escape($this->bundleName)?>"/></div>
		<?php foreach ($this->wosList as $msg){?>
		<br/>
		<div>You are assigning <?=$msg?></div>
		<?php }?>
		<br/>
		<div>
			<span style="padding-left: 0.35em">
				<input id="bundleCancelBtn" class="link_button_sm" type="button" value="Cancel" onclick="roll.hide()">
			</span>
			<span style="padding-left: 1.75em">
				<input id="bundleAssignBtn" class="link_button_sm" type="button" value="Assign" onclick="techMapper.massAssign(techMapper.massAssignCallback())">
			</span>
		</div>
	</div>
</div>
<script type="text/javascript">
$("#bundleName").data('wins', <?=$wins?>);
</script>
