<script type="text/javascript" src="/library/techCallStats_SAT.js"></script>
<script type="text/javascript" src="/library/jquery/jquery.bt.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $(".hoverText").bt({
                titleSelector: "attr('bt-xtitle')",
                fill: 'white',
                cssStyles: {color: 'black', fontWeight: 'bold', width: 'auto'},
                animate:true
        });
});
</script>
<div id="listView">
<?php
	echo ($this->resultsHtml);
?>
</div>

<div id="mapperView" style="display:none;">
	<div id="mapper">
		<div id="topNavLinks" style="border-bottom: 3px solid #4790D4;margin-top: 5px; padding-bottom: 5px;">
			<span id="mapWorkOrders">1. <a href="javascript:void(0);">Map Work Orders</a><img src="/widgets/images/dbl_triangle.gif" style="position: relative; top: 2px;"/></span>
			<span id="findMapTechs">2. <a href="javascript:void(0);">Find and Map Techs</a><img src="/widgets/images/dbl_triangle.gif" style="position: relative; top: 2px;"/></span>
			<span id="highlightArea">3. <a href="javascript:void(0);">Highlight an Area</a><img src="/widgets/images/dbl_triangle.gif" style="position: relative; top: 2px;"/></span>
			<span id="viewAssign" style="border-right: 5px solid #174065;margin-right: 5px;padding-right: 5px;">4. <a href="javascript:void(0);">View & Assign</a><span id="thickBorder"></span></span>
			<span id="mapLegend" style="border-right: 5px solid #174065;margin-right: 5px;padding-right: 5px;">Map Legend<span id="thickBorder"></span></span>
			<span id="clear">Clear</span>
		</div>
		<div id="bottomOptions" style="margin: 15px 0 15px 15px;">
			<span id="thisWeek">
				<img src="/widgets/images/downArrow.png" />
				This Week
				<span><input type="text" size="15" name="fromDate" /> to <input type="text" size="15" name="toDate" /></span>
			</span>
			<span id="allProjects" style="margin-left: 90px;">
				<img src="/widgets/images/downArrow.png" />
				All Projects
				<span></span>
			</span>
			<span id="publishedWorkOrders" style="margin-left: 90px;">
				<img src="/widgets/images/downArrow.png" />
				Published Work Orders
				<span></span>
			</span>
		</div>
	</div>
	<div id="googleMap">
	</div>
</div>