<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/client/do-customer-create/" onSubmit="return detailsWidget.validateCreateSubmit('customer');" method="post" id="CreateProjectForm" name="CreateForm" enctype="multipart/form-data">
        <input type="hidden" name="CreateForm[Company_ID]" value="<?= $this->Company_ID?>" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
             <tr>
				<td class="label_field"><span class="required">*</span>Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="CustomerName" name="CreateForm[Customer_Name]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="CreateForm[Contact_Name]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="CreateForm[Contact_Phone]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="CreateForm[Contact_Email]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>User Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="UserName" name="CreateForm[Username]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="CreateForm[Password]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Confirm Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="PasswordConf" name="CreateForm[PasswordConfirm]" value="" /></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>
