<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/client/do-customer-update/" onSubmit="return detailsWidget.validateUpdateSubmit('customer');" method="post" id="UpdateProjectForm" name="UpdateForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <input type="hidden" name="Customer" value="<?= $this->customer->customerId?>" />
			<input type="hidden" name="Active" value="1" />
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Customer_Name" name="UpdateForm[Customer_Name]" value="<?= $this->customer->customerName?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="UpdateForm[Contact_Name]" value="<?= $this->customer->contactName?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="UpdateForm[Contact_Phone]" value="<?= $this->customer->contactPhone?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="UpdateForm[Contact_Email]" value="<?= $this->customer->contactEmail?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>User Name</td>
				<td><?= $this->customer->login?></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="UpdateForm[Password]" value="<?= $this->customer->password?>" /></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;">
                    <input type="button" value="Cancel" onclick="window.location='customersView.php?v=<?=$this->customer->companyId?>'" />
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>
