<?php
    function sortClass( $field, $cl ) {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') return 'sort-asc';
        if ($cl->sortBy == $field && $cl->sortDir == 'desc') return 'sort-desc';
    }
    function makeSort( $field, $cl ) {
        return "var opt=detailsWidget.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';detailsWidget.setParams(opt); detailsWidget.show({tab:'list',params:opt});";
    }
?>
<table width="100%" class="gradBox_table_inner">
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
	<col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('Username', $this);?>"><span onclick="<?=makeSort('Username', $this);?>">User Name</span></th>
        <th class="sortable <?=sortClass('Customer_Name', $this);?>"><span onclick="<?=makeSort('Customer_Name', $this);?>">Customer Name</span></th>
        <th class="sortable <?=sortClass('Contact_Phone', $this);?>"><span onclick="<?=makeSort('Contact_Phone', $this);?>">Phone</span></th>
        <th class="sortable <?=sortClass('Contact_Email', $this);?>"><span onclick="<?=makeSort('Contact_Email', $this);?>">Email</span></th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>
<?php $tr=1; foreach( $this->paginator as $client ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <a class="ajaxLink" href="/clients/customersUpdate.php?id=<?=$client->UNID?>&v=<?=$this->Company_ID?>"><?=$client->Username?></a>
        </td>
        <td>
            <?=$client->Customer_Name?>
        </td>
        <td>
            <?=$client->Contact_Phone?>
        </td>
        <td>
            <a class="ajaxLink" href="mailto:<?=$client->Contact_Email?>"><?=$client->Contact_Email?></a>
        </td>
    </tr>

<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="6" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="6"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="6"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="6" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
