<?php if (!$this->ajax) { ?>
    <?php if (!$this->FormMenu) { ?>
        <div style="text-align: center;">My Inbox</div>
        <div style="border-bottom: 1px solid #F69630;height: 4px;margin-bottom: 4px;">&nbsp;</div>
    <?php } ?> 
    <style>
        ul.dropdown li a.linkMynotices,.linkMynotices{
            color: #6699CC;
            text-decoration: underline;
            padding: 0px;
            display: inline-table;
        }
        ul.dropdown li a.linkMynotices:hover,.linkMynotices:hover{
            color: #6699CC;
            padding: 0px ;
            font-weight: normal;
        }
        .closeicon
        {
            background: url('/widgets/images/popup/close.png') repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            float: right;
            height: 18px;
            width: 18px;
        }
        .closehovericon
        {
            background: url('/widgets/images/popup/closehover.png') repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            float: right;
            height: 18px;
            width: 18px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#divclosenotices").hover(function(){
                $("#divclosenotices").attr("class","closehovericon");
            },function(){
                $("#divclosenotices").attr("class","closeicon");
            });
            
            $("#divclosenotices").click(function(){
                _global.mainLinkNotices_blur();
            });
        })
    </script>
        <?
        if ($this->FormMenu)
        {
            ?>
            <!--13701--><div style="text-align:center;padding-top:5px;padding-right:5px;padding-bottom:7px">Inbox
                <div id="divclosenotices" class="closeicon"></div>
            </div>
            <?
        }
        ?>
    <div id="contentMynotices<?= $this->FormMenu ?>" style="overflow-y:auto;overflow-x: hidden;padding: 6px;height: 225px;font-size: 10px;">
        <table id="contentMynoticesTable0125" class="gradBox_table_inner" style="float:left;border-bottom:1px solid #F69630;border-left:1px solid #F69630;border-right:1px solid #F69630;width:100%">
            <tbody>
                <tr class="table_head">
                    <th>
                        Notice
                    </th>
                    <th>
                        WIN#
                    </th>
                    <th style="width: 15%;">
                        Client Work Order 
                    </th>
                    <th>
                        Technician
                    </th>
                    <?php if (!$this->FormMenu) { ?>
                    <th style="width:180px;">
                        Date & Time
                    </th>
                    <?php }else{ ?> 
                    <th style="width:100px;">
                        Date & Time
                    </th>
                    <?php } ?> 
                </tr>

            <?php } ?>   
            <?php
            $start = $this->pageNotices * 20 - 20;
            $end = $this->pageNotices * 20;
            if (!empty($this->Notices)) {
                $i = -1;
                $tr = 1;
                foreach ($this->Notices as $item) {
                    $i++;
                    if ($i < $start && !$this->FormMenu) {
                        continue;
                    }
                    if ($i >= $end && !$this->FormMenu) {
                        break;
                    }
                    $linkTech = "<a href='javascript:;' techid='" . $item["data"]["TechID"] . "' class='MyNoticesTechProfile linkMynotices'>" . $item["data"]["TechID"] . "</a>";
                    if(!empty($item["data"]["TechName"]) && $item["data"]["TechName"]!="" && $item["data"]["TechName"]!=" ")
                    {
                        $linkTechName = $item["data"]["TechName"]." (ID# <a href='javascript:;' techid='" . $item["data"]["TechID"] . "' class='MyNoticesTechProfile linkMynotices'>" . $item["data"]["TechID"] . "</a>)";
                    }
                    else
                    {
                        $linkTechName="";
                    }
                    $linkWo = "<a target='_blank' href='/clients/wosDetails.php?v=" . $item["data"]["Company_ID"] . "&id=" . $item["data"]["WinNum"] . "' class='MyNoticesWO linkMynotices'>" . $item["data"]["WinNum"] . "</a>";
                    $WoID = $item['data']["WoID"];
                    $linkBid = "<a href='javascript:;' win='" . $item["data"]["WinNum"] . "' class='MyNoticesBid linkMynotices'>Bid</a>";

                    $linkQandA = "<a href='javascript:;' win='" . $item["data"]["WinNum"] . "' class='MyNoticesQandA linkMynotices'>Q&A</a>";

                    $text = $item["message"];
                    $text = str_replace("{TECH_NAME}", $linkTechName, $text);
                    $text = str_replace("{TECH_ID}", $linkTech, $text);
                    $text = str_replace("{WIN_NUM}", $linkWo, $text);
                    $text = str_replace("{WO_ID}", $WoID, $text);
                    $text = str_replace("{BID}", $linkBid, $text);
                    $text = str_replace("{Q&A}", $linkQandA, $text);
                    $timestamp = $item["timestamp"];
                    if (!empty($timestamp)) {
                        $timeDate = date_format(new DateTime($timestamp), 'm/d/Y');
                        $timeTimes = date_format(new DateTime($timestamp), 'h:i A');
                        $timeTimes .= " CST";
                        $nowDate = date("m/d/Y");
                        if ($nowDate == $timeDate) {
                            $timestamp = $timeTimes;
                        } else {
                            $timestamp = $timeDate;
                            if (!$this->FormMenu) {
                                $timestamp .= " " . $timeTimes;
                            }
                        }
                    }

                    if ($this->FormMenu && $i == 9) {
                        break;
                    }
                    ?>
                    <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                        <td>
                            <?= $text ?>
                        </td>
                        <td>
                            <?= $linkWo ?>
                        </td>
                        <td>
                            <?= $WoID ?>
                        </td>
                        <td>
                            <?= $linkTechName ?>
                        </td>
                        <td>
                            <?= $timestamp ?>
                        </td>
                    </tr>
                    <?php
                    ++$tr;
                }
            } else {
                if ($this->FormMenu || !$this->ajax) {
                    echo "<tr><td colspan='5'>There are no Notifications in your Inbox.</td></tr>";
                }
                ?>
            <script>
                jQuery(window).ready(function(){
                    jQuery("#MyNoticesSeeMore").hide(); 
                });
            </script>
        <?php } ?>
        <?php if (!$this->ajax) { ?>
            </tbody>
        </table>
    </div>
    <div style="position: inherit;bottom: 0px;width: 100%;height: 40px;">
        <?php if (!$this->FormMenu) { ?>
            <div style="text-align: center;color: red;">&nbsp;</div>
        <?php } ?>
        <div style="border-bottom: 1px solid #F69630;height: 3px;">&nbsp;</div>
        <div>
            <?php if (!$this->FormMenu) { ?>
                <div style="float: left;padding: 5px;"><a class="linkMynotices" href="javascript:;" id="MyNoticesSeeMore" >See More</a></div>
            <?php } else { ?>
                <div style="float: left;padding: 5px;"><a class="linkMynotices" href="javascript:;" id="MyNoticesViewAllNotices" >View All Notices</a></div>
            <?php } ?>
            <div style="float: right;padding: 5px;"><a class="linkMynotices MyNoticesSettings" href="javascript:;"  >Inbox Settings</a></div> 
        </div>
    </div>
<?php } ?> 