<?php
$cursor = '';
if ($this->mode)
    $cursor = 'cursor: pointer;';

function myDashboardSortPartial($label, $name, $sortDefault, $sortDirDefault) {
    if (empty($sortDefault))
        $sortDefault = "";
    if (empty($sortDirDefault) && $sortDirDefault != 0)
        $sortDirDefault = "";
    ?>
    <tr>
        <td style="white-space:nowrap;"><?= $label ?></td><td><select class="mySettings_SortSelectSize" id="<?= $name ?>" name="<?= $name ?>" def="<?= $sortDefault ?>" /></td><td><select class="mySettings_SortSelectSizeDir" id="<?= $name ?>Dir" name="<?= $name ?>Dir" def="<?= $sortDirDefault ?>"/></td>
    </tr>
    <?php
}

function myDashboardProjectPartial($me, $pid, $prjInfo) {
    ?>
    <input id="MyDashboardProjectCheckbox<?= $pid ?>" name="MyDashboardProjectCheckbox<?= $pid ?>" class="MyDashboardProjectCheckbox" type="checkbox" value='<?= $pid ?>' checked='checked' />&nbsp;<span id='MyDashboardProjectName<?= $pid ?>'><a href="projectsView_new.php?v=<?= $prjInfo['Project_Company_ID'] ?>&tab=list&project_id=<?= $pid ?>" target="_blank"><?= $pid ?></a> - <?= $me->isPM && !empty($prjInfo['Project_Company_ID']) ? $prjInfo['Project_Company_ID'] . " - " : "" ?><span id="MyDashboardProjectNameText<?= $pid ?>"><?= htmlentities($prjInfo['Project_Name']) ?></span>
        <?php
    }

    function projectRestrictionPartial($me, $pid, $prjInfo, $allowOnlyMe, $userList) {
        ?>
        <input id="restrictProjectCheckbox<?= $pid ?>" name="restrictProjectCheckbox<?= $pid ?>" class="restrictProjectCheckbox" type="checkbox" value='<?= $pid ?>' checked='checked' />&nbsp;<span id='restrictProjectName<?= $pid ?>'><a href="projectsView_new.php?v=<?= $prjInfo['Project_Company_ID'] ?>&tab=list&project_id=<?= $pid ?>" target="_blank"><?= $pid ?></a> - <span id="restrictProjectNameText<?= $pid ?>"><?= htmlentities($prjInfo['Project_Name']) ?></span>
            <table class="trChildrenId1" width="100%" style="margin-left: 15px">
                <tr>
                    <td><input class="MyProjects_AllowOnlyMe" id="MyProjects_AllowOnlyMe<?= $pid ?>" name="MyProjects_AllowSetting<?= $pid ?>" type="radio" value="Me" <?= $allowOnlyMe ? "checked='checked'" : "" ?> />&nbsp;Only I can Create Work Orders under this Project</td>
                </tr>
                <tr>
                    <td><input class="MyProjects_AllowUsers" id="MyProjects_AllowUsers<?= $pid ?>" name="MyProjects_AllowSetting<?= $pid ?>" type="radio" value="Users" <?= !$allowOnlyMe ? "checked='checked'" : "" ?> />&nbsp;Designate the users allowed to Create Work Orders under this Project <?php if ($me->isPM): ?>(GPM users are never restricted from creating Work Orders)<?php endif; ?></td>
                </tr>
            </table>
            <table class="trChildrenId1" width="100%" style="margin-left: 15px">
                <tr id="restrictUserSection<?= $pid ?>" <?php
    if ($allowOnlyMe)
    {
            ?>style="display: none"<?php } ?>><td>
                        <table id="restrictUserList<?= $pid ?>" class="trChildrenId1" width="100%" style="margin-left: 15px">
                            <tr><td><input id="MyProjects_AllowUser<?= $pid ?>" name="MyProjects_AllowUser<?= $pid ?>" class="MyProjects_AllowUserCheckbox<?= $pid ?>" type="checkbox" value="<?= $me->UserName ?>" checked='checked' disabled='disabled'/>&nbsp;<?= $me->ContactName ?> (Me)</td></tr>
                            <?php
                            $uList = array();
                            foreach ($userList as $user):
                                $uList[] = $user['UserName'];
                                if ($user['UserName'] == $me->UserName)
                                    continue;
                                ?>
                                <tr><td>
                                        <?php
                                        userRestrictionPartial($me, $pid, $user);
                                        ?>
                                    </td></tr>
                            <?php endforeach; ?>
                        </table>
                        <table class="trChildrenId1" width="100%" style="margin-left: 15px">
                            <tr>
                                <td>
                                    <select class="restrictUserSelect" id="restrictUserSelect<?= $pid ?>" name="restrictUserSelect<?= $pid ?>" class="restrictUserSelect" <?php if ($pid != 0): ?>_company="<?= $prjInfo['Project_Company_ID'] ?>"<?php endif; ?>>
                                        <option title="Select Another User" value="">Select Another User</option>			
                                        <?php
                                        foreach ($me->usersAll->data as $user):
                                            if (!$user->AccountEnabled || $user->UserName == $me->UserName || in_array($user->UserName, $uList) || $user->isPM() ||
                                                    (!$me->isPM && $user->Company_ID != $me->company) || ($pid != 0 && $me->isPM && $user->Company_ID != $prjInfo['Project_Company_ID']))
                                                continue; // leave off users already allowed from user dropdown and only show users under project's company
                                            ?>
                                            <option _company="<?= $user->Company_ID ?>" title="<?= $user->ContactName ?> - <?= $user->UserName ?>" value="<?= $user->UserName ?>"><?= $user->UserName ?> - <?= $user->ContactName ?></option>
                                            <?php
                                        endforeach;
                                        ?>
                                    </select>									
                                </td>
                            </tr>
                        </table>
                    </td></tr>
            </table>
            <?php
        }

        function userRestrictionPartial($me, $pid, $user) {
            ?>
            <input id="MyProjects_AllowUser<?= $pid ?>" name="MyProjects_AllowUser<?= $pid ?>" class="MyProjects_AllowUserCheckbox<?= $pid ?>" type="checkbox" value="<?= $user['UserName'] ?>" checked='checked' />&nbsp;<span id='restrictUserName<?= $pid ?>'><?= $user['UserName'] ?> - <?= $user['ContactName'] ?>
                <?php
            }
            ?>
            <style type="text/css">
                .phText{
                    color: #555;
                }
                .mySettings_Indent {
                    margin-left: 15px
                }
                .mySettings_SortSelectSize {
                    width: 10em;
                }
                .mySettings_SortSelectSizeDir {
                    width: 7.5em;
                }
                .sectionDivider {
                    border-bottom:1px solid #F69630;
                    color: #10085A;
                }
                .form_tableV2 td {
                    padding: 0px 5px;
                    vertical-align: baseline;
                }
            </style>
            <script type="text/javascript">
                $(document).ready(function() {
                    var formatPhone = function() {
                        if (this.value == null || this.value == "") return;
                        validFormat = /^[(]?(\d{3})[)]?(?:\s|-|.)*(\d{3})[-\s.]*(\d{4})$/;
                        parts = this.value.match(validFormat);
                        if (parts == null) return;
                        this.value = "(" + parts[1] + ") " + parts[2] + "-" + parts[3];
                    }; 
                    $.map(['edit_ContactPhone1'], function( id ) {
                        $('#'+id).each(formatPhone).blur(formatPhone);
                    });		

                    $('.phText').focus(function(){ 
                        var phArr = ['Name','Phone Number','Email'];
                        if($.inArray($(this).val(),phArr) > -1)
                        {
                            $(this).val('').css("color","#000");
                        }
                    });
	  
                    $('.phText').blur(function(){
                        var isPhone = isPhone = $(this).attr("name").search("Phone") > -1 || $(this).attr("name").search("Number") > -1;
                        if($(this).val() == ''){
                            var defaultValue = '';
                            if($(this).attr("name").search("Name") > -1){
                                defaultValue = "Name";
                            }else if(isPhone){
                                defaultValue = "Phone Number";
                            }else if($(this).attr("name").search("Email") > -1){
                                defaultValue = "Email";
                            }
                            $(this).val(defaultValue).css("color", "#555");
                        } 

                        if(isPhone) {
                            $(this).each(formatPhone);
                        }
                    });	

                    $(".woCommSelect").click(function(){
                        if($(this).val() === "Restrict"){
                            $("#woCommunications").show();
                        }else{
                            $("#woCommunications").hide();
                        }
                    });	

                    $(".radioMyNoticesSettings").click(function(){
                        if($(this).val() === "Restrict"){
                            $("#myNoticeSettings").show();
                        }else{
                            $("#myNoticeSettings").hide();
                        }
                    });	

                    $(".radioMyNoticesSettings").click(function(){
                        if($(this).val() === "Restrict"){
                            $("#myNoticeSettings").show();
                        }else{
                            $("#myNoticeSettings").hide();
                        }
                    });	

                    $(".cmdCollspan").hover(
                    function(){
                        $(this).css("cursor","hand");
                    },
                    function(){
                        $(this).css("cursor", "pointer");
                    });		   
                });



                /*
            if($.browser.msie && parseInt($.browser.version,10) < 9){
                    $(".phText").bind("propertychange",function(e){
                            if(e.originalEvent.propertyName == "value"){
                                    alert("IE VAL: "+this.value);
                            }
                    });
            }else{
                    $(".phText").bind("input",function(){
                            alert("VAL: "+this.value);
                    });
            }
                 */


                function updateSettingsOption(){
                     pwErr = true;
                    if($('#edit_Password').val() != $('#oldpass').val())
                    {
                        pwErr = checkpasswordrule();
                    }
                    
                    myCommChange = false;
                    $('.phText').each(function(){
                        if($(this).val() != '' && $(this).val() != $(this).attr('defaultValue')){
                            myCommChange = true;
                        }
                    });
					if(pwErr != false){
	                    if(myCommChange == true){
	                        roll.autohide(false);
	                        var opt = {
	                            width       : 400,
	                            height      : '',
	                            title       : 'Update Options',
	                            context     : wd,
	                            position    : 'middle',
	                            body        : $('#settingsOptions').html()
	                        };
	                        roll.showNotAjax(null, null, opt);
	                    }else{

	                        $('#MySettingsForm').submit();
	                        roll.hide();
	                        
	                    }
					}else{
						return false;
					}
                }

                function saveMySettings(){
                    $('#MySettingsForm').submit();
                    roll.hide();
                }

                function cancelSettingsOption(){
                    window.location = "/clients/profile.php?v=<?= $this->company ?>&tabid=clientMySettings";
                }
                function checkpasswordrule()
                {
                    var username = $('#edit_UserName').html();
                    var password = $('#edit_Password').val();
                    var comfrimps = $('#edit_ConfirmPassword').val();
                    var namearr = $('#edit_ContactName').val().split(' ');

                    var fname = namearr[0];
                    var lname = namearr[namearr.length-1];
                    var err = _global.validPasword(username,password,comfrimps,fname,lname,'','client');
 
                    if(err['error']==1)
                    {
                        $('#trerr').css("display", "");
                        $('#errmsg').html(err['msg'][0]);
                        if(err['id'][0]==2)
                        {
                            $('#edit_ConfirmPassword').css('border','2px solid red');
                            $('#edit_Password').css('border','1px solid black');
                        }
                        else
                        {
                            $('#edit_Password').css('border','2px solid red');
                            $('#edit_ConfirmPassword').css('border','1px solid black');
                        }
                        return false;
                    }
                    else
                    {
                        $('#trerr').css("display", "none");
                        $('#Password').css('border','1px solid black');
                        $('#edit_ConfirmPassword').css('border','1px solid black');
                    }
                };
                $('#edit_Password').keyup(function() {
                    $('#edit_ConfirmPassword').val("");
                });

            </script>
            <table style='display: none'>
                <tr class="projectRestrictionPartial"><td><?php projectRestrictionPartial($this, 0, array("Project_Name" => 'template'), false, array()); ?></td></tr>
                <tr class="userRestrictionPartial"><td><?php userRestrictionPartial($this, 0, ''); ?></td></tr>
                <tr class="MyDashboard_ProjectPartial"><td><?php myDashboardProjectPartial($this, 0, ''); ?></td></tr>
            </table>
            <img src="/widgets/images/checklist_flase.jpg" style="display: none;" />
            <img src="/widgets/images/checklist_true.jpg" style="display: none;" />
            <img src="/widgets/images/checklist_block.jpg" style="display: none;" />
            <img src="/widgets/images/checklist_true_square.jpg" style="display: none;" />
            <img src="/widgets/images/checklist_block_suare.jpg" style="display: none;" />
            <form id='MySettingsForm' name='MySettingsForm' action='/widgets/dashboard/client/save-my-settings' method='post'>
                <input id="company" name="company" type='hidden' value="<?= $this->company ?>" />
                <input id="MyProjectControls" name="MyProjectControls" type='hidden' value="" />
                <input id="MyDashboardSettings" name="MyDashboardSettings" type='hidden' value="" />
                <input id="WorkOrderCommSetting" name="WorkOrderCommSetting" type='hidden' value="0" />
                <table class="form_tableV2" style="margin-top: 0px;" width="<?= empty($this->notice)?"100%" :'99%' ?>">

                    <tr>
                        <td valign="top" colspan="2" id="clientAccessSettingsValue" align="left">
                            <div style="<?= !empty($this->notice)?"display:none;":"" ?>">
                            <table width="100%">
                                <tr class="trChildren trChildrenId-1 trCurrentId0" item_id="0" parent_id="-1">
                                    <td>
                                        <a href="javascript:;" item_id="0" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" >
                                            <img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" />
                                            <strong>&nbsp;Contact and Log In Information</strong>
                                        </a>
                                    </td>
                                    <td colspan="2" align="right">
                                            <img class="updateButton" onclick="cancelSettingsOption();" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                                            <img class="updateButton" onclick="updateSettingsOption();" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                                    </td>
                                </tr>
                            </table>
                            <table width="96%" style="margin-left: 18px;">
                                <tr>
                                    <td class="sectionDivider" width="100"></td>
                                </tr>
                            </table>
                            <table class="trChildrenId0" width="40%" style="margin-left: 15px">
                                <?php
                                    $labels = array("Client ID", "Contact Name", "Primary Phone", "Secondary Phone", "User Name", "Password", "Confirm Password");
                                    $fields = array("ClientID", "ContactName", "ContactPhone1", "ContactPhone2", "UserName", "Password", "ConfirmPassword");
                                $readonly = array("UserName");
                                    foreach ($labels as $i => $label)
                                    {
                                        if ($fields[$i] == "Password")
                                        {
                                    ?>
                                            <tr id="trerr" style="display:none;">
                                                <td class="label_field"></td>
                                                <td><div id="errmsg" style="color:red; width:150px; line-height: 12px;"></div></td>
                                            </tr>
                                    <tr>
                                        <td width="40%" style="margincolor: #10085A; white-space:nowrap;"><?= $label ?></td>
                                        <td width="40%">
                                                    <input type="password" id="edit_<?= $fields[$i] ?>" name="<?= $fields[$i] ?>" <?= in_array($fields[$i], $readonly) ? "readonly='readonly'" : "" ?> value="<?= $this->escape($this->$fields[$i]) ?>" onchange="checkpasswordrule()" />
                                                    <input type="hidden" id="oldpass" value="<?= $this->escape($this->$fields[$i]) ?>">
                                                </td>
                                            </tr>
                                            <?
                                        } else if ($fields[$i] == "ConfirmPassword")
                                        {
                                            ?>
                                            <tr>
                                                <td width="40%" style="margincolor: #10085A; white-space:nowrap;"><?= $label ?></td>
                                                <td width="40%">
                                                    <input type="password" id="edit_<?= $fields[$i] ?>" <?= in_array($fields[$i], $readonly) ? "readonly='readonly'" : "" ?> value="<?= $this->escape($this->$fields[$i - 1]) ?>"  onchange="checkpasswordrule()"/>
                                                </td>
                                            </tr>
                                            <?
                                        } else
                                        {
                                            ?>
                                            <tr>
                                                <td width="40%" style="margincolor: #10085A; white-space:nowrap;"><?= $label ?></td>
                                                <td width="40%">
                                            <?php if ($i == 0 || $i == 4): ?>
                                                <span id="edit_<?= $fields[$i] ?>" name="<?= $fields[$i] ?>"><?= $this->escape($this->$fields[$i]) ?></span>
                                                        <?php
                                                    else:
                                                        if ($fields[$i] == "ConfirmPassword" || $fields[$i] == "Password")
                                                        {
                                                            ?>
                                                            <input type="password" id="edit_<?= $fields[$i] ?>" name="<?= $fields[$i] ?>" <?= in_array($fields[$i], $readonly) ? "readonly='readonly'" : "" ?> value="<?= $this->escape($this->$fields[$i]) ?>" />
                                                            <?
                                                        } else
                                                        {
                                                            ?>
                                                <input id="edit_<?= $fields[$i] ?>" name="<?= $fields[$i] ?>" <?= in_array($fields[$i], $readonly) ? "readonly='readonly'" : "" ?> value="<?= $this->escape($this->$fields[$i]) ?>" />
                                                            <?php
                                                        }
                                                    endif;
                                                    ?>
                                        </td>
                                    </tr>
                                    <?php
                                }
                                    }
                                ?>
                            </table>
                            </div>    
                            <?php // My Dashboard Settings    ?>
                            <div style="<?= !empty($this->notice)?"display:none;":"" ?>">
                            <table width="100%">
                                <tr class="trChildren trChildrenId-2 trCurrentId2" item_id="2" parent_id="-1">
                                    <td>
                                        <a href="javascript:;" item_id="2" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" ><img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" /><strong>&nbsp;My Dashboard Settings</strong></a>
                                    </td>
                                        <td colspan="2" align="right" valign="top">
                                            <img class="updateButton" onclick="cancelSettingsOption();" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                                            <img class="updateButton" onclick="updateSettingsOption();" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                                    </td>
                                </tr>
                            </table>
                            <table width="96%" style="margin-left: 18px;">
                                <tr>
                                    <td class="sectionDivider" width="100"></td>
                                </tr>
                            </table>			
                            <table class="trChildrenId2" width="100%" style="margin-left: 15px">
                                <tr><td><input id="MyDashboard_UseDefault" name="MyDashboard_UseDefault" type="radio" value="Default" <?= $this->MyDashboard_UseDefault ? "checked='checked'" : "" ?> />&nbsp;Use Default Dashboard Settings</td></tr>
                                <tr><td><input id="MyDashboard_UseCustom" name="MyDashboard_UseDefault" type="radio" value="Custom" <?= $this->MyDashboard_UseCustom ? "checked='checked'" : "" ?>/>&nbsp;Set Custom Dashboard Settings</td></tr>
                                <tr><td>
                                        <table id="MyDashboard_FilterBy" class="trChildrenId2 mySettings_Indent" width="100%" style="<?= !$this->MyDashboard_UseCustom ? "display: none" : "" ?>">
                                            <tr><td>
                                                    Filter Work Orders Viewed
                                                    <table class="trChildrenId2" width="100%" style="margin-left: 15px">
                                                        <tr><td><input id="MyDashboard_FilterByDefault" name="MyDashboard_FilterBy" type="radio" value="Default" <?= $this->MyDashboard_FilterByDefault ? "checked='checked'" : "" ?> />&nbsp;Use Default Filters</td></tr>
                                                        <tr><td><input id="MyDashboard_FilterByProject" name="MyDashboard_FilterBy" type="radio" value="Project" <?= $this->MyDashboard_FilterByProject ? "checked='checked'" : "" ?> />&nbsp;Filter by Project
                                                                <table id="MyDashboard_FilterByProjectSection" style="<?= !$this->MyDashboard_FilterByProject ? "display: none" : "" ?>" class="trChildrenId2 mySettings_Indent" width="100%">
                                                                    <?php if ($this->Admin == 1): ?>
                                                                        <tr><td><input id="MyDashboard_Project_UseDefault" name="MyDashboard_Project_UseDefault" type="radio" value="Default" <?= $this->MyDashboard_Project_UseDefault ? "checked='checked'" : "" ?> />&nbsp;Display Work Orders from My Projects Only</td></tr>
                                                                        <?php endif; ?>
                                                                    <tr><td>
                                                                            <input id="MyDashboard_Project_UseCustom" name="MyDashboard_Project_UseDefault" type="radio" value="Custom" <?= $this->MyDashboard_Project_UseCustom ? "checked='checked'" : "" ?> />&nbsp;Display Work Orders from selected Projects (sets Dashboard filters)
                                                                            <table id="MyDashboard_FilterByProjectList" class="trChildrenId2" width="100%" style="margin-left: 15px">
                                                                                <?php
                                                                                $myDashboardProjectList = array();
                                                                                if ($this->MyDashboard_Project_UseCustom): // loop through project restrictions
                                                                                    ?>
                                                                                    <?php
                                                                                    foreach ($this->MyDashboard_FilterByProjectList as $pid => $prjInfo):
                                                                                        $myDashboardProjectList[] = $pid;
                                                                                        ?>
                                                                                        <tr>
                                                                                            <td>
                                                                                                    <?= myDashboardProjectPartial($this, $pid, $prjInfo); ?>
                                                                                            </td>
                                                                                        </tr>
                                                                                    <?php endforeach; ?>
                                                                                <?php endif; // loop through project restrictions
                                                                                ?>
                                                                            </table>
                                                                            <table id="MyDashboard_FilterByProjectTr" <?= !$this->MyDashboard_Project_UseCustom ? "style='display: none'" : "" ?> class="trChildrenId2" width="100%" style="margin-left: 15px">
                                                                                <tr><td>
                                                                                        <select id="MyDashboard_FilterByProjectSelect" name="MyDashboard_FilterByProjectSelect">
                                                                                            <option title="Select Another Project" value="">Select Another Project</option>			
                                                                                            <?php
                                                                                            foreach ($this->projects->data as $prj):
                                                                                                if ($prj->Active && !in_array($prj->Project_ID, $myDashboardProjectList)):
                                                                                                    ?>
                                                                                                    <option title="<?= $prj->Project_Name ?>" _company="<?= $prj->Project_Company_ID ?>" value="<?= $prj->Project_ID ?>"><?= $this->isPM ? $prj->Project_Company_ID . " - " : "" ?><?= $prj->Project_Name ?></option>
                                                                                                    <?php
                                                                                                endif;
                                                                                            endforeach;
                                                                                            ?>
                                                                                        </select>
                                                                                    </td></tr>
                                                                            </table>
                                                                        </td></tr>			
                                                                </table>
                                                            </td></tr>
                                                        <tr><td>
                                                                <input id="MyDashboard_FilterByWorkOrder" name="MyDashboard_FilterBy" type="radio" value="Work Order" <?= $this->MyDashboard_FilterByWorkOrder ? "checked='checked'" : "" ?>/>&nbsp;Filter by Work Order
                                                                <table id="MyDashboard_FilterByWorkOrderSection" class="trChildrenId2 mySettings_Indent" width="100%" <?= !$this->MyDashboard_FilterByWorkOrder ? "style='display: none'" : "" ?>>
                                                                    <tr><td><input id="MyDashboard_FilterByWorkOrder_Owned" name="MyDashboard_FilterByWorkOrder_Owned" type="checkbox" value="<?= Core_DashboardSettings_WorkOrder::FILTER_OWNED ?>" <?= Core_DashboardSettings_WorkOrder::isFilterActive($this->MyDashboard_FilterByWorkOrder, Core_DashboardSettings_WorkOrder::FILTER_OWNED) ? "checked='checked'" : "" ?> />&nbsp;See Work Orders I Own</td></tr>
                                                                    <tr><td><input id="MyDashboard_FilterByWorkOrder_Created" name="MyDashboard_FilterByWorkOrder_Created" type="checkbox" value="<?= Core_DashboardSettings_WorkOrder::FILTER_CREATED ?>" <?= Core_DashboardSettings_WorkOrder::isFilterActive($this->MyDashboard_FilterByWorkOrder, Core_DashboardSettings_WorkOrder::FILTER_CREATED) ? "checked='checked'" : "" ?> />&nbsp;See only Work Orders that I Created</td></tr>
                                                                    <tr><td><input id="MyDashboard_FilterByWorkOrder_Published" name="MyDashboard_FilterByWorkOrder_Published" type="checkbox" value="<?= Core_DashboardSettings_WorkOrder::FILTER_PUBLISHED ?>" <?= Core_DashboardSettings_WorkOrder::isFilterActive($this->MyDashboard_FilterByWorkOrder, Core_DashboardSettings_WorkOrder::FILTER_PUBLISHED) ? "checked='checked'" : "" ?> />&nbsp;See only Work Orders that I Published</td></tr>
                                                                    <tr><td><input id="MyDashboard_FilterByWorkOrder_Assigned" name="MyDashboard_FilterByWorkOrder_Assigned" type="checkbox" value="<?= Core_DashboardSettings_WorkOrder::FILTER_ASSIGNED ?>" <?= Core_DashboardSettings_WorkOrder::isFilterActive($this->MyDashboard_FilterByWorkOrder, Core_DashboardSettings_WorkOrder::FILTER_ASSIGNED) ? "checked='checked'" : "" ?> />&nbsp;See only Work Orders that I Assigned</td></tr>
                                                                    <tr><td><input id="MyDashboard_FilterByWorkOrder_Approved" name="MyDashboard_FilterByWorkOrder_Approved" type="checkbox" value="<?= Core_DashboardSettings_WorkOrder::FILTER_APPROVED ?>" <?= Core_DashboardSettings_WorkOrder::isFilterActive($this->MyDashboard_FilterByWorkOrder, Core_DashboardSettings_WorkOrder::FILTER_APPROVED) ? "checked='checked'" : "" ?> />&nbsp;See only Work Orders that I Approved</td></tr>
                                                                </table>
                                                            </td></tr>
                                                    </table>							
                                            <tr><td>
                                                    Sort Work Orders Viewed
                                                    <table class="trChildrenId2 mySettings_Indent" width="100%">
                                                        <tr><td><input id="MyDashboard_Sort_Default" name="MyDashboard_Sort" type="radio" value="<?= Core_DashboardSettings::SORT_DEFAULT ?>" <?= $this->MyDashboard_Sort == Core_DashboardSettings::SORT_DEFAULT ? "checked='checked'" : "" ?> />&nbsp;Use Default Sort</td></tr>
                                                        <tr><td><input id="MyDashboard_Sort_Recent" name="MyDashboard_Sort" type="radio" value="<?= Core_DashboardSettings::SORT_RECENT ?>" <?= $this->MyDashboard_Sort == Core_DashboardSettings::SORT_RECENT ? "checked='checked'" : "" ?> />&nbsp;Hold My Most Recent Sort</td></tr>
                                                        <tr><td><input id="MyDashboard_Sort_Default_My" name="MyDashboard_Sort" type="radio" value="<?= Core_DashboardSettings::SORT_DEFAULT_MY ?>" <?= $this->MyDashboard_Sort == Core_DashboardSettings::SORT_DEFAULT_MY ? "checked='checked'" : "" ?> />&nbsp;Set My Own Default Sorts
                                                                <table id="MyDashboard_Sort_Default_My_Section" <?= $this->MyDashboard_Sort == Core_DashboardSettings::SORT_DEFAULT_MY ? "" : "style='display:none;'" ?> class="trChildrenId2 mySettings_Indent" width="50%">
                                                                    <?= myDashboardSortPartial("Created Tab", "createdSort", $this->MyDashboard_Sort_CreatedSort, $this->MyDashboard_Sort_CreatedSortDir); ?>
                                                                    <!--592-->
                                                                    <?= myDashboardSortPartial("Today&rsquo;s Work", "todaysworkSort", $this->MyDashboard_Sort_TodayworkSort, $this->MyDashboard_Sort_TodayworkSortDir); ?>
                                                                    <!--end 592-->
                                                                    <?= myDashboardSortPartial("Published Tab", "publishedSort", $this->MyDashboard_Sort_PublishedSort, $this->MyDashboard_Sort_PublishedSortDir); ?>
                                                                    <?= myDashboardSortPartial("Assigned Tab", "assignedSort", $this->MyDashboard_Sort_AssignedSort, $this->MyDashboard_Sort_AssignedSortDir); ?>
                                                                    <?= myDashboardSortPartial("Work Done Tab", "workDoneSort", $this->MyDashboard_Sort_WorkDoneSort, $this->MyDashboard_Sort_WorkDoneSortDir); ?>
                                                                    <?= myDashboardSortPartial("Incomplete Tab", "incompleteSort", $this->MyDashboard_Sort_IncompleteSort, $this->MyDashboard_Sort_IncompleteSortDir); ?>
                                                                    <?= myDashboardSortPartial("Completed Tab", "completedSort", $this->MyDashboard_Sort_CompletedSort, $this->MyDashboard_Sort_CompletedSortDir); ?>
                                                                    <?= myDashboardSortPartial("All Tab", "allSort", $this->MyDashboard_Sort_AllSort, $this->MyDashboard_Sort_AllSortDir); ?>
                                                                        <?= myDashboardSortPartial("Deactivated Tab", "deactivatedSort", $this->MyDashboard_Sort_DeactivatedSort, $this->MyDashboard_Sort_DeactivatedSortDir); ?>
                                                                </table>
                                                            </td></tr>
                                                    </table>
                                                </td></tr>
                                            <tr><td>
                                                    Full / Lite Dashboard View
                                                    <table class="trChildrenId2 mySettings_Indent" width="100%">
                                                        <tr><td><input id="MyDashboard_View_Full" name="MyDashboard_View" type="radio" value="<?= Core_DashboardSettings::VIEW_FULL ?>" <?= $this->MyDashboard_View == Core_DashboardSettings::VIEW_FULL ? "checked='checked'" : "" ?> />&nbsp;Full (Displays more Information on the Dashboard)</td></tr>
                                                        <tr><td><input id="MyDashboard_Sort_Recent" name="MyDashboard_View" type="radio" value="<?= Core_DashboardSettings::VIEW_LITE ?>" <?= $this->MyDashboard_View == Core_DashboardSettings::VIEW_LITE ? "checked='checked'" : "" ?> />&nbsp;Lite (Displays less  Information on the Dashboard)</td></tr>
                                                    </table>
                                                </td></tr>
                                        </table>
                                    </td></tr>
                            </table>
                            </div>
                            <?php // end My Dashboard Settings    ?>
                            <div style="<?= !empty($this->notice)?"display:none;":"" ?>">
                                <?php if ($this->Admin == 1): ?>
                                <table class="MyProjects_CreateWO_SectionHeader" width="100%">
                                    <tr class="trChildren trChildrenId-1 trCurrentId1" item_id="1" parent_id="-1">
                                        <td>
                                            <a href="javascript:;" item_id="1" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" ><img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" /><strong>&nbsp;My Project Controls </strong></a>
                                        </td>
                                            <td colspan="2" align="right" valign="top">
                                                <img class="updateButton" onclick="cancelSettingsOption();" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                                                <img class="updateButton" onclick="updateSettingsOption();" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                                        </td>
                                    </tr>
                                </table>
                                <table class="MyProjects_CreateWO_SectionHeader" width="96%" style="margin-left: 18px;">
                                    <tr>
                                        <td class="sectionDivider" width="100"></td>
                                    </tr>
                                </table>			
                                <table id="MyProjects_CreateWO_Section" class="trChildrenId1" width="100%" style="margin-left: 15px">
                                    <tr><td><input id="MyProjects_CreateWO_AllowAll" name="MyProjects_AllowAll" type="radio" value="All" <?= $this->MyProjects_AllowAll ? "checked='checked'" : "" ?> />&nbsp;Allow all <?= $this->company ?> company users to create Work Orders for Projects I control</td></tr>
                                    <tr><td><input id="MyProjects_CreateWO_Restrict" name="MyProjects_AllowAll" type="radio" value="Restrict" <?= !$this->MyProjects_AllowAll ? "checked='checked'" : "" ?>/>&nbsp;Restrict Work Order Creation for Projects I control to designated users <a id="FAQMyProjectsCreate" href="javascript:void(0)"><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a></td></tr>
                                    <tr><td>
                                            <table id="restrictProjectList" class="trChildrenId1" width="100%" style="margin-left: 15px">
                                                <?php
                                                $projectList = array();
                                                if (!$this->MyProjects_AllowAll): // loop through project restrictions
                                                    ?>
                                                    <?php
                                                    foreach ($this->MyProjects_AllowedUsers as $pid => $prjInfo):
                                                        $allowOnlyMe = false;
                                                        $userList = $prjInfo;
                                                        $projectList[] = $pid;
                                                        unset($userList['Project_Company_ID']);
                                                        unset($userList['Project_Name']);
                                                        if (count($userList) == 1 && $userList[0]['UserName'] == $this->UserName)
                                                        // only I can create work orders
                                                            $allowOnlyMe = true;
                                                        ?>
                                                        <tr>
                                                            <td>
                                                                    <?= projectRestrictionPartial($this, $pid, $prjInfo, $allowOnlyMe, $userList); ?>
                                                            </td>
                                                        </tr>
                                                    <?php endforeach; ?>
                                                    <?php endif; // loop through project restrictions   ?>
                                        </td></tr>
                                </table>
                            </td></tr>
                        <tr id="restrictProjectTr" <?= $this->MyProjects_AllowAll ? "style='display: none'" : "" ?>><td>
                                <select id="restrictProjectSelect" name="restrictProjectSelect">
                                    <option title="Select Another Project" value="">Select Another Project</option>			
                                    <?php
                                    foreach ($this->projects->data as $prj):
                                        if ($prj->Active && ($prj->Owner == $this->UserName || (empty($prj->Owner) && $prj->CreatedBy == $this->UserName)) && !in_array($prj->Project_ID, $projectList)):
                                            ?>
                                            <option title="<?= $prj->Project_Name ?>" value="<?= $prj->Project_ID ?>" _company="<?= $prj->Project_Company_ID ?>"><?= $prj->Project_Name ?></option>
                                            <?php
                                        endif;
                                    endforeach;
                                    ?>
                                </select>
                            </td></tr>
                    </table>
                            </div>
                <?php endif; // My Project Controls  ?>
                <?php //My Notices Settings     ?>
                <table width="100%">
                    <tr class="trChildren trChildrenId-4 trCurrentId4" item_id="4" parent_id="-1">
                        <td>
                            <a href="javascript:;" item_id="4" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" ><img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" /><strong>&nbsp;My Inbox Settings</strong></a>
                        </td>
                        <td colspan="2" align="right" valign="top">
                            <img class="updateButton" onclick="cancelSettingsOption();" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                            <img class="updateButton" onclick="updateSettingsOption();" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                        </td>
                    </tr>
                </table>
                <table width="96%" style="margin-left: 18px;">
                    <tr>
                        <td class="sectionDivider" width="100"></td>
                    </tr>
                </table>	
                <table class="trChildrenId4" width="100%" style="margin-left: 15px">
                    <tr>
                        <td>
                            <input id="AllowAll" class="radioMyNoticesSettings" name="MyNotices_Select" type="radio" value="All" <?= empty($this->seeNoticeFors) ? "checked='checked'" : "" ?> />&nbsp;See Notices for Work Orders I Own Only
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="Restrict" class="radioMyNoticesSettings" name="MyNotices_Select" type="radio" value="Restrict" <?= !empty($this->seeNoticeFors) ? "checked='checked'" : "" ?>/>&nbsp;See Notices for Selected Projects
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 15px;">
                            <div id="myNoticeSettings" <?= !empty($this->seeNoticeFors) ? "style='display:block;margin-left: 15px;'" : "style='display:none;margin-left: 15px;'" ?>>
                                <table id="MyNotices" class="trChildrenId3" width="660">
                                    <?php
                                    if (!empty($this->noticeProjectList)) {
                                        foreach ($this->noticeProjectList as $item) {
                                            ?>
                                            <tr>
                                                <td style='padding-left:0px;'>
                                                    <input type='checkbox' value='<?= $item["project_id"] ?>' checked='true' name='MyNotices[]' />
                                                    &nbsp;<a target='_blank' href='projectsView_new.php?v=FLS&amp;tab=list&amp;project_id=<?= $item["project_id"] ?>'>
                                                        <?= $item["project_id"] ?></a>
                                                    &nbsp;-&nbsp;<?= $item["Project_Name"] ?>
                                                </td>
                                            </tr>
                                        <?php
                                        }
                                    }
                                    ?>
                                </table>
                                <div style="height: 5px;">&nbsp;</div>
<?php 
$isDisplayedCbxMyNotices = false;
foreach ($this->projects->data as $prj){
                                        $notArray = true;
                                        if (!empty($this->noticeProjectList)) {
                                            foreach ($this->noticeProjectList as $item) {
                                                if($prj->Project_ID == $item["project_id"]){
                                                    $notArray =false;
                                                    break;
                                                }
                                            }
                                        }
    if ($prj->Active && $notArray){
        $isDisplayedCbxMyNotices=true;
    }
}

?>                                
                                <div id="divmyNotice" <?= !$isDisplayedCbxMyNotices ? "style='display: none'" : "" ?> >                
                                <select id="cbxMyNotices">
                                    <option value="">Select a Project</option>
                                    <?php
                                    foreach ($this->projects->data as $prj):
                                        $notArray = true;
                                        if (!empty($this->noticeProjectList)) {
                                            foreach ($this->noticeProjectList as $item) {
                                                if($prj->Project_ID == $item["project_id"]){
                                                    $notArray =false;
                                                    break;
                                                }
                                            }
                                        }
                                       // 31695
                                        if ($prj->Active && $notArray):                                       
                                            ?>
                                            <option title="<?= $prj->Project_Name ?>" value="<?= $prj->Project_ID ?>" _company="<?= $prj->Project_Company_ID ?>"><?= $prj->Project_Name ?></option>
                                            <?php
                                        endif;
                                    endforeach;
                                    ?>
                                </select>
                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <?php //end My Notices Settings       ?>
                <div style="<?= !empty($this->notice)?"display:none;":"" ?>">
                    <?php //if ($this->Admin == 1):         ?>
                <table width="100%">
                    <tr class="trChildren trChildrenId-3 trCurrentId3" item_id="3" parent_id="-1">
                        <td>
                            <a href="javascript:;" item_id="3" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" ><img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" /><strong>&nbsp;My Work Order Communications</strong></a>
                        </td>
                            <td colspan="2" align="right" valign="top">
                                <img class="updateButton" onclick="cancelSettingsOption();" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                                <img class="updateButton" onclick="updateSettingsOption();" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                        </td>
                    </tr>
                </table>
                <table width="96%" style="margin-left: 18px;">
                    <tr>
                        <td class="sectionDivider" width="100"></td>
                    </tr>
                </table>	
                <table class="trChildrenId3" width="100%" style="margin-left: 15px">
                    <tr><td><input id="AllowAll" class="woCommSelect" name="MyWOCommunications_Select" type="radio" value="All" <?= empty($this->futureInfo) ? "checked='checked'" : "" ?> />&nbsp;Use Project Default Settings</td></tr>
                    <tr><td><input id="Restrict" class="woCommSelect" name="MyWOCommunications_Select" type="radio" value="Restrict" <?= !empty($this->futureInfo) ? "checked='checked'" : "" ?>/>&nbsp;Customize My Communication Settings (Substitutes my contact information if enabled in the Project)</td></tr>
                    <tr><td>
                            <div id="woCommunications" <?= !empty($this->futureInfo) ? "style='display:block;'" : "style='display:none;'" ?>>
                                <table  class="trChildrenId3" width="660" style='margin-left: 15px;'>
                                    <colgroup>
                                        <col style="width: 175px;">
                                        <col span="3" width="*" style="margin-left: 15px;">
                                    </colgroup>
                                    <tr><td>Work Order Contacts</td></tr>
                                    <tr>
                                        <td style="padding-left: 30px;">Project Manager</td>
                                        <td><input type="text" size="20" name="ProjectManagerName" class='phText'  <?= !$this->futureInfo['ProjectManagerName'] ? "value='Name'" : "value='" . $this->futureInfo['ProjectManagerName'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ProjectManagerPhone" class='phText' <?= !$this->futureInfo['ProjectManagerPhone'] ? "value='Phone Number' " : "value='" . $this->futureInfo['ProjectManagerPhone'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ProjectManagerEmail" class='phText' <?= !$this->futureInfo['ProjectManagerEmail'] ? "value='Email'" : "value='" . $this->futureInfo['ProjectManagerEmail'] . "' style='color: #000;'"; ?>  /></td>
                                    </tr>

                                    <tr style="margin-left: 15px;">
                                        <td style="padding-left: 30px;">ACS Notification POC</td> 
                                        <td><input type="text" size="20" name="ACSNotifiPOC" class='phText' <?= !$this->futureInfo['ACSNotifiPOC'] ? "value='Name'" : "value='" . $this->futureInfo['ACSNotifiPOC'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ACSNotifiPOC_Phone" class='phText' <?= !$this->futureInfo['ACSNotifiPOC_Phone'] ? "value='Phone Number'" : "value='" . $this->futureInfo['ACSNotifiPOC_Phone'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ACSNotifiPOC_Email" class='phText' <?= !$this->futureInfo['ACSNotifiPOC_Email'] ? "value='Email'" : "value='" . $this->futureInfo['ACSNotifiPOC_Email'] . "' style='color: #000;'"; ?> /></td>
                                    </tr>
									
                                    <tr style="margin-left: 15px;">
                                        <td style="padding-left: 30px;">Resource Coordinator</td> 
                                        <td><input type="text" size="20" name="ResourceCoordinatorName" class='phText' <?= !$this->futureInfo['ResourceCoordinatorName'] ? "value='Name'" : "value='" . $this->futureInfo['ResourceCoordinatorName'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ResourceCoordinatorPhone" class='phText' <?= !$this->futureInfo['ResourceCoordinatorPhone'] ? "value='Phone Number'" : "value='" . $this->futureInfo['ResourceCoordinatorPhone'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="ResourceCoordinatorEmail" class='phText' <?= !$this->futureInfo['ResourceCoordinatorEmail'] ? "value='Email'" : "value='" . $this->futureInfo['ResourceCoordinatorEmail'] . "' style='color: #000;'"; ?> /></td>
                                    </tr>

                                    <tr style="margin-left: 15px;">
                                        <td style="padding-left: 30px;">Emergency Contact</td>
                                        <td><input type="text" size="20" name="EmergencyName" class='phText' <?= !$this->futureInfo['EmergencyName'] ? "value='Name'" : "value='" . $this->futureInfo['EmergencyName'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="EmergencyPhone" class='phText' <?= !$this->futureInfo['EmergencyPhone'] ? "value='Phone Number'" : "value='" . $this->futureInfo['EmergencyPhone'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="EmergencyEmail" class='phText' <?= !$this->futureInfo['EmergencyEmail'] ? "value='Email' " : "value='" . $this->futureInfo['EmergencyEmail'] . "' style='color: #000;'"; ?> /></td>
                                    </tr>

                                    <tr style="margin-left: 15px;">
                                        <td style="padding-left: 30px;">Help Desk</td>
                                        <td><input type="text" size="20" name="TechnicalSupportName" class='phText' <?= !$this->futureInfo['TechnicalSupportName'] ? "value='Name' " : "value='" . $this->futureInfo['TechnicalSupportName'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="TechnicalSupportPhone" class='phText' <?= !$this->futureInfo['TechnicalSupportPhone'] ? "value='Phone Number' " : "value='" . $this->futureInfo['TechnicalSupportPhone'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="TechnicalSupportEmail" class='phText' <?= !$this->futureInfo['TechnicalSupportEmail'] ? "value='Email' " : "value='" . $this->futureInfo['TechnicalSupportEmail'] . "' style='color: #000;'"; ?> /></td>
                                    </tr>
                                    <tr style="margin-left: 15px;">
                                        <td style="padding-left: 30px;">Check In / Check Out</td>
                                        <td><input type="text" size="20" name="CheckInOutName" class='phText' <?= !$this->futureInfo['CheckInOutName'] ? "value='Name' " : "value='" . $this->futureInfo['CheckInOutName'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="CheckInOutNumber" class='phText' <?= !$this->futureInfo['CheckInOutNumber'] ? "value='Phone Number' " : "value='" . $this->futureInfo['CheckInOutNumber'] . "' style='color: #000;'"; ?> /></td>
                                        <td><input type="text" size="20" name="CheckInOutEmail" class='phText' <?= !$this->futureInfo['CheckInOutEmail'] ? "value='Email' " : "value='" . $this->futureInfo['CheckInOutEmail'] . "' style='color: #000;'"; ?> /></td>
                                    </tr>

                                    <tr><td>Auto-Emails</td></tr>
                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send System-Generated Emails TO:</td>
                                        <td><input type="text" size=20" name="SystemGeneratedEmailTo" class='phText' <?= !$this->futureInfo['SystemGeneratedEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['SystemGeneratedEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send System-Generated Emails FROM:</td>
                                        <td><input type="text" size="20" name="SystemGeneratedEmailFrom" class='phText'  <?= !$this->futureInfo['SystemGeneratedEmailFrom'] ? "value='Email'" : "value='" . $this->futureInfo['SystemGeneratedEmailFrom'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Work Available Notifications to Techs FROM:</td>
                                        <td><input type="text" size="20" name="WorkAvailableEmailFrom" class='phText'  <?= !$this->futureInfo['WorkAvailableEmailFrom'] ? "value='Email'" : "value='" . $this->futureInfo['WorkAvailableEmailFrom'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Bid Notifications TO:</td>
                                        <td><input type="text" size="20" name="BidNotificationEmailTo" class='phText'  <?= !$this->futureInfo['BidNotificationEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['BidNotificationEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Push2Tech Notifications TO:</td>
                                        <td><input type="text" size="20" name="P2TNotificationEmailTo" class='phText'  <?= !$this->futureInfo['P2TNotificationEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['P2TNotificationEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>

                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Work Order Assigned Notifications TO:</td>
                                        <td><input type="text" size="20" name="WorkAssignedEmailTo" class='phText' <?= !$this->futureInfo['WorkAssignedEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['WorkAssignedEmailTo'] . "' style='color: #000;' "; ?>  /></td>
                                    </tr>
                                    <!--13763-->

                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Tech Accepted Work Order Notifications TO:</td>
                                        <td><input type="text" size="20" name="WorkAcceptedByTechEmailTo" class='phText' <?= !$this->futureInfo['WorkAcceptedByTechEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['WorkAcceptedByTechEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                     <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Tech Confirmed Work Order Notifications TO:</td>
                                        <td><input type="text" size="20" name="WorkConfirmedByTechEmailTo" class='phText' <?= !$this->futureInfo['WorkConfirmedByTechEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['WorkConfirmedByTechEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                     <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Tech Checked IN Notifications TO:</td>
                                        <td><input type="text" size="20" name="TechCheckedInEmailTo" class='phText' <?= !$this->futureInfo['TechCheckedInEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['TechCheckedInEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                     <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Tech Checked OUT Notifications TO:</td>
                                        <td><input type="text" size="20" name="TechCheckedOutEmailTo" class='phText' <?= !$this->futureInfo['TechCheckedOutEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['TechCheckedOutEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                    
                                    <!---13763-->
                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Work Done Notifications TO:</td>
                                        <td><input type="text" size="20" name="WorkDoneEmailTo" class='phText' <?= !$this->futureInfo['WorkDoneEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['WorkDoneEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 30px;" colspan="2">Send Tech Q&A Message Notifications TO:</td>
                                        <td><input type="text" size="20" name="TechQAMessageEmailTo" class='phText' <?= !$this->futureInfo['TechQAMessageEmailTo'] ? "value='Email'" : "value='" . $this->futureInfo['TechQAMessageEmailTo'] . "' style='color: #000;' "; ?> /></td>
                                    </tr>
                                </table>

                            </div>
                        </td></tr>
                </table>
                </div>    
                <?php //endif;         ?>
                </td>
                </tr>
                </table>
            </form>

            <div style="display:none;">
                <div id="settingsOptions">
                    <div id="optionBox" style="margin: 0 auto; text-align: center; width: 90%;">
                        <div id="optionMessage" style="margin: 0px 0 20px !important; font-size: 15px; font-weight: bold;">How would you like to apply these changes?</div>
                        <div><input type="button" value="All Work Orders" onClick="$('#WorkOrderCommSetting').val('1');saveMySettings();" class="link_button"/></div>
                        <div><input type="button" value="Unassigned and Future Work Orders" onClick="$('#WorkOrderCommSetting').val('2');saveMySettings();"  class="link_button wide_button220"/></div>
                        <div><input type="button" value="Future Work Orders Only" onClick="$('#WorkOrderCommSetting').val('3');saveMySettings();" class="link_button wide_button160"/></div>
                        <div><input type="button" value="Cancel" onClick="roll.hide();" class="link_button_popup"/></div>
                    </div>
                </div>
            </div>
            <script>
                jQuery(window).ready(function(){
                   _profile.autoResize(); 
                });
                
            </script>
