<script type="text/javascript" src="../library/jquery/jquery.bt.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        $('.sectionBox2 a.title2').live('hover', function() {
            $(this).attr({title: "Expand Section"});
        });
        $('.sectionBox2.sectionOpen a.title2').live('hover', function() {
            $(this).attr({title: "Collapse Section"});
        });
        $('.sectionBox2. a.title2').click(function() {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });
        $('.sectionBox2.sectionOpen a.title2').click(function() {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });
        var formatPhone = function() {
            if (this.value == null || this.value == "")
                return;
            validFormat = /^[(]?(\d{3})[)]?(?:\s|-|.)*(\d{3})[-\s.]*(\d{4})$/;
            parts = this.value.match(validFormat);
            if (parts == null)
                return;
            this.value = "(" + parts[1] + ") " + parts[2] + "-" + parts[3];
        };
        $.map(['EditRecordContactPhone1'], function(id) {
            $('#' + id).each(formatPhone).blur(formatPhone);
        });

        detailsWidget.updateSignOffDisplay();
        jQuery(".hoverTextnew").bt({
            titleSelector: "attr('bt-xtitle')",
            fill: 'white',
            cssStyles: {color: 'black', width: '350px'},
            animate: true
        });
        //13970
       $("#Company_Logo_Rm").click(function() {
		if ($("#Company_Logo_Rm").is(":checked"))
                {
                     $("#Company_Logo_file").css("display","");
                }else
                    {
                       $("#Company_Logo_file").css("display","none");  
                    }
		});
	});

	attachWMInfoText($("#PushWMEnabledInfo"));

	jQuery("#cmdEdit").click(function() {
        //window.location = '/clients/profile.php?mode=edit'; 
    });
    function isshowcompaysetting(el)
    {
        if($(".companysetting").css("display")=="none")
        {
            $(".companysetting").css("display","");
            $(el).css("background","url('/widgets/images/triangle_up.gif') no-repeat scroll 0 0 transparent");
        }
        else
        {
            $(".companysetting").css("display","none");
            $(el).css("background","url('/widgets/images/triangle_down.gif') no-repeat scroll 0 0 transparent");
        }
    }
    function isshowcompayinfo(el)
    {
        if($(".companyinfo").css("display")=="none")
        {
            $(".companyinfo").css("display","");
            $(el).css("background","url('/widgets/images/triangle_up.gif') no-repeat scroll 0 0 transparent");
        }
        else
        {
            $(".companyinfo").css("display","none");
            $(el).css("background","url('/widgets/images/triangle_down.gif') no-repeat scroll 0 0 transparent");
        }
    }
</script>
<style>
    a.title{
        background: url("/widgets/images/triangle_up.gif") no-repeat scroll 0 0 transparent;
        color: black;
        font-size: 12px;
        font-weight: bold;
        padding-left:20px;
    }
    .backgroundline
    {
        border-bottom: 1px solid rgb(246, 150, 48);
        height: 25px;
        vertical-align: bottom;
        margin-left:20px;
    }
    .backgroundtitle
    {
        width:200px;
        padding-top:10px;
        margin-left:-20px;
        
    }
    .upd_btnNew
    {
        float: right;
        width: 51px;
        margin-top:-22px;
    }
    .cbxrule
    {
        width:100px;
    }
    .cbxtime
    {
        width:120px;
    }
</style>
<div class="popup_form_holder">
    <div>
        <?php if (!empty($this->messages)): ?>
            <?php foreach ($this->messages as $message): ?>
                <?= $message ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
    <form action="/widgets/dashboard/client/do-update" onSubmit="if (detailsWidget.validateClientUpdateSubmit())
            detailsWidget.updateProfileDetails();
        return false;" method="post" id="UpdateClientForm" name="UpdateForm" enctype="multipart/form-data">
        <?
        if(empty($this->clientExt['DeniedTech_NoShowGreater'])  &&
            empty($this->clientExt['DeniedTech_BackOutGreater'])&&
            empty($this->clientExt['DeniedTech_PreferenceRatingSmaller'])&&
            empty($this->clientExt['DeniedTech_PerformanceRatingSmaller']))
        {
            $isClientdenined = FALSE;
        }
        else
        {
            $isClientdenined = TRUE;
        }
        ?>
        <table width="100%" style="padding:5px;" class="form_tableV2" cellspacing="0">
            <col class="col1" />
            <col class="col2" />
            <tr>
                <td colspan="2">
                    <div class="backgroundline">
                        <div class="backgroundtitle">
                            <a class="title" onclick="isshowcompayinfo(this)">
                                Company Infomation
                            </a>
                        </div>
                        <div class="upd_btnNew">
                            <div style="float: right;">
                                <img height="20" style="cursor: pointer;" class="cmdCancelUpdateButton" title="Cancel" src="/widgets/images/button_x.png">
                                <img height="20" style="cursor: pointer;" class="cmdSaveprofile" title="Save" src="/widgets/images/button_save.png">
                                <input type="image" id="cmdSaveProfile" title="Save" style="border: 0px;display: none;" src="/widgets/images/button_save.png" />                            
                            </div>   
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:35px;" class="companyinfo">
                    <table width="100%" style="padding:5px;">
                        <col width="200px">
                        <col width="*">
                        <tr>
                            <td  class="label_field">Company ID</td>
                            <td>
                                <?= $this->escape($this->client->Company_ID) ?><input type="hidden" id="EditRecordCompanyID" name="Company_ID" value="<?= $this->escape($this->client->Company_ID) ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_field">
                                <label for="EditRecordCompanyName">Company Name<span class="required">*</span></label>
                            </td>
                            <td>
                                <label><?= $this->escape($this->client->CompanyName) ?></label>
                        </tr>
                        <tr>
                            <td class="label_field">
                                <label for="EditRecordEIN">EIN or Tax ID</label>
                            </td>
                            <td>
                                <input type="text" value="<?= $this->escape($this->client->EIN) ?>" id="EditRecordEIN" name="EIN" maxlength="255" size="25" >
                            </td>
                        </tr>
                        <?
                        if ($this->isGPM)
                        {
                            $ClientTagValues = $this->ClientTagValues;
                            if (!empty($ClientTagValues))
                            {
                                ?>
                                <tr>
                                    <td class="label_field">Client Status</td>
                                    <td>
                                        <?= $ClientTagValues['ClientStatusId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">Client Relationship</td>
                                    <td>
                                        <?= $ClientTagValues['ClientRelationshipId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">Segment</td>
                                    <td>
                                        <?= $ClientTagValues['SegmentId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">Original Seller</td>
                                    <td>
                                        <?= $ClientTagValues['OriginalSellerId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">Executive</td>
                                    <td>
                                        <?= $ClientTagValues['ExecutiveId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <?
                            }
                        }
                        ?>
                        <tr>
                            <td class="label_field">
                                <label for="FSClientServiceDirector">FS Client Service Director</label>
                            </td>
                            <td style="padding:0 3px 0 3px;">
                                <table  width="100%">
                                    <tr>
                                        <td style="padding: 0;">
                                            Name: <?= $this->client->FSClientServiceDirectorName ?>&nbsp;
                                        </td>
                                        <td  width="39%" style="padding: 0;">
                                            Email: <?= $this->client->FSClientServiceDirectorEmail ?>&nbsp;
                                        </td>
                                        <td width="32%"  style="padding: 0;">
                                            Phone: <?= $this->client->FSClientServiceDirectorPhone ?>&nbsp;
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_field">
                                <label for="FSOpsSupport">FS Account Manager</label>
                            </td>
                            <td style="padding:0 3px 0 3px;">
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 0;">
                                            Name: <?= $this->client->FSAccountManagerName ?>&nbsp;
                                        </td>
                                        <td width="39%"  style="padding: 0;">
                                            Email: <?= $this->client->FSAccountManagerEmail ?>&nbsp;
                                        </td>
                                        <td  width="32%" style="padding: 0;">
                                            Phone: <?= $this->client->FSAccountManagerPhone ?>&nbsp;
                                        </td>

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <?
                        if ($this->isGPM)
                        {
                            $ClientTagValues = $this->ClientTagValues;
                            if (!empty($ClientTagValues))
                            {
                                ?>
                                <tr>
                                    <td class="label_field">Legal Entity</td>
                                    <td>
                                        <?= $ClientTagValues['EntityTypeId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">Service Type</td>
                                    <td>
                                        <?= $ClientTagValues['ServiceTypeId']['TagItemName']; ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_field">System Access</td>
                                    <td>
                                        <!--576-->
                                        <?
                                        $systemStatus = $ClientTagValues['SystemStatusId']['TagItemName']; 
                                        if(strtolower($ClientTagValues["ClientStatusId"]["TagItemName"])=="inactive")
                                        {
                                            $systemStatus ="Deactivated";

                                        }else if(strtolower($ClientTagValues["SystemStatusId"]["TagItemName"])=="active" )
                                        {    
                                            $systemStatus = "Full Access";
                                        }
                                        echo $systemStatus;
                                        ?>  
                                        <!--End 576-->
                                    </td>
                                </tr>
                                <?
                            }
                        }
                        ?>
                        <tr>
                            <td class="label_field">
                                <label for="TechDeduction">Deduct FS Service Fee From Tech</label>
                            </td>
                            <td>
                                <?php
                                $deductapi = new Core_Api_CommonClass();
                                $deductinfo = $deductapi->getDeducts();

                                if ($this->isGPM)
                                {
                                    ?>
                                    <select name="PcntDeductPercent" id="PcntDeductPercent">
                                        <?
                                        foreach ($deductinfo as $deduct)
                                        {
                                            ?>
                                            <option <?= $this->PcntDeductPercent == $deduct['DeductPcnt'] ? 'selected="selected"' : '' ?> 
                                                value="<?= $deduct['DeductPcnt'] ?>"><?= $deduct['DeductPcntDescription'] ?></option>
                                                <?
                                            }
                                            ?>
                                    </select>
                                    <?php
                                } else
                                {
                                    foreach ($deductinfo as $deduct)
                                    {
                                        if ($this->PcntDeductPercent == $deduct['DeductPcnt'])
                                            echo($deduct['DeductPcntDescription']);
                                    }
                                }
                                ?>
                            </td>
                        </tr>
						<tr><td class="label_field"><label for="contextPushWMEnabled">Enable Work Market</label></td><td>
						<?php if (!$this->mode && $this->isGPM): ?>
						<input name="contextPushWMEnabled" id="contextPushWMEnabled" type='checkbox' <?= $this->client->contextPushWMEnabled == 1 ?'checked="checked"':''?> value='1' />&nbsp;
						<a title="" bt-xtitle="" id="PushWMEnabledInfo" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a>&nbsp;Individual projects must be enabled manually.
						<?php else: ?>
						<?= ($this->client->contextPushWMEnabled == 1 ? "Enabled" : "Disabled") ?>
						<a title="" bt-xtitle="" id="PushWMEnabledInfo" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a>
						<?php endif; ?>
						</td></tr>			
                        <tr>
                            <td class="label_field" colspan="2">
                                <label for="EditRecordCompanyDescription">Company Description</label>
                            </td>
                        </tr>
                        <tr>
                            <td  class="label_field" colspan="2">
                                <textarea id="EditRecordCompanyDescription" name="CompanyDescription"  style="width: 100%;" rows="5"><?= $this->escape($this->client->CompanyDescription) ?></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td  class="label_field">
                                <label for="EditRecordCompany_Logo">Company Logo</label><br/>
                                <?php $logo = $this->client->Company_Logo; ?>
                                <?php
                                if (!empty($logo))
                                {
                                    ?>
                                    <span>
                                        <img width="100" src="<?= S3_CLIENTS_LOGO_WWW; ?>/<?= $this->client->Company_Logo ?>"/>
                                       
                                    </span>
                                    <?php
                                }
                                ?>
                            </td>
                            <td class="label_field">
                                <a  href="/"></a>
                                <div style="float:left;width:450; ">
                                 <?php
                                        if (!empty($logo))//($this->mode)//13970
                                        {
                                            ?> 
                                     <div style="float:left;">
                                        <input type="checkbox" value="1" id="Company_Logo_Rm" name="Company_Logo_Rm"/> Remove &nbsp;
                                     </div>
                                            <?php
                                        }
                                        ?>
                                <?php
                                if (true)//($this->mode)//13970
                                {
                                    ?> 
                                <div id="Company_Logo_file" style="display:<?=empty($logo)?'':'none'?>;float:right ">
                                    <input type="file"  name="Company_Logo" style="size:20;" id="Company_Logo">
                                 </div>   
                                 </div>  
                                    <?php
                                }
                                ?>
                            </td>
                        </tr>
                       
                        <tr>
                            <td  class="label_field" colspan="2">
                                <label for="EditRecordUserName">Client Documents &ndash; Contact your Account Manager for a copy</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px;">
                                <label ></label>
                            </td>
                            <td style="padding: 0;margin: 0;" >
                                <table width="100%">
                                    <?php
                                    if (!empty($this->clientExt['File1URL']))
                                    {
                                        ?>
                                        <tr>
                                            <td style="padding: 0;margin: 0;width:200px;">
                                                Non-Disclosure Agreement
                                            </td>
                                            <td align="left">
                                                <span>
                                                    <?=
                                                    empty($this->clientExt['Upload1Date']) ? "" : date_format(date_create($this->clientExt['Upload1Date'])
                                                                    , 'm/d/Y')
                                                    ?>
                                                </span>
                                            </td>
                                        </tr>
                                    <?php } ?>  
                                    <?php
                                    if (!empty($this->clientExt['File2URL']))
                                    {
                                        ?>
                                        <tr>
                                            <td style="padding: 0;margin: 0;width:200px;">
                                                New Client Information Form
                                            </td>
                                            <td align="left">
                                                <span>
                                                    <?=
                                                    empty($this->clientExt['Upload2Date']) ? "" : date_format(date_create($this->clientExt['Upload2Date'])
                                                                    , 'm/d/Y')
                                                    ?>
                                                </span>
                                            </td>
                                        </tr>
                                    <?php } ?>  
                                    <?php
                                    if (!empty($this->clientExt['File3URL']))
                                    {
                                        ?> 
                                        <tr>
                                            <td style="padding: 0;margin: 0;width:200px;">
                                                Terms of Service
                                            </td>
                                            <td align="left">
                                                <span>
                                                    <?=
                                                    empty($this->clientExt['Upload3Date']) ? "" : date_format(date_create($this->clientExt['Upload3Date'])
                                                                    , 'm/d/Y')
                                                    ?>
                                                </span>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                    ?> 
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="backgroundline">
                        <div class="backgroundtitle">
                            <a class="title"  onclick="isshowcompaysetting(this)">
                                Company Settings    
                            </a>
                        </div>
                        <div class="upd_btnNew">
                            <div style="float: right;">
                                <img height="20" style="cursor: pointer;" class="cmdCancelUpdateButton" title="Cancel" src="/widgets/images/button_x.png">
                                <img height="20" style="cursor: pointer;" class="cmdSaveprofile" title="Save" src="/widgets/images/button_save.png">
                                <input type="image" id="cmdSaveProfile" title="Save" style="border: 0px;display: none;" src="/widgets/images/button_save.png" />                            
                            </div>   
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:35px;" class="companysetting">
                    <table width="100%" style="padding:5px;">
                        <col width="30px">
                        <col width="*">
                        <tr>
                            <td colspan="2">
                                Set rules to automatically &lsquo;client-deny&rsquo; technicians<img bt-xtitle="Techs that have been &lsquo;client-denied&rsquo; for your company:<div style='padding-left:15px;padding-top:10px;'><ul><li style='list-style:disc outside none;'>Are not notified of your new available work.</li><li style='list-style:disc outside none;'>Can not see your available work in the system.</li><li style='list-style:disc outside none;'>Are hidden when you use Find Techs for sourcing.</li></ul></div>" class="hoverTextnew" style="vertical-align: middle;height:20px;" src="/widgets/images/get_info.png">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:24px;padding-right:0px;">
                                <input type="radio" id="Clientdeninedyes" name="isClientdenined" <?=$isClientdenined?"checked":""?> >
                            </td>
                            <td style="padding:0px;"><span id="clientdeninedyes">Yes</span></td>
                        </tr>
                        <tr>                            
                                <td colspan="2" style="padding-left:40px;display:<?=$isClientdenined?'':'none'?>" class="tdClientdeninedyes">
                                <table>
                                    <tr class="noshows">
                                        <td>No Shows >=</td>
                                        <td>
                                            <select id="cbxnoshows" class="cbxrule" name="DeniedTech_NoShowGreater">
                                                <option value="">Select Rule</option>
                                                <option value="1" <?=$this->clientExt['DeniedTech_NoShowGreater']=="1"?"selected":""?>>1</option>
                                                <option value="2" <?=$this->clientExt['DeniedTech_NoShowGreater']=="2"?"selected":""?>>2</option>
                                                <option value="3" <?=$this->clientExt['DeniedTech_NoShowGreater']=="3"?"selected":""?>>3</option>
                                                <option value="4" <?=$this->clientExt['DeniedTech_NoShowGreater']=="4"?"selected":""?>>4</option>
                                                <option value="5" <?=$this->clientExt['DeniedTech_NoShowGreater']=="5"?"selected":""?>>5</option>
                                            </select>
                                        </td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_NoShowGreater'])?'':'none'?>">Timeframe:</td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_NoShowGreater'])?'':'none'?>;">
                                            <select name="DeniedTech_NoShowPeriod" class="cbxtime">
                                                <option value="Last90Days" <?=$this->clientExt['DeniedTech_NoShowPeriod']=="Last90Days"?"selected":""?>>Last 90 Days</option>
                                                <option value="Last12Months" <?=$this->clientExt['DeniedTech_NoShowPeriod']=="Last12Months"?"selected":""?>>Last 12 Months</option>
                                                <option value="Lifetime" <?=$this->clientExt['DeniedTech_NoShowPeriod']=="Lifetime"?"selected":""?>>Lifetime</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="backouts">
                                        <td>Back Outs >=</td>
                                        <td>
                                            <select id="cbxbackouts" class="cbxrule" name="DeniedTech_BackOutGreater">
                                                <option value="">Select Rule</option>
                                                <option value="1" <?=$this->clientExt['DeniedTech_BackOutGreater']=="1"?"selected":""?>>1</option>
                                                <option value="2" <?=$this->clientExt['DeniedTech_BackOutGreater']=="2"?"selected":""?>>2</option>
                                                <option value="3" <?=$this->clientExt['DeniedTech_BackOutGreater']=="3"?"selected":""?>>3</option>
                                                <option value="4" <?=$this->clientExt['DeniedTech_BackOutGreater']=="4"?"selected":""?>>4</option>
                                                <option value="5" <?=$this->clientExt['DeniedTech_BackOutGreater']=="5"?"selected":""?>>5</option>
                                            </select>
                                        </td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_BackOutGreater'])?'':'none'?>;">Timeframe:</td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_BackOutGreater'])?'':'none'?>;">
                                            <select name="DeniedTech_BackOutPeriod" class="cbxtime">
                                                <option value="Last90Days" <?=$this->clientExt['DeniedTech_BackOutPeriod']=="Last90Days"?"selected":""?>>Last 90 Days</option>
                                                <option value="Last12Months" <?=$this->clientExt['DeniedTech_BackOutPeriod']=="Last12Months"?"selected":""?>>Last 12 Months</option>
                                                <option value="Lifetime" <?=$this->clientExt['DeniedTech_BackOutPeriod']=="Lifetime"?"selected":""?>>Lifetime</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="preferencerating">
                                        <td>Preference Rating <=</td>
                                        <td>
                                            <select id="cbxpreferencerating" class="cbxrule" name="DeniedTech_PreferenceRatingSmaller">
                                                <option value="">Select Rule</option>
                                                <option value="0.95" <?=$this->clientExt['DeniedTech_PreferenceRatingSmaller']=="0.95"?"selected":""?>>95%</option>
                                                <option value="0.90" <?=$this->clientExt['DeniedTech_PreferenceRatingSmaller']=="0.90"?"selected":""?>>90%</option>
                                                <option value="0.75" <?=$this->clientExt['DeniedTech_PreferenceRatingSmaller']=="0.75"?"selected":""?>>75%</option>
                                                <option value="0.50" <?=$this->clientExt['DeniedTech_PreferenceRatingSmaller']=="0.50"?"selected":""?>>50%</option>
                                            </select>
                                        </td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_PreferenceRatingSmaller'])?'':'none'?>;">Timeframe:</td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_PreferenceRatingSmaller'])?'':'none'?>;">
                                            <select name="DeniedTech_PreferenceRatingPeriod" class="cbxtime">
                                                <option value="Last90Days" <?=$this->clientExt['DeniedTech_PreferenceRatingPeriod']=="Last90Days"?"selected":""?>>Last 90 Days</option>
                                                <option value="Last12Months" <?=$this->clientExt['DeniedTech_PreferenceRatingPeriod']=="Last12Months"?"selected":""?>>Last 12 Months</option>
                                                <option value="Lifetime" <?=$this->clientExt['DeniedTech_PreferenceRatingPeriod']=="Lifetime"?"selected":""?>>Lifetime</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="performancerating">
                                        <td>Performance Rating <=</td>
                                        <td>
                                            <select id="cbxperformancerating" class="cbxrule" name="DeniedTech_PerformanceRatingSmaller">
                                                <option value="">Select Rule</option>
                                                <option value="0.95" <?=$this->clientExt['DeniedTech_PerformanceRatingSmaller']=="0.95"?"selected":""?>>95%</option>
                                                <option value="0.90" <?=$this->clientExt['DeniedTech_PerformanceRatingSmaller']=="0.90"?"selected":""?>>90%</option>
                                                <option value="0.75" <?=$this->clientExt['DeniedTech_PerformanceRatingSmaller']=="0.75"?"selected":""?>>75%</option>
                                                <option value="0.50" <?=$this->clientExt['DeniedTech_PerformanceRatingSmaller']=="0.50"?"selected":""?>>50%</option>
                                            </select>
                                        </td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_PerformanceRatingSmaller'])?'':'none'?>;">Timeframe:</td>
                                        <td class="timeframe" style="display:<?=!empty($this->clientExt['DeniedTech_PerformanceRatingSmaller'])?'':'none'?>;">
                                            <select name="DeniedTech_PerformanceRatingPeriod" class="cbxtime">
                                                <option value="Last90Days" <?=$this->clientExt['DeniedTech_PerformanceRatingPeriod']=="Last90Days"?"selected":""?>>Last 90 Days</option>
                                                <option value="Last12Months" <?=$this->clientExt['DeniedTech_PerformanceRatingPeriod']=="Last12Months"?"selected":""?>>Last 12 Months</option>
                                                <option value="Lifetime" <?=$this->clientExt['DeniedTech_PerformanceRatingPeriod']=="Lifetime"?"selected":""?>>Lifetime</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:24px;padding-right:0px;">
                                <input type="radio" id="ClientdeninedNo" name="isClientdenined"  <?=$isClientdenined?"":"checked"?>>
                            </td>
                            <td style="padding:0px;">
                                No
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top: 5px;">
                                <label for="EditRecordUserName">Provide Techs with a Signoff Sheet:</label>
                                <?php
                                if (!$this->client->SignOff_Disabled)
                                {
                                    ?>
                                    Yes -
                                    <?php
                                    if ($this->customSignOffEnabled)
                                    {
                                        ?>
                                        Custom Signoff Sheet:
                                        <a href="/widgets/dashboard/do/file-wos-documents-download/filename/<?= base64_encode(urlencode($this->customSignoff)) ?>/<?= $this->customSignoff ?>"><?= $this->customSignoff ?></a>
                                        <?php
                                    } else
                                    {
                                        ?>
                                        Use Basic FieldSolutions Signoff Sheet
                                        <?php
                                    }
                                } else
                                {
                                    ?>
                                    No
                                    <?php
                                }
                                ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-left:26px; padding-bottom: 12px; line-height: 20px">
                                <input type="radio" name="SignOff_Disabled" value="0" onchange="detailsWidget.updateSignOffDisplay();"<?= $this->client->SignOff_Disabled == "0" ? "checked" : ""; ?> /> Yes<br/>
                                <div style="padding-left:24px;">
                                    <input type="radio" name="CustomSignOff_Enabled" value="0" onchange="detailsWidget.updateSignOffDisplay();"<?= !$this->customSignOffEnabled ? " checked" : ""; ?><?php if ($this->client->SignOff_Disabled == "1") echo ' disabled="disabled"'; ?> />Use Basic FieldSolutions Signoff Sheet<br/>
                                    <input type="radio" name="CustomSignOff_Enabled" value="1" onchange="detailsWidget.updateSignOffDisplay();"<?= $this->customSignOffEnabled ? " checked" : ""; ?><?php if ($this->client->SignOff_Disabled == "1") echo ' disabled="disabled"'; ?> />Upload Custom Signoff Sheet (PDF Files Only):
                                    <?php
                                    if ($this->customSignoff === false)
                                    {
                                        ?>
                                        <span id="container_upload" style="display: <?= $this->customSignOffEnabled && $this->client->SignOff_Disabled == "0" ? "inline" : "none"; ?>;">
                                            <input type="file"  name="CustomSignOff" size="20" id="CustomSignOff">
                                        </span>
                                        <?php
                                    } else
                                    {
                                        ?>
                                        <span id="container_remove" style="display: <?= $this->customSignoff !== false ? "inline" : "none"; ?>;">
                                            <a href="/widgets/dashboard/do/file-wos-documents-download/filename/<?= base64_encode(urlencode($this->customSignoff)) ?>/<?= $this->customSignoff ?>"><?= $this->customSignoff ?></a>
                                            <input type="checkbox" value="1" name="CustomSignOff_Rm"/> Remove
                                        </span>
                                        <?php
                                    }
                                    ?>
                                </div>
                                <input type="radio" name="SignOff_Disabled" value="1" onchange="detailsWidget.updateSignOffDisplay();"<?= $this->client->SignOff_Disabled == "1" ? "checked" : ""; ?> /> No<br/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </form>


</div>


