<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/client/do-user-create/" onSubmit="return detailsWidget.validateCreateSubmit('client');" method="post" id="CreateProjectForm" name="CreateForm" enctype="multipart/form-data">
        <input type="hidden" name="CreateForm[Company_ID]" value="<?= $this->Company_ID?>" />
        <input type="hidden" name="CreateForm[AccountEnabled]" value="1" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="CreateForm[ContactName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Primary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="CreateForm[ContactPhone1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone2" name="CreateForm[ContactPhone2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Primary Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="CreateForm[Email1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email2" name="CreateForm[Email2]" value="" /></td>
			</tr>
            <tr>
                <td class="label_field">Company Logo</td>
                <td><input type="file" name="Company_Logo" id="Company_Logo" size="40" /></td>
            </tr>
            <tr>
				<td class="label_field"><span class="required">*</span>User Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="UserName" name="CreateForm[UserName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="CreateForm[Password]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Confirm Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="PasswordConf" name="CreateForm[PasswordConf]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Admin User?</td>
                <td><input type="checkbox" id="Admin" name="CreateForm[Admin]" value="1" /></td>
			</tr>
			<?php if ($this->Company_ID == 'FLS'):?>
            <tr>
                <td class="label_field">UserType</td>
                <td>
                    <select name="CreateForm[UserType]" id="UserType">
                        <option value="">Select User Type</option>
                        <option value="Install Desk">Install Desk</option>
                        <option value="Manager">Manager</option>
                    </select>
                </td>
            </tr>
			<?php endif; ?>			
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>