<?
$wo = $this->wo;
$QAlist = $this->QAlist;
$win = $wo->WIN_NUM;
$clientID = $this->clientID;

$WosClass = new Core_Api_WosClass();
$assigntech = "";
if (strtolower($wo->Status) != WO_STATE_CREATED &&
        strtolower($wo->Status) != WO_STATE_PUBLISHED &&
        strtolower($wo->Status) != WO_STATE_DEACTIVATED &&
        !empty($wo->Tech_ID) && $wo->Tech_ID != "")
{
    $assigntech = $wo->Tech_ID;
    $assigntechname = $wo->Tech_FName . " " . $wo->Tech_LName;
    $textcopy = "Send Q&A Message to: ";
} else
{
    $assigntech = "";
    $assigntechname = "";
    $textcopy = "Send Q&A Message to: ";
}


$apiClass = new Core_Api_Class();

?>
<style type="text/css">
    .link_sendenable { width: 60px; height:20px; border:none; background: url(/widgets/images/btn_Blue.png) left top no-repeat; font: normal 13px Verdana, Arial, Helvetica, sans-serif; color: #385c7e; cursor: pointer; }
    .link_senddisable { width: 60px; height:20px; border:none; background: url(/widgets/images/btn_Disabled.png) left top no-repeat; font: normal 13px Verdana, Arial, Helvetica, sans-serif;  color: #385c7e;}
</style>
<script>
    function postmsg()
    {
        var data = jQuery("#frmPostmsg").serialize();
        $.ajax({
            type: "POST",
            url: '/widgets/dashboard/popup/postmsg',
            data: data,
            context : this,
            success:function( html ) {
                $('#tblcontactlog > tbody tr:first').before(html); 
            },
            error:function(error) {
                alert('error; ' + eval(error));
            }
        });
    
    }
    function filtertechassigned()
    {
        
        var datastr = "WIN_NUM="+$("#winnum").val()+"&forTechID="+$(this).val();
        
        $.ajax({
            type: "POST",
            url: '/widgets/dashboard/popup/questionandanswercontactloglist',
            data: datastr,
            context : this,
            success:function( html ) {
                jQuery("#QAdivscroll").html(html);
                //$.fancybox.resize();
            },
            error:function(error) {
                alert('error; ' + eval(error));
            }
        });
    }
    
    function isdisablesendbutton()
    {
        if($(this).val() !="")
        {
            $("#cmdPostQuestion").attr('class', 'link_sendenable');
        }
        else
        {
            $("#cmdPostQuestion").attr('class', 'link_senddisable');
        }
    }
    
    $(window).ready(function(){
        jQuery("#cmdPostmsg")
        .unbind("click", postmsg)
        .bind("click", postmsg);
        
        jQuery("#question")
        .unbind("keyup", isdisablesendbutton)
        .bind("keyup", isdisablesendbutton);
        
        jQuery("#filtertechassigned")
        .unbind("change", filtertechassigned)
        .bind("change", filtertechassigned);
        detailObject.onInit.watermark();
    });
</script>
<input type="hidden" id="winnum" value="<?= $win ?>">
<table width="95%" cellspacing="0" cellpadding="0" style="border:1px solid #F69630;">
    <?
    if ($assigntech != "")
    {
        ?>
        <tr>
            <td colspan="3" style="border-bottom: 1px solid #F69630; padding-left:5px;padding-top:2px;padding-bottom:2px;">
                View communications with <select id="filtertechassigned" name="">
                    <option value="<?= $assigntech ?>">Assigned Tech Only</option>
                    <option value="0">All Techs</option>
                </select>
            </td>
        </tr>
        <?
    }
    ?>
    <tr>
        <td  colspan="3">
            <div id="QAdivscroll"  style="width:100%;max-height: 400px;min-height: 200px;overflow: auto;">
                <?= $this->render('popup/questionandanswercontactloglist.phtml'); ?>
            </div>
        </td>
    </tr>
    <tr>
        <!--13724-->   
        <td colspan="3" style="border-top: 1px solid #F69630; line-height: 50px">
        <!--End 13724-->
            <form action="/widgets/dashboard/popup/clientPostQuestion" id="frmPostmsg" method="post">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <col>
                    <col width="*">
                    <col>
                    <tr>
                        <td width="260px">
                            <?= $textcopy ?>
                            <span style="">
                                <select id="techlist" name="techlist" style="width: 120px;" >
                                    <?php
                                    if (empty($assigntech))
                                    {
                                        ?>
                                        <option value="0" techname="All Techs">All Techs</option>
                                        <?
                                        if (!empty($techlist))
                                        {
                                            foreach ($techlist as $techitem)
                                            {
                                                ?>
                                                <option value="<?= $techitem['TechID'] ?>" <?= $assigntech == $techitem['TechID'] ? "selected" : "" ?> techname="<?= $techitem['FirstName'] . " " . $techitem['LastName'] ?>"><?= $techitem['TechID'] ?></option>
                                                <?
                                            }
                                        }
                                        ?>
                                        <option value="InternalNote" techname="Internal Note" selected>Internal Note</option>       
                                        <?
                                        if ($apiClass->isGPM($clientID) === false)
                                        {
                                            
                                        } else
                                        {
                                            ?>
                                            <option value="GPM" techname="GPM Only">GPM Only</option>   
                                            <?
                                        }
                                    } else
                                    {
                                        ?>
                                        <option value="" techname="Assigned Tech">Assigned Tech</option>  
                                        <option value="InternalNote" techname="Internal Note" selected>Internal Note</option>       
                                        <?
                                        
                                        if ($apiClass->isGPM($clientID) === false)
                                        {
                                            
                                        } else
                                        {
                                            ?>
                                            <option value="GPM" techname="GPM Only">GPM Only</option>   
                                            <?
                                        }
                                    }
                                    ?>
                                </select>
                            </span>
                            <input type="hidden" value="<?= $assigntech ?>" id="assigntech" name="assigntech">
                            <input type="hidden" value="<?= $assigntechname ?>" id="assigntechname" name="assigntechname">
                        </td>
                        <td>
                            <!--13724-->
                            <textarea id="question" name="question" style="width: 350px; height: 40px; resize:none;"></textarea>
                            <!--End 13724-->
                            <input type="hidden" value="<?= $wo->WIN_NUM ?>" id="WIN_NUM" name="WIN_NUM">
                        </td>
                        <td align="center" width="130px">
                          <!--13724--> 
                            <input type="button" class ="link_senddisable" value="Send" id="cmdPostmsg" style="height: 40px" >
                            <!--End 13724-->   
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

<script>
    //<![CDATA[
    $(window).ready(function(){
        if(typeof(window.parent.detailsWidget)!="undefined") 
        {
            //891
            jQuery(".techprofileforquestion")
            .unbind("click",window.parent.detailsWidget.loadprofileQuestion)
            .bind("click",window.parent.detailsWidget.loadprofileQuestion); 
            //end 891
            window.parent.detailsWidget.resizeContactLog();
            window.parent.detailsWidget.ContactlogBtnchangename();
        }
    });
    //]]>
</script>