<?
if (!empty($this->techworkcontrol))
{
    $techworkcontrol = $this->techworkcontrol[0];
}
$AllowDeVryInternstoObserveWork = $techworkcontrol['AllowDeVryInternstoObserveWork'];
$AllowDeVryInternstoPerformField = $techworkcontrol['AllowDeVryInternstoPerformField'];

?>
<style>
    .buttonCancel{
        background-color: white;
        background-image: url("/widgets/images/button_x.png");
        background-repeat: no-repeat;
        border: 0 none;
        cursor: pointer;
        height: 24px;
        margin-left: 10px;
        width: 24px;
    }
    .buttonSubmit{
        background-color: white;
        background-image: url("/widgets/images/button_save.png");
        background-repeat: no-repeat;
        border: 0 none;
        cursor: pointer;
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }
    .subDiver
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .subDiver div
    {
        height: 25px;
        background-color: #E1E1E1;
        border: 1px solid black;
        font-weight: bold;
        padding: 9px 0 0 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -moz-border-radius: 10px 10px 10px 10px;
        -moz-box-shadow: 2px 2px 2px #888888;
        background: url("/widgets/css/images/section_background.gif") repeat-y scroll left top transparent;
        color: white;
    }
    
</style>


<table class="form_tableV2" style="margin-top: 0px;" width="100%">
    <tr>
    <td style="padding: 10px;">
            <div>
                <form id="TechWorkControls" name="TechWorkControls" >
                    <table width="100%">
                        <tr class="trChildren trChildrenId-1 trCurrentId0" item_id="1" parent_id="-1">
                            <td>
                                <a href="javascript:;" item_id="1" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" >
                                    <img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" />
                                    <strong>&nbsp;Technician Work Controls</strong>
                                </a>
                            </td>
                            <td colspan="2" align="right">
                            <input type="button" class="buttonCancel" value="" id="TechWorkControlsCancel"/>&nbsp;
                            <input type="button" class="buttonSubmit" value="" id="TechWorkControlsSave"/>
<!--                            <img id="TechWorkControlsCancel" class="updateButton" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                            <img id="TechWorkControlsSave" class="updateButton" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">-->
                            </td>
                        </tr>
                    </table>
                <table width="95%" style="margin-left: 25px;">
                        <tr>
                            <td class="sectionDivider" width="100"></td>
                        </tr>
                    </table>
                    <table class="trChildrenId1" style="margin-left: 15px;width:97%;">
                        <tr>
                            <td colspan="2" style="color:#E46C0A;padding-left:15px;font-style:italic;">
                                Special Technician Controls <a id="techworkcontrols" href="javascript:void(0)"><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:37px;width:15px;">
                                <input type="checkbox" id="chkAllowDeVryInternstoObserveWork" name="AllowDeVryInternstoObserveWork" <?=$AllowDeVryInternstoObserveWork==1?"checked":""?>>
                            </td>
                            <td>
                                Allow DeVry Interns to observe work by assigned technicians
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:37px;width:15px;">
                            <input type="checkbox" id="chkAllowDeVryInternstoPerformField" name="AllowDeVryInternstoPerformField" <?=$AllowDeVryInternstoPerformField==1?"checked":""?>>
                            </td>
                            <td>
                                Allow DeVry Interns to perform field service work
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <table width="100%">
                    <tr class="trChildren trChildrenId-1 trCurrentId0" item_id="3" parent_id="-1">
                        <td>
                            <a href="javascript:;" item_id="3" parent_id="-1" class="cmdCollspan" style="color: #333333; font-size:12px; text-decoration:none;" >
                                <img src="/widgets/css/images/triangle_up.gif" border="0" style="vertical-align:-19%" />
                                <strong>&nbsp;Expense Reporting</strong>
                            </a>
                        </td>
                        <td colspan="2" align="right">
                            <img id="WorkOrderSettingsTechPayCancel" class="updateButton" title="Cancel" src="/widgets/images/button_x.png" height="20" style="margin-top:0px;">
                            <img id="WorkOrderSettingsTechPaySubmit" class="updateButton" title="Update" src="/widgets/images/button_save.png" height="20" style="margin-top:0px;">
                        </td>
                    </tr>
                </table>
                <table width="96%" style="margin-left: 18px;">
                    <tr>
                        <td class="sectionDivider" width="100"></td>
                    </tr>
                </table>
                <table class="trChildrenId3" style="margin-left: 15px;width:97%;">
    <tr style="display: none;">
        <td align="right" style="padding-top: 5px;" valign="top">
    <center>
        <ul  class="tabWorkOrderSettings" style="width:610px;border: 0px;">
            <li tabid="" style="width:120px;"><a href="javascript:void(0)" style="width:99px; font-size: 12px;">Basic Information</a></li>
            <li tabid="" style="width:120px;"><a style="width:99px; font-size: 12px;" href="javascript:void(0)">Technicians</a></li>
            <li class="currenttab" tabid="WorkOrderSettingsTechPay" style="width:120px;"><a class="current"  style="width:99px; font-size: 12px;" href="javascript:void(0)">Tech Pay</a></li>
            <li tabid="" style="width:130px;"><a href="javascript:void(0)" style="width:109px; font-size: 12px;">Documents & Parts</a></li>
            <li tabid="" style="width:120px;"><a href="javascript:void(0)" style="width:99px; font-size: 12px;">Contact Center</a></li>
        </ul>
        <div class="tabsbottom borderStyleDiv" style="border: 0px;width: 100%;"></div>
    </center>
</td>
</tr>
<tr>
    <td style="padding: 10px;">
        <div id="WorkOrderSettingsTechPay">
            <form id="frmWorkOrderSettingsTechPay" name="WorkOrderSettingsTechPay" >
			<input type="hidden" value="TechPay" id="action" name="actiontype" /> 
                <div style="clear: both;"></div>
                <div style="padding-left: 10px;">
                    <!--376-->
                                        <input <?= $this->EnableColspanTechPay ? "checked='checked'" : "" ?> type="checkbox" value="1" id="EnableExpenseReportingTechPay" name="EnableExpenseReportingTechPay" ispm="<?= $this->isGPM ?>" />&nbsp;Enable Expense Reporting
                    <!--end 376-->
                                        <input id="hEnableColspanTechPay" type="hidden" value="<?= $this->EnableColspanTechPay ?>">
                                        <input id="hname" type="hidden" value="<?= $this->name ?>">
                                        <input id="hphone" type="hidden" value="<?= $this->phone ?>">
                                        <input id="hemail" type="hidden" value="<?= $this->email ?>">
                </div>
                <table class="tableContentWDS tableContentWDSGUI"  cellspacing="5" width="100%" style="padding-top: 10px;padding-left: 20px;">
                    <thead>
                    <th align="left">Billable Category</th>
                    <th align="left">Description (Note to Tech)</th>
                    <th align="left">Reimburse through <br>FieldSolutions</th>
                    <th align="left">Require Document <br>Upload if Claimed</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="masterCategoryAll" />&nbsp;<span style="text-decoration: underline;">Enable All</span>
                            </td>
                            <td>
                                (20 Character Limit)
                            </td> 
                            <td >
                                <input type="checkbox" id="masterReimbursableAll" />&nbsp;<span style="text-decoration: underline;">All</span>
                            </td>
                            <td>
                                <input type="checkbox" id="masterRequireDocumentAll" />&nbsp;<span style="text-decoration: underline;">All</span>
                            </td>
                        </tr>
                        <?php
                                            if (!empty($this->data))
                                            {
                                                foreach ($this->data as $item)
                                                {
                                ?>    
                                <tr class="trPeyTech">
                                    <td class="label_field" >
                                        <input type="checkbox" value="1" <?= $item["ischecked"] ? "checked='checked'" : "" ?> class="masterCategory" />&nbsp;
                                        <?= $item["bcatname"] ?>
                                        <input value='<?= $item["bcatname"] ?>' type="hidden" name="WorkOrderSettingsTechPay[bcatname][]" maxlength="24" />
                                        <input type="hidden" value="<?= $item["ischecked"] ?>" checked="true" name="WorkOrderSettingsTechPay[ischecked][]" />
                                        <input type="hidden" value="<?= $item["bcatid"] ?>" name="WorkOrderSettingsTechPay[bcatid][]" />
                                        <input type="hidden" value="<?= $item["bcattype"] ?>" name="WorkOrderSettingsTechPay[bcattype][]" />
                                    </td>
                                    <td>
                                        <input type="text" value="<?= $item["bcatdesc"] ?>" name="WorkOrderSettingsTechPay[bcatdesc][]" maxlength="20" />
                                    </td> 
                                    <td>
                                        <input <?= $item["reimbursable_thru_fs"] ? "checked='checked'" : "" ?> type="checkbox" value="1"  class="masterReimbursable" />
                                        <input type="hidden" value="<?= $item["reimbursable_thru_fs"] ?>" checked="true" name="WorkOrderSettingsTechPay[reimbursable_thru_fs][]"/>
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" <?= $item["require_doc_upl"] ? "checked='checked'" : "" ?> class="masterRequireDocument" />
                                        <input type="hidden" value="<?= $item["require_doc_upl"] ?>" checked="true" name="WorkOrderSettingsTechPay[require_doc_upl][]"  />
                                    </td>
                                </tr>   
                                <?php
                            }
                        }
                        ?>
                        <tr class="trPeyTech">
                            <td class="label_field" >
                                <input type="checkbox" value="1" class="masterCategory" />&nbsp;
                                <input type="text" style="background-image:url('/widgets/css/images/CustomCategory.png') " name="WorkOrderSettingsTechPay[bcatname][]" maxlength="24" />
                                <input type="hidden" checked="true" value="0" name="WorkOrderSettingsTechPay[ischecked][]" />
                                <input type="hidden" value="0" name="WorkOrderSettingsTechPay[bcatid][]" />
                                <input type="hidden" value='custom' name="WorkOrderSettingsTechPay[bcattype][]" />
                            </td>
                            <td>
                                <input type="text" name="WorkOrderSettingsTechPay[bcatdesc][]" maxlength="20" />
                            </td> 
                            <td>
                                <input type="checkbox" value="1"  class="masterReimbursable" />
                                <input type="hidden" checked="true" value="0" name="WorkOrderSettingsTechPay[reimbursable_thru_fs][]"/>
                            </td>
                            <td>
                                <input type="checkbox" value="1" class="masterRequireDocument" />
                                <input type="hidden" checked="true" value="0" name="WorkOrderSettingsTechPay[require_doc_upl][]"  />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="padding-left: 20px;"><a href="javascript:;" id="cmdAddanotherCustomLabel">+ Add another Custom Label</a></div>
                <div style="padding-left: 20px;">* Reimbursed Expenses will carry client-established fee structures.</div>
            </form>
        </div>
    </td>
</tr>
</table>
            </div>
        </td>
    </tr>

</table>
