<?php if ($this->success):?>
<div class="popup_form_holder">
<h1>Search/Pay Work Orders</h1>
<table class="form_table" cellspacing="0">
    <col class="col1" />
    <col class="col2" />
    <tr>
        <td class="label_field">Record ID</td>
        <td><?=$this->wo->WIN_NUM?></td>
    </tr>
    <tr>
        <td class="label_field">Work Order ID</td>
        <td><?=$this->wo->WO_ID?></td>
    </tr>
    <tr>
        <td class="label_field">Work Start Date</td>
        <td><?=$this->displayDate('n/j/Y', $this->wo->StartDate)?></td>
    </tr>
    <tr>
        <td class="label_field">Work End Date</td>
        <td><?=$this->displayDate('n/j/Y', $this->wo->EndDate)?></td>
    </tr>
    <tr>
        <td class="label_field">Start Time</td>
        <td><?=$this->displayDate('g:i A', $this->wo->StartTime)?></td>
    </tr>
    <tr>
        <td class="label_field">Est. On Site Time</td>
        <td><?=$this->displayDate('g:i A', $this->wo->StartRange)?></td>
    </tr>
    <tr>
        <td class="label_field">Duration (hours)</td>
        <td><?=$this->wo->Duration?></td>
    </tr>
    <tr>
        <td class="label_field">Work Description</td>
        <td><?=$this->wo->Description?></td>
    </tr>
    <tr>
        <td class="label_field">Tech Requirements &amp; Tools Required</td>
        <td><?=$this->wo->Requirements?><?=$this->wo->Tools? '<br />' . $this->wo->Tools : '' ?></td>
    </tr>
    <tr>
        <td class="label_field">Special Instructions</td>
        <td><?=$this->wo->SpecialInstructions?></td>
    </tr>
    <tr>
        <td class="label_field">Max Pay Amount</td>
        <td><?=$this->displayMoney($this->wo->PayMax)?></td>
    </tr>
    <tr>
        <td class="label_field">Your Bid</td>
        <td id="BidAmount"><?=$this->displayMoney($this->bid->BidAmount)?></td>
    </tr>
    <tr>
        <td class="label_field">Comments</td>
        <td id="Comments"><?=$this->bid->Comments?></td>
    </tr>
    <tr><td colspan="2"><br /><a id="chBid" href="javascript:void(0)"><strong>Change Your Bid</strong></a><br /><br /></td></tr>
    <tr>
        <td class="label_field">Bid Date</td>
        <td><?=$this->displayDate('n/j/Y', $this->bid->Bid_Date)?></td>
    </tr>
    <tr>
        <td class="label_field">City</td>
        <td><?=$this->wo->City?></td>
    </tr>
    <tr>
        <td class="label_field">State</td>
        <td><?=$this->wo->State?></td>
    </tr>
    <tr>
        <td class="label_field">Zipcode</td>
        <td><?=$this->wo->Zipcode?></td>
    </tr>
    <tr>
        <td class="label_field">Pic1</td>
        <td><a class="ajaxLink" href="/widgets/dashboard/tech/file-wos-documents-download/filename/<?=urlencode(base64_encode($this->wo->Pic1))?>/<?= substr($this->wo->Pic1,strrpos($this->wo->Pic1,'/')+1)?>"><?= substr($this->wo->Pic1,strrpos($this->wo->Pic1,'/')+1)?></a></td>
    </tr>
    <tr>
        <td class="label_field">Pic2</td>
        <td><a class="ajaxLink" href="/widgets/dashboard/tech/file-wos-documents-download/filename/<?=urlencode(base64_encode($this->wo->Pic2))?>/<?= substr($this->wo->Pic2,strrpos($this->wo->Pic2,'/')+1)?>"><?= substr($this->wo->Pic2,strrpos($this->wo->Pic2,'/')+1)?></a></td>
    </tr>
    <tr>
        <td class="label_field">Pic3</td>
        <td><a class="ajaxLink" href="/widgets/dashboard/tech/file-wos-documents-download/filename/<?=urlencode(base64_encode($this->wo->Pic3))?>/<?= substr($this->wo->Pic3,strrpos($this->wo->Pic3,'/')+1)?>"><?= substr($this->wo->Pic3,strrpos($this->wo->Pic3,'/')+1)?></a></td>
    </tr>
</table>

</div>
<script type="text/javascript">
$(document).ready( function() {
    $("#chBid").click(function(event){
        roll.autohide(false);
        var opt = {
            width       : 280,
            height      : 170,
            title       : 'Enter a new bid amount:',
            context     : wd,
            body        : wd.getChangeBidHtml('<?=($this->prj->FixedBid == true ? $this->displayMoney($this->wo->PayMax) : $this->displayMoney($this->bid->BidAmount))?>','<?php echo addslashes($this->bid->Comments)?>')
        };
        roll.showNotAjax(this, event, opt);
        detailObject.onInit.amountField($('#edit_BidAmount'),true);
		<?php if ($this->prj->FixedBid == true):?>
		$("#edit_BidAmount").attr('readonly', true);
		<?php endif;?>
    });
});
</script>
<?php endif;?>