<table class="schedule" cellspacing=0 cellpadding=0>
        <tr><td>07/24/10</td><td>13:30</td><td>#123456</td><td>POS</td><td>install survey</td><td>$240.00/site</td></tr>
        <tr class="bg3"><td><b>07/24/10</b></td><td><b>13:30</b></td><td><b>#123456</b></td><td><b>POS</b></td><td><b>install survey</b></td><td><b>$240.00/site</b></td></tr>
</table>