<?php
$testInfo = $this->TestInfo;
$techID = $this->techID;
$level = 0;
$Attrs = array();
if (!empty($testInfo) && count($testInfo) > 0)
{
    $level = $testInfo['Level'];
    foreach ($testInfo as $k => $v)
    {
        if ($k != 'id' && $k != 'tech_id' && $k != 'date_taken' && $k != 'Level' && $v == 1)
        {
            $Attrs[] = $k;
        }
    }
}
?>
<script>
    $(document).ready(function() {
        $("#formBlackBox input[type=checkbox]").attr('disabled',true);
        var level = <?= $level ?>;
        if(level==1){
            $("#CRT1").attr('checked',true);
            $(".chkCRT1").attr('disabled',false);
        }else if(level==2){
            $("#CRT2").attr('checked',true);
            $(".chkCRT2").attr('disabled',false);                
        }else if(level==3){
            $("#CRT3").attr('checked',true);      
            $(".chkCRT3").attr('disabled',false);   
        }
<?php
if (count($Attrs) > 0)
{
    foreach ($Attrs as $attr)
    {
        ?>
                        $("input[type='checkbox'][name='<?= $attr ?>']").attr('checked',true);
        <?php
    }
}
?>
        $("#CRT1").click(function(){
            //$(".chkCRT3").attr('checked',false);
            //$(".chkCRT2").attr('checked',false);
            $(".chkCRT1").attr('disabled',false);
            $(".chkCRT2").attr('disabled',true);
            $(".chkCRT3").attr('disabled',true);                
        });
        $("#CRT2").click(function(){
            //$(".chkCRT1").attr('checked',false);
            //$(".chkCRT3").attr('checked',false);
            $(".chkCRT1").attr('disabled',true);
            $(".chkCRT2").attr('disabled',false);
            $(".chkCRT3").attr('disabled',true);   
                
        });
        $("#CRT3").click(function(){
            //$(".chkCRT1").attr('checked',false);
            //$(".chkCRT2").attr('checked',false);   
            $(".chkCRT1").attr('disabled',true);
            $(".chkCRT2").attr('disabled',true);
            $(".chkCRT3").attr('disabled',false);          
        });
    });

</script>
<style>
    #formRow3 table td{
        vertical-align: top;
    }
    .btnFormRow{ width: 300px; padding: 10px ; margin: auto; text-align: center;}
    .subline{
        padding-left:20px;
    }
    .chkbox
    {
        padding-left:20px;
    }
</style>

<form id="formBlackBox" name="formBlackBox">
    <div id="formRow3">
        <input type="hidden" name="techID" value="<?=$techID?>">
        <table cellspacing="2" cellpadding="2" width="100%" border="0">
            <col width="15px">
            <col width="20px">
            <col width="40px">
            <col width="350px">
            <col width="20px">
            <col width="350px">
            <tr>
                <td colspan="6" style="text-align:center;">
                    <strong>Black Box Cabling Techs Needed!</strong>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:left;">
                    Black Box Network Services is looking for highly skilled Cabling technicians for project work nationwide. Don&rsquo;t forget to fill out Sections 4 and 5 of your Technician Profile! Select the level below that best describes your experience and toolkit and submit your request to be tagged as a Black Box Technician today!
                </td>
            </tr>
            <tr>
                <td>
                    <input name="CRT" type="radio" id="CRT1" value="1"/>
                </td>
                <td colspan="5">
                    Black Box Cabling – <strong>Helper (C1)</strong>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Tools:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C1RT_1"  class="chkCRT1" />
                </td>
                <td>
                    Personal Protection Equipment
                </td>
                <td>
                    <input type="checkbox" name="C1RT_4"  class="chkCRT1" />
                </td>
                <td>
                    Cordless Drill
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C1RT_2"  class="chkCRT1" />
                </td>
                <td>
                    Punch Tool
                </td>
                <td>
                    <input type="checkbox" name="C1RT_5"  class="chkCRT1"/>
                </td>
                <td>
                    Machine Label Maker&#13;
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C1RT_3"  class="chkCRT1"/>
                </td>
                <td>
                    Hand Tools
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Experience:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C1RE_1"  class="chkCRT1"/>
                </td>
                <td colspan="3">
                    Do you know how to operate a scissor lift and have extensive experience using a ladder?
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C1RE_2"  class="chkCRT1"/>
                </td>
                <td colspan="3">
                    Do you understand the telecom color code and have experience with termination jacks and patch panels?
                </td>
            </tr>
            <tr>
                <td>
                    <input name="CRT" type="radio" id="CRT2" value="2"/>
                </td>
                <td colspan="5">
                    Black Box Cabling &ndash; <strong>Advanced (C2)
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Tools:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_1" class="chkCRT2"/>
                </td>
                <td>
                    All tools required for Helper Techs (C1)
                </td>
                <td>
                    <input type="checkbox" name="C2RT_7" class="chkCRT2"/> 
                </td>
                <td>
                    Gofer Poles (or Glow  Rods)
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_2" class="chkCRT2"/>
                </td>
                <td>
                    Tone Generator and Wand
                </td>
                <td>
                    <input type="checkbox" name="C2RT_8" class="chkCRT2"/>
                </td>
                <td>
                    Butt Set
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_3" class="chkCRT2"/> 
                </td>
                <td>
                    Digital VOM Meter
                </td>
                <td>
                    <input type="checkbox" name="C2RT_9" class="chkCRT2"/>
                </td>
                <td>
                    Cell Phone
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_4" class="chkCRT2"/>
                </td>
                <td>
                    Corded Masonry Drill Hammer
                </td>
                <td>
                    <input type="checkbox" name="C2RT_10" class="chkCRT2"/>
                </td>
                <td>
                    Digital Camera
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_5" class="chkCRT2"/>
                </td>
                <td>
                    Fish Tape
                </td>
                <td>
                    <input type="checkbox" name="C2RT_11" class="chkCRT2"/>
                </td>
                <td>
                    6’ Ladder
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RT_6" class="chkCRT2"/>
                </td>
                <td>
                    Cable Testers
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Experience:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RE_1" class="chkCRT2"/>
                </td>
                <td colspan="3">
                    All Experience required for Helper Techs (C1)
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RE_2" class="chkCRT2"/>
                </td>
                <td colspan="3">
                    Do you have experience with multiple cable installation methods (installing in conduit using fish tape, pull string, or shop vac)?
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RE_3" class="chkCRT2"/>
                </td>
                <td colspan="3">
                    Do you have experience installing sleeves, firestops, J-Hooks, Panduit, and Wire Mold raceways?
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C2RE_4" class="chkCRT2" />
                </td>
                <td colspan="3">
                    Do you have experience with voice and data equipment room installation and build out (ex: data cabinets and racks, plywood, 66/110 blocks, patch panels, etc)?
                </td>
            </tr>
            <tr>
                <td>
                    <input name="CRT" type="radio" id="CRT3" value="3"/>
                </td>
                <td colspan="5">
                    Black Box Cabling &ndash;<strong> Lead (C3)</strong>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Tools:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C3RT_1"  class="chkCRT3"/>
                </td>
                <td>
                    All tools required for Advanced Techs (C2)
                </td>
                <td>
                    <input type="checkbox" name="C3RT_3" class="chkCRT3"/>
                </td>
                <td>
                    Personal Computer Laptop
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C3RT_2"  class="chkCRT3"/>
                </td>
                <td>
                    Fiber Optic dB Loss Meter &amp; Light Source
                </td>
                <td>
                    <input type="checkbox" name="C3RT_4" class="chkCRT3"/>
                </td>
                <td>
                    Fiber Optic Termination Kit
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5" class="subline">
                    Required Experience:
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C3RE_1" class="chkCRT3"/>
                </td>
                <td colspan="3">
                    All Experience required for Advanced Techs (C2)
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C3RE_2" class="chkCRT3"/>
                </td>
                <td colspan="3">
                    Do you have experience in single-mode and multi-mode termination and testing?
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td class="chkbox">
                    <input type="checkbox" name="C3RE_3" class="chkCRT3"/>
                </td>
                <td colspan="3">
                    Do you have experience using a laptop for basic switch configuration (HyperTerminal, Terra Term, etc.)?
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="btnFormRow">
                        <input type="button" value="Cancel" class="link_button_popup" id="cmdBlackBoxComeback" /> 
                        <input type="button" value="Submit" class="link_button_popup" id="cmdBlackBoxSubmit"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>