<style>
    .formRow2{
        padding-left: 20px;
    }
</style>
<form id="frmComputerFT" name="frmComputerFT" >

    <div style="color: #1F497D;font-weight: bold;text-align: center;">Computers Plus Sales and Service Certification Quiz</div>
    <div id="computerPTForm" style="padding: 20px;overflow-x:hidden;overflow-y: auto;">
        <div id="computerPTTitle" style="color: #1F497D;padding-top: 15px;">
            Complete this short quiz to show Computer Plus that you understand their work order processes and requirements. After answering all of the questions, click the ‘Submit’ button at the bottom of the screen to view your results.
            <br>
            <br>
            Note: A passing score of 100% is required to become Computer Plus Certified. There is no limit to the number of times you may re-take this quiz.
        </div>
        <hr style="margin-top: 10px;background-color: #1F497D;">
        <div id="computerPTInformation" style="font-size: 15px;">
            <div style="text-align: center;">
                <div style="font-weight: bold;font-size: 30px;padding-top: 20px;">Certification Program</div>
                <div style="font-size: 25px;color: #376092;padding-top: 20px;">Computer Plus Sales and Service</div>
                <img src="/widgets/images/ComputerPlusTest/1.PNG" />
                <div style="font-size: 30px;padding-top: 10px;">Information and Protocol for</div>
                <div style="font-size: 30px;padding-top: 10px;">Technician Dispatches</div>
                <hr style="margin-top: 10px;background-color: #1F497D;">
                <div style="font-size: 30px;padding-top: 10px;">Company Information</div>
            </div>
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div style="font-weight: bold;">Overview:</div>
                        <div style="padding-left: 10px;">
                            <div style="padding-top: 7px;">Computer Plus offers many service opportunities:</div>
                            <div style="text-decoration: underline;padding-top: 15px;">PCs</div>
                            <div>-PC - Desktop / Laptop</div> <!--13675-->
                            <div>-Brands like Lenovo</div>
                            <div style="text-decoration: underline;padding-top: 15px;">Servers</div>
                            <div style="text-decoration: underline;padding-top: 15px;">Printers</div>
                            <div>-Lasers – HP, Lexmark, IBM, Brother</div>
                            <div>-Plotters – HP, IBM</div>
                            <div>-Dot Matrix – PrintTek, Printronix, Toshiba Tec</div>
                            <div>-Thermals – Zebra, Datamax, Sato</div>
                        </div>
                    </td>
                    <td>
                        <img src="/widgets/images/ComputerPlusTest/2.png" />   
                        <br>
                        <img style="padding-left: 200px;" src="/widgets/images/ComputerPlusTest/3.png" />  
                    </td>
                </tr>
            </table>
            <div style="padding-left: 10px;">In addition to break/fix opportunities Computer Plus also does project roll outs. In order to complete work orders for C+, you must understand and adhere to their service expectations. SLAs or expected ETA for these calls can range from a required 4 hour onsite response time to Next Business Day arrival.</div>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-size: 30px;padding-top: 10px;text-align: center;">Work Order Bids and Acceptance</div>
            <div style="font-size: 20px;padding-top: 10px;">
                When reviewing and bidding on Computer Plus work orders, the following is implied and expected:
            </div>
            <table width="100%">
                <tr>
                    <td>
                        <ul>
                            <li style="list-style:outside;margin: 15px;">You are familiar/experienced with the equipment to be repaired (Manuals will not be provided by Computer Plus or Field Solutions.)</li>
                            <li style="list-style:outside;margin: 15px;">The work order is to include a trip to diagnose and a second trip to installed parts if needed. The bid amount is to cover both of these trips under the same work order.</li>
                <li style="list-style:outside;margin: 15px;">Any visits required beyond a second trip to the site will be increased by half the original agreed bid amount and will be paid within the same work order.</li>
                <li style="list-style:outside;margin: 15px;">Computer Plus clients have an SLA response time from 4hrs up to Next Business Day. The times you can go onsite are reflected on the work order within the Start and End Time (and date). The closer you can arrive to the listed start time, the better.</li>
                        </ul>
                    </td>
                    <td align="right" valign="top">
                        <img src="/widgets/images/ComputerPlusTest/4.png" />
                    </td>
                </tr>
            </table>

            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="text-align: center;">
                <div style="font-size: 30px;padding-top: 10px;">Dress Code is Business Casual</div>
                <div style="font-size: 30px;padding-top: 10px;">on ALL Dispatches</div>
            </div>
            <table width="100%">
                <tr>
                    <td>
                        <img src="/widgets/images/ComputerPlusTest/5.png" />
                    </td>
                    <td width="50%">
                        <ul style="font-weight: both;font-size: 25px;">
                            <li style="list-style:outside;margin: 15px;">Nice Shirt, no logos</li>
                            <li style="list-style:outside;margin: 15px;">Slacks or Khaki’s Preferred</li>
                            <li style="list-style:outside;margin: 15px;">No ripped jeans or t-shirts</li>
                            <li style="list-style:outside;margin: 15px;">No hats or sunglasses</li>
                            <li style="list-style:outside;margin: 15px;">No sneakers or sandals</li>
                        </ul>
                    </td>
                    <td>
                        <img src="/widgets/images/ComputerPlusTest/6.png" />
                    </td>
                </tr>
            </table>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-size: 30px;padding-top: 10px;">Required Tools</div>
            <table width="100%">
                <tr>
                    <td width="70%">
                        <div style="font-weight: both;">Each job has general tools that are required for the call. Refer to your work order for any required tools that might be specifically needed for that job. Basic requirement is: PC/Printer Tool Kit.</div>
                        <div style="font-weight: both;padding-top: 40px;">Technicians that cannot complete a job because they did not bring the required tools will NOT be paid for the dispatch.</div>
                        <div style="font-weight: both;padding-top: 40px;">Independent of the project specific tools, tech must bring the following items to ALL Dispatches:</div>
                        <ul>
                            <li style="list-style:outside;margin: 15px;">Cell Phone</li>
                            <li style="list-style:outside;margin: 15px;">Printed WO Document</li>
                            <li style="list-style:outside;margin: 15px;">Required Signature Page</li>
                        </ul>
                    </td>
                    <td>
                        <img style="padding-left: 100px;" src="/widgets/images/ComputerPlusTest/7.png" />
                        <br><img src="/widgets/images/ComputerPlusTest/8.png" />
                        <br><img style="padding-left: 100px;"  src="/widgets/images/ComputerPlusTest/9.png" />
                    </td>
                </tr>
            </table>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-weight: both;font-size: 30px;text-align: center;padding-top: 10px;">Technician Pre-Arrival Procedures</div>
            <table width="100%">
                <tr>
                    <td>
                        <img src="/widgets/images/ComputerPlusTest/10.png" />
                        <img style="padding-left: 120px;" src="/widgets/images/ComputerPlusTest/11.png" />
                    </td>
                    <td width="70%">
                        
                        <div style="padding-left: 10px;">
                            <div style="text-decoration: underline;">WORK ORDER AND DOCUMENTS:</div>
                            <ul>
                                <li style="list-style:outside;margin: 15px;">As the assigned technician, you should make sure you have reviewed the entire work order carefully before arriving onsite.</li>
                                <li style="list-style:outside;margin: 15px;">While reviewing your work order, make sure to print any and all documents listed under the blue link named “Project Documents”.</li>
                                <li style="list-style:outside;margin: 15px;">You will find a required signature page under the Project Documents tab that is required for EVERY Computer Plus work order.</li>
                                <li style="list-style:outside;margin: 15px;">Setting your ETA with Computer Plus is REQUIRED. They should always be notified of your ETA for the job. It will be specified on your work order as to whether it is REQUIRED for you to contact the End User with your ETA or if that is PROHIBITED and you should contact Computer Plus direct only.</li>
                                <li style="list-style:outside;margin: 15px;">In many cases parts have been sent onsite, so when calling to report your ETA make sure to verify whether parts have been shipped and what their arrival time is supposed to be.</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-size: 30px;padding-top: 10px;text-align: center;">Onsite Communication</div>
            <ul>
                <li style="list-style:outside;margin: 15px;">When arriving onsite you should ALWAYS check in with the Computer Plus Dispatcher.</li>
                <li style="list-style:outside;margin: 15px;">Once you have checked in, you should locate any parts that have been sent onsite.</li>
                <li style="list-style:outside;margin: 15px;">Contact Computer Plus IMMEDIATELY if the parts are damaged upon arrival.</li>
                <li style="list-style:outside;margin: 15px;">Technicians should then proceed with the repair.</li>
                <li style="list-style:outside;margin: 15px;">The unit should be repaired to the end user’s satisfaction before you leave the site.</li>
                <li style="list-style:outside;margin: 15px;">If you are unable to finish the repair because you need parts then you will order parts by calling the Dispatcher.</li>
                <li style="list-style:outside;margin: 15px;">If you do not have part numbers, try to locate them yourself online. If you cannot, then you need to call Tech Support to get the part numbers and then proceed to call Dispatch to order the parts.</li>
                <li style="list-style:outside;margin: 15px;">Technicians should always call Dispatch with an update before leaving the site.</li>
            </ul>
            <div style="text-align: center;"><img src="/widgets/images/ComputerPlusTest/12.png" /></div>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-size: 30px;padding-top: 10px;text-align: center;">Parts Requirements</div>
            <ul>
                <li style="list-style:outside;margin: 15px;">If additional part(s) are needed – you would request those through Dispatch (if you cannot find the part # you call Tech Support to get the part number first).</li>
                <li style="list-style:outside;margin: 15px;">Parts should then arrive onsite on the Next Business Day by 3pm. You will be expected to return to the site by that time to install the part(s).</li>
                <li style="list-style:outside;margin: 15px;">If you cannot be onsite the Next Business Day to install the additional parts, notify Computer Plus Dispatch IMMEDIATELY when you ORDER THE PARTS so that they may make the necessary adjustments.</li>
                <li style="list-style:outside;margin: 15px;">These adjustments may include re - assigning the call to someone else or making arrangements with the End User in regards to the expected ETA.</li>
                <li style="list-style:outside;margin: 15px;">If you find that the parts that were shipped were damaged during transit you must call the Computer Plus Dispatcher IMMEDIATELY to report it so you are not held responsible.</li>
                <li style="list-style:outside;margin: 15px;">No used parts or unused parts are to ever be left onsite! There are no exceptions to this rule. Leaving parts onsite or loss of parts will be at the tech’s expense and you will NOT be paid for the work order.</li>
            </ul>
            <div style="text-align: center;"><img src="/widgets/images/ComputerPlusTest/13.png" /></div>
            <hr style="margin-top: 10px;background-color: #1F497D;">
            <div style="font-size: 30px;padding-top: 10px;text-align: center;">
                <table width="100%">
                    <tr>
                        <td align="right">
                            <img src="/widgets/images/ComputerPlusTest/14.png" />
                        </td>
                        <td width="45%">
                            Completion Requirements
                        </td>
                        <td align="left">
                            <img src="/widgets/images/ComputerPlusTest/14.png" />
                        </td>
                    </tr>
                </table>
            </div>
            <ul>
                <li style="list-style:outside;margin: 15px;">Once you have completed the repair you MUST contact Computer Plus Dispatch to notify them of your departure BEFORE YOU LEAVE THE SITE.</li>
                <li style="list-style:outside;margin: 15px;">The required signature page should be filled out and then you must return it by attaching it to your Field Solutions work order (or there is a fax option as well if needed). It must include the End Users signature before the work order will be approved.</li>
                <li style="list-style:outside;margin: 15px;">All work orders must be closed on the FieldSolutions platform within 24 hours of job completion (No later than Next Business Day). Failure to close your work order with proper notes and include the signature page will result in delayed or non-payment of your work order.</li>
                <li style="list-style:outside;margin: 15px;">Any parts such as fusers, shuttles or any other part that may have a core are to be returned promptly to Computer Plus via the provided return air bill. If you have a question on whether or not a part should be returned you should contact Computer Plus Dispatch immediately.</li>
                <li style="list-style:outside;margin: 15px;">Parts should be packaged for shipping properly to avoid breaking during shipment.</li>
                <li style="list-style:outside;margin: 15px;">Any parts that break because a tech fails to ship them back properly that were required to be returned to Computer Plus will be deducted from the tech’s final pay.</li>
            </ul>
            <div style="padding-top: 10px;text-align: center;">
                <input type="button" value="Continue" id="cmdComputerPTContinue" class="link_button middle_button"/>
            </div>
        </div>

        <div style="display: none;" id="computerPTFormAnswer">
            <div class="verdana2bold">1. When placing a bid on Computer Plus work orders, the client offer $ amount is to cover…</div>
            <div class="formRow2">
                <div><label><input id="question1" name="question1" value="1"  type="radio">a. 1 trip (diagnose only)</label></div>
                <div><label><input id="question1" name="question1" value="2"  type="radio">b. As many as needed until the job is completed</label></div>
                <div><label><input id="question1" name="question1" value="3"  type="radio">c. 2 trips (1 to diagnose and 1 to repair if parts are needed)</label></div>
            </div>
            <br />
            <div class="verdana2bold">2. When closing out a work order for Computer Plus what document is required to be returned?</div>
            <div class="formRow2">        
                <div><label><input id="question2" name="question2" value="1"  type="radio">a. The FieldSolutions work order signature page</label></div>
                <div><label><input id="question2" name="question2" value="2"  type="radio">b. The Computer Plus Signature Page</label></div>
                <div><label><input id="question2" name="question2" value="3"  type="radio">c. There is no documentation required for return</label></div>
            </div>
            <br />
            <div class="verdana2bold">3. It is expected when you accept a Computer Plus work order that…</div>
            <div class="formRow2">        
                <div><label><input id="question3" name="question3" value="1"  type="radio">a. You are familiar with the equipment to be repaired</label></div>
                <div><label><input id="question3" name="question3" value="2"  type="radio">b. You are able to make the repair without parts</label></div>
                <div><label><input id="question3" name="question3" value="3"  type="radio">c. You will have to order parts to finish the repair</label></div>
            </div>
            <br />
            <div class="verdana2bold">4. The Computer Plus signature page is found…</div>
            <div class="formRow2">        
                <div><label><input id="question4" name="question4" value="1"  type="radio">a. In an email with an attachment</label></div>
                <div><label><input id="question4" name="question4" value="2"  type="radio">b. Onsite</label></div>
                <div><label><input id="question4" name="question4" value="3"  type="radio">c. Under the "Project Documents" Link in your work order  </label></div>
            </div>
            <br />
            <div class="verdana2bold">5. Who should be notified of your ETA onsite?</div>
            <div class="formRow2">        
                <div><label><input id="question5" name="question5" value="1"  type="radio">a. Field Solutions ONLY</label></div>
                <div><label><input id="question5" name="question5" value="2"  type="radio">b. Computer Plus ONLY</label></div>
                <div><label><input id="question5" name="question5" value="3"  type="radio">c. Computer Plus and possibly the End User if it is indicated on the work order</label></div>
            </div>
            <br />
            <div class="verdana2bold">6. If you find the parts that have been sent onsite are damaged you should…</div>
            <div class="formRow2">        
                <div><label><input id="question6" name="question6" value="1"  type="radio">a. Install the damaged part</label></div>
                <div><label><input id="question6" name="question6" value="2"  type="radio">b. Call Computer Plus Dispatcherand notify them immediately</label></div>
                <div><label><input id="question6" name="question6" value="3"  type="radio">c. Leave the site</label></div>
            </div>
            <br />
            <div class="verdana2bold">7. If parts need to be ordered you should …</div>
            <div class="formRow2">        
                <div><label><input id="question7" name="question7" value="1"  type="radio">a. Call tech support if assistance is needed with part numbers, then call the Computer Plus Dispatcher to order required parts</label></div>
                <div><label><input id="question7" name="question7" value="2"  type="radio">b. Call the manufacturer to order the parts</label></div>
                <div><label><input id="question7" name="question7" value="3"  type="radio">c. Instruct the End User to order the parts</label></div>
            </div>
            <br />
            <div class="verdana2bold">8. Parts should be left onsite when the repair is complete.</div>
            <div class="formRow2">        
                <div><label><input id="question8" name="question8" value="1"  type="radio">a. ALWAYS</label></div>
                <div><label><input id="question8" name="question8" value="2"  type="radio">b. NEVER</label></div>
                <div><label><input id="question8" name="question8" value="3"  type="radio">c. SOMETIMES</label></div>
            </div>
            <br />
            <div class="verdana2bold">9. The technician is expected to be onsite to install additional parts…</div>
            <div class="formRow2">        
                <div><label><input id="question9" name="question9" value="1"  type="radio">a. The following week</label></div>
                <div><label><input id="question9" name="question9" value="2"  type="radio">b. When the tech feels like it</label></div>
                <div><label><input id="question9" name="question9" value="3"  type="radio">c. The Next Business Day</label></div>
            </div>
            <br />
            <div class="verdana2bold">10. What are acceptable ways to return the Computer Plus Signature Page?</div>
            <div class="formRow2">        
                <div><label><input id="question10" name="question10" value="1"  type="radio">a.	By faxing before you leave site and/or attached to the work order on FieldSolutions Platform</label></div>
                <div><label><input id="question10" name="question10" value="2"  type="radio">b.	Emailing them to the client contact</label></div>
                <div><label><input id="question10" name="question10" value="3"  type="radio">c.	Mailing the form back with the return parts</label></div>
            </div>
            <br />
            <div class="verdana2bold">11. Where can you find the required timeframe for arrival on a Computer Plus job?</div>
            <div class="formRow2">        
                <div><label><input id="question11" name="question11" value="1"  type="radio">a.	In the work description box</label></div>
                <div><label><input id="question11" name="question11" value="2"  type="radio">b.	In the Start and End time boxes</label></div>
                <div><label><input id="question11" name="question11" value="3"  type="radio">c.	In the attached documentation</label></div>
            </div>
            <br />
            <div class="verdana2bold">12. Onsite Communication requires that you…</div>
            <div class="formRow2">        
                <div><label><input id="question12" name="question12" value="1"  type="radio">a.	Check in upon arrival, check out before you leave site</label></div>
                <div><label><input id="question12" name="question12" value="2"  type="radio">b.	Check in only</label></div>
                <div><label><input id="question12" name="question12" value="3"  type="radio">c.	Contact tech support on as needed basis only</label></div>
            </div>
            <br />
            <div class="verdana2bold">13. If you do not know the part #’s for the parts needed onsite you should…..</div>
            <div class="formRow2">        
                <div><label><input id="question13" name="question13" value="1"  type="radio">a.	Write down the information you do have and call into the helpdesk to order by name</label></div>
                <div><label><input id="question13" name="question13" value="2"  type="radio">b.	Request catalogue from the end client</label></div>
                <div><label><input id="question13" name="question13" value="3"  type="radio">c.	Call Tech Support to get the part numbers</label></div>
            </div>
            <br />
            <div class="verdana2bold">14. Work Orders should be closed out on the FieldSolutions website within…</div>
            <div class="formRow2">        
                <div><label><input id="question14" name="question14" value="1"  type="radio">a.	24 hours from job completion</label></div>
                <div><label><input id="question14" name="question14" value="2"  type="radio">b.	24 hours from your arrival onsite</label></div>
                <div><label><input id="question14" name="question14" value="3"  type="radio">c.	48 hours from job completion</label></div>
            </div>
            <br />
            <div class="verdana2bold">15. What tools do you need to bring with you onsite?</div>
            <div class="formRow2">        
                <div><label><input id="question15" name="question15" value="1"  type="radio">a.	Basic PC/Printer tool kit</label></div>
                <div><label><input id="question15" name="question15" value="2"  type="radio">b.	Cell Phone</label></div>
                <div><label><input id="question15" name="question15" value="3"  type="radio">c.	Any other tools listed in the work order ticket</label></div>
                <div><label><input id="question15" name="question15" value="4"  type="radio">d.	All of the above</label></div>
            </div>
            <br />
            <div class="formBoxFooter" style="text-align: center;">
                <div><input id="cmdcomputerFTSubmit" name="cmdcomputerFTSubmit" value="Submit" class="link_button middle_button" type="button" /></div>
            </div>
        </div>          

    </div>   
    <div style="display: none;color: #1F497D;padding: 15px;" id="computerPTPass">
        <div class="verdana2bold">Congratulations! You've passed with a score of 100%. 
            <br />
            <div class="verdana2bold">If you would like to review the Reading Material at any point in the future, just click on the Computer Plus Certification link in the left sidebar of the FieldSolutions Control Panel or in Section 7 of your Technician Profile.
            </div>
        </div>
    </div>
    <div style="display: none;padding: 15px;" id="computerPTFail">
        <div class="verdana2bold" style="color: #1F497D;">Oops. You scored <span id="computerFTRate"></span>. You must score 100% to pass. <a href="javascript:;" id="cmdComputerComeback">Click here</a> to retake the Computer Plus Certification Quiz.
        </div>
    </div>
    <script>
        jQuery("#computerPTForm").height(jQuery("#comtantPopupID").height() - 60); 
        jQuery("#comtantPopupID").css("height","auto");
    </script>
</form> 