
<div style="text-align:center;font-size: 15px;font-weight: bold;">Copier Skills Assessment</div>
<?php if (!$this->post) { ?>
    <?php if (!empty($this->Questions) && $this->allowDoTheQuiz==1) { ?>
        <div style="overflow-x: hidden;overflow-y: auto;height: <?= $this->allowDoTheQuiz==1?"300px":"200px" ?>;padding: 15px;">
        <br>
        <br>
        <div>Completing this skills assessment will  make you more marketable to FieldSolutions’ clients looking for technicians with Copier service experience. The first four questions are designed to gauge your level and range of experience, and the next nine questions are a basic assessment of your copier service knowledge. A passing score is 7/9. If you do not pass, you will be able to re-take this assessment once.</div>
        <br>
        <br>
        <?php
        if (!empty($this->Questions)) {
            foreach ($this->Questions as $i => $question) {
                ?>
                <div class="QuestionIdCopiseSkill" questionid="<?= $question['id'] ?>" style="padding-left: 5px;">
                    <div><?= $i + 1 . ') ' . $question['descr'] ?></div>
                    <?php
                    $api = new Core_Api_TechClass();
                    $itemsQuetion = $api->getItemsOfQuestion($question['id']);
                    $techAnswerQuestion = $api->getItemsOfQuestionWithTech($this->techID,$question['id']);
                    //print_r($techAnswerQuestion);
                    //($this->techID, $item['id']);
                    if (!empty($itemsQuetion)) {
                        foreach ($itemsQuetion as $j => $itemQuestion) 
                        {
                            $itemsQuetionId = $itemQuestion['id'];
                            $is_checked=0;       
                            foreach($techAnswerQuestion as $k=>$techAnswerItem)
                            {
                                if($techAnswerItem['ass_question_item_id']==$itemsQuetionId)
                                {
                                    $is_checked=1;
                                    break;
                                }
                            }          
                            $checked = $is_checked == 1 ? "checked='true'" : "";           
                            ?>
                            <div style="padding-left: 15px;">
                                
                                <?php if ($question["question_item_type_id"] == "1") { ?>
                                    <input class="QuestionIdCopiseSkillItem" <?php echo $checked;?> itemtype="<?= $question["question_item_type_id"] ?>" questionitemid="<?= $itemQuestion['id'] ?>" type="radio" name="questionitem<?= $i ?>" />
                                <?php } else { ?>
                                    <input class="QuestionIdCopiseSkillItem" <?php echo $checked;?> itemtype="<?= $question["question_item_type_id"] ?>" type="checkbox" questionitemid="<?= $itemQuestion['id'] ?>" />
                                <?php } ?>  
                                <?= $itemQuestion['prefix'] ?>    
                                <?= $itemQuestion['descr'] ?></div>    
                            <?php
                        }
                    }
                    ?>
                </div>    
                <br>
                <br>
            <?php }
            ?>

            <?php
        } else {
            echo "Not records display.";
        }
        ?>
    </div>
 
        <div style="float: right;padding-right: 30px;padding-top: 4px;"><input class="link_button middle2_button" type="button" id="cmdSubmitCopierSkills" value="Submit" /></div>
        
        <div style="clear: both"></div>   
    <?php } else { ?>
        <br/>
        <br/>
        <div style="text-align: center;">You did not pass the Copier Skills Assessment and have exceeded the number of times allowed.</div>
        
    <?php }  ?>
    <?php
} else {
    if ($this->passed) {
        ?>
        <div style="padding: 15px;">
            <br>
            <br>
            <div>Congratulations, you have passed the Copier Skills Assessment!</div>
            <br>
            <br>
            <div>Your Score:         <?= $this->yourScrore ?>/<?= $this->totalScrore ?></div>
            <div>Passing Score:   <?= $this->passedScrore ?>/<?= $this->totalScrore ?></div>
            <br>
            <br>
            <div>If you wish to change your answers, please <a href="javascript:;" class="cmdCopiesSkillBack" >click here.</a></div> 
        </div>
    <?php } else { ?>   
        <div style="padding: 15px;">
            <br>
            <br>
            <div>You did not pass the Copier Skills Assessment.</div>
            <br>
            <br>
            <div>Your Score:         <?= $this->yourScrore ?>/<?= $this->totalScrore ?></div>
            <div>Passing Score:   <?= $this->passedScrore ?>/<?= $this->totalScrore ?></div>
            <br>
            <br>
            <?php if($this->tryingtimes == 1 ) { ?>
            <div>You are only allowed to re-take this assessment once. To re-take the Copier Skills Assessment, please <a href="javascript:;" class="cmdCopiesSkillBack" >click here</a>. </div>
        </div>
        <?php  } else  if($this->tryingtimes == 2 ) { ?>     
            <div>You have tried this assessment 2 times.</div>
        <?php }?>
<?php } } ?>

