<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">

    <tr><td>WO docs: <?php if(count($this->files)===0){echo 'no documents';}?></td></tr>
    <?php if ( !empty($this->files) ) {
    foreach($this->files as $f){
    ?>
    <tr>
        <td>
            <a class="ajaxLink" href="<?=$this->hostNoSSL?>/widgets/dashboard/do/file-wos-documents-download/filename/<?=base64_encode(urlencode($f->path))?>/<?= ltrim($f->path, '/') ?>"><?= ltrim($f->path, '/') ?></a>
        </td>
    </tr>
    <?php }}?>
    <tr><td>Project Docs: <?php if(count($this->prjFiles)===0 && count($this->prjExtFile)===0){echo 'no documents';}?></td></tr>
    <?php if ( !empty($this->prjFiles) ) {
    foreach($this->prjFiles as $f){
    ?>
    <tr>
        <td>
            <a class="ajaxLink" href="<?=$this->hostNoSSL?>/widgets/dashboard/do/file-project-documents-download/filename/<?=base64_encode(urlencode($f->path))?>/<?= ltrim($f->path, '/') ?>"><?= ltrim($f->path, '/') ?></a>
        </td>
    </tr>
    <?php }}?>
    
    <?php if ( !empty($this->prjExtFile) ) {
    foreach($this->prjExtFile as $f){
    ?>
    <tr>
        <td>
            <a class="ajaxLink" href="<?=$f['External_Files']?>"><?= $f['External_Files'] ?></a>
        </td>
    </tr>
    <?php }}?>
</table>

