<form name="fWOrdForm" id="fWOrdForm" method="get" action="/">
<div class="tCenter" id="fWOrdMessage"></div>
<div class="tCenter">
    <img src="/widgets/images/wait_small.gif" class="displayNone" id="fWOimage" />
</div>
<table class="fWOrd_popup" width="100%">
    <col width="10%" />
    <col width="*" />
    <tbody>
        <tr>
            <td class="tRight">WIN#</td>
            <td><input class="inputtext" type="text" name="fWOrdWIN" id="fWOrdWIN" /></td>
        </tr>
        <tr>
            <td class="tRight"><nobr>Client Work Order #</nobr></td>
            <td><input class="inputtext" type="text" name="fWOrdClientWO" id="fWOrdClientWO" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2" style="padding: 0;">
                <input type="button" class="link_button_popup" onclick="roll.hide();" value="Cancel" />
                <input type="submit" class="link_button_popup" onclick="findWorkOrder.doFind(); return false;" value="Ok" />
            </td>
        </tr>
    </tbody>
</table>
</form>
