<style>
    .formRow2{
        padding-left: 20px;
    }
    #frmGGETechEvaluation{
        color: #1F497D;
    }
    #GGETechEvaluationFormAnswer div{
        margin-top: 10px;
    }
    #GGETechEvaluationFormAnswer .tableanswer div{
        margin-top: 0px;
    }
    .tableanswer td {
        padding-top: 10px;
    }
    .tableanswer td div {
        padding-right: 10px;
    }
    #fancyboxbox-loading {
        background: none repeat scroll 0 0 transparent;
        cursor: pointer;
        display: none;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 6000;
    }
    #fancyboxbox-loading div {
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 40px;
    }
    .answerpadding
    {
        padding-left:20px;
    }

    .imagepadding
    {
        vertical-align:top;
    }

</style>

<form id="frmGGETechEvaluation" name="frmGGETechEvaluation" >
    <div style="display: none;" id="fancyboxbox-loading">
        <div>
            <img src="/widgets/images/wait_small.gif" />
        </div>
    </div>
    <div>
        <table width="100%">
            <tr>
                <td  style="padding-left:20px;width: 20%;">
                    <div id="GGETechEvaluationTimeLeft" style="display: none;">
                        Time Left: <span id="GGETechEvaluationTimeLeftValue">15:00</span>
                    </div>
                </td>
                <td align="center" style="padding-right: 20%;">
                    <div style="color: #1F497D;font-weight: bold;text-align: center;">GGE Tech Evaluation</div> 
                </td>
            </tr>
        </table>
    </div>
    <div id="GGETechEvaluationForm" style="padding: 20px;padding-top: 0px;overflow-x:hidden;overflow-y: auto;padding-bottom: 1px;">
        <?php
        if ($this->allowed < 2 && $this->status["GGE1stAttemptStatus"] != "Pass" && $this->status["GGE2ndAttemptStatus"] != "Pass")
        {
            ?>
            <?php
            if ($this->allowed == 0 || $this->status["GGE1stAttemptStatus"] != "Fail")
            {
                ?>
                <div id="GGETechEvaluationInformation" style="font-size: 15px;">
                    <br>
                    <div style="text-align: left;">
                        GGE Techs is a dispatch unit with installation and maintenance calls all over the United States, focused on Broadband internet services; installing, integrating, and repairing issues with internet links and/or the routers they connect to. GGE Techs does not dispatch for PC/server support or repairs.</div> 
                    <br>
                    <div>
                        This test evaluates the knowledge and credibility of potential technicians that GGE Techs will dispatch to their sites. It is not intended to be a training document, nor was it created to teach technicians the finer details of GGE Techs&rsquo; needs. Its sole purpose is to protect GGE Techs by vetting technicians&rsquo; knowledgebase before they are dispatched. 
                    </div> 
                    <br>
                    <div>
                        Note: When you click the 'Continue to Evaluation' button, you will have only <span style="text-decoration: underline;font-weight: bold;">15 minutes</span> to complete this  evaluation. Do not close the evaluation or the browser window until you have submitted your answers. You must answer at least <span style="text-decoration: underline;font-weight: bold;">13/20</span> (65%) <span style="text-decoration: underline;font-weight: bold;">multiple choice</span> questions correctly to pass.
                    </div>
                    <br>
                    <div>
                        Your score will be available immediately after you complete this evaluation, at which time you may try again if necessary. <span style="text-decoration: underline;font-weight: bold;">Remember, you are allowed only 1 retake</span>.
                    </div>
                    <div style="padding-top: 44px;">
                        <div style="float: left;">Good luck!</div> 
                        <div style="float: right;"><input type="button" value="Continue to Evaluation" id="GGETechEvaluationContinue" class="link_button middle_button"/></div>
                    </div>
                </div>
                <?
            } else
            {
                ?>
                <div id="GGETechEvaluationInformation" style="font-size: 15px;">
                    <br>
                    <div style="text-align: left;">
                        Score:  <?= $this->status["GGE1stAttemptScore"] ?> / 20
                    </div> 
                    <br>
                    <div>
                        Unfortunately you have not passed the GGE Tech Evaluation. A score of 13/20 is required to pass  this assessment. <span style="text-decoration: underline;font-weight: bold;">You have one attempt remaining</span>, and remember, there is a <span style="text-decoration: underline;font-weight: bold;">15 minute time limit</span>.
                    </div>
                    <br>
                    <div>
                        Click the button below to try again now or come back later when you&rsquo;re ready.
                    </div>
                    <div style="padding-top: 7px;">
                        <div style="float: left;">Good luck!</div> 
                        <br/>
                        <div style="padding-top: 7px;">Your FieldSolutions Team</div>
                        <div style="float: right;"><input type="button" value="Continue to Evaluation" id="GGETechEvaluationContinue" class="link_button middle_button"/></div>
                    </div>
                </div>
                <?
            }
            ?>
            <div style="display: none;" id="GGETechEvaluationFormAnswer">
                <hr style="margin-top: 10px;background-color: #1F497D;">
                <table width="100%" class="tableanswer">
                    <tr>
                        <td width="50%" valign="top">
                            <div>  
                                1. Which port should a Digital Subscriber Line plug into?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a1_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a1_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                                <input type="radio" name="a1_answer" value="c"/>&nbsp;&nbsp;C.<br/>
                                <input type="radio" name="a1_answer" value="d"/>&nbsp;&nbsp;D.<br/>
                                <input type="radio" name="a1_answer" value="e"/>&nbsp;&nbsp;E.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/1.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                2. What type of device is this?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a2_answer" value="a"/>&nbsp;&nbsp;A. Lock Box<br/>
                                <input type="radio" name="a2_answer" value="b"/>&nbsp;&nbsp;B. External Hard Drive<br/>
                                <input type="radio" name="a2_answer" value="c"/>&nbsp;&nbsp;C. Westell Router<br/>
                                <input type="radio" name="a2_answer" value="d"/>&nbsp;&nbsp;D. DSL Modem<br/>
                                <input type="radio" name="a2_answer" value="e"/>&nbsp;&nbsp;E. Power Distribution Box<br/>
                                <input type="radio" name="a2_answer" value="f"/>&nbsp;&nbsp;F. 56K Modem<br/>
                                <input type="radio" name="a2_answer" value="g"/>&nbsp;&nbsp;G. Fiber Optic Converter<br/>
                                <input type="radio" name="a2_answer" value="h"/>&nbsp;&nbsp;H. T1 Smart Jack<br/>
                                <input type="radio" name="a2_answer" value="i"/>&nbsp;&nbsp;I. Demark Box<br/>
                                <input type="radio" name="a2_answer" value="j"/>&nbsp;&nbsp;J. NID<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/2.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                3. Which registered jack(s) is used for Digital Subscriber Line?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a3_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a3_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/3.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                4. What are these numbered positions called?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a4_answer" value="a"/>&nbsp;&nbsp;A. Demarcation Terminals<br/>
                                <input type="radio" name="a4_answer" value="b"/>&nbsp;&nbsp;B. Transmission Pins<br/>
                                <input type="radio" name="a4_answer" value="c"/>&nbsp;&nbsp;C. Binding Posts<br/>
                                <input type="radio" name="a4_answer" value="d"/>&nbsp;&nbsp;D. DSL Lines<br/>
                                <input type="radio" name="a4_answer" value="e"/>&nbsp;&nbsp;E. Patch Panel<br/>
                                <input type="radio" name="a4_answer" value="f"/>&nbsp;&nbsp;F. 16K Muxed Lines<br/>
                                <input type="radio" name="a4_answer" value="g"/>&nbsp;&nbsp;G. Line ID numbers<br/>
                                <input type="radio" name="a4_answer" value="h"/>&nbsp;&nbsp;H. Cable Pairs<br/>
                                <input type="radio" name="a4_answer" value="i"/>&nbsp;&nbsp;I. 66 Block Punch Downs<br/>
                                <input type="radio" name="a4_answer" value="j"/>&nbsp;&nbsp;J. DSLAM Router Ports<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/4.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                5. Identify the "NID" from this picture.
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a5_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a5_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                                <input type="radio" name="a5_answer" value="c"/>&nbsp;&nbsp;C.<br/>
                                <input type="radio" name="a5_answer" value="d"/>&nbsp;&nbsp;D.<br/>
                                <input type="radio" name="a5_answer" value="e"/>&nbsp;&nbsp;E.<br/>
                                <input type="radio" name="a5_answer" value="f"/>&nbsp;&nbsp;F.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/6.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="2">
                            <div>
                                6. How many single strand(s) of wire does a "dry loop" digital subscriber line use to extend the modem from the installation point?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a6_answer" value="a"/>&nbsp;&nbsp;A. 1<br/>
                                <input type="radio" name="a6_answer" value="b"/>&nbsp;&nbsp;B. 2<br/>
                                <input type="radio" name="a6_answer" value="c"/>&nbsp;&nbsp;C. 3<br/>
                                <input type="radio" name="a6_answer" value="d"/>&nbsp;&nbsp;D. 4<br/>
                                <input type="radio" name="a6_answer" value="e"/>&nbsp;&nbsp;E. 5<br/>
                                <input type="radio" name="a6_answer" value="f"/>&nbsp;&nbsp;F. 6<br/>
                                <input type="radio" name="a6_answer" value="g"/>&nbsp;&nbsp;G. 7<br/>
                                <input type="radio" name="a6_answer" value="h"/>&nbsp;&nbsp;H. 8<br/>
                                <input type="radio" name="a6_answer" value="i"/>&nbsp;&nbsp;I. 9<br/>
                                <input type="radio" name="a6_answer" value="j"/>&nbsp;&nbsp;J. 10<br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td  valign="top" colspan="2">
                            <div>
                                7. If you were told that a newly installed "dry loop" DSL circuit could be found at position 2035, and upon entry to the phone room at a large facility you see well over 150 66blocks on the wall, the tag for 2035 is lying on the floor, and the circuit has not been extended.  How would you go about looking for this circuit?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a7_answer" value="a"/>&nbsp;&nbsp;A. Tone out the line<br/>
                                <input type="radio" name="a7_answer" value="b"/>&nbsp;&nbsp;B. Look for the pairs 2035<br/>
                                <input type="radio" name="a7_answer" value="c"/>&nbsp;&nbsp;C. Divide 2035 by 25, to get 81. Then count from left to right to get to the 81st block<br/>
                                <input type="radio" name="a7_answer" value="d"/>&nbsp;&nbsp;D. Look for the 66 block with the correct position for 2035<br/>
                                <input type="radio" name="a7_answer" value="e"/>&nbsp;&nbsp;E. Look for the bundle excluding the regular landline<br/>
                                <input type="radio" name="a7_answer" value="f"/>&nbsp;&nbsp;F. Look for a fresh looking tag with that number designation on it and probably a recent date as well<br/>
                                <input type="radio" name="a7_answer" value="g"/>&nbsp;&nbsp;G. Call the LEC that installed the circuit and get a detailed account of where they punched it down<br/>
                                <input type="radio" name="a7_answer" value="h"/>&nbsp;&nbsp;H. Trace the wire by its color code, as per international standards laid out in IEC 60228<br/>
                                <input type="radio" name="a7_answer" value="i"/>&nbsp;&nbsp;I. Divide 2035 by 66, to get 30. Then count from left to right to get to the 30th block<br/>
                                <input type="radio" name="a7_answer" value="j"/>&nbsp;&nbsp;J. Follow the leads from the demark for the DSL circuit<br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                8. Identify this tool.
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a8_answer" value="a"/>&nbsp;&nbsp;A. Toner used to locate signal produced by a signal generator<br/>
                                <input type="radio" name="a8_answer" value="b"/>&nbsp;&nbsp;B. UTP Stripper<br/>
                                <input type="radio" name="a8_answer" value="c"/>&nbsp;&nbsp;C. Cat 5 cable twister<br/>
                                <input type="radio" name="a8_answer" value="d"/>&nbsp;&nbsp;D. Ratchet Screw Driver<br/>
                                <input type="radio" name="a8_answer" value="e"/>&nbsp;&nbsp;E. RJ11 Crimper<br/>
                                <input type="radio" name="a8_answer" value="f"/>&nbsp;&nbsp;F. Variable Speed Hand Drill<br/>
                                <input type="radio" name="a8_answer" value="g"/>&nbsp;&nbsp;G. Tone Generator used to produce a signal for wire tracing<br/>
                                <input type="radio" name="a8_answer" value="h"/>&nbsp;&nbsp;H. Punch down tool for 66/110<br/>
                                <input type="radio" name="a8_answer" value="i"/>&nbsp;&nbsp;I. CAT 3 Wire Puller<br/>
                                <input type="radio" name="a8_answer" value="j"/>&nbsp;&nbsp;J. Lineman's handset<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/7.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                9. Identify this tool.
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a9_answer" value="a"/>&nbsp;&nbsp;A. Toner used to locate signal produced by a signal generator<br/>
                                <input type="radio" name="a9_answer" value="b"/>&nbsp;&nbsp;B. UTP Stripper<br/>
                                <input type="radio" name="a9_answer" value="c"/>&nbsp;&nbsp;C. Cat 5 cable twister<br/>
                                <input type="radio" name="a9_answer" value="d"/>&nbsp;&nbsp;D. RJ11 Crimper<br/>
                                <input type="radio" name="a9_answer" value="e"/>&nbsp;&nbsp;E. Ratchet Screw Driver<br/>
                                <input type="radio" name="a9_answer" value="f"/>&nbsp;&nbsp;F. Variable Speed Hand Drill<br/>
                                <input type="radio" name="a9_answer" value="g"/>&nbsp;&nbsp;G. Tone Generator used to produce a signal for wire tracing<br/>
                                <input type="radio" name="a9_answer" value="h"/>&nbsp;&nbsp;H. Punch down tool for 66/110<br/>
                                <input type="radio" name="a9_answer" value="i"/>&nbsp;&nbsp;I. CAT 3 Wire Puller<br/>
                                <input type="radio" name="a9_answer" value="j"/>&nbsp;&nbsp;J. Lineman's handset<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/8.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                10. Identify this tool.
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a10_answer" value="a"/>&nbsp;&nbsp;A. Toner used to locate signal produced by a signal generator<br/>
                                <input type="radio" name="a10_answer" value="b"/>&nbsp;&nbsp;B. UTP Stripper<br/>
                                <input type="radio" name="a10_answer" value="c"/>&nbsp;&nbsp;C. Cat 5 cable twister<br/>
                                <input type="radio" name="a10_answer" value="d"/>&nbsp;&nbsp;D. RJ11 Crimper<br/>
                                <input type="radio" name="a10_answer" value="e"/>&nbsp;&nbsp;E. Ratchet Screw Driver<br/>
                                <input type="radio" name="a10_answer" value="f"/>&nbsp;&nbsp;F. Variable Speed Hand Drill<br/>
                                <input type="radio" name="a10_answer" value="g"/>&nbsp;&nbsp;G. Tone Generator used to produce a signal for wire tracing<br/>
                                <input type="radio" name="a10_answer" value="h"/>&nbsp;&nbsp;H. Punch down tool for 66/110<br/>
                                <input type="radio" name="a10_answer" value="i"/>&nbsp;&nbsp;I. CAT 3 Wire Puller<br/>
                                <input type="radio" name="a10_answer" value="j"/>&nbsp;&nbsp;J. Lineman's handset<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/9.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                11. What does it mean when the DSL light is not lit on a modem that does have a DSL LED indicator, and the power LED is lit green?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a11_answer" value="a"/>&nbsp;&nbsp;A. The modem is not programmed correctly<br/>
                                <input type="radio" name="a11_answer" value="b"/>&nbsp;&nbsp;B. The firmware has locked up and the modem will restore with a reboot<br/>
                                <input type="radio" name="a11_answer" value="c"/>&nbsp;&nbsp;C. The modem needs factory reset<br/>
                                <input type="radio" name="a11_answer" value="d"/>&nbsp;&nbsp;D. The LED indicator has burned out<br/>
                                <input type="radio" name="a11_answer" value="e"/>&nbsp;&nbsp;E. The DSL line is disconnected or broken<br/>
                                <input type="radio" name="a11_answer" value="f"/>&nbsp;&nbsp;F. Nothing is connected to the LAN, and the modem has gone into sleep mode<br/>
                                <input type="radio" name="a11_answer" value="g"/>&nbsp;&nbsp;G. The power adapter has gone bad, and is not supplying enough power to produce signal<br/>
                                <input type="radio" name="a11_answer" value="h"/>&nbsp;&nbsp;H. The modem is configured in bridge mode<br/>
                                <input type="radio" name="a11_answer" value="i"/>&nbsp;&nbsp;I. Everything is working, no data is passing currently<br/>
                                <input type="radio" name="a11_answer" value="j"/>&nbsp;&nbsp;J. The modem is bad and needs replaced<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/10.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                12. What does it mean when your PC is configured with "Obtain an IP address automatically", and you received an IP address similar to the below picture?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a12_answer" value="a"/>&nbsp;&nbsp;A. That is the scheme that your router is pushing in dhcp<br/>
                                <input type="radio" name="a12_answer" value="b"/>&nbsp;&nbsp;B. DHCP is down. The OS is applying an APIPA address<br/>
                                <input type="radio" name="a12_answer" value="c"/>&nbsp;&nbsp;C. It means that the next available ip address on the system is obtained via DNS<br/>
                                <input type="radio" name="a12_answer" value="d"/>&nbsp;&nbsp;D. It is connected to a local private network<br/>
                                <input type="radio" name="a12_answer" value="e"/>&nbsp;&nbsp;E. The network has the ability to have 65,535 other hosts<br/>
                                <input type="radio" name="a12_answer" value="f"/>&nbsp;&nbsp;F. Nothing is connected to the LAN, and the modem has gone into sleep mode<br/>
                                <input type="radio" name="a12_answer" value="g"/>&nbsp;&nbsp;G. It is on the network ip 169.254.0.0<br/>
                                <input type="radio" name="a12_answer" value="h"/>&nbsp;&nbsp;H. It means the remainder of the octects can be deliberately given by DHCP<br/>
                                <input type="radio" name="a12_answer" value="i"/>&nbsp;&nbsp;I. Everything is working, no data is passing currently<br/>
                                <input type="radio" name="a12_answer" value="j"/>&nbsp;&nbsp;J. The device has picked up a "Public" IP address<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/11.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="2">
                            <div>
                                13. If you were told that your IP address should be configured for 99.58.130.154 with a subnet mask of 255.255.255.252, what is your gateway going to be?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a11_answer" value="a"/>&nbsp;&nbsp;A. 99.58.130.154<br/>
                                <input type="radio" name="a13_answer" value="b"/>&nbsp;&nbsp;B. 99.58.130.1<br/>
                                <input type="radio" name="a13_answer" value="c"/>&nbsp;&nbsp;C. This is a trick question, it&rsquo;s going to be whatever the administrator says<br/>
                                <input type="radio" name="a13_answer" value="d"/>&nbsp;&nbsp;D. There are multiple possibilities<br/>
                                <input type="radio" name="a13_answer" value="e"/>&nbsp;&nbsp;E. 10.10.10.1<br/>
                                <input type="radio" name="a13_answer" value="f"/>&nbsp;&nbsp;F. 99.58.130.155<br/>
                                <input type="radio" name="a13_answer" value="g"/>&nbsp;&nbsp;G. 192.168.1.1<br/>
                                <input type="radio" name="a13_answer" value="h"/>&nbsp;&nbsp;H. 255.255.255.255<br/>
                                <input type="radio" name="a13_answer" value="i"/>&nbsp;&nbsp;I. 99.58.130.153<br/>
                                <input type="radio" name="a13_answer" value="j"/>&nbsp;&nbsp;J. 255.255.255.251<br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td  valign="top" colspan="2">
                            <div>
                                14. What command would you use if you were taking your laptop off one device that is serving DHCP and then plugging it into another device that is also handing off DHCP, where you wanted to ensure that you pick up an IP address off the new device?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a14_answer" value="a"/>&nbsp;&nbsp;A. winipcfg<br/>
                                <input type="radio" name="a14_answer" value="b"/>&nbsp;&nbsp;B. ipconfig /flushdns<br/>
                                <input type="radio" name="a14_answer" value="c"/>&nbsp;&nbsp;C. ip address dhcp<br/>
                                <input type="radio" name="a14_answer" value="d"/>&nbsp;&nbsp;D. iprefresh<br/>
                                <input type="radio" name="a14_answer" value="e"/>&nbsp;&nbsp;E. ipconfig /all<br/>
                                <input type="radio" name="a14_answer" value="f"/>&nbsp;&nbsp;F. ip helper-address<br/>
                                <input type="radio" name="a14_answer" value="g"/>&nbsp;&nbsp;G. Dhcpflush<br/>
                                <input type="radio" name="a14_answer" value="h"/>&nbsp;&nbsp;H. ipconfig /renew<br/>
                                <input type="radio" name="a14_answer" value="i"/>&nbsp;&nbsp;I. IPRENEW<br/>
                                <input type="radio" name="a14_answer" value="j"/>&nbsp;&nbsp;J. ipconfig /registerdns<br/>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <div>
                                15. From the 3 pictures below, what is the correct cabling for consoling into a router?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a15_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a15_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                                <input type="radio" name="a15_answer" value="c"/>&nbsp;&nbsp;C.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/12.JPG" />
                            <img src="/widgets/images/GGETechEvaluation/13.JPG" />
                            <img src="/widgets/images/GGETechEvaluation/14.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                16. Assuming this picture is one end of an Ethernet cable, in which number order would you need to make the other end to have a cross-over cable?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a16_answer" value="a"/>&nbsp;&nbsp;A. 8,7,6,5,4,3,2,1<br/>
                                <input type="radio" name="a16_answer" value="b"/>&nbsp;&nbsp;B. 2,1,4,3,6,5,8,7<br/>
                                <input type="radio" name="a16_answer" value="c"/>&nbsp;&nbsp;C. 8,5,6,2,7,3,1,4<br/>
                                <input type="radio" name="a16_answer" value="d"/>&nbsp;&nbsp;D. 1,2,3,4,5,6,7,8<br/>
                                <input type="radio" name="a16_answer" value="e"/>&nbsp;&nbsp;E. 4,5,6,7,2,3,8,1<br/>
                                <input type="radio" name="a16_answer" value="f"/>&nbsp;&nbsp;F. 1,2,3,5,4,6,7,8<br/>
                                <input type="radio" name="a16_answer" value="g"/>&nbsp;&nbsp;G. 3,6,1,4,5,2,7,8<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/15.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                17. Which cable(s) can be used to extend a digital subscriber line inside of a building to the end point needed by the customer?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a17_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a17_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                                <input type="radio" name="a17_answer" value="c"/>&nbsp;&nbsp;C.<br/>
                                <input type="radio" name="a17_answer" value="d"/>&nbsp;&nbsp;D.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img style="width:100px" src="/widgets/images/GGETechEvaluation/16.JPG" />
                            <img style="width:100px" src="/widgets/images/GGETechEvaluation/17.JPG" />
                            <img style="width:100px" src="/widgets/images/GGETechEvaluation/18.JPG" />
                            <img style="width:100px" src="/widgets/images/GGETechEvaluation/19.JPG" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <div>
                                18. Which port(s) on this router would be the better choice to connect a modem to?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a18_answer" value="a"/>&nbsp;&nbsp;A.<br/>
                                <input type="radio" name="a18_answer" value="b"/>&nbsp;&nbsp;B.<br/>
                                <input type="radio" name="a18_answer" value="c"/>&nbsp;&nbsp;C.<br/>
                                <input type="radio" name="a18_answer" value="d"/>&nbsp;&nbsp;D.<br/>
                                <input type="radio" name="a18_answer" value="e"/>&nbsp;&nbsp;E.<br/>
                                <input type="radio" name="a18_answer" value="f"/>&nbsp;&nbsp;F.<br/>
                            </div>
                        </td>
                        <td class="imagepadding">
                            <img src="/widgets/images/GGETechEvaluation/20.JPG" style="width:455px" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="2">
                            <div>
                                19. What does it mean on a DSL modem when the DSL light flashes?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a19_answer" value="a"/>&nbsp;&nbsp;A. Data is being transferred from the internet to the computer<br/>
                                <input type="radio" name="a19_answer" value="b"/>&nbsp;&nbsp;B. You have good connection<br/>
                                <input type="radio" name="a19_answer" value="c"/>&nbsp;&nbsp;C. It means the modem is trying to &ldquo;train up&rdquo; or sync on the dsl signal<br/>
                                <input type="radio" name="a19_answer" value="d"/>&nbsp;&nbsp;D. It means that modem diagnostic failed<br/>
                                <input type="radio" name="a19_answer" value="e"/>&nbsp;&nbsp;E. The DSL Modem LED, light-emitting diode, indicates frequency / voltage<br/>
                                <input type="radio" name="a19_answer" value="f"/>&nbsp;&nbsp;F. The modem is bad and needs to be replaced<br/>
                                <input type="radio" name="a19_answer" value="g"/>&nbsp;&nbsp;G. Nothing is connected to the LAN, and the modem has gone into sleep mode<br/>
                                <input type="radio" name="a19_answer" value="h"/>&nbsp;&nbsp;H. The firmware has locked up and the modem will restore with a reboot<br/>
                                <input type="radio" name="a19_answer" value="i"/>&nbsp;&nbsp;I. The modem is configured in bridge mode<br/>
                                <input type="radio" name="a19_answer" value="j"/>&nbsp;&nbsp;J. The modem needs factory reset<br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="2">
                            <div>
                                20. What does the term "Demarc" mean, and what can be found there?
                            </div>
                            <div class = "answerpadding">
                                <input type="radio" name="a20_answer" value="a"/>&nbsp;&nbsp;A. Typically a  gray box left by the phone company<br/>
                                <input type="radio" name="a20_answer" value="b"/>&nbsp;&nbsp;B. De Max Maximum Drift Error<br/>
                                <input type="radio" name="a20_answer" value="c"/>&nbsp;&nbsp;C. A piece of equipment used with a loopback for testing<br/>
                                <input type="radio" name="a20_answer" value="d"/>&nbsp;&nbsp;D. Telephone wire, deblock<br/>
                                <input type="radio" name="a20_answer" value="e"/>&nbsp;&nbsp;E. Network Interface Device<br/>
                                <input type="radio" name="a20_answer" value="f"/>&nbsp;&nbsp;F. The separation between ISP and customer, and the wires that are brought into a building<br/>
                                <input type="radio" name="a20_answer" value="g"/>&nbsp;&nbsp;G. T1 Cable and T1 Smart Jack<br/>
                                <input type="radio" name="a20_answer" value="h"/>&nbsp;&nbsp;H. DSL splitter<br/>
                            </div>
                        </td>
                    </tr>
                </table>
                <div style="text-align: center;">
                    <input type="button" value="Cancel" id="GGETechEvaluationCancel" class="link_button middle_button"/>&nbsp;&nbsp;
                    <input type="button" value="Submit" id="GGETechEvaluationSubmid" class="link_button middle_button"/>
                </div>
            </div>
            <div style="display: none;" id="GGETechEvaluationPass">
                <br>
                <div>Congratulations! You&rsquo;ve passed the GGE Tech Evaluation with a score of <span class="correctanswer"> # </span> / 20 and have been flagged as a knowledgeable technician by GGE Techs. They&rsquo;ll come to you first when they have work in your area!</div>
                <br>
                <div>Thank you,</div>
                <br>
                <div>Your FieldSolutions Team</div>
            </div>
            <div style="display: none;" id="GGETechEvaluationTimeLeftMissFail">
                <br>
                <div >The 15 minute time limit has expired! Your score was <span class="correctanswer"> # </span>/ 20.</div>
                <br>
                Unfortunately you have not passed the GGE Tech Evaluation. A score of 13/20 is required to pass  this assessment. <span style="text-decoration: underline;font-weight: bold;">You have one attempt remaining</span>, and remember, there is a <span style="text-decoration: underline;font-weight: bold;">15 minute time limit</span>.
                <br>
                <div style="float: left;">Good luck!</div> 
                <br/>
                <div style="padding-top: 7px;">Your FieldSolutions Team</div>
                <div style="float: right;"><input type="button" value="Continue to Evaluation" id="GGETechEvaluationContinuetimeleft" class="link_button middle_button"/></div>
            </div>
            <div style="display: none;" id="GGETechEvaluationSubmitOneFail">
                <br>
                <div>Your score was <span class="correctanswer"> # </span>/ 20.</div>
                <br>
                Unfortunately you have not passed the GGE Tech Evaluation. A score of 13/20 is required to pass  this assessment. <span style="text-decoration: underline;font-weight: bold;">You have one attempt remaining</span>, and remember, there is a <span style="text-decoration: underline;font-weight: bold;">15 minute time limit</span>.
                <br>
                <div style="float: left;">Good luck!</div> 
                <br/>
                <div style="padding-top: 7px;">Your FieldSolutions Team</div>
                <div style="float: right;"><input type="button" value="Continue to Evaluation" id="GGETechEvaluationContinueOneFail" class="link_button middle_button"/></div>
            </div>
            <div style="display: none;" id="GGETechEvaluationComnplete">
                <br>
                <div>Thanks for completing the GGE Tech Evaluation. We're grading your test right now and will  notify you via email when the process is complete.</div>
                <br>
                <div>Thanks!</div>
                <br>
                <div>Your FieldSolutions Team</div>
            </div>
            <div style="display: none;" id="GGETechEvaluationComnpleteFail">
                <br>
                <div>Score: <span class="correctanswer"> # </span>/ 20.</div>
                <br>
                <div>Unfortunately you have not passed the GGE Tech Evaluation. You are not allowed to attempt this evaluation again.</div>
            </div>
            <?
        } else
        {
            if ($this->status["GGE1stAttemptStatus"] == "Pass"
                    || $this->status["GGE2ndAttemptStatus"] == "Pass")
            {
                $score = $this->status["GGE1stAttemptStatus"] == "Pass" ? $this->status["GGE1stAttemptScore"] : $this->status["GGE2ndAttemptScore"];
                ?>

                <div  id="GGETechEvaluationPass">
                    <br>
                    <div>Congratulations! You've passed the GGE Tech Evaluation with a score of <?= $score ?> / 20 and have been flagged as a knowledgeable technician by GGE Techs. They'll come to you first when they have work in your area!</div>
                    <br>
                    <div>Thank you,</div>
                    <br>
                    <div>Your FieldSolutions Team</div>
                </div>
                <?
            } else if ($this->status["GGE1stAttemptStatus"] == "Fail"
                    && $this->status["GGE2ndAttemptStatus"] == "Fail")
            {
                $score = $this->status["GGE2ndAttemptStatus"] == "Fail" ? $this->status["GGE2ndAttemptScore"] : $this->status["GGE1stAttemptScore"];
                ?>
                <div  id="GGETechEvaluationFail">
                    <br>
                    <div>Results:  <?= $score ?> / 20</div>
                    <br>
                    <div>Unfortunately you have not passed the GGE Tech Evaluation. You are not allowed to attempt this evaluation again. </div>
                    <br>
                </div>
                <?
            } else
            {
                ?>
                <div  id="GGETechEvaluationComnplete">
                    <br>
                    <div>Thanks for completing the GGE Tech Evaluation. We're grading your test right now and will  notify you via email when the process is complete.</div>
                    <br>
                    <div>Thanks!</div>
                    <br>
                    <div>Your FieldSolutions Team</div>
                </div>
                <?
            }
        }
        ?>
    </div>    
</form> 
