<table class="schedule" cellspacing=0 cellpadding=0>
    <?php if (count($this->WOs)) : ?>
    <?php
    $i = 1;
    foreach ($this->WOs as $wo) : ?>
    <tr <?php echo ($i%2==0) ? 'class="bg3"' : '';?>>
        <td><?=$this->displayDate('n/j/Y', $wo->StartDate)?></td>
        <td><?=$this->displayDate('g:i A', $wo->StartTime)?></td>
        <td><?=$wo->WIN_NUM?></td>
        <td><?=trim($wo->WO_Category)?></td>
        <td><?=$this->displayBid($wo->Tech_Bid_Amount, '')?></td>
    </tr>
    <?php
            $i++;
            endforeach;?>
    <?php else: ?>
    <tr><td colspan="5">No results</td></tr>
    <?php endif; ?>
    
</table>