`		<table class="schedule" cellspacing=0 cellpadding=0>
		<tr>
                    <th colspan="2">Start Date/Time</th>
                    <th>WIN #</th>
                    <th>Skill Cat</th>
                    <th>Headline</th>
                    <th>Tech Pat</th>
                    <th>Contact Telephone</th>
                    <th>Staus</th>
                </tr>
                <?php if (count($this->WOs7) || count($this->WOs14) || count($this->WOsFuture)) : ?>
                <?php if (count($this->WOs7)) :?>
                <tr class="bg2"><td colspan="8">Next 7 Days</td></tr>
                <?php
                $i=1;
                foreach ($this->WOs7 as $wo) : ?>
                <tr <?php echo ($i%2==0) ? 'class="bg3"' : '';?>>
                    <td><?=$this->displayDate('n/j/Y', $wo->StartDate)?></td>
                    <td><?=$this->displayDate('g:i A', $wo->StartTime)?></td>
                    <td><?=$wo->WIN_NUM?></td>
                    <td><?=trim($wo->WO_Category)?></td>
                    <td><?=trim($wo->Headline)?></td>
                    <td><?=$this->displayMoney($wo->Tech_Bid_Amount, "",$wo->Amount_Per) ?></td>
                    <td>555-555-1234</td>
                    <td>
                        <?php if ($wo->WorkOrderReviewed) : ?>
                        <img title="Accepted" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Accepted" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->TechCheckedIn_24hrs) : ?>
                        <img title="Confirmed" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Confirmed" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->CheckedIn || $wo->Date_In || $wo->Time_In) : ?>
                        <img title="Checked In" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Checked In" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                    </td>
                </tr>
                <?php $i++;endforeach;?>
                <?php endif; ?>
                <?php if (count($this->WOs14)) :?>
		<tr class="bg2"><td colspan="8">Days 8-14</td></tr>
                <?php
                $i=1;
                foreach ($this->WOs14 as $wo) : ?>
                <tr <?php echo ($i%2==0) ? 'class="bg3"' : '';?>>
                    <td><?=$this->displayDate('n/j/Y', $wo->StartDate)?></td>
                    <td><?=$this->displayDate('g:i A', $wo->StartTime)?></td>
                    <td><?=$wo->WIN_NUM?></td>
                    <td><?=trim($wo->WO_Category)?></td>
                    <td><?=trim($wo->Headline)?></td>
                    <td><?=$this->displayMoney($wo->Tech_Bid_Amount, "",$wo->Amount_Per) ?></td>
                    <td>555-555-1234</td>
                    <td>
                        <?php if ($wo->WorkOrderReviewed) : ?>
                        <img title="Accepted" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Accepted" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->TechCheckedIn_24hrs) : ?>
                        <img title="Confirmed" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Confirmed" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->CheckedIn || $wo->Date_In || $wo->Time_In) : ?>
                        <img title="Checked In" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Checked In" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                    </td>
                </tr>
                <?php $i++;endforeach;?>
                <?php endif; ?>
                <?php if (count($this->WOsFuture)) :?>
		<tr class="bg2"><td colspan="8">Future Assignments</td></tr>
                <?php
                $i=1;
                foreach ($this->WOsFuture as $wo) : ?>
                <tr <?php echo ($i%2==0) ? 'class="bg3"' : '';?>>
                    <td><?=$this->displayDate('n/j/Y', $wo->StartDate)?></td>
                    <td><?=$this->displayDate('g:i A', $wo->StartTime)?></td>
                    <td><?=$wo->WIN_NUM?></td>
                    <td><?=trim($wo->WO_Category)?></td>
                    <td><?=trim($wo->Headline)?></td>
                    <td><?=$this->displayMoney($wo->Tech_Bid_Amount, "",$wo->Amount_Per) ?></td>
                    <td>555-555-1234</td>
                    <td>
                        <?php if ($wo->WorkOrderReviewed) : ?>
                        <img title="Accepted" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Accepted" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->TechCheckedIn_24hrs) : ?>
                        <img title="Confirmed" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Confirmed" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                        <?php if ($wo->CheckedIn || $wo->Date_In || $wo->Time_In) : ?>
                        <img title="Checked In" src="/widgets/images/check_green.gif" />
                        <?php else: ?>
                        <img title="Not Checked In" src="/widgets/images/red_cross.gif" />
                        <?php endif; ?>
                    </td>
                </tr>
                <?php $i++;endforeach;?>
                <?php endif; ?>
                <?php else: ?>
                <tr><td colspan="8">No results</td></tr>
                <?php endif; ?>
		</table>