
/*
OBSOLETE
See /widgets/js/FSTechWorkOrderToolBar.js
*/
<form name="printWOForm" id="printWOForm" method="post" action="/">
<div class="filter_popup">
    <b>WIN#: <?=$this->wo->WIN_NUM?> | <?=$this->wo->WO_ID?> | <?=$this->wo->WO_Category?> | <?=$this->wo->Headline?> </b>
<br />
    Select an option for printing.<br />
    <br />
    <div style="padding-left:20px;">
        <input type="hidden" id="printWO_win" name="win" value="<?=$this->wo->WIN_NUM?>" />
        <input type="checkbox" id="printWO_WO" name="WO" value="1" /><label for="printWO_WO">Print Work Order</label><br />
        <!--input style="margin-left: 10px" type="checkbox" id="printWO_Map" name="Map" value="1" /><label for="printWO_Map">Include Map</label><br /><br /-->
        <input type="checkbox" id="printWO_Sign" name="Sign" value="1" /><label for="printWO_Sign">Print Basic Sign off Page</label>
    </div>
    <br />
<div style="text-align:center;">
    <input type="submit" class="link_button_popup" value="Print" onclick="toolBar.showPrint(); return false;" />
</div>
</form>
