<?php
if ($this->wo) :
    if ($this->wo->Company_ID !== "FLS")
        $this->wo->FLS_ID = null;

    header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
    header("Pragma: public");

	if (!file_exists ("/tmp/pdf")) mkdir ("/tmp/pdf");
	file_put_contents("/tmp/pdf/" . $this->altFilename, $this->altContent);
	if ($this->fpdf->setSourceFile("/tmp/pdf/" . $this->altFilename) == 0) {
		$this->isCustom = false;
	}

    ob_start();
    ?>
    <html>
        <head>
            <script type="text/javascript" src="/widgets/js/jquery.min.js"></script>
            <!--link href="widgets/css/printWO.css" type="text/css" rel="stylesheet"-->
            <style>
                body {
                    font-family: Arial,Helvetica;
                }
                * {
                    padding: 0px;
                    margin: 0px;
                }
                .TechWorkOrderPlace {
                    text-align: center;
                    padding-top: 20px;
                }
                .TechWorkOrderPlace_box {
                    width: 21.6cm;
                    margin: auto;
                }
                .TechWorkWOID {
                    text-align: left;
                    font: bold 18px/20px Arial,Helvetica,sans-serif;
                    padding: 0px 10px;
                    margin-top: 10px;
                }
                .ClientLogo {
                    text-align: center;
                    font: normal 12px/16px Arial,Helvetica,sans-serif;
                }
                .LogoBox {
                    width: 200px;
                    margin: auto;
                    padding: 10px;
                }
                .TechWorkInformation {
                    background: #edcdcb;
                    text-align: left;
                    padding: 3px 5px 0px 5px;
                    font: bold 14px/24px Arial,Helvetica,sans-serif;
                    color: #000000;
                    margin: 10px 0px 0px;
                }
                .InformationTitle {
                    font: bold 18px/20px Arial,Helvetica,sans-serif;
                    color: #000000;
                }
                .TechWorkCols {
                    text-align: left;
                    margin-bottom: 10px;
                    *zoom: 1;
                }
                .TechWorkCols_table {
                    border-spacing: 10px;
                }
                #Page2 {
                    margin-top: 10px;
                }
                .TechWorkLeftPlace {
                    width: 330px;
                    background: #f2f2f2;
                    vertical-align: top;
                }
                .TechWorkRightPlace {
                    width: 470px;
                    background: #f2f2f2;
                    vertical-align: top;
                }
                #Place_box2 {
                    padding: 7px 5px 61px 5px;
                }

                .Place_box {
                    /*padding: 0px 5px 7px 5px;*/
                    font: normal 12px Arial,Helvetica,sans-serif;
                    color: #000000;
                }

                .Place_boxtitle {
                    font: bold 14px/16px Arial,Helvetica,sans-serif;
                    color: #000000;
                }
                .TechWorkSection {
                    text-align:left;
                }
                .SectionTitle {
                    font: bold 18px/20px Arial,Helvetica,sans-serif;
                    padding: 3px 7px;
                    color: #000000;
                    background: #f2f2f2;
                    margin: 10px 0px;
                }
                .SectionPlace {
                    background: #F2F2F2;
                    padding: 7px;
                    margin: 0px 10px;
                    *zoom: 1;
                }
                #SectionPlace2 {
                    margin: 0px;
                }

                #Skill {
                    font: bold 18px/20px Arial,Helvetica,sans-serif;
                }
                #info {
                    font: bold 14px/18px Arial,Helvetica,sans-serif;
                }
                .SectionItem {
                    margin: 10px 0px;
                    font: normal 14px/18px Arial,Helvetica,sans-serif;
                }
                .ItemTitle {
                    font: bold 14px/18px Arial,Helvetica,sans-serif;
                }
                #left_pad {
                    padding-left: 15px;
                }
                #contacts {
                    background: #f2f2f2;
                    font: normal 14px/18px Arial,Helvetica,sans-serif;
                    border-spacing: 5px;
                }
                .contacts_title {
                    font: bold 14px/18px Arial,Helvetica,sans-serif;
                }

                #contact_link {
                    color: #acc5db;
                }
                #SectionPlaceContacts {
                    background: #f2f2f2;
                }
                .TechWorkName {
                    background: #f2f2f2;
                    padding:7px;
                    margin: 10px 0px 0px;
                    text-align: left;
                    font: normal 18px/22px Arial,Helvetica,sans-serif;
                    *zoom: 1;
                }
                #techname {
                    font: bold 18px/22px Arial,Helvetica,sans-serif;
                    color: #000000;
                }
                #SectionPlace4 {
                    background: #f2f2f2;
                    margin: 0px 4px;
                }
                .TechWorkApproval {
                    font: normal 18px/38px Arial,Helvetica,sans-serif;
                    zoom: 1;
                }
                .TechWorkMap {
                    background: #ffffff;
                    padding: 7px;
                    border: 1px solid #000000;
                    text-align: left;
                    margin: 10px 0px;
                    height:500px;
                }
                .maptitle {
                    font: bold 14px/16px Arial,Helvetica,sans-serif;
                    color: #85a446;
                }
            </style>
        </head>
        <body>
            <div class="TechWorkOrderPlace">
                <div class="TechWorkOrderPlace_box">
                    <div class="TechWorkWOID">
                        <?php if (!$this->isCustom): ?>
                            <div class="ClientLogo">
                                <?php if (Core_Image::isImage($this->project_info->Project_Logo)) : ?>
                                    <img id="logoImg" src="<?= S3_PROJECTS_DOCS_WWW; ?>/<?= urlencode(trim($this->project_info->Project_Logo, '/')) ?>" height="70"/><br/><br/>
                                <?php elseif ($this->companyLogo->success && Core_Image::isImage($this->companyLogo->data)) : ?>
                                    <img id="logoImg" src="<?= S3_CLIENTS_LOGO_WWW; ?>/<?= urlencode(trim($this->companyLogo->data, '/')) ?>" height="70" /><br/><br/>
                                <?php else : ?>
                                    <div class="LogoBox"><?= $this->wo->Company_Name ?></div>
                                <?php endif; ?>

                            </div>
                        <?php endif; ?>
                        <span id="woid">Client Work Order ID: <?= substr($this->wo->WO_ID, 0, 40) ?> | WIN#: <?= $this->wo->WIN_NUM ?></span>
                    </div>
                    <div class="TechWorkName">
                        <span id="techname">Tech Name: <?= $this->wo->Tech_FName ?> <?= $this->wo->Tech_LName ?></span><br />
                        FS Tech ID: <?= $this->wo->Tech_ID ?> <?php if (!empty($this->wo->FLS_ID)): ?>FLS ID: <?= $this->wo->FLS_ID ?><?php endif; ?>
                    </div>
                    <div id="Page2" class="TechWorkCols">
                        <table cellpadding="0" cellspacing="10" border="0" width="100%" class="TechWorkCols_table" >
                            <tr>
                                <td class="TechWorkLeftPlace" width="200">
                                    <div class="Place_box">
                                        <div class="Place_boxtitle">Site Information</div>
                                        Site Name: <?= $this->wo->SiteName ?><br />
                                        Site Number: <?= ($this->wo->SiteNumber) ?><br />
                                        Site Address: <?= $this->wo->Address ?><br />
                                        <?= $this->wo->City . ' ' . $this->wo->State . ' ' . $this->wo->Zipcode ?><br /><br />
                                        Site Contact Name: <?= ($this->wo->Site_Contact_Name) ?><br />

                                    </div>
                                </td>
                                <td class="TechWorkRightPlace">
                                    Site Phone: <?= ($this->wo->SitePhone) ?><br />
                                    Site Fax: <?= $this->wo->SiteFax ?><br />
                                    Site Email: <?= ($this->wo->SiteEmail) ?><br/>
                                    <?php if ($this->wo->Amount_Per == 'Device' || $this->wo->Amount_Per == 'Visit'): ?>
                                        # of <?= $this->wo->Amount_Per ?>s: <?= $this->wo->Qty_Devices ?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                            <tr>
                                <td class="TechWorkRightPlace" colspan="2">
                                    <div class="Place_box">

                                        <?php
                                        if ($this->visit > 0 && !empty($this->AllWOVisitListClient)) {
                                            $i = 1;
                                            foreach ($this->AllWOVisitListClient as $item) {
                                                if ($i == $this->visit) {
                                                    ?>
                                                    <div class="Place_boxtitle">Assignment Dates/Times (Visit #<?= $this->visit ?>)</div>
                                                    Start Date: <?= $this->displayDate('n/j/Y', $item["StartDate"]) ?> <?= $this->displayDate('g:i A', $item["StartTime"]) ?><br />
                                                    End Date: <?= $this->displayDate('n/j/Y', $item["EndDate"]) ?> <?= $this->displayDate('g:i A', $item["EndTime"]) ?><br />
                                                    Est. Duration (hours): <?= $item["EstimatedDuration"] ?><br />
                                                    On-Site Arrival Time: <?= $item["TechArrivalInstructions"] ?>
                                                    <?php
                                                    break;
                                                }
                                                $i++;
                                            }
                                        }
                                        ?>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="Section1" class="TechWorkSection">
                        <div id="SectionPlace2" class="SectionPlace">
                            <table width="100%">
                                <tbody><tr>
                                        <td width="50%" valign="top" align="left" id="Skill">
                                            <?= $this->wo->WO_Category ?>: <?= $this->wo->Headline ?>
                                        </td>
                                        <td width="50%" align="right" id="info">
                                            Client Purchase Order#: <?= $this->wo->PO ?><br />
                                            Project: <?= $this->wo->Project_Name ?><br />
                                            Region: <?= $this->wo->Region ?>
                                        </td>
                                    </tr>
                                </tbody></table>
                        </div>
                    </div>
                    <?php if (!$this->isCustom): ?>
                        <div class="TechWorkName TechWorkApproval" id="TechWorkApproval0">
                            Actual Time On Site: ______________________<br />
                            Actual Time Off Site: ______________________
                        </div>
                        <div class="TechWorkName TechWorkApproval" id="TechWorkApproval0">
                            <span id="techname">Technician Signature</span><br />
                            Print Name: ________________________ Date: ___________________________<br />
                            Signature: _________________________
                        </div>
                        <div class="TechWorkName TechWorkApproval" id="TechWorkApproval">
                            <span id="techname">Work Order Approval/Signature</span><br />
                            Print Name: ________________________ Date: ___________________________<br />
                            Signature: _________________________
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </body>
    </html>
    <?php
//echo (ob_get_clean ());		//Test HTML output
    $this->pdf->load_html(ob_get_clean());
    $this->pdf->render();

    if (!$this->isCustom) {
        $this->pdf->stream("sign_off-" . $this->wo->WIN_NUM . ".pdf", array("Attachment" => 0));
    } else {
        file_put_contents("/tmp/pdf/" . $this->tempfile, $this->pdf->output());

        $pagecount = $this->fpdf->setSourceFile("/tmp/pdf/" . $this->tempfile);
        for ($i = 1; $i <= $pagecount; $i++) {
            $tplidx = $this->fpdf->ImportPage($i);
            $s = $this->fpdf->getTemplatesize($tplidx);
            $this->fpdf->AddPage($s['w'] > $s['h'] ? 'L' : 'P', array($s['w'], $s['h']));
            $this->fpdf->useTemplate($tplidx);
        }

        $pagecount = $this->fpdf->setSourceFile("/tmp/pdf/" . $this->altFilename);
        if ($pagecount > 0) {
	        for ($i = 1; $i <= $pagecount; $i++) {
	            $tplidx = $this->fpdf->ImportPage($i);
	            $s = $this->fpdf->getTemplatesize($tplidx);
	            $this->fpdf->AddPage($s['w'] > $s['h'] ? 'L' : 'P', array($s['w'], $s['h']));
	            $this->fpdf->useTemplate($tplidx);
	        }

        	$this->fpdf->Output("sign_off-" . $this->wo->WIN_NUM . ".pdf", "i");
        }
        else {
        	$this->pdf->stream("sign_off-" . $this->wo->WIN_NUM . ".pdf", array("Attachment" => 0));
        }

        unlink("/tmp/pdf/" . $this->tempfile);
        unlink("/tmp/pdf/" . $this->altFilename);
    }
    ?>
<?php else: ?>
    This Work Order is no longer available.
<?php endif; ?>
