<?php

if ($this->wo) :
$ACSCheck = $this->project_info->Reminder24Hr ||
            $this->project_info->Reminder1Hr ||
            $this->project_info->ReminderNotMarkComplete ||
            $this->project_info->ReminderAcceptance ||
            $this->project_info->CheckInCall ||
            $this->project_info->CheckOutCall ||
            $this->project_info->ReminderAll ||
            $this->project_info->ReminderIncomplete;

    if ($this->wo->Company_ID !== "FLS")
        $this->wo->FLS_ID = null;

header("Cache-Control: must-revalidate, post-check=0, pre-check=0"); 
header("Pragma: public");

    ob_start();
?>
    <!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
<link href="/widgets/css/printWO.css?03222011" type="text/css" rel="stylesheet">
        <style type="text/css">
body {
                    font-family: Helvetica;
}
                
                .SectionItem ol
                {
                    padding-left:20px;
                }
                .SectionItem ul
                {
                    padding-left:20px;
                }
          
* {
	padding: 0px;
	margin: 0px;
}
.TechWorkOrderPlace {
	text-align: center;
	padding-top: 20px;
}
.TechWorkOrderPlace_box {
	width: 21.6cm;
	margin: auto;
}
.TechWorkWOID {
	text-align: left;
                    font: bold 18px Helvetica;
	padding: 0px 10px;
    margin-top: 10px;
}
.ClientLogo {
	text-align: center;
                    font: normal 12px Helvetica;
}
.LogoBox {
	width: 200px;
	margin: auto;
	padding: 10px;
}
.TechWorkInformation {
	background: #edcdcb;
	text-align: left;
	padding: 3px 5px 0px 5px;
                    font: bold 14px Helvetica;
	color: #000000;
	margin: 10px 0px 0px;
}
.InformationTitle {
                    font: bold 18px Helvetica;
	color: #000000;
}
.TechWorkCols {
	text-align: left;
	margin-bottom: 10px;
	*zoom: 1;
}
.TechWorkCols_table {
	border-spacing: 10px;
}
#Page2 {
	margin-top: 10px;
}
.TechWorkLeftPlace {
	width: 330px;
	background: #f2f2f2;
	vertical-align: top;
}
.TechWorkRightPlace {
	width: 470px;
	background: #f2f2f2;
	vertical-align: top;
}
#Place_box2 {
	padding: 7px 5px 61px 5px;
}

.Place_box {
                    font: normal 12px Helvetica;
	color: #000000;
}

.Place_boxtitle {
                    font: bold 14px Helvetica;
	color: #000000;
}
.TechWorkSection {
	text-align:left;
}
.SectionTitle {
                    font: bold 18px Helvetica;
	padding: 3px 7px;
	color: #000000;
	background: #f2f2f2;
	margin: 10px 0px;
}
.SectionPlace {
	background: #F2F2F2;
	padding: 7px;
	margin: 0px 10px;
	*zoom: 1;
}
#SectionPlace2 {
	margin: 0px;
}

#Skill {
                    font: bold 18px Helvetica;
}
#info {
                    font: bold 14px Helvetica;
}
.SectionItem {
	margin: 10px 0px;
                    font: normal 14px Helvetica;
}
.ItemTitle {
                    font: bold 14px Helvetica;
                    
}
#left_pad {
	padding-left: 15px;
}
#contacts {
	background: #f2f2f2;
                    font: normal 14px Helvetica;
	border-spacing: 5px;
}
.contacts_title {
                    font: bold 14px Helvetica;
}

#contact_link {
	color: #acc5db;
}
#SectionPlaceContacts {
	background: #f2f2f2;
}
.TechWorkName {
	background: #f2f2f2;
	padding:7px;
	margin: 10px 0px 0px;
	text-align: left;
                    font: normal 18px Helvetica;
	*zoom: 1;
}
#techname {
                    font: bold 18px Helvetica;
	color: #000000;
}
#SectionPlace4 {
	background: #f2f2f2;
	margin: 0px 4px;
}
.TechWorkApproval {
                    font: normal 18px Helvetica;
	zoom: 1;
}
.TechWorkMap {
	background: #ffffff;
	padding: 7px;
	border: 1px solid #000000;
	text-align: left;
	margin: 10px 0px;
    height:500px;
}
.maptitle {
                    font: bold 14px Helvetica;
	color: #85a446;
}


</style>
</head>
<body>
<div class="TechWorkOrderPlace">
	<div class="TechWorkOrderPlace_box">
		<div class="TechWorkWOID">
			<div class="ClientLogo">
                            <?php if (Core_Image::isImage($this->project_info->Project_Logo)) : ?>
                                <img id="logoImg" src="<?= S3_PROJECTS_DOCS_WWW; ?>/<?= urlencode(trim($this->project_info->Project_Logo, '/')) ?>" height="70"/><br/><br/>
                            <?php elseif ($this->companyLogo->success && Core_Image::isImage($this->companyLogo->data)) : ?>
                                <img id="logoImg" src="<?= S3_CLIENTS_LOGO_WWW; ?>/<?= urlencode(trim($this->companyLogo->data, '/')) ?>" height="70" /><br/><br/>
                            <?php else : ?>
                                <div class="LogoBox"><?= $this->wo->Company_Name ?></div>
				<?php endif; ?>
			</div>
                        <span id="woid">Client Work Order ID: <?= $this->wo->WO_ID ?> | WIN#: <?= $this->wo->WIN_NUM ?></span>
		</div>
        <?php if ($this->wo->SignOffSheet_Required || $this->wo->CheckInOutNumber || $this->wo->CheckInOutEmail || $ACSCheck) : ?>
		<div class="TechWorkInformation">
			<div class="InformationTitle">Important Information</div>
            <?php if ($this->wo->SignOffSheet_Required) : ?>
            Client requires documents to approve payment.
                            <?php endif; ?>
            <?php if ($this->wo->CheckInOutName && $this->wo->CheckInOutNumber) : ?>
                                Client Check In Contact: <?= $this->wo->CheckInOutName ?><br />
                                Phone: <?= $this->wo->CheckInOutNumber ?>
                            <?php endif; ?>
            <?php if ($ACSCheck) : ?>
            Call ACS at (888) 557-4556
                            <?php endif; ?>
		</div>
                    <?php endif; ?>
		<div class="TechWorkCols">
			<table width="100%" cellpadding="0" cellspacing="10" border="0" class="TechWorkCols_table">
				<tr>
					<td class="TechWorkLeftPlace">
						<div class="Place_box">
							<div class="Place_boxtitle">Site Information</div>
                                        Site Name: <?= $this->wo->SiteName ?><br />
                                        Site Number: <?= ($this->wo->SiteNumber) ?><br />
                                        Site Address: <?= $this->wo->Address ?><br />
                                        <?= $this->wo->City . ' ' . $this->wo->State . ' ' . $this->wo->Zipcode ?><br />
							
						</div>
					</td>
                                        <td class="TechWorkRightPlace">
                                    Site Phone: <?= ($this->wo->SitePhone) ?><br />
                                    Site Fax: <?= $this->wo->SiteFax ?><br />
                                    Site Email: <?= ($this->wo->SiteEmail) ?><br />
                                    Site Contact Name: <?= ($this->wo->Site_Contact_Name) ?><br/>
                                    <?php if ($this->wo->Amount_Per == 'Device' || $this->wo->Amount_Per == 'Visit'): ?>
                                        # of <?= $this->wo->Amount_Per ?>s: <?= $this->wo->Qty_Devices ?>
							<?php endif; ?>
					</td>
					
				</tr>
                                <tr>
                                    <td colspan="2" class="TechWorkRightPlace">
						<div class="Place_box">
							<div class="Place_boxtitle">Assignment Dates/Times</div>
							<?= $this->render('tech-wo-details/visit/visit-list-view.phtml'); ?>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="TechWorkSection" id="Section1">
			<div class="SectionTitle" style="margin-bottom: 0px; padding-bottom: 0px">Section 1: Work Order Information</div>
			<div class="SectionPlace">
				<table width="100%">
					<tr>
						<td valign="top" width="50%" align="left" id="Skill">
							<?= $this->wo->WO_Category ?>: <?= $this->wo->Headline ?>
							<span class="ItemTitle"><br/><br/>Work Description:</span>
						</td>
						<td width="50%" align="right" id="info">
                                        Client Purchase Order#: <?= $this->wo->PO ?><br />
                                        Project: <?= $this->wo->Project_Name ?><br />
                                        Region: <?= $this->wo->Region ?>
						</td>
					</tr>
				</table>
				<div class="SectionItem" style="margin-top: 0px">
                                <span style="font-size:10px"><?= "<p>" . str_replace("\n", "", $this->wo->Description) . "</p>" ?></span>
				</div>
				<div class="SectionItem">
					<span class="ItemTitle">Tech Requirements &amp; Tools Required:</span>
                                    <span style="font-size:10px;"><?= "<p>" . str_replace("\n", "", $this->wo->Requirements) . "</p>" ?></span>
                    <?php if ($this->wo->Tools) : ?>
                    <p>
                                        <?= $this->wo->Tools ?>
                    </p>
                    <?php endif; ?>
				</div>
				<div class="SectionItem">
					<span class="ItemTitle">Special Instructions:</span>
                                <span style="font-size:10px;"><?= "<p>" . str_replace("\n", "</p>\n<p>", $this->wo->SpecialInstructions) . "</p>" ?></span>
				</div>
				<div class="SectionItem">
					<span class="ItemTitle"></span>
                                <span style="font-size:10px"><?= "<p>" . str_replace("\n", "</p>\n<p>", $this->wo->Ship_Contact_Info) . "</p>" ?></span>
				</div>
			</div>
		</div>
		<div class="TechWorkSection" id="Section2">
			<div class="SectionTitle">Documents &#038; Parts</div>
				<table width="100%">
					<tr>

						<td width="50%" align="left" valign="top" id="left_pad">
							<span class="ItemTitle">Parts Information</span><br />
                            <?php if ($this->parts) : ?>
                            <?php foreach ($this->parts as $part) : ?>
                                            <?php $new = $part->newPart;
                                            $return = $part->returnPart;
                                            ?>
                            <table width="100%">
                                <col width="90px" >
                                <col width="*" >
                                <col width="*" >
                                <tbody>
                                <tr>
                                    <td><b>Part Details</b></td>
                                    <td><b>New Part</b></td>
                                    <td><b>Return Part</b></td>
                                </tr>
                                <tr>
                                    <td>Part#:</td>
                                                        <td><?= isset($new->PartNum) ? $new->PartNum : '' ?></td>
                                                        <td><?= isset($return->PartNum) ? $return->PartNum : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Model#:</td>
                                                        <td><?= isset($new->ModelNum) ? $new->ModelNum : '' ?></td>
                                                        <td><?= isset($return->ModelNum) ? $return->ModelNum : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Serial#:</td>
                                                        <td><?= isset($new->SerialNum) ? $new->SerialNum : '' ?></td>
                                                        <td><?= isset($return->SerialNum) ? $return->SerialNum : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Est.Arrival:</td>
                                                        <td><?= isset($new->ETA) ? $new->ETA : '' ?></td>
                                                        <td><?= isset($return->ETA) ? $return->ETA : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Carrier:</td>
                                                        <td><?= isset($new->Carrier) ? $new->Carrier : '' ?></td>
                                                        <td><?= isset($return->Carrier) ? $return->Carrier : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Tracking#:</td>
                                                        <td><?= isset($new->TrackingNum) ? $new->TrackingNum : '' ?></td>
                                                        <td><?= isset($return->TrackingNum) ? $return->TrackingNum : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Info:</td>
                                                        <td><?= isset($new->Description) ? $new->Description : '' ?></td>
                                                        <td><?= isset($return->Description) ? $return->Description : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Ship To:</td>
                                                        <td><?= isset($new->ShipTo) ? $new->ShipTo : '' ?></td>
                                                        <td><?= isset($return->ShipTo) ? $return->ShipTo : '' ?></td>
                                </tr>
                                <tr>
                                    <td>RMA:</td>
                                                        <td><?= isset($new->RMA) ? $new->RMA : '' ?></td>
                                                        <td><?= isset($return->RMA) ? $return->RMA : '' ?></td>
                                </tr>
                                <tr>
                                    <td>Return instructions:</td>
                                                        <td><?= isset($new->Instructions) ? $new->Instructions : '' ?></td>
                                                        <td><?= isset($return->Instructions) ? $return->Instructions : '' ?></td>
                                </tr>
                                </tbody>
                            </table>
                            <?php endforeach; ?>
                            <?php else: ?>
                            No parts for this Work Order.
    <?php endif; ?>
						</td>
						<td  valign="top">
							<div class="SectionPlace">
								<span class="ItemTitle">Documents Required for Completion:</span>
    <?= substr($wo->Pic1_FromTech, strrpos($wo->Pic1_FromTech, '/') + 1) ?> <?= substr($wo->Pic2_FromTech, strrpos($wo->Pic2_FromTech, '/') + 1) ?> <?= substr($wo->Pic3_FromTech, strrpos($wo->Pic3_FromTech, '/') + 1) ?>
							</div>
						</td>

					</tr>
				</table>
		</div>
		<div class="TechWorkSection" id="Section3">
			<div class="SectionTitle">Contact &#038; Check In Information</div>
			<div class="SectionPlace">
				<div class="SectionContacts">

					<table width="70%" id="contacts" border="0" cellspacing="5">
						<tr>
							<td valign="middle">
								<div class="contacts_title">Check In/Check Out</div>
                                            <?= $this->wo->CheckInOutName ?><br />
    <?= $this->wo->CheckInOutNumber ?> | <?= $this->wo->CheckInOutEmail ?>
							</td>
							<td>
								<div class="contacts_title">Resource Coordinator</div>
                                            <?= $this->wo->ResourceCoordinatorName ?><br />
    <?= $this->wo->ResourceCoordinatorPhone ?> | <?= $this->wo->ResourceCoordinatorEmail ?>
							</td>
						</tr>
                        <?php if ($ACSCheck) : ?>
						<tr>
							<td valign="middle">
								<div class="contacts_title">ACS Check In</div>
								888 557-4556
							</td>
							<td>
								<div class="contacts_title">Emergency Contact</div>
                                                <?= $this->wo->EmergencyName ?><br />
        <?= $this->wo->EmergencyPhone ?> | <?= $this->wo->EmergencyEmail ?>
							</td>
						</tr>
                        <?php else: ?>
						<tr>
							<td colspan="2">
								<div class="contacts_title">Emergency Contact</div>
                                                <?= $this->wo->EmergencyName ?><br />
        <?= $this->wo->EmergencyPhone ?> | <?= $this->wo->EmergencyEmail ?>
							</td>
						</tr>
                        <?php endif; ?>
						<tr>
							<td valign="middle">
								<div class="contacts_title">Project Manager</div>
                                            <?= $this->wo->ProjectManagerName ?><br />
    <?= $this->wo->ProjectManagerPhone ?> | <?= $this->wo->ProjectManagerEmail ?>
							</td>
							<td>
								<div class="contacts_title">Technical Contact</div>
                                            <?= $this->wo->TechnicalSupportName ?><br />
    <?= $this->wo->TechnicalSupportPhone ?> | <?= $this->wo->TechnicalSupportEmail ?>
							</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
		<div class="TechWorkName">
                        <span id="techname">Tech Name: <?= $this->wo->Tech_FName ?> <?= $this->wo->Tech_LName ?></span><br />
                        Tech ID: <?= $this->wo->Tech_ID ?><?php if (!empty($this->wo->FLS_ID)): ?> FLS ID: <?= $this->wo->FLS_ID ?><?php endif; ?>
		</div>
        <?php if ($this->view_options['Map'] && $this->wo->Latitude && $this->wo->Longitude) : ?>
			<div class="TechWorkMap">
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<?= $this->wo->Latitude ?>,<?= $this->wo->Longitude ?>&zoom=12&size=640x400&scale=1.25&maptype=roadmap&markers=color:green%7Clabel:A%7C<?= $this->wo->Latitude ?>,<?= $this->wo->Longitude ?>&sensor=false" width="800" height="500" border="0" id="gmap" />
			</div>
        <?php endif; ?>
        <?php
        	$generalInstructions = array();
                    for ($i = 1; $i <= 10; $i++)
                    {
        		$fieldName = 'General' . $i;
                        if ($this->wo->$fieldName)
                        {
        			$generalInstructions[] = array('id' => $i, 'value' => $this->wo->$fieldName);
        		}
        	}

        	if (count($generalInstructions)) :
        ?>
        <div class="TechWorkSection" id="generalInstructions">
			<div class="SectionTitle">Other Information</div>
			<div class="SectionPlace">
			<table cellpadding="4" class="SectionItem">
			<?php
                                    foreach ($generalInstructions as $gi)
                                    {
					echo '<tr><td><span class="ItemTitle">General Information ' . $gi['id']
					. ':&nbsp;</span></td><td>' . $this->escape($gi['value']) . '</td></tr>';
				}
			?>
			</table>
			</div>
        </div>
        <?php endif; ?>
		<div class="TechWorkWOID">
                        <span id="woid">Client Work Order ID: <?= $this->wo->WO_ID ?> | WIN#: <?= $this->wo->WIN_NUM ?></span>
		</div>
	</div>
</div>
</body>
</html>
<?php
//echo (ob_get_clean ());
    $this->pdf->load_html(ob_get_clean());
    $this->pdf->render();
    $this->pdf->stream("work_order-" . $this->wo->WIN_NUM . ".pdf", array("Attachment" => 0));
?>
<?php else: ?>
This Work Order is no longer available.
<?php endif; ?>