<script type="text/javascript" >
    $('#SortWOALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'wo', 'sort_dir' : 'asc'}});
    });
    $('#SortWODLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'wo', 'sort_dir' : 'desc'}});
    });

    $('#SortStartTimeALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'starttime', 'sort_dir' : 'asc'}});
    });
    $('#SortStartTimeDLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'starttime', 'sort_dir' : 'desc'}});
    });

    $('#SortEndTimeALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'endtime', 'sort_dir' : 'asc'}});
    });
    $('#SortEndTimeDLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'endtime', 'sort_dir' : 'desc'}});
    });

    $('#SortLocationALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'location', 'sort_dir' : 'asc'}});
    });
    $('#SortLocationDLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'location', 'sort_dir' : 'desc'}});
    });

    $('#SortZipALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'zip', 'sort_dir' : 'asc'}});
    });
    $('#SortZipDLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'zip', 'sort_dir' : 'desc'}});
    });

    $('#SortStatusALnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'status', 'sort_dir' : 'asc'}});
    });
    $('#SortStatusDLnk').bind('click', function(event){
        schedule.show(this, event, {data:{'sort' : 'status', 'sort_dir' : 'desc'}});
    });
    $(function(){
        $('#curDate').calendar({dateFormat:'MDY/', onSelect: function(dateStr){ alert(dateStr); }});
        $('#ChangeDateCalLnk').bind('click', function(event){ $('#curDate').focus(); });
    })
</script>
<h1>Your Schedule for <?= $this->dateFrom->toString('MM/dd/yyyy') ?></h1>

<a href="javascript:void(0);" id="ChangeDateCalLnk">Change Date</a>
<input type="hidden" name="curDate" id="curDate" value="<?= $this->dateFrom->toString('MM/dd/yyyy') ?>">


<table width="100%">
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <col width="" />
    <tr>
        <td>
            Work Order
            <a href="javascript:void(0)" id="SortWOALnk">asc</a>
            <a href="javascript:void(0)" id="SortWODLnk">desc</a>
        </td>
        <td>
            Start Time
            <a href="javascript:void(0)" id="SortStartTimeALnk">asc</a>
            <a href="javascript:void(0)" id="SortStartTimeDLnk">desc</a>
        </td>
        <td>
            End Time
            <a href="javascript:void(0)" id="SortEndTimeALnk">asc</a> 
            <a href="javascript:void(0)" id="SortEndTimeDLnk">desc</a>
        </td>
        <td>
            City/State
            <a href="javascript:void(0)" id="SortLocationALnk">asc</a>
            <a href="javascript:void(0)" id="SortLocationDLnk">desc</a>
        </td>
        <td>
            Zip
            <a href="javascript:void(0)" id="SortZipALnk">asc</a> 
            <a href="javascript:void(0)" id="SortZipDLnk">desc</a>
        </td>
        <td>
            Assigned/Applied
            <a href="javascript:void(0)" id="SortStatusALnk">asc</a> 
            <a href="javascript:void(0)" id="SortStatusDLnk">desc</a>
        </td>
    </tr>
    <?php if ( $this->wos && sizeof($this->wos) != 0 ) : ?>
    <?php foreach ( $this->wos as $wo ) : ?>
    <tr>
        <td><?= $this->escape($wo->WIN_NUM) ?>:<?= $this->escape($wo->Headline) ?></td>
        <td><?php echo $this->displayDate('m.d.y', $wo->StartDate) ?> <?= $this->displayDate('g:i a', $wo->StartTime) ?></td>
        <td><?php echo $this->displayDate('m.d.y', $wo->EndDate) ?> <?= $this->displayDate('g:i a', $wo->EndTime) ?></td>
        <td>
            <?php if ($wo->City && $wo->State) : ?>
                <?= $this->escape($wo->City) ?>/<?= $this->escape($wo->State) ?>
            <?php elseif( $wo->City) : ?>
                <?= $this->escape($wo->City) ?>
            <?php elseif( $wo->State) : ?>
                <?= $this->escape($wo->State) ?>
            <?php endif; ?>
        </td>
        <td><?= $this->escape($wo->Zipcode) ?></td>
        <td></td>
    </tr>
    <?php endforeach; ?>
    <?php else : ?>
    <tr>
        <td colspan="6"></td>
    </tr>
    <?php endif; ?>
</table>