<style>
    .formRow2{
        padding-left: 20px;
    }
    #frmServRightBrotherCertification{
        color: #1F497D;
    }
    #ServRightBrotherCertificationFormAnswer div{
        margin-top: 10px;
    }
</style>
<?php if ($this->isClicked) { ?>
<div style="color: #1F497D;font-weight: bold;text-align: center;">ServRight - Brother Certification</div>
<div style="padding: 10px;color: #1F497D;">Once you have completed the cert, it will be several days before your profile is tagged. Please be patient.</div>
<?php } else { ?>
    <form id="frmServRightBrotherCertification" name="frmServRightBrotherCertification" >

        <div style="color: #1F497D;font-weight: bold;text-align: center;">ServRight - Brother Certification</div>
        <div id="ServRightBrotherCertificationForm" style="padding: 20px;overflow-x:hidden;overflow-y: auto;padding-bottom: 0px;">
            <div id="ServRightBrotherCertificationInformation" style="font-size: 15px;">
                <div style="text-align: left;">
                   ServRight needs Technicians to be Brother Certified (test now available through FieldSolutions) and that meet the criteria listed below. Successful certification will "tag" you as eligible for ServRight's MANY Brother Printer service calls. ServRight cannot use Technicians for this work that have not passed this certification process, so completing it will help you be called for these jobs in your area.
                </div>  
                <ul style="padding-left: 50px;">
                    <li style="list-style:outside;margin-top: 15px;">Technician must complete Online Training (approximately 2.5 hours) and a 20 question test to earn the Brother Printer Certification</li>
                    <li style="list-style:outside;">Excellent customer skills and strong printer experience</li>
                    <li style="list-style:outside;">Onsite response is Next Business Day</li>
                    <li style="list-style:outside;">Hours of coverage: 8:00 AM to 5:00 PM, Monday through Friday</li>
                    <li style="list-style:outside;">ServRight provides Parts and Technical Support</li>
                </ul>
                <br>
                <div>
                    <div style="float: left;">Click the button to the right to read the Instructions</div> 
                    <div style="float: right;"><input type="button" value="Continue to Instructions" id="ServRightBrotherCertificationContinue" class="link_button middle_button"/></div>
                </div>
            </div>

            <div style="display: none;" id="ServRightBrotherCertificationFormAnswer">
            	<iframe src="/techs/Training/Brother_Training_and_Testing_Procedure_20121210.pdf" style="width: 1050px; height:7500px;" frameborder="0"></iframe>
                <!--<iframe width="1120px"  height="769px;" src="/techs/Training/Brother_Training_and_Testing_Procedure_20121210.pdf"></iframe>-->
                <!--<object type="application/pdf" data="/techs/Training/Brother_Training_and_Testing_Procedure_20121210.pdf" width="1120" height="769"></object>-->
                <!--<div>Browse to: <a href="http://support.brother-usa.com/default.aspx" target="_blank" >http://support.brother-usa.com/default.aspx</a></div>
                <div>Log in to the site as: <a href="mailto:service@servright.com">service@servright.com</a> Password = brother (case sensitive)</div>
                <div style="font-weight: bold;">You should see the following page:</div>
                <div style="font-weight: bold;">Click on the Training & Certification "<span style="background-color: yellow;">Online Training</span>" selection highlighted in yellow in the left hand
                    column</div>
                <div><img style="width:92%" src="/widgets/images/ServRightBrotherCertification/1.jpg" /></div>
                <div>The following screen will appear and Click on Product Training Courses selection highlighted in <span style="background-color: yellow;">yellow</span> below</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/2.jpg" /></div>
                <div style="font-weight: bold;">Scroll to the bottom of the page and click on "I Accept"</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/3.jpg" /></div>
                <div style="font-weight: bold;">The Following page appears then</div>
                <div style="font-weight: bold;">Click on "Monochrome Laser Fax/MFC/DCP"</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/4.jpg" /></div>
                <div style="font-weight: bold;">Select "MFC - 8950DWT" from above choices will bring up the following screen</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/5.jpg" /></div>
                <div style="font-weight: bold;">Click on "Service Training"</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/6.jpg" /></div>
                <div style="font-weight: bold;">Click on "ENTER" to begin the training</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/7.jpg" /></div>
                <div style="font-weight: bold;">The training will take approximately 2.5 to 3 hours to complete.</div>
                <div style="font-weight: bold;">Training can be done at your pace and convenience, feel free to complete it at your own pace. Once you have completed the training you can go to the home page or log back in with the following instructions to begin the online testing.</div>
                <div style="font-weight: bold;">The test is 20 questions and you have 60 minutes to complete it.</div>
                <div style="font-weight: bold;">Hint - This is an open book test and the Service Manual has the answers.</div>
                <div style="font-weight: bold;font-size: 14px;">To access the Online Test:</div>
                <div style="font-weight: bold;">Go back to the home page or begin a new browser session</div>
                <div style="font-weight: bold;">Browse to: <a href="http://support.brother-usa.com/default.aspx" target="_blank" >http://support.brother-usa.com/default.aspx</a></div>
                <div style="font-weight: bold;">Log in to the site as: <a href="mailto:service@servright.com">service@servright.com</a> Password = brother (case sensitive)</div>
                <div>You should see the following then Clicking on "<span style="background-color: yellow;">Online training</span>" will bring up the following screen:</div>
                <div><img style="width:92%;" src="/widgets/images/ServRightBrotherCertification/8.jpg" /></div>
                <div style="font-weight: bold;font-size: 14px;">Scroll down the page until you see DCP/FAX/MFC</div>
                <div style="font-weight: bold;">Click on <span style="background-color: yellow;">MFC8950DW/DWT</span> and the following screen will appear:</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/9.jpg" /></div>
                <div style="font-weight: bold;font-size: 14px;">Enter the following into the screen shown below</div>
                <div>First Name:</div>
                <div>Last Name:</div>
                <div>Name of Your Company: (beginning with your FS Tech i.d.# )</div>
                <div>Account MUST BE - <b>ServRight</b></div>
                <div>Phone Number:</div>
                <div>Location: (city)</div>
                <div><img src="/widgets/images/ServRightBrotherCertification/10.jpg" /></div>
                <div style="font-weight: bold;">Click on Begin to start testing</div>
-->
                <div>
                    <div style="text-align: center;">
                        <input type="button" value="Continue" id="ServRightBrotherCertificationContinue2" class="link_button middle_button"/>
            </div>
                </div>
            </div>
            <div style="display: none;" id="ServRightBrotherCertificationFormResult">
                <div>To complete this certification you must follow the steps below (<a style="text-decoration: underline;" target="_blank" href="Training/Brother_Training_and_Testing_Procedure_20121210.pdf" >click here</a> to download the Instructions as a PDF file):</div>
                <ul style="padding-left: 50px;">
                    <li style="list-style:outside;margin-top: 15px;">Browse to <a href="http://support.brother-usa.com/default.aspx" target="_blank" >http://support.brother-usa.com/default.aspx</a></li>
                    <li style="list-style:outside;">Log into the site as: service@servright.com / Password: brother (case sensitive)</li>
                    <li style="list-style:outside;">Click on ONLINE TRAINING in the left sidebar</li>
                    <li style="list-style:outside;">Scroll down the page until you see DCP/FAX/MFC</li>
                    <li style="list-style:outside;">Click on MFC8950DW/DWT</li>
                    <li style="list-style:outside;">Enter your information
                        <ul style="padding-left: 50px;">
                            <li style="list-style:outside;">Enter your FS Tech ID# entered before your Company name</li>
                            <li style="list-style:outside;">For ACCOUNT, enter 'ServRight'</li>
                            <li style="list-style:outside;">Click on Begin to start testing</li>
                        </ul></li>
                </ul>
                <br>
                <div>Thanks and Good Luck!</div>
                <div>Your FieldSolutions Team</div>
                <div style="text-align: center;">
                    <input type="button" value="Return to Instructions" id="ServRightReturntoInstructions" class="link_button middle_button"/>&nbsp;&nbsp;
                    <input type="button" value="Continue to Testing" id="ServRightContinuetoTesting" class="link_button middle_button"/>
                </div>
            </div>
        </div>    
    </form> 
<?php } ?>