<form name="paystatusForm" id="paystatusForm" method="get" action="/">
<div  class="filter_popup">
<table width="100%">
<col width="33%" />
<col width="*" />
    <tr>
        <td class="tRight">WIN </td><td>
            <input type="text" size="8" value="" name="psWIN" id="psWIN" onchange="statusWidget.updateFields();" /></td>
    </tr>
    <tr>
    <td class="tRight">Start Date Between </td>
    <td>
        <input type="text" onfocus="this.blur()" onclick="calendarMove(this)" onchange="statusWidget.updateFields();" size="8" value="" name="psStartDate" id="psStartDate" /> and
        <input type="text" onfocus="this.blur()" onclick="calendarMove(this)" onchange="statusWidget.updateFields();" size="8" value="" name="psEndDate" id="psEndDate" /></td>
    </tr>
    <tr>
        <td class="tRight">Payment Date Between</td><td><input type="text" onfocus="this.blur()" onclick="calendarMove(this)" onchange="statusWidget.updateFields();" size="8" value="" name="psPaymentDateFrom" id="psPaymentDateFrom" /> and
        <input type="text" onfocus="this.blur()" onclick="calendarMove(this)" onchange="statusWidget.updateFields();" size="8" value="" name="psPaymentDateTo" id="psPaymentDateTo" /></td>
    </tr>
	<tr>
        <td colspan="2">
<div style="text-align:center;">
    <input type="button" class="link_button_popup" onclick="roll.hide();" value="Cancel" />
    <input type="submit" class="link_button_popup" value="Ok" onclick="statusWidget.doFind(); return false;" />
</div>
        </td>
	</tr>
</table>
</form>
</div>
