<form id="frmTECFICAgreement" >
    <div style="text-align: center;">TechFORCE Independent Contractor Agreement</div>
    <div style="padding: 10px;">
        <div style="padding-top: 15px;">TechFORCE now requires that their technicians agree to the TechFORCE Independent Contractor Agreement before running work through the FieldSolutions portal.</div>
        <div style="padding-top: 15px;"><a target="_blank" href="/techs/documents/TechForce_Platform_Contractor_Agreement_20120920.pdf">Click Here</a> to read the TechFORCE Independent Contractor Agreement.</div>
        <div style="padding-top: 15px;">
            <span>
                <input <?= $this->TECF_ICAgreement?'checked':"" ?> type="radio" id="TechFORCEContractorAgreementAgree" name="TechFORCEContractorAgreementAgree" />&nbsp;I Agree</span>
            <span style="padding-left: 20px;">
                <input <?= !$this->TECF_ICAgreement?'checked':"" ?> type="radio" name="TechFORCEContractorAgreementAgree" />&nbsp;I Do Not Agree</span>
        </div>
    </div>
    <div style="padding-top: 15px;text-align: center;">
        <input type="button" id="cmdCancelPopup" class="link_button_sm" value="Cancel"  />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="cmdSubmitTFEAPopup" class="link_button_sm" value="Submit"/>
    </div>
</form>
