<?php 
$int = 1;
$wos = &$this->wo; ?>

<table class="schedule" cellspacing=0 cellpadding=0 width="100%">
<?php if ( $this->success && sizeof($wos) ): ?>
<tr class="blue_bg">
    <th colspan="2">Start Date/Time</th>
    <th>WIN #</th>
    <th>Client WO ID#</th>
    <th>Skill Cat</th>
    <th>Headline</th>
    <th>City State Zip Code</th>
    <th>Bid</th>
    <th>Status</th>
</tr>
<?php foreach ( $wos as $wo ) : ?>
    <tr <?php if($int%2==0): ?>class="bg3"<?php endif;?>>
        <td><?= $this->displayDate('m/d/y', $wo->StartDate); ?></td>
        <td><?= $this->displayDate('H:i', $wo->StartTime); ?></td>
        <td>#<?= $wo->WIN_NUM; ?></td>
        <td><?= sprintf('%14s', $this->WO_ID); ?></td>
        <td><?= $wo->WO_Category; ?></td>
        <td><?= sprintf('%24s', $wo->Headline); ?></td>
        <td><?= $this->displayAddress($wo->City, $wo->State, $wo->Zipcode); ?></td>
        <td>(<?= $wo->Qty_Applicants + 0; ?>)</td>
        <td>
			<img alt="Accepted"  src="/widgets/images/<?= ($wo->WorkOrderReviewed) ? 'check_green' : 'red_cross'; ?>.gif" />
			<img alt="Confirmed"  src="/widgets/images/<?= ($wo->TechCheckedIn_24hrs) ? 'check_green' : 'red_cross'; ?>.gif" />
			<img alt="Checked In"  src="/widgets/images/<?= ($wo->CheckedIn || $wo->Date_In || $wo->Time_In) ? 'check_green' : 'red_cross'; ?>.gif" />
        </td>
    </tr>
<?php
$int++;
 endforeach; ?>
<?php else : ?>
<tr>
    <td colspan="9"><br /><br />No results found<br /><br /><br /></td>
</tr>
<?php endif; ?>
</table>

