<?php $int = 1;
$wos = &$this->wo; ?>

<table width="100%" class="schedule" cellspacing=0 cellpadding=0>
<?php if ( $this->success && sizeof($wos) ): ?>
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />

<tr class="gray_bg">
    <th colspan="2">Start Date/Time</th>
    <th>WIN #</th>
    <th>Client WO ID#</th>
    <th>Skill Cat</th>
    <th>Headline</th>
    <th>City State Zip Code</th>
    <th>Bid</th>
    <th>Tech Pay</th>
</tr>
<tr class="bg2"><td colspan="9">Next 7 days</td></tr>
<?php foreach ( $wos as $wo ) : ?>
    <tr <?php if($int%2==0): ?>class="bg3"<?php endif;?>>
        <td><?= $this->displayDate('m/d/y', $wo->StartDate); ?></td>
        <td><?= $this->displayDate('H:i', $wo->StartTime); ?></td>
        <td>#<?= $wo->WIN_NUM; ?></td>
        <td><?= sprintf('%14s', $this->WO_ID); ?></td>
        <td><?= $wo->WO_Category; ?></td>
        <td><?= sprintf('%24s', $wo->Headline); ?></td>
        <td><?= $this->displayAddress($wo->City, $wo->State, $wo->Zipcode); ?></td>
        <td>(<?= $wo->Qty_Applicants + 0; ?>)</td>
        <td><?= $this->displayMoney($wo->PayMax, '$' ,$wo->Amount_Per); ?></td>
    </tr>
<?php
$int++;
 endforeach; ?>
<?php else : ?>
<tr>
    <td colspan="9" class="gray_bg"><br /><br />No results found<br /><br /><br /></td>
</tr>
<?php endif; ?>
</table>

