<table width="100%" class="gradBox_table_inner">
    <col width="90px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="100px" />
    <col width="300px" />
    <col width="*" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="100px" />
    <col width="100px" />
    <col width="110px" />
    <col width="100px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <tr class="table_head">
        <th>WIN#</th>
        <th>WO ID</th>
        <th>Stage</th>
        <th>Client ID</th>
        <th>Company Name</th>
        <th>PO</th>
        <th>Created by</th>
        <th>Created</th>
        <th>Start</th>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Legal Entity</th>
        <th>Service Type</th>
        <th>AM</th>
        <th>CSD </th>
        <th>Site</th>
        <th>Skill Category</th>
        <th>Call Type (1 = install, 2 = serv call)</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Tech ID</th>
        <th>Tech FName</th>
        <th>Tech LName</th>
        <th>ISO ID</th><!--14112-->
        <th>TB Pay?</th>
        <th>Approved By</th>
        <th>DateApproved</th>
        <th>Work Order Type</th>
        <th>PayMax</th>
        <th>Tech Bid Amount</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Qty Hours</th>
        <th>Qty Visits</th>        
        <th>Qty Devices</th>
        <th>Tech Base Pay</th>
        <th>Out of Scope Amount</th>
        <th>Trip Charge</th>
        <th>Mileage Charge</th>
        <th>Materials Fee</th>
        <th>Extra Pay</th>
        <th>Abort Fee Amount</th>
        <th>Expense Report Reimbursement</th>        
        <th>Gross Pay Amount</th>
        <th>Net Pay Amount</th>
        <th>Calculated Invoice Amount</th>
        <th>Extra Auth By</th>
        <th>Extra Pay Reason</th>
        <th>General9 (out of scope)</th>
        <th>General10 (materials)</th>
        <th>Paid</th>
        <th>Date Paid</th>
        <th>Invoiced</th>
        <th>Date Invoiced</th>
        <th>Deactivated</th>
        <th>FS Internal Comments</th>
        <th>Abort Fee</th>
        <th>FLS ID</th>
        <th>Work Market Tech ID#</th>
		<th>Work Market Ticket #</th>
        <th>Deduct fee from Tech</th>
        <th>% Deduct</th>
        <th>Pricing Ran</th>
        <th>Pricing Rule Applied</th>
        <th>Pricing Rule Description</th>
        <th class="last"></th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; 
    $coreapiWosClass=new Core_Api_WosClass; 
    $user = new Core_Api_User();
    foreach( $this->paginator as $wo ) :
       $qtyDevices = $wo->Qty_Devices;
       //    $qtyVisits = $coreapiWosClass->getNumOfVisits($wo->WIN_NUM);
		$qtyVisits = $wo->Qty_Visits;
          
       //--- 13376
       $totalApReimThFS = $this->escape($coreapiWosClass->getTotal_ApReThFS($wo->WIN_NUM));
       $grossPayAmount = $this->escape($wo->PayAmount);
       $approved = $wo->Approved;
       if($approved==0) $grossPayAmount +=  $totalApReimThFS;
       $deductPercent = $wo->PcntDeduct ? ($wo->PcntDeductPercent) : 0;
       $fee = $grossPayAmount * $deductPercent;
       $woStatus = $wo->Status; //completed
       $netPayAmount = $this->escape($wo->Net_Pay_Amount);
/*       if($woStatus != 'completed')
       {
           $netPayAmount = $grossPayAmount - $fee;
       }*/
       //14112
       $Core_Api_TechClass = new Core_Api_TechClass;
       $resultISO = $Core_Api_TechClass->getTechInfo_ForAPIUsing($wo->Tech_ID);
       if (!empty($resultISO)) {
            $techISO_ID = $resultISO['ISO_Affiliation_ID'];                    
       }       
?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <br/><span class="ajaxLink" title="Work Order Information" onclick="openPopup('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>');"><?=$wo->WIN_NUM?></span><br /><br/>
        </td>
        <td>
            <span><?=$wo->WO_ID?></span>
        </td>
        <td><span><?=$this->escape($wo->Status)?></span></td>
        <td><span><?=$this->escape($wo->Company_ID)?></span></td>
        <td><span><?=$this->escape($wo->Company_Name)?></span></td>
        <td><span><?=$this->escape($wo->PO)?></span></td>
        <td><span><?=$this->escape($wo->Username)?></span></td>
        <td><span><?=$this->displayDate('n/j/Y', $wo->DateEntered)?></span></td>
        <td><span><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></td>
        <td><span><?=$this->escape($wo->Project_ID)?></span></td>
        <td><span><?=$this->escape($wo->Project_Name)?></span></td>
        <td><span><?=$this->escape($wo->EntityType_Name)?></span></td>
        <td><span><?=$this->escape($wo->ServiceType_Name)?></span></td>
        <td><span><?=$this->escape($wo->AM_Name)?></span></td>
        <td><span><?=$this->escape($wo->CSD_Name)?></span></td>
        <td><span><?=$this->escape($wo->SiteName)?></span></td>
        <td><span><?=$this->escape($wo->WO_Category)?></span></td>
        <td><span><?=$this->escape($wo->Type_ID)?></span></td>
        <td><span><?=$this->escape($wo->City)?></span></td>
        <td><span><?=$this->escape($wo->State)?></span></td>
        <td><span><?=$this->escape($wo->Zipcode)?></span></td>
        
        <td><span><?=$this->escape($wo->Tech_ID)?></span></td>
        <td><span><?=$this->escape($wo->Tech_FName)?></span></td>
        <td><span><?=$this->escape($wo->Tech_LName)?></span></td>
        <td><span><?=$this->escape($techISO_ID)?></span></td><!--14112-->
        <td><span><?=$wo->TBPay ? "Yes" : "No"?></span></td>
        <td><span><?=$this->escape($wo->approvedBy)?></span></td>
        <td><span><?=$this->displayDate('n/j/Y g:i A', $wo->DateApproved)?></span></td>
        <td><span><?=$this->escape($wo->Amount_Per)?></span></td>
        <td><span><?=$this->escape($wo->PayMax)?></span></td>
        <td><span><?=$this->escape($wo->Tech_Bid_Amount)?></span></td>
        <td><span><?=$this->escape($wo->Time_In)?></span></td>
        <td><span><?=$this->escape($wo->Time_Out)?></span></td>
        <td><span><?=$this->escape($wo->calculatedTechHrs)?></span></td>
        <td><span><?=$this->escape($qtyVisits)?></span></td>
        <td><span><?=$this->escape($qtyDevices)?></span></td>
        <td><span><?=$this->escape($wo->baseTechPay)?></span></td>
        <td><span><?=$this->escape($wo->OutofScope_Amount)?></span></td>
        <td><span><?=$this->escape($wo->TripCharge)?></span></td>
        <td><span><?=$this->escape($wo->MileageReimbursement)?></span></td>
        <td><span><?=$this->escape($wo->MaterialsReimbursement)?></span></td>
        <td><span><?=$this->escape($wo->Additional_Pay_Amount)?></span></td>
        <td><span><?=$this->escape($wo->AbortFeeAmount)?></span></td>
        <td><span><?php //--- 376
            echo(number_format($totalApReimThFS,2));
        ?></span></td>
        <td><span><?php echo(number_format($grossPayAmount,2));?></span></td>
        <td><span> <?php //376
            echo(number_format($netPayAmount,2));
        ?></span></td>
        <td><span><?=$this->escape($wo->calculatedInvoice)?></span></td>
        <td><span><?=$this->escape($wo->Add_Pay_AuthBy)?></span></td>
        <td><span><?=$this->escape($wo->Add_Pay_Reason)?></span></td>
        <td><span><?=$this->escape($wo->General9)?></span></td>
        <td><span><?=$this->escape($wo->General5)?></span></td>
        <td><span><?=$wo->TechPaid ? "Yes" : "No"?></span></td>
        <td><span><?=$this->displayDate('n/j/Y', $wo->DatePaid)?></span></td>
        <td><span><?=$wo->Invoiced ? "Yes" : "No"?></span></td>
        <td><span><?=$this->displayDate('n/j/Y', $wo->DateInvoiced)?></span></td>
        <td><span><?=$wo->Deactivated ? "Yes" : "No"?></span></td>
        <td><span><?=$this->escape($wo->FS_InternalComments)?></span></td>
        <td><span><?=$wo->AbortFee ? "Yes" : "No"?></span></td>
        <td><span><?=$this->escape($wo->FLS_ID)?></span></td>
        <td><span><?=$this->escape($wo->WMID)?></span></td>
        <td><span><?=$this->escape($wo->WMAssignmentID)?></span></td>
        <td><span><?=$wo->PcntDeduct ? "Yes" : "No"?></span></td>
        <td><span><?=$wo->PcntDeduct ? ($wo->PcntDeductPercent*100).'%'  : "0%"?></span></td>
        <td><span><?=$wo->PricingRan ? "Yes" : "No"?></span></td>
        <td><span><?=$this->escape($wo->PricingRuleApplied)?></span></td>
        <td><span><?=!empty($wo->PricingRuleApplied) ? $this->escape($this->pricingRules[$wo->PricingRuleApplied]) : ""?></span></td>
        <td></td>
        
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="61" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'all'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'all','short'=>true)),"'"))?>');
    });
    </script>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="61"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="61"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="61" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
