
<script>
function auto()
{
    var check = jQuery("#EnableAuto21DayRestricTool").attr("checked");
    var isRestricted = jQuery("#IsRestricted").val();    
    if(check==false && isRestricted==1)
    {        
        jQuery(".ckChildrenOpenId0").click();     
        jQuery("#IsRestricted").val(0);    
    }
    //
   // if(isRestricted==1)
    //{
      // jQuery("#IsRestricted").val(0); 
      // $('#Retris').attr('checked') 
   // }
    //
}
</script>

<?php
$cursor = '';
if ($this->mode)
    $cursor = 'cursor: pointer;';
?>
<img src="/widgets/images/checklist_flase.jpg" style="display: none;" />
<img src="/widgets/images/checklist_true.jpg" style="display: none;" />
<img src="/widgets/images/checklist_block.jpg" style="display: none;" />
<img src="/widgets/images/checklist_true_square.jpg" style="display: none;" />
<img src="/widgets/images/checklist_block_suare.jpg" style="display: none;" />
<table class="form_tableV2" style="margin-top: 0px;padding-top:5px;" width="100%">
    
    <tr>    
        <td nowrap="nowrap" width="470px;" style="font-size:10px;">
        <div ><span style="width:15px;display:inline-block"><input type="checkbox" id="EnableAuto21DayRestricTool" name="EnableAuto21DayRestricTool" onclick="auto();" <?php if($this->enableAuto21DayRestricTool) { ?> checked="checked" <?php }?> <?php if (!$this->mode) {?> disabled="disabled" <?php }?>></span>Enable Automatic 21-Day Idle Account Restriction Tool: Last Work Order Assigned <?=$this->lastAssignedBeforeDays?> days ago
        </div>
        <?php if($this->enableAuto21DayRestricTool && !$this->isRestricted) {?>
        <div>
            <span style="width:15px;display:inline-block">&nbsp;</span><?=$this->remainDays?> days Remaining before Account Restriction
        </div>
        <?php } ?>
        <?php if($this->enableAuto21DayRestricTool && $this->isRestricted) {?>        
        <div>
            <span style="width:15px;display:inline-block">&nbsp;</span><?=$this->days_sinceRestricted?> days since Account Restriction
        </div>        
        <?php }?>

        <input type="hidden" id="IsRestricted" value="<?=$this->isRestricted?1:0?>">

        </td>
        <td valign="top" align="right" width="*">
            <table><tr>
                    <td>
                        <input class="link_button middle_button" type="button" id="cmdActivityLog" value="Activity Log" />
                    </td>
                    <td>
                        <?php if (!$this->mode) { ?>
                            <input type="button" class="link_button middle_button" id="cmdEdit" value="Edit" />  
                        <?php } else { ?>
                            <span style="margin-top: 10px;">
                                <img style="cursor: pointer;" class="cmdCancelUpdateButton" title="Cancel" src="/widgets/images/button_x.png">
                                <img style="cursor: pointer;" id="cmdSave"  title="Save"
                                     style="border: 0px;" src="/widgets/images/button_save.png" />
                            </span>
                        <?php } ?>
                    </td>
                </tr></table>   
        </td>
    </tr>

    <tr>
        <td valign="top" colspan="2" id="clientAccessSettingsValue" align="left">
            <table width ="100%">
                <tr>
                    <td width="40%">

                    </td>
                    <td width="15%" align="center">Open</td>
                    <td width="15%" align="center">Restricted</td>
                    <td width="40%">
                        &nbsp;
                    </td>
                </tr>
                <tr class="trChildren trChildrenId-1 trCurrentId0" item_id="0"
                    parent_id="-1">
                    <td style="color: #10085A;">
                        <a href="javascript:;" item_id="0" parent_id="-1" class="cmdCollspan" style="color: #10085A;" ><img src="/widgets/images/img_minus.jpg" border="0"/><strong>&nbsp;All</strong></a>
                    </td>
                    <td align="center">
                        <img item_id="0" parent_id="-1"  style="<?= $cursor ?>" src="/widgets/images/checklist_flase.jpg" class="ckChildrenOpen ckChildrenOpenId0 trParentOpenId-1"  
                             checked='false' border="0"/>
                    </td>
                    <td align="center">
                        <img item_id="0" parent_id="-1"  style="<?= $cursor ?>" src="/widgets/images/checklist_flase.jpg" class="ckChildrenRestricted ckChildrenRestrictedId0 trParentRestrictedId-1"  
                             checked='false' border="0" id="Retris"/>
                    </td>
                    <td >
                        &nbsp;
                    </td>
                </tr>
            </table>
            <table class="trChildrenId0" width="100%" >
                <?php
                if (!empty($this->clientAccessAttributes)) {
                    foreach ($this->clientAccessAttributes as $i => $item) {
                        $nbsp = "&nbsp;&nbsp;&nbsp;";
                        $label = "";
                        $style = "";
                        if ($item["parent_id"] > 0) {
                            $style = "display:none;";
                        }
                        if ($item["parent_id"] > 0) {
                            $nbsp = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                        }
                        if ($item["parent_id"] == 0 && $item["childs"] > 0) {
                            $label = '<a href="javascript:;" class="cmdCollspan" item_id="' . $item["id"] . '" style="color: #10085A;" ><img src="/widgets/images/img_plus.jpg" border="0"/>&nbsp;' . $item["label"] . '</a>';
                        } else if ($item["parent_id"] == 0) {
                            $label = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" . $item["label"];
                        } else {
                            $label = $item["label"];
                        }
                        ?>
                        <tr style="<?= $style ?>" class="trChildren trChildrenId<?= $item["parent_id"] ?> trCurrentId<?= $item["id"] ?>" item_id="<?= $item["id"] ?>"
                            parent_id="<?= $item["parent_id"] ?>">
                            <td style="color: #10085A;" width="40%">
                        <?= $nbsp . $label ?>
                            </td>
                            <td width="15%" align="center">
                                <img style="<?= $cursor ?>" src="/widgets/images/<?= $item["open"] ? "checklist_true.jpg" : "checklist_flase.jpg"
                ?>" class="ckChildrenOpen ckChildrenOpenId<?= $item["id"] ?> trParentOpenId<?= $item["parent_id"] ?>" value_id="1" 
                                     item_id="<?= $item["id"] ?>" <?= $item["open"] ? "checked='true'" : "checked='false'"
                        ?> border="0"/>
                            </td>
                            <td width="15%" align="center">
                                <img style="<?= $cursor ?>" src="/widgets/images/<?= $item["restricted"] ? "checklist_block.jpg" : "checklist_flase.jpg"
                             ?>" class="ckChildrenRestricted  ckChildrenRestrictedId<?= $item["id"] ?> trParentRestrictedId<?= $item["parent_id"] ?>" value_id="2" 
                                     item_id="<?= $item["id"] ?>" <?= $item["restricted"] ? "checked='true'" : "checked='false'"
                             ?> border="0"/>
                            </td>
                            <td width="40%">
                                &nbsp;
                            </td>
                        </tr>
        <?php
    }
}
?>
            </table>
        </td>
    </tr>
</table>
