<form id="frmEntityType">
    <div style="text-align: center;">Update Options - Entity</div>
    <br>
    <div>
        Default Entity:
        <select name="EntityTypeId"  id='popupEntityTypeId'>
            <option value="">Select Entity</option>
            <?php
            if (!empty($this->EntityTypeList)) {
                foreach ($this->EntityTypeList as $item) {
                    ?>
                    <option <?= $this->EntityTypeId == $item["wo_tag_item_id"] ? "selected" : "" ?> value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                    <?php
                }
            }
            ?>
        </select>
    </div>
    <br>
    <div style="overflow-x: hidden;overflow-y: auto;height: 190px;">
        <table class="gradBox_table_inner" width="100%" style="float:left;border-bottom:1px solid #F69630;border-left:1px solid #F69630;border-right:1px solid #F69630;">
            <tr class="table_head">
                <th class="">Project ID</th>
                <th class="">Project Name</th>
                <?php
                if (!empty($this->EntityTypeList)) {

                    foreach ($this->EntityTypeList as $item) {
                        ?>
                        <th class=""><?= $item["wo_tag_item_name"] ?></th>
                        <?php
                    }
                }
                ?>
            </tr>
            <?php
            if (!empty($this->Projects)) {
                $tr = 1;
                foreach ($this->Projects as $Project) {
                    ?>  
                    <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                        <td>
                            <?= $Project["Project_ID"] ?>
                            <input value="<?= $Project["Project_ID"] ?>" name="Project[]" type="hidden" />
                        </td>
                        <td>
                            <?= $Project["Project_Name"] ?>
                        </td>
                        <?php
                        if (!empty($this->EntityTypeList)) {

                            foreach ($this->EntityTypeList as $item) {
                                ?>
                                <td align="center">
                                    <input <?= $Project["EntityTypeId"] == $item["wo_tag_item_id"]?"checked='true'":"" ?>
                                        type="radio" name="EntityType_<?= $Project["Project_ID"] ?>" value="<?= $item["wo_tag_item_id"] ?>" />
                                </td>
                                <?php
                            }
                        }
                        ?>
                    </tr>
                    <?php
                    ++$tr;
                }
            }
            ?>
        </table>
    </div>
    <div style="padding-top: 10px;">
        <input type="radio" checked="true" name="Applyupdate" value="1" /> Apply update to ALL Work Orders in the selected  project(s) that have NOT been invoiced.
    </div>
    <div>
        <input type="radio" name="Applyupdate" value="0" /> Apply update to FUTURE Work Orders ONLY in the selected project(s).
    </div>
    <br>
    <div style="text-align: center;">
        <input type="button" value="Cancel" id="cmdCancelPopup" class="link_button_popup" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Update" id="cmdUpdateEntityType" class="link_button_popup"  />
        <input type="hidden" value="<?= $this->client_id ?>" name="client_id" id="client_id" />
    </div>
</form>