<?
$CSDId = $this->ClientServiceDirectorsId;
$prjlist = $this->Projects;
$csdlist = $this->ClientServiceDirectors;
?>
<form id="frmCSD">
    <div style="text-align: center;">Update Options - Client Service Director </div>
    <br>
    <div>
        Default Client Service Director:
        <select name="CSDId"  id='popupCSDId'>
            <option value="">Select Client Service Director</option>
            <?
            //if (!empty($CSDId))
            //{
            //    $CSDId = $CSDId;
            //} else
            //{
            //    $CSDId = 10;
            //}
            //741
            if (!empty($csdlist))
            {
                foreach ($csdlist as $csd)
                {
                    ?>
                    <option <?= $CSDId == $csd["id"] ? "selected" : "" ?> value="<?= $csd["id"] ?>" email="<?= $csd["email"] ?>" phone="<?= $csd["phone"] ?>"><?= $csd["name"] ?></option>
                    <?
                }
            }
            //End 741   
            ?>
        </select>
    </div>
    <br>
    <div style="overflow-x: hidden;overflow-y: auto;height: 190px;">
        <table class="gradBox_table_inner" width="100%" style="float:left;border-bottom:1px solid #F69630;border-left:1px solid #F69630;border-right:1px solid #F69630;">
            <tr class="table_head">
                <th class="">Project ID</th>
                <th class="">Project Name</th>
                <?
                if (!empty($this->ClientServiceDirectors))
                {

                    foreach ($this->ClientServiceDirectors as $item)
                    {
                        ?>
                        <th class=""><?= $item["name"] ?></th>
                        <?
                    }
                }
                ?>
            </tr>
            <?
            if (!empty($prjlist))
            {
                $tr = 1;
                foreach ($prjlist as $prj)
                {
                    ?>  
                    <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                        <td>
                            <?= $prj["Project_ID"] ?>
                            <input value="<?= $prj["Project_ID"] ?>" name="Project[]" type="hidden" />
                        </td>
                        <td>
                            <?= $prj["Project_Name"] ?>
                        </td>
                        <?
                        $csdiditem = "";
                        //13992
                        if (!empty($prj["FSClientServiceDirectorId"]))  {
                            $csdiditem = $prj["FSClientServiceDirectorId"];
                        } else if(!empty($prj["ClientFSCSDId"])){
                            $csdiditem = $prj["ClientFSCSDId"];
                        } else {                            
                            $csdiditem = 10;
                        }
                        //end 13992
                        if (!empty($csdlist))
                        {
                            foreach ($csdlist as $csd)
                            {
                                ?>
                                <td align="center">
                                    <input <?= $csdiditem == $csd["id"] ? "checked='true'" : "" ?>
                                        type="radio" name="CSD_<?= $prj["Project_ID"] ?>" value="<?= $csd["id"] ?>" />
                                </td>
                                <?
                            }
                        }
                        ?>
                    </tr>
                    <?
                    ++$tr;
                }
            }
            ?>
        </table>
    </div>
    <div style="padding-top: 10px;">
        <input type="radio" checked="true" name="Applyupdate" value="1" /> Apply update to ALL Work Orders in the selected  project(s) that have NOT been invoiced.
    </div>
    <div>
        <input type="radio" name="Applyupdate" value="0" /> Apply update to FUTURE Work Orders ONLY in the selected project(s).
    </div>
    <br>
    <div style="text-align: center;">
        <input type="button" value="Cancel" id="cmdCancelPopup" class="link_button_popup" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Update" id="cmdUpdateCSD" class="link_button_popup"  />
        <input type="hidden" value="<?= $this->client_id ?>" name="client_id" id="client_id" />
    </div>
</form>
