<script>
    function cbLinkHover(obj, css) {
        try {
            obj.style.cssText = css;
        } catch (e) {
        }
    }
    function cbButtonHover(obj, css) {
        try {
            obj.style.cssText = css;
        } catch (e) {
        }
    }

</script>
<?php
function sortClass( $field, $cl ) {
        if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'asc') return 'sort-asc';
        if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'desc') return 'sort-desc';
}
function paramesortClass( $field, $cl ) {
        if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'desc') return ('sort="'.$field.'" sortdir="asc"');
        return ('sort="'.$field.'" sortdir="desc"');
}
?>
<form id="frmClientActivityLog" onsubmit="jQuery('#cmdEdit').click();return false;">
    <?php if (empty($this->search)) { ?>
        <div>
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <table cellspacing="0" style="border-color: #032D5F; border-width: 2px; border-style: solid; border-collapse: collapse;width: 100%;">
                                <tbody>
                                    <tr style="background-color: #FFFFFF; padding: 7px;">
                                        <td style="text-align: left; vertical-align: top; width: auto; white-space: nowrap; padding: 2px 5px 2px 5px; color: #032D5F; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: normal;">
                                            <label for="clientid">Client</label>
                                        </td>
                                        <td style="text-align: left; vertical-align: top; width: auto; padding: 5px 10px 5px 10px; white-space: normal;">
                                            <select id="clientid" name="clientid" style="color: #000000; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: normal;width: 100%;">
                                                <option value="">Any</option>
                                                <?php if(!empty($this->CompanyMasterList)) {
                                                    foreach($this->CompanyMasterList as $item){?>
                                                        <option value="<?= $item->Company_ID ?>"><?= $item->CompanyName ?></option>
                                                 <?php   }
                                                } ?>
                                            </select> 
                                        </td>
                                    </tr>
                                    <tr style="background-color: #FFFFFF; padding: 7px;">
                                        <td style="text-align: left; vertical-align: top; width: auto; white-space: nowrap; padding: 2px 5px 2px 5px; color: #032D5F; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: normal;">
                                            <label for="username">Updating Username</label>
                                        </td>
                                        <td style="text-align: left; vertical-align: top; width: auto; padding: 5px 10px 5px 10px; white-space: normal;">
                                            
                                            <!--<input type="text" name="username" style="width: 100%;" id="username"/>-->
                                            
                                            <select name="username" id="username">
                                              <option value="">Any</option>
                                                <?php
                                                    //741
                                                    $core_Api_AdminUser = new Core_Api_AdminUser();
                                                    $lstAdminUser = $core_Api_AdminUser->getAdminUserList();
                                                    if(!empty($lstAdminUser)){
                                                        foreach($lstAdminUser as $item){
                                                        ?>
                                                               <option value="<?=$item['UserName'] ?>"><?=$item['UserName']?></option>
                                                        <?
                                                        }
                                                    }
                                                    //End 741
                                                ?>
                                            </select>
                                            
                                            
                                        </td>
                                    </tr>
                                    <tr style="background-color: #FFFFFF; padding: 7px;">
                                        <td style="text-align: left; vertical-align: top; width: auto; white-space: nowrap; padding: 2px 5px 2px 5px; color: #032D5F; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: normal;">
                                            <label >Date of Update</label>
                                        </td>
                                        <td style="text-align: left; vertical-align: top; width: auto; padding: 5px 10px 5px 10px; white-space: normal;">
                                            <div style="float: left;">(>=) <input class="calendarInput" type="text" name="dateGea" id="dateGea"/></div>
                                            <div style="float: right;">&nbsp;&nbsp;&nbsp;(<=) <input class="calendarInput"  type="text" name="DateLe" id="DateLe"/></div>
                                        </td>
                                    </tr>   
                                    <tr style="background-color: #FFFFFF;">
                                        <td colspan="2" style="padding: 5px 0px 5px 0px; text-align: center; vertical-align: middle; border-color: #032D5F; border-width: 2px; border-style: solid; background-color: #5091CB;">
                                            <input type="hidden" name="search" id="search" value="1"/>
                                            <input type="hidden" name="sortfield" id="sortfield" value="logdate"/>
                                            <input type="hidden" name="sortdir" id="sortdir" value="desc"/>
                                            <input type="button" style="color: rgb(255, 255, 255); font-size: 12px; font-family: Verdana; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-color: rgb(80, 145, 203); border-style: solid; border-width: 1px; background-color: rgb(3, 45, 95); width: auto; height: auto; margin: 0pt 3px;"  value="Search" id="cmdSearch">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <?php } else {?>
        <table width="100%" class="gradBox_table_inner">
            <tr class="table_head">
                <th class="sortable <?=sortClass('logdate', $this);?>" <?=paramesortClass('logdate', $this);?>>Date of Update</th>
                <th class="sortable <?=sortClass('Company_ID', $this);?>"  <?=paramesortClass('Company_ID', $this);?>>Client</th>
                <th class="sortable <?=sortClass('username', $this);?>"  <?=paramesortClass('username', $this);?>>Updated by User</th>
                <th class="sortable <?=sortClass('action', $this);?>"  <?=paramesortClass('action', $this);?>>Action</th>
            </tr>
            <?php if (!empty($this->ClientActivityLog)): ?>
                <?php
                $tr = 1;

                foreach ($this->ClientActivityLog as $log) :
                    ?>
                    <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                        <td>
                            <?= !empty($log["logdate"])?date_format(new DateTime($log["logdate"]), "m/d/Y H:m:s"):"" ?>
                        </td>
                        <td>
                            <a href="/admin/admin_client_profile.php?type=Client&client_id=<?= $log["clientid"] ?>" target="_blank"> <?= $log["Company_ID"] ?></a>
                        </td>
                        <td><?= $log["username"] ?></td>
                        <td><?= $log["action"] ?></td>
                        <?php
                        ++$tr;
                    endforeach;
                    ?>
                    <?php
                        ?>
                    <tr class="paginator">
                        <td colspan="4" class="tCenter" id="paginatorContainer">
                            <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()) ?>
                        </td>
                    </tr>
                   
            <?php else : ?>
                <tr>
                    <td colspan="17"><br /><br />No results found<br /><br /><br /></td>
                </tr>
                <tr class="paginator">
                    <td colspan="17" class="tCenter">&#160;</td>
                </tr>
            <?php endif; ?>
        </table>
    <input type="hidden" value="<?= $this->clientid ?>" name="clientid" id="clientid" />
    <input type="hidden" value="<?= $this->username ?>" name="username" id="username" />
    <input type="hidden" value="<?= $this->dateGea ?>" name="dateGea" id="dateGea" />
    <input type="hidden" name="search" id="search" value="1"/>
    <input type="hidden" value="<?= $this->DateLe ?>" name="DateLe" id="DateLe" />
    <input type="hidden" name="sortfield" id="sortfield" value="<?= $this->sortfield ?>"/>
    <input type="hidden" name="sortdir" id="sortdir" value="<?= $this->sortdir ?>"/>
    <?php } ?>
</form>
