<?php 
    $arrStates = array();
    $arrStates["US"] = Core_State::getByCode("US");
    $arrStates["CA"] = Core_State::getByCode("CA");
    $arrStates["MX"] = Core_State::getByCode("MX");
    $arrStates["UK"] = Core_State::getByCode("UK");
    $arrStates["BR"] = Core_State::getByCode("BR");
    $arrStates["KY"] = Core_State::getByCode("KY");
    $arrStates["BS"] = Core_State::getByCode("BS");

    $arrStatesHtml = array();
    foreach($arrStates as $countryCode => $arrayState)
    {
        $statesHtml = "<option value=\"0\">Select State</option>";
        foreach($arrayState as $code=>$name)    
        {
            $statesHtml .= "<option value=\"$code\">$name</option>";
        }
        $arrStatesHtml[$countryCode]=$statesHtml;
    }
    ?>
<script>
$(document).ready(function(){
    $("#Country").change(function(){
        var countryCode = $("#Country").val();
        if(countryCode=='US') {$("#BusinessState").html('<?=$arrStatesHtml['US']?>'); }
        else if(countryCode=='CA') {$("#BusinessState").html('<?=$arrStatesHtml['CA']?>'); }
        else if(countryCode=='MX') {$("#BusinessState").html('<?=$arrStatesHtml['MX']?>'); }
        else if(countryCode=='UK') {$("#BusinessState").html('<?=$arrStatesHtml['UK']?>'); }
        else if(countryCode=='BR') {$("#BusinessState").html('<?=$arrStatesHtml['BR']?>'); }
        else if(countryCode=='KY') {$("#BusinessState").html('<?=$arrStatesHtml['KY']?>'); }
        else if(countryCode=='BS') {$("#BusinessState").html('<?=$arrStatesHtml['BS']?>'); }        
    });
});
</script>
<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/admindashboard/client/do-create/" onSubmit="return detailsWidget.validateCreateSubmit('admin');" method="post" id="CreateProjectForm" name="CreateForm" enctype="multipart/form-data">
		<input type="hidden" name="CreateForm[AccountEnabled]" value="1" />
		<input type="hidden" name="CreateForm[ShowOnReports]" value="1" />
		<input type="hidden" name="CreateForm[AcceptTerms]" value="1" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field">Admin Account?</td>
				<td><input type="checkbox" class="input_checkbox" id="Admin" name="CreateForm[Admin]" value="1" checked="checked" /></td>
			</tr>
			<tr>
				<td class="label_field"><span class="required">*</span>Company ID</td>
				<td><input type="text" maxlength="255" class="input_text" id="Company_ID" name="CreateForm[Company_ID]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="CompanyName" name="CreateForm[CompanyName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="CreateForm[ContactName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Primary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="CreateForm[ContactPhone1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone2" name="CreateForm[ContactPhone2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Primary Email Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="CreateForm[Email1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Secondary Email Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email2" name="CreateForm[Email2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Website Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="WebsiteURL" name="CreateForm[WebsiteURL]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessAddress" name="CreateForm[BusinessAddress]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">City</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessCity" name="CreateForm[BusinessCity]" value="" /></td>
			</tr>
            <tr>
                <td class="label_field">States</td>
                <td>
                    <select name="CreateForm[BusinessState]" id="BusinessState">
                        <option value="0">Select State</option>
                        <?php foreach ($this->states as $state) : ?>
                        <option title="<?= $state->State?>" value="<?= $state->Abbreviation?>"><?= $state->State?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field">Zip</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessZip" name="CreateForm[BusinessZip]" value="" /></td>
			</tr>
            <tr>
                <td class="label_field"><span class="required">*</span>Country</td>
                <td>
                    <select name="CreateForm[Country]" id="Country">
                        <option value="0">Select Country</option>
                        <?php 
                        $dotline="----------------";
                        $icount=0;                    
                        foreach ($this->countries as $country) { 
                        ?>
                        <option title="<?= $country->Name?>" value="<?= $country->Code?>"><?= $country->Name?></option>
                        <?php 
                            if($icount==2) {        
                                echo("<option value=\"\">$dotline</option>");        
                            }        
                            $icount = $icount+1;                        
                        } 
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label_field">Company Logo</td>
                <td><input type="file" name="Company_Logo" id="Company_Logo" size="40" /></td>
            </tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Desired Username</td>
				<td><input type="text" maxlength="255" class="input_text" id="UserName" name="CreateForm[UserName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Desired Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="CreateForm[Password]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Confirm Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="PasswordConf" name="CreateForm[PasswordConf]" value="" /></td>
			</tr>
                        
<!--                  622, 13741      -->
			<tr>
                        <td class="label_field">Client Status</td>
                        <td>
                            <select name="ClientStatusId" id='ClientStatusId'>
                                <option value="">Select Status</option>
                                <?php if(!empty($this->StatusList)){
                                    foreach($this->StatusList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>" <?=$item["wo_tag_item_code"]=='Active'?"selected":""?>><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Client Relationship</td> <!--13759-->
                        <td>
                            <select name="ClientRelationshipId" id='ClientRelationshipId' >
                                <option value="">Select Client Relationship</option>
                                <?php if(!empty($this->RelationShipList)){
                                    foreach($this->RelationShipList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Segment</td> <!--13759-->
                        <td>
                            <select name="SegmentId" id='SegmentId' >
                                <option value="">Select Segment</option>
                                <?php if(!empty($this->SegmentList)){
                                    foreach($this->SegmentList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Original Seller</td> <!--13759-->
                        <td>
                            <select name="OriginalSellerId" id='OriginalSellerId'>
                                <option value="">Select Original Seller</option>
                                <?php if(!empty($this->OriginalSellerList)){
                                    foreach($this->OriginalSellerList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Executive</td> 
                        <td>
                            <select name="ExecutiveId" id='ExecutiveId' >
                                <option value="">Select Executive</option>
                                <?php if(!empty($this->ExecutiveList)){
                                    foreach($this->ExecutiveList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Account Manager</td> 
                        <td>
                            <select name="FSAccountManagerId" id='FSAccountManagerId'>
                                <option value="">Select Account Manager</option>
                                <?php if(!empty($this->AccountManagers)){
                                    foreach($this->AccountManagers as $item){
                                ?>
                                <option value="<?= $item["id"] ?>"><?= $item["name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Client Service Director</td> 
                        <td>
                            <select name="FSClientServiceDirectorId"id='FSClientServiceDirectorId' >
                                <option value="">Select Client Service Director</option>
                                <?php if(!empty($this->ServiceDirectors)){
                                    foreach($this->ServiceDirectors as $item){
                                ?>
                                <option value="<?= $item["id"] ?>"><?= $item["name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_field">Legal Entity</td>
                        <td>
                            <select name="EntityTypeId" id='EntityTypeId' >
                                <option value="">Select Entity</option>
                                <?php if(!empty($this->EntityTypeList)){
                                    foreach($this->EntityTypeList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>" <?= $item["wo_tag_item_code"]=='FieldSolutions'?"selected":""?>><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field"><span class="required">*</span>Service Type</td> 
                        <td>
                            <select name="ServiceTypeId"  id='ServiceTypeId'>
                                <option value="">Select Service Type</option>
                                <?php if(!empty($this->ServiceTypeList)){
                                    foreach($this->ServiceTypeList as $item){
                                ?>
                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php }
                                } ?>
                            </select>
                        </td>
                    </tr>
<!--                  622, 13741-->
			<tr>
                <td class="label_field">Deduct FS Service Fee From Tech</td>
				<td>
                <?php
                $deductapi = new Core_Api_CommonClass();
                $deductinfo = $deductapi->getDeducts();

                ?>
                    <select name="CreateForm[PcntDeductPercent]" id="PcntDeductPercent">
                        <?
                        foreach($deductinfo as $deduct)
                        {
                        ?>
                            <option <?= $this->PcntDeductPercent == $deduct['DeductPcnt']?'selected="selected"':'' ?>
                                value="<?=$deduct['DeductPcnt']?>"><?=$deduct['DeductPcntDescription']?></option>
                        <?
                        }
                        ?>
                    </select>

				</td>
			</tr>
            <tr>
                <td class="label_field">Default Pricing Rule</td>
                <td>
                    <select name="CreateForm[PricingRuleID]" id="PricingRuleID">
                        <option value="0">Select Pricing Rule</option>
                        <?php foreach ($this->pricingRules as $rule) : ?>
                        <option title="<?= $rule->Description?>" value="<?= $rule->PricingRuleId?>"><?= $rule->Description?></option-->
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>

            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>