<?
$FSTagInfo = $this->FSTagInfo;
//print_r("FSTagInfo<pre>");
//print_r($FSTagInfo);
//print_r("<pre>");
$TagLevelnum = count($FSTagInfo["TagLevelsData"]);

$FSTagCompanyList = $this->FSTagCompanyList;
$db = Zend_Registry::get('DB');
$select = $db->select();
$select->from(Core_Database::TABLE_CLIENTS, array("Company_ID", "CompanyName"))
        ->distinct()
        ->order(array("CompanyName"));
$companyList = $db->fetchPairs($select);
$companyHtml = "";

function loadclient($companyList, $selectedcompany = "")
{
    foreach ($companyList as $id => $name)
    {
        if (!empty($selectedcompany))
        {
            $companyHtml .= "<option value=\"$id\" " . ($selectedcompany === $id ? "selected=\"selected\"" : "") . " textname=\"$name - $id\">$name - $id</option>";
        } else
        {
            $companyHtml .= "<option value=\"$id\" textname=\"$name - $id\">$name - $id</option>";
        }
    }
    return $companyHtml;
}
?>
<style>
    .headertable
    {
        color:white;
        text-align:center;
        background-color:#5091cb;
    }
    .hrline
    {
        color: white;
        background: none repeat scroll 0 0 white;
        margin-bottom: 0px;
        height:1px;
    }
    .submitline
    {
        padding: 5px 0px 5px 0px;
        text-align: center;
        vertical-align: middle;
        border-color: #032D5F;
        border-width: 2px;
        border-style: solid;
        background-color: #5091CB;
    }
    .buttonstyle
    {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: Verdana;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border-color: rgb(80, 145, 203);
        border-style: solid; border-width: 1px;
        background-color: rgb(3, 45, 95);
        width: auto;
        height: auto;
        margin: 0pt 3px;
    }
</style>
<div align="center">
    <h1>Edit Custom FS-Tags</h1>
    <iframe style="height: 0px;" id="iframeeditfstag" name="iframeeditfstag"></iframe>
    <form  enctype="multipart/form-data"  target="iframeeditfstag" method="post" action="/widgets/admindashboard/client/uploadtag"
           name="frmeditfstag" id="frmeditfstag">
        <input type="hidden" name="fsTagID" value="<?= $FSTagInfo['id'] ?>">
        <input type="hidden" id="sortfield" name="sortfield" value="<?= $this->sortfield ?>">
        <input type="hidden" id="sortdir" name="sortdir" value="<?= $this->sortdir ?>">
        <input type="hidden" id="tagfrom" name="sortdir" value="<?= $this->tagfrom ?>">
        <div style="position:absolute;float:left;margin-left:300px;margin-top:-15px;<?= $this->tagfrom == 1 ? 'display:none' : ''; ?>">
            <a id="backtolist" href="javascript:;" onclick="backtolist()">Back to List</a>
        </div>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <table cellspacing="0" style="border-color: #032D5F; border-width: 2px; border-style: solid; border-collapse: collapse;width: 100%;">
                            <tbody>
                                <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:red">*</span> Select System Visibility
                                    </td>
                                    <td class="col2" style="width:490px;">
                                        <select name="cbxSystemVisibility" id="cbxSystemVisibility" onchange="cbxSystemVisibilitychange()">
                                            <option value="1" textname="Selected Client(s) Only" <?= $FSTagInfo["VisibilityId"] == 1 ? "selected" : ""; ?>>Selected Client(s) Only</option>
                                            <option value="2" textname="All Client Users" <?= $FSTagInfo["VisibilityId"] == 2 ? "selected" : ""; ?>>All Client Users</option>
                                            <option value="3" textname="GPM Only" <?= $FSTagInfo["VisibilityId"] == 3 ? "selected" : ""; ?>>GPM Only</option>                                      
                                        </select> 
                                    </td>
                                </tr>
                                <tr id="trclient" class="trstyle" style="<?= $FSTagInfo["VisibilityId"] != 2 ? "display:''" : "display:none" ?>">
                                    <td class="col1" style="vertical-align:top;">
                                        <span style="color:red">*</span> Select Client(s)
                                    </td>
                                    <td class="col2" style="vertical-align:top:">
                                        <table cellpadding="10" cellspacing="0" width="100%">
                                            <tr>
                                                <td id="tdclient" width="400px">
                                                    <?
                                                    if (!empty($FSTagCompanyList))
                                                    {
                                                        $Clientdiv = 0;
                                                        foreach ($FSTagCompanyList as $FSTagCompany)
                                                        {
                                                            ?>
                                                            <div id ="Clientdiv<?= $Clientdiv; ?>">
                                                                <select class="cbxstyle" name="Client[]">
                                                                    <option value="" textname="">Select Client</option>
                                                                    <?= loadclient($companyList, $FSTagCompany['CompanyId']) ?>
                                                                </select> 
                                                            </div>
                                                            <?
                                                            $Clientdiv +=1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        ?>
                                                            <div id ="Clientdiv0">
                                                                <select class="cbxstyle" name="Client[]" disabled>
                                                                    <option value="" textname="">Select Client</option>
                                                                    <?= loadclient($companyList, $FSTagCompany['CompanyId']) ?>
                                                                </select> 
                                                            </div>
                                                            <?
                                                    }
                                                    ?>

                                                </td>
                                                <td style="vertical-align:bottom;">
                                                    <a href="javascript:;" id="editfstagaddclient" style="cursor: pointer;">+ Add a Client</a>
                                                    <input type="hidden" id="clientnum" value="<?= $Clientdiv ?>"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!--13912-->
                                 <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:white">*</span> Client (non-GPM) Edits
                                    </td>
                                    <td class="col2">                                       
                                        <input type="checkbox" id="canNonGPMEdit" name="canNonGPMEdit" value="<?= $FSTagInfo["CanNonGPMEdit"] ?>" <?= $FSTagInfo["VisibilityId"]==3?"disabled":($FSTagInfo["CanNonGPMEdit"] == 1 ? "checked" : ""); ?>>
                                    </td>
                                </tr>
                                 <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:white">*</span> GPM Edits
                                    </td>
                                    <td class="col2">                                       
                                        <input type="checkbox" id="canGPMEdit" name="canGPMEdit" value="<?= $FSTagInfo["CanGPMEdit"] ?>" <?= $FSTagInfo["CanGPMEdit"] == 1 ? "checked" : ""; ?>>
                                    </td>
                                </tr>
                                 <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:white">*</span> Tech Visibility
                                    </td>
                                    <td class="col2">                                       
                                        <div id ="techHidediv0">
                                                        <select id="cbxtechhide" class="cbxstyle" name="techHide" onchange="cbxtechhidechange();">
                                                            <option value="1" <?= $FSTagInfo["HideFromTechs"] == 1 ? "selected" : ""; ?>>Yes</option>
                                                            <option value="0" <?= $FSTagInfo["HideFromTechs"] == 0 ? "selected" : ""; ?>>No</option>
                                                            <option value="2" <?= $FSTagInfo["HideFromTechs"] == 2 ? "selected" : ""; ?>>Tagged Techs Only</option>
                                                        </select> 
                                         </div>
                                    </td>
                                </tr>
                                 <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:white">*</span> Tech Edits
                                    </td>
                                    <td class="col2">                                       
                                        <input type="checkbox" id="canTechEdit" name="canTechEdit" value="<?= $FSTagInfo["CanTechEdit"] ?>" <?=$FSTagInfo["HideFromTechs"]==0?"disabled": ($FSTagInfo["CanTechEdit"] == 1 ? "checked" : ""); ?>>
                                    </td>
                                </tr>
                                <!--End 13912-->
                                
                                <tr class="trstyle">
                                    <td class="col1">
                                        <span style="color:red">*</span> Enter Tag Title
                                    </td>
                                    <td class="col2">
                                        <input type="text" id="tagtitle" name="tagtitle" value="<?= $FSTagInfo["Title"] ?>">&nbsp;<img class="viewTaglist" alt="" title="View tag list" src="/widgets/images/magnify.gif" style="cursor:pointer;">
                                        <!--931-->
                                        <input type="hidden" id="TagName" name="TagName" value="<?= $FSTagInfo["HasMultiTagLevels"]==1?"":$FSTagInfo["TagArt"] ?>">
                                        <!--end 931-->
                                        <input type="hidden" id="TagSource" name="TagSource" value="<?= $FSTagInfo["Title"] ?>">
                                    </td>
                                </tr>
                                <!-- 13931 -->
                                <tr class="trstyle">
                                    <td class="col1">
                                        &nbsp;&nbsp; Multiple Tag Levels
                                    </td>
                                    <td class="col2">
                                        <input type="checkbox" name="multipletaglevels" id="multipletaglevelsedit" value="1" <?=$FSTagInfo["HasMultiTagLevels"]==1?"checked":"";?>>
                                        <input type="hidden" name="hidNumberItem" id="hidNumberItem" value="<?=$TagLevelnum;?>">
                                    </td>
                                </tr>
                                <tr class="trstyle trmultipletaglevelschecked">
                                    <td colspan="2">
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="tbmultipletaglevels">
                                            <!--931-->
                                            <col width="200px;">
                                            <col width="*">
                                            <!--end 931-->
                                            <tbody>
                                                <?
                                                $str="";
                                                if(!empty($FSTagInfo["TagLevelsData"]))
                                                {
                                                    $i=1;
                                                    foreach($FSTagInfo["TagLevelsData"] as $tagdata)
                                                    {
														$tag_art = str_replace ("|", "", $tagdata['TagArt']);
                                                        $str .= '<tr class="trstyle trSubLevel_'.$i.'">';
                                                        $str .= '   <td class="col1" colspan="2">';
                                                        $str .= '       <b>Level <span class="titleNumber">'.$i.'</span></b> ';
                                                        $str .= '       <span class="spanDelete">(<a href="javascript:;" class="deleteSubLevel" vxitemLevel="'.$i.'" style="cursor:pointer;">delete level</a>)</span>';
                                                        if($i==1)
                                                        {
                                                            $str .= '   <span class="spanMoveDown">(<a href="javascript:;" class="movedownSubLevel" vxitemLevel="'.$i.'" style="cursor:pointer;">move down</a>)</span>';
                                                        }
                                                        else if($i==$TagLevelnum)
                                                        {
                                                            $str .= '   <span class="spanMoveUp">(<a href="javascript:;" class="moveupSubLevel" vxitemLevel="'.$i.'" style="cursor:pointer;">move up</a>)</span>';
                                                        }
                                                        else
                                                        {
                                                            $str .= '   <span class="spanMoveUp">(<a href="javascript:;" class="moveupSubLevel" vxitemLevel="'.$i.'" style="cursor:pointer;">move up</a>)</span>';
                                                            $str .= '   <span class="spanMoveDown">(<a href="javascript:;" class="movedownSubLevel" vxitemLevel="'.$i.'" style="cursor:pointer;">move down</a>)</span>';
                                                        }
                                                        $str .= '   </td>';
                                                        $str .= '</tr>';
                                                        $str .= '<tr class="trstyle trSubLevel_'.$i.'">';
                                                        $str .= '   <td class="col1" width="20%">';
                                                        $str .= '       <span style="color:red">*</span> Enter Level <span class="titleNumber">'.$i.'</span> Tag Label';
                                                        $str .= '   </td>';
                                                        $str .= '   <td class="col2">';
                                                        $str .= '       <input type="text" id="tagTitleLevel_'.$i.'" name="tagTitleLevel_'.$i.'" value="'.$tagdata['Title'].'">';
                                                        $str .= '   </td>';
                                                        $str .= '</tr>';
                                                        $str .= '<tr class="trstyle trSubLevel_'.$i.'">';
                                                        $str .= '   <td class="col1">';
                                                        //931
                                                        $str .= '       <span style="color:red">*</span> Current Tag Art (PNG files only)<br/>';
                                                        $str .= '       <a class="selectnewtag" href="javascript:;">(Select new tag art)</a>';
                                                        $str .= '       <div class="divcanvel" style="text-align:right;display:none;">';
                                                        $str .= '           <a class="canceltag" href="javascript:;">(cancel)</a> (Max height: 26px)';
                                                        $str .= '       </div>';
                                                        $str .= '   </td>';
                                                        $str .= '   <td class="col2">';
                                                        $str .= '       <div class="tagname">';
                                                        $str .= '           <a href="https://s3.amazonaws.com/wos-docs/tags/'.$tag_art.'">'.$tag_art.'</a>';
                                                        $str .= '       </div>';
                                                        $str .= '       <div class="uploadimg" style="display:none;">';
                                                        $str .= '           <input type="file" id="TagArt_'.$i.'" name="TagArt_'.$i.'" accept="image/png"><a style="cursor: pointer;" class="addSubLevel" href="javascript:;" vxitemLevel="'.$i.'">+ Add a Level</a>';
                                                        $str .= '           <input type="hidden" id="TagArtName_'.$i.'" name="TagArtName_'.$i.'" value="'.$tag_art.'">';
                                                        $str .= '           <input type="hidden" id="TagArtID_'.$i.'" name="TagArtID_'.$i.'" value="'.$tagdata['id'].'">';
                                                        $str .= '       </div>';
                                                        $str .= '   </td>';
                                                        $str .= '</tr>';
                                                        //end 931
                                                        $i++;
                                                    }
                                                }
                                                echo($str);
                                                ?>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- End 13931 -->
                                <tr class="trstyle trmultipletaglevelsunchecked">
                                    <!--931-->
                                    <td class="col1" style="vertical-align:top;text-align:center;">
                                        <span style="color:red">*</span> Current Tag Art (PNG files only)<br/>
                                        <a class="selectnewtag" href="javascript:;">(Select new tag art)</a>
                                        <div class="divcanvel" style="text-align:right;display:none;"><a class="canceltag" href="javascript:;">(cancel)</a> (Max height: 26px)</div><!--829-->
                                    </td>
                                    <td class="col2">
                                        <div class="tagname">
                                            <?
                                            if ($FSTagInfo['IsExistingTag'] == 1)
                                            {
                                                ?>
                                                <a href="<?= $FSTagInfo["ExistingImagePath"] ?>">
                                                    <?
                                                    $ExistingImagePath = strrchr($FSTagInfo["ExistingImagePath"], "/");
                                                    echo (substr($ExistingImagePath, 1, strlen($ExistingImagePath) - 1));
                                                    ?>
                                                </a>
                                                <?
                                            } else
                                            {
												$tag_art = str_replace ("|", "", $FSTagInfo["TagArt"]);
                                                ?>
                                                <a href="https://s3.amazonaws.com/wos-docs/tags/<?= $tag_art ?>"><?= $tag_art ?></a>
                                                <?
                                            }
                                            ?>
                                        </div>
                                        <div class="resultsTable" style='height:10ppx;width:300px;'>
                                            <table class='resultsTable'>
                                                <tr>
                                                    <td class='headertable'>Total<br>Work Orders</td>
                                                    <td class='headertable'>No&nbsp;Shows<hr class='hrline'>Back Outs</td>
                                                    <td class='headertable'>FS-Tags&trade;</td>
                                                    <td class='headertable'>Background<hr class='hrline'>Drug Test</td>
                                                </tr>
                                                <tr class='preferred'>
                                                    <td style='text-align:center;'>435</td>
                                                    <td style='text-align:center;'>
                                                        <span>0</span>
                                                        <hr style='background-color:#DDD;height:1px;'>
                                                        <span>0</span>
                                                    </td>
                                                    <td style='min-width: 60px'>
                                                        <table cellspacing='2' cellpadding='2'>
                                                            <tbody>
                                                                <tr style='padding-bottom:2px;'>
                                                                    <td>
                                                                        <img src='/widgets/images/dellMRAPassed.png'>
                                                                    </td>
                                                                    <td>
                                                                        <img src='/widgets/images/VonagePlusTag.png'>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan='2'>
                                                                        <hr style='background-color:#DDD;height:1px;'>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <img style='height:24px' src='/widgets/images/fs_mobile_26x23.png'>
                                                                    </td>
                                                                    <td>
                                                                        <?
                                                                        if ($FSTagInfo['IsExistingTag'] == 1)
                                                                        {
                                                                            ?>
                                                                            <img src="<?= $FSTagInfo["ExistingImagePath"] ?>" width="26px"/>
                                                                            <?
                                                                        } else
                                                                        {
																			$tag_art = str_replace ("|", "", $FSTagInfo["TagArt"])
                                                                            ?>
                                                                            <img src="https://s3.amazonaws.com/wos-docs/tags/<?= $tag_art ?>"/>
                                                                            <?
                                                                        }
                                                                        ?>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <span style='width:50px;'>
                                                            <img src='/widgets/images/check_green.gif'>
                                                            <img style='margin-left: 2px;' src='/widgets/images/check_green.gif'>
                                                        </span>
                                                        <hr style='color: white;background: none repeat scroll 0 0 white;margin-bottom: 0px;'>
                                                        <span>
                                                            <img src='/widgets/images/check_green.gif'>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan='4' class='headertable'>&nbsp;</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="uploadimg" style="display:none;">
                                            <input type="file" id="TagArt" name="TagArt" accept="image/png">
                                            <?if($FSTagInfo["HasMultiTagLevels"]!=1)
                                            {
                                                ?>
                                                <input type="hidden" id="TagArtName_1" name="TagArtName_1" value="<?= $FSTagInfo["TagArt"] ?>">
                                            <?
                                            }
                                            ?>
                                        </div>
                                        <!--931-->
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="col1">
                                        Added by
                                    </td>
                                    <td  class="col2">
                                        <?= $FSTagInfo["AddedByUser"] ?> (<?= date("m/d/Y H:i:s A", strtotime($FSTagInfo['AddedDate'])); ?> CST)
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="col1">
                                        Active?
                                    </td>
                                    <td  class="col2">
                                        <input type="checkbox" id="Active" name ="Active" value="<?= $FSTagInfo["Active"] ?>" <?= $FSTagInfo["Active"] == 1 ? "checked" : ""; ?>>
                                    </td>
                                </tr>
                                <tr class ="submitline">
                                    <td colspan="2">
                                        <input type="button" id="cmdCancel" value="Cancel" tagfrom="<?= $this->tagfrom ?>" onmouseout="cbButtonHover(this,'color: #ffffff; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-color: #5091CB; border-style: solid; border-width: 1px; background-color: #032D5F;  width: auto; height: auto; margin: 0 3px;');" onmouseover="cbButtonHover(this,'color: #FFFFFF; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-style:solid; border-width: 1px; border-color: #032D5F; background-color: #083194;  width: auto; height: auto; margin: 0 3px;');" class="buttonstyle">
                                        <input type="submit" id="cmdSubmit" value="Submit" onmouseout="cbButtonHover(this,'color: #ffffff; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-color: #5091CB; border-style: solid; border-width: 1px; background-color: #032D5F;  width: auto; height: auto; margin: 0 3px;');" onmouseover="cbButtonHover(this,'color: #FFFFFF; font-size: 12px; font-family: Verdana; font-style: normal; font-weight: bold; text-align: center; vertical-align: middle; border-style:solid; border-width: 1px; border-color: #032D5F; background-color: #083194;  width: auto; height: auto; margin: 0 3px;');" class="buttonstyle">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="tagsexist" style="display:none;width:500px;height:200px;">
    <div style="height:300px;">
        <div style="text-align: center;"><b>Existing Tag List</b></div>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td style="color:white;text-align:center;background-color:#5091cb;">Select Tag Name</td>
                <td style="color:white;text-align:center;background-color:#5091cb;">Tag Title</td>
                <td style="color:white;text-align:center;background-color:#5091cb;">Tag Source</td>
            </tr>
            <?
            $FSTagClass = new Core_Api_FSTagClass();
            $ExistingTagList = $FSTagClass->getExistingTagList();
            if (!empty($ExistingTagList))
            {
                foreach ($ExistingTagList as $ExistingTag)
                {
                    ?>
                    <tr>
                        <td>
                            <a class="selecttag" href="javascript:;" TagName="<?= $ExistingTag['TagName'] ?>" TagTitle="<?= $ExistingTag['TagTitle'] ?>"  TagSource="<?= $ExistingTag['TagSource'] ?>"><?= $ExistingTag['TagName'] ?></a>
                        </td>
                        <td>
                            <?= $ExistingTag['TagTitle'] ?>
                        </td>
                        <td>
                            <?= $ExistingTag['TagSource'] ?>
                        </td>
                    </tr>
                    <?
                }
            }
            ?>
        </table>
    </div>
</div>
<script>
    jQuery(window).ready(function(){
        $(".viewTaglist").unbind('click',showTaglistInfo).bind('click',showTaglistInfo);
        $("#editfstagaddclient").unbind('click',editfstagaddclient_click).bind('click',editfstagaddclient_click);
        $("#cbxSystemVisibility").unbind('click',cbxSystemVisibilitychange).bind('click',cbxSystemVisibilitychange);
        
        $('#TagArt').change(function(){
            var file = this.files[0];
            if(file.type !="image/png")
            {
                alert("Tag Art must be *.png only");
                $('#TagArt').val("");
            }
        });
        
        $('#frmeditfstag #cmdCancel').click(function(event){
            if($(this).attr("tagfrom")!=1)
            {
                $("#divedittag").css("display","none");
                $("#divsearchresult").css("display","");
            }
            else
            {
                window.location ='fstagsList.php?type=Client';
            }
        });
        
        jQuery('#frmeditfstag #cmdSubmit').click(function(event){
            var Client_id = "";
            var Client_no = $("#clientnum").val();
            var Visibility = $("#frmeditfstag #cbxSystemVisibility").val();
            var tagtitle = $("#frmeditfstag #tagtitle").val();
            var TagArt = $("#frmeditfstag #TagArt").val();
            var errmsg = "";
            //624,13874
            if(Visibility==2 || Visibility==3)
            {
                Client_id="yes"
            }
            else if(Client_no>=1)
            {
                for (i = 0; i<Client_no; i++)
                {
                    if($("#Clientdiv"+(i)+" .cbxstyle").val()!="")
                    {
                        Client_id="yes"
                    }
                }
            }
            
            //end 624
            if(Client_id == "")
            {
                errmsg += 'Please choose company.\n';
            }
            if(tagtitle == "")
            {
                errmsg += 'Please enter Tag title.\n';
            }
            //931
            if ($("#frmeditfstag #multipletaglevelsedit").is(":checked"))
            {
                var numberitem = parseInt($("#hidNumberItem").val());
                for(var i=1; i<=numberitem; i++)
                {
                    tagtitle = $("#frmeditfstag #tagTitleLevel_"+i).val();
                    if (tagtitle == "")
                    {
                        errmsg += 'Please enter Tag level '+i+' title .\n';
                    }
                    if($("#frmeditfstag #TagArt_"+i).parent().css("display")!="none")
                    {
                        TagArt = $("#frmeditfstag #TagArt_"+i).val();
                        if (TagArt == "")
                        {
                            errmsg += 'Please choose Tag  level '+i+' Art.\n';
                        }
                    }
                }
                
            }
            else
            {
                if($("#frmeditfstag .uploadimg").css("display")!="none")
                {
                    if(TagArt == "")
                    {
                        errmsg += 'Please choose Tag Art.\n';
                    }
                }
            }
            //end 931
            
            if(errmsg !="")
            {
                alert(errmsg);
                return false;
            }
        });
    });
    
    function cbxSystemVisibilitychange()
    {  
        if($("#frmeditfstag #cbxSystemVisibility option:[selected]").val() == 2)
        {
            disableclient();
            $("#frmeditfstag").find("#canNonGPMEdit").attr("disabled",""); //13912   
        }
        else if($("#frmeditfstag #cbxSystemVisibility option:[selected]").val() == 3)
        {
            disableclient();
            $("#frmeditfstag").find("#canNonGPMEdit").removeAttr("checked");
            $("#frmeditfstag").find("#canNonGPMEdit").attr("disabled","disabled");
        }
        else
        {
            $("#frmeditfstag").find("#canNonGPMEdit").attr("disabled","");
            $("#frmeditfstag").find("#addclient").unbind('click',editfstagaddclient_click).bind('click',editfstagaddclient_click);
            $("#frmeditfstag").find("#Clientdiv0 .cbxstyle").attr("disabled","");
        }
    }
    //912
    function disableclient()
    {
            var clientnum = $("#clientnum").val();
            $("#frmeditfstag").find("#Clientdiv0 .cbxstyle").attr("disabled","disabled");

            var i =0;
            for(i=1; i<=clientnum; i++)
            {
                $("#frmeditfstag").find("#Clientdiv"+i).remove(); 
            }
            $("#clientnum").val(1);
        $("#frmeditfstag").find("#addclient").unbind('click');
        }
    function cbxtechhidechange()
        {
        if($("#frmeditfstag #cbxtechhide option:[selected]").val()==0)
            {
            $("#canTechEdit").removeAttr("checked");
            $("#canTechEdit").attr("disabled","disabled");
            }
        else
        {
            $("#canTechEdit").removeAttr("disabled");
        }
    }
    //end 912
    
    //931
    function callPopupSubmit(imgarr)
    {
        if($("#uploadimg").css("display")=="none")
        {
            var fnamestr= "";
            if($("#frmeditfstag #multipletaglevelsedit").is(":checked"))
            {
                fnamestr= imgarr;
            }
            else
            {
                fnamestr= $("#frmeditfstag  #tagname").find("a").html();
            }
            sumitdata(fnamestr);
            return false;

        }
        else
        {
            var Visibility = $("#frmeditfstag").find("#cbxSystemVisibility option:selected").attr('textname');
            var Client = $("#frmeditfstag").find(".cbxstyle option:selected").attr('textname');
            var title = $("#frmeditfstag").find("#tagtitle").val();
            var imgarrlist = imgarr.split('|');
            var content = "<div style='height:10ppx;width:300px;'>\n\
<div style='text-align:center;padding-top:5px;'><b>Confirm FS-Tag Creation</b></div>\n\
<div style='text-align:left;padding-top:5px;padding-left:5px;'>Client: "+Client+"</div>\n\
<div style='text-align:left;padding-top:5px;padding-left:5px;'>Tag Title: "+title+"</div>\n\
<div style='text-align:left;padding-top:5px;padding-left:5px;'>Visibility: "+Visibility+"</div>\n\
<div style='text-align:left;padding-top:5px;padding-left:5px;'>Tag Art:</div>\n\
<table class='resultsTable'>\n\
<tr>\n\
<td style='color:white;text-align:center;background-color:#5091cb;'>Total<br>Work Orders</td>\n\
<td style='color:white;text-align:center;background-color:#5091cb;'>No&nbsp;Shows<hr style='color: white;background: none repeat scroll 0 0 white;margin-bottom: 0px;height:1px;'>Back Outs</td>\n\
<td style='color:white;text-align:center;background-color:#5091cb;'>FS-Tags&trade;</td>\n\
<td style='color:white;text-align:center;background-color:#5091cb;'>Background<hr style='color: white;background: none repeat scroll 0 0 white;margin-bottom: 0px;height:1px;'>Drug Test</td>\n\
</tr>\n\
<tr class='preferred'>\n\
<td style='text-align:center;'>435</td>\n\
<td style='text-align:center;'><span>0</span><hr style='background-color:#DDD;height:1px;'><span>0</span></td>\n\
<td style='min-width: 60px'>\n\
<table cellspacing='2' cellpadding='2'>\n\
<tbody>\n\
<tr style='padding-bottom:2px;'>\n\
<td><img src='/widgets/images/dellMRAPassed.png'></td>\n\
<td><img src='/widgets/images/VonagePlusTag.png'></td>\n\
</tr>\n\
<tr>\n\
<td colspan='2'><hr style='background-color:#DDD;height:1px;'></td>\n\
</tr>\n\
<tr>\n\
<td><img style='height:24px' src='/widgets/images/fs_mobile_26x23.png'></td>\n\
<td><img src='https://s3.amazonaws.com/wos-docs/tags/"+imgarrlist[0].replace("|","")+"'/></td>\n\
</tr>\n\
</tbody>\n\
</table>\n\
</td>\n\
<td><span style='width:50px;'><img src='/widgets/images/check_green.gif'><img style='margin-left: 2px;' src='/widgets/images/check_green.gif'></span><hr style='color: white;background: none repeat scroll 0 0 white;margin-bottom: 0px;'><span><img src='/widgets/images/check_green.gif'></span></td>\n\
</tr>\n\
<tr>\n\
<td colspan='4' style='color:white;text-align:center;background-color:#5091cb;'>&nbsp;</td>\n\
</tr>\n\
</table>\n\
<div style='text-align:center;'><input style=\"background: url('/widgets/images/button_popup.png') no-repeat scroll left top transparent; border: medium none; color: #385C7E; cursor: pointer; font: 10px/10px Verdana,Arial,Helvetica,sans-serif; padding: 4px 0 8px; width: 64px;\" type='button' class='submitdata' value='submit' fname='"+imgarr+"'><input style=\"background: url('/widgets/images/button_popup.png') no-repeat scroll left top transparent; border: medium none; color: #385C7E; cursor: pointer; font: 10px/10px Verdana,Arial,Helvetica,sans-serif; padding: 4px 0 8px; width: 64px;\" type='button' class='canceldata' value='cancel'></div>\n\
</div>";
            $("<div></div>").fancybox({'autoDimensions' : true,'showCloseButton' :true,'hideOnOverlayClick' : false,'enableEscapeButton':false,'content': content}).trigger('click');
                                    
            $(".submitdata").unbind('click',sumitdata).bind('click',sumitdata);
            $(".canceldata").unbind('click',canceldata).bind('click',canceldata);
        }
    }
    //end 931
    function canceldata()
    {
        $.fancybox.close();
    }

    function sumitdata(fname)
    {
        var dataForm = jQuery("#frmeditfstag").serialize();
        if(typeof(fname)=="undefined" || typeof(fname)!="string")
        {
            dataForm += "&fname="+$(".submitdata").attr("fname");
        }
        else
        {
            dataForm += "&fname="+fname;
        }
        
        $.ajax({        
            url         : '/widgets/admindashboard/client/updatefstag/',
            dataType    : 'json',
            data        : dataForm,
            async       : false,
            type        : 'post',
            success     : function (data, status, xhr) {
                if(data.success)
                {
                    $.fancybox.close();
                    $("#divsearch #cmdSearchSubmit").click();
//                    $("#divedittag").css("display","none");
//                    $("#divsearchresult").css("display","");
                }
                //                    window.location = 'admin_fstaglist.php';
                else
                {
                    alert(data.err);
                }
            }
        });
    }
    
    function showTaglistInfo()
    {
        var content = $("#tagsexist").html();
        $("<div></div>").fancybox(
        {
            'autoDimensions' : true,
            'showCloseButton' :true,
            'width':1010,
            'height':800,
            'hideOnOverlayClick' : false,
            'enableEscapeButton':false,
            
            'content': content
        }).trigger('click');
                                    
        $(".selecttag").unbind('click',fillinTagInfo).bind('click',fillinTagInfo);
        
    }
    
    function fillinTagInfo()
    {
        var TagName = $(this).attr("TagName");
        var TagTitle = $(this).attr("TagTitle");
        var TagSource = $(this).attr("TagSource");
        
        $("#frmeditfstag").find("#tagtitle").val(TagTitle);
        $("#frmeditfstag").find("#TagName").val(TagName);
        $("#frmeditfstag").find("#TagSource").val(TagSource);
        $.fancybox.close();
    }
    
    function editfstagaddclient_click()
    {
        var clientnum = parseInt($("#clientnum").val());
        $("#clientnum").val(clientnum+1);

        var newclient = $("#Clientdiv0").html();
        //624
        newclient = '<div id ="Clientdiv'+(clientnum)+'">'+newclient+'</div>';
        $("#tdclient").append(newclient);
        $("#Clientdiv"+(clientnum)+" .cbxstyle").val(0);
        //end 624
    }
    
    function backtolist()
    {
        if($("#tagfrom").val()!=1)
        {
            $('#divedittag').hide();
            $('#divsearchresult').show();
        }
        else
        {
            
        }
    }
</script>

<div id ="Clientdiv-1" style="display:none;">
    <select class="cbxstyle" name="Client[]">
        <option value="" textname="">Select Client</option>
        <?= loadclient($companyList, $FSTagCompany['CompanyId']) ?>
    </select> 
</div>