<?php
    function sortClass( $field, $cl ) {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') return 'sort-asc';
        if ($cl->sortBy == $field && $cl->sortDir == 'desc') return 'sort-desc';
    }
    function makeSort( $field, $cl ) {
        return "var opt=detailsWidget.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';detailsWidget.setParams(opt); detailsWidget.show({tab:'list',params:opt});";
    }
?>
<table width="100%" class="gradBox_table_inner">
    <col width="*" />
    <col width="*" />
	<col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
	<col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
	<col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('RegDate', $this);?>"><span onclick="<?=makeSort('RegDate', $this);?>">RegDateDescending</span></th>
		<th class="sortable <?= sortClass('LastLoginDate', $this); ?>"><span onclick="<?= makeSort('LastLoginDate', $this); ?>">Last Login</span></th>
        <th class="sortable <?=sortClass('AccountEnabled', $this);?>"><span onclick="<?=makeSort('AccountEnabled', $this);?>">Enabled?</span></th>
        <th class="sortable <?=sortClass('ClientExpiration', $this);?>"><span onclick="<?=makeSort('ClientExpiration', $this);?>">ClientExpiration</span></th>
        <th class="sortable <?=sortClass('ClientID', $this);?>"><span onclick="<?=makeSort('ClientID', $this);?>">Client ID</span></th>
        <th class="sortable <?=sortClass('Company_ID', $this);?>"><span onclick="<?=makeSort('Company_ID', $this);?>">Company ID</span></th>
        <th class="sortable <?=sortClass('CompanyName', $this);?>"><span onclick="<?=makeSort('CompanyName', $this);?>">Company</span></th>
        <th class="sortable <?=sortClass('ContactPhone1', $this);?>"><span onclick="<?=makeSort('ContactPhone1', $this);?>">Phone 1</span></th>
        <th class="sortable <?=sortClass('ContactPhone2', $this);?>"><span onclick="<?=makeSort('ContactPhone2', $this);?>">Phone 2</span></th>
        <th class="sortable <?=sortClass('Email1', $this);?>"><span onclick="<?=makeSort('Email1', $this);?>">Email 1</span></th>
        <th class="sortable <?=sortClass('Email2', $this);?>"><span onclick="<?=makeSort('Email2', $this);?>">Email 2</span></th>
        <th class="sortable <?=sortClass('WebsiteURL', $this);?>"><span onclick="<?=makeSort('WebsiteURL', $this);?>">WebsiteURL</span></th>
        <th class="sortable <?=sortClass('UserName', $this);?>"><span onclick="<?=makeSort('UserName', $this);?>">User Name</span></th>
        <th class="sortable <?=sortClass('Password', $this);?>"><span onclick="<?=makeSort('Password', $this);?>">Password</span></th>
        <th class="sortable <?=sortClass('AcceptTerms', $this);?>"><span onclick="<?=makeSort('AcceptTerms', $this);?>">Accept Terms?</span></th>
        <th class="sortable <?=sortClass('Admin', $this);?>"><span onclick="<?=makeSort('Admin', $this);?>">Admin Account?</span></th>
        <th class="sortable <?=sortClass('ShowOnReports', $this);?>"><span onclick="<?=makeSort('ShowOnReports', $this);?>">Show Reports?</span></th>
        <th class="last">&nbsp;</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>
<?php $tr=1; foreach( $this->paginator as $client ) :?>
				<?php
				$dateLogin = '';
							if($client->LastLoginDate != ''){
								$dateLogin = date('m/d/Y',strtotime($client->LastLoginDate))." ".date('h:i A',strtotime($client->LastLoginDate));
								$dateLogin = $dateLogin."&nbsp;CST";
							}
				?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <a class="ajaxLink" href="/admin/adminUpdateClient.php?id=<?=$client->ClientID?>"><?=($client->RegDate == "" ? '-' : $client->RegDate)?></a>
        </td>
		<td>
        <?= $dateLogin; ?>
         </td>
        <td>
            <br/><span><?=$client->AccountEnabled?></span><br/><br/>
        </td>
        <td>
            <?=$client->ClientExpiration?>
        </td>
        <td>
            <?=$client->ClientID?>
        </td>
        <td>
            <?=$client->Company_ID?>
        </td>
        <td>
            <?=$client->CompanyName?>
        </td>
        <td>
            <?=$client->ContactPhone1?>
        </td>
        <td>
            <?=$client->ContactPhone2?>
        </td>
        <td>
            <a class="ajaxLink" href="mailto:<?=$client->Email1?>"><?=$client->Email1?></a>
        </td>
        <td>
            <?=$client->Email2?>
            <a class="ajaxLink" href="mailto:<?=$client->Email2?>"><?=$client->Email2?></a>
        </td>
        <td>
            <a class="ajaxLink" href="<?=$client->WebsiteURL?>"><?=$client->WebsiteURL?></a>
        </td>
        <td>
            <?=$client->UserName?>
        </td>
        <td>
            <?=$client->Password?>
        </td>
        <td>
            <?php if($client->AcceptTerms):?>Yes<?php else:?>No<?php endif;?>
        </td>
        <td>
            <?php if($client->Admin):?>Yes<?php else:?>No<?php endif;?>
        </td>
        <td>
            <?php if($client->ShowOnReports):?>Yes<?php else:?>No<?php endif;?>
        </td>
        <td class="last deliverablesCol">
            <a class="ajaxLink" href="" onclick="detailsWidget.removeClient('<?= $client->ClientID?>');return false;">Delete</a>
        </td>
    </tr>

<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="18" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="17"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="17"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="18" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>