<?php
    function sortClass( $field, $cl ) {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') return 'sort-asc';
        if ($cl->sortBy == $field && $cl->sortDir == 'desc') return 'sort-desc';
    }
    function makeSort( $field, $cl ) {
        return "var opt=detailsWidget.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';detailsWidget.setParams(opt); detailsWidget.show({tab:'list',params:opt});";
    }
?>
<table width="100%" class="gradBox_table_inner">
    <col width="75px" />
    <col width="75px" />
    <col width="400px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('ClientID', $this);?>"><span onclick="<?=makeSort('ClientID', $this);?>">Client ID</span></th>
        <th class="sortable <?=sortClass('Company_ID', $this);?>"><span onclick="<?=makeSort('Company_ID', $this);?>">Company ID</span></th>
        <th class="sortable <?=sortClass('CompanyName', $this);?>"><span onclick="<?=makeSort('CompanyName', $this);?>">Company</span></th>
        <th class="sortable <?=sortClass('PricingRuleID', $this);?>"><span onclick="<?=makeSort('PricingRuleID', $this);?>">Pricing Rule ID</span></th>
        <th><span onclick="">Description</span></th>
        <th class="last">&nbsp;</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>
<?php $tr=1; foreach( $this->paginator as $client ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <?=$client->ClientID?>
        </td>
        <td>
            <?=$client->Company_ID?>
        </td>
        <td>
            <?=$client->CompanyName?>
        </td>
        <td>
            <span><?=$this->truncate($client->PricingRuleID, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->pricingRules[$client->PricingRuleID]?></span><br />
        </td>
	<td class="last deliverablesCol">
            <a class="ajaxLink" target="_blank" href="/admin/adminUpdateClient.php?id=&id=<?=$client->ClientID?>">Edit Pricing Rule</a>
        </td>
    </tr>

<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="17" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="17"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="17"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="17" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
