<div class="popup_form_holder">
    <form action="/admin/adminClientList.php" onSubmit="return detailsWidget.validateSearchSubmit();" method="post" id="CreateProjectForm" name="SearchForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field">Client ID</td>
				<td><input type="text" maxlength="255" class="input_text" id="ClientID" name="SearchForm[ClientID]" value="" /></td>
			</tr>
			<tr>
				<td class="label_field">Assigned Company ID</td>
                <td>
                 
                
                    <select name="SearchForm[Company_ID]" id="Company_ID">
                        <option value="">Select Company</option>
                        
                        <?php
                        //14068
                         foreach ($this->companies as $company) {
                        if($company->Company_ID!="") {
                         ?>
                        
                        <option title="<?= $company->CompanyName?>" value="<?= $company->Company_ID?>"><?= $company->CompanyName?></option>
                        
                        <?php
                        } 
                       ?>
                            
                        <?php
                      
                        }
                        //end 14068
                         ?>
                    </select>
                </td>
			</tr>
            <tr>
				<td class="label_field">Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="CompanyName" name="SearchForm[CompanyName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="SearchForm[ContactName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Primary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="SearchForm[ContactPhone1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone2" name="SearchForm[ContactPhone2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Email Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="SearchForm[Email1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Email Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email2" name="SearchForm[Email2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Website Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="WebsiteURL" name="SearchForm[WebsiteURL]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Username</td>
				<td><input type="text" maxlength="255" class="input_text" id="UserName" name="SearchForm[UserName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="SearchForm[Password]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Admin Type?</td>
                <td>
                    <input type="radio" id="Admin1" name="SearchForm[Admin]" value="1"> Yes&nbsp;
                    <input type="radio" id="Admin2" name="SearchForm[Admin]" value="0"> No&nbsp;
                    <input type="radio" id="Admin3" name="SearchForm[Admin]" value="" checked> Any&nbsp;
                </td>
			</tr>
            <tr>
				<td class="label_field">Accept Terms?</td>
                <td>
                    <input type="radio" id="AcceptTerms1" name="SearchForm[AcceptTerms]" value="1"> Yes&nbsp;
                    <input type="radio" id="AcceptTerms2" name="SearchForm[AcceptTerms]" value="0"> No&nbsp;
                    <input type="radio" id="AcceptTerms3" name="SearchForm[AcceptTerms]" value="" checked> Any&nbsp;
                </td>
			</tr>
            <tr>
				<td class="label_field">Account Enabled?</td>
                <td>
                    <input type="radio" id="AccountEnabled1" name="SearchForm[AccountEnabled]" value="1"> Yes&nbsp;
                    <input type="radio" id="AccountEnabled2" name="SearchForm[AccountEnabled]" value="0"> No&nbsp;
                    <input type="radio" id="AccountEnabled3" name="SearchForm[AccountEnabled]" value="" checked> Any&nbsp;
                </td>
			</tr>
            <tr>
				<td class="label_field">ShowOnReports</td>
                <td>
                    <input type="radio" id="ShowOnReports1" name="SearchForm[ShowOnReports]" value="1"> Yes&nbsp;
                    <input type="radio" id="ShowOnReports2" name="SearchForm[ShowOnReports]" value="0"> No&nbsp;
                    <input type="radio" id="ShowOnReports3" name="SearchForm[ShowOnReports]" value="" checked> Any&nbsp;
                </td>
			</tr>
            <tr>
				<td class="label_field">Global PM?</td>
                <td>
                    <input type="radio" id="ProjectManager1" name="SearchForm[ProjectManager]" value="1"> Yes&nbsp;
                    <input type="radio" id="ProjectManager2" name="SearchForm[ProjectManager]" value="0"> No&nbsp;
                    <input type="radio" id="ProjectManager3" name="SearchForm[ProjectManager]" value="" checked> Any&nbsp;
                </td>
			</tr>
            <tr>
                <td class="label_field">UserType</td>
                <td>
                    <select name="SearchForm[UserType]" id="UserType">
                        <option value="">Select User Type</option>
                        <option value="Install Desk">Install Desk</option>
                        <option value="Manager">Manager</option>
                    </select>
                </td>
            </tr>
            <!--901-->
            <tr>
                <td class="label_field">Last Login Date</td>
                <td>
                    (>=) <input name='SearchForm[logindateGreater]' id='logindateGreater' size='8' class='showCal' value=''/> 
                    (<=) <input name='SearchForm[logindateLess]' id='logindateLess' size='8' class='showCal' value=''/>
                </td>
            </tr>
            <!--end 901-->
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
$('document').ready(function() {
	$.datepicker.setDefaults({
		dateFormat: 'yy-mm-dd'
	});
	$('.showCal').datepicker();
});
</script>