<?
$TagSearchResultlist = $this->TagSearchResultlist;
?>
<style>
    .tableheader
    {
        color:white;
        text-align:left;
        background-color:#5091cb;
    }
    .oddRow
    {
        background-color: #F2F5F9;
        border-bottom: 1px solid #000000;
    }
    .evenRow {
        background-color: #FFFFEF;
        border-bottom: 1px solid #000000;
    }
    .sort-asc{
        background-image: url("/widgets/images/set5_ascending.gif");
        background-position: right center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .sort-desc {
        background-image: url("/widgets/images/set5_descending.gif");
        background-position: right center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .sortlinkhoverin
    {
        color: #0000FF;
        text-decoration: underline;
    }
    .sortlinkhoverout
    {
        color: #white;
        text-decoration: none;
    }
</style>
<?php

function sortClass($field, $cl)
{
    if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'asc')
        return 'sort-asc';
    if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'desc')
        return 'sort-desc';
}

function paramesortClass($field, $cl)
{
    if ($cl->sortfield == $field && strtolower($cl->sortdir) == 'desc')
        return ('sort="' . $field . '" sortdir="asc"');
    return ('sort="' . $field . '" sortdir="desc"');
}
?>
<div align="center">

    <h1>FS-Tags List</h1>
    <div style="float:left;padding-left:5px;"><a href="javascript:;" onclick="jQuery('#divsearchresult').hide();jQuery('#divsearch').show();">Edit List Filters</a></div>
    <table width="100%" cellpadding="5" cellspacing="5">
        <tr class="tableheader">
            <td style="cursor: pointer;" class="sortable <?= sortClass('CompanyId', $this); ?>" <?= paramesortClass('CompanyId', $this); ?>>Client</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('Title', $this); ?>" <?= paramesortClass('Title', $this); ?>>Tag Title</td>
<!--13912-->
            <td style="cursor: pointer;" class="sortable <?= sortClass('Active', $this); ?>" <?= paramesortClass('Active', $this); ?>>Active?</td>
            <td>Edit</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('VisibilityId', $this); ?>" <?= paramesortClass('VisibilityId', $this); ?>>Client Visibility</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('CanNonGPMEdit', $this); ?>" <?= paramesortClass('CanNonGPMEdit', $this); ?>>Client (non-GPM) Edits</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('CanGPMEdit', $this); ?>" <?= paramesortClass('CanGPMEdit', $this); ?>>GPM Edits</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('HideFromTechs', $this); ?>" <?= paramesortClass('HideFromTechs', $this); ?>>Tech Visibility</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('CanTechEdit', $this); ?>" <?= paramesortClass('CanTechEdit', $this); ?>>Tech Edits</td>
            <!--931-->
            <td style="cursor: pointer;" class="sortable <?= sortClass('HasMultiTagLevels', $this); ?>" <?= paramesortClass('HasMultiTagLevels', $this); ?>>Multi-Level</td>
            <!--931-->
            <td style="cursor: pointer;" class="sortable <?= sortClass('AddedByUser', $this); ?>" <?= paramesortClass('AddedByUser', $this); ?>>Tag Added By User</td>
            <td style="cursor: pointer;" class="sortable <?= sortClass('AddedDate', $this); ?>" <?= paramesortClass('AddedDate', $this); ?>>Tag Added Date</td>
            
        </tr>
        <?
        if (!empty($TagSearchResultlist))
        {
            $rowcount = 1;
            foreach ($TagSearchResultlist as $Tag)
            {
                $rowcolor = ($rowcount % 2 == 0 ? "evenRow" : "oddRow");
                $AddedDate = date("m/d/Y", strtotime($Tag['AddedDate']));
                $user = new Core_Api_User;
                $clients = $user->getRepClientforCompany($Tag['CompanyId']);
                if ($Tag['HideFromTechs'] == 1)
                {
                   $techVisibility="Yes"; 
                } else if($Tag['HideFromTechs'] == 2)
                {
                   $techVisibility="Tagged Only ";
                }else
                {
                   $techVisibility="No";  
                }
               
                for ($i = 0; $i < count($clients); $i++)
                {
                    $client_id = $clients[$i]['ClientID'];
                    break;
                }
                ?>
                <tr class="<?= $rowcolor ?>">
                    <td>
                        <?
                        if ($Tag['VisibilityId'] == 2 || $Tag['VisibilityId'] == 3 )
                        {
                            ?>
                            Global
                            <?
                        } else
                        {
                            ?>
                            <a target="_blank" href="/admin/admin_client_profile.php?type=Client&client_id=<?= $client_id ?>"><?= $Tag['CompanyId'] ?></a>
                            <?
                        }
                        ?>

                    </td>
                    <td><?= $Tag['Title'] ?></td>

                     <td><?= $Tag['Active'] == 0 ? "No" : "Yes" ?></td>
                    <td><a class="edittag" sortfield="<?= $this->sortfield ?>" sortdir="<?= $this->sortdir ?>" tagid ="<?= $Tag['id'] ?>" href="javascript:;" style="text-decoration: underline;" >Edit</a></td>

                        <?                        
                        if ($Tag['VisibilityId'] == 1)
                        {
                            ?>
                            <td>Selected Client(s) Only</td>
                            <?
                        } else if($Tag['VisibilityId'] == 2)
                        {
                            ?>
                            <td>All Client Users</td>
                            <?
                        } else {
                            ?>
                            <td>GPM Only</td>
                            <?                           
                        }
                        ?>                    
                    <td><?= $Tag['CanNonGPMEdit'] == 0 ? "No" : "Yes" ?></td>
                    <td><?= $Tag['CanGPMEdit'] == 0 ? "No" : "Yes" ?></td>
                    <td><?= $techVisibility ?></td>
                    <td><?= $Tag['CanTechEdit'] == 0 ? "No" : "Yes" ?></td>
 <!--End 13912-->  
                    <!-- 13931 -->
                    <td><?= $Tag['HasMultiTagLevels'] == 0 ? "No" : "Yes" ?> </td>
                    <!-- End 13931 -->
                    <td><?= $Tag['AddedByUser'] ?></td>
                    <td><?= $AddedDate ?></td>
                </tr>
                <?
                $rowcount++;
            }

            if (count($TagSearchResultlist) > 0)
            {
                ?>
                <tr class="paginator tableheader">
                    <td colspan="12" class="tCenter" id="paginatorContainer">
                        <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()) ?>
                    </td>
                </tr>
                <?
            }
        } else
        {
            ?>
            <tr>
                <td colspan="11">No record found</td>
            </tr>
            <?
        }
        ?>
    </table>
</div>

<script>
    jQuery(window).ready(function(){
        //13931
        _fstagsedit = fstags.CreateObject({
            id: '_fstagsedit',
            chkmultipletaglevels: '#multipletaglevelsedit',
            hidNumberItem: '#hidNumberItem'
        });
        //End 13931
        $(".sortable").hover(
        function()
        {
            $(this).addClass("sortlinkhoverin")
            $(this).removeClass("sortlinkhoverout");
        },
        function(){
            $(this).addClass("sortlinkhoverout")
            $(this).removeClass("sortlinkhoverin");
        }
    );
        jQuery('.edittag').click(function(event){
            $.ajax({
                url: "/widgets/admindashboard/client/edittag/",
                dataType    : 'html',
                data        : "fsTagID="+$(this).attr("tagid") + "&sortdir="+$(this).attr("sortdir") + "&sortfield="+$(this).attr("sortfield"),
                async       : false,
                type        : 'post',
                success:function( data, status, xhr ) {
                    $("#divedittag").html(data);
                    $("#divedittag").css("display","");
                    $("#divsearchresult").css("display","none");
                    //931
                    $("#divedittag .selectnewtag").unbind("click").bind("click",_fstagsedit.selectnewtag)
                    $("#divedittag .canceltag").unbind("click").bind("click",_fstagsedit.canceltag)
                    _fstagsedit.initPage();
                    //end 931
                }
            });
        });
    });
</script>