<?
$techlist = $this->NotUpdatedPassword;
?>
<style>
    .gradBox_table_inner td 
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>
<div style="text-align:left;font-weight:bold;font-size:15px;">List of Tech does not update password</div>
<div style="height: 340px;overflow-x: hidden;overflow-y: auto;position: relative;">
    <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;">
        <tr style="background-color: #0070C0;color: white;" class="table_head">
            <th>
                Tech ID
            </th>
            <th>
                Tech Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                UserName
            </th>
        </tr>
        <?php
        if (count($techlist) > 0)
        {
            ?>
            <?php
            $tr = 1;
            foreach ($techlist as $tech)
            {
                ?>
                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                    <td>
                        <?= $tech['TechID'] ?>
                    </td>
                    <td>
                        <?= $tech['FirstName']." ".$tech['LastName'] ?>
                    </td>
                    <td>
                        <?= $tech['PrimaryPhone'] ?>
                    </td>
                    <td>
                        <?= $tech['PrimaryEmail'] ?>
                    </td>
                    <td>
                        <?= $tech['UserName'] ?>
                    </td>
                </tr>
                <?php
                ++$tr;
            }
            ?>
            <?php
            if (count($techlist) > 0)
            {
                ?>
                <tr class="paginator">
                    <td colspan="5" class="tCenter" id="paginatorContainer">
                        <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()) ?>
                    </td>
                </tr>
                <script type="text/javascript">
                    $(document).ready( function() {
                        $("#toppaginatorContainer").html('<?= str_replace("\n", '', addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()), "'")) ?>');
                    });
                </script>
            <?php } ?>
            <?php
        } else
        {
            ?>
            <tr>
                <td colspan="5">
                    Not records display.
                </td>
            </tr>
        <?php } ?>
    </table>
</div>


