<script type="text/javascript" src="../library/jquery/jquery.bt.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
	
        $('.sectionBox2 a.title2').live('hover', function() {
            $(this).attr({title: "Expand Section"});
        });
        $('.sectionBox2.sectionOpen a.title2').live('hover', function() {
            $(this).attr({title: "Collapse Section"});
        });
        $('.sectionBox2. a.title2').click(function() {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });
        $('.sectionBox2.sectionOpen a.title2').click(function() {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });
        jQuery(".hoverTextnew").bt({
            titleSelector: "attr('bt-xtitle')",
            fill: 'white',
            cssStyles: {color: 'black', width: '350px'},
            animate: true
    });
    });
    function isshowcompaysetting(el)
    {
        if ($(".companysetting").css("display") == "none")
        {
            $(".companysetting").css("display", "");
            $(el).css("background", "url('/widgets/images/triangle_up.gif') no-repeat scroll 0 0 transparent");
        }
        else
        {
            $(".companysetting").css("display", "none");
            $(el).css("background", "url('/widgets/images/triangle_down.gif') no-repeat scroll 0 0 transparent");
        }
    }
    function isshowcompayinfo(el)
    {
        if ($(".companyinfo").css("display") == "none")
        {
            $(".companyinfo").css("display", "");
            $(el).css("background", "url('/widgets/images/triangle_up.gif') no-repeat scroll 0 0 transparent");
        }
        else
        {
            $(".companyinfo").css("display", "none");
            $(el).css("background", "url('/widgets/images/triangle_down.gif') no-repeat scroll 0 0 transparent");
        }
    }
</script>
<style>
    .selectNew{
        width: 184px;
    }
    a.title{
        background: url("/widgets/images/triangle_up.gif") no-repeat scroll 0 0 transparent;
        color: black;
        font-size: 12px;
        font-weight: bold;
        padding-left:20px;
    }
    .backgroundline
    {
        border-bottom: 1px solid rgb(246, 150, 48);
        height: 25px;
        vertical-align: bottom;
        margin-left:20px;
    }
    .backgroundtitle
    {
        width:200px;
        padding-top:10px;
        margin-left:-20px;

    }
    .upd_btnNew
    {
        float: right;
        width: 51px;
        margin-top:-25px;
    }
    .cbxrule
    {
        width:100px;
    }
</style>
<div class="popup_form_holder">
    <div>
        <?php foreach ($this->messages as $message): ?>
            <?= $message ?>
        <?php endforeach; ?>
    </div>
    <?                    
    if (empty($this->clientExt['DeniedTech_NoShowGreater']) &&
            empty($this->clientExt['DeniedTech_BackOutGreater']) &&
            empty($this->clientExt['DeniedTech_PreferenceRatingSmaller']) &&
            empty($this->clientExt['DeniedTech_PerformanceRatingSmaller']))
    {
        $isClientdenined = FALSE;
    } else
    {
        $isClientdenined = TRUE;
    }
    ?>
    <table width="100%" style="padding-top:5px;" class="form_tableV2" cellspacing="0">
        <col class="col1" />
        <col class="col2" />
        <tr>
            <td colspan="2">
                <div class="backgroundline">
                    <div class="backgroundtitle">
                        <a class="title" onclick="isshowcompayinfo(this)">
                            Company Infomation
                        </a>
                </div>
                    <div class="upd_btnNew">
                <div style="float: right;">
                        <img style="cursor: pointer;" class="cmdCancelUpdateButton" title="Cancel" src="/widgets/images/button_x.png">
                            <input class="cmdSave" type="image" title="Save" style="border: 0px;" src="/widgets/images/button_save.png" />
                </div>   
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left:35px;" class="companyinfo">
                <table width="100%" style="padding:5px;">
                    <col width="200px">
                    <col width="*">
                    <tr>
            <td  class="label_field">Company ID</td>
            <td rowspan="2"  style="padding:0 3px 0 3px;">
                <?php
               
                if ($this->mode)
                {
                    ?>
                    <table width="100%">
                        <tr>
                            <td style="padding: 0;">
                <input type="hidden" class="KeyNamePost" name="Company_ID" value="<?= $this->escape($this->client->Company_ID) ?>"  />
                <?= $this->escape($this->client->Company_ID) ?>
                            </td>
                            <td width="60%"  style="padding: 0;color: red;" align="center">
                                Please do not select a new CSD
                            </td>
                            <td width="7%"></td>
                        </tr>
                        <tr>
                            <td style="padding: 0;">
								<label><?= $this->escape($this->client->CompanyName) ?></label>
                            </td>
                            <td width="60%"  style="padding: 0;color: red;" align="center">
                                <div style="color: red;">or AM unless authorized.</div>
                            </td>
                            <td width="7%"></td>
                        </tr>
                    </table>
                    <?
                } else
                {
                    ?>
                    <table width="100%">
                        <tr>
                            <td style="padding: 0;">
                                <input type="hidden" class="KeyNamePost" name="Company_ID" value="<?= $this->escape($this->client->Company_ID) ?>"  />
                                <?= $this->escape($this->client->Company_ID) ?>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0;">
                                            <? echo $this->escape($this->client->CompanyName); ?>
                            </td>
                        </tr>
                    </table>
                    <?
                }
                ?>
            </td>
        </tr>
        <tr>
                        <td class="label_field">
                            <label for="EditRecordCompanyName">Company Name<span class="required">*</span></label>
                        </td>
        </tr>
        <tr>
                        <td class="label_field">
                            <label for="EditRecordEIN">EIN or Tax ID</label>
                        </td>
            <td>
                    <input type="text" value="<?= $this->escape($this->client->EIN) ?>" id="EditRecordEIN" class="KeyNamePost" name="EIN" maxlength="255" size="25" >
            </td>
        </tr>
            <tr>
                <td class="label_field">Client Status</td>
                <td>
                        <select class="selectNew KeyNamePost" name="ClientStatusId"  id='ClientStatusId'>
                            <option value="">Select Status</option>
                            <?php
                                if (!empty($this->StatusList))
                                {
                                    foreach ($this->StatusList as $item)
                                    {
                                    ?>
                                        <option <?= $this->ClientTagValues["ClientStatusId"]["TagItemId"] == $item["wo_tag_item_id"] ? "selected" : "" ?> 
                                        value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                </td>
            </tr>
            <tr>
                <td class="label_field">Client Relationship</td>
                <td>
                        <select class="selectNew KeyNamePost" name="ClientRelationshipId" id='ClientRelationshipId' >
                            <option value="">Select Client Relationship</option>
                        <?php
                                if (!empty($this->RelationShipList))
                                {
                                    foreach ($this->RelationShipList as $item)
                                    {
                                ?>
                                        <option <?= $this->ClientTagValues["ClientRelationshipId"]["TagItemId"] == $item["wo_tag_item_id"] ? "selected" : "" ?> 
                                        value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                </td>
            </tr> 
            <tr>
                <td class="label_field">Segment</td>
                <td>
                        <select class="selectNew KeyNamePost" name="SegmentId" id='SegmentId' >
                            <option value="">Select Segment</option>
                        <?php
                                if (!empty($this->SegmentList))
                                {
                                    foreach ($this->SegmentList as $item)
                                    {
                                ?>
                                        <option <?= $this->ClientTagValues["SegmentId"]["TagItemId"] == $item["wo_tag_item_id"] ? "selected" : "" ?>  
                                        value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                </td>
            </tr> 
            <tr>
                <td class="label_field">Original Seller</td>
                <td>
                        <select class="selectNew KeyNamePost" name="OriginalSellerId" id='OriginalSellerId' >
                            <option value="">Select Original Seller</option>
                        <?php
                                if (!empty($this->OriginalSellerList))
                                {
                                    foreach ($this->OriginalSellerList as $item)
                                    {
                                ?>
                                        <option <?= $this->ClientTagValues["OriginalSellerId"]["TagItemId"] == $item["wo_tag_item_id"] ? "selected" : "" ?> 
                                        value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                        <?php
                    }
                }
                ?>
                        </select>
                </td>
            </tr> 
            <tr>
                <td class="label_field">Executive</td>
                <td>
                        <select class="selectNew KeyNamePost" name="ExecutiveId" id='ExecutiveId' >
                            <option value="">Select Executive</option>
                <?php
                                if (!empty($this->ExecutiveList))
                                {
                                    foreach ($this->ExecutiveList as $item)
                                    {
                        ?>
                                        <option  <?= $this->ClientTagValues["ExecutiveId"]["TagItemId"] == $item["wo_tag_item_id"] ? "selected" : "" ?> 
                                        value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                <?php
                            }
                        }
                        ?>
                        </select>
                </td>
            </tr>
                    <tr>
                        <td class="label_field">
                            <label for="TechDeduction">Deduct FS Service Fee From Tech</label>
                        </td>
                        <td>
                    <?php
                $deductapi = new Core_Api_CommonClass();
                $deductinfo = $deductapi->getDeducts();
				
                if ($this->mode)
                {
                ?>
                    <select name="PcntDeductPercent" id="PcntDeductPercent" class="KeyNamePost">
                    <?php
                                foreach ($deductinfo as $deduct)
                    {
                    ?>
                                    <option <?= $this->PcntDeductPercent == $deduct['DeductPcnt'] ? 'selected="selected"' : '' ?> 
                                        value="<?= $deduct['DeductPcnt'] ?>"><?= $deduct['DeductPcntDescription'] ?></option>
                    <?php
                    }
                    ?>
                    </select>
                <?php
                }
				else {
                
                    foreach($deductinfo as $deduct)
                    {
                        if($this->PcntDeductPercent == $deduct['DeductPcnt'])
                            echo($deduct['DeductPcntDescription']);
                        }
                    
				}
                    ?>
                
                     </td></tr>  
            <tr><td class="label_field"><label for="PushWMEnabled">Enable Work Market</label></td><td>
                    <?php
                if ($this->mode)
                {
                ?>
                <input name="contextPushWMEnabled" id="contextPushWMEnabled" type='checkbox' class="KeyNamePost" <?= $this->client->contextPushWMEnabled == 1 ?'checked="checked"':''?> value='1' />
                        <?php
                }
                else
                        {
                echo ($this->client->contextPushWMEnabled == 1 ? "Enabled" : "Disabled");
                    }
                    ?>
                </td></tr>
<!--        end    13334-->    
      

        <tr>
                        <td class="label_field">
                            <label for="FSClientServiceDirector">FS Client Service Director</label>
                        </td>
            <td style="padding:0 3px 0 3px;">
                    <table width="100%">
                        <tr>
                            <td style="padding: 0;">
                                <div style="width: 200px;">
                                <?
                                foreach ($this->serviceDirectors as $item) 
                                {
                                     if ($this->clientExt['FSClientServiceDirectorId'] == $item['id'])
                                     {
                                                    $FSClientServiceDirector = $item['name'];
                                                    $FSCSD_Email = $item['email'];
                                     }
                                }
                                ?>
                                <div style="float: left;" id="contentCSD">
                                                <?= $FSClientServiceDirector ?>
                                </div>
                                <div style="float: right;">(<a href="javascript:;" id="cmdUpdateCSD">update</a>)
                                    <input type="hidden" class="KeyNamePost" value="<?= $this->clientExt['FSClientServiceDirectorId'] ?>" id="CSDId" name="FSClientServiceDirectorId" />
                                </div>
                                </div>
                            </td>
                            <td width="31%"  style="padding: 0;">
                                        Email: <input id="txtFSClientServiceDirectorName" style="width:90px;" readonly="true" value="<?= $FSCSD_Email ?>" />
                            </td>
                            <td width="31%" style="padding: 0;">
                                        Phone: <input id="txtFSClientServiceDirectorPhone" style="width:90px;" readonly="true"  value="<?= $FSCSD_Email ?>"/>
                            </td>
                        </tr>
                    </table>
                                    </td>
                                </tr>
        <tr>
            <td class="label_field"><label for="FSOpsSupport">FS Account Manager</label></td>
            <td style="padding:0 3px 0 3px;">
                    <table width="100%">
                        <tr>
                            <td style="padding: 0;">
                                Name: <select size="1" name="FSAccountManagerId" class="KeyNamePost" id="FSAccountManager">
                                    <option value="">Select One</option>
                                    <?php foreach ($this->accountManagers as $item) : ?>
                                        <option <?php if ($this->clientExt['FSAccountManagerId'] == $item['id']) : ?> selected="selected" 
                                                                                                                      <?php endif; ?> email="<?= $item['email'] ?>" 
                                                                                                                      phone="<?= $item['phone'] ?>"
                                                                                                                      value="<?= $item['id'] ?>"><?= $item['name'] ?></option>
                                                                                                                  <?php endforeach; ?>
                                </select>
                            </td>
                            <td width="31%"  style="padding: 0;">
                                Email: <input style="width:90px;" id="txtFSAccountManagerEmail" readonly="true" />
                            </td>
                            <td width="31%" style="padding: 0;">
                                Phone: <input style="width:90px;" id="txtFSAccountManagerPhone" readonly="true" />
                            </td>
                        </tr>
                    </table>
                                    </td>
                                </tr>
        <tr>
            <td  class="label_field">
                Legal Entity
            </td>
            <td>
                <div style="width: 200px;">
                    <div style="float: left;" id="contentEntity"><?= $this->ClientTagValues["EntityTypeId"]["TagItemName"] ?></div>
                    <div style="float: right;">(<a href="javascript:;" id="cmdUpdateEntity">update</a>)
                        <input type="hidden" value="<?= $this->ClientTagValues["EntityTypeId"]["TagItemId"] ?>" id="EntityTypeId" name="EntityTypeId" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td  class="label_field">
                Service Type
            </td>
            <td>
                <div style="width: 200px;">
                    <div style="float: left;" id="contentServiceType"><?= $this->ClientTagValues["ServiceTypeId"]["TagItemName"] ?></div>
                    <div style="float: right;">(<a href="javascript:;" id="cmdUpdateServiceType">update</a>)
                        <input type="hidden" value="<?= $this->ClientTagValues["ServiceTypeId"]["TagItemId"] ?>" id="ServiceTypeId" name="ServiceTypeId" />
                    </div>
                </div>
            </td>
        </tr>
        <!--576-->
        <tr>
            <td class="label_field">System Access</td>
            <td>
                <?php 
             //  print_r("test:");print_r($this->ClientTagValues["ClientStatusId"]);
                if(strtolower($this->ClientTagValues["ClientStatusId"]["TagItemName"])=="inactive")   
                {
                    $systemStatus ="Deactivated";
                  
                } else if(strtolower($this->ClientTagValues["ClientStatusId"]["TagItemName"])=="lost" || strtolower($this->ClientTagValues["ClientStatusId"]["TagItemName"])=="dead"  ) //   
                {    
                    
                    $systemStatus = "Deactivated";
                }
                else if(strtolower($this->ClientTagValues["SystemStatusId"]["TagItemName"])=="active" ) //   
                // else if(strtolower($this->ClientTagValues["ClientStatusId"]["TagItemName"])=="active" ) //
                {    
                    $systemStatus = "Full Access";
                }
                else if($this->ClientCompanyRestricted)
                {    
                    $systemStatus = "Restricted";
                }else
                {    
                    $systemStatus = $this->ClientTagValues["SystemStatusId"]["TagItemName"];
                }
                    //echo ($this->ClientCompanyRestricted) ? "Restricted" : $systemStatus;
                    echo $systemStatus;
                ?>               
                </td>               
        </tr>
        <!--End 576-->
        <tr>
                        <td class="label_field" colspan="2">
                            <label for="EditRecordCompanyDescription">Company Description</label>
                        </td>
        </tr>
            <tr>
                <td  class="label_field" colspan="2">
                    <textarea id="EditRecordCompanyDescription" class="KeyNamePost" name="CompanyDescription"   style="width: 100%;" rows="5"><?= $this->escape($this->client->CompanyDescription) ?></textarea>
                </td>
            </tr>
        <tr>
                        <td  class="label_field">
                            <label for="EditRecordCompany_Logo">Company Logo</label><br/>
                <?php
                            $logo = $this->client->Company_Logo;
                            if (!empty($logo))
                {
                    ?>
                                <span>
                                    <img width="100" src="<?= S3_CLIENTS_LOGO_WWW; ?>/<?= $this->client->Company_Logo ?>"/>
                                    <br>
                                    <input type="checkbox" value="1" name="Company_Logo_Rm" class="KeyNamePost" /><span>Remove</span>
                                </span>
                                <br/>
                    <?php
                }
                ?>
            </td>
                        <td valign="top">
                            <a  href="/"></a>
                            <input type="file"  name="Company_Logo"  style="size:20;" id="Company_Logo">
            </td>
        </tr>
        <tr>
                        <td colspan="2" class="tbPt">&nbsp;</td>
        </tr>
        <tr>
            <td  class="label_field">
                            <label for="EditRecordUserName">Client Documents &ndash; Contact your Account Manager for a copy</label>
            </td>
            <td></td>
        </tr>
            <tr>
                <td colspan="2">  
                    <div style="margin-left: 35px;">
                                <table width="100%">
                                <tr>
                                    <td>

                                    </td>
                                    <td align="center">
                                        Remove
                                    </td>
                                    <td>

                                    </td>
                                    <td align="center">
                                        Date Uploaded
                                    </td>
                                </tr>
                            <tr>
                                        <td width="200px">
                                    <a <?= empty($this->clientExt['File1URL']) ? "" : 'target="_black"' ?>   href="<?= empty($this->clientExt['File1URL']) ? "javascript:;" : S3_CLIENTS_LOGO_WWW . '/' . $this->clientExt['File1URL'] ?>">Non-Disclosure Agreement</a>
                                    <input class="KeyNamePost" type="hidden" value="<?= $this->clientExt['File1URL'] ?>" name="File1URL" id="hidFileUploadAgreement" />
                                </td>
                                    <td align="center" width="50px">
                                        <input  type="checkbox" class="KeyNamePost"  id="chkAgreement" name="chkAgreement" />
                                    </td>
                                    <td>
                                        <input type="file" name="fileUploadAgreement" id="fileUploadAgreement" />   
                                    </td> 
                                    <td>
                                        <input type="text" value="<?=
                            empty($this->clientExt['Upload1Date']) ? "" : date_format(date_create($this->clientExt['Upload1Date'])
                                                    , 'm/d/Y')
                                    ?>"  id="txtDateAgreement" name="Upload1Date"  class="KeyNamePost"/>
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    <a <?= empty($this->clientExt['File2URL']) ? "" : 'target="_black"' ?>  href="<?= empty($this->clientExt['File2URL']) ? "javascript:;" : S3_CLIENTS_LOGO_WWW . '/' . $this->clientExt['File2URL'] ?>">New Client Information Form</a>
                                    <input type="hidden" value="<?= $this->clientExt['File2URL'] ?>" class="KeyNamePost" name="File2URL" id="hidfileUploadInformation" />
                                </td>
                                    <td align="center">
                                        <input type="checkbox" name="chkInformation" id="chkInformation" class="KeyNamePost" />
                                    </td>
                                    <td>
                                        <input type="file" name="fileUploadInformation" id="fileUploadInformation" />   
                                    </td>  
                                    <td>
                                        <input type="text" value="<?=
                            empty($this->clientExt['Upload2Date']) ? "" : date_format(date_create($this->clientExt['Upload2Date'])
                                                    , 'm/d/Y')
                                    ?>" id="txtDateInformation" name="Upload2Date" class="KeyNamePost"/>
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    <a  <?= empty($this->clientExt['File3URL']) ? "" : 'target="_black"' ?> href="<?= empty($this->clientExt['File3URL']) ? "javascript:;" : S3_CLIENTS_LOGO_WWW . '/' . $this->clientExt['File3URL'] ?>">Terms of Service</a>
                                    <input type="hidden" value="<?= $this->clientExt['File3URL'] ?>" class="KeyNamePost"  name="File3URL" id="hidfileUploadService" />
                                </td>
                                    <td align="center">
                                        <input type="checkbox" name="chkService" id="chkService" class="KeyNamePost"  />
                                    </td>
                                    <td>
                                        <input type="file"  name="fileUploadService" id="fileUploadService" />   
                                    </td> 
                                    <td>
                                        <input type="text" value="<?=
                            empty($this->clientExt['Upload3Date']) ? "" : date_format(date_create($this->clientExt['Upload3Date'])
                                                    , 'm/d/Y')
                                    ?>" id="txtDateService" name="Upload3Date"  class="KeyNamePost" />
                                    </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
                        <tr>
                        <td colspan="2" class="tbPt">&nbsp;</td>
                        </tr>

                        <tr>
                        <td  class="label_field">
                            <label for="EditRecordUserName">User Name</label>
                            </td>
                        <td>
                            <?= $this->escape($this->client->UserName) ?>
                            </td>
                        </tr>
                        <tr>
                        <td colspan="2">
            
                    <div class="sectionBox2"><a title="Expand Section" class="title2">Change password</a></div>

                    <div class="sectionInner2" id="pushtotech_collasple" style="margin-left: 35px; display: none;">

                        <table>
                            <tr><td  class="label_field"><label for="EditRecordPasswordCurrent">Current Password<span class="required">*</span></label></td><td><input type="password" value="" id="EditRecordPasswordCurrent" name="PasswordCurrent" class="KeyNamePost"  maxlength="50" size="8"></td></tr>

                            <tr><td  class="label_field"><label for="EditRecordPassword">Password<span class="required">*</span></label></td><td><input type="password" value="" id="EditRecordPassword" name="Password" class="KeyNamePost"  maxlength="50" size="8"></td></tr>

                            <tr><td  class="label_field"><label for="EditRecordPasswordConfirm">Password Confirmation<span class="required">*</span></label></td><td><input type="password" value="" id="EditRecordPasswordConfirm" name="PasswordConfirm" class="KeyNamePost"  maxlength="50" size="8"></td></tr>
                        </table>
                    </div>
                        </td>
                    </tr>
        </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="backgroundline">
                    <div class="backgroundtitle">
                        <a class="title"  onclick="isshowcompaysetting(this)">
                            Company Settings    
                        </a>
    </div>
                    <div class="upd_btnNew">
                        <div style="float: right;">
                            <img style="cursor: pointer;" class="cmdCancelUpdateButton" title="Cancel" src="/widgets/images/button_x.png">
                            <input class="cmdSave" type="image" title="Save" style="border: 0px;" src="/widgets/images/button_save.png" />
                        </div>   
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left:35px;" class="companysetting">
                <table width="100%" style="padding:5px;">
                    <col width="30px">
                    <col width="*">
                    <tr>
                        <td colspan="2">
                            Set rules to automatically &lsquo;client-deny&rsquo; technicians
                            <img bt-xtitle="Techs that have been &lsquo;client-deny&rsquo; for your company:<div style='padding-left:15px;padding-top:10px;'><ul><li style='list-style:disc outside none;'>Are not notified of your new available work.</li><li style='list-style:disc outside none;'>Can not see your available work in the system.</li><li style='list-style:disc outside none;'>Are hidden when you use Find Techs for sourcing.</li></ul></div>" class="hoverTextnew" style="vertical-align: middle;height:20px;" src="/widgets/images/get_info.png">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:24px;padding-right:0px;">
                            <input type="radio"  class='KeyNamePost' id="Clientdeninedyes" name="isClientdenined" <?= $isClientdenined ? "checked" : "" ?> >
                        </td>
                        <td style="padding:0px;"><span id="clientdeninedyes">Yes</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:40px;display:<?= $isClientdenined ? '' : 'none' ?>" class="tdClientdeninedyes">
                            <table>
                                <tr class="noshows">
                                    <td>No Shows >=</td>
                                    <td>
                                        <select id="cbxnoshows" class="cbxrule KeyNamePost" name="DeniedTech_NoShowGreater">
                                            <option value="">Select Rule</option>
                                            <option value="1" <?= $this->clientExt['DeniedTech_NoShowGreater'] == "1" ? "selected" : "" ?>>1</option>
                                            <option value="2" <?= $this->clientExt['DeniedTech_NoShowGreater'] == "2" ? "selected" : "" ?>>2</option>
                                            <option value="3" <?= $this->clientExt['DeniedTech_NoShowGreater'] == "3" ? "selected" : "" ?>>3</option>
                                            <option value="4" <?= $this->clientExt['DeniedTech_NoShowGreater'] == "4" ? "selected" : "" ?>>4</option>
                                            <option value="5" <?= $this->clientExt['DeniedTech_NoShowGreater'] == "5" ? "selected" : "" ?>>5</option>
                                        </select>
                                    </td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_NoShowGreater']) ? '' : 'none' ?>">Timeframe:</td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_NoShowGreater']) ? '' : 'none' ?>;">
                                        <select name="DeniedTech_NoShowPeriod" class='KeyNamePost'>
                                            <option value="Last90Days" <?= $this->clientExt['DeniedTech_NoShowPeriod'] == "Last90Days" ? "selected" : "" ?>>Last 90 Days</option>
                                            <option value="Last12Months" <?= $this->clientExt['DeniedTech_NoShowPeriod'] == "Last12Months" ? "selected" : "" ?>>Last 12 Months</option>
                                            <option value="Lifetime" <?= $this->clientExt['DeniedTech_NoShowPeriod'] == "Lifetime" ? "selected" : "" ?>>Lifetime</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="backouts">
                                    <td>Back Outs >=</td>
                                    <td>
                                        <select id="cbxbackouts" class="cbxrule KeyNamePost" name="DeniedTech_BackOutGreater">
                                            <option value="">Select Rule</option>
                                            <option value="1" <?= $this->clientExt['DeniedTech_BackOutGreater'] == "1" ? "selected" : "" ?>>1</option>
                                            <option value="2" <?= $this->clientExt['DeniedTech_BackOutGreater'] == "2" ? "selected" : "" ?>>2</option>
                                            <option value="3" <?= $this->clientExt['DeniedTech_BackOutGreater'] == "3" ? "selected" : "" ?>>3</option>
                                            <option value="4" <?= $this->clientExt['DeniedTech_BackOutGreater'] == "4" ? "selected" : "" ?>>4</option>
                                            <option value="5" <?= $this->clientExt['DeniedTech_BackOutGreater'] == "5" ? "selected" : "" ?>>5</option>
                                        </select>
                                    </td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_BackOutGreater']) ? '' : 'none' ?>;">Timeframe:</td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_BackOutGreater']) ? '' : 'none' ?>;">
                                        <select name="DeniedTech_BackOutPeriod" class='KeyNamePost'>
                                            <option value="Last90Days" <?= $this->clientExt['DeniedTech_BackOutPeriod'] == "Last90Days" ? "selected" : "" ?>>Last 90 Days</option>
                                            <option value="Last12Months" <?= $this->clientExt['DeniedTech_BackOutPeriod'] == "Last12Months" ? "selected" : "" ?>>Last 12 Months</option>
                                            <option value="Lifetime" <?= $this->clientExt['DeniedTech_BackOutPeriod'] == "Lifetime" ? "selected" : "" ?>>Lifetime</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="preferencerating">
                                    <td>Preference Rating <=</td>
                                    <td>
                                        <select id="cbxpreferencerating" class="cbxrule KeyNamePost" name="DeniedTech_PreferenceRatingSmaller">
                                            <option value="">Select Rule</option>
                                            <option value="0.95" <?= $this->clientExt['DeniedTech_PreferenceRatingSmaller'] == "0.95" ? "selected" : "" ?>>95%</option>
                                            <option value="0.90" <?= $this->clientExt['DeniedTech_PreferenceRatingSmaller'] == "0.90" ? "selected" : "" ?>>90%</option>
                                            <option value="0.75" <?= $this->clientExt['DeniedTech_PreferenceRatingSmaller'] == "0.75" ? "selected" : "" ?>>75%</option>
                                            <option value="0.50" <?= $this->clientExt['DeniedTech_PreferenceRatingSmaller'] == "0.50" ? "selected" : "" ?>>50%</option>
                                        </select>
                                    </td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_PreferenceRatingSmaller']) ? '' : 'none' ?>;">Timeframe:</td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_PreferenceRatingSmaller']) ? '' : 'none' ?>;">
                                        <select name="DeniedTech_PreferenceRatingPeriod" class='KeyNamePost'>
                                            <option value="Last90Days" <?= $this->clientExt['DeniedTech_PreferenceRatingPeriod'] == "Last90Days" ? "selected" : "" ?>>Last 90 Days</option>
                                            <option value="Last12Months" <?= $this->clientExt['DeniedTech_PreferenceRatingPeriod'] == "Last12Months" ? "selected" : "" ?>>Last 12 Months</option>
                                            <option value="Lifetime" <?= $this->clientExt['DeniedTech_PreferenceRatingPeriod'] == "Lifetime" ? "selected" : "" ?>>Lifetime</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="performancerating">
                                    <td>Performance Rating <=</td>
                                    <td>
                                        <select id="cbxperformancerating" class="cbxrule KeyNamePost" name="DeniedTech_PerformanceRatingSmaller">
                                            <option value="">Select Rule</option>
                                            <option value="0.95" <?= $this->clientExt['DeniedTech_PerformanceRatingSmaller'] == "0.95" ? "selected" : "" ?>>95%</option>
                                            <option value="0.90" <?= $this->clientExt['DeniedTech_PerformanceRatingSmaller'] == "0.90" ? "selected" : "" ?>>90%</option>
                                            <option value="0.75" <?= $this->clientExt['DeniedTech_PerformanceRatingSmaller'] == "0.75" ? "selected" : "" ?>>75%</option>
                                            <option value="0.50" <?= $this->clientExt['DeniedTech_PerformanceRatingSmaller'] == "0.50" ? "selected" : "" ?>>50%</option>
                                        </select>
                                    </td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_PerformanceRatingSmaller']) ? '' : 'none' ?>;">Timeframe:</td>
                                    <td class="timeframe" style="display:<?= !empty($this->clientExt['DeniedTech_PerformanceRatingSmaller']) ? '' : 'none' ?>;">
                                        <select name="DeniedTech_PerformanceRatingPeriod" class='KeyNamePost'>
                                            <option value="Last90Days" <?= $this->clientExt['DeniedTech_PerformanceRatingPeriod'] == "Last90Days" ? "selected" : "" ?>>Last 90 Days</option>
                                            <option value="Last12Months" <?= $this->clientExt['DeniedTech_PerformanceRatingPeriod'] == "Last12Months" ? "selected" : "" ?>>Last 12 Months</option>
                                            <option value="Lifetime" <?= $this->clientExt['DeniedTech_PerformanceRatingPeriod'] == "Lifetime" ? "selected" : "" ?>>Lifetime</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:24px;padding-right:0px;">
                            <input type="radio" class='KeyNamePost' id="ClientdeninedNo" name="isClientdenined"  <?= $isClientdenined ? "" : "checked" ?>>
                        </td>
                        <td style="padding:0px;">
                            No
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
