<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/admindashboard/client/do-update/" onSubmit="return detailsWidget.validateUpdateSubmit('admin');" method="post" id="UpdateProjectForm" name="UpdateForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <input type="hidden" name="ClientID" value="<?= $this->client->ClientID?>" />
            <tr>
				<td class="label_field">Account Enabled?</td>
                <td><input type="checkbox" id="AccountEnabled" name="UpdateForm[AccountEnabled]" value="1" <?php if($this->client->AccountEnabled):?>checked<?php endif;?> /></td>
			</tr>
            <tr>
				<td class="label_field">Show on financials?</td>
                <td><input type="checkbox" id="ShowOnReports" name="UpdateForm[ShowOnReports]" value="1" <?php if($this->client->ShowOnReports):?>checked<?php endif;?> /></td>
			</tr>
            <tr>
				<td class="label_field">Global PM?</td>
                <td><input type="checkbox" id="ProjectManager" name="UpdateForm[ProjectManager]" value="1" <?php if($this->client->ProjectManager):?>checked<?php endif;?> /></td>
			</tr>
            <tr>
				<td class="label_field">ClientExpiration</td>
                <td><input type="text" maxlength="255" class="input_text" id="ClientExpiration" name="UpdateForm[ClientExpiration]" value="<?=$this->displayDate('n/j/Y', $this->client->ClientExpiration)?>" /></td>
			</tr>

            <tr>
                <td colspan="2">Note: Be sure to use 1 day after the desired expiration date!<br/>
                    (Example: 4/2/2007 will let users log in until end of the day 4/1/2007)</td>
			</tr>
            <tr>
				<td class="label_field">ClientID</td>
				<td><?= $this->client->ClientID?></td>
			</tr>
			<tr>
				<td class="label_field">Company ID</td>
				<td><?= $this->client->Company_ID?></td>
			</tr>
            <tr>
				<td class="label_field">Admin Account?</td>
                <td><input type="checkbox" id="Admin" name="UpdateForm[Admin]" value="1" <?php if($this->client->Admin):?>checked<?php endif;?> /></td>
			</tr>
            <tr>
				<td class="label_field">Company Name</td>
				<td><?= $this->client->CompanyName?></td>
			</tr>
            <tr>
                        <td class="label_field">Client Status</td>
                        <td>
                            <?= $this->ClientTagValues["ClientStatusId"]["TagItemName"] ?>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field">Client Relationship</td>
                        <td>
                            <?= $this->ClientTagValues["ClientRelationshipId"]["TagItemName"] ?>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field">Segment</td>
                        <td>
                            <?= $this->ClientTagValues["SegmentId"]["TagItemName"] ?>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field">Original Seller</td>
                        <td>
                            <?= $this->ClientTagValues["OriginalSellerId"]["TagItemName"] ?>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td class="label_field">Executive</td>
                        <td>
                            <?= $this->ClientTagValues["ExecutiveId"]["TagItemName"] ?>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field">Account Manager</td>
                        <td>
                            <?= $this->ClientTagValues["FSAccountManagerId"]["TagItemName"] ?>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field">Client Service Director</td>
                        <td>
                            <?= $this->ClientTagValues["FSClientServiceDirectorId"]["TagItemName"] ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="label_field">Entity</td>
                        <td>
                            <?= $this->ClientTagValues["EntityTypeId"]["TagItemName"] ?>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label_field">Service Type</td>
                        <td>
                            <?= $this->ClientTagValues["ServiceTypeId"]["TagItemName"] ?>
                        </td>
                    </tr>
<!--                  622-->          
                                   
                        
            <tr>
                <td class="label_field">Company Logo</td>
                <td>
                    <?php if(!$this->client->Company_Logo):?>
                    <input type="file" name="Company_Logo" id="Company_Logo" size="40" />
                    <?php else:?>
                    <a class="ajaxLink" href="/widgets/dashboard/do/file-clients-documents-download/filename/<?=base64_encode(urlencode(ltrim($this->client->Company_Logo, '/')))?>/<?= ltrim($this->client->Company_Logo, '/') ?>"> <?= ltrim($this->client->Company_Logo, '/') ?></a>
                    <nobr>
                    <input type="checkbox" name="removefiles[]" id="Company_Logo_Remove" value="Company_Logo" onclick="detailsWidget.confirmRemoveFile(this, '<?= ltrim($this->client->Company_Logo, '/')?>');">
                    <label for="Company_Logo_Remove">Remove</label>
                    </nobr><br />
                    <?php endif;?>
                </td>
            </tr>
            <tr>
				<td class="label_field">CompanyDescription</td>
				<td><?= $this->client->CompanyDescription?></td>
			</tr>
            <tr>
				<td class="label_field">EIN</td>
				<td><?= $this->client->EIN?></td>
			</tr>
            <tr>
				<td class="label_field">Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="UpdateForm[ContactName]" value="<?= $this->client->ContactName?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Primary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="UpdateForm[ContactPhone1]" value="<?= $this->client->ContactPhone1?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Secondary Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone2" name="UpdateForm[ContactPhone2]" value="<?= $this->client->ContactPhone2?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Email1</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="UpdateForm[Email1]" value="<?= $this->client->Email1?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Email2</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email2" name="UpdateForm[Email2]" value="<?= $this->client->Email2?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Website Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="WebsiteURL" name="UpdateForm[WebsiteURL]" value="<?= $this->client->WebsiteURL?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Username</td>
				<td><input type="text" maxlength="255" class="input_text" id="UserName" name="UpdateForm[UserName]" value="<?= $this->client->UserName?>" /></td>
			</tr>
                        <tr id="trerr" style="display:none;">
                            <td  colspan="2"><div id="errmsg" style="color:red; width:100%; line-height: 12px;"></div></td>
                        </tr>
            <tr>
				<td class="label_field">Password</td>
                            <td>
                                <input type="text" maxlength="255" class="input_text" id="Password" name="UpdateForm[Password]" value="<?= $this->client->Password ?>" onchange="checkpasswordrule()"/>
                                <input id="oldpass" name="oldpass" type="hidden" value="<?= $this->client->Password ?>">
                            </td>
			</tr>
                        <tr id="passwordconfirm">
                            <td class="label">Confirm Password: </td>
                            <td class="field">
                                <input type="text" maxlength="255" class="input_text" id="passwordconfirmtext" name="passwordconfirmtext" value="<?= $this->client->Password ?>" onchange="checkpasswordrule()" />
                            </td>
                        </tr>
            <tr>
                <td class="label_field">Billing Type</td>
                <td>
                    <select name="UpdateForm[BillingType]" id="BillingType">
                        <option value="">Select Billing Type</option>
                        <option value="Single Zip Access" <?php if($this->client->BillingType=='Single Zip Access'):?>selected<?php endif;?>>Single Zip Access</option>
                        <option value="All Zip Access" <?php if($this->client->BillingType=='All Zip Access'):?>selected<?php endif;?>>All Zip Access</option>
                        <option value="Premium" <?php if($this->client->BillingType=='Premium'):?>selected<?php endif;?>>Premium</option>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field">CCType</td>
				<td><input type="text" maxlength="255" class="input_text" id="CCType" name="UpdateForm[CCType]" value="<?= $this->client->CCType?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCNumber</td>
				<td><input type="text" maxlength="255" class="input_text" id="CCNumber" name="UpdateForm[CCNumber]" value="<?= $this->client->CCNumber?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCExp</td>
				<td><?= $this->client->CCExp?></td>
			</tr>
            <tr>
				<td class="label_field">CCCode</td>
				<td><input type="text" maxlength="255" class="input_text" id="CCCode" name="UpdateForm[CCCode]" value="<?= $this->client->CCCode?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCHolderName</td>
				<td><input type="text" maxlength="255" class="input_text" id="CCHolderName" name="UpdateForm[CCHolderName]" value="<?= $this->client->CCHolderName?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCBillingAddress</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessAddress" name="UpdateForm[BusinessAddress]" value="<?= $this->client->BusinessAddress?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCBillingCity</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessCity" name="UpdateForm[BusinessCity]" value="<?= $this->client->BusinessCity?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCBillingState</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessState" name="UpdateForm[BusinessState]" value="<?= $this->client->BusinessState?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCBillingZip</td>
				<td><input type="text" maxlength="255" class="input_text" id="BusinessZip" name="UpdateForm[BusinessZip]" value="<?= $this->client->BusinessZip?>" /></td>
			</tr>
            <tr>
				<td class="label_field">CCBillingPhone</td>
				<td><input type="text" maxlength="255" class="input_text" id="CCBillingPhone" name="UpdateForm[CCBillingPhone]" value="<?= $this->client->CCBillingPhone?>" /></td>
			</tr>
            <tr>
				<td class="label_field">ContractTerms</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContractTerms" name="UpdateForm[ContractTerms]" value="<?= $this->client->ContractTerms?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Accept Terms</td>
                <td><input type="checkbox" id="AcceptTerms" name="UpdateForm[AcceptTerms]" value="1" <?php if($this->client->AcceptTerms):?>checked<?php endif;?> /></td>
			</tr>
            <tr>
				<td class="label_field">StaffComments</td>
                <td>
                    <textarea name="UpdateForm[StaffComments]" id="StaffComments" rows="5" cols="50"><?= $this->client->StaffComments?></textarea>
                </td>
			</tr>
            <tr>
				<td class="label_field">RegDate</td>
                <td><?= $this->client->RegDate?></td>
			</tr>
			<tr>
				<td class="label_field">Last Login Date</td>
                <td><?= $this->client->LastLoginDate?></td>
			</tr>
            <tr>
				<td class="label_field">AmountPaid</td>
                <td><?= $this->client->AmountPaid?></td>
			</tr>
            <tr>
				<td class="label_field">SearchZip</td>
                <td><?= $this->client->SearchZip?></td>
			</tr>
            <tr>
                <td class="label_field">CIB</td>
                <td>
                    <?php if(!$this->client->CIB):?>
                    <input type="file" name="CIB" id="CIB" size="40" />
                    <?php else:?>
                    <a class="ajaxLink" href="/widgets/dashboard/do/file-clients-documents-download/filename/<?=base64_encode(urlencode(ltrim($this->client->CIB, '/')))?>/<?= ltrim($this->client->CIB, '/') ?>"> <?= ltrim($this->client->CIB, '/') ?></a>
                    <nobr>
                    <input type="checkbox" name="removefiles[]" id="CIB_Remove" value="CIB" onclick="detailsWidget.confirmRemoveFile(this, '<?= ltrim($this->client->CIB, '/')?>');">
                    <label for="CIB_Remove">Remove</label>
                    </nobr><br />
                    <?php endif;?>
                </td>
            </tr>
            <tr>
                <td class="label_field">Default Pricing Rule</td>
                <td>
                    <select name="UpdateForm[PricingRuleID]" id="PricingRuleID">
                        <option value="0">Select Pricing Rule</option>
                        <?php foreach ($this->pricingRules as $rule) : ?>
                        <option title="<?= $rule->Description?>" value="<?= $rule->PricingRuleId?>" <?php if($rule->PricingRuleId == $this->client->PricingRuleID):?>selected<?php endif;?>><?= $rule->Description?></option-->
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label_field">UserType</td>
                <td>
                    <select name="UpdateForm[UserType]" id="UserType">
                        <option value="">Select User Type</option>
                        <option value="Install Desk" <?php if($this->client->UserType=='Install Desk'):?>selected<?php endif;?>>Install Desk</option>
                        <option value="Manager" <?php if($this->client->UserType=='Manager'):?>selected<?php endif;?>>Manager</option>
                    </select>
                </td>
            </tr>

            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>