<div>
    <!--  div>
    <?= $this->formErrors($this->messages) ?>
    </div -->
    <form action="/widgets/admindashboard/client/do-user-update/" onSubmit="return validateUpdateSubmit('client');" method="post" id="UpdateProjectForm" name="UpdateForm" enctype="multipart/form-data">
        <table cellspacing="0" style="line-height: 25px;">
            <col class="col1" />
            <col class="col2" />
            <input type="hidden" name="ClientID" value="<?= $this->client->ClientID ?>" />
            <input type="hidden" name="client_id" value="<?= $this->client_id ?>" />
            <input type="hidden" name="company" value="<?= $this->client->Company_ID ?>" />
            <tr>
                <td class="label_field">ClientID</td>
                <td><?= $this->client->ClientID ?></td>
            </tr>
            <tr>
                <td class="label_field">Company ID</td>
                <td><?= $this->client->CompanyName ?></td><!--13832-->
            </tr>
            <tr>
                <td class="label_field">Account Enabled?</td>
                <td><input type="checkbox" id="AccountEnabled" name="UpdateForm[AccountEnabled]" value="1" <?php if ($this->client->AccountEnabled): ?>checked<?php endif; ?> /></td>
            </tr>
            <!--  tr>
                               <td class="label_field"><span class="required">*</span>Company Name</td>
                               <td><input type="text" maxlength="255" class="input_text" id="CompanyName" name="UpdateForm[CompanyName]" value="<?= $this->client->CompanyName ?>" readonly='readonly'/></td>
                       </tr>
           <tr>
                               <td class="label_field">EIN</td>
                               <td><input type="text" maxlength="255" class="input_text" id="EIN" name="UpdateForm[EIN]" value="<?= $this->client->EIN ?>" /></td>
                       </tr>
           <tr>
                               <td class="label_field">Company Description</td>
                               <td>
                   <textarea name="UpdateForm[CompanyDescription]" id="CompanyDescription" rows="5" cols="50"><?= $this->client->CompanyDescription ?></textarea>
               </td>
                       </tr -->
            <tr>
                <td class="label_field">Contact Name<span class="required">*</span></td>
                <td><input type="text" maxlength="255" class="input_text" id="ContactName" name="UpdateForm[ContactName]" value="<?= $this->client->ContactName ?>" /></td>
            </tr>
            <!--  tr>
                                <td class="label_field">Billing Address</td>
                                <td><input type="text" maxlength="255" class="input_text" id="BusinessAddress" name="UpdateForm[BusinessAddress]" value="<?= $this->client->BusinessAddress ?>" /></td>
                        </tr>
            <tr>
                                <td class="label_field">Billing City</td>
                                <td><input type="text" maxlength="255" class="input_text" id="BusinessCity" name="UpdateForm[BusinessCity]" value="<?= $this->client->BusinessCity ?>" /></td>
                        </tr>
            <tr>
                                <td class="label_field">Billing State</td>
                                <td><input type="text" maxlength="255" class="input_text" id="BusinessState" name="UpdateForm[BusinessState]" value="<?= $this->client->BusinessState ?>" /></td>
                        </tr>
            <tr>
                <td class="label_field">States</td>
                <td>
                    <select name="UpdateForm[BusinessState]" id="BusinessState">
                        <option value="0">Select State</option>
            <?php foreach ($this->states as $abr => $state) : ?>
                            <option title="<?= $state ?>" value="<?= $abr ?>" <?php if ($this->client->BusinessState == $abr): ?>selected<?php endif; ?>><?= $state ?></option>
            <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                                <td class="label_field">Billing Zip</td>
                                <td><input type="text" maxlength="255" class="input_text" id="BusinessZip" name="UpdateForm[BusinessZip]" value="<?= $this->client->BusinessZip ?>" /></td>
                        </tr -->
            <tr>
                <td class="label_field">Primary Phone<span class="required">*</span></td>
                <td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="UpdateForm[ContactPhone1]" value="<?= $this->client->ContactPhone1 ?>" /></td>
            </tr>
            <tr>
                <td class="label_field">Secondary Phone</td>
                <td><input type="text" maxlength="255" class="input_text" id="ContactPhone2" name="UpdateForm[ContactPhone2]" value="<?= $this->client->ContactPhone2 ?>" /></td>
            </tr>
            <tr>
                <td class="label_field">Primary Email<span class="required">*</span></td>
                <td><input type="text" maxlength="255" class="input_text" id="Email1" name="UpdateForm[Email1]" value="<?= $this->client->Email1 ?>" /></td>
            </tr>
            <tr>
                <td class="label_field">Secondary Email</td>
                <td><input type="text" maxlength="255" class="input_text" id="Email2" name="UpdateForm[Email2]" value="<?= $this->client->Email2 ?>" /></td>
            </tr>
            <!--  tr>
                                <td class="label_field">Website Address</td>
                                <td><input type="text" maxlength="255" class="input_text" id="WebsiteURL" name="UpdateForm[WebsiteURL]" value="<?= $this->client->WebsiteURL ?>" /></td>
                        </tr>
            <tr>
                <td class="label_field">Company Logo</td>
                <td>
            <?php if (!$this->client->Company_Logo): ?>
                        <input type="file" name="Company_Logo" id="Company_Logo" size="40" />
            <?php else: ?>
                        <a class="ajaxLink" href="/widgets/dashboard/do/file-clients-documents-download/filename/<?= base64_encode(urlencode(ltrim($this->client->Company_Logo, '/'))) ?>/<?= ltrim($this->client->Company_Logo, '/') ?>"> <?= ltrim($this->client->Company_Logo, '/') ?></a>
                        <nobr>
                        <input type="checkbox" name="removefiles[]" id="Company_Logo_Remove" value="Company_Logo" onclick="detailsWidget.confirmRemoveFile(this, '<?= ltrim($this->client->Company_Logo, '/') ?>');">
                        <label for="Company_Logo_Remove">Remove</label>
                        </nobr><br />
            <?php endif; ?>
                </td>
            </tr -->
            <tr>
                <td class="label_field">User Name<span class="required">*</span></td>
                <td><span id="UserName"><?= $this->client->UserName ?></span></td>
            </tr>
            <tr>
                
            </tr>
                <tr id="trerr" style="display:none;">
                    <td class="label_field"></td>
                    <td><div id="errmsg" style="color:red; width:150px; line-height: 12px;"></div></td>
                </tr>
                <tr>
                <td class="label_field">Password<span class="required">*</span></td>
                    <td>
                        <input type="text" maxlength="255" class="input_text" id="Password" name="UpdateForm[Password]" value="<?= $this->client->Password ?>" onchange="checkpasswordrule()" />
                        <input id="oldpass" type="hidden" value="<?= $this->client->Password?>">
                    </td>
            </tr>
                <tr>
                    <td class="label_field">Confirm Password<span class="required">*</span></td>
                    <td>
                        <input type="text" maxlength="255" class="input_text" id="ConfirmPassword" value="" onchange="checkpasswordrule()"/>
                    </td>
                </tr>
            <!--  tr>
                                <td class="label_field">Admin Account?</td>
                <td><input type="checkbox" id="Admin" name="UpdateForm[Admin]" value="1" <?php if ($this->client->Admin): ?>checked<?php endif; ?> /></td>
                        </tr -->

            <?php if ($this->client->Company_ID == 'FLS'): ?>
                <tr>
                    <td class="label_field">FLS User Type</td>
                    <td>
                        <select style="width:118px;" name="UpdateForm[UserType]" id="UserType">
                            <option value="">Select User Type</option>
                            <option value="Install Desk" <?php if ($this->client->UserType == 'Install Desk'): ?>selected<?php endif; ?>>Install Desk</option>
                            <option value="Manager" <?php if ($this->client->UserType == 'Manager'): ?>selected<?php endif; ?>>Manager</option>
                            <option value="Staff" <?php if ($this->client->UserType == 'Staff'): ?>selected<?php endif; ?>>Staff</option>
                            <option value="Admin" <?php if ($this->client->UserType == 'Admin'): ?>selected<?php endif; ?>>Admin</option>

                        </select>
                    </td>
                </tr>
            <?php else: ?>
                <tr>
                    <td class="label_field">UserType<span class="required">*</span></td>
                    <td>
                        <select style="width:118px;" name="UpdateForm[UserType]" id="UserType">
                            <option value="">Select User Type</option>
                            <option value="Staff" <?php if ($this->client->UserType == 'Staff'): ?>selected<?php endif; ?>>Staff</option>
                            <option value="Admin" <?php if ($this->client->UserType == 'Admin'): ?>selected<?php endif; ?>>Admin</option>
                        </select>
                    </td>
                </tr>
            <?php endif; ?>
            <tr align="center">
                <td colspan="2">
                    <input type="button" value="Cancel" onclick="roll.hide();" class="link_button_popup" />
                    <input type="Submit" value="Submit" class="link_button_popup" />
                </td>
            </tr>
        </table>
    </form>
</div>