/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #ffffff;
	margin:0px 0pt 0px;
	font-size: 8pt;
	width: 350px;
	text-align: left;
	
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #BACBDF;
	color: #2a497d;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/icons/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#f2f5f9;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/icons/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/icons/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #BACBDF;
color:white;
}

/* Jquery's Hover function */

tr.over td{background:#bcd4ec;}

/*
onmouseout=#f2f5f9
onmouseover=#eaeff5*/