#clientSignup h1, #clientSignup h2, #clientSignup h3,
#clientSignup p {
	text-align: left;
	margin: 0 50px 0 0;
}
#clientSignup h1, #clientSignup h2, #clientSignup h3 {
	padding: 10px 0;
}

#sidebar {
	border-top: 1px solid white;
	float: left;
	padding: 0 15px 0 0;
	width: 300px;
}

#body {
	border-top: 1px solid white;
	border-left: 3px solid black;
	margin-left: 360px;
	padding: 0 30px;
	width: 500px;
}

#body p:first-child,
#sidebar p:first-child {
	margin-top: -10px;
}

#sidebar li, #body li {
	margin: 10px 15px;
}

#intro {
	margin-bottom: 25px;
}


ol#steps li {
	margin: 0;
	padding: 0;
}


ol#steps {
	color: #174065;
	font-size: 1.25em;
	font-weight: bold;
	margin-left: 24px;
}


div.steps {
	float: left;
	width: 150px;
}

div.register {
	margin: 15px auto;
	text-align: center;
	width: 125px;
}

input.register {
	width: 125px;
	font-size: 1.75em;
	cursor: hand;
	cursor: pointer;
}


/* IE7 only: */
*:first-child+html ol#steps {
	margin-left: 30px;
}

*:first-child+html #sidebar li {
	margin-left: 20px;
}
