<?php
    $wo     = $this->wo;
    $tech   = $this->tech;

    $woAddress  = ( '' != trim($wo->Address) ) ? trim($wo->Address).', ' : '';
    $woAddress .= ( '' != trim($wo->City) ) ? trim($wo->City).', ' : '';
    $woAddress .= ( '' != trim($wo->State) ) ? trim($wo->State) . ' ' . trim($wo->Zipcode) : '';
    $woAddress  = urlencode(trim(trim($woAddress, ', ') . ', United States', ', '));
    $techAddress  = ( '' != trim($tech->Address1) ) ? trim($tech->Address1).', ' : '';
    $techAddress .= ( '' != trim($tech->City) ) ? trim($tech->City).', ' : '';
    $techAddress .= ( '' != trim($tech->State) ) ? trim($tech->State) . ' ' . trim($tech->Zipcode) : '';
    $techAddress  = urlencode(trim(trim($techAddress, ', ') . ', United States', ', '));
?>

<div id="TechWOWorkPlaceLeft_box" style="padding-bottom: 10px;">
	<table cellpadding="0" cellspacing="0" class="wo_ttbx">
		<col width="82px" />
		<col width="" />
		<tr>
			<td colspan="2"><h3>Site Information</h3></td>
		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Name:</label> <?=$this->escape($wo->SiteName)?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Number:</label> <?=$this->escape($wo->SiteNumber)?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Address:</label><?=$this->escape($wo->Address)?> <?=$this->escape($this->displayAddress($wo->City, $wo->State, $wo->Zipcode))?> </td>

		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a href="http://maps.google.com/?daddr=<?=$woAddress?>" target="_blank" class="ajaxLink">View Map</a> | <a href="http://maps.google.com/?saddr=<?=$techAddress?>&daddr=<?=$woAddress?>" target="_blank" class="ajaxLink">Driving Directions</a></td>
		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Phone:</label> <?=$this->escape($wo->SitePhone)?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Fax:</label> <?=$this->escape($wo->SiteFax)?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Email:</label> <?=$this->escape($wo->SiteEmail)?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Site Contact Name:</label> <?=$this->escape($wo->Site_Contact_Name)?></td>

		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2"><h3>Assignment Dates/Times</h3></td>
		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Work Start:</label> <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?>&nbsp;&nbsp;&nbsp;<?=$this->escape($this->displayDate('g:i A', $wo->StartTime))?></td>

		</tr>
		<tr>
			<td colspan="2"><label class="indentRight5">Work End:</label> <?=$this->escape($this->displayDate('n/j/Y', $wo->EndDate))?>&nbsp;&nbsp;&nbsp;<?=$this->escape($this->displayDate('g:i A', $wo->EndTime))?></td>

		</tr>
		<?php if (trim($wo->Duration)) : ?>
		<tr>
			<td colspan="2"><label class="indentRight5">Estimated Duration:</label> <?= $this->escape($wo->Duration)?></td>

		</tr>
		<?php endif; ?>
		<?php if (trim($wo->StartRange)) : ?>
		<tr>
			<td colspan="2"><label class="indentRight5">On-Site Arrival Time:</label> <?=$this->escape($wo->StartRange)?></td>

		</tr>
		<?php endif; ?>
                
                <?php
                //376
                if($this->enableExpenseReporting && !empty($this->expenseReporting))
                {
                    ?>
                <tr>
                    <td colspan="2"><h3>Expense Reporting</h3></td>
		</tr>
                <tr>
                    <td colspan="2">If properly documented and approved by the client, you will be reimbursed for the following types of expenses as part of your pay for this Work Order:</td>
		</tr>
                <tr>
                    <td colspan="2">
                        <table class="tableContentWDS tableContentWDSGUI"  cellspacing="5" width="100%" style="padding-top: 10px;padding-left: 20px;">
                            <thead>
                                <th align="left">Reimbursement</th>
                                <th align="left">Notes</th>
                                <th align="left">Document Upload Required?</th>
                            </thead>
                            <tbody>
                            <?php
                            if (!empty($this->expenseReporting))
                            {
                                foreach ($this->expenseReporting as $item)
                                {
                                ?>    
                                <tr class="trPeyTech">
                                    <td>
                                        <?= $item["bcatname"] ?>
                                    </td>
                                    <td>
                                        <?= $item["bcatdesc"] ?>
                                    </td> 
                                    <td align="left">
                                        <?php
                                        if($item["require_doc_upl"])
                                        {
                                            ?>
                                        <span>Yes &nbsp;</span>
                                         <?php
                                         }
                                         else
                                        {
                                        ?>
                                            <span>No</span>
                                        <?php
                                        }
                                        ?>
                                    </td>
                                </tr>   
                                <?php
                                }
                            }
                            ?>
                        </table>          
                    </td>
                </tr>
                <?php
                }
                //end 376
                ?>
	</table>

</div>
