<?php $wo = $this->wo; ?>

<div class="PlaceLeft_title">Your <?=$this->escape(ucwords(strtolower($wo->Status)))?> Work Order | <?=$wo->WIN_NUM?> | <?=$this->escape($wo->WO_Category)?> | <?=$this->escape($wo->Headline)?></div>
<div id="TechWOWorkPlaceLeft_box">
<h3>Site Information</h3>
Site Name: <?=$this->escape($wo->SiteName)?> Site Number: <?=$this->escape($wo->SiteNumber)?> <br />
Site Address: <br />
<?=$this->escape($this->displayAddress($wo->City, $wo->State, $wo->Zipcode))?>  <span class="ajaxLink">View Map</span> | <span class="ajaxLink">Driving Directions</span> <br />
Site Phone: <?=$this->escape($wo->SitePhone)?>  Site Fax: <?=$this->escape($wo->SiteFax)?>  <br />
Site Email: <?=$this->escape($wo->SiteEmail)?>  <br />
Site Contact Name: <?=$this->escape($wo->Site_Contact_Name)?>

<h3>Assignment Dates/Times</h3>
Work Start: <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?> <?=$this->escape($this->displayDate('g:i A', $wo->StartTime))?> Work End: <?=$this->escape($this->displayDate('n/j/Y', $wo->EndDate))?> <?=$this->escape($this->displayDate('g.i A', $wo->EndTime))?> <br />
Estimated Duration: <?=$this->escape($wo->Duration)?> <br />
On-Site Arrival Time: <?=$this->escape($this->displayDate('g:i A', $wo->Time_In))?>

<h3>Tech Pay</h3>
You agreed to complete this work order for $<?=$this->displayMoney($wo->Tech_Bid_Amount)?> per <?=$this->displayAmountPer($wo->Amount_Per)?>. You made the following comments:<br />
<?=$this->escape($wo->TechComments)?><br />
<?php if ($wo->Qty_Devices) : ?># Devices: <?=$this->escape($wo->Qty_Devices)?><? endif; ?>

<h3>Contact Information</h3>
<table width="100%" class="info_table">
    <tr>
        <td>
            <span class="info_box">Project Manager</span> <br />
            <?=$this->escape($wo->ProjectManagerName)?><br />
            <?=$this->escape($wo->ProjectManagerPhone)?> | <?=$this->escape($wo->ProjectManagerEmail)?>
        </td>
        <td>
            <span class="info_box">Emergency Contact</span> <br />
            <?=$this->escape($wo->EmergencyName)?> <br />
            <?=$this->escape($wo->EmergencyPhone)?> | <?=$this->escape($wo->EmergencyEmail)?>
        </td>
    </tr>
    <tr>
        <td>
            <span class="info_box">Resource Coordinator</span> <br />
            <?=$this->escape($wo->ResourceCoordinatorName)?> <br />
            <?=$this->escape($wo->ResourceCoordinatorPhone)?> | <?=$this->ResourceCoordinatorEmail?>
        </td>
        <td>
            <span class="info_box">Check In / Check Out Name</span> <br />
            <?=$this->escape($wo->CheckInOutName)?> <br />
            <?=$this->escape($wo->CheckInOutNumber)?> | <?=$this->escape($wo->CheckInOutEmail)?>
        </td>
    </tr>
    <tr>
        <td>
            <span class="info_box">Technical Contact</span> <br />
            <?=$this->escape($wo->TechnicalSupportName)?> <br />
            <?=$this->escape($wo->TechnicalSupportPhone)?> | <?=$this->escape($wo->TechnicalSupportEmail)?>
        </td>
        <td>
            <span class="info_box">ACS Check In</span><br />
            <??>
        </td>
    </tr>
</table>
</div>

