<?php
$wo = $this->wo;
$tech = $this->tech;
?>
<div id="TechWOWorkPlaceLeft_box" style="padding-bottom: 10px;">
    <table cellpadding="0" cellspacing="0" class="wo_ttbx">
        <col width="82px" />
        <col width="" />
        <tr>
            <td colspan="2"><h3>Site Information</h3></td>
        </tr>
        <tr>
            <td colspan="2"><label class="indentRight5">Site Address:</label><?= $this->escape($this->displayAddress($wo->City, $wo->State, $wo->Zipcode)) ?> </td>
        </tr>
        <tr>
            <td colspan="2"><label class="indentRight5">Route:</label><?= $this->escape($wo->Route) ?> </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2"><h3>Assignment Dates/Times</h3></td>
        </tr>
        <tr>
            <td colspan="2"><label class="indentRight5">Work Start:</label> <?= $this->escape($this->displayDate('n/j/Y', $wo->StartDate)) ?>&nbsp;&nbsp;&nbsp;<?= $this->escape($this->displayDate('g.i A', $wo->StartTime)) ?></td>
        </tr>
        <tr>
            <td colspan="2"><label class="indentRight5">Work End:</label> <?= $this->escape($this->displayDate('n/j/Y', $wo->EndDate)) ?>&nbsp;&nbsp;&nbsp;<?= $this->escape($this->displayDate('g.i A', $wo->EndTime)) ?></td>
        </tr>
        <?php if (trim($wo->Duration)) : ?>
            <tr>
                <td colspan="2"><label class="indentRight5">Estimated Duration:</label> <?= $this->escape($wo->Duration) ?></td>
            </tr>
        <?php endif; ?>
        <?php if (trim($wo->StartRange)) : ?>
            <tr>
                <td colspan="2"><label class="indentRight5">On-Site Arrival Time:</label> <?= $this->escape($wo->StartRange) ?></td>
            </tr>
        <?php endif; ?>
        <?php
        //376
        if ($this->enableExpenseReporting && !empty($this->expenseReporting))
        {
            ?>
            <tr>
                <td colspan="2"><h3>Expense Reporting</h3></td>
            </tr>
            <tr>
                <td colspan="2">If properly documented and approved by the client, you will be reimbursed for the following types of expenses as part of your pay for this Work Order:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="tableContentWDS tableContentWDSGUI"  cellspacing="5" width="100%" style="padding-top: 10px;padding-left: 20px;">
                        <thead>
                        <th align="left">Reimbursement</th>
                        <th align="left">Notes</th>
                        <th align="left">Document Upload Required?</th>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->expenseReporting))
                            {
                                foreach ($this->expenseReporting as $item)
                                {
                                    ?>    
                                    <tr class="trPeyTech">
                                        <td>
                                            <?= $item["bcatname"] ?>
                                        </td>
                                        <td>
                                            <?= $item["bcatdesc"] ?>
                                        </td> 
                                        <td align="left">
                                            <?php
                                            if ($item["require_doc_upl"])
                                            {
                                                ?>
                                                <span>Yes &nbsp;</span>
                                            <?php
                                            } else
                                            {
                                                ?>
                                                <span>No</span>
                                    <?php } ?>
                                        </td>
                                    </tr>   
                                    <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>          
                </td>
            </tr>
            <?php
        }
        ?>
    </table>
</div>