<?
$serveyid = 0;
if (!empty($this->SurveyInfo))
{
    $serveyid = $this->SurveyInfo["SurveyID"];
}
$win = $this->win;
?>
<input type="hidden" name="surveyID" value="<?= $serveyid ?>">
<input type="hidden" name="win" value="<?= $win ?>">
<iframe style="height: 0px;" id="iframesubmitsurvey" name="iframesubmitsurvey">

</iframe>
<div id="layout1" class="layout" layoutnum="1">
    <form target="iframesubmitsurvey" id="ifmtechsurveyL1" method="post" enctype="multipart/form-data" action="/widgets/dashboard/tech-survey/do-submit/">
        <input type="hidden" value="1" name="layout">
        <input type="hidden" name="surveyID" value="<?= $serveyid ?>">
        <input type="hidden" name="win" value="<?= $win ?>">
        <?=$this->render("tech-survey/survey/layout1.phtml"); ?>
    </form>
</div>
<div id="layout2" class="layout" layoutnum="2" style="display:none;">
    <form  target="iframesubmitsurvey" id="ifmtechsurveyL2" method="post" enctype="multipart/form-data" action="/widgets/dashboard/tech-survey/do-submit/">
        <input type="hidden" value="2" name="layout">
        <input type="hidden" name="surveyID" value="<?= $serveyid ?>">
        <input type="hidden" name="win" value="<?= $win ?>">
        <?=$this->render("tech-survey/survey/layout2.phtml"); ?>
    </form>
</div>
<div id="layout3" class="layout" layoutnum="3" style="display:none;">
    <form target="iframesubmitsurvey" id="ifmtechsurveyL3" method="post" enctype="multipart/form-data" action="/widgets/dashboard/tech-survey/do-submit/">
        <input type="hidden" value="3" name="layout">
        <input type="hidden" name="surveyID" value="<?= $serveyid ?>">
        <input type="hidden" name="win" value="<?= $win ?>">
        <?= $this->render("tech-survey/survey/layout3.phtml"); ?>
    </form>
</div>
<div id="layout4" class="layout" layoutnum="4" style="display:none;">
    <form target="iframesubmitsurvey" id="ifmtechsurveyL4" method="post" enctype="multipart/form-data" action="/widgets/dashboard/tech-survey/do-submit/">
        <input type="hidden" value="4" name="layout">
        <input type="hidden" name="surveyID" value="<?= $serveyid ?>">
        <input type="hidden" name="win" value="<?= $win ?>">
        <?= $this->render("tech-survey/survey/layout4.phtml"); ?>
    </form>
</div>
<div id="layout5" class="layout" layoutnum="5" style="display:none;">
    <form target="iframesubmitsurvey" id="ifmtechsurveyL5" method="post" enctype="multipart/form-data" action="/widgets/dashboard/tech-survey/do-submit/">
        <input type="hidden" value="5" name="layout">
        <input type="hidden" name="surveyID" value="<?= $serveyid ?>">
        <input type="hidden" name="win" value="<?= $win ?>">
        <?= $this->render("tech-survey/survey/layout5.phtml"); ?>
    </form>
</div>
