#techCellPhoneLookupBox {
	position: absolute;
	text-align: center;
	border: 5px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: 10px;
	overflow: hidden;
	cursor: default;
	display: none;
}

#techCellPhoneLookupBox a {
	text-decoration: none;
}

#techCellPhoneLookupBox a:hover {
	text-decoration: underline;
}

#techCellPhoneLookupBox thead {
	background-color: #333399;
	color: #FFFFFF;
	font-weight: bold;
}

#techCellPhoneLookupBox thead td {
	padding: 0px 10px;
}

#techCellPhoneLookupBox tfoot {
}