<div id="section3real" class="sectionInner">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
        <col width="135px" />
        <col width="225px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Recruitment Settings</td>
        </tr>
        <tr>          
            <td style="width:289px;" class="subheaderLeft" colspan="2">
                <input type="checkbox" value="1" id="edit_AutoBlastOnPublish" disabled="disabled" style="float: left;" />
                <label style="float: left; margin-left: 5px; width: 190px;">Auto-blast to <span id="edit_EmailBlastRadius"><?= $this->project_info->EmailBlastRadius ?></span> miles on &quot;publish&quot;</label>
                <input type="hidden" value="0" id="edit_EmailBlastRadiusPreferredOnly" />
            </td>
            <td>
                <label style="width:70px;float:left;">From Email&#160;&#160;&#160;&#160;</label>
                <input type="text" id="edit_RecruitmentFromEmail" name="RecruitmentFromEmail" disabled="disabled" class="width140" value="" onchange="updateAcceptReplies(this);" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="subheaderLeft">
                <input type="checkbox" value="1" disabled="disabled" id="edit_AcceptReplies" class="floatLeft" />
                <label style="width: 100px;padding-bottom:0px;">&#160;&#160;Accept replies</label>
                &#160;
            </td>
            <td colspan="2">
                <input type="checkbox" value="1" id="edit_AutoSMSOnPublish" disabled="disabled" style="float:left;"/>
                <label style="float:left;*margin-top:2px; margin-left: 5px;">Send SMS on &quot;publish&quot;</label>
            </td>           
        </tr>
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Technician Work Controls <a title="" bt-xtitle="" id="techworkcontrols" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a></td>
        </tr>      
        <tr>
            <td style="width:289px;" class="subheaderLeft" colspan="2">
                <input type="checkbox" id="edit1_AllowDeVryInternstoObserveWork" name="AllowDeVryInternstoObserveWork" class="floatLeft" <?= !empty($this->wo->AllowDeVryInternstoObserveWork) ? 'checked="checked"' : '' ?> />
                <label style="width: 100px;padding-bottom:0px;">&#160;&#160;Allow DeVry Interns to observe work by assigned techs</label>
            </td>
            <td colspan="2">
                <input type="checkbox" id="edit1_AllowDeVryInternstoPerformField" name="AllowDeVryInternstoPerformField" class="floatLeft" <?= !empty($this->wo->AllowDeVryInternstoPerformField) ? 'checked="checked"' : '' ?> />
                <label style="width: 100px;padding-bottom:0px;">&#160;&#160;Allow DeVry Interns to perform field service work</label>                
            </td>
        </tr>  
        <tr style="height:10px;"><td colspan="4"></td></tr>
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Contacts and Automated Contact Services  <a title="" bt-xtitle="" id="contactcontrols" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></td>
        </tr>
        <tr>    
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" border="1" class="grdtbl">
                    <col width="135" />
                    <col width="154" />
                    <col width="154" />
                    <col width="154" />
                    <tr>
                       <th>
							&nbsp;
						</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    <tr class="greybg">
                        <td class="tLeft">Project Manager</td>
                        <td>
                            <input type="text" id="edit_ProjectManagerName" name="ProjectManagerName" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ProjectManagerPhone" name="ProjectManagerPhone" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ProjectManagerEmail" name="ProjectManagerEmail" class="width140" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeft">ACS Notification POC</td>
                         <td>
                            <input type="text" id="edit_ACSNotifiPOC" name="ACSNotifiPOC" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ACSNotifiPOC_Phone" name="ACSNotifiPOC_Phone" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ACSNotifiPOC_Email" name="ACSNotifiPOC_Email" class="width140" value="" />
                        </td>
                    </tr>
                    <tr  class="greybg">
                        <td class="tLeft">Resource Coordinator</td>
                        <td>
                            <input type="text" id="edit_ResourceCoordinatorName" name="ResourceCoordinatorName" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_ResourceCoordinatorEmail" name="ResourceCoordinatorEmail" class="width140" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeft">Emergency Contact</td>
                        <td>
                            <input type="text" id="edit_EmergencyName" name="EmergencyName" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_EmergencyPhone" name="EmergencyPhone" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_EmergencyEmail" name="EmergencyEmail" class="width140" value="" />
                        </td>
                    </tr>
                    <tr  class="greybg">
                        <td class="tLeft">Technical Help</td>
                        <td>
                            <input type="text" id="edit_TechnicalSupportName" name="TechnicalSupportName" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_TechnicalSupportPhone" name="TechnicalSupportPhone" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_TechnicalSupportEmail" name="TechnicalSupportEmail" class="width140" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tLeft">Check-in/Check-Out</td>
                        <td>
                            <input type="text" id="edit_CheckInOutName" name="CheckInOutName" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_CheckInOutNumber" name="CheckInOutNumber" class="width140" value="" />
                        </td>
                        <td>
                            <input type="text" id="edit_CheckInOutEmail" name="CheckInOutEmail" class="width140" value="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="10px;"><td colspan="4"></td></tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" border="1">  
                <colgroup>
                    <col width="290px" />
                    <col width="350px" />
                </colgroup>  
                <tr>
                    <td >
                <div id="contentACSServices" style="display: none;">
                    <table cellpadding="0" cellspacing="0" class="perWidth100 label100" style="width:100%;">
                        <?php
                        //732
                        $totalACSServices = 0;
                        $SiteContactReminderCallHours ="";
                        if($this->project_info->SiteContactReminderCall)
                        {
                            $SiteContactReminderCallHours = ": ". $this->project_info->SiteContactReminderCallHours ." hours before start";
                        }

                        ?>
                        <tr>
                            <th align="left">
                                Enabled
                            </th>
                            <th align="left" style="padding-left:12px">
                                Reminder / Alert
                            </th>
                        </tr>
                                <tr>
                            <td>
                                <input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_SiteContactReminderCall" name="SiteContactReminderCall" <?php
                                 if ($this->project_info->SiteContactReminderCall) {
                                    echo'checked="checked"';
                                    $totalACSServices++;
                                }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label id="SiteContactReminderCalllabel" for="edit_SiteContactReminderCall">Site Contact Reminder Call<?=$SiteContactReminderCallHours?></label></td>
                                </tr>
                                <!--end 732-->
                                <tr>
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderAcceptance" name="ReminderAcceptance" <?php
                                if ($this->wo->ReminderAcceptance || $this->wo->ReminderAll) {
                                    echo'checked="checked"';
                                    $totalACSServices++;
                                }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_ReminderAcceptance">Work Order Not Yet Accepted (24 hours) reminder</label></td>
                                </tr>

                                <tr>
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_Reminder24Hr" name="Reminder24Hr" <?php
                                               if ($this->wo->Reminder24Hr || $this->wo->ReminderAll) {
                                                   echo 'checked="checked"';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_Reminder24Hr">24 hour before start time reminder</label></td>
                                </tr>
                                
                                <tr>
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_Reminder1Hr" name="Reminder1Hr" <?php
                                               if ($this->wo->Reminder1Hr || $this->wo->ReminderAll) {
                                                   echo'checked';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_Reminder1Hr&quot;">1 hour before start time reminder</label></td>
                                </tr>
                                
                                <tr id="trReminderCustomHr" style="display:none">
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderCustomHrChecked" name="ReminderCustomHrChecked" /></td>
                                    <td style="padding-left:12px;"><label for="ReminderCustomHrChecked&quot;"><span id="ReminderCustomHr">CUSTOM reminder</span></label></td>
                                </tr>                                
                                <tr id="trReminderCustomHr_2" style="display:none">
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderCustomHrChecked_2" name="ReminderCustomHrChecked_2" /></td>
                                    <td style="padding-left:12px;"><label for="ReminderCustomHrChecked_2&quot;"><span id="ReminderCustomHr_2">CUSTOM reminder-2</span></label></td>
                                </tr>                                
                                <tr id="trReminderCustomHr_3" style="display:none">
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderCustomHrChecked_3" name="ReminderCustomHrChecked_3" /></td>
                                    <td style="padding-left:12px;"><label for="ReminderCustomHrChecked_3&quot;"><span id="ReminderCustomHr_3">CUSTOM reminder-3</span></label></td>
                                </tr>                                
                                                                
                                <tr>    
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_CheckInCall" name="CheckInCall" <?php
                                               if ($this->wo->CheckInCall || $this->wo->ReminderAll) {
                                                   echo 'checked="checked"';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_CheckInCall">Automated in-bound Check-in</label></td>
                                </tr>
                                
                                <tr>
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_CheckOutCall" name="CheckOutCall" <?php
                                               if ($this->wo->CheckOutCall || $this->wo->ReminderAll) {
                                                   echo'checked="checked"';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_CheckOutCall">Automated in-bound Check-out</label></td>
                                </tr>
                                                                
                                <tr>    
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderNotMarkComplete" name="ReminderNotMarkComplete" <?php
                                               if ($this->wo->ReminderNotMarkComplete || $this->wo->ReminderAll) {
                                                   echo 'checked="checked"';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_ReminderNotMarkComplete">Work Order Not Yet Marked Complete daily reminder</label></td>
                                </tr>
                                                                
                                <tr>     
                                    <td><input class="ACSServices" type="checkbox" disabled="disabled" value="1" id="edit_ReminderIncomplete" name="ReminderIncomplete" <?php
                                               if ($this->wo->ReminderIncomplete || $this->wo->ReminderAll) {
                                                   echo 'checked="checked"';
                                                   $totalACSServices++;
                                               }
                                ?> /></td>
                                    <td style="padding-left:12px;"><label for="edit_ReminderIncomplete">Work order incomplete daily reminder</label></td>
                                </tr>

                        
                    </table>
                </div>
                        <a href="javascript:;" style="text-decoration: underline;font-size: 13px;" id="TechACSReminderView" >ACS Reminder Calls and Alerts (<span id="totalACSServices"><?= $totalACSServices ?></span>)</a>
            </td>
            <td style="padding-left:6px;">
                <div id="contentClientEmailNotification" style="display: none;">
                    <?php $totalClientEmailNotification = 0; ?>
                    <table style="width:100%;" border="1" cellpadding="0" cellspacing="0">
                        <tr>
                            <th align="left">
                                Enabled
                            </th>
                            <th align="left" style="padding-left:12px">
                                Notification
                            </th>
                            <th align="left" style="padding-left:12px">
                                Send to Email Address
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input class="ClientEmailNotification" type="checkbox" id="edit_NotifyOnBid" disabled="disabled" name="NotifyOnBid" class="floatLeft indentRight" <?php
                    if ((bool) $this->project_info->NotifyOnBid) {
                        echo 'checked="checked"';
                        $totalClientEmailNotification++;
                    }
                    ?> style="float:left;margin-right:0px !important;"/>
                            </td>
                            <td style="padding-left:7px">    
                                <label style="float:left; margin-left: 5px;">Receive Bid notifications by email</label>
                            </td>
                            <td  style="padding-left:12px" align="left" id="edit_BidNotificationEmails">
                                <?php
                                if (!empty($this->project_info->BidNotificationEmails)) {
                                    $bidNotiEmails = $this->project_info->BidNotificationEmails;
                                } else {
                                    $bidNotiEmails = $this->project_info->To_Email;
                                }
                                echo($bidNotiEmails);
                                ?>
                            </td>   
                        </tr>
                        <tr>
                            <td>
                                <input class="ClientEmailNotification" type="checkbox" id="edit_NotifyOnAssign" disabled="disabled" name="NotifyOnAssign" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->NotifyOnAssign) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                            </td>
                            <td style="padding-left:7px">    
                                <label style="float:left;  margin-left: 5px;">Receive Assignment notifications by email</label>
                            </td>
                            <td colspan="2" style="padding-left:12px" align="left"   id="edit_AssignmentNotificationEmail">
                                <?= $this->project_info->AssignmentNotificationEmail ?>
                            </td>                
                        </tr>
                        <!--                                                                                        
                                                                                                                <tr>
                                                                                                                    <td >
                                                                                                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveScheduleConflictNotification" disabled="disabled" name="ReceiveScheduleConflictNotification" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->ReceiveScheduleConflictNotification) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                                                                                                                    </td>
                                                                                                                    <td style="padding-left:7px">
                                                                                                                        <label style="float:left;  margin-left: 5px;">Receive Schedule Conflict Notification Emails</label>
                                                                                                                    </td>
                                                                                                                    <td style="padding-left:12px" colspan="2" align="left"   id="edit_ReceiveScheduleConflictNotificationEmails">
                        <?= $this->project_info->ReceiveScheduleConflictNotificationEmails ?>
                                                                                                                    </td>                
                                                                                                                </tr>
                        -->
                                           <!--13763-->
                                <tr>
                                    <td>
                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveWorkAcceptedByTechEmail" disabled="disabled" name="ReceiveWorkAcceptedByTechEmail" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->ReceiveWorkAcceptedByTechEmail) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                                    </td>
                                    <td style="padding-left:7px;">
                                        <label style="float:left;  margin-left: 5px;">Receive Tech Accepted notifications by email </label>
                                    </td>
                                    <td style="padding-left:12px;" colspan="2" align="left"   id="edit_WorkAcceptedByTechEmailTo">
                                       <?php   
                                        if ((bool) $this->project_info->AllowCustomCommSettings) {
                                            $acceptedByTechEmail = !empty($this->futureInfo['WorkAcceptedByTechEmailTo']) ? $this->futureInfo['WorkAcceptedByTechEmailTo'] : $this->project_info->WorkAcceptedByTechEmailTo;                                        
                                            echo($acceptedByTechEmail); 
                                        }else
                                        {
                                           echo($this->project_info->WorkAcceptedByTechEmailTo);   
                                        }
                                        ?>
                                    </td>                                    
                                </tr>
                                <tr>
                                    <td>
                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveWorkConfirmedByTechEmail" disabled="disabled" name="ReceiveWorkConfirmedByTechEmail" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->ReceiveWorkConfirmedByTechEmail) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                                    </td>
                                    <td style="padding-left:7px;">
                                        <label style="float:left;  margin-left: 5px;">Receive Tech Confirmed notifications by email</label>
                                    </td>
                                    <td style="padding-left:12px;" colspan="2" align="left"   id="edit_WorkConfirmedByTechEmailTo">                                     
                                         <?php   
                                         if ((bool) $this->project_info->AllowCustomCommSettings) {
                                            $confirmedByTechEmail = !empty($this->futureInfo['WorkConfirmedByTechEmailTo']) ? $this->futureInfo['WorkConfirmedByTechEmailTo'] : $this->project_info->WorkConfirmedByTechEmailTo;                                        
                                            echo($confirmedByTechEmail);
                                         }else
                                         {
                                            echo($this->project_info->WorkConfirmedByTechEmailTo);   
                                         }
                                        ?>
                                    </td>                
                                </tr>
                                <tr>
                                    <td>
                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveTechCheckedInEmail" disabled="disabled" name="ReceiveTechCheckedInEmail" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->ReceiveTechCheckedInEmail) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                                    </td>
                                    <td style="padding-left:7px;">
                                        <label style="float:left;  margin-left: 5px;">Receive Tech Checked IN notifications by email</label>
                                    </td>
                                    <td style="padding-left:12px;" colspan="2" align="left"   id="edit_TechCheckedInEmailTo">                                       
                                        <?php                                        
                                        if ((bool) $this->project_info->AllowCustomCommSettings) {
                                            $checkedInEmail = !empty($this->futureInfo['TechCheckedInEmailTo']) ? $this->futureInfo['TechCheckedInEmailTo'] : $this->project_info->TechCheckedInEmailTo;                                        
                                            echo($checkedInEmail);
                                        }else
                                        {
                                            echo($this->project_info->TechCheckedInEmailTo);   
                                            }
                                        ?>
                                    </td>                
                                </tr>
                                <tr>
                                    <td>
                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveTechCheckedOutEmail" disabled="disabled" name="ReceiveTechCheckedOutEmail" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->ReceiveTechCheckedOutEmail) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                                    </td>
                                    <td style="padding-left:7px;">
                                        <label style="float:left;  margin-left: 5px;">Receive Tech Checked OUT notifications by email</label>
                                    </td>
                                    <td style="padding-left:12px;" colspan="2" align="left"   id="edit_TechCheckedOutEmailTo">                                        
                                         <?php  
                                        if ((bool) $this->project_info->AllowCustomCommSettings) {
                                            $checkedOutEmail = !empty($this->futureInfo['TechCheckedOutEmailTo']) ? $this->futureInfo['TechCheckedOutEmailTo'] : $this->project_info->TechCheckedOutEmailTo;                                        
                                            echo($checkedOutEmail);
                                        }else
                                        {
                                             echo($this->project_info->TechCheckedOutEmailTo);   
                                        }   
                                        ?>
                                    </td>                
                                </tr>
                                <!-- End 13763-->
                        <tr>
                            <td>
                                <input class="ClientEmailNotification" type="checkbox" id="edit_NotifyOnWorkDone" disabled="disabled" name="NotifyOnWorkDone" class="floatLeft indentRight" <?php
                                if ((bool) $this->project_info->NotifyOnWorkDone) {
                                    echo 'checked="checked"';
                                    $totalClientEmailNotification++;
                                }
                                ?> style="float:left;margin-right:0px !important;"/>
                            </td>
                            <td style="padding-left:7px">
                                <label style="float:left;  margin-left: 5px;">Receive Work Done notifications by email</label>
                            </td>
                            <td style="padding-left:12px" colspan="2" align="left"   id="edit_WorkDoneNotificationEmails">
                                <?= $this->project_info->WorkDoneNotificationEmails ?>
                            </td>                
                        </tr>
                        <tr>
                            <td>
                                <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveReVisitNotification" disabled="disabled" name="ReceiveReVisitNotification" class="floatLeft indentRight" <?php
                        if ((bool) $this->project_info->ReceiveReVisitNotification) {
                            echo 'checked="checked"';
                            $totalClientEmailNotification++;
                        }
                        ?> style="float:left;margin-right:0px !important;"/>
                            </td>
                            <td style="padding-left:7px">
                                <label style="float:left;  margin-left: 5px;">Receive Re-Visit Notification Emails</label>
                            </td>
                            <td style="padding-left:12px" colspan="2" align="left"   id="edit_ReceiveReVisitNotificationEmails">
                                <?= $this->project_info->ReceiveReVisitNotificationEmails ?>
                            </td>                
                        </tr>

                                <tr>
                                    <td>
                                        <?
                                        ?>
                                        <input class="ClientEmailNotification" type="checkbox" id="edit_ReceiveTechQAMessageNotification" disabled="disabled" name="ReceiveTechQAMessageNotification" class="floatLeft indentRight" <?php
                                        if ((bool) $this->project_info->ReceiveTechQAMessageNotification)
                                        {
                                            echo 'checked="checked"';
                                            $totalClientEmailNotification++;
                                        }
                                        ?> style="float:left;margin-right:0px !important;"/>
                                    </td>
                                    <td style="padding-left:7px;">
                                        <label style="float:left;  margin-left: 5px;">Receive Tech Q&A Message Notifications</label>
                                    </td>
                                    <td style="padding-left:12px;" colspan="2" align="left"   id="edit_ReceiveTechQAMessageNotificationEmails">
                                        <?= $this->project_info->ReceiveTechQAMessageNotificationEmails ?>
                                        <?php  if (!empty($this->project_info->ReceiveTechQAMessageNotificationEmails) || !empty($this->woOwnerEmail)) {
                                            $qaEmail = !empty($this->project_info->ReceiveTechQAMessageNotificationEmails) ? $this->project_info->ReceiveTechQAMessageNotificationEmails : $this->woOwnerEmail;
                                        } else {
                                            $qaEmail = $this->project_info->ReceiveTechQAMessageNotificationEmails;
                                        }
                                        echo($qaEmail);
                                        ?>
                                    </td>                
                                </tr>
                    </table>
                </div>    
                        <a href="javascript:;" style="text-decoration: underline;font-size: 13px;" id="ClientEmailNotification" >Client Email Notification Settings (<span id="totalClientEmailNotification"><?= $totalClientEmailNotification ?></span>)</a>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
</div>