<div class="sectionInner"  id="section6">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
        <col width="124px" />
        <col width="245px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td class="subheader">Tech Check In/Out</td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <table cellpadding="2" cellspacing="0" width="100%">
                    <col width="100px"/>
                    <col width="130px"/>
                    <col width="90px"/>
                    <col width="90px"/>
                    <col width="90px"/>
                    <col width="90px"/>
                    <col width="*" />
                    <tr>
                        <td>Visit(s)</td>
                        <td></td>
                        <td>Check-In</td>
                        <td></td>
                        <td>Check-Out</td>
                        <td></td>
                        <td>Duration</td>
                    </tr>
                    <tr class="contentTechCheck">
                        <td valign="top">
                            1. Scheduled
                        </td>
                        <td colspan="6" ></td>
                    </tr>


                    <tr>
                        <td colspan="4" class="tleft">
                            <span class="width170">Total Duration On-Site (calc): </span>
                            <span id="displayTotalDuration"></span>
                        </td>
                        <td colspan="3" class="tleft">   
                            <span class="width50">Miles: </span>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td class="innerTop"><span class="subheader">Tech Site Completion Report</span></td>
        </tr>
        <tr>
            <td  class="innerTop subheaderLeft" >
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class=""><input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" class="" style="float:left;" /></td>
                        <td nowrap><label class="width240" style="*margin-top:2px;">&#160;&#160;Paperwork Received </label></td>
                        <td width="10px"><input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" class="" /></td>
                        <td nowwrap colspan="2"><label class="width240" style="*margin-top:2px;">&#160;&#160;Paperwork Incomplete</label></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" value="1" id="edit_TechMarkedComplete" name="TechMarkedComplete" class="" style="float:left;"/></td>
                        <td><label class="width240">&#160;&#160;Site Marked Complete by Tech</label></td>
                        <td><input type="checkbox" value="1" id="edit_CallClosed" name="CallClosed" class="" /></td>
                        <td colspan="2"><label class="width240">&#160;&#160;Site Marked Complete in Client System</label></td>
                    </tr>
                    <?php if ($this->company == "FLS") { ?>
                        <tr>
                            <td>
                                <input type="checkbox" value="1" id="edit_FLS_OOS" name="FLS_OOS"/>
                            </td>
                            <td>&#160;&#160;FLS Out of Scope</td>
                            <td>
                                <input type="checkbox" value="1" id="edit_Unexpected_Steps" name="Unexpected_Steps"/>
                            </td>
                            <td>&#160;&#160;Unexpected Steps</td>
                        </tr>
                        <tr>
                            <td colspan="3">Unexpected Description</td>
                        </tr>
                        <tr>
                            <td colspan="4"><textarea rows="2" cols="75" id="edit_UnexpectedDescription" name="Unexpected_Steps" ></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Asked By</label></td>
                            <td colspan="2"><label>Asked By Name</label></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" value="1" id="edit_PartsProcessed" name="PartsProcessed"/>
                            </td>
                            <td>Parts Closed in Client System</td>
                            <td colspan="2">Penalty Reason&#160;&#160;&#160;&#160;
                                <select class="width180" id="edit_Penalty_Reason" name="Penalty_Reason" onchange="$('#edit_Penalty_Reason').attr('title', $('#edit_Penalty_Reason option:selected').text());">
                                    <option value="">Select One</option>
                                    <?php
                                    foreach ($this->penaltyReasons as $penalty) {
                                        ?>
                                        <option title="<?= $penalty ?>" value="<?= $penalty ?>"><?= $penalty ?></option>
                                    <?php } ?>
                                </select>
                            </td>
                        <tr/>
                    <?php } ?>
                </table> </td>

        </tr>
        <tr>
            <td class="innerTop subheaderLeft"><label class="indentBottomSmall dBlock perWidth100" style="padding-bottom: 0px;">Tech Comments</label>
            </td>
        </tr>
<!--        <tr>
            <td class="subheaderLeft">
                <textarea style="height: 20px;margin-bottom: 4px;border: 0px;" cols="75" id="edit_TechComments" name="TechComments" ></textarea></td>
            <td>&#160;</td>
        </tr>-->

        <tr>
            <td class="subheaderLeft" style="padding-top:20px;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class=""><input type="checkbox" value="1" id="edit_MarkIncompleteV" name="MarkIncompleteV" class="" class="floatLeft;" /></td>
                        <td class="" colspan="2" nowrap><label class="width240">&#160;&#160;Mark Work Order Incomplete and notify Tech <span class="required2">* Comments Required</span></label></td>
                        <td>&#160;</td>
                    <tr/>
                </table>
            </td>
        </tr>
        <tr>
            <td  class="innerTop subheaderLeft"><label class="indentBottomSmall dBlock perWidth100">Incomplete Work Order Comments: required if site marked incomplete, specify tech requirements to complete</label>
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">    
                <textarea rows="2" cols="75" id="edit_MissingComments" name="MissingComments" ></textarea></td>
        </tr>
        <tr>

            <td class="innerTop subheaderLeft"><label class="indentBottomSmall dBlock perWidth100">Client Work Order Closing Comments (only visible in the Work Order)</label>
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <textarea rows="2" cols="75" id="edit_ClientComments" name="ClientComments" ></textarea></td>
        </tr>
    </table>
</div>