<div class="sectionInner" id="section1">
    <input type="hidden" value="" id="edit_StartDate" name="StartDate" />
    <input type="hidden" value="" id="edit_StartTime" name="StartTime" />
    <input type="hidden" value="" id="edit_EndDate" name="EndDate" />
    <input type="hidden" value="" id="edit_EndTime" name="EndTime" />
    <input type="hidden" value="" id="edit_Duration" name="Duration" />
    <table cellpadding="0" cellspacing="0" class="sectionForm" border="1" style="width:97%;">
        <col width="120px" />
        <col width="152px" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <tbody id="ContentServiceSchedule">
            <tr>
                <td class="subheader" colspan="5" style="vertical-align:middle">Type of Work</td>
            </tr>  
            <tr>
                <td class="subheaderLeft">
                    <label class="required">Skill<span>*</span>:</label>
                </td>
                <td>
                    <select type="text" id="edit_WO_Category_ID" name="WO_Category_ID" onchange="$('#edit_WO_Category_ID').attr('title', $('#edit_WO_Category_ID option:selected').text());" class="floatRight_ " style="width:118px;">
                        <option value="">Select Category</option>
                        <?php foreach ($this->categories as $category) : ?>
                            <option title="<?= $category->Category ?>" value="<?= $category->Category_ID ?>" <?php if ($this->wo->WO_Category_ID == $category->Category_ID) echo'selected'; ?>>
                                <?= $category->Category ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                    <label>Call Type:</label>
                </td>
                <td>
                    <select type="text" id="edit_Type_ID" name="Type_ID" onchange="$('#edit_Type_ID').attr('title', $('#edit_Type_ID option:selected').text());" class="floatRight_ " style="width:118px;">
                        <?php foreach ($this->callTypes as $ckey => $ctype) : ?>
                            <option title="<?= $ctype ?>" value="<?= $ckey ?>" <?php if ($this->wo->Type_ID == $ckey) echo'selected'; ?>>
                                <?= $ctype ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                    <label class="required">Headline<span>*</span></label>
                </td>
                <td>
                    <input style="width:148px;float: right;margin: 0px;" type="text" id="edit_Headline" name="Headline" class="floatRight_" value="" />
                </td>
            </tr>
            <tr>
                <td class="subheader" colspan="5">
                    <div style="padding-top:8px;">Site Information</div> 
                </td>
            </tr>
            <tr>
                <td class="subheaderLeft" colspan="5">
                    <table cellpadding="0" cellspacing="0">   
                        <tr>
                            <td width="100px">    
                                <a style="cursor:default;" id="btn_selectsite" href="javascript:void(0)">
                                    <img id="img_selectsite" border="0" width="93px" height="30" src="/widgets/css/images/btn_orange_selectsite_disabled.png" alt="" />
                                </a>
                            </td>
                            <td width="100px">
                                <a onclick="detailsWidget.saveSite()" href="javascript:void(0)">
                                    <img border="0" width="93px" height="30" src="/widgets/css/images/btn_orange_savesite.png" alt="">
                                </a>
                            </td>
                            <td width="100px" style="vertical-align: top;">
                                <a style="display:none;" class="viewTechBtnHidden" href="javascript:void(0)">
                                    <div style="width: 93px; background-repeat: no-repeat; height: 30px; background-image: url('/widgets/css/images/btn_orange_savedtechs.png');">
                                        &nbsp;
                                    </div>
                                </a>
                                <a style="cursor:default;" class="viewTechBtnHiddenView" href="javascript:void(0)">
                                    <div style="width: 93px; background-repeat: no-repeat; height: 30px; background-image: url('/widgets/css/images/btn_orange_savetechs_disabled.png');">
                                        &nbsp;
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
            </tr>
            <tr>                                                                                 
                <td class="subheaderLeft">
                    <label>Site Name</label>
                </td>
                <td>
                    <input type="text" id="edit_SiteName" name="SiteName" class="" value="" style="width:116px;" />
                </td>
                <td class="tleft">
                    <label>Site Number</label>
                </td>
                <td style="white-space: nowrap">
                    <input type="text" id="edit_SiteNumber" name="SiteNumber" style="width:95px;" value="" />
                    &nbsp;<a href="javascript:void(0)" onclick="detailsWidget.siteLookup()"><img src="/widgets/images/magnify.gif" /></a>
                </td>
                <td colspan="2" class="tleft" style="white-space: wrap;">
                    Site Contact Name
                    <input type="text" id="edit_Site_Contact_Name" name="Site_Contact_Name"  style="width:117px;float: right;margin: 0px;" value="" />
                </td>
            </tr>
            <tr>
                <td class="subheaderLeft">
                    <label>Site Address</label>
                </td>
                <td>
                    <input type="text" id="edit_Address" name="Address" class="" value="" style="width:116px;" />
                </td>
                <td class="tleft">
                    <label>City</label>
                </td>
                <td colspan="2">
                    <input type="text" id="edit_City" name="City" class="" value="" style="width:116px;" />
                </td>
            </tr>
            <tr>
                <td class="tleft subheaderLeft">
                    <span class="required_tech" id="section4req">*</span>
                    <label>Country</label>
                </td>
                <td>
                    <select type="text" id="edit_Country" name="Country" class="floatLeft" onchange="$('#edit_Country').attr('title', $('#edit_Country option:selected').text());detailsWidget.onChangeCountry();" style="width:116px;">
                        <?php
                        $dotline = "----------------";
                        $icount = 0;
                        foreach ($this->countries as $ckey => $country) {
                            ?>
                            <option title="<?= $country->Name ?>" value="<?= $country->Code ?>"<?php if ($country->Code == 'US') echo'selected'; ?>><?= $country->Name ?></option>
                            <?php
                            if ($icount == 2) {
                                echo("<option value=\"\">$dotline</option>");
                            }
                            $icount = $icount + 1;
                        }
                        ?>
                    </select>
                </td>
                <td class="tleft">
                    <label>State/Prov</label>
                </td>
                <td>
                    <select type="text" id="edit_State" name="State" class="floatLeft" onchange="$('#edit_State').attr('title', $('#edit_State option:selected').text());" style="width:118px;">
                        <option selected="selected" value="">Select State</option>
                        <?php foreach ($this->states as $skey => $state) : ?>
                            <option title="<?= $state ?>" value="<?= $skey ?>" ><?= $state ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td colspan="2" class="tleft" >
                    <label class="required">Zip/Postal Code<span>*</span></label>
                    <input type="text" id="edit_Zipcode" name="Zipcode" style="width:125px;margin: 0px;float: right;" value="" />
                </td>
            </tr>
            <tr>
                <td class="subheaderLeft">
                    <label>Site Phone</label>
                </td>
                <td>
                    <input type="text" id="edit_SitePhone" class="inputwatermark" title="(###) ###-####" name="SitePhone" class="" value="" style="margin-bottom:2px;width:116px;" />
                </td>
                <td class="tleft">
                    <label>Site Fax</label>
                </td>
                <td>
                    <input type="text" id="edit_SiteFax" class="inputwatermark" title="(###) ###-####" name="SiteFax" class="" value="" style="margin-bottom:2px;width:116px;" />
                </td>
                <td colspan="2">
                    <label style='padding-right:5px'>Site Email</label>

                    <input type="text" id="edit_SiteEmail" class="inputwatermark" title="ex. john@site.com" name="SiteEmail" value="" style="width:162px;float: right;margin: 0px;" />
                </td>
            </tr>
            <tr height="10px;"><td colspan="5"></td></tr>

            <tr>
                <td class="subheader" colspan="5">
                    Service Schedule
                </td>
            </tr>
            <tr>
                <td class="subheaderLeft" style="vertical-align: top;">
                    <div>Visit #1</div>
                    <div style='padding-top:25px;'>&nbsp;</div>
                    <img src="/widgets/images/btn_orange_addavisit.png" style="cursor: pointer;" id="cmdAddAVisit" />
                </td>
                <td colspan="5">
                    <table cellspacing="0" cellpadding="0" id="tableServiceSchedule" itemid="0" class="tableServiceSchedule tableServiceSchedule1">
                        <tbody>

                            <tr>
                                <td style="width: 80px;padding-left:0px;" >
                                    Start Type
                                </td>
                                <td class="DateTypeStart" style="width: 234px;">
                                    <select class="classStartType" style="width:202px">
                                        <option value="1">Firm Start Time</option>
                                        <option  value="2">Start Time Window</option>
                                    </select>


                                </td>
                                <td class="DateTypeEnd" style="width: 84px;">
                                    Est. Duration

                                </td>
                                <td align="right" style="padding-right: 0px;">
                                    <select style="width:202px" class="EstimatedDuration">
                                        <?php
                                        if (!empty($this->EstDurationArray)) {
                                            foreach ($this->EstDurationArray as $EstDuration) {
                                                ?>    
                                                <option  value="<?= $EstDuration["value"] ?>"><?= $EstDuration["desc"] ?></option>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </select>

                                    <img class="cmdhelpFAQi" src="/widgets/images/FAQi.png" style="margin-top: 0px;vertical-align: top;margin-right: -20px;" width="16px" height="16px" />

                                </td>
                            </tr>

                            <tr style="height:47px;">
                                <td valign="middle" style="vertical-align: middle;padding-left: 0px;">
                                    Work Start
                                </td>
                                <td style="vertical-align: middle;">
                                    <div><input type="text" title="MM/DD/YYYY" class="CalendarInput StartDate inputwatermark"   >
                                        <span class="customSelect">
                                            <span><span>
                                                    <input title="H:MM AM/PM" type="text" class="texttimeChooser StartTime csText TimeInput inputwatermark"  >
                                                    <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                                    <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                        <?= $this->TIME ?>
                                                    </select></span></span></span>
                                    </div>

                                </td>
                                <td style="vertical-align: middle;">
                                    Work End
                                </td>
                                <td align="" style="vertical-align: middle;padding-right: 0px;">
                                    <div style="float: right;margin: 0;"><input type="text" title="MM/DD/YYYY" class="CalendarInput EndDate inputwatermark"  >
                                        <span class="customSelect">
                                            <span><span>
                                                    <input title="H:MM AM/PM" type="text" class="texttimeChooser EndTime csText TimeInput inputwatermark"   >
                                                    <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                    <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                        <?= $this->TIME ?>
                                                    </select></span></span></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" colspan="1" style="vertical-align: middle;padding-left: 0px;padding-right: 0px;">
                                    Tech Arrival Instructions
                                    <input style="width: 437px;margin-left: 49px;margin-bottom: 7px;margin-top: 0px;" type="text"  class="TechArrivalInstructions" >
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>

            </tr> 
        </tbody>
    </table>
    <?php
    if ($this->company == "FLS") {
        ?>
        <table class="sectionForm" cellspacing="0" cellpadding="0" style="width: 97%;">
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 120px;padding: 0px;">
                    &nbsp;
                </td>
                <td class="tleft" style="vertical-align: top; width: 516px;"  >
                    <label>Update Requested?</label>&#160;<input type="checkbox" style="margin: 0px;" id="edit_Update_Requested" name="Update_Requested" />

                    <label style="padding-left:55px;" class="tleft_">Reason for Update</label>&#160;&#160;<input type="text" name="Update_Reason" class="perWidth100_" style="margin:0px;width:215px;" />
                </td>
                <td align="right" width="96px">
                    <label>Short Notice</label>&#160;<input type="checkbox" style="margin: 0 0 0 8px;" id="edit_ShortNotice" value="1" name="ShortNotice"  />
                </td>
            </tr>
        <?php } ?>
    </table>
</div>