<div class="sectionInner"  id="section8">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td colspan="3"> Comments in this section are visible to assigned techs only.<br />
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="1" class="tleft innerBottom">
                <label>General Comments 1</label>
            </td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General1" name="General1" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 2</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General2" name="General2" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 3</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General3" name="General3" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 4</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General4" name="General4" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 5</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General5" name="General5" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 6</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General6" name="General6" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 7</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General7" name="General7" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 8</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General8" name="General8" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 9</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General9" name="General9" ></textarea></td>
        </tr>
        <tr>
            <td colspan="1" class="tleft "><label>General Comments 10</label></td>
            <td colspan="2"><textarea style="height:16px;width:530px;" id="edit_General10" name="General10" ></textarea></td>
        </tr>
        <?php if ($this->isPM) : ?>
            <tr>
                <td colspan="3" class="tleft innerTop innerBottom"><label>FS Internal Comments</label>
                    <textarea style="height:80px;width:710px;" id="edit_FS_InternalComments" name="FS_InternalComments" ></textarea></td>

            </tr>
        <?php endif; ?>
    </table>
</div>