<script>
  $(document).ready(function(){  
	attachFSRushInfoText ($('#FSRushInfo'));
	attachWMInfoText($(".PushWMInfo"));

    $("#cmdCancelWeekPay").click(function(){
     $.fancybox.close();
    });
     $("#cmdAgreeWeekPay").click(function(){
          $(".clOffer").html('Client $ Offer (Per Week) ');
          $(".numDate").html('<label class="required">Number of Weeks <span>*</span> </label>');  
          $(".inputDate").html('<input type="text" style="width:75px;" id="edit_Qty_Weeks" name="Qty_Weeks"/>');  
          $(".numDate").show();
          $(".inputDate").show();
          $.fancybox.close();
    });
  });   
</script>  
<div class="sectionInner"  id="section4">
    <table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
        <col width="120px" />
        <col width="200px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td colspan="4" class="subheader" style="padding-bottom:10px;">Tech Pay</td>
        </tr>
        <tr>            
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="width:155px;">
                            <label style="width:150px;" class="required">Client $ Offer<span>*</span></label>
                        </td>
                        <td style="width:102px;">
                            <input type="text" style="width:80px;" id="edit_PayMax" name="PayMax" value="" />
                        </td>
                        <td style="width:115px;padding-left: 19px;">
                            <label class="required" style="width:85px;">Amount Per<span>*</span></label>
                        </td>
                        <td style="width:100px;">
                            <select style="width: 100px;" id="edit_Amount_Per" name="Amount_Per" >
                                <option value="">Select Type</option>
                                <option value="Site">Site</option>
                                <option value="Hour" >Hour</option>
                                <option value="Device" >Device</option>
                                <option value="Visit" >Visit</option>
                            </select>
                        </td>
                        <td style="width:60px;padding-left:10px;">
                            <label style="width:60px;" id="DeviceQuantity" >Devices:</label>
                        </td>
                        <td style="width:90px;">
                            <input type="text" style="width:75px;" id="edit_Qty_Devices" name="Qty_Devices" value="" />
                        </td>
                        <td style="width:40px;padding-left:10px;">
                            <label style="width:40px;" >Visits:</label>
                        </td>
                        <td style="width:90px;">
                            <input type="text" style="width: 75px;" id="edit_Qty_Visits" name="Qty_Visits" value="1"  />
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0">
                    <col width="20px" />
                    <col width="234px" />
                    <col width="*" />
                    <col width="*" />
                    <tr>
                        <td>
                            <input type="checkbox" value="1" id="edit_FixedBid" disabled="disabled" />
                        </td>
                        <td>
                            <label class="">Fixed Tech Pay, No Extra $ <br/> <span id="edit_FixedBidNotice" class="displayNone tColor3 smallText">This is a pre-set fixed tech pay work order., Techs cannot bid other prices or request additional/conditional extra $.</span></label>
                        </td>
                        <td>
                            <input type="checkbox" id="edit_PcntDeduct" value="1" name="PcntDeduct" style="display: none;" />
                            <input type="checkbox" value="1" id="PcntDeductV2"  disabled="disabled"/>
                        </td>
                        <td>
                            <label id="lablePcntDeductPercent" class="width240">&nbsp;Deduct FS Service Fee from Tech</label>
                            <input type="hidden" id="edit_PcntDeductPercent" name="PcntDeductPercent" value="" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="pushtotech_box right_brdwhite">
            <td colspan="5">
                <div class="sectionBoxP2t">
					<div style="width: 245px">
                    <a title="" bt-xtitle="" id="FSRushInfo" href="javascript:void(0)" class="" style="float: right;"><img src="/widgets/css/images/info-icon.jpg" style="vertical-align: middle;"></a><a class="title2" tabid="#pushtotech_collasple">FS-RUSH&trade; Auto Assignment Settings</a>
					</div>
                </div>
                <div class="sectionInner2" id="pushtotech_collasple" style="display:none; margin-left: 0px;">
					<?php
						$prjAutoSign = $this->wo->isProjectAutoAssign;
						$p2tDisable = !$prjAutoSign ? " disabled=\"disabled\"" : "";
					?>
                    <table cellpadding="0" cellspacing="0" width="744px">
                        <col width="10px" />
                        <col width="300px" />
                        <col width="100px" />
                        <col width="338px" />
                        
						<!--
                        <tr id="pushtotech_box">
                            <td>&#160;</td>
                            <td colspan="3" class="subheader1 innerTop" id="right_brdwhite">
                                <input type="checkbox" id="edit_isProjectAutoAssign" disabled="disabled" <?= ($this->wo->isProjectAutoAssign ? 'checked' : '') ?> class="indentRightSmall floatLeft" /> 
                                <label class="tBold width240">FS-RUSH&trade; Activated</label>
                            </td>
							<td colspan="2" align="right" valign="bottom" class="innerTop" style="line-height: 18px;">
								<input type="checkbox" value="1" id="edit_PushWM" name="PushWM" wmAllow="<?=$this->client->contextPushWMEnabled?>" <?php if ($this->wo->PushWM): ?>checked<?php endif; ?> <?php if($p2tDisable && $this->client->contextPushWMEnabled == 1):?>disabled<?php endif;?>>
                                Add Work Market source
								<img src="/widgets/images/wm32.png" style="vertical-align: middle;" />
								<a title="" bt-xtitle="" id="FSRushInfo" href="javascript:void(0)" class=""><img src="/widgets/css/images/info-icon.jpg" style="vertical-align: middle;"></a>
							</td>
                        </tr>
						-->
                        <?php if (true || $this->wo->isProjectAutoAssign) : ?>
                            <script type="text/javascript">
                                function updateMinutes() {
                                    d =	parseInt($("#edit_P2TD").val(),10);
                                    h = parseInt($("#edit_P2TH").val(),10);
                                    m = parseInt($("#edit_P2TM").val(),10);
                                    if (isNaN(d)) {
                                        d = 0;
                                        $("#edit_P2TD").val(d);
                                    }
                                    if (isNaN(h)) {
                                        h = 0;
                                        $("#edit_P2TH").val(h);
                                    }
                                    if (isNaN(m)) {
                                        m = 0;
                                        $("#edit_P2TM").val(m);
                                    }
                                    remain = d *1440 + h * 60 + m;
                                    $("#edit_MinutesRemainPublished").val(remain);
                                }
                                function loadMinutes(){
                                    v = parseInt($("#edit_MinutesRemainPublished").val(), 10);
                                    d = Math.floor(v / 24 / 60);
                                    v = v - d * 24 * 60;
                                    h = Math.floor(v / 60);
                                    m = v - h * 60;
                                    $("#edit_P2TD").val( isNaN(d) ? 0 : d );
                                    $("#edit_P2TH").val( isNaN(h) ? 0 : h );
                                    $("#edit_P2TM").val( isNaN(m) ? 0 : m );
                                }
                                $(document).ready(function(){
                                    loadMinutes();
                                    updateMinutes();
                                });
                            </script>
                            <tr id="pushtotech_box">
								<td>&#160;</td>
								<td id="fsrush-activate" class="subheader1 innerTop"><label class="tBold">Activate FS-RUSH&trade;</label></td>
								<td colspan="2" class="innerTop" id="right_brdwhite">
									<input type="checkbox" id="edit_isProjectAutoAssign" name="isProjectAutoAssign" class="indentRightSmall floatLeft" />
									<div class="floatLeft width70">&nbsp;
									</div>
									<div class="floatLeft width70">&nbsp;
									</div>
									<!--div class="floatLeft" style="width: 40px">&nbsp;
									</div-->
									
									<input type="checkbox" id="edit_PushWM" name="PushWM" <?= !$prjAutoSign || !$this->client->contextPushWMEnabled ? " disabled=\"disabled\"" : "" ?> />&nbsp;
									Add Work Market source <img src='/widgets/images/wm32.png' style="vertical-align: middle;" alt="Work Order sourced through Work Market" />&nbsp;
									<a title="" bt-xtitle="" class="PushWMInfo" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a>
								</td>
								<td class="subheader1 innerTop" id="right_brdwhite">
								</td>
                            </tr>
                            <tr id="pushtotech_box">
                                <td>&#160;</td>
                                <td class="innerTop">FS-RUSH&trade; Time Control expires in:</td>
                                <td colspan="2" class="innerTop" id="right_brdwhite">
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TD" name ="P2TDV" <?= $p2tDisable ?> class="width20 floatLeft indentRight" />
                                        <label>Days</label>
                                    </div>
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TH" name ="P2THV" <?= $p2tDisable ?> class="width20 floatLeft indentRight" />
                                        <label>Hours </label>
                                    </div>
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TM" name ="P2TMV" <?= $p2tDisable ?> class="width20 floatLeft indentRight" />
                                        <label>Minutes</label>
                                    </div>

									&nbsp;&nbsp;&nbsp;
									<span id="fsrush_timeleft" style="color: #C00000; font-style: italic; display: none;">
									</span>

                                    <input type="hidden" name="MinutesRemainPublished" value="<?= $this->wo->MinutesRemainPublished ?>" id ="edit_MinutesRemainPublished" />
                                </td>
                            </tr>
                            <tr id="pushtotech_box">
                                <td>&#160;</td>
                                <td class="innerBottom">
                                    <strong>Auto-Assignment requirements:</strong>
                                </td>
                                <td colspan="2" id="right_brdwhite">&nbsp;</td>
                            </tr>
                            <tr id="pushtotech_box" valign="top">
                                <td>&#160;</td>
                                <td><label class="width240">Auto-Assign to</label></td>
                                <td colspan="2" style="line-height: 18px;">
									<input type="radio" name="isWorkOrdersFirstBidder" value="1" <?= $p2tDisable ?> id="edit_isWorkOrdersFirstBidder" <?= ($this->wo->isWorkOrdersFirstBidder ? 'checked' : '') ?> />&nbsp;
                                    First Matching Bidder<br/>
                                    <input type="radio" name="isWorkOrdersFirstBidder" value="0" <?= $p2tDisable ?> id="edit_isnotWorkOrdersFirstBidder" class="floatLeft" <?= (!$this->wo->isWorkOrdersFirstBidder ? 'checked' : '') ?> />&nbsp;
                                    Lowest Matching Bidder When Time Control Expires<br/>
                                </td>
                            </tr>
                            <tr id="pushtotech_box" valign="top">
                                <td>&#160;</td>
                                <td><label class="width240">Auto-Assign to</label></td>
                                <td colspan="2" style="line-height: 18px;">
									<input type="radio" name="P2TPreferredOnly" value="1" <?= $p2tDisable ?> id="edit_P2TPreferredOnly" <?= ($this->wo->P2TPreferredOnly ? 'checked' : '') ?> />&nbsp;
                                    Preferred Techs Only<br/>
                                    <input type="radio" name="P2TPreferredOnly" value="0" <?= $p2tDisable ?> id="edit_notP2TPreferredOnly" class="floatLeft" <?= (!$this->wo->P2TPreferredOnly ? 'checked' : '') ?>  />&nbsp;
                                    Any Matching Tech<br/>
                                </td>
                            </tr>
                            <?php
                            if (!empty($this->FSTagList)):
                                ?>
                                <tr id="pushtotech_box">
                                    <td>&#160;</td>
                                    <td>
                                        <label class="width240">Client Credential </label>
                                    </td>
                                    <td class="" id="edit_ClientCredential" colspan="2">
										<select size="1" style="width: 200px;" name="CredentialCertification" id="ClientCredential"<?= $p2tDisable ?>>
                                            <option selected="selected" value="">Select a Client Credential</option>
                                            <?php if(!empty($this->FSTagList)){
												$ignore_cred = array ("3", "2", "6", "64");
                                                foreach($this->FSTagList as $item){
													if (!in_array ($item["id"], $ignore_cred)) {
														echo "<option  value='".$item["id"]."'>".$item["Title"]."</option>";
													}
                                                }
                                            } ?>

											<?php if(in_array($this->company,array('BBAL','BBGC','BBGE','BBCN','BCSST','BBGN','BBJC','BBLC','BBNSG','BBNC','BBS','BB')) && $this->isGPM): ?>
											<option value="46">Black Box Cabling - Helper (C1)</option>
											<option value="47">Black Box Cabling - Advanced (C2)</option>
											<option value="48">Black Box Cabling - Lead (C3)</option>
											<option value="49">Black Box Telecom - Helper (T1)</option>
											<option value="50">Black Box Telecom - Advanced (T2)</option>
											<?php endif; ?>  
                                        </select>
										<div id="CredentialCertificationSelection"></div>
                                    </td>
                                </tr>
                                <?php
                            endif;
                            ?>
                               
							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">Public Credentials</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="PublicCertification" id="PublicCertification"<?= $p2tDisable ?>>
										<option value="0">Select a Public Credential</option>
										<option value="Bg_Test_Pass_Lite">Basic Background Check</option>
										<option value="Bg_Test_Pass_Full">Comprehensive Background Check</option>
										<option value="DrugPassed">Gold Drug Test - 9 Panel</option>
										<option value="SilverDrugPassed">Silver Drug Test - 5 Panel</option>
										<option value="2">Dell MRA Compliant</option>
										<option value="6">DeVry Student</option>
										<option value="64">FieldSolutions CheckINN Hotel Savings Card</option>
										<option value="FS_Mobile">FS-Mobile&trade;</option>
										<option value="BRT">Blue Ribbon Technician</option>
										<option value="TBC">Boot Camp Certified</option>
										<option value="USAuthorized">US Verified</option>
										<option value="NACI">NACI Gov. Security Clearance</option>
										<option value="InterimSecClear">Interim Gov. Security Clearance</option>
										<option value="FullSecClear">Secret Gov. Security Clearance</option>
										<option value="TopSecClear">Top Secret Gov. Security Clearance</option>
										<option value="TopSecSCIClear">Top Secret SCI Gov. Security Clearance</option>
									</select>
									<div id="PublicCertificationSelection"></div>
								</td>
							</tr>

							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">FS-Experts</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="FSExpert" id="FSExpert"<?= $p2tDisable ?>>
										<option value="0">Select a Skill Category</option>
										<?php foreach ($this->fs_experts as $record): ?>
										<option value="<?= $record["Id"] ?>"><?= $record["Title"] ?></option>
										<?php endforeach; ?>
									</select>
									<div id="FSExpertSelection"></div>
								</td>
							</tr>

							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">Industry Certifications</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="IndustryCertification" id="IndustryCertification"<?= $p2tDisable ?>>
										<option value="">Select an Industry Certification</option>
										<option value="MCSE">Microsoft Certified Systems Engineer (MCSE)</option>
										<option value="MCSA">Microsoft Certified Solutions Associate (MCSA)</option>
										<option value="MCP">Microsoft Certified Professional (MCP)</option>
										<option value="CCNA">Cisco Certified Network Associate (CCNA)</option>
										<option value="DellCert">Dell Certification</option>
										<option value="HP_CertNum">HP Certification</option>
										<option value="CompTIA">CompTIA Registered</option>
										<option value="CompTIA_A_PLUS">CompTIA A+</option>
										<option value="CompTIA_PDI_PLUS">CompTIA PDI+</option>
										<option value="CompTIA_Server_PLUS">CompTIA Server+</option>
										<option value="CompTIA_Network_PLUS">CompTIA Network+</option>
										<option value="BICSI">BICSI Certification</option>
										<option value="EMCApD">EMCApD - Application Developer</option>
										<option value="EMCBA">EMCBA - Backup Recovery</option>
										<option value="EMCCA">EMCCA - Cloud Architect</option>
										<option value="EMCCIS">EMCCIS - Cloud Infrastructure and Services</option>
										<option value="EMCDCA">EMCDCA - Data Center Architect</option>
										<option value="EMCIE">EMCIE - Implementation Engineer</option>
										<option value="EMCISA">EMCISA - Information Storage and Management</option>
										<option value="EMCPE">EMCPE - Platform Engineer</option>
										<option value="EMCSA">EMCSA - Storage Administrator</option>
										<option value="EMCSyA">EMCSyA - System Administrator</option>
										<option value="EMCTA">EMCTA - Technology Architect</option>
									</select>
									<div id="IndustryCertificationSelection"></div>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
								<td>
									 <label class="width240">Skill Category Minimum Self-Rating</label>
								</td>
								<td colspan="2">
									 <span>
										<select style="width: 200px;" name="MinimumSelfRating" id="edit_MinimumSelfRating"<?= $p2tDisable ?>>
											<option value="0" <?php if ($this->wo->MinimumSelfRating == 0): ?>selected<?php endif; ?>>No Minimum</option>
											<option value="1" <?php if($this->wo->MinimumSelfRating==1):?>selected<?php endif;?>>1</option>
											<option value="2" <?php if($this->wo->MinimumSelfRating==2):?>selected<?php endif;?>>2</option>
											<option value="3" <?php if($this->wo->MinimumSelfRating==3):?>selected<?php endif;?>>3</option>
											<option value="4" <?php if($this->wo->MinimumSelfRating==4):?>selected<?php endif;?>>4</option>
											<option value="5" <?php if($this->wo->MinimumSelfRating==5):?>selected<?php endif;?>>5</option>
										</select>
									 </span>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
								<td>
									 <label class="width240">Maximum Mileage from Site</label>
								</td>
								<td colspan="2">
									<select style="width: 200px;" name="MaximumAllowableDistance" id="edit_MaximumAllowableDistance"<?= $p2tDisable ?>>
										<option value="25" <?php if($this->wo->MaximumAllowableDistance==25):?>selected<?php endif;?>>25</option>
										<option value="50" <?php if($this->wo->MaximumAllowableDistance==50):?>selected<?php endif;?>>50</option>
										<option value="75" <?php if($this->wo->MaximumAllowableDistance==75):?>selected<?php endif;?>>75</option>
										<option value="100" <?php if($this->wo->MaximumAllowableDistance==100):?>selected<?php endif;?>>100</option>
									</select>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
                                <td class="innerTop">
                                    <label class="width240">Receive FS-RUSH&trade; Notification Emails</label>
                                </td>
                                <td class="innerTop" colspan="2">
                                    <input type="checkbox" disabled="disabled" id="edit_NotifyOnAutoAssign" <?= (bool) $this->project_info->NotifyOnAssign ? 'checked' : '' ?> />
									<input style="width: 180px;" type="text" name="P2TNotificationEmailTo" value="<?= $this->wo->P2TNotificationEmailTo ?>" id="edit_P2TNotificationEmailTo" />
                                </td>
                            </tr>
                        <?php endif; ?>
                    </table>
                </div>
            </td>
        <tr>
        <tr id="pushtotech_box right_brdwhite">
            <td colspan="5">
                <div id="divExpenseReportingLine" style="<?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? "" : "display:none" ?>" class="sectionBoxNew <?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? "sectionOpen" : "" ?>">
                    <a id="ExpenseReporting_collaspleLabel" tabid="#ExpenseReporting_collasple" class="title2" style="<?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? 'display:block;' : 'display:none;' ?>">Expense Reporting</a>
                </div>
                <div class="sectionInner2" id="ExpenseReporting_collasple" style="(!empty($this->expenseReporting) && $this->EnableColspanTechPay)?'display:block;':'display:none;' margin-left: 35px;width:742px;">
                    <?= $this->render("details/expense-reporting-tech.phtml") ?>
                </div>
            </td>
        </tr> 
        <tr>
            <td colspan="4">&#160;</td>
        </tr>
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Assign Technician</td>
        </tr>
        <tr>
            <td class="subheaderLeft" colspan="4">
                <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td width="135px;">
                   <a style="display:none;" class="viewTechBtnHidden" href="javascript:void(0)">
                       <div style="width: 128px; background-repeat: no-repeat; height:32px; background-image: url('/widgets/css/images/Btn_ViewTechs.png');">
                        &nbsp;
                       </div>
                   </a>
                   <a style="cursor:default;text-decoration: none;" class="viewTechBtnHiddenView" href="javascript:void(0)">
                       <div style="width: 128px; background-repeat: no-repeat; height:32px; background-image: url('/widgets/css/images/Btn_ViewTechs_g.png');">
                        &nbsp;
                       </div>
                   </a>
                </td>
                <td  align="left" width="135px;" style="vertical-align: middle;padding-top:0px;">
                   <a id="techScheduleBtn" style="cursor: default;" class="techScheduleBt" href="javascript:void(0)"> 
                      <img id="techScheduleImg" class="cmdtechScheduleImg"  src="/widgets/css/images/Btn_ViewTechSchedule_g.png" alt="view tech schedule" onclick=''/>
                   </a>
                </td>    
                <td width="135px;">    
                   <img id="saveTechToSiteImg" class="saveTechToSiteImg" style="cursor: default;" src="/widgets/css/images/Btn_SaveTech_g.png" alt="save tech to site" />
                </td>
                </tr>
                </table>
            </td>  
        </tr>
         <tr height="10px;"><td colspan="4"></td> </tr>
         <tr> 
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:150px;">
                            <label><span class="required" id="section4req" style="display:none;">*</span>Assign FS Tech#</label>
                        </td>
                        <td style="width:100px;">
                            <input style="width:80px;" type="text" id="edit_Tech_ID" name="Tech_ID" value=""/>
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td style="width:125px;">
                                <label style="width:125px;">FLS Tech ID</label>
                            </td>
                            <td style="width:110px;">
                                <input style="width:80px;" type="text" id="edit_FLS_ID" name="FLS_ID" value="<?= $this->wo->FLS_ID ?>" />
                            </td>
                        <?php } else { ?>
                            <td style="width:90px;">&nbsp;</td>
                            <td style="width:130px;">&nbsp;</td>
                        <?php } ?>
                        <td style="width:100px;">&nbsp;</td>
                        <td style="width:100px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Tech Contact Info</label>
                        </td>
                        <td>
                            <input style="width:92px;" type="text" class="noborder liketext" id="edit_Tech_FName" readonly="readonly" value=""/>
                        </td>
                        <td>
                            <input style="width:90px;" type="text" class="noborder liketext" id="edit_Tech_LName" readonly="readonly" value=""/>
                        </td>
                        <td>
                            <input style="width:90px;" type="text" class="noborder liketext" id="edit_TechPhone"  readonly="readonly" value="" />
                        </td>
                        <td colspan="2">
                            <input style="width:190px;" type="text" id="edit_TechEmail" readonly="readonly" value="" class="noborder liketext" />
                        </td>
                    </tr>
                      <!-- 14112-->
                    <tr>
                        <td>
                            <label style="width:150px;" id="lblISOInformation"></label>
                        </td>                       
                        <td colspan="5">
                            <div id="divISOInformation" class="floatLeft"></div>
                        </td>                       
                    </tr><!--14112-->
                    <tr>
                        <td>
                            <label style="width:150px;" class="required_tech">Bid/Agreed Amount<span>*</span></label>
                        </td>
                        <td class="innerBottomSmall">
                            <input style="width:80px;" id="edit_Tech_Bid_Amount" name="Tech_Bid_Amount" value="" type="text"/>
                        </td>
                        <td>
                            <div id="perLabel" class="floatLeft indentRightLarge">per Site</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Back-Up FS-Tech ID#</label>
                        </td>
                        <td>
                            <input style="width:80px;" id="edit_BU1FLSID" class="FSAutoFillFLS" totextid="edit_Backup_FLS_ID" name="BU1FLSID" value="" type="text"/>
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">Back-Up FLS ID#</label>
                            </td>
                            <td>
                                <input style="width:80px;" id="edit_Backup_FLS_ID" name="Backup_FLS_ID" class="Backup_FLS_ID" totextid="edit_BU1FLSID" value="" type="text"/>
                            </td>
                        <?php } else { ?>
                            <td>
                            </td>
                            <td>
                            </td>
                        <?php } ?>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Back Up Comments</label>
                        </td>
                        <td colspan="5">
                            <textarea style="height:16px;width:495px;" id="edit_BU1Info" name="BU1Info"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">BackedOut FS-Tech ID#</label>
                        </td>
                        <td>
                            <input style="width:80px;" id="edit_BackOut_Tech" class="FSAutoFillFLS indentRightLarge" totextid="edit_BackOut_TechFLS"  name="BackOut_Tech" value="" type="text" />
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">Backed Out FLS ID#</label>
                            </td>
                            <td>
                                <input style="width:80px;" id="edit_BackOut_TechFLS" totextid="edit_BackOut_Tech" class="Backup_FLS_ID"  value="" type="text" />

                            </td>
                        <?php } else { ?>
                            <td>
                            </td>
                            <td>
                            </td>
                        <?php } ?>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">No Show FS-Tech ID#</label>
                        </td>
                        <td>
                            <input style="width:80px;" type="text" class="FSAutoFillFLS indentRightLarge" totextid="edit_NoShow_TechFLS" id="edit_NoShow_Tech" name="NoShow_Tech" value="" />
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">No Show FLS ID#</label></td>
                            <td>
                                <input style="width:80px;" type="text" id="edit_NoShow_TechFLS" totextid="edit_NoShow_Tech" class="Backup_FLS_ID" value="" />
                            </td>
                        <?php } else { ?>
                            <td>
                            <td>
                            </td>
                        <?php } ?>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
            <td>
        </tr>
        <tr>        
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Assignment Agreement</td>
        </tr>
        <tr>    
            <td colspan="4" class="subheaderLeft">
                <div id="techFeeAgreement">
                    Bid represents the amount bid by the assigned tech, unless client over-rides after agreement with the tech.<br/><br/>
                    I understand that, upon approval, Field Solutions will pay the technician for this work. I understand that upon approval, I will be billed the Bid/Agreed amount plus a processing fee.<br/><br/>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" border="0" width="500px">
                <tr>
                <td style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD;width:150px" align="right">Assign &gt;&gt;</td>
                <td class="innerTop" style="padding-top: 12px !important;padding-left:10px;width:350px">
                    <div class="clr">
                        <input type="checkbox" value="1" class="floatLeft indentRightSmall" id="edit_assignment_agreement" /> <label>Yes, I agree.</label>
                    </div>
                </td>
                </tr>
                </table>
            </td>   
        </tr>
        <script type="text/javascript">
            function showTechSched(event){
                schedule.show($(this), event, {data:{
                        'tech_ID' : $("#edit_Tech_ID").val(),
                        'date' : '',
                        'date_interval' : 'all',
                        'display_calendar' : 1,
                        'display_date' : 1,
                        'sort' : 'starttime',
                        'sort_dir' : 'desc'
                    }});
            }
            $(document).ready(function(){
                $("#edit_Tech_ID").change(function(){
                    if ($(this).val() != '') {
                        var techId = $(this).val();
                        $.ajax({url:"/widgets/dashboard/popup/get-tech-info/company/<?= $this->company ?>/tech/"+techId, success: function(data){

                                if (data['error']==0) {
                                    jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech.png");
                                    jQuery(".saveTechToSiteImg").unbind("click").bind("click",_wosDetails.saveTechToSiteImg_onclick);
                                    jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule.png");
                                    jQuery(".cmdtechScheduleImg").unbind("click").bind("click",showTechSched);
                                    jQuery(".cmdtechScheduleImg").css("cursor","pointer");
                                    jQuery(".saveTechToSiteImg").css("cursor","pointer");
                                    $("#edit_Tech_FName").val(data['techInfo']['fName']);
                                    $("#edit_Tech_LName").val(data['techInfo']['lName']);
                                    $("#edit_TechEmail").val(data['techInfo']['email']);
                                    $("#edit_FLS_ID").val(data['techInfo']['FLSID']);
                                    detailObject.onInit.RequitePhone("#edit_TechPhone"
                                    ,data['techInfo']['phone']
                                    ,data['techInfo']['TechID']
                                    ,data['techInfo']['PrimaryPhoneStatus']
                                    ,1
                                    ,'text'
                                    ,Base64.encode(data['techInfo']['fName']+' '+data['techInfo']['lName']));
                                    $("#techScheduleImg").css('visibility','visible');
                                                                                                                            
                                    //$("#techScheduleBtn").click(function(event){openPopupWin('viewTechSchedule.php?techID='+techId);});

                                    if (data['techInfo']['isDenied']) {
                                        detailsWidget._redirect = 0;
                                        detailsWidget.showMessages({success:0,errors:['You are about to assign work to a technician that has been "denied access" by your company. Please re-confirm your choice of technician. Tech ID: '+techId+' ('+data['techInfo']['fName']+' '+data['techInfo']['lName']+')']});
                                    }
                                     //14112                            
                                    if (data['techInfo']['ISO_ID'] >0) {                                 
                                        $("#lblISOInformation").html('ISO Information');
                                        $("#divISOInformation").html(data['techInfo']['ISO_Name'] + "(ISO ID# "+data['techInfo']['ISO_ID']+")");
                                    }else
                                        {
                                            $("#lblISOInformation").html(''); 
                                            $("#divISOInformation").html('');    
                                        }
                                    
                                }else{
                                    jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech_g.png");
                                    jQuery(".saveTechToSiteImg").unbind("click");
                                    jQuery(".cmdtechScheduleImg").unbind("click");
                                    jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule_g.png");
                                    jQuery(".cmdtechScheduleImg").css("cursor","default");
                                    jQuery(".saveTechToSiteImg").css("cursor","default");
                                    $("#edit_Tech_ID").val('');
                                    $("#edit_Tech_FName").val('');
                                    $("#edit_Tech_LName").val('');
                                    $("#edit_TechEmail").val('');
                                    $("#edit_TechPhone").val('');
                                    $("#edit_FLS_ID").val('');
                                    jQuery("#edit_TechPhone").parent().children(".imgClassReQuitePhone").remove();
                                    //$("#techScheduleImg").css('visibility','hidden');
                                    //$("#techScheduleBtn").click(function(){});
                                    $("#lblISOInformation").html(''); //14112  
                                    $("#divISOInformation").html('');   
                                }
                            }});
                    } else {
                        jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech_g.png");
                        jQuery(".saveTechToSiteImg").unbind("click");
                        jQuery(".cmdtechScheduleImg").unbind("click");
                        jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule_g.png");
                        jQuery(".cmdtechScheduleImg").css("cursor","default");
                        jQuery(".saveTechToSiteImg").css("cursor","default");
                        $("#edit_Tech_ID").val('');
                        $("#edit_Tech_FName").val('');
                        $("#edit_Tech_LName").val('');
                        $("#edit_TechEmail").val('');
                        $("#edit_TechPhone").val('');
                        $("#edit_FLS_ID").val('');
                        jQuery("#edit_TechPhone").parent().children(".imgClassReQuitePhone").remove();
                        //$("#techScheduleImg").css('visibility','hidden');
                        //$("#techScheduleBtn").click(function(){});
                    }
                })

                $("#edit_Zipcode").change(function(){
                    var val = $(this).val();
                    var re = /([A-Za-z])(\d)([A-Za-z])([ ]+)?(\d)([A-Za-z])(\d)/
                    if (val != '' && (re.exec(val)) ) {
                        $('#payments-warnong_block').css('display', 'table-row');
                    } else {
                        $('#payments-warnong_block').css('display', 'none');
                    }
                });
            });
        </script>
    </table>
</div>