<div class="sectionInner"  id="section5">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
        <col width="120px" />
        <col width="20px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td style="padding-bottom:10px;" colspan="4" class="subheader">Tech Confirmations</td>
        </tr>        
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <input type="checkbox" name="WorkOrderReviewed" id="edit_WorkOrderReviewed" value="1"  />
                        </td>
                        <td>
                            <label class="perWidth100">&#160;&#160;Tech has reviewed Work Order Details and confirms acceptance </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="TechCheckedIn_24hrs" id="edit_CheckedIn_24hrs" value="1"  />
                        <td>
                            <label class="perWidth100">&#160;&#160;Tech has confirmed appointment 24 hours before start time</label>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <!--732-->
        <tr>
            <td style="padding-bottom:10px;" colspan="4" class="subheader">Client Notes - Site Contact Notification</td>
        </tr>        
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="tright">
                            <input type="checkbox" name="StoreNotified" id="edit_StoreNotified"  value="1"  />
                        </td>
                        <td>
                            <label style="*margin-top:2px; width:210px;">&#160;&#160;Site Contact Confirmed</label>
                        </td>
                        <td style="width:100px;">
                            Notified by&#160;&#160;
                        </td>
                        <td style="width:127px;">
                            <input type="text" class="width115" name="Notifiedby" id="edit_Notifiedby"   />
                        </td>
                        <td class="tright" style="width:10px;">
                            &#160;&#160;&nbsp;&nbsp;
                        </td>
                        <td style="width:100px;">
                            <input type="text" class="CalendarInput StartDate inputwatermark width115" title="MM/DD/YYYY" id="edit_DateNotified" name="DateNotified" style="width:90px;" />
                        </td>
                        <td class="tright" style="width:10px;">
                            &#160;&#160;&nbsp;&nbsp;
                        </td>
                        <td align="right">
                            <div style="height: 20px;">
                                <span class="customSelect" style="width:85px">
                                    <span style="width:90px">
                                        <span style="width:77px">
                                            <input type="text" class="texttimeChooser CheckedTime csText TimeInput inputwatermark" title="H:MM AM/PM" name="NotifiedTime" style="width:77px" id="edit_NotifiedTime"  />
                                            <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                            <select style="display: none;" class="edit_NotifiedTimeTimeItem" size="10">
                                                <?= $this->TIME ?>
                                            </select>
                                </span>
                                    </span>
                                </span>
                            </div>
                        </td>
        </tr>
        <tr>
                        <td class="tright">
                            <input type="checkbox" name="SiteContactBackedOutChecked" id="edit_SiteContactBackedOutChecked"  value="1" <?= ($this->wo->SiteContactBackedOutChecked) ? 'checked' : '' ?>  />
                        </td>
                        <td>
                            <label style="*margin-top:2px;">&#160;&#160;Site Contact  Backed Out</label>
                        </td>
                        <td>
                            Notes&#160;&#160;
                        </td>
                        <td colspan="5">
                            <textarea style="width:345px;height:16px;" id="edit_NotifyNotes" name="NotifyNotes" ></textarea>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom:10px;" colspan="4" class="subheader">Client Notes - Tech Manual Check In</td>
        </tr>        
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="tright">
                            <input type="checkbox" name="CheckedIn" id="edit_CheckedIn" value="1"  />
                        </td>
                        <td>
                            <label style="*margin-top:2px;width:210px;">&#160;&#160;Checked In</label>
                        </td>
                        <td style="width:100px;">
                            Checked In By&#160;&#160;
                        </td>
                        <td style="width:127px;">
                            <input type="text" class="width115" name="Checkedby" id="edit_Checkedby"  />
                        </td>

                        <td class="tright" style="width:10px;">
                            &#160;&#160;&nbsp;&nbsp;
                        </td>
                        <td style="width:100px;">
                            <input type="text" class="width115 StartDate inputwatermark CalendarInput" title="MM/DD/YYYY" name="Checkedby" id="edit_CheckedDate" style="width:90px;"  />
                        </td>
                        <td align="right" style="width:10px;">
                            &#160;&#160;&nbsp;&nbsp;
                        </td>
                        <td align="right">
                            <div style="height: 20px;">
                                <span class="customSelect" style="width:85px">
                                    <span style="width:90px">
                                        <span style="width:77px">
                                            <input type="text" class="texttimeChooser CheckedTime csText TimeInput inputwatermark" title="H:MM AM/PM" name="Checkedby" style="width:77px" id="edit_CheckedTime"  />
                                            <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                            <select style="display: none;" class="edit_CheckedTimeTimeItem" size="10">
                                                <?= $this->TIME ?>
                                            </select>
                                </span>
                                    </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft" colspan="4">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <label style="width:225px;">Tech Check in notes</label>
                        </td>
                        <td><textarea style="width:443px;height:16px;" id="edit_CheckInNotes" name="CheckInNotes" ><?= $this->escape($this->wo->CheckInNotes) ?></textarea>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <?php if ($this->company == "FLS") { ?>
            <tr>
                <td class="subheaderLeft" colspan="4">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <label style="width:70px;">Pre Call 1: </label>
                            </td>
                            <td>
                                <input disabled="disabled" type="checkbox" name="PreCall_1" id="edit_PreCall_1"  value="1"  />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="width:70px;padding-bottom: 0px;">Pre Call 2: </label>
                            </td>
                            <td>
                                <input disabled="disabled" type="checkbox" name="PreCall_2" id="edit_PreCall_2"  value="1"  />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        <?php } ?>
    </table>
</div>