<div class="sectionInner"  id="section7">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent"  border="1" width="900px;">
        <colgroup>
            <col width="130" />
            <col width="140" />
        </colgroup>
        <tr>
            <td class="subheader" colspan="4"  style="padding-bottom:10px;">
                Base Tech Pay
            </td>
        </tr>    
        <tr>
            <td class="subheaderLeft">Agreed Pay</td>
            <td class="tleft">
                <span class="innerRight" id="agreedPay7"></span><!--13985-->
                <span id="perLabel2">per Site</span>
            </td>
            <td class="tleft" width="155px;">
                <label id="htmlCalculatedTotalHours">Calculated Total Hours </label>
            </td>
            <td>
                <input type="text" id="edit_calculatedTechHrs" name="calculatedTechHrs" value="" style="width:130px;"/>
                <input type="text" style="display:none;width:130px;" id="edit_Qty_Devices_Display" onchange="jQuery('#edit_Qty_Devices').val(jQuery(this).val());" />
            </td>
        </tr>

        <tr>
            <td class="subheaderLeft" >
                <label id="basetechpay1"><?= "Base Tech Pay" ?></label>
            </td>
            <td class="tleft" colspan="">
                <input type="text" id="edit_baseTechPay" name="baseTechPay" value="" style="width:100px;"/>

            </td>
            <td class="tleft" width="155px;">
                <label>Quantity of Visits </label>
            </td>
            <td>
                <input type="text" style="width:130px;" id="edit_Qty_Visits_Display" onchange="jQuery('#edit_Qty_Visits').val(jQuery(this).val());" value="1" />
            </td>
        </tr>

        <tr>
            <td colspan="4" class="subheader"  style="padding-bottom:10px;">
                Extra $ and Adjustments
            </td>
        </tr>
        <tr>
            <td  class="subheaderLeft">
                <label>Out of Scope Labor</label>
            </td>
            <td class="tleft" >
                <input type="text"  style="width:100px;" id="edit_OutofScope_Amount" onchange="" name="OutofScope_Amount" value="" />
            </td>
            <td>
                <label style="width:155px;float:left;">Reviewed By: </label>
            </td>
            <td class="tleft innerTop_">
                <input type="text" style="width:130px;" id="edit_Add_Pay_AuthBy" name="Add_Pay_AuthBy" value=""  />
            </td>            
        </tr>

        <tr>
            <td  class="subheaderLeft">
                <label>Trip Charge</label>
            </td>
            <td class="tleft">
                <input type="text"  style="width:100px;" id="edit_TripCharge" name="TripCharge" value="" />
            </td>
            <td>
                <input type="checkbox" id="AuditNeeded" name="AuditNeeded" <?= ($this->wo->AuditNeeded) ? 'checked' : ''; ?>>&nbsp;Audit Needed
            </td>
            <td>
                <span id="AuditNeededBy"><?= ($this->wo->AuditNeeded) ? $this->wo->AuditNeededBy : "" ?></span>
                <span id="AuditNeededDate">
                    <?
                    if ($this->wo->AuditNeeded && !empty($this->wo->AuditNeededDate)) {
                        $AuditNeededDate = new DateTime($this->wo->AuditNeededDate);
                        echo ("<br>" . date_format($AuditNeededDate, 'm-d-Y g:i A') . " CST");
                    }
                    ?>
                </span>
            </td>
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#AuditNeeded").change(function(){
                    if ($(this).attr('checked'))
                    {
                        $("#AuditComplete").removeAttr('disabled');
                        $("#AuditNeededBy").html($("#techN").html());
                        $("#AuditNeededDate").html("<br>" + $.format.date(getDateCST (), "MM-dd-yyyy hh:mm a") + " CST");
                    }
                    else
                    {
                        $("#AuditCompleteBy").empty ();
                        $("#AuditCompleteDate").empty ();
                        $("#AuditComplete").attr('disabled', true);
                    }
                });
            });
        </script>            
        </tr>
          
        <?php if ($this->company != "FLS") { ?>
            <tr>
                <td  class="subheaderLeft">
                    <label>Mileage Reimbursement</label>
                </td>
                <td class="tleft">
                    <input type="text"  style="width:100px;"class="" id="edit_MileageReimbursement" name="MileageReimbursement" value="" />
                </td>
                <td>
                    <input type="checkbox" id="AuditComplete" name="AuditComplete" <?= ($this->wo->AuditComplete) ? 'checked' : ''; ?> <?= ($this->wo->AuditNeeded) ? '' : 'disabled'; ?>>Audit Complete
                </td>
                <td>
                    <span id="AuditCompleteBy"><?= ($this->wo->AuditComplete) ? $this->wo->AuditCompleteBy : "" ?></span>
                    <span id="AuditCompleteDate">
                        <?
                        if ($this->wo->AuditComplete && !empty($this->wo->AuditCompleteDate)) {
                            $AuditCompleteDate = new DateTime($this->wo->AuditCompleteDate);
                            echo ("<br>" . date_format($AuditCompleteDate, 'm-d-Y g:i A') . " CST");
                        }
                        ?>
                    </span>
                </td>
            </tr>                
            <script type="text/javascript" >
                $(document).ready(function(){
                    $("#AuditComplete").change(function(){
                        if ($(this).attr('checked'))
                        {
                            var date = new Date ();
                            var date_str = ('0'+date.getHours()).substr(-2,2)+':'+('0'+date.getMinutes()).substr(-2,2)+':'+('0'+date.getSeconds()).substr(-2,2);

                            $("#AuditCompleteBy").html($("#techN").html());
                            $("#AuditCompleteDate").html("<br>" + $.format.date(getDateCST (), "MM-dd-yyyy hh:mm a") + " CST");
                        }
                        else
                        {
                            $("#AuditCompleteBy").empty ();
                            $("#AuditCompleteDate").empty ();
                        }
                    });
                });
            </script>
        <?php } ?>
        <tr>
            <td  class="subheaderLeft">
                <label>Materials Charge</label>
            </td>
            <td class="tleft">
                <input type="text"  style="width:100px;"class="" id="edit_MaterialsReimbursement" name="MaterialsReimbursement" value="" />
            </td>
            <td colspan="2" width="100px">
                <label style="width:100px;float:left;">Comments</label>
            </td>
        </tr>
        <tr>
            <td  class="subheaderLeft">
                <label>Other Non-labor Adjustments</label>
            </td>
            <td class="tleft">
                <input type="text" style="width:100px;" id="edit_Additional_Pay_Amount" name="Additional_Pay_Amount" value="" />
            </td>
            <td colspan="2"><textarea class="txtarea_f3" id="edit_Add_Pay_Reason" name="Add_Pay_Reason" style="width:290px;height:50px;"><?= $this->escape($this->wo->Add_Pay_Reason) ?></textarea>
            </td>
        </tr>
        <tr>
            <td  class="subheaderLeft">
                <label>Abort/Short Notice Pay</label>
            </td>
            <td class="tleft" colspan="3">
                <input type="checkbox" id="edit_AbortFee" name="AbortFee" value="1" />
                &nbsp;<span class="required_abortFee" id="section7req" style="display:none;">*</span>
                <input type="text"  style="width:75px;" id="edit_AbortFeeAmount" name="AbortFeeAmount" value="" />
            </td>
        </tr>

        <tr>
            <td colspan="4" class="subheader" style="padding-bottom:10px;" >Total Tech Pay and Approval</td>
        </tr>


        <tr>
            <td class="subheaderLeft" style="width:185px;">
                <label>Final Total Tech Pay: </label>
            </td>
            <td class="tleft innerTop_" >
                <input type="text" style="width:100px;" disabled="disabled" id="edit_PayAmount" name="PayAmount"  value=""/>
            </td>
            <td>&#160;</td>
            <td>&#160;</td>
        </tr>
        <script type="text/javascript">
            $(function(){ detailsWidget.updateFinalPay('<?= $this->name ?>'); });
        </script>



        <tr>
            <td class="subheaderLeft" style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD; width:185px;" align="right">Approve &gt;&gt;</td>
            <td valign="middle" colspan="2">
                <label class="width240 tBold" style="margin-top:6px; text-align:left; !important;">
                    <input type="checkbox" id="edit_Approved" value="1" name="Approved" />&#160;&#160;Approve Work Order For Payment
                </label>
            </td>
            <td>&#160;</td>
        </tr>


        
                    <tr>
                        <td class="subheaderLeft" >
                            <label>Date Approved: </label>
                        </td>
                        <td >
                            <span class="floatLeft"/>
                        </td>
                        <td >
                            <label>Date Tech Paid: </label>
                        </td>
                        <td class="tleft">
                            <span class="floatLeft"/>
                        </td>
                    </tr>
              
        <?php /**
         * NEW WO hasn't tech
         * @author Artem Sukharev
         *
          <tr>
          <td class="subheader">Rate Technician</td>
          <td colspan="3" class="innerTop" ><label class="perWidth100">How likely would you be to recommend this tech: </label>
          <ul>
          <li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATRecommended"/> <label style="*width:120px;">Extremely likely</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATRecommended"/> <label style="*width:120px;">Somewhat likely</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATRecommended"/> <label style="*width:120px;">Not very likely</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATRecommended"/> <label style="*width:120px;">Not at all likely</label></li>
          </ul>
          </td>
          <td>&#160;</td>
          </tr>
          <tr>
          <td>&#160;</td>
          <td colspan="3" class="innerTop"><label class="perWidth100">The outcome of this field service event was:</label>
          <ul>
          <li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATPerformance"/> <label style="*width:120px;">Excellent</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATPerformance"/> <label style="*width:120px;">Very Good</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATPerformance"/> <label style="*width:120px;">Satisfactory</label></li>
          <li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATPerformance"/> <label style="*width:120px;">Not Satisfactory</label></li>
          </ul>
          </td>
          <td>&#160;</td>
          </tr>
          <tr>
          <td>&#160;</td>
          <td><label>Mark Tech as a Preferred Tech</label></td>
          <td colspan="2" class="tleft"><input type="checkbox" id="edit_PreferTechV" name="PreferTechV" value="1" /></td>
          <td>&#160;</td>
          </tr>
          <tr>
          <td>&#160;</td>
          <td><label>Client Deny Tech</label></td>
          <td colspan="2" class="tleft"><input type="checkbox" id="edit_DenyTechV" name="DenyTechV" value="1" />
          <script type="text/javascript" >
          $(document).ready(function(){
          $("#edit_PreferTechV").change(function(){
          if ($(this).attr('checked')) {
          $("#edit_DenyTechV").removeAttr('checked');
          }
          });
          $("#edit_DenyTechV").change(function(){
          if ($(this).attr('checked')) {
          $("#edit_PreferTechV").removeAttr('checked');
          }
          });
          });
          </script>
          </td>
          <td>&#160;</td>
          </tr>
         */ ?>
        <tr>
            <td class="subheader" style="padding-bottom:10px;" colspan="4">Deactivate Work Order</td>
        </tr>
        <tr>
            <td class="subheaderLeft"  >
                <label>Deactivate Work Order</label>
            </td>
            <td class="tleft innerTop_" colspan="2">
                <input type="checkbox" class="floatLeft indentRightLarge" id="edit_Deactivated" name="Deactivated" value="1" />
                <select class="width180" id="edit_DeactivationCode" name="DeactivationCode" onchange="$('#edit_DeactivationCode').attr('title', $('#edit_DeactivationCode option:selected').text());">
                    <option value="" selected="selected">Select Deactivation Code</option>
                    <?php foreach ($this->deactivationCodes as $code) : ?>
                        <option title="<?= $code ?>" value="<?= $code ?>" ><?= $code ?></option>
                    <?php endforeach; ?>
                </select>
            
                &#160;
            </td>
            <td>
                &#160;
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <label>Deactivation Comments/Reason</label>
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft"  colspan="4">
                <textarea rows="3" cols="76" name="Deactivated_Reason" id="edit_Deactivated_Reason" ></textarea>
            </td>
        </tr>

    </table>
</div>