<div class="sectionInner" id="section2">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop" border="1">
        <col width="30px" />
        <col width="325px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td class="subheader" colspan="4">General Instructions </td>
        </tr>            
        <tr>
            <td colspan="4" class="subheaderLeft innerTop">
                <label class="indentBottomSmall dBlock">Work Description (viewable by everyone):</label>
                <textarea rows="3" cols="45" id="edit_Description" name="Description" class="txtarea_Description txtarea_f2"></textarea></td>
        </tr>
        <tr>
           <td colspan="4" class="innerTop subheaderLeft" >
                <label class="indentBottomSmall dBlock innerTop">Tech Requirements &amp; Tools Required (viewable by everyone)</label><textarea rows="3" cols="45" id="edit_Requirements" name="Requirements" class="txtarea_Requirements txtarea_f2"></textarea></td>
        </tr>
        <tr>
            <td colspan="4" class="innerTop subheaderLeft">
                <label class="indentBottomSmall dBlock innerTop">Special Instructions (viewable by everyone)</label><textarea rows="3" cols="45" id="edit_SpecialInstructions" name="SpecialInstructions" class="txtarea_SpecialInstructions txtarea_f2"></textarea></td>
        </tr>
        <tr>    
            <td colspan="4" class="subheaderLeft innerTop">
            <label class="indentBottomSmall dBlock innerTop">Special Instructions (viewable only by the assigned tech)</label><textarea id="edit_Ship_Contact_Info" rows="3" cols="45" name="Ship_Contact_Info" class="txtarea_Ship_Contact_Info txtarea_f1">viewable only by the assigned tech</textarea></td>
        </tr>
        <tr>
            <td class="subheader innerTop" colspan="4">Tech Role on Site </td>
        </tr>        
        <tr>
            <td colspan="4" class="innerTop subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>Technician role on site:&#160;&#160;</td>

                        <td>
                            <input type="checkbox" id="edit_Lead" name="Lead" value="1" />&#160;</td>
                        <td>
                            <label>Lead</label>
                        </td>
                        <td>&#160;&#160;<input type="checkbox" id="edit_Assist" name="Assist" value="1"  />&#160;</td>
                        <td>
                            <label>Assist</label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="subheader innerTop" colspan="4">Documents & Parts</td>
        </tr>
        <tr>    
            <td colspan="4" class ="innerTop subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <!--td>
                            <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" value="1"  />
                        </td -->
                        <td class="tright">
                            <label>Deliverables Upload Required for Completion:&nbsp;</label>
                        </td>
                        <td><!-- input type="checkbox" value="1" id="SignOffSheet_Required" name="SignOffSheet_Required" -->
                        
                        	<select style="width:65px" id="SignOffSheet_Required" name="SignOffSheet_Required">
                        		<option value="0" selected="selected">None</option>
                        		<option value="1">1</option>
                        		<option value="2">2</option>
                        		<option value="3">3</option>
                        		<option value="4">4</option>
                        		<option value="5">5</option>
                        		<option value="6">6</option>
                        		<option value="7">7</option>
                        		<option value="8">8</option>
                        		<option value="9">9</option>
                        		<option value="10">10</option>
                    		</select>
                       </td>
                    </tr>
                    <tr>
                        <td colspan="2" class ="innerTop">
                            <a href="javascript:void(0)"  onmouseover="roll.delay(1.1); roll.autohide(false); roll.show(this,event,{popup:'documents',title:'Project Documents',width:260,preHandler:detailsWidget.getWidgetHtml,context:detailsWidget,params:{id:'<?= $this->wo->Project_ID ?>',win_num: <?= $this->wo->WIN_NUM ?>,company:'<?= $this->company ?>'}});" class="tColor5 tUnderline" style="font-size:13px;">Project Documents</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="innerTop innerBottomSmall subheaderLeft" colspan="2">
                Upload work order specific documents:
            </td>
            <td class="tright">
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft" >
                <table id="uploadwodocs" cellpadding="0" cellspacing="0">
                    <tr>
                        <td id="UploadWOPicsNew">
                            <input type="file" id="PicWO1" name="PicWO1" class="indentTop5" />&nbsp;<label><input type="text" value="" title="Optional description" class="input150w inputwatermark" name="PicDescrWO1" id="PicDescrWO1" maxlength="25" /></label>
                        </td>
                        <td style="vertical-align:bottom; padding-bottom:3px; padding-left:5px;">
                            <a onclick="addFileField(); return false;" href="#">Add another file</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <?php
                            if (!empty($this->files)) {
                                foreach ($this->files as $k => $f) {
                                    if ($f->type == 1) {
                                        ?>
                                        <div> <a class="ajaxLink" href="/widgets/dashboard/do/file-wos-documents-download/filename/<?= base64_encode(urlencode($f->path)) ?>/<?= ltrim($f->path, '/') ?>">
                                                <?= ltrim($f->path, '/') ?>
                                            </a>
                                            <?php if (!empty($f->description)): ?>
                                                <span> - 
                                                    <?= $f->description ?>
                                                </span>
                                            <?php endif; ?>
                                            <span>
                                                <input type="checkbox" name="removefiles[]" id="Pic1_Remove" value="<?= $f->id ?>" onclick="detailsWidget.confirmRemoveFile(this, '<?= ltrim($f->path, '/') ?>');"/>
                                                &nbsp;
                                                <label for="Pic2_Remove">Remove</label>
                                            </span></div>
                                        <?
                                    }
                                }
                            }
                            ?>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <script type="text/javascript">
            function addFileField(dest) {
                dest = dest || 'WO';

                fileFields = $('#Upload'+dest+'PicsNew input:file');
                fileFieldCount= fileFields.length;
                if (fileFieldCount >= 10) return false
                fileFieldCount++;

                var f = document.createElement("input");
                f.type = "file";
                f.className = 'indentTop5';
                f.id = "Pic"+dest+fileFieldCount;
                f.name = "Pic"+dest+fileFieldCount;
                var space = document.createElement("span"); space.innerHTML = "&nbsp;";

                var t = document.createElement("input");
                t.type = "text";
                t.maxLength = 25;
                                                                                                    
                t.className = 'input150w inputwatermark';
                t.title = "Optional description";
                                                                                                    
                t.id = "PicDescr"+dest+fileFieldCount;
                t.name = "PicDescr"+dest+fileFieldCount;

                var tLabel = document.createElement("label");
                //tLabel.innerHTML = $('#attachment_description_label_content').html(); 

                p = document.getElementById("Upload"+dest+"PicsNew");
                p.appendChild(document.createElement("br"));
                p.appendChild(f);
                p.appendChild(space);
                p.appendChild(tLabel);
                tLabel.appendChild(t);
                                                                                        
                detailObject.onInit.watermark();
            }
        </script>
        <tr>
        	<td colspan="4" class="innerTop subheaderLeft" style="padding-top: 6px; padding-bottom: 6px;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="20">
                            <input type="checkbox" id="edit_SignOff_Disabled" name="SignOff_Disabled" checked onchange="detailsWidget.updateSignOffDisplay()" />
                        </td>
                        <td>
                            <label>Provide Tech with a Signoff Sheet</label>
                        </td>
                    </tr>
                    <tr class="signoffoptions_display">
                        <td colspan="2" id="UploadCustomSignOff" class ="innerTop" style="padding-left: 42px; line-height: 20px; vertical-align: middle;">
                            <input type="radio" id="edit_CustomSignOff_Enabled" name="CustomSignOff_Enabled" value="0" checked onchange="detailsWidget.updateSignOffDisplay()" />&#160;
                            Use Basic FieldSolutions Signoff Sheet<br/>
                            <input type="radio" id="edit_CustomSignOff_Enabled" name="CustomSignOff_Enabled" value="1" onchange="detailsWidget.updateSignOffDisplay()" />&#160;
                            Upload Custom Signoff Sheet (PDF Files Only)
                            <span id="container_upload">
                                <input type="file" name="PicCustomSignOff" id="PicCustomSignOff" class="indentTop5" />
                            </span>
                            <span id="container_remove" style="display: none;">
                                <a id="CustomSignOff_Link" href="#">No file uploaded</a>&nbsp;&nbsp;
                                <input type="checkbox" name="CustomSignOff_Remove" id="CustomSignOff_Remove" value="1" /> Remove
                                <input type="hidden" name="CustomSignOff_Filename" id="CustomSignOff_Filename" value="" />
                            </span>
                            <br/>
                        </td>
                    </tr>
                </table>
        	</td>
        </tr>
        <!--
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" style="padding: 8px 0 8px 0;">
                    <tr>
                        <td id="UploadCustomSignOff">
                            <label>
                                Custom Work Order Signoff Sheet (PDF files only):
                            </label><br/>
                            <div id="container_upload">
                                <input type="file" name="PicCustomSignOff" id="PicCustomSignOff" class="indentTop5" />
                            </div>
                            <div id="container_remove" style="display: none;">
                                <a id="CustomSignOff_Link" href="#">No file uploaded</a>&nbsp;&nbsp;
                                <input type="checkbox" name="CustomSignOff_Remove" id="CustomSignOff_Remove" value="1" /> Remove
                                <input type="hidden" name="CustomSignOff_Filename" id="CustomSignOff_Filename" value="" />
                            </div>
                            <input type="hidden" name="PicDescrCustomSignOff" id="PicDescrCustomSignOff" value="Custom Signoff Sheet" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        -->
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" style="padding: 8px 0 8px 0;">
                    <tr>
                        <td style="vertical-align: middle;">
                            <input type="checkbox" value="1" name="PartManagerUpdate_Required" id="edit_PartManagerUpdate_Required">
                        </td>
                        <td class="tright"><label>&nbsp;&nbsp;FS-Parts Manager Update Required for Completion</label></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div id="requiredUpload" style="display:none;">
	<span>
	<input type="file" id="PicWO1" name="PicWO1" class="indentTop5" />&nbsp;<label><input type="text" value="" title="Optional description" class="input150w inputwatermark" name="PicDescrWO1" id="PicDescrWO1" maxlength="25" /></label><br />
	</span>
</div>