<table cellspacing="0" cellpadding="0" width="100%">
        <tr style="text-decoration: underline;">
            <td width="5%">
                Visit
            </td>
            <td width="15%">
                Start Type
            </td>
            <td width="15%">
                Work Start
            </td>
            <td width="15%">
                Work End
            </td>
        <td width="15%">
                Est. Duration
            </td>
        <td width="35%">
                Arrival Instructions
            </td>
        </tr>
        <?php
    $apiWosClass = new Core_Api_WosClass();
    if (!empty($this->AllWOVisitListClient))
    {

            $i = 0;
        foreach ($this->AllWOVisitListClient as $item)
        {
                $i++;
                ?>
                <tr>
                    <td>
                        <?= $i ?>
                    </td>
                    <td>
                        <?php
                    switch ($item["StartTypeID"])
                    {
                            case 1:
                                echo "Firm Start Time";
                                break;
                            case 2:
                                echo "Start Time Window";
                                break;
                        }
                        ?>
                    </td>
                    <td>
                        <?= $this->displayDate('n/j/Y', $item["StartDate"]) . " " . $item["StartTime"] ?>
                    </td>
                    <td>
                        <?= $this->displayDate('n/j/Y', $item["EndDate"]) . " " . $item["EndTime"] ?>
                    </td>
                    <td>
                    <?= $apiWosClass->getDurationDesc($item["EstimatedDuration"]); ?>
                    </td>
                    <td>
                        <?= $item["TechArrivalInstructions"] ?>
                    </td>
                </tr>
                <?
            }
    } else
    {
            ?>
                <tr>
                    <td colspan="6">
                        Not records display.
                    </td>
                </tr>
            <?php }
        ?>
</table>