<input type="hidden" name="Date_In" id="Date_In" />
<input type="hidden" name="Time_In" id="Time_In" />
<input type="hidden" name="Date_Out" id="Date_Out" />
<input type="hidden" name="Time_Out" id="Time_Out" />
<table cellspacing="0" cellpadding="0" width="100%">
    <col width="600px">
    <tr>
        <td>
            <table id="tableVisitEdit" cellspacing="0" cellpadding="0">
                <col width="60px">
                <col width="120px">
                <col width="100px">
                <col width="60px">
                <col width="120px">
                <col width="100px">
                <tr>
                    <td style="text-decoration: underline;">Visit</td>
        <td style="text-decoration: underline;">Check In</td>
        <td style="text-decoration: underline;"></td>
                    <td style="text-decoration: underline;"></td>
        <td style="text-decoration: underline;">Check Out</td>
        <td style="text-decoration: underline;"></td>
    </tr>
    <?
    $timepart3 = 0;
    $timepart2 = "";
    $timepart1 = "";

                for ($i = 0; $i < 24; $i++)
                {
                    for ($j = 1; $j < 5; $j++)
                    {
            if ($j == 1)
                $timepart2 = "00";
            else
                $timepart2 = ($j - 1) * 15;

            if ($i < 12 || $i == 24)
                $timepart3 = "AM";
            else
                $timepart3 = "PM";

            if ($i == 0)
                $timepart1 = "12";
            else if ($i < 13 && $i > 0)
                $timepart1 = $i;
            else
                $timepart1 = $i - 12;

            $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
            $TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
        }
    }
                $isreadonly = ($this->wo->data[0]->Status == WO_STATE_IN_ACCOUNTING || $this->wo->data[0]->Status == WO_STATE_APPROVED || $this->wo->data[0]->Status == WO_STATE_COMPLETED)?true:false;
    ?>
    <?php
                if (!empty($this->AllWOVisitList))
                {

        $i = 0;
                    foreach ($this->AllWOVisitList as $item)
                    {
            $i++;
            ?>
                        <tr <?= $i == 1 ? "id='trVisitEdit'" : "" ?> class="trVisitEdit">
                            <td class="numberVisit" style="vertical-align: top; padding-top:5px;"><?= $i ?></td>
                            <td style="padding-top:5px;">
                                <input onchange="woDetails.modified(true);woDetails.gettotalduration(document.getElementById('woForm'));" <?=$isreadonly?"disabled":""?>  title="MM/DD/YYYY" type="text" id="CheckInDate<?= $i ?>" name="CheckInDate<?= $i ?>" class="inputwatermark CalendarInput CheckInDate" value="<?= $this->displayDate('n/j/Y', $item["TechCheckInDate"]) ?>" size="10" />
                    <input type="hidden" id="WoVisitID<?= $i ?>" name="WoVisitID<?= $i ?>"  value="<?= $item["WoVisitID"] ?>"  />
                </td>
                            <td style="padding-top:5px;">
                                <span class="customSelect" style="width:100px;">
                        <span>
                                        <span style="width:91px;">
											<span class="DisplayTechTotalHours" style="display: none"></span>
                                            <input onchange="woDetails.modified(true);woDetails.gettotalduration(document.getElementById('woForm'));" <?=$isreadonly?"disabled":""?> title="H:MM AM/PM" type="text" class="CheckInTime TimeInput texttimeChooser csText inputwatermark" style="width:90px; " value="<?= $item["TechCheckInTime"] ?>" id="CheckInTime<?= $i ?>" name="CheckInTime<?= $i ?>" >
                                            <a <?=$isreadonly?"disabled='true'":""?> class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                    <?= $TIME ?>
                                </select>
                            </span>
                        </span>
                    </span>
                </td>
                            <td style="padding-top:5px;"></td>
                            <td style="padding-top:5px;">
                                <input onchange="woDetails.modified(true);woDetails.gettotalduration(document.getElementById('woForm'));" <?=$isreadonly?"disabled":""?> title="MM/DD/YYYY" type="text" id="CheckOutDate<?= $i ?>" name="CheckOutDate<?= $i ?>" class="inputwatermark CalendarInput CheckOutDate" value="<?= $this->displayDate('n/j/Y', $item["TechCheckOutDate"]) ?>" size="10" />
                </td>
                            <td style="padding-top:5px;">
                                <span class="customSelect" style="width:100px;">
                        <span>
                                        <span style="width:91px;">
                                            <input onchange="woDetails.modified(true);woDetails.gettotalduration(document.getElementById('woForm'));" <?=$isreadonly?"disabled":""?> title="H:MM AM/PM" type="text" class="CheckOutTime TimeInput texttimeChooser csText inputwatermark" style="width:90px; " value="<?= $item["TechCheckOutTime"] ?>" id="CheckOutTime<?= $i ?>" name="CheckOutTime<?= $i ?>" >
                                            <a <?=$isreadonly?"disabled='true'":""?> class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                    <?= $TIME ?>
                                </select>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
            <?
        }
    }
    ?>
</table>
        </td>
    </tr>
</table>
<div style="padding-top:5px;"><a href="javascript:;" id="cmdAddVisit" style="cursor: pointer;font-size: 13px;padding-top:5px;">+ Add another Visit</a> (document your time for unplanned re-visits)</div>
