<?
$winNumsHaveFiles = $this->winNumsHaveFiles;
$winlist="";
if(!empty($winNumsHaveFiles))
{
    $counttechfiles = count($winNumsHaveFiles);
    foreach($winNumsHaveFiles as $item)
    {
        $winlist .= $item['WIN_NUM'].', ';
        $WOIDlist .= $item['WO_ID'].', ';
    }
    $winlist = substr($winlist, 0, -2);
    $WOIDlist = substr($WOIDlist, 0, -2);
}

?>
<table width="100%" class="gradBox_table_inner">
    <col width="80px" />
    <col width="220px" />
    <col width="135px" />
    <col width="120px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="130px" />
    <col width="125px" />
    <tr class="table_head">
        <th>Work Order<br />Stage</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time(Visits)<br />Est. Hours</th>
        <th>Tech Status</th><!--13944-->
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region / Route</th>
        <th>Tech ID / Name / Address</th>
        <th>Tech Pay Info</th>
        <th class="last" style="text-align:center;">
            <!--13819-->
            <input type="checkbox" winnums="<?=$winlist;?>" woidlist="<?=$WOIDlist;?>" counttechfiles="<?=$counttechfiles;?>" name="chkDownloadDocumentMaster" id="chkDownloadDocumentMaster" class="chkDownloadDocumentMaster" <?=$counttechfiles>0?"":"disabled"?>/>
            <img src="/widgets/images/ico_download.png" class="DownloadDocumentButton" align="absmiddle" title="Multiple Document Download">
            <a href="javascript:void(0)" class="aDownloadDocumentButton" id="aDownloadDocumentButton" style="display:none;">download</a>
            <!--end 13819-->
            Deliverables /<br />Q&amp;A</th>
    </tr>
    <?php  //$apiWosClass = new Core_Api_WosClass();
    $apiWoTagClass = new Core_Api_WoTagClass();
     if ($this->success && sizeof($this->paginator)): ?>

        <?php
        $tr = 1;
        foreach ($this->paginator as $wo) :
            ?>
            <?php
        $numOfVisits = $wo->NumOfVisits;
        if(empty($numOfVisits)) {
            $numOfVisits = $this->wo_visits[$wo->WIN_NUM]; //$apiWosClass->getNumOfVisits($wo->WIN_NUM);
        }
            $Qty_Visits = $wo->Qty_Visits;
            if (empty($Qty_Visits))
            {
                $Qty_Visits = $wo->NumOfVisits;
            }
            //$apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $this->qa_unseencount[$wo->WIN_NUM] > 0 ? 1 : 0; //$apiWosClass->HasQuestion_ClientNotViewYet($this->client_id,$wo->WIN_NUM);
    $Unseen_QA_fromTech = $this->qa_unseencount[$wo->WIN_NUM]; //$apiWosClass->getNum_ofUnseen_QA_fromTech($this->client_id,$wo->WIN_NUM);
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    if($TechNotViewYet ==1)
    {
        $isdisplayexclamationnum="!";
    }
    if($Unseen_QA_fromTech>0)
    {
        $isdisplayexclamationnum=$Unseen_QA_fromTech;
    }
    
    $isdisplaySpace = ($Unseen_QA_fromTech>0)?"display:none":"display:";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
            ?>
            <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                <td>
                    <span><?= $wo->Status ?></span><br />
                    <?
                    if ($wo->Status == "published" || $wo->Status == "assigned")
                    {
                        ?>
                        <table class="publ_table" cellspacing="0" cellpadding="0" width="80px">
                            <tr>
<td><!--13944-->
                                    <span class="ajaxLink" title="Bids" onclick="javascript:openPopup('wosApplicant.php?sb=0&ClientID=&v=<?= $this->company ?>&WorkOrderID=<?= $wo->WIN_NUM ?>&back_url='+wd.getReloadUrl(true))">Bids (<?php
            if (!empty($this->bidsCount[$wo->WIN_NUM]))
            {
                echo$this->bidsCount[$wo->WIN_NUM];
            } else
            {
                echo 0;
            }
                        ?>)</span><br />
                        <span class="ajaxLink" onclick="javascript:openPopup('techs.php?v=<?= $this->company ?>&newSearch=1&defaultZip=<?= $wo->Zipcode ?>')">Find Techs</span><br />
                                </td>                              
                            </tr>
                        </table>
                        <?
                    }
                    ?>
                </td>
                <td>
                    <span>WIN: <a href="wosDetails.php?v=<?= $this->company ?>&amp;id=<?= $wo->WIN_NUM ?>&amp;tab=<?= $this->tab ?>" class="wosDetails"><span class="ajaxLink" title="Work Order Information" onclick="openFramePage('wosDetails.php?v=<?= $this->company ?>&amp;id=<?= $wo->WIN_NUM ?>&amp;tab=<?= $this->tab ?>')"><?= $wo->WIN_NUM ?></span></a>&#160;<a href="wosDetails.php?v=<?= $this->company ?>&amp;id=<?= $wo->WIN_NUM ?>&amp;tab=full" class="wosDetails"><span onclick="javascript:openFramePage('wosDetails.php?v=<?= $this->company ?>&amp;id=<?= $wo->WIN_NUM ?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></span></a>
                        &#160;<?php
                //<!-- 13843-->if($this->isGPM)
                //{
                    $WinTagStatus = $apiWoTagClass->getWinTagStatusForWin($wo->WIN_NUM);
                   //13913
                    $WinTagStatusTitle = $apiWoTagClass->getWinTagStatusSummaryForWin($wo->WIN_NUM);
                    $find = array("<sup>", "</sup>");
                    $WinTagStatusTitle = str_replace($find, "", $WinTagStatusTitle);
                    ?>
                <span class="cmdOpenWinTabs" title="WIN-Tag: <?=$WinTagStatusTitle?>" win="<?=$wo->WIN_NUM?>"><!--End 13913-->
                    <?
                    if($WinTagStatus=='Complete')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/CompleteWinTag.png">
                        <?
                    }
                    else if($WinTagStatus=='Incomplete')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/InCompleteWinTag.png">
                        <?
                    }                    
                    else if ($WinTagStatus == 'Rescheduled' || $WinTagStatus == 'Scheduled')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/WINorange.png">
                        <?
                    }
                    else if($WinTagStatus=='Cancelled')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/CancelWinTag.png">
                        <?
                    }
                    else
                    {
                        ?>
                        <img height="13px" width="31px" alt="" title="" src="/widgets/images/WinTags.png">
                        <?
                    }
                    // End 13890                    
                    ?> 
                </span>
                 <!-- 13843-->               
                    </span><br />
                    <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->WO_ID ?></span></span><br />
                    <span>Client PO: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->PO ?></span></span>
                <!--017-->
                <?
                if($wo->ShortNotice =="1" && $this->company=="FLS")
                {
                    ?>
                        <br/>
                        <b><font color="red">SHORT NOTICE</font></b>
                    <?
                }
                ?>
                <!--end 017-->
                </td>
                <td>
                    <?php
                    $displayStartDate = $this->displayDate('n/j/Y', $wo->StartDate);
                    $displayTimeIn = $this->displayDate('g:i A', $wo->StartTime);
                    ?>                                                
                    <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $displayStartDate ?></span> 
                        <?php
                        if (!empty($displayStartDate) && empty($displayTimeIn))
                        {
                            ?>            
                            <span class="ajaxLink" title="Visits" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }">(<?= $numOfVisits ?>)</span> 
                        <?php } ?> 
                    </span><br />
                    <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?= $this->company ?>&WO_ID=<?= $wo->WIN_NUM ?>')"><?= $displayTimeIn ?></span>&nbsp;
                        <?php
                        if (!empty($displayTimeIn))
                        {
                            ?>            
                            <span class="ajaxLink" title="Visits" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }">(<?= $numOfVisits ?>)</span> 
                        <?php } ?>             
                    </span><br />
                    <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->calculatedTechHrs ?></span></span>
                    <!--017-->
            <?
            if($wo->ShortNotice =="1" && $this->company=="FLS")
            {
                $DateEntered = $this->displayDate('n/j/Y', $wo->DateEntered)
                ?>
                    <br/>
                    <b><font color="red"><?=$DateEntered?></font></b>
                <?
            }
            ?>
            <!--017-->
                </td>
                <!--13944-->
                <td class ="padr0">
                    <?php 
                        if ($wo->Status != "published")
                    { ?>    
                    <table class="acc_conf_table">
                        <tr>
                            <td><a style="text-decoration:underline;" title="Tech Confirmations and Check In" href="javascript:;" onclick="ShowCheckin(this,<?=$wo->WIN_NUM?>, '<?=$wo->WO_ID?>', <?=$wo->Tech_ID?>, '<?= $this->techs[$wo->Tech_ID]->Firstname ?>', '<?=$this->techs[$wo->Tech_ID]->Lastname?>',<?=$wo->WorkOrderReviewed?1:0?>,<?=$wo->TechCheckedIn_24hrs?1:0?>,<?=($wo->CheckedIn || $wo->Date_In || $wo->Time_In)?1:0;?>);">Accepted</a>:</td>
                            <td><?php if ($wo->WorkOrderReviewed) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?></td>
                        </tr>
                        <tr>
                            <td><a style="text-decoration:underline;" title="Tech Confirmations and Check In" href="javascript:;" onclick="ShowCheckin(this,<?=$wo->WIN_NUM?>, '<?=$wo->WO_ID?>', <?=$wo->Tech_ID?>, '<?= $this->techs[$wo->Tech_ID]->Firstname ?>', '<?=$this->techs[$wo->Tech_ID]->Lastname?>',<?=$wo->WorkOrderReviewed?1:0?>,<?=$wo->TechCheckedIn_24hrs?1:0?>,<?=($wo->CheckedIn || $wo->Date_In || $wo->Time_In)?1:0;?>);">Confirmed</a>:</td>
                            <td><?php if ($wo->TechCheckedIn_24hrs) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?></td>
                        </tr>
                        <tr>
                            <td><a style="text-decoration:underline;" title="Tech Confirmations and Check In" href="javascript:;" onclick="ShowCheckin(this,<?=$wo->WIN_NUM?>, '<?=$wo->WO_ID?>', <?=$wo->Tech_ID?>, '<?= $this->techs[$wo->Tech_ID]->Firstname ?>', '<?=$this->techs[$wo->Tech_ID]->Lastname?>',<?=$wo->WorkOrderReviewed?1:0?>,<?=$wo->TechCheckedIn_24hrs?1:0?>,<?=($wo->CheckedIn || $wo->Date_In || $wo->Time_In)?1:0;?>);">Checked In</a>:</td>                                 
                            <td><?php if (!$blankCheckInOutByClient && $wo->CheckedIn || !$blankCheckInOutByClient && $wo->Date_In || !$blankCheckInOutByClient && $wo->Time_In) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif;?></td> <!-- 13881 -->
                        </tr>
                    </table>
                     <?php } ?>       
                </td>
                <td>
                    <span><?= trim($wo->WO_Category) ?></span><br />
                    <span><?= trim($wo->Headline) ?></span><br />
                    <span><?= $this->displayAddress($wo->City, $wo->State, $wo->Zipcode) ?></span>
                </td>
                <td>
                    <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $this->projectName($wo) ?></span></span><br>
                    <!-- 13843--><span><? echo ( !empty($wo->SiteNumber) && !empty($wo->SiteName) ? $wo->SiteName . ", " . $wo->SiteNumber: (!empty($wo->SiteNumber)?$wo->SiteNumber:$wo->SiteName) );?></span> <?= Core_Api_CommonClass::getSiteStatus("true", $wo->WIN_NUM ,$wo->SiteNumber, $wo->Project_ID) ?><?= empty($wo->SiteNumber) && empty($wo->SiteName)?"":"<br>" ?>
                    <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->Region ?></span></span><?= empty($wo->Region)?"":"<br>"?>
                    <span><?= $wo->Route ?></span><?= empty($wo->Route)?"":"<br>" ?>
            
                </td>
                <td>
					<?php if (!empty($this->techs[$wo->Tech_ID])): ?>
                        <span>
							<a class="ajaxLink cmdOpenTechProfileShow" title="Tech Profile" href="wosViewTechProfile.php?v=<?= $this->company ?>&TechID=<?= $wo->Tech_ID ?>"><?= $wo->Tech_ID ?></a>
							<?php if ($this->techs[$wo->Tech_ID]->isWMTech): ?>
							<img src="/widgets/images/wm32_original.png" style="float: right;" alt="Work Order sourced through Work Market" />
							<?php endif; ?>
						</span>
                        <!-- 13369 -->                       
                        <span FSTechID='<?= $wo->Tech_ID ?>' class="ajaxLink lnkSortTech" > (<?php
                    if (!empty($this->wosTechCount[$wo->Tech_ID]))
                    {
                        echo$this->wosTechCount[$wo->Tech_ID];
                    } else
                    {
                        echo 0;
                    }
                            ?>)</span>
                        &nbsp;&nbsp;<span FSTechID='<?= $wo->Tech_ID ?>' class="ajaxLink lnkUndoSortTech"  style="display:none;">(undo)</span>                        
                        <br />
                        <!-- end 13369 -->
                        <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?= $wo->Tech_ID ?>'}}); }"><?= $this->techs[$wo->Tech_ID]->Firstname . ' ' . $this->techs[$wo->Tech_ID]->Lastname ?></span></span><br />
                        <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?= $wo->Tech_ID ?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City . ' ' . $this->techs[$wo->Tech_ID]->State . ' ' . $this->techs[$wo->Tech_ID]->Zipcode ?></span></span>
                    <?php endif; ?>
                </td>
                <td>
					<?php
						if ($wo->Status == "assigned" || $wo->Status == "work done" || $wo->Status == "incomplete") {
							$final_pay_method = "wd.showFinalPopup";
						}
						else {
							$final_pay_method = "wd.showFinalreadPopup";
						}
					?>
                    <span><nobr>Offer $:  <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { <?= $final_pay_method ?>(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>', '<?= $wo->WO_ID ?>'); }"><?= $this->displayMoney($wo->PayMax) ?></span></nobr></span><br />
                    <span><nobr>Agreed $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { <?= $final_pay_method ?>(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>', '<?= $wo->WO_ID ?>'); }"><?= $this->displayMoney($wo->Tech_Bid_Amount) ?></span></nobr></span><br />      
                    <span><nobr>Final Tech $:  <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { <?= $final_pay_method ?>(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>', '<?= $wo->WO_ID ?>'); }">
                                <?php
                                //$api = new Core_Api_WosClass();
                                $Total_ApReThFS = $this->totals[$wo->WIN_NUM];	//$api->getTotal_ApReThFS($wo->WIN_NUM);
                                echo($this->displayMoney($Total_ApReThFS + $wo->PayAmount));
                                ?>
                            </span></nobr></span>
                    <?php
                    if (!empty($wo->AuditNeededDate))
                    {
                        $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                        $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A') . ' CST';
                    }

                    if (!empty($wo->AuditCompleteDate))
                    {
                        $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                        $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A') . ' CST';
                    }

                    if ($wo->AuditComplete)
                    {

                        echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                    } else if ($wo->AuditNeeded)
                    {
                        echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                    }
                    ?>
                    <br/>
                </td>
                <td class="last deliverablesCol">
                    <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE); ?>
            <!--13819-->
            <input type="checkbox" id="chkDownloadDocumentItem" name="chkDownloadDocumentItem" class="chkDownloadDocumentItem"  <?=$countFiles>0?"":"disabled=disabled"?> <?=$countFiles>0?"VXSelectItem='true'":""?> value="<?=$wo->WIN_NUM?>" ClientID="<?=$wo->WO_ID?>" >
            <!--end 13819-->
                    <span>( <?= $countFiles ?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?= $wo->WIN_NUM ?>',companyId:'<?= $this->company ?>'}}); }"<?php endif; ?>>Documents</span></span><br />
                    <div style="width:17px; text-align:right; float:left;">&nbsp;</div>
                    ( <?= ($wo->UpdatedPartCount) ? $wo->UpdatedPartCount + 0 : 0; ?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?= $wo->WIN_NUM ?>&v=<?= $this->company ?>',1200,500)">Return Parts</a><br />
                    <span><div style="width:17px; text-align:right; float:left;">&nbsp;</div>
                <span id="space<?=$wo->WIN_NUM?>" style="<?=$isdisplaySpace?>">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span id="mark<?=$wo->WIN_NUM?>" style="<?=$isdisplayexclamationmark?>">(&#160;<span style="color:red;"><?=$isdisplayexclamationnum?></span>&#160;)&#160;&#160;</span><a id="QAbox<?=$wo->WIN_NUM?>" href="javascript:;" class="ClientQABtn" title="" style="text-decoration: underline;" WIN_NUM="<?=$wo->WIN_NUM?>" >Q&amp;A</a></span><br />
                </td>
            </tr>
            <?php
            ++$tr;
        endforeach;
        ?>

        <tr class="paginator">
            <td colspan="9" class="tCenter" id="paginatorContainer">
                <?= $this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab' => 'todayswork')) ?>
            </td>
        </tr>
        <script type="text/javascript">
            $(document).ready( function() {
                $("#toppaginatorContainer").html('<?= preg_replace("/(\r\n|\r|\n)/", "", addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab' => 'todayswork', 'short' => true)), "'")) ?>');
                $("#toppaginatorSizeContainer").html('<?= $this->displayPageSelector($this->pageSize); ?>');
            });
        </script>
    <?php else : ?>
        <?php if (APPLICATION_ENV !== 'production' && !empty($this->error)) : ?>
            <tr><td colspan="9"><?= $this->error ?></td></tr>
        <?php endif; ?>
        <tr>
            <td colspan="9"><br /><br />No results found<br /><br /><br /></td>
        </tr>
        <tr class="paginator">
            <td colspan="9" class="tCenter">&#160;</td>
        </tr>
    <?php endif; ?>
</table>
<script>
    $(document).ready(function() { 
        $(".wosDetails").click(function(){               
            return false;
        });
        $('.wosDetails').contextMenu(_menu,{theme:'vista'});
        //13369       
        if(wd.params.IsSortTechIDFromLink==1)
        {
            jQuery(".lnkSortTech").each(function(){
                jQuery(this).css("display","none");   
            });
            jQuery(".lnkUndoSortTech").each(function(){
                jQuery(this).css("display","");   
            });  
        }
        else
        {
            jQuery("span[id='lnkUndoSortTech']").each(function(){
                jQuery(this).css("display","none");   
            });
            jQuery("span[id='lnkSortTech']").each(function(){
                jQuery(this).css("display","");   
            });             
            
        }
        function lnkUndoSortTech_onclick(){
            var  TechID="";                                                    
            wd.currenttab = wd.UndoSortTech();
            wd.params.IsSortTechIDFromLink = 0;
            wd.filters().tech(TechID);
            wd.filters().fullSearch(false);
            window._search = false; 
            //wd.filters().win("<?= $wo->WIN_NUM ?>");
            wd.show({tab:wd.currenttab,params:wd.getParams(wd)});

        };
        function lnkSortTech_onclick(){
            wd.saveFilterTech();
            var  TechID=jQuery(this).attr("FSTechID"); 
            wd.params.IsSortTechIDFromLink = 1;
            wd.filters().tech(TechID);    
            wd.filters().win(""); 
            wd.filters().fullSearch(false);   
            window._search = false;
            wd.show({tab:wd.currentTab,params:wd.getParams(wd)});                            
        };
        jQuery(".lnkSortTech")
        .unbind("click",lnkSortTech_onclick)
        .bind("click",lnkSortTech_onclick);
        jQuery(".lnkUndoSortTech")
        .unbind("click",lnkUndoSortTech_onclick)
        .bind("click",lnkUndoSortTech_onclick);
        //end 13369
        
        //819
        jQuery(".chkDownloadDocumentItem")
            .unbind("click",wd.chkDownloadDocumentItem)
            .bind("click",wd.chkDownloadDocumentItem);

        jQuery(".chkDownloadDocumentMaster")
            .unbind("click",wd.chkDownloadDocumentMaster)
            .bind("click",wd.chkDownloadDocumentMaster);

        var  countSelected=$('.chkDownloadDocumentItem[VXSelectItem=true]:checked').size();   
        if(countSelected>0)
        {
            $(".DownloadDocumentButton").css("cursor","pointer");
        }
        else
        {
            $(".DownloadDocumentButton").css("cursor","");
        }
        
        $(".DownloadDocumentButton")
            .unbind("click",wd.DownloadDocumentButton)
            .bind("click",wd.DownloadDocumentButton);
        //end 819
    }); 
</script>
