<span class="ajaxLink" onclick="$('#leftHandMenuOpend').hide();$('#leftHandMenuHided').show();$('#woWorkPlace').css('width','96%');setCookie('wosDetailsNavBarState', 'closed', 30);"><img src="/widgets/images/left_arrow.gif" width="23" height="20" border="none" alt="" align="right" /></span><br />
<input type="button" id="FullWOView" value="View Full Work Order" style="margin-bottom:5px;" class="link_button middle_button indentTop" onclick="location = location.toString().replace(/(\#.*)?$/, '#section1'); toggleBulletAll('down');"/><br />
<br />
<span><b>View Work Order Details by Section</b></span><br />
<a class="ajaxLink" href="#section1" onclick="excoTab(1,'down')">1. Basic Work Order Information</a><br />
<a class="ajaxLink" href="#section2" onclick="excoTab(2,'down')">2. Specific Work Order Instructions</a><br />
<a class="ajaxLink" href="#section3" onclick="excoTab(3,'down')">3. Pricing and Fees</a><br />
<br />
<span><b>My Work Orders</b></span><br />
<a href="javascript::void(0);" onclick="openPopup('wos.php?v=<?=$this->techID?>&tab=techavailable')" id="orders_link">Available Work (<?=$this->counters[WO_STATE_PUBLISHED]?>)</a><br />
<a href="javascript::void(0);" onclick="openPopup('wos.php?v=<?=$this->techID?>&tab=techassigned')" id="orders_link">Assigned Work (<?=$this->counters['total']?>)</a><br />
<br />
<a href="dashboard.php?v=<?=$this->techID?>" id="orders_link">Control Panel</a><br />
<br />
