<span class="ajaxLink" onclick="$('#leftHandMenuOpend').hide();$('#leftHandMenuHided').show();$('#woWorkPlace').css('width','96%');setCookie('wosDetailsNavBarState', 'closed', 30);"><img src="/widgets/images/left_arrow.gif" width="23" height="20" border="none" alt="" align="right" /></span><br />
<?php /* <input type="button" id="MyScheduleBtn" value="View My Schedule" class="link_button middle_button"/><br /> */ ?>
<input type="button" id="FullWOView" value="View Full Work Order" style="margin-bottom:5px;" class="link_button middle_button indentTop" onclick="location = location.toString().replace(/(\#.*)?$/, '#section1'); toggleBulletAll('down');"/><br />
<br />
<span><b>View Work Order Details by Section</b></span><br />
<a class="ajaxLink" href="#section1" onclick="openTab(1)">1. Work Order Info</a><br />
<a class="ajaxLink" href="#section2" onclick="openTab(2)">2. Documents &amp; Parts</a><br />
<a class="ajaxLink" href="#section3" onclick="openTab(3)">3. Contact &amp; Check In Info</a><br />
<a class="ajaxLink" href="#section4" onclick="openTab(4)">4. Complete Work Order</a><br />
<a class="ajaxLink" href="#section5" onclick="openTab(5)">5. Tech Pay</a><br />
<a class="ajaxLink" href="#section6" onclick="openTab(6)">6. Other Info</a><br />
<br />
<span><b>My Work Orders</b></span><br />
<a href="javascript::void(0);" onclick="openPopup('wos.php?v=<?=$this->techID?>&tab=techavailable')" id="orders_link">Available Work (<?=$this->counters[WO_STATE_PUBLISHED]?>)</a><br />
<a href="javascript::void(0);" onclick="openPopup('wos.php?v=<?=$this->techID?>&tab=techassigned')" id="orders_link">Assigned Work (<?=$this->counters[WO_STATE_ASSIGNED]?>)</a><br />
<br />
<a href="dashboard.php?v=<?=$this->techID?>" id="orders_link">Control Panel</a><br />
<br />
