<script>
    function openPupopWowDetilt(denied,urllink)
    {
        if(denied)
        {
            var t = $("<div id='Fancybox'></div>").fancybox({
                'width': 400,
                'height' : 150,
                'content' : "<div style='padding-top:10px;padding-bottom:10px;color:red;'>Your access to this Work Order has been restricted by the Client.</div>",
                'autoDimensions' : true,
                'centerOnScroll' : true
            });
            t.trigger('click');
            return false;
        }    
        tpm.openPopupWin('todo',{url:urllink});
    }
</script>
<table width="100%" class="gradBox_table_inner">
    <col width="120px" />
    <col width="140px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="30px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th>WIN #</th>
        <th>Client<br/>WO#</th>
        <th>WO Status</th>
        <th>WO Headline</th>
        <th>Route</th>
        <th>Site #</th>
        <th>Site<br/>Name</th>
        <th>City</th>
        <th>ST</th>
        <th>Zip</th>
        <th>Paid Date</th>
        <th>Net Pay $</th>
        <th class="last">Fee<br/>Deducted</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :
      //376
//      $woNetPay = ($wo->PayAmount) - ($wo->PayAmount)*($wo->PcntDeductPercent);
//      $woNetPay = round($woNetPay,2);
//      
      $api = new Core_Api_WosClass();
    $reim= $api->getTotal_ApReThFS($wo->WIN_NUM);
    $grossPay = ($wo->PayAmount) + $reim;
    $fee = ($grossPay)*($wo->PcntDeductPercent + 0);
    $woNetPay = round($grossPay - $fee);  
    //end 376
      $Core_Api_TechClass = new Core_Api_TechClass();
      $deined = $Core_Api_TechClass->checkClientDeniedTech($wo->Tech_ID,$wo->Company_ID,$wo->Status);   
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_TechUnseen_QAMessage_ofWO($_SESSION['TechID'],$wo->WIN_NUM);
    //019
    $isRestrictedByClient = $Core_Api_TechClass->isRestrictedByClient($_SESSION['TechID'],$wo->WIN_NUM);
    //end 019
    if($Unseen_QA_fromTech>0)
    {
        $TechNotViewYet = 1;
    }
    else
    {
        $TechNotViewYet = 0;
    }
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <!--019-->
            <?
            if($isRestrictedByClient)
            {
                ?>
                <a title="Work Order Information" href="javascript:;" onclick="td.showtempmsg();">
                    <?=$wo->WIN_NUM?>
                </a>&#160;
                <?
            }
            else
            {
                ?>
                <a title="Work Order Information" href="/techs/wosDetails.php?id=<?=$wo->WIN_NUM?>&v=<?=$this->techId?>">
                    <?=$wo->WIN_NUM?>
                </a>&#160;
                <?
            }
            ?>
            <!--end 019-->
            <a id="QAbox<?=$wo->WIN_NUM?>" class="QAbox" onclick="td.QABox('/widgets/dashboard/popup/questionandanswer?WIN_NUM=<?=$wo->WIN_NUM?>', '<?=$wo->WIN_NUM?>')" href="javascript:void(0);" title="<?=$roleovertext?>">Q&A <span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;font-weight:bold;"><?=$Unseen_QA_fromTech?></span>)</span></a>
        </td>
        <td>
            <span><?=$wo->WO_ID?></span>
        </td>
        <td>
            <span><?=trim($wo->Status)?></span>
        </td>
        <td>
            <span><?=$this->truncateRow(trim($wo->Headline), 2, 16)?></span><br />
        </td>
        <td>
            <span><nobr><?=trim($wo->Route)?></nobr></span>
        </td>
        <td>
            <span><?=trim($wo->SiteNumber)?></span>
        </td>
        <td>
            <span><?=$this->truncateRow(trim($wo->SiteName), 2, 12)?></span>
        </td>
        <td>
            <span><?=$wo->City?></span>
        </td>
        <td>
            <span><?=$wo->State?></span>
        </td>
        <td>
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <nobr><span><?php if(empty($wo->DatePaid) && $wo->Status == WO_STATE_IN_ACCOUNTING):?>In Process<?php else:?><?=$this->displayDate('n/j/Y', $wo->DatePaid)?><?php endif;?></span></nobr>
        </td>
        <td>
            <span><?php echo($this->displayMoney($woNetPay)); ?></span>
        </td>
        <td>
            <span><?= (empty($wo->PcntDeductPercent) || $wo->PcntDeductPercent == 0 || $wo->PcntDeductPercent == 1)?"No":(($wo->PcntDeductPercent*100)."%");?></span>
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="tech_paginator">
        <td colspan="12" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techall'))?>
        </td>
    </tr>
    <?php if (!$this->iframeMode) : ?>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techall','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
	</script>
	<?php endif; ?>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && trim($this->errors) !== '') :?>
        <tr><td colspan="12"><?=$this->errors?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="12"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="tech_paginator">
        <td colspan="12" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
