<table width="100%" class="gradBox_table_inner">
    <col width="120px" />
    <col width="140px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="50px" />
    <col width="50px" />
    <col width="*" />
    <col width="40px" />
    <col width="30px" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th>WIN #</th>
        <th>Client WO#</th>
        <th>WO Headline</th>
        <th>Route</th>
        <th>Site #</th>
        <th>Site<br/>Name</th>
        <th>Start Date / End Date (Visits)</th>
        <th>Start Time / End Time</th>
        <!-- <th>Progress</th> -->
        <th>Confirms</th>
        <th>City</th>
        <th>ST</th>
        <th>Zip</th>
        <th>Distance</th>
        <th>Agreed $</th>
        <th class="last">Fee<br/>Deducted</th>
    </tr>
<?php $cur_date = time();?>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php
$TechClass = new Core_Api_TechClass();
        $hasDeVryTag = $TechClass->hasDeVryTag($_SESSION['TechID']);
$tr=1; foreach( $this->paginator as $wo ) :?>
<?php
    $NumOfVisits = "";
    $datedtart = $this->displayDate('n/j/Y', $wo->StartDate);
    if(!empty($wo->NumOfVisits) && !empty($datedtart)){
        $NumOfVisits = "(".$wo->NumOfVisits.")";
    }
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_TechUnseen_QAMessage_ofWO($_SESSION['TechID'],$wo->WIN_NUM);
    if($Unseen_QA_fromTech>0)
    {
        $TechNotViewYet = 1;
    }
    else
    {
        $TechNotViewYet = 0;
    }
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
    
    $AllowDeVryInternstoObserveWork = $wo->AllowDeVryInternstoObserveWork;
    $AllowDeVryInternstoPerformField = $wo->AllowDeVryInternstoPerformField;
    $isShowDevryinter = 0;
    $ShowDevryintertitle = "";
    
    if(!empty($AllowDeVryInternstoObserveWork) || !empty($AllowDeVryInternstoPerformField))
    {
        if($hasDeVryTag !=0)
        {
        $isShowDevryinter = 1;
    }
    }
    
    if (!empty($AllowDeVryInternstoObserveWork) && !empty($AllowDeVryInternstoPerformField))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Observation and Work";
    }
    else if (!empty($AllowDeVryInternstoObserveWork))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Observation";
    }
    else if (!empty($AllowDeVryInternstoPerformField))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Work";
    }
?>    
<?php $wo_date = strtotime(substr(trim($wo->StartDate),0,-11).' '.trim($wo->StartTime));?>
    <tr class="<?php
        if ($tr%2){echo($wo_date>$cur_date)?'border_td odd_tr':'border_td odd_tech_tr_red';
        }else{echo($wo_date>$cur_date)?'border_td even_tr':'border_td even_tech_tr_red';}?>">
        <td nowrap="nowrap">
            <a title="Work Order Information" href="/techs/wosDetails.php?id=<?=$wo->WIN_NUM?>&v=<?=$this->techId?>"><?=$wo->WIN_NUM?></a>&#160;
            <a id="QAbox<?=$wo->WIN_NUM?>" class="QAbox" onclick="td.QABox('/widgets/dashboard/popup/questionandanswer?WIN_NUM=<?=$wo->WIN_NUM?>', '<?=$wo->WIN_NUM?>')" href="javascript:void(0);" title="<?=$roleovertext?>">Q&A <span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;font-weight:bold;"><?=$Unseen_QA_fromTech?></span>)</span></a>
            <span style="<?=$isShowDevryinter==1?"display:":"display:none"?>">
                <img align="absmiddle" src="/widgets/images/DeVry tag.png" title="<?=$ShowDevryintertitle?>" height="19px">
            </span>
        </td>
        <td>
            <span><?=$wo->WO_ID?></span>
        </td>
        <td>
            <span><?=$this->truncateRow(trim($wo->Headline), 2, 12)?></span><br />
        </td>
        <td>
            <span><?=trim($wo->Route)?></span>
        </td>
        <td>
            <span><?=trim($wo->SiteNumber)?></span>
        </td>
        <td>
            <span><?=$this->truncateRow(trim($wo->SiteName), 2, 8)?></span>
        </td>
        <td>
            <nobr><span class="ajaxLink" title="Work Order Information" onmouseover="roll.autohide(true);roll.delay(1.1);roll.show(this,event,{popup:'starttime',title:'',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:window._techId}})" ><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span>
<a class="ajaxLink" title="Visits"  onclick="roll.autohide(true);roll.delay(1.1);roll.show(this,event,{popup:'starttime',title:'',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:window._techId}})"><?=$NumOfVisits?></a>
            </nobr><br/>
            
            <nobr><span class="ajaxLink" title="Work Order Information" onmouseover="roll.autohide(true);roll.delay(1.1);roll.show(this,event,{popup:'starttime',title:'',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:window._techId}})" ><?=$this->displayDate('n/j/Y', $wo->EndDate)?></span></nobr>
        </td>
        <td>
            <nobr><span><?=$this->displayDate('g:i A', $wo->StartTime)?></span></nobr><br/>
            <nobr><span><?=$this->displayDate('g:i A', $wo->EndTime)?></span></nobr>
        </td>
        <td><nobr>
            <span><?php if($wo->WorkOrderReviewed==true):?><img align="absmiddle" title="Acceptance Confirm" src="/widgets/images/check_green.gif"><?php else: ?><img align="absmiddle" title="Acceptance Confirm" src="/widgets/images/red_cross.gif"><?php endif; ?></span>
            <span><?php if($wo->TechCheckedIn_24hrs==true):?><img align="absmiddle" title="24 hr Confirm" src="/widgets/images/check_green.gif"><?php else: ?><img align="absmiddle" title="24 hr Confirm" src="/widgets/images/red_cross.gif"><?php endif; ?></span>
            <span><?php if($wo->CheckedIn==true):?><img align="absmiddle" title="Check In" src="/widgets/images/check_green.gif"><?php else: ?><img align="absmiddle" title="Check In" src="/widgets/images/red_cross.gif"><?php endif; ?></span>
            <span><?php if($wo->TechMarkedComplete==true):?><img align="absmiddle" title="Tech Complete" src="/widgets/images/check_green.gif"><?php else: ?><img align="absmiddle" title="Tech Complete" src="/widgets/images/red_cross.gif"><?php endif; ?></span>
            </nobr>
        </td>
        <td>
            <span><?=$wo->City?></span>
        </td>
        <td>
            <span><?=$wo->State?></span>
        </td>
        <td>
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <span><?=sprintf("%.2f", round($wo->AssignedDistance, 2))?></span>
        </td>
        <td>
            <nobr><span><?=$this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per)?></span></nobr>
        </td>
        <td>
            <span><?= (empty($wo->PcntDeductPercent) || $wo->PcntDeductPercent == 0 || $wo->PcntDeductPercent == 1)?"No":(($wo->PcntDeductPercent*100)."%");?></span>
        </td>
    </tr>
<?php ++$tr; endforeach;?>
            <?php if (!$this->nonav) :?>
    <tr class="tech_paginator">
        <td colspan="14" class="tCenter" id="paginatorContainer">

            <?=$this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techassigned'))?>
        </td>
    </tr>
    <?php if (!$this->iframeMode) : ?>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techassigned','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
	</script>
	<?php endif; ?>
            <?php endif; ?>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && isset($this->errors) && trim($this->errors) !== '') :?>
        <tr><td colspan="14"><?=$this->errors?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="14"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="tech_paginator">
        <td colspan="14" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
