<table width="100%" class="gradBox_table_inner">
    <col width="10px" />
    <col width="140px" />
    <col width="*" />
    <col width="60px" />
    <col width="116px" />
    <col width="*" />
    <col width="30px" />
    <col width="40px" />
    <col width="40px" />
    <col width="*" />
    <col width="40px" />
    <tr class="table_head">
        <th>Apply/<br/>Applied</th>
        <th>WIN #</th>
        <th>WO Headline</th>
        <th>Route</th>
        <th>Start Date (Visits)</th>
        <th>Start Time</th>
        <th>City</th>
        <th>ST</th>
        <th>Zip</th>
        <th>Distance</th>
        <th>Offer $</th>
        <th class="last">Fee<br/>Deducted</th>
    </tr>
    <? if ($this->success && sizeof($this->paginator)): ?>
<?php
        $TechClass = new Core_Api_TechClass();
        $hasDeVryTag = $TechClass->hasDeVryTag($_SESSION['TechID']);
        $tr = 1;
        foreach ($this->paginator as $wo) :
            ?>
            <?php
    $NumOfVisits = "";
    $datedtart = $this->displayDate('n/j/Y', $wo->StartDate);
    if(!empty($wo->NumOfVisits) && !empty($datedtart)){
        //14039
        //$NumOfVisits ="<a href='javascript'>".$wo->NumOfVisits."</a>";
        //End 14039
    }
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_TechUnseen_QAMessage_ofWO($_SESSION['TechID'],$wo->WIN_NUM);
    if($Unseen_QA_fromTech>0)
    {
        $TechNotViewYet = 1;
    }
    else
    {
        $TechNotViewYet = 0;
    }
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
    
    $AllowDeVryInternstoObserveWork = $wo->AllowDeVryInternstoObserveWork;
    $AllowDeVryInternstoPerformField = $wo->AllowDeVryInternstoPerformField;
    $isShowDevryinter = 0;
    $ShowDevryintertitle = "";
    
            if (!empty($AllowDeVryInternstoObserveWork) || !empty($AllowDeVryInternstoPerformField))
    {
                if($hasDeVryTag !=0)
                {
        $isShowDevryinter = 1;
    }
            }
    
            if (!empty($AllowDeVryInternstoObserveWork) && !empty($AllowDeVryInternstoPerformField))
    {
                $ShowDevryintertitle = "Eligible for DeVry Intern Observation and Work";
            }
            else if (!empty($AllowDeVryInternstoObserveWork))
            {
        $ShowDevryintertitle = "Eligible for DeVry Intern Observation";
    }
            else if (!empty($AllowDeVryInternstoPerformField))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Work";
    }
            
?> 
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td align="center">
            <?php
            if($this->bidsCount[$wo->WIN_NUM]>0 || $this->bidswithdrawCount[$wo->WIN_NUM] > 0)
            {
                        if ($this->bidsCount[$wo->WIN_NUM] > 0 && $this->bidswithdrawCount[$wo->WIN_NUM] >= 0)
                        {
            ?>
            <a style="cursor: pointer;" id="quickApply<?=$wo->WIN_NUM?>" onclick="quickWithdraw(this, '<?=$wo->WIN_NUM?>');" title="Review Application"><img src="/widgets/images/check_green.gif" /></a>                
            <?php
                } else {
            ?>
            <img src="/widgets/images/check_green.gif" title="Application Withdrawn"/>
            <?php
                }
            ?>
            <?php
            }else{?>
            <a class="quickApply" id="quickApply<?=$wo->WIN_NUM?>" onclick="quickApplyCheck(this, '<?=$wo->WIN_NUM?>');"><img src="/widgets/images/apply-buttons.png" width="54px" height="46px"/></a>
                <?
                
                }
                ?>
        </td>
        <td>
            <a title="Work Order Information" href="/techs/wosDetails.php?id=<?=$wo->WIN_NUM?>"><?=$wo->WIN_NUM?></a>&#160;
            <a id="QAbox<?=$wo->WIN_NUM?>" class="QAbox" onclick="td.QABox('/widgets/dashboard/popup/questionandanswer?WIN_NUM=<?=$wo->WIN_NUM?>', '<?=$wo->WIN_NUM?>')" href="javascript:void(0);" title="<?=$roleovertext?>">Q&A <span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;font-weight:bold;"><?=$Unseen_QA_fromTech?></span>)</span></a>
            <span style="<?=$isShowDevryinter==1?"display:":"display:none"?>">
                <img align="absmiddle" src="/widgets/images/DeVry tag.png" title="<?=$ShowDevryintertitle?>" height="19px">
            </span>
        </td>
        <td>
            <span><nobr><?=trim($wo->Headline)?></nobr></span>
        </td>
        <td>
            <span><nobr><?=trim($wo->Route)?></nobr></span>
        </td>
        <td>
            <nobr>
				<!--14039-->
                <span class="ajaxLink" title="Work Order Information" onmouseover="roll.autohide(true);roll.delay(1.1);roll.show(this,event,{popup:'starttime',title:'',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:window._techId}})" ><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span>
                <?php if(!empty($wo->NumOfVisits) && !empty($datedtart)){?>  
                  <span class="ajaxLink" title="Visits" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:'<?=$wo->Company_ID?>',viewtype:'visits'}}) }">(<?=$wo->NumOfVisits?>)</span> 
                <?php }?>
                <!--End 14039-->
            </nobr>
        </td>
        <td>
            <nobr><span><?=$this->displayDate('g:i A', $wo->StartTime)?></span></nobr>
        </td>
        <td>
            <span><nobr><?=$wo->City?></nobr></span>
        </td>
        <td>
            <span><?=$wo->State?></span>
        </td>
        <td>
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <span><?=sprintf("%.2f", round($wo->Distance, 2))?></span>
        </td>
        <td>
            <span><nobr><?=$this->displayMoney($wo->PayMax, "",$wo->Amount_Per)?></nobr></span>
        </td>
        <td>
            <span><?= (empty($wo->PcntDeductPercent) || $wo->PcntDeductPercent == 0 || $wo->PcntDeductPercent == 1)?"No":(($wo->PcntDeductPercent*100)."%");?></span>
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="tech_paginator">
        <td colspan="10" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techavailable','short'=>false))?>
        </td>
    </tr>
    <?php if (!$this->iframeMode) : ?>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techavailable','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
	</script>
	<?php endif; ?>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && trim($this->errors) !== '') :?>
        <tr><td colspan="10"><?=$this->errors?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="10"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="tech_paginator">
        <td colspan="10" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
<script type="text/javascript">
function quickAply(el, win){
    roll.autohide(false);
    var opt = {
    width : 283,
    height : '',
    title : 'Quick Bid',
    body : quickBid.quickAply(win)
    };
    roll.showNotAjax(el,null,opt);
}
//quickBid.button(this); quickBid.searchWO('<?=$wo->WIN_NUM?>',this);
</script>
