<table width="100%" class="gradBox_table_inner">
    <col width="120px" />
    <col width="140px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="30px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th>WIN #</th>
        <th>Client WO#</th>
        <th>WO Headline</th>
        <th>Route</th>
        <th>Site #</th>
        <th>Site<br/>Name</th>
        <th>Start Date (Visits)</th>
        <th>Start Time</th>
        <th>City</th>
        <th>ST</th>
        <th>Zip</th>
        <th>Agreed $</th>
        <th>Fee<br />Deducted</th>
        <th class="last">Client Marked<br/>Inomplete Date</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>
<?php
    $NumOfVisits = "";
    $datedtart = $this->displayDate('n/j/Y', $wo->StartDate);
    if(!empty($wo->NumOfVisits) && !empty($datedtart)){
        $NumOfVisits = " <a href='javascript'>(".$wo->NumOfVisits.")</a>";
    }
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_TechUnseen_QAMessage_ofWO($_SESSION['TechID'],$wo->WIN_NUM);
    if($Unseen_QA_fromTech>0)
    {
        $TechNotViewYet = 1;
    }
    else
    {
        $TechNotViewYet = 0;
    }
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
?> 
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td nowrap="nowrap">
            <a title="Work Order Information" href="/techs/wosDetails.php?id=<?=$wo->WIN_NUM?>&v=<?=$this->techId?>"><?=$wo->WIN_NUM?></a>&#160;
                <a id="QAbox<?=$wo->WIN_NUM?>" class="QAbox" onclick="td.QABox('/widgets/dashboard/popup/questionandanswer?WIN_NUM=<?=$wo->WIN_NUM?>', '<?=$wo->WIN_NUM?>')" href="javascript:void(0);" title="<?=$roleovertext?>">Q&A <span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;font-weight:bold;"><?=$Unseen_QA_fromTech?></span>)</span></a>
        </td>
        <td>
            <span><?=$wo->WO_ID?></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
        </td>
        <td>
            <span><nobr><?=trim($wo->Route)?></nobr></span>
        </td>
        <td>
            <span><?=trim($wo->SiteNumber)?></span>
        </td>
        <td>
            <span><?=trim($wo->SiteName)?></span>
        </td>
        <td>
            <nobr><span class="ajaxLink" title="Work Order Information" onmouseover="roll.autohide(true);roll.delay(1.1);roll.show(this,event,{popup:'starttime',title:'',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:window._techId}})" ><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span>
            <!--14039-->
            <?php if(!empty($wo->NumOfVisits) && !empty($datedtart)){?>  
                  <nobr><span class="ajaxLink" title="Visits" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:td.getWidgetHtml,context:td,params:{win:<?=$wo->WIN_NUM?>,techId:'<?=$wo->Company_ID?>',viewtype:'visits'}}) }">(<?=$wo->NumOfVisits?>)</span> 
           <?php }?>
            <!--end 14039--> 
            
            </nobr>
        </td>
        <td>
            <nobr><span><?=$this->displayDate('g:i A', $wo->StartTime)?></span></nobr>
        </td>
        <td>
            <span><?=$wo->City?></span>
        </td>
        <td>
            <span><?=$wo->State?></span>
        </td>
        <td>
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <span><?=$this->displayBid($wo->Tech_Bid_Amount,$wo->Amount_Per)?></span>
        </td>
        <td>
            <span><?= (empty($wo->PcntDeductPercent) || $wo->PcntDeductPercent == 0 || $wo->PcntDeductPercent == 1)?"No":(($wo->PcntDeductPercent*100)."%");?></span>
        </td>
        <td>
            <span class="ajaxLink" title="Client Notes for Incomplete Work" onclick="openPopupWin('wosDetails.php?id=<?=$wo->WIN_NUM?>')" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'incomments',title:'Incomplete WO comments:',width:150,preHandler:wd.getWidgetHtml,context:wd,params:{MissingComments:'<?=preg_replace("/(\r\n|\n|\r)/", "", $wo->MissingComments);?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->DateIncomplete)?></span>
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="tech_paginator">
        <td colspan="13" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techincomplete'))?>
        </td>
    </tr>
    <?php if (!$this->iframeMode) : ?>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'tech-paginator.phtml', array('tab'=>'techincomplete','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
	</script>
	<?php endif; ?>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && trim($this->errors) !== '') :?>
        <tr><td colspan="13"><?=$this->errors?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="13"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="tech_paginator">
        <td colspan="13" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
