<?php 
   $startDate = new DateTime($this->startDate);
   $endDate = new DateTime($this->endDate);
   $netPayForPeriod = empty($this->netPayForPeriod)?"":"\$".$this->netPayForPeriod;   
   $netPayYear = empty($this->netPayYear)?"":"\$".$this->netPayYear;   
?>
<div style="border: 1px solid #CCC;font-size:10px;" class="bg2">
    <table cellspacing="5" cellpadding="5" border="0">
        <tbody><tr height="18px;">
            <td>Paid Date:</td>
            <td><span><?php echo($startDate->format("m/d/Y")); ?></span></td>
        </tr>
        <tr height="18px;">
            <td>Net Pay This Period:</td>
            <td>&nbsp;<span><?php echo($netPayForPeriod);?></span></td>
        </tr>
        <tr height="18px;">
            <td>Net Pay Year to Date:</td>
            <td>&nbsp;<span><?php echo($netPayYear);?></span></td>
        </tr>
    </tbody></table>
</div>
<div>
    <table class="gradBox_table_inner" width="100%"> 
        <colgroup>
            <col width="100px;"/>
            <col width="100px;"/>
            <col width="100px;"/>
            <col width="200px;"/>
            <col width="100px;"/>
            <col width="100px;"/>
        </colgroup>
        <tr class="table_head">
            <th>Start Date</th>
            <th>WIN#</th>
            <th>Approved Date</th>
            <th>Headline</th>
            <th>Gross Pay</th>
            <th class="last">Net Pay</th>                                    
        </tr>                
        <?php if(isset($this->result) && count($this->result) > 0) {
            $result=$this->result;
            $length=count($result);
            $toggle = 1;
            for($i=0;$i<$length;$i++)
            {
                $DateApproved =  $result[$i]['DateApproved'];
                $DateApproved = new DateTime($DateApproved);
                $DateApproved = $DateApproved->format("m/d/Y");
                $winNum = $result[$i]['WIN_NUM'];
                $woStartDate =  $result[$i]['StartDate'];
                $woStartDate = new DateTime($woStartDate);
                $woStartDate = $woStartDate->format("m/d/Y");
                
                $clientName = $result[$i]['Headline'];
                
                //---334,13711
                $grossPay = $result[$i]['PayAmount'];
                $netPay = $result[$i]['PayAmount_Final'];
 if(empty($netPay)||$netPay == 0)
                {
                    $netPay = $grossPay *(1-($result[$i]['PcntDeductPercent']+0));
                }
                $grossPay = number_format($grossPay, 2, '.', '');  
                $netPay = number_format($netPay, 2, '.', '');
                //---
                
                $class = $toggle==1 ? "border_td odd_tr":"border_td even_tr";
                ?>
                <tr class="<?=$class?>">
                    <td><?=$woStartDate?></td>
                    <td align="center"><?=$winNum?></td>
                    <td><?=$DateApproved?></td>
                    <td><?=$clientName?></td>
                    <td align="center"><?=$grossPay?></td>
                    <td align="center"><?=$netPay?></td>
                </tr>
                <?php   
                $toggle = $toggle==1?0:1;                         
            }
        ?>
        <?php }else{?>
        <tr>
            <td colspan="6">No Payments this Pay Period</td>
        </tr>
        <?php }
        ///echo($this->startDate);
        //echo($this->endDate);
        //print_r($this->result);
        ?>
    </table>
</div>
