<?php
$tb_id = $this->tableid;
$i = $this->i;
$aYear4Week = $this->aYear4Week;
$GrossPayForYear = $this->GrossPayForYear;
$netPayYear = $this->netPayYear;
$yearCurrent = $aYear4Week[$i][0];
$UserName = $this->UserName;
$UserPassword = $this->UserPassword;
$search = new Core_Api_TechClass();

?>
<tr style="display:none;" class="divTrPayStubsTN<?= $tb_id ?> divTrPayStubsTM">
    <td colspan="5">
        <?php
        //--- style of div
        $lengthOfLoop = 0;
        $ii = $i;
        while ($ii < count($aYear4Week) && $yearCurrent == $aYear4Week[$ii][0]) {
            $lengthOfLoop++;
            $ii++;
        }
        $style = $lengthOfLoop > 20 ? "height:360px;overflow-y:auto;overflow-x: hidden;" : "overflow-x: hidden;";
        ?>
        <div class="divBodyPayStubsTN" tableid="<?= $tb_id ?>" 
             style="<?php echo($style); ?>">
            <table width="100%">
                <?php
                while ($i < count($aYear4Week) &&
                    $yearCurrent == $aYear4Week[$i][0]) {
                    $NetPayForPeriod = 0;
                    if ($netPayYear != 0) {
                        $NetPayForPeriod = $search->getNetPayForPeriod($UserName
                                , $UserPassword
                                , $aYear4Week[$i][3]
                                , $aYear4Week[$i][4]);
                    }
                    $GrossPayForPeriod = 0;
                    if ($GrossPayForYear != 0) {
                        $GrossPayForPeriod = $search->getGrossPayForPeriod($UserName
                                , $UserPassword
                                , $aYear4Week[$i][3]
                                , $aYear4Week[$i][4]);
                    }
                    ?>
                    <tr>
                        <td width="10%" align = "left" style = "padding-left:3px;">                                                     
                        </td>
                        <td width="25%" align="center">
                            <a class="periodLink"  href="javascript:;"> 
                                <?= $aYear4Week[$i][1] ?>
                                <input type="hidden" value="<?= $aYear4Week[$i][1] . ',' . $aYear4Week[$i][2] . ',' . $aYear4Week[$i][3] . ',' . $aYear4Week[$i][4] ?>" class="hidDownload" >
                            </a>
                        </td>
                        <td width="25%" align="center">
                            <?php
                            echo '$' . $GrossPayForPeriod;
                            ?>
                        </td>
                        <td width="25%" align="center">
                            <?php
                            echo '$' . $NetPayForPeriod;
                            ?>
                        </td>
                        <td align="center">
                            <?php
                            if (!$first) {
                                ?>
                                <a class="cmdDownload" href="javascript:;">Download</a>
                                <input type="hidden" value="<?= $aYear4Week[$i][1] . ';' . $aYear4Week[$i][3] . ',' . $aYear4Week[$i][4] ?>" class="hidDownload" >
                                <?php
                            }
                            ?>
                        </td>
                        <td style="display: none;width:20px;">

                        </td>
                    <tr> 
                        <?php
                        $i++;
                    } 
                    ?>
            </table>
        </div>
    </td>
</tr> 