<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/client-denied/do-deny/" onSubmit="" method="post" id="ClientDenyForm" name="CreateForm" enctype="multipart/form-data">
	
        <input type="hidden" name="CreateForm[Company_ID]" value="<?= $this->company?>" />
        <input type="hidden" name="CreateForm[TechID]" value="<?= $this->TechID?>" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field">Tech ID</td>
				<td><?=$this->TechID?></td>
			</tr>
            <tr>
				<td class="label_field">First Name</td>
				<td><?=$this->FirstName?></td>
			</tr>
            <tr>
				<td class="label_field">Last Name</td>
				<td><?=$this->LastName?></td>
			</tr>
            <tr>
				<td class="label_field">Comments</td>
				<td><textarea type="text" cols="40" rows="5" class="input_text" id="Comments" name="CreateForm[Comments]" value="" /></textarea></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>