<?php
    function sortClass( $field, $cl ) {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') return 'sort-asc';
        if ($cl->sortBy == $field && $cl->sortDir == 'desc') return 'sort-desc';
    }
    function makeSort( $field, $cl ) {
        return "var opt=detailsWidget.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';detailsWidget.setParams(opt); detailsWidget.show({tab:'list',params:opt});";
    }
?>
<table width="100%" class="gradBox_table_inner">
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('TechID', $this);?>"><span onclick="<?=makeSort('TechID', $this);?>">Tech ID</span></th>
        <th class="sortable <?=sortClass('FirstName', $this);?>"><span onclick="<?=makeSort('FirstName', $this);?>">First Name</span></th>
        <th class="sortable <?=sortClass('LastName', $this);?>"><span onclick="<?=makeSort('LastName', $this);?>">Last Name</span></th>
        <th class="sortable <?=sortClass('PrimaryPhone', $this);?>"><span onclick="<?=makeSort('PrimaryPhone', $this);?>">Primary Phone</span></th>
        <th class="sortable <?=sortClass('SecondaryPhone', $this);?>"><span onclick="<?=makeSort('SecondaryPhone', $this);?>">Secondary Phone</span></th>
        <th class="sortable <?=sortClass('PrimaryEmail', $this);?>"><span onclick="<?=makeSort('PrimaryEmail', $this);?>">Primary Email</span></th>
        <th class="sortable <?=sortClass('SecondaryEmail', $this);?>"><span onclick="<?=makeSort('SecondaryEmail', $this);?>">Secondary Email</span></th>
        <th class="">&nbsp;</span></th>
        <th class="sortable <?=sortClass('Comments', $this);?>"><span onclick="<?=makeSort('Comments', $this);?>">Comments</span></th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>
<?php $tr=1; foreach( $this->paginator as $tech ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <?=$tech['TechID']?>
        </td>
        <td>
            <?=$tech['FirstName']?>
        </td>
        <td>
            <?=$tech['LastName']?>
        </td>
        <td>
            <?=$tech['PrimaryPhone']?>
        </td>
        <td>
            <?=$tech['SecondaryPhone']?>
        </td>
        <td>
            <?=$tech['PrimaryEmail']?>
        </td>
        <td>
            <?=$tech['SecondaryEmail']?>
        </td>
        <td>
            <a href='/widgets/dashboard/client-denied/remove-deny/?id=<?=$tech['TechID']?>&v=<?=$this->company?>'>Delete</a>
        </td>
        <td>
            <?=$tech['Comments']?>
        </td>
    </tr>

<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="9" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="9"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="9"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="9" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>