<style>
    .table_head .sortcolumn
    {
        background-color: #FF9900;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: bold;
        height: 35px;
    }
    .table_head .sortcolumn a
    {
        background-color: #FF9900;
        color: #FFFFFF;
        cursor: pointer;
        font-weight: bold;
    }
</style>
<center>
    <table class="gradBox_table_inner"  width="70%" style="border: 1px solid black;">
        <tr style="background-color: #0070C0;color: white;" class="table_head">
            <th <?= $this->columnsort == "auditdate" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" class="cmdSort" collumn="auditdate" sort="<?= $this->typesort ?>" href="javascript:;" >Date Reported</a>
            </th>
            <th  <?= $this->columnsort == "CurrentStatus" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" class="cmdSort" collumn="CurrentStatus" sort="<?= $this->typesort ?>" href="javascript:;"  >Current Status</a>
            </th>
            <th <?= $this->columnsort == "techphonevalue" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" href="javascript:;" class="cmdSort" collumn="techphonevalue" sort="<?= $this->typesort ?>" >Invalid Phone Number</a>
            </th>
            <th <?= $this->columnsort == "phonetype" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" href="javascript:;" class="cmdSort" collumn="phonetype" sort="<?= $this->typesort ?>" >Day/Evening</a>
            </th>
            <th <?= $this->columnsort == "p.techid" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" href="javascript:;" class="cmdSort" collumn="p.techid" sort="<?= $this->typesort ?>" >Tech ID</a>
            </th>
            <th <?= $this->columnsort == "FirstName" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" href="javascript:;" class="cmdSort" collumn="FirstName" sort="<?= $this->typesort ?>" >Tech Name</a>
            </th>
            <th <?= $this->columnsort == "reportingclient" ? "class='sortcolumn'" : "" ?>>
                <a page="<?= $this->page ?>" href="javascript:;" class="cmdSort" collumn="reportingclient" sort="<?= $this->typesort ?>" >Reporting Client</a>
            </th>
            <th <?= $this->columnsort == "reportinguser" ? "class='sortcolumn'" : "" ?> style="border-right: 1px solid black;">
                <a page="<?= $this->page ?>" class="cmdSort" collumn="reportinguser" sort="<?= $this->typesort ?>" href="javascript:;" >Reporting User</a>
            </th>
        </tr>
        <?php
        if (count($this->values) > 0) {
            ?>
            <?php
            $tr = 1;
            foreach ($this->values as $item) {
                ?>
                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                    <td>
                        <?= $item['auditdate'] ?>
                    </td>
                    <td>
                        <?=
                        $item['CurrentStatus'] == 1 ? "Valid" : "Invalid"  
                        ?>
                    </td>
                    <td>
                        <?= $item['techphonevalue'] ?>
                    </td>
                    <td>
                        <?= $item['phonetype'] == 1 ? "Day" : "Evening" ?>
                    </td>
                    <td>
                        <a target="_blank" href="/admin/wosViewTechProfile.php?TechID=<?= $item['techid'] ?>" ><?= $item['techid'] ?></a>
                    </td>
                    <td>
                        <?= $item['FirstName'] . ' ' . $item['LastName'] ?>
                    </td>
                    <td>
                        <?= $item['reportingclient'] ?>
                    </td>
                    <td>
                        <?= $item['reportinguser'] ?>
                    </td>
                </tr>
                <?php
                ++$tr;
            }
            ?>
            <?php
        } else {
            ?>
            <tr>
                <td colspan="8">
                    Not records display.
                </td>
            </tr>
        <?php } ?>
    </table>
    <table id="AcivitiLogUserTN" style="background-color: #6699CC;margin-bottom: 5px;" width="70%">
        <?php
        if (count($this->values) > 0) {
            ?>
            <tr class="paginator">
                <td colspan="3" class="tCenter" id="paginatorContainer">
                    <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()) ?>
                </td>
            </tr>
            <script type="text/javascript">
                $(document).ready( function() {
                    $("#toppaginatorContainer").html('<?= str_replace("\n", '', addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginatorAjax.phtml', array()), "'")) ?>');
                });
            </script>
        <?php } ?>
    </table>
</center>