<div style="padding-top: 10px; ">
    Date Range: <?= $this->DateSearch ?>
</div>
<div style="padding-top: 5px;">
    <input value="Approve Batch" class="link_button middle2_button" type="button" id="cmdApprove" />
</div>
<div style="text-align: left;">
    <table class=""  width="100%" cellspacing="15" cellpadding="2">
       
        <?php 

        if (count($this->Values) > 0) {
            ?>
            <?php
            $tr = 1;
            foreach ($this->Values as $item) {
                ?>
                <?= $tr == 1?"<tr>":"" ?>
               
                    <td align="center" width="16%">
                        <img width="100px" height="100px" src="<?= 'https://s3.amazonaws.com/tech-docs/profile-pics/'.$item['filePath'] ?>"/>
                        <br/>
                        <a target="_blank" href="/admin/wosViewTechProfile.php?TechID=<?= $item['techID'] ?>" >Tech ID# <?= $item['techID'] ?></a>
                    </td>
                <?= $tr == 6?"</tr>":"" ?>    
                <?php
                ++$tr;
                if($tr == 7) $tr = 1;
            }
            if($tr < 7)
            {
                for($i = $tr;$i < 7;$i ++)
                {
                    echo "<td width='16%'>&nbsp;</td>";
                    if($i == 6)
                    {
                        echo '</tr>';
                    }
                }
            }
            ?>
            <?php
        } else {
            ?>
            <tr>
                <td align="center">
                    <input type="hidden" id="notrd" value="1" />
                    Not records display.
                </td>
            </tr>
        <?php } ?>
    </table>
</div>
<table id="AcivitiLogUserTN" style="margin-bottom: 5px;" width="100%">
    <?php
    if (count($this->Values) > 0) {
        ?>
        <tr class="paginator">
            <td colspan="3" class="tCenter" id="paginatorContainer">
                <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxForPhotoAudit.phtml', array()) ?>
            </td>
        </tr>
        <script type="text/javascript">
            $(document).ready( function() {
                $("#toppaginatorContainer").html('<?= str_replace("\n", '', addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxForPhotoAudit.phtml', array()), "'")) ?>');
            });
        </script>
    <?php } ?>
</table>
