<?php $this->placeholder('adminInternalInfo')->captureStart() ?>
<dt class="round sectionHeading" id="adminUsage">
<span style="width: 20px; height: 20px;">
    <a class="title" title="Expand Section"></a>
</span>
<span>
    ** Admin Usage **
</span>
<span id="headerTechInfo"></span> 
</dt>
<dd id="section">
    <form name="adminInternalInfo" id="adminInternalInfo" method="post">
        <input type="hidden" name="techID" value="<?= $this->techID ?>" /> 
        <div class="error" style="display: none;"><span></span></div>
        <table >
            <tr><td><br /></td></tr>
            <tr>
                <td colspan=2>
                    <div class="round" id="subDivider">
                        <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Basic</div>
                        <div>
                            <div class="cancelSaveSection" style="float:right;">
                                <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                            </div>									
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
            <tr><td></td></tr>
            <tr>
                <td class="label">Date Registered</td>
                <td class="field">
                    <div id="RegDateLabel"></div> 
                </td>
            </tr>
            <tr>
                <td class="label">TechSource</td>
                <td class="field">
                    <div id="TechSourceInput">
                       <?php
                        $techsource = new Core_Api_TechClass;

                        $sourceOptions = $techsource->getTechSourceList_forRegisterPage(); ?>
                        <select class="required" id="TechSource" name="TechSource" ><option value="ISO">Select Source</option>";
                       <?php foreach ($sourceOptions as $code) {
                            if($code=="ISO")
                            { ?>
                                <option value="<?php echo $code;?>" selected="selected"><?php echo $code;?></option>
                           <?php }
                            else
                            {  ?>
                                <option value="<?php echo $code;?>"><?php echo $code;?></option>
                          <?php  }
                        }   ?>
                        
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">W2 Tech</td>
                <td class="field">
                    <div id="W2_TechInput">
                        <input class="required" type="checkbox" size="35" name="W2_Tech" id="W2_Tech" value="Yes" />
                    </div>
                </td>
            </tr>					
            <tr>
                <td class="label">W9 Received?</td>
                <td class="field">
                    <div id="W9Input">
                        <input class="required" type="checkbox" size="35" name="W9" id="W9" value="Yes" />&nbsp;
                        <input style="height: 22px;" name="W9Button" type="button" class="link_button middle2_button" value="Print W9" id="W9Button" onclick="w9Print()" />&nbsp;
                        <div>
                            <span id="W9LastSubmitted"></span>&nbsp;
                            <span id="PreviousVersion" style="color:#F00">Previous Version on file</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Free Access</td>
                <td class="field">
                    <div id="FreeAccessInput">
                        <input class="required" type="checkbox" size="35" name="FreeAccess" id="FreeAccess" value="Yes" />
                    </div>
                </td>
            </tr>					
            <tr>
                <td class="label">Accept Terms</td>
                <td class="field">
                    <div id="AcceptTermsInput">
                        <input class="required" type="checkbox" size="35" name="AcceptTerms" id="AcceptTerms" value="Yes" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Date Terms Accepted</td>
                <td class="field">
                    <div id="Date_TermsAcceptedInput">
                        <input class="required" type="text" size="35" name="Date_TermsAccepted" id="Date_TermsAccepted" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">No Shows</td>
                <td class="field">
                    <div id="No_ShowsLabel"></div> 
                </td>
            </tr>
            
            <tr>
                <td class="label">Work Market Tech ID#</td>
                <td class="field">
                    <div id="WMIDLabel"></div> 
                </td>
            </tr>
            
            <tr>
                <td class="label">Unsubscribe Avail Work Emails</td>
                <td class="field">
                    <div id="EmailContactOptOutInput">
                        <input type="checkbox" size="35" name="EmailContactOptOut" id="EmailContactOptOut" value="Yes" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Unsubscribe Avail Work SMS</td>
                <td class="field">
                    <div id="UnAllowTextInput">
                        <input type="checkbox" size="35" name="UnAllowText" id="UnAllowText" value="0" />
                    </div>
                </td>
            </tr>
            <!--018-->
            <tr>
                <td class="label">
                    <div id="HideBidTechlabel">Hide Bids / Hide Techs</div>
                </td>
                <td class="field">
                    <div id="HideBidTechInput">
                        <input type="checkbox" size="35" id="HideBids" onclick="profile.loadhidetechinfo(this)" />
                        <span id="hidebidtechinfo"></span>
                        <input id="hidebidtechdate" value="" type="hidden" name="HideBidsDate"/>
                        <input id="hidebidtechuser" value="<?=$_SESSION["UserName"]?>" type="hidden" name="HideBidsByUserName"/>
                    </div>
                </td>
            </tr>
            <!--end 018-->
            
            <tr>
                <td class="label">Deactivate from system</td>
                <td class="field">
                    <div id="DeactivatedInput">
                        <input type="checkbox" size="35" name="Deactivated" id="Deactivated" value="Yes" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Deactivate Reason</td>
                <td class="field">
                    <div id="Deactivate_ReasonInput">
                        <select id="Deactivate_Reason" name="Deactivate_Reason" >
                            <?php
                            echo "<option value=\"\" >Show All</option>";
                            foreach ($this->techDeactivationReason as $id => $name) {
                                echo "<option value=\"$id\">$name</option>";
                            }
                            ?>
                        </select>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">ONLY FOR STAFF TO VIEW</td>
                <td class="field">
                    <div id="StaffCommentsInput">
                        <textarea name="StaffComments" id="StaffComments" style="width: 95%; height:200px"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Latitude</td>
                <td class="field">
                    <div id="LatitudeInput">
                        <input class="required" type="text" size="35" name="Latitude" id="Latitude" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Longitude</td>
                <td class="field">
                    <div id="LongitudeInput">
                        <input class="required" type="text" size="35" name="Longitude" id="Longitude" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">FSPlusOne Registered</td>
                <td class="field">
                    <div id="FSPlusOneRegInput">
                        <input type="checkbox" size="35" name="FSPlusOneReg" id="FSPlusOneReg" onclick="if($('#FSPlusOneReg').is(':checked')){$('#FSPlusOneDateReg').val($.format.date(new Date(), 'yyyy-MM-dd hh:mm'))}else{$('#FSPlusOneDateReg').val('')}" /><!--issue_13085-->
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">FSPlusOne Registeration Date</td>
                <td class="field">
                    <div id="FSPlusOneDateRegInput">
                        <input type="text" size="35" name="FSPlusOneDateReg" id="FSPlusOneDateReg" />
                    </div>
                </td>
            </tr>
        </table>
        <table >
            <tr><td><br /></td></tr>
            <tr>
                <td colspan=2>
                    <div class="round" id="subDivider">
                        <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">ISO Information</div>
                        <div>
                            <div class="cancelSaveSection" style="float:right;">
                                <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                            </div>									
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
            <tr><td></td></tr>
            <tr>
                <td class="label">ISO ID</td>
                <td class="field">
                    <div id="ISO_Affiliation_IDLabel"></div> 
                </td>
            </tr>
            <tr>
                <td class="label">ISO Affiliation</td>
                <td class="field">
                    <div id="ISO_Affiliation_IDInput">
                        <select id="ISO_Affiliation_ID" name="ISO_Affiliation_ID" >
                            <?php
                            echo "<option value=\"\" >None</option>";
                            foreach ($this->isos as $id => $name) {
                                echo "<option value=\"$id\">$name</option>";
                            }
                            ?>
                        </select>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Private</td>
                <td class="field">
                    <div id="PrivateInput">
                        <input type="checkbox" size="35" name="Private" id="Private" value="Yes" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Pay Company</td>
                <td class="field">
                    <div id="Pay_CompanyInput">
                        <input type="checkbox" size="35" name="Pay_Company" id="Pay_Company" value="Yes" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Dispatch</td>
                <td class="field">
                    <div id="DispatchInput">
                        <input type="checkbox" size="35" name="Dispatch" id="Dispatch" value="Yes" />
                    </div>
                </td>
            </tr>
        </table>
        <table >
            <tr><td><br /></td></tr>
            <tr>
                <td colspan=2>
                    <div class="round" id="subDivider">
                        <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">US Authorization</div>
                        <div>
                            <div class="cancelSaveSection" style="float:right;">
                                <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                            </div>                                    
                        </div>
                    </div>
                </td>
            </tr>
        </table>               
        <?php
//        print_r(" test <pre>");
//        print_r($this->techExt);
//        $I9TestRequested = $this->techExt['I9TestRequested'];
//        $I9RequestedDate = $this->techExt['I9RequestedDate'];
//        $I9Status = $this->techExt['I9Status'];
//        $I9DateAdministered = $this->techExt['I9Date'];
//        $I9ResultsEnterBy = $this->techExt['I9ResultsEnterBy'];

        //echo("<br/>tech Ext.: ");//test
        //print_r($this->techExt);//test
        ?>     
        <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
            <tr><td></td></tr>
            <tr>
                <td class="label">Test Requested?</td>
                <td class="field">
                    <div>
<!--                        <input type="checkbox" size="35" name="I9TestRequested" 
                               id="I9TestRequested" value="<?= $I9TestRequested ?>" <?php if ($I9TestRequested == 1) {
            /*echo('checked="checked"');*/
        } ?> />-->
        <input type="checkbox" size="35" name="I9TestRequested" 
                               id="I9TestRequested" value="" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Requested Date</td>
                <td class="field">
                    <div id="USAuthorizationRequestDateInput" class="">
<!--                        <input class="attachCal" type="text" 
                               name="USAuthorizationRequestDate" id="USAuthorizationRequestDate" 
                               value="<?= $I9RequestedDate ?>"/>-->
                        <input class="attachCal" type="text" 
                               name="USAuthorizationRequestDate" id="USAuthorizationRequestDate" 
                               value=""/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Results</td>
                <td class="field">
                    <div id="I9StatusInput" class="">
                        <select style="" id="I9Status" name="I9Status">
                            <option value="0" <?php if ($I9Status == 0) {
                            echo('selected="selected"');
                        } ?> >None</option>
                                            <option value="1" <?php if ($I9Status == 1) {
                            echo('selected="selected"');
                        } ?> >Pending</option>
                                            <option value="2" <?php if ($I9Status == 2) {
                            echo('selected="selected"');
                        } ?> >Authorized</option>
                                            <option value="3" <?php if ($I9Status == 3) {
                            echo('selected="selected"');
                        } ?> >Non Confirmation</option>    
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Date Administered</td>
                <td class="field">
                    <div id="I9DateInput" class="">
                        <input class="attachCal" type="text" name="I9DateAdministered" id="I9DateAdministered"
                               value=""/>
                    </div>
                </td>
            </tr>
             
            <tr>
                <td class="label">Results Entered By</td>
                <td class="field">
                    <span id="I9ResultsEnterByLabel"></span>
                </td>
            </tr>
            <tr id="I9ResultsDownload" style="<?= ($I9Status == 2)?"":"display:none;" ?>">
                <td colspan="2">
                    <a target="_blank" href="/techs/ajax/work_authorization_pdf.php?techid=<?= $this->techID ?>">Download Certificate</a>
                    <script>
                        jQuery(window).ready(function() {
                            jQuery("#I9Status").change(function() {
                                if(jQuery(this).val() == "2") 
                                {
                                   jQuery("#I9ResultsDownload").css("display","");     
                                }
                                else
                                    {
                                        jQuery("#I9ResultsDownload").css("display","none");
                                    }
                            });
                            
                        });
                    </script>
                </td>
            </tr> 
        </table>
        <table >
            <tr><td><br /></td></tr>
            <tr>
                <td colspan=2>
                    <div class="round" id="subDivider">
                        <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Drug / BG Testing</div>
                        <div>
                            <div class="cancelSaveSection" style="float:right;">
                                <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                            </div>									
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
            <tr><td></td></tr>
            <tr>
                <td class="label">WillYouPassDrug</td>
                <td class="field">
                    <div id="WillYouPassDrugLabel">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">WillYouPassBG</td>
                <td class="field">
                    <div id="WillYouPassBGLabel">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">WillYouPayDrugBG</td>
                <td class="field">
                    <div id="WillYouPayDrugBGLabel">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Pay Pal Payment Received Date</td>
                <td class="field">
                    <div id="PayPalRcvdInput">
                        <input class="attachCal" type="text" size="35" name="PayPalRcvd" id="PayPalRcvd" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">Disclosure Received Date</td>
                <td class="field">
                    <div id="DisclRcvdInput" class="">
                        <input class="attachCal" type="text" size="35" name="DisclRcvd" id="DisclRcvd" />
                    </div>
                </td>
            </tr>
 <!--13700-->  
         </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                           <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Gold Drug Test - 9 Panel</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                        </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
  
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                <td class="label">InfoLink Notified Date</td>
                <td class="field">
                    <div id="InfoLinkNotifiedInput" class="">
                        <input class="attachCal" type="text" size="35" name="InfoLinkNotified" id="InfoLinkNotified" />
                    </div>
                </td>
                </tr>
               
                 <tr>
                    <td class="label">Results</td>
                    <td class="field">
                        <div id="DrugPassedInput" class="">
                             <select id="DrugTest_Pass" name="DrugTest_Pass" >
                                <option value="">None</option>
                                <option value="Pass" >Pass</option>
                                <option value="Fail" >Fail</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Date Administered</td>
                    <td class="field">
                        <div id="DatePassDrugInput" class="">
                            <input class="attachCal" type="text" size="35" name="DatePassDrug" id="DatePassDrug" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Drug Test Ref#</td>
                    <td class="field">
                        <div id="DrugRefNoInput" class="">
                            <input type="text" size="35" name="DrugRefNo" id="DrugRefNo" />
                        </div>
                    </td>
                </tr>
            </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                         <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Silver Drug Test - 5 Panel
</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>                           
                 <tr>
                    <td class="label">Results</td>
                    <td class="field">
                        <div id="SilverDrugPassed" class="">
                             <select id="SilverDrugTest_Pass" name="SilverDrugTest_Pass" >
                                <option value="">None</option>
                                <option value="Pass" >Pass</option>
                                <option value="Fail" >Fail</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Date Administered</td>
                    <td class="field">
                        <div id="DatePassedSilverDrugInput" class="">
                            <input class="attachCal" type="text" size="35" name="DatePassedSilverDrug" id="DatePassedSilverDrug" />
                        </div>
                    </td>
                </tr>                
            </table>
        <!-- End 13700-->
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                            <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Basic Background</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                    <td class="label">Test Requested?</td>
                    <td class="field">
                        <div id="Bg_Test_Req_LiteInput" class="">
                            <input type="checkbox" name="Bg_Test_Req_Lite" id="Bg_Test_Req_Lite" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Requested Date</td>
                    <td class="field">
                        <div id="Bg_Test_ReqDate_LiteInput" class="">
                            <input class="attachCal" type="text" name="Bg_Test_ReqDate_Lite" id="Bg_Test_ReqDate_Lite" />
                        </div>
                    </td>
                </tr>
                <!--Start Issue 13038-->
                <tr>
                    <td class="label">Results</td>
                    <td class="field">
                        <div id="Bg_Test_Pass_LiteInput" class="">
                            <select id="Bg_Test_Pass_Lite" name="Bg_Test_Pass_Lite" >
                                <option value="">None</option>
                                <option value="Pass">Pass</option>
                                <option value="Fail">Fail</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Date Administered</td>
                    <td class="field">
                        <div id="Bg_Test_ResultsDate_LiteInput" class="">
                            <input class="attachCal" type="text" name="BG_Test_ResultsDate_Lite" id="Bg_Test_ResultsDate_Lite" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Results Entered By</td>
                    <td class="field">
                        <div id="BG_Test_ResultsBy_LiteLabel" class="">
                        </div>
                    </td>
                </tr>
                <!--end Issue 13038-->
            </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                            <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Complete Background</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                    <td class="label">Test Requested?</td>
                    <td class="field">
                        <div id="Bg_Test_Req_FullInput" class="">
                            <input type="checkbox" name="Bg_Test_Req_Full" id="Bg_Test_Req_Full" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Requested Date</td>
                    <td class="field">
                        <div id="Bg_Test_ReqDate_FullInput" class="">
                            <input class="attachCal" type="text" name="Bg_Test_ReqDate_Full" id="Bg_Test_ReqDate_Full" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Results</td>
                    <td class="field">
                        <div id="Bg_Test_Pass_FullInput" class="">
                            <select id="Bg_Test_Pass_Full" name="Bg_Test_Pass_Full" >
                                <option value="">None</option>
                                <option value="Pass">Pass</option>
                                <option value="Fail">Fail</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Date Administered</td>
                    <td class="field">
                        <div id="BG_Test_ResultsDate_FullInput" class="">
                            <input class="attachCal" type="text" name="BG_Test_ResultsDate_Full" id="BG_Test_ResultsDate_Full" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Results Entered By</td>
                    <td class="field">
                        <div id="BG_Test_ResultsBy_FullLabel" class="">
                        </div>
                    </td>
                </tr>
            </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                            <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Drug / BG Comments</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                    <td class="label">Results Entered By</td>
                    <td class="field">
                        <div id="DrugBGCommentsInput" class="">
                            <input type="text" name="DrugBGComments" id="DrugBGComments" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">BG Check Ref#</td>
                    <td class="field">
                        <div id="BGRefNoInput" class="">
                            <input type="text" name="BGRefNo" id="BGRefNo" />
                        </div>
                    </td>
                </tr>
            </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                            <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">FLSCSP</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                    <td class="label">FLSCSP Recieved?</td>
                    <td class="field">
                        <div id="FLSCSP_RecInput" class="">
                            <input type="checkbox" name="FLSCSP_Rec" id="FLSCSP_Rec" value="True"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Date Received</td>
                    <td class="field">
                        <div id="FLSCSP_RecDateInput" class="">
                            <input class="attachCal" type="text" name="FLSCSP_RecDate" id="FLSCSP_RecDate" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">FLS CSP Entered By</td>
                    <td class="field">
                        <div id="FLSCSP_RecByLabel" class="">
                        </div>
                    </td>
                </tr>
            </table>
            <table >
                <tr><td><br /></td></tr>
                <tr>
                    <td colspan=2>
                        <div class="round" id="subDivider">
                            <div style="width: 180px; text-align: left; float:left; margin-left: 5px;">Internal Info</div>
                            <div>
                                <div class="cancelSaveSection" style="float:right;">
                                    <img class="cancelUpdateButton" onclick="profile.cancelPaymentInfo();" title="Cancel" src="/widgets/images/button_x.png">
                                    <img class="updateButton" onclick="profile.saveAdminInternalInfo();" title="Save" src="/widgets/images/button_save.png">
                                </div>									
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="margin-left: 50px; margin-right: auto; line-height: 20px;">
                <tr><td></td></tr>
                <tr>
                    <td class="label">Background Notes</td>
                    <td class="field">
                        <div id="BackgroundNotesInput">
                            <textarea rows="5" cols="50" id="BackgroundNotes" name="BackgroundNotes"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Experience Notes</td>
                    <td class="field">
                        <div id="ExperienceNotesInput">
                            <textarea rows="5" cols="50" id="ExperienceNotes" name="ExperienceNotes"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Certification Notes</td>
                    <td class="field">
                        <div id="CertificationsNotesInput">
                            <textarea rows="5" cols="50" id="CertificationsNotes" name="CertificationsNotes"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Skills Notes</td>
                    <td class="field">
                        <div id="SkillsNotesInput">
                            <textarea rows="5" cols="50" id="SkillsNotes" name="SkillsNotes"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Tools Notes</td>
                    <td class="field">
                        <div id="ToolsNotesInput">
                            <textarea rows="5" cols="50" id="ToolsNotes" name="ToolsNotes"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">MRA_Compliant</td>
                    <td class="field">
                        <div id="MRA_CompliantInput">
                            <input type="checkbox" size="35" name="MRA_Compliant" id="MRA_Compliant" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">MRA_Date</td>
                    <td class="field">
                        <div id="MRA_DateInput">
                            <input type="text" size="35" name="MRA_Date" id="MRA_Date" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">CDM</td>
                    <td class="field">
                        <div id="CDMInput">
                            <input type="checkbox" size="35" name="CDM" id="CDM" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">L1</td>
                    <td class="field">
                        <div id="L1Input">
                            <input type="checkbox" size="35" name="L1" id="L1" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">L2</td>
                    <td class="field">
                        <div id="L2Input">
                            <input type="checkbox" size="35" name="L2" id="L2" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">L3</td>
                    <td class="field">
                        <div id="L3Input">
                            <input type="checkbox" size="35" name="L3" id="L3" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">L4</td>
                    <td class="field">
                        <div id="L4Input">
                            <input type="checkbox" size="35" name="L4" id="L4" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">DELL_DCSE_Reg</td>
                    <td class="field">
                        <div id="DELL_DCSE_RegInput">
                            <input type="checkbox" size="35" name="DELL_DCSE_Reg" id="DELL_DCSE_Reg" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">DCSE_Soft_Skills</td>
                    <td class="field">
                        <div id="DCSE_Soft_SkillsInput">
                            <input type="checkbox" size="35" name="DCSE_Soft_Skills" id="DCSE_Soft_Skills" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">DCSE_Lead</td>
                    <td class="field">
                        <div id="DCSE_LeadInput">
                            <input type="checkbox" size="35" name="DCSE_Lead" id="DCSE_Lead" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">VA</td>
                    <td class="field">
                        <div id="VAInput">
                            <input type="checkbox" size="35" name="VA" id="VA" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">SSA</td>
                    <td class="field">
                        <div id="SSAInput">
                            <input type="checkbox" size="35" name="SSA" id="SSA" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Secret</td>
                    <td class="field">
                        <div id="SecretInput">
                            <input type="checkbox" size="35" name="Secret" id="Secret" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">Top_Secret</td>
                    <td class="field">
                        <div id="Top_SecretInput">
                            <input type="checkbox" size="35" name="Top_Secret" id="Top_Secret" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">NACI</td>
                    <td class="field">
                        <div id="NACIInput">
								<input type="checkbox" size="35" name="NACICertStatus" id="NACICertStatusEx1" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">General1</td>
                    <td class="field">
                        <div id="General1Input">
                            <input type="checkbox" size="35" name="General1" id="General1" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">General2</td>
                    <td class="field">
                        <div id="General2Input">
                            <input type="checkbox" size="35" name="General2" id="General2" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">General3</td>
                    <td class="field">
                        <div id="General3Input">
                            <input type="checkbox" size="35" name="General3" id="General3" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">General4</td>
                    <td class="field">
                        <div id="General4Input">
                            <input type="checkbox" size="35" name="General4" id="General4" value="Yes" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">General5</td>
                    <td class="field">
                        <div id="General5Input">
                            <input type="checkbox" size="35" name="General5" id="General5" value="Yes" />
                        </div>
                    </td>
                </tr>					
                <tr>
                    <td class="label">General6</td>
                    <td class="field">
                        <div id="General6Input">
                            <input type="checkbox" size="35" name="General6" id="General6" value="Yes" />
                        </div>
                    </td>
                </tr>					
            </table>
    </form>
</dd>
<script type="text/javascript">
    function w9Print() {
        window.open('/widgets/admindashboard/tech/w9-print/?techID=<?= $this->techID ?>', 'w9Print');
    }
</script>
<?php $this->placeholder('adminInternalInfo')->captureEnd() ?>
<script type="text/javascript" src="/widgets/js/jquery.dateFormat-1.0.js"></script>
<?php
$this->adminMode = true;
?>
<?=$this->partial('/tech/update.phtml', 'dashboard', $this)?>