<script type="text/javascript" src="/widgets/js/jquery.min.js"></script>
<script type="text/javascript" src="/widgets/js/jquery.autotab.js"></script>
<script type="text/javascript" src="/widgets/js/jquery.validate.js"></script>
<script type="text/javascript" src="/widgets/js/jquery.autotab.js"></script>
<script type="text/javascript" src="/widgets/js/jquery.dateFormat-1.0.js"></script>
<link rel="stylesheet" href="/widgets/css/main.css" type="text/css" />
<link rel="stylesheet" href="/templates/www/main.css" type="text/css" />
<link rel="stylesheet" href="/widgets/css/details.css" type="text/css" />
<link rel="stylesheet" href="/widgets/css/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/widgets/css/blueprint/print.css" type="text/css" media="print" /> 
<style type="text/css">
#mainContainer{
	min-width: 800px;
	width: 850px;
}

.required{
	padding: 0;
	
}

*{
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	outline: none;
}
#wr{
	margin: 20px auto;
	width: 800px;
	text-align: left;
}
#acc dt, #acc dd{
	/*width: 100%;*/
}
.sectionHeading{
	cursor: pointer;
	display: block;
	padding: 3px 10px;
	background: #E1E1E1;
	color: #000;
	border: solid 1px #666;
	height: 20px;
	font-weight: bold;
	font-size: 14px;
	text-align:left;
}

#acc dt.act{
	background: #E1E1E!;
}

#acc dd{
	/*display: none;*/
	padding: 3px 10px;
}

.label{
	text-align: right;

}

td.field input.invalid, td.field select.invalid, tr.errorRow td.field input, tr.errorRow td.field select,
span.field input.invalid{
    background-color: #FFFFD5;
    border: 2px solid red;
    color: red;
    margin: 0;
}
tr td.field div.formError, tr span.field div.formError {
    color: #FF0000;
    display: none;
}
tr.errorRow td.field div.formError {
    display: block;
    font-weight: normal;
}
div.invalid, label.invalid {
    color: red;
}
div.invalid a {
    color: #336699;
    font-size: 12px;
    text-decoration: underline;
}
#section{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
#reqStar{
	color: rgb(255, 0, 0); 
	font-size: 12px; 
	font-family: Verdana; 
	margin-left: 2px;
}

.round {
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; 
} 


.required{
	color: #000;
}
div.status{
	text-align: right;
	margin-right: 13px;
}


div#loader{
	display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/widgets/images/loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

#W9Agreement p{
margin: 0 80px 0 80px;
}

a, form a{
font-size: 12px;
}

#tableMain{
margin-left: auto; 
margin-right: auto; 
line-height: 2;
table-layout: fixed;
}

#tableMain td{
	width: 50%;
}

.sectionHeader{
border-bottom: 1px solid #000; 
margin-bottom: 5px;
}

.divider{
	margin-top: 10px;
}
</style>
<div id="loader">
	Loading...
</div>

<br /><br />

<div align="center" id="w9Content" class="container">
	<table id="askPassword" cellspacing="0" cellpadding="0" width="850" border="0" style="display:none">
		<tr><td>
			<table>
				<tr><td class="divider"><br /></td></tr>
					<tr>
						<td colspan=2 class="field"><div id="W9AuthenticateError" class="formError">Invalid Password</div></td>
					</tr>
					<tr>
						<td colspan=2>Enter W9 Password <input id="W9Password" type="password" value="" />&nbsp;<input style="height: 22px;" name="W9Button" class="link_button middle2_button" type="button" class="link_button middle2_button" value="Submit" onclick="W9Authenticate()" /></td>
					</tr>
			</table>
	</table>
<form name="w9Info" id="w9Info" method="post" style="display:none">
<input type="hidden" name="techID" value="<?=$this->techID?>" />

						<table cellspacing="0" cellpadding="0" width="850" border="0">
					<tr><td>		
						<input type="hidden" name="TechID" value="<?=$this->techID?>" />

						<table>
						<tr><td class="divider"><br /></td></tr>
					
						<tr style="border-bottom: 1px solid #000; margin-bottom: 5px;">
							<td colspan=2 class="sectionHeader">W-9 Tax Information (<a href="http://www.irs.gov/instructions/iw9/index.html" target="_blank">click here for instructions</a>)<span style="font-size: 10px; margin-top: 5px; float: right; color: rgb(255, 0, 0);">This information is encrypted during transmission and is stored on a secure site.</span></td>
						</tr>
						<tr><td class="divider"><br /></td></tr>
						<tr>
							<td><span class="label"><span id="reqStar">*</span>Name (as shown on your income tax return):</span></td>
						</tr>
						<tr>
							<td colspan=2>
								
								<span>First Name</span>
								<span class="field"><input class="required"  type="text" size="20" name="FirstName" id="FirstName" /></span>
								
								<span>MI </span>
								<span class="field"><input  type="text" size="1" name="MI" id="MI" /></span>
								
								<span>Last Name</span>
								<span class="field"><input class="required"  type="text" size="20" name="LastName" id="LastName" /></span>
							</td>
						</tr>
						<tr><td colspan=2><br /><hr /></td></tr>
						<tr>
							<td><span class="label"><span id="reqStar">*</span>Business name/disregarded entity name (if different from above):</span></td>
						</tr>
						<tr>
							<td colspan=2>
								
								<span class="label"> </span>
								<span class="field">
									<input type="text" size="75" name="BusinessName" id="BusinessName" />
								</span>
							</td>
						</tr>
						<tr><td colspan=2 ><br /><hr /></td></tr>
						<tr>
							<td><span class="label"><span id="reqStar">*</span>Check appropriate box for federal tax classification:</span></td>
						</tr>

					<!--  tr>
						<td class="label" style="vertical-align: top;">  </td>
					</tr -->
					<tr>
						<td class="field" colspan=2>
							<table id="FedTaxClass" style="line-height: 20px;">
								<tr>
									<td><input class="required FTC" type="radio" name="FTC" value="Individual/Sole Proprietor" /> Individual/Sole Proprietor</td>
								
									<td><input class="required FTC" type="radio" name="FTC" value="C Corp" /> C Corporation</td>
								
									<td><input class="required FTC" type="radio" name="FTC" value="S Corp" /> S Corporation</td>
								
									<td><input class="required FTC" type="radio" name="FTC" value="Partnership" /> Partnership</td>
								
									<td><input class="required FTC" type="radio" name="FTC" value="Trust/Estate" /> Trust/Estate</td>
								</tr>
								<tr>
									<td><input class="required FTC" type="radio" name="FTC" class="FTC" value="LLC" /> Limited Liability Company. </td>
									
									<td colspan=4>Enter the tax classification (C= C corporation, S=S corporation, P=partnership) &rsaquo; <input type="text" size="5" name="LLCTaxClass" id="LLCTaxClass" /></td>
								
									<td style="padding-left: 20px;"><input type="checkbox" name="ExemptPayee" id="ExemptPayee" value="1" checked/> Exempt Payee</td>
								</tr>
								<tr>
									<td colspan=5><input class="required FTC" type="radio" name="FTC" value="Other" id="FTCOther" /> Other (see instructions)
										<span id="FTCOtherDisplay" style="display:none;">
											<input type="text" size="20" name="FTCOther" id="FTCOtherInput" />
										</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr><td colspan=2 ><br /><hr /></td></tr>
						<tr>
							<td style="width: 65%">
								<table>
									<tr>
										<td><span class="label"><span id="reqStar">*</span>Address (number, street, and apt. or suite no.) </span></td>
									</tr>
									<tr>
										<td colspan=2>
											<span class="field">
												<input class="required" type="text" size="75" name="Address1" id="Address1" />
											</span>
										</td>
									</tr>
									
									<tr>
										<td><span class="label"><span id="reqStar">*</span>City, state, and ZIP code</span></td>
									</tr>
									<tr>
										<td colspan=2 class="field">
											 
											<span class="field">
												<input class="required" type="text" size="20" name="City" id="City" />
											</span>
											<span class="field">
												<select class="required" readonly="readonly" id="State" name="State" ><?=$this->statesHtml?></select>
											</span>
											<span class="field">
												<input class="required" type="text" size="20" name="ZipCode" id="ZipCode" />
											</span>
                                            
										</td>
									</tr>
									
									<tr>
										<td>List account number(s) here (optional)</td>
									</tr>
									<tr>
										<td colspan=2>
											<span class="label"> </span>
											<span class="field">
												<input
												  type="text" size="75" name="AccountNumbers" id="AccountNumbers" />
											</span>
										</td>
									</tr>
							</table>
						</td>
						<td style="width: 35%; padding-left: 10px;">
							<table>
								<tr>
									<td>Requester's name and address (optional)</td>
								</tr>
								<tr>
									<td>
										<span class="label"> </span>
										<span class="field">
											<table>
												<tr><td>FieldSolutions</td></tr>
												<tr><td>10400 Yellow Circle Dr. Suite 300</td></tr>
												<tr><td>Minnetonka, MN 55343</td></tr> 
											</table>
										</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
					
					<table cellspacing="0" cellpadding="0" width="850" border="0">
						<tr><td colspan=5><br /><hr /></td></tr>
						<tr>
							<td style="font-weight: bold;">
								<span style="padding: 0 10px 0 10px; color: #FFF; background-color: #000;">Part I</span>
								<span>Taxpayer Identification Number (TIN)</span>
							</td>
						</tr>
						<tr><td colspan=5><hr /></td></tr>
						<tr>
							<td style="width: 65%;"> 
								Enter your TIN in the appropriate box. The TIN provided must match the name given on the "Name" line
								to avoid backup withholding. For individuals, this is your social security number (SSN). However, for a
								resident alien, sole proprietor, or disregarded entity, see the Part I instructions on page 3. For other
								entities, it is your employer identification number (EIN). If you do not have a number, see How to get a
								TIN on page 3.
							</td>
							<td style="vertical-align: middle; padding-left: 20px;">
								<table>
									<tr>
										<td class="label"><span id="reqStar">*</span> Social Security Number: </td>
									</tr>
									<tr>
										<td class="field">
											<input type="radio" class="required" name="TIN" value="SSN" id="SSNRadio" /> 
											<span id="SSNInput"> 
												<input  type="text" size="3" maxlength="3" name="SSN1" id="SSN1" /> - 
												<input  type="text" size="2" maxlength="2" name="SSN2" id="SSN2" /> - 
												<input  type="text" size="4" maxlength="4" name="SSN3" id="SSN3" /> 
											</span>  
										</td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td style="width: 65%;"> 
								Note. If the account is in more than one name, see the chart on page 4 for guidelines on whose
								number to enter.
							</td>
							<td style="vertical-align: middle; padding-left: 20px;">
								<table>
									<tr>
										<td class="label"><span id="reqStar">*</span> Employer Identification Number: </td>
									</tr>
									<tr>
										<td class="field">
											<input type="radio" class="required" name="TIN" value="EIN" id="EINRadio" />
											<span id="EINInput">
												<input type="text" size="2" maxlength="2" name="EIN1" id="EIN1" /> - 
												<input type="text" size="7" maxlength="7" name="EIN2" id="EIN2" /> 
											</span> 
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
					<table cellspacing="0" cellpadding="0" width="850" border="0">
						<tr><td colspan=5><br /><hr /></td></tr>
						<tr>
							<td style="font-weight: bold;">
								<span style="padding: 0 10px 0 10px; color: #FFF; background-color: #000;">Part II</span>
								<span>Certification</span>
							</td>
						</tr>
						<tr><td colspan=5><hr /></td></tr>
						<tr>
							<td colspan=5 id="W9Agreement"> 
								Under penalties of perjury, I certify that:<br /><br />
								1. The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me), and<br /><br />
								
								2. I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue
								Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am
								no longer subject to backup withholding, and<br /><br />
								
								3. I am a U.S. citizen or other U.S. person (defined below).<br /><br />
								
								<b>Certification instructions</b> You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding
								because you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage
								interest paid, acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and
								generally, payments other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. See the
								instructions on page 4.<br />
							</td>
						</tr>
						<tr>
							<td style="border-top: 1px solid #000; border-bottom:1px solid #000;">
								<span class="label" style="border-right:1px solid #000; border-spacing: 0px; font-weight:bold;" >Enter your initials here to Certify the information contained herein, to be used for your IRS Form W-9: </span>
								<span class="field" style="padding-left: 10px;">
									<input class="required" type="text" name="DigitalSignature" id="DigitalSignature" size="2" maxlength="2" />
								</span>
								<span id="reqStar">*</span>
							</td>
						</tr>
					</table>
                   					
					<table>
					<tr><td><br/><span id="W9LastSubmitted"></span><br /></td></tr>
					</table>	
</form>
</div>
<script type="text/javascript">
function W9Authenticate() {
	$("#W9AuthenticateError").hide();
		$.ajax({
			type: "POST",
			url: '/widgets/admindashboard/tech/w9-authenticate/',
	        dataType    : 'json',
	        cache       : false,
			data: {pw:$("#W9Password").val()},
			success: function (data) {
				if (data.success)
					window.location.reload();
				else 
					$("#W9AuthenticateError").show();
			}
		});
}
$(document).ready(function() {
window.focus();
<?php if ($this->askPassword):?>
	$("#askPassword").show();
<?php else:?>
	$("#w9Info").show();
		$.ajax({
			type: "POST",
			url: '/widgets/admindashboard/tech/get-w9-info/',
	        dataType    : 'json',
	        cache       : false,
			data: {id:<?=$this->techID?>},
			success: function (data) {
				for(index in data.w9Info){
					if(index == "FederalTaxClassification"){
						$('.FTC').each(function(){
							if($(this).val() == data.w9Info[index]){
								$(this).attr("checked",true);
								if(data.w9Info[index] == "Other"){
									$("#FTCOther").click();
									$("#FTCOtherInput").val(data.w9Info['FTCOther']);
								}
							}
						});
					}else if(index == "ExemptPayee"){
						if(data.w9Info[index] == "0"){
							$("#ExemptPayee").attr("checked",false);
						}else{
							$("#ExemptPayee").attr("checked",true);
						}
					}else if(index == "SSN" && data.w9Info[index] != "" && data.w9Info[index] != null){
						var ssn = data.w9Info[index].toString();
						$("#SSN1").val(ssn.substring(0,3));
						$("#SSN2").val(ssn.substring(3,5));
						$("#SSN3").val(ssn.substring(5,9));
						$("#SSNRadio").click();
					}else if(index == "EIN" && data.w9Info[index] != "" && data.w9Info[index] != null){
						var ein = data.w9Info[index].toString();
						$("#EIN1").val(ein.substring(0,2));
						$("#EIN2").val(ein.substring(2,9));
						$("#EINRadio").click();
					}else if(index == "DateChanged" && data.w9Info[index] != "" && data.w9Info[index] != null){
						$("#W9LastSubmitted").html('Submitted W-9 on ' + $.format.date(data.w9Info[index], 'MM/dd/yyyy'));
					}else{
						$("#"+index).val(data.w9Info[index]);
					}
				}
				$("input").attr('readonly', true).click(function() { return false; });
				$("select").attr('readonly', true).click(function() { return false; });
			 },
		    error:function(data, status, xhr){
			 }
		});
<?php endif;?>
});
</script>