body
	{width:755px;
	height:566px;}
.TB
	{mso-special-format:nobullet¥;}
.T
	{text-align:right;
	font-family:"Times New Roman";
	font-style:italic;
	color:#FFCC66;
	mso-color-index:3;
	font-size:293%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.B
	{text-align:left;
	font-family:"Times New Roman";
	color:#FFFFCC;
	mso-color-index:1;
	font-size:213%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.B1
	{text-align:left;
	font-family:"Times New Roman";
	color:#FFFFCC;
	mso-color-index:1;
	font-size:186%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.B2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.B3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.B4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet¥;}
.N
	{font-family:Arial;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet¥;}
.N1
	{font-family:Arial;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet¥;}
.N2
	{font-family:Arial;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet¥;}
.N3
	{font-family:Arial;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet¥;}
.N4
	{font-family:Arial;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:Arial;
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet¥;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:#FFFFCC;
	mso-color-index:1;
	font-size:160%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1B
	{mso-special-format:nobullet¥;}
.O1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2B
	{mso-special-format:nobullet¥;}
.O2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3B
	{mso-special-format:nobullet¥;}
.O3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4B
	{mso-special-format:nobullet¥;}
.O4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.CB
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.CB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.CB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.CB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.CB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet¥;}
.CT
	{text-align:right;
	font-family:"Times New Roman";
	font-style:italic;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.HB
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.HB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.HB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.HB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.HB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.QB
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.QB1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.QB2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.QB3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.QB4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.TblB
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.Tbl
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1B
	{mso-special-format:nobullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.Tbl1
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2B
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.Tbl2
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3B
	{mso-special-format:nobullet\2013;
	color:#FFCC66;
	mso-color-index:3;}
.Tbl3
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4B
	{mso-special-format:nobullet¥;
	color:#FFCC66;
	mso-color-index:3;}
.Tbl4
	{font-family:"Times New Roman";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet¥;}
.default
	{text-align:left;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:#FFFFCC;
	mso-color-index:1;
	font-size:160%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-ansi-language:1033;}
a:link
	{color:#CC00CC !important;}
a:active
	{color:#CC0066 !important;}
a:visited
	{color:#990099 !important;}
