    <h4>My Messages</h4>
    <ul>
        <li>My Alert Emails</li>
    </ul>


    <h4>My Work</h4>
    <ul>
        <li><span class="ajaxLink" onclick="return gotoTab('created');">Created</span></li>
        <li><span class="ajaxLink" onclick="return gotoTab('published');">Published</span></li>
        <li><span class="ajaxLink" onclick="return gotoTab('assigned');">Assigned</span></li>
        <li><span class="ajaxLink" onclick="return gotoTab('workdone');">Work Done</span></li>
        <li><span class="ajaxLink" onclick="return gotoTab('incomplete');">Incomplete</span></li>
    </ul>



<div>            
    <select name="project" id="project" onchange="return applyProgectFilter(this);">
        <option value="0" selected="selected">My Projects</option>
        <?php for ($i=0; $i< sizeof($this->projects); ++$i):?>
            <?php $project = $this->projects[$i]; if ( $project->Active ):?>
                <option value="<?=$project->Project_ID?>"><?=$project->Project_Name?></option>
            <?php endif;?>
        <?php endfor;?>
    </select>
    <br />
</div>


    <h4>News From FS</h4>
    <ul>
        <li>Recent enhancements</li>
	</ul>



    <h4>Contact</h4>
    <ul>
        <li>Info</li>
    </ul>



