<?php 
$int=1;
$wos = &$this->wo; ?>

<table width="100%" class="schedule gray_bg">
<?php if ( $this->success && sizeof($wos) ): ?>
<col width="*" />
<col width="*" />
<col width="*" />
<col width="*" />

<?php foreach ( $wos as $wo ) : ?>
    <tr <?php if($int%2==0): ?>class="bg3"<?php endif;?>>
        <td><?= $this->displayDate('m/d/y', $wo->StartDate); ?></td>
        <td>#<?= $wo->WIN_NUM; ?></td>
        <td><?= $wo->WO_Category; ?></td>
        <td><?= $this->displayMoney($wo->Tech_Bid_Amount, '$', $wo->Amount_Per); ?></td>
    </tr>
<?php 
$int++;
endforeach; ?>
<?php else : ?>
<tr>
    <td colspan="9" class="gray_bg"><br /><br />No results found<br /><br /><br /></td>
</tr>
<?php endif; ?>
</table>

