<h4>My Work</h4>
<ul>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=created',1000,800);">Created (<?=$this->counters[WO_STATE_CREATED]?>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=published',1000,800);">Published (<?=$this->counters[WO_STATE_PUBLISHED]?>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=assigned',1000,800);">Assigned (<?=$this->counters[WO_STATE_ASSIGNED]?>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=workdone',1000,800);">Work Done (<?=$this->counters[WO_STATE_WORK_DONE]?>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=incomplete',1000,800);">Incomplete (<?=$this->counters[WO_STATE_INCOMPLETE]?>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=all',1000,800);">All (<?=$this->counters['total']?>)</a></li>
</ul>
<?php if (!$this->FLSManager) : ?>
<?php if (!empty($this->wo) && $this->wo->success && !empty($this->win)) :
$wo = $this->wo->data[0];
$client = $this->client;?>
<script type="text/javascript">
$(document).ready(function() {
	if($.browser.msie){
		$("#findNewTechBtn").css("margin-bottom", "10px");
	}else{
		$("#findNewTechBtn").css("margin-bottom", "15px");
	}
});

</script>
<h4 class="heading">Work Order Tools</h4>
<div class="topToolBtn" style="margin-bottom: 10px;" id="findNewTechBtn">
   <a class="link_button middle_button" href="javascript:void(0)" onclick="openPopup('/clients/techs.php?v=<?=$this->company?>&newSearch=1&defaultZip=<?=$wo->Zipcode?>', 1600, 950);" value="Find a New Tech">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find a New Tech&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><img alt="New" src="/images/new.gif" name="New">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Copy This Work Order" onclick="detailsWidget.copyWO();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="View Applicants" onclick="detailsWidget.showPanelSection('#tech','#applicants');detailsWidget.techTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="View Tech Profile" onclick="detailsWidget.showPanelSection('#tech', '#techglance');detailsWidget.techTabInit();">
</div>
<br />
<div class="topToolBtn">
<input type="button" class="link_button middle_button" value="Contact Tech" onclick="detailsWidget.showPanelSection('#commcenter', '#mkcontact');detailsWidget.commCenterTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Documents" onclick="detailsWidget.showPanel('#docsparts'); detailsWidget.showPanelSection('#docsparts', '#projectdocs', '#wodocs', '#techuploads'); detailsWidget.docsPartsTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="FS-Parts Manager" onclick="detailsWidget.showPanel('#docsparts'); detailsWidget.showPanelSection('#docsparts', '#partsmgr'); detailsWidget.docsPartsTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Activity Log" onclick="openLightBoxPage('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$this->win?>', 880, 400)">
</div>
<br />
<?php endif; ?>
<h4>My FieldSolutions Tools</h4>
<ul>
	<li>
		<a href="/clients/projectsView.php?v=<?=$this->company?>&Start=%A0&End=Z&Active=1">View Projects</a>
	</li>
	<li>
		<a href="/clients/techsClientPreferredEdit.php?v=<?=$this->company?>">Manage Preferred Techs</a>
	</li>
	<li>
		<a href="/clients/importSites.php?v=<?=$this->company?>">Upload Site List</a>
	</li>
	<li>
		<a href="/clients/importWO.php?v=<?=$this->company?>">Upload Work Orders</a>
	</li>
<?php endif;?>
