
<?php if ($this->pageCount > 1): ?>

    <!-- Previous page -->
    <?php if (isset($this->previous)): ?>
        <span class="ajaxLink paginatorLinkActiv" style="cursor: pointer;" page="<?=$this->first?>"  onclick="gotoPage(<?=$this->first?>)">&lt;&lt;</span>
        <span class="ajaxLink paginatorLinkActiv" style="cursor: pointer;" page="<?=$this->previous?>" id="prevPageBtn" onclick="prevPage()">&lt;</span>
    <?php else: ?>
        <span class="paginatorLinkInactiv">&lt;&lt;</span>
        <span class="paginatorLinkInactiv">&lt;</span>
    <?php endif; ?>

    <!-- Page numbers -->
    <?php foreach ($this->pagesInRange as $page): ?>
        <?php if ($page != $this->current): ?>
            <span class="ajaxLink paginatorLinkActiv" style="cursor: pointer;" page="<?=$page?>" onclick="gotoPage(<?=$page?>,<?=$pagesize?>)"><?=$page?></span>
        <?php else : ?>
            <span class="paginatorLinkCurrent"><?=$page?></span>
        <?php endif; ?>
    <?php endforeach; ?>

    <!-- Nexp page -->
    <?php if (isset($this->next)): ?>
        <span class="ajaxLink paginatorLinkActiv" style="cursor: pointer;" page="<?=$this->next?>" id="nextPageBtn" onclick="nextPage()" >&gt;</span>
        <span class="ajaxLink paginatorLinkActiv" style="cursor: pointer;" page="<?=$this->last?>" onclick="gotoPage(<?=$this->last?>)">&gt;&gt;</span>
    <?php else : ?>
        <span class="paginatorLinkInactiv">&gt;</span>
        <span class="paginatorLinkInactiv">&gt;&gt;</span>
    <?php endif; ?>
	<?php if ( empty($this->short) ):?>
    <?php endif;?>
<?php endif; ?>
<?= $this->firstItemNumber . ' - '. $this->lastItemNumber . ' of '. $this->totalItemCount?>


