<?php
if ($this->wo) :
    $wo = $this->wo->data[0];
    if ($wo->Company_ID !== 'FLS')
    {
        $wo->FLS_ID = null;
    }
    $prj = $this->project->data[0];
    $tech = $this->tech;
    $status = strtolower(trim($wo->Status));
    $lastwobid = $this->lastwobid;
    $expenseReporting = $this->expenseReporting;
    
    
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_ofUnseen_QA_fromTech($_SESSION['TechID'],$wo->WIN_NUM);
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
    $AllowDeVryInternstoObserveWork = $wo->AllowDeVryInternstoObserveWork;
    $AllowDeVryInternstoPerformField = $wo->AllowDeVryInternstoPerformField;
    $isShowDevryinter = 0;
    $ShowDevryintertitle = "";
    $isShowDevryinterimg="";
    $TechClass = new Core_Api_TechClass();
    $hasDeVryTag = $TechClass->hasDeVryTag($_SESSION['TechID']);
    if(!empty($AllowDeVryInternstoObserveWork) || !empty($AllowDeVryInternstoPerformField))
    {
        if($hasDeVryTag!=0)
        {
        $isShowDevryinter = 1;
    }
    }
    $isDevryinterimgObserveWork = "Watch.png";
    $isDevryinterimgPerformField = "Work.png";
    $isShowDevryinterimgObserveWork =0;
    $isShowDevryinterimgPerformField=0;
    
    if (!empty($AllowDeVryInternstoObserveWork) && !empty($AllowDeVryInternstoPerformField))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Observation and Work";
        $isShowDevryinterimgObserveWork =1;
        $isShowDevryinterimgPerformField=1;
    }
    else if(!empty($AllowDeVryInternstoObserveWork))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Observation";
        $isShowDevryinterimgObserveWork =1;
    }
    else if(!empty($AllowDeVryInternstoPerformField))
    {
        $ShowDevryintertitle = "Eligible for DeVry Intern Work";
        $isShowDevryinterimgPerformField=1;
    }
    ?>
    <script>
        $(window).ready(function(){
            //893
            var historylength = 1;
            if($.browser.msie)
            {
                    historylength = 0;
                }
        
            if(history.length<=historylength)
            {
                $("#backBtn").attr("class","link_button back_gray_button");
            }
            else
            {
                $("#backBtn").attr("class","link_button back_button");
            }
            //end 893
            opentechwidthdraw = function(el,WIN_NUM, TechID)
            {
                var strtitle ="<div style='font-size: 13px;width:200px;'>Review Application <a class=ajaxLink href=wosDetails.php?id="+WIN_NUM+"><strong>WIN# "+WIN_NUM+"</strong></a></div>";
                roll.autohide(false);
                roll.show(el,null,
                {popup:'withdraw',
                    title:strtitle,
                    width:350,
                    preHandler:td.getWidgetHtml,
                    context:td,
                    params:{win:WIN_NUM,techId:TechID}})
            };
            
        });
    </script>
    <div>
        <input id="backBtn" class="link_button back_button" type="button" value="">
        <table class="woSections_TopInfo" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width:30%;border-right:1px solid #F69630;border-bottom:1px solid #F69630;vertical-align:top;">
                    <div style="padding:5px 5px 5px 5px;">
                        <?
                        if ($status == WO_STATE_PUBLISHED || $status == WO_STATE_CREATED)
                        {
                            ?>
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <col width="60px">
                                <col width="*">
                                <tr>
                                    <td>
                                        WIN:
                                    </td>
                                    <td>
                                        <strong><?= $wo->WIN_NUM ?></strong>
                                        <span style="<?=$isShowDevryinter==1?"display:'';":"display:none;"?>float:right;">
                                            <img align="absmiddle" src="/widgets/images/<?=$isDevryinterimgObserveWork?>" title="<?=$ShowDevryintertitle?>" height="19px" style="<?=$isShowDevryinterimgObserveWork==1?"display:'';":"display:none;"?>">
                                            <img align="absmiddle" src="/widgets/images/<?=$isDevryinterimgPerformField?>" title="<?=$ShowDevryintertitle?>" height="19px" style="<?=$isShowDevryinterimgPerformField==1?"display:'';":"display:none;"?>">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Skill:
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->WO_Category) ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Headline:
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->Headline) ?>
                                    </td>
                                </tr>
                            </table>
                            <?
                        } else
                        {
                            ?>
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <col width="130px">
                                <col width="*">
                                <tr>
                                    <td>
                                        WIN:
                                    </td>
                                    <td>
                                        <strong><?= $wo->WIN_NUM ?></strong>
                                        <span style="<?=$isShowDevryinter==1?"display:'';":"display:none;"?>float:right;">
                                            <img align="absmiddle" src="/widgets/images/<?=$isDevryinterimgObserveWork?>" title="<?=$ShowDevryintertitle?>" height="19px" style="<?=$isShowDevryinterimgObserveWork==1?"display:'';":"display:none;"?>">
                                            <img align="absmiddle" src="/widgets/images/<?=$isDevryinterimgPerformField?>" title="<?=$ShowDevryintertitle?>" height="19px" style="<?=$isShowDevryinterimgPerformField==1?"display:'';":"display:none;"?>">
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Client Work Order ID:
                                    </td>
                                    <td>
                                        <strong><?= $this->escape($wo->WO_ID); ?></strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Skill:
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->WO_Category) ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Headline:
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->Headline) ?>
                                    </td>
                                </tr>
                            </table>
                            <?
                        }
                        ?>
                    </div>
                </td>
                <td style="width:40%;border-right:1px solid #F69630;border-bottom:1px solid #F69630;vertical-align:top;">
                    <div style="padding:5px 5px 5px 5px;">
                        <?
                        if ($status == WO_STATE_APPROVED || $status == WO_STATE_IN_ACCOUNTING || $status == WO_STATE_COMPLETED)
                        {
                            $reim = $this->expenseReportingTotal["ApprovedThFSTotal"];
                            //13900                            
                            $total= $apiWosClass->getTotal_ApReThFS($wo->WIN_NUM);
                            $total= $total[$wo->WIN_NUM];
                            $grossPay = ($wo->PayAmount) + $total;              
                            $fee = ($grossPay) * ($wo->PcntDeductPercent + 0);
                            $netPay = $grossPay - $fee;
                            ?>

                            Payment Date: <?= $this->displayDate('n/j/Y', $wo->DatePaid) ?><br/>
                            Gross Money: <?= $this->displayMoney($grossPay, '$') ?><br/>
                            Service Fee:&#160;&#160;<?= $this->displayMoney($fee, '$') ?><br/>
                            Net Money:&#160;<b><?= $this->displayMoney($netPay, '$') ?></b><br/>
                            <?
                        } else
                        {
                            $api_wos = new Core_Api_WosClass();
                            $visits = $api_wos->GetWOVisitList ($wo->WIN_NUM);
                            $visit = $visits[0];
                            $start_type = $visit["StartTypeID"] == 1 ? "Firm Start Time" : "Start Time Window";
                            $start_time = $this->displayDate ('n/j/Y', $visit["StartDate"]) . " " . $visit["StartTime"];
                            $end_time = $this->displayDate ('n/j/Y', $visit["EndDate"]) . " " . $visit["EndTime"];
                            $duration = $api_wos->getDurationDesc ($visit["EstimatedDuration"]);

                        	?>
                            <?= $wo->City . ', ' . $wo->State . ' ' . $wo->Zipcode ?><br/>
                            Distance to Site: <?= sprintf("%.2f", round($wo->Distance, 2)) ?> miles<br/>
                            <?= $start_type ?>: <?= $start_time ?> - <?= $end_time ?><br/>
                            Estimated Duration:&#160;<?= $duration ?><br/>
                            <?
                        }
                        ?>
                    </div>
                </td>
                <td style="width:30%;border-right:1px solid #F69630;border-bottom:1px solid #F69630;vertical-align:top;">
                    <div style="padding:5px 5px 5px 5px;">
                        <label class="required">Work Order Status:</label>
                        <?
                        $teachid = $_SESSION['TechID'];
                        //13882
                        $woStage = "";
                        if (($status == WO_STATE_PUBLISHED || $status == WO_STATE_CREATED) && empty($lastwobid))
                        {
                            $woStage = "Available";
                            ?>
                            <b>Available</b>
                            <?
                        } else if (($status == WO_STATE_PUBLISHED || $status == WO_STATE_CREATED) && !empty($lastwobid))
                        {
                            $woStage = "Applied";
                            ?>
                            <b>Applied</b>&#160;&#160;(<a id="opentechwidthdraw" href="javascript:;" onClick="opentechwidthdraw(this,<?= $wo->WIN_NUM ?>,<?= $teachid ?>)">review</a>)
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->WorkOrderReviewed)
                        {
                            $woStage = "Assigned";
                            ?>
                            <b>Assigned to You</b>
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->TechCheckedIn_24hrs)
                        {
                            $woStage = "Assigned";
                            ?>
                            <b>Assigned to You</b>
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->TechMarkedComplete)
                        {
                            $woStage = "Assigned";
                            ?>
                            <b>Assigned to You</b>
                            <?
                        } else if ($status === WO_STATE_INCOMPLETE)
                        {
                            $woStage = "Incomplete";
                            ?>
                            <b>Incomplete</b>
                            <?
                        } else if ($status == WO_STATE_WORK_DONE)
                        {
                            $woStage = "Work Done";
                            ?>
                            <b>Work Done</b>
                            <?
                        } else if ($status == WO_STATE_APPROVED)
                        {
                            $woStage = "Approved";                            
                            ?>
                            <b>Approved</b>
                            <?
                        } else if ($status == WO_STATE_IN_ACCOUNTING)
                        {
                            $woStage = "In Accounting";                            
                            ?>
                            <b>In Accounting</b>
                            <?
                        } else if ($status == WO_STATE_COMPLETED)
                        {
                            $woStage = "Completed";
                            ?>
                            <b>Completed</b>
                            <?
                        }
                        ?>
                            <input type='hidden' id='WO_STAGE' value='<?=$woStage?>' />
                        <?
                        //end 13882

                        ?>
                        
                        <br/>
                        <label class="required">Next Step:</label>
                        <?
                        if (($status == WO_STATE_PUBLISHED || $status == WO_STATE_CREATED) && empty($lastwobid))
                        {
                            ?>
                            <b>Apply for this Work Order</b><br/>
                            <div style="padding-top:5px;">
                                <input type='button' value='Apply' class='link_button' id='TechapplyWOBtn'/>
                                <div style="float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </div>
                            <?
                        } else if (($status == WO_STATE_PUBLISHED || $status == WO_STATE_CREATED) && !empty($lastwobid))
                        {
                            ?>
                            <b>You will be notified if you are assigned.</b>
                            <div style="float: right; width: 44%;padding-top:5px;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->WorkOrderReviewed)
                        {
                            ?>
                            <b>Confirm that you accept this work assignment and will be at this location on <?= $this->displayDate('n/j/Y', $wo->StartDate) ?> at <?= $wo->StartTime ?>.</b>
                            <br/>
                            <div style="padding-top:5px;">
                                <input type="button" id="confirmSubmitBtn" class="link_button" value="Confirm Now" />
                                <div style="float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </div>
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->TechCheckedIn_24hrs)
                        {
                            ?>
                            <b>Confirm your commitment to arrive on time for this assignment tomorrow.</b>
                            <br/>
                            <div style="padding-top:5px;">
                                <input type="button" id="confirm24hSubmitBtn" class="link_button<?=($this->hrsBeforeStart >= 48 ? "_disabled" : "")?>" <?=($this->hrsBeforeStart >= 48 ? "disabled='disabld'" : "")?> value="Confirm Now" />
                                <div style="float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </div>
                            <?
                        } else if ($status === WO_STATE_ASSIGNED && !$wo->TechMarkedComplete)
                        {
                            ?>
                            <b>Complete this Work Order; go to <a href="javascript:;" onclick="for (i=0;i<=5;i++) {if(i==3){openTabV2(5-i)} else{ closeTabV2(5-i)};}if(window.location.href.indexOf('#section2')>0){window.location = window.location.href}else{window.location = window.location.href + '#section2';}return false;">Section 2</a></b><br/>
                            <div style="padding-top:5px; float: right; width: 40%;">
                                <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                            </div>
                            <?
                        } else if ($status === WO_STATE_INCOMPLETE)
                        {
                            ?>
                            <b>This Work Order has been marked <span class='red'>Incomplete</span> by the client. This Work Order will <u>NOT BE PAID</u> until all information is accepted by the client.</b>
                            <br/>
                            <div style="padding-top:5px;">
                                <input type='button' id='completewoBtn' class='link_button wide_button160' value='Complete this Work Order' onclick="for (i=0;i<=5;i++) {if(i==3){openTabV2(5-i)} else{ closeTabV2(5-i)};}if(window.location.href.indexOf('#section2')>0){window.location = window.location.href}else{window.location = window.location.href + '#section2';}return false;"/>
                                <div style="float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </div>
                            <?
                        } else if ($status == WO_STATE_WORK_DONE)
                        {
                            ?>
                            <b>This Work Order is currently marked as work done and is waiting for client approval for payment.</b><br/>
                            <div style="padding-top:5px; float: right; width: 40%;">
                                <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                            </div>
                            <?
                        } else if ($status == WO_STATE_COMPLETED)
                        {
                            ?>
                            <b>This Work Order has been approved by the client and paid by FieldSolutions.</b><br/>
                            <div style="padding-top:5px; float: right; width: 40%;">
                                <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                            </div>
                            <?
                        } else if ($status == WO_STATE_APPROVED)
                        {
                            ?>
                            <b>This Work Order has been approved by the client and is in process for payment by FieldSolutions.<br/>
                                You agreed to complete this Work Order for <?= $this->displayMoney($wo->Tech_Bid_Amount, '$') ?> <?= $this->displayAmountPer($wo->Amount_Per) ?>.<br/>
                                Service fee:
                                <?
                                $PcntDeductPercentmsg = ($wo->PcntDeductPercent * 100) . "%";

                                echo ($PcntDeductPercentmsg);
                                ?><br/>
                                <div style="padding-top:5px; float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </b>
                            <?
                        } else if ($status == WO_STATE_IN_ACCOUNTING)
                        {
                            ?>
                            <b>This Work Order has been approved by the client and is in process for payment by FieldSolutions.<br/>
                                You agreed to complete this Work Order for <?= $this->displayMoney($wo->Tech_Bid_Amount, '$') ?> <?= $this->displayAmountPer($wo->Amount_Per) ?>.<br/>
                                Service fee:
                                <?
                                $PcntDeductPercentmsg = ($wo->PcntDeductPercent * 100) . "%";
                                echo ($PcntDeductPercentmsg);
                                ?><br/>
                                <div style="padding-top:5px; float: right; width: 40%;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </div>
                            </b>
                            <?
                        }
                        ?>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3"  style="border-right:1px solid #F69630;vertical-align:top;">
                    <?= $this->sections ?>
                </td>
            </tr>
        </table>
    </div>
<?php else: ?>
    <div style="margin:9% 39%">This Work Order is no longer available</div>
<?php endif; ?>
<?php if ($status == WO_STATE_CREATED || $status == WO_STATE_PUBLISHED) : ?>
    <script type="text/javascript">
        $(function(){
            $('.TechWOWorkPlaceRight_box').css('min-height', '300px');
            expanded = $("#ExpandAllSections").hasClass("displayNone");
            for (var i = 1;i<=3;i++) {
                if ( expanded && $("#TechWODetailsSection"+i+"_slider").css("display") == "none" ) { toggleTab(i); }
            }
        })
    </script>
<?php endif; ?>