<?php
$this->renderedFromWO = true;
//Zend_Dojo::enableForm($this);
?>
<?
$timepart3 = 0;
$timepart2 = "";
$timepart1 = "";

for ($i = 0; $i < 24; $i++) {
    for ($j = 1; $j < 5; $j++) {
        if ($j == 1)
            $timepart2 = "00";
        else
            $timepart2 = ($j - 1) * 15;

        if ($i < 12 || $i == 24)
            $timepart3 = "AM";
        else
            $timepart3 = "PM";


        if ($i == 0)
            $timepart1 = "12";
        else if ($i < 13 && $i > 0)
            $timepart1 = $i;
        else
            $timepart1 = $i - 12;

        $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
        $this->TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
    }
}
?>
<?php 
$allClients = $this->allClients;
$isGPM = $this->isGPM;
?>

<script type="text/javascript" src="/widgets/js/jquery.dateFormat-1.0.js"></script>
<link rel="stylesheet" href="/widgets/js/dijit/themes/nihilo/nihilo.css" type="text/css" />
<link rel="stylesheet" href="/widgets/js/dijit/themes/nihilo/Editor.css" type="text/css" />

<script type="text/javascript">
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector :  /(txtarea_f2)/,
            theme : "advanced",
            plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,|,bullist,numlist,|,removeformat",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            theme_advanced_resize_horizontal : false,
            width : "638",
            theme_advanced_path : false,
            // Skin options
            skin : "o2k7",
            skin_variant : "silver"
        });
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector :  /(txtarea_f1)/,
            theme : "advanced",
            plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,link,|,bullist,numlist,|,removeformat",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            theme_advanced_resize_horizontal : false,
            width : "638",
            theme_advanced_path : false,
            // Skin options
            skin : "o2k7",
            skin_variant : "silver"
        });
    </script>

<style>
    .old_style .panes div.contentbox{
        margin-top: 0px;
    }

	/* FS_RUSH credential selections */
	.multiselect_control { padding: 2px 0 1px 0; }
	.multiselect_control .ms_close_box { background: url('/widgets/images/fsrush_cred_remove_12x12.gif') no-repeat bottom; display: inline-block; width: 12px; height: 14px; cursor: pointer; }
	.multiselect_control .ms_selection { font: normal 12px Arial, Helvetica, sans-serif; }
	.multiselect_control .ms_level { font: normal 12px Arial, Helvetica, sans-serif; }
</style>
<script type="text/javascript">
    var isInvoiced = false;
    var oldProject = "<?= $this->wo->Project_Name ?>";
	var cert_controls = {};

    function saveCurrentProject()
    {
        oldProject = $('#edit_Project_ID option:selected').text();
        if (oldProject == "Default Project")
            $(".defaultProjectMsg").show();
        else
            $(".defaultProjectMsg").hide();
    }

    function clearDefaultProjectFields()
    {
        if (oldProject == "Default Project")
        {
            $("#edit_WO_Category_ID").val("");
            $("#edit_Headline").val("");
            $("#edit_PcntDeduct").removeAttr('checked');
            $("#PcntDeductV2").removeAttr('checked');
            $("#edit_FixedBid").removeAttr('checked');
            if ($("#edit_Ship_Contact_Info").val() == "viewable only by the assigned tech") $("#edit_Ship_Contact_Info").val("");
        }
    }

    //13916
    function clearProjectFields()
    {
		$("#edit_WO_Category_ID").val("");
		$("#edit_Headline").val("");
		$("#edit_PcntDeduct").removeAttr('checked');
		$("#PcntDeductV2").removeAttr('checked');
		$("#edit_FixedBid").removeAttr('checked');
		if ($("#edit_Ship_Contact_Info").val() == "viewable only by the assigned tech") $("#edit_Ship_Contact_Info").val("");
	   //14002
//            tinyMCE.get('edit_Description').setContent("");
//            tinyMCE.get('edit_Requirements').setContent("");
//            tinyMCE.get('edit_SpecialInstructions').setContent("");            
//            tinyMCE.get('edit_Ship_Contact_Info').setContent("");  
		//end 14002
		$("#edit_Qty_Devices").val("");
		$("#edit_Qty_Visits").val("");
		$("#edit_PayMax").val("");
		$("#edit_Qty_Devices_Display").val("");
		$("#edit_Qty_Visits_Display").val("");           
    }

    //14002
    function edit_Project_ID_onChange()
    {

        if (oldProject == "Select a Project")
        {
            ProjectAppect_click();
        }
        else
        {
            var project_id = $(this).val();
            if(project_id==='' || project_id==='4050')
            {
                ProjectAppect_click();
            }
            else
            {
                showLoader(350,60,true);
                var msg = "Do you want the new project to overwrite existing Work Order information?";
                var html = '<div>\
                            <div>'+msg+'</div>\
                            <div style="color:red;padding-left:10px;" id="divError"></div><div style="text-align:center;padding-top:5px;">\
                                <input type="button" id="cmdCancelPopup" class="link_button_popup" value="No"  />\
                                &nbsp;&nbsp;&nbsp;&nbsp;\
                                <input type="button" id="cmdProjectOk" class="link_button_popup" value="Yes"/>\
                            </div>\
                        </div>';
                jQuery("#comtantPopupID").html(html);
                jQuery("#comtantPopupID #cmdCancelPopup")
                .unbind("click",cmdCancelPopup_click)
                .bind("click",cmdCancelPopup_click);
                jQuery("#comtantPopupID #cmdProjectOk")
                .unbind("click",ProjectAppect_click)
                .bind("click",ProjectAppect_click);
            }
        }
	}
    //end 002

    $(document).ready(function(){
        //        jQuery("#PcntDeductV2").unbind("click");
        //                        jQuery("#PcntDeductV2").click(function(){
        //                           if(jQuery(this).is(':checked'))
        //                           {
        //                               jQuery("#edit_PcntDeduct").attr("checked",true);
        //                           }   
        //                           else
        //                           {
        //                               jQuery("#edit_PcntDeduct").attr("checked",false);
        //                           }    
        //                        });
<?php if (empty($prj->Project_Name)): ?>
    <?php if (!empty($this->project_id)): ?> $("#edit_Project_ID").val(<?= $this->project_id ?>); <?php endif; ?>
                if ($("#edit_Ship_Contact_Info").val() == "viewable only by the assigned tech") $("#edit_Ship_Contact_Info").val("");
                $("#edit_Project_ID").change();
<?php endif; ?>

        $('.sectionBox a.title').live('hover', function()
        {
            $(this).attr({title: "Expand Section"});
        });
    
        $('.sectionBox.sectionOpen a.title').live('hover', function()
        {
            $(this).attr({title: "Collapse Section"});
        });
    
        $(".sectionBox .title").click(function()
        {
            //$(this).parent().next(".sectionInner").slideToggle("slow");
            if($(this).parent().next(".sectionInner").css("display") == "none"){
                $(this).parent().next(".sectionInner").show();
            }else{
                $(this).parent().next(".sectionInner").hide();
            }
            $(this).parents(".sectionBox").toggleClass("sectionOpen");
            if ($('#createDetailsForm #wod').find(".sectionBox").hasClass('sectionOpen'))
            {
                $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
            }
            else
            {
                $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
            }
        });
        $('.sectionBoxP2t a.title2').live('hover', function() {
                $(this).attr({title: "Expand Section"});
        });

        $('.sectionBoxP2t.sectionOpen a.title2').live('hover', function() {
            $(this).attr({title: "Collapse Section"});
        });

        $('.sectionBoxP2t. a.title2').click(function(){
            var tabid = jQuery(this).attr('tabid');
            $(tabid).slideToggle("slow");
            $(tabid).toggleClass("sectionOpen");
            $(this).parents(".sectionBoxP2t").toggleClass("sectionOpen");
        });
      
        $('.sectionBox2 a.title2').live('hover', function()
        {
            $(this).attr({title: "Expand Section"});
        });
    
        $('.sectionBox2.sectionOpen a.title2').live('hover', function()
        {
            $(this).attr({title: "Collapse Section"});
        });
    
        $('.sectionBox2. a.title2').click(function()
        {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });
       
        $('.sectionBoxNew. a.title2').click(function(){
            var tabid = jQuery(this).attr('tabid');
            $(tabid).slideToggle("slow");
            $(tabid).toggleClass("sectionOpen");
            $(this).parents(".sectionBoxNew").toggleClass("sectionOpen");
        });
      
        $('.sectionBox2.sectionOpen a.title2').click(function()
        {
            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
        });

        var btstr="FieldSolutions has partnered with DeVry University to deploy the &lsquo;Technician Field Service Real-Life Internship&rsquo; as a credit-bearing program for DeVry University students. <a href='/docs/FieldSolutions_DeVry_University_Press_Release.pdf' target='blank'>Click here</a> for more program details.<br/>Simply check the box to make your Work Orders available either for observation or work under the Internship Program.";
		$('#techworkcontrols').bt(btstr,
		{
			trigger:'click',
			positions:'top',
			fill: 'white',
			cssStyles:{
				color:'black'
			}
		}); 
		//13691
		 var btstr2 = " "+
			"The <span style='text-decoration: underline'>Project Manager</span> is in charge of managing the project on the FieldSolutions system. </br>" +
			"The <span style='text-decoration: underline'>Resource Coordinator</span> is considered the Project Manager's 'backup' and is not a required field. </br>" +
			"The <span style='text-decoration: underline'>ACS Notification POC</span> is the first point of contact for email and phone notifications when technicians do not respond to pre-start reminder calls or back out of a work order. Technicians do not have visibility to the ACS Notification POC phone number or email address. These fields are required for projects utilizing the ACS system. </br>" +
			"The <span style='text-decoration: underline'>Emergency Contact</span> is a technician-facing point of contact for urgent issues. </br>" +
			"Use the <span style='text-decoration: underline'>Technical Support</span> contact to provide technicians with access to an internal or external Help Desk for onsite technical issues. </br>" + 
			"If required for the project, notify technicians to call the <span style='text-decoration: underline'>Check In/Check Out</span> phone number when they arrive on site (they will still need to check in on the FieldSolutions system. </br></br>"+
			"Note that you cannot enter extensions into the Phone# field - it must be a direct line only. If an extension is required, enter the extension behind the Contact's name (Ex: Jane Doe - Ext. 123). </br>"
			;
		$('#contactcontrols').bt(btstr2, {
			trigger:'click',
			positions:'top',
			fill: 'white',
			cssStyles:{
				color:'black',width: '400px',height: '350px',
			}
		}); 
		//End 13691
		
		//824
		$.map(['edit_ProjectManagerPhone', 'edit_ACSNotifiPOC_Phone', 'edit_ResourceCoordinatorPhone', 'edit_EmergencyPhone', 'edit_TechnicalSupportPhone', 'edit_CheckInOutNumber'], function( id )
		{
			$('#'+id).each(formatPhone).blur(formatPhone);
		}); 
		//end 824
    
        $("#all_btn").click(function()
        {
            var buttons = $(this).children('.all_btn');
            $('.sectionBox2. a.title2').click();
            if (buttons.first().hasClass('btnOpened'))
            {
                $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
                $('#createDetailsForm #wod').find('.sectionInner').slideUp("slow").parents('.sectionBox').removeClass('sectionOpen');
            }
            else if (buttons.first().hasClass('btnClosed'))
            {
                $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
                $('#createDetailsForm #wod').find('.sectionInner').slideDown("slow").parents('.sectionBox').addClass('sectionOpen');
            }
        });

        $("#edit_PayMax").blur(function ()
        {
            if ( $(this).val() )
            {
                $("span[id=section4req]").filter( function (index) {return index == 1;}).css("display", "");
            }
            else
            {
                $("span[id=section4req]").filter( function (index) {return index == 1;}).css("display", "none");
            }
        });


        $(".sectionBox .title").each(function(index, value)
        {
<?php foreach ($this->opentabs as $index): ?>
                if (index == <?= $index ?>) {$(this).click();$(this).parent().next(".sectionInner").slideDown("slow");}
<?php endforeach; ?>
        });

        function formatTime( timeObject )
        {
            var r1 = /^(1[0-2]|0?\d)\s*(am|pm)$/i;
            var r2 = /^(1[0-2]|0?\d)\:([0-5]\d)\s*(am|pm)$/i;
            var result;
            var time = $.trim($(timeObject).val()).toUpperCase();

            if ( time && (result = time.match(r1)) != null )
            {
                $(timeObject).val(parseInt(result[1],10).toString() + ":00 " + result[2]);
            }
            else if ( time && (result = time.match(r2)) != null )
            {
                $(timeObject).val(parseInt(result[1],10).toString() + ":" + result[2] + " " + result[3]);
            }
            else
            {
                $(timeObject).val(time);
            }
        }

        $('#edit_StartTime').blur(function ()
        {
            formatTime(this);
        });

        $('#edit_EndTime').blur(function ()
        {
            formatTime(this);
        });

		detailsWidget.updateSignOffDisplay();

        // fix for issue #12741 @author Alex Scherba
<?php if ($this->wo->isProjectAutoAssign): ?>
            el = $('#sec4')
            el.parent().next(".sectionInner").slideToggle("slow");
            el.parents(".sectionBox").toggleClass("sectionOpen");

            if ($('#createDetailsForm #wod').find(".sectionBox").hasClass('sectionOpen')) {
                $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
            }else{
                $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
            }

            $("#pushtotech_collasple").slideToggle("slow");
            $("#pushtotech_collasple").toggleClass("sectionOpen");
            $(this).parents(".sectionBox2").toggleClass("sectionOpen");
<?php endif; ?>
        detailsWidget.initSiteNumberAutoComplete();
        detailsWidget.initWOTabs();
	
<?php if ($this->siteCount > 0): ?>
            detailsWidget.selectSiteButtonEnable(true);
<?php endif; ?>		

		FSMultiselectControl.setForm ("#createDetailsForm");

		cert_controls["client"] = (new FSMultiselectControl ({
			select: "#ClientCredential",
			display: "#CredentialCertificationSelection"
		})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

		cert_controls["public"] = (new FSMultiselectControl ({
			select: "#PublicCertification",
			display: "#PublicCertificationSelection"
		})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

		cert_controls["expert"] = (new FSMultiselectControl ({
			select: "#FSExpert",
			display: "#FSExpertSelection"
		})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

		cert_controls["industry"] = (new FSMultiselectControl ({
			select: "#IndustryCertification",
			display: "#IndustryCertificationSelection"
		})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

		jQuery ("#edit_isProjectAutoAssign").change (function () {
			detailsWidget.enableAutoAssign (jQuery (this).is (":checked"));
			detailsWidget.requireAddress (
				jQuery (this).is (":checked") || jQuery ("#edit_PushWM").is (":checked")
			);
		});

		jQuery ("#edit_PushWM").change (function () {
			detailsWidget.requireAddress (
				jQuery (this).is (":checked") || jQuery ("#edit_isProjectAutoAssign").is (":checked")
			);
		});

		detailsWidget.enableClientPushWM (<?= $this->client->contextPushWMEnabled ?>);
	});
</script>

<script type="text/javascript">
    $( document ).ready( function () {
        if($.browser.mozilla || ($.browser.msie && $.browser.version == '8.0') ){
            $( '#example' ).scrollFollow( {
                speed: 20,
                offset: 230
            } );
        }
        else {
            $( '#example' ).scrollFollow( {
                speed: 20,
                offset: 30
            } );
        }
        //13916
            jQuery("#edit_Project_ID").unbind("change",edit_Project_ID_onChange)
            .bind("change",edit_Project_ID_onChange);
    });
      //13916------------------------------------------------------------
    function showLoader(width,height,showCloseButton)
    {  
        var content = "<div style='width:"+width+"px;' id='comtantPopupID'><div style='text-align:center;height:"+height+"px;background:url(/widgets/images/loader.gif) no-repeat center #fff;'>Loading...</div></div>";
        $("<div></div>").fancybox(
        {
            'autoDimensions' : true,
            'showCloseButton' :showCloseButton,
            'hideOnOverlayClick' : false,
            'enableEscapeButton':false,
            'content': content
        }
        ).trigger('click');        
    }

    function hideLoader()
    {
        $.fancybox.close();
    }

    function cmdCancelPopup_click()
	{
        hideLoader();
    }
    function ProjectAppect_click()      
    {
        ShowWaitingSave();
        jQuery("#comtantPopupID #divError").html("");
        clearProjectFields();
        $('#edit_Project_ID').attr('title', $('#edit_Project_ID option:selected').text());
        detailsWidget.autofillProjectInfo($('#edit_Project_ID option:selected').val(),null,hideLoader,1);
    }		
	
    function ShowWaitingSave()
	{
        if(jQuery("#comtantPopupID #WaitingSave").length <= 0){
            jQuery("#comtantPopupID").append('<div id="WaitingSave" style="position: absolute; width: 100%; text-align: center; left: 0px; height: 100%; top: 0px;display:none;"><div style="height:100%;background:url(\'/widgets/images/loader.gif\') no-repeat scroll center center transparent;">&nbsp;</div></div>');
        }
        jQuery("#comtantPopupID #WaitingSave").show();
    }
   
    function HideWaitingSave()
	{
        jQuery("#comtantPopupID #WaitingSave").hide();
    }
//End 13916
</script>


<div style="width:845px;">
    <div class="cco_nsubbm" style="height:auto;padding-bottom: 0px;">
        <!--458-->
        <div class="cco_ninfo">
            <div id="work_state">
            <table cellspacing="0" cellpadding="0" width="100%"  border="0" >
                <colgroup>
                    <col width="33%">
                    <col width="33%">
                    <col width="33%">
                </colgroup>
                <tr>
                    <td valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" >
                            <colgroup>
                                <col width="90px">
                                <col width="*">
                            </colgroup>
                            <tr class="first_tr">
                                <td >Current State:</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>WIN#:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">Client WO ID#:</td>
                                <td></td>
                            </tr>
                        </table>                    
                    </td>                    
                    <td class="border_left" valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" >
                            <colgroup>
                                <col width="50px">
                                <col width="190px">
                            </colgroup>
                            <tr class="first_tr">
                                <td >Project:</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td >Site #:</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td >Location:</td>
                                <td ></td>
                            </tr>
                            <tr class="last_tr">
                                <td >Route:</td>
                                <td > </td>
                            </tr>
                        </table>                    
                    </td>
                    <td class="border_left" valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0" >
                            <colgroup>
                                <col width="50px">
                                <col width="150px">
                            </colgroup>
                            <tr class="first_tr">
                                <td>Owner:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td >Published:</td>
                                <td><input type="hidden" name="DateEntered" value="" /></td>
                            </tr>
                            <tr>
                                <td >Assigned:</td>
                                <td></td>
                            </tr>
                            <tr class="last_tr">
                                <td>Work Start:</td>
                                <td></td>
                            </tr>
                        </table>                    
                    </td>                
                </tr>
            </table>

            </div>
        </div>
        <!--458-->
        <div id="tabsHolder"class="old_style">
            <!-- the tabs -->
            <ul id="woTabs" class="tabs">
                <li><a id='wodtab' href="#mainContainer" onclick="detailsWidget.showPanel('#wod');detailsWidget.workOrderTabInit()" class="current">Work Order</a></li>
                <li><a id='techtab' href="#mainContainer" onclick="detailsWidget.createWOTabSwitch('tech')">Technicians</a></li>
                <li><a id='docspartstab' href="#mainContainer" onclick="detailsWidget.createWOTabSwitch('docsparts')">Documents &amp; Parts</a></li>
                <li><a id='commcentertab' href="#mainContainer" onclick="detailsWidget.createWOTabSwitch('commcenter')">Contact Center</a></li>
                <li><a id='closeouttab' href="#mainContainer" onclick="detailsWidget.showPanel('#closeout');detailsWidget.closeOutTabInit()">Complete &amp; Approve</a></li>
            </ul>
            <!-- submenu -->
            <!---   <div class="submenu">
                 <ul class="clr">
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('wosApplicant.php?v=<?php echo $this->company ?>&sb=0&ClientID=<?php echo $this->client->getClientId() ?>&WorkOrderID=<?php echo $this->wo->WIN_NUM ?>')"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_view.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('wosViewTechProfile.php?simple=0&v=<?php echo $this->company ?>&TechID=<?php echo $this->wo->Tech_ID ?>')"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_techprofile.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('techs.php?v=<?php echo $this->company ?>&newSearch=1&defaultZip=<?php echo $this->wo->Zipcode ?>')"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_techsearch.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="roll.show(this,event,{popup:'documents',title:'Project Documents',width:260,preHandler:detailsWidget.getWidgetHtml,context:detailsWidget,params:{id:'<?php echo $this->wo->Project_ID ?>',company:'<?php echo $this->company ?>'}});"><img height="30" width="108" border="0" alt="" src="/widgets/css/images/btn_orange_projectdoc.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('wosAddContact.php?v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&email=<?php echo urlencode($this->wo->TechEmail) ?>&Tech_FName=<?php echo urlencode($this->wo->Tech_FName) ?>&Tech_LName=<?php echo addslashes($this->wo->Tech_LName) ?>&fromName=<?php echo urlencode($this->client->getContactName()) ?>&fromEmail=<?php echo $this->client->getEmailPrimary() ?>')"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_makecontact.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('wosViewContactLog.php?v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>', '', {width: 800})"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_contactlog.jpg"></a></li>
                   <li id="submenu_item"><a href="javascript:void(0)" onclick="openPopupWin('wosTimeStamps.php?v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>')"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_activitylog.jpg"></a></li>
                   <li class="last" id="submenu_item"><a href="javascript:void(0)" onclick="detailsWidget.copyWO();"><img height="30" width="92" border="0" alt="" src="/widgets/css/images/btn_orange_copywo.jpg"></a></li>
                 </ul>
               </div>--->
            <!-- submenu -->
        </div>
        <div class="tabsbottomNew">
        </div>
    </div>

    <div class="content old_style labelsnw" style="border:black thin">
        <form action="/widgets/details/update/" method="post" id="createDetailsForm">
            <!-- tab "panes" -->
            <div class="panesnew">
                <div id="wod" class="contentbox" style="display:block;">
                    <div class="content old_style labelsnw">
                        <!-- content box -->
                        <input type="hidden" name="company" value="<?= $this->company ?>" />
                        <div class="gradBox indentTopLarge">
                            <div class="gradBox_1">
                                <div class="gradBox_2_tabs">
                                    <div id="container" class="indentTop10" style="margin-top:0px;">
                                        <div class="section_0">
                                            <table cellpadding="0" cellspacing="0" class="sectionForm" style="padding-left:8px;table-layout:fixed;">
                                                <colgroup>
                                                    <col width="145px"/>
                                                    <col width="150px" />
                                                    <col width="60px" />
                                                    <col width="150px" />
                                                    <col width="*" />
                                                </colgroup>
                                                <tr>
                                                    <td >
                                                        <label class="required" ><span>*</span>Work Order Owner</label>
                                                    </td>
                                                    <td colspan="3">
                                                        <select name="WorkOrderOwner" id="workOrderOwner" style="width: 352px;">
															<?=$this->ownerDropdownOptions($allClients->data, $this->company, $_SESSION["UserName"], $isGPM);?>
														</select>
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <span class="required">Required Information*</span>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <label class="required">Project*</label>
                                                    </td>
                                                    <td colspan="3">
                                                    <!--14141-->     
                                                          <?php
                                                              $woStatus = $this->wo->Status;
                                                              $woStatus = ucwords($woStatus);
                                                              if($woStatus != 'In Accounting' && $woStatus !='Completed' ){
                                                                  $woStatus = '';
                                                              }else{
                                                                  $woStatus = 'disabled';
                                                              }
                                                            ?>
                                                        <!--13916-->
                                                         <select title="" type="text" id="edit_Project_ID" name="Project_ID" onfocus="saveCurrentProject()" style="width: 352px;" <?=$woStatus; ?>>
                                                         <!--End 14141-->     
                                                            <option value="" <?php if ($prj->Project_Name == "Default Project") echo'selected'; ?>>Select a Project</option>
                                                            <?php foreach ($this->projects as $prj) : ?>
                                                                <?php if ($prj->Active && $prj->Project_Name == "Default Project"): ?><option title="<?= $prj->Project_Name ?>" value="<?= $prj->Project_ID ?>" ><?= $prj->Project_Name ?></option><?php endif; ?>
                                                            <?php endforeach; ?>
                                                            <?php foreach ($this->projects as $prj) : ?>
                                                                <?php if ($prj->Active && $prj->Project_Name != "Default Project"): ?><option title="<?= $prj->Project_Name ?>" value="<?= $prj->Project_ID ?>" ><?= $prj->Project_Name ?></option><?php endif; ?>
                                                            <?php endforeach; ?>
                                                        </select>
                                                    </td>
                                                    <td>
                                                         <?php if ($this->company == 'NCR'): ?>
                                                            <label style="padding: 0px 31px 0px 15px">
                                                                <?= $this->escape($this->company) ?> Key</label>
                                                            <input style="width:150px" id="edit_QBID" name="QBID" value="<?= $this->escape($this->wo->QBID) ?>"/>
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="required">Client Work Order ID# *</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" id="edit_WO_ID" name="WO_ID" class="input140w" value="" />
                                                    </td>
                                                    <td>
                                                        <label style="padding: 0px 3px 0px 15px">Region</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" id="edit_Region" name="Region" class="width140" value="<?= $this->escape($this->wo->Region) ?>" />
                                                    </td>
                                                    <td>
                                                       <?php if ($this->isGPM): ?>
                                                            <label style="padding: 0px 3px 0px 15px">Service Type</label>
                                                            <input style="width:150px" id="edit_ServiceTypeValue" disabled="true" value="<?= $this->escape($this->wo->ServiceType) ?>"/>
                                                            <input type="hidden" value="" id="edit_ServiceTypeId" name="ServiceTypeId" />
                                                        <?php endif; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="">
                                                        <label>Client Purchase Order#</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" id="edit_PO" name="PO" class="input140w floatLeft" value="<?= $this->escape($this->wo->PO) ?>" />
                                                    </td>
                                                    <td>
                                                        <label style="padding: 0px 3px 0px 15px">Route</label>
                                                    </td>
                                                    <td>
                                                        <input type="text" id="edit_Route" name="Route" onblur="detailsWidget.onBluer(this);" class="width140" value="<?= $this->escape($this->wo->Route) ?>" />
                                                    </td>
                                                    <td>
                                                         <?php  //if ($this->isGPM):
                                                                   if ($this->isGPM){  //CH-605
                                                          ?>
                                                            <label style="padding: 0px 6px 0px 15px">Legal Entity</label>
                                                            <select  style="width:150px"  id='edit_EntityTypeId' name="EntityTypeId" >
                                                                <option value="">Select Entity</option>
                                                                <?php if(!empty($this->EntityTypeList)){
                                                                    foreach($this->EntityTypeList as $item){
                                                                ?>
                                                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                                                <?php }
                                                                } ?>
                                                            </select>          
                                                        <?php //endif;  CH-605
                                                                   } 
                                                                  else{   ?> 
                                                       <label style="display: none; padding: 0px 6px 0px 15px;">Legal Entity</label>
                                                            <select  style=" display: none; width:150px;"  id='edit_EntityTypeId' name="EntityTypeId" >
                                                                <option value="">Select Entity</option>
                                                                <?php if(!empty($this->EntityTypeList)){
                                                                    foreach($this->EntityTypeList as $item){
                                                                ?>
                                                                <option value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                                                <?php }
                                                                } ?>
                                                            </select>          
                                                        <?php 
                                                        }
                                                        // end CH-605
                                                        ?>      

                                                        
                                                        
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD; padding-top:6px;" align="right">Publish &gt;&gt;</td>
                                                    <td colspan="3" style="padding-top:6px;">
                                                        <input checked="true" type="checkbox" id="edit_ShowTechs" name="ShowTechs" value="1" class="floatLeft noIndent"  />
                                                        <div class="tColor3 innerLeftSmall smallText floatLeft">Check Box to Show Work Order to Tech(s)</div>
                                                    </td>
                                                    <td>
                                                       
                                                    </td>
                                                </tr>
                                                <tr class="defaultProjectMsg">
                                                    <td colspan="5">&#160;</td>
                                                </tr>
                                                <tr class="defaultProjectMsg">
                                                    <td colspan="5">&quot;Default Project&quot; is the project selection. Only limited data is pre-filled in this work order. Please be sure you wish to continue creating this
                                                        work order under &quot;Default Project&quot; before proceeding or select another project template</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <?php if ($this->success): ?>
                                            <!-- sections -->
                                            <!-- section1 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">1. Basic Work Order Information</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" id="saveButton01" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section1.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section1 -->
                                            <!-- section2 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">2. Instructions, Documents, Parts</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section2.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section2 -->
                                            <!-- section3 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title" id="section3"><div style="margin-top:10px; width:100%;">3. Communications Center</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title=""  class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section3.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section3 -->
                                            <!-- section4 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a id='sec4' class="title"><div style="margin-top:10px; width:100%;">4. Tech Assignment &amp; Pay</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section4.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section4 -->
                                            <!-- section5 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">5. Check-In Info &amp; Client Notes</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section5.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section5 -->
                                            <!-- section6 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">6. Site Completion Information</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section6.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section6 -->
                                            <!-- section7 -->
                                            <!--376-->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">7. Financials &amp; Approval</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section7.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section7 -->
                                            <!-- section8 -->
                                            <div class="sectionBox">
                                                <div class="gradBox_1">
                                                    <div class="gradBox_2">
                                                        <div class="gradBox_3">
                                                            <div class="gradBox_4">
                                                                <div class="sectionBox_titleNew"><a class="title"><div style="margin-top:10px; width:100%;">8. Additional Work Order Comments</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                <?= $this->render("details/create/section8.phtml") ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- section8 -->
                                            <!-- sections -->
                                        <?php else : ?>
                                            <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') : ?>
                                                <div><?= $this->error ?></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var siblingSpans = document.getElementById('createDetailsForm').getElementsByTagName('span'); for(var i=0;i<siblingSpans.length;i++) { if(siblingSpans[i].className=='required_tech') { if (document.getElementById('edit_Tech_ID').value!='') { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}
                        </script>
                        <!-- content box -->
                    </div>
                </div>
                <div id="tech" class="contentbox">
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div  class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">Tech Assignment</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Tech Assignment-->
                                        <div id="techasgn" class='sectionInner'>
                                        </div>
                                    </div></div></div></div></div>	
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="techglancetitle"><div style="margin-top:10px; width:100%;">Assigned Tech Profile<div class="sectionWINNew">WIN #<?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Tech at a Glance -->
                                        <div id="techglance" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe id="techglanceiframe" class='techglance'></iframe>			
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="applicantstitle"><div style="margin-top:10px; width:100%;">Applicants<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Applicants-->
                                        <div id="applicants" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe class='applicants'></iframe>
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">My Techs<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--My Tech-->
                                        <div id="mytechs" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe class="mytechs"></iframe>			
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_title"><a class="title"  title="Expand Section">Find Techs<br/><div class="sectionWIN">WIN# <?= $this->wo->WIN_NUM ?></div></a></div>
                                        Find Techs
                                        <div id="findtechs" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe class='findtechs'></iframe>
                                        </div>
                                    </div>
                                </div></div></div></div></div>
                <div id="docsparts" class="contentbox">
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="projectdocstitle"><div style="margin-top:10px; width:100%;">Project Documents<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Project Documents-->
                                        <div id="prjdocs" class='sectionInner'>
                                            <? /* $this->render('/sections/project-documents.phtml') */ ?>

                                        </div>
                                    </div></div></div></div></div>		
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div  class="sectionBox_titleNew"><a class="title" title="Expand Section" id="wodocstitle"><div style="margin-top:10px; width:100%;">Work Order Documents<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!---WO Documents-->
                                        <div id="wodocs" class='sectionInner'>

                                            <? /* $this->render('/sections/documents.phtml') */ ?>
                                            <table id="wodocslist"></table>

                                        </div>
                                    </div></div></div></div></div>		
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div  class="sectionBox_titleNew"><a class="title" title="Expand Section" id="techuploadstitle"><div style="margin-top:10px; width:100%;">Technician Uploads<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!---Tech Documents-->
                                        <div id="techdocs" class='sectionInner'>
                                            <? /* $this->render('/sections/tech-documents.phtml') */ ?>
                                            <table id="techdocslist"></table>

                                        </div>
                                    </div></div></div></div></div>		
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="partsmgrtitle"><div style="margin-top:10px; width:100%;">FS - Parts Manager<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Parts Manager-->
                                        <div id="partsmgr" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe class='partsmgr'></iframe>
                                        </div>
                                    </div></div></div></div></div>		
                </div>
                <div id="commcenter" class="contentbox">
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="mkcontacttitle"><div style="margin-top:10px; width:100%;">Email Center<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Make Contact-->
                                        <div id="mkcontact" class='sectionInner'>
                                            <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/wosAddContact.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&email=<?php echo urlencode($this->wo->TechEmail) ?>&Tech_FName=<?php echo urlencode($this->wo->Tech_FName) ?>&Tech_LName=<?php echo addslashes($this->wo->Tech_LName) ?>&fromName=<?php echo urlencode($_SESSION["UserName"]) ?>&fromEmail=<?php echo $this->client->getEmailPrimary() ?>&quot;,850, 400)"><img src="/widgets/css/images/mail1.gif"/><span>Contact (email/phone log) assigned technician</span></a></div>
                                            <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/projectBackupTechBlast.php?isLB=1&v=<?php echo $this->company ?>&pid=<?= $this->wo->Project_ID; ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&fromName=<?php echo urlencode($this->client->getContactName()) ?>&quot;, 800, 350)"><img src="/widgets/css/images/mail1.gif"/><span>Email all backup technicians (bidders) for all work orders in this project</span></a></div>
                                            <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/recruitmentEmail.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&fromName=<?php echo urlencode($this->client->getContactName()) ?>&quot;, 800, 350)"><img src="/widgets/css/images/mail1.gif"/><span>Send recruitment email for all work orders in this project</span></a></div>
                                            <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/projectBlast.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&quot;, 800, 350)"><img src="/widgets/css/images/mail1.gif"/><span>Email all assigned technicians to this project</span></a></div>
                                        </div>
                                    </div></div></div></div></div>		
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">Contacts and ACS Settings</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Contacts and ACS Settings-->
                                        <div id="contacts" class='sectionInner'>
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">Contact Log<div class="sectionWINNew">WIN# <?= $this->wo->WIN_NUM ?></div></div></a></div>
                                        <!--Contact Log-->
                                        <div id="contactlog" class='sectionInner'><div id="loading">Loading . . .</div>
                                            <iframe class="contactlog"></iframe>
                                        </div>
                                    </div></div></div></div></div>		
                </div>
                <div id="closeout" class="contentbox">	
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">Check-in Info and Client Notes</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Section 5-->
                                        <div id='closeOut5' class='sectionInner'>
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title"   title="Expand Section"><div style="margin-top:10px; width:100%;">Site Completion Information</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Section 6-->
                                        <div id='closeOut6' class='sectionInner'>
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title"   title="Expand Section"><div style="margin-top:10px; width:100%;">Financials & Approval</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Section 7-->
                                        <div id='closeOut7' class='sectionInner'>		
                                        </div>
                                    </div></div></div></div></div>
                    <div class="sectionBox">
                        <div class="gradBox_1">
                            <div class="gradBox_2">
                                <div class="gradBox_3">
                                    <div class="gradBox_4">
                                        <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;">Other Information</div></a><div class="upd_btnNew"><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                        <!--Section 8-->
                                        <div id='closeOut8' class='sectionInner'>
                                        </div>
                                    </div></div></div></div></div>

                </div>


		</div></form>
	</div>
</div>
<script>
	$('#edit_Qty_Devices_Display').blur(function (){
		detailsWidget.updateFinalPay("<?= $this->name ?>");
	});
	var created = true;
</script>


<?= $this->render("details/includes/suggested-tech-pay.phtml") ?>
