<?

if (!empty($this->expenseReporting) && $this->EnableColspanTechPay)
{
    ?>
<div class="righthand_col" style="padding-left: 10px;padding-top: 10px;"><input disabled="disabled"  <?= $this->EnableColspanTechPay ? "checked='checked'" : "" ?> type="checkbox" value="1" id="EnableExpenseReportingTechPay" name="EnableExpenseReportingTechPay"  />&nbsp;<span class="subheader1" style="padding-top: 2px;">Expense Reporting Enabled</span></div>
    <table class="tableContentWDS tableContentWDSGUI righthand_col"  cellspacing="5" width="100%" style="padding-top: 10px;padding-left: 20px;">
        <thead>
        <th align="left">Billable Category</th>
        <th align="left">Description (Note to Tech)</th>
        <th align="left">Reimbursable thru <br>FieldSolutions</th>
        <th align="left">Require Document <br>Upload if Claimed</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <input disabled="disabled" type="checkbox" id="masterCategoryAll" />&nbsp;<span style="text-decoration: underline;">All</span>
            </td>
            <td>
                (20 Character Limit)
            </td> 
            <td >
                <input disabled="disabled" type="checkbox" id="masterReimbursableAll" />&nbsp;<span style="text-decoration: underline;">All</span>
            </td>
            <td>
                <input disabled="disabled" type="checkbox" id="masterRequireDocumentAll" />&nbsp;<span style="text-decoration: underline;">All</span>
            </td>
        </tr>
        <?php
        if (!empty($this->expenseReporting))
        {
            foreach ($this->expenseReporting as $item)
            {
                ?>    
                <tr class="trPeyTech">
                    <td>
                        <input disabled="disabled" type="checkbox" value="1" <?= $item["ischecked"] ? "checked='checked'" : "" ?> class="masterCategory" />&nbsp;
                        <?= $item["bcatname"] ?>
                    </td>
                    <td>
                        <?= $item["bcatdesc"] ?>
                    </td> 
                    <td>
                        <input disabled="disabled" <?= $item["reimbursable_thru_fs"] ? "checked='checked'" : "" ?> type="checkbox" value="1"  class="masterReimbursable" />
                    </td>
                    <td>
                        <input disabled="disabled" type="checkbox" value="1" <?= $item["require_doc_upl"] ? "checked='checked'" : "" ?> class="masterRequireDocument" />
                    </td>
                </tr>   
                <?php
            }
        }
        ?>
    </tbody>
    </table>
    <script>
        function reimbursable_thru_fs_onClick(){
            var CountCheckBox=jQuery(".reimbursable_thru_fs").length ;
            var numCheckboxChecked=jQuery(".reimbursable_thru_fs:checked").length;
                        
            if(CountCheckBox==numCheckboxChecked)
            {
                jQuery("#reimbursable_thru_fs_All").attr("checked","checked");
            }
            else
            {
                jQuery("#reimbursable_thru_fs_All").attr("checked","");             
            }

        }    

        function bcatapproved_onClick(){
            var CountCheckBox=jQuery(".bcatapproved").length ;
            var numCheckboxChecked=jQuery(".bcatapproved:checked").length;
            if(CountCheckBox==numCheckboxChecked)
            {
                jQuery("#bcatAll").attr("checked","checked");
            }
            else
            {
                jQuery("#bcatAll").attr("checked","");             
            }

        }
        function initPage(){
            var CountCheckBoxreimbursable=jQuery(".reimbursable_thru_fs").length ;
            var numCheckboxCheckedreimbursable=jQuery(".reimbursable_thru_fs:checked").length;
                        
            if(CountCheckBoxreimbursable==numCheckboxCheckedreimbursable)
            {
                jQuery("#reimbursable_thru_fs_All").attr("checked","checked");
            }
            else
            {
                jQuery("#reimbursable_thru_fs_All").attr("checked","");             
            }

            var CountCheckBoxbcatapproved=jQuery(".bcatapproved").length ;
            var numCheckboxCheckedbcatapproved=jQuery(".bcatapproved:checked").length;
            if(CountCheckBoxbcatapproved==numCheckboxCheckedbcatapproved)
            {
                jQuery("#bcatAll").attr("checked","checked");
            }
            else
            {
                jQuery("#bcatAll").attr("checked","");             
            }
        }
               
        jQuery(document).ready(function(){ 
            initPage();
            jQuery(".reimbursable_thru_fs")
            .unbind("click",reimbursable_thru_fs_onClick)
            .bind("click",reimbursable_thru_fs_onClick);
            jQuery(".bcatapproved")
            .unbind("click",bcatapproved_onClick)
            .bind("click",bcatapproved_onClick);    
        });    
                
    </script>
    <?
}
?>