<?php
require_once($_SERVER["DOCUMENT_ROOT"] . "/library/script_caching.php");
//echo ($_SERVER["DOCUMENT_ROOT"]);
$WosClass = new Core_Api_WosClass();//14163
$WO_ID=$this->wo->WO_ID;//14163                                                                  
$WOID = $WosClass->trim_characters($WO_ID,50);//14163


$timepart3 = 0;
$timepart2 = "";
$timepart1 = "";

for ($i = 0; $i < 24; $i++) {
    for ($j = 1; $j < 5; $j++) {
        if ($j == 1)
            $timepart2 = "00";
        else
            $timepart2 = ($j - 1) * 15;

        if ($i < 12 || $i == 24)
            $timepart3 = "AM";
        else
            $timepart3 = "PM";


        if ($i == 0)
            $timepart1 = "12";
        else if ($i < 13 && $i > 0)
            $timepart1 = $i;
        else
            $timepart1 = $i - 12;

        $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
        $this->TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
    }
}

if ($this->wo) :
    $this->renderedFromWO = true;

    function displayTime_obmitzeroleading($strTime) {
        $pos1 = stripos($strTime, "0");
        if ($pos1 === false || $pos1 > 0) {
            return $strTime;
        } else {
            return substr($strTime, 1);
        }
    }
    ?>
    <?php
    $Core_Api_WosClass = new Core_Api_WosClass();
    $this->srcSaveTechToSiteBtn = "/widgets/css/images/Btn_SaveTech_g.png";
    $this->srcviewTechBtn = $Core_Api_WosClass->Exists_TechsInSite($this->wo->SiteNumber, $this->wo->Project_ID);
    $this->SaveTechToSiteBtn = $Core_Api_WosClass->Exists_AssignedTech($this->wo->WIN_NUM);
    if ($this->SaveTechToSiteBtn) {
        $this->srcSaveTechToSiteBtn = "/widgets/css/images/Btn_SaveTech.png";
    }
    ?>
    <?php
    $allClients = $this->allClients;
    $isGPM = $this->isGPM;
    foreach ($allClients as $client) {
        print $client->ContactName;
    }
    
    $city = $this->escape($this->wo->City); 
    $state = $this->escape($this->wo->State);
    $zip = $this->escape($this->wo->Zipcode);
    $csz = empty($city)?'':$city.', ';
    $csz.=$state.' '.$zip;
    
    $workStart = "";
    if (!empty($this->WOVisitList))
    {
        $visitList = $this->WOVisitList;
        $baseVisit = $visitList[0];
        $workStartDate = $baseVisit["StartDate"];
        $workStartDate = $this->displayDate('n/j/Y', $workStartDate);
        $workStart = "";
        if(!empty($workStartDate)) 
        {
           $workStart = $workStartDate .' '.$baseVisit["StartTime"];
        }
    }
    $ownerContactName = "";
    $clients = $allClients->data;
    foreach ($clients as $client) 
    {
        if(strtolower(trim($this->wo->WorkOrderOwner)) == strtolower(trim($client->UserName)))
        {
            $ownerContactName = $client->ContactName;
            break;
        }
        else
        {
            continue;
        }
    }
    if(empty($ownerContactName)) $ownerContactName = trim($this->wo->WorkOrderOwner);

    $assignedDate = "";
    /*
    if(!empty($this->wo->Date_Assigned)) $assignedDate = $this->displayDate('n/j/Y h:i A', $this->wo->Date_Assigned);
    */
    if(!empty($this->wo->Tech_ID)) 
    {
        $lastAssignedDate = API_Timestamp::getLastWinAssignedTimestamp($this->wo->WIN_NUM);    
        $assignedtime = $this->displayDate('h:i A', $lastAssignedDate);
        $assignedtime = (substr($assignedtime,0,1)==0)?substr($assignedtime,(0-strlen($assignedtime)+1)):$assignedtime;
        $assignedDate = $this->displayDate('n/j/Y', $lastAssignedDate).' '.$assignedtime;
    }
    
    $publishedDate = "";
    if($this->wo->ShowTechs==1)
    {
        $publishedDate = $this->wo->DateEntered;
        $publishedime = $this->displayDate('h:i A', $lastAssignedDate);
        $publishedime = (substr($publishedime,0,1)==0)?substr($publishedime,(0-strlen($publishedime)+1)):$publishedime;
        $publishedDate = $this->displayDate('n/j/Y', $publishedDate).' '.$publishedime;
    }
    else if($this->wo->ShowTechs!=1 && strtolower($this->wo->Status) == "assigned")
    {
        $publishedDate = API_Timestamp::getLastWinAssignedTimestamp($this->wo->WIN_NUM);
        $publishedime = $this->displayDate('h:i A', $publishedDate);
        $publishedime = (substr($publishedime,0,1)==0)?substr($publishedime,(0-strlen($publishedime)+1)):$publishedime;
        $publishedDate = $this->displayDate('n/j/Y', $publishedDate).' '.$publishedime;
    }
    ?>
    <!--script type="text/javascript" src="/widgets/js/FSTechSchedule.js"></script-->
    <?php script_nocache ("/widgets/js/FSTechSchedule.js"); ?>
    <script type="text/javascript" src="/widgets/js/jquery.dateFormat-1.0.js"></script>

    <!--tinyMCE-->
    <script type="text/javascript">
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector :  /(txtarea_f2)/,
            theme : "advanced",
            plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,|,bullist,numlist,|,removeformat",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            theme_advanced_resize_horizontal : false,
            width : "638",
            theme_advanced_path : false,
            // Skin options
            skin : "o2k7",
            skin_variant : "silver"
        });
        tinyMCE.init({
            // General options
            mode : "specific_textareas",
            editor_selector :  /(txtarea_f1)/,
            theme : "advanced",
            plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

            // Theme options
            theme_advanced_buttons1 : "bold,italic,underline,link,|,bullist,numlist,|,removeformat",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            theme_advanced_resize_horizontal : false,
            width : "638",
            theme_advanced_path : false,
            // Skin options
            skin : "o2k7",
            skin_variant : "silver"
        });
    </script>
    
    <style>
        .old_style .panes div.contentbox{
            margin-top: 0px;
        }
        .sectionTitleNew{
            width: 230px;
            float: left;
            height: 21px;
/*            border-bottom: 1px solid #F69630;*/
        }
        .expandable { background-color: #FF0000; }

		/* FS_RUSH credential selections */
		.multiselect_control { padding: 2px 0 1px 0; }
		.multiselect_control .ms_close_box { background: url('/widgets/images/fsrush_cred_remove_12x12.gif') no-repeat bottom; display: inline-block; width: 12px; height: 14px; cursor: pointer; }
		.multiselect_control .ms_selection { font: normal 12px Arial, Helvetica, sans-serif; }
		.multiselect_control .ms_level { font: normal 12px Arial, Helvetica, sans-serif; }
    </style>

    <script type="text/javascript">
        var schedule = new FSTechSchedule({width: 940, height: 450});
    </script>

    <script type="text/javascript">
        var isInvoiced = "<?= $this->wo->Invoiced ? 1 : 0 ?>" == "1";
        var oldProject = "<?= addslashes($this->wo->Project_Name) ?>";
		var cert_controls = {};

        function saveCurrentProject()
        {
            oldProject = $('#edit_Project_ID option:selected').text();
        }

        function clearDefaultProjectFields()
        {
            if (oldProject == "Default Project") {
                $("#edit_WO_Category_ID").val("");
                $("#edit_Headline").val("");
                $("#edit_PcntDeduct").removeAttr('checked');
                $("#edit_FixedBid").removeAttr('checked');
                if ($("#edit_Ship_Contact_Info").val() == "viewable only by the assigned tech") $("#edit_Ship_Contact_Info").val("");		
            }
        }
                                                                                                                                                                    
        var techProfile;
        var recruitmentEmailClose;
        function commentDone()
        {
            setTimeout("$.fancybox.close();", 1000);
            techProfile.loadWoCommentsInfo(<?= $this->wo->WIN_NUM ?>);
        }

        function recruitmentEmailDone()
        {
            //      $.fancybox.close();
            $('<div></div>').fancybox(
            {
                'autoDimensions' : false,
                'width' : 300,
                'height' : 100,
                'transitionIn': 'none',
                'transitionOut' : 'none',
                'onClosed' : function() {
                    if (recruitmentEmailClose)
                        clearTimeout(recruitmentEmailClose);
                },
                'content' : "<div style='text-align:center'>Success!</div><br/>Your Project Recruitment Emails have been sent! Please note that multiple sites in the same vicinity may be combined."
            }).trigger('click');
            if (recruitmentEmailClose)
                clearTimeout(recruitmentEmailClose);
            recruitmentEmailClose = setTimeout("$.fancybox.close();", 6000);
        }
                                                                                                                                                                    
        $(document).ready(function()
        {
        	var expand_all = true;

			detailsWidget.updateSignOffDisplay();

            techProfile = new FSClientTechProfile({container: 'wr', tab: 'client', companyID: '<?= $_GET['v'] ?>',  techId: $('#edit_Tech_ID').val(), clientID: '<?= $_SESSION['ClientID'] ?>', win :'<?= $this->wo->WIN_NUM ?>'});
            techProfile.loadWoCommentsInfo(<?= $this->wo->WIN_NUM ?>);

            $('.sectionBox a.title').live('hover', function() {
                $(this).attr({title: "Expand Section"});
            });
                                                                                                                                                                        
            $('.sectionBox.sectionOpen a.title').live('hover', function() {
                $(this).attr({title: "Collapse Section"});
            });
        var btstr="FieldSolutions has partnered with DeVry University to deploy the &lsquo;Technician Field Service Real-Life Internship&rsquo; as a credit-bearing program for DeVry University students. <a href='/docs/FieldSolutions_DeVry_University_Press_Release.pdf' target='blank'>Click here</a> for more program details.<br/>Simply check the box to make your Work Orders available either for observation or work under the Internship Program.";
    $('#techworkcontrols').bt(btstr,
    {
        trigger:'click',
        positions:'top',
        fill: 'white',
        cssStyles:{
            color:'black'
        }
    }); 
	//13691
	 var btstr2 = " "+
		"The <span style='text-decoration: underline'>Project Manager</span> is in charge of managing the project on the FieldSolutions system. </br>" +
		"The <span style='text-decoration: underline'>Resource Coordinator</span> is considered the Project Manager's 'backup' and is not a required field. </br>" +
		"The <span style='text-decoration: underline'>ACS Notification POC</span> is the first point of contact for email and phone notifications when technicians do not respond to pre-start reminder calls or back out of a work order. Technicians do not have visibility to the ACS Notification POC phone number or email address. These fields are required for projects utilizing the ACS system. </br>" +
		"The <span style='text-decoration: underline'>Emergency Contact</span> is a technician-facing point of contact for urgent issues. </br>" +
		"Use the <span style='text-decoration: underline'>Technical Support</span> contact to provide technicians with access to an internal or external Help Desk for onsite technical issues. </br>" + 
		"If required for the project, notify technicians to call the <span style='text-decoration: underline'>Check In/Check Out</span> phone number when they arrive on site (they will still need to check in on the FieldSolutions system. </br></br>"+
		"Note that you cannot enter extensions into the Phone# field - it must be a direct line only. If an extension is required, enter the extension behind the Contact's name (Ex: Jane Doe - Ext. 123). </br>"
		;
    $('#contactcontrols').bt(btstr2,
    {
		
        trigger:'click',
        positions:'top',
        fill: 'white',
        cssStyles:{
            color:'black',width: '400px',height: '350px',
        }
    }); 
	//End 13691
        //871 
	 var btstr3 = "WIN-Tags&#8482; allow for Project-level reporting on On-Time Performance, Site Completion Results, Technician Performance, and more.";
        $('#wintaginfocontrols').bt(btstr3,
        {

            trigger:'click',
            positions:'right',
            fill: 'white',
            cssStyles:{color:'black',width: '300px',height: '50px'}
        }); 
	//end 871
            function ToggleTabClick(event){
                //$(event).parent().next(".sectionInner").slideToggle("slow");
                if($(event).parent().next(".sectionInner").css("display") == "none"){
                    $(event).parent().next(".sectionInner").show();
                }else{
                    $(event).parent().next(".sectionInner").hide();
                }
                $(event).parents(".sectionBox").toggleClass("sectionOpen");
                var newWidth = $(event).parents("div.clear").width();
                $("#dashFrame", parent.document).width(newWidth);
                var newHeight = $(event).parents("div.clear").height();
                $("#dashFrame", parent.document).width(newHeight);

                if ($('#updateDetailsForm #wod').find(".sectionBox").hasClass('sectionOpen')) {
                    $('#all_btn').attr('title','Collapse Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_up.gif')");
                }else{
                    $('#all_btn').attr('title','Expand Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_down.gif')");
                }
            }                                                                                                                                                          
            $('.sectionBox. a.title').click(function(){
                ToggleTabClick(this);
                
            });
                                                                                                                                                                        
            $('.sectionBox.sectionOpen a.title').click(function(){
                $(this).parent().next(".sectionInner").slideToggle("slow");
                $(this).parents(".sectionBox").toggleClass("sectionOpen");
                                                                                                                                                                    		
                if ($('#updateDetailsForm #wod').find(".sectionBox").hasClass('sectionOpen')) {
                    $('#all_btn').attr('title','Collapse Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_up.gif')");
                }else{
                    $('#all_btn').attr('title','Expand Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_down.gif')");
                }
            });
                                                                                                                                                                        
            $('.panes #wobreaks a.title').click(function(){
                $(this).parent().next('div').slideToggle('slow');
                resizeIframe();
            });


            $('.sectionBoxP2t a.title2').live('hover', function() {
                $(this).attr({title: "Expand Section"});
            });
                                                                                                                                                                        
            $('.sectionBoxP2t.sectionOpen a.title2').live('hover', function() {
                $(this).attr({title: "Collapse Section"});
            });
                                                                                                                                                                        
            $('.sectionBoxP2t. a.title2').click(function(){
                var tabid = jQuery(this).attr('tabid');
                $(tabid).slideToggle("slow");
                $(tabid).toggleClass("sectionOpen");
                $(this).parents(".sectionBoxP2t").toggleClass("sectionOpen");
            });
            //13376
            $('.sectionBoxNew. a.title2').click(function(){
                var tabid = jQuery(this).attr('tabid');
                $(tabid).slideToggle("slow");
                $(tabid).toggleClass("sectionOpen");
                $(this).parents(".sectionBoxNew").toggleClass("sectionOpen");
            });
                                                                                                                
            $('.sectionBoxP2t.sectionOpen a.title2').click(function(){
                $("#pushtotech_collasple").slideToggle("slow");
                $("#pushtotech_collasple").toggleClass("sectionOpen");
                $(this).parents(".sectionBoxP2t").toggleClass("sectionOpen");
            });

                                                                                                                
            $("#all_btn").click(function(){
                var buttons = $('.sectionBox a.title');
                var expand = $('#all_btn').attr('title') == 'Expand Entire Work Order';

                jQuery.each (buttons, function () {
                	if ($(this).hasClass ("expandable")) {
	                	if (expand) {
		                	if ($(this).css("background-image").search ("triangle_up") == -1)
		                		this.click ();
	                	}
	                	else {
		                	if ($(this).css("background-image").search ("triangle_up") != -1)
		                		this.click ();
	                	}
                	}
                });
            });

            $("#edit_PayMax").blur(function () {
                if ( $(this).val() ) {
                    $("span[id=section4req]").filter( function (index) {return index == 1;}).css("display", "");
                }
                else {
                    $("span[id=section4req]").filter( function (index) {return index == 1;}).css("display", "none");
                }
            });


            $(".sectionBox .title").each(function(index, value) {

                <?php foreach ($this->opentabs as $index): ?>
                if (index == <?= $index ?>) {
                    ToggleTabClick(this);
                    $(this).parent().next(".sectionInner").slideDown("slow");
                }
                <?php endforeach; ?>
            });
                                                                                                                                                                    	
            function formatTime( timeObject )
            {
                var r1 = /^(1[0-2]|0?\d)\s*(am|pm)$/i;
                var r2 = /^(1[0-2]|0?\d)\:([0-5]\d)\s*(am|pm)$/i;
                var result;
                var time = $.trim($(timeObject).val()).toUpperCase();

                if ( time && (result = time.match(r1)) != null ) {
                    $(timeObject).val(parseInt(result[1],10).toString() + ":00 " + result[2]);
                } else if ( time && (result = time.match(r2)) != null ) {
                    $(timeObject).val(parseInt(result[1],10).toString() + ":" + result[2] + " " + result[3]);
                } else {
                    $(timeObject).val(time);
                }
            }

            $('#edit_StartTime').blur(function () {
                formatTime(this);
            });

            $('#edit_EndTime').blur(function () {
                formatTime(this);
            });
            $('#edit_Qty_Devices').blur(function (){
                detailsWidget.updateFinalPay("<?= $this->name ?>");
            });
            $('#edit_Qty_Devices_Display').blur(function (){
                detailsWidget.updateFinalPay("<?= $this->name ?>");
            });
            $('#edit_Qty_Visits_Display').blur(function (){
                detailsWidget.updateFinalPay("<?= $this->name ?>");
            });
            function updateFinalPay_Wo()
            {
                detailsWidget.updateFinalPay("<?= $this->name ?>");
                                                                                                                                                                  
            }
            $('#edit_Tech_Bid_Amount').unbind("blur",updateFinalPay_Wo).bind("blur",updateFinalPay_Wo);
            $('#edit_Approved').click(function () {
                if( $('#edit_Approved').attr('checked')){
                    if($('input[name=SATRecommended]:checked').length == 0)
                        $('#edit_SATRecommended3').attr('checked', 'checked');
                    if($('input[name=SATPerformance]:checked').length == 0)
                        $('#edit_SATPerformance3').attr('checked', 'checked');
                }
            });

            $('#edit_MarkIncompleteV').click(function () {
                if ($('#edit_MarkIncompleteV').attr('checked')) {
                    $('#section6req').removeClass('displayNone');
                    $('#edit_TechMarkedComplete').removeAttr('checked');
                    //            $('#edit_MissingComments').text("We realize this work order has not been marked site complete yet, however, the work is not done and you need to get instructions how to complete in order to be paid.");
                }else{
                    $('#section6req').addClass('displayNone');
                }
            });
            // fix for issue #12741 @author Alex Scherba
    <?php if ($this->wo->isProjectAutoAssign): ?>
                el = $('#sec4')
                el.parent().next(".sectionInner").slideToggle("slow");
                el.parents(".sectionBox").toggleClass("sectionOpen");

                if ($('#updateDetailsForm #wod').find(".sectionBox").hasClass('sectionOpen')) {
                    $('#all_btn').attr('title','Collapse Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_up.gif')");
                }else{
                    $('#all_btn').attr('title','Expand Entire Work Order').css ("background-image", "url('/widgets/css/images/triangle_down.gif')");
                }

                $("#pushtotech_collasple").slideToggle("slow");
                $("#pushtotech_collasple").toggleClass("sectionOpen");
                $(this).parents(".sectionBoxP2t").toggleClass("sectionOpen");
    <?php endif; ?>
            detailsWidget.initSiteNumberAutoComplete();
            detailsWidget.initWOTabs();
                                                                                                                                                                    	
    <?php if ($this->siteCount > 0): ?>
                detailsWidget.selectSiteButtonEnable(true);
    <?php endif; ?>		
                                                                                                                                                                    
            //824
            $.map(['edit_ProjectManagerPhone', 'edit_ACSNotifiPOC_Phone', 'edit_ResourceCoordinatorPhone', 'edit_EmergencyPhone', 'edit_TechnicalSupportPhone', 'edit_CheckInOutNumber'], function( id )
            {
                $('#'+id).each(formatPhone).blur(formatPhone);
			});
            //end 824

			FSMultiselectControl.setForm ("#updateDetailsForm");

			cert_controls["client"] = (new FSMultiselectControl ({
				select: "#CredentialCertification",
				display: "#CredentialCertificationSelection"
			})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

			cert_controls["public"] = (new FSMultiselectControl ({
				select: "#PublicCertification",
				display: "#PublicCertificationSelection"
			})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

			cert_controls["expert"] = (new FSMultiselectControl ({
				select: "#FSExpert",
				display: "#FSExpertSelection"
			})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

			cert_controls["industry"] = (new FSMultiselectControl ({
				select: "#IndustryCertification",
				display: "#IndustryCertificationSelection"
			})).addLevel ("1", "Strongly Preferred").addLevel ("2", "Required");

			jQuery ("#edit_isProjectAutoAssign").change (function () {
				var is_checked = jQuery (this).is (":checked");

				detailsWidget.enableAutoAssign (is_checked);
				detailsWidget.requireAddress (
					is_checked || jQuery ("#edit_PushWM").is (":checked")
				);
				if (is_checked) $("#fsrush_timeleft").text("");
			});

			jQuery ("#edit_PushWM").change (function () {
				detailsWidget.requireAddress (
					jQuery (this).is (":checked") || jQuery ("#edit_isProjectAutoAssign").is (":checked")
				);
			});

			detailsWidget.enableClientPushWM (<?= $this->client->contextPushWMEnabled ?>);

			<?php foreach ($this->required_certs as $type => $certs): ?>
				<?php foreach ($certs as $value => $level): ?>
					cert_controls["<?= $type ?>"].selectOption ("<?= $value ?>", cert_controls["<?= $type ?>"].getLevel ("<?= $level ?>"));
				<?php endforeach; ?>
			<?php endforeach; ?>
		});
    </script>

    <script type="text/javascript">
        $( document ).ready( function () {
            if($.browser.mozilla || ($.browser.msie && $.browser.version == '8.0') ){
                $( '#example' ).scrollFollow( {
                    speed: 20,
                    offset: 230
                } );
            }
            else {
                $( '#example' ).scrollFollow( {
                    speed: 20,
                    offset: 30
                } );
            }
                                                                                                                                                                            
        } );
    </script>

    <div id="details"  style="width:845px;">
        <!--458-->
        <div class="cco_nsubbm" style="height:auto;padding-bottom: 0px;font-size:11px;">
            <div class="cco_ninfo">
                <div style="float:left; text-align: left; width:100%;" id="work_state">
            <table cellspacing="0" cellpadding="0" width="100%"  border="0" >
                <colgroup>
                    <col width="33%">
                    <col width="33%">
                    <col width="33%">
                </colgroup>
                <tr>
                    <td valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                            <colgroup>
                                <col width="90px">
                                <col width="*">
                            </colgroup>
                            <tr class="first_tr">
                                <td >Current State:</td>
                                <td>
                                    <span class="ninfo_data">
                                        <?php echo ucwords($this->wo->Status) ?>
                                        <?php
                                        if ($this->wo->Status == WO_STATE_WORK_DONE) {
                                            if (!empty($this->wo->TechMarkedComplete) && ($this->wo->TechMarkedComplete == 1)) {
                                                $common = new Core_Api_CommonClass();
                                                $days = $common->getTimeSince($this->wo->Date_Completed, null);
                                                //13383
                                                if ($days > 1)
                                                    echo " (" . $days . " Days Old)";
                                                else
                                                    echo " (" . $days . " Day Old)";
                                            }
                                        }
                                        ?></span>
                                </td>
                            </tr>
                            <tr>
                                <td>WIN#:</td>
                                <td><span class="ninfo_data"><?php echo $this->wo->WIN_NUM ?></span></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">Client WO ID#:</td>
                                <td><?php if ($this->wo->WO_ID): ?><span style="font-weight: bold"><?php echo $this->escape($this->wo->WO_ID) ?></span><?php endif; ?></td>  <!--13979-->
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>                    
                    </td>                    
                    <td class="border_left" valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                            <colgroup>
                                <col width="50px">
                                <col width="190px">
                            </colgroup>
                            <tr class="first_tr">
                                <td >Project:</td>
                                <td><span class="ninfo_data"><?= (strlen($this->wo->Project_Name))>32? (substr($this->wo->Project_Name,0,32)." ...") :$this->wo->Project_Name;?></span></td>
                            </tr>
                            <tr>
                                <td >Site #:</td>
                                <!-- 13843--><td ><span class="ninfo_data"><?= $this->escape($this->wo->SiteNumber) ?></span>&nbsp <?= Core_Api_CommonClass::getSiteStatus("true", $this->wo->WIN_NUM ,$this->wo->SiteNumber, $this->wo->Project_ID) ?></td>
                            </tr>
                            <tr>
                                <td >Location:</td>
                                <td >
                                    <span class="ninfo_data"><?=$csz?></span>
                                </td>
                            </tr>
                            <tr class="last_tr">
                                <td >Route:</td>
                                <td >
                                    <span class="ninfo_data"><?=$this->wo->Route?></span>
                                </td>
                            </tr>
                        </table>                    
                    </td>
                    <td class="border_left" valign="top">
                        <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                            <colgroup>
                                <col width="50px">
                                <col width="150px">
                            </colgroup>
                            <tr class="first_tr">
                                <td>Owner:</td>
                                <td><span class="ninfo_data"><?php echo($ownerContactName);?></span></td>
                            </tr>
                            <tr>
                                <td >Published:</td>
                                <td><span class="ninfo_data"><?=$publishedDate?><input type="hidden" name="DateEntered" value="<?=$publishedDate?>" /></span></td>
                            </tr>
                            <tr>
                                <td >Assigned:</td>
                                <td>
                                    <span class="ninfo_data"><?=$assignedDate?></span>
                                </td>
                            </tr>
                            <tr class="last_tr">
                                <td>Work Start:</td>
                                <td><span class="ninfo_data"><?=$workStart?></span></td>
                            </tr>
                        </table>                    
                    </td>                
                    <td width="50px;" style="vertical-align:top;padding-top: 10px;">
                        <!-- 13843-->
                            <? 
                            // if($this->isGPM){
                            $apiWoTagClass = new Core_Api_WoTagClass();
                            $WinTagStatus = $apiWoTagClass->getWinTagStatusForWin($this->wo->WIN_NUM);
                            if($WinTagStatus=='Complete')
                            {
                                $imgsrc="/widgets/images/CompleteWinTag.png";
                            }
                            else if($WinTagStatus=='Incomplete')
                            {
                                $imgsrc="/widgets/images/InCompleteWinTag.png";
                            }
                            //13890
                            else if($WinTagStatus=='Rescheduled' || $WinTagStatus=='Scheduled')
                            {
                                $imgsrc="/widgets/images/WINorange.png";
                            }
                            else if($WinTagStatus=='Cancelled')
                            {
                                $imgsrc="/widgets/images/CancelWinTag.png";
                            }else
                            {
                                $imgsrc="/widgets/images/WinTags.png";
                            }
                            // End 13890
                                ?>
                            <img height="13px" alt="" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" win="<?= $this->wo->WIN_NUM ?>"  src="<?=$imgsrc?>">
                         <!-- 13843-->   
                    </td>
                </tr>
            </table>
                </div>
            </div>
            <!--end 458-->
            <div id="tabsHolder"class="old_style">
                <!-- the tabs -->
                <ul id="woTabs" class="tabs">
                    <li><a id='wodtab' href="#mainContainer" onclick="detailsWidget.showPanel('#wod');detailsWidget.workOrderTabInit()" class="current">Work Order</a></li>
                    <li><a id='techtab' href="#mainContainer" onclick="detailsWidget.showPanel('#tech');detailsWidget.techTabInit()">Technicians</a></li>
                    <li><a id='docspartstab' href="#mainContainer" onclick="detailsWidget.showPanel('#docsparts');detailsWidget.docsPartsTabInit()">Documents &amp; Parts</a></li>
                    <li><a id='commcentertab' href="#mainContainer" onclick="detailsWidget.showPanel('#commcenter');detailsWidget.commCenterTabInit()">Contact Center</a></li>
                    <li><a id='closeouttab' href="#mainContainer" onclick="detailsWidget.showPanel('#closeout');detailsWidget.closeOutTabInit()">Complete &amp; Approve</a></li>
                </ul>
                <div style="float:right;margin-top:-25px">
                    <?
                    $apiWosClass = new Core_Api_WosClass();
                    $TechNotViewYet = $apiWosClass->HasQuestion_ClientNotViewYet($this->client->getClientId(),$this->wo->WIN_NUM);
                    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"Q&amp;A Log (<span style='color:red'>!</span>)":"Q&amp;A Log";
                    $isdisplaySpace = ($TechNotViewYet ==1)?"display:none":"display:";
                    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
                    ?>
                    <button class="link_button_sm" id="ContactlogBtn" onclick="detailsWidget.QABox()" WIN_NUM="<?=$this->wo->WIN_NUM?>"><?=$isdisplayexclamationmark?></button>
            </div>
            </div>
            <!--            458-->
            <div class="tabsbottomNew">
            </div>
        </div>
        <div class="content old_style labelsnw" style="border: black thin">
            <form action="/widgets/details/update/" method="post" id="updateDetailsForm">
                <!-- tab "panes" -->
                <div class="panesnew"><!--458-->
                    <div id="wod" class="contentbox" style="display:block;">
                        <div class="content old_style labelsnw">
                            <!-- content box -->
                            <input type="hidden" id="WIN_NUM" name="WIN_NUM" value="<?= $this->wo->WIN_NUM ?>" />
                            <input type="hidden" name="ClientID" value="<?= $this->client->getClientId() ?>" />
                            <input type="hidden" name="company" value="<?= $this->company ?>" />
                            <div class="gradBox indentTopLarge">
                                <div class="gradBox_1">
                                    <div class="gradBox_2_tabs">
                                        <div id="container" class="indentTop10" style="margin-top:0px;">
                                            <div class="section_0" style="padding-left: 11px;">
                                                <!--458-->
                                                <table cellpadding="0" cellspacing="0" class="sectionForm">
                                                    <col width="153px" />
                                                    <col width="150px" />
                                                    <col width="60px" />
                                                    <col width="150px" />
                                                    <col width="*" />
                                                    <tr>
                                                        <td>
                                                            <label class="required"><span>*</span>Work Order Owner</label>
                                                        </td>
                                                        <td colspan="3">
                                                            <select name="workOrderOwner" id="workOrderOwner" style="width:356px;">
																<?=$this->ownerDropdownOptions($allClients->data, $this->company, $this->wo->WorkOrderOwner, $isGPM);?>
															</select>
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <span class="required">Required Information*</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="required"><span>*</span>Project</label>

                                                        </td>
                                                        <td colspan="3">
                                                         <!--14141-->     
                                                            <?php
                                                              $woStatus = $this->wo->Status;
                                                              $woStatus = ucwords($woStatus);
                                                              if($woStatus != 'In Accounting' && $woStatus !='Completed' ){
                                                                  $woStatus = '';
                                                              }else{
                                                                  $woStatus = 'disabled';
                                                              }
                                                            ?>
                                                            <select title="" type="text" id="edit_Project_ID" name="Project_ID" onfocus="saveCurrentProject()"  class="width370i" style="width:356px;" <?=$woStatus; ?>>
                                                            <!--End 14141-->     
                                                                <?php      
                                                                 //14141   
                                                                foreach ($this->projects as $prj) :
                                                                    $isSelectedProject = $this->wo->Project_ID == $prj->Project_ID;
                                                                    ?>
                                                                    <?php if (($prj->Active || $isSelectedProject)): ?>
                                                                        <option title="<?= $prj->Project_Name ?>" value="<?= $prj->Project_ID ?>"  <?php if ($isSelectedProject) echo'selected'; ?>>
                                                                            <?= $prj->Project_Name ?>
                                                                        </option>
                                                                    <?php endif; ?>
                                                                <?php endforeach; ?>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <?php if ($this->company == 'NCR'): ?>
                                                                <label style="padding: 0px 3px 0px 15px">
                                                                    <?= $this->escape($this->company) ?> Key</label>
                                                                <input style="width:150px" id="edit_QBID" name="QBID" value="<?= $this->escape($this->wo->QBID) ?>"/>
                                                            <?php endif; ?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label class="required">Client Work Order ID# *</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="edit_WO_ID" name="WO_ID" class="input140w" value="<?= $this->escape($this->wo->WO_ID) ?>" />
                                                        </td>
                                                        <td>
                                                            <label style="padding: 0px 3px 0px 15px">Region</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="edit_Region" name="Region" class="width140" value="<?= $this->escape($this->wo->Region) ?>" />
                                                        </td>
                                                        <td>
                                                       <?php if ($this->isGPM): ?>
                                                            <?php
                                                                $Core_Api_WoTagClass = new Core_Api_WoTagClass;       
                                                                $ServiceTypeInfo = $Core_Api_WoTagClass->getTagItemInfo($this->wo->ServiceTypeId);
                                                                $ServiceTypeValue = $ServiceTypeInfo["wo_tag_item_name"];
                                                            ?>
                                                            <label style="padding: 0px 3px 0px 15px">Service Type</label>
                                                            <input disabled="true" style="width:150px" id="edit_ServiceTypeValue"  value="<?= $this->escape($ServiceTypeValue) ?>"/>
                                                            <input type="hidden" value="<?= $this->wo->ServiceTypeId ?>" id="edit_ServiceTypeId" name="ServiceTypeId" />
                                                            <?php endif; ?>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tleft">
                                                            <label>Client Purchase Order#</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="edit_PO" name="PO" class="input140w floatLeft" value="<?= $this->escape($this->wo->PO) ?>" />
                                                        </td>
                                                        <td>
                                                            <label style="padding: 0px 3px 0px 15px">Route</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="edit_Route" name="Route" onblur="detailsWidget.onBluer(this);" class="width140" value="<?= $this->escape($this->wo->Route) ?>" />
                                                        </td>
                                                        <td>
                                                        <!--13902-->
                                                            <div id='entity' style="<?= ($this->isGPM)? "display:'';":"display:none;"?>" >
                                                            <label style="padding: 0px 6px 0px 15px">Legal Entity</label>
                                                            <select  style="width:150px"  id='edit_EntityTypeId' name="EntityTypeId" >
                                                                <option value="">Select Entity</option>
                                                                <?php if(!empty($this->EntityTypeList)){
                                                                    foreach($this->EntityTypeList as $item){
                                                                ?>
                                                                <option <?= $this->wo->EntityTypeId==$item["wo_tag_item_id"]?"selected":"" ?> value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                                                <?php }
                                                                } ?>
                                                            </select>
                                                            </div><!--13902-->                                                
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD; vertical-align: middle;" align="right">Publish &gt;&gt;</td>
                                                        <td colspan="3">

                                                            <div style='padding-top:8px' class="tColor3 smallText floatLeft"><input type="checkbox" id="edit_ShowTechs" name="ShowTechs" <?php echo($this->wo->ShowTechs) ? 'checked' : ''; ?> value="1" class="floatLeft noIndent"  />&nbsp;Check Box to Show Work Order to Tech(s)</div>
                                                            <div class="floatRight" style="margin-left:40px;"><a href="javascript:void(0)" onclick="detailsWidget.sendEmailBlast('/clients/clientManualBlastWO.php?id=<?= $this->wo->WIN_NUM ?>&amp;v=<?= $this->company ?>',this)"><img width="92" height="30" border="0" alt="" src="/widgets/css/images/btn_orange_emailblast.png"></a></div>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="all_btn" style="position: relative; float: left; cursor: pointer; top: -22px; left: 5px; width: 26px; height: 13px; background: transparent url('/widgets/css/images/triangle_down.gif') repeat-x;"></div>
                                            <?php if ($this->success): ?>
                                                <!-- section1 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                               
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">1. Basic Work Order Information</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew"><!--14163-->
                                                                            <? if(true){ ?>
                                                                            <style>
                                                                                .sectionWINNew{
                                                                                    width: 490px !important; 
                                                                                }
                                                                                .upd_btnNew{
                                                                                    width: 80px !important;
                                                                                }
                                                                                .upd_btnNew .cmdOpenWinTabs{
                                                                                    padding-top: 5px;
                                                                                    text-align: left;
                                                                                    float: left;
                                                                                }
                                                                            </style>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?> 
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" id="saveButton01" style="width:20px;"/></div></div>
                                                                    <?= $this->render("details/index/section1.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section1 -->
                                                <!-- section2 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">2. Instructions, Documents, Parts</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew"> <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" style="width:20px;"/></div></div>
                                                                    <?php echo ($this->render("details/index/section2.phtml")); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section2 -->
                                                <!-- section3 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable" id="section3"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">3. Communications Center</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew">  <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                    <?= $this->render("details/index/section3.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section3 -->
                                                <!-- section4 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a id='sec4' class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">4. Tech Assignment &amp; Pay</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew">  <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order" class="updateButton" style="width:20px;"/></div></div>
                                                                    <?= $this->render("details/index/section4.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section4 -->
                                                <!-- section5 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">5. Check-In Info &amp; Client Notes</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew"> <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                    <?= $this->render("details/index/section5.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section5 -->
                                                <!-- section6 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">6. Site Completion Information</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew"> <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                    <?php echo ($this->render("details/index/section6.phtml")); ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section6 -->

                                                <!-- section7 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">7. Financials &amp; Approval</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew">   <!--14163-->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                                                    <?= $this->render("details/index/section7.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section7 -->
                                                <!-- section8 -->
                                                <div class="sectionBox">
                                                    <div class="gradBox_1">
                                                        <div class="gradBox_2">
                                                            <div class="gradBox_3">
                                                                <div class="gradBox_4">
                                                                    <div class="sectionBox_titleNew"><a class="title expandable"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">8. Additional Work Order Comments</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $WOID; ?></span></div></a><div class="upd_btnNew">  <!--14163--->
                                                                            <? if(true){ ?>
                                                                            <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                                            <?php } ?>
                                                                            <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>

                                                                    <?= $this->render("details/index/section8.phtml") ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- section8 -->
                                                <!-- sections -->
                                            <?php else : ?>
                                                <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') : ?>
                                                    <div>
                                                        <?= $this->error ?>
                                                    </div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script type="text/javascript">
                                if (document.getElementById('edit_Deactivated').checked) {
                                    document.getElementById('section7req').style.display='inline';
                                }
                                var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i<siblingSpans.length;i++) { if(siblingSpans[i].className=='required_tech') { if (document.getElementById('edit_Tech_ID').value!='') { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}
                            </script>
                            <!-- content box -->

                        </div>
                    </div>
                    <div id="tech" class="contentbox">
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div  class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Tech Assignment</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?>
                                                    <img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Tech Assignment-->
                                            <div id="techasgn" class='sectionInner'>
                                            </div>
                                        </div></div></div></div></div>	
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="techglancetitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Assigned Tech Profile</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                                <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div>	
                                            </div>
                                            <!--Tech at a Glance -->
                                            <div id="techglance" class='sectionInner'><div id="loading">Loading . . .</div>
                                                <iframe id="techglanceiframe" class="techglance" height="270"></iframe>			
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="applicantstitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Applicants</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--Applicants-->
                                            <div id="applicants" class='sectionInner'><div id="loading">Loading . . .</div>
                                                <iframe class='applicants'></iframe>
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">My Techs</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--My Tech-->
                                            <div id="mytechs" class='sectionInner'><div id="loading">Loading . . .</div>
                                                <iframe class="mytechs"></iframe>			
                                            </div>
                                        </div></div></div></div></div>
                        <!--div class="sectionBox">
                <div class="gradBox_1">
                  <div class="gradBox_2">
                    <div class="gradBox_3">
                      <div class="gradBox_4">
                                                        <div class="sectionBox_title"><a class="title"  title="Expand Section">Find Techs<br/><div class="sectionWIN">WIN# <?= $this->wo->WIN_NUM ?></div></a></div>
                Find Techs
                <div id="findtechs" class='sectionInner'><div id="loading">Loading . . .</div>
                        <iframe class='findtechs'></iframe>
                </div>
        </div>
        </div></div></div>
        </div-->
                    </div>
                    <div id="docsparts" class="contentbox">
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="projectdocstitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Project Documents</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--Project Documents-->
                                            <div id="prjdocs" class='sectionInner'>
                                                <?= $this->render('/details/project-documents.phtml') ?>
                                            </div>
                                        </div></div></div></div></div>		
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div  class="sectionBox_titleNew"><a class="title" title="Expand Section" id="wodocstitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Work Order Documents</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                     
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!---WO Documents-->
                                            <div id="wodocs" class='sectionInner'>

                                                <?php /* $this->render('/sections/documents.phtml') */ ?>
                                                <table id="wodocslist" ></table>

                                            </div>
                                        </div></div></div></div></div>		
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div  class="sectionBox_titleNew"><a class="title" title="Expand Section" id="techuploadstitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Technician Uploads</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                     
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!---Tech Documents-->
                                            <div id="techdocs" class='sectionInner'>
                                                <?php /* $this->render('/sections/tech-documents.phtml') */ ?>
                                                <table id="techdocslist"></table>

                                            </div>
                                        </div></div></div></div></div>		
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="partsmgrtitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">FS - Parts Manager</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--Parts Manager-->
                                            <div id="partsmgr" class='sectionInner'><div id="loading">Loading . . .</div>
                                                <iframe class='partsmgr'></iframe>
                                            </div>
                                        </div></div></div></div></div>		
                    </div>
                    <div id="commcenter" class="contentbox">
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section" id="mkcontacttitle"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Email Center</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--Make Contact-->
                                            <div id="mkcontact" class='sectionInner'>
                                                <div class="emailCenterLink">
                                                                                                        <?
                                                    if($this->wo->Tech_ID == "" || empty($this->wo->Tech_ID))
                                                    {
                                                    ?>
                                                        <img src="/widgets/css/images/socialmediaicons/email_icon.png" width="15px" height="13px"/><span>Contact (email/phone log) assigned technician</span>
                                                    <?
                                                    }
                                                    else
                                                    {
                                                    ?>
                                                        <a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/wosAddContact.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&email=<?php echo urlencode($this->wo->TechEmail) ?>&Tech_FName=<?php echo urlencode($this->wo->Tech_FName) ?>&Tech_LName=<?php echo addslashes($this->wo->Tech_LName) ?>&fromName=<?php echo urlencode($_SESSION["UserName"]) ?>&fromEmail=<?php echo $this->client->getEmailPrimary() ?>&quot;,850, 400)"><img src="/widgets/css/images/socialmediaicons/email_icon.png" width="15px" height="13px"/><span>Contact (email/phone log) assigned technician</span></a>
                                                    <?
                                                    }
                                                    ?>
                                                </div>
                                                <div class="emailCenterLink">
                                                        <a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/projectBackupTechBlast.php?isLB=1&v=<?php echo $this->company ?>&pid=<?= $this->wo->Project_ID; ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&fromName=<?php echo urlencode($this->client->getContactName()) ?>&quot;, 800, 350)"><img src="/widgets/css/images/socialmediaicons/email_icon.png" width="15px" height="13px"/><span>Email all backup technicians (bidders) for all work orders in this project</span></a>
                                                </div>
                                                <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/recruitmentEmail.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&fromName=<?php echo urlencode($this->client->getContactName()) ?>&quot;, 800, 350)"><img src="/widgets/css/images/socialmediaicons/email_icon.png" width="15px" height="13px"/><span>Send recruitment email for all work orders in this project</span></a></div>
                                                <div class="emailCenterLink"><a href="javascript:void(0)" onclick="openLightBoxPage(&quot;/clients/projectBlast.php?isLB=1&v=<?php echo $this->company ?>&WO_ID=<?php echo $this->wo->WIN_NUM ?>&quot;, 800, 350)"><img src="/widgets/css/images/socialmediaicons/email_icon.png" width="15px" height="13px"/><span>Email all assigned technicians to this project</span></a></div>
                                            </div>
                                        </div></div></div></div></div>		
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Contacts and ACS Settings</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                     
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Contacts and ACS Settings-->
                                            <div id="contacts" class='sectionInner'>
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Q&amp;A and Contact Log</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a>
                                             <div class="upd_btnNew">
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?></div></div>
                                            <!--Contact Log-->
                                            <div id="contactlog" class='sectionInner'><div id="loading">Loading . . .</div>
                                                <iframe class="contactlog"></iframe>
                                            </div>
                                        </div></div></div></div></div>		
                    </div>
                    <div id="closeout" class="contentbox">	
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Check-in Info and Client Notes</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                    
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Section 5-->
                                            <div id='closeOut5' class='sectionInner'>
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title"   title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Site Completion Information</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                    
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Section 6-->
                                            <div id='closeOut6' class='sectionInner'>
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title"   title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Financials & Approval</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                     
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Section 7-->
                                            <div id='closeOut7' class='sectionInner'>		
                                            </div>
                                        </div></div></div></div></div>
                        <div class="sectionBox">
                            <div class="gradBox_1">
                                <div class="gradBox_2">
                                    <div class="gradBox_3">
                                        <div class="gradBox_4">
                                            <div class="sectionBox_titleNew"><a class="title" title="Expand Section"><div style="margin-top:10px; width:100%;"><span class="sectionTitleNew">Other Information</span><span class="sectionWINNew">WIN# <?php echo $this->wo->WIN_NUM ?>&nbsp;|&nbsp;Client WO ID <?php echo $this->wo->WO_ID; ?></span></div></a><div class="upd_btnNew">
                                                     
                                                    <?php if(true){ ?>
                                                    <img win="<?=$this->wo->WIN_NUM?>" class="cmdOpenWinTabs" title="WIN-Tags Performance Report" src="/widgets/images/WinTagDiagonal.png" height="20px">
                                                    <?php } ?><img src="/widgets/images/button_x.png" title="Cancel and Go Back" onclick="detailsWidget.cancelDetails();" class="cancelUpdateButton" style="width:20px;"/><img src="/widgets/images/button_save.png" title="Update Work Order"  class="updateButton" style="width:20px;"/></div></div>
                                            <!--Section 8-->
                                            <div id='closeOut8' class='sectionInner'>
                                            </div>
                                        </div></div></div></div></div>

                    </div>

                </div></form>
		</div>
	</div>
<?php else: ?>
	<div style="margin:9% 39%">This Work Order is no longer available</div>
<?php endif; ?>
<?php
if ($this->wo->Tech_ID)
	echo '	<script>
		jQuery(window).ready(function() {
		jQuery(".cmdtechScheduleImg").parent().css("cursor","pointer");
		jQuery(".cmdtechScheduleImg").unbind("click").bind("click",showTechSched);
	});
	</script>';
?>
        <input type="hidden" id="showWinTags" value="<?= $this->showWinTags?1:0 ?>" />

	<script type="text/javascript">
	//<![CDATA[
		paytool_view_height = 196;	//Hack for adjusting height differences beween WO create and WO details
	//]]>
	</script>
	<?php if (empty($this->wo->Tech_ID)) $this->render("details/includes/suggested-tech-pay.phtml"); ?>

