<div class='displayNone colorRed errormsg' id='divError'></div>
<div style="overflow-y: auto;height: 170px;overflow-x: hidden;position: relative;">
    <table width="100%" style="border: 1px solid black;" class="gradBox_table_inner">
        <tbody>
            <tr class="table_head" style="background-color: #0070C0;color: white;">
                <th>
                    Assign Tech
                </th>
                <th>
                    FS Tech ID#
                </th>
                <?php if ($this->company == "FLS") { ?>
                    <th>
                        FLS ID#
                    </th>
                <?php } ?>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Business Phone
                </th>
                <th>
                    Email Address
                </th>
            </tr>
            <?php if(!empty($this->TechsInSite)) {
                foreach($this->TechsInSite as $item) { ?>
                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                    <td align="center">
                        <input type="radio" value="<?= $item["techid"] ?>"  name="AssignTech" class="AssignTech" />
                    </td>
                    <td align="center">
                        <a href="javascript:;" TechID="<?= $item["techid"] ?>" class="openTechProfile"><?= $item["techid"] ?> </a>
                    </td>
                    <?php if ($this->company == "FLS") { ?>
                    <td>
                        <?= $item["FLSID"] ?>
                    </td>
                    <?php } ?>
                    <td>
                        <?= $item["FirstName"] ?>
                    </td>
                    <td>
                        <?= $item["LastName"] ?>
                    </td>
                    <td>
                        <?= $item["PrimaryPhone"] ?>
                    </td>
                    <td>
                        <?= $item["PrimaryEmail"] ?>
                    </td>
                </tr>    
            <?php  }
            } else {?>
                <tr>
                    <td colspan="6">
                        Not recored display.
                    </td>
                </tr>
            <?php } ?>    
        </tbody>
    </table>
</div>

<div>
    <div style="float: right;padding-left: 10px;"><input class="link_button_sm" type="button" value="Assign" id="cmdAssign" /></div>
    <div style="float: right;"><input type="button" class="link_button_sm" value="Do Not Assign" id="closePopup" /></div>
</div>