<h4>My Work</h4>
<ul>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=todayswork',1000,800);">Today's Work (<span id="sumToday">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=created',1000,800);">Created (<span id="sumCreated">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=published',1000,800);">Published (<span id="sumPublished">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=assigned',1000,800);">Assigned (<span id="sumAssigned">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=workdone',1000,800);">Work Done (<span id="sumWorkDone">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=incomplete',1000,800);">Incomplete (<span id="sumIncomplete">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=completed',1000,800);">Completed (<span id="sumCompleted">0</span>)</a></li>
    <li><a onclick="openFramePage('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=all',1000,800);">All (<span id="sumAll">0</span>)</a></li>
</ul>
<input type="hidden" id="hidcompany" name="hidcompany" value="<?=$this->company?>">  
<script type="text/javascript">
$(document).ready(function() {
	if($.browser.msie){
		$("#findNewTechBtn").css("margin-bottom", "10px");
	}else{
		$("#findNewTechBtn").css("margin-bottom", "15px");
	}
        var company = $('#hidcompany').val();
        $.ajax({
                type: "POST",
                url: '/widgets/dashboard/details/donavigation/',
                dataType    : 'json',
                cache       : false,		
                data: {id:'',company:company}, 
		success: function (data) {                  
                        $("#sumToday").html(""+data.totalData.today+"");                       
			$("#sumCreated").html(""+data.totalData.created+"");
                        $("#sumPublished").html(""+data.totalData.published+""); 
                        $("#sumAssigned").html(""+data.totalData.assigned+""); 
                        $("#sumWorkDone").html(""+data.totalData["work done"]+""); 
                        $("#sumIncomplete").html(""+data.totalData.incomplete+""); 
                        $("#sumCompleted").html(""+data.totalData.completed+""); 
                        $("#sumAll").html(""+data.totalData.total+""); 
		}

});
});
</script>
<?php if (!$this->FLSManager) : ?>
<?php if (!empty($this->wo) && $this->wo->success && !empty($this->win)) :
$wo = $this->wo->data[0];
$client = $this->client;?>
<h4 class="heading">Work Order Tools</h4>
<div class="topToolBtn" style="margin-bottom: 10px;" id="findNewTechBtn">
   <a class="link_button middle_button" href="javascript:void(0)" onclick="_global.accessControlClient('6',null,function() { openPopup('/clients/techs.php?v=<?=$this->company?>&newSearch=1&defaultZip=<?=$wo->Zipcode?>', 1600, 950); });" value="Find a New Tech">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find a New Tech&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><img alt="New" src="/images/new.gif" name="New">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Copy This Work Order" onclick="_global.accessControlClient('2',null,function() { detailsWidget.copyWO(); } );">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="View Applicants" onclick="detailsWidget.showPanelSection('#tech','#applicants');detailsWidget.techTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="View Tech Profile" onclick="detailsWidget.showPanelSection('#tech', '#techglance');detailsWidget.techTabInit();">
</div>
<br />
<div class="topToolBtn">
<input type="button" class="link_button middle_button" value="Contact Tech" onclick="detailsWidget.showPanelSection('#commcenter', '#mkcontact');detailsWidget.commCenterTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Documents" onclick="detailsWidget.showPanel('#docsparts'); detailsWidget.showPanelSection('#docsparts', '#projectdocs', '#wodocs', '#techuploads'); detailsWidget.docsPartsTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="FS-Parts Manager" onclick="detailsWidget.showPanel('#docsparts'); detailsWidget.showPanelSection('#docsparts', '#partsmgr'); detailsWidget.docsPartsTabInit();">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Activity Log" onclick="openLightBoxPage('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$this->win?>', 880, 400)">
</div>
<br />
<?php endif; ?>
<h4>My FieldSolutions Tools</h4>
<ul>
	<li>
		<a href="/clients/projectsView.php?v=<?=$this->company?>&Start=%A0&End=Z&Active=1">View Projects</a>
	</li>
	<li>
		<a href="/clients/techsClientPreferredEdit.php?v=<?=$this->company?>">Manage Preferred Techs</a>
	</li>
	<li>
		<a href="/clients/importSites.php?v=<?=$this->company?>">Upload Site List</a>
	</li>
	<li>
		<a href="/clients/importWO.php?v=<?=$this->company?>">Upload Work Orders</a>
	</li
</ul>        
<?php endif;?>
