<?php
	$CustomSignoff = false;
	$CustomSignoffAction = "file-project-documents-download";
?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <tr><td>Project Docs: <?php if(count($this->prjFiles)===0){echo 'no documents';}?></td></tr>
    <?php if ( !empty($this->prjFiles) ) {
    foreach($this->prjFiles as $f){
    ?>
    <tr>
        <td>
            <a class="ajaxLink" href="http://<?=$_SERVER["HTTP_HOST"]?>/widgets/dashboard/do/file-project-documents-download/filename/<?=urlencode(base64_encode($f->path))?>/<?= substr($f->path, strrpos($f->path, '/')) ?>"><?= ltrim($f->path, '/') ?></a>
        </td>
    </tr>
    <?php }}?>
    
     <?php if ( !empty($this->prjExtFile) ) {
    foreach($this->prjExtFile as $f){
    	//if ($f['CustomSignOff']) $CustomSignoff = $f['CustomSignOff'];
    ?>
    <tr>
        <td>
            <a class="ajaxLink" href="<?=$f['External_Files']?>"><?= $f['External_Files'] ?></a>
        </td>
    </tr>
    <?php }} ?>
    
    <tr><td>&nbsp;</td></tr>

	<?php
		if (!empty ($this->wo_signoff)) {
			$CustomSignoff = ltrim (strstr ($this->wo_signoff["path"], "/"), "/");
			if (strstr ($this->wo_signoff["path"], "/", true) == "projects-docs")
				$CustomSignoffAction = "file-project-documents-download";
			else
				$CustomSignoffAction = "file-wos-documents-download";
		}
	?>
    <?php if ($this->wo->SignOff_Disabled != "1"): ?>
		<?php if ($CustomSignoff && $this->wo->CustomSignOff_Enabled == "1"): ?>
			<tr>
				<td>
					Provide Work Order Signoff Sheet: <a class="ajaxLink" href="/widgets/dashboard/do/<?= $CustomSignoffAction ?>/filename/<?=base64_encode(urlencode($CustomSignoff))?>/<?= $CustomSignoff ?>"><?= $CustomSignoff ?></a>
				</td>
			</tr>
		<?php else: ?>
			<tr><td>Provide Work Order Signoff Sheet: Basic FieldSolutions Signoff Sheet </td></tr>
		<?php endif; ?>
	<?php else: ?>
		<tr><td>Provide Work Order Signoff Sheet: No</td></tr>
	<?php endif; ?>
    
</table>
