<?
$isprefer = isset($_REQUEST['isprefer'])?$_REQUEST['isprefer']:"";

?>

<script type="text/javascript" src="/widgets/js/jquery.min.js"></script>
<script type="text/javascript" src="/widgets/js/FSPopupAbstract.js"></script>
<script type="text/javascript" src="/widgets/js/FSPopupRoll.js"></script>
<link media="all" type="text/css" href="/widgets/css/popup.css" rel="stylesheet">
<link media="all" type="text/css" href="/widgets/css/main.css" rel="stylesheet">
<form id="commentForm" method="post" action="/widgets/dashboard/details/do-update-client-deny-tech/">
    <input id="commentID" type="hidden" name="id" value="<?= $c->id ?>"/>
    <input id="techID" type="hidden" name="techID" value="<?= $this->techID ?>"/>
    <input id="clientID" type="hidden" name="clientID" value="<?= $this->clientID ?>"/>
    <input id="companyID" type="hidden" name="companyID" value="<?= $this->companyID ?>"/>
    <table style="border-spacing: 0px; border-collapse: collapse; padding:0px;">		
        <tbody>
            <tr>
                <td width="240px">                                    
                    Optional comments are visible only to users within your company
                </td>				
                <td style="vertical-align: bottom;" align="right">
                    <input id="denytech" type="button" value="Client Deny Tech" class="link_button">
                </td>
            </tr>
            <tr>
                <td colspan='3'><textarea id="deniedComments" name="deniedComments" style='width: 100%; height: 85px'><?= $this->escape($this->comment) ?></textarea></td>
            </tr>
<!--            <tr>
                <td colspan="3">
                    <span>Note: This comment will be visible to users from your company only.</span>
                </td>
            </tr>-->
        </tbody>
    </table>
</form>
<script>
    $(window).ready(function(){
        $("#denytech").click(function(){
            var isprefrer = '<?= $isprefer ?>';
            if(isprefrer == 'true')
            {
            $.ajax({
                type: "POST",
                url: '/widgets/dashboard/do/update-tech-preferred/',
                dataType    : 'json',
                cache       : false,
                data: {id:'<?= $this->techID ?>', companyID:'<?= $this->companyID ?>', "do":"remove"},
                success: function (data) {
                    window.parent.techProfile.removecheckTechPreferred("remove");
                        
                $("#commentForm").submit();
                }
            });
            }
            else
            {
                $("#commentForm").submit();
            }
        });
    });
</script>
