<link media="all" type="text/css" href="/widgets/css/main.css" rel="stylesheet">
<div style="margin-top:-5px;">
    <div id="ClientName" style="padding-bottom: 20px;">
        <?= $this->clientUserName ?>
    </div>
</div>
<div id="CommentsTitle">
    Comments:
</div>
<div>
    <?= $this->comment ?>
</div>
