<div class="viewAssignHeader viewAssignSectionOpen" style="margin-top:10px;"><div class="toggle" onclick="toggleViewAssignSection(this)"></div>Work Orders (<?=$this->woCount?>)
	<div id="viewAssignWos" >
		<div id="widgetContainer"><?=$this->render('/index/published.phtml')?></div>
	</div>
</div>
<div class="viewAssignHeader viewAssignSectionOpen" style="margin-top:10px;"><div class="toggle" onclick="toggleViewAssignSection(this)"></div>Technicians (<span id="viewAssignTechCount">0</span>)
	<div id="viewAssignTechs"></div>
</div>