<script type="text/javascript">
$(document).ready(function(){

	$('.sectionBox a.title').live('hover', function() {
	  $(this).attr({title: "Expand Section"});
	});
	$('.sectionBox.sectionOpen a.title').live('hover', function() {
	  $(this).attr({title: "Collapse Section"});
	});
    $(".sectionBox .title").click(function(){
       $(this).parent().next(".sectionInner").slideToggle("slow");
       $(this).parents(".sectionBox").toggleClass("sectionOpen");
       if ($('#createDetailsForm').find(".sectionBox").hasClass('sectionOpen')) {
           $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
       }else{
           $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
       }
   });

    $("#all_btn").click(function(){
        var buttons = $(this).children('.all_btn').toggleClass('btnClosed').toggleClass('btnOpened');
        if (buttons.first().hasClass('btnOpened')) {
            $(this).attr('title','Collapse Entire Work Order');
            $('#createDetailsForm').find('.sectionInner').slideDown("slow").parents('.sectionBox').addClass('sectionOpen');
        }else if (buttons.first().hasClass('btnClosed')) {
            $(this).attr('title','Expand Entire Work Order');
            $('#createDetailsForm').find('.sectionInner').slideUp("slow").parents('.sectionBox').removeClass('sectionOpen');
        }
    });


    $(".sectionBox .title").each(function(index, value) {
        <?php foreach($this->opentabs as $index): ?>
        if (index == <?=$index?>) {$(this).click();$(this).parent().next(".sectionInner").slideDown("slow");}
        <?php endforeach;?>
    });
});
</script>
<link rel="stylesheet" type="text/css" href="/widgets/css/details.css" media="screen" />
<div style="min-width:780px">
<div class="details_breadcrumbs">
	<div id="work_state">Create Work Order</div>
</div>

<div class="content old_style">
<!-- content box -->
<form action="/" method="POST" id="createDetailsForm">
    <div class="gradBox indentTopLarge">
        <div class="gradBox_1">
          <div class="gradBox_2_tabs">
            <div>

                <?php if ($this->success):?>
                <!-- sections -->
                <div id="all_btn" class="details_all_btn pointer" title="Collapse Entire Work Order">
					<div class="all_btn btnClosed"><img height="17" width="17" border="0" src="widgets/css/images/spacer.gif"></div>
                    <div class="all_btn btnClosed"><img height="17" width="17" border="0" src="widgets/css/images/spacer.gif"></div>
				</div>
                <!-- section1 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4">
                          <div class="sectionBox_title"><a class="title">1. Basic Work Order Information</a></div>
                          <div class="sectionInner" id="section1">
                              <table cellpadding="0" cellspacing="0" class="sectionForm">
                                <col width="120px">
                                <col width="245px">
                                <col width="*">
                                <col width="*">
                                <col width="79px">
								<tr>
                                  <td>&#160;</td>
								  <td class="tright"><span class="required">*Required Information</span><br/><br/></td>                                  
                                  <td colspan="2">&#160;</td>
                                  <td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
                                </tr>
								<tr>
									<td>&#160;</td>
									<td class="tright"><label for="">Project</label></td>
									<td colspan="2">
										<select type="text" id="edit_Project_ID" name="Project_ID" onchange="detailsWidget.autofillProjectInfo($('#edit_Project_ID option:selected').val())" class="width140 floatLeft">
											<option value="" <?php if(empty($prj->Project_Name))echo'selected';?>>Select Project</option>
											<?php foreach( $this->projects as $prj ) :?>
											<?php if ($prj->Active):?><option value="<?=$prj->Project_ID?>"  ><?=$prj->Project_Name?></option><?php endif;?>
											<?php endforeach;?>
										</select>
                                      <label for="" class="indentLeft floatLeft indentTop">Region</label>
                                      <input class="indentLeft" type="text" id="edit_Region" name="Region" class="width140 floatLeft" value="" />
									</td>
									<td>&#160;</td>
                                </tr>
                                <tr>
									<td>&#160;</td>
									<td class="tright"><label for=""><span class="required">*</span>Client Work Order ID#</label></td>
									<td colspan="2"><input type="text" id="edit_WO_ID" name="WO_ID" class="perWidth100" value="" /></td>
									<td>&#160;</td>
                                </tr>
                                <tr>
									<td>&#160;</td>
									<td class="tright"><label for="">Client Purchase Order#</label></td>
									<td colspan="2"><input type="text" id="edit_PO" name="PO" class="perWidth100" value="" /></td>
									<td>&#160;</td>
                                </tr>
                                <tr>
									<td>&#160;</td>
									<td class="tright"><label for="">Show Work Order to Tech?</label></td>
									<td colspan="2"><input type="checkbox" id="edit_ShowTechs" name="ShowTechs" value="1" class="floatLeft noIndent"  />
                                    <div class="tColor3 innerLeftSmall smallText floatLeft">Check Box to Publish</div></td>
									<td>&#160;</td>
                                </tr>
                                <tr>
                                  <td colspan="5">&nbsp;</td>
								</tr>
								<tr>
									<td class="subheader">Type of Work</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" class="perWidth100">
											<col width="90px"/>
											<col width="*"/>
											<col width="*"/>
											<col width="*"/>
											<col width="*"/>
											<col width="*"/>
											<tr>
												<td><label for="">Skill Category:</label></td>
												<td><select type="text" id="edit_WO_Category_ID" name="WO_Category_ID" class="floatRight">
														<option value="">Select Category</option>
														<?php foreach ($this->categories as $category) : ?>
															<option value="<?=$category->Category_ID ?>" ><?= $category->Category ?></option>
														<?php endforeach; ?>
													 </select>
												</td>
												<td><label for="">Call Type:</label></td>
												<td><select type="text" id="edit_Type_ID" name="Type_ID" class="floatRight">
														<?php foreach ($this->callTypes as $ckey => $ctype) : ?>
															<option value="<?=$ckey ?>" ><?= $ctype ?></option>
														<?php endforeach; ?>
													</select>
												</td>
												<td><label for=""><span class="required">*</span>Headline</label></td>
												<td><input type="text" id="edit_Headline" name="Headline" class="floatRight" value="" />
												</td>
											</tr>
										</table>
									</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
								   <td colspan="5" class="innerTop">&nbsp;</td>
								</tr>								
								<tr>
									<td class="subheader">Site Information </td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" class="perWidth100">
											<col width="90px"/>
											<col width="*"/>
											<col width="85px"/>
											<col width="55px"/>
											<col width="*"/>
											<col width="85px"/>
											<col width="66px"/>
											<col width="*"/>
											<tr>
												<td class=""><label for="">Site Name</label> </td>
												<td><input type="text" id="edit_SiteName" name="SiteName" class="perWidth100" value=""  /></td>

                                                <td class="tright" colspan="2"><label for="">Site Number</label></td>
                                                <td><input type="text" id="edit_SiteNumber" name="SiteNumber" class="perWidth100" value="" /></td>

                                                <td class="tright" colspan="2"><label for="">Site Contact Name</label></td>
                                                <td><input type="text" id="edit_Site_Contact_Name" name="Site_Contact_Name" class="perWidth100" value="" /></td>
                                            </tr>
                                            <tr>
                                                <td class=""><label for="">Site Address</label></td>
                                                <td colspan="6"><input type="text" id="edit_Address" name="Address" class="perWidth57" value="" /></td>
                                            </tr>
                                            <tr>
                                                <td class=""><label for="">City</label></td>
                                                <td><input type="text" id="edit_City" name="City" class="perWidth100" value="" /></td>

                                                <td class="tright" colspan="2"><label for="">US State & CN Province</label></td>
                                                <td><select type="text" id="edit_State" name="State" class="width123 floatLeft">
                                                        <option selected="selected" value="">Select State</option>
                                                        <?php foreach ($this->states as $skey => $state) : ?>
                                                        <option value="<?=$skey ?>" ><?= $state ?></option>
                                                        <?php endforeach; ?>
                                                        </select>
                                                    </td>

                                                    <td colspan="2" class="tright"><label for="">Zip or Postal Code</label></td>
                                                    <td><input type="text" id="edit_Zipcode" name="Zipcode" class="perWidth100" value="" /></td>
                                                </tr>
                                                <tr>
                                                    <td class=""><label for="">Site Phone</label></td>
                                                    <td><input type="text" id="edit_SitePhone" name="SitePhone" class="perWidth100" value="" /></td>
                                                    <td><span class="tColor3 smallText">###-###-####</span></td>
                                                    <td class="tright"><label for="">Site Fax</label></td>
                                                    <td><input type="text" id="edit_SiteFax" name="SiteFax" class="perWidth100" value="" /></td>
                                                    <td><span class="tColor3 smallText">###-###-####</span></td>
													<td class=""><label for="">Site Email</label></td>
													<td><input type="text" id="edit_SiteEmail" name="SiteEmail" class="perWidth100" value="" /></td>
                                                </tr>
                                            </table>
                                        </td>
										<td>&nbsp;</td>
                                    </tr>
									
									<tr>
									   <td colspan="5" class="innerTop">&nbsp;</td>
									</tr>
									<tr>
									   <td class="subheader">Service Schedule</td>
										<td colspan="3">
											<table cellpadding="0" cellspacing="0">
												<tr>
													<td>
														<div class="blueBox floatRight">
														  <div class="blueBox_1">
															<div class="blueBox_2">
															  <div class="blueBox_3">
																<div class="blueBox_4"> <span class="title2 tBold">Start Time</span>
																  <table class="perWidth100" cellpadding="0" cellspacing="0">
																	<col width="20%" />
																	<col width="60%" />
																	<col width="20%" />
																	<tr>
																	  <td class="tright"><label for="">Date</label></td>
																	  <td><input type="text" id="edit_StartDate" name="StartDate" class="perWidth100" value="" size="8" onclick="calendarMove(this)" onfocus="this.blur()">
																		<span class="tColor3 smallText">MM/DD/YYYY</span> </td>
																	  <td>&nbsp;</td>
																	</tr>
																	<tr>
																	  <td class="tright"><label for="">Time</label></td>
																	  <td><input type="text" id="edit_StartTime" name="StartTime" class="perWidth100" value="" />
																		<span class="tColor3 smallText">H:MM AM/PM</span></td>
																	  <td>&#160;</td>
																	</tr>
																  </table>
																</div>
															  </div>
															</div>
														  </div>
														</div>
													</td>
													<td>
														<div class="blueBox">
														  <div class="blueBox_1">
															<div class="blueBox_2">
															  <div class="blueBox_3">
																<div class="blueBox_4"> <span class="title2 tBold">End Time</span>
																  <table class="perWidth100" cellpadding="0" cellspacing="0">
																	<col width="20%" />
																	<col width="60%" />
																	<col width="20%" />
																	<tr>
																	  <td class="tright"><label for="">Date</label></td>
																	  <td><input type="text" id="edit_EndDate" name="EndDate" class="perWidth100" value="" size="8" onclick="calendarMove(this)" onfocus="this.blur()">
																		<span class="tColor3 smallText">MM/DD/YYYY</span> </td>
																	  <td>&nbsp;</td>
																	</tr>
																	<tr>
																	  <td class="tright"><label for="">Time</label></td>
																	  <td><input type="text" id="edit_EndTime" name="EndTime" class="perWidth100" value="" />
																		<span class="tColor3 smallText">H:MM AM/PM</span></td>
																	  <td>&#160;</td>
																	</tr>
																  </table>
																</div>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</tr>
											</table>
										</td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
										<td ><label for="">Estimated on-site arrival time</label></td>
										<td colspan="2"><input type="text" id="edit_StartRange" name="StartRange" class="width140 floatLeft" value="" />
											<span class="indentTop indentRightSmall floatLeft">Estimated Duration (ex. 2.5 hrs)</span>
											<span class="tColor3 smallText floatRight innerTop innerLeftSmall">H:MM AM/PM</span><input type="text" id="edit_Duration" name="Duration" class="width80 floatRight" value="" />
										</td>
										<td>&#160;</td>
									</tr>
								
									<tr>
										<td>&#160;</td>
										<td class="tright"><label for="">Update Requested?</label></td>
										<td colspan="2"><input type="checkbox" value="1" id="edit_Update_Requested" name="Update_Requested"  /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
										<td class="tright"><label for="">Reason for Update</label></td>
										<td colspan="2"><textarea rows="10" cols="45" name="Update_Reason" class="perWidth100"></textarea></td>
										<td>&#160;</td>
									</tr>
								</table>
							</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section1 -->
                <!-- section2 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">2. Work Order Instructions, Documents, Parts Manager</a></div>
                          <div class="sectionInner" id="section2">
                              <table cellpadding="0" cellspacing="0" class="sectionFormTop">
                                <col width="120px">
                                <col width="245px">
                                <col width="*">
                                <col width="*">
                                <col width="79px">
								<tr>
									<td class="subheader">General Instructions </td>
									<td colspan="3"><label class="indentBottomSmall dBlock" for="">Work Description</label><textarea rows="3" cols="45" id="edit_Description" name="Description" class="perWidth100"></textarea></td>
									<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
                                </tr>
                                <tr>
									<td>&#160;</td>
                                  <td colspan="3" class=""><label class="indentBottomSmall dBlock" for="">Tech Requirements and Tools Required</label><textarea rows="3" cols="45" id="edit_Requirements" name="Requirements" class="perWidth100"></textarea>
								  <textarea rows="3" cols="45" name="Tools" id="edit_Tools" class="perWidth100"></textarea>
                                  </td>
								  <td>&#160;</td>
                                </tr>
                                <tr>
								<td>&#160;</td>
                                  <td colspan="3" class=""><label class="indentBottomSmall dBlock" for="">Special Instructions and Materials Pick up Instructions</label><textarea rows="3" cols="45" id="edit_SpecialInstructions" name="SpecialInstructions" class="perWidth100"></textarea>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
								<tr>
									<td>&#160;</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td colspan="5" class="tBold innerTop innerBottomSmall">Other Work Order Settings </td>
											</tr>
											<tr>
												<td>Technician role on site: </td>
															
												<td><input type="checkbox" value="1" id="edit_Lead" name="Lead" /></td>
												<td><label for="">Lead</label> </td>
															
												<td> <input type="checkbox" value="1" id="edit_Assist" name="Assist" /></td>
												<td><label for="">Assist</label></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
                                </tr>
								
								<tr>
                                  <td class="subheader">Notes and Shipping Instructions for Assigned Tech</td>
                                  <td colspan="3" class="innerTop"><textarea rows="3" cols="45" name="Ship_Contact_Info" class="perWidth100"></textarea>
                                  </td>
								  <td>&#160;</td>
                                </tr>

                                <tr>
									<td>&#160;</td>
									<td colspan="3"><div class="tBold indentBottom">Work Order Reference Documents and Files</div></td>
									<td>&#160;</td>
                                </tr>
                                <tr>
									<td>&#160;</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0">
											<col width="" />
											<col width="" />
											<tr>
												<td><input type="checkbox" value="1" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" /></td>
												<td class="tright"><label for="">Sign-off paperwork required for completion</label></td>
											</tr>
										</table>
										
									</td>
									<td>&#160;</td>
                                </tr>
								<tr>
									<td>&#160;</td>
									<td colspan="3" class="innerTop innerBottomSmall">Upload work order specific documents:   

								  </td>
								  <td>&#160;</td>
                                </tr>
								<tr>
									<td>&#160;</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0">
											<col width="33%" />
											<col width="33%" />
											<col width="33%" />
											<tr id="UploadTechPics">
                                                <td><input type="file" id="Pic1" name="Pic1" /></td>
                                                <td><input type="file" id="Pic2" name="Pic2" /></td>
                                                <td><input type="file" id="Pic3" name="Pic3" /></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>

							</table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section2 -->
                <!-- section3 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title" id="section3">3. Notifications, Communications, and Alerts</a></div>
                          <div class="sectionInner">
                            <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
								<col width="120px">
                                <col width="245px">
                                <col width="*">
                                <col width="*">
                                <col width="79px">
								<tr>
									<td class="subheader">Recruitment Settings</td>
									<td><label for="">Auto-blast to 50 miles on "publish"</label></td>
									<td><input type="checkbox" id="edit_AutoBlastOnPublish" disabled="disabled"  />
										<div class="floatRight"><input type="checkbox" id="edit_AcceptReplies" onclick="if (!$(this).attr('checked')) $('#edit_RecruitmentFromEmail').val('');" /></div>
									</td>
									<td><label for="">Accept replies</label></td>
									<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td><label for="">Send SMS on "publish"</label></td>	
									<td colspan="2"><input type="checkbox" id="edit_AutoSMSOnPublish" disabled="disabled" /></td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label for="">Auto-blast from Email</label></td>
									<td colspan="2">
                                        <script type="text/javascript">
                                            function updateAcceptReplies(element) {
                                                if ($(element).val()!='') $('#edit_AcceptReplies').attr('checked','checked')
                                                else $('#edit_AcceptReplies').removeAttr('checked');
                                            }
                                            
                                            $(document).ready(function(){ $("#edit_RecruitmentFromEmail").change(); });
                                        </script>
										<table cellpadding="0" cellspacing="0">
											<tr>												
												<td><input type="text" id="edit_RecruitmentFromEmail" name="RecruitmentFromEmail" class="width140" value="" onchange="updateAcceptReplies(this);" /></td>
												<td>&#160;</td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td class="subheader">Contacts</td>
									<td>Project Manager</td>
									<td colspan="2">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td><!--label for="">PM Name</label-->
												  <input type="text" id="edit_ProjectManagerName" name="ProjectManagerName" class="width140" value="" /></td>
												<td><!--label for="">PM Number</label-->
												  <input type="text" id="edit_ProjectManagerPhone" name="ProjectManagerPhone" class="width140" value="" />
												</td>
												<td><!--label for="">PM Email</label-->
												  <input type="text" id="edit_ProjectManagerEmail" name="ProjectManagerEmail" class="width140" value="" /></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td>Resource Coordinator</td>
									<td colspan="2">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td><!--label for="">PC Name</label-->
												  <input type="text" id="edit_ResourceCoordinatorName" name="ResourceCoordinatorName" class="width140" value="" /></td>
												<td><!--label for="">PC Number</label-->
												  <input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="" />
												</td>
												<td><!--label for="">PC Email</label-->
												  <input type="text" id="edit_ResourceCoordinatorEmail" name="ResourceCoordinatorEmail" class="width140" value="" /></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td>Emergency Contact</td>
									<td colspan="2">
										<table cellpadding="0" cellspacing="0">
											<tr>												
												<td><!--label for="">Emergency Name</label-->
												  <input type="text" id="edit_EmergencyName" name="EmergencyName" class="width140" value="" /></td>
												<td><!--label for="">Emergency Number</label-->
												  <input type="text" id="edit_EmergencyPhone" name="EmergencyPhone" class="width140" value="" />
												</td>
												<td><!--label for="">Emergency Email</label-->
												  <input type="text" id="edit_EmergencyEmail" name="EmergencyEmail" class="width140" value="" /></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td>Technical Help </td>
									<td colspan="2">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td><!--label for="">Technical Support Name</label-->
												  <input type="text" id="edit_TechnicalSupportName" name="TechnicalSupportName" class="width140" value="" /></td>
												<td><!--label for="">Technical Support Number</label-->
												  <input type="text" id="edit_TechnicalSupportPhone" name="TechnicalSupportPhone" class="width140" value="" />
												</td>
												<td><!--label for="">Technical Support Email</label-->
												  <input type="text" id="edit_TechnicalSupportEmail" name="TechnicalSupportEmail" class="width140" value="" /></td>
											</tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td>Check-in/Check-Out</td>
									<td colspan="2">
										<table cellpadding="0" cellspacing="0">
											<tr>												
												<td><!--label for="">Checkin / Checkout Name</label-->
												  <input type="text" id="edit_CheckInOutName" name="CheckInOutName" class="width140" value="" /></td>
												<td><!--label for="">Checkin / Checkout Number</label-->
												  <input type="text" id="edit_CheckInOutNumber" name="CheckInOutNumber" class="width140" value="" />
												</td>
												<td><!--label for="">Checkin / Checkout Email</label-->
												  <input type="text" id="edit_CheckInOutEmail" name="CheckInOutEmail" class="width140" value="" /></td>
											</tr>										
										</table>
									</td>
									<td>&#160;</td>
								</tr>
							  <tr>
                                  <td class="subheader">Automated Contact Services (telephonic) Calls and Alerts</td>
                                  <td colspan="3">
									<table cellpadding="0" cellspacing="0" class="perWidth100 label100">
									<tr>
										<td><input type="checkbox" value="1" id="edit_ReminderAcceptance" name="ReminderAcceptance"  /></td>
										<td><label for="edit_ReminderAcceptance">Work Order Not Yet Accepted (24 hours) reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_CheckOutCall" name="CheckOutCall"  /></td>
										<td><label for="edit_CheckOutCall">Automated in-bound Check-out</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_Reminder24Hr" name="Reminder24Hr"  /></td>
										<td><label for="edit_Reminder24Hr">24-hour before start time reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_ReminderNotMarkComplete" name="ReminderNotMarkComplete"  /></td>
										<td><label for="edit_ReminderNotMarkComplete">Work order incomplete daily reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_Reminder1Hr" name="Reminder1Hr"  /></td>
										<td><label for=edit_Reminder1Hr">1 hour before start time reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_ReminderIncomplete" name="ReminderIncomplete"  /></td>
										<td><label for="edit_ReminderIncomplete">Work order incomplete daily reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" value="1" id="edit_CheckInCall" name="CheckInCall"  /></td>
										<td><label for="edit_CheckInCall">Automated in-bound Check-in</label></td>
									</tr>
									</table>
								  </td>
								  <td>&#160;</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section3 -->
                <!-- section4 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">4. Tech Pay, Terms, and Assignment</a></div>
                          <div class="sectionInner"  id="section4">
                            <table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
								<col width="120px">
                                <col width="245px">
                                <col width="*">
                                <col width="*">
                                <col width="79px">
							  <tr>
									<td class="subheader">Tech Pay:</td>
									<td colspan="3" class="">
									<table cellpadding="0" cellspacing="0">
										<col width="100px" />
										<col width="120px" />
										<col width="*" />
										<col width="120px" />
										<col width="*" />
										<col width="120px" />
										<tr>
											<td class=""><label class="width100">Max Client $ Offer</label></td>
											<td><input type="text" class="width120 indentLeft" id="edit_PayMax" name="PayMax" value="" /></td>
											<td class="tright"><label class="width65 indentLeft">Amount Per </label></td>
											<td><select class="width120 indentLeft" id="edit_Amount_Per" name="Amount_Per" onchange="$('#perLabel').html('per '+$('#edit_Amount_Per option:selected').val());if ($('#edit_Amount_Per option:selected').val() == 'Device') {$('#edit_Qty_Devices').removeAttr('readonly');}else{$('#edit_Qty_Devices').attr('readonly','readonly').val(0);}"><option  value="Site">Site</option><option value="Hour" >Hour</option><option value="Device" >Device</option></select></td>
											<td class="tright"><label class="width85 indentLeft">Device Quantity</label></td>
											<td><input type="text" class="width120 indentLeft" id="edit_Qty_Devices" name="Qty_Devices" value="" /></td>
										</tr>
									</table>
									<table cellpadding="0" cellspacing="0">
										<col width="20px" />
										<col width="*" />
										<tr>
											<td><input type="checkbox" class="" disabled="disabled" id="edit_FixedBid" /></td>
                                            <td>
                                                <label class="width240">Fixed Tech Pay, No Extra $ <br/> <span id="edit_FixedBidNotice" class="displayNone tColor3 smallText">This is a pre-set fixed tech pay work order., Techs cannot bid other prices or request additional/conditional extra $.</span></label></td>
										</tr>
										<tr>
											<td><input type="checkbox" class="" disabled="disabled" id="edit_PcntDeduct" /></td>
											<td><label class="width240">Deduct FS Service Fee from Tech</label></td>
										</tr>
									</table>
								</td>
								<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
							  </tr>
                              <tr>
                                    <td class="subheader" colspan="4">Push2Tech&trade; Auto Assignment Settings:</td>
									<td>&#160;</td>
								</tr>
								</tr>
									<td>&#160;</td>
                                    <td colspan="3" class="subheader innerTop"><input type="checkbox" disabled="disabled" id="edit_Push2Tech" class="indentRightSmall floatLeft" /> <label class="tBold width240">Push2Tech&trade; Activated</label></td>
									<td>&#160;</td>
                              </tr>
                              <script type="text/javascript">
                                  function updateMinutes() {
                                    d =	parseInt($("#edit_P2TD").val(),10);
                                    h = parseInt($("#edit_P2TH").val(),10);
                                    m = parseInt($("#edit_P2TM").val(),10);
                                    if (isNaN(d)) {
                                        d = 0;
                                        $("#edit_P2TD").val(d);
                                    }
                                    if (isNaN(h)) {
                                        h = 0;
                                        $("#edit_P2TH").val(h);
                                    }
                                    if (isNaN(m)) {
                                        m = 0;
                                        $("#edit_P2TM").val(m);
                                    }
                                    remain = d *1440 + h * 60 + m;
                                    $("#edit_MinutesRemainPublished").val(remain);
                                  }
                                  $(document).ready(function(){
                                      updateMinutes();
                                  });
                                  </script>
                              <tr>
									<td>&#160;</td>
                                    <td class="innerTop">Push2Tech™  Time Control expires in:</td>
                                    <td colspan="2" class="innerTop">
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TD" name ="P2TDV" class="width20 floatLeft indentRight" /> <label>Days</label></div>
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TH" name ="P2THV" class="width20 floatLeft indentRight" /> <label>Hours </label></div>
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TM" name ="P2TMV" class="width20 floatLeft indentRight" /> <label>Minutes</label></div></td>
                                    <input type="hidden" name="MinutesRemainPublished" value="" id ="edit_MinutesRemainPublished" />
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class="innerBottom"><strong>Auto-Assignment requirements:<strong></td>
                                    <td colspan="2">&nbsp;</td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class=""><label class="width240">Assign to Preferred techs Only</label></td>
                                    <td class=""><input type="checkbox"  disabled="disabled" class="" id="edit_P2TPreferredOnly" /></td>
                                    <td><input type="checkbox"  disabled="disabled" class="floatLeft" id="edit_notP2TPreferredOnly" /> <label class="indentLeftLarge">Any matching tech</label></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class=""><label class="width240">Assign to lowest bidder upon expiration</label></td>
                                    <td class=""><input type="checkbox"  disabled="disabled" class="" id="edit_isnotWorkOrdersFirstBidder"/></td>
                                    <td><input type="checkbox"  disabled="disabled" class="floatLeft" id="edit_isWorkOrdersFirstBidder"/> <label class="indentLeftLarge">First bidder below offer</label></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class=""><label class="width240">Skill Category minimum self-rating</label></td>
                                    <td class=""><span id="edit_MinimumSelfRating"></span></td>
                                    <td><label class="indentLeftSmall floatLeft">Maximum mileage from site:</label><span id="edit_MaximumAllowableDistance"></span> </td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class="innerTop"><label class="width240">P2T&trade; Notification emails: </label></td>
                                    <td class="innerTop"><input type="checkbox" disabled="disabled" class="" id="edit_Push2Tech" /></td>
                                    <td class="innerTop"><label class="floatLeft indentRightSmall width60">Emails to: </label> <input id="edit_P2TNotificationEmail" disabled="disabled" type="text" class="" value="" /></td>
									<td>&#160;</td>
                              </tr>
                               <tr>
                                    <td class="subheader">Assignment</td>
									<td><label class="">Assign FS Tech: </label></td>
									<td colspan="2" class="">
										<table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
										  <tr>
												
												<td class="" colspan="3">
													<div class="floatLeft indentRightLarge width115"><!--label>FS Tech ID #</label--><input type="text" class="width115" id="edit_Tech_ID" name="Tech_ID" value="" /></div>
													<div class="floatLeft indentRightLarge width115"><!--label>First Name</label--><input type="text" class="floatLeft indentRightLarge width115" id="edit_Tech_FName" readonly="readonly" name="Tech_FName" value=""  /></div>
													<div class="floatLeft indentRightLarge width115"><!--label>Last Name</label--><input type="text" class="floatLeft indentRightLarge width115" id="edit_Tech_LName" readonly="readonly" name="Tech_LName" value=""  /></div></td>
										  </tr>
										</table>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Tech Contact Info: </label></td>
									<td colspan="2" class="">
													<div class="floatLeft indentRightLarge width115"><!--label>Telephone 1</label--><input type="text" class="width115" id="edit_TechPhone"  readonly="readonly" name="TechPhone" value="" /></div>
													<div class="floatLeft indentRightLarge width115"><!--label>E-mail</label--><input type="text" id="edit_TechEmail" name="TechEmail"  readonly="readonly" value="" class="floatLeft indentRightLarge width115" /></div>
													</td>
									<td>&#160;</td>
								</tr>
                                                                 <!-- 14112-->
                                                                        <tr>
                                                                            <td>&#160;</td>
                                                                            <td>
                                                                                <label style="width:150px;" id="lblISOInformation"></label>
                                                                            </td>                       
                                                                            <td colspan="4">
                                                                                <div id="divISOInformation" class="floatLeft"></div>
                                                                            </td>                       
                                                                        </tr><!--14112-->
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Bid/Agreed Amount: </label></td>
									<td class="" colspan="2"><div class="width115 floatLeft indentRightLarge"><!--label>$$.$$</label--><input id="edit_Tech_Bid_Amount" name="Tech_Bid_Amount" value="" type="text" class="width115" /></div>
                                        <div id="perLabel" class="floatLeft indentRightLarge">per Site</div>
									</td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Tech Bid Comments:</label></td>
									<td class="" colspan="2"><textarea class="txtarea_f" id="edit_TechComments" name="TechComments"></textarea></td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Back Up Tech: </label></td>
									<td class="" colspan="2"><div class="floatLeft indentRightLarge width115"><!--label>FS Tech ID #</label--><input id="edit_BU1FLSID" name="BU1FLSID" value="" type="text" class="width115" /></div></td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Back Up Tech Comments:</label></td>
									<td class="" colspan="2"><textarea class="txtarea_f" id="edit_BU1Info" name="BU1Info"></textarea></td>
									<td>&#160;</td>
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">No Show Tech ID:</label></td>
									<td class="" colspan="2"><input type="text" class="floatLeft indentRightLarge width115" id="edit_NoShow_Tech" name="NoShow_Tech" value="" />
												<label class="floatLeft width140">Backed-Out Tech ID#</label> <input id="edit_BackOut_Tech" name="BackOut_Tech" value="" type="text" class="floatLeft indentRightLarge width115" /></td>
									<td>&#160;</td>
								</tr>
								<tr>
                                    <td class="subheader">&#160;</td>
                                    <td colspan="3" class="innerTop">
                                        <div id="techFeeAgreement">
                                            Bid represents the amount bid by the assigned tech, unless client over-rides after agreement with the tech.<br/><br/>
                                            I understand that, upon approval ,Field Solutions will pay the technician for this work. I understand that upon approval, I will be billed the Bid/Agreed amount plus a processing fee.<br/><br/>
                                        </div>

                                            <div class="clr"><input type="checkbox" value="1" class="floatLeft indentRightSmall" id="edit_assignment_agreement" /> <label>Yes, I agree.</label></div>
                                    </td>
									<td>&#160;</td>
                              </tr>
                              <script type="text/javascript">
                                  $(document).ready(function(){
                                      $("#edit_Tech_ID").change(function(){
                                          if ($(this).val() != '') {
                                          $.ajax({url:"/widgets/dashboard/popup/get-tech-info/tech/"+$(this).val(), success: function(data){
                                                  if (data['error']==0) {
                                                      $("#edit_Tech_FName").val(data['techInfo']['fName']);
                                                      $("#edit_Tech_LName").val(data['techInfo']['lName']);
                                                      $("#edit_Tech_Email").val(data['techInfo']['email']);
                                                      $("#edit_TechPhone").val(data['techInfo']['phone']);
                                                      $("#edit_TechPhone2").val(data['techInfo']['phone2']);
                                                      //$("#techFeeAgreement").val(data['techInfo']['feeAgreement']);
                                                      //14112                            
                                                        if (data['techInfo']['ISO_ID'] >0) {                                 
                                                            $("#lblISOInformation").html('ISO Information');
                                                            $("#divISOInformation").html(data['techInfo']['ISO_Name'] + "(ISO ID# "+data['techInfo']['ISO_ID']+")");
                                                        }else
                                                            {
                                                                $("#lblISOInformation").html(''); 
                                                                $("#divISOInformation").html('');    
                                                            }
                                                  }else{
                                                      $("#edit_Tech_ID").val('');
                                                      $("#lblISOInformation").html(''); 
                                                      $("#divISOInformation").html('');//14112   
                                                  }
                                          }});
                                          }
                                       })
                                  });
                                  </script>
                             </table>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section4 -->
		<!-- section5 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">5. Tech On-site and Check In Notifications</a></div>
                          <div class="sectionInner"  id="section5">
                                <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
									<col width="120px">
									<col width="20px">
									<col width="*">
									<col width="*">
									<col width="79px">
									<tr>
										<td class="subheader">Tech Confirmations</td>
										<td class=""><input type="checkbox" class="" name="WorkOrderReviewed" id="edit_WorkOrderReviewed" value="1"  /></td>
										<td colspan="2"><label class="perWidth100">Tech has reviewed Work Order Details and confirms acceptance </label></td>
										<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
									</tr>
									<tr>										
										<td>&#160;</td>
                                        <td class=""><input type="checkbox" class="" name="TechCheckedIn_24hrs" id="edit_CheckedIn_24hrs" value="1" /></td>
                                        <td class="" colspan="2"><label class="perWidth100">Tech has confirmed appointment 24 hours before start time</label></td>
										<td>&#160;</td>
                                  </tr>
                                  <tr>
                                        <td class="subheader">Client Notes – Store Notification</td>
										<td colspan="3" class="innerTop">
											<table cellpadding="0" cellspacing="0">
												<tr>
													<td class="tright"><input type="checkbox" class="" name="StoreNotified" id="edit_StoreNotified"  value="1" /></td>
													<td><label class="width100">Store Notified</label></td>
													<td class="tright"><label class="width90">Notified by:</label></td>
													<td><input type="text" class="width115" name="Notifiedby" id="edit_Notifiedby"  value="" /></td>
													<td class="tright"><label class="width60">Date:</label></td>
													<td><input type="text" class="width115"  id="edit_DateNotified" name="DateNotified" value="" onclick="calendarMove(this)" onfocus="this.blur()" /></td>
												</tr>
											</table>
										</td>
										<td>&#160;</td>
								  </tr>
                                   <tr>
										<td>&#160;</td>
                                        <td class="tleft" colspan="3"><label>Store Notified notes</label><textarea class="" rows="3" cols="75" id="edit_NotifyNotes" name="NotifyNotes" ></textarea></td>
										<td>&#160;</td>
                                  </tr>
                                  <tr>
                                        <td class="subheader">Client Notes – Tech Manual Check In</td>
										<td colspan="3" class="innerTop">
											<table cellpadding="0" cellspacing="0">
												<col width="" />
												<col width="" />
												<col width="" />
												<col width="" />
												<tr>
													<td class="tright"><input type="checkbox" class="" name="CheckedIn" id="edit_CheckedIn"  value="1" /></td>
													<td><label class="width100">Checked In</label></td>
													<td class="tright"><label class="width90">Checked In By</label></td>
													<td><input type="text" class="width115" name="Checkedby" id="edit_Checkedby"  value="" /></td>
													
												</tr>
											</table>
										</td>
										<td>&#160;</td>
								  </tr>
                                   <tr>
										<td>&#160;</td>
                                        <td class="tleft" colspan="3"><label>Tech Check in notes</label><textarea class=""  rows="3" cols="75" id="edit_CheckInNotes" name="CheckInNotes" ></textarea></td>
										<td>&#160;</td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section5 -->
				<!-- section6 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">6. Site Completion Information</a></div>
                          <div class="sectionInner"  id="section6">						 
                            <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
                              <col width="120px">
                                <col width="245px">
                                <col width="*">
                                <col width="*">
                                <col width="79px">
                              <tr>
                                    <td class="subheader">Tech Check In/Out</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0">
											<col width="53%" />
											<col width="*" />
											<tr>
												<td class="tleft">
														<label class="width170">Total Duration On-Site (calc)</label> <input readonly="readonly" value="0" type="text" class="floatLeft width130" />
												</td>
												<td class="tleft">
														<label class="width50">Miles</label> <input type="text" readonly="readonly" value="0" class="floatLeft width130" />
												</td>
											</tr>
										</table>
									</td>
									<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class=""><label class="width240">Paperwork Received: </label></td>
                                    <td class="tleft"><input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" class="" />
										<div class="floatRight"><input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" class="" /></div>
									</td>
									<td><label class="width240">Paperwork Incomplete</label></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
                                    <td class="subheader">Tech Site Completion Report</td>
                                    <td><label class="width240">Site Marked Complete by Tech</label></td>
                                    <td class="tleft"><input type="checkbox" value="1" id="edit_TechMarkedComplete" name="TechMarkedComplete" class="" />
										<div class="floatRight"><input type="checkbox" value="1" id="edit_CallClosed" name="CallClosed" class="" /></div>
									</td>
									<td class="innerTop"><label class="width240">Site Marked Complete in Client System</label></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td  colspan="3"><label class="indentBottomSmall dBlock perWidth100">Tech Comments </label>
									<textarea rows="3" cols="75" id="edit_TechComments" name="TechComments" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class="tright"><label class="width240">Mark Work Order Incomplete and notify Tech</label></td>
                                    <td colspan="2" class="tleft"><input type="checkbox" value="1" id="edit_MarkIncompleteV" name="MarkIncompleteV" class="" class="floatLeft indentRightSmall" /></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td colspan="3" class="innerTop"><label class="indentBottomSmall dBlock perWidth100">Incomplete Work Order Comments: required if site marked incomplete, specify tech requirements to complete</label>
                                        <textarea rows="3" cols="75" id="edit_MissingComments" name="MissingComments" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                               <tr>
									<td>&#160;</td>
                                    <td colspan="3" class="innerTop"><label class="indentBottomSmall dBlock perWidth100">Client Closing Comments</label>
									<textarea rows="3" cols="75" id="edit_ClientComments" name="ClientComments" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                             </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section6 -->
				<!-- section7 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">7. Work Order Financial Details and Approval</a></div>
                          <div class="sectionInner"  id="section7">						  
                                <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
									<col width="120px">
									<col width="245px">
									<col width="*">
									<col width="*">
									<col width="79px">
									<tr>
										<td class="subheader">Base Tech Pay</td>										
										<td colspan="3" class="innerBottom">
											<table cellpadding="0" cellspacing="0">
												<col width="" />
												<col width="" />
												<col width="" />
												<tr>
													<td>Agreed Pay <span class="innerLeft innerRight"></span> per Site</td>
													<td class="tright"><label class="width170">Calculated Total Hours </label></td>
													<td><input type="text" class="indentLeft" id="edit_calculatedTechHrs" name="calculatedTechHrs" value=""  /></td>
												</tr>
											</table>
										</td>
										<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Base Tech Pay: </label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_baseTechPay" name="baseTechPay" value="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
                                        <td class="subheader">Extra $ and Adjustments</td>
                                        <td><label class="">Out of Scope Labor</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_OutofScope_Amount" onchange="" name="OutofScope_Amount" value="" /></td>
                                        <td><input type="text" class="width240" id="edit_Add_Pay_AuthBy" name="Add_Pay_AuthBy" value=""  /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Trip Charge</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_TripCharge" name="TripCharge" value="" /></td>
                                        <td rowspan="5"><textarea class="txtarea_f3" id="edit_Add_Pay_Reason" name="Add_Pay_Reason" ></textarea></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Mileage Fee</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_MileageReimbursement" name="MileageReimbursement" value="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Materials Reimbursement</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_MaterialsReimbursement" name="MaterialsReimbursement" value="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Abort/Short Notice Pay</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_AbortFeeAmount" name="AbortFeeAmount" value="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Other Non-labor Adjustments</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_Additional_Pay_Amount" name="Additional_Pay_Amount" value="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
                                        <td class="subheader">Total Tech Pay and Approval</td>
                                        <td><label class="">Final Total Tech Pay: </label></td>
                                        <td colspan="2" class="tleft innerTop"><input type="text" class="" readonly="readonly" id="edit_PayAmount" name="PayAmount"  value=""/></td>
										<td>&#160;</td>
									</tr>
									<script type="text/javascript">
										var updateFinalPay = function() {
											var sum = 0;
											$.map(['edit_baseTechPay', 'edit_OutofScope_Amount','edit_TripCharge','edit_MileageReimbursement','edit_MaterialsReimbursement','edit_AbortFeeAmount','edit_Additional_Pay_Amount'],function(id) {
												sum+=$('#'+id).val()?parseFloat($('#'+id).val()):0;
											});
											$('#edit_PayAmount').val(sum);
										}
											$.map(['edit_baseTechPay', 'edit_OutofScope_Amount','edit_TripCharge','edit_MileageReimbursement','edit_MaterialsReimbursement','edit_AbortFeeAmount','edit_Additional_Pay_Amount'], function( id ) {
												$('#'+id).change(function() { $("#edit_Add_Pay_AuthBy").val('<?=$this->name?>'); updateFinalPay();});
										});
									</script>
									<tr>
										<td>&#160;</td>
                                        <td class=""><input type="checkbox" class="" id="edit_Approved" value="1" name="Approved" /></td>
                                        <td colspan="2" class="tleft"><label class="width240 tBold">Approve Work Order For Payment </label></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Date Approved: </label></td>
                                        <td colspan="2" class="tleft"><span class="floatLeft"/></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Date Tech Paid: </label></td>
                                        <td colspan="2" class="tleft"><span></span></td>
										<td>&#160;</td>
									</tr>
									<tr>
                                        <td class="subheader">Rate Technician</td>
                                        <td colspan="3" class="innerTop" ><label class="perWidth100">How likely would you be to recommend this tech: </label>
											<ul>
												<li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Extremely likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Somewhat likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Not very likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Not at all likely</label></li>
											</ul>
                                        </td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td colspan="3" class="innerTop"><label class="perWidth100">The outcome of this field service event was:</label>
                                                <ul>
													<li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Excellent</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Very Good</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Satisfactory</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Not Satisfactory</label></li>
                                                </ul>
                                        </td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
										<td class=""><label class="">Mark Tech as a Preferred Tech</label></td>
										<td colspan="2" class="tleft"><input type="checkbox" id="edit_PreferTechV" name="PreferTechV" value="1" class="" /></td>
										<td>&#160;</td>
									</tr>
									<tr>
										<td>&#160;</td>
										<td class=""><label class="">Client Deny Tech</label></td>
										<td colspan="2" class="tleft"><input type="checkbox" id="edit_DenyTechV" name="DenyTechV" value="1" class="" />
									  <script type="text/javascript" >
										  $(document).ready(function(){
											  $("#edit_PreferTechV").change(function(){
												 if ($(this).attr('checked')) {
													 $("#edit_DenyTechV").removeAttr('checked');
												 }
											  });
											  $("#edit_DenyTechV").change(function(){
												 if ($(this).attr('checked')) {
													 $("#edit_PreferTechV").removeAttr('checked');
												 }
											  });
										  });
									  </script>
										</td>
										<td>&#160;</td>
									</tr>
                                  <tr>
                                        <td class="subheader">Deactivate Work Order</td>
                                        <td><label class="">Deactivate Work Order</label></td>
                                        <td colspan="2" class="tleft innerTop"><input type="checkbox" class="floatLeft indentRightLarge" id="edit_Deactivated" name="Deactivated" value="1"  />
                                            <select class="width180" id="edit_DeactivationCode" name="DeactivationCode">
                                            <option value="" selected="selected">Select Deactivation Code</option>
                                            <?php foreach ($this->deactivationCodes as $code) :?>
                                            <option value="<?=$code?>" ><?=$code?></option>
                                            <?php endforeach; ?>
                                            </select></td>
										<td>&#160;</td>
                                  </tr>
                                  <tr>
										<td>&#160;</td>
                                        <td colspan="3"><label class="">Deactivation Comments/Reason</label>
										<textarea rows="3" cols="75" name="Deactivated_Reason" id="edit_Deactivated_Reason" ></textarea></td>
										<td>&#160;</td>
                                  </tr>
                                </table>
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section7 -->
                <!-- section8 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><div class="sectionBox_title"><a class="title">8. Other Information</a></div>
                          <div class="sectionInner"  id="section8">
								<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
									<col width="120px">
									<col width="245px">
									<col width="*">
									<col width="*">
									<col width="79px">
								<tr>
									<td class="subheader">General Information </td>
                                    <td colspan="3" class="tleft innerBottom"><label>General Comments 1</label><textarea class="txtarea_f2" id="edit_General1" name="General1" ></textarea></td>
									<td><input type="button" value="Create" onclick="detailsWidget.createWO();" class="link_button floatRight" /></td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 2</label><textarea class="txtarea_f2" id="edit_General2" name="General2" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 3</label><textarea class="txtarea_f2" id="edit_General3" name="General3" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 4</label><textarea class="txtarea_f2" id="edit_General4" name="General4" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 5</label><textarea class="txtarea_f2" id="edit_General5" name="General5" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
							  <td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 6</label><textarea class="txtarea_f2" id="edit_General6" name="General6" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 7</label><textarea class="txtarea_f2" id="edit_General7" name="General7" ></textarea></td>
								<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 8</label><textarea class="txtarea_f2" id="edit_General8" name="General8" ></textarea></td>
								<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 9</label><textarea class="txtarea_f2" id="edit_General9" name="General9" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>General Comments 10</label><textarea class="txtarea_f2" id="edit_General10" name="General10" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <?php if ($this->isPM) : ?>
                              <tr>
								<td>&#160;</td>
                                    <td colspan="3" class="tleft innerTop innerBottom"><label>FS Internal Comments</label><textarea class="txtarea_f2" id="edit_FS_InternalComments" name="FS_InternalComments" ></textarea></td>
									<td>&#160;</td>
                              </tr>
                              <?php endif; ?>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section8 -->
                <!-- sections -->
                <?php else : ?>
                    <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') :?>
                        <div><?=$this->error?></div>
                    <?php endif;?>
                <?php endif;?>
            
            </div>
          </div>
        </div>
      </div>
</form>
      <!-- content box -->
      </div>
</div>
