<link rel="stylesheet" type="text/css" href="/widgets/css/details.css" media="screen" />

<script type="text/javascript">
$(document).ready(function(){
    $(".sectionBox .title").click(function(){
       $(this).next(".sectionInner").slideToggle("slow")
       .siblings(".sectionInner:visible").slideUp("slow");
       $(this).parents(".sectionBox").toggleClass("sectionOpen");
   });

   <?php
   /*switch ($this->wo->Status) {
       case 'workdone':
           ?>
                   $('#section6').slideToggle("slow");
                   $('#section7').slideToggle("slow");
                   $('#section8').slideToggle("slow");
           <?php
           break;
       case 'created':
       case 'published':
           ?>
                   $('#section3').click();
           <?php
           break;
       case 'assigned':
       case 'incomplete':
       case 'completed':
       default:
           ?>
                   $('#section1').slideToggle("slow");
                   $('#section2').slideToggle("slow");
                   $('#section3').slideToggle("slow");
                   $('#section4').slideToggle("slow");
                   $('#section5').slideToggle("slow");
                   $('#section6').slideToggle("slow");
                   $('#section7').slideToggle("slow");
                   $('#section8').slideToggle("slow");
           <?php
           break;
   }*/ ?>
});
</script>

<?php 
?>

<div class="details_breadcrumbs">
    <ul>
        <li class="first">Update Work Order</li>
        <li class="visited" id="bc_created">1. Copy »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:echo 'active';break;
            default: echo 'visited';break;
        }?>" id="bc_published">2. Publish »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:echo '';break;
            case WO_STATE_PUBLISHED:echo 'active';break;
            default: echo 'visited';break;
        }?>" id="bc_assigned">3. Assign »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:
            case WO_STATE_PUBLISHED:
                echo '';break;
            case WO_STATE_ASSIGNED:echo 'active';break;
            default: echo 'visited';break;
        }?>" id="bc_approved">4. Approve »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:
            case WO_STATE_PUBLISHED:
            case WO_STATE_ASSIGNED:
                echo '';break;
            default: echo 'visited';break;
        }?>" id="bc_incomplete">5. Mark Incomplete »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:
            case WO_STATE_PUBLISHED:
            case WO_STATE_ASSIGNED:
                echo '';break;
            case WO_STATE_APPROVED:
            case WO_STATE_INCOMPLETE:
                echo 'active';break;
            default: echo 'visited';break;
        }?>" id="bc_completed">6. Archive »</li>
        <li class="<?php
        switch ($this->wo->Status) {
            case WO_STATE_CREATED:
            case WO_STATE_PUBLISHED:
            case WO_STATE_ASSIGNED:
            case WO_STATE_APPROVED:
            case WO_STATE_INCOMPLETE:
                echo '';break;
            case WO_STATE_COMPLETED:
                echo 'active';break;
            default: echo 'visited';break;
        }?>" id="bc_deactivated" class="last">7. Deactivate »</li>
    </ul>

    <span class="left">Win# <?=$this->wo->WIN_NUM?> Client WO ID#: <?=$this->wo->WO_ID?></span> <span class="right">Client PO #: WHAT SHOULD BE HERE?</span>
</div>

<div class="content old_style">
<!-- content box -->
<form action="/widgets/details/update/" method="POST" id="updateDetailsForm">
      <div class="gradBox indentTopLarge">
        <div class="gradBox_1">
          <div class="gradBox_2_tabs">
            <div>


                <!-- submenu -->
                <div class="submenu">
                  <ul class="clr">
                    <li><a href="javascript:openPopup('wosApplicant.php?v=<?=$this->companyId?>&sb=0&ClientID=483&WorkOrderID=<?=$this->wo->WO_ID?>')">View <br/ >Applicants</a></li>
                    <li><a href="javascript:openPopup('wosViewTechProfileSimple.php?v=<?=$this->companyId?>&TechID=<?=$this->wo->Tech_ID?>')">Tech <br/ >Profile</a></li>
                    <li><a href="techs.php?v=<?=$this->companyId?>&newSearch=1&defaultZip=">Tech <br/ >Search</a></li>
                    <li><a href="javascript:openPopup('wosProjectDocs.php?v=<?=$this->companyId?>&Project_ID=0')">Project <br/ >Documents</a></li>
                    <li><a href="javascript:openPopup('wosAddContact.php?v=<?=$this->companyId?>&WO_ID=<?=$this->wo->WO_ID?>&email=jandb@jbsussna.com&Tech_FName=Jeff&Tech_LName=Sussna&fromName=Vlad Rybaltovsky&fromEmail=alexander.scherba@warecorp.com')">Make <br/ >Contact</a></li>
                    <li><a href="javascript:openPopup('wosViewContactLog.php?v=<?=$this->companyId?>&WO_ID=<?=$this->wo->WO_ID?>')">Contact <br/ >Log</a></li>
                    <li><a href="javascript:openPopup('wosTimeStamps.php?v=<?=$this->companyId?>&WO_ID=<?=$this->wo->WO_ID?>')">Activity <br/ >Log</a></li>
                    <li class="last"><a href="javascript:openPopup('copyWO.php?WO_ID=<?=$this->wo->WO_ID?>')">Copy <br/ >WO</a></li>
                  </ul>
                </div>
                <!-- submenu -->
                <?php if ($this->success):?>
                <!-- sections -->
                <!-- section1 -->
                <div class="sectionBox sectionOpen">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 1. Basic Work Order Information</a>
                          <div class="sectionInner" style="display:block;" id="section1">
                              <input type="button" value="Submit" onclick="detailsWidget.updateDetails();" />
                              <span class="required">*Required Information</span>
                            <form id="" name="" onsubmit="">
                              <table class="sectionForm">
                                <col width="230px">
                                <col width="370px">
                                <col width="79px">

                                <tr>
                                  <td class="tright"><label for="">WIN#</label></td>
                                  <td><label for=""><?=$this->wo->WIN_NUM?></label></td>
                                  <td><input type="hidden" name="WIN_NUM" value="<?=$this->wo->WIN_NUM?>" />
                                      <input type="hidden" name="companyId" value="<?=$this->companyId?>" />
                                      &#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for=""><span class="required">*</span>Client Work Order ID#</label></td>
                                  <td><input type="text" id="edit_WO_ID" name="WO_ID" class="perWidth100" value="<?=$this->wo->WO_ID?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Client Purchase Order#</label></td>
                                  <td><input type="text" id="edit_PO" name="PO" class="perWidth100" value="<?=$this->wo->PO?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Show Work Order to Tech?</label></td>
                                  <td><input type="checkbox" id="edit_ShowTechs" name="ShowTechs" class="floatLeft noIndent" <?php if($this->wo->ShowTechs)echo'checked';?> />
                                    <div class="tColor3 innerLeftSmall smallText floatLeft">Check box if YES</div></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Date Created</label></td>
                                  <td><label for=""><?=$this->wo->DateEntered?></label></td>
                                  <td><input type="hidden" name="DateEntered" value="<?=$this->wo->DateEntered?>" />&#160;</td>
                                </tr>
                                <tr>
                                  <td><div class="blueBox floatRight">
                                      <div class="blueBox_1">
                                        <div class="blueBox_2">
                                          <div class="blueBox_3">
                                            <div class="blueBox_4"> <span class="title tBold">Start Time</span>
                                              <table class="perWidth100">
                                                <col width="20%" />
                                                <col width="60%" />
                                                <col width="20%" />
                                                <tr>
                                                  <td class="tright"><label for="">Date</label></td>
                                                  <td><input type="text" id="edit_StartDate" name="StartDate" class="perWidth100" value="<?=$this->wo->StartDate?>" size="8" onclick="calendarMove(this)" onfocus="this.blur()">
                                                    <span class="tColor3 smallText">MM/DD/YYYY</span> </td>
                                                  <td><a href="#"><img src="images/calendar.png" width="16" height="15" /></a></td>
                                                </tr>
                                                <tr>
                                                  <td class="tright"><label for="">Time</label></td>
                                                  <td><input type="text" id="edit_StartTime" name="StartTime" class="perWidth100" value="<?=$this->wo->StartTime?>" />
                                                    <span class="tColor3 smallText">H:MM AM/PM</span></td>
                                                  <td>&#160;</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                  <td><div class="blueBox">
                                      <div class="blueBox_1">
                                        <div class="blueBox_2">
                                          <div class="blueBox_3">
                                            <div class="blueBox_4"> <span class="title tBold">End Time</span>
                                              <table class="perWidth100">
                                                <col width="20%" />
                                                <col width="60%" />
                                                <col width="20%" />
                                                <tr>
                                                  <td class="tright"><label for="">Date</label></td>
                                                  <td><input type="text" id="edit_EndDate" name="EndDate" class="perWidth100" value="<?=$this->wo->EndDate?>" size="8" onclick="calendarMove(this)" onfocus="this.blur()">
                                                    <span class="tColor3 smallText">MM/DD/YYYY</span> </td>
                                                  <td><a href="#"><img src="images/calendar.png" width="16" height="15" /></a></td>
                                                </tr>
                                                <tr>
                                                  <td class="tright"><label for="">Time</label></td>
                                                  <td><input type="text" id="edit_EndTime" name="EndTime" class="perWidth100" value="<?=$this->wo->EndTime?>" />
                                                    <span class="tColor3 smallText">H:MM AM/PM</span></td>
                                                  <td>&#160;</td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Estimated on-site arrival time</label></td>
                                  <td><input type="text" id="edit_StartRange" name="StartRange" class="width140 floatLeft" value="<?=$this->wo->StartRange?>" />
                                    <span class="indentTop indentRightSmall floatLeft">Estimated Duration (ex. 2.5 hrs)</span>
                                    <input type="text" id="edit_Duration" name="Duration" class="width80 floatRight" value="<?=$this->wo->Duration?>" /></td>
                                  <td><span class="tColor3 smallText">H:MM AM/PM</span></td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Region</label></td>
                                  <td><input type="text" id="edit_Region" name="Region" class="width140 floatLeft" value="<?=$this->wo->Region?>" />
                                    <label for="" class="indentLeft floatLeft indentTop"><span class="required">*</span>Call Type</label>
                                    <select type="text" id="edit_Type_ID" name="Type_ID" class="width140 floatRight">
                                      <?php foreach( $this->callTypes as $ckey=>$ctype ) :?>
                                      <option value="<?=$ckey?>" <?php if($this->wo->Type_ID==$ckey)echo'selected';?>><?=$ctype?></option>
                                      <?php endforeach;?>
                                    </select>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Project</label></td>
                                  <td><select type="text" id="edit_Project_ID" name="Project_ID" class="width140 floatLeft">
                                      <option value="" <?php if(empty($prj->Project_Name))echo'selected';?>>Select Project</option>
                                      <?php foreach( $this->projects as $prj ) :
										$isSelectedProject = $this->wo->Project_ID==$prj->Project_ID || (empty($prj->Project_Name) && $prj->Project_Name == "Default Project");
									  ?>
                                      <?php if ($prj->Active || $isSelectedProject):?><option value="<?=$prj->Project_ID?>"  <?php if($isSelectedProject)echo'selected';?>><?=$prj->Project_Name?></option><?php endif;?>
                                      <?php endforeach;?>
                                    </select>
                                    <label for="" class="indentLeft floatLeft indentTop"><span class="required">*</span>Category</label>
                                    <select type="text" id="edit_WO_Category_ID" name="WO_Category_ID" class="width140 floatRight">
                                      <option value="">Select Category</option>
                                      <?php foreach( $this->categories as $category ) :?>
                                      <option value="<?=$category->Category_ID?>" <?php if($this->wo->WO_Category_ID==$category->Category_ID)echo'selected';?>><?=$category->Category?></option>
                                      <?php endforeach;?>
                                    </select>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for=""><span class="required">*</span>Headline</label></td>
                                  <td><input type="text" id="edit_Headline" name="Headline" class="perWidth100" value="<?=$this->wo->Headline?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Contact Name</label></td>
                                  <td><input type="text" id="edit_SiteName" name="SiteName" class="perWidth100" value="<?=$this->wo->SiteName?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Number</label></td>
                                  <td><input type="text" id="edit_SiteNumber" name="SiteNumber" class="perWidth100" value="<?=$this->wo->SiteNumber?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Address</label></td>
                                  <td><input type="text" id="edit_Address" name="Address" class="perWidth100" value="<?=$this->wo->Address?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">City</label></td>
                                  <td><input type="text" id="edit_City" name="City" class="perWidth100" value="<?=$this->wo->City?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">US State & CN Province</label></td>
                                  <td><select type="text" id="edit_State" name="State" class="width140 floatLeft">
                                      <option selected="selected" value="">Select State</option>
                                      <?php foreach( $this->states as $skey=>$state ) :?>
                                      <option value="<?=$skey?>" <?php if($this->wo->State==$skey)echo'selected';?>><?=$state?></option>
                                      <?php endforeach;?>
                                    </select>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Zip or Postal Code</label></td>
                                  <td><input type="text" id="edit_Zipcode" name="Zipcode" class="width140" value="<?=$this->wo->Zipcode?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Phone</label></td>
                                  <td><input type="text" id="edit_SitePhone" name="SitePhone" class="width140" value="<?=$this->wo->SitePhone?>" /><span class="tColor3 smallText">(###) ###-####</span></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Fax</label></td>
                                  <td><input type="text" id="edit_SiteFax" name="SiteFax" class="width140" value="<?=$this->wo->SiteFax?>" /><span class="tColor3 smallText">(###) ###-####</span></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Site Email</label></td>
                                  <td><input type="text" id="edit_SiteEmail" name="SiteEmail" class="perWidth100" value="<?=$this->wo->SiteEmail?>" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Update Requested?</label></td>
                                  <td><input type="checkbox" id="edit_Update_Requested" name="Update_Requested" <?php if($this->wo->Update_Requested)echo'checked';?> /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Reason for Update</label></td>
                                  <td><textarea rows="10" cols="45" name="Update_Reason" class="perWidth100"><?=$this->wo->Update_Reason?></textarea></td>
                                  <td>&#160;</td>
                                </tr>
                              </table>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section1 -->
                <!-- section2 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 2. Work Order Instructions, Documents, Parts Manager</a>
                          <div class="sectionInner"  id="section2">
                            <form id="" name="" onsubmit="">
                              <table class="sectionFormTop">
                                <col width="230px">
                                <col width="370px">
                                <col width="79px">
                                <tr>
                                  <td class="tright"><label for="">Work Description</label></td>
                                  <td><textarea rows="6" cols="45" name="Description" class="perWidth100"><?=$this->wo->Description?></textarea>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Tech Requirements</label></td>
                                  <td><textarea rows="6" cols="45" name="Requirements" class="perWidth100"><?=$this->wo->Requirements?></textarea>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Tools Required</label></td>
                                  <td><textarea rows="6" cols="45" name="Tools" class="perWidth100"><?=$this->wo->Tools?></textarea>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Special Instructions and Materials Pick up Instructions</label></td>
                                  <td><textarea rows="6" cols="45" name="SpecialInstructions" class="perWidth100"><?=$this->wo->SpecialInstructions?></textarea>
                                  </td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Lead</label></td>
                                  <td><input type="checkbox" id="edit_Lead" name="Lead" <?php if($this->wo->Lead)echo'checked';?> /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Assist</label></td>
                                  <td><input type="checkbox" id="edit_Assist" name="Assist" <?php if($this->wo->Assist)echo'checked';?> /></td>
                                  <td>&#160;</td>
                                </tr>

                                <tr>
                                  <td>&#160;</td>
                                  <td><div class="tBold indentBottom">Work Order Reference Documents and Files</div></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Sign-off paperwork required for completion</label></td>
                                  <td><input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" <?php if($this->wo->SignOffSheet_Required)echo'checked';?> /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">File / Picture / Schematics (Limit 15MB)</label></td>
                                  <td><input type="file" id="" name="" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">File / Picture / Schematics (Limit 15MB)</label></td>
                                  <td><input type="file" id="" name="" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">File / Picture / Schematics (Limit 15MB)</label></td>
                                  <td><input type="file" id="" name="" /></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">FS-Parts Manager</label></td>
                                  <td><div class="indentBottomLarge">
                                          <input id="partsMgr" name="partsMgr" type="button"  onclick="window.open('parts/list.php?woId=<?=$this->wo->WIN_NUM?>&v=<?=$this->companyId?>');" style="position: relative; left: 1px; margin: 3px 0px; border: 2px outset #000000" value="FS-Parts Manager"/>
                                      </div></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">New parts:</label></td>
                                  <td><div class="indentBottomLarge"></div></td>
                                  <td>&#160;</td>
                                </tr>
                                <tr>
                                  <td class="tright"><label for="">Return parts:</label></td>
                                  <td><div class="indentBottomLarge"></div></td>
                                  <td>&#160;</td>
                                </tr>

                              </table>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section2 -->
                <!-- section3 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title"  id="section3">Section 3. Notifications, Communications, and Alerts</a>
                          <div class="sectionInner">
                                <table class="sectionFormTop labelIndent">
                              <col width="65px">
                              <col width="165px">
                              <col width="165px">
                              <col width="284px">
                              <tr>
                                  <td>&#160;</td>
                                  <td><div class="tBold indentBottom">Recruitment Settings</div></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="">Auto-blast to 50 miles on “publish”</label></td>
                                  <td><input type="checkbox" id="edit_AutoBlastOnPublish" name="AutoBlastOnPublish" <?php if($this->wo->AutoBlastOnPublish)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="">Accept replies</label></td>
                                  <td><input type="checkbox" id="edit_" name="" <?php //if($this->wo->SignOffSheet_Required)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="">Send SMS on “publish”</label></td>
                                  <td><input type="checkbox" id="edit_SMSBlast" name="SMSBlast" <?php if($this->wo->SMSBlast)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="">Auto-blast from Email</label></td>
                                  <td><input type="text" id="edit_RecruitmentFromEmail" name="RecruitmentFromEmail" class="width140" value="<?=$this->wo->RecruitmentFromEmail?>" /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td>&#160;</td>
                                  <td><div class="tBold indentBottom">Contacts</div></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                <td>&#160;</td>
                                <td><label for="">PM Name</label>
                                  <input type="text" id="edit_ProjectManagerName" name="ProjectManagerName" class="width140" value="<?=$this->wo->ProjectManagerName?>" /></td>
                                <td><label for="">PM Number</label>
                                  <input type="text" id="edit_ProjectManagerPhone" name="ProjectManagerPhone" class="width140" value="<?=$this->wo->ProjectManagerPhone?>" />
                                </td>
                                <td><label for="">PM Email</label>
                                  <input type="text" id="edit_ProjectManagerEmail" name="ProjectManagerEmail" class="width140" value="<?=$this->wo->ProjectManagerEmail?>" /></td>
                              </tr>
                              <tr>
                                <td>&#160;</td>
                                <td><label for="">PC Name</label>
                                  <input type="text" id="edit_ResourceCoordinatorName" name="ResourceCoordinatorName" class="width140" value="<?=$this->wo->ResourceCoordinatorName?>" /></td>
                                <td><label for="">PC Number</label>
                                  <input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="<?=$this->wo->ResourceCoordinatorPhone?>" />
                                </td>
                                <td><label for="">PC Email</label>
                                  <input type="text" id="edit_ResourceCoordinatorEmail" name="ResourceCoordinatorEmail" class="width140" value="<?=$this->wo->ResourceCoordinatorEmail?>" /></td>
                              </tr>
                              <tr>
                                <td>&#160;</td>
                                <td><label for="">Emergency Name</label>
                                  <input type="text" id="edit_EmergencyName" name="EmergencyName" class="width140" value="<?=$this->wo->EmergencyName?>" /></td>
                                <td><label for="">Emergency Number</label>
                                  <input type="text" id="edit_EmergencyPhone" name="EmergencyPhone" class="width140" value="<?=$this->wo->EmergencyPhone?>" />
                                </td>
                                <td><label for="">Emergency Email</label>
                                  <input type="text" id="edit_EmergencyEmail" name="EmergencyEmail" class="width140" value="<?=$this->wo->EmergencyEmail?>" /></td>
                              </tr>
                              <tr>
                                <td>&#160;</td>
                                <td><label for="">Technical Support Name</label>
                                  <input type="text" id="edit_TechnicalSupportName" name="TechnicalSupportName" class="width140" value="<?=$this->wo->TechnicalSupportName?>" /></td>
                                <td><label for="">Technical Support Number</label>
                                  <input type="text" id="edit_TechnicalSupportPhone" name="TechnicalSupportPhone" class="width140" value="<?=$this->wo->TechnicalSupportPhone?>" />
                                </td>
                                <td><label for="">Technical Support Email</label>
                                  <input type="text" id="edit_TechnicalSupportEmail" name="TechnicalSupportEmail" class="width140" value="<?=$this->wo->TechnicalSupportEmail?>" /></td>
                              </tr>
                              <tr>
                                <td>&#160;</td>
                                <td><label for="">Checkin / Checkout Name</label>
                                  <input type="text" id="edit_CheckInOutName" name="CheckInOutName" class="width140" value="<?=$this->wo->CheckInOutName?>" /></td>
                                <td><label for="">Checkin / Checkout Number</label>
                                  <input type="text" id="edit_CheckInOutNumber" name="CheckInOutNumber" class="width140" value="<?=$this->wo->CheckInOutNumber?>" />
                                </td>
                                <td><label for="">Checkin / Checkout Email</label>
                                  <input type="text" id="edit_CheckInOutEmail" name="CheckInOutEmail" class="width140" value="<?=$this->wo->CheckInOutEmail?>" /></td>
                              </tr>
                              <tr>
                                  <td>&#160;</td>
                                  <td colspan="2"><div class="tBold indentBottom">Active Email Notifications and Alerts NYI</div></td>
                              </tr>
<!--                              <tr>
                                  <td class="tright"><label for="">Receive Bid Notifications by email</label></td>
                                  <td>
                                      <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" <?php if($this->wo->SignOffSheet_Required)echo'checked';?> />
                                      <input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="<?=$this->wo->ResourceCoordinatorPhone?>" />
                                  </td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="">Receive Assignment notifications by email</label></td>
                                  <td>
                                      <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" <?php if($this->wo->SignOffSheet_Required)echo'checked';?> />
                                      <input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="<?=$this->wo->ResourceCoordinatorPhone?>" />
                                  </td>
                                  <td>&#160;</td>
                              </tr>-->
                              <tr>
                                  <td>&#160;</td>
                                  <td colspan="2"><div class="tBold indentBottom">Automated Contact Services (telephonic) Calls and Alerts</div></td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_ReminderAcceptance">Work Order Not Yet Accepted (24 hours) reminder</label></td>
                                  <td><input type="checkbox" value="1" id="edit_ReminderAcceptance" name="ReminderAcceptance" <?php if($this->wo->ReminderAcceptance)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_Reminder24Hr">24-hour before start time reminder</label></td>
                                  <td><input type="checkbox" value="1" id="edit_Reminder24Hr" name="Reminder24Hr" <?php if($this->wo->Reminder24Hr)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for=edit_Reminder1Hr">1 hour before start time reminder</label></td>
                                  <td><input type="checkbox" value="1" id="edit_Reminder1Hr" name="Reminder1Hr" <?php if($this->wo->Reminder1Hr)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_CheckInCall">Automated in-bound Check-in</label></td>
                                  <td><input type="checkbox" value="1" id="edit_CheckInCall" name="CheckInCall" <?php if($this->wo->CheckInCall)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_CheckOutCall">Automated in-bound Check-out</label></td>
                                  <td><input type="checkbox" value="1" id="edit_CheckOutCall" name="CheckOutCall" <?php if($this->wo->CheckOutCall)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_ReminderNotMarkComplete">Work order incomplete daily reminder</label></td>
                                  <td><input type="checkbox" value="1" id="edit_ReminderNotMarkComplete" name="ReminderNotMarkComplete" <?php if($this->wo->ReminderNotMarkComplete)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                              <tr>
                                  <td class="tright"><label for="edit_ReminderIncomplete">Work order incomplete daily reminder</label></td>
                                  <td><input type="checkbox" value="1" id="edit_ReminderIncomplete" name="ReminderIncomplete" <?php if($this->wo->ReminderIncomplete)echo'checked';?> /></td>
                                  <td>&#160;</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section3 -->
                <!-- section4 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 4. Tech Pay, Terms, and Assignment</a>
                          <div class="sectionInner"  id="section4">
                            <table class="sectionFormTop labelIndent">
                              <col width="240px">
                              <col width="75px">
                              <col width="60px">
                              <col width="304px">
                              <tr>
                                    <td class="tright tBold innerBottom">Push2Tech&trade; Auto Assignment Settings:</td>
                                    <td colspan="3" class="innerBottom"><input type="checkbox" disabled="disabled" class="indentRightSmall floatLeft" /> <label class="tBold width240">Push2Tech&trade; Activated</label></td>
                              </tr>
                              <tr>
                                    <td class="tright">Push2Tech™  Time Control expires in:</td>
                                    <td colspan="3">
                                        <div class="floatLeft width70"><input type="text" readonly="readonly" class="width20 floatLeft indentRight" /> <label>Days</label></div>
                                        <div class="floatLeft width70"><input type="text" readonly="readonly" class="width20 floatLeft indentRight" /> <label>Hours </label></div>
                                        <div class="floatLeft width70"><input type="text" readonly="readonly" class="width20 floatLeft indentRight" /> <label>Minutes</label></div></td>
                              </tr>
                              <tr>
                                    <td class="tright innerBottom"><strong>Auto-Assignment requirements:<strong></td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Assign to Preferred techs Only</label></td>
                                    <td class="tleft"><input type="checkbox"  disabled="disabled" class="" /></td>
                                    <td colspan="3"><input type="checkbox"  disabled="disabled" class="floatLeft" /> <label class="indentLeftLarge">Any matching tech</label></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Assign to lowest bidder upon expiration</label></td>
                                    <td class="tleft"><input type="checkbox"  disabled="disabled" class="" /></td>
                                    <td colspan="3"><input type="checkbox"  disabled="disabled" class="floatLeft" /> <label class="indentLeftLarge">First bidder below offer</label></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Skill Category minimum self-rating VIRTUAL</label></td>
                                    <td class="tleft"><select><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></td>
                                    <td colspan="3"><select class="floatLeft"><option>ASK ABOUT IT PLEASE!</option></select> <label class="indentLeftSmall floatLeft">Maximum mileage from site VIRTUAL</label></td>
                              </tr>
                              <tr>
                                    <td class="tright innerTop"><label class="width240">P2T&trade; Notification emails: </label></td>
                                    <td class="tleft innerTop"><input type="checkbox" disabled="disabled" class="" /></td>
                                    <td class="innerTop" colspan="3"><label class="floatLeft indentRightSmall width60">Emails to: </label> <input  readonly="readonly" type="text" class="" /></td>
                              </tr>
                              <tr>
                                    <td class="tright tBold innerTop innerBottom">Tech Pay:</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Max Client $ Offer</label></td>
                                    <td class="tleft" colspan="3"><input type="text" class="" id="edit_PayMax" name="PayMax" value="<?=$this->wo->PayMax?>" /></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Amount Per </label></td>
                                    <td class="tleft" colspan="3"><select class="width144" id="edit_Amount_Per" name="Amount_Per"><option <?=($this->wo->Amount_Per == 'Site')?'selected="selected"':''?> value="Site">Site</option><option value="Hour" <?=($this->wo->Amount_Per == 'Hour')?'selected="selected"':''?>>Hour</option><option value="Device" <?=($this->wo->Amount_Per == 'Device')?'selected="selected"':''?>>Device</option></select></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Device Quantity</label></td>
                                    <td class="tleft" colspan="3"><input type="text" class="" id="edit_Qty_Devices" name="Qty_Devices" value="<?=$this->wo->Qty_Devices?>" /></td>
                              </tr>
                               <tr>
                                    <td class="tright tBold innerTop innerBottom">Assign Technician:</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Assign FS Tech: </label></td>
                                    <td class="tleft" colspan="3">
                                        <div class="floatLeft indentRightLarge width115"><label>FS Tech ID #</label><input type="text" class="width115" id="edit_Tech_ID" name="Tech_ID" value="<?=$this->wo->Tech_ID?>" /></div>
                                        <div class="floatLeft indentRightLarge width115"><label>First Name</label><input type="text" class="floatLeft indentRightLarge width115" id="edit_Tech_FName" readonly="readonly" name="Tech_FName" value="<?=$this->wo->Tech_FName?>"  /></div>
                                        <div class="floatLeft indentRightLarge width115"><label>Last Name</label><input type="text" class="floatLeft indentRightLarge width115" id="edit_Tech_LName" readonly="readonly" name="Tech_LName" value="<?=$this->wo->Tech_LName?>"  /></div></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Tech Contact Info: </label></td>
                                    <td class="tleft" colspan="3">
                                        <div class="floatLeft indentRightLarge width115"><label>Telephone 1</label><input type="text" class="width115" id="edit_TechPhone"  readonly="readonly" name="TechPhone" value="<?=$this->wo->TechPhone?>" /></div>
                                        <div class="floatLeft indentRightLarge width115"><label>Telephone 2</label><input type="text" class="floatLeft indentRightLarge width115" id="edit_TechPhone2"  readonly="readonly" /></div>
                                        <div class="floatLeft indentRightLarge width115"><label>E-mail</label><input type="text" id="edit_TechEmail" name="TechEmail"  readonly="readonly" value="<?=$this->wo->TechEmail?>" class="floatLeft indentRightLarge width115" /></div></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Bid/Agreed Amount: </label></td>
                                    <td class="tleft" colspan="3"><div class="width115"><label>$$.$$</label><input id="edit_Tech_Bid_Amount" name="Tech_Bid_Amount" value="<?=$this->wo->Tech_Bid_Amount?>" type="text" class="width115" /></div></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Tech Bid Comments:</label></td>
                                    <td class="tleft" colspan="3"><textarea class="txtarea_f" id="edit_TechComments" name="TechComments"><?=$this->wo->TechComments?></textarea></td>
                              </tr>
                               <tr>
                                    <td class="tright"><label class="width240">Back Up Tech: </label></td>
                                    <td class="tleft" colspan="3"><div class="floatLeft indentRightLarge width115"><label>FS Tech ID #</label><input id="edit_BU1FLSID" name="BU1FLSID" value="<?=$this->wo->BU1FLSID?>" type="text" class="width115" /></div><div class="floatLeft indentRightLarge width115"><label>First Name</label><input type="text" class="floatLeft indentRightLarge width115" readonly="readonly" /></div><div class="floatLeft indentRightLarge width115"><label>Last Name</label><input type="text" readonly="readonly" class="floatLeft indentRightLarge width115" /></div></td>
                              </tr>
                               <tr>
                                    <td class="tright"><label class="width240">Back Up Tech Comments:</label></td>
                                    <td class="tleft" colspan="3"><textarea class="txtarea_f" id="edit_BU1Info" name="BU1Info"><?=$this->wo->BU1Info?></textarea></td>
                              </tr>
                               <tr>
                                    <td class="tright"><label class="width240">No Show Tech ID:</label></td>
                                    <td class="tleft" colspan="3"><input type="text" class="floatLeft indentRightLarge width115" id="edit_NoShow_Tech" name="NoShow_Tech" value="<?=$this->wo->NoShow_Tech?>" />
                                        <label class="floatLeft width140">Backed-Out Tech ID#</label> <input id="edit_BackOut_Tech" name="BackOut_Tech" value="<?=$this->wo->BackOut_Tech?>" type="text" class="floatLeft indentRightLarge width115" /></td>
                              </tr>
                              <tr>
                                    <td class="tleft tBold innerTop innerBottom">Assignment Agreements:</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="">
                                        <div id="techFeeAgreement">
                                            Bid represents the amount bid by the assigned tech, unless client over-rides after agreement with the tech.<br/><br/>
                                            I understand that, upon approval ,Field Solutions will pay the technician for this work. I understand that upon approval, I will be billed the Bid/Agreed amount plus a processing fee.<br/><br/>
                                        </div>

                                            <div class="clr"><input type="checkbox" class="floatLeft indentRightSmall" id="edit_assignment_agreement" /> <label>Yes, I agree.</label></div>
                                    </td>
                              </tr>
                              <script type="text/javascript">
                                  $(document).ready(function(){
                                      $("#edit_Tech_ID").change(function(){
                                          if ($(this).val() != '') {
                                          $.ajax({url:"/widgets/dashboard/popup/get-tech-info/tech/"+$(this).val(), success: function(data){
                                                  if (data['error']==0) {
                                                      $("#edit_Tech_FName").val(data['techInfo']['fName']);
                                                      $("#edit_Tech_LName").val(data['techInfo']['lName']);
                                                      $("#edit_Tech_Email").val(data['techInfo']['email']);
                                                      $("#edit_TechPhone").val(data['techInfo']['phone']);
                                                      $("#edit_TechPhone2").val(data['techInfo']['phone2']);
                                                      //$("#techFeeAgreement").val(data['techInfo']['feeAgreement']);
                                                  }else{
                                                      $("#edit_Tech_ID").val('');
                                                  }
                                          }});

                                          }

                                       })
                                  });
                                  </script>


                             </table>
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section4 -->
		<!-- section5 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 5. Tech On-site and Check In Notifications</a>
                          <div class="sectionInner"  id="section5">
                                <table class="sectionFormTop labelIndent">
                                  <col width="240px">
                                  <col width="75px">
                                  <col width="60px">
                                  <col width="304px">
                                  <tr>
                                        <td class="tright tBold innerTop innerBottom">Tech Confirmations</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Tech has reviewed Work Order Details and confirms acceptance </label></td>
                                        <td class="tleft" colspan="3"><input type="checkbox" class="" name="WorkOrderReviewed" id="edit_WorkOrderReviewed" value="1" <?=($this->wo->WorkOrderReviewed)?'checked':''?> /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Tech has confirmed appointment 24 hours before start time</label></td>
                                        <td class="tleft" colspan="3"><input type="checkbox" class="" name="TechCheckedIn_24hrs" id="edit_CheckedIn_24hrs" value="1" <?=($this->wo->TechCheckedIn_24hrs)?'checked':''?> /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTopLarge innerBottom">Client Notes – Store Notification</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Store Notified</label></td>
                                        <td class="tleft" colspan="3"><input type="checkbox" class="" name="StoreNotified" id="edit_StoreNotified"  value="1" <?=($this->wo->StoreNotified)?'checked':''?>  /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Notified by:</label></td>
                                        <td class="tleft" colspan="3"><input type="text" class="width115" name="Notifiedby" id="edit_Notifiedby"  value="<?=$this->wo->Notifiedby?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Date:</label></td>
                                        <td class="tleft" colspan="3"><input type="text" class="width115"  id="edit_DateNotified" name="DateNotified" value="<?=$this->wo->DateNotified?>" onclick="calendarMove(this)" onfocus="this.blur()" /><a href="#"><img src="images/calendar.png" width="16" height="15" /></a></td>
                                  </tr>
                                   <tr>
                                        <td class="tright">&nbsp;</td>
                                        <td class="tleft" colspan="3"><label>Store Notified notes</label><textarea class="txtarea_f" id="edit_NotifyNotes" name="NotifyNotes" ><?=$this->wo->NotifyNotes?></textarea></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTopLarge innerBottom">Client Notes – Tech Manual Check In</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Checked In</label></td>
                                        <td class="tleft" colspan="3"><input type="checkbox" class="" name="CheckedIn" id="edit_CheckedIn"  value="1" <?=($this->wo->CheckedIn)?'checked':''?> /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Checked In By</label></td>
                                        <td class="tleft" colspan="3"><input type="text" class="width115" name="Checkedby" id="edit_Checkedby"  value="<?=$this->wo->Checkedby?>" /></td>
                                  </tr>
                                   <tr>
                                        <td class="tright">&nbsp;</td>
                                        <td class="tleft" colspan="3"><label>Tech Check in notes</label><textarea class="txtarea_f" id="edit_CheckInNotes" name="CheckInNotes" ><?=$this->wo->CheckInNotes?></textarea></td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section5 -->
				<!-- section6 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 6. Site Completion Information</a>
                          <div class="sectionInner"  id="section6">
                            <table class="sectionFormTop labelIndent">
                              <col width="240px">
                              <col width="75px">
                              <col width="60px">
                              <col width="304px">
                              <tr>
                                    <td class="tleft tBold innerTop innerBottom">Tech Check In/Out</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                             <tr>
                                    <td colspan="2" class="tleft">
                                            <label class="width70">Check-In</label> <input readonly="readonly" type="text" class="floatLeft width130" value="<?=date('m/d/Y',strtotime($this->wo->Date_In))?>" /> <input readonly="readonly" type="text" value="<?=date('g:i A',strtotime($this->wo->Date_In))?>" class="floatLeft indentLeft width130" />
                                    </td>
                                    <td colspan="2" class="tleft">
                                            <label class="width70">Check-Out</label> <input readonly="readonly" type="text" class="floatLeft width130" value="<?=date('m/d/Y',strtotime($this->wo->Date_Out))?>" /> <input readonly="readonly" type="text" value="<?=date('g:i A',strtotime($this->wo->Date_Out))?>" class="floatLeft indentLeft width130" />
                                    </td>
                              </tr>
<!--                              <tr>
                                    <td colspan="4" class="tleft">
                                            <input type="button" class="pointer" value="Add More Dates/Times" />
                                    </td>
                              </tr>-->
                              <tr>
                                    <td colspan="2" class="tleft">
                                            <label class="width170">Total Duration On-Site (calc)</label> <input readonly="readonly" value="<?=((strtotime($this->wo->Date_Out) - strtotime($this->wo->Date_In))/3600).'h'?>" type="text" class="floatLeft width130" />
                                    </td>
                                    <td colspan="2" class="tleft">
                                            <label class="width50">Miles</label> <input type="text" readonly="readonly" value="<?=$this->wo->TechMiles?>" class="floatLeft width130" />
                                    </td>
                              </tr>
                              <tr>
                                    <td class="tright tBold innerTop innerBottom">Documents and Parts</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Tech Documents</label></td>
                                    <td colspan="3" class="tleft">
                                        <?php if ($this->wo->Pic1_FromTech) : ?>
                                        <a href="" class="indentRight"><?= substr($this->wo->Pic1_FromTech, strrpos($this->wo->Pic1_FromTech, '/')+1) ?></a>
                                        <?php endif; ?>
                                        <?php if ($this->wo->Pic2_FromTech) : ?>
                                        <a href="" class="indentRight"><?= substr($this->wo->Pic2_FromTech, strrpos($this->wo->Pic2_FromTech, '/')+1) ?></a>
                                        <?php endif; ?>
                                        <?php if ($this->wo->Pic3_FromTech) : ?>
                                        <a href="" class="indentRight"><?= substr($this->wo->Pic3_FromTech, strrpos($this->wo->Pic3_FromTech, '/')+1) ?></a>
                                        <?php endif; ?>
                                    </td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">FS-Parts Manager</label></td>
                                    <td colspan="3" class="tleft"><a href="javascript:openPopup('parts/list.php?woId=<?=$this->wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)" class="indentRightLarge">FS-Parts Manager</a> Return Parts ( <?=($this->wo->ReturnPartCount)?$this->wo->ReturnPartCount+0:0;?> )</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Paperwork Received: </label></td>
                                    <td colspan="3" class="tleft"><input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" class="" <?=($this->wo->Paperwork_Received)?'checked':''?> /></td>
                              </tr>
                               <tr>
                                    <td class="tright"><label class="width240">Paperwork Incomplete: </label></td>
                                    <td colspan="3" class="tleft"><input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" class="" <?=($this->wo->Incomplete_Paperwork)?'checked':''?> /></td>
                              </tr>
                              <tr>
                                    <td class="tright tBold innerTop innerBottom">Tech Site Completion Report</td>
                                    <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Site Marked Complete by Tech</label></td>
                                    <td colspan="3" class="tleft"><input type="checkbox" value="1" id="edit_Site_Complete" name="Site_Complete" class="" <?=($this->wo->Site_Complete)?'checked':''?>  class="" /></td>
                              </tr>
                              <tr>
                                    <td class="tright"><label class="width240">Site Marked Complete in Client System</label></td>
                                    <td colspan="3" class="tleft"><input type="checkbox" value="1" id="edit_CallClosed" name="CallClosed" class="" <?=($this->wo->CallClosed)?'checked':''?>  class="" /></td>
                              </tr>
                              <tr>
                                    <td class="tright">Tech Comments</td>
                                    <td class="tleft" colspan="3"><textarea class="txtarea_f" id="edit_TechComments" name="TechComments" ><?=$this->wo->TechComments?></textarea></td>
                              </tr>
                              <tr>
                                    <td class="tright">&nbsp;</td>
                                    <td colspan="3" class="tleft"><input type="checkbox" value="1" id="edit_CallClosed" name="CallClosed" class="" <?=($this->wo->CallClosed)?'checked':''?> class="floatLeft indentRightSmall" /><label class="width260">Mark Work Order  Incomplete and notify Tech VIRTUAL </label></td>
                              </tr>
                              <tr>
                                    <td class="tright innerTop">Incomplete Work Order Comments: required if site marked incomplete, specify tech requirements to complete</td>
                                    <td class="tleft innerTop" colspan="3"><textarea class="txtarea_f" id="edit_MissingComments" name="MissingComments" ><?=$this->wo->MissingComments?></textarea></td>
                              </tr>
                               <tr>
                                    <td class="tright innerTop">Client Closing Comments</td>
                                    <td class="tleft innerTop" colspan="3"><textarea class="txtarea_f" id="edit_ClientComments" name="ClientComments" ><?=$this->wo->ClientComments?></textarea></td>
                              </tr>
                             </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section6 -->
				<!-- section7 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 7. Work Order Financial Details and Approval</a>
                          <div class="sectionInner"  id="section7">
                                <table class="sectionFormTop labelIndent">
                                  <col width="240px">
                                  <col width="75px">
                                  <col width="60px">
                                  <col width="304px">
                                  <tr>
                                        <td class="tleft tBold innerTop innerBottom">Base Tech Pay</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"></td>
                                        <td colspan="3" class="tleft innerTop innerBottom">Agreed Pay <span class="innerLeft innerRight"><?=$this->wo->Tech_Bid_Amount?></span> per <?=$this->wo->Amount_Per?></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Calculated Total Hours   </label></td>
                                        <td colspan="3" class="tleft"><input type="text" class="" id="edit_calculatedTechHrs" name="calculatedTechHrs" value="<?=$this->wo->calculatedTechHrs?>"  /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Base Tech Pay: </label></td>
                                        <td colspan="3" class="tleft"><input type="text" class="" id="edit_baseTechPay" name="baseTechPay" value="<?=$this->wo->baseTechPay?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTop innerBottom">Extra $_and Adjustments</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Out of Scope Labor</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_OutofScope_Amount" name="OutofScope_Amount" value="<?=$this->wo->OutofScope_Amount?>" /></td>
                                        <td><input type="text" class="width240" id="edit_Add_Pay_AuthBy" name="Add_Pay_AuthBy" value="<?=$this->wo->Add_Pay_AuthBy?>"  /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Trip Charge</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_TripCharge" name="TripCharge" value="<?=$this->wo->TripCharge?>" /></td>
                                        <td rowspan="5"><textarea class="txtarea_f3" id="edit_Add_Pay_Reason" name="Add_Pay_Reason" ><?=$this->wo->Add_Pay_Reason?></textarea></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Mileage Fee</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_MileageReimbursement" name="MileageReimbursement" value="<?=$this->wo->MileageReimbursement?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Materials Reimbursement</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_MaterialsReimbursement" name="MaterialsReimbursement" value="<?=$this->wo->MaterialsReimbursement?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Abort/Short Notice Pay</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_AbortFeeAmount" name="AbortFeeAmount" value="<?=$this->wo->AbortFeeAmount?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Other Non-labor Adjustments</label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_OutofScope_Amount" name="OutofScope_Amount" value="<?=$this->wo->OutofScope_Amount?>" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTop innerBottom">Total Tech Pay and Approval</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Final Total Tech Pay: </label></td>
                                        <td colspan="3" class="tleft"><input type="text" class="" readonly="readonly" id="edit_PayAmount" name="PayAmount"  value="<?=$this->wo->PayAmount?>"/></td>
                                  </tr>
                                  <script type="text/javascript">
                                      var updateFinalPay = function() {
                                          var sum = 0;
                                          $.map(['edit_baseTechPay', 'edit_OutofScope_Amount','edit_TripCharge','edit_MileageReimbursement','edit_MaterialsReimbursement','edit_AbortFeeAmount','edit_OutofScope_Amount'],function(id) {
                                             sum+=parseFloat($('#'+id).val());
                                          });
                                          $('#edit_PayAmount').val(sum);
                                      }

                                        $.map(['edit_baseTechPay', 'edit_OutofScope_Amount','edit_TripCharge','edit_MileageReimbursement','edit_MaterialsReimbursement','edit_AbortFeeAmount','edit_OutofScope_Amount'], function( id ) {
                                            $('#'+id).change(updateFinalPay);
                                        });
                                      </script>
                                  <tr>
                                        <td class="tright"><input type="checkbox" class="" id="edit_Approved" value="1" name="Approved" <?=$this->wo->Approved?'checked disabled="disabled"':'';?> /></td>
                                        <td colspan="3" class="tleft"><label class="width240 tBold">Approve Work Order For Payment </label></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Date Approved: </label></td>
                                        <td colspan="3" class="tleft"><span class="floatLeft"/>WHAT IS THE NAME OF THIS FIELD?</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Date Tech Paid: </label></td>
                                        <td colspan="3" class="tleft"><span>WHAT IS THE NAME OF THIS FIELD?</span></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTop innerBottom">Rate Technician</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">How likely would you be to recommend this tech: </label></td>
                                        <td colspan="3" class="">
                                                <ul>
                                                        <li class="clr"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Extremely likely</label></li>
                                                        <li class="clr"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Somewhat likely</label></li>
                                                        <li class="clr"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Not very likely</label></li>
                                                        <li class="clr"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATRecommended"/> <label>Not at all likely</label></li>
                                                </ul>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td class="tright innerTop"><label class="width240">The outcome of this field service event was:</label></td>
                                        <td colspan="3" class="innerTop">
                                                <ul>
                                                        <li class="clr"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Excellent</label></li>
                                                        <li class="clr"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Very Good</label></li>
                                                        <li class="clr"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Satisfactory</label></li>
                                                        <li class="clr"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATPerformance"/> <label>Not Satisfactory</label></li>
                                                </ul>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Mark Tech as a Preferred Tech VIRTUAL</label></td>
                                        <td colspan="3" class="tleft"><input type="checkbox" class="" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Client Deny Tech VIRTUAL</label></td>
                                        <td colspan="3" class="tleft"><input type="checkbox" class="" /></td>
                                  </tr>
                                  <tr>
                                        <td class="tright tBold innerTop innerBottom">Deactivate Work Order</td>
                                        <td colspan="3">&nbsp;</td>
                                  </tr>
                                  <tr>
                                        <td class="tright"><label class="width240">Deactivate Work Order</label></td>
                                        <td colspan="3" class="tleft"><input type="checkbox" class="floatLeft indentRightLarge" id="edit_Deactivated" name="Deactivated" value="1" <?=$this->wo->Deactivated?'checked disabled="disabled"':'';?> />
                                            <select class="width180" id="edit_DeactivationCode" name="DeactivationCode">
                                            <option value="" selected="selected">Select Deactivation Code</option>
                                            <option value="Work order kicked back">Work order kicked back</option>
                                            <option value="Work order declined">Work order declined</option>
                                            <option value="Not Sourced">Not Sourced</option>
                                            <option value="No bidding techs (within time needed)">No bidding techs (within time needed)</option>
                                            <option value="Not approved">Not approved</option>
                                            <option value="Reassigned with a new work order">Reassigned with a new work order</option>
                                            <option value="Recruiting work order">Recruiting work order</option>
                                            <option value="Rescheduled work">Rescheduled work</option>
                                            <option value="Sourced elsewhere">Sourced elsewhere</option>
                                            <option value="Tech no showed">Tech no showed</option>
                                            <option value="Work order cancelled">Work order cancelled</option>
                                            <option value="Duplicate Work Order">Duplicate Work Order</option>
                                            <option value="EU cxl - maximum call attempts">EU cxl - maximum call attempts</option>
                                            </select></td>
                                  </tr>
                                  <script type="text/javascript">
                                      $(document).ready(function(){
                                          $("#edit_DeactivationCode").val('<?=$this->wo->DeactivationCode?>');
                                      });
                                  </script>
                                  <tr>
                                        <td class="tright"><label class="width240">Deactivation Comments/Reason</label></td>
                                        <td colspan="3" class="tleft"><textarea class="txtarea_f" name="Deactivated_Reason" id="edit_Deactivated_Reason" ><?=$this->wo->Deactivated_Reason?></textarea></td>
                                  </tr>
                                </table>
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section7 -->
                <!-- section8 -->
                <div class="sectionBox">
                  <div class="gradBox_1">
                    <div class="gradBox_2">
                      <div class="gradBox_3">
                        <div class="gradBox_4"><a class="title">Section 8. Other Information</a>
                          <div class="sectionInner"  id="section8">
                              <table class="sectionFormTop labelIndent">
                          <col width="240px">
                          <col width="75px">
                          <col width="60px">
                          <col width="304px">
                          <tr>
                                <td class="tleft tBold innerTop innerBottom">General Information </td>
                                <td colspan="3">&nbsp;</td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 1</label><textarea class="txtarea_f2" id="edit_General1" name="General1" ><?=$this->wo->General1?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 2</label><textarea class="txtarea_f2" id="edit_General2" name="General2" ><?=$this->wo->General2?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 3</label><textarea class="txtarea_f2" id="edit_General3" name="General3" ><?=$this->wo->General3?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 4</label><textarea class="txtarea_f2" id="edit_General4" name="General4" ><?=$this->wo->General4?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 5</label><textarea class="txtarea_f2" id="edit_General5" name="General5" ><?=$this->wo->General5?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 6</label><textarea class="txtarea_f2" id="edit_General6" name="General6" ><?=$this->wo->General6?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 7</label><textarea class="txtarea_f2" id="edit_General7" name="General7" ><?=$this->wo->General7?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 8</label><textarea class="txtarea_f2" id="edit_General8" name="General8" ><?=$this->wo->General8?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 9</label><textarea class="txtarea_f2" id="edit_General9" name="General9" ><?=$this->wo->General9?></textarea></td>
                              </tr>
                              <tr>
                                    <td colspan="4" class="tleft innerTop innerBottom"><label>General Comments 10</label><textarea class="txtarea_f2" id="edit_General10" name="General10" ><?=$this->wo->General10?></textarea></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section8 -->
                <!-- sections -->
                <?php else : ?>
                    <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') :?>
                        <div><?=$this->error?></div>
                    <?php endif;?>
                <?php endif;?>
            
            </div>
          </div>
        </div>
      </div>
</form>
      <!-- content box -->
      </div>
