<h4>My Work</h4>
<ul>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=created','name',{width:1000,height:800});">Created (<?=$this->counters[WO_STATE_CREATED]?>)</span></li>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=published','name',{width:1000,height:800});">Published (<?=$this->counters[WO_STATE_PUBLISHED]?>)</span></li>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=assigned','name',{width:1000,height:800});">Assigned (<?=$this->counters[WO_STATE_ASSIGNED]?>)</span></li>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=workdone','name',{width:1000,height:800});">Work Done (<?=$this->counters[WO_STATE_WORK_DONE]?>)</span></li>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=incomplete','name',{width:1000,height:800});">Incomplete (<?=$this->counters[WO_STATE_INCOMPLETE]?>)</span></li>
    <li><span class="ajaxLink" onclick="openPopupWin('/clients/wos.php?v=<?=urlencode($this->company)?>&tab=all','name',{width:1000,height:800});">All (<?=$this->counters['total']?>)</span></li>
</ul>
<?php if (!empty($this->wo) && $this->wo->success && !empty($this->win)) :
$wo = $this->wo->data[0];
$client = $this->client;?>
<div class="topToolBtn">
<input type="button" class="link_button middle_button" value="Contact a tech" onclick="openPopupWin('/clients/wosAddContact.php?v=<?=urlencode($this->company)?>&WO_ID=<?=$this->win?>&email=<?=urlencode(trim($wo->TechEmail))?>&Tech_FName=<?=urlencode(trim($wo->Tech_FName))?>&Tech_LName=<?=urlencode(trim($wo->Tech_LName))?>&fromName=<?=urlencode(trim($client->getContactName()))?>&fromEmail=<?=urlencode(trim($client->getEmailPrimary()))?>', 'name', {width:1000,height:400})">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Email Blast" onclick="openPopupWin('/clients/clientManualBlastWO.php?id=<?=$this->win?>&v=<?=$this->company?>')">
</div>
<br />
<?php endif; ?>
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Manage Projects" onclick="openPopupWin('/clients/projectsView.php?v=<?=$this->company?>&Start=%A0&End=Z&Active=1')">
</div>
<br />
<div class="topToolBtn">
    <input type="button" class="link_button middle_button" value="Manage Preferred Techs" onclick="openPopupWin('/clients/techsClientPreferredEdit.php?v=<?=$this->company?>')">
</div>
<br />

<h4>My Field Solutions Tools</h4>
<ul>
    <li><a onclick="openPopupWin('/clients/importWO.php?v=<?=$this->company?>')" href="javascript:void(0)">Upload Work Order List</a></li>
</ul>

