<?php
	header ("Cache-Control: no-cache, must-revalidate");
	header ("Expires: Sat, 26 Jul 1997 05:00:00 GMT");

	function sortClass( $field, $cl ) {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') return 'sort-asc';
        if ($cl->sortBy == $field && $cl->sortDir == 'desc') return 'sort-desc';
    }
    function makeSort( $field, $cl ) {
        return "var opt=detailsWidget.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';detailsWidget.setParams(opt); detailsWidget.show({tab:'list',params:opt});";
    }
	
	$numCol = $this->select_mode == 1 ? 8 : 9;
    //--- countries
    $apiCountry = new Core_Country();
    $countryArr = $apiCountry->getByCode();
    
?>

<table width="100%" class="gradBox_table_inner">
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('Site Number', $this);?>"><span onclick="<?=makeSort('SiteNumber', $this);?>">
		<?php if ($this->select_mode != 1):?>Edit Site<?php else:?>Select Site Number<?php endif;?></span></th>
        <th class="sortable <?=sortClass('SiteName', $this);?>"><span onclick="<?=makeSort('SiteName', $this);?>">Site Name</span></th>
        <th class="sortable <?=sortClass('Site_Contact_Name', $this);?>"><span onclick="<?=makeSort('Site_Contact_Name', $this);?>">Site Contact Name</span></th>
        <th class="sortable <?=sortClass('Address', $this);?>"><span onclick="<?=makeSort('City', $this);?>">Address</span></th>
        <th class="sortable <?=sortClass('City', $this);?>"><span onclick="<?=makeSort('City', $this);?>">City</span></th>
        <th class="sortable <?=sortClass('State', $this);?>"><span onclick="<?=makeSort('State', $this);?>">State</span></th>
        <th class="sortable <?=sortClass('Zipcode', $this);?>"><span onclick="<?=makeSort('Zipcode', $this);?>">Zipcode</span></th>
        <th class="sortable <?=sortClass('Country', $this);?>"><span onclick="<?=makeSort('Country', $this);?>">Country</span></th>        
		<?php if ($this->select_mode != 1):?>
        <th class="">Delete</span></th>
		<?php endif; ?>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>
<?php $tr=1; 
foreach( $this->paginator as $site ) {
    $country = $site['Country'];
    $countryName = empty($countryArr[$country])? $country : $countryArr[$country];
    
?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
	
            <a class="ajaxLink" href="javascript:void(0)" onclick="detailsWidget.setWOSite('<?=$site['SiteNumber']?>')"><?=$site['SiteNumber']?></a>
		
        </td>
        <td>
            <?=$site['SiteName']?>
        </td>
        <td>
            <?=$site['Site_Contact_Name']?>
        </td>
        <td>
            <?=$site['Address']?>
        </td>
        <td>
            <?=$site['City']?>
        </td>
        <td>
            <?=$site['State']?>
        </td>
        <td>
            <?=$site['Zipcode']?>
        </td>
        <td>
            <?=$countryName?>
        </td>
		<?php if ($this->select_mode != 1):?>
        <td>
            <a href='/widgets/dashboard/sitelist/do-delete/?id=<?=$site['SiteNumber']?>&project_id=<?=$site['Project_ID']?>&v=<?=$this->company?>'>Delete</a>
        </td>
		<?php endif; ?>
    </tr>

<?php ++$tr; }?>

    <tr class="paginator">
        <td colspan="<?=$numCol?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="<?=$numCol?>"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="<?=$numCol?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=$numCol?>" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>