<?php 
$countTechsInSite = $this->countTechsInSite;
$strCountTechsInSite = "";
if($countTechsInSite == 0) $strCountTechsInSite = "+Add Techs to this Site";
else if($countTechsInSite > 1) $strCountTechsInSite = $countTechsInSite . " Techs";
else $strCountTechsInSite = $countTechsInSite . " Tech";

?>
<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/sitelist/do-update/" onSubmit="return detailsWidget.validateUpdateSubmit('client');" method="post" id="UpdateProjectForm" name="UpdateForm" enctype="multipart/form-data">
        <input type="hidden" name="UpdateForm[Company_ID]" value="<?= $this->company?>" />
        <input type="hidden" name="UpdateForm[Project_ID]" value="<?= $this->Project_ID?>" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field"><span class="required">*</span>Site Number</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteNumber" name="UpdateForm[SiteNumber]" value="<?=htmlentities($this->site['SiteNumber'])?>" /></td>
			</tr>			
            <tr>
				<td class="label_field">Site Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteName" name="UpdateForm[SiteName]" value="<?=$this->site['SiteName']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Site_Contact_Name" name="UpdateForm[Site_Contact_Name]" value="<?=$this->site['Site_Contact_Name']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Address" name="UpdateForm[Address]" value="<?=$this->site['Address']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">City</td>
				<td><input type="text" maxlength="255" class="input_text" id="City" name="UpdateForm[City]" value="<?=$this->site['City']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">State</td>
				<td>
					<select type="text" id="State" name="UpdateForm[State]">
						<option value="">Select State</option>
						<?php foreach ($this->states as $skey => $state) : ?>
						<option title="<?= $state ?>" value="<?=$skey ?>" <?php if ($this->site['State'] == $skey)echo'selected'; ?>><?= $state ?></option>
						<?php endforeach; ?>
					</select>
				</td>
			</tr>
            <tr>
				<td class="label_field">Zipcode</td>
				<td><input type="text" maxlength="255" class="input_text" id="Zipcode" name="UpdateForm[Zipcode]" value="<?=$this->site['Zipcode']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Country</td>
				<td>
					<select type="text" id="Country" name="UpdateForm[Country]" onchange="detailsWidget.onChangeCountry()">
					<?php 
                    $dotline="----------------";
                    $icount=0;                    
                    foreach ($this->countries as $ckey => $country) { 
                    ?>
					<option title="<?= $country->Name ?>" value="<?=$country->Code ?>" <?php if ($this->site['Country'] == $country->Code || (empty($this->site['Country']) && $country->Code == 'US'))echo'selected'; ?>><?= $country->Name ?></option>
					<?php 
                        if($icount==2) {        
                            echo("<option value=\"\">$dotline</option>");        
                        }        
                        $icount = $icount+1;                                        
                    }                     
                    ?>
					</select>
				</td>
			</tr>
            <tr>
				<td class="label_field">Site Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="SitePhone" name="UpdateForm[SitePhone]" value="<?=$this->site['SitePhone']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Site Fax</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteFax" name="UpdateForm[SiteFax]" value="<?=$this->site['SiteFax']?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Site Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteEmail" name="UpdateForm[SiteEmail]" value="<?=$this->site['SiteEmail']?>" /></td>
			</tr>
            <tr>
                <td class="label_field">Site Techs</td>
                <td><a class="ajaxLink" onclick="showTechSite(this,'<?=htmlentities($this->site['SiteNumber'])?>','<?=htmlentities($this->site['SiteName'])?>','<?=$this->Project_ID?>');"><?=$strCountTechsInSite?></a>
                </td>
            </tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;">
					<input type="button" value="Cancel" onclick="document.location='siteView.php?v=<?=$this->company?>&project_id=<?= $this->Project_ID?>';"/>
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>