<div class="sectionInner" id="section2">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop" border="1">
        <col width="30px" />
        <col width="325px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td class="subheader" colspan="4">General Instructions </td>
        </tr>    
        <tr>         
            <td colspan="4" class="subheaderLeft innerTop">
                <label class="indentBottomSmall dBlock">Work Description (viewable by everyone):</label><textarea rows="3" cols="45" id="edit_Description" name="Description" class="txtarea_Description txtarea_f2"><?= $this->escape($this->wo->Description) ?>
                </textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="innerTop subheaderLeft" >
                <label class="indentBottomSmall dBlock innerTop" >Tech Requirements &amp; Tools Required (viewable by everyone)</label><textarea rows="3" cols="45" id="edit_Requirements" name="Requirements" class="txtarea_Requirements txtarea_f2"><?= $this->escape($this->wo->Requirements) ?>
                    <?php $this->escape('$this->wo->Tools') ?>
                </textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="innerTop subheaderLeft">
                <label class="indentBottomSmall dBlock innerTop">Special Instructions (viewable by everyone)</label><textarea rows="3" cols="45" id="edit_SpecialInstructions" name="SpecialInstructions" class="txtarea_SpecialInstructions txtarea_f2"><?php
                    echo $this->wo->SpecialInstructions;
                    if ($this->EnableColspanTechPay) {
                        echo "<br>";
                        echo "<br>";
                        echo "Expense Reporting:";
                        echo "<br>";
                        if (!empty($this->expenseReporting)) {
                            foreach ($this->expenseReporting as $item) {
                                if (!empty($item['bcatname'])) {
                                    echo "<br>";
                                    $req = $item['require_doc_upl'] ? " (Requires Document Upload for Reimbursement)" : "";
                                    echo $item['bcatname'] . " - " . $item['bcatdesc'] . $req;
                                }
                            }
                        }
                    }
                    ?></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft innerTop">
            <label class="indentBottomSmall dBlock innerTop">Special Instructions (viewable only by the assigned tech)</label>
<textarea id="edit_Ship_Contact_Info" rows="3" cols="45" name="Ship_Contact_Info" class="txtarea_Ship_Contact_Info txtarea_f1"><?= $this->escape($this->wo->Ship_Contact_Info) ?>
                </textarea>
            </td>
        </tr>
        <tr>
            <td class="subheader innerTop" colspan="4">Tech Role on Site </td>
        </tr>
        <tr>
            <td colspan="4" class="innerTop subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>Technician role on site:&#160;&#160;</td>

                        <td>
                            <input type="checkbox" id="edit_Lead" name="Lead" <?php if ($this->wo->Lead) echo'checked'; ?> />&#160;
                        </td>
                        <td>
                            <label>Lead</label>
                        </td>
                        <td>
                            &#160;&#160;<input type="checkbox" id="edit_Assist" name="Assist" <?php if ($this->wo->Assist) echo'checked'; ?> />&#160;
                        </td>
                        <td>
                            <label>Assist</label>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr>
            <td class="subheader innerTop" colspan="4">Documents & Parts</td>
        </tr>
        <tr>
            <td colspan="4" class ="innerTop subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <!--  td>
                            <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" <?php if ($this->wo->SignOffSheet_Required) echo'checked'; ?> />
                        </td -->
                        <td>
                            <label>Deliverables Upload Required for Completion:&nbsp;</label>
                        </td>
                        <td><!-- input type="checkbox" value="1" id="SignOffSheet_Required" name="SignOffSheet_Required" -->
                        	<select style="width:65px" id="SignOffSheet_Required" name="SignOffSheet_Required">
                        		<?php
                                	$numDeliverablesArr = array('0','1','2','3','4','5','6','7','8','9','10');
                                    foreach($numDeliverablesArr as $n){
                                ?>
                                   	<option value="<?=$n?>" <?php if($n == $this->wo->SignOffSheet_Required): ?> selected="selected"<?endif;?>><? echo ($n == '0')? 'None' : $n;?></option>
                        		<? } ?>
                    		</select>
                      </td>
                    </tr>
                    <tr>
                        <td colspan="2" class ="innerTop">
                            <a style="font-size: 13px;" href="javascript:void(0)"  onmouseover="roll.delay(1.1); roll.autohide(false); roll.show(this,event,{popup:'documents',title:'Project Documents',width:260,preHandler:detailsWidget.getWidgetHtml,context:detailsWidget,params:{id:'<?= $this->wo->Project_ID ?>',win_num: <?= $this->wo->WIN_NUM ?>,company:'<?= $this->company ?>'}});" class="tColor5 tUnderline">Project Documents</a>
                        </td>
                    </tr>

                </table>
            </td>

        </tr>
        <tr>
            <td class="innerTop innerBottomSmall subheaderLeft" colspan="2">
                Upload work order specific documents:
            </td>
            <td class="tright">
            </td>
            <td></td>

        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table id="uploadwodocs" cellpadding="0" cellspacing="0">
                    <tr>
                        <td id="UploadWOPicsNew">
                        	<input type="file" id="PicWO1" name="PicWO1" class="indentTop5" /><label>&nbsp;<input type="text" value="" title="Optional description" class="input150w inputwatermark" name="PicDescrWO1" id="PicDescrWO1" maxlength="25" /></label>
                        </td>
                        <td style="vertical-align:bottom; padding-bottom:3px; padding-left:5px;">
                            <a onclick="addFileField(); return false;" href="javascript:;">Add another file</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <?php
                            if (!empty($this->files)) {
                                foreach ($this->files as $k => $f) {
                                    if ($f->type == 1 || $f->type == 4) {
                                        ?>
                                        <div>
                                            <?php if ($f->type == 1): ?>
                                                <a class="ajaxLink" href="/widgets/dashboard/do/file-wos-documents-download/filename/<?= base64_encode(urlencode($f->path)) ?>/<?= ltrim($f->path, '/') ?>">
                                                    <?= ltrim($f->path, '/') ?>
                                                </a>
                                            <?php else: ?>
                                                <a class="ajaxLink" href="/widgets/dashboard/do/file-project-documents-download/filename/<?= base64_encode(urlencode($f->path)) ?>/<?= ltrim($f->path, '/') ?>">
                                                    <?= ltrim($f->path, '/') ?>
                                                </a>
                                            <?php endif; ?>
                                            <?php if (!empty($f->description)): ?>
                                                <span> - <?= $f->description ?></span>
                                            <?php endif; ?>
                                            <span>
                                                <input type="checkbox" name="removefiles[]" id="Pic1_Remove" value="<?= $f->id ?>" onclick="detailsWidget.confirmRemoveFile(this, '<?= ltrim($f->path, '/') ?>');"/>
                                                &nbsp;
                                                <label for="Pic2_Remove">Remove</label>
                                            </span>
                                        </div>
                                        <?
                                    }
                                }
                            }
                            ?>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <script type="text/javascript">
            function addFileField(dest) {
                dest = dest || 'WO';

                fileFields = $('#Upload'+dest+'PicsNew input:file');
                fileFieldCount= fileFields.length;
                if (fileFieldCount >= 10) return false
                fileFieldCount++;

                var f = document.createElement("input");
                f.type = "file";
                f.className = 'indentTop5';
                f.id = "Pic"+dest+fileFieldCount;
                f.name = "Pic"+dest+fileFieldCount;

                var t = document.createElement("input");
                t.type = "text";
                t.maxLength = 25;
                                                                                                                                                                    
                t.className = 'input150w inputwatermark';
                t.title = "Optional description";
                                                                                                                                                                  
                t.id = "PicDescr"+dest+fileFieldCount;
                t.name = "PicDescr"+dest+fileFieldCount;

                var tLabel = document.createElement("label");
                tLabel.style.display = 'inline';
                tLabel.innerHTML = "&nbsp;"; 

                p = document.getElementById("Upload"+dest+"PicsNew");
                p.appendChild(document.createElement("br"));
                p.appendChild(f);
                p.appendChild(tLabel);
                tLabel.appendChild(t);
                detailObject.onInit.watermark();
            }
        </script>
        <?php
	        $custom_signoff = false;
	        $project_signoff = false;

	        if (!empty($this->files)) {
	            foreach ($this->files as $k => $f) {
	                if ($f->type == 3) {
	                    $custom_signoff = $f;
	                }
	            }
	        }

	        if (!empty($this->prjExtFile)) {
	            foreach ($this->prjExtFile as $k => $f) {
	                if ($f['CustomSignOff'])
	                    $project_signoff = $f['CustomSignOff'];
	            }
	        }

			if ($custom_signoff) {
				$custom_signoff_name = ltrim(strstr($custom_signoff->path, "/"), "/");
				if (strstr($custom_signoff->path, "/", true) == "projects-docs")
					$custom_signoff_dir = "file-project-documents-download";
				else
					$custom_signoff_dir = "file-wos-documents-download";
			}
			else {
				$custom_signoff_name = "";
				$custom_signoff_dir = "";
			}

			$customsignoff_selected = !!$this->wo->CustomSignOff_Enabled && !!$custom_signoff;
		?>
        <tr>
        	<td colspan="4" class="innerTop subheaderLeft" style="padding-top: 6px; padding-bottom: 6px;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="20">
                            <input type="checkbox" id="edit_SignOff_Disabled" name="SignOff_Disabled"<?php if ($this->wo->SignOff_Disabled != "1") echo ' checked'; ?> onchange="detailsWidget.updateSignOffDisplay()" />
                        </td>
                        <td>
                            <label>Provide Tech with a Signoff Sheet</label>
                        </td>
                    </tr>
                    <tr class="signoffoptions_display">
                        <td colspan="2" id="UploadCustomSignOff" class ="innerTop" style="padding-left: 42px; line-height: 20px; vertical-align: middle;">
                            <input type="radio" id="edit_CustomSignOff_Enabled" name="CustomSignOff_Enabled" value="0"<?php if ($this->wo->SignOff_Disabled == "1") echo ' disabled="disabled"'; ?><?= !$customsignoff_selected ? " checked" : ""; ?> onchange="detailsWidget.updateSignOffDisplay()" />&#160;
                            Use Basic FieldSolutions Signoff Sheet<br/>
                            <input type="radio" id="edit_CustomSignOff_Enabled" name="CustomSignOff_Enabled" value="1"<?php if ($this->wo->SignOff_Disabled == "1") echo ' disabled="disabled"'; ?><?= $customsignoff_selected ? " checked" : ""; ?> onchange="detailsWidget.updateSignOffDisplay()" />&#160;
                            Upload Custom Signoff Sheet (PDF Files Only)
                            <span id="container_upload" style="display: <?= !$custom_signoff ? "inline" : "none"; ?>;">
                                <input type="file" name="PicCustomSignOff" id="PicCustomSignOff" class="indentTop5" />
                            </span>
                            <span id="container_remove" style="display: <?= $custom_signoff ? "inline" : "none"; ?>;">
                                <a id="signoff_filelink" href="/widgets/dashboard/do/<?=$custom_signoff_dir?>/filename/<?= base64_encode(urlencode($custom_signoff_name)) ?>/<?= $custom_signoff_name ?>"><?= $custom_signoff_name ?></a>&nbsp;&nbsp;
                                <input type="checkbox" name="removefiles[]" id="CustomSignOff_Remove" value="<?= $custom_signoff->id ?>" onclick="detailsWidget.confirmRemoveFile(this, '<?= $custom_signoff_name ?>');"/> Remove
                                <input type="hidden" name="CustomSignOff_Filename" id="CustomSignOff_Filename" value="" />
                            </span>
                            <br/>
                        </td>
                    </tr>
                </table>
        	</td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" style="padding: 8px 0 8px 0;">
                    <tr>
                        <td style="vertical-align: top;width:10px; padding-top:2px;">
                            <input type="checkbox" value="1" name="PartManagerUpdate_Required" id="edit_PartManagerUpdate_Required" <?php if ($this->wo->PartManagerUpdate_Required) echo'checked'; ?>>
                        </td>
                        <td style="width:330px;">
                            &nbsp;&nbsp;FS-Parts Manager Update Required for Completion
                        </td>
                        <td style="width:150px">
                            <input id="partsMgr" name="partsMgr" type="button"  onclick="openPopupWin('parts/list.php?woId=<?= $this->wo->WIN_NUM ?>&amp;v=<?= $this->company ?>');" class="link_button" value="FS-Parts Manager"/>
                        </td>
                        <td>
                            <label>New parts:
                                <?= (int) $this->wo->UpdatedPartCount ?>
                            </label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>