<?php
 $prjClass  = new Core_Api_ProjectClass();
 $prj = $prjClass->getProjects(
            $this->_login.'|pmContext='.$this->wo->Company_ID,
            $this->_password,
            $this->wo->Project_ID,
            $this->wo->Company_ID
        );
?>
<div class="sectionInner" id="section1">
    <input type="hidden" value="<?= $this->displayDate('n/j/Y', $this->wo->StartDate) ?>" id="edit_StartDate" name="StartDate" />
    <input type="hidden" value="<?= $this->displayDate('h:i A', $this->wo->StartTime) ?>" id="edit_StartTime" name="StartTime" />
    <input type="hidden" value="<?= $this->displayDate('n/j/Y', $this->wo->EndDate) ?>" id="edit_EndDate" name="EndDate" />
    <input type="hidden" value="<?= $this->displayDate('h:i A', $this->wo->EndTime) ?>" id="edit_EndTime" name="EndTime" />
    <input type="hidden" value="<?= $this->wo->Duration ?>" id="edit_Duration" name="Duration" />
    <table cellpadding="0" cellspacing="0" style="width: 97%;" class="sectionForm">
        <col width="120px" />
        <col width="152px" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <tbody id="ContentServiceSchedule">
            <tr>
                <td colspan="5" style="padding-right: 0px;vertical-align: middle;" class="subheader" style="vertical-align: middle;">
                    Type of Work
                </td>
            </tr>
            <tr>
                <td class="subheaderLeft">
                    <label class="required">Skill<span>*</span></label>
                </td>
                <td>
                    <select style="width: 110px;" type="text" id="edit_WO_Category_ID" name="WO_Category_ID" onchange="$('#edit_WO_Category_ID').attr('title', $('#edit_WO_Category_ID option:selected').text());" class="floatRight_">
                        <option value="">Select Category</option>
                        <?php foreach ($this->categories as $category) : ?>
                            <option title="<?= $category->Category ?>" value="<?= $category->Category_ID ?>" <?php if ($this->wo->WO_Category_ID == $category->Category_ID) echo'selected'; ?>>
                                <?= $category->Category ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                      <label class="required">Call Type<span>*</span></label>
                </td>
                <td>
                    <select style="width: 110px;" type="text" id="edit_Type_ID" name="Type_ID" onchange="$('#edit_Type_ID').attr('title', $('#edit_Type_ID option:selected').text());" class="floatRight_">
                        <?php foreach ($this->callTypes as $ckey => $ctype) : ?>
                            <option title="<?= $ctype ?>" value="<?= $ckey ?>" <?php if ($this->wo->Type_ID == $ckey) echo'selected'; ?>>
                                <?= $ctype ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td>
                    <label class="required">Headline<span>*</span></label>
                </td>
                <td>
                    <input style="width: 159px;float: right;margin: 0;"   type="text" id="edit_Headline" name="Headline" class="floatRight_" value="<?= $this->wo->Headline ?>" />
                </td>
            </tr>
            <tr>
                <td colspan="5" class="subheader" style="padding-top: 8px;padding-right: 0px;">Site Information </td>
            </tr>
            <tr>
                <td colspan="5" class="subheaderLeft">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="100px;">      
                                <a style="cursor:default;" id="btn_selectsite" href="javascript:void(0)">
                                    <img id="img_selectsite" border="0" width="92" height="30" src="/widgets/css/images/btn_orange_selectsite_disabled.png" alt="" />
                                </a> 
                            </td>
                            <td  width="100px;">
                                <a class="cmdsaveSite" SaveTechToSite="<?= $this->SaveTechToSiteBtn ?>" techid="<?= $this->wo->Tech_ID ?>" fname="<?= $this->wo->Tech_FName ?>" lname="<?= $this->wo->Tech_LName ?>" href="javascript:void(0)">
                                    <img border="0" width="92" height="30" src="/widgets/css/images/btn_orange_savesite.png" alt="" />
                                </a>
                            </td>
                            <td  width="100px;" style="vertical-align: top;">
                                <a style="<?= $this->srcviewTechBtn ? "" : "display:none;" ?>" class="viewTechBtnHidden" href="javascript:void(0)">
                                    <div style="width: 100px; background-repeat: no-repeat; height: 27px; background-image: url('/widgets/css/images/btn_orange_savedtechs.png');">
                                        &nbsp;
                                    </div>
                                </a>
                                <a style="<?= $this->srcviewTechBtn ? "display:none;" : "" ?>cursor:default;" class="viewTechBtnHiddenView" href="javascript:void(0)">
                                    <div style="width: 100px; background-repeat: no-repeat; height: 27px; background-image: url('/widgets/css/images/btn_orange_savetechs_disabled.png');">
                                        &nbsp;
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
            </tr>
            <tr>
                <td  class="subheaderLeft">
                    <label>Site Name</label>
                </td>
                <td>
                    <input type="text" id="edit_SiteName" name="SiteName" style="width: 109px;" value="<?= $this->escape($this->wo->SiteName) ?>"  />
                </td>
                <td class="tleft">
                    <label>Site Number</label>
                </td>
                <td style="white-space: nowrap">
                    <input type="text" id="edit_SiteNumber" name="SiteNumber" style="width: 88px;" value="<?= $this->escape($this->wo->SiteNumber) ?>" />
                    &nbsp;<a href="javascript:void(0)" onclick="detailsWidget.siteLookup()"><img src="/widgets/images/magnify.gif" /></a>
                </td>
                <td class="tleft" style="white-space: wrap;" colspan="2">Site Contact Name
                    <input type="text" id="edit_Site_Contact_Name" name="Site_Contact_Name"  style="width: 117px;float: right;margin: 0px;" value="<?= $this->escape($this->wo->Site_Contact_Name) ?>" />
                </td>
            </tr>
            <!--002-->
            <tr>
                <td class="subheaderLeft">
					<span id="lblAddress">
						<label>Site Address</label>
					</span>
                </td>
                <td>
                    <input type="text" id="edit_Address" name="Address" style="width: 109px;" value="<?= $this->escape($this->wo->Address) ?>" />
                </td>
                <td class="tleft">
                    <span  id="lblCity">
					 <?php
                            if(empty($this->wo->isProjectAutoAssign))
                            {
                        echo '<label>City</label>';
                    }
                            else
                            {
                                echo '<label class="required">City<span>*</span></label>';
                            }
                ?>
                    </span>
                </td>
                <td colspan="2">
                    <input type="text" id="edit_City" name="City" style="width: 109px;" value="<?= $this->escape($this->wo->City) ?>" />
                </td>
            </tr>
            <tr>
                <td  class="subheaderLeft">
                    <span id="lblCountry">
				   <?php
                            if(empty($this->wo->isProjectAutoAssign))
                            {
							echo '<label>Country</label>';
						}
                            else
                            {
                                echo '<label class="required">Country<span>*</span></label>';
                            }
					?>
                    </span>
                </td>
                <td>
                    <select type="text" id="edit_Country" name="Country" style="width: 110px;" class="floatLeft" onchange="$('#edit_Country').attr('title', $('#edit_Country option:selected').text());detailsWidget.onChangeCountry();">
                        <?php
                        //041
                        foreach ($this->countries as $ckey => $country) {
                            
                            $disabled ="";
                            if($country->Name=="---South America" || $country->Name=="---EMEA" || $country->Name=="---APAC")
                            {
                                $disabled ="disabled";
                            }
                            ?>
                            <option title="<?= $country->Name ?>" value="<?= $country->Code ?>" <?php if ($this->wo->Country == $country->Code || (empty($this->wo->Country) && $country->Code == 'US')) echo'selected'; ?> <?=$disabled?>>
                                <?= $country->Name ?>
                            </option>
                            <?php
                            }
                            //end 041
                        ?>
                    </select>
                </td>
                <td class="tleft">
                    <span id="lblState">
                        <?php
                        if(empty($this->wo->isProjectAutoAssign))
                        {
                            echo '<label>State/Province</label>';
                        }
                        else
                        {
                            //041
                            $Requirecountry = array("US"=>"US","CA"=>"CA","MX"=>"MX");
                            if(array_key_exists($this->wo->Country, $Requirecountry))
                            {
                                echo '<label class="required">State/Province<span>*</span></label>';
                            }
                            else
                            {
                                echo '<label>State/Province</label>';
                            }
                        }
                            //end 041
                        ?>
                    </span>
                </td>
                <td>
                    <?
                    //041
                    $Requirecountry = array("US"=>"US","CA"=>"CA","MX"=>"MX");
                    $disabled ="";
                    if(array_key_exists($this->wo->Country, $Requirecountry))
                    {
                        $disabled = "";
                    }
                    else
                    {
                        $disabled = "disabled";
                    }
                    
                    ?>
                    <select style="width: 110px;" type="text" id="edit_State" name="State" class="floatLeft" onchange="$('#edit_State').attr('title', $('#edit_State option:selected').text());" <?=$disabled?>>
                        <option selected="selected" value="">Select State</option>
                        <?php foreach ($this->states as $skey => $state) : ?>
                            <option title="<?= $state ?>" value="<?= $skey ?>" <?php if ($this->wo->State == $skey) echo'selected'; ?>>
                                <?= $state ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <?//end 041?>
                </td>
                <td class="tleft"  colspan="2">
                    <label class="required">Zip/Postal Code<span>*</span></label>

                    <input type="text" id="edit_Zipcode" name="Zipcode" style="width: 125px;float: right;margin: 0px;" value="<?= $this->wo->Zipcode ?>" />
                </td>
            </tr>
            <!--end 002-->
            <tr>
                <td  class="subheaderLeft">
                    <label>Site Phone</label>
                </td>
                <td>
                    <input type="text" class="inputwatermark" title="(###) ###-####" id="edit_SitePhone" name="SitePhone" style="width: 109px;" value="<?= $this->wo->SitePhone ?>" style="margin-bottom:2px;" />
                </td>
                <td class="tleft">
                    <label>Site Fax</label>
                </td>
                <td>
                    <input type="text" id="edit_SiteFax" class="inputwatermark" title="(###) ###-####" name="SiteFax" style="width: 109px;" value="<?= $this->wo->SiteFax ?>" style="margin-bottom:2px;" />
                </td>
                <td colspan="3">
                    <label style="padding-right: 16px;">Site Email</label>
                    <input type="text" id="edit_SiteEmail" class="inputwatermark" title="ex. john@site.com" name="SiteEmail" value="<?= $this->wo->SiteEmail ?>" style="width: 166px;margin: 0px;float: right;" />
                </td>
            </tr>     
            <?php
            if (!empty($this->WOVisitList)) {
                $k = 0;
                foreach ($this->WOVisitList as $item) {
                    $k++;
                    ?>
                    <?php
                    if ($k == 1) {
                        ?>
                        <tr>
                            <td colspan="5">
                                <div class="subheader">Service Schedule</div>
                            </td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <?php
                        if ($k == 1) {
                            ?>
                            <td class="" style="width: 120px;padding: 0px;margin: 0px;padding-top: 2px; vertical-align: top;">
                                <div class="subheaderLeft">Visit #1</div>
                                <div style='padding-top:25px;'>&nbsp;</div>
                                <?php if (count($this->WOVisitList) == 1) { ?> <img class="subheaderLeft" src="/widgets/images/btn_orange_addavisit.png" style="cursor: pointer;" id="cmdAddAVisit" /><?php } ?>
                            </td>
                            <?php
                        } else {
                            ?>
                            <td  class="subheaderLeft"  valign="top" style="margin: 0px;vertical-align: top;padding-top: 10px;">
                                Visit #<?= $k ?><br>
                                <div style="padding-top:15px;">
                                    Cancel Visit <input type="checkbox" class="removeVisit removeVisit<?= $item["WoVisitID"] ?>" />
                                </div>
                                <?php if (count($this->WOVisitList) == $k) { ?>
                                    <div  id="divAddAVisit">
                                        <img src="/widgets/images/btn_orange_addavisit.png" style="cursor: pointer;" id="cmdAddAVisit" />
                                    </div>    
                                <?php } ?>
                            </td>
                        <?php } ?>

                        <td colspan="5">
                            <table cellspacing="0" cellpadding="0"  <?= $k == 1 ? 'id="tableServiceSchedule"' : "" ?> itemid="<?= $item["WoVisitID"] ?>" class="tableServiceSchedule tableServiceSchedule<?= $k ?>">
                                <tbody>
                                    <?= $k > 1 && $k <= count($this->WOVisitList) ? '<tr><td align="center" colspan="4"><hr class="visitLine" /></td></tr>' : "" ?>
                                    <tr>
                                        <td style="width: 80px;padding-left: 0px; height:20px;">
                                            Start Type
                                        </td>
                                        <td class="DateTypeStart" style="width: 234px;">
                                            <select class="classStartType" style="width:202px">
                                                <option <?= 1 == $item["StartTypeID"] ? "selected" : "" ?> value="1">Firm Start Time</option>
                                                <option <?= 2 == $item["StartTypeID"] ? "selected" : "" ?> value="2">Start Time Window</option>
                                            </select>
                                        </td>
                                        <td class="DateTypeEnd" style="width: 84px;">
                                            Est. Duration

                                        </td>
                                        <td align="right" style="padding-right: 0px;">
                                            <select style="width:202px" class="EstimatedDuration">
												<option value="">Select Duration</option>
                                                <?php
                                                if (!empty($this->EstDurationArray)) {
                                                    foreach ($this->EstDurationArray as $EstDuration) {
                                                        ?>    
                                                        <option <?= $EstDuration["value"] == $item["EstimatedDuration"] ? "selected" : "" ?> value="<?= $EstDuration["value"] ?>"><?= $EstDuration["desc"] ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </select>
                                            <?php
                                            if ($k == 1) {
                                                ?>
                                                <img class="cmdhelpFAQi" src="/widgets/images/FAQi.png" style="margin-top: 3px;vertical-align: top;margin-right: -20px;" width="16px" height="16px" />
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <!--002-->
                                    <tr style="height:47px;">
                                        <td valign="middle" style="vertical-align: middle;padding-left: 0;">
                                            <span id="lblWorkStart">
                                          <?php
                                                if(!empty($this->wo->isProjectAutoAssign))
                                                {
                                                    echo '<label class="required">Work Start<span>*</span></label>';
                                                    }
                                                else
                                                {
                                                    if( $prj->RequiredStartDateTime ==1)
                                                    {
                                                        echo '<label class="required">Work Start<span>*</span></label>';
                                                }
                                                    else
                                                    {
                                                        echo '<label>Work Start</label>';
                                                    }
                                                }
                                            ?>
                                            </span>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <div><input type="text" title="MM/DD/YYYY" class="CalendarInput StartDate inputwatermark"   value="<?= $this->displayDate('n/j/Y', $item["StartDate"]) ?>">
                                                <span class="customSelect">
                                                    <span><span>
                                                            <input title="H:MM AM/PM" type="text" class="texttimeChooser <?= $k == 1 ? 'StartTimeFirst' : "" ?>  StartTime csText TimeInput inputwatermark"   value="<?= $item["StartTime"] ?>">
                                                            <a class="csIcon csIconImg" href="javascript:;">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                                            <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                                <?= $this->TIME ?>
                                                            </select></span></span></span>
                                            </div>

                                        </td>
                                        <td style="vertical-align: middle;">
                                            <span id="lblWorkEnd">
                                            <?php
                                                    if(!empty($this->wo->isProjectAutoAssign))
                                                    {
                                                    echo '<label class="required">Work End<span>*</span></label>';
                                                    }
                                                    else
                                                    {
                                                        if( $prj->RequiredEndDateTime ==1)
                                                        {
                                                            echo '<label class="required">Work End<span>*</span></label>';
                                                }
                                                        else
                                                        {
                                                            echo '<label>Work End</label>';
                                                        }
                                                    }
                                            ?>
                                            </span>
                                        </td>
                                        <td align="" style="vertical-align: middle;">
                                            <div style="padding-right: 0px;float: right;"><input type="text" title="MM/DD/YYYY" class="CalendarInput EndDate inputwatermark" value="<?= $this->displayDate('n/j/Y', $item["EndDate"]) ?>">
                                                <span class="customSelect">
                                                    <span><span>
                                                            <input title="H:MM AM/PM" type="text" class="texttimeChooser EndTime csText TimeInput inputwatermark"   value="<?= $item["EndTime"] ?>">
                                                            <a class="csIcon csIconImg" href="javascript:;">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                            <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                                <?= $this->TIME ?>
                                                            </select></span></span></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--002-->
                                    <tr>
                                        <td colspan="4" colspan="1" style="vertical-align: middle;padding-left: 0;padding-right: 0px;">
                                            Tech Arrival Instructions
                                            <input style="width: 437px;margin-left: 49px;margin-bottom: 7px;margin-top: 0px;" type="text"  class="TechArrivalInstructions" value="<?= $item["TechArrivalInstructions"] ?>">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr> 

                    <?php
                }
            }
            ?>

        </tbody>

    </table>
    <?php
    if ($this->company == "FLS") {
        ?>
        <table class="sectionForm" cellspacing="0" cellpadding="0" style="width: 97%;">
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 120px;padding: 0px;">
                    &nbsp;
                </td>
                <td class="tleft" style="vertical-align: top; width: 516px;"  >
                    <label>Update Requested?</label>&#160;<input type="checkbox" style="margin: 0px;" id="edit_Update_Requested" name="Update_Requested" <?php if ($this->wo->Update_Requested) echo'checked'; ?> />

                    <label style="padding-left:55px;" class="tleft_">Reason for Update</label>&#160;&#160;<input type="text" name="Update_Reason" class="perWidth100_" style="margin:0px;width:215px;" value="<?= $this->escape($this->wo->Update_Reason) ?>"/>
                </td>
                <td align="right" width="96px">
                    <label>Short Notice</label>&#160;<input type="checkbox" style="margin: 0 0 0 8px;" id="edit_ShortNotice" value="1" name="ShortNotice" <?php if ($this->wo->ShortNotice) echo'checked'; ?> />
                </td>
            </tr>
        <?php } ?>
    </table>
</div>
<script>
    var content = '<?= $this->infoContent ?>';
    $('.cmdhelpFAQi').bt(content,
        {
            trigger:'click',
            positions:'top',
            fill: 'white',
            cssStyles:{
                color:'black'
            }
        }); 
</script>