<div class="sectionInner"  id="section7">
    <table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent" border="0">
        <tr>
            <td class="subheader" colspan="4"  width="130px"  style="padding-bottom:10px;">
                Base Tech Pay
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">Agreed Pay</td>
            <td class="tleft" width="140px">
                <span class="innerRight">
                    <?= $this->wo->Tech_Bid_Amount ?>
                </span>
                <span id="perLabel2">per
                    <?= ($this->wo->Amount_Per == "Visit") ? " Visit" : $this->wo->Amount_Per; ?></span>
            </td>
            <td class="tleft" width="155px;">
                <label id="htmlCalculatedTotalHours">
                    <?php
                    //872
                    switch ($this->wo->Amount_Per) {
                       
                        case "Device":
                            echo "Device Quantity";
                            break;
                         case "Visit":
                            echo "# of Visits";
                            break;
                        default :
                            echo "Calculated Total Hours";
                            break;
                    }
                    
                    //end 872
                    ?>
                </label>
            </td>
            <td>
                <?php
                //872
                $display = "";
                $display2 = "";
                switch ($this->wo->Amount_Per) {
                    case "Visit":
                        $display1 = "display:none;";
                        $display2 = "display:none;";
                        break;
                    case "Device":
                        $display1 = "display:none;";
                        $display2 = "display:none;";
                        break;
                    default :
                        $display2 = "display:none;";
                        break;
                }
                //end 872
                if($this->wo->Status == "in accounting" || $this->wo->Status == "completed")$displayBG = "color: gray;background-color: #EBEBE4;";
                ?>
                <input type="text" style="<?= $display1.$displayBG ?> width:150px;" id="edit_calculatedTechHrs" name="calculatedTechHrs" value="<?= $this->wo->calculatedTechHrs ?>" <? if(ucwords($this->wo->Status) == "In Accounting" || ucwords($this->wo->Status) == "Completed"):?>readonly="true"<?endif;?> />
                <input type="text" style="<?= $display2.$displayBG ?> width:150px;" id="edit_Qty_Devices_Display" onchange="jQuery('#edit_Qty_Devices').val(jQuery(this).val());" value="<?= $this->wo->Qty_Devices ?>" <? if(ucwords($this->wo->Status) == "In Accounting" || ucwords($this->wo->Status) == "Completed"):?>readonly="true"<?endif;?> />
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label id="basetechpay1"><?= "Base Tech Pay" ?></label>
            </td>
            <td class="tleft" colspan="">
                <input type="text" id="edit_baseTechPay" name="baseTechPay" value="<?= $this->wo->baseTechPay ?>" style="width:100px; <?= $displayBG?>" <?if($this->wo->Status == "in accounting" || $this->wo->Status == "completed"):?>readonly="true"<?endif;?>/>
            </td>
            <td class="tleft" width="155px;">
                <label>Quantity of Visits </label>
            </td>
            <td>
                <input type="text"  <?php if($this->wo->Amount_Per != "Visit" || ucwords($this->wo->Status) == "In Accounting" || ucwords($this->wo->Status) == "Completed"):?>readonly="true" style="width:150px;color: gray;background-color: #EBEBE4;"<?php else:?> style="width:150px;" name="Qty_Visits" <?php endif;?> id="edit_Qty_Visits_Display" onchange="jQuery('#edit_Qty_Visits').val(jQuery(this).val());" value="<?= $this->wo->Qty_Visits ?>" />
                <input type="hidden" name="numQtyVisits" id="NumQtyVisits" value="<?= $this->NumQtyVisits?>" />
                <input type="hidden" name="numQtyVisits" id="NumQtyVisits" value="<?= $this->NumQtyVisits?>" />
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheader"  style="padding-bottom:10px;">
                Extra $ and Adjustments
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label>Out of Scope Labor</label>
            </td>
            <td class="tleft" width="140px">
                <input type="text"  style="width:100px;" id="edit_OutofScope_Amount" onchange="" name="OutofScope_Amount" value="<?= $this->wo->OutofScope_Amount ?>" />
            </td>
            <td>
                <label style="width:155px;float:left;">Reviewed By: </label>
            </td>
            <td class="tleft innerTop_">
                <input type="text" style="width:150px;" id="edit_Add_Pay_AuthBy" name="Add_Pay_AuthBy" value="<?= $this->escape($this->wo->Add_Pay_AuthBy) ?>"  />
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label>Trip Charge</label>
            </td>
            <td class="tleft">
                <input type="text"  style="width:100px;" id="edit_TripCharge" name="TripCharge" value="<?= $this->escape($this->wo->TripCharge) ?>" />
            </td>
            <td>
                <input type="checkbox" id="AuditNeeded" name="AuditNeeded" <?= ($this->wo->AuditNeeded) ? 'checked' : ''; ?>>Audit Needed
            </td>
            <td>
                <span id="AuditNeededBy"><?= ($this->wo->AuditNeeded) ? $this->wo->AuditNeededBy : "" ?></span>
                <span id="AuditNeededDate">
                    <?php
                    if ($this->wo->AuditNeeded && !empty($this->wo->AuditNeededDate)) {
                        $AuditNeededDate = new DateTime($this->wo->AuditNeededDate);
                        echo ("<br>" . date_format($AuditNeededDate, 'm-d-Y g:i A') . " CST");
                    }
                    ?>
                </span>
            </td>
        <script type="text/javascript" >
            $(document).ready(function(){
                
                          
                $("#AuditNeeded").change(function(){
                    if ($(this).attr('checked'))
                    {
                        //var strdate= $.format.date(getDateCST(), "yyyy-MM-dd HH:mm:ss");
                        $.ajax({
                            url     : '/widgets/dashboard/do/get-server-date-cst/',
                            cache   : false,
                            success : function (data) {
                                var strdate = data.ServerDateCST;        
                                $("#AuditNeededDate").html("<br>" + $.format.date(strdate, "MM-dd-yyyy hh:mm a") + " CST");
                                $("#hidAuditNeededDate").val(strdate);
                                
                            }
                        });    
                        $("#AuditComplete").removeAttr('disabled');
                        $("#AuditNeededBy").html($("#techN").html());
                    }
                    else
                    {
                        $("#AuditCompleteBy").empty ();
                        $("#AuditCompleteDate").empty ();
                        $("#hidAuditCompleteDate").val('');
                        $("#AuditComplete").attr('disabled', true);
                    }
                });
            });
        </script>
        </tr>
        <?php
        $rowspanExt = '
                <div style="float:left;">
                    <input type="checkbox" id="AuditComplete" name="AuditComplete" '
                . (($this->wo->AuditComplete) ? 'checked' : '')
                . ' '
                . (($this->wo->AuditNeeded) ? '' : 'disabled')
                . '>Audit Complete &nbsp;</div>
                <div style="padding-left:165px;">    
                <span id="AuditCompleteBy">'
                . (($this->wo->AuditComplete) ? $this->wo->AuditCompleteBy : "") . '</span>
                                                                                    <span id="AuditCompleteDate">';
        if ($this->wo->AuditComplete && !empty($this->wo->AuditCompleteDate)) {
            $AuditCompleteDate = new DateTime($this->wo->AuditCompleteDate);
            $rowspanExt .= ("<br>" . date_format($AuditCompleteDate, 'm-d-Y g:i A') . " CST");
        }
        $rowspanExt .= '</span></div>
                        <div style="float:left;padding-top:10px;">                                                            
                                                                                    <label style="width:100px;">Comments</label>
                        <textarea class="txtarea_f3" id="edit_Add_Pay_Reason" name="Add_Pay_Reason" style="width:313px;height:20px;">' . $this->escape($this->wo->Add_Pay_Reason) . '</textarea>
                        </div>    
                        <div style="clear:both;"></div>
                       ';
        if ($this->company != "FLS") {
            ?>
            <tr>
                <td class="subheaderLeft"  style="padding-bottom:10px;">
                    <label>Mileage Reimbursement</label>
                </td>
                <td class="tleft">
                    <input type="text"  style="width:100px;"class="" id="edit_MileageReimbursement" name="MileageReimbursement" value="<?= $this->wo->MileageReimbursement ?>" />
                </td>
                <td rowspan="5" colspan="2">
                    <?= $rowspanExt ?>
                    <input type='hidden' id='hidAuditNeededDate' name='AuditNeededDate' value='<?=$this->wo->AuditNeededDate?>'>
                    <input type='hidden' id='hidAuditCompleteDate' name='AuditCompleteDate' value='<?=$this->wo->AuditCompleteDate?>'>                    
                </td>

            <script type="text/javascript" >
                $(document).ready(function(){
                    $("#AuditComplete").change(function(){
                        if ($(this).attr('checked'))
                        {
                            $.ajax({
                                url     : '/widgets/dashboard/do/get-server-date-cst/',
                                cache   : false,
                                success : function (data) {
                                    var strdate = data.ServerDateCST;        
                                    $("#AuditCompleteDate").html("<br>" + $.format.date(strdate, "MM-dd-yyyy hh:mm a") + " CST");
                                    $("#hidAuditCompleteDate").val(strdate);
                                    
                                }
                            });                                
                            $("#AuditCompleteBy").html($("#techN").html());
                        }
                        else
                        {
                            $("#AuditCompleteBy").empty ();
                            $("#AuditCompleteDate").empty ();
                            $("#hidAuditCompleteDate").val('');
                        }
                    });
                });
            </script>
            </tr>
        <?php } ?>
        <tr>
            <td class="subheaderLeft">
                <label>Materials Charge</label>
            </td>
            <td class="tleft">
                <input type="text"  style="width:100px;"class="" id="edit_MaterialsReimbursement" name="MaterialsReimbursement" value="<?= $this->wo->MaterialsReimbursement ?>" />
            </td>
            <?php if ($this->company != "FLS") { ?>
                <td colspan="2" width="100px">

                </td>
            <?php } else { ?>
                <td colspan="2" rowspan="5" width="100px">
                    <?= $rowspanExt ?>
                </td>
            <?php } ?>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label>Other Non-labor Adjustments</label>
            </td>
            <td class="tleft">
                <input type="text" style="width:100px;" id="edit_Additional_Pay_Amount" name="Additional_Pay_Amount" value="<?= $this->wo->Additional_Pay_Amount ?>" />
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label>Abort/Short Notice Pay</label>
            </td>
            <td class="tleft">
                <input type="checkbox" id="edit_AbortFee" name="AbortFee" value="1" <?php if ($this->wo->AbortFee) : ?>checked = "checked" <?php endif; ?>/>
                &nbsp;<span class="required_abortFee" id="section7req" <?php if ($this->wo->AbortFee): ?>style="display:none;"<?php endif; ?>>*</span>
                <input type="text"  style="width:65px;" id="edit_AbortFeeAmount" name="AbortFeeAmount" value="<?= $this->wo->AbortFeeAmount ?>" />
            </td>			
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>                                                                         
        <tr id="pushtotech_box right_brdwhite">
            <td colspan="4" >
                <!--863-->
                <div class="sectionBoxNew <?= ($this->EnableColspanTechPay) ? "sectionOpen" : "" ?>" style="margin-left: 30px;margin: 0px 0px 0;<?= ($this->EnableColspanTechPay) ? "" : "display:none;" ?>">
                    <a id="ExpenseReportingWithTotal_collasplelabel" tabid="#ExpenseReportingWithTotal_collasple" class="title2" style="<?= ($this->EnableColspanTechPay) ? "display:block;" : "display:none;" ?>">Expense Reporting</a>
                </div>
                <div class="sectionInner2" id="ExpenseReportingWithTotal_collasple" style="margin-left: 0px;<?= ($this->EnableColspanTechPay) ? "display:block;" : "display:none;" ?>  background-color: #F2F2F2;">
                    <?= $this->render("details/expense-reporting-total-tech.phtml") ?>
                </div>
                <div>&nbsp;</div>
                <!--end863-->
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheader" style="padding-bottom:10px;">Total Tech Pay and Approval</td>
        </tr>

        <tr>
            <td class="subheaderLeft" style="width:185px;">
                <label>Final Total Tech Pay: </label>
            </td>
            <td class="tleft innerTop_">
                <input type="text" style="width:100px;" disabled="disabled" id="edit_PayAmount" name="PayAmount"  value="<?= $this->wo->PayAmount ?>"/>
            </td>
            <td>
                <label style="width:155px;float:left;">Invoice Amount</label>
            </td>
            <td class="tleft innerTop_">
                <input type="text" style="width:100px;" disabled="disabled" id="edit_calculatedInvoice" name="calculatedInvoice"  value="<?= $this->wo->calculatedInvoice ?>"/>
            </td>

        </tr>
        <script type="text/javascript">
            $(document).ready(function() {
                if (isInvoiced)
                    detailsWidget.makePayFieldsReadOnly();
            });
            $(function(){ detailsWidget.updateFinalPay('<?= $this->name ?>'); });
        </script>


        <td style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD; width:185px;" align="right">Approve &gt;&gt;</td>
        <td valign="middle" colspan="2">
            <label class="width240 tBold" style="margin-top:6px; text-align:left; !important;">
                <input type="checkbox" id="edit_Approved" value="1" name="Approved" <?php if ($this->wo->Approved) : ?>checked = "checked" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?><?php endif; ?> />
                &#160;&#160;Approve Work Order For Payment </label>
            <input id="alreadyApproved"  type="hidden" value="<?= $this->wo->Approved ? "1" : "0" ?>">
        </td>
        </tr>

        <tr height="2px;"><td colspan="4"></td></tr>

        <tr>
            <td  class="subheaderLeft">
                <label>Date Approved: </label>
            </td>
            <td class="tleft"  width="113px">
                <span class="floatLeft"/>
                &#160;<?= $this->displayDate('n/j/Y', $this->wo->DateApproved) ?>
                </span>
            </td>
            <td colspan="2">
                <label>Date Tech Paid: </label>
                <span>
                    &#160;<?= $this->displayDate('n/j/Y', $this->wo->DatePaid) ?>
                </span>
            </td>
        </tr>

        <tr>
            <td>&#160;</td>
        </tr>
        <?php if ($this->wo->Tech_ID) : ?>
            <tr>
                <td colspan="4" class="subheader">Rate Technician</td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop subheaderLeft" ><label class="perWidth100">How likely would you be to recommend this tech: </label>
                    <ul>
                        <li class="floatLeft ">
                            <input type="radio" value="5" class="floatLeft indentRightSmall SATRecommended" name="SATRecommended" id="edit_SATRecommended5" <?php if ($this->wo->SATRecommended == 5) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATRecommended5" style="*width:120px;">Extremely likely</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="4" class="floatLeft indentRightSmall SATRecommended" name="SATRecommended" id="edit_SATRecommended4" <?php if ($this->wo->SATRecommended == 4) : ?>checked="checked"<?php endif; ?>/>
                            <input type="radio" value="3" style="display: none"  name="SATRecommended" id="edit_SATRecommended3" <?php if ($this->wo->SATRecommended == 3) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATRecommended4" style="*width:120px;">Somewhat likely</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="2" class="floatLeft indentRightSmall SATRecommended" name="SATRecommended" id="edit_SATRecommended2" <?php if ($this->wo->SATRecommended == 2) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATRecommended2" style="*width:120px;">Not very likely</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="1" class="floatLeft indentRightSmall SATRecommended" name="SATRecommended" id="edit_SATRecommended1" <?php if ($this->wo->SATRecommended == 1) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATRecommended1" style="*width:120px;">Not at all likely</label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop subheaderLeft">
                    <label class="perWidth100">The outcome of this field service event was:</label>
                    <ul>
                        <li class="floatLeft ">
                            <input type="radio" value="5" class="floatLeft indentRightSmall SATPerformance" name="SATPerformance" id="edit_SATPerformance5" <?php if ($this->wo->SATPerformance == 5) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATPerformance5" style="*width:120px;">Excellent</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="4" class="floatLeft indentRightSmall SATPerformance" name="SATPerformance" id="edit_SATPerformance4" <?php if ($this->wo->SATPerformance == 4) : ?>checked="checked"<?php endif; ?>/>
                            <input type="radio" value="3" style="display: none" name="SATPerformance" id="edit_SATPerformance3" <?php if ($this->wo->SATPerformance == 3) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATPerformance4" style="*width:120px;">Very Good</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="2" class="floatLeft indentRightSmall SATPerformance" name="SATPerformance" id="edit_SATPerformance2" <?php if ($this->wo->SATPerformance == 2) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATPerformance2" style="*width:120px;">Satisfactory</label>
                        </li>
                        <li class="floatLeft ">
                            <input type="radio" value="1" class="floatLeft indentRightSmall SATPerformance" name="SATPerformance" id="edit_SATPerformance1" <?php if ($this->wo->SATPerformance == 1) : ?>checked="checked"<?php endif; ?>/>
                            <label for="edit_SATPerformance1" style="*width:120px;">Not Satisfactory</label>
                        </li>
                    </ul>
                </td>

            </tr>
            <tr>
                <td class="subheaderLeft" colspan="4" >
                    <input type="button" onclick="techProfile.addComments(<?= $this->wo->WIN_NUM ?>)" value="Add Comment" class="link_button_sm" id="addCommentBtn">
                    *Comments regarding technician performance are visible in the technician's profile to clients.
                </td>
            </tr>
            <tr>
                <td colspan="4" class="subheaderLeft">
                    <table id="workOrderCommentsTable" class="techProfileCenterContent" style="width: 85%; border-spacing: 0"></table>
                </td>
            </tr>
            <tr>
                <!--735-->
                <td class="innerTop subheaderLeft" colspan="4">
                    <?
                        $apiexpert = new Core_Api_FSExpertClass();

                        $filters = array();
                        $filters['TechId'] = $this->wo->Tech_ID;
                        $filters['Category_ID'] = $this->wo->WO_Category_ID;
                        $FSExpertTech = $apiexpert->getFSExpertTechRecord($filters);

                        $filtersinfo = array();
                        $filtersinfo['Category_ID'] = $this->wo->WO_Category_ID;
                        $FSExpertinfo = $apiexpert->getFSExpert($filtersinfo);
                        $Categoryname=$FSExpertinfo['Category'];
                        $isexpert = false;
                        if(!empty($FSExpertTech))
                        {
                            $isexpert =true;
                        }
                        $FSExpertId = $FSExpertinfo['FSExpertId'];
                        if($FSExpertinfo['FSExpertEnable']!=0)
                        {
                            ?>
                            <table cellpadding="0" cellspacing="0" class="sectionForm1">
                                <tr>
                                    <td style="vertical-align:middle;padding-right:20px;">
                                        <div style="width:100%;" for="edit_PreferTechV">Mark Tech as a Preferred Tech</div>
                                    </td>
                                    <td style="width:31px; vertical-align: middle;">
                                        <input type="checkbox" id="edit_PreferTechV" name="PreferTechV" value="1" <?php if ($this->techStatus == 1) : ?>checked="checked"<?php endif; ?> />
                                    </td>
                                    <td style="width:60px;">
                                        <table>
                                            <tr>
                                                <td style="vertical-align:middle;">
                                                    <span  class="labelClientDenyTech">Client Deny Tech</span>
                                                </td>
                                                <td>
                                                    <input type="checkbox" id="edit_DenyTechV" name="DenyTechV" value="1" <?php if ($this->techStatus == 2) : ?>checked="checked"<?php endif; ?> />
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle;padding-right:20px;">
                                        <div style="width:100%;" for="chkskillcategory"><?= $isexpert? "This Tech is " : "Recommend Tech as " ?>an FS-Expert in <span class="FSExpertname"><?=$Categoryname;?></span></div>
                                    </td>
                                    <td style="width:31px; vertical-align: middle;">
                                        <input type="checkbox" id="chkskillcategory" name="chkskillcategory" value="1" <?= $isexpert? "checked" : "" ?> <?= $isexpert?($this->isGPM?"":"disabled"):""?>/>
                                        <input type="hidden" id="FSExpertId" name='FSExpertId' value="<?=$FSExpertId?>">

                                    </td>
                                    <td>
                                        <img id="saveTechToSiteImg" class="saveTechToSiteImg" style="cursor: pointer;" src="<?= $this->srcSaveTechToSiteBtn ?>" alt="save tech to site" />
                                    </td>
                                </tr>
                            </table>
                                <?
                        }
                        else
                        {
                            ?>
                            <table cellpadding="0" cellspacing="0" class="sectionForm1">
                                <tr>
                                    <td style="vertical-align:middle;padding-right:20px;">
                                        <div style="width:100%;" for="edit_PreferTechV">Mark Tech as a Preferred Tech</div>
                                    </td>
                                    <td style="width:31px; vertical-align: middle;">
                                        <input type="checkbox" id="edit_PreferTechV" name="PreferTechV" value="1" <?php if ($this->techStatus == 1) : ?>checked="checked"<?php endif; ?> />
                                    </td>
                                    <td style="width:60px;">
                                        <img id="saveTechToSiteImg" class="saveTechToSiteImg" style="cursor: pointer;" src="<?= $this->srcSaveTechToSiteBtn ?>" alt="save tech to site" />
                                    </td>
                                </tr>
                                <tr>
                                     <td style="vertical-align:middle;">
                                                    <span  class="labelClientDenyTech">Client Deny Tech</span>
                                    </td>
                                    <td>
                                        <input type="checkbox" id="edit_DenyTechV" name="DenyTechV" value="1" <?php if ($this->techStatus == 2) : ?>checked="checked"<?php endif; ?> />
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>
                                <?
                        }
                    ?>

                </td>
                <!--end 735-->
            </tr>                           
                    <script type="text/javascript" >
                        $(document).ready(function(){
                        	
                            $("#edit_PreferTechV").change(function()
                                    {
                            			techProfile._company_id = "<?= $this->company ?>";
                                    	if($(this).attr("checked") == true)
                                      {
                                      	if($("#edit_DenyTechV").is(':checked'))
                                          {
                                          	techProfile.updateTechDenied("remove",  '<?=$_SESSION['ClientID']?>');
                                              jQuery("#edit_DenyTechV").attr('checked',false);
                                          }
                      					 techProfile.updateTechPreferred("add");
                      					// $("#edit_PreferTechV",parent.document).attr("checked",true);
                      					// $("#edit_DenyTechV",parent.document).attr("checked",false);
                                      }else{
                      					 techProfile.updateTechPreferred("remove");
                      					 $("#edit_PreferTechV").attr("checked",false);
                      				 }
                      			 });
                            /*
                            $("#edit_DenyTechV").change(function(){
                                if ($(this).attr('checked')) {
                                    $("#edit_PreferTechV").removeAttr('checked');
                                }
                            });*/
                            function ClosePopupClientDenyTech(){
                                jQuery("#edit_DenyTechV").removeAttr("checked");
                                jQuery(".labelClientDenyTech")
                                .css('color', "")
                                .css("font-weight", "")
                                .css("text-decoration","")
                                .css("cursor","");
                            }
                            function edit_DenyTechV_onClick(){
                                var value=jQuery("#edit_DenyTechV").is(":checked");    
                                var  companyID="<?= $this->company ?>";                                                                                                   
                                var  url="/widgets/dashboard/details/update-client-deny-tech?techID=" + <?= $this->wo->Tech_ID ?> +"&clientID="+<?= $this->client->getClientId() ?>+"&companyID="+companyID;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                                if(value)
                                {                                                                                                       
                                    $("<div id='ClientDenyTech'></div>").fancybox(
                                    {
                                        'type' : 'iframe',
                                        'href' : url,
                                        'autoDimensions' : false,
                                        'width' : 450,
                                        'height' : 180,
                                        'transitionIn': 'none',
                                        'transitionOut' : 'none'
                                    }
                                ).trigger('click'); 
                                    jQuery("#fancybox-close")
                                    .unbind("click",ClosePopupClientDenyTech)
                                    .bind("click",ClosePopupClientDenyTech);

                                }
                                else
                                {
                                    jQuery(".labelClientDenyTech")
                                    .css('color', "")
                                    .css("font-weight", "")
                                    .css("text-decoration","")
                                    .css("cursor","");
                                    $("#edit_DenyTechV").attr("checked",false);
                       			 	techProfile.updateTechDenied("remove", '<?=$_SESSION['ClientID']?>');
                                }
                            }
                            jQuery("#edit_DenyTechV")
                            .unbind("click",edit_DenyTechV_onClick)
                            .bind("click",edit_DenyTechV_onClick);  
                            // end 13211
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                        });
                        function ClosePopUpClientDenyTechAfterSave(){
                            var value=$("#edit_DenyTechV").is(":checked");
                            if(value)
                                $("#edit_PreferTechV").removeAttr('checked');
                            jQuery(".labelClientDenyTech")
                            .css('color', "#F69630")
                            .css("font-weight", "bold")
                            .css("text-decoration","underline")
                            .css("cursor","pointer");
                            setTimeout("$.fancybox.close();", 1000);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                        }
                        var edit_DenyTechVCheck=jQuery("#edit_DenyTechV").is(":checked"); 
                        if(edit_DenyTechVCheck)
                        {
                            jQuery(".labelClientDenyTech")
                            .css('color', "#F69630")
                            .css("font-weight", "bold")
                            .css("text-decoration","underline")
                            .css("cursor","pointer");
                        }
                        else
                        {
                            jQuery(".labelClientDenyTech")
                            .css('color', "")
                            .css("font-weight", "")
                            .css("text-decoration","")
                            .css("cursor","");
                        }
                        jQuery(".labelClientDenyTech").click(function(){
                            var isClientDenyCheck=jQuery("#edit_DenyTechV").is(":checked");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                            if(isClientDenyCheck){                                                                                                           
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                this.rollWarning = new FSPopupRoll();
                                var content = "<div id='ContentClientDeny'><div style='text-align:center;height:150px;background:url(/widgets/images/loader.gif) no-repeat center #fff;'>Loading...</div></div>";
                                var opt = {
                                    width       : 250,
                                    height      : '',
                                    position    : 'middle',
                                    title       : 'This technician was client denied by',
                                    body        : content
                                };
                                this.rollWarning.showNotAjax(this, this, opt);
                                data={
                                    companyID:"<?= $this->company ?>"
                                    ,techID:<?= $this->wo->Tech_ID ?>
                                    ,clientID:<?= $this->client->getClientId() ?>
                                };                            
                                $.ajax({
                                    url : "/widgets/dashboard/details/view-client-deny-tech",
                                    data : data,
                                    cache : false,
                                    type : 'POST',
                                    dataType : 'html',
                                    context : this,
                                    error : function (xhr, status, error) {                                    
                                    },
                                    success : function(data, status, xhr) {
                                        jQuery("#ContentClientDeny").html(data);
                                        var  clientUserName=jQuery("#ContentClientDeny #ClientName").html();
                                        if(clientUserName==""||clientUserName==null)                                    
                                        {
                                            jQuery("#ClientName").css("display","none").css('padding-bottom','20px');
                                            jQuery(".popup-header-title").html("Comments:");
                                            jQuery("#CommentsTitle").css("display","none");
                                        }

                                    }
                                });
                            }
                        });     
                    </script>


        <?php endif; ?>
        <tr>
            <td class="subheaderLeft">
                <!-- hidden inputs for preferred deny tech and created/published wos -->
                <?php if ($this->wo->Status == WO_STATE_CREATED || $this->wo->Status == WO_STATE_PUBLISHED): ?>
                    <input type="hidden" id="edit_PreferTechV" name="PreferTechV"  <?php if ($this->techStatus == 1) : ?>value="1"<?php else: ?>value=""<?php endif; ?> />
                    <input type="hidden" id="edit_DenyTechV" name="DenyTechV"  <?php if ($this->techStatus == 2) : ?>value="1"<?php else: ?>value=""<?php endif; ?> />

                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td class="subheader" style="padding-bottom:10px;">Deactivate Work Order</td>
        </tr>
        <tr>
            <td class="subheaderLeft">
                <label>Deactivate Work Order</label>
            </td>
            <td class="tleft innerTop_" colspan="3">
                <input type="checkbox" class="floatLeft indentRightLarge" id="edit_Deactivated" name="Deactivated" value="1" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?> <?= $this->wo->Deactivated ? 'checked' : ''; ?> onclick="var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i&lt;siblingSpans.length;i++) { if(siblingSpans[i].id=='section7req') { if(this.checked) { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}" />
                <span class="required" id="section7req" style="display:none;">*</span>
                <select class="width180" id="edit_DeactivationCode" name="DeactivationCode" onchange="$('#edit_DeactivationCode').attr('title', $('#edit_DeactivationCode option:selected').text());">
                    <option value="" selected="selected" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?>>Select Deactivation Code</option>
                    <?php foreach ($this->deactivationCodes as $code) : ?>
                        <option title="<?= $code ?>" value="<?= $code ?>" <?= ($code == $this->wo->DeactivationCode) ? 'selected' : '' ?>>
                            <?= $code ?>
                        </option>
                    <?php endforeach; ?>
                </select></td>

        </tr>
        <tr>
            <td class="subheaderLeft" colspan="4">
                <label>Deactivation Comments/Reason</label><textarea rows="3" cols="75" name="Deactivated_Reason" id="edit_Deactivated_Reason" ><?= $this->escape($this->wo->Deactivated_Reason) ?></textarea>
            </td>

        </tr>
    </table>
</div>