 <script>
  $(document).ready(function(){  
	attachFSRushInfoText ($('#FSRushInfo'));
	attachWMInfoText($(".PushWMInfo"));

    $("#cmdCancelWeekPay").click(function(){
		$.fancybox.close();
    });
     $("#cmdAgreeWeekPay").click(function(){
          $(".clOffer").html('Client $ Offer (Per Week) ');
          $(".numDate").html('<label class="required">Number of Weeks <span>*</span> </label>');  
          $(".inputDate").html('<input type="text" style="width:75px;" id="edit_Qty_Weeks" name="Qty_Weeks"/>');  
          $(".numDate").show();
          $(".inputDate").show();
          $.fancybox.close();
    });
  });   
</script> 
 <?php $isAccounting = ($this->wo->Status == "in accounting" || $this->wo->Status == "completed") ? 1 : 0;?>
<div class="sectionInner"  id="section4">
    <table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
        <col width="120px" />
        <col width="200px" />
        <col width="*" />
        <col width="*" />
        <tr>
            <td colspan="4" class="subheader" style="padding-bottom:10px;">Tech Pay</td>
        </tr>
        <tr>    
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" border="0" style="margin-right: 30px;">
                    <tr>
                        <td style="width:155px;">
                            <label style="width:150px;" class="required">Client $ Offer<span>*</span></label>
                        </td>
                        <td style="width:100px;">
                            <input type="text" <?if($isAccounting):?>readonly="true" style="width:80px;color: gray;background-color: #EBEBE4;"<?php else:?>style="width:80px;"<?php endif;?>  id="edit_PayMax" name="PayMax" value="<?= $this->wo->PayMax ?>" />
                        </td>
                        <td style="width:107px;padding-left:15px;">
                            <label class="required" style="width:85px;">Amount Per<span>*</span></label>
                        </td>
                        <td style="width:100px;">
                            <select <?if($isAccounting):?>disabled="disabled" style="width:100px;color: gray;background-color: #EBEBE4;"<?php else:?>style="width:100px;"<?php endif;?> id="edit_Amount_Per" name="Amount_Per" >
                                <option value="">Select Type</option>
                                <option <?= ($this->wo->Amount_Per == 'Site') ? 'selected="selected"' : '' ?> value="Site">Site</option>
                                <option value="Hour" <?= ($this->wo->Amount_Per == 'Hour') ? 'selected="selected"' : '' ?>>Hour</option>
                                <option value="Device" <?= ($this->wo->Amount_Per == 'Device') ? 'selected="selected"' : '' ?>>Device</option>
                                <option value="Visit" <?= ($this->wo->Amount_Per == 'Visit') ? 'selected="selected"' : '' ?>>Visit</option>
                            </select>
                        </td>
                        <td style="width:60px;padding-left:10px;">
                            <label style="width:60px;" >Devices:</label>
                        </td>
                        <td style="width:100px;">
                            <input type="text" <?if($isAccounting):?>readonly="true" style="width:75px;color: gray;background-color: #EBEBE4;"<?php else:?>style="width:75px;"<?php endif;?> id="edit_Qty_Devices" name="Qty_Devices" value="<?= $this->wo->Qty_Devices ?>" />
                        </td>
                        <td style="width:40px;padding-left:10px;">
                            <label style="width:40px;" >Visits:</label>
                        </td>
                        <td style="width:100px;">
                            <input type="text" style="width: 75px;color: gray;background-color: #EBEBE4;" readonly="true" id="edit_Qty_Visits" name="Qty_Visits" value="<?= $this->wo->Qty_Visits ?>" />
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0">
                    <col width="20px" />
                    <col width="234px" />
                    <col width="*" />
                    <col width="*" />
                    <tr>
                        <td>
                            <input type="checkbox" id="edit_FixedBid" disabled="disabled" <?= ((bool) $this->project_info->FixedBid) ? 'checked' : '' ?> />
                        </td>
                        <td>
                            <label class="">Fixed Tech Pay, No Extra $</label>
                        </td>
                        <td>
                            <input type="checkbox" id="edit_PcntDeduct" value="1" name="PcntDeduct" style="display: none;" <?= $this->wo->PcntDeductPercent != "" && $this->wo->PcntDeductPercent != "0" ? 'checked' : '' ?>/>
                            <input type="checkbox" value="1" id="PcntDeductV2"  disabled="disabled" <?= $this->wo->PcntDeductPercent != "" && $this->wo->PcntDeductPercent != "0" ? 'checked' : '' ?> />
                        </td>
                        <td><?php
if ($this->wo->PcntDeductPercent * 100 != 100) {
   ?>
                            <label id="lablePcntDeductPercent" class="width240">&nbsp;Deduct<?= (!empty($this->wo->PcntDeductPercent)) ? ' ' . ($this->wo->PcntDeductPercent * 100) . '%' : '' ?> FS Service Fee from Tech</label>
                                <?php
                            } else {
                                ?>
                                <label id="lablePcntDeductPercent" class="width240">&nbsp;This Work Order will be paid outside of the FieldSolutions Platform</label>
                                <?php
                            }
                            ?>
                            <input type="hidden" id="edit_PcntDeductPercent" name="PcntDeductPercent"  value="<?= (!empty($this->wo->PcntDeductPercent)) ? ($this->wo->PcntDeductPercent) : '' ?>" />
                        </td>
                    </tr>
                    <?php if (Core_Geocoding_Google::isCanadianZip($this->wo->Zipcode)) : ?>
                        <tr>
                            <td>&nbsp;</td>
                            <td><span class="payments-warning">(All payments and fees are in $US)</span></td>
                        </tr>
                    <?php endif; ?>
                </table>
            </td>
        </tr>
        <tr id="pushtotech_box right_brdwhite">
            <td colspan="4">
                <div class="sectionBoxP2t">
					<div style="width: 245px">
                    <a title="" bt-xtitle="" id="FSRushInfo" href="javascript:void(0)" class="" style="float: right;"><img src="/widgets/css/images/info-icon.jpg" style="vertical-align: middle;"></a><a class="title2" tabid="#pushtotech_collasple">FS-RUSH&trade; Auto Assignment Settings</a>
					</div>
                </div>
                <div class="sectionInner2" id="pushtotech_collasple" style="display:none; margin-left:0px;">
					<?php
						$prjAutoSign = $this->wo->isProjectAutoAssign;
						$p2tDisable = !$prjAutoSign ? " disabled=\"disabled\"" : "";
					?>
                    <table cellpadding="0" cellspacing="0" width="744px">
                        <col width="10px" />
                        <col width="300px" />
                        <col width="100px" />
                        <col width="338px" />
                        <tr id="pushtotech_box">
                            <td>&#160;</td>
                            <td id="fsrush-activate" class="subheader1 innerTop">Activate FS-RUSH&trade;</td>
                            <td colspan="2" class="innerTop" id="right_brdwhite">
                                <input type="checkbox" id="edit_isProjectAutoAssign" name="isProjectAutoAssign" <?= ($this->wo->isProjectAutoAssign ? 'checked' : '') ?> class="indentRightSmall floatLeft" value='1' />
								<input type="hidden" id="isReactivated" name="isReactivated" value="0" />
                                <div class="floatLeft width70">&nbsp;
                                </div>
                                <div class="floatLeft width70">&nbsp;
                                </div>
                                <!--div class="floatLeft" style="width: 40px">&nbsp;
                                </div-->
								
								<input type="checkbox" id="edit_PushWM" name="PushWM" <?= ($this->wo->PushWM ? 'checked' : '') ?> <?= $this->client->contextPushWMEnabled ? "" : "disabled=\"disabled\"" ?> value='1'/>&nbsp;
								Add Work Market source <img src='/widgets/images/wm32.png' style="vertical-align: middle;" alt="Work Order sourced through Work Market" />&nbsp;
								<a title="" bt-xtitle="" class="PushWMInfo" href="javascript:void(0)" class=""><img style="vertical-align: middle;" src="/widgets/css/images/info-icon.jpg"></a>
							</td>
                            <td class="subheader1 innerTop" id="right_brdwhite">
                            </td>
							<!--td colspan="2" align="right" valign="bottom" class="innerTop" style="line-height: 18px;">
                                <input type="checkbox" value="1" id="edit_PushWM" name="PushWM" wmAllow="<?=$this->client->contextPushWMEnabled?>" <?php if ($this->wo->PushWM): ?>checked<?php endif; ?> <?php if($p2tDisable && $this->client->contextPushWMEnabled == 1):?>disabled<?php endif;?>>
                                Add Work Market source <img src="/widgets/images/wm32.png" style="vertical-align: middle;" />
							</td-->
                        </tr>
                        <?php if (true || $this->wo->isProjectAutoAssign) : ?>
                            <script type="text/javascript">
                                function updateMinutes() {
									var d, h, m;

                                    d =	parseInt($("#edit_P2TD").val(),10);
                                    h = parseInt($("#edit_P2TH").val(),10);
                                    m = parseInt($("#edit_P2TM").val(),10);
                                    if (isNaN(d)) {
                                        d = 0;
                                        $("#edit_P2TD").val(d);
                                    }
                                    if (isNaN(h)) {
                                        h = 0;
                                        $("#edit_P2TH").val(h);
                                    }
                                    if (isNaN(m)) {
                                        m = 0;
                                        $("#edit_P2TM").val(m);
                                    }
                                    remain = d *1440 + h * 60 + m;
                                    $("#edit_MinutesRemainPublished").val(remain);
                                }

                                function loadMinutes(){
									var v, d, h, m;

                                    v = parseInt($("#edit_MinutesRemainPublished").val(), 10);
                                    d = Math.floor(v / 24 / 60);
                                    v = v - d * 24 * 60;
                                    h = Math.floor(v / 60);
                                    m = v - h * 60;
                                    $("#edit_P2TD").val( isNaN(d) ? 0 : d );
                                    $("#edit_P2TH").val( isNaN(h) ? 0 : h );
                                    $("#edit_P2TM").val( isNaN(m) ? 0 : m );
                                }

								function updateTimeLeft (v) {
									var d, h, m;
									if ("<?=$this->wo->Status?>" != "published") return;
									if (v <= 0) {
										$("#fsrush-activate").html("Re-Activate FS-RUSH&trade;");
										$("#edit_isProjectAutoAssign").attr('checked', false);
										$("#fsrush_timeleft").text("(Time Control Expired)");
										jQuery ("#isReactivated").val ("1");
										return;
									}
									d = Math.floor(v / 24 / 60);
                                    v = v - d * 24 * 60;
                                    h = Math.floor(v / 60);
                                    m = v - h * 60;
									jQuery ("#fsrush_timeleft").text ("(" + d + " Days, " + h + " Hours, " + m + " Minutes remaining)");
								}

                                $(document).ready(function(){
                                    loadMinutes();
                                    updateMinutes();
									if ("<?=$this->wo->Status?>" != "published") return;
									jQuery.ajax ({
										url : "/widgets/dashboard/details/p2t-time-remaining",
										data : { id: <?= $this->wo->WIN_NUM ?> },
										cache : false,
										type : 'GET',
										dataType : 'json',
										error: function (xhr, status, error) {
											//console.log (xhr, status, error);
										},
										success: function (data, status, xhr) {
											var minutes = 0;

											if (typeof (data.totalMins) != "undefined") {
												jQuery ("#fsrush_timeleft").show ();
												minutes = data.totalMins;

												if (minutes > 0) {
													setInterval (function () {
														updateTimeLeft (--minutes);
													}, 60000);
												}
											}

											if (jQuery ("#edit_isProjectAutoAssign").is(":checked")) {
												updateTimeLeft (minutes);
											}
										}
									});
								});
                            </script>
                            <tr id="pushtotech_box">
                                <td>&#160;</td>
                                <td class="innerTop">FS-RUSH&trade; Time Control expires in:</td>
                                <td colspan="2" class="innerTop" id="right_brdwhite">
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TD" name ="P2TDV" class="width20 floatLeft indentRight" />
                                        <label>Days</label>
                                    </div>
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TH" name ="P2THV" class="width20 floatLeft indentRight" />
                                        <label>Hours </label>
                                    </div>
                                    <div class="floatLeft width70">
                                        <input onchange="updateMinutes()" type="text" id="edit_P2TM" name ="P2TMV" class="width20 floatLeft indentRight" />
                                        <label>Minutes</label>
                                    </div>

									&nbsp;&nbsp;&nbsp;
									<span id="fsrush_timeleft" style="color: #C00000; font-style: italic; display: none;">
									</span>

                                    <input type="hidden" name="MinutesRemainPublished" value="<?= $this->wo->MinutesRemainPublished ?>" id ="edit_MinutesRemainPublished" />
                                </td>
                            </tr>
                            <tr id="pushtotech_box">
                                <td>&#160;</td>
                                <td class="innerBottom">
                                    <strong>Auto-Assignment requirements:</strong>
                                </td>
                                <td colspan="2" id="right_brdwhite">&nbsp;</td>
                            </tr>
                            <tr id="pushtotech_box" valign="top">
                                <td>&#160;</td>
                                <td><label class="width240">Auto-Assign to</label></td>
                                <td colspan="2" style="line-height: 18px;">
									<input type="radio" name="isWorkOrdersFirstBidder" value="1" <?= $p2tDisable ?> id="edit_isWorkOrdersFirstBidder" <?= ($this->wo->isWorkOrdersFirstBidder ? 'checked' : '') ?> />&nbsp;
                                    First Matching Bidder<br/>
                                    <input type="radio" name="isWorkOrdersFirstBidder" value="0" <?= $p2tDisable ?> id="edit_isnotWorkOrdersFirstBidder" class="floatLeft" <?= (!$this->wo->isWorkOrdersFirstBidder ? 'checked' : '') ?> />&nbsp;
                                    Lowest Matching Bidder When Time Control Expires<br/>
                                </td>
                            </tr>
                            <tr id="pushtotech_box" valign="top">
                                <td>&#160;</td>
                                <td><label class="width240">Auto-Assign to</label></td>
                                <td colspan="2" style="line-height: 18px;">
									<input type="radio" name="P2TPreferredOnly" value="1" <?= $p2tDisable ?> id="edit_P2TPreferredOnly" <?= ($this->wo->P2TPreferredOnly ? 'checked' : '') ?> />&nbsp;
                                    Preferred Techs Only<br/>
                                    <input type="radio" name="P2TPreferredOnly" value="0" <?= $p2tDisable ?> id="edit_notP2TPreferredOnly" class="floatLeft" <?= (!$this->wo->P2TPreferredOnly ? 'checked' : '') ?>  />&nbsp;
                                    Any Matching Tech<br/>
                                </td>
                            </tr>
                            <?php
                            if (!empty($this->FSTagList)):
                                ?>
                                <tr id="pushtotech_box">
                                    <td>&#160;</td>
                                    <td>
                                        <label class="width240">Client Credential </label>
                                    </td>
                                    <td class="" id="edit_ClientCredential" colspan="2">
                                        <select size="1" style="width: 200px;" name="CredentialCertification" id="CredentialCertification"<?= $p2tDisable ?>>
                                            <option selected="selected" value="">Select a Client Credential</option>
                                            <?php if(!empty($this->FSTagList)){
												$ignore_cred = array ("3", "2", "6", "64");
                                                foreach($this->FSTagList as $item){
													if (!in_array ($item["id"], $ignore_cred)) {
														echo "<option  value='".$item["id"]."'>".$item["Title"]."</option>";
													}
                                                }
                                            } ?>

											<?php if(in_array($this->company,array('BBAL','BBGC','BBGE','BBCN','BCSST','BBGN','BBJC','BBLC','BBNSG','BBNC','BBS','BB')) && $this->isGPM): ?>
											<option value="46">Black Box Cabling - Helper (C1)</option>
											<option value="47">Black Box Cabling - Advanced (C2)</option>
											<option value="48">Black Box Cabling - Lead (C3)</option>
											<option value="49">Black Box Telecom - Helper (T1)</option>
											<option value="50">Black Box Telecom - Advanced (T2)</option>
											<?php endif; ?>  
                                        </select>
										<div id="CredentialCertificationSelection"></div>
                                    </td>
                                </tr>
                                <?php
                            endif;
                            ?>
                               
							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">Public Credentials</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="PublicCertification" id="PublicCertification"<?= $p2tDisable ?>>
										<option value="0">Select a Public Credential</option>
										<option value="Bg_Test_Pass_Lite">Basic Background Check</option>
										<option value="Bg_Test_Pass_Full">Comprehensive Background Check</option>
										<option value="DrugPassed">Gold Drug Test - 9 Panel</option>
										<option value="SilverDrugPassed">Silver Drug Test - 5 Panel</option>
										<option value="FS_Mobile">FS-Mobile&trade;</option>
										<option value="BRT">Blue Ribbon Technician</option>
										<option value="TBC">Boot Camp Certified</option>
										<option value="USAuthorized">US Verified</option>
										<option value="NACI">NACI Gov. Security Clearance</option>
										<option value="InterimSecClear">Interim Gov. Security Clearance</option>
										<option value="FullSecClear">Secret Gov. Security Clearance</option>
										<option value="TopSecClear">Top Secret Gov. Security Clearance</option>
										<option value="TopSecSCIClear">Top Secret SCI Gov. Security Clearance</option>
									</select>
									<div id="PublicCertificationSelection"></div>
								</td>
							</tr>

							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">FS-Experts</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="FSExpert" id="FSExpert"<?= $p2tDisable ?>>
										<option value="0">Select a Skill Category</option>
										<?php foreach ($this->fs_experts as $record): ?>
										<option value="<?= $record["Id"] ?>"><?= $record["Title"] ?></option>
										<?php endforeach; ?>
									</select>
									<div id="FSExpertSelection"></div>
								</td>
							</tr>

							<tr valign="top" id="pushtotech_box">
								<td>&#160;</td>
								<td>
									<label class="width240">Industry Certifications</label>
								</td>
								<td colspan="2">
									<select size="1" style="width: 200px;" name="IndustryCertification" id="IndustryCertification"<?= $p2tDisable ?>>
										<option value="">Select an Industry Certification</option>
										<option value="MCSE">Microsoft Certified Systems Engineer (MCSE)</option>
										<option value="MCSA">Microsoft Certified Solutions Associate (MCSA)</option>
										<option value="MCP">Microsoft Certified Professional (MCP)</option>
										<option value="CCNA">Cisco Certified Network Associate (CCNA)</option>
										<option value="DellCert">Dell Certification</option>
										<option value="HP_CertNum">HP Certification</option>
										<option value="CompTIA">CompTIA Registered</option>
										<option value="CompTIA_A_PLUS">CompTIA A+</option>
										<option value="CompTIA_PDI_PLUS">CompTIA PDI+</option>
										<option value="CompTIA_Server_PLUS">CompTIA Server+</option>
										<option value="CompTIA_Network_PLUS">CompTIA Network+</option>
										<option value="BICSI">BICSI Certification</option>
										<option value="EMCApD">EMCApD - Application Developer</option>
										<option value="EMCBA">EMCBA - Backup Recovery</option>
										<option value="EMCCA">EMCCA - Cloud Architect</option>
										<option value="EMCCIS">EMCCIS - Cloud Infrastructure and Services</option>
										<option value="EMCDCA">EMCDCA - Data Center Architect</option>
										<option value="EMCIE">EMCIE - Implementation Engineer</option>
										<option value="EMCISA">EMCISA - Information Storage and Management</option>
										<option value="EMCPE">EMCPE - Platform Engineer</option>
										<option value="EMCSA">EMCSA - Storage Administrator</option>
										<option value="EMCSyA">EMCSyA - System Administrator</option>
										<option value="EMCTA">EMCTA - Technology Architect</option>
									</select>
									<div id="IndustryCertificationSelection"></div>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
								<td>
									 <label class="width240">Skill Category Minimum Self-Rating</label>
								</td>
								<td colspan="2">
									 <span>
										<select style="width: 200px;" name="MinimumSelfRating" id="edit_MinimumSelfRating"<?= $p2tDisable ?>>
											<option value="0" <?php if ($this->wo->MinimumSelfRating == 0): ?>selected<?php endif; ?>>No Minimum</option>
											<option value="1" <?php if($this->wo->MinimumSelfRating==1):?>selected<?php endif;?>>1</option>
											<option value="2" <?php if($this->wo->MinimumSelfRating==2):?>selected<?php endif;?>>2</option>
											<option value="3" <?php if($this->wo->MinimumSelfRating==3):?>selected<?php endif;?>>3</option>
											<option value="4" <?php if($this->wo->MinimumSelfRating==4):?>selected<?php endif;?>>4</option>
											<option value="5" <?php if($this->wo->MinimumSelfRating==5):?>selected<?php endif;?>>5</option>
										</select>
									 </span>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
								<td>
									 <label class="width240">Maximum Mileage from Site</label>
								</td>
								<td colspan="2">
									<select style="width: 200px;" name="MaximumAllowableDistance" id="edit_MaximumAllowableDistance"<?= $p2tDisable ?>>
										<option value="25" <?php if($this->wo->MaximumAllowableDistance==25):?>selected<?php endif;?>>25</option>
										<option value="50" <?php if($this->wo->MaximumAllowableDistance==50):?>selected<?php endif;?>>50</option>
										<option value="75" <?php if($this->wo->MaximumAllowableDistance==75):?>selected<?php endif;?>>75</option>
										<option value="100" <?php if($this->wo->MaximumAllowableDistance==100):?>selected<?php endif;?>>100</option>
									</select>
								</td>
							</tr>

							<tr id="pushtotech_box">
								<td>&#160;</td>
                                <td class="innerTop">
                                    <label class="width240">Receive FS-RUSH&trade; Notification Emails</label>
                                </td>
                                <td class="innerTop" colspan="2">
                                    <input type="checkbox" disabled="disabled" id="edit_NotifyOnAutoAssign" <?= (bool) $this->project_info->NotifyOnAssign ? 'checked' : '' ?> />
									<input style="width: 180px;" type="text" name="P2TNotificationEmailTo" value="<?= $this->wo->P2TNotificationEmailTo ?>" id="edit_P2TNotificationEmailTo" />
                                </td>
                            </tr>
                        <?php endif; ?>
                    </table>
                </div>
            </td>
        </tr>
        <tr id="pushtotech_box right_brdwhite">
            <td colspan="4">
                <div  id="divExpenseReportingLine" style="<?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? "" : "display:none;" ?>" class="sectionBoxNew <?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? "sectionOpen" : "" ?>">
                    <a id="ExpenseReporting_collaspleLabel" tabid="#ExpenseReporting_collasple" class="title2" style="<?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? 'display:block;' : 'display:none;' ?>">Expense Reporting</a>
                </div>
                <div class="sectionInner2" id="ExpenseReporting_collasple"  style="<?= (!empty($this->expenseReporting) && $this->EnableColspanTechPay) ? "display:block;" : "display:none;" ?> padding-left:0px; padding-right: 30px;">
                    <?= $this->render("details/expense-reporting-tech.phtml") ?>
                </div>
            </td>
        </tr>   
        <tr>
            <td colspan="4">&#160;</td>
        </tr>
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Assign Technician</td>
        </tr>        
        <tr>
            <td class="subheaderLeft" colspan="4">
                <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td width="135px;">
                    <a style="<?= $this->srcviewTechBtn ? "" : "display:none;" ?>" class="viewTechBtnHidden" href="javascript:void(0)">
                        <div style="width: 128px; background-repeat: no-repeat; height: 32px; background-image: url('/widgets/css/images/Btn_ViewTechs.png');">
                            &nbsp;
                        </div>
                    </a>
                     <a style="<?= $this->srcviewTechBtn ? "display:none;" : "" ?>cursor:default;" class="viewTechBtnHiddenView" href="javascript:void(0)">
                        <div style="width: 128px; background-repeat: no-repeat; height: 32px; background-image: url('/widgets/css/images/Btn_ViewTechs_g.png');">
                            &nbsp;
                        </div>
                    </a>
                </td>
                <td align="left" width="135px;" style="vertical-align: middle;padding-top:0px;">    
                    <a id="techScheduleBtn" style="cursor: default;" class="techScheduleBt" href="javascript:void(0)"> 
                        <img id="techScheduleImg" class="cmdtechScheduleImg"  src="<?= (!$this->wo->Tech_ID) ? "/widgets/css/images/Btn_ViewTechSchedule_g.png" : "/widgets/css/images/Btn_ViewTechSchedule.png" ?>" alt="view tech schedule" onclick='' height="30"/>
                    </a>
                </td>    
                <td width="135px;">    
                    <img id="saveTechToSiteImg" class="saveTechToSiteImg" style="cursor: pointer;" src="<?= $this->srcSaveTechToSiteBtn ?>" alt="save tech to site" />
                </td>
                </tr>
                </table>
            </td>    
         </tr>
         <tr height="10px;"><td colspan="4"></td> </tr>
         <tr>   
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:150px;">
                            <label><span class="required" id="section4req" style="display:none;">*</span>Assign FS Tech#</label>
                        </td>
                        <td style="width:100px;">
                            <input style="width:80px;" type="text" id="edit_Tech_ID" name="Tech_ID" oldvalue="<?= $this->wo->Tech_ID ?>" value="<?= $this->wo->Tech_ID ?>" onchange="var siblingSpans = $('#updateDetailsForm > span'); for(var i=0;i&lt;siblingSpans.length;i++) { if(siblingSpans[i].className=='required_tech') { if(this.value!='') { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}" <? if(ucwords($this->wo->Status) == "In Accounting" || ucwords($this->wo->Status) == "Completed"):?>readonly<?endif;?>/>
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td style="width:125px;">
                                <label style="width:125px;">FLS Tech ID</label>
                            </td>
                            <td style="width:110px;">
                                <input style="width:80px;" type="text" id="edit_FLS_ID" name="FLS_ID" value="<?= $this->wo->FLS_ID ?>" />
                            </td>
                        <?php } else { ?>
                            <td style="width:90px;">&nbsp;</td>
                            <td style="width:130px;">&nbsp;</td>
                        <?php } ?>
                        <td style="width:100px;">&nbsp;</td>
                        <td style="width:100px;">&nbsp;</td>
                    </tr>
                   
                    <tr>
                        <td>
                            <label style="width:150px;">Tech Contact Info</label>
                        </td>
                        <td>
                            <input style="width:92px;" type="text" class="noborder liketext" id="edit_Tech_FName" readonly="readonly" value="<?= $this->escape($this->wo->Tech_FName) ?>"  />
                        </td>
                        <td>
                            <input style="width:90px;" type="text" class="noborder liketext" id="edit_Tech_LName" readonly="readonly" value="<?= $this->escape($this->wo->Tech_LName) ?>"  />
                        </td>
                        <td>
                            <input style="width:90px;" type="text" class="noborder liketext" id="edit_TechPhone" readonly="readonly" value="<?= $this->wo->TechPhone ?>" />

                            <?php
                            if ($this->wo->PrimaryPhoneStatus == "1" && trim($this->wo->TechPhone) != "") {
                                ?>
                                <img class="imgClassReQuitePhone" align="absmiddle"
                                     src="<?= $this->wo->PrimaryPhoneStatus == "1" ? "/widgets/images/ico_phonex16.png" : "/widgets/images/ico_Notphonex16.png" ?>"
                                     title="<?= $this->wo->PrimaryPhoneStatus == "1" ? "Click to notify " . $this->wo->Tech_FName . ' ' . $this->wo->Tech_LName . " that this Phone # is Invalid" : "Invalid Phone # Reported" ?>"
                                     <?php
                                     if ($this->wo->PrimaryPhoneStatus == "1") {
                                         ?>
                                         onclick="javascript:detailObject.onInit.RequitePhoneClick(this,'<?= $this->wo->Tech_ID ?>' , 1,'<?= base64_encode($this->wo->Tech_FName . ' ' . $this->wo->Tech_LName) ?>','<?= $this->wo->TechPhone ?>');" 
                                     <?php } ?>
                                     />
                                 <?php } ?>
                        </td>
                        <td colspan="2">
                            <input style="width:190px;" type="text" id="edit_TechEmail" readonly="readonly" value="<?= $this->wo->TechEmail ?>" class="floatLeft indentRightLarge width150 noborder liketext" />
                        </td>
                    </tr>
 <!-- 14112-->
                    <tr>
                        <td>
                            <label style="width:150px;" id="lblISOInformation"><?=(!empty($this->ISOInformation))?'ISO Information':''?></label>
                        </td>                       
                        <td colspan="5">
                            <div id="divISOInformation" class="floatLeft"><?=(!empty($this->ISOInformation))?$this->ISOInformation:''?></div>
                        </td>                       
                    </tr><!--14112-->
                    <tr>
                        <td>
                            <label style="width:150px;" class="required_tech">Bid/Agreed Amount<span >*</span></label>
                        </td>
                        <td class="innerBottomSmall">
                            <input <?if($isAccounting):?>readonly="true" style="width:150px;color: gray;background-color: #EBEBE4;"<?php else:?>style="width:80px;"<?php endif;?>  id="edit_Tech_Bid_Amount" name="Tech_Bid_Amount" value="<?= $this->wo->Tech_Bid_Amount ?>" type="text"/>
                        </td>
                        <td>
                            <div id="perLabel" class="floatLeft">per
                                <?= ($this->wo->Amount_Per == 'Visit') ? " Visit" : $this->wo->Amount_Per; ?>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Tech Bid Comments</label>
                        </td>
                        <td colspan="5"><textarea id="edit_bid_comments" name="bid_comments" style="height:32px;width:495px;" readonly="readonly"><?= $this->wo->bid_comments ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Back-Up FS-Tech ID#</label>
                        </td>
                        <td>
                            <input style="width:80px;" class="FSAutoFillFLS" totextid="edit_Backup_FLS_ID" id="edit_BU1FLSID" name="BU1FLSID" value="<?= $this->wo->BU1FLSID ?>" type="text"/>
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">Back Up FLS ID#</label>
                            </td>
                            <td>
                                <input style="width:80px;"  class="Backup_FLS_ID" totextid="edit_BU1FLSID" id="edit_Backup_FLS_ID" name="Backup_FLS_ID"  value="<?= $this->wo->Backup_FLS_ID ?>" type="text"/>
                            </td>
                        <?php } else { ?>
                            <td></td>
                            <td></td>
                        <?php } ?>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Back-Up Comments</label>
                        </td>
                        <td colspan="5"><textarea style="height:16px;width:495px;" id="edit_BU1Info" name="BU1Info"><?= $this->escape($this->wo->BU1Info) ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">Backed-Out FS Tech ID#</label>
                        </td>
                        <td>
                            <input style="width:80px;" class="FSAutoFillFLS" totextid="edit_BackOut_TechFLS" id="edit_BackOut_Tech" name="BackOut_Tech" value="<?= $this->wo->BackOut_Tech ?>" type="text" />
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">BackedOut FLS ID#</label>
                            </td>
                            <td>
                                <?php
                                $tech = new API_Tech();
                                if ($this->wo->BackOut_Tech != "") {
                                    $backOutTechID = $this->wo->BackOut_Tech;
                                    $result = $tech->doTechLookup("TechID = '$backOutTechID' AND Deactivated = '0'");
                                    $getBackOutTechFLS = $tech->FLSID;
                                }
                                ?>

                                <input style="width:80px;" id="edit_BackOut_TechFLS" totextid="edit_BackOut_Tech" class="Backup_FLS_ID"  value="<?= $getBackOutTechFLS ?>" type="text" />

                                <?php
                                ?>
                            </td>
                        <?php } else { ?>
                            <td>
                            </td>
                            <td>

                            </td>
                        <?php } ?>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="width:150px;">No Show Tech ID#:</label>
                        </td>
                        <td>
                            <input style="width:80px;" type="text" class="FSAutoFillFLS" totextid="edit_NoShow_TechFLS" id="edit_NoShow_Tech" name="NoShow_Tech" value="<?= $this->wo->NoShow_Tech ?>" />
                        </td>
                        <?php if ($this->company == "FLS") { ?>
                            <td>
                                <label style="width:125px;">No Show FLS ID#</label></td>
                            <td>
                                <?php
                                if ($_REQUEST['company'] == "FLS") {
                                    $tech = new API_Tech();

                                    if ($this->wo->NoShow_Tech != "") {
                                        $noShowTechID = $this->wo->NoShow_Tech;
                                        $result = $tech->doTechLookup("TechID = '$noShowTechID' AND Deactivated = '0'");
                                        $getNoShowTechFLS = $tech->FLSID;
                                    }
                                    ?>

                                    <input style="width:80px;"  type="text" id="edit_NoShow_TechFLS" totextid="edit_NoShow_Tech" class="Backup_FLS_ID"   value="<?= $getNoShowTechFLS ?>" />

                                    <?php
                                }
                                ?>
                            </td>
                        <?php } else { ?>
                            <td>
                            </td>
                            <td>
                            </td>
                        <?php } ?>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr height="10px;">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td class="subheader" colspan="4" style="padding-bottom:10px;">Assignment Agreement</td>
        </tr>
        <tr>    
            <td colspan="4" class="subheaderLeft">
                <div id="techFeeAgreement"> Bid represents the amount bid by the assigned tech, unless client over-rides after agreement with the tech.<br/>
                    <br/>
                    I understand that, upon approval, Field Solutions will pay the technician for this work. I understand that upon approval, I will be billed the Bid/Agreed amount plus a processing fee.<br/>
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="subheaderLeft">
                <table cellpadding="0" cellspacing="0" width="500px" border="0">
                <tr>
                <td style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#4A8CBD;width:150px" align="right">Assign &gt;&gt;</td>
                <td class="innerTop" style="padding-top: 12px !important;padding-left:10px;width:350px">
                    <div class="clr">
                        <input type="checkbox" class="floatLeft indentRightSmall" id="edit_assignment_agreement" onclick="var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i&lt;siblingSpans.length;i++) { if(siblingSpans[i].id=='section4req') { if(this.checked) { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}" />
                        <label>Yes, I agree.</label>
                    </div>
                </td>
                </tr>
                </table>
            </td>
        </tr>
        <script type="text/javascript">
            function showTechSched(event){
                schedule.show($(this), event, {data:{
                        'tech_ID' : $("#edit_Tech_ID").val(),
                        'date' : '',
                        'date_interval' : 'all',
                        'display_calendar' : 1,
                        'display_date' : 1,
                        'sort' : 'starttime',
                        'sort_dir' : 'desc'
                    }});
            }
                                                                                                                                                                                                                                                                                                                                                                                
            $(document).ready(function(){
			
<?php if (strtolower($this->wo->Status) !== 'created' && strtolower($this->wo->Status) !== 'published') : ?>
            $("#edit_assignment_agreement").click();
<?php endif; ?>
        $("#edit_Tech_ID").change(function(){
            if ($(this).val() != '') {
                var techId = $(this).val();
                $.ajax({url:"/widgets/dashboard/popup/get-tech-info/company/<?= $this->company ?>/tech/"+techId+"/wo/"+<?= $this->wo->WIN_NUM ?>+'/needBid/1/', success: function(data){
                        if (data['error']==0) {
                            jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule.png");
                            jQuery(".cmdtechScheduleImg").unbind("click").bind("click",showTechSched);
                            jQuery(".cmdtechScheduleImg").css("cursor","pointer");
                            jQuery(".saveTechToSiteImg").css("cursor","pointer");
                            jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech.png");
                            jQuery(".saveTechToSiteImg").unbind("click").bind("click",_wosDetails.saveTechToSiteImg_onclick);
                            $("#edit_Tech_FName").val(data['techInfo']['fName']);
                            $("#edit_Tech_LName").val(data['techInfo']['lName']);
                            $("#edit_TechEmail").val(data['techInfo']['email']);
                            $("#edit_FLS_ID").val(data['techInfo']['FLSID']);
                            detailObject.onInit.RequitePhone("#edit_TechPhone"
                            ,data['techInfo']['phone']
                            ,data['techInfo']['TechID']
                            ,data['techInfo']['PrimaryPhoneStatus']
                            ,1
                            ,'text'
                            ,Base64.encode(data['techInfo']['fName']+' '+data['techInfo']['lName']));
                            $("#techScheduleImg").css('visibility','visible');
                            //				$("#techScheduleBtn").unbind();
                            //              $("#techScheduleBtn").click(showTech);
                            if (typeof(data['bidInfo']) != 'undefined') {
                                /*if ($("#edit_Tech_Bid_Amount").val() == '') {
      $("#edit_Tech_Bid_Amount").val(data['bidInfo']['Tech_Bid_Amount']);
}*/
                                if ($("#edit_bid_comments").val() == '') {
                                    $("#edit_bid_comments").val(data['bidInfo']['comments']);
                                }
                            }
                            //$("#techScheduleBtn").click(function(){openPopupWin('viewTechSchedule.php?techID='+techId);});

                            if (data['techInfo']['isDenied']) {
                                detailsWidget._redirect = 0;
                                detailsWidget.showMessages({success:0,errors:['You are about to assign work to a technician that has been "denied access" by your company. Please re-confirm your choice of technician. Tech ID: '+techId+' ('+data['techInfo']['fName']+' '+data['techInfo']['lName']+')']});
                                if( $("#edit_DenyTechV").attr("type") == "checkbox"){ 
                                    $("#edit_DenyTechV").attr("checked","checked");
                                }else{
                                    $("#edit_DenyTechV").val("1");
                                }
                            }else{
                                if( $("#edit_DenyTechV").attr("type") == "checkbox"){ 
                                    $("#edit_DenyTechV").attr("checked",false);
                                }else{
                                    $("#edit_DenyTechV").val("");
                                }
                            }
                            if(data['techInfo']['isPreferred'] == true) {
                                if( $("#edit_PreferTechV").attr("type") == "checkbox"){ 
                                    $("#edit_PreferTechV").attr("checked","checked");
                                }else{
                                    $("#edit_PreferTechV").val("1");
                                }
                            }else{
                                if( $("#edit_PreferTechV").attr("type") == "checkbox"){ 
                                    $("#edit_PreferTechV").attr("checked",false);
                                }else{
                                    $("#edit_PreferTechV").val("");
                                }
                            }
                            //14112                            
                           if (data['techInfo']['ISO_ID'] >0) {                                 
                               $("#lblISOInformation").html('ISO Information');
                               $("#divISOInformation").html(data['techInfo']['ISO_Name'] + "(ISO ID# "+data['techInfo']['ISO_ID']+")");
                           }else
                                {
                                    $("#lblISOInformation").html(''); 
                                    $("#divISOInformation").html('');    
                                }                                    
                        }else{
                            jQuery(".cmdtechScheduleImg").css("cursor","default");
                            jQuery(".saveTechToSiteImg").css("cursor","default");
                            jQuery(".cmdtechScheduleImg").unbind("click");
                            jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule_g.png");
                            jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech_g.png");
                            jQuery(".saveTechToSiteImg").unbind("click");
                            $("#edit_Tech_ID").val('');
                            $("#edit_Tech_FName").val('');
                            $("#edit_Tech_LName").val('');
                            $("#edit_TechEmail").val('');
                            $("#edit_TechPhone").val('');
                            $("#edit_FLS_ID").val('');
                            jQuery("#edit_TechPhone").parent().children(".imgClassReQuitePhone").remove();
                            //$("#techScheduleImg").css('visibility','hidden');
                            //$("#techScheduleBtn").click(function(){});
                            $("#lblISOInformation").html(''); //14112  
                            $("#divISOInformation").html('');                           
                        }
                    }});
            } else {
                jQuery(".cmdtechScheduleImg").css("cursor","default");
                jQuery(".saveTechToSiteImg").css("cursor","default");
                jQuery(".cmdtechScheduleImg").unbind("click");
                jQuery(".cmdtechScheduleImg").attr("src","/widgets/css/images/Btn_ViewTechSchedule_g.png");
                jQuery(".saveTechToSiteImg").attr("src","/widgets/css/images/Btn_SaveTech_g.png");
                jQuery(".saveTechToSiteImg").unbind("click");
                                                                                                                                                                                                                                                                                                                                                                    
                $("#edit_Tech_ID").val('');
                $("#edit_Tech_FName").val('');
                $("#edit_Tech_LName").val('');
                $("#edit_TechEmail").val('');
                $("#edit_TechPhone").val('');
                $("#edit_FLS_ID").val('');
                jQuery("#edit_TechPhone").parent().children(".imgClassReQuitePhone").remove();
                //$("#techScheduleImg").css('visibility','hidden');
                //$("#techScheduleBtn").click(function(){});
            }
        })
    });
        </script>
    </table>
</div>