<?php
$files = array();
foreach ($this->files as $f)
{
    if ($f['type'] != Core_Files::WOS_FILE)
        continue;
    $files[] = $f;
}
?>
<table <?= (!empty($this->renderedFromWO)) ? "" : "class=\"popup_table\"" ?> width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>Tech Expense Claims:
            <?
            if (count($this->files) === 0)
            {
                echo 'no documents';
            }
            ?>
        </td>
    </tr>
    <?php
    if (!empty($this->files))
    {
        foreach ($this->files as $f)
        {
            ?>
            <tr>
                <td>
                    <a class="ajaxLink" href="http://<?= $_SERVER["HTTP_HOST"] ?>/widgets/dashboard/do/file-wos-documents-download/filename/<?= urlencode(base64_encode($f['path'])) ?>/<?= ltrim($f['path'], '/') ?>"><?= ltrim($f['uplfilename'], '/') ?></a>
                </td>
            </tr>
            <?php
        }
    }
    ?>
</table>

