<?php
$rightPanel = $this->showrightpanel ? '&showrightpanel=1' : '';
//13755
$companyID = $this->companyId;
//End 13755
?> 
<!--13755-->                            
<script type='text/javascript'> 
function recentWorkClick(){
$("#myrecentwork .toolsRightContent a").click(function(event){       
        var _companyId = '<?=$companyID?>';
          event.preventDefault();  
          var href=$(this).attr("href");
          $.post("/widgets/dashboard/client/accessctlrecent/", {rt:'iframe',attributeId:'4',companyId:_companyId}, function (response) {
              var response =JSON.parse(response);
              if(response.access==1){
                
              }else{
                if(response.gpm==1){
                    Attention(response.msg);  
                } else{
                  $("#fancybox-close").trigger('click');
                    Attention(response.msg);  
                }
              }
          });                  
          return false;
    });     
}

</script>
<script type='text/javascript'>          
 function recentTechClick(){ 
      $("#myrecenttechs .toolsRightContent a").click(function(event){       
        var _companyId = '<?=$companyID?>';
          event.preventDefault();  
          var href=$(this).attr("href");
          $.post("/widgets/dashboard/client/accessctlrecent/", {rt:'iframe',attributeId:'5',companyId:_companyId}, function (response) {
              var response =JSON.parse(response);
              if(response.access==1){
                
              }else{
                if(response.gpm==1){
                    Attention(response.msg);  
                } else{
                  $("#fancybox-close").trigger('click');
                    Attention(response.msg);  
                }
              }
          });                  
          return false;
      });  
    }             
</script>  
<!--End 13755-->  
<!--- RIGHT COLUMN --->	
			<div id="separatorInside">
				
			</div>
			<div style="float: left; width: 15%;"><a id="separatorRight" onclick="javascript:dr.separatorClick(this);"></a></div>
			<div style="width: 100%;height: 30px;">				
				<div class="heading" style="float: left; line-height: 20px;"> My Recent Work </div>
			</div>
            <div id="myrecentwork"> 
            <!--13755-->
			<?php 
				$i = 0;
				if($this->wopanels != null){
				while($i <= 5 && !empty($this->wopanels->data[$i])){?>
					<div id="<?=$i?>" class="toolsRightContent">
						<div><span>Win#: </span><span><a onClick="recentWorkClick(this);" href="/clients/wosDetails.php?v=<?=$this->companyId?>&id=<?=$this->wopanels->data[$i]->WIN_NUM?><?=$rightPanel?>"><?=$this->wopanels->data[$i]->WIN_NUM ?></a></span></div>
						<div><span></span>Client WO ID#: </span><span><a onClick="recentWorkClick(this);" href="/clients/wosDetails.php?v=<?=$this->companyId?>&id=<?=$this->wopanels->data[$i]->WIN_NUM?><?=$rightPanel?>"><?=$this->wopanels->data[$i]->WO_ID?></a></span></div>
						<div><span>Last Update: </span><span><? print date("m/d/Y g:i (A)", strtotime($this->wopanels->data[$i]->lastModDate)); ?></span></div>
					</div>
			<?php $i++; }?><?php }else echo "wopanels is null" ?>
			</div>
      <!--End 13755-->
			<?php if(!$this->installManager){ ?>
			<div style="margin-top: 25px;">
				<span class="heading"> My Recent Techs:</span>
			</div>
            <div id="myrecenttechs">
            <!--13755-->                                
				<?php 
					$i = 0;
					if($this->techs != null){
					foreach($this->techs as $key=>$tech){
					if($i==5) break;
//						$tech = $search->techLookup($_SESSION['UserName'],$_SESSION['Password'],$value);
					?>
				 
					<div id="1" class="toolsRightContent">
						<div>Tech ID#: <a onClick="recentTechClick();"  class="cmdOpenTechProfileShow"  href="/clients/wosViewTechProfile.php?TechID=<?=$tech->data[0]->TechID?>&v=<?=$this->companyId?>"><?=$tech->data[0]->TechID?></a></div>
						<div>Name: <a onClick="recentTechClick();" class="cmdOpenTechProfileShow"  href="/clients/wosViewTechProfile.php?TechID=<?=$tech->data[0]->TechID?>&v=<?=$this->companyId?>"><?php print $tech->data[0]->Firstname." ".$tech->data[0]->Lastname?></a></div>
						<div>Zipcode: <?=$tech->data[0]->Zipcode?></div>
					</div>
          
				<?php $i++; } } else{ echo '<p class="toolsRightContent" style="font-size:9px;">No recent techs within the last 12 months</p>';}?>
			<?php } ?>
			</div>
      <!--End 13755-->
<script type='text/javascript'>
$(window).ready(function() {  
    _global.eventOpenProfileTech();
});
</script>  
