<script type='text/javascript'>
$(document).ready(function() {
     $('#createAssignBtn').click(function() {
        $.post("/widgets/dashboard/client/accessctl/", {rt:'iframe',attributeId:'2,3'}, 
            function (response) {
                if(response=="1") { dl.createAssignBtnClick();} 
                else { Attention(response);}                        
            });                  
     });

     $('#findAssignBtn').click(function() {
        $.post("/widgets/dashboard/client/accessctl/", 
        {rt:'iframe',attributeId:'3,9'}, 
            function (response) {
                if(response=="1") { dl.findAssignBtnClick();} 
                else { Attention(response);}                        
            });                  
     });

	 //$('#createAssignBtn').click(dl.createAssignBtnClick);
     //$('#findAssignBtn').click(dl.findAssignBtnClick);

	try {
		navWidget.show({tab:'navigation',params:{company:window._company,id: detailsWidget.params.win, container:'leftVerticalContainer'}});
		} 
	catch (e) {}
});
</script>
				<!-- div id="separatorLeftInside">
					<a id="separatorLeft" onclick="javascript:separatorLeftClick(this);"></a>
				</div -->
				
				<div style="text-align: right;"><a id="separatorLeft" onclick="javascript:dl.separatorClick(this);"></a></div>

				<div id="createAssign" class="toolsLeftContent" style="border: none;clear:right;">
						<div class="fl" id="leftVerticalContainer" ></div>
						<br class="clear"/>
						<table>
							<tr style="width: 100%;">
								<td colspan=1 align="left"><div class="heading" style="width: 100%; white-space: nowrap;line-space: 15px;">Create <?php if(!$this->installManager){?>&amp; Assign<?php } ?></div></td>
								
							</tr>
						</table>
						<table>
							<tr style="border-top: 1px #DDDDDD solid; width: 100%;" class="special">
								<td><div style="width: 87px;white-space:nowrap;line-space: 15px;">Project</div></td>
								<td>
									<div style=" width: 50%;">
									<select title="" type="text" id="Project_ID" class="Project_ID-Project_ID248127847247" name="Project_ID" style="width: 135px;">
									<option value="" <?php if(empty($prj->Project_Name))echo'selected';?>>Select Project</option>
									<?php foreach( $this->projects->data as $prj ) :?>
									<?php if ($prj->Active):?><option title="<?=$prj->Project_Name?>" value="<?=$prj->Project_ID?>" <?php if($prj->Project_Name == "Default Project")echo'selected';?>><?=$prj->Project_Name?></option><?php endif;?>
									<?php endforeach;?>
									</select>
									</div>
								</td>
							</tr>
							<?php if(!$this->installManager){?>
							<tr style="width: 100%;">
								<td style="width: 65px;"><div style="width: 87px;white-space:nowrap;">Tech ID#</div></td>
								<td><div style=" width: 50%; white-space:nowrap;"><input type="text" size="17" name="techID" class="techID-DStechID32462346" id="techID" /></div></td>
							</tr>
							<?php } ?>
							<tr>
								<td colspan=3 align="center" ><input type="button" value="Create" id="createAssignBtn" class="toolSubmit" style="color: #FFFFFF;" /></td>
							</tr>
						</table>
					
				</div>
				
				<div id="findAssign" class="toolsLeftContent">
					
						<table table-layout="fixed" width="228px">
							<tr>
								<td colspan=2 align="left" class="heading" >Find <?php if(!$this->installManager){?>&amp; Assign<?php }?></td>
							</tr>
							<tr style="border-top: 1px #DDDDDD solid;" class="special">
								<td width="85px" style="width: 85px;white-space:nowrap;">WIN #</td>
								<td><input type="text" size="17" name="wfWOrdWIN" class="wfWOrdWIN-wfWOrdWIN21346127" id="wfWOrdWIN" /></td>
							</tr>
							<tr>
								<td width="85px" style="width: 85px;white-space:nowrap;">Client WO ID#</td>
								<td><input type="text" size="17" class="wfWOrdClientWO-wfWOrdClientWO123212533" name="wfWOrdClientWO" id="wfWOrdClientWO" /></td>
							</tr>
							<tr>
								<td width="85px" style="width: 85px;white-space:nowrap;"></td>
								<td>
									<select class="inputtext" name="wfWOrdWO_ID_Mode" id="wfWOrdWO_ID_Mode"  style="width: 135px;">
					                    <option value="1">Exact</option>
					                    <option value="0">Contains</option>
									</select>
								</td>
							</tr>
							<?php if(!$this->installManager){?>
							<tr>
								<td width="85px" style="width: 85px;white-space:nowrap;">Assign Tech ID#</td>
								<td><input type="text" size="17" name="wfWOrdTechId" class="wfWOrdTechId-wfWOrdTechId3423642" id="wfWOrdTechId"  /></td>
							</tr>
							<?php }?>
							<tr>
								<td colspan=2 align="center" style="margin-top: 5px;">
								<input type="button" value="Find" id="findAssignBtn" class="toolSubmit" style="color: #FFFFFF;" />
								<input type="hidden" value="1" id="isSideBar" name="isSideBar" />
								</td>
							</tr>
						</table>
				
				</div>
				
				<div id="announcements" style="color:#10085a; font-size: 11px; margin: 10px; margin-top: 20px; width: 228px;" >
					<div style="margin-left: auto; margin-right: auto;">
						<div class="heading" style="text-align: left; margin-top: 15px;line-height:20px;">New @ FieldSolutions:</div>
						<div id="1" class="newsBlurb" style="border-top: 1px #DDDDDD solid;">
							<div>August 8, 2013</div>
							<div><a href="FieldSolutionsCheckINNHotelSavingsProgram-OverviewforFieldSolutionsClients-2013-08-08.pdf" target="_blank" onclick="javascript:void(0);">CheckINN Hotel Savings Card</a></div>
						</div>
						<div id="2" class="newsBlurb" style="border-top: 1px #DDDDDD solid;">
							<div>August 1, 2013</div>
							<div><a href="FieldSolutionsGovtSecurityClearanceOffering-20130801.pdf" target="_blank" onclick="javascript:void(0);">Vetted Gov Clearances</a></div>
						</div>
						<div id="3" class="newsBlurb">
							<div>June 6, 2013</div>
							<div><a href="FS-Experts_BenchmarkPayTool-2013-06-06.pdf" target="_blank" onclick="javascript:void(0);">FS-Experts&trade; Benchmark Pay Tool</a></div>
						</div>
						<div id="4" class="newsBlurb">
							<div>April 25, 2013</div>
							<div><a href="/content/NewWIN-TagsProjectSLAReporting-2013-04-25.pdf" target="_blank" onclick="javascript:void(0);">WIN-Tags&trade;</a></div>
						</div>
						<div id="5" class="newsBlurb">
							<div>April 4, 2013</div>
							<div><a href="/content/2013-04-04-NewCommunicationsTools.pdf" target="_blank" onclick="javascript:void(0);">New Communications Tools</a></div>
						</div>
						<div id="6" class="newsBlurb">
							<div>January 10, 2013</div>
							<div><a href="2013-01-10-WorkOrderQ&AandNotices.pdf" target="_blank" onclick="javascript:void(0);">Work Order Q&amp;A and Notices</a></div>
						</div>
						<div id="7" class="newsBlurb">
							<div>November 1, 2012</div>
							<div><a href="2012-11-01-NewEnterpriseGradeTools.pdf" target="_blank" onclick="javascript:void(0);">New Enterprise Grade Tools</a></div>
						</div>
						<div id="8" class="newsBlurb">
							<div>August 22, 2012</div>
							<div><a href="2012-08-22-FieldSolutionsNewReleaseNotes.pdf" target="_blank" onclick="javascript:void(0);">Expense Reporting, Project Update Tools</a></div>
						</div>
						<div id="9" class="newsBlurb">
							<div>July 22, 2012</div>
							<div><a href="2012-06-22-FieldSolutions_New_Release_Notes.pdf" target="_blank" onclick="javascript:void(0);">Recent Enhancements</a></div>
						</div>
						<div id="10" class="newsBlurb">
							<div>April 6, 2012</div>
							<div><a href="FieldSolutions-NewPowerTools-Apr-04-2012.pdf" target="_blank" onclick="javascript:void(0);">New Power Tools</a></div>
						</div>
						<div id="11" class="newsBlurb">
							<div>March 22, 2012</div>
							<div><a href="/clients/2012-03-22-FieldSolutionsNewReleaseNotes.pdf" target="_blank" onclick="javascript:void(0);">New Technician Profile</a></div>
						</div>
						<div id="12" class="newsBlurb">
							<div>November 9, 2011</div>
							<div><a href="/clients/FieldSolutions-NewWorkOrderDesign-Nov-09-2011.pdf" target="_blank" onclick="javascript:void(0);">New Client Work Order</a></div>
						</div>
						<div id="13" class="newsBlurb">
							<div>August 31, 2011</div>
							<div><a href="/clients/2011-08-31-FieldSolutionsNewReleaseNotes.pdf" target="_blank" onclick="javascript:void(0);">New Project Site Lists, Copy Work Order</a></div>
						</div>
						<div id="14" class="newsBlurb">
							<div>June 27, 2011</div>
							<div><a href="/clients/Now_Serving_Mexico_Instructions_June_27_2011.pdf" target="_blank" onclick="javascript:void(0);">Now Serving Mexico!</a></div>
						</div>
						<div id="15" class="newsBlurb">
							<div>May 20, 2011</div>
							<div><a href="/clients/2011-05-19-NewClientLandingPageReleaseNote.pdf" target="_blank" onclick="javascript:void(0);">New Client Landing Page</a></div>
						</div>
						<div id="16" class="newsBlurb">
							<div>April 19, 2011</div>
							<div><a href="/clients/FSPlusOne_Launch_Clients.pdf" target="_blank" onclick="javascript:void(0);">FS-PlusOne Rewards Program</a></div>
						</div>
						<div id="17" class="newsBlurb">
							<div>March 23, 2011</div>
							<div><a href="/clients/2011-03-23-FieldSolutionsReleasNotes.pdf" target="_blank" onclick="javascript:void(0);">Unlimited Document Uploads</a></div>
						</div>
						<div id="18" class="newsBlurb">
							<div>Feb 2, 2011</div>
							<div><a href="/clients/2011-02-02-Release-ProjectLogosFeatureRelease.pdf" target="_blank" onclick="javascript:void(0);">End Client and Project Logos</a></div>
						</div>
						<div id="19" class="newsBlurb">
							<div>Jan 19, 2011</div>
							<div><a href="/clients/2011-01-19-MyTechsReleaseNotes.pdf" target="_blank" onclick="javascript:void(0);">My Techs, new tech ratings and more</a></div>
						</div>
					</div>
				</div>
                <script>
                    jQuery(".techID-DStechID32462346").keyup(function(event){
                        if (event.which == 13)
                        {
                            jQuery("#createAssignBtn").click();
                            return false;
                        }
                    });
                    jQuery(".Project_ID-Project_ID248127847247").keyup(function(event){
                        if (event.which == 13)
                        {
                            jQuery("#createAssignBtn").click();
                            return false;
                        }
                    });
                    
                    jQuery(".wfWOrdWIN-wfWOrdWIN21346127").keyup(function(event){
                        if (event.which == 13)
                        {
                            jQuery("#findAssignBtn").click();
                            return false;
                        }
                    });
                    jQuery(".wfWOrdClientWO-wfWOrdClientWO123212533").keyup(function(event){
                        if (event.which == 13)
                        {
                            jQuery("#findAssignBtn").click();
                            return false;
                        }
                    });
                    jQuery(".wfWOrdTechId-wfWOrdTechId3423642").keyup(function(event){
                        if (event.which == 13)
                        {
                            jQuery("#findAssignBtn").click();
                            return false;
                        }
                    });
                </script>
