<?php $wo = $this->wo; ?>
<form id="payFinanForm" action="/widgets/dashboard/do/updatepayfinan" method="post">
    <div id="woErrorMsg" class="displayNone colorRed errormsg"></div>
    <table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
        <col width="40%" />
        <col width="60%" />
        <tr>
            <td>Offer Pay Amount $:</td>
            <td>
                <?= $this->displayMoney($wo->PayMax) ?>
                <input type="hidden" name="PayMax" id="PayMax" value="<?= $this->displayMoney($wo->PayMax) ?>" />
            </td>
        </tr>
        <tr>
            <td>Agree Amount $:</td>
            <td id="Tech_Bid_Amount">
                <?= $this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per) ?>
                <input type="hidden" name="Amount_Per_Amount" id="Amount_Per_Amount" value="<?= $wo->Amount_Per ?>" />
                <input type="hidden" name="Amount_Tech_Bid_Amount" id="Amount_Tech_Bid_Amount" value="<?= $this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per) ?>" />
            </td>
        </tr>
        <tr>
            <td>Base Tech Pay $:</td>
            <td>
                <input type="text" id="baseTechPay" name="baseTechPay" size="8" value="<? echo sprintf('%.2f', $this->payAmount); ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Out of Scope Amount $:</td>
            <td>
                <input id="OutofScope_Amount" type="text" name="OutofScope_Amount" size="8" value="<?= sprintf('%.2f', $wo->OutofScope_Amount) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Trip Charge $:</td>
            <td>
                <input id="TripCharge" type="text" name="TripCharge" size="8" value="<?= sprintf('%.2f', $wo->TripCharge) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Mileage Charge $:</td>
            <td>
                <input id="MileageReimbursement" type="text" name="MileageReimbursement" size="8" value="<?= sprintf('%.2f', $wo->MileageReimbursement) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Materials Charge $:</td>
            <td>
                <input id="MaterialsReimbursement" type="text" name="MaterialsReimbursement" size="8" value="<?= sprintf('%.2f', $wo->MaterialsReimbursement) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Other Adjustments $:</td>
            <td>
                <input id="Additional_Pay_Amount" type="text" name="Additional_Pay_Amount" size="8" value="<?= sprintf('%.2f', $wo->Additional_Pay_Amount) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Abort/Short Notice Pay Amount $:</td>
            <td>
                <input id="AbortFeeAmount" type="text" name="AbortFeeAmount" size="8" value="<?= sprintf('%.2f', $wo->AbortFeeAmount) ?>" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>
                <?php
                $valueHour = "";
                switch ($wo->Amount_Per)
                {
                    case "Device":
                        echo "Device Quantity:";
                        $valueHour = $wo->Qty_Devices;
                        break;
                    default :
                        echo "Total Hours:";
                        $valueHour = $wo->calculatedTechHrs;
                        break;
                }
                ?>
            </td>
           <?php  if($wo->Amount_Per == "Visit" || $wo->Amount_Per == "Device") : ?>
             <td>
                <input type="text" id="Qty_Devices" name="Qty_Devices" onchange="jQuery('#calculatedTechHrs').val(jQuery(this).val()); calcBasePayUpdate();" size="8" value="<?= $valueHour + 0 ?>" class="Qty_Devices noformat" />
            </td>
            <?php else : ?>
            <td>
                <input type="text" id="Amount_calculatedTechHrs" name="Amount_calculatedTechHrs" onchange="jQuery('#calculatedTechHrs').val(jQuery(this).val()); calcBasePayUpdate();" size="8" value="<?= $valueHour + 0 ?>" class="calculateHrs noformat" />
            </td>
            <?php endif;?>
        </tr>
        <tr>
            <td>Visit Quantity: </td>
            <td>
                <input type="text" id="Amount_Qty_Visits" value='<?= $wo->Qty_Visits ?>' name="Qty_Visits" onchange="calcBasePayUpdate();" size="8" class="calculate noformat"<?= $wo->Amount_Per != "Visit" ? "disabled" : "" ?>/>
            </td>
        </tr>
        <?
        if( $this->EnableColspanTechPay)
        {
        ?>
        <tr>
            <td colspan="4">
                <?=
                    $this->render("details/expense-reporting-total-Final.phtml");
                ?>
            </td>
        </tr>
        <?
        }
        ?>
        <tr>
            <td>Final Total Tech $:</td>
            <td id="payFinan_PayAmount_Output">
                <?
                	echo ($this->displayMoney ($this->payAmount));
                	/*
                	$payAmount = "";
                	if($wo->Amount_Per == "Visit") {
                        $payAmount = $wo->baseTechPay * $wo->Qty_Visits;
                	}
                	elseif ($wo->Amount_Per == "Device"){
                        $payAmount = $wo->baseTechPay * $wo->Qty_Devices;
                    }else{
                        $payAmount =  $wo->baseTechPay;
                    }
                

                    $api = new Core_Api_WosClass();
                    $Total_ApReThFS= $api->getTotal_ApReThFS($wo->WIN_NUM);
                    echo($this->displayMoney($Total_ApReThFS+$payAmount));
                    //*/
                    ?></td>
        </tr>
        <tr>
            <td>Audit:</td>
            <td>
                <span><input id="AuditNeeded" name="AuditNeeded" type="checkbox" <?= ($wo->AuditNeeded) ? 'checked' : ''; ?>>&nbsp;Needed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><input id="AuditComplete" name="AuditComplete" type="checkbox" <?= ($wo->AuditComplete) ? 'checked' : ''; ?> <?= ($wo->AuditNeeded) ? '' : 'disabled'; ?>>&nbsp;Complete</span>
                <script type="text/javascript" >
                    $(document).ready(function(){
                        $("#AuditNeeded").change(function(){
                            if ($(this).attr('checked'))
                            {
                                $("#AuditComplete").removeAttr('disabled');
                            }
                            else
                            {
                                $("#AuditComplete").attr('disabled', true);
                            }
                        });
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                <textarea style="width: 90%;" rows="2" cols="25" name="Add_Pay_Reason"><?= $this->escape($wo->Add_Pay_Reason) ?></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tCenter">
                <input type="hidden" id="payFinan_PayAmount" name="PayAmount" value="<?= $wo->PayAmount ?>" />
                <input type="hidden" id="Approve_Amount_Per" name="Amount_Per" class="calculate" value="<?= $wo->Amount_Per ?>" />
                <input type="hidden" name="WIN_NUM" value="<?= $wo->WIN_NUM ?>" />
                <input type="hidden" name="calculatedTechHrs" id="calculatedTechHrs" value="<?= $valueHour + 0 ?>" />
                <input type="hidden" name="company" value="<?= $this->escape($this->companyId) ?>" />
                <input id="updateButton" type="submit" name="updateButton" value="Update" class="link_button_popup" />
                <input id="updateApproveButton" type="submit" name="updateApproveButton" value="Update &amp; Approve" class="link_button middle2_button" />
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">


    function updatePayAmount(){
    	
        newVal = ($('#PayMax').val()*$('#Qty_Devices').val()) * 1;
        newVal = newVal+$('#OutofScope_Amount').val()*1;
        newVal = newVal+$('#TripCharge').val()*1;
        newVal = newVal+$('#MileageReimbursement').val()*1;
        newVal = newVal+$('#MaterialsReimbursement').val()*1;
        newVal = newVal+$('#Additional_Pay_Amount').val()*1;
        newVal = newVal+$('#AbortFeeAmount').val()*1;
        
        //newVal = newVal + parseFloat($('#ReimbursableExpenseApproved').html());
        if(!isNaN(newVal)){
            $('#payFinan_PayAmount_Output').html(newVal.toFixed(2));
            $('#baseTechPay').val('');
        }else{
            $('#payFinan_PayAmount_Output').html('');
        }
    }
    function calcBasePayUpdate(){
        if ($("#Amount_Per_Amount").val() != "Hour"
           && $("#Amount_Per_Amount").val() != "Visit"
           && $("#Amount_Per_Amount").val() != "Device") return;
        var bidAmount = $("#Amount_Tech_Bid_Amount").val();
        bidAmount = String(bidAmount);
        var parts = bidAmount.split(" / ");
        if($("#Amount_Per_Amount").val() === "Visit"){
        	bidAmount = parseFloat(parts[0]) * ($("#Amount_Qty_Visits").val()*1);
        }else{
        	bidAmount = parseFloat(parts[0]) * ($("#calculatedTechHrs").val()*1);
        }

       // bidAmount = String(bidAmount);
       // var parts = bidAmount.split(" / ");
      //  bidAmount = (bidAmount * $("#calculatedTechHrs").val())*1;
        $("#baseTechPay").val(bidAmount).change();
    } 

    //376
    $("#updateApproveButton").click(function(){
        var event = this;
        detailObject.onInit.ConfirmApproveWithFinalTotalTechByZero(function(){
         $('<input />').attr('type', 'hidden')
                        .attr('name', "updateApproveButton")
                        .attr('value', "updateApproveButton")
                        .appendTo('#payFinanForm');
        detailObject.onInit.checkApproved({
        TechClaim:'tech_claim',
        bcatapproved:'bcatapproved',
        isApproved:'',
            el:event,
        onSubmit: function(el){            
            $("#payFinanForm").submit();            
            }});
        },
        //jQuery("#payFinan_PayAmount_Output").html(),
        jQuery("#payFinan_PayAmount").val(),
        true);
       return false; 
    });
    function reimbursable_thru_fs_onClick(){
        var CountCheckBox=jQuery(".reimbursable_thru_fs").length ;
        var numCheckboxChecked=jQuery(".reimbursable_thru_fs:checked").length;
        if(CountCheckBox==numCheckboxChecked)
        {
            jQuery("#reimbursable_thru_fs_All").attr("checked","checked");
        }
        else
        {
            jQuery("#reimbursable_thru_fs_All").attr("checked","");             
        }
           
    }    
    
    function bcatapproved_onClick(){
        var CountCheckBox=jQuery(".bcatapproved").length ;
        var numCheckboxChecked=jQuery(".bcatapproved:checked").length;
        if(CountCheckBox==numCheckboxChecked)
        {
            jQuery("#bcatAll").attr("checked","checked");
        }
        else
        {
            jQuery("#bcatAll").attr("checked","");             
        }
        
    }
    function initPage(){
        var CountCheckBoxreimbursable=jQuery(".reimbursable_thru_fs").length ;
        var numCheckboxCheckedreimbursable=jQuery(".reimbursable_thru_fs:checked").length;
        if(CountCheckBoxreimbursable==numCheckboxCheckedreimbursable)
        {
            jQuery("#reimbursable_thru_fs_All").attr("checked","checked");
        }
        else
        {
            jQuery("#reimbursable_thru_fs_All").attr("checked","");             
        }
        
        var CountCheckBoxbcatapproved=jQuery(".bcatapproved").length ;
        var numCheckboxCheckedbcatapproved=jQuery(".bcatapproved:checked").length;
        if(CountCheckBoxbcatapproved==numCheckboxCheckedbcatapproved)
        {
            jQuery("#bcatAll").attr("checked","checked");
        }
        else
        {
            jQuery("#bcatAll").attr("checked","");             
        }
    }
    jQuery(document).ready(function(){
        initPage();
        jQuery(".reimbursable_thru_fs")
            .unbind("click",reimbursable_thru_fs_onClick)
            .bind("click",reimbursable_thru_fs_onClick);
        jQuery(".bcatapproved")
            .unbind("click",bcatapproved_onClick)
            .bind("click",bcatapproved_onClick);            
            
    })
    //end 376
</script>
