<?php $wo = $this->wo;?>
<form id="payFinanreadForm" action="/widgets/dashboard/do/updateaudit" method="post">
    <table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
        <col width="40%" />
        <col width="60%" />
        <tr>
            <td>Offer Pay Amount $:</td>
            <td>
                <?= $this->displayMoney($wo->PayMax) ?>
            </td>
        </tr>
        <tr>
            <td>Bid/Agree Amount $:</td>
            <td>
                <?= $this->displayMoney($wo->Tech_Bid_Amount) ?>
            </td>
        </tr>
        <tr>
            <td>Base Tech Pay $:</td>
            <td>
                <?= $this->displayMoney($wo->baseTechPay) ?>
            </td>
        </tr>
        <tr>
            <td>Out of Scope Amount $:</td>
            <td>
                <?= $this->displayMoney($wo->OutofScope_Amount) ?>
            </td>
        </tr>
        <tr>
            <td>Trip Charge $:</td>
            <td>
                <?= $this->displayMoney($wo->TripCharge) ?>
            </td>
        </tr>
        <tr>
            <td>Mileage Charge $:</td>
            <td>
                <?= $this->displayMoney($wo->MileageReimbursement) ?>
            </td>
        </tr>
        <tr>
            <td>Materials Charge $:</td>
            <td>
                <?= $this->displayMoney($wo->MaterialsReimbursement) ?>
            </td>
        </tr>
        <tr>
            <td>Other Adjusments $:</td>
            <td>
                <?= $this->displayMoney($wo->Additional_Pay_Amount) ?>
            </td>
        </tr>
        <tr>
            <td>About/Short Notice Pay Amount $:</td>
            <td>
                <?= $this->displayMoney($wo->AbortFeeAmount) ?>
            </td>
        </tr>
        <tr>
            <td>
                <?php
                $valueHour = "";
                switch ($wo->Amount_Per)
                {
                    case "Visit":
                        echo "# of Visits:";
                        $valueHour = $wo->Qty_Visits;
                        break;
                    case "Device":
                        echo "Device Quantity:";
                        $valueHour = $wo->Qty_Devices;
                        break;
                    default :
                        echo "Total Hours:";
                        $valueHour = ($wo->calculatedTechHrs + 0) . " hour" . ($wo->calculatedTechHrs + 0 > 1) ? 's' : '';
                        break;
                }
                ?>
            </td>
            <td>
                <?= $valueHour ?>
            </td>
        </tr>
         <?
        if( $this->EnableColspanTechPay)
        {
        ?>
        <tr>
            <td colspan="2">
                <?= $this->render("details/expense-reporting-total-tech.phtml") ?>
            </td>
        </tr>
        <?
        }
        ?>
        <tr>
            <td>Final Total Tech Pay $:</td>
            <td><?
            $api = new Core_Api_WosClass();
            $Total_ApReThFS= $api->getTotal_ApReThFS($wo->WIN_NUM);
            $Total_ApReThFS= $Total_ApReThFS[$wo->WIN_NUM];//13900
            echo($this->displayMoney($Total_ApReThFS+$wo->PayAmount));
                    ?></td>
        </tr>
        <tr>
            <td>Audit:</td>
            <td>
                <span><input id="AuditNeeded" name="AuditNeeded" type="checkbox" <?= (!empty($this->AuditNeeded) && ($this->AuditNeeded == 1)) ? 'checked' : ''; ?>>&nbsp;Needed</span>&nbsp;&nbsp;&nbsp;
                <span><input id="AuditComplete" name="AuditComplete" type="checkbox" <?= (!empty($this->AuditComplete) && ($this->AuditComplete == 1)) ? 'checked' : ''; ?> <?= ($wo->AuditNeeded) ? '' : 'disabled'; ?>>&nbsp;Complete</span>
                <script type="text/javascript" >
                    $(document).ready(function(){
                        $("#AuditNeeded").change(function(){
                            if ($(this).attr('checked'))
                            {
                                $("#AuditComplete").removeAttr('disabled');
                            }
                            else
                            {
                                $("#AuditComplete").attr('disabled', true);
                            }
                        });
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                <textarea  style="width: 90%;" rows="2" cols="25" name="Add_Pay_Reason" ><?= $this->escape($this->Add_Pay_Reason) ?></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tCenter">
                <input type="hidden" id="payFinan_PayAmount" name="PayAmount" value="<?= $wo->PayAmount ?>" />
                <input type="hidden" id="Approve_Amount_Per" name="Amount_Per" class="calculate" value="<?= $wo->Amount_Per ?>" />
                <input type="hidden" name="WIN_NUM" value="<?= $wo->WIN_NUM ?>" />
                <input type="hidden" name="company" value="<?= $this->escape($this->companyId) ?>" />
                <input id="updateButton" type="submit" name="updateButton" value="Update" class="link_button_popup" />
            </td>
        </tr>
    </table>
</form>
