<?php $wo = $this->wo; ?>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr><td>Project Docs: 
<?php if((empty($this->project_info->Project_Docs))&&(empty($this->project_info->Project_Other_Files))&&(empty($this->project_info->External_Files))){echo 'no documents';}?></td></tr>
<?php if ( !empty($this->project_info->Project_Docs) || !empty($this->project_info->External_Files)) {
    
	if (!empty($this->project_info->Project_Docs)){
	$line = "<tr><td><a class=\"ajaxLink\" href=\"http://";
	$line .= $_SERVER["HTTP_HOST"];
	$line .= "/widgets/dashboard/do/file-project-documents-download/filename/";
	$line .= urlencode(base64_encode($this->project_info->Project_Docs));
	$line .= "/";
	$line .= substr($this->project_info->Project_Docs, strrpos($this->project_info->Project_Docs, '/'));
	$line .= "\">";
	$line .= ltrim($this->project_info->Project_Docs, '/');
	$line .= "</a></td></tr>";
	
	echo $line;
	}
	
	if (!empty($this->project_info->Project_Other_Files)){
		$line2 = "<tr><td><a class=\"ajaxLink\" href=\"http://";
	$line2 .= $_SERVER["HTTP_HOST"];
	$line2 .= "/widgets/dashboard/do/file-project-documents-download/filename/";
	$line2 .= urlencode(base64_encode($this->project_info->Project_Other_Files));
	$line2 .= "/";
	$line2 .= substr($this->project_info->Project_Other_Files, strrpos($this->project_info->Project_Other_Files, '/'));
	$line2 .= "\">";
	$line2 .= ltrim($this->project_info->Project_Other_Files, '/');
	$line2 .= "</a></td></tr>";
	
	echo $line2;
	}

	
	if (!empty($this->project_info->External_Files)){
	$line3 = "<tr><td><a class=\"ajaxLink\" href=\"http://";
	$line3 .= $_SERVER["HTTP_HOST"];
	$line3 .= "/widgets/dashboard/do/file-project-documents-download/filename/";
	$line3 .= urlencode(base64_encode($this->project_info->External_Files));
	$line3 .= "/";
	$line3 .= substr($this->project_info->External_Files, strrpos($this->project_info->External_Files, '/'));
	$line3 .= "\">";
	$line3 .= ltrim($this->project_info->External_Files, '/');
	$line3 .= "</a></td></tr>";
	
	echo $line3;
	
}
}?>
   
</table>
