<?php if ($this->success):?>

<?php $wo = isset($this->wo) ? $this->wo : null;?>
<form action="/" method="get" id="assignForm" name="assignForm">
<table class="quickassign_table" width="100%" cellpadding="0" cellspacing="0">
<col width="40%" />
<col width="60%" />
	<tr>
        <td>WIN #:</td>
        <td>
            <div id="woErrorMsg" class="displayNone colorRed errormsg"></div><span><input type="text" id="Assign_WIN_NUM" onkeyup="keyUpQuickAssign(event);" name="WIN_NUM" value="<?php if(!empty($wo))echo$wo->WIN_NUM;?>" onchange="assignTool.getWoInfo(this)" />
            <img id='Assign_WIN_NUM_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" /></span>
        </td>
    </tr>
    <tr>
        <td>Client Work Order ID #: </td>
        <td>
            <span><input type="text" onkeyup="keyUpQuickAssign(event);" id="Assign_WO_ID" name="WO_ID" value="<?php if(!empty($wo))echo$wo->WO_ID;?>" onchange="assignTool.getWoInfo(this)" />
            <img id='Assign_WO_ID_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" /></span>
        </td>
	</tr>

    <tr><td colspan="2"><hr /></td> </tr>

    <tr>
        <td>Tech ID</td>
        <td>
            <div id="techErrorMsg" class="displayNone colorRed errormsg"></div><span><input type="text" id="techId" name="techId" onkeyup="keyUpQuickAssign(event);" onchange="assignTool.getTechInfo(this)" />
            <img id='techId_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" /></span>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td id="AssignTechName"></td>
    </tr>
    <tr>
        <td>Primary Email:</td>
        <td id="AssignTechEmail"></td>
    </tr>
    <tr id="AssignTechEmail2Container">
        <td>Secondary Email:</td>
        <td id="AssignTechEmail2"></td>
    </tr>
    <tr>
        <td>Primary Phone:</td>
        <td id="AssignTechPhone"></td>
    </tr>
    <tr id="AssignTechPhone2Container">
        <td>Secondary Phone:</td>
        <td id="AssignTechPhone2"></td>
    </tr>
    <tr>
        <td>Agreed: </td>
        <td id="quickAssignAgreed">
            <input type="text" size="8" id="PayMax" onkeyup="keyUpQuickAssign(event);" name="PayMax" value="<?= (!empty($wo))?$wo->PayMax:'' ?>" /> per: <select name="Amount_Per" size="1" onkeyup="keyUpQuickAssign(event);" id="Amount_Per" onchange="assignTool.changeAmountPer(this.value)">
            <option value="Hour" <?= (!empty($wo) && $wo->Amount_Per=='Hour') ? 'selected="selected"':'' ?>>Hour</option>
            <option value="Site" <?= (!empty($wo) && $wo->Amount_Per=='Site') ? 'selected="selected"':'' ?>>Site</option>
            <option value="Device" <?= (!empty($wo) && $wo->Amount_Per=='Device') ? 'selected="selected"':'' ?>>Device</option>
        </select>
            <br/>
        <?php if(!empty($wo) && $wo->Amount_Per=='Device'):?>
            <input type="text" name="Qty_Devices" id="Qty_Devices" value="<?= (!empty($wo->Qty_Devicesr))?$wo->Qty_Devicesr:''?>" />
        <?php endif;?>
        </td>
	</tr>
    <tr>
        <td colspan="2"><div align="center"><input type="button" class="link_button_popup" onclick="assignTool.assign();" value="Assign" /><input type='button' value='Cancel' class='link_button_popup' onclick='roll.hide();' /></div></td>
    </tr>
</table>
</form>
<!-- VALIDATORS -->
<script type="text/javascript">
$(document).ready(function(){
	var vWIN = new LiveValidation('Assign_WIN_NUM',LVDefaults);
	vWIN.add( Validate.Numericality, { onlyInteger: true } ).add( Validate.Presence);
	var vTID = new LiveValidation('techId',LVDefaults);
	vTID.add( Validate.Numericality, { onlyInteger: true } ).add( Validate.Presence);
	var vPayMax = new LiveValidation('PayMax',LVDefaults);
	vPayMax.add( Validate.Format, { pattern: /^\d{1,15}(\.\d{2})?$/ } ).add( Validate.Presence);
});
</script>
<?php else :?>
    <?php if ( $this->errors && !is_string($this->errors) && strlen($this->errors) ):?>
        <?=$this->errors?>
    <?php else : ?>
        Sorry, error was occur.
    <?php endif;?>
<?php endif;?>
