<?php $wo = $this->wo;?>
<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
								
								<tr>
									<td class="subheader">Recruitment Settings</td>
									<td>
										<input type="checkbox" id="edit_AutoBlastOnPublish" disabled="disabled"  <?php echo (bool)$this->project_info->AutoBlastOnPublish?'checked':''; ?> style="float: left;" /> <label for="" style="float: left; margin-left: 5px; width: 190px;">Auto-blast to 50 miles on "publish"</label></td>
									<td><input type="checkbox" disabled="disabled" id="edit_AcceptReplies"class="floatLeft" <?php echo (trim($this->project_info->RecruitmentFromEmail) !== 'no-replies@fieldsolutions.us')?'checked="checked"':''?> /> <label for="" class="" style="width: 100px;">&#160;&#160;Accept replies</label>&#160;</td>
									<td><div class="floatRight "><label for="" style="width:70px;float:left;">From Email</label>
										<input type="text" id="edit_RecruitmentFromEmail" name="RecruitmentFromEmail" disabled="disabled" class="width140" value="<?php echo $this->project_info->RecruitmentFromEmail?>" onchange="updateAcceptReplies(this);" />
									</div></td>
									
								</tr>
								<tr>
									<td>&#160;</td>
									<td><input type="checkbox" id="edit_AutoSMSOnPublish" disabled="disabled" <?php echo (bool)$this->project_info->AutoSMSOnPublish?'checked':'';?> style="float:left;"/><label for="" style="float:left;*margin-top:2px; margin-left: 5px;">Send SMS on "publish"</label></td>
									<td colspan="2">&#160;</td>
									
								</tr>

								<tr id="contacts">
									<td class="subheader innerTop20" style="border-bottom:none;">Contacts</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" class="grdtbl" style="width:800px;" align="right">
											<tr>
												<th style="width:200px;">&nbsp;</th>
												<th style="width:200px;">Name</th>
												<th style="width:200px;">Phone</th>
												<th style="width:200px;">Email</th>
											</tr>
											<tr class="greybg">
												<td style="width:200px;"class="tLeft">Project Manager</td>
												<td style="width:200px;"><input type="text" id="edit_ProjectManagerName" name="ProjectManagerName" class="width140" value="<?php echo $this->escape($this->wo->ProjectManagerName)?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_ProjectManagerPhone" name="ProjectManagerPhone" class="width140" value="<?php echo $this->wo->ProjectManagerPhone?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_ProjectManagerEmail" name="ProjectManagerEmail" class="width140" value="<?php echo $this->wo->ProjectManagerEmail?>" /></td>
											</tr>
											<tr class="">
												<td style="width:200px;" class="tLeft">Resource Coordinator</td>
												<td style="width:200px;"><input type="text" id="edit_ResourceCoordinatorName" name="ResourceCoordinatorName" class="width140" value="<?php echo $this->escape($this->wo->ResourceCoordinatorName)?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_ResourceCoordinatorPhone" name="ResourceCoordinatorPhone" class="width140" value="<?php echo $this->wo->ResourceCoordinatorPhone?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_ResourceCoordinatorEmail" name="ResourceCoordinatorEmail" class="width140" value="<?php echo $this->wo->ResourceCoordinatorEmail?>" /></td>
											</tr>
											<tr class="greybg">
												<td style="width:200px;" class="tLeft">Emergency Contact</td>
												<td style="width:200px;"><input type="text" id="edit_EmergencyName" name="EmergencyName" class="width140" value="<?php echo $this->escape($this->wo->EmergencyName)?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_EmergencyPhone" name="EmergencyPhone" class="width140" value="<?php echo $this->wo->EmergencyPhone?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_EmergencyEmail" name="EmergencyEmail" class="width140" value="<?php echo $this->wo->EmergencyEmail?>" /></td>
											</tr>
											<tr class="">
												<td style="width:200px;" class="tLeft">Technical Help</td>
												<td style="width:200px;"><input type="text" id="edit_TechnicalSupportName" name="TechnicalSupportName" class="width140" value="<?php echo $this->escape($this->wo->TechnicalSupportName)?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_TechnicalSupportPhone" name="TechnicalSupportPhone" class="width140" value="<?php echo $this->wo->TechnicalSupportPhone?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_TechnicalSupportEmail" name="TechnicalSupportEmail" class="width140" value="<?php echo $this->wo->TechnicalSupportEmail?>" /></td>
											</tr>
											<tr class="greybg">
												<td style="width:200px;" class="tLeft">Check-in/Check-Out</td>
												<td style="width:200px;"><input type="text" id="edit_CheckInOutName" name="CheckInOutName" class="width140" value="<?php echo $this->escape($this->wo->CheckInOutName)?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_CheckInOutNumber" name="CheckInOutNumber" class="width140" value="<?php echo $this->wo->CheckInOutNumber?>" /></td>
												<td style="width:200px;"><input type="text" id="edit_CheckInOutEmail" name="CheckInOutEmail" class="width140" value="<?php echo $this->wo->CheckInOutEmail?>" /></td>
											</tr>
										</table>
									</td>
									
								</tr>

								<tr>
									<td class="innerTop" colspan="4">&#160;</td>
									
								</tr>
								<tr>
									<td class="subheader">Active Email Notifications and Alerts</td>
									<td><input type="checkbox" id="edit_NotifyOnBid" disabled="disabled" name="NotifyOnBid" class="floatLeft indentRight" <?php echo (bool)$this->project_info->NotifyOnBid?'checked':'';?> style="float:left;margin-right:0px !important;"/><label for="" style="float:left; margin-left: 5px;">Receive Bid Notifications by email</label></td>
									<td colspan="2" style="padding-left: 40px;">
                                             <?php echo $this->project_info->To_Email?>
									</td>
									
								</tr>
								<tr>
									<td>&#160;</td>

									<td class=""><input type="checkbox" id="edit_NotifyOnAssign" disabled="disabled" name="NotifyOnAssign" class="floatLeft indentRight" <?php echo (bool)$this->project_info->NotifyOnAssign?'checked':'';?> style="float:left;margin-right:0px !important;"/><label for="" style="float:left;  margin-left: 5px;">Receive Assignment notifications by email</label></td>
									<td colspan="2" style="padding-left: 40px;">
                                               <?php echo $this->project_info->AssignmentNotificationEmail?>
									</td>
									
								</tr>
								<tr id="blank">
									<td class="innerTop" colspan="4">&#160;</td>
									
								</tr>
							  <tr id="acs">
                                  <td style="border-bottom:none;" class="subheader">Automated Contact Services (telephonic) Calls and Alerts</td>
                                  <td colspan="3">
									<table cellpadding="0" cellspacing="0" class="perWidth100 label100" style="width:97% !important;">
									<tr>
                                        <td><input type="checkbox" disabled value="1" id="edit_ReminderAcceptance" name="ReminderAcceptance" <?php if($this->wo->ReminderAcceptance || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_ReminderAcceptance">Work Order Not Yet Accepted (24 hours) reminder</label></td>
										<td><input type="checkbox" disabled value="1" id="edit_CheckInCall" name="CheckInCall" <?php if($this->wo->CheckInCall || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_CheckInCall">Automated in-bound Check-in</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" disabled value="1" id="edit_Reminder24Hr" name="Reminder24Hr" <?php if($this->wo->Reminder24Hr || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_Reminder24Hr">24-hour before start time reminder</label></td>
										<td><input type="checkbox" disabled value="1" id="edit_ReminderNotMarkComplete" name="ReminderNotMarkComplete" <?php if($this->wo->ReminderNotMarkComplete || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_ReminderNotMarkComplete">Work Order Not Yet Marked Complete daily reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" disabled value="1" id="edit_Reminder1Hr" name="Reminder1Hr" <?php if($this->wo->Reminder1Hr || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for=edit_Reminder1Hr">1 hour before start time reminder</label></td>
										<td><input type="checkbox" disabled value="1" id="edit_ReminderIncomplete" name="ReminderIncomplete" <?php if($this->wo->ReminderIncomplete || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_ReminderIncomplete">Work order incomplete daily reminder</label></td>
									</tr>
									<tr>
										<td><input type="checkbox" disabled value="1" id="edit_CheckOutCall" name="CheckOutCall" <?php if($this->wo->CheckOutCall || $this->wo->ReminderAll)echo'checked';?> /></td>
										<td><label for="edit_CheckOutCall">Automated in-bound Check-out</label></td>
										<td></td>
										<td></td>
									</tr>
									</table>
								  </td>
								  
                              </tr>
                            </table>