<?php $wo = $this->wo;?>
<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
									<col width="120px" />
									<col width="20px" />
									<col width="*" />
									<col width="*" />
									
									<tr>
										<td class="subheader" style="border-bottom: none;">Tech Confirmations</td>
										<td class=""><input type="checkbox" class="" name="WorkOrderReviewed" id="edit_WorkOrderReviewed" value="1" <?php echo ($this->wo->WorkOrderReviewed)?'checked':''?> /></td>
										<td colspan="2"><label class="perWidth100">Tech has reviewed Work Order Details and confirms acceptance </label></td>
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><input type="checkbox" class="" name="TechCheckedIn_24hrs" id="edit_CheckedIn_24hrs" value="1" <?php echo ($this->wo->TechCheckedIn_24hrs)?'checked':''?> /></td>
                                        <td class="" colspan="2"><label class="perWidth100">Tech has confirmed appointment 24 hours before start time</label></td>
										
                                  </tr>
                                  <tr>
                                        <td class="subheader" style="border-bottom: none;">Client Notes &#8211; Store Notification</td>
										<td colspan="3" class="innerTop">
											<table cellpadding="0" cellspacing="0">
												<tr>
													<td class="tright"><input type="checkbox" class="" name="StoreNotified" id="edit_StoreNotified"  value="1" <?php echo ($this->wo->StoreNotified)?'checked':''?>  /></td>
													<td><label class="width100" style="*margin-top:2px;">&#160;&#160;Store Notified</label></td>
													<td class="tright"><label class="width90">Notified by:&#160;&#160;</label></td>
													<td><input type="text" class="width115" name="Notifiedby" id="edit_Notifiedby"  value="<?php echo $this->escape($this->wo->Notifiedby)?>" /></td>
													<td class="tright"><label class="width60">Date:&#160;&#160;</label></td>
													<td><input type="text" class="width115"  id="edit_DateNotified" name="DateNotified" value="<?php echo $this->displaydate('n/j/Y',$this->wo->DateNotified)?>" /><a href="#"><img src="images/calendar.png" width="16" height="15" /></a></td>
												</tr>
											</table>
										</td>
										
								  </tr>
                                   <tr>
										<td>&#160;</td>
                                        <td class="tleft" colspan="3"><label>Store Notified notes</label><textarea class="" rows="3" cols="75" id="edit_NotifyNotes" name="NotifyNotes" ><?php echo $this->escape($this->wo->NotifyNotes)?></textarea></td>
										
                                  </tr>
                                  <tr>
                                        <td class="subheader" style="border-bottom: none;">Client Notes &#8211; Tech Manual Check In</td>
										<td colspan="3" class="innerTop">
											<table cellpadding="0" cellspacing="0">
												<col width="" />
												<col width="" />
												<col width="" />
												<col width="" />
												<tr>
													<td class="tright"><input type="checkbox" class="" name="CheckedIn" id="edit_CheckedIn"  value="1" <?php echo ($this->wo->CheckedIn)?'checked':''?> /></td>
													<td><label class="width100" style="*margin-top:2px;">&#160;&#160;Checked In</label></td>
													<td class="tright"><label class="width90" style="*margin-top:2px;">Checked In By&#160;&#160;</label></td>
													<td><input type="text" class="width115" name="Checkedby" id="edit_Checkedby"  value="<?php echo $this->escape($this->wo->Checkedby)?>" /></td>
												</tr>
											</table>
                                            <?php if ( $this->wo->ContactHD ) : ?>
											<table cellpadding="0" cellspacing="0">
												<col width="" />
												<col width="" />
                                                <tr>
                                                    <td><label class="width150" style="*margin-top:2px;">Help Desk Contacted</label></td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td><label class="width150" style="*margin-top:2px;">Additional Contact</label></td>
                                                    <td>
                                                        <input type="text" class="width150" id="additionalContactNotes" value="<?php echo $this->escape($this->wo->HDPOC)?>" />
                                                    </td>
                                                </tr>
											</table>
                                            <?php endif; ?>
										</td>
										
								  </tr>
                                   <tr>
										<td>&#160;</td>
                                        <td class="tleft" colspan="3"><label>Tech Check in notes</label><textarea rows="3" cols="75" id="edit_CheckInNotes" name="CheckInNotes" ><?php echo $this->escape($this->wo->CheckInNotes)?></textarea></td>
										
                                  </tr>
                                </table>