<?php $wo = $this->wo;?>
<table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
								<col width="120px" />
                                <col width="200px" />
                                <col width="*" />
                                <col width="*" />
                                
							  <tr class="infohide">
									<td class="subheader" style="border-bottom: none;">Tech Pay:</td>
									<td colspan="3" class="">
									<table cellpadding="0" cellspacing="0">
										<col width="*" />
										<col width="100px" />
										<col width="120px" />
										<col width="*" />
										<col width="120px" />
										<col width="*" />
										<col width="120px" />
										<tr>
											<td><span class="required_tech" id="section4req" style="display:none;">*</span></td>
											<td class=""><label class="width100">Client $ Offer</label></td>
											<td><input type="text" class="width120 indentLeft" id="edit_PayMax" name="PayMax" value="<?php echo $this->wo->PayMax?>" /></td>
											<td class="tright"><label class="width80 indentLeft"><span class="required_tech" id="section4req" style="display:none;">*</span> Amount Per </label></td>
											<td><select class="width120 indentLeft" id="edit_Amount_Per" name="Amount_Per" onchange="$('#edit_Amount_Per').attr('title', $('#edit_Amount_Per option:selected').text());$('#perLabel').html('per '+$('#edit_Amount_Per option:selected').val());if ($('#edit_Amount_Per option:selected').val() == 'Device') {$('#edit_Qty_Devices').removeAttr('readonly');}else{$('#edit_Qty_Devices').attr('readonly','readonly').val('');}"><option value="">Select Type</option><option <?php echo ($this->wo->Amount_Per == 'Site')?'selected="selected"':''?> value="Site">Site</option><option value="Hour" <?php echo ($this->wo->Amount_Per == 'Hour')?'selected="selected"':''?>>Hour</option><option value="Device" <?php echo ($this->wo->Amount_Per == 'Device')?'selected="selected"':''?>>Device</option></select></td>
											<td class="tright"><label class="width85 indentLeft">Device Quantity</label></td>
											<td><input type="text" class="width120 indentLeft" id="edit_Qty_Devices" name="Qty_Devices" value="<?php echo $this->wo->Qty_Devices?>" /></td>
										</tr>
									</table>
									<table cellpadding="0" cellspacing="0">
										<col width="20px" />
										<col width="*" />
										<tr>
											<td><input type="checkbox" class="" id="edit_FixedBid" disabled="disabled" <?php echo ((bool)$this->project_info->FixedBid)?'checked':''?> /></td>
											<td><label class="width240">Fixed Tech Pay, No Extra $</label></td>
										</tr>
										<tr>
											<td><?php if ($this->showDeduct):?><input type="checkbox" class="" id="edit_PcntDeduct" name="PcntDeduct" value="1" <?php echo (!$this->isPM || $this->wo->Status != "created") ? "disabled=\"disabled\"" : ""?> <?php echo $this->wo->PcntDeduct?'checked':''?> /><?php endif?></td>
											<td><?php if ($this->showDeduct):?><label class="width240">Deduct FS Service Fee from Tech</label><?php endif?></td>
										</tr>
                                        <?php if (Core_Geocoding_Google::isCanadianZip($this->wo->Zipcode)) :?>
                                        <tr>
                                        	<td>&nbsp;</td>
                                        	<td><span class="payments-warning">(All payments and fees are in $US)</span></td>
                                        </tr> 
                                        <?php endif; ?>
									</table>
								</td>
								
							  </tr>
                              <tr  class="infohide"id="pushtotech_box right_brdwhite">
                                    <td colspan="4"><div class="sectionBox2"><a class="title2">Push2Tech&trade; Auto Assignment Settings:</a></div>
                                    
    								<div class="sectionInner2" id="pushtotech_collasple" style="display:none; margin-left: 35px;">
							<table cellpadding="0" cellspacing="0">
								<col width="10px" />
										<col width="300px" />
										<col width="100px" />
										<col width="300px" />
								
								<tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td colspan="3" class="subheader innerTop" id="right_brdwhite"><input type="checkbox" id="edit_isProjectAutoAssign" disabled="disabled" <?php echo ($this->wo->isProjectAutoAssign?'checked':'')?> class="indentRightSmall floatLeft" /> <label class="tBold width240">Push2Tech&trade; Activated</label></td>
                              </tr>
                              <?php if (true || $this->wo->isProjectAutoAssign) : ?>
                              <script type="text/javascript">
                                  function updateMinutes() {
                                    d =	parseInt($("#edit_P2TD").val(),10);
                                    h = parseInt($("#edit_P2TH").val(),10);
                                    m = parseInt($("#edit_P2TM").val(),10);
                                    if (isNaN(d)) {
                                        d = 0;
                                        $("#edit_P2TD").val(d);
                                    }
                                    if (isNaN(h)) {
                                        h = 0;
                                        $("#edit_P2TH").val(h);
                                    }
                                    if (isNaN(m)) {
                                        m = 0;
                                        $("#edit_P2TM").val(m);
                                    }
                                    remain = d *1440 + h * 60 + m;
                                    $("#edit_MinutesRemainPublished").val(remain);
                                  }
                                  function loadMinutes(){
                                      v = parseInt($("#edit_MinutesRemainPublished").val(), 10);
                                      d = Math.floor(v / 24 / 60);
                                      v = v - d * 24 * 60;
                                      h = Math.floor(v / 60);
                                      m = v - h * 60;
                                      $("#edit_P2TD").val( isNaN(d) ? 0 : d );
                                      $("#edit_P2TH").val( isNaN(h) ? 0 : h );
                                      $("#edit_P2TM").val( isNaN(m) ? 0 : m );
                                  }
                                  $(document).ready(function(){
                                      loadMinutes();
                                      updateMinutes();
                                  });
                                  </script>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class="innerTop">Push2Tech™  Time Control expires in:</td>
                                    <td colspan="2" class="innerTop" id="right_brdwhite">
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TD" name ="P2TDV" class="width20 floatLeft indentRight" /> <label>Days</label></div>
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TH" name ="P2THV" class="width20 floatLeft indentRight" /> <label>Hours </label></div>
                                        <div class="floatLeft width70"><input onchange="updateMinutes()" type="text" id="edit_P2TM" name ="P2TMV" class="width20 floatLeft indentRight" /> <label>Minutes</label></div></td>
                                    <input type="hidden" name="MinutesRemainPublished" value="<?php echo $this->wo->MinutesRemainPublished?>" id ="edit_MinutesRemainPublished" />
                              </tr>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class="innerBottom"><strong>Auto-Assignment requirements:</strong></td>
                                    <td colspan="2" id="right_brdwhite">&nbsp;</td>
                              </tr>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class=""><label class="width240">Assign to Preferred techs Only</label></td>
                                    <td class=""><input type="checkbox"  disabled="disabled" id="edit_P2TPreferredOnly" class="" <?php echo ($this->wo->P2TPreferredOnly?'checked':'')?> /></td>
                                    <td id="right_brdwhite"><input type="checkbox"  disabled="disabled" id="edit_notP2TPreferredOnly" class="floatLeft" <?php echo (!$this->wo->P2TPreferredOnly?'checked':'')?>  /> <label class="indentLeftLarge">Any matching tech</label></td>
                              </tr>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class=""><label class="width240">Assign to lowest bidder upon expiration</label></td>
                                    <td class=""><input type="checkbox"  disabled="disabled" id="edit_isnotWorkOrdersFirstBidder" class="" <?php echo (!$this->wo->isWorkOrdersFirstBidder?'checked':'')?> /></td>
                                    <td id="right_brdwhite"><input type="checkbox"  disabled="disabled" id="edit_isWorkOrdersFirstBidder" class="floatLeft" <?php echo ($this->wo->isWorkOrdersFirstBidder?'checked':'')?> /> <label class="indentLeftLarge">First bidder below offer</label></td>
                              </tr>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class=""><label class="width240">Skill Category minimum self-rating</label></td>
                                    <td class=""><span id="edit_MinimumSelfRating"><?php echo $this->wo->MinimumSelfRating?></span></td>
                                    <td id="right_brdwhite"><label class="indentLeftSmall floatLeft" style="width: 185px">Maximum mileage from site:</label><?php echo $this->wo->MaximumAllowableDistance?></td>
                              </tr>
                              <tr id="pushtotech_box">
									<td>&#160;</td>
                                    <td class="innerTop"><label class="width240">P2T&trade; Notification emails: </label></td>
                                    <td class="innerTop"><input type="checkbox" disabled="disabled" id="edit_NotifyOnAutoAssign" class="" <?php echo (bool)$this->project_info->NotifyOnAssign?'checked':''?> /></td>
                                    <td class="innerTop" id="right_brdwhite"><label class="floatLeft indentRightSmall width60">Emails to: </label> <?php echo $this->project_info->P2TNotificationEmail?></td>
                              </tr>
                              <?php endif;?>
                              </table>
                              </div>
									</td>
                              </tr>
							  <tr class="infohide">
							  <td colspan="4">&#160;</td>
							  </tr>
                               <tr class="infohide">
                                    <td class="subheader" style="border-bottom: none;">Assign Technician</td>
									<td><label class=""><span class="required" id="section4req" style="display:none;">*</span>Assign FS Tech#: </label></td>
									<td>
										<table class="sectionFormTop labelIndent" cellpadding="0" cellspacing="0">
										  <tr>

												<td class="" colspan="3">
													<div class="floatLeft indentRightLarge width115"><!--label>FS Tech ID #</label--><input type="text" class="width115" id="edit_Tech_ID" name="Tech_ID" value="<?php echo $this->wo->Tech_ID?>" onchange="var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i<siblingSpans.length;i++) { if(siblingSpans[i].className=='required_tech') { if(this.value!='') { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}"/></div>
													<div class="floatLeft indentRightLarge width152"><!--label>First Name</label--><input type="text" class="floatLeft indentRightLarge width150 noborder liketext" id="edit_Tech_FName" readonly="readonly" value="<?php echo $this->escape($this->wo->Tech_FName)?>"  /></div>
													<div class="floatLeft indentRightLarge width152"><!--label>Last Name</label--><input type="text" class="floatLeft indentRightLarge width150 noborder liketext" id="edit_Tech_LName" readonly="readonly" value="<?php echo $this->escape($this->wo->Tech_LName)?>"  /></div></td>
										  </tr>
										</table>
									</td>
									
								</tr>
								<tr>
									<td>&#160;</td>
									<td class=""><label class="">Tech Contact Info: </label></td>
									<td colspan="2" class="">
                                        <div class="floatLeft indentRightLarge width115"><input type="text" class="width115 noborder liketext" id="edit_TechPhone"  readonly="readonly" value="<?php echo $this->wo->TechPhone?>" /></div>
                                        <div class="floatLeft indentRightLarge width152"><input type="text" id="edit_TechEmail" readonly="readonly" value="<?php echo $this->wo->TechEmail?>" class="floatLeft indentRightLarge width150 noborder liketext" /></div>

                                        <?php if($this->wo->Tech_ID) : ?>
                                        <a id="techScheduleBtn" href="javascript:void(0)">
                                            <img id="techScheduleImg" src="/widgets/css/images/view_tech_schedule.gif" alt="view tech schedule" />
                                        </a>
                                        <a id="techMyTechBtn" href="javascript:void(0)">
                                            <img id="techMyTech" src="/widgets/css/images/view_my_techs.gif" alt="my techs" />
                                        </a>
                                        <script type="text/javascript">
                                            $(function(){
                                                $("#techScheduleBtn").bind("click", function(event){
                                                    schedule.show($(this), event, {data:{
                                                        "tech_ID" : "<?php echo $this->wo->Tech_ID; ?>",
                                                        "date" : "",
                                                        "date_interval" : "all",
                                                        "sort" : "starttime",
                                                        "sort_dir" : "asc"
                                                    }});
                                                });
                                                $('#techMyTechBtn').click(function(event) {
                                                    roll.autohide(false);
                                                    var opt = {
                                                        width       : 325,
                                                        height      : '',
                                                        title       : 'My Techs',
                                                        handler		: myTechs.prepare,
                                                        context     : wd,
                                                        body        : $(myTechs.container()).html()
                                                    }
                                                    roll.showNotAjax(this, event, opt);
                                                });
                                            })
                                        </script>
                                        <?php endif; ?>
                                    </td>
								</tr>
								<tr class="infohide">
									<td>&#160;</td>
									<td class=""><label class=""><span class="required_tech" id="section4req" style="display:none;">*</span>Bid/Agreed Amount: </label></td>
									<td class="innerBottomSmall" colspan="2">
										<div class="width115 floatLeft indentRightLarge"><!--label>$$.$$</label--><input id="edit_Tech_Bid_Amount" name="Tech_Bid_Amount" value="<?php echo $this->wo->Tech_Bid_Amount?>" type="text" class="width115" /></div>
                                        <div class="width152 floatLeft indentRightLarge"><div id="perLabel" class="floatLeft indentRightLarge">per <?php echo $this->wo->Amount_Per?></div></div>
										<a id="" href="javascript:void(0)" onclick="openPopupWin('wosApplicant.php?v=<?php echo $this->company?>&sb=0&ClientID=<?php echo $this->client->getClientId()?>&WorkOrderID=<?php echo $this->wo->WIN_NUM?>')" ><img id="techScheduleImg" src="/widgets/css/images/view_applicants_button.gif" alt="view applicants" border="0" /></a>
                                        <a href="javascript:void(0)" onclick="openPopupWin('techs.php?v=<?php echo $this->company?>&newSearch=1&defaultZip=<?php echo $this->wo->Zipcode?>')"><img border="0" alt="" src="/widgets/css/images/btn_orange_techsearch.jpg" style="position: relative; top: 3px;"></a>

									</td>
									
								</tr>
								<tr class="infohide">
									<td>&#160;</td>
									<td class=""><label class="">Tech Bid Comments: </label></td>
									<td class="" colspan="2"><div class="floatLeft indentRightLarge width115"><textarea id="edit_bid_comments" name="bid_comments" style="background-color:#FFF; border:none" readonly="readonly"><?php echo $this->wo->bid_comments?></textarea></div></td>
									
								</tr>
								<tr class="infohide">
									<td>&#160;</td>
									<td class=""><label class="">Back Up Tech#: </label></td>
									<td class="" colspan="2"><div class="floatLeft indentRightLarge width115"><!--label>FS Tech ID #</label--><input id="edit_BU1FLSID" name="BU1FLSID" value="<?php echo $this->wo->BU1FLSID?>" type="text" class="width115" /></div></td>
									
								</tr>
								<tr class="infohide">
									<td>&#160;</td>
									<td class=""><label class="">Back Up Tech Comments:</label></td>
									<td class="" colspan="2"><textarea class="txtarea_f" id="edit_BU1Info" name="BU1Info"><?php echo $this->escape($this->wo->BU1Info)?></textarea></td>
									
								</tr>
								<tr class="infohide">
									<td>&#160;</td>
									<td class=""><label class="">No Show Tech ID#:</label></td>
									<td class="" colspan="2"><input type="text" class="floatLeft indentRightLarge width115" id="edit_NoShow_Tech" name="NoShow_Tech" value="<?php echo $this->wo->NoShow_Tech?>" />
												<label class="floatLeft width140">Backed-Out FS Tech ID#</label> <input id="edit_BackOut_Tech" name="BackOut_Tech" value="<?php echo $this->wo->BackOut_Tech?>" type="text" class="floatLeft indentRightLarge width115" /></td>
									
								</tr>
								<tr class="infohide">
									<td class="subheader" style="border-bottom: none;">Assignment Agreement</td>
									<td colspan="3"></td>
									
								</tr>
								<tr class="infohide">
									<td style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#006" align="right">Assign >></td>

                                    <td colspan="3" class="innerTop">
                                        <div id="techFeeAgreement">
                                            Bid represents the amount bid by the assigned tech, unless client over-rides after agreement with the tech.<br/><br/>
                                            I understand that, upon approval ,Field Solutions will pay the technician for this work. I understand that upon approval, I will be billed the Bid/Agreed amount plus a processing fee.<br/><br/>
                                        </div>
                                        <div class="clr"><input type="checkbox" class="floatLeft indentRightSmall" id="edit_assignment_agreement" onclick="var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i<siblingSpans.length;i++) { if(siblingSpans[i].id=='section4req') { if(this.checked) { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}" /> <label>Yes, I agree.</label></div>
                                    </td>
									
                              </tr>
<script type="text/javascript">
$(document).ready(function(){
    <?php if (strtolower($this->wo->Status) !== "created") : ?>
    $('#edit_assignment_agreement').click();
    <?php endif; ?>

    $('#edit_Tech_ID').change(function(){
		if ($(this).val() != '') {
			var techId = $(this).val();
			$.ajax(
				{url:'/widgets/dashboard/popup/get-tech-info/company/<?php echo $this->company;?>/tech/'+techId+'/wo/<?php echo $this->wo->WIN_NUM;?>/needBid/1/', 
				success: 
				function(data){
					if (data['error']==0) {
						$('#edit_Tech_FName').val(data['techInfo']['fName']);
						$('#edit_Tech_LName').val(data['techInfo']['lName']);
						$('#edit_TechEmail').val(data['techInfo']['email']);
						$('#edit_TechPhone').val(data['techInfo']['phone']);
						$('#techScheduleImg').css('visibility','visible');
						$('#techScheduleBtn').click(function(event){
                    schedule.show($(this), event, {data:{
                    'tech_ID' : techId,
                    'date' : '',
                    'date_interval' : 'all',
                    'display_calendar' : 1,
                    'display_date' : 1,
                    'sort' : 'starttime',
                    'sort_dir' : 'asc'
                    }});
              });
						if (typeof(data['bidInfo']) != 'undefined') {
                  if ($("#edit_bid_comments").val() == '') {
                	  $("#edit_bid_comments").val(data['bidInfo']['comments']);
                  }
              }
						if (data['techInfo']['isDenied']) {
                  detailsWidget._redirect = 0;
                  detailsWidget.showMessages({success:0,errors:['You are about to assign work to a technician that has been "denied access" by your company. Please re-confirm your choice of technician. Tech ID: '+techId+' ('+data['techInfo']['fName']+' '+data['techInfo']['lName']+')']});
              }
					}
					else{
						$("#edit_Tech_ID").val('');
						$("#edit_Tech_FName").val('');
						$("#edit_Tech_LName").val('');
						$("#edit_TechEmail").val('');
						$("#edit_TechPhone").val('');
						$("#techScheduleImg").css('visibility','hidden');
						$("#techScheduleBtn").click(function(){});
          }
				}
				}
			);
      } else {
          $('#edit_Tech_ID').val('');
          $('#edit_Tech_FName').val('');
          $('#edit_Tech_LName').val('');
          $('#edit_TechEmail').val('');
          $('#edit_TechPhone').val('');
          $('#techScheduleImg').css('visibility','hidden');
          $('#techScheduleBtn').click(function(){});
      }
    })
});
</script>
                             </table>
