<?php $wo = $this->wo; ?>
<?php if ($this->popup = 'yes'): ?>
<table>
    <tr>
        <td colspan="4">Mark Work Order as "Incomplete" and notify tech</td>
    </tr>
    <tr>
        <td colspan="2">Paperwork Recieved: <?=($wo->Paperwork_Received)?'Yes':'No'?></td>
        <td colspan="2">Paperwork Incomplete: <?=($wo->Incomplete_Paperwork)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="4">Incomplete work order comments – indicate tech requirements to complete:<br /><?=($wo->MissingComments)?$wo->MissingComments:'Empty'?></td>
    </tr>
    <tr>
        <td colspan="2">Site Complete: <?=$wo->Site_Complete?></td>
        <td colspan="2">Closed in Client System: <?=$wo->CallClosed?></td>
    </tr>
    <tr>
        <td colspan="4">Client Closed Comments (not shown to techs):<br /><?=($wo->ClientComments)?$wo->ClientComments:'Empty'?></td>
    </tr>
    <tr>
        <td colspan="2">Work Out of Scope: <?=($wo->Work_Out_of_Scope)?'Yes':'No'?></td>
        <td colspan="2">Out of Scope Amount $: <?=$this->displayMoney($wo->OutofScope_Amount)?></td>
    </tr>
    <tr>
        <td colspan="4">Reason Out of Scope:<br /><?=($wo->OutofScope_Reason)?$wo->OutofScope_Reason:'Empty'?></td>
    </tr>
    <tr>
        <td>Trip Charge $: <?=$this->displayMoney($wo->TripCharge)?></td>
        <td>Mileage Charge $: <?=$this->displayMoney($wo->MileageReimbursement)?></td>
        <td>Materials Charge $: <?=$this->displayMoney($wo->MaterialsReimbursement)?></td>
        <td>&#160;</td>
    </tr>
    <tr>
        <td>Other Adjustments $: <?=$this->displayMoney($wo->Additional_Pay_Amount)?></td>
        <td colspan="3">&#160;</td>
    </tr>
    <tr>
        <td>Abort/Short Notice Pay: <?=($wo->AbortFee)?'Yes':'No'?></td>
        <td colspan="3">Abort/Short Notice Pay Amount $: <?=$this->displayMoney($wo->AbortFeeAmount)?></td>
    </tr>
    <tr>
        <td colspan="4">Special Fees &amp; Exceptions Authorized By: <?=$wo->Add_Pay_AuthBy?></td>
    </tr>
    <tr>
        <td>Special Fees &amp; Exceptions Fields Explanation: <?=$wo->Add_Pay_Reason?></td>
    </tr>
    <tr>
        <td colspan="2">Max Pay Amount $: <?=$this->displayMoney($wo->PayMax)?></td>
        <td colspan="2"><?=$this->displayAmountPer($wo->Amount_Per)?></td>
    </tr>
    <tr>
        <td colspan="4">Techs are informed that this is a pre-set fixed tech pay work order. Techs cannot bid other prices or request additional/conditional extra $: <?=($wo->FixedBid)?></td>
    </tr>
    <tr>
        <td>Bid/Agreed Amount $: <?=$this->displayMoney($wo->Tech_Bid_Amount)?></td>
        <td><?=$this->displayAmountPer($wo->Amount_Per)?></td>
        <td>Qty Devices: <?=$wo->Qty_Devices?></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">Total Hours</td>
        <td colspan="2"><?=$wo->calculatedTechHrs+0?> hour<?=($wo->calculatedTechHrs+0 > 1)?'s':''?></td>
    </tr>
    <tr>
        <td colspan="2">Base Tech Pay ($'s)</td>
        <td colspan="2"><?=$this->displayMoney($wo->baseTechPay)?></td>
    </tr>
    <tr>
        <td colspan="2">Final Total Tech Pay $</td>
        <td colspan="2"><?=$this->displayMoney($wo->PayAmount)?></td>
    </tr>
    <tr>
        <td colspan="2">Approve Work Order for Payment: <?=($wo->Approved)?'Yes':'No'?></td>
        <td colspan="2"><?=($wo->Approved)?$wo->DateApproved:'Date Approved'?></td>
    </tr>
    <tr>
        <td>Technician Paid by Field Solutions</td>
        <td><?=$wo->TechPaid?></td>
        <td><?($wo->TechPaid && strtolower(trim($wo->TechPaid))!='no')?$wo->DatePaid:'Date Paid'?></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">Rate Tech Preference &amp; Performance Ratings:</td>
    </tr>
    <tr>
        <td colspan="4">How likely would you be to recommend this tech: <?=$wo->SATRecommended?></td>
    </tr>
    <tr>
        <td colspan="4">The outcome of this field service event was: <?=$wo->SATPerformance?></td>
    </tr>
    <tr>
        <td colspan="2">Deactivated: <?=($wo->Deactivated)?'Yes':'No'?></td>
        <td colspan="2">Deactivation Code: <?=$wo->DeactivationReasonCode?></td>
    </tr>
    <tr>
        <td colspan="4">Deactivation Reason: <?=$wo->Deactivated_Reason?></td>
    </tr>
</table>
<?php else :?>
<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
									<col width="120px" />
									<col width="180px"/>
									<col width="*"/>
									<col width="*"/>
									
									<tr>
										<td class="subheader">Base Tech Pay</td>
										<td colspan="3" class="innerBottom">
											<table cellpadding="0" cellspacing="0">
												<col width="" />
												<col width="" />
												<col width="" />
												<tr>
													<td>Agreed Pay <span class="innerLeft innerRight"><?php echo $this->wo->Tech_Bid_Amount?></span> per <?php echo $this->wo->Amount_Per?></td>
													<td class="tright"><label class="width170">Calculated Total Hours </label></td>
													<td><input type="text" class="indentLeft" id="edit_calculatedTechHrs" name="calculatedTechHrs" value="<?php echo $this->wo->calculatedTechHrs?>"  /></td>
												</tr>
											</table>
										</td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Base Tech Pay: </label></td>
                                        <td colspan="2" class="tleft"><input type="text" class="" id="edit_baseTechPay" name="baseTechPay" value="<?php echo $this->wo->baseTechPay?>" /></td>
										
									</tr>
									<tr>
                                        <td class="subheader">Extra $ and Adjustments</td>
                                        <td><label class="">Out of Scope Labor</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_OutofScope_Amount" onchange="" name="OutofScope_Amount" value="<?php echo $this->wo->OutofScope_Amount?>" /></td>
                                        <td><label for="" style="width:100px;float:left;">Reviewed By</label><input type="text" class="width240" id="edit_Add_Pay_AuthBy" name="Add_Pay_AuthBy" value="<?php echo $this->escape($this->wo->Add_Pay_AuthBy)?>"  /></td>
									
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Trip Charge</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_TripCharge" name="TripCharge" value="<?php echo $this->escape($this->wo->TripCharge)?>" /></td>
                                        <td rowspan="5"><label for="" style="width:100px;float:left;">Comments</label><textarea class="txtarea_f3" id="edit_Add_Pay_Reason" name="Add_Pay_Reason" ><?php echo $this->escape($this->wo->Add_Pay_Reason)?></textarea></td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Mileage Fee</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_MileageReimbursement" name="MileageReimbursement" value="<?php echo $this->wo->MileageReimbursement?>" /></td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Materials Reimbursement</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_MaterialsReimbursement" name="MaterialsReimbursement" value="<?php echo $this->wo->MaterialsReimbursement?>" /></td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Other Non-labor Adjustments</label></td>
                                        <td class="tleft"><input type="text" class="" id="edit_Additional_Pay_Amount" name="Additional_Pay_Amount" value="<?php echo $this->wo->Additional_Pay_Amount?>" /></td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Abort/Short Notice Pay</label></td>
                                        <td class="tleft"><input type="checkbox" id="edit_AbortFee" name="AbortFee" value="1" <?php if ($this->wo->AbortFee) : ?>checked = "checked" <?php endif;?>/>&nbsp;<span class="required_abortFee" id="section7req" <?php if ($this->wo->AbortFee):?>style="display:none;"<?php endif;?>>*</span><input type="text" class="" id="edit_AbortFeeAmount" name="AbortFeeAmount" value="<?php echo $this->wo->AbortFeeAmount?>" /></td>
										
									</tr>
									<tr>
                                        <td class="subheader">Total Tech Pay and Approval</td>
                                        <td><label class="">Final Total Tech Pay: </label></td>
                                        <td colspan="2" class="tleft innerTop_"><input type="text" class="" disabled="disabled" id="edit_PayAmount" name="PayAmount"  value="<?php echo $this->wo->PayAmount?>"/></td>
										
									</tr>
									<script type="text/javascript">
										$(document).ready(function() {
											if (isInvoiced){
												detailsWidget.makePayFieldsReadOnly();
											}
											detailsWidget.updateFinalPay("<?php echo $this->name?>"); 
										});
									</script>
									<tr>
										<td>&#160;</td>
										<td style="vertical-align:middle !important; font:Arial; font-size:14px; font-weight:bold; color:#006" align="right">Approve >></td>
										<td colspan="2">
											<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
			                                	<tr>
													<td valign="middle">
                                                        <label class="width240 tBold" style="margin-top:6px; text-align:left; !important;"><input type="checkbox" id="edit_Approved" value="1" name="Approved" <?php if ($this->wo->Approved) : ?>checked = "checked" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?><?php endif; ?> />&#160;&#160;Approve Work Order For Payment </label></td>
												</tr>
											</table>
											</td>
										
									</tr>
									<tr>
										<td colspan="4">&#160;</td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Date Approved: </label></td>
                                        <td colspan="2" class="tleft"><span class="floatLeft"/><?php echo $this->displayDate('n/j/Y',$this->wo->DateApproved)?></td>
										
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td class=""><label class="">Date Tech Paid: </label></td>
                                        <td colspan="2" class="tleft"><span><?php echo $this->displayDate('n/j/Y',$this->wo->DatePaid)?></span></td>
										
									</tr>
                                    <?php if ($this->wo->Tech_ID) : ?>
									<tr>
                                        <td class="subheader">Rate Technician</td>
                                        <td colspan="3" class="innerTop" ><label class="perWidth100">How likely would you be to recommend this tech: </label>
											<ul>
												<li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATRecommended" id="edit_SATRecommended4" <?php if ($this->wo->SATRecommended == 4) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATRecommended4" style="*width:120px;">Extremely likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATRecommended" id="edit_SATRecommended3" <?php if ($this->wo->SATRecommended == 3) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATRecommended3" style="*width:120px;">Somewhat likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATRecommended" id="edit_SATRecommended2" <?php if ($this->wo->SATRecommended == 2) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATRecommended2" style="*width:120px;">Not very likely</label></li>
												<li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATRecommended" id="edit_SATRecommended1" <?php if ($this->wo->SATRecommended == 1) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATRecommended1" style="*width:120px;">Not at all likely</label></li>
											</ul>
                                        </td>
									
									</tr>
									<tr>
										<td>&#160;</td>
                                        <td colspan="3" class="innerTop"><label class="perWidth100">The outcome of this field service event was:</label>
                                                <ul>
													<li class="floatLeft indentRight"><input type="radio" value="4" class="floatLeft indentRightSmall" name="SATPerformance" id="edit_SATPerformance4" <?php if ($this->wo->SATPerformance == 4) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATPerformance4" style="*width:120px;">Excellent</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="3" class="floatLeft indentRightSmall" name="SATPerformance" id="edit_SATPerformance3" <?php if ($this->wo->SATPerformance == 3) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATPerformance3" style="*width:120px;">Very Good</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="2" class="floatLeft indentRightSmall" name="SATPerformance" id="edit_SATPerformance2" <?php if ($this->wo->SATPerformance == 2) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATPerformance2" style="*width:120px;">Satisfactory</label></li>
													<li class="floatLeft indentRight"><input type="radio" value="1" class="floatLeft indentRightSmall" name="SATPerformance" id="edit_SATPerformance1" <?php if ($this->wo->SATPerformance == 1) : ?>checked="checked"<?php endif; ?>/> <label for="edit_SATPerformance1" style="*width:120px;">Not Satisfactory</label></li>
                                                </ul>
                                        </td>
										
									</tr>
									<tr>
										<td>&#160;</td>
										<td class=""><label for="edit_PreferTechV" class="">Mark Tech as a Preferred Tech</label></td>
										<td colspan="2" class="tleft">
                                            <input type="checkbox" id="edit_PreferTechV" name="PreferTechV" value="1" class="" <?php if ($this->techStatus == 1) : ?>checked="checked"<?php endif; ?> />
                                        </td>
										
									</tr>
									<tr>
										<td>&#160;</td>
										<td class=""><label for="edit_DenyTechV" class="">Client Deny Tech</label></td>
										<td colspan="2" class="tleft">
                                            <input type="checkbox" id="edit_DenyTechV" name="DenyTechV" value="1" class="" <?php if ($this->techStatus == 2) : ?>checked="checked"<?php endif; ?> />
                                            <script type="text/javascript" >
                                                $(document).ready(function(){
                                                  $("#edit_PreferTechV").change(function(){
                                                     if ($(this).attr('checked')) {
                                                         $("#edit_DenyTechV").removeAttr('checked');
                                                     }
                                                  });
                                                  $("#edit_DenyTechV").change(function(){
                                                     if ($(this).attr('checked')) {
                                                         $("#edit_PreferTechV").removeAttr('checked');
                                                     }
                                                  });
                                                });
                                            </script>
										</td>
										
									</tr>
                                    <?php endif; ?>
                                  <tr>
                                        <td class="subheader">Deactivate Work Order</td>
                                        <td><label class="">Deactivate Work Order</label></td>
                                        <td colspan="2" class="tleft innerTop_"><input type="checkbox" class="floatLeft indentRightLarge" id="edit_Deactivated" name="Deactivated" value="1" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?> <?php echo $this->wo->Deactivated?'checked':'';?> onclick="var siblingSpans = document.getElementById('updateDetailsForm').getElementsByTagName('span'); for(var i=0;i<siblingSpans.length;i++) { if(siblingSpans[i].id=='section7req') { if(this.checked) { siblingSpans[i].style.display='inline'; } else { siblingSpans[i].style.display='none';}}}" />
											<span class="required" id="section7req" style="display:none;">*</span>
                                            <select class="width180" id="edit_DeactivationCode" name="DeactivationCode" onchange="$('#edit_DeactivationCode').attr('title', $('#edit_DeactivationCode option:selected').text());">
                                            <option value="" selected="selected" <?php if ($this->wo->TechPaid || $this->wo->Invoiced) : ?>disabled="disabled"<?php endif; ?>>Select Deactivation Code</option>
                                            <?php foreach ($this->deactivationCodes as $code) :?>
                                            <option title="<?php echo $code?>" value="<?php echo $code?>" <?php echo ($code==$this->wo->DeactivationCode)?'selected':''?>><?php echo $code?></option>
                                            <?php endforeach; ?>
                                            </select>
										</td>
										
                                  </tr>
                                  <tr>
										<td>&#160;</td>
                                        <td colspan="3"><label class="">Deactivation Comments/Reason</label>
										<textarea rows="3" cols="75" name="Deactivated_Reason" id="edit_Deactivated_Reason" ><?php echo $this->escape($this->wo->Deactivated_Reason)?></textarea></td>
										
                                  </tr>
                                </table>
								<?php endif;?>