<?php if ($this->success):?>
<?php $wo = $this->wo;?>
	<?php if ($this->popup = 'yes'): ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
<col width="40%" />
<col width="60%" />
    <?php if(!empty($this->win)): ?>
	<tr>
        <td>WIN # </td>
        <td><?=$this->win?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->WO_ID)): ?>
    <tr>
        <td>Client Work Order ID # </td>
        <td><?=$wo->WO_ID?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->DateEntered)): ?>
    <tr>
        <td>Date Created: </td>
        <td><?=$this->displayDate('n/j/y', $wo->DateEntered)?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->PO)): ?>
    <tr>
        <td>Client Purchase Order # </td>
        <td><?=$wo->PO?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->ShowTechs)): ?>
    <tr>
        <td>Show Work Order to Techs? </td>
        <td><?=($wo->ShowTechs)?'Yes':'No'?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartDate)): ?>
    <tr>
        <td>Work Start Date: </td>
        <td><?=$this->displayDate('n/j/y', $wo->StartDate)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartTime)): ?>
    <tr>
        <td>Start Time: </td>
        <td><?=$wo->StartTime?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->EndDate)): ?>
    <tr>
        <td>Work End Date: </td>
        <td><?=$this->displayDate('n/j/y', $wo->EndDate)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->EndTime)): ?>
    <tr>
        <td>End Time: </td>
        <td><?=$wo->EndTime?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartRange)): ?>
    <tr>
        <td>Estimated on-site arrival time: </td>
        <td><?=$wo->StartRange?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Duration)): ?>
    <tr>
        <td>Duration: </td>
        <td><?=$wo->Duration?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Region)): ?>
    <tr>
        <td>Region: </td>
        <td><?=$wo->Region?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Type_ID)): ?>
    <tr>
        <td>Call Type: </td>
        <td><?=$wo->Type_ID?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Project_Name)): ?>
    <tr>
        <td>Project: </td>
        <td><?=$this->projectName($wo)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->WO_Category_ID)): ?>
    <tr>
        <td>Category: </td>
        <td><?=$wo->WO_Category_ID?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Headline)): ?>
    <tr>
        <td>Headline: </td>
        <td><?=$wo->Headline?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Site_Contact_Name)): ?>
    <tr>
        <td>Site Contact Name: </td>
        <td><?=$wo->Site_Contact_Name?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteName)): ?>
    <tr>
        <td>Site Name: </td>
        <td><?=$wo->SiteName?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteNumber)): ?>
    <tr>
        <td>Site Number: </td>
        <td><?=$wo->SiteNumber?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Address)): ?>
    <tr>
        <td>Site Address: </td>
        <td><?=$wo->Address?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->City)): ?>
    <tr>
        <td>City: </td>
        <td><?=$wo->City?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->State)): ?>
    <tr>
        <td>US State &amp; CN Province: </td>
        <td><?=$wo->State?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Zipcode)): ?>
    <tr>
        <td>Zip or Postal Code: </td>
        <td><?=$wo->Zipcode?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SitePhone)): ?>
    <tr>
        <td>Site Phone: </td>
        <td><?=$wo->SitePhone?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteFax)): ?>
    <tr>
        <td>Site Fax: </td>
        <td><?=$wo->SiteFax?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteEmail)): ?>
    <tr>
        <td>Site Email: </td>
        <td><?=$wo->SiteEmail?></td>
    </tr>
	<?php endif; ?>

</table>
	<?php else :?>
		<table cellpadding="0" cellspacing="0" class="sectionForm">
                                <col width="120px" />
                                <col width="185px" />
                                <col width="*" />
                                <col width="*" />
								<tr>
                                  <td class="subheader">Type of Work</td>
								  <td colspan="3">
										<table cellpadding="0" cellspacing="0" class="perWidth100">
											<col width="100px"/>
											<col width="*"/>
											<col width="65"/>
											<col width="*"/>
											<col width="70"/>
											<col width="*"/>
											<tr>
												<td><label for=""><span class="required">*</span>Skill Category:</label></td>
												<td><select type="text" id="edit_WO_Category_ID" name="WO_Category_ID" onchange="$('#edit_WO_Category_ID').attr('title', $('#edit_WO_Category_ID option:selected').text());" class="floatRight_ width140">
														<option value="">Select Category</option>
														<?php foreach ($this->categories as $category) : ?>
															<option title="<?php echo  $category->Category ?>" value="<?php echo $category->Category_ID ?>" <?php if ($this->wo->WO_Category_ID == $category->Category_ID)echo'selected'; ?>><?php echo  $category->Category ?></option>
														<?php endforeach; ?>
													 </select>
												</td>
												<td><label for="">Call Type:</label></td>
												<td><select type="text" id="edit_Type_ID" name="Type_ID" onchange="$('#edit_Type_ID').attr('title', $('#edit_Type_ID option:selected').text());" class="floatRight_ width140">
														<?php foreach ($this->callTypes as $ckey => $ctype) : ?>
															<option title="<?php echo  $ctype ?>" value="<?php echo $ckey ?>" <?php if ($this->wo->Type_ID == $ckey)echo'selected'; ?>><?php echo  $ctype ?></option>
														<?php endforeach; ?>
													</select>
												</td>
												<td><label for=""><span class="required">*</span>Headline</label></td>
												<td><input type="text" id="edit_Headline" name="Headline" class="floatRight_ width175" value="<?php echo $this->wo->Headline ?>" />
												</td>
											</tr>
										</table>
									</td>

                                </tr>
								<tr>
									<td colspan="4" class="innerTop">&#160;</td>
									
								</tr>
								<tr>
									<td class="subheader">Site Information 
										<a id="btn_selectsite" href="javascript:void(0)"><img id="img_selectsite" border="0" width="92" height="30" src="/widgets/css/images/btn_orange_selectsite_disabled.png" alt=""></a>
										<a onclick="detailsWidget.saveSite()" href="javascript:void(0)"><img border="0" width="92" height="30" src="/widgets/css/images/btn_orange_savesite.png" alt=""></a>
									</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" class="perWidth100">
											<col width="90px"/>
											<col width="*"/>
											<col width="85px"/>
											<col width="55px"/>
											<col width="*"/>
											<col width="85px"/>
											<col width="66px"/>
											<col width="*"/>
											<tr>
												<td class=""><label for="">Site Name</label> </td>
												<td><input type="text" id="edit_SiteName" name="SiteName" class="input150w" value="<?php echo $this->escape($this->wo->SiteName) ?>"  /></td>

                                                <td class="tright" colspan="2"><label for="">Site Number</label></td>
                                                <td style="white-space: nowrap"><input type="text" id="edit_SiteNumber" name="SiteNumber" class="perWidth100" value="<?php echo $this->escape($this->wo->SiteNumber) ?>" />&nbsp;<a href="javascript:void(0)" onclick="detailsWidget.siteLookup()"><img src="/widgets/images/magnify.gif" /></a></td>

                                                <td class="tright" colspan="2"><label for="">Site Contact Name</label></td>
                                                <td><input type="text" id="edit_Site_Contact_Name" name="Site_Contact_Name" class="input150w" value="<?php echo $this->escape($this->wo->Site_Contact_Name) ?>" /></td>
                                            </tr>
                                            <tr>
                                                <td class=""><label for="">Site Address</label></td>
                                                <td><input type="text" id="edit_Address" name="Address" class="input150w" value="<?php echo $this->escape($this->wo->Address) ?>" /></td>

                                                <td class="tright" colspan="2"><label for="">City</label></td>
                                                <td colspan="3"><input type="text" id="edit_City" name="City" class="input150w" value="<?php echo $this->escape($this->wo->City) ?>" /></td>
                                            </tr>
                                            <tr>
                                                <td class=""><span class="required_tech" id="section4req">*</span><label for="">Country</label></td>
                                                <td><select type="text" id="edit_Country" name="Country" class="width123 floatLeft" onchange="$('#edit_Country').attr('title', $('#edit_Country option:selected').text());detailsWidget.onChangeCountry();">
                                                        <?php foreach ($this->countries as $ckey => $country) : ?>
														<option title="<?php echo  $country->Name ?>" value="<?php echo $country->Code ?>"<?php if ($this->wo->Country == $country->Code || (empty($this->wo->Country) && $country->Code == 'US'))echo'selected'; ?>><?php echo  $country->Name ?></option>
                                                        <?php endforeach; ?>
                                                        </select>
												</td>

                                                <td class="tright" colspan="2"><label for="">State/Province</label></td>
                                                <td><select type="text" id="edit_State" name="State" class="width123 floatLeft" onchange="$('#edit_State').attr('title', $('#edit_State option:selected').text());">
                                                        <option selected="selected" value="">Select State</option>
                                                        <?php foreach ($this->states as $skey => $state) : ?>
                                                        <option title="<?php echo  $state ?>" value="<?php echo $skey ?>" <?php if ($this->wo->State == $skey)echo'selected'; ?>><?php echo  $state ?></option>
                                                        <?php endforeach; ?>
                                                        </select>
                                                    </td>

                                                    <td colspan="2" class="tright"><label for=""><span class="required">*</span>Zip/Postal Code</label></td>
                                                    <td><input type="text" id="edit_Zipcode" name="Zipcode" class="input150w" value="<?php echo $this->wo->Zipcode ?>" /></td>
                                                </tr>
                                                <tr>
                                                    <td class=""><label for="">Site Phone</label></td>
                                                    <td><input type="text" id="edit_SitePhone" name="SitePhone" class="input150w" value="<?php echo $this->wo->SitePhone ?>" style="margin-bottom:2px;" /></td>
                                                    <td>&#160;</td>
                                                    <td class="tright"><label for="">Site Fax</label></td>
                                                    <td><input type="text" id="edit_SiteFax" name="SiteFax" class="perWidth100" value="<?php echo $this->wo->SiteFax ?>" style="margin-bottom:2px;" /></td>
                                                    <td>&#160;</td>
													<td class=""><label for="">Site Email</label></td>
													<td><input type="text" id="edit_SiteEmail" name="SiteEmail" class="input150w" value="<?php echo $this->wo->SiteEmail ?>" style="margin-bottom:2px;" /></td>
                                                </tr>
												<tr>
													<td>&#160;</td>
													<td><span class="tColor3 smallText">(###) ###-####</span></td>
													<td colspan="2">&#160;</td>
													<td><span class="tColor3 smallText">(###) ###-####</span></td>
													<td colspan="2">&#160;</td>
													<td><span class="tColor3 smallText">ex. john@site.com</span></td>
												</tr>
                                            </table>
                                        </td>
									<td>&#160;</td>
                                </tr>
                                <tr>
									<td colspan="4" class="innerTop">&#160;</td>
									<td>&#160;</td>
                                </tr>
									<tr>
									   <td class="subheader">Service Schedule</td>
										<td colspan="2">
											<table cellpadding="0" cellspacing="0">
												<tr>
													<td>
														<div class="blueBox floatRight">
														  <div class="blueBox_1">
															<div class="blueBox_2">
															  <div class="blueBox_3">
																<div class="blueBox_4"> <span class="title2 tBold">Start Time</span>
																  <table class="perWidth100" cellpadding="0" cellspacing="0">
																	<col width="20%" />
																	<col width="60%" />
																	<col width="20%" />
																	<tr>
																	  <td class="tright"><label for="">Date</label></td>
																	  <td><input type="text" id="edit_StartDate" name="StartDate" class="perWidth100" value="<?php echo $this->displayDate('n/j/Y',$this->wo->StartDate)?>" size="8">
																		<span class="tColor3 smallText">MM/DD/YYYY</span> </td>
																	  <td>&nbsp;</td>
																	</tr>
																	<tr>
																	  <td class="tright"><label for="">Time</label></td>
																	  <td><input type="text" id="edit_StartTime" name="StartTime" class="perWidth100" value="<?php echo $this->displayDate('h:i A',$this->wo->StartTime)?>" />
																		<span class="tColor3 smallText">H:MM AM/PM</span></td>
																	  <td>&#160;</td>
																	</tr>
																  </table>
																</div>
															  </div>
															</div>
														  </div>
														</div>
													</td>
													<td>
														<div class="blueBox">
														  <div class="blueBox_1">
															<div class="blueBox_2">
															  <div class="blueBox_3">
																<div class="blueBox_4"> <span class="title2 tBold">End Time</span>
																  <table class="perWidth100" cellpadding="0" cellspacing="0">
																	<col width="20%" />
																	<col width="60%" />
																	<col width="20%" />
																	<tr>
																	  <td class="tright"><label for="">Date</label></td>
																	  <td><input type="text" id="edit_EndDate" name="EndDate" class="perWidth100" value="<?php echo $this->displayDate('n/j/Y',$this->wo->EndDate)?>" size="8">
																		<span class="tColor3 smallText">MM/DD/YYYY</span> </td>
																	  <td>&nbsp;</td>
																	</tr>
																	<tr>
																	  <td class="tright"><label for="">Time</label></td>
																	  <td><input type="text" id="edit_EndTime" name="EndTime" class="perWidth100" value="<?php echo $this->displayDate('h:i A',$this->wo->EndTime)?>" />
																		<span class="tColor3 smallText">H:MM AM/PM</span></td>
																	  <td>&#160;</td>
																	</tr>
																  </table>
																</div>
															  </div>
															</div>
														  </div>
														</div>
													</td>
												</tr>
											</table>
										</td>
										<td>
											<p><label for="" style="vertical-align: middle;">Estimated on-site arrival time</label>&#160;&#160;<input type="text" id="edit_StartRange" name="StartRange" class="input150w" value="<?php echo $this->wo->StartRange?>" /></p>
											<p><span class="indentTop indentRightSmall floatLeft">Estimated Duration (ex. 2.5 hrs)</span><br />
											<input type="text" id="edit_Duration" name="Duration" class="width80 floatRight_" value="<?php echo $this->wo->Duration?>" /><br /></p>
										</td>
										
									</tr>
									<tr>
										<td colspan="4" class="innerTop">&#160;</td>
										
									</tr>
									<tr>
										<td>&#160;</td>
										<td class="tleft" style="vertical-align:top;"><label for="">Update Requested?</label>&#160;<input type="checkbox" style="margin: 0px;" id="edit_Update_Requested" name="Update_Requested" <?php if($this->wo->Update_Requested)echo'checked';?> /></td>
										<td class="tleft" style="vertical-align:top;width:280px;"><label for="" class="tleft_">Reason for Update</label>&#160;&#160;<input type="text" name="Update_Reason" class="perWidth100_" style="margin:0px;" value="<?php echo $this->escape($this->wo->Update_Reason)?>"/></td>
										<td>&nbsp;</td>
						
									</tr>
								</table>
	<?php endif;?>
<?php else :?>
    <?php if ( $this->errors && !is_string($this->errors) && strlen($this->errors) ):?>
        <?=$this->errors?>
    <?php else : ?>
        Sorry, error was occur.
    <?php endif;?>
<?php endif;?>
