<?php $wo = $this->wo; ?>
<?php if ($this->popup = 'yes'): ?>
<table>
    <tr>
        <td>Tech Complete: <?=($wo->TechMarkedComplete)?'Yes':'No'?></td>
        <td>&#160;</td>
    </tr>
    <tr>
        <td>Date/Time Check-In</td>
        <td><?=$wo->Date_In.' '.$wo->Time_In?></td>
    </tr>
    <tr>
        <td>Date/Time Check-Out</td>
        <td><?=$wo->Date_Out.' '.$wo->Time_Out?></td>
    </tr>
    <tr>
        <td>Help Desk Contacted</td>
        <td><?=$wo->ContactHD?></td>
    </tr>
    <tr>
        <td>Total Tech Miles</td>
        <td><?=$wo->TechMiles?></td>
    </tr>
    <tr>
        <td>Tech Comments:</td>
        <td><?=$wo->TechComments?></td>
    </tr>
    <tr>
        <td>Tech File 1:</td>
        <td><?=($wo->Pic1_FromTech)?$wo->Pic1_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td>Tech File 2:</td>
        <td><?=($wo->Pic2_FromTech)?$wo->Pic2_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td>Tech File 3:</td>
        <td><?=($wo->Pic3_FromTech)?$wo->Pic3_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td><a href="https://www.fieldsolutions.com/techs/parts/parts.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->companyId?>" target="_blank">Tech Parts Details</a></td>
        <td>New parts:  Return parts: </td>
    </tr>
</table>
<?php else :?>
<table cellpadding="0" cellspacing="0" class="sectionFormTop labelIndent">
                              <col width="120px" />
                                <col width="245px" />
                                <col width="*" />
                                <col width="*" />
                                
                              <tr>
                                    <td class="subheader">Tech Check In/Out</td>
									<td colspan="3">
										<table cellpadding="0" cellspacing="0" width="60%">
											<col width="53%" />
											<col width="*" />
											<tr>
												<td class="">
														<label class="width70">Check-In</label> <?php echo $this->displayDate('n/j/Y',$this->wo->Date_In)?>&#160;<?php echo $this->displayDate('h:i:s A',$this->wo->Time_In)?>
												</td>
												<td class="">
														<label class="width70">Check-Out</label> <?php echo $this->displayDate('n/j/Y',$this->wo->Date_Out)?>&#160;<?php echo $this->displayDate('h:i:s A',$this->wo->Time_Out)?>
												</td>
											</tr>
											<tr>
												<td colspan="4" class="innerTop">&#160;</td>
												<td></td>
											</tr>
											<tr>
												<td class="tleft">
														<label class="width170">Total Duration On-Site (calc)</label>
                                                        <?php echo  $this->displayTotalHours($this->wo->Date_In, $this->wo->Time_In, $this->wo->Date_Out, $this->wo->Time_Out) ?>
												</td>
												<td class="tleft">
														<label class="width50">Miles</label> <?php echo $this->wo->TechMiles?>
												</td>
											</tr>
											<tr>
												<td colspan="4" class="innerTop">&#160;</td>
												<td></td>
											</tr>
										</table>
									</td>
									
                              </tr>
                              <tr>
                                    <td class="subheader">Documents and Parts</td>
                                    <td ><label class="width240">Tech Documents</label></td>
                                    <td colspan="2">
										<table cellpadding="0" cellspacing="0" width='100%'>
											<tr>
												<td id="UploadTechPicsNew"><input type="file" id="PicTech1" name="PicTech1" class="indentTop5" /><label><span id="attachment_description_label_content"> Optional description </span><input type="text" value="" class="input150w" name="PicDescrTech1" id="PicDescrTech1"  maxlength="25"></label></td>
											</tr>
											<tr>
												<td><a onclick="addFileField('Tech'); return false;" href="#">Add another file</a></td>
											</tr>
											<tr>
		<?php
		if(!empty($this->files)){
		    foreach($this->files as $k=>$f){
			if($f->type == 2){
		?>
			<div>
		<a class="ajaxLink" href="/widgets/dashboard/do/file-wos-documents-download/filename/<?php echo base64_encode(urlencode($f->path))?>/<?php echo  ltrim($f->path, '/') ?>"><?php echo  ltrim($f->path, '/') ?></a><?php if(!empty($f->description)):?><span> - <?php echo  $f->description?></span><?php endif;?>
		<span><input type="checkbox" name="removefiles[]" id="Pic2_FromTech_Remove" value="<?php echo  $f->id?>" onclick="detailsWidget.confirmRemoveFile(this, '<?php echo  ltrim($f->path, '/') ?>');"/>&nbsp;<label for="Pic2_Remove">Remove</label></span>
				                                    </div>
		<? }}}?>
	</tr>
										</table>
                                    </td>
									
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td class=""><label class="width240">FS-Parts Manager</label></td>
                                    <td colspan="2" class="tleft"><a href="javascript:void(0)" onclick="openPopupWin('parts/list.php?woId=<?php echo $this->wo->WIN_NUM?>&v=<?php echo $this->company?>','')" class="indentRightLarge">FS-Parts Manager</a> Return Parts ( <?php echo ($this->wo->ReturnPartCount)?$this->wo->ReturnPartCount+0:0;?> )</td>
									
                              </tr>
                              <tr>
									<td>&#160;<span class="subheader">Tech Site Completion Report</span></td>
									<td colspan="3" class="innerTop">
									<table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class=""><input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" class="" style="float:left;" <?php echo ($this->wo->Paperwork_Received)?'checked':''?> /></td>
                                            <td nowrap><label class="width240" style="*margin-top:2px;">&#160;&#160;Paperwork Received </label></td>
                                            <td><input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" class="" <?php echo ($this->wo->Incomplete_Paperwork)?'checked':''?> /></td>
                                       	  <td nowwrap colspan="2"><label class="width240" style="*margin-top:2px;">&#160;&#160;Paperwork Incomplete</label></td>
                                        </tr>
                                        <tr>
                                        	<td><input type="checkbox" value="1" id="edit_TechMarkedComplete" name="TechMarkedComplete" class="" style="float:left;" <?php echo ($this->wo->TechMarkedComplete)?'checked':''?>  class="" /></td>
                                            <td><label class="width240">&#160;&#160;Site Marked Complete by Tech</label></td>
                                            <td><input type="checkbox" value="1" id="edit_CallClosed" name="CallClosed" class="" <?php echo ($this->wo->CallClosed)?'checked':''?>  class="" /></td>
                                            <td colspan="2"><label class="width240">&#160;&#160;Site Marked Complete in Client System</label></td>
                                        </tr>
                                    </table>
								</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td  colspan="3"><label class="indentBottomSmall dBlock perWidth100">Tech Comments </label>
									<?php echo $this->escape($this->wo->TechComments)?></td>
									
                              </tr>
                              <tr>
									<td><span class="subheader">&#160;</span></td>
									<td colspan="3" class="innerTop">
										<table cellpadding="0" cellspacing="0">
	                                        <tr>
												<td class=""><input type="checkbox" value="1" id="edit_MarkIncompleteV" name="MarkIncompleteV" class="floatLeft" <?php echo (!$this->wo->TechMarkedComplete)?'disabled="disabled"':''?> /></td>
			                                    <td class="" colspan="2" nowrap><label class="width240">&#160;&#160;Mark Work Order Incomplete and notify Tech <span class="required2">* Comments Required</span></label></td>
												<td>&#160;</td>
											</tr>
										</table>
									</td>
                              </tr>
                              <tr>
									<td>&#160;</td>
                                    <td colspan="3" class="innerTop"><label class="indentBottomSmall dBlock perWidth100"><span class="required" id="section6req" style="display:none;">*</span>Incomplete Work Order Comments: required if site marked incomplete, specify tech requirements to complete</label>
									<textarea rows="3" cols="75" id="edit_MissingComments" name="MissingComments" ><?php echo $this->escape($this->wo->MissingComments)?></textarea></td>
									
                              </tr>
                               <tr>
									<td>&#160;</td>
                                    <td colspan="3" class="innerTop"><label class="indentBottomSmall dBlock perWidth100">Client Closing Comments</label>
									<textarea rows="3" cols="75" id="edit_ClientComments" name="ClientComments" ><?php echo $this->escape($this->wo->ClientComments)?></textarea></td>
									
                              </tr>
                             </table>
							 <?php endif;?>