<?php $wo = $this->wo; $woVisit = $this->woVisit;// 14005 ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="50%" />
    <col width="50%" />
    <tr>
        <td>Work Start Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $woVisit["StartDate"])?></td>
    </tr>
    <tr>
        <td>Start Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $woVisit["StartTime"])?></td>
    </tr>
    <tr>
        <td>Work End Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $woVisit["EndDate"])?></td>
    </tr>
    <tr>
        <td>End Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $woVisit["EndTime"])?></td>
    </tr>
    <!--817-->
    <tr>
        <td>Scheduled Duration:</td>
        <td>&#160;<?=sprintf('%.2f', $woVisit["Duration"]+0)?> Hour<?=($woVisit["Duration"]+0 > 1)?'s':''?></td>
    </tr>
    <!--end 817-->
    <tr>
        <td>Check In Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y',$woVisit["Date_In"])?></td>
    </tr>
    <tr>
        <td>Check In Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A',$woVisit["Time_In"])?></td>
    </tr>
    <tr>
        <td>Check Out Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y',$woVisit["Date_Out"])?></td>
    </tr>
    <tr>
        <td>Check Out Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A',$woVisit["Time_Out"])?></td>
    </tr>
    <!--817-->
    <tr>
        <td>Actual Duration:</td>
        <td>&#160;<?=sprintf('%.2f', $wo->calculatedTechHrs+0)?> Hour<?=($wo->calculatedTechHrs+0 > 1)? "s" : ""?></td>
    </tr>
    <!--end 817-->
</table>

