<?php
$wo = $this->wo;
$files = array();
foreach ($this->files as $f) {
    if ($f['type'] != Core_Files::TECH_FILE)
        continue;
	$files[] = $f;
}
?>
<table <?= (!empty($this->renderedFromWO)) ? "" : "class=\"popup_table\"" ?> width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>Tech uploads: 
            <?php
            if (count($files) === 0) {
                echo 'no documents';
            }
        ?>
        </td>
    </tr>
    <?php
    if (!empty($this->files)) {
        foreach ($files as $f) {
            if ($f->wobcatid == NULL) {
                ?>
        <tr>
            <td>
                        <a class="ajaxLink" href="http://<?= $_SERVER["HTTP_HOST"] ?>/widgets/dashboard/do/file-wos-documents-download/filename/<?= urlencode(base64_encode($f->path)) ?>/<?= ltrim($f->path, '/') ?>"><?= ltrim($f->path, '/') ?></a>   
            </td>
        </tr>
                <?php
            }
        }
    }
    //13383
    $CoreApiWosClass = new Core_Api_WosClass;
    $parents = $CoreApiWosClass->getWorkOrderTurnedOnBCats($wo->WIN_NUM);
    $numItem = count($parents);
    for ($i = 0; $i < $numItem; $i++) {
        if ($parents[$i]['docnum'] > 0) {
            ?>
            <tr>
                <td>
                    Tech Expense Claims (<?= $parents[$i]['bcatname'] ?>):  
                </td>
            </tr>
            <?php
            $Childs = $CoreApiWosClass->getDocumentListByWOBCatID($parents[$i]['bcatid']);
            foreach ($Childs as $child) {
                ?>
                <tr>
                    <td>

                        <div>
                            <a class="ajaxLink" href="http://<?= $_SERVER["HTTP_HOST"] ?>/widgets/dashboard/do/file-wos-documents-download/filename/<?= urlencode(base64_encode($child['path'])) ?>/<?= ltrim($child['path'], '/') ?>"><?= ltrim($child['uplfilename'], '/') ?></a>   
                        </div>

                    </td>
                </tr>
                <?php
            }
        }
    }
//end 13393
    ?>      

</table>
<form id="frmUpdatePaperwork">
    <div>
        <input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" style="float:left;" <?= ($this->wov2->Paperwork_Received) ? 'checked' : '' ?> />
        &nbsp;Paperwork Received
    </div>
    <div>
        <input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" <?= ($this->wov2->Incomplete_Paperwork) ? 'checked' : '' ?> />
        &nbsp;Paperwork Incomplete
    </div>
    <div style="text-align: center;">
        <input type="button" onclick="roll.hide();" value="Cancel" class="link_button_popup">
        &nbsp;
        <input type="button" value="Save" id="cmdSavePaperwork" class="link_button_popup">
        <input value="<?= $this->wov2->WIN_NUM ?>" name="win" type="hidden"/>
    </div>
</form>
<script>
    jQuery(window).ready(function(){
       wd._dashboardwo.buildEventUpdatePaperwork(); 
    });
</script>
