<?php

function commentsColumnSortClass($me, $col)
{
    return $me->sort == $col ? 'sortable ' . ('sort-' . strtolower($me->sortDir)) : 'sortable';
}

$rowcount = 0;
$rowcountempty = 0;
if (!empty($this->comments))
{

	foreach ($this->comments as $c)
    {
        if (empty($c->id))
        {
            $rowcountempty +=1;
        }
        $rowcount +=1;
    }
}

    ?>
<?php if ($rowcount > $rowcountempty): ?>
<thead>
<?php 
if($this->isGPM){
    echo("<col width=\"55px\" />");
}
?>        
    <col width="*" />
    <col width="90px" />
    <col width="95px" />
		<col width="55px" />
    <col width="60px" />
    <tr class="table_head tableHeader">
<?php if($this->isGPM){ ?>
            <th onclick="techProfile.commentsSort('ClientCompanyID', 1)" class="<?=commentsColumnSortClass($this, 'ClientCompanyID')?>">User</th>
<?php }?>                    
        <th onclick="techProfile.commentsSort('comment', 1)" class="<?= commentsColumnSortClass($this, 'comment') ?>">
            <?= $this->renderedFromWO ? 'Prior ' : '' ?>Comments
        </th>
        <th onclick="techProfile.commentsSort('skillCategory', 1)" class="<?= commentsColumnSortClass($this, 'skillCategory') ?>">Skill Category</th>
        <th onclick="techProfile.commentsSort('rating', 1)" class="<?= commentsColumnSortClass($this, 'rating') ?>">Rating</th>
        <th onclick="techProfile.commentsSort('likes', 1)" class="<?= commentsColumnSortClass($this, 'likes') ?>">Likes</th>
        <th onclick="techProfile.commentsSort('type', 1)" class="<?= commentsColumnSortClass($this, 'type') ?>">Type</th>
    </tr>
    </thead>
    <tbody>
        <?php
        if (empty($this->comments)):
            ?>
            <tr><td colspan='7'>No comments</td></tr>
            <?php
        else:
            foreach ($this->comments as $c)
            {
                $reportedByAttr = !empty($c->reportAbuseByClientID) ? "class='reportedAbuse' disabled='disabled'" : "";
                switch ($c->classification)
                {
                    case Core_Comments::CLASSIFICATION_FAVORABLE:
                        $thumb = 'thumbs-up.png';
                        break;
                    case Core_Comments::CLASSIFICATION_UNFAVORABLE:
                        $thumb = 'thumbs-down.png';
                        break;
                    default:
                        $thumb = '';
                }
                ?>
                <tr>
<?php if($this->isGPM){ ?>
                <td style="text-align: left"><span style="color: #6699CC;"><?=$c->ClientCompanyID?></span><br/><?=$c->UserName?></td>
<?php }?>                        
                    <td style="min-width: 150px">
                        <span style="float: right; margin-left: 3px">
                            <a href="javascript:techProfile.editComments(<?= $c->id ?>, <?= $c->clientID ?>)">edit</a><br/>
                            <a id="reportAbuse<?= $c->id ?>" href='javascript:void(0)' <?= $reportedByAttr ?> onclick="techProfile.commentReportAbuse(<?= $c->id ?>)">report abuse</a>
                        </span>
                        <div style='text-align: left'>
                            <span class='commentDate'>
                                <?= $this->displayDate('n/j/Y', $c->date) ?>
                            </span><br/>
                            <?= $c->comment ?>
                        </div>
                    </td>
                    <td style="text-align: left; padding-left: 3px;"><?= $c->getSkillCategory() ?></td>
                    <td>
                        <?php
                        $rating = $c->getJobRating();
                        if (empty($rating))
                            $rating = 0;
                        for ($i = 1; $i < 6; $i++)
                        {
                            ?>
                            <input type='radio' name='commentRating<?= $c->id ?>' class='starRating' disabled='disabled' <?= $rating == $i ? "checked='checked'" : "" ?> value=""/>
                            <?php
                        }
                        ?>
                    </td>
                    <td style="text-align: center"><?php if (!empty($thumb)): ?><img src="/widgets/images/<?= $thumb ?>" style='width: 17px; height: 22px'/><?php endif ?></td>
                    <td style="text-align: center"><?= Core_Comments::getType($c->type) ?></td>
                </tr>
                <?php
            }
            ?>
            <tr style='display:none'>
                <td>
                    <script type="text/javascript">
                        $('input.starRating').rating({disabled: true});
                    </script>
                </td>
            </tr>
    </tbody>
<?php endif; ?>

<?php endif; ?>