<?php
        function commentsColumnSortClass($me, $col) {
                return $me->sort==$col ? 'sortable ' . ('sort-' . strtolower($me->sortDir)) : 'sortable';
        }
?>
	<thead>
<?php 
if($this->isGPM){
    echo("<col width=\"55px\" />");
}
?>    
		<col width="*" />
		<col width="55px" />
		<col width="60px" />        
		<tr class="table_head tableHeader">
<?php if($this->isGPM){ ?>
            <th onclick="techProfile.commentsSort('ClientCompanyID', 0)" class="<?=commentsColumnSortClass($this, 'ClientCompanyID')?>">User</th>
<?php }?>            
			<th onclick="techProfile.commentsSort('comment', 0)" class="<?=commentsColumnSortClass($this, 'comment')?>">Comments</th>
			<th onclick="techProfile.commentsSort('likes', 0)" class="<?=commentsColumnSortClass($this, 'likes')?>">Likes</th>
			<th onclick="techProfile.commentsSort('type', 0)" class="<?=commentsColumnSortClass($this, 'type')?>">Type</th>
		</tr>
	</thead>
	<tbody>
<?php
	if (empty($this->comments))
    {
?>
	<tr><td colspan='3'>No comments</td></tr>
<?php
	} else {
        $pmContext =  $this->pmContext;
        $userClientID = $this->clientID;
        $userCompanyID = $this->Company_ID;
        $isGPM = $this->isGPM;
		foreach ($this->comments as $c) {
			$reportedByAttr = !empty($c->reportAbuseByClientID) ? "class='reportedAbuse' disabled='disabled'" : "";
            $comment = $c->comment;
            $commentType = $c->type;
            $commentClientID = $c->clientID;
            $commentClientCompanyID = $c->ClientCompanyID;
            $commentCompanyID = $c->Company_ID;

            $isClientDeniedComments = 0;
            $key1="Client Denied";
            if(stripos($comment,$key1)===false)  $isClientDeniedComments=0;
            else if(stripos($comment,$key1)==0) $isClientDeniedComments=1;
            
            $isTechNoLongerDeniedComments=0;
            $key2="This technician is no longer client denied";
            if(stripos($comment,$key2)===false)  $isTechNoLongerDeniedComments=0;
            else if(stripos($comment,$key2)==0) $isTechNoLongerDeniedComments=1;
            
			switch ($c->classification) {
				case Core_Comments::CLASSIFICATION_FAVORABLE:
					$thumb = 'thumbs-up.png';
					break;
				case Core_Comments::CLASSIFICATION_UNFAVORABLE:
					$thumb = 'thumbs-down.png';
					break;
				default:
					$thumb = '';
			}
				
?>
			<tr>
<?php if($this->isGPM){ 
    if($isClientDeniedComments==1 || $isTechNoLongerDeniedComments==1) 
    {
        $company_ID = $commentCompanyID;
    }
    else 
    {
        $company_ID = $commentClientCompanyID;    
    }
    if(empty($company_ID)) $company_ID = $pmContext;
    
    //13970
    $userName = $c->UserName;
    if($c->GeneratedByFSSystem==1){
        $userName = 'FS System';
    }
    //end 13970
    
?>
                <td style="text-align: left"><span style="color: #6699CC;"><?php echo($company_ID);?></span><br/><?=$userName?></td>
<?php }?>            
            
				<td><span style="float: right; margin-left: 3px"><a href="javascript:techProfile.editComments(<?=$c->id?>, <?=$c->clientID?>)">edit</a><br/><a id="reportAbuse<?=$c->id?>" href='javascript:void(0)' <?=$reportedByAttr?> onclick="techProfile.commentReportAbuse(<?=$c->id?>)">report abuse</a></span><div style='text-align: left'><span class='commentDate'><?=$this->displayDate('n/j/Y',$c->date)?></span><br/><?=$c->comment?></td>
				<td style="text-align: center"><?php if (!empty($thumb)):?><img src="/widgets/images/<?=$thumb?>" style='width: 17px; height: 22px'/><?php endif?></td>
				<td style="text-align: center"><?=Core_Comments::getType($c->type)?></td>
			</tr>
<?php
		}
	}
?>
	</tbody>
