<?php
	$c = $this->comment;
?>
<link media="all" type="text/css" href="/widgets/css/main.css" rel="stylesheet">
<form id="commentForm" method="post" action="/widgets/dashboard/comments/do-update/">
	<input id="commentID" type="hidden" name="id" value="<?=$c->id?>"/>
	<input id="techID" type="hidden" name="techID" value="<?=$this->techID?>"/>
	<input id="WIN_NUM" type="hidden" name="WIN_NUM" value="<?=$this->WIN_NUM?>"/>
	<table style="border-spacing: 0px; border-collapse: collapse; padding:0px;">
		<thead>
			<col width="120px"/>
			<col width="120px"/>
			<col width="120px"/>
			<tr><td>Type</td><td><img width="17" height="22" src="/widgets/images/thumbs-up.png" />&nbsp;Likes</td><td></td></tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select id="type" name="type">
						<option value="0" <?=empty($c->type) ? "selected='selected'" : ""?>>Private</option>
						<option value="1" <?=$c->type == 1 ? "selected='selected'" : ""?>>Company</option>
						<option value="2" <?=$c->type == 2 ? "selected='selected'" : ""?>>Public</option>
					</select>
				</td>
				<td>
					<select id="classification" name="classification">
						<option value="0" <?=empty($c->classification) ? "selected='selected'" : ""?>>Favorable</option>
						<?php /*<option value="1" <?=$c->classification == 1 ? "selected='selected'" : ""?>>Neutral</option>*/?>
						<option value="2" <?=$c->classification == 2 ? "selected='selected'" : ""?>>Unfavorable</option>
					</select>
				</td>
				<td>
					<input type="submit" value="Add Comment" class="link_button">
				</td>
			</tr>
			<tr>
				<td colspan='3'><textarea id="comment" name="comment" style='width: 100%; height: 210px'><?=$this->escape($c->comment)?></textarea></td>
			</tr>
		</tbody>
	</table>
</form>
