<?
$SurveyInfo = $this->SurveyInfo;
$filelayout3 = new Core_File();
//echo("layout-3");print_r($SurveyInfo);
$S4Q12_NumPicsImg = 0;
if($SurveyInfo['S4Q12_NumPics'] > 0){
	$S4Q12_NumPicsImg = $SurveyInfo['S4Q12_NumPics'];
}

function loadNumcombo($num, $default = 0, $idx = 1)
{
    $str = "";
    for ($i = $idx; $i <= $num; $i++)
    {
        $str.="<option value='" . $i . "' " . ($default == $i ? "selected" : "") . ">" . $i . "</option>";
    }
    return $str;
}

function loadYNAcombo()
{
    $str = "";

    $str.="<option value=''>Select</option>";
    $str.="<option value='1'>Yes</option>";
    $str.="<option value='0'>No</option>";
    return $str;
}

function loadQuartertInchcombo($default = "0")
{
    $str = "";

    $str.="<option value='0' " . ($default == "0" ? "selected" : "") . ">0/4</option>";
    $str.="<option value='0.25' " . ($default == "0.25" ? "selected" : "") . ">1/4</option>";
    $str.="<option value='0.5' " . ($default == "0.5" ? "selected" : "") . ">2/4</option>";
    $str.="<option value='0.75' " . ($default == "0.75" ? "selected" : "") . ">3/4</option>";
    return $str;
}

function loadmaterialcombo($default = "")
{
    $str = "";

    $str.="<option value='' " . ($default == "" ? "selected" : "") . ">Choose Material</option>";
    $str.="<option value='Stainless Steel' " . ($default == "Stainless Steel" ? "selected" : "") . ">Stainless Steel</option>";
    $str.="<option value='Corian (Simulated Stone)' " . ($default == "Corian (Simulated Stone)" ? "selected" : "") . ">Corian (Simulated Stone)</option>";
    $str.="<option value='Laminate' " . ($default == "Laminate" ? "selected" : "") . ">Laminate</option>";
    $str.="<option value='Other' " . ($default == "Other" ? "selected" : "") . ">Other</option>";
    return $str;
}

function loadtime()
{
    $TIME = "";
    $timepart3 = 0;
    $timepart2 = "";
    $timepart1 = "";

    for ($i = 0; $i < 24; $i++)
    {
        for ($j = 1; $j < 5; $j++)
        {
            if ($j == 1)
                $timepart2 = "00";
            else
                $timepart2 = ($j - 1) * 15;

            if ($i < 12 || $i == 24)
                $timepart3 = "AM";
            else
                $timepart3 = "PM";

            if ($i == 0)
                $timepart1 = "12";
            else if ($i < 13 && $i > 0)
                $timepart1 = $i;
            else
                $timepart1 = $i - 12;

            $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
            $TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
        }
    }
    return $TIME;
}
?>
<script type="text/javascript">
    $(document).ready(function() {
        var _S4Q1_Counter_Lowerat_CoffB = '<?= $SurveyInfo['S4Q1_Counter_Lowerat_CoffB'] ?>';
        if (_S4Q1_Counter_Lowerat_CoffB != '') {
            $('input:radio[name="S4Q1_Counter_Lowerat_CoffB"][value="' + parseInt(_S4Q1_Counter_Lowerat_CoffB) + '"]').attr('checked', true).trigger("click");
        }

    });

</script>

<script type="text/javascript">
	$("#S4Q11_Num").change(function() {
			console.log ("check 1");
		if ($(this).val() != '' && $(this).val() != '0') {
			console.log ("check 2");
			$("#S4Q12_Pics").show ();
		}
	});
</script>

<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="Section">Section 3 - Counter-top & Cabinet Type & Measurements Front of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="700px">
                <col width="*">
                <tr>
                    <td colspan="2">Examples of counter-top brew stations:</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <img src="/widgets/images/techsurvey/brewstationsA.png"/><br/>
                        <img src="/widgets/images/techsurvey/brewstationsB.png"/>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Is the counter height lower at the coffee brewer (see Image 4B above for an example):</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <col width="15px">
                            <col width="*">
                            <tr>
                                <td>
                                    <input type="radio" id="S4Q1_Counter_Lowerat_CoffBY" name="S4Q1_Counter_Lowerat_CoffB" <?= $SurveyInfo['S4Q1_Counter_Lowerat_CoffB'] == 1 ? " checked" : "" ?> value='1'>
                                </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="S4Q1_Counter_Lowerat_CoffBN" name="S4Q1_Counter_Lowerat_CoffB" <?= $SurveyInfo['S4Q1_Counter_Lowerat_CoffB'] == 0 ? " checked" : "" ?> value='0'>
                                </td>
                                <td>No</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Enter the maximum unbroken length of the counter-top brew station, to the nearest quarter inch (if the counter height is lower at the coffee brewer; please measure only the length of the dropped area):</td>
                    <td>
                        <select id="S4Q2_NumOfUnit" style="width:120px;" name="S4Q2_IntLengh">
                            <option value="">Select Length</option>
                            <?= loadNumcombo(100, $SurveyInfo['S4Q2_IntLengh']); ?>
                        </select>
                        <select id="S4Q2_Unit" style="width:50px;" name="S4Q2_Fraction">
                            <?= loadQuartertInchcombo($SurveyInfo['S4Q2_Fraction']); ?>
                        </select>
                        inches
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enter the height from the Backline counter-top to the underside of the STANDARD CABINETS, to the nearest quarter inch:</td>
                    <td>
                        <select id="S4Q3_NumOfUnit" style="width:120px;" name="S4Q3_IntLengh">
                            <option value="">Select Length</option>
                            <?= loadNumcombo(100, $SurveyInfo['S4Q3_IntLengh']); ?>
                        </select>
                        <select id="S4Q3_Unit" style="width:50px;" name="S4Q3_Fraction">
                            <?= loadQuartertInchcombo($SurveyInfo['S4Q3_Fraction']); ?>
                        </select>
                        inches
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/BacklinecountertopA.png"/>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Enter the height from the Backline counter-top to the underside of the MENU BOARD, to the nearest quarter inch:</td>
                    <td>
                        <select id="S4Q4_NumOfUnit" style="width:120px;" name="S4Q4_IntLengh">
                            <option value="">Select Length</option>
                            <?= loadNumcombo(100, $SurveyInfo['S4Q4_IntLengh']); ?>
                        </select>
                        <select id="S4Q4_Unit" style="width:50px;" name="S4Q4_Fraction">
                            <?= loadQuartertInchcombo($SurveyInfo['S4Q4_Fraction']); ?>
                        </select>
                        inches
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/BacklinecountertopB.png"/>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Enter the height from the Backline counter-top to the underside of the LOWEST CABINET, to the nearest quarter inch:</td>
                    <td>
                        <select id="S4Q5_NumOfUnit" style="width:120px;" name="S4Q5_IntLengh">
                            <option value="">Select Length</option>
                            <?= loadNumcombo(100, $SurveyInfo['S4Q5_IntLengh']); ?>
                        </select>
                        <select id="S4Q5_Unit" style="width:50px;" name="S4Q5_Fraction">
                            <?= loadQuartertInchcombo($SurveyInfo['S4Q5_Fraction']); ?>
                        </select>
                        inches
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/BacklinecountertopC.png"/>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Upload photo of the entire brew station area (including adjacent sinks if applicable):</td>
                    <td>
                        <input type="file" id="S4Q6_Pic" name="S4Q6_Pic"><br/>
                        <?
                        if (!empty($SurveyInfo['S4Q6_Pic']))
                        {
                            ?>
                            <p>
                                <?
                                $uploadResult = $filelayout3->getS3Url($SurveyInfo['S4Q6_Pic'], S3_TECHS_DOCS_DIR);
                                ?>
                                <a target="_blank" href="<?= $uploadResult ?>"  imgid="S4Q6_Pic"><?= $SurveyInfo['S4Q6_Pic'] ?></a>
                            </p>
                            <?
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/brewstationsA.png"/><br/>
                        <img src="/widgets/images/techsurvey/brewstationsB.png"/>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Choose the brew station counter-top material:</td>
                    <td>
                        <select id="S4Q7_CounterTopMaterial" name="S4Q7_CounterTopMaterial" class="Material">
                            <?= loadmaterialcombo($SurveyInfo['S4Q7_CounterTopMaterial']); ?>
                        </select>
                        <?php $S4Q7other = empty($SurveyInfo['S4Q7_CounterTopMaterial_Other']) ? 'Description' : $SurveyInfo['S4Q7_CounterTopMaterial_Other'] ?>                        
                        <input id="S4Q7_CounterTopMaterial_Other" value="<?= $S4Q7other ?>" type="text" maxlength="24" name="S4Q7_CounterTopMaterial_Other" style="<?=empty($SurveyInfo['S4Q7_CounterTopMaterial_Other']) ?"color:#a6a6a6;":""?><?=$SurveyInfo['S4Q7_CounterTopMaterial']==="Other"?"":"display:none;"?>" class="txtDescription">
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Plumbing Supply Line Grommet Holes</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="700px">
                            <col width="*">
                            <tr>
                                <td>Enter the number of grommet holes cut in the brew station countertop to run <b>plumbing supply lines</b> that are up to 2.5 inches in diameter (this may require moving equipment away from the wall):</td>
                                <td>
                                    <select id="S4Q8_8_a_Num" style="width:70px;" name="S4Q8a_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q8a_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>plumbing supply lines</b> that are 2.5 - 3.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q8_8_b_Num" style="width:70px;" name="S4Q8b_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q8b_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>plumbing supply lines</b> that are 3.5 - 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q8_8_c_Num" style="width:70px;" name="S4Q8c_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q8c_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>plumbing supply lines</b> that are greater than 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q8_8_d_Num" style="width:70px;" name="S4Q8d_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q8d_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Total number of grommet holes for <b>plumbing supply lines</b>:</td>
                                <td>
                                    <?php
                                    $S4Q8Total = empty($SurveyInfo['S4Q8e_Total']) ? 0 : $SurveyInfo['S4Q8e_Total'];
                                    ?>                                                                
                                    <span id="S4Q8_8_Total" style="font-weight:bold"><?= $S4Q8Total ?></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Electrical Cord Grommet Holes</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="700px">
                            <col width="*">
                            <tr>
                                <td>Enter the number of grommet holes cut in the brew station countertop to run <b>electrical cords</b> that are up to 2.5 inches in diameter (this may require moving equipment away from the wall):</td>
                                <td>
                                    <select id="S4Q9_9_a_Num" style="width:70px;" name="S4Q9a_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q9a_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>electrical cords</b> that are 2.5 - 3.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q9_9_b_Num" style="width:70px;" name="S4Q9b_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q9b_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>electrical cords</b> that are 3.5 - 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q9_9_c_Num" style="width:70px;" name="S4Q9c_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q9c_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for <b>electrical cords</b> that are greater than 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q9_9_d_Num" style="width:70px;" name="S4Q9d_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q9d_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Total number of grommet holes for <b>electrical cords</b>:</td>
                                <td>
                                    <?php
                                    $S4Q9Total = empty($SurveyInfo['S4Q9e_Total']) ? 0 : $SurveyInfo['S4Q9e_Total'];
                                    ?>                                                                
                                    <span id="S4Q9_9_Total" style="font-weight:bold"><?= $S4Q9Total ?></span>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Shared Plumbing & Electrical Grommet Holes</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="700px">
                            <col width="*">
                            <tr>
                                <td>Enter the number of grommet holes cut in the brew station countertop for both <b>plumbing supply lines</b> AND <b>electrical cords</b> that are up to 2.5 inches in diameter (this may require moving equipment away from the wall):</td>
                                <td>
                                    <select id="S4Q10_10_a_Num" style="width:70px;" name="S4Q10a_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q10a_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for both <b>plumbing supply lines</b> AND <b>electrical cords</b> that are 2.5 - 3.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q10_10_b_Num" style="width:70px;" name="S4Q10b_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q10b_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for both <b>plumbing supply lines</b> AND <b>electrical cords</b> that are 3.5 - 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q10_10_c_Num" style="width:70px;" name="S4Q10c_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q10c_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enter the number of grommet holes for both <b>plumbing supply lines</b> AND <b>electrical cords</b> that are greater than 4.5 inches in diameter:</td>
                                <td>
                                    <select id="S4Q10_10_d_Num" style="width:70px;" name="S4Q10d_Num">
                                        <option value="">Select</option>
                                        <?= loadNumcombo(10, $SurveyInfo['S4Q10d_Num'], 0); ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Total number of grommet holes for both <b>plumbing supply lines</b> AND <b>electrical cords</b>:</td>
                                <td>
                                    <?php
                                    $S4Q10Total = empty($SurveyInfo['S4Q10e_Total']) ? 0 : $SurveyInfo['S4Q10e_Total'];
                                    ?>                                                                
                                    <span id="S4Q10_10_Total" style="font-weight:bold"><?= $S4Q10Total ?></span>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Enter the number of power outlets within the brew station: </td>
                    <td>
                        <select class="buildbrowsetoll" id="S4Q11_Num" style="width:70px;" name="S4Q11_Num" placeto="S4Q12_Pics" itemid="S4Q12_Pic">
                            <option value="">Select</option>
                            <?= loadNumcombo(5, $SurveyInfo['S4Q11_Num'], 0); ?>
                        </select>
						<input type="hidden" id="S4Q12_NumPicsImg" value="<?=$S4Q12_NumPicsImg?>"/>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Upload a photo of each power outlet within the brew station, including surrounding area:</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
					<?php 
					$S4Q11_Num = empty($SurveyInfo['S4Q11_Num']) ? 0 : $SurveyInfo['S4Q11_Num'];
					?>
                    <td id="S4Q12_Pics"<?= $S4Q11_Num == 0 ? "style='display: none;'" : "" ?>>
                        <?
                        if ($S4Q11_Num > 0)
                        {
                            for ($i = 1; $i <= $S4Q11_Num; $i++)
                            {
                                ?>
                                <input type="file" id="S4Q12_Pic<?= $i ?>" name="S4Q12_Pic<?= $i ?>"><br/>
                                <?
                            }
                        }
                        ?>

                    </td>
                </tr>
				<tr>
					<td></td><td></td>
					<td>
						<?php
						 if ($S4Q11_Num > 0){
							for ($i = 1; $i <= $S4Q11_Num; $i++){
								$S4Q12_Picid = "S4Q12_Pic" . $i;
								if (!empty($SurveyInfo[$S4Q12_Picid])){
									$uploadResult = $filelayout3->getS3Url($SurveyInfo[$S4Q12_Picid], S3_TECHS_DOCS_DIR);
									echo '<a target="_blank" href="'.$uploadResult.'" imgid="'.$S4Q12_Picid.'">'.$SurveyInfo[$S4Q12_Picid].'</a><br/>';
								}
							}
						}
						?>
					</td>
				</tr>
                <tr>
                    <td>13</td>
                    <td>Enter the number of electrical outlets in use by brewer(s) in the brew station:</td>
                    <td>
                        <select class="BuildTextInputWithLabel" id="S4Q13_BOutlet_InUse_Num" style="width:70px;" name="S4Q13_BOutlet_InUse_Num" placeto="S4Q13_BOutlet_VMeter" itemid="S4Q13a">
                            <option value="">Select</option>
                            <?= loadNumcombo(5, $SurveyInfo['S4Q13_BOutlet_InUse_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
               
                <tr>

                    <td>14</td>
                    <td>Unplug brewer(s) and, using your Voltage Meter, take a voltage reading from the outlet(s). Enter voltage reading from brewer outlet(s): </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" id="S4Q14_BOutlet_UnPlug_VMeter">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="100px">
                            <col width="*">
                            <?
                            $S4Q13_BOutlet_InUse_Num = 0;
                            if (!empty($SurveyInfo['S4Q13_BOutlet_InUse_Num']))
                            {
                                $S4Q13_BOutlet_InUse_Num = $SurveyInfo['S4Q13_BOutlet_InUse_Num'];
                            }
                            $arrchr = array(1 => "a", 2 => "b", 3 => "c", 4 => "d", 5 => "e");

                            if (!empty($S4Q13_BOutlet_InUse_Num))
                            {
                                for ($i = 1; $i <= $S4Q13_BOutlet_InUse_Num; $i++)
                                {
                                    $idval = "S4Q14" . $arrchr[$i] . "_BOutlet" . $i . "_Unplug_VMeter";
                                    ?>
                                    <tr>
                                        <td>Brewer Outlet #<?= $i ?>:</td>
                                        <td>
                                            <input id="<?= $idval ?>" value="<?= $SurveyInfo[$idval] ?>" type="text" maxlength="3" name="<?= $idval ?>">
                                        </td>
                                    </tr>
                                    <?
                                }//end of for
                            }
                            ?>
                        </table>
                    </td>
                </tr>                
            </table>
        </td>
    </tr>
</table>
