<?
$SurveyInfo = $this->SurveyInfo;
$fileLayout5 = new Core_File();
$S8Q2_Circuits_NumPicsImg = 0;
if($SurveyInfo['S8Q2_Circuits_NumPics'] > 0){
	$S8Q2_Circuits_NumPicsImg = $SurveyInfo['S8Q2_Circuits_NumPics'];
}

function loadNumcombol5($num, $default = 0, $idx = 1)
{
    $str = "";
    for ($i = $idx; $i <= $num; $i++)
    {
        $str.="<option value='" . $i . "' " . ($default == $i ? "selected" : "") . ">" . $i . "</option>";
    }
    return $str;
}

function loadYNAcombol5($default = "")
{
    $str = "";
    $str.="<option value='' " . ($default == "" ? "selected" : "") . ">Select</option>";
    $str.="<option value='1'" . ($default == "1" ? "selected" : "") . ">Yes</option>";
    $str.="<option value='0'" . ($default == "0" ? "selected" : "") . ">No</option>";
    return $str;
}

function loadQuartertInchcombol5($default = "0")
{
    $str = "";

    $str.="<option value='0' " . ($default == "0" ? "selected" : "") . ">0/4</option>";
    $str.="<option value='0.25' " . ($default == "0.25" ? "selected" : "") . ">1/4</option>";
    $str.="<option value='0.5' " . ($default == "0.5" ? "selected" : "") . ">2/4</option>";
    $str.="<option value='0.75' " . ($default == "0.75" ? "selected" : "") . ">3/4</option>";
    return $str;
}

function loadmaterialcombol5($default = "")
{
    $str = "";

    $str.="<option value='' " . ($default == "" ? "selected" : "") . ">Choose Material</option>";
    $str.="<option value='Stainless Steel' " . ($default == "Stainless Steel" ? "selected" : "") . ">Stainless Steel</option>";
    $str.="<option value='Corian (Simulated Stone)' " . ($default == "Corian (Simulated Stone)" ? "selected" : "") . ">Corian (Simulated Stone)</option>";
    $str.="<option value='Laminate' " . ($default == "Laminate" ? "selected" : "") . ">Laminate</option>";
    $str.="<option value='Other' " . ($default == "Other" ? "selected" : "") . ">Other</option>";
    return $str;
}

function loadtimel5()
{
    $TIME = "";
    $timepart3 = 0;
    $timepart2 = "";
    $timepart1 = "";

    for ($i = 0; $i < 24; $i++)
    {
        for ($j = 1; $j < 5; $j++)
        {
            if ($j == 1)
                $timepart2 = "00";
            else
                $timepart2 = ($j - 1) * 15;

            if ($i < 12 || $i == 24)
                $timepart3 = "AM";
            else
                $timepart3 = "PM";

            if ($i == 0)
                $timepart1 = "12";
            else if ($i < 13 && $i > 0)
                $timepart1 = $i;
            else
                $timepart1 = $i - 12;

            $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
            $TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
        }
    }
    return $TIME;
}
?>
<style>
    .tdSection{ font-weight: bold; font-size: 13px;padding: 5px 0; margin:0} 
</style>
<script type="text/javascript">
    $(document).ready(function() {
        var _chckThereOffSiteStorage = '<?= $SurveyInfo['S10Q7_IsThereOffSiteStorage'] ?>';
        if (_chckThereOffSiteStorage != '') {
            $('input:radio[name="S10Q7_IsThereOffSiteStorage"][value="' + parseInt(_chckThereOffSiteStorage) + '"]').attr('checked', true).trigger("click");
        }
		var _S10Q5_HasLockedEntrance = '<?= $SurveyInfo['S10Q5_HasLockedEntrance'] ?>';
        if (_chckThereOffSiteStorage != '') {
            $('input:radio[name="S10Q5_HasLockedEntrance"][value="' + parseInt(_S10Q5_HasLockedEntrance) + '"]').attr('checked', true).trigger("click");
        }
		$("#S10Q1_Other_Checked").change (function () {
			if ($(this).is(':checked')) {
				$("#S10Q1_Other").show ();
			}
			else {
				$("#S10Q1_Other").hide ();
			}
		});
    });

</script>
<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="Section">Section 7 - Electrical & Back of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">

                <tr>
                    <td>1</td>
                    <td>Upload a close-up photo of the electrical panel located in the Back of House:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td> 
                    <td></td>
                    <td>
                        <input type="file" id="S8Q1_ElecPanel_Pic" name="S8Q1_ElecPanel_Pic"> <br/>
                        <?php
                        if (!empty($SurveyInfo['S8Q1_ElecPanel_Pic']))
                        {
                            $dbfielname = $SurveyInfo['S8Q1_ElecPanel_Pic'];
                            $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                            if (!empty($dbfielname))
                            {

                                echo "<a imgid='S8Q1_ElecPanel_Pic' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                            }
                        }
                        ?>
                    </td>  

                </tr>
                <tr>
                    <td>2</td>
                    <td>Upload a close-up photo of all circuits in the Back of House (up to 5 photos)</td>
                    <td>
						<input type="hidden" value="<?=$S8Q2_Circuits_NumPicsImg?>" id="S8Q2_Circuits_NumPicsImg"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q2_Circuits_Pic1" name="S8Q2_Circuits_Pic1"> <br/>
                        <?php
                        if (!empty($SurveyInfo['S8Q2_Circuits_Pic1']))
                        {
                            $dbfielname = $SurveyInfo['S8Q2_Circuits_Pic1'];

                            $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                            if (!empty($dbfielname))
                            {

                                echo "<a imgid='S8Q2_Circuits_Pic1' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                            }
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q2_Circuits_Pic2" name="S8Q2_Circuits_Pic2" require="no"><br/>
                        <?php
                        if (!empty($SurveyInfo['S8Q2_Circuits_Pic2']))
                        {
                            $dbfielname = $SurveyInfo['S8Q2_Circuits_Pic2'];

                            $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                            if (!empty($dbfielname))
                            {

                                echo "<a imgid='S8Q2_Circuits_Pic2' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                            }
                        }
                        ?>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q2_Circuits_Pic3" name="S8Q2_Circuits_Pic3" require="no"><br/>
                        <?php
                        if(!empty($SurveyInfo['S8Q2_Circuits_Pic3']))
                        {
                        $dbfielname = $SurveyInfo['S8Q2_Circuits_Pic3'];

                        $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                        if (!empty($dbfielname))
                        {

                            echo "<a imgid='S8Q2_Circuits_Pic3' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                        }
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q2_Circuits_Pic4" name="S8Q2_Circuits_Pic4" require="no"> <br/>
                        <?php
                        if(!empty($SurveyInfo['S8Q2_Circuits_Pic4']))
                        {
                        $dbfielname = $SurveyInfo['S8Q2_Circuits_Pic4'];

                        $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                        if (!empty($dbfielname))
                        {

                            echo "<a imgid='S8Q2_Circuits_Pic4' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                        }
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q2_Circuits_Pic5" name="S8Q2_Circuits_Pic5" require="no"><br/>
                        <?php
                        if(!empty($SurveyInfo['S8Q2_Circuits_Pic5']))
                        {
                        $dbfielname = $SurveyInfo['S8Q2_Circuits_Pic5'];

                        $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                        if (!empty($dbfielname))
                        {

                            echo "<a imgid='S8Q2_Circuits_Pic5' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                        }
                        }
                        ?>
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Upload a close-up photo of the panel diagram located in the Back of House:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>

                    </td>
                    <td>
                        <input type="file" id="S8Q3_PanelDiagram_Pic" name="S8Q3_PanelDiagram_Pic" require="no">   <br/>
                        <?php
                        if(!empty($SurveyInfo['S8Q3_PanelDiagram_Pic']))
                        {
                        $dbfielname = $SurveyInfo['S8Q3_PanelDiagram_Pic'];

                        $uploadResult = $fileLayout5->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

                        if (!empty($dbfielname))
                        {

                            echo "<a imgid='S8Q3_PanelDiagram_Pic' href='" . $uploadResult . "' TARGET='_blank'>$dbfielname</a>";
                        }
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Locate 50 Amp panel. Describe location in facility:</td>
                    <td>
                        <input id="S8Q4_Locate_50AmpPanel" value="<?= $SurveyInfo['S8Q4_Locate_50AmpPanel'] ?>" type="text" maxlength="144" name="S8Q4_Locate_50AmpPanel">
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Enter the number of circuits in the 50 Amp panel:</td>
                    <td>
                        <input id="S8Q5_Circuits_AmpPanel_Num" value="<?= $SurveyInfo['S8Q5_Circuits_AmpPanel_Num'] ?>" type="text" maxlength="2" name="S8Q5_Circuits_AmpPanel_Num">
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Enter the number of available/not-in-use breaker slots:</td>
                    <td>
                        <select id="S8Q6_Notinuse_BSlots_Num" style="width:70px;" name="S8Q6_Notinuse_BSlots_Num">
                            <option value="">Select</option>
                            <?= loadNumcombol5(20, $SurveyInfo['S8Q6_Notinuse_BSlots_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Enter the number of breaker slots that are OFF:</td>
                    <td>
                        <select id="S8Q7_BSlotsOff_Num" style="width:70px;" name="S8Q7_BSlotsOff_Num">
                            <option value="">Select</option>
                            <?= loadNumcombol5(20, $SurveyInfo['S8Q7_BSlotsOff_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Section">Section 8 - Equipment Inventory - Back of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">
                <tr>
                    <td>1</td>
                    <td>Enter the total number of SERVERS in the Back of House:</td>
                    <td>
                        <select id="S9Q1_Servers_BHouse_Total" style="width:70px;" name="S9Q1_Servers_BHouse_Total">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S9Q1_Servers_BHouse_Total'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/Server.png"/>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Enter the total number of SINGLE STANDS in the Back of House:</td>
                    <td>
                        <select id="S9Q2_SS_BHouse_Total" style="width:70px;" name="S9Q2_SS_BHouse_Total">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S9Q2_SS_BHouse_Total'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/SingleStand.png"/>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enter the total number of DOUBLE STANDS in the Back of House:</td>
                    <td>
                        <select id="S9Q3_DS_BHouse_Total" style="width:70px;" name="S9Q3_DS_BHouse_Total">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S9Q3_DS_BHouse_Total'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/DoubleStand.png"/>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Enter the total number of AIRPOTS in the Back of House:</td>
                    <td>
                        <select id="S9Q4_AP_BHouse_Total" style="width:70px;" name="S9Q4_AP_BHouse_Total">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S9Q4_AP_BHouse_Total'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/Airpot.png"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Section">Section 9 - Site Access & Additional Observations</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">
                <tr>
                    <td>1</td>
                    <td>Enter store location type (check all that apply)</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td>
                                    <input id="S10Q1_StandAloneStore_Checked" type="checkbox" name="S10Q1_StandAloneStore_Checked" value="1" <?php if ($SurveyInfo['S10Q1_StandAloneStore_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Stand-Alone Store
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_IndoorsMall_Checked" type="checkbox" name="S10Q1_IndoorsMall_Checked" value="1" <?php if ($SurveyInfo['S10Q1_IndoorsMall_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Indoors Mall
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_OutdoorsMall_Checked" type="checkbox" name="S10Q1_OutdoorsMall_Checked" value="1" <?php if ($SurveyInfo['S10Q1_OutdoorsMall_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Outdoors Mall
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_FoodCourt_Checked" type="checkbox" name="S10Q1_FoodCourt_Checked" value="1" <?php if ($SurveyInfo['S10Q1_FoodCourt_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Food Court
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_Kiosk_Checked" type="checkbox" name="S10Q1_Kiosk_Checked" value="1" <?php if ($SurveyInfo['S10Q1_Kiosk_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Kiosk
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_InsideOtherRetailStore_Checked" type="checkbox" name="S10Q1_InsideOtherRetailStore_Checked" value="1" <?php if ($SurveyInfo['S10Q1_InsideOtherRetailStore_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Inside other Retail Store
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_SingleTenantOfficeBuil_Checked" type="checkbox" name="S10Q1_SingleTenantOfficeBuil_Checked" value="1" <?php if ($SurveyInfo['S10Q1_SingleTenantOfficeBuil_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Single-Tenant Office Building
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_MultiTenantOfficeBuil_Checked" type="checkbox" name="S10Q1_MultiTenantOfficeBuil_Checked" value="1" <?php if ($SurveyInfo['S10Q1_MultiTenantOfficeBuil_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Multi-Tenant Office Building
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_AirportBehindSecu_Checked" type="checkbox" name="S10Q1_AirportBehindSecu_Checked" value="1" <?php if ($SurveyInfo['S10Q1_AirportBehindSecu_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Airport-Behind Security
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_AirportInFrontofSecu_Checked" type="checkbox" name="S10Q1_AirportInFrontofSecu_Checked" value="1" <?php if ($SurveyInfo['S10Q1_AirportInFrontofSecu_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Airport-In Front of Security
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_RestrictedAccessGovFaci_Checked" type="checkbox" name="S10Q1_RestrictedAccessGovFaci_Checked" value="1" <?php if ($SurveyInfo['S10Q1_RestrictedAccessGovFaci_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Restricted Access Government Facility
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="S10Q1_Other_Checked" type="checkbox" name="S10Q1_Other_Checked" value="1" <?php if ($SurveyInfo['S10Q1_Other_Checked'] == 1) echo "checked='checked'"; ?>>
                                </td>
                                <td>
                                    Other<br/>
                                    <input type="text" id="S10Q1_Other" name="S10Q1_Other" style="<?=$SurveyInfo['S10Q1_Other_Checked'] == 1?"":"display:none;"?>" value="<?=$SurveyInfo['S10Q1_Other']?>">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Is this a secure facility requiring badged access?</td>
                    <td>
                        <select id="S10Q2_RequiringBadgedAccess" style="width:70px;" name="S10Q2_RequiringBadgedAccess">

                            <?= loadYNAcombol5($SurveyInfo['S10Q2_RequiringBadgedAccess']); ?>

                        </select>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enter number of keys required to access the Front of House, starting in parking lot with all building doors locked:</td>
                    <td>
                        <select id="S10Q3_Num" style="width:70px;" name="S10Q3_Num">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S10Q3_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Enter number of keys (in addition to Front of House) required to access Back of House:</td>
                    <td>
                        <select id="S10Q4_Num" style="width:70px;" name="S10Q4_Num">
                            <option value="">Select</option>
                            <?= loadNumcombol5(10, $SurveyInfo['S10Q4_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Does the Back of House have a separate locked entrance from the Front of House:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <col width="15px">
                            <col width="*">
                            <tr>
                                <td>
                                    <input type="radio" id="S10Q5_HasLockedEntranceY" name="S10Q5_HasLockedEntrance" value="1">
                                </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="S10Q5_HasLockedEntranceN" name="S10Q5_HasLockedEntrance" value="0">
                                </td>
                                <td>No</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Enter comments regarding any special access issues:</td>
                    <td>
                        <input id="S10Q6_Comments" value="<?= $SurveyInfo['S10Q6_Comments'] ?>" type="text" maxlength="144" name="S10Q6_Comments">
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Is there an off-site storage area</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <col width="15px">
                            <col width="*">
                            <tr>
                                <td>
                                    <input type="radio" id="S10Q7_IsThereOffSiteStorageY" name="S10Q7_IsThereOffSiteStorage" value="1">
                                </td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" id="S10Q7_IsThereOffSiteStorageN" name="S10Q7_IsThereOffSiteStorage" value="0">
                                </td>
                                <td>No</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Enter comments regarding any off-site storage areas or other observations you've made that are unique to this store:</td>
                    <td>
                        <input id="S10Q8_Comments" value="<?= $SurveyInfo['S10Q8_Comments'] ?>" type="text" maxlength="144" name="S10Q8_Comments">
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Actual On-Site Departure Date/Time:</td>
                    <td>
                        <?
                        if (!empty($this->SurveyInfo["S10Q9_ActualOnSiteDepDate"]))
                        {
                            $S10Q9_ActualOnSiteDepDate = $this->displayDate('n/j/Y', $this->SurveyInfo["S10Q9_ActualOnSiteDepDate"]);
                        } else
                        {
                            $S10Q9_ActualOnSiteDepDate = "";
                        }
                        ?>
                        <input id="S10Q9_ActualOnSiteDepDate" value="<?= $S10Q9_ActualOnSiteDepDate; ?>" style='width:80px;' title="MM/DD/YYYY" class="CalendarInput inputwatermark"  readonly  name="S10Q9_ActualOnSiteDepDate"/>
                        <select name="S10Q9_ActualOnSiteDepTime" readonly ><?= loadtimel5(); ?></select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!--S0_AllPhotos_Num,S0_AllPhotos_Zip-->
</table>