<?php
$wo = $this->wo;
$svInfo = $this->SurveyInfo;
$svTime = '';


if (!empty($svInfo['Sec1Q11_Date']) && $svInfo['Sec1Q11_Date'] != "0000-00-00")
{
    $strToTime = strtotime($svInfo['Sec1Q11_Date']);
    if ($strToTime != -1)
        $svTime = date("m/d/Y", $strToTime);
}

function getTimeSelect($selected){
    $timepart3 = 0;
    $timepart2 = "";
    $timepart1 = "";
    for ($i = 0; $i < 24; $i++)
    {
        for ($j = 1; $j < 5; $j++)
        {
            if ($j == 1)
                $timepart2 = "00";
            else
                $timepart2 = ($j - 1) * 15;

            if ($i < 12 || $i == 24)
                $timepart3 = "AM";
            else
                $timepart3 = "PM";

            if ($i == 0)
                $timepart1 = "12";
            else if ($i < 13 && $i > 0)
                $timepart1 = $i;
            else
                $timepart1 = $i - 12;

            $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
            if ($timestamp == $selected)
            {
                $TIME .= ("<option value='" . $timestamp . "' selected>" . $timestamp . "</option>");
            } else
            {
                $TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
            }
        }
    }
    return $TIME;
}
?>
<style>
    #dvlayout{width: 90%; margin: auto}
    #dvlayout h1{text-align: center; font-weight: bold;}
    #dvlayout ul{}
    #dvlayout ul li{padding: 5px 0}

    #dvlayout .dvSection{ font-weight: bold; font-size: 13px;padding: 5px 0; margin:0; color: #3399ff}
    #dvlayout .dvData{ margin-left: 300px; font-weight: bold;}
    #dvlayout table tr td{padding: 5px}
    #dvlayout table tr th{font-weight: normal;}
</style>
<script>
	$(document).ready(function(){
	
	});
</script>
<div id="dvlayout">
    <h1>Site Survey</h1>
    <p class="dvSection">Section 1 - Store & Tech Information </p>  
    <ul>
        <li>
            <table>
                <tr><td>1) WIN #:</td><td><b><?= $wo['WIN_NUM'] ?></b></td></tr>
                <tr><td>2) Store #:</td><td><b><?= $wo['SiteNumber'] ?></b></td></tr>
                <tr><td>3) Store Address:</td><td><b><?= $wo['Address'] ?></b></td></tr>
                <tr><td>4) Store City: </td><td><b><?= $wo['City'] ?></b></td></tr>
                <tr><td>5) Store State:</td><td><b><?= $wo['State'] ?></b></td></tr>
                <tr><td>6) Store Zip Code:</td><td><b><?= $wo['Zipcode'] ?></b></td></tr>
                <tr><td>7) Tech ID#: </td><td><b><?= $wo['Tech_ID'] ?></b></td></tr>
                <tr><td>8) Tech First Name: </td><td><b><?= $wo['Tech_FName'] ?></b></td></tr>
                <tr><td>9) Tech Last Name:</td><td><b><?= $wo['Tech_LName'] ?></b></td></tr>
                <tr><td>10) Scheduled On-Site Date/Time:</td><td><b><?= $this->displayDate('n/j/Y', $wo['StartDate']) ." ".$wo['StartTime'] ?></b></td></tr>
                <tr><td>11) Actual On-Site Date/Time:</td><td style="padding:0px;">
                        <table>
                            <tr>
                                <td style="padding:0px;">
                                    <input style="height:19px;" value="<?= empty($svTime) ? '' : $svTime ?>" title="MM/DD/YYYY" type="text" id="Sec1Q11_Date" name="Sec1Q11_Date" class="inputwatermark CalendarInput CheckInDate"  size="10" />
                                </td>
                                <td style="padding:0px;">
                                    <select name="Sec1Q11_Time" id="Sec1Q11_Time">
                                        <option value=''>Select Time</option>
                                        <?= getTimeSelect($svInfo['Sec1Q11_Time']) ?>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td></tr>
                <tr>
                    <td>12) Store has a Drive-Thru: </td>
                    <td>
						<?php
							if($svInfo['Sec1Q12_StoreHasDriveThru']==1){
						?>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruY" value="1" checked/> Yes </label>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruN" value="0"/> No </label>
						<?php							
							}elseif(isset ($svInfo['Sec1Q12_StoreHasDriveThru']) && $svInfo['Sec1Q12_StoreHasDriveThru']==0){
						?>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruY" value="1"/> Yes </label>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruN" value="0" checked/> No </label>
						<?php
						}else{
						?>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruY" value="1"/> Yes </label>
							<label><input type="radio" name="Sec1Q12_StoreHasDriveThru" id="Sec1Q12_StoreHasDriveThruN" value="0"/> No </label>	
						<?php
						}
						?>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        13) Upload a photo of the front of the store (include surrounding area for location verification):
                <p style="text-align: right; margin-right: 50px"> 
                    <input  type="file" name="Sec1Q13_FrontofStore" id="Sec1Q13_FrontofStore" value="<?=$picUrl?>"/>
					</br>
                </p> 
				 <p style="text-align: left;margin-left: 220px;"> 
				 <?php
					$picUrl = '';
					if(!empty($svInfo['Sec1Q13_FrontofStore'])){
						$file = new Core_File();
						$picUrl = $file ->getS3Url($svInfo['Sec1Q13_FrontofStore'], S3_TECHS_DOCS_DIR);	
						if(!empty($picUrl)){
							echo '<a target="_blank" href="'.$picUrl.'"  imgid="Sec1Q13_FrontofStore">'.$svInfo['Sec1Q13_FrontofStore'].'</a>';
						}
					}
				?>
				 </p>
                </td>
                </tr>
            </table>
        </li>
    </ul>
    <p class="dvSection">Required Tools</p>  
    <ul>
        <li>.  Handheld Voltage Meter / Multimeter</li>
        <li>.  Retractable Tape Measure</li>
    </ul>
    <ul>
        <p class="dvSection">Reference - Store Layout & Terminology</p>  
        <img src=" /widgets/images/techsurvey/StoreLayoutTerminology.png" alt="Section 2 - Reference - Store Layout & Terminology" title="Section 2 - Reference - Store Layout & Terminology"/>
    </ul>
</div>
