<?php
$svInfo = $this->SurveyInfo;
$picName = '';
$picUrl = '';
function geneSelectBox($name, $id, $length, $startIdx = 0, $selectIdx = '')
{
    $source = '<select name="' . $name . '" id="' . $id . '" style="width: 70px">';
    $source .= '<option value = "">Select</option>';
    if ($length > 0)
    {
        if ($name == 'S3Q8b_GR_Bline_Num' || $name == 'S3Q8c_GR_Fline_Num' || $name == 'S3Q8d_GR_DThru_Num' || $name == 'S3Q8e_GR_Others_Num')
        {
            if ($selectIdx != '')
            {
                for ($i = $startIdx; $i <= $length; $i++)
                {
                    if ($i == $selectIdx)
                    {
                        $source .= '<option value=' . $i . ' selected>' . $i . '</option>';
                    } else
                    {
                        $source .= '<option value=' . $i . '>' . $i . '</option>';
                    }
                }
            } else
            {
                for ($i = $startIdx; $i <= $length; $i++)
                {
                    if ($i == 0)
                    {
                        $source .= '<option value=' . $i . ' selected>' . $i . '</option>';
                    } else
                    {
                        $source .= '<option value=' . $i . '>' . $i . '</option>';
                    }
                }
            }
        } else
        {
            if ($selectIdx != '')
            {
				$selectIdx = (int)$selectIdx;
                for ($i = $startIdx; $i <= $length; $i++)
                {
                    if ($i == $selectIdx)
                    {
                        $source .= '<option value=' . $i . ' selected>' . $i . '</option>';
                    } else
                    {
                        $source .= '<option value=' . $i . '>' . $i . '</option>';
                    }
                }
            } else
            {
                for ($i = $startIdx; $i <= $length; $i++)
                {
					if($i==0){
						$source .= '<option value=' . $i . ' selected>' . $i . '</option>';
					}else{
						$source .= '<option value=' . $i . '>' . $i . '</option>';
					}
                }
            }
        }
    }
    $source .= '</select>';
    return $source;
}
?>
<style>
    #dvlayout2{width: 90%; margin: auto}
    #dvlayout2 h1{text-align: center; font-weight: bold;}
    #dvlayout2 ul{list-style: none; margin: 0 0 0 50px;padding: 0;}
    #dvlayout2 ul li{line-height: 25px;}
    #dvlayout2 .dvSection2{font-weight: bold; font-size: 13px;padding: 5px 0; margin:0; color: #3399ff}
    #dvlayout2  img{max-height: 200px;}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("input[name='Sec1Q12_StoreHasDriveThru']").change(function() {
            var _val = $(this).val();
            if (isNumber2(_val) && _val != '') {
                if (_val == '1') {
                    $('.thruArea').show();
                    //$("#ifmtechsurveyL4 #S5_Q_Total_Zero").html(parseInt($("#ifmtechsurveyL4 #S5_Q_2a_Num option:selected").val()) + parseInt($("#ifmtechsurveyL4 #S5_Q_3a_Num option:selected").val()) + parseInt($("#ifmtechsurveyL4 #S5_Q_4a_Num option:selected").val()));
					//
					
                } else {
                    $('.thruArea').hide();
					//$("#S3Q1d_SB_DThru_Num >option[value='']").attr('selected','selected');
					//$("#S3Q1d_SB_DThru_WLeftHW_Num >option[value='']").attr('selected','selected');
					//$("#S3Q1d_SB_DThru_WRightHW_Num >option[value='']").attr('selected','selected');
					//$("#S3Q2d_DB_DThru_Num >option[value='']").attr('selected','selected');
					//$("#S3Q2d_DB_DThru_WLeftHW_Num >option[value='']").attr('selected','selected');
					//$("#S3Q2d_DB_DThru_WRightHW_Num >option[value='']").attr('selected','selected');
					//$("#S3Q4f_SS_DThru_NumUnused >option[value='']").attr('selected','selected');
					//$("#S3Q4g_SS_DThru_Num >option[value='']").attr('selected','selected');
					//$("#S3Q5f_DS_DThru_NumUnused >option[value='']").attr('selected','selected');
					//$("#S3Q5g_DS_DThru_Num >option[value='']").attr('selected','selected');
					//$("#S3Q8d_GR_DThru_Num >option[value='']").attr('selected','selected');
					//$("#ifmtechsurveyL4 #S5_Q_3a_Num >option[value='']").attr('selected','selected');
					//$("#dvlayout2 .thruArea select").change();
                    //$("#ifmtechsurveyL4 #S5_Q_Total_Zero").html(parseInt($("#ifmtechsurveyL4 #S5_Q_2a_Num option:selected").val()) + parseInt($("#ifmtechsurveyL4 #S5_Q_4a_Num option:selected").val()));
                }
            }
        }).trigger('change');
        //Bind  
        $("#dvlayout2 select").change(function() {
            onchangeSelect();
        }).trigger('change');
        //------------------------------
        //Function generation,events selectbox
        //------------------------------
        function onchangeSelect() {
            //Single
            var _arrSB_Bline = ["S3Q1b_SB_Bline_Num", "S3Q1c_SB_Fline_Num", "S3Q1d_SB_DThru_Num", "S3Q1e_SB_Others_Num"];
            var _arrSB_BlineL = ["S3Q1b_SB_Bline_WLeftHW_Num", "S3Q1c_SB_Fline_WLeftHW_Num", "S3Q1d_SB_DThru_WLeftHW_Num", "S3Q1e_SB_Others_WLeftHW_Num"];
            var _arrSB_BlineR = ["S3Q1b_SB_Bline_WRightHW_Num", "S3Q1c_SB_Fline_WRightHW_Num", "S3Q1d_SB_DThru_WRightHW_Num", "S3Q1e_SB_Others_WRightHW_Num"];
            //Double
            var _arrDB_Bline = ["S3Q2b_DB_Bline_Num", "S3Q2c_DB_Fline_Num", "S3Q2d_DB_DThru_Num", "S3Q2e_DB_Others_Num"];
            var _arrDB_BlineL = ["S3Q2b_DB_Bline_WLeftHW_Num", "S3Q2c_DB_Fline_WLeftHW_Num", "S3Q2d_DB_DThru_WLeftHW_Num", "S3Q2e_DB_Others_WLeftHW_Num"];
            var _arrDB_BlineR = ["S3Q2b_DB_Bline_WRightHW_Num", "S3Q2c_DB_Fline_WRightHW_Num", "S3Q2d_DB_DThru_WRightHW_Num", "S3Q2e_DB_Others_WRightHW_Num"];
            //Single Stand
            var _arrStd_UnUsed = ["S3Q4b_SS_Bline_NumUnused", "S3Q4d_SS_Fline_NumUnused", "S3Q4f_SS_DThru_NumUnused", "S3Q4h_SS_Others_NumUnused"];
            var _arrStd_Num = ["S3Q4c_SS_Bline_Num", "S3Q4e_SS_Fline_Num", "S3Q4g_SS_DThru_Num", "S3Q4i_SS_Others_Num"];
            //Doubled Stand
            var _arrStdDb_UnUsed = ["S3Q5b_DS_Bline_NumUnused", "S3Q5d_DS_Fline_NumUnused", "S3Q5f_DS_DThru_NumUnused", "S3Q5h_DS_Others_NumUnused"];
            var _arrStdDb_Num = ["S3Q5c_DS_Bline_Num", "S3Q5e_DS_Fline_Num", "S3Q5g_DS_DThru_Num", "S3Q5i_DS_Others_Num"];
            //Grinders
            var _arrGrinders = ["S3Q8b_GR_Bline_Num", "S3Q8c_GR_Fline_Num", "S3Q8d_GR_DThru_Num", "S3Q8e_GR_Others_Num"];
            $("#dvlayout2").find('select').each(function() {
                var _id = $(this).attr("id").length;
                if (_id > 0) {
                    var _name = $(this).attr("id");
                    //Single
                    tsBindData(_name, _arrSB_Bline, 'S3Q1f_SB_Total');
                    tsBindData(_name, _arrSB_BlineL, 'S3Q1g_SB_WLeftHW_Total');
                    tsBindData(_name, _arrSB_BlineR, 'S3Q1h_SB_WRightHW_Total');
                    //Double
                    tsBindData(_name, _arrDB_Bline, 'S3Q2f_DB_Total');
                    tsBindData(_name, _arrDB_BlineL, 'S3Q2g_DB_WLeftHW_Total');
                    tsBindData(_name, _arrDB_BlineR, 'S3Q2h_DB_WRightHW_Total');
                    //Single Stand UnUsed
                    tsBindData(_name, _arrStd_UnUsed, 'S3Q4j_SS_TotalUnused');
                    //Single Stand Number
                    tsBindData(_name, _arrStd_Num, 'S3Q4k_SS_Total');
                    //Doubled Standard
                    tsBindData(_name, _arrStdDb_UnUsed, 'S3Q5j_DS_Unused_Total');
                    tsBindData(_name, _arrStdDb_Num, 'S3Q5k_DS_Total');
                    //Grinders
                    tsBindData(_name, _arrGrinders, 'S3Q8f_GR_Total');
                    //Disabled Left Right
                    if (_name == 'S3Q1b_SB_Bline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q1b_SB_Bline_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q1b_SB_Bline_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q1b_SB_Bline_WLeftHW_Num').removeAttr('disabled');
                            $("#S3Q1b_SB_Bline_WRightHW_Num").removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q1c_SB_Fline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q1c_SB_Fline_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q1c_SB_Fline_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q1c_SB_Fline_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q1c_SB_Fline_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q1d_SB_DThru_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q1d_SB_DThru_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q1d_SB_DThru_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q1d_SB_DThru_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q1d_SB_DThru_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q1e_SB_Others_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q1e_SB_Others_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q1e_SB_Others_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q1e_SB_Others_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q1e_SB_Others_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q2b_DB_Bline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q2b_DB_Bline_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q2b_DB_Bline_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q2b_DB_Bline_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q2b_DB_Bline_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q2c_DB_Fline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q2c_DB_Fline_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q2c_DB_Fline_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q2c_DB_Fline_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q2c_DB_Fline_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if ($("input[name='Sec1Q12_StoreHasDriveThru']").val() == "1" && _name == 'S3Q2d_DB_DThru_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q2d_DB_DThru_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q2d_DB_DThru_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q2d_DB_DThru_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q2d_DB_DThru_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    if (_name == 'S3Q2e_DB_Others_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q2e_DB_Others_WLeftHW_Num").attr("disabled", "disabled");
                            $("#S3Q2e_DB_Others_WRightHW_Num").attr("disabled", "disabled");
                        } else {
                            $('#S3Q2e_DB_Others_WLeftHW_Num').removeAttr('disabled');
                            $('#S3Q2e_DB_Others_WRightHW_Num').removeAttr('disabled');
                        }
                    }
                    
					//Disabled Singled Standard
					if (_name == 'S3Q4c_SS_Bline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q4b_SS_Bline_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q4b_SS_Bline_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q4e_SS_Fline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q4d_SS_Fline_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q4d_SS_Fline_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q4g_SS_DThru_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q4f_SS_DThru_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q4f_SS_DThru_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q4i_SS_Others_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q4h_SS_Others_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q4h_SS_Others_NumUnused').removeAttr('disabled');
                        }
                    }
					//Disabled Doubled Standard
					if (_name == 'S3Q5c_DS_Bline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q5b_DS_Bline_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q5b_DS_Bline_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q5e_DS_Fline_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q5d_DS_Fline_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q5d_DS_Fline_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q5g_DS_DThru_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q5f_DS_DThru_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q5f_DS_DThru_NumUnused').removeAttr('disabled');
                        }
                    }
					if (_name == 'S3Q5i_DS_Others_Num') {
                        var valNum = $(this).val();
                        if (valNum == '0' || valNum == '') {
                            $("#S3Q5h_DS_Others_NumUnused").attr("disabled", "disabled");
                        } else {
                            $('#S3Q5h_DS_Others_NumUnused').removeAttr('disabled');
                        }
                    }
					//------------------------------------
                    //GrindersBinding pictures
                    //------------------------------------
                    if (_name == 'S3Q8b_GR_Bline_Num') {
                        $("#S3Q8b_GR_Bline_Num").change(function(e) {
                            e.preventDefault();
                            var numGRBline = parseInt($(this).val());
                            numGRBline = parseInt(numGRBline);
                            if (numGRBline > 0) {
                                var _files = '';
                                for (var i = 1; i <= numGRBline; i++) {
                                    _files = _files + '<li>' + i + '. &nbsp;&nbsp;<input type="file" name="S3Q8b_GR_Bline_Pic' + i + '" id="S3Q8b_GR_Bline_Pic' + i + '"></li>';
                                }
                                $("#listGrBL").html(_files);
                                $("#listGrBL").parent().show();
                            } else {
                                $("#listGrBL").html('');
                                $("#listGrBL").parent().hide();
                            }
                        });
                    }
                    if (_name == 'S3Q8c_GR_Fline_Num') {
                        $("#S3Q8c_GR_Fline_Num").change(function(e) {

                            e.preventDefault();
                            var numGRFline = parseInt($(this).val());
                            if (numGRFline > 0) {
                                var _files = '';
                                for (var i = 1; i <= numGRFline; i++) {
                                    _files = _files + '<li>' + i + '. &nbsp;&nbsp;<input type="file" name="S3Q8c_GR_Fline_Pic' + i + '" id="S3Q8c_GR_Fline_Pic' + i + '"></li>';
                                }
                                $("#listGrFL").html(_files);
                                $("#listGrFL").parent().show();
                            } else {
                                $("#listGrFL").html('');
                                $("#listGrFL").parent().hide();
                            }
                        });
                    }
                    if (_name == 'S3Q8d_GR_DThru_Num') {
                        $("#S3Q8d_GR_DThru_Num").change(function(e) {
                            e.preventDefault();
                            var numGRFline = parseInt($(this).val());
                            if (numGRFline > 0) {
                                var _files = '';
                                for (var i = 1; i <= numGRFline; i++) {
                                    _files = _files + '<li>' + i + '. &nbsp;&nbsp;<input type="file" name="S3Q8d_GR_DThru_Pic' + i + '" id="S3Q8d_GR_DThru_Pic' + i + '"></li>';
                                }
                                $("#listGrDrvThru").html(_files);
                                $("#listGrDrvThru").parent().show();
                            } else {
                                $("#listGrDrvThru").html('');
                                $("#listGrDrvThru").parent().hide();
                            }
                        });
                    }
                    if (_name == 'S3Q8e_GR_Others_Num') {
                        $("#S3Q8e_GR_Others_Num").change(function(e) {
                            e.preventDefault();
                            var numGRFline = parseInt($(this).val());
                            if (numGRFline > 0) {
                                var _files = '';
                                for (var i = 1; i <= numGRFline; i++) {
                                    _files = _files + '<li>' + i + '. &nbsp;&nbsp;<input type="file" name="S3Q8e_GR_Others_Pic' + i + '" id="S3Q8e_GR_Others_Pic' + i + '"></li>';
                                }
                                $("#listGrArea").html(_files);
                                $("#listGrArea").parent().show();
                            } else {
                                $("#listGrArea").html('');
                                $("#listGrArea").parent().hide();
                            }
                        });
                    }
                }
            });
        }
        function tsBindData(_nameSt, _arrSt, _idSt) {
            if ($.inArray(_nameSt, _arrSt) > -1) {
                _sum = 0;
                $.each(_arrSt, function() {
                    var _val = $('#' + this).val();
                    if (_val != '') {
                        if (isNumber2(_val)) {
                            _sum = _sum + parseInt(_val);
                        }
                    }
                });
                $("#" + _idSt).html(_sum);
            }
        }
        function isNumber2(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        //Display Driver Thru
		var _chckDriverThru = '<?= $svInfo['Sec1Q12_StoreHasDriveThru'] ?>';
		if (_chckDriverThru != '') {
			if(_chckDriverThru=='1'){
				$('.thruArea').show();
			}else{
				$('.thruArea').hide();
			}
		}else{
			$('.thruArea').hide();
		}
	
    });
</script>
<div id="dvlayout2">
    <h1>Site Survey</h1>
    <p class="dvSection2">Section 2 - Equipment Inventory - Front of House(Brew Station)</p>  
    <ul>
        <li>1) Single Brewers
            <ul>
                <li>a. Example of a Single Brewer shown to right
                    <p><img src=" /widgets/images/techsurvey/SingleBrewer.png" alt="Single Brewers" title="Single Brewers"/></p>
                </li>
                <li>b. Enter the number of SINGLE Brewers on the <strong>Backline</strong>:
                    <span id="singBrwsBackLine">
<?php
if ($svInfo['S3Q1b_SB_Bline_Num'] == '')
{
    echo geneSelectBox('S3Q1b_SB_Bline_Num', 'S3Q1b_SB_Bline_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1b_SB_Bline_Num', 'S3Q1b_SB_Bline_Num', 10, 0, $svInfo['S3Q1b_SB_Bline_Num']);
}
?>
                    </span>
                    <ul>
                        <li>a. Enter the number of SINGLE Brewers on the Backline with a <strong>left</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsBackLineL">
<?php
if ($svInfo['S3Q1b_SB_Bline_WLeftHW_Num'] == '')
{
    echo geneSelectBox('S3Q1b_SB_Bline_WLeftHW_Num', 'S3Q1b_SB_Bline_WLeftHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1b_SB_Bline_WLeftHW_Num', 'S3Q1b_SB_Bline_WLeftHW_Num', 10, 0, $svInfo['S3Q1b_SB_Bline_WLeftHW_Num']);
}
?>
                            </span>
                        </li>
                        <li>b. Enter the number of SINGLE Brewers on the Backline with a <strong>right</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsBackLineR">
<?php
if ($svInfo['S3Q1b_SB_Bline_WRightHW_Num'] == '')
{
    echo geneSelectBox('S3Q1b_SB_Bline_WRightHW_Num', 'S3Q1b_SB_Bline_WRightHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1b_SB_Bline_WRightHW_Num', 'S3Q1b_SB_Bline_WRightHW_Num', 10, 0, $svInfo['S3Q1b_SB_Bline_WRightHW_Num']);
}
?>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>c. Enter the number of SINGLE Brewers on the <strong>Frontline</strong>
                    <span id="singBrwsFrontLine">
                                <?php
                                if ($svInfo['S3Q1c_SB_Fline_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q1c_SB_Fline_Num', 'S3Q1c_SB_Fline_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q1c_SB_Fline_Num', 'S3Q1c_SB_Fline_Num', 10, 0, $svInfo['S3Q1c_SB_Fline_Num']);
                                }
                                ?>
                    </span>  
                    <ul>
                        <li>a. Enter the number of SINGLE Brewers on the Frontline with a <strong>left</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsFrontLineL">
                        <?php
                        if ($svInfo['S3Q1c_SB_Fline_WLeftHW_Num'] == '')
                        {
                            echo geneSelectBox('S3Q1c_SB_Fline_WLeftHW_Num', 'S3Q1c_SB_Fline_WLeftHW_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q1c_SB_Fline_WLeftHW_Num', 'S3Q1c_SB_Fline_WLeftHW_Num', 10, 0, $svInfo['S3Q1c_SB_Fline_WLeftHW_Num']);
                        }
                        ?>
                            </span>       
                        </li>
                        <li>b. Enter the number of SINGLE Brewers on the Frontline with a <strong>right</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsFrontLineR">
                                <?php
                                if ($svInfo['S3Q1c_SB_Fline_WRightHW_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q1c_SB_Fline_WRightHW_Num', 'S3Q1c_SB_Fline_WRightHW_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q1c_SB_Fline_WRightHW_Num', 'S3Q1c_SB_Fline_WRightHW_Num', 10, 0, $svInfo['S3Q1c_SB_Fline_WRightHW_Num']);
                                }
                                ?>
                            </span>       
                        </li>
                    </ul>
                </li>
                <li class="thruArea">d. Enter the number of SINGLE Brewers in the <strong>Drive-Thru</strong> area: 
                    <span id="singBrwsDriveThru">
<?php
if ($svInfo['S3Q1d_SB_DThru_Num'] == '')
{
    echo geneSelectBox('S3Q1d_SB_DThru_Num', 'S3Q1d_SB_DThru_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1d_SB_DThru_Num', 'S3Q1d_SB_DThru_Num', 10, 0, $svInfo['S3Q1d_SB_DThru_Num']);
}
?>
                    </span>   
                    <ul>
                        <li>a. Enter the number of SINGLE Brewers on the Frontline with a <strong>left</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsDriveThruL">
<?php
if ($svInfo['S3Q1d_SB_DThru_WLeftHW_Num'] == '')
{
    echo geneSelectBox('S3Q1d_SB_DThru_WLeftHW_Num', 'S3Q1d_SB_DThru_WLeftHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1d_SB_DThru_WLeftHW_Num', 'S3Q1d_SB_DThru_WLeftHW_Num', 10, 0, $svInfo['S3Q1d_SB_DThru_WLeftHW_Num']);
}
?>
                            </span>   
                        </li>
                        <li>b. Enter the number of SINGLE Brewers on the Frontline with a <strong>right</strong></br>
                            Hot Water spigot: 
                            <span id="singBrwsDriveThruR">
                                <?php
                                if ($svInfo['S3Q1d_SB_DThru_WRightHW_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q1d_SB_DThru_WRightHW_Num', 'S3Q1d_SB_DThru_WRightHW_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q1d_SB_DThru_WRightHW_Num', 'S3Q1d_SB_DThru_WRightHW_Num', 10, 0, $svInfo['S3Q1d_SB_DThru_WRightHW_Num']);
                                }
                                ?>
                            </span>   
                        </li>
                    </ul>
                </li>
                <li>e.  Enter the number of SINGLE Brewers in all <strong>Other Areas</strong> of the store:
                    <span id="singBrwsArea">
<?php
if ($svInfo['S3Q1e_SB_Others_Num'] == '')
{
    echo geneSelectBox('S3Q1e_SB_Others_Num', 'S3Q1e_SB_Others_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1e_SB_Others_Num', 'S3Q1e_SB_Others_Num', 10, 0, $svInfo['S3Q1e_SB_Others_Num']);
}
?>
                    </span>   
                    <ul>
                        <li>a. Enter the number SINGLE Brewers in other areas of the store with left Hot Water spigot: 
                            <span id="singBrwsAreaL">
<?php
if ($svInfo['S3Q1e_SB_Others_WLeftHW_Num'] == '')
{
    echo geneSelectBox('S3Q1e_SB_Others_WLeftHW_Num', 'S3Q1e_SB_Others_WLeftHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q1e_SB_Others_WLeftHW_Num', 'S3Q1e_SB_Others_WLeftHW_Num', 10, 0, $svInfo['S3Q1e_SB_Others_WLeftHW_Num']);
}
?>
                            </span>   
                        </li>
                        <li>a. Enter the number SINGLE Brewers in other areas of the store with right Hot Water spigot: 
                            <span id="singBrwsAreaR">
                                <?php
                                if ($svInfo['S3Q1e_SB_Others_WRightHW_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q1e_SB_Others_WRightHW_Num', 'S3Q1e_SB_Others_WRightHW_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q1e_SB_Others_WRightHW_Num', 'S3Q1e_SB_Others_WRightHW_Num', 10, 0, $svInfo['S3Q1e_SB_Others_WRightHW_Num']);
                                }
                                ?>
                            </span>   
                        </li>
                    </ul>
                </li>
                <li>f. Total number of SINGLE Brewers in store: #
                    <span id="S3Q1f_SB_Total">

                    </span>
                </li>
                <li>g. Total number of SINGLE Brewers with Hot Water spigot on the left: #
                    <span id="S3Q1g_SB_WLeftHW_Total"></span>
                </li>
                <li>h. Total number of SINGLE Brewers with Hot Water spigot on the right: #
                    <span id="S3Q1h_SB_WRightHW_Total"></span>
                </li>
            </ul>
        </li>
        <li>2) Double Brewers 
            <ul>    
                <li>a. Example of a Double Brewer:
                    <p><img src=" /widgets/images/techsurvey/DoubleBrewer.png" alt="Double Brewers" title="Double Brewers"/></p>
                </li>
                <li>b.  Enter the number of DOUBLE Brewers on the <strong>Backline</strong>
                    <span id="doubleBrwsBackLine">
<?php
if ($svInfo['S3Q2b_DB_Bline_Num'] == '')
{
    echo geneSelectBox('S3Q2b_DB_Bline_Num', 'S3Q2b_DB_Bline_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2b_DB_Bline_Num', 'S3Q2b_DB_Bline_Num', 10, 0, $svInfo['S3Q2b_DB_Bline_Num']);
}
?>
                    </span>
                    <ul>
                        <li>a.  Enter the number of DOUBLE Brewers on Backline with left </br> Hot Water spigot: 
                            <span id="doubleBrwsBackLineL">
                                <?php
                                if ($svInfo['S3Q2b_DB_Bline_WLeftHW_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q2b_DB_Bline_WLeftHW_Num', 'S3Q2b_DB_Bline_WLeftHW_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q2b_DB_Bline_WLeftHW_Num', 'S3Q2b_DB_Bline_WLeftHW_Num', 10, 0, $svInfo['S3Q2b_DB_Bline_WLeftHW_Num']);
                                }
                                ?>
                            </span>
                        </li>
                        <li>b. Enter the number DOUBLE Brewers on Backline with right</br> Hot Water spigot: 
                            <span id="doubleBrwsBackLineR">
                        <?php
                        if ($svInfo['S3Q2b_DB_Bline_WRightHW_Num'] == '')
                        {
                            echo geneSelectBox('S3Q2b_DB_Bline_WRightHW_Num', 'S3Q2b_DB_Bline_WRightHW_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q2b_DB_Bline_WRightHW_Num', 'S3Q2b_DB_Bline_WRightHW_Num', 10, 0, $svInfo['S3Q2b_DB_Bline_WRightHW_Num']);
                        }
                        ?>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>c.  Enter the number of DOUBLE Brewers on the Frontline
                    <span id="doubleBrwsFrontLine">
                                <?php
                                if ($svInfo['S3Q2c_DB_Fline_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q2c_DB_Fline_Num', 'S3Q2c_DB_Fline_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q2c_DB_Fline_Num', 'S3Q2c_DB_Fline_Num', 10, 0, $svInfo['S3Q2c_DB_Fline_Num']);
                                }
                                ?>
                    </span>
                    <ul>
                        <li>a.  Enter the number of DOUBLE Brewers on Frontline with left </br> Hot Water spigot: 
                            <span id="doubleBrwsFrontLineL">
                                <?php
                                if ($svInfo['S3Q2c_DB_Fline_WLeftHW_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q2c_DB_Fline_WLeftHW_Num', 'S3Q2c_DB_Fline_WLeftHW_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q2c_DB_Fline_WLeftHW_Num', 'S3Q2c_DB_Fline_WLeftHW_Num', 10, 0, $svInfo['S3Q2c_DB_Fline_WLeftHW_Num']);
                                }
                                ?>
                            </span> 
                        </li>
                        <li>b. Enter the number DOUBLE Brewers on Frontline with right</br> Hot Water spigot: 
                            <span id="doubleBrwsFrontLineR">
                        <?php
                        if ($svInfo['S3Q2c_DB_Fline_WRightHW_Num'] == '')
                        {
                            echo geneSelectBox('S3Q2c_DB_Fline_WRightHW_Num', 'S3Q2c_DB_Fline_WRightHW_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q2c_DB_Fline_WRightHW_Num', 'S3Q2c_DB_Fline_WRightHW_Num', 10, 0, $svInfo['S3Q2c_DB_Fline_WRightHW_Num']);
                        }
                        ?>
                            </span> 
                        </li>
                    </ul>
                </li>
                <li class="thruArea">d.  Enter the number of DOUBLE Brewers in the Drive-Thru area:
                    <span id="doubleBrwsDriveThru">
<?php
if ($svInfo['S3Q2d_DB_DThru_Num'] == '')
{
    echo geneSelectBox('S3Q2d_DB_DThru_Num', 'S3Q2d_DB_DThru_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2d_DB_DThru_Num', 'S3Q2d_DB_DThru_Num', 10, 0, $svInfo['S3Q2d_DB_DThru_Num']);
}
?>
                    </span>
                    <ul>
                        <li>a.  Enter the number of DOUBLE Brewers on Drive-Thru with left </br> Hot Water spigot: 
                            <span id="doubleBrwsDriveThruL">
<?php
if ($svInfo['S3Q2d_DB_DThru_WLeftHW_Num'] == '')
{
    echo geneSelectBox('S3Q2d_DB_DThru_WLeftHW_Num', 'S3Q2d_DB_DThru_WLeftHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2d_DB_DThru_WLeftHW_Num', 'S3Q2d_DB_DThru_WLeftHW_Num', 10, 0, $svInfo['S3Q2d_DB_DThru_WLeftHW_Num']);
}
?>
                            </span>
                        </li>
                        <li>b. Enter the number DOUBLE Brewers on Drive-Thru with right</br> Hot Water spigot: 
                            <span id="doubleBrwsDriveThruR">
<?php
if ($svInfo['S3Q2d_DB_DThru_WRightHW_Num'] == '')
{
    echo geneSelectBox('S3Q2d_DB_DThru_WRightHW_Num', 'S3Q2d_DB_DThru_WRightHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2d_DB_DThru_WRightHW_Num', 'S3Q2d_DB_DThru_WRightHW_Num', 10, 0, $svInfo['S3Q2d_DB_DThru_WRightHW_Num']);
}
?>
                            </span>
                        </li>
                    </ul> 
                </li>
                <li>e.  Enter the number of DOUBLE Brewers in all other areas of the store:
                    <span id="doubleBrwsArea">
<?php
if ($svInfo['S3Q2e_DB_Others_Num'] == '')
{
    echo geneSelectBox('S3Q2e_DB_Others_Num', 'S3Q2e_DB_Others_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2e_DB_Others_Num', 'S3Q2e_DB_Others_Num', 10, 0, $svInfo['S3Q2e_DB_Others_Num']);
}
?>
                    </span>
                    <ul>
                        <li>a.  Enter the number of DOUBLE Brewers in OTHER areas of the store with left </br> Hot Water spigot: 
                            <span id="doubleBrwsAreaL">
                        <?php
                        if ($svInfo['S3Q2e_DB_Others_WLeftHW_Num'] == '')
                        {
                            echo geneSelectBox('S3Q2e_DB_Others_WLeftHW_Num', 'S3Q2e_DB_Others_WLeftHW_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q2e_DB_Others_WLeftHW_Num', 'S3Q2e_DB_Others_WLeftHW_Num', 10, 0, $svInfo['S3Q2e_DB_Others_WLeftHW_Num']);
                        }
                        ?>
                            </span>
                        </li>
                        <li>b. Enter the number DOUBLE Brewers in OTHER areas of the store with right</br> Hot Water spigot: 
                            <span id="doubleBrwsAreaR">
<?php
if ($svInfo['S3Q2e_DB_Others_WRightHW_Num'] == '')
{
    echo geneSelectBox('S3Q2e_DB_Others_WRightHW_Num', 'S3Q2e_DB_Others_WRightHW_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q2e_DB_Others_WRightHW_Num', 'S3Q2e_DB_Others_WRightHW_Num', 10, 0, $svInfo['S3Q2e_DB_Others_WRightHW_Num']);
}
?>
                            </span>
                        </li>
                    </ul> 
                </li>
                <li>f. Total number of DOUBLE Brewers in store: #
                    <span id="S3Q2f_DB_Total"></span>
                </li>
                <li>g. Total number of DOUBLE Brewers with Hot Water spigot on the left: #
                    <span id="S3Q2g_DB_WLeftHW_Total"></span>
                </li>
                <li>h.  Total number of DOUBLE Brewers with Hot Water spigot on the right: #
                    <span id="S3Q2h_DB_WRightHW_Total"></span> 
                </li>
            </ul>
        </li>
        <li>3) Servers  
            <ul>
                <li>a.  Example of a Server
                    <p><img src=" /widgets/images/techsurvey/Server.png" alt="Server" title="Server"/></p>
                </li>
                <li>b.  Enter the total number of servers (including those installed on a Single or Double Brewer, and including Back of House): 
                    <span id="serverTs">
                        <?php
                        if ($svInfo['S3Q3b_Servers_Total'] == '')
                        {
                            echo geneSelectBox('S3Q3b_Servers_Total', 'S3Q3b_Servers_Total', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q3b_Servers_Total', 'S3Q3b_Servers_Total', 10, 0, $svInfo['S3Q3b_Servers_Total']);
                        }
                        ?>
                    </span>
                </li>
            </ul>
        </li>
        <li>4) Single Stands
            <ul>
                <li>a.  Example of a Single Stand
                    <p><img src=" /widgets/images/techsurvey/SingleStand.png" alt="SingleStand" title="SingleStand"/></p>
                </li>
                <li>b. Enter the total number of SINGLE Stands on the Backline:
                    <span id="singStdTotalBackLine">
                        <?php
                        if ($svInfo['S3Q4c_SS_Bline_Num'] == '')
                        {
                            echo geneSelectBox('S3Q4c_SS_Bline_Num', 'S3Q4c_SS_Bline_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q4c_SS_Bline_Num', 'S3Q4c_SS_Bline_Num', 10, 0, $svInfo['S3Q4b_SS_Bline_NumUnused']);
                        }
                        ?>
                    </span> 
                </li>
				<li>c.  Enter the number of un-used SINGLE Stands on the Backline
                    <span id="singStdUnUsedBackLine">
                        <?php
                        if ($svInfo['S3Q4b_SS_Bline_NumUnused'] == '')
                        {
                            echo geneSelectBox('S3Q4b_SS_Bline_NumUnused', 'S3Q4b_SS_Bline_NumUnused', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q4b_SS_Bline_NumUnused', 'S3Q4b_SS_Bline_NumUnused', 10, 0, $svInfo['S3Q4b_SS_Bline_NumUnused']);
                        }
                        ?>
                    </span> 
                </li>
                 <li>d. Enter the total number of SINGLE Stands on the Frontline
                    <span id="singStdTotalFrontLine">
                                <?php
                                if ($svInfo['S3Q4e_SS_Fline_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q4e_SS_Fline_Num', 'S3Q4e_SS_Fline_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q4e_SS_Fline_Num', 'S3Q4e_SS_Fline_Num', 10, 0, $svInfo['S3Q4e_SS_Fline_Num']);
                                }
                                ?>
                    </span> 
                </li>
                <li>e. Enter the number of un-used SINGLE Stands on the Frontline
                    <span id="singStdNumUnUsedFrontLine">
<?php
if ($svInfo['S3Q4d_SS_Fline_NumUnused'] == '')
{
    echo geneSelectBox('S3Q4d_SS_Fline_NumUnused', 'S3Q4d_SS_Fline_NumUnused', 10, 0);
} else
{
    echo geneSelectBox('S3Q4d_SS_Fline_NumUnused', 'S3Q4d_SS_Fline_NumUnused', 10, 0, $svInfo['S3Q4d_SS_Fline_NumUnused']);
}
?>
                    </span> 
                </li>
				<li class="thruArea">f.  Enter the total number of SINGLE Stands in the Drive-Thru area: 
                    <span id="singStdTotalDriverThru">
                                <?php
                                if ($svInfo['S3Q4g_SS_DThru_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q4g_SS_DThru_Num', 'S3Q4g_SS_DThru_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q4g_SS_DThru_Num', 'S3Q4g_SS_DThru_Num', 10, 0, $svInfo['S3Q4g_SS_DThru_Num']);
                                }
                                ?>
                    </span> 
                </li>
                <li class="thruArea">g. Enter the number of un-used SINGLE Stands in the Drive-Thru area:
                    <span id="singStdNumUnUsedDriverThru">
                                <?php
                                if ($svInfo['S3Q4f_SS_DThru_NumUnused'] == '')
                                {
                                    echo geneSelectBox('S3Q4f_SS_DThru_NumUnused', 'S3Q4f_SS_DThru_NumUnused', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q4f_SS_DThru_NumUnused', 'S3Q4f_SS_DThru_NumUnused', 10, 0, $svInfo['S3Q4f_SS_DThru_NumUnused']);
                                }
                                ?>
                    </span> 
                </li>
                <li>h.  Enter the total number of SINGLE Stands in other areas of the store:
                    <span id="singStdTotalArea">
<?php
if ($svInfo['S3Q4i_SS_Others_Num'] == '')
{
    echo geneSelectBox('S3Q4i_SS_Others_Num', 'S3Q4i_SS_Others_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q4i_SS_Others_Num', 'S3Q4i_SS_Others_Num', 10, 0, $svInfo['S3Q4i_SS_Others_Num']);
}
?>
                    </span> 
                </li>
                <li>i.  Enter the number of un-used SINGLE Stands in other areas of the store:
                    <span id="singStdNumUnUsedArea">
                                <?php
                                if ($svInfo['S3Q4h_SS_Others_NumUnused'] == '')
                                {
                                    echo geneSelectBox('S3Q4h_SS_Others_NumUnused', 'S3Q4h_SS_Others_NumUnused', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q4h_SS_Others_NumUnused', 'S3Q4h_SS_Others_NumUnused', 10, 0, $svInfo['S3Q4h_SS_Others_NumUnused']);
                                }
                                ?>
                    </span> 
                </li>
                <li>j. Total number of SINGLE Stands: #
                    <span id="S3Q4k_SS_Total"></span>
                </li>
			   <li>k. Total number of un-used SINGLE Stands: #
                    <span id="S3Q4j_SS_TotalUnused"></span>
                </li>
               
            </ul>
        </li>
        <li>5)  Double Stands
            <ul>
                <li>a. Example of Double Stand:
                    <p><img src=" /widgets/images/techsurvey/DoubleStand.png" alt="DoubleStand" title="DoubleStand"/></p>
                </li>
                <li>b.  Enter the number of DOUBLE Stands on the Backline:
                    <ul>
                        <li> 
                            <span id="doubleStdNumberBackLine">
<?php
if ($svInfo['S3Q5c_DS_Bline_Num'] == '')
{
    echo geneSelectBox('S3Q5c_DS_Bline_Num', 'S3Q5c_DS_Bline_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q5c_DS_Bline_Num', 'S3Q5c_DS_Bline_Num', 10, 0, $svInfo['S3Q5c_DS_Bline_Num']);
}
?>
                            </span>
                        </li>
                    </ul>   
                </li>  
				<li>c.  Enter the number of un-used DOUBLE Stands on the Backline
                    <ul>
                        <li> 
                            <span id="doubleStdUnUsedBackLine">
<?php
if ($svInfo['S3Q5b_DS_Bline_NumUnused'] == '')
{
    echo geneSelectBox('S3Q5b_DS_Bline_NumUnused', 'S3Q5b_DS_Bline_NumUnused', 10, 0);
} else
{
    echo geneSelectBox('S3Q5b_DS_Bline_NumUnused', 'S3Q5b_DS_Bline_NumUnused', 10, 0, $svInfo['S3Q5b_DS_Bline_NumUnused']);
}
?>
                            </span>
                        </li>
                    </ul>   
                </li>
                
				<li>d.  Enter the number of DOUBLE Stands on the Frontline: 
                    <ul>
                        <li> 
                            <span id="doubleStdNumberFrontLine">
                                <?php
                                if ($svInfo['S3Q5e_DS_Fline_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q5e_DS_Fline_Num', 'S3Q5e_DS_Fline_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q5e_DS_Fline_Num', 'S3Q5e_DS_Fline_Num', 10, 0, $svInfo['S3Q5e_DS_Fline_Num']);
                                }
                                ?>
                            </span>
                        </li>
                    </ul>   
                </li>               
			   <li>e.  Enter the number of un-used DOUBLE Stands on the Frontline: 
                    <ul>
                        <li> 
                            <span id="doubleStdUnUsedFrontLine">
<?php
if ($svInfo['S3Q5d_DS_Fline_NumUnused'] == '')
{
    echo geneSelectBox('S3Q5d_DS_Fline_NumUnused', 'S3Q5d_DS_Fline_NumUnused', 10, 0);
} else
{
    echo geneSelectBox('S3Q5d_DS_Fline_NumUnused', 'S3Q5d_DS_Fline_NumUnused', 10, 0, $svInfo['S3Q5d_DS_Fline_NumUnused']);
}
?>
                            </span>
                        </li>
                    </ul>   
                </li>
               
                <li class="thruArea">f.  Enter the number of DOUBLE Stands in the Drive-Thru area
                    <ul>
                        <li> 
                            <span id="doubleStdNumberDriverThru">
                        <?php
                        if ($svInfo['S3Q5g_DS_DThru_Num'] == '')
                        {
                            echo geneSelectBox('S3Q5g_DS_DThru_Num', 'S3Q5g_DS_DThru_Num', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q5g_DS_DThru_Num', 'S3Q5g_DS_DThru_Num', 10, 0, $svInfo['S3Q5g_DS_DThru_Num']);
                        }
                        ?>
                            </span>
                        </li>
                    </ul>   
                </li>
				<li class="thruArea">g.  Enter the number of un-used DOUBLE Stands in the Drive-Thru area
                    <ul>
                        <li> 
                            <span id="doubleStdUnUsedDriverThru">
                        <?php
                        if ($svInfo['S3Q5f_DS_DThru_NumUnused'] == '')
                        {
                            echo geneSelectBox('S3Q5f_DS_DThru_NumUnused', 'S3Q5f_DS_DThru_NumUnused', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q5f_DS_DThru_NumUnused', 'S3Q5f_DS_DThru_NumUnused', 10, 0, $svInfo['S3Q5f_DS_DThru_NumUnused']);
                        }
                        ?>
                            </span>
                        </li>
                    </ul>   
                </li>
                
                 <li>h.  Enter the number of DOUBLE Stands in other areas of the store: 
                    <ul>
                        <li> 
                            <span id="doubleStdNumberArea">
                                <?php
                                if ($svInfo['S3Q5i_DS_Others_Num'] == '')
                                {
                                    echo geneSelectBox('S3Q5i_DS_Others_Num', 'S3Q5i_DS_Others_Num', 10, 0);
                                } else
                                {
                                    echo geneSelectBox('S3Q5i_DS_Others_Num', 'S3Q5i_DS_Others_Num', 10, 0, $svInfo['S3Q5i_DS_Others_Num']);
                                }
                                ?>
                            </span>
                        </li>
                    </ul>   
                </li>
				<li>i.  Enter the number of un-used DOUBLE Stands in other areas of the store:
                    <ul>
                        <li> 
                            <span id="doubleStdUnUsedArea">
                        <?php
                        if ($svInfo['S3Q5h_DS_Others_NumUnused'] == '')
                        {
                            echo geneSelectBox('S3Q5h_DS_Others_NumUnused', 'S3Q5h_DS_Others_NumUnused', 10, 0);
                        } else
                        {
                            echo geneSelectBox('S3Q5h_DS_Others_NumUnused', 'S3Q5h_DS_Others_NumUnused', 10, 0, $svInfo['S3Q5h_DS_Others_NumUnused']);
                        }
                        ?>
                            </span>
                        </li>
                    </ul>   
                </li>
               
                <li>j.  Total number of DOUBLE Stands: # <span id="S3Q5k_DS_Total"></span>
                </li>
				<li>k.  Total number of un-used DOUBLE Stands: # <span id="S3Q5j_DS_Unused_Total"></span>
                </li>
                
            </ul>
        </li>
        <li>6)  Airpots
            <ul>
                <li>a.  Example of an Airpot:
                    <p><img src=" /widgets/images/techsurvey/Airpot.png" alt="Airpot" title="Airpot"/></p>
                </li>
                <li>b.  Enter the total number of Airpots ON COUNTERTOPS (Front of House only, not necessary to check inside cupboards):
                    <ul>
                        <li>
                            <span id="airpotsTotalNumber">
<?php
if ($svInfo['S3Q6b_AP_Ctops_Total'] == '')
{
    echo geneSelectBox('S3Q6b_AP_Ctops_Total', 'S3Q6b_AP_Ctops_Total', 20, 0);
} else
{
    echo geneSelectBox('S3Q6b_AP_Ctops_Total', 'S3Q6b_AP_Ctops_Total', 20, 0, $svInfo['S3Q6b_AP_Ctops_Total']);
}
?>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>7)  Work Station Photos Brew Equipment
            <ul>
                <li>a. Upload photo showing ALL Brew Equipment on Backline: 
                    <input type="file" name="S3Q7a_BE_Bline_Pic" id="S3Q7a_BE_Bline_Pic" require="no"> 
                    <p style="text-align: center">
<?php
if (!empty($svInfo['S3Q7a_BE_Bline_Pic']))
{
    $picName = '';
    $picUrl = '';
    $file = new Core_File();
    $picUrl = $file->getS3Url($svInfo['S3Q7a_BE_Bline_Pic'], S3_TECHS_DOCS_DIR);
    $picName = $svInfo['S3Q7a_BE_Bline_Pic'];
    echo '
						<a href="' . $picUrl . '" target="_blank" imgid="S3Q7a_BE_Bline_Pic">' . $picName . '</a>
					';
}
?>
                    </p>
                </li>
                <li>b. Upload photo showing ALL Brew Equipment on Frontline:
                    <input type="file" name="S3Q7b_BE_Fline_Pic" id="S3Q7b_BE_Fline_Pic" require="no"> 
                    <p style="text-align: center">
<?php
if (!empty($svInfo['S3Q7b_BE_Fline_Pic']))
{
    $picName = '';
    $picUrl = '';
    $file = new Core_File();
    $picUrl = $file->getS3Url($svInfo['S3Q7b_BE_Fline_Pic'], S3_TECHS_DOCS_DIR);
    $picName = $svInfo['S3Q7b_BE_Fline_Pic'];
    echo '
						<a href="' . $picUrl . '" target="_blank" imgid="S3Q7b_BE_Fline_Pic">' . $picName . '</a>
					';
}
?>
                    </p>
                </li>
                <li class="thruArea">c.  Upload photo showing ALL Brew Equipment near Drive-Thru:
                    <input type="file" name="S3Q7c_BE_DThru_Pic" id="S3Q7c_BE_DThru_Pic" require="no"> 
                    <p style="text-align: center">
                                <?php
                                if (!empty($svInfo['S3Q7c_BE_DThru_Pic']))
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $file = new Core_File();
                                    $picUrl = $file->getS3Url($svInfo['S3Q7c_BE_DThru_Pic'], S3_TECHS_DOCS_DIR);
                                    $picName = $svInfo['S3Q7c_BE_DThru_Pic'];
                                    echo '
						<a href="' . $picUrl . '" target="_blank" imgid="S3Q7c_BE_DThru_Pic">' . $picName . '</a>
					';
                                }
                                ?>
                    </p>
                </li>
                <li>d.  Upload photo showing ALL Brew Equipment in other areas of the store: 
                    <ul>
                        <li>a. <input type="file" name="S3Q7d_BE_Others_Pic1" id="S3Q7d_BE_Others_Pic1" require="no"> 
                            <p style="text-align: left">
<?php
if (!empty($svInfo['S3Q7d_BE_Others_Pic1']))
{
    $picName = '';
    $picUrl = '';
    $file = new Core_File();
    $picUrl = $file->getS3Url($svInfo['S3Q7d_BE_Others_Pic1'], S3_TECHS_DOCS_DIR);
    $picName = $svInfo['S3Q7d_BE_Others_Pic1'];
    echo '
								<a href="' . $picUrl . '" target="_blank" imgid="S3Q7d_BE_Others_Pic1">' . $picName . '</a>
							';
}
?>
                            </p>
                        </li>
                        <li>b. <input type="file" name="S3Q7d_BE_Others_Pic2" id="S3Q7d_BE_Others_Pic2" require="no"> 
                            <p style="text-align: left">
                                <?php
                                if (!empty($svInfo['S3Q7d_BE_Others_Pic2']))
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $file = new Core_File();
                                    $picUrl = $file->getS3Url($svInfo['S3Q7d_BE_Others_Pic2'], S3_TECHS_DOCS_DIR);
                                    $picName = $svInfo['S3Q7d_BE_Others_Pic2'];
                                    echo '
									<a href="' . $picUrl . '" target="_blank" imgid="S3Q7d_BE_Others_Pic2">' . $picName . '</a>
								';
                                }
                                ?>
                            </p>
                        </li>
                        <li>c. <input type="file" name="S3Q7d_BE_Others_Pic3" id="S3Q7d_BE_Others_Pic3" require="no"> 
                            <p style="text-align: left">
                                <?php
                                if (!empty($svInfo['S3Q7d_BE_Others_Pic3']))
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $file = new Core_File();
                                    $picUrl = $file->getS3Url($svInfo['S3Q7d_BE_Others_Pic3'], S3_TECHS_DOCS_DIR);
                                    $picName = $svInfo['S3Q7d_BE_Others_Pic3'];
                                    echo '
									<a href="' . $picUrl . '" target="_blank" imgid="S3Q7d_BE_Others_Pic3">' . $picName . '</a>
								';
                                }
                                ?>
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>8)  Grinders
            <ul>
                <li>a.  Example of a Grinder:
                    <p><img src=" /widgets/images/techsurvey/Grinder.jpeg" alt="Grinder" title="Grinder"/></p>
                </li>
                <li>b.  Enter the number of GRINDERS on the Backline: 
                    <ul>
                        <li>a.  
                            <span id="grindersNumberBackLine">
<?php
if ($svInfo['S3Q8b_GR_Bline_Num'] == '')
{
    echo geneSelectBox('S3Q8b_GR_Bline_Num', 'S3Q8b_GR_Bline_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q8b_GR_Bline_Num', 'S3Q8b_GR_Bline_Num', 10, 0, $svInfo['S3Q8b_GR_Bline_Num']);
}
?>
                            </span>
                        </li>
                        <li>b.  Upload photo of each grinder, including adjacent items  
                            <ul id="listGrBL"></ul>
                            <ul>
                                <?php
                                $numGrBL = $svInfo['S3Q8b_GR_Bline_Num'];
                                if (!empty($numGrBL) && $numGrBL > 0)
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $sp = '';
                                    $file = new Core_File();
                                    for ($i = 1; $i <= $numGrBL; $i++)
                                    {
                                        $sp = 'S3Q8b_GR_Bline_Pic' . $i;
                                        if (!empty($svInfo[$sp]))
                                        {
                                            $picUrl = $file->getS3Url($svInfo[$sp], S3_TECHS_DOCS_DIR);
                                            $picName = $svInfo[$sp];
                                            echo '<li><a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></li>';
                                        }
                                    }
                                }
                                ?>
                            </ul>
                        </li> 
                    </ul>
                </li>
                <li>c.  Enter the number of GRINDERS on the Frontline
                    <ul>
                        <li>a.  
                            <span id="grindersNumberFrontLine">
<?php
if ($svInfo['S3Q8c_GR_Fline_Num'] == '')
{
    echo geneSelectBox('S3Q8c_GR_Fline_Num', 'S3Q8c_GR_Fline_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q8c_GR_Fline_Num', 'S3Q8c_GR_Fline_Num', 10, 0, $svInfo['S3Q8c_GR_Fline_Num']);
}
?>
                            </span>
                        </li>
                        <li>b.  Upload photo of each grinder, including adjacent items  
                            <ul id="listGrFL">
                            </ul>
                            <ul>
<?php
$numGrFL = $svInfo['S3Q8c_GR_Fline_Num'];
if (!empty($numGrFL) && $numGrFL > 0)
{
    $picName = '';
    $picUrl = '';
    $sp = '';
    $file = new Core_File();
    for ($i = 1; $i <= $numGrFL; $i++)
    {
        $sp = 'S3Q8c_GR_Fline_Pic' . $i;
        if (!empty($svInfo[$sp]))
        {
            $picUrl = $file->getS3Url($svInfo[$sp], S3_TECHS_DOCS_DIR);
            $picName = $svInfo[$sp];
            echo '<li><a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></li>';
        }
    }
}
?>
                            </ul>
                        </li> 
                    </ul>
                </li>
                <li class="thruArea">d. Enter the number of GRINDERS in the Drive-Thru area (if applicable): 
                    <ul>
                        <li>a.  
                            <span id="grindersNumberDriverThru">
<?php
if ($svInfo['S3Q8d_GR_DThru_Num'] == '')
{
    echo geneSelectBox('S3Q8d_GR_DThru_Num', 'S3Q8d_GR_DThru_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q8d_GR_DThru_Num', 'S3Q8d_GR_DThru_Num', 10, 0, $svInfo['S3Q8d_GR_DThru_Num']);
}
?>
                            </span>
                        </li>
                        <li>b.  Upload photo of each grinder, including adjacent items  
                            <ul id="listGrDrvThru">
                            </ul>
                            <ul>
<?php
$numGrThru = $svInfo['S3Q8d_GR_DThru_Num'];
if (!empty($numGrThru) && $numGrThru > 0)
{
    $picName = '';
    $picUrl = '';
    $sp = '';
    $file = new Core_File();
    for ($i = 1; $i <= $numGrThru; $i++)
    {
        $sp = 'S3Q8d_GR_DThru_Pic' . $i;
        if (!empty($svInfo[$sp]))
        {
            $picUrl = $file->getS3Url($svInfo[$sp], S3_TECHS_DOCS_DIR);
            $picName = $svInfo[$sp];
            echo '
												<li><a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></li>
											';
        }
    }
}
?>
                            </ul>
                        </li> 
                    </ul>
                </li>  
                <li>e.  Enter the number of GRINDERS in other areas of the store:
                    <ul>
                        <li>a.  
                            <span id="grindersNumberArea">
<?php
if ($svInfo['S3Q8e_GR_Others_Num'] == '')
{
    echo geneSelectBox('S3Q8e_GR_Others_Num', 'S3Q8e_GR_Others_Num', 10, 0);
} else
{
    echo geneSelectBox('S3Q8e_GR_Others_Num', 'S3Q8e_GR_Others_Num', 10, 0, $svInfo['S3Q8e_GR_Others_Num']);
}
?>

                            </span>
                        </li>
                        <li>b.  Upload photo of each grinder, including adjacent items:  
                            <ul id="listGrArea"></ul>
                            <ul>
<?php
$numGrArea = $svInfo['S3Q8e_GR_Others_Num'];
if (!empty($numGrArea) && $numGrArea > 0)
{
    $picName = '';
    $picUrl = '';
    $sp = '';
    $file = new Core_File();
    for ($i = 1; $i <= $numGrArea; $i++)
    {
        $sp = 'S3Q8e_GR_Others_Pic' . $i;
        if (!empty($svInfo[$sp]))
        {
            $picUrl = $file->getS3Url($svInfo[$sp], S3_TECHS_DOCS_DIR);
            $picName = $svInfo[$sp];
            echo '<li><a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></li>';
        }
    }
}
?>
                            </ul>
                        </li> 
                    </ul>
                </li> 
                <li>f. Number of GRINDERS in the entire store: #
                    <span id="S3Q8f_GR_Total"></span>
                </li> 
            </ul>
        </li>
    </ul>
</div>