<?
$SurveyInfo = $this->SurveyInfo;
$_alpha = array("1" => "a", "2" => "b", "3" => "c", "4" => "d", "5" => "e", "6" => "f", "7" => "g", "8" => "h", "9" => "i", "10" => "k");

function loadNumcombol4($num, $default = 0, $idx = 1)
{
    $str = "";
    for ($i = $idx; $i <= $num; $i++)
    {
        $str.="<option value='" . $i . "' " . ($default == $i ? "selected" : "") . ">" . $i . "</option>";
    }
    return $str;
}

function loadYNAcombol4()
{
    $str = "";

    $str.="<option value=''>Select</option>";
    $str.="<option value='1'>Yes</option>";
    $str.="<option value='0'>No</option>";
    return $str;
}

function loadQuartertInchcombol4($default = "0")
{
    $str = "";

    $str.="<option value='0' " . ($default == "0" ? "selected" : "") . ">0/4</option>";
    $str.="<option value='0.25' " . ($default == "0.25" ? "selected" : "") . ">1/4</option>";
    $str.="<option value='0.5' " . ($default == "0.5" ? "selected" : "") . ">2/4</option>";
    $str.="<option value='0.75' " . ($default == "0.75" ? "selected" : "") . ">3/4</option>";
    return $str;
}

function loadmaterialcombol4($default = "")
{
    $str = "";

    $str.="<option value='' " . ($default == "" ? "selected" : "") . ">Choose Material</option>";
    $str.="<option value='Stainless Steel' " . ($default == "Stainless Steel" ? "selected" : "") . ">Stainless Steel</option>";
    $str.="<option value='Corian (Simulated Stone)' " . ($default == "Corian (Simulated Stone)" ? "selected" : "") . ">Corian (Simulated Stone)</option>";
    $str.="<option value='Laminate' " . ($default == "Laminate" ? "selected" : "") . ">Laminate</option>";
    $str.="<option value='Other' " . ($default == "Other" ? "selected" : "") . ">Other</option>";
    return $str;
}

function loadtimel4()
{
    $TIME = "";
    $timepart3 = 0;
    $timepart2 = "";
    $timepart1 = "";

    for ($i = 0; $i < 24; $i++)
    {
        for ($j = 1; $j < 5; $j++)
        {
            if ($j == 1)
                $timepart2 = "00";
            else
                $timepart2 = ($j - 1) * 15;

            if ($i < 12 || $i == 24)
                $timepart3 = "AM";
            else
                $timepart3 = "PM";

            if ($i == 0)
                $timepart1 = "12";
            else if ($i < 13 && $i > 0)
                $timepart1 = $i;
            else
                $timepart1 = $i - 12;

            $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
            $TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
        }
    }
    return $TIME;
}
?>
<style>
    .tdSection{ font-weight: bold; font-size: 13px;padding: 5px 0; margin:0} 
</style>
<table cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td class="Section">Section 4 - Hot Water Source & Front of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">
                <tr>
                    <td>1</td>
                    <td>Example of Hot Water Source (Insta-Hot Water Dispenser):</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/WaterSource.png"/>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Enter the number of auxiliary hot water sources in the Brew Station area (excluding the hot water spigot on brewer[s]):</td>
                    <td>
                        <select class="buildbrowsetoll" style="width:70px;" name="S5Q2a_Num" id="S5_Q_2a_Num" placeto="S5Q2_Pics" itemid="S5Q2b_Pic" strlabel="2_: Upload photo of each hot water source, including surrounding area" issum="1">
                            <option value="">Select</option>
                            <?= loadNumcombol4(10, $SurveyInfo['S5Q2a_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" id="S5Q2_Pics">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="394px">
                            <col width="*">
                            <col width="*">
                            <?
                            if ($SurveyInfo['S5Q2a_Num'] != 0)
                            {
                                $numS5Q2 = $SurveyInfo['S5Q2a_Num'];
                                if (!empty($numS5Q2) && $numS5Q2 > 0)
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $sp = '';
                                    $file = new Core_File();
                                    for ($i = 1; $i <= $numS5Q2; $i++)
                                    {
                                        ?>
                                        <tr>
                                            <td>2<?= $_alpha[$i] ?>: Upload photo of each hot water source, including surrounding area:</td>
                                            <td>
                                                <input type="file" name="S5Q2b_Pic1" id="S5Q2b_Pic1">
                                                <p style="text-align: left">
                                                    <?php
                                                    $sp = 'S5Q2b_Pic' . $i;
                                                    if (!empty($SurveyInfo[$sp]))
                                                    {
                                                        $picUrl = $file->getS3Url($SurveyInfo[$sp], S3_TECHS_DOCS_DIR);
                                                        $picName = $SurveyInfo[$sp];
                                                        echo '<a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></br>';
                                                    }
                                                }
                                            }
                                            ?>
                                        </p>
                                    <td>
                                </tr>
                                <?
                            }
                            ?>
                        </table>
                    </td>
                </tr>
                <tr class="thruArea">
                    <td>3</td>
                    <td>Enter the number of auxiliary hot water sources in the Drive-Thru area (excluding the hot water spigot on brewer[s]):</td>
                    <td>
                        <select class="buildbrowsetoll" style="width:70px;" name="S5Q3a_Num" id="S5_Q_3a_Num" placeto="S5Q3b_Pics" itemid="S5Q3b_Pic" strlabel="3_: Upload photo of each hot water source, including surrounding area" issum="1">
                            <option value="">Select</option>
                            <?= loadNumcombol4(10, $SurveyInfo['S5Q3a_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr class="thruArea">
                    <td></td>
                    <td colspan="2" id="S5Q3b_Pics">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="394px">
                            <col width="*">
                            <col width="*">
                            <?
                            if ($SurveyInfo['S5Q3a_Num'] != 0)
                            {

                                $numS5Q3 = $SurveyInfo['S5Q3a_Num'];
                                if (!empty($numS5Q3) && $numS5Q3 > 0)
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $sp = '';
                                    $file = new Core_File();
                                    for ($i = 1; $i <= $numS5Q3; $i++)
                                    {
                                        ?>
                                        <tr>
                                            <td>3<?= $_alpha[$i] ?>: Upload photo of each hot water source, including surrounding area:</td>
                                            <td>
                                                <input type="file" name="S5Q3b_Pic1" id="S5Q3b_Pic1">
                                                <p style="text-align: left">
                                                    <?
                                                    $sp = 'S5Q3b_Pic' . $i;
                                                    if (!empty($SurveyInfo[$sp]))
                                                    {
                                                        $picUrl = $file->getS3Url($SurveyInfo[$sp], S3_TECHS_DOCS_DIR);
                                                        $picName = $SurveyInfo[$sp];
                                                        echo '<a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></br>';
                                                    }
                                                }
                                            }
                                            ?>
                                        </p>
                                    </td>
                                </tr>
                                <?
                            }
                            ?>
                        </table>
                        <!--S5Q3b_NumPics, S5Q3b_Zip-->
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Enter the number of auxiliary hot water sources in other areas (excluding the hot water spigot on brewer[s]):</td>
                    <td>
                        <select  class="buildbrowsetoll" style="width:70px;" name="S5Q4a_Num" id="S5_Q_4a_Num" placeto="S5Q4b_Pics" itemid="S5Q4b_Pic" strlabel="4_: Upload photo of each hot water source, including surrounding area" issum="1">
                            <option value="">Select</option>
                            <?= loadNumcombol4(10, $SurveyInfo['S5Q4a_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" id="S5Q4b_Pics">
                        <table cellspacing="5" cellpadding="5" width="100%">
                            <col width="394px">
                            <col width="*">
                            <?
                            if ($SurveyInfo['S5Q4a_Num'] != 0)
                            {
                                $numS5Q4 = $SurveyInfo['S5Q4a_Num'];

                                if (!empty($numS5Q4) && $numS5Q4 > 0)
                                {
                                    $picName = '';
                                    $picUrl = '';
                                    $sp = '';
                                    $file = new Core_File();
                                    for ($i = 1; $i <= $numS5Q4; $i++)
                                    {
                                        ?>
                                        <tr>
                                            <td>4<?= $_alpha[$i] ?>: Upload photo of each hot water source, including surrounding area:</td>
                                            <td>
                                                <input type="file" name="S5Q4b_Pic1" id="S5Q4b_Pic1">
                                                <p style="text-align: left">
                                                    <?php
                                                    $sp = 'S5Q4b_Pic' . $i;
                                                    if (!empty($SurveyInfo[$sp]))
                                                    {
                                                        $picUrl = $file->getS3Url($SurveyInfo[$sp], S3_TECHS_DOCS_DIR);
                                                        $picName = $SurveyInfo[$sp];
                                                        echo '<a href="' . $picUrl . '" target="_blank" imgid="' . $sp . '">' . $picName . '</a></br>';
                                                    }
                                                }
                                            }
                                            ?>
                                        <p>
                                    </td>
                                </tr>
    <?
}
?>
                        </table>
                        <!--S5Q4b_NumPics, S5Q4b_Zip-->
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Total number of auxiliary hot water sources in the entire Front of House (excluding the hot water spigot on brewer[s]):</td>
                    <td>
                        <span id="S5_Q_Total_Zero" style=""><?= empty($SurveyInfo['S5Q5_Total']) ? '0' : $SurveyInfo['S5Q5_Total']; ?></span>
                        <input id="S5_Q_Total" value="<?= empty($SurveyInfo['S5Q5_Total']) ? '0' : $SurveyInfo['S5Q5_Total']; ?>" type="text" maxlength="2" name="S5Q5_Total" readonly style="display:none;width:68px;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="Section">Section 5 - Plumbing (Floor Drain) & Front of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">
                <tr>
                    <td>1</td>
                    <td>Enter the number of floor drains in the Front of House:</td>
                    <td>
                        <select style="width:70px;" name="S6Q1_Num" id="S6Q1_Num">
                            <option value="">Select</option>
<?= loadNumcombol4(10, $SurveyInfo['S6Q1_Num'], 0); ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Find the floor drain nearest any brewer in the Front of House area. Enter the horizontal distance (along the floor) from the point on the floor beneath the middle of the brewer to the middle of the floor drain:</td>
                    <td>
                        <select style="width:120px;" name="S6Q2_IntLength" id=" S6Q2_IntLength">
                            <option value="">Select Length</option>
<?= loadNumcombol4(300, $SurveyInfo['S6Q2_IntLength']); ?>
                        </select>
                        <select style="width:50px;" name="S6Q2_Fraction" id="S6Q2_Fraction">
<?= loadQuartertInchcombol4($SurveyInfo['S6Q2_Fraction']); ?>
                        </select>
                        inches
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Upload a photo of the open cabinet beneath the brewer nearest to a drain:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>

                    <td>
                        <input type="file" name="S6Q3_Pic" id="S6Q3_Pic">
                    </td>
                    <td>
<?php
$file = new Core_File();
$dbfielname = $SurveyInfo['S6Q3_Pic'];

$uploadResult = $file->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

if (!empty($dbfielname))
{

    echo "<a href='" . $uploadResult . "' TARGET='_blank' imgid='S6Q3_Pic'>$dbfielname</a>";
}
?>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Upload a photo of the closed cabinet beneath the brewer nearest to a drain:</td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td>
                        <input type="file" name="S6Q4_Pic" id="S6Q4_Pic">
                    </td>
                    <td>
<?php
$file = new Core_File();
$dbfielname = $SurveyInfo['S6Q4_Pic'];

$uploadResult = $file->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

if (!empty($dbfielname))
{

    echo "<a href='" . $uploadResult . "' TARGET='_blank' imgid='S6Q4_Pic'>$dbfielname</a>";
}
?>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Upload a photo of the 3 inch gap beneath the brewer nearest to a drain (target the water connection):</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>

                    <td>
                        <input type="file" name="S6Q5_Pic" id="S6Q5_Pic">
                    </td>
                    <td>
<?php
$file = new Core_File();
$dbfielname = $SurveyInfo['S6Q5_Pic'];

$uploadResult = $file->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

if (!empty($dbfielname))
{

    echo "<a href='" . $uploadResult . "' TARGET='_blank' imgid='S6Q5_Pic'>$dbfielname</a>";
}
?>  
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/GapbeneathTheBrewer.png"/ width="592px">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="Section">Section 6 - Plumbing & Back of House</td>
    </tr>
    <tr>
        <td>
            <table cellspacing="5" cellpadding="5" width="100%">
                <col width="15px">
                <col width="400px">
                <col width="*">
                <tr>
                    <td></td>
                    <td>Example of a Starbucks stock filter system:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <img src="/widgets/images/techsurvey/stockfiltersystem.png"/>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Enter the incoming water pressure on the left filter system gauge:</td>
                    <td>
                        <input value="<?= $SurveyInfo['S7Q1_WaterPressure'] ?>" type="text" maxlength="3" name="S7Q1_WaterPressure" id="S7Q1_WaterPressure">psi
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Enter the outgoing water pressure on the right filter system gauge:</td>
                    <td>
                        <input value="<?= $SurveyInfo['S7Q2_WaterPressure'] ?>" type="text" maxlength="3" name="S7Q2_WaterPressure" id="S7Q2_WaterPressure">psi
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Enter the make of the water filter system:</td>
                    <td>
                        <input value="<?= $SurveyInfo['S7Q3_MakeofWaterFilter'] ?>" type="text" maxlength="24" name="S7Q3_MakeofWaterFilter" id="S7Q3_MakeofWaterFilter">
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Enter the model of the water filter system:</td>
                    <td>
                        <input value="<?= $SurveyInfo['S7Q4_ModelofWaterFilter'] ?>" type="text" maxlength="24" name="S7Q4_ModelofWaterFilter" id="S7Q4_ModelofWaterFilter">
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Upload a photo of the water filter system: </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>

                    <td>
                        <input type="file" name="S7Q5_WaterFilter_Pic" id="S7Q5_WaterFilter_Pic">
                    </td>
                    <td>
<?php
$file = new Core_File();
$dbfielname = $SurveyInfo['S7Q5_WaterFilter_Pic'];

$uploadResult = $file->getS3Url("$dbfielname", S3_TECHS_DOCS_DIR);

if (!empty($dbfielname))
{

    echo "<a href='" . $uploadResult . "' TARGET='_blank' imgid='S7Q5_WaterFilter_Pic'>$dbfielname</a>";
}
?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>