<?
$winNumsHaveFiles = $this->winNumsHaveFiles;
$winlist="";
if(!empty($winNumsHaveFiles))
{
    $counttechfiles = count($winNumsHaveFiles);
    foreach($winNumsHaveFiles as $item)
    {
        $winlist .= $item['WIN_NUM'].', ';
        $WOIDlist .= $item['WO_ID'].', ';
    }
    $winlist = substr($winlist, 0, -2);
    $WOIDlist = substr($WOIDlist, 0, -2);
}
?>
<table width="100%" class="gradBox_table_inner">
    <?php if($this->isFLSManager):?>
    <col width="220px" />
    <col width="135px" />
    <col width="220px" />
    <col width="*" />
    <col width="*" />
    <col width="140px" />
    <?php else :?>
    <col width="1%" />
    <col width="140px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="143px" />
    <col width="125px" />
    <?php endif;?>
    <tr class="table_head">
        <?php if(!$this->isFLSManager):?>
        <th class="checkboxToggler">
            <?php if (sizeof($this->paginator)):?><input type="checkbox" onclick="toggleChecks(this)" id="checkboxToggler" /><?php endif; ?>
        </th>
        <th>Approve<br />Work Order</th>
        <?php endif;?>
        <th>Work Order #s</th>
        <th>Start Date &amp; Time(Visits)<br />Est. Hours</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region / Route</th>
        <th>Tech ID / Name / Address</th>
        <?php if(!$this->isFLSManager):?><th>Tech Pay Info</th><?php endif;?>
        <th class="last" style="text-align:center">
            <!--13819-->
            <input type="checkbox" winnums="<?=$winlist;?>" woidlist="<?=$WOIDlist;?>" counttechfiles="<?=$counttechfiles;?>" name="chkDownloadDocumentMaster" id="chkDownloadDocumentMaster" class="chkDownloadDocumentMaster" <?=$counttechfiles>0?"":"disabled"?>/>
            <img src="/widgets/images/ico_download.png" class="DownloadDocumentButton" align="absmiddle" title="Multiple Document Download">
            <a href="javascript:void(0)" class="aDownloadDocumentButton" id="aDownloadDocumentButton" style="display:none;">download</a>
            <!--end 13819-->
            
            <?php if ($this->isFLSManager) : ?>
            <input type="checkbox" id="paperwork_received_all" onclick="$('input[name=paperwork_received_data]').each(function(index,value){if ($('#paperwork_received_all').attr('checked') == '') {$(value).removeAttr('checked');}else{$(value).attr('checked','checked')}});" />
                        <?php endif;?>
            Deliverables /<br />Q&amp;A</th>
    </tr>
    <?php $apiWosClass = new Core_Api_WosClass();
    $apiWoTagClass = new Core_Api_WoTagClass();
    if ($this->success && sizeof($this->paginator)):?>
    <?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <?php
        $numOfVisits = $wo->NumOfVisits;
        if(empty($numOfVisits)) {
            $numOfVisits = $apiWosClass->getNumOfVisits($wo->WIN_NUM);
        }
        $Qty_Visits =  $wo->Qty_Visits; 
           if(empty($Qty_Visits)){
               $Qty_Visits =  $wo->NumOfVisits; 
           }
           $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasQuestion_ClientNotViewYet($this->client_id,$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_ofUnseen_QA_fromTech($this->client_id,$wo->WIN_NUM);
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    if($TechNotViewYet ==1)
    {
        $isdisplayexclamationnum="!";
    }
    if($Unseen_QA_fromTech>0)
    {
        $isdisplayexclamationnum=$Unseen_QA_fromTech;
    }
    
    $isdisplaySpace = ($Unseen_QA_fromTech>0)?"display:none":"display:";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
    ?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <?php if(!$this->isFLSManager):?>
        <td colspan="2">
            <div style="float:left;"> 
            <input type="checkbox" value="<?=$wo->WIN_NUM?>" onclick="$('#widgetContainer #checkboxToggler').attr('checked',false);" name="approveCheckbox" /> <span id="approveSpan<?=$wo->WIN_NUM?>">Approve</span>
            </div>
            <div style="float:right;">
            <?php 
                if(!empty($wo->TechMarkedComplete)&&($wo->TechMarkedComplete==1))
                {
                    $common=new Core_Api_CommonClass();
                    $days= $common->getTimeSince($wo->Date_Completed,null); 
                    if($days>1)
                        echo $days." Days Old";
                    else
                        echo $days." Day Old";
                }
            ?>
            </div>
            <div style="clear:both;"></div>
             <?php 
                //13376
                $Core_Api_WosClass=new Core_Api_WosClass;
                $Total_ApReThFS=$Core_Api_WosClass->getTotal_ApReThFS($wo->WIN_NUM);
            ?>
            <span>$ <input type="text" value="<?= $this->displayMoney($wo->PayAmount+$Total_ApReThFS) ?>" name="approvePayAmount[<?= $wo->WIN_NUM ?>]" id="approvePayAmount_<?= $wo->WIN_NUM ?>" readonly="readonly" size="8" /></span><br />
            <!--End 13376 -->              
            <script type="text/javascript">
        	var vPayMax<?= $wo->WIN_NUM ?> = new LiveValidation('approvePayAmount_<?= $wo->WIN_NUM ?>',LVDefaults);
        	vPayMax<?= $wo->WIN_NUM ?>.add( Validate.Format, { pattern: /^\d{1,15}(\.\d{2})?$/ } ).add( Validate.Presence);
            </script>
            <span class="ajaxLink" onclick="openPopupWin('SATForm_beta.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>', null, {width:600,height:280,location:'no',scrollbars:'no'})">Rate Tech</span>
        </td>
        <?php endif;?>
        <td>
            <span>WIN: <a class="ajaxLink wosDetails" title="Work Order Information" href="wosDetails.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>"><?=$wo->WIN_NUM?></a>&#160;<a class="wosDetails" href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></a>
                &#160;<?php
                //<!-- 13843-->if($this->isGPM)
                //{
                    $WinTagStatus = $apiWoTagClass->getWinTagStatusForWin($wo->WIN_NUM);
                    //13913
                    $WinTagStatusTitle = $apiWoTagClass->getWinTagStatusSummaryForWin($wo->WIN_NUM);
                    $find = array("<sup>", "</sup>");
                    $WinTagStatusTitle = str_replace($find, "", $WinTagStatusTitle);
                    ?>
                <span class="cmdOpenWinTabs" title="WIN-Tag: <?=$WinTagStatusTitle?>" win="<?=$wo->WIN_NUM?>"><!--End 13913-->
                    <?
                    if($WinTagStatus=='Complete')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/CompleteWinTag.png">
                        <?
                    }
                    else if($WinTagStatus=='Incomplete')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/InCompleteWinTag.png">
                        <?
                    }                    
                    else if ($WinTagStatus == 'Rescheduled' || $WinTagStatus == 'Scheduled')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/WINorange.png">
                        <?
                    }
                    else if($WinTagStatus=='Cancelled')
                    {
                        ?>
                        <img height="13px" width="34px" alt="" title="" src="/widgets/images/CancelWinTag.png">
                        <?
                    }
                    else
                    {
                        ?>
                        <img height="13px" width="31px" alt="" title="" src="/widgets/images/WinTags.png">
                        <?
                    }
                    // End 13890                    
                    ?> 
                </span>
              <!-- 13843-->
            </span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span><br />
            <span>Client PO: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->PO ?></span></span>
            <!--017-->
            <?
            if($wo->ShortNotice =="1")
            {
         ?>                
                    <br/>
                    <b><font color="red">SHORT NOTICE</font></b>
                <?
            }
            ?>
            <!--end 017-->
        </td>
        <td>
         <?php  
         $displayStartDate = $this->displayDate('n/j/Y', $wo->StartDate);  
         $displayTimeIn = $this->displayDate('g:i A', $wo->Time_In);  
         ?>                
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$displayStartDate?></span> 

<?php if(!empty($displayStartDate) && empty($displayTimeIn)) {?>  
            <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }">(<?=$numOfVisits?>)</span> 
<?php }?>                                  

            </span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->Time_In)?></span>
            
<?php if(!empty($displayTimeIn)) {?>  
            <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }">(<?=$numOfVisits?>)</span> 
<?php }?>                                              
            </span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
            <!--017-->
            <?
            if($wo->ShortNotice =="1")
            {
                $DateEntered = $this->displayDate('n/j/Y', $wo->DateEntered)
                ?>
                    <br/>
                    <b><font color="red"><?=$DateEntered?></font></b>
                <?
            }
            ?>
            <!--017-->
        </td>
        <td>
            <span><?=trim($wo->WO_Category)?></span><br />
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br>
            <!--13843--><span><? echo ( !empty($wo->SiteNumber) && !empty($wo->SiteName) ? $wo->SiteName . ", " . $wo->SiteNumber: (!empty($wo->SiteNumber)?$wo->SiteNumber:$wo->SiteName) );?></span> <?= Core_Api_CommonClass::getSiteStatus("true", $wo->WIN_NUM ,$wo->SiteNumber, $wo->Project_ID) ?><?= empty($wo->SiteNumber) && empty($wo->SiteName)?"":"<br>" ?>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->Region?></span></span><?= empty($wo->Region)?"":"<br>"?>
            <span><? echo ($wo->Route);?></span><?= empty($wo->Route)?"":"<br>" ?>
            
        </td>
         <?php if(!$this->isFLSManager){?>
        	<td>
	            <span><a class="ajaxLink cmdOpenTechProfileShow" title="Tech Profile" href="wosViewTechProfile.php?simple=0&v=<?=$this->company?>&TechID=<?=$wo->Tech_ID?>"><?=$wo->FLS_ID?></a></span>
	            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
                   <!-- 13369 --> 
                    <span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkSortTech" > (<?php if (!empty($this->wosTechCount[$wo->Tech_ID])) {echo$this->wosTechCount[$wo->Tech_ID];} else {echo 0;} ?>)</span>
                    &nbsp;&nbsp;<span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkUndoSortTech"  style="display:none;">(undo)</span>                        
                    <br />                   
                    <!-- end 13369 -->
	            <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
	            <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City.' '.$this->techs[$wo->Tech_ID]->State.' '.$this->techs[$wo->Tech_ID]->Zipcode?></span></span>
	            <?php endif; ?>
        	</td>
        <?php }else{ ?>
	        <td>
	            <!-- DISABLING TECH LINKS -->
	        	<!-- 
	        		onclick="openPopupWin('wosViewTechProfile.php?simple=0&v=<[?]=$this->company[?]>&TechID=<[?]=$wo->Tech_ID[?]>')"
	        		onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<[?]=$wo->FLS_ID[?]>',company:'<[?]=$this->company[?]>'}}); }"
	        	 	onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<[?]=$wo->FLS_ID[?]>',company:'<[?]=$this->company[?]>'}}); }"
	        	 -->
	            <span><span class="" title="Tech Profile"><?=$wo->FLS_ID?></span></span><br />
	            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
	            <span><span class="" title="Tech Information" ><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
	            <span><span class="" title="Tech Information" ><?= $this->techs[$wo->Tech_ID]->City.' '.$this->techs[$wo->Tech_ID]->State.' '.$this->techs[$wo->Tech_ID]->Zipcode?></span></span>
	            <?php endif; ?>
	        </td>
	    <?php } ?>
        <?php if(!$this->isFLSManager):?>
        <td>
            <span>Agreed $: <?=$this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per)?></span><br />
            <!-- 13376 -->
            <span>Final $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalPopup(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>'); }">
            <?php                            
                    echo($this->displayMoney($Total_ApReThFS + $wo->PayAmount)); 
            ?>
            </span></span>
            <!-- End 13376 -->
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <?php endif;?>
        <td class="last deliverablesCol">
            <span>
                <span id="space<?= $wo->WIN_NUM ?>" style="<?= $isdisplaySpace ?>">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
                <div style="width:17px; text-align:right; float:left;">&nbsp;</div>
                <span id="mark<?= $wo->WIN_NUM ?>" style="<?= $isdisplayexclamationmark ?>">(&#160;<span style="color:red;"><?=$isdisplayexclamationnum?></span>&#160;)&#160;</span>
                <a id="QAbox<?= $wo->WIN_NUM ?>" href="javascript:;" class="ClientQABtn" title="" style="text-decoration: underline;" WIN_NUM="<?= $wo->WIN_NUM ?>" >Q&amp;A</a>
            </span>
            <div style="width:40px; text-align:right; float:right;">
                <?php if ($wo->Assist) : ?>
                    <span>Assist</span>
                <?php elseif ($wo->Lead) : ?>
                    <span>Lead</span>
                <?php endif; ?>
            </div><br />
            <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);?>
            <!--13819-->
            <input type="checkbox" id="chkDownloadDocumentItem" name="chkDownloadDocumentItem" class="chkDownloadDocumentItem"  <?=$countFiles>0?"":"disabled=disabled"?> <?=$countFiles>0?"VXSelectItem='true'":""?> value="<?=$wo->WIN_NUM?>" ClientID="<?=$wo->WO_ID?>" >
            <!--end 13819-->
            
            <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}});  }"<?php endif; ?>>Documents</span></span><br />
            <span><div style="width:17px; text-align:right; float:left;">&nbsp;</div>( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
            <div style="width:17px; text-align:right; float:left;">&nbsp;</div>
            <table class="acc_conf_table">
                <tr>
                    <td><?php if ($this->isFLSManager && !$wo->Paperwork_Received) : ?>
                        <input type="checkbox" name="paperwork_received_data" value="<?=$wo->WIN_NUM?>" onclick="if (!this.checked) $('#paperwork_received_all').removeAttr('checked');" />
                        <?php endif;?>Paperwork:</td>
                    <td><img src="/widgets/images/<?=($wo->Paperwork_Received)?'check_green':'red_cross'?>.gif" alt="Paperwork Received" /></td>
                </tr>
            </table>
        	<div style="width:17px; text-align:right; float:left;">&nbsp;</div>
        	<span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techcomments',title:'Tech Comments',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }">Tech Comments</span>
		</td>
    </tr>
    <?php ++$tr; endforeach;?>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'workdone'))?>
        </td>
    </tr>
    <?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
    <tr><td colspan="<?=($this->isFLSManager)?6:9?>"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="<?=($this->isFLSManager)?6:9?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter">&#160;</td>
    </tr>
    <?php endif;?>
</table>

<script type="text/javascript">
$(document).ready( function() {
     //13776
    $("#toppaginatorContainer").html('<?=preg_replace("/(\r\n|\r|\n)/", "",addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'workdone','short'=>true)),"'"))?>');
    $("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
});
</script>
<script>
                    $(document).ready(function() { 

                        $('.wosDetails').contextMenu(_menu,{theme:'vista'});
        //13369       
        if(wd.params.IsSortTechIDFromLink==1)
        {
            jQuery(".lnkSortTech").each(function(){
                jQuery(this).css("display","none");   
});
            jQuery(".lnkUndoSortTech").each(function(){
                jQuery(this).css("display","");   
            });  
        }
        else
        {
            jQuery("span[id='lnkUndoSortTech']").each(function(){
                jQuery(this).css("display","none");   
            });
            jQuery("span[id='lnkSortTech']").each(function(){
                jQuery(this).css("display","");   
            });             
            
        }
        function lnkUndoSortTech_onclick(){
            var  TechID="";     
            var currenttab = wd.UndoSortTech();
            wd.params.IsSortTechIDFromLink = 0;
            wd.filters().tech(TechID);
            wd.filters().fullSearch(false);
            window._search = false; 
            //wd.filters().win("<?=$wo->WIN_NUM?>");
            wd.show({tab:currenttab,params:wd.getParams(wd)});

        };
        function lnkSortTech_onclick(){
            var  TechID=jQuery(this).attr("FSTechID"); 
            wd.params.IsSortTechIDFromLink = 1;
            wd.filters().tech(TechID);                            
            wd.filters().win(""); 
            wd.filters().fullSearch(false);   
            window._search = false;                            
            wd.show({tab:wd.currentTab,params:wd.getParams(wd)});                            
        };
        jQuery(".lnkSortTech")
            .unbind("click",lnkSortTech_onclick)
            .bind("click",lnkSortTech_onclick);
        jQuery(".lnkUndoSortTech")
            .unbind("click",lnkUndoSortTech_onclick)
            .bind("click",lnkUndoSortTech_onclick);
        //end 13369
        //819
        jQuery(".chkDownloadDocumentItem")
            .unbind("click",wd.chkDownloadDocumentItem)
            .bind("click",wd.chkDownloadDocumentItem);

        jQuery(".chkDownloadDocumentMaster")
            .unbind("click",wd.chkDownloadDocumentMaster)
            .bind("click",wd.chkDownloadDocumentMaster);

        var  countSelected=$('.chkDownloadDocumentItem[VXSelectItem=true]:checked').size();   
        if(countSelected>0)
        {
            $(".DownloadDocumentButton").css("cursor","pointer");
        }
        else
        {
            $(".DownloadDocumentButton").css("cursor","");
        }
        
        $(".DownloadDocumentButton")
            .unbind("click",wd.DownloadDocumentButton)
            .bind("click",wd.DownloadDocumentButton);
        //end 819
    });
</script>