<?
$FieldList = $this->FieldList;
$colnum = count($FieldList);
?>
<div style="margin-right:23px;float:right;margin-top:-32px;">
    Results per page:&nbsp; 
    <select name="<?php echo EWR_TABLE_GROUP_PER_PAGE; ?>" id="pagesize" onchange="loadreport(this)">
        <option value="10"<?php if ($this->size == 10) echo " selected=\"selected\"" ?>>10</option>
        <option value="25"<?php if ($this->size == 25) echo " selected=\"selected\"" ?>>25</option>
        <option value="50"<?php if ($this->size == 50) echo " selected=\"selected\"" ?>>50</option>
        <option value="100"<?php if ($this->size == 100) echo " selected=\"selected\"" ?>>100</option>
    </select>
</div>
<!--Header-->
<div style="padding-top: 8px;padding-left: 5px;" class="widgetContainer">
    <table cellpadding = "0" cellspacing = "0" border = "1px" width = "100%" class="gradBox_table_inner">
        <!--Header-->
        <thead>
            <tr class="table_head" style="height: 24px;">
                <?php
                foreach ($FieldList as $field)
                {
                    //[issum] => 0 [iscount] => 1 
                    $fieldTitle = $field['field_title'];
                    if ($field['issum'] == 1 || $field['iscount'] == 1)
                    {
                        $fieldTitle = $field['fieldname'];
                    }
                    ?>
                    <th>
                        <?= $fieldTitle ?>
                    </th>
                    <?php
                }
                ?>
            </tr>
        </thead>
        <!--Body-->
        <tbody>
            <?php
            if (count($this->paginator) > 0)
            {
                $i = 1;
                foreach ($this->paginator as $record)
                {
                    $rowAlt = ($i % 2) ? 'border_td odd_tr' : 'border_td even_tr';
                    ?>
                    <tr >
                        <?php
                        for ($j = 0; $j < $colnum; $j++)
                        {
                            ?>
                            <td class="<?php echo $rowAlt ?>">
                                <div style="padding-top:2px;padding-bottom:2px;" i="<?= $i ?>">
                                    <?= $record[$FieldList[$j]['fieldname']] == "0000-00-00" ? "" : $record[$FieldList[$j]['fieldname']] ?>
                                </div>
                            </td>
                            <?php
                        }
                        $i++;
                        ?>
                    </tr>
                    <?php
                }
                //die();
                ?>
                <tr class="paginator">
                    <td colspan="<?= $colnum; ?>" class="tCenter" id="paginatorContainer">
                        <? $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxCustomReport.phtml', array()) ?>
                    </td>
                </tr>
                <?
            } else
            {
                ?>
                <tr>
                    <td colspan="<?= count($FieldList) ?>">
                        There is no record.
                    </td>
                </tr>
                <?
            }
            ?>
        </tbody>
    </table>
</div>