<?
$FieldList = $this->FieldList;
$colnum = count($FieldList);
?>
<div style="margin-right:23px;float:right;margin-top:-27px;">
    Results: <?= $this->countRows ?>&nbsp;&nbsp;
    Results per page:&nbsp; 
    <select name="<?php echo EWR_TABLE_GROUP_PER_PAGE; ?>" id="pagesize">
        <option value="10"<?php if ($this->size == 10) echo " selected=\"selected\"" ?>>10</option>
        <option value="25"<?php if ($this->size == 25) echo " selected=\"selected\"" ?>>25</option>
        <option value="50"<?php if ($this->size == 50) echo " selected=\"selected\"" ?>>50</option>
        <option value="100"<?php if ($this->size == 100) echo " selected=\"selected\"" ?>>100</option>
    </select>
</div>
<!--Header-->
<div style="padding-left: 5px;" class="widgetContainer">
    <table cellpadding = "0" cellspacing = "0" border = "1px" width = "100%" class="gradBox_table_inner" rowno="<?= sizeof($this->paginator) ?>">
        <thead>
            <tr class="table_head" style="height: 24px;">
                <?php
                foreach ($FieldList as $key => $val)
                {
                    ?>
                    <th>
                        <?= $val ?>
                    </th>
                    <?php
                }
                ?>
            </tr>
        </thead>
        <!--Body-->
        <tbody>
            <?php
            if (sizeof($this->paginator))
            {
                try
                {
                    $i = 1;
                    foreach ($this->paginator as $record)
                    {
                        ?>
                        <tr >
                            <?php
                            $rowAlt = ($i % 2) ? 'border_td odd_tr' : 'border_td even_tr';
                            foreach ($record as $key => $val)
                            {
                                ?>
                                <td class="<?php echo $rowAlt ?>">
                                    <div style="padding-top:2px;padding-bottom:2px;" i="<?= $i ?>">
                                        <?
                                        if ($key == "WIN_NUM")
                                        {
                                            $strval = "<a target='_blank' class='wosDetails' href='/clients/wosDetails.php?v=" . $this->Company_ID . "&id=" . $val . "'>" . $val . "</a>";
                                        } else
                                        {
                                            $strval = $val;
                                        }
                                        ?>
                                        <?= $strval ?>
                                    </div>
                                </td>
                                <?php
                            }
                            ?>
                        </tr>
                        <?php
                    }
                    //die();
                    ?>
                    <tr class="paginator">
                        <td colspan="<?= $colnum; ?>" class="tCenter" id="paginatorContainer">
                            <? $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxCustomReport.phtml', array()) ?>
                        </td>
                    </tr>
                    <?
                } catch (Exception $e)
                {
                    print_r("erro");
                    print_r($e->getMessage());
                }
            } else
            {
                ?>
                <tr>
                    <td colspan="<?= count($FieldList) ?>">
                        There are no results. Try <a href="custom_report.php?report_id=<?= $this->rptid ?>&v=<?= $this->Company_ID ?>">editing your filters</a>.
                    </td>
                </tr>
                <?
            }
            ?>
        </tbody>
    </table>
</div>