<div style="padding-top: 8px;padding-left: 5px;" class="widgetContainer">
    <table class="gradBox_table_inner"  width="100%" border="1" cellspacing="5" cellpadding="0">
        <col width="*">
        <col width="60px">
        <col width="60px">
        <col width="60px">
        <col width="100px">
        <col width="200px">
        <col width="100px">
        <col width="200px">
        <col width="100px">
        <col width="60px">
        <?
        if (sizeof($this->paginator))
        {
            ?>
            <tr class="table_head">
                <th><a class="sortable" field="rpt_name" fieldorder="asc" href="javascript:;" style="cursor:pointer;">Report Name</a></th>
                <th>Run</th>
                <th>Edit</th>
                <th>Copy</th>
                <th><a class="sortable" field="creation_date" fieldorder="desc" href="javascript:;" style="cursor:pointer;">Date Created</a></th>
                <th><a class="sortable" field="created_by_name" fieldorder="asc" href="javascript:;" style="cursor:pointer;">Created By</a></th>
                <th><a class="sortable" field="lastupdated_date" fieldorder="desc" href="javascript:;" style="cursor:pointer;">Last Edited</a></th>
                <th><a class="sortable" field="last_modified_by_name" fieldorder="asc" href="javascript:;" style="cursor:pointer;">Last Edited By</a></th>
                <th><a class="sortable" field="last_run_date" fieldorder="desc" href="javascript:;" style="cursor:pointer;">Last Run</a></th>
                <th>Delete</th>
            </tr>
            <?
            $i = 1;
            foreach ($this->paginator as $item)
            {
                $rowAlt = ($i % 2) ? 'border_td odd_tr' : 'border_td even_tr';
                $creation_date = date_format(new DateTime($item['creation_date']), "m/d/Y");
                $lastmodified = date_format(new DateTime($item['lastupdated_date']), "m/d/Y");
                $lastrun = !empty($item['last_run_date']) ? date_format(new DateTime($item['last_run_date']), "m/d/Y") : "";
                ?>
                <tr class="<?php echo $rowAlt ?>">
                    <td align="left" nowrap="nowrap">
                        <?= $item['rpt_name'] ?>
                    </td>
                    <td align="center" nowrap="nowrap">
                        <a style="cursor: pointer;" href="reportview.php?rptid=<?= $item['id'] ?>&v=<?= $this->Company_ID ?>" >
                            <img style="border: 1px;" src="../../widgets/images/ico_download.png" alt=""/>
                        </a>
                    </td>
                    <td align="center" nowrap="nowrap">
                        <a href="custom_report.php?report_id=<?= $item['id'] ?>&v=<?= $this->Company_ID ?>" >
                            <img style="border: 1px;" src="../../widgets/images/Pencilicon.png" alt=""/>
                        </a>
                    </td>
                    <td align="center" nowrap="nowrap">
                        <a href="javascript:;" class="copyreport" reportid="<?= $item['id'] ?>" isGPM="<?=$this->isGPM?>">
                            <img style="border: 1px;" src="../../widgets/images/copy.png" alt=""/>
                        </a>
                    </td>
                    <td align="left" nowrap="nowrap"><?= $creation_date ?></td>
                    <td align="left" nowrap="nowrap"><?= $item['created_by_name'] ?></td>
                    <td align="left" nowrap="nowrap"><?= $lastmodified ?></td>
                    <td align="left" nowrap="nowrap"><?= $item['last_modified_by_name'] ?> </td>
                    <td align="center" nowrap="nowrap"><?= $lastrun ?></td>
                    <td align="center">
                        <a href="javascript:;" onclick="deleteReport(this, '<?= $item['id'] ?>', '<?= $item['rpt_name'] ?>');"><img src="../../widgets/images/delete.gif" alt=""/> </a>
                    </td>
                </tr>
                <?
                $i++;
            }
            ?>
            <tr class="paginator">
                <td colspan="10" class="tCenter" id="paginatorContainer">
                    <? $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxCustomReport.phtml', array()) ?>
                </td>
            </tr>
            <?
        } else
        {
            ?>
            <tr>
                <td colspan="10">
                    <!--                                no record-->
                </td>
            </tr>
            <?
        }
        ?>
    </table>
</div>