<?
//header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
//header("Pragma: public");
header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
header("Pragma: public");
header("Cache-Control: cache, must-revalidate");
header("Pragma: public");
header("Content-Type: application/force-download");
header("Content-Disposition: attachment; filename=\"" . "test" . ".pdf". "\"");
$FieldList = $this->FieldList;
//print_r("<pre>");
//print_r($FieldList);
//print_r("</pre>");die;

ob_start();
?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div style="padding-top: 8px;padding-left: 5px;" class="widgetContainer">
            <table cellpadding = "0" cellspacing = "0" border = "1px" width = "100%" class="gradBox_table_inner">
                <thead>
                    <tr class="table_head" style="height: 24px;">
                        <?php
                        foreach ($FieldList as $key => $val)
                        {
                            ?>
                            <th>
                                <?= $val ?>
                            </th>
                            <?php
                        }
                        ?>
                    </tr>
                </thead>
                <!--Body-->
                <tbody>
                    <?php
                    if (sizeof($this->BodyList))
                    {
                        $i = 1;
                        foreach ($this->BodyList as $record)
                        {
                            ?>
                            <tr >
                                <?php
                                $rowAlt = ($i % 2) ? 'border_td odd_tr' : 'border_td even_tr';
                                foreach ($record as $key => $val)
                                {
                                    ?>
                                    <td class="<?php echo $rowAlt ?>">
                                        <div style="padding-top:2px;padding-bottom:2px;">
                                            <?= $val ?>
                                        </div>
                                    </td>
                                    <?php
                                }
                                ?>
                            </tr>
                            <?php
                        }
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </body>
</html>
<?
$this->pdf->load_html(ob_get_clean());
$this->pdf->render();
$this->pdf->stream("test" . ".pdf", array("Attachment" => 0));
?>