#window
{
	position: absolute;
	left: 200px;
	top: 150px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}
#windowTop
{
	height: 30px;
	overflow: 30px;
	background-image: url(/techs/images/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
#windowTop_GREEN
{
	height: 30px;
	overflow: 30px;
	background-image: url(/content/images/Popup_Images/Green/window_top_end_green.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}

#windowTop_RED
{
	height: 30px;
	overflow: 30px;
	background-image: url(/content/images/Popup_Images/Red/window_top_end_red.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}

#windowTop_BLUE
{
	height: 30px;
	overflow: 30px;
	background-image: url(/techs/images/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}

#windowTop_ORANGE
{
	height: 30px;
	overflow: 30px;
	background-image: url(/content/images/Popup_Images/Orange/window_top_end_orange.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}

#windowTop_CompTIA
{
    height: 30px;
    overflow: 30px;
    background-image: url(/content/images/Popup_Images/Red/window_top_end_red.png);
    background-position: right top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: move;
}
#windowTopContent
{
	margin-right: 13px;
	background-image:url(/techs/images/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#windowTopContent_GREEN
{
	margin-right: 13px;
	background-image:url(/content/images/Popup_Images/Green/window_top_start_green.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#windowTopContent_RED
{
	margin-right: 13px;
	background-image:url(/content/images/Popup_Images/Red/window_top_start_red.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#windowTopContent_BLUE
{
	margin-right: 13px;
	background-image:url(/techs/images/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#windowTopContent_ORANGE
{
	margin-right: 13px;
	background-image:url(/content/images/Popup_Images/Orange/window_top_start_orange.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#windowTopContent_CompTIA
{
    margin-right: 13px;
    background-image:url(/content/images/Popup_Images/Red/window_top_start_red.png);
    background-position:left top;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

#windowMin
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
#windowMax
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
#windowClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
#windowBottom
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottom_GREEN
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Green/window_bottom_end_green.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

#windowBottom_RED
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Red/window_bottom_end_red.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottom_BLUE
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

#windowBottom_ORANGE
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Orange/window_bottom_end_orange.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

#windowBottom_CompTIA
{
    position: relative;
    height: 335px;
    background-image: url(/content/images/Popup_Images/Red/window_bottom_end_red.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

#windowBottomContent
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowBottomContent_GREEN
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Green/window_bottom_start_green.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowBottomContent_RED
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Red/window_bottom_start_red.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowBottomContent_BLUE
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}

#windowBottomContent_ORANGE
{
	position: relative;
	height: 270px;
	background-image: url(/content/images/Popup_Images/Orange/window_bottom_start_orange.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}

#windowBottomContent_CompTIA
{
    position: relative;
    height: 365px;
    background-image: url(/content/images/Popup_Images/Red/window_bottom_start_red.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-right: 13px;
}


#windowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}
#windowContent
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
}
#windowContent *
{
	margin: 10px;
}
.transferer2
{
	border: 1px solid #6BAF04;
	background-color: #B4F155;
	filter:alpha(opacity=30); 
	-moz-opacity: 0.3; 
	opacity: 0.3;
}



/* Popup Window 2 */

#window_Two
{
	position: absolute;
	left: 220px;
	top: 180px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}
#windowTop_Two
{
	height: 30px;
	overflow: 30px;
	background-image: url(/techs/images/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: move;
}
#windowTopContent_Two
{
	margin-right: 13px;
	background-image:url(/techs/images/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
#windowMin_Two
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
#windowMax_Two
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
#windowClose_Two
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

#windowClose_Three
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

#windowClose_CompTIA
{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#windowBottom_Two
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
#windowBottomContent_Two
{
	position: relative;
	height: 270px;
	background-image: url(/techs/images/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
#windowResize_Two
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}
#windowContent_Two
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
}
#windowContent_Two *
{
	margin: 10px;
}
.transferer_Two
{
	border: 1px solid #6BAF04;
	background-color: #B4F155;
	filter:alpha(opacity=30); 
	-moz-opacity: 0.3; 
	opacity: 0.3;
}

#windowResize_CompTIA
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: se-resize;
}

#windowContent_GREEN
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
}

#windowContent_RED
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
}

#windowContent_BLUE
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
}

#windowContent_ORANGE
{
	position:absolute;
	top: 30px;
	left: 10px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	border: 1px solid #000000;
	height: 255px;
	width: 475px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	font-weight: normal;
	font-size: 14px;
}

#windowContent_CompTIA
{
    position:absolute;
    top: 30px;
    left: 10px;
    width: auto;
    height: auto;
    overflow: auto;
    margin-right: 10px;
    border: 1px solid #000000;
    height: 280px;
    width: 660px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #fff;
    font-weight: normal;
    font-size: 14px;
}

#windowContent_GREEN *
{
	margin: 10px;
}

#windowContent_RED *
{
	margin: 10px;
}

#windowContent_BLUE *
{
	margin: 3px 10px;
}

#windowContent_ORANGE *
{
	margin: 3px 10px;
}

#windowContent_CompTIA *
{
    margin: 10px;
}

#window_GREEN
{
	position: absolute;
	left: 220px;
	top: 180px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}

#window_RED
{
	position: absolute;
	left: 200px;
	top: 160px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}

#window_BLUE
{
	position: absolute;
	left: 220px;
	top: 180px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}

#window_ORANGE
{
	position: absolute;
	left: 220px;
	top: 180px;
	width: 500px;
	height: 300px;
	overflow: hidden;

}

#window_CompTIA
{
    position: absolute;
    left: 365px;
    top: 160px;
    width: 685px;
    height: 322px;
    overflow: hidden;

}
