<table width="100%" class="gradBox_table_inner">
    <col width="145px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="143px" />
    <col width="110px" />
    <tr class="table_head">
        <th>Assign<br />Work Order</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Headline / Location</th>
        <th>Project / Site</th>
        <th>Site Address</th>
        <th>Tech Pay Info</th>
        <th class="last">Deliverables</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
<div style="position: absolute;width: 150;height: 50;display: none;background-color:#FFFFFF;border:4px solid #BBBBBB;padding:5px;" id="<?=$wo->WIN_NUM?>_TechId_Box">
                    <img id='<?=$wo->WIN_NUM?>_TechId_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" style="position:relative;" />
                    <span id="<?=$wo->WIN_NUM?>_TechId_Html"></span>
                </div>
            <table cellspacing=0 cellpadding=0 class="publ_table">
			<col width="65px" />
			<col width="*" />
			<tr><td>
			Tech ID #</td><td><input type="text" name="techId" id="<?=$wo->WIN_NUM?>_TechId" size="6" onblur="assignTool.showTechInfo(this);"/></td></tr>
            <tr><td>Agreed $</td><td><input type="text" name="agreed" id="<?=$wo->WIN_NUM?>_TechAgreed" size="6" value="<?=trim($wo->PayMax, '$')?>"/></td></tr></table>
            <script type="text/javascript">
        	var vPayMax<?= $wo->WIN_NUM ?> = new LiveValidation('<?= $wo->WIN_NUM ?>_TechAgreed',LVDefaults);
        	vPayMax<?= $wo->WIN_NUM ?>.add( Validate.Format, { pattern: /^\d{1,15}(\.\d{2})?$/ } ).add( Validate.Presence);
        	var vTID<?= $wo->WIN_NUM ?> = new LiveValidation('<?= $wo->WIN_NUM ?>_TechId',LVDefaults);
        	vTID<?= $wo->WIN_NUM ?>.add( Validate.Numericality, { onlyInteger: true } ).add( Validate.Presence);
            </script>
            <input type="hidden" name="publishedWinNum" value="<?=$wo->WIN_NUM?>" />
            <span class="ajaxLink" title="Bids" onclick="javascript:openPopup('wosApplicant.php?sb=0&ClientID=&v=<?=$this->company?>&WorkOrderID=<?=$wo->WIN_NUM?>&back_url='+wd.getReloadUrl(true))">Bids (<?=$wo->Qty_Applicants+0?>)</span>
        </td>
        <td>
            <span>WIN: <span class="ajaxLink" title="Work Order Information" onclick="openPopup('wosDetails_beta.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>')"><?=$wo->WIN_NUM?></span>&#160;&#160;&#160;<a href="javascript:openPopup('wosDetails_beta.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><?=$wo->SiteName?></span>
        </td>
        <td>
            <span><?= $wo->City.' '.$wo->State?></span><br />
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <span>Max $: <?=$this->displayMoney($wo->PayMax,'',$wo->Amount_Per)?></span><br />
        </td>
        <td class="last deliverablesCol">
            <?php $countFiles = (($wo->Pic1_FromTech)?1:0)+(($wo->Pic2_FromTech)?1:0)+(($wo->Pic3_FromTech)?1:0); ?>
    <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="9" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'published'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'published','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="9"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="9"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="9" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
