<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/sitelist/do-create/" onSubmit="return detailsWidget.validateCreateSubmit('client');" method="post" id="CreateProjectForm" name="CreateForm" enctype="multipart/form-data">
	
        <input type="hidden" name="CreateForm[Company_ID]" value="<?= $this->Company_ID?>" />
        <input type="hidden" name="CreateForm[Project_ID]" value="<?= $this->Project_ID?>" />
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field"><span class="required">*</span>Site Number</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteNumber" name="CreateForm[SiteNumber]" value="" /></td>
			</tr>			
            <tr>
				<td class="label_field">Site Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteName" name="CreateForm[SiteName]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Site_Contact_Name" name="CreateForm[Site_Contact_Name]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Address" name="CreateForm[Address]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">City</td>
				<td><input type="text" maxlength="255" class="input_text" id="City" name="CreateForm[City]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">State</td>
				<td>
					<select type="text" id="State" name="CreateForm[State]">
						<option selected="selected" value="">Select State</option>
						<?php foreach ($this->states as $skey => $state) : ?>
						<option title="<?= $state ?>" value="<?=$skey ?>" ><?= $state ?></option>
						<?php endforeach; ?>
					</select>
				</td>
			</tr>
            <tr>
				<td class="label_field">Zipcode</td>
				<td><input type="text" maxlength="255" class="input_text" id="Zipcode" name="CreateForm[Zipcode]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Country</td>
				<td>
					<select type="text" id="Country" name="CreateForm[Country]" onchange="detailsWidget.onChangeCountry()">
					<?php 
                    $dotline="----------------";
                    $icount=0;
                    foreach ($this->countries as $ckey => $country) { 
                    ?>
					<option title="<?= $country->Name ?>" value="<?=$country->Code ?>"<?php if ($country->Code == 'US')echo'selected'; ?>><?= $country->Name ?></option>
					<?php 
                        if($icount==2) {        
                            echo("<option value=\"\">$dotline</option>");        
                        }        
                        $icount = $icount+1;                    
                    } 
                    ?>
					</select>
				</td>
			</tr>
            <tr>
				<td class="label_field">Site Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="SitePhone" name="CreateForm[SitePhone]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Site Fax</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteFax" name="CreateForm[SiteFax]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Site Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="SiteEmail" name="CreateForm[SiteEmail]" value="" /></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
					<input type="button" value="Cancel" onclick="document.location='siteView.php?v=<?=$this->Company_ID?>&project_id=<?= $this->Project_ID?>';"/>
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>