.rtop, .rbottom{display:block}
.rTechTop *{background:#AACAFF none repeat scroll 0 0; display: block; height: 1px; overflow: hidden;}
.rTechBottom *{background:#AACAFF none repeat scroll 0 0; display: block; height: 1px; overflow: hidden; border-left: 1px solid #aaa; border-right: 1px solid #aaa;}
.rWoTop *, .rWoBottom *{background:#AACAFF none repeat scroll 0 0; display: block; height: 1px; overflow: hidden}
.r0{margin: 0 7px; border-top: 1px solid #aaa;}
.r1{margin: 0 5px; border-left: 1px solid #aaa; border-right: 1px solid #aaa;}
.r2{margin: 0 3px; border-left: 1px solid #aaa; border-right: 1px solid #aaa;}
.r3{margin: 0 2px; border-left: 1px solid #aaa; border-right: 1px solid #aaa;}
.r4{margin: 0 1px; height: 2px; border-left: 1px solid #aaa; border-right: 1px solid #aaa;} 
.logo1 {
    background: #FFF url(../img/fieldSolutionsLogo.jpg) no-repeat;
    width: 100%;
    height: 74px;
}
.mapperButtotn {
    background-color:#A0A8AA;
    border:1px solid #333333;
    color:#000000;
    text-decoration: none;
    text-align:center;
    padding: 2px 5px;
    float:left;
    cursor: pointer;
}
.mapperButtotn a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.mapperButtotn a:hover {
    color: #000000; 
    text-decoration: none;
} 
.mapperServiceButtotn {
    background-color:#032D5F;
    border:1px solid #333333;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    text-align:center;
    padding: 2px 5px;
    float:left;
    margin: 3px;
    cursor: pointer;
}
.mapperServiceButtotn a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
.mapperServiceButtotn a:hover {
    color: #FFF; 
    text-decoration: none;
} 
.showhideNewPart a {
    text-decoration: none;
    cursor: pointer;
}
.showhideNewPart a:hover {
    text-decoration: none;
}
.trblue {
    background-color:#AACAFF;
    border: 1px solid #aaa;
    width:50%;
}
.tryellow {
    background-color:#FFFFBB;
    border: 1px solid #aaa;
    width:50%;
}
.assignErrors {
    color:#FF0000;
}
.newPartSubmit {
    color:#FFFFFF;
    height:21px;
    padding:1px;
    background-color:#032D5F;
    font-weight:bold;
}
/* by Alexeyenko  */
.tRight {
	text-align:right;
}
table.type_1{
	margin-bottom:20px;
}
table.type_1 td {
	padding:5px;
}
table.type_1 th div{
	padding-bottom:5px;
}

table.type_2{
	margin-bottom:12px;
	border-collapse: collapse;
}
table.type_2 td {
	padding:1px 3px;
	border:1px solid #000;
	font-size: 11px;	
}
table.type_2 th{
	padding:5px;
	border:1px solid #000;
	background-color:#4790D4;
	font-weight:lighter;
	font-size: 11px;	
}