<div class="popup_form_holder">
    <div>
        <?= $this->formErrors($this->messages) ?>
    </div>
    <form action="/widgets/dashboard/customer/do-update/" onSubmit="detailsWidget.validateUpdateSubmit('customer'); detailsWidget.updateProfileDetails(); return false;" method="post" id="UpdateCustomerForm" name="UpdateForm" enctype="multipart/form-data">
        <table class="form_table" cellspacing="0" width="98%">
            <tr>
                <td colspan="2">
                    <table border="0" cellspacing ="0" cellpadding ="0" width="100%">
                        <tr>
                            <td width="20%" align="center">
                                <input type="button" class="link_button" value="What is QuickTicket?" />
                            </td>
                            <td align="center">
                                <b><u>QuickTicket Configurator</u></b>
                            </td>
                            <td width="20%" align="center">
                                <input type="button" class="link_button" value="Add/Edit QuickTicket Views" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="padding-bottom:10px;">QuickTicket Views:</div>
                    <div style="padding-left:10px;padding-bottom:10px;">
                        <div class="quicktecket" style="padding-bottom:10px;">
                            <img src="/widgets/images/img_minus.jpg" /> QuickTicket #1: NEC SiCom McDonalds
                        </div>
                        <div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Projects" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Projects:
                                    </div>
                                    <div style="float: right;">
                                        
                                        <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><input type="button" class="link_button" value="Add/Remove Projects" /></span>
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table style="width:100%;" class="gradBox_table_inner">
                                        <tr class="table_head">
                                            <th>Project ID</th>
                                            <th>Project Name</th>
                                            <th>Headline</th>
                                            <th>Project Manager</th>
                                            <th>Resource Coordinator</th>
                                            <th>Customer</th>
                                            <th>Active?</th>
                                            <th>Auto Blast?</th>
                                            <th class="last">Site List/WO's</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Users" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Users:
                                    </div>
                                    <div style="float: right;">
                                        <input type="button" class="link_button" value="Add Users" />
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table style="width:100%;" class="gradBox_table_inner">
                                        <tr class="table_head">
                                            <th>User Name</th>
                                            <th>Contact Name</th>
                                            <th>Phone 1</th>
                                            <th>Email 1</th>
                                            <th>Admin Account?</th>
                                            <th>Enabled?</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left:10px;padding-bottom:10px;">
                        <div class="quicktecket" style="padding-bottom:10px;">
                            <img src="/widgets/images/img_minus.jpg" /> QuickTicket #2: NEC Service Pro Burger King
                        </div>
                        <div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Projects" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Projects:
                                    </div>
                                    <div style="float: right;">
                                        <input type="button" class="link_button" value="Add/Remove Projects" />
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table style="width:100%;" class="gradBox_table_inner">
                                        <col width="100px" />
                                        <col width="220px" />
                                        <col width="135px" />
                                        <col width="175px" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="110px" />
                                        <col width="110px" />
                                        <col width="110px" />
                                        <tr class="table_head">
                                            <th>Project ID</th>
                                            <th>Project Name</th>
                                            <th>Headline</th>
                                            <th>Project Manager</th>
                                            <th>Resource Coordinator</th>
                                            <th>Customer</th>
                                            <th>Active?</th>
                                            <th>Auto Blast?</th>
                                            <th class="last">Site List/WO's</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Users" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Users:
                                    </div>
                                    <div style="float: right;">
                                        <input type="button" class="link_button" value="Add Users" />
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table width="100%" class="gradBox_table_inner">
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <tr class="table_head">
                                            <th>User Name</th>
                                            <th>Contact Name</th>
                                            <th>Phone 1</th>
                                            <th>Email 1</th>
                                            <th>Admin Account?</th>
                                            <th>Enabled?</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left:10px;padding-bottom:10px;">
                        <div class="quicktecket" style="padding-bottom:10px;" >
                            <img src="/widgets/images/img_minus.jpg" /> QuickTicket #3: NEC Dunkin Donuts
                        </div>
                        <div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Projects" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Projects:
                                    </div>
                                    <div style="float: right;">
                                        <input type="button" class="link_button" value="Add/Remove Projects" />
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table width="100%" class="gradBox_table_inner">
                                        <col width="100px" />
                                        <col width="220px" />
                                        <col width="135px" />
                                        <col width="175px" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="110px" />
                                        <col width="110px" />
                                        <col width="110px" />
                                        <tr class="table_head">
                                            <th>Project ID</th>
                                            <th>Project Name</th>
                                            <th>Headline</th>
                                            <th>Project Manager</th>
                                            <th>Resource Coordinator</th>
                                            <th>Customer</th>
                                            <th>Active?</th>
                                            <th>Auto Blast?</th>
                                            <th class="last">Site List/WO's</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div style="padding-left: 20px; padding-bottom: 10px; height: 15px;">
                                    <div class="Users" style="float:left;">
                                        <img src="/widgets/images/img_minus.jpg" />Users:
                                    </div>
                                    <div style="float: right;">
                                        <input type="button" class="link_button" value="Add Users" />
                                    </div>
                                </div>
                                <div style="padding-left:35px;padding-bottom:10px;">
                                    <table width="100%" class="gradBox_table_inner">
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <col width="*" />
                                        <tr class="table_head">
                                            <th>User Name</th>
                                            <th>Contact Name</th>
                                            <th>Phone 1</th>
                                            <th>Email 1</th>
                                            <th>Admin Account?</th>
                                            <th>Enabled?</th>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td odd_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="border_td even_tr">
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <!--      <tr align="center" style="background-color:#BACBDF;">
            <td colspan="2" style="border-top:2px solid #032D5F;">
            <input type="button" class="link_button" value="Cancel" onclick="window.location='dashboard.php'" />
            <input type="Submit" class="link_button" value="Submit" />
            </td>
            </tr>-->
        </table>
    </form>
</div>
<script>
    $(".quicktecket").bind("click", function(){
        if ($(this).next().css('display') == "none")
        {
            $(this).next().css('display','block');
            $(this).children('img').attr('src','/widgets/images/img_minus.jpg');
        }
        else
        {
            $(this).next().css('display','none');
            $(this).children('img').attr('src','/widgets/images/img_plus.jpg');
        }
    })

    $(".Projects").bind("click", function(){
        if ($(this).parent('div').next().css('display') == "none")
        {
            $(this).parent('div').next().css('display','block');
            $(this).children('img').attr('src','/widgets/images/img_minus.jpg');
            $(this).next().css('display','block');
        }
        else
        {
            $(this).parent('div').next().css('display','none');
            $(this).children('img').attr('src','/widgets/images/img_plus.jpg');
            $(this).next().css('display','none');
        }
    })

    $(".Users").bind("click", function(){
        if ($(this).parent('div').next().css('display') == "none")
        {
            $(this).parent('div').next().css('display','block');
            $(this).children('img').attr('src','/widgets/images/img_minus.jpg');
            $(this).next().css('display','block');
        }
        else
        {
            $(this).parent('div').next().css('display','none');
            $(this).children('img').attr('src','/widgets/images/img_plus.jpg');
            $(this).next().css('display','none');
        }
    })
</script>