<?php
$CSapi = new Core_Api_CustomerClass();
$QTV = $CSapi->getQTV_ByCustomerID($_SESSION['CustomerID']);
$tr = 1;
$table_span = $QTV['ShowTechPayDetails'] == 1 ? 8 : 7;
?>

<table width="100%" class="gradBox_table_inner">
    <col width="220px" />
    <col width="135px" />
    <col width="115px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="110px" />
    <tr class="table_head">
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Tech Status</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region / Route</th>
		<?php if ($this->company != "FATT"): ?>
			<th>Tech ID / Name / Address /Phone</th> 
		<?php else: ?>
			<th>Tech ID / Contractor ID /<br/>Name / Address</th>
		<?php endif; ?>
		<?php if ($QTV['ShowTechPayDetails'] == 1): ?>
			<th>Tech Pay Info</th>
		<?php endif; ?>
        <th class="last">Deliverables</th>
    </tr>
    <?php
    if (sizeof($this->paginator)):
		foreach ($this->paginator as $wo):
			$apiWosClass = new Core_Api_WosClass();
                        //13881
                        $checkInOutByClient = $apiWosClass->blankCheckInOutByClient($wo->WIN_NUM); 
			$payAmount = "";  
			$payAmount =  $wo->baseTechPay;
			$payAmount += $wo->OutofScope_Amount+$wo->TripCharge+$wo->MileageReimbursement+$wo->MaterialsReimbursement+$wo->Additional_Pay_Amount+$wo->AbortFeeAmount;
			$numOfVisits = $wo->Qty_Visits;

			if(empty($numOfVisits)) {
				$numOfVisits = $apiWosClass->getNumOfVisits($wo->WIN_NUM);
			}

			$Qty_Visits =  $wo->Qty_Visits; 
			if(empty($Qty_Visits)) $Qty_Visits =  $wo->NumOfVisits; 

			$Total_ApReThFS = $apiWosClass->getTotal_ApReThFS($wo->WIN_NUM);
			 
            $checkedOut = $apiWosClass->isWoCheckedOut($wo->WIN_NUM);
			?>

            <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>">
                <td>
                    <span>WIN: <?= $wo->WIN_NUM ?> &#160;&#160;&#160;</span><br />
                    <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->WO_ID ?></span></span><br />
                    <?
                    if($QTV['ShowClientPONum']==1)
                    {
                    ?>
                        <span>Client PO#: <?= $wo->PO ?></span>
                    <?
                    }
                    ?>
                </td>
                <td>
                    <span>
                        <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }">
                            <?= $this->displayDate('n/j/Y', $wo->StartDate) ?>
                        </span>
                    </span><br />
                    <span>
                        <span class="ajaxLink" title="Activity Log" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }">
                            <?= $this->displayDate('g:i A', $wo->StartTime) ?>
                        </span>
                    </span><br />
                    <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->calculatedTechHrs ?></span>
                    </span>
                </td>
                <td class ="padr0">
                    <table class="acc_conf_table">
                        <tr>
                            <td>Confirmed:</td>
                            <td><?php if ($wo->TechCheckedIn_24hrs ) : ?>
                                    <img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td>Checked In:</td>
                            <!--13881-->
                            <td><?php if (!$checkInOutByClient && $wo->CheckedIn || !$checkInOutByClient && $wo->Date_In ||!$checkInOutByClient && $wo->Time_In) : ?>
                                    <img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td>Checked Out:</td>
                             <td><?php if (!$checkInOutByClient && $wo->Date_Out || !$checkInOutByClient && $wo->Time_Out || !$checkInOutByClient && $checkedOut) : ?>      
                                    <img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?>
                            </td>
                            <!--End 13881-->
                        </tr>
                    </table>
                </td>
                <td>
                    <span><?= trim($wo->WO_Category) ?></span><br />
                    <span><?= trim($wo->Headline) ?></span><br />
                    <span><?= $this->displayAddress($wo->City, $wo->State, $wo->Zipcode) ?></span>
                </td>
               <td>
                    <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $this->projectName($wo) ?></span></span><br />                    
                    <span><? echo ( !empty($wo->SiteNumber) && !empty($wo->SiteName) ? $wo->SiteName . ", " . $wo->SiteNumber: (!empty($wo->SiteNumber)?$wo->SiteNumber:$wo->SiteName) );?></span><br />   
                    <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}) }"><?= $wo->Region ?></span></span><br />
                    <span><?= $wo->Route ?></span>                    
                </td>
                <td>
                    <?php if (!empty($this->techs[$wo->Tech_ID])): ?>
                        <span>
							<?= $wo->Tech_ID ?>
							<?php
								if ($this->company == "FATT" && !empty ($this->techs[$wo->Tech_ID]->CertNumber))
									echo (" / Flex#" . $this->techs[$wo->Tech_ID]->CertNumber);
							?>
						</span><br />
                        <?
                        if($QTV['ShowTechDirectContactInfo']==1)
                        {
                        ?>
                        <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?= $wo->Tech_ID ?>',companyId:'<?= $this->company ?>'}}); }"><?= $this->techs[$wo->Tech_ID]->Firstname . ' ' . $this->techs[$wo->Tech_ID]->Lastname ?></span></span><br />
                        <span>
                            <span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?= $wo->Tech_ID ?>',companyId:'<?= $this->company ?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City . ' ' . $this->techs[$wo->Tech_ID]->State . ' ' . $this->techs[$wo->Tech_ID]->Zipcode ?></span><br /> 
                        </span>
                        <span><?= $this->techs[$wo->Tech_ID]->PrimaryPhone ?></span>                        
                        <?
                        }
                        else
                        {
                        ?>
                            <span><?= $this->techs[$wo->Tech_ID]->Firstname . ' ' . $this->techs[$wo->Tech_ID]->Lastname ?></span><br />
                            <span>
                                <?= $this->techs[$wo->Tech_ID]->City . ' ' . $this->techs[$wo->Tech_ID]->State . ' ' . $this->techs[$wo->Tech_ID]->Zipcode ?>
                            </span>
                        <?
                        }
                        ?>
                    <?php endif; ?>
                </td>
				<?php if ($QTV['ShowTechPayDetails'] == 1): ?>
				<td>
					<span>Agreed $: <?=$this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per)?></span><br />
                    <!-- 13376 -->
                    <span>Final $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalPopup(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>'); }">
					<?php 
						echo($this->displayMoney($Total_ApReThFS + $payAmount)); 
					?>
					</span></span>
					<!-- End 13376 -->
					<?php
						if (!empty($wo->AuditNeededDate)) {
							$AuditNeededDate = new DateTime($wo->AuditNeededDate);
							$AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
						}
						if (!empty($wo->AuditCompleteDate)) {
							$AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
							$AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
						}
						if ($wo->AuditComplete) {
							echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
						} else if ($wo->AuditNeeded) {
							echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
						}
					?>
				</td>
				<?php endif; ?>

                <td class="last deliverablesCol">
                    <?php
                    $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);
                    ?>
                    <span>( <?= $countFiles ?> ) 
                        <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(false); roll.showNotAjaxwithloading(this,event,{popup:'documents',title:'Documents1',width:260,height:'',preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?= $wo->WIN_NUM ?>',companyId:'<?= $this->company ?>'}});}"<?php endif; ?>>Documents</span>
                    </span><br />

                    ( <?= ($wo->ReturnPartCount) ? $wo->ReturnPartCount + 0 : 0; ?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?= $wo->WIN_NUM ?>&v=<?= $this->company ?>',1200,500)">Return Parts</a><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ajaxLink" title="Tech Comments" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(false); roll.showNotAjaxwithloading(this,event,{popup:'techcomment',title:'Tech Comments',width:300,height:'',preHandler:wd.getWidgetHtml,context:wd,params:{win:<?= $wo->WIN_NUM ?>,companyId:'<?= $this->company ?>'}}); }">Comments</span>
                </td>
            </tr>
            <?php
            ++$tr;
        endforeach;
        ?>

        <tr class="paginator">
            <td colspan="<?= $table_span ?>" class="tCenter" id="paginatorContainer">
                
                 <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>$this->tab, 'v' => $this->company))?>
            </td>
        </tr>
    <?php else : ?>
        <?php if (APPLICATION_ENV !== 'production' && !empty($this->error)) : ?>
            <tr><td colspan="<?= $table_span ?>"><?= $this->error ?></td></tr>
        <?php endif; ?>
        <tr>
            <td colspan="<?= $table_span ?>"><br /><br />No results found<br /><br /><br /></td>
        </tr>
        <tr class="paginator">
            <td colspan="<?= $table_span ?>" class="tCenter">&#160;</td>
        </tr>
    <?php endif; ?>
</table>
<script type="text/javascript">
    $(document).ready( function() {
        //$("#toppaginatorContainer").html('<?= preg_replace("/(\r\n|\r|\n)/", "", addcslashes($this->paginationControl($this->paginator, 'Sliding', 'quickview.phtml', array('tab' => $this->tab, 'short' => true, 'v' => $this->company)), "'")) ?>');
        $("#toppaginatorContainer").html('<?=preg_replace("/(\r\n|\r|\n)/", "",addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>$this->tab,'short'=>true, 'v' => $this->company)),"'"))?>');
        $("#toppaginatorSizeContainer").html('<?= $this->displayPageSelector($this->pageSize); ?>');
        });
</script>
