<?php
	$site_number = false;
	$tr = 1;
?>

<table width="100%" class="gradBox_table_inner">
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="*" />
    <col width="160px" />
    <col width="110px" />
    <col width="45px" />
    <tr class="table_head">
        <th>DSC Zone</th>
        <th>DSC Market</th>
        <th>DSC Name</th>
        <th>DSC Zip</th>
        <th>Contractor Name</th>
        <th>Contractor ID#</th>
        <th>Date Approved</th>
        <th>Edit</th>
    </tr>
	<?php if (count ($this->site_techs) > 0): ?>
	<?php foreach ($this->site_techs as $tech): ?>
		<tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>" style="height: 28px;">
			<td>
				<span><?= $tech["SiteInfo1"] ?></span>
			</td>
			<td>
				<span><?= $tech["SiteInfo2"] ?></span>
			</td>
			<td>
				<span><?= $tech["SiteName"] ?></span>
			</td>
			<td>
				<span><?= $tech["Zipcode"] ?></span>
			</td>
			<td>
				<span><?= $tech["FirstName"] ?> <?= $tech["LastName"] ?></span>
			</td>
			<td>
				<span>
				<?= $tech["contractor_id"] ?>
				<?php if (empty ($tech["DateApproved"])): ?>
				<span style="float: right;">
					(<a href="javascript: quicktools.approve('<?= $tech["SiteNumber"] ?>', '<?= $tech["TechID"] ?>');">Approve</a>)
				</span>
				<?php endif; ?>
				</span>
			</td>
			<td>
				<span><?= !empty ($tech["DateApproved"]) ? $tech["DateApproved"] : "--" ?></span>
			</td>
			<td>
				<span><a href="javascript:;" onclick="quicktools.editContractor (this, '<?= $tech["TechID"] ?>', '<?= $tech["contractor_id"] ?>', '<?= $tech["FirstName"] ?> <?= $tech["LastName"] ?>', '<?= $tech["SiteNumber"] ?>');">Edit</a></span>
			</td>
		</tr>
	<?php endforeach; ?>
	<?php else: ?>
		<td colspan="8" class="tCenter" height="30" valign="middle">No results found</td>
	<?php endif; ?>
	<tr class="paginator">
		<td colspan="8" class="tCenter">&#160;</td>
	</tr>
</table>
