<?php $wo = $this->wo; ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="50%" />
    <col width="50%" />
    <tr>
        <td>Work Start Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $wo['StartDate'])?></td>
    </tr>
    <tr>
        <td>Start Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $wo['StartTime'])?></td>
    </tr>
    <tr>
        <td>Work End Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $wo['EndDate'])?></td>
    </tr>
    <tr>
        <td>End Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $wo['EndTime'])?></td>
    </tr>
    <tr>
        <td>Scheduled Duration:</td>
        <td>&#160;<?=sprintf('%.1f', $wo['Duration']+0)?> Hour<?=($wo['Duration']+0 > 1)?'s':''?></td>
    </tr>
    <tr>
        <td>Check In Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $wo['Date_In'])?></td>
    </tr>
    <tr>
        <td>Check In Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $wo['Time_In'])?></td>
    </tr>
    <tr>
        <td>Check Out Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $wo['Date_Out'])?></td>
    </tr>
    <tr>
        <td>Check Out Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $wo['Time_Out'])?></td>
    </tr>
    <tr>
        <td>Actual Duration:</td>
        <td>&#160;<?=sprintf('%.1f', $wo['calculatedTechHrs']+0)?> Hour<?=($wo['calculatedTechHrs']+0 > 1)? "s" : ""?></td>
    </tr>
</table>

