<?php
if ($this->success)
{
    $wo = $this->wo;
    $CSapi = new Core_Api_CustomerClass();
    $QTV = $CSapi->getQTV_ByCustomerID($_SESSION['CustomerID']);
    if ($this->popup = 'yes')
    {
        if ($QTV['ShowTechComments'] == 1)
        {
            if (empty($wo['Checkedby']) && empty($wo['CheckInNotes']) && empty($wo['TechComments']) && empty($wo['ReminderIncomplete']) && empty($wo['ClientComments']))
            {
                ?>
                <span>No Tech comment</span><br/>
                <?
            } else
            {
                if (!empty($wo['Checkedby']))
                {
                    ?>
                    <span><b>Tech Checked In By:</b></span><br/>
                    <span> <?= $wo['Checkedby'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['CheckInNotes']))
                {
                    ?>
                    <span><b>Tech Check In Notes:</b></span><br/>
                    <span> <?= $wo['CheckInNotes'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['TechComments']))
                {
                    ?>
                    <span><b>Tech Comments:</b></span><br/>
                    <span> <?= $wo['TechComments'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['MissingComments']))
                {
                    ?>
                    <span><b>Incomplete Work Order Comments:</b></span><br/>
                    <span> <?= $wo['MissingComments'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['ClientComments']))
                {
                    ?>
                    <span><b>Client Closing Comments:</b></span><br/>
                    <span> <?= $wo['ClientComments'] ?></span><br/><br/>
                    <?
                }
            }
        } else
        {
            if (empty($wo['Checkedby']) && empty($wo['CheckInNotes']) && empty($wo['MissingComments']) && empty($wo['ClientComments']))
            {
                ?>
                <span>No Tech comment</span><br/>
                <?
            } else
            {
                if (!empty($wo['Checkedby']))
                {
                    ?>
                    <span><b>Tech Checked In By:</b></span><br/>
                    <span> <?= $wo['Checkedby'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['CheckInNotes']))
                {
                    ?>
                    <span><b>Tech Check In Notes:</b></span><br/>
                    <span> <?= $wo['CheckInNotes'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['MissingComments']))
                {
                    ?>
                    <span><b>Incomplete Work Order Comments:</b></span><br/>
                    <span> <?= $wo['MissingComments'] ?></span><br/><br/>
                    <?
                }

                if (!empty($wo['ClientComments']))
                {
                    ?>
                    <span><b>Client Closing Comments:</b></span><br/>
                    <span> <?= $wo['ClientComments'] ?></span><br/><br/>
                    <?
                }
            }
        }
    }
} else
{
    if ($this->errors && !is_string($this->errors) && strlen($this->errors))
    {
        ?>
        <?= $this->errors ?>
        <?
    } else
    {
        ?>
        Sorry, error was occur.
        <?
    }
}
?>
