<?php $tech = $this->tech; ?>
<?php 
if ($this->success == 1): ?>
    <table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
        <col width="40%" />
        <col width="60%" />

        <tr>
            <td>
                Tech Name:
            </td>
            <td>
                <?= $tech->Firstname . ' ' . $tech->Lastname ?>
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                <?= $tech->Address1 ?>
            </td>
        </tr>
        <?php if ($tech->Address2): ?>
            <tr>
                <td>
                    &#160;
                </td>
                <td>
                    <?= $tech->Address2 ?>
                </td>
            </tr>
        <?php endif; ?>
        <?php if ($tech->City || $tech->State || $tech->Zipcode): ?>
            <tr>
                <td>
                    &#160;
                </td>
                <td>
                    <?= $tech->City . ' ' . $tech->State . ' ' . $tech->Zipcode ?>
                </td>
            </tr>
        <?php endif; ?>
        <?php if ($tech->PrimaryPhone): ?>
            <tr>
                <td>
                    Primary Phone:
                </td>
                <td>
                    <?= $tech->PrimaryPhone ?>
                </td>
            </tr>
        <?php endif; ?>
        <?php if ($tech->SecondaryPhone): ?>
            <tr>
                <td>
                    Secondary Phone:
                </td>
                <td>
                    <?= $tech->SecondaryPhone ?>
                </td>
            </tr>
        <?php endif; ?>
        <?php if ($tech->PrimaryEmail): ?>
            <tr>
                <td>Primary Email:</td>
                <td><a class="ajaxLink" href="mailto:<?= trim($tech->PrimaryEmail) ?>"><?= $tech->PrimaryEmail ?></a></td>
            </tr>
        <?php endif; ?>
        <?php if ($tech->SecondaryEmail): ?>
            <tr>
                <td>Secondary Email:</td>
                <td><a class="ajaxLink" href="mailto:<?= trim($tech->SecondaryEmail) ?>"><?= $tech->SecondaryEmail ?></a></td>
            </tr>
        <?php endif; ?>
    </table>

<?php else : ?>
    <span>Tech Information not found</span>
<?php endif; ?>
