<?php
$comments = substr($this->TechComments, 0, 260);
$more =  strlen($this->TechComments) > strlen($comments);
$comments = htmlentities($comments);
$comments = $more ? "$comments <a href=\"wosDetails.php?id={$this->win}&tab=techcomments&v={$this->companyId}\">[more...]</a>" : $comments;
?>
<table class="popup_table" style="width:100%" cellpadding="0" cellspacing="0">
        <tr><td><?=$comments?></td></tr>
</table>

