<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/dashboard/customer/do-update/" onSubmit="detailsWidget.validateUpdateSubmit('customer'); detailsWidget.updateProfileDetails(); return false;" method="post" id="UpdateCustomerForm" name="UpdateForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
             <tr>
				<td class="label_field"><span class="required">*</span>Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Customer_Name" name="UpdateForm[Customer_Name]" value="<?= $this->customer->customerName?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactName" name="UpdateForm[Contact_Name]" value="<?= $this->customer->contactName?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="UpdateForm[Contact_Phone]" value="<?= $this->customer->contactPhone?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Customer Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Email1" name="UpdateForm[Contact_Email]" value="<?= $this->customer->contactEmail?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>User Name</td>
				<td><?= $this->customer->login?></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Current Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="PasswordCurrent" name="UpdateForm[PasswordCurrent]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>New Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="Password" name="UpdateForm[Password]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Confirm Password</td>
                <td><input type="password" maxlength="255" class="input_text" id="PasswordConfirm" name="UpdateForm[PasswordConfirm]" value="" /></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;">
                    <input type="button" value="Cancel" onclick="window.location='dashboard.php'" />
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>
