<table>
    <tr>
        <td>
            <b>Created:</b>
        </td>
        <td>
            Draft Work Order sent to provider operations, not yet visible to Technicians
        </td>
    </tr>
    <tr>
        <td>
            <b>Published:</b>
        </td>
        <td>
            Work Order is visible to Technicians, not yet assigned
        </td>
    </tr>
    <tr>
        <td>
            <b>Assigned:</b>
        </td>
        <td>
            Technician has been Assigned
        </td>
    </tr>
    <tr>
        <td>
            <b>Work Done:</b>
        </td>
        <td>
            Technician has marked the Work Order as Complete
        </td>
    </tr>
    <tr>
        <td>
            <b>Incomplete:</b>
        </td>
        <td>
            Provider is not satisfied with Work Order and has notified the Technician
        </td>
    </tr>
    <tr>
        <td>
            <b>Completed:</b>
        </td>
        <td>
            Provider has indicated this Work Order is Complete
        </td>
    </tr>
</table>