<?php
if ($this->wo) :
    $wo = $this->wo->data[0];
    $project = $this->project->data[0];
    $cfields = $this->cfields;

    if ($wo->Company_ID !== 'FLS')
    {
        $wo->FLS_ID = null;
    }

    $ACSCheck = $project->Reminder24Hr == true ||
            $project->Reminder1Hr == true ||
            $project->ReminderNotMarkComplete == true ||
            $project->ReminderAcceptance == true ||
            $project->CheckInCall == true ||
            $project->CheckOutCall == true ||
            $project->ReminderAll == true ||
            $project->ReminderIncomplete == true;

	if ($wo->isProjectAutoAssign)
    {
    ?>
		<div class="red" style="border:solid 1px red;margin:5px 5px 5px 5px; padding:5px 5px 3em 5px;">
			<div style="font-weight: bold;">
				<?php if ($wo->isWorkOrdersFirstBidder): ?>
				FS-RUSH&trade; Work Order: This Work Order will be automatically assigned to the first matching bidder at the offered amount.
				<?php else: ?>
				FS-RUSH&trade; Work Order: This Work Order will be automatically assigned to the lowest matching bidder.
				<?php endif;?>
			</div>
			<br/>
			<table cellspacing="0" cellpadding="0" border="0">
				<tr valign="top"><td width="300">
					Requirements for Auto-Assignment:
				</td>
				<td width="400">
					<ul style="list-style-type: disc; list-style-position: inside;">
						<li>Must have skill category self-rating of at least <?= $wo->MinimumSelfRating ?></li>
						<li>Must live within <?= $wo->MaximumAllowableDistance ?> miles of the site</li>
						<?php foreach ($this->required_certs as $type => $certs): ?>
							<?php foreach ($certs as $value => $level): ?>
								<?php if ($level == 2): ?>
									<?php switch ($type): 
										case "client": ?>
											<?php if (isset ($this->fs_tags[$value])): ?>
												<li>Must have <?= $this->fs_tags[$value] ?> Credential</li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "public": ?>
											<?php if (isset ($this->public_certs[$value])): ?>
												<li>Must have <?= $this->public_certs[$value] ?></li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "expert": ?>
											<?php if (isset ($this->fs_experts[$value])): ?>
												<li>Must be <?= $this->fs_experts[$value] ?> FS-Expert</li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "industry": ?>
											<?php if (isset ($this->industry_certs[$value])): ?>
												<li>Must have <?= $this->industry_certs[$value] ?></li>
											<?php endif; ?>
									<?php endswitch; ?>
								<?php endif; ?>
							<?php endforeach; ?>
						<?php endforeach; ?>
					</ul>
				</td></tr>
				<tr><td colspan="2" height="20"></td></tr>
				<tr valign="top"><td width="300">
					Client Preferences for Auto-Assignment:
				</td>
				<td width="400">
					<ul style="list-style-type: disc; list-style-position: inside;">
						<?php foreach ($this->required_certs as $type => $certs): ?>
							<?php foreach ($certs as $value => $level): ?>
								<?php if ($level == 1): ?>
									<?php switch ($type): 
										case "client": ?>
											<?php if (isset ($this->fs_tags[$value])): ?>
												<li>Prefer a tech that has <?= $this->fs_tags[$value] ?> Credential</li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "public": ?>
											<?php if (isset ($this->public_certs[$value])): ?>
												<li>Prefer a tech that has <?= $this->public_certs[$value] ?></li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "expert": ?>
											<?php if (isset ($this->fs_experts[$value])): ?>
												<li>Prefer a tech that is <?= $this->fs_experts[$value] ?> FS-Expert</li>
											<?php endif; ?>
											<?php break; ?>
										<?php case "industry": ?>
											<?php if (isset ($this->industry_certs[$value])): ?>
												<li>Prefer a tech that has <?= $this->industry_certs[$value] ?></li>
											<?php endif; ?>
									<?php endswitch; ?>
								<?php endif; ?>
							<?php endforeach; ?>
						<?php endforeach; ?>
					</ul>
				</td></tr>
			</table>
		</div>
		<?
    }
    
    $apiWosClass = new Core_Api_WosClass();
    $TechNotViewYet = $apiWosClass->HasAnswer_TechNotViewYet($_SESSION['TechID'],$wo->WIN_NUM);
    $Unseen_QA_fromTech=$apiWosClass->getNum_ofUnseen_QA_fromTech($_SESSION['TechID'],$wo->WIN_NUM);
    $isdisplayexclamationmark = ($TechNotViewYet ==1)?"display:":"display:none";
    $roleovertext = ($TechNotViewYet ==1)?"You have a new message!":"Please review work order documentation before asking questions.";
    ?>

    <div id="woSectionsNew" style="width:100%;">
        <div id="TechWODetailsSection1">
            <div class="woSections_titleNew">
                <div class="woSections_lefttitleNew" onclick="toggleTab(1)">
                    <div class="woSections_righttitleNew">
                        <img class="imgcol" id="bulletSection1" src="/widgets/css/images/triangle_up.gif" alt="Expand Section" />
                        <a name="section1">Work Order At-a-Glance</a>
                        <span class="win_num">WIN# <span class="client_num"><?= $this->escape($wo->WIN_NUM) ?></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="woSections_boxNew" id="TechWODetailsSection1_slider" style="display:none;">
                <table cellpadding="0" cellspacing="0" class="wo_ttbx">
                    <col width="82px" />
                    <col width="" />
                    <tr>
                        <td colspan="2">

                            <strong >Site Information</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <col width="20%">
                                <col width="80%">
                                <tr>
                                    <td>
                                        <label class="indentRight5">Location:</label>
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->City . ', ' . $wo->State . ' ' . $wo->Zipcode) ?>
                                    </td>
                                </tr>
                                <?
                                if (!empty($wo->Route))
                                {
                                    ?>
                                <tr>
                                    <td>
                                        <label class="indentRight5">Route:</label>
                                    </td>
                                    <td>
                                        <?= $this->escape($wo->Route) ?>
                                    </td>
                                </tr>
                                    <?
                                }
                                ?>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <strong>Assignment Dates/Times</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <?= $this->render('tech-wo-details/visit/visit-list-view.phtml'); ?>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <?php
                    if ($this->enableExpenseReporting)
                    {
                        ?>
                        <tr>
                            <td colspan="2" >
                                <strong>Expense Reporting</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">If properly documented and approved by the client, you will be reimbursed for the following types of expenses as part of your pay for this Work Order:</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:5px;">
                                <table class="tableContentWDS tableContentWDSGUI"  cellspacing="0" width="100%" >
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="65%">
                                    <tbody>
                                        <tr style="text-decoration: underline;">
                                            <td align="left">Reimbursement</td>
                                            <td align="left">Notes</td>
                                            <td align="left">Document Upload Required?</td>
                                        </tr>
                                        <?php
                                        if (!empty($this->expenseReporting))
                                        {
                                            foreach ($this->expenseReporting as $item)
                                            {
                                                ?>    
                                                <tr class="trPeyTech">
                                                    <td>
                                                        <?= $item["bcatname"] ?>
                                                    </td>
                                                    <td>
                                                        <?= $item["bcatdesc"] ?>
                                                    </td> 
                                                    <td align="left">
                                                        <?php
                                                        if ($item["require_doc_upl"])
                                                        {
                                                            ?>
                                                            <span>Yes &nbsp;</span>
                                                            <?php
                                                        } else
                                                        {
                                                            ?>
                                                            <span>No</span>
                                                        <?php } ?>
                                                    </td>
                                                </tr>   
                                                <?php
                                            }
                                        }
                                        ?>

                                </table>          
                            </td>
                        </tr>
                        <?
                    }
                    ?>
                </table>
            </div>
        </div>
        <div id="TechWODetailsSection2">
            <div class="woSections_titleNew">
                <div class="woSections_lefttitleNew" onclick="toggleTab(2)">
                    <div class="woSections_righttitleNew">
                        <img id="bulletSection2" class="imgcol" src="/widgets/css/images/triangle_up.gif" alt="Expand Section" />
                        <a name="section2">Specific Work Order Instructions</a>
                        <span class="win_num">WIN# <span class="client_num"><?= $this->escape($wo->WIN_NUM) ?></span></span>
                    </div>
                </div>
            </div>
            <div class="woSections_boxNew" id="TechWODetailsSection2_slider" style="display:none;">
                <!--Work Description -->
                <span class="item_title">Work Description:</span>
                <div class="whiteComNew" style="padding-bottom: 10px; margin-top: 10px;">
                    <?
                    if (trim($wo->Description))
                    {
                        ?>
                        <div id="TruncatedDescription" class="deDescription">
                            <?= $wo->Description ?>
                        </div>
                        <?
                    } else
                    {
                        ?>
                        <div  class="deDescription">
                            <p>Description is empty.</p>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <!--Work Description Tools required -->
                <span class="item_title">Tech Requirements &amp; Tools Required</span>
                <div class="whiteComNew" style="padding-bottom: 10px; margin-top: 10px;">
                    <?
                    if (trim($wo->Requirements))
                    {
                        ?>
                        <div id="TruncatedTools" class="deDescription">
                            <?= $wo->Requirements ?>
                        </div>
                        <?
                    } else
                    {
                        ?>
                        <div  class="deDescription">
                            <p>Tech Requirements &amp; Tools Required are empty.</p>
                        </div>
                        <?
                    }
                    ?>
                </div>
                <!-- Special Instructions -->
                <span class="item_title">Special Instructions:</span>
                <div class="whiteComNew" style="padding-bottom: 10px; margin-top: 10px;">
                    <?
                    if (trim($wo->SpecialInstructions))
                    {
                        ?>
                        <span id="TruncatedInstructions" class="deDescription">
                            <?= $wo->SpecialInstructions ?>
                        </span>
                        <?
                    } else
                    {
                        ?>
                        <div  class="deDescription">
                            <p>Instructions are empty.</p>
                        </div>
                        <?
                    }
                    ?>
                </div>
                <!-- 14013-->
                 <span class="item_title" >Role:</span>
                  <?php
                   if($wo->Lead==1 && $wo->Assist==1)
                {
                 ?>
                     <span>
                        <?php echo 'Assist, Lead';?>
                     </span>
                <?php
                    
                }
                elseif($wo->Assist==1)
                {
                ?>
                   <span>
                        <?php echo 'Assist';?>
                     </span>
                      
                <?php }
                else if($wo->Lead==1)  {
                ?>
                   <span>
                        <?php echo 'Lead';?>
                     </span>
                <?php }
                ?>
                <span class="item_title" > &nbsp;&nbsp;&nbsp;</span> 
                <!-- end 14013-->

                <!-- Special Instructions -->
            </div>
        </div>
        <div id="TechWODetailsSection3">
            <div class="woSections_titleNew">
                <div class="woSections_lefttitleNew" onclick="toggleTab(3)">
                    <div class="woSections_righttitleNew">
                        <img id="bulletSection3" class="imgcol" src="/widgets/css/images/triangle_down.gif" alt="Expand Section" />
                        <a name="section3">Pricing and Fees</a>
                        <span class="win_num">WIN# 
                            <span class="client_num"><?= $this->escape($wo->WIN_NUM) ?></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="woSections_boxNew" id="TechWODetailsSection3_slider" style="display:none;">
                <span class="topSm10 bottomSm10 item_title">Offer Pay Amount: <?= $this->displayMoney($wo->PayMax, '$') ?> <?= $this->displayAmountPer($wo->Amount_Per) ?></span>
                <?
                if ($wo->Qty_Devices + 0)
                {
                    ?>
                    <span style="margin-left: 40px;" class="topSm10 bottomSm10">
                        <?
                        switch (trim(strtolower($wo->Amount_Per)))
                        {
                            case 'visit':
                                echo '# of Visits: ' . ($wo->Qty_Devices + 0);
                                break;
                            default :
                                echo 'Devices: ' . ($wo->Qty_Devices + 0);
                                break;
                        }
                        ?>
                    </span>
                    <?
                }
                ?>
                <div class="topSm10 bottomSm10">Field Solutions clients require all work to be performed only by the named technician applying for the work order assignment. At the client's sole discretion, sub-contracted or substituted technicians may be denied access to the work and may not be paid.</div>

                <div class="topSm10 bottomSm10">Note: When you place a bid, <u>you are committing to do the work</u>. If you are assigned the work and fail to do to the job, it may result in you not being qualified for future work with Field Solutions.</div>

                <div class="topSm10 bottomSm10">
                    <?php if ($project->FixedBid == true) : ?>
                        FIXED TOTAL PAY WORK ORDER: this work order is a total pre-set fixed pay work order. No extra $ or hourly rates or bids will be accepted. No added comments will be considered or accepted.
                    <?php else : ?>
                        You may "bid" a lower amount when you apply for this Work Order if you are willing to do the work for less than the Client's maximum pay amount.
                    <?php endif; ?>
                </div>
                <div>
                    <?php
                    if ($this->enableExpenseReporting)
                    {
                        ?>
                        <table width="100%" >
                            <tr>
                                <td class="topSm10 bottomSm10"  colspan="2">If properly documented and approved by the client, you will be reimbursed for the following types of expenses as part of your pay for this Work Order:</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="tableContentWDS tableContentWDSGUI"  cellspacing="5" width="100%" style="padding-top: 10px;padding-left: 20px;">
                                        <tr style="text-decoration: underline;">
                                            <td align="left">Reimbursement</td>
                                            <td align="left">Notes</td>
                                            <td align="left">Document Upload Required?</td>
                                        </tr>
                                        <?php
                                        if (!empty($this->expenseReporting))
                                        {
                                            foreach ($this->expenseReporting as $item)
                                            {
                                                ?>    
                                                <tr class="trPeyTech">
                                                    <td>
                                                        <?= $item["bcatname"] ?>
                                                    </td>
                                                    <td>
                                                        <?= $item["bcatdesc"] ?>
                                                    </td> 
                                                    <td align="left">
                                                        <?php
                                                        if ($item["require_doc_upl"])
                                                        {
                                                            ?>
                                                            <span>Yes &nbsp;</span>
                                                            <?php
                                                        } else
                                                        {
                                                            ?>
                                                            <span>No</span>
                                                            <?php
                                                        }
                                                        ?>
                                                    </td>
                                                </tr>   
                                                <?php
                                            }
                                        }
                                        ?>
                                    </table>          
                                </td>
                            </tr>
                        </table>
                        <?php
                    }
                    ?>
                </div>

                <div class="topSm10 bottomSm10">
                    <?
                    $PcntDeductPercentmsg = "";
                    if (empty($wo->PcntDeduct))
                    {
                        $PcntDeductPercentmsg = "No service fee will be deducted from your final total payment amount from this work order.";
                    } else if ($wo->PcntDeductPercent == 1)
                    {
                        $PcntDeductPercentmsg = "You will be paid outside of the FieldSolutions Platform for this work order.";
                    } else
                    {
                        $PcntDeductPercentmsg = "A " . ($wo->PcntDeductPercent * 100) . "% service fee will be deducted from your final total payment amount from this work order.";
                    }
                    echo ($PcntDeductPercentmsg);
                    ?>
                    <?php if (Core_Geocoding_Google::isCanadianZip($wo->Zipcode)) : ?>
                        <br/><span class="payments-warning">(All payments and fees are in $US)</span> 
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div id="TechWODetailsApply">
            <br/>
            <?php
            if ($this->bidsCount)
            {
                ?>
                <div align="center">
                    
                    <div style="padding-top:5px;width:100%">
                        <table width="100%" cellspading="0" cellspacing="0">
                            <tr>
                                <td style=" width:48%;" align="right">
                    <input type="button" id="opentechwidthdrawBtn" class="link_button" value="Review Application" style="display:block;" onclick="jQuery('#opentechwidthdraw').click();scrollTo(0,0);"/>
                                </td>
                                <td style=" width:4%;"></td>
                                <td style =" width:48%;align:left;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </td>
                            </tr>
                        </table>

                        <div style="float: right; margin-top: -26px; text-align: left; width: 50%;">

                        </div>
                    </div>
                    <div style="height:5px;"></div>
                </div>
                <?php
            } else
            {
                ?>
                <div align="center">
                    <a class="quickApply" id="quickApply<?= $wo->WIN_NUM ?>" onclick="quickApplyCheck(this, '<?= $wo->WIN_NUM ?>');" style="display:none;"><img src="/widgets/images/apply-buttons.png" width="54px" height="46px"/></a>
                    <div style="padding-top:5px;width:100%">
                        <table width="100%" cellspading="0" cellspacing="0">
                            <tr>
                                <td style=" width:48%;" align="right">
                                    <input type="button" id="quickApplyBtn" class="link_button" value="Apply" style="display:block;" onclick="jQuery('#TechapplyWOBtn').click();scrollTo(0,0);">
                                </td>
                                <td style=" width:4%;"></td>
                                <td style =" width:48%;align:left;">
                                    <button WIN_NUM="<?= $wo->WIN_NUM ?>" class='link_button TechQABtn' title="<?=$roleovertext?>">Q&A<span style="<?=$isdisplayexclamationmark?>">(<span style="color:red;"><?=$Unseen_QA_fromTech?></span>)</span></button>
                                </td>
                            </tr>
                        </table>

                        <div style="float: right; margin-top: -26px; text-align: left; width: 50%;">

                        </div>
                    </div>
                    <div style="height:5px;"></div>
                </div>
            <?php } ?>
        </div>
    </div>
    <div style="display:none">
        <input type="submit" id="woDetailsFormSubmitBtn" value="submit" />
    </div>
<?php endif; ?>