<?php

//require (getcwd()."/mapping/includes/Paging.php");

//$_SESSION['assignedTechsFromLasso'] = $techs     = !empty($_POST['techs']) ? $_POST['techs'] : null;
//$_SESSION['assignedWosFromLasso']   = $wos       = !empty($_POST['wos'])   ? $_POST['wos']   : null;
//$_SESSION['companyID']              = $companyID = addslashes($_POST['company_id']);

if (!empty($this->wo->data) || !empty($this->techs->data)) {
    echo "<div class='logo1'><span style='float:right;'><div class='mapperServiceButtotn'><a href='' onclick=\"oPanel2.cancel(); return false;\">Return to FS-Mapper</a></div><div class='mapperServiceButtotn'><a href='/content/FS-Mapper User Guide and FAQs.pdf' target='_blank'>Help</a></div><br/></span></div><br />";
} else {
    echo '<strong>No results.</strong>';
    exit();
}

if (!empty($this->wo->data)) :
    $wosCount = $this->woCount;
    if ($wosCount < 25) $countStr = "$wosCount";
    else $countStr = "25 of $wosCount";
    
    $wopaging = new Core_Mapping_Paging();
    $wopaging->setCurPage($this->woPage);
    $wopaging->setPerPage(25);
    $wopaging->setCompanyId($this->companyId);
    $wopaging->setTotalCount($wosCount);
    $pagingHTML = $wopaging->getWOPaging();
    
    $tableHeight = $wosCount > 8 ? 'height:300px;overflow-y:scroll;' : '';
    /*
<?=(($this->techOrderBy == 'TechID') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'TechID'); processTechData('<?=$this->companyId?>');">Tech ID#<?php if ($this->techOrderBy == 'TechID') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?>
     */
    ?>
<?php if ($this->assign) :?>
<div class='assignErrors' id='assignErrorsDiv'>
</div>
<?php endif;?>
    <div class='sidebox'>
    <span>
        <b class='rWoTop'><b class='r0'></b><b class='r1'></b><b class='r2'></b><b class='r3'></b><b class='r4'></b></b>
    </span>
    <div style="padding: 0 10px; background-color:#FFFFBB;">
        <?php if ($this->assign) :?>
        <br /><span style="float:right;"><div class="mapperButtotn" onclick="assignTechs('<?=$this->companyId?>');return false;">Assign Work Orders</div></span> 
        <?php endif;?>
    
        <br /><h2>Work Orders (<?=$countStr?>):</h2><br />
    </div>
    <span>
        <div style='background-color:#FFFFBB;'>
<script>
function allChecked(el)
{
	if ($.browser.msie) {
		$('.woassign').each(function(){$(this).click();});
	} else {
    	if (el.checked) {
    		$('.woassign').each(function(){this.checked = true;});
    	} else {
    		$('.woassign').each(function(){this.checked = false;});
    	}
	}

	$('.woassign').each(function(){$(this).change();});
}
</script>        
        <div id='woTableContainer' style='border:1px solid #000;margin:0px 10px; background-color:#FFFFBB;<?=$tableHeight?>'>
        <table class='lassoResTable'>
            <thead>
                <tr valign='top'>
<?php if ($this->assign) :?>                 
<td><input type='checkbox' onchange="allChecked(this)" onclick="if ($.browser.msie) $(this).change();" /></td>
<?php endif;?>                
                    <td class='cursorPointer<?=(($this->woOrderBy == 'TB_UNID') ? ' orderChecked' : '')?>'' onclick="woChagneOrder(this, 'TB_UNID'); processWoData('<?=$this->companyId?>');">Client WO#<?php if ($this->woOrderBy == 'TB_UNID') : ?> <b><?=($this->woOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->woOrderBy == 'StartDate') ? ' orderChecked' : '')?>' onclick="woChagneOrder(this, 'StartDate'); processWoData('<?=$this->companyId?>');">Start<?php if ($this->woOrderBy == 'StartDate') : ?> <b><?=($this->woOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td>Offer $</td>
                    <td>Project Headline, Site</td>
                    <td class='cursorPointer<?=(($this->woOrderBy == 'City') ? ' orderChecked' : '')?>' onclick="woChagneOrder(this, 'City'); processWoData('<?=$this->companyId?>');">City, State<?php if ($this->woOrderBy == 'City') : ?> <b><?=($this->woOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->woOrderBy == 'Zipcode') ? ' orderChecked' : '')?>' onclick="woChagneOrder(this, 'Zipcode'); processWoData('<?=$this->companyId?>');">Zip Code<?php if ($this->woOrderBy == 'Zipcode') : ?> <b><?=($this->woOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
<?php if ($this->assign) :?>                    
                    <td>Assign Tech</td>
                    <td>Agreed $</td>
<?php endif;?>
                </tr>
            </thead>
            <tbody id='wosLassoDetails'>
    <?php 
    $i = 1;
    
    foreach ($this->wo->data as $wo) :
        ?>
        <tr class="<?=(($i%2) ? 'zebraLight' :'zebraDarck')?>" valign="top">
<?php if ($this->assign) :?>                 
<td><input type="checkbox" class="woassign" name="<?=$wo->WIN_NUM?>_assign" value="<?=$wo->WIN_NUM?>" id="<?=$wo->WIN_NUM?>_assign" onchange="checkForAssign(this, '<?=$wo->WIN_NUM?>');" onclick="if ($.browser.msie) $(this).change();"/>
<?php endif;?>  
        <td><a href='../wosDetails.php?v=<?=$this->companyId?>&id=<?=$this->escape($wo->WIN_NUM)?>' target='_blank' id="<?=$wo->WIN_NUM?>_info"><?=$this->escape($wo->WO_ID)?></a></td>
        <td><?=trim($wo->StartDate)?> <?=trim($wo->StartTime)?></td>
        <td>
        <?php 
    		if (!empty($wo->PayMax)) { echo '$'. $wo->PayMax;
            if (!empty($wo->Amount_Per)) echo '<br/> per '. $wo->Amount_Per; }
        ?>
        </td>
        <td><?=$wo->Project?><br /><?=$wo->SiteName?></td>
        <td><?=$wo->City?><br /><?=$wo->State?></td>
        <td><?=$wo->Zipcode?></td>
<?php if ($this->assign) :?> 
<td><input disabled type="text" id="<?=$wo->WIN_NUM?>_techId" value="Tech ID#" size=7  /></td>
<td><input disabled type="text" id="<?=$wo->WIN_NUM?>_techPay" value="Tech Pay$" size=7 /></td>
<?php endif;?> 
        
        </tr>
    <?php 
    	$i++;
    	if ($i == 26) break;
    endforeach;
    ?>
    </tbody>
            </table>
            <input type='hidden' id='woOrderType' name='woOrderTypeHid' value="<?=$this->woOrderType?>">
            <input type='hidden' id='woOrderBy' value='<?=$this->woOrderBy?>' name='woOrderByHid'>
            <input type='hidden' id='woPage' value='<?=$this->woPage?>' name='woPageHid'>
            <input type="hidden" name='assign' id="woAssign" value="<?=($this->assign ? '1' : '0')?>" />
            <input id='assignTechs' type='hidden' autocomplete='off' name='assignTechs' value=''/>
            <input id='assignTechsAgreed' type='hidden' autocomplete='off' name='assignTechsAgreed' value=''/>
            </div>
            <div class='paging' id='pagingWoDiv' style='padding:3px; width:100%; text-align:center; font-size:12px;'><?=$pagingHTML?></div>
            </div>
        </span>
        <span><b class='rWoBottom'><b class='r4'></b><b class='r3'></b><b class='r2'></b><b class='r1'></b><b class='r0'></b></b>
        </span>
    </div>
    <?php 
endif;


if (!empty($this->techs->data)) :

    $techsCount = $this->countRows;
    if ($techsCount < 25) $countStr = "$techsCount";
    else $countStr = "25 of $techsCount";
    
    $techpaging = new Core_Mapping_Paging();
    $techpaging->setCurPage($this->techPage);
    $techpaging->setPerPage(25);
    $techpaging->setCompanyId($this->companyId);
    $techpaging->setTotalCount($techsCount);
    $tableHeight = count($techs)>8 ? 'height:300px;overflow-y:scroll;' : '';
    $pagingHTML = $techpaging->getTechPaging();

?>
<br/>
<div class='sidebox'>
    <span><b class='rTechTop'><b class='r0'></b><b class='r1'></b><b class='r2'></b><b class='r3'></b><b class='r4'></b></b></span>
    <div style='padding-left:10px; background-color:#AACAFF;'><br /><h2>Technicians (<?=$countStr?>):</h2><br /></div>
    <span>
        <div style='background-color:#AACAFF;'>
        <div id='techTableContainer' style='border:1px solid #000;margin:0px 10px; background-color:#AACAFF;overflow-y:scroll;<?=$tableHeight?>'>
        <table class='lassoResTable'>
            <thead>
                <tr valign='top'>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'TechID') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'TechID'); processTechData('<?=$this->companyId?>');">Tech ID#<?php if ($this->techOrderBy == 'TechID') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
<?php 
    if ($companyID == 'FLS') :
?>
        <td class='cursorPointer<?=(($this->techOrderBy == 'FLSID') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'FLSID'); processTechData('<?=$this->companyId?>');">FLS ID<?php if ($this->techOrderBy == 'FLSID') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
<?php 
    endif;
?>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'LastName') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'LastName'); processTechData('<?=$this->companyId?>');">Name<?php if ($this->techOrderBy == 'LastName') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                	<td>Contact: phone, e-mail</td>
                    <td>Address</td>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'ZipCode') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'ZipCode'); processTechData('<?=$this->companyId?>');">Zip Code<?php if ($this->techOrderBy == 'ZipCode') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'Preferred') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'Preferred'); processTechData('<?=$this->companyId?>');">Preferred<?php if ($this->techOrderBy == 'Preferred') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'Qty_IMAC_Calls') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'Qty_IMAC_Calls'); processTechData('<?=$this->companyId?>');">Call Metrics<?php if ($this->techOrderBy == 'Qty_IMAC_Calls') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'SATRecommendedAvg') ? ' orderChecked' : '')?>' onclick="techChagneOrder(this, 'SATRecommendedAvg'); processTechData('<?=$this->companyId?>');">Preference / Performance<?php if ($this->techOrderBy == 'SATRecommendedAvg') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
                    <td class='cursorPointer<?=(($this->techOrderBy == 'No_Shows') ? ' orderChecked' : '')?>' onclick="techChagneOrder (this, 'No_Shows'); processTechData('<?=$this->companyId?>');">Performance<?php if ($this->techOrderBy == 'No_Shows') : ?> <b><?=($this->techOrderType ? '&uarr;' : '&darr;')?></b><?php endif;?></td>
    			</tr>
            </thead>
            <tbody id='techsLassoDetails'>
<?php 
    $j = 1;
    foreach ($this->techs->data as $tech) :
        if ($tech->isPreferred == 'Yes') {
            echo '<tr style="background-color:#FFFF8C;" valign="top">';
        } else {
            if ($j%2==0) echo '<tr class="zebraLight" valign="top">';
            else echo  '<tr class="zebraDarck" valign="top">';
        }
        ?> 
        <td><a href='../wosViewTechProfile.php?TechID=<?=$this->escape($tech->TechID)?>&v=<?=$this->companyId?>' target='_blank'><?=$this->escape($tech->TechID)?></a></td>
        <?php 
        if ($companyID == 'FLS') :
            echo "<td>", $tech->FLSID, "</td>";
        endif;
        ?>
        <td><?=$tech->Firstname?><br /><?=$tech->Lastname?></td>
        <td><?=$tech->PrimaryPhone?><br /><?=$tech->PrimaryEmail?></td>
        <td><?=$tech->Address1?><br/><?=$tech->City?>  <?=$tech->State?></td>
        <td><?=$tech->Zipcode?></td>
        <td><?=(($tech->isPreferred) ? 'Yes' : '')?></td>
        <td>IMAC : <?=$tech->Qty_IMAC_Calls?><br />Svc.: <?=$tech->Qty_FLS_Service_Calls?></td>
        <td nowrap>Preference : <?=$tech->SATRecommendedAvg?> (<?=$tech->SATRecommendedTotal?>)<br/>Performance : <?=$tech->SATPerformanceAvg?> (<?=$tech->SATPerformanceTotal?>)</td>
        <td>No Shows : <?=$tech->No_Shows?><br /> Back-outs : <?=$tech->Back_Outs?></td>
        </tr>
<?php 
    	$j++;
    	if ($j == 26) break;
    endforeach;
?>
            </tbody>
        </table>
        <input type='hidden' id='techOrderType' name='techOrderTypeHid' value="<?=$this->techOrderType?>">
        <input type='hidden' id='techOrderBy' value='<?=$this->techOrderBy?>' name='techOrderByHid'>
        <input type='hidden' id='techPage' value='<?=$this->techPage?>' name='techPageHid'>
        </div>
        <div class='paging' id='pagingTechDiv' style='padding:3px; width:100%; text-align:center; font-size:12px;'><?=$pagingHTML?></div>
        </div>
    </span>
    <span><b class='rTechBottom'><b class='r4'></b><b class='r3'></b><b class='r2'></b><b class='r1'></b><b class='r0'></b></b>
    </span>
</div>
<?php
endif;