
#content {
	padding: 3em;
}

table {
	border-collapse: collapse;
}

td.wos, th.wos {
	padding: 0.5em;
	border: 1px solid #CCC;
}

thead, tfoot {
	background-color: #DDD;
}

tr.rowodd {

}

tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #DDFFAC;
	background-image: url(/images/up.gif);
	padding: 0.5em;
	border: 1px solid #CCC;
}
.sortdesc {
	background-color: #B9DDFF;
	background-image: url(/images/down.gif);
	padding: 0.5em;
	border: 1px solid #CCC;
}
.nosort {
	cursor: default;
}

.urg1, .urg2, .urg3, .urg4, .urg5 {
	padding: 3px;
	text-align: center;
	border: 1px solid #333;
	width: 3em;
}

.urg1 {
	background-color: #FFFACD;
}
.urg2 {
	background-color: #FFD700;
}
.urg3 {
	background-color: Orange;
}
.urg4 {
	background-color: #FF6347;
}
.urg5 {
	background-color: Red;
}

.scroll-table-head {
    width: 600px;
}

.scroll-table-body {
    width: 600px;
    height: 100px;				
}



.scroll-table-body td {
	padding-right: 20px;
	overflow: hidden;
}

