<?php
	$WinNum = !empty ($this->wo->WIN_NUM) ? $this->wo->WIN_NUM : 0;
	$Status = !empty ($this->wo->Status) ? $this->wo->Status : "created";
	$DateEntered = !empty ($this->wo->DateEntered) ? $this->wo->DateEntered : date("Y-m-d");
	$PcntDeduct = $this->wo->PcntDeduct == 1 ? $this->wo->PcntDeductPercent : 0.0
?>

<style type="text/css">
	/*<![CDATA[*/
	.rotate90 {
		display: block;
		writing-mode: tb-rl;
		-webkit-transform: rotate(90deg);
		-webkit-transform-origin: bottom left;
		-moz-transform: rotate(90deg);
		-moz-transform-origin: bottom left;
		-o-transform: rotate(90deg);
		-o-transform-origin: bottom left;
		-ms-transform: rotate(90deg);
		-ms-transform-origin: bottom left;
		transform: rotate(90deg);
		transform-origin: bottom left;
		position: absolute;
	}

	.suggested_pay { display: none; width: 313px; height: 252px; padding: 0 0 0 0; }
	.suggested_pay .rotate90 { left: 8px; top: 10px; }
	.suggested_pay .tab { float: left; width: 30px; height: 100%; cursor: pointer; }
	.suggested_pay .tab .label { font: normal 14px Calibri, Times New Roman; color: #ffffff; }

	.suggested_pay .panel { float: right; width: 283px; height: 100%; background-color: #ffffff; padding: 0 0 0 0; }
	.suggested_pay .panel .panel_heading { font: normal 14px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .description { font: normal 11px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .label { font: normal 11px/16px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .value { font: bold 11px/16px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .rule { height: 14px; }
	.suggested_pay .panel .apply_button { height: 23px; }

	.suggested_pay .panel hr {
		border-bottom-width: 0px;
		height: 1px;
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-top-color: rgb(246, 150, 48);
		border-right-color: rgb(246, 150, 48);
		border-bottom-color: rgb(246, 150, 48);
		border-left-color: rgb(246, 150, 48);
		background-color: rgb(246, 150, 48);
	}
	/*]]>*/
</style>

<!--[if IE]>
<style type="text/css">
	.suggested_pay .rotate90 { left: -175px; top: 48px; white-space: nowrap; }
	.suggested_pay .panel .rule { height: 12px; }
	.suggested_pay .panel .label { font: normal 11px/15px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .value { font: bold 11px/15px Calibri, Times New Roman; color: #000000; }
	.suggested_pay .panel .apply_button { height: 29px; }
</style>
<![endif]-->

<script type="text/javascript">
	//<![CDATA[
	var paytool_model, paytool_view, paytool_ctrl;

	jQuery (document).ready (function () {
		setTimeout (function () {	//Give time for WO data to load
			paytool_model = new SuggestedTechPayModel ();
			paytool_view = new SuggestedTechPayView ();
			paytool_ctrl = new SuggestedTechPayCtrl (paytool_view, paytool_model);

			paytool_model.val ({
				win_num: <?= $WinNum ?>,
				status: "<?= $Status ?>",
				date_entered: "<?= $DateEntered ?>",
				pcnt_deduct: <?= $PcntDeduct ?>
			});

			//Hack for adjusting height differences beween WO create and WO details
			if (typeof paytool_view_height != "undefined") 
				paytool_view.setHeight (paytool_view_height);
		}, 2000);
	});
	//]]>
</script>

<div id="suggested_pay" class="suggested_pay">
	<div id="suggested_pay_tab" class="tab">
		<div style="width: 100%; height: 100%;">
			<table cellspacing="0" cellpadding="0" border="0">
				<tr height="8">
					<td><img src="/widgets/images/popup/border_orange_top_30x8.png" width="30" height="8" border="0" /><br/></td>
				</tr>
				<tr style="height: 16px; background-color: #f69630; text-align: center;">
					<td><img src="/widgets/images/popup/arrow_blue_left_9x16.png" class="suggested_pay_arrow" width="9" height="16" border="0" /><br/></td>
				</tr>
				<tr>
					<td style="height: 204px; background-color: #f69630; text-align: center; vertical-align: middle;">
						<div class="rotate90" style="width: 200px; text-align: center;">
							<span id="suggested_pay_amount_label" class="label">
								Benchmark Tech Pay
							</span>
							<span id="suggested_pay_amount" class="label" style="color: #457DC7;"></span><br/>
						</div>
					</td>
				</tr>
				<tr style="height: 16px; background-color: #f69630; text-align: center;">
					<td><img src="/widgets/images/popup/arrow_blue_left_9x16.png" class="suggested_pay_arrow" width="9" height="16" border="0" /><br/></td>
				</tr>
				<tr height="8">
					<td><img src="/widgets/images/popup/border_orange_bottom_30x8.png" width="30" height="8" border="0" /><br/></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="suggested_pay_panel" class="panel">
		<div style="width: 277px; height: 246px; border: 3px solid #f69630;">
			<div style="width: 265px; height: 238px; margin: 4px 6px 4px 6px;">
				<input type="hidden" name="contact_name" id="contact_name" value="<?= $this->name ?>" />
				<!-- content -->
				<table cellspacing="0" cellpadding="1" border="0" width="100%" height="100%">
					<tr valign="middle" align="center">
						<td colspan="2">
							<span class="panel_heading">
								Benchmark Tech Pay&nbsp;&nbsp;
							</span>
							<img width="16px" height="16px" style="vertical-align: middle;cursor: pointer;" src="/widgets/images/FAQi.png" id="stp_info" bt-xtitle="" title=""><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td colspan="2">
							<span class="description">Data analytics calculation based on this Work Order's data - add more information to increase accuracy.</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td colspan="2" class="rule">
							<hr size="1" width="245" align="center" color="#f69630" style="margin-top: 0; margin-bottom: 0;" />
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Geography:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_geography">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Skill Category:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_category">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Lead Time:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_leadtime">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Day Part:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_daypart">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">On-Site Duration:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_duration">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle" id="pcntdeduct_row">
						<td width="60%">
							<span class="label">Includes Admin Fee Deduction:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_pcntdeduct">N/A</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td colspan="2" class="rule">
							<hr size="1" width="245" align="center" color="#f69630" style="margin-top: 0; margin-bottom: 0;" />
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Benchmark Hourly Tech Pay:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_result">Unable to Estimate</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Hourly Tech Pay Band:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_range">Unable to Estimate</span><br/>
						</td>
					</tr>
					<tr valign="middle">
						<td width="60%">
							<span class="label">Benchmark Client $ Offer:</span><br/>
						</td>
						<td width="40%">
							<span class="value" id="display_suggested">Unable to Estimate</span><br/>
						</td>
					</tr>
					<tr valign="bottom" style="height: 100%; vertcial-align: middle;">
						<td colspan="2" align="center" valign="middle" class="apply_button">
							<input type="button" id="apply_button" class="link_button_disabled middle_button" value="Apply Benchmark Offer" /><br/>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="suggested_pay_request" style="display: none;">
	<div style="text-align: center; vertical-align: middle height: 70px;">
		Request a meeting to discuss the Official Tech Pay Guide<br/><br/>
		<input type="button" class="link_button middle_button" value="Cancel" onclick="jQuery.fancybox.close();" />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" class="link_button middle_button" value="Send Request" onclick="SuggestedTechPayCtrl.sendMeetingRequest();" />
	</div>
</div>

