<?php if ($this->wo) : ?>
    <script type="text/javascript">
        $(document).ready(function(){

            $('.sectionBox a.title').live('hover', function() {
                $(this).attr({title: "Expand Section"});
            });
            $('.sectionBox.sectionOpen a.title').live('hover', function() {
                $(this).attr({title: "Collapse Section"});
            });
            $(".sectionBox .title").click(function(){
                $(this).parent().next(".sectionInner").slideToggle("slow");
                $(this).parents(".sectionBox").toggleClass("sectionOpen");
                if ($('#updateDetailsForm').find(".sectionBox").hasClass('sectionOpen')) {
                    $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
                }else{
                    $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
                }
            });

            $("#all_btn").click(function(){
                var buttons = $(this).children('.all_btn').toggleClass('btnClosed').toggleClass('btnOpened');
                if (buttons.first().hasClass('btnOpened')) {
                    $(this).attr('title','Collapse Entire Work Order');
                    $('#updateDetailsForm').find('.sectionInner').slideDown("slow").parents('.sectionBox').addClass('sectionOpen');
                }else if (buttons.first().hasClass('btnClosed')) {
                    $(this).attr('title','Expand Entire Work Order');
                    $('#updateDetailsForm').find('.sectionInner').slideUp("slow").parents('.sectionBox').removeClass('sectionOpen');
                }
            });


            $(".sectionBox .title").each(function(index, value) {
    <?php foreach ($this->opentabs as $index): ?>
                            if (index == <?= $index ?>) {$(this).click();$(this).parent().next(".sectionInner").slideDown("slow");}
    <?php endforeach; ?>
                    });
                });
    </script>

    <script type="text/javascript">
        $( document ).ready( function () {
            if($.browser.mozilla || ($.browser.msie && $.browser.version == '8.0') ){
                $( '#example' ).scrollFollow( {
                    speed: 20,
                    offset: 230
                } );
            }
            else {
                $( '#example' ).scrollFollow( {
                    speed: 20,
                    offset: 30
                } );
            }
            //14087
            $("#edit_Update_Requested").click(function(){
             if($('#edit_Update_Requested').is(':checked')){
                $("#edit_Update_Reason").attr("disabled",false);
             } else{
                $("#edit_Update_Reason").attr("disabled",true);
             }
            });
            //End 14087
        } );
    </script>

    <link rel="stylesheet" type="text/css" href="/widgets/css/details.css" media="screen" />

    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="/widgets/css/ie_fix.css" media="screen" />
    <style type="text/css">
            .old_style .submenu li {
                    display: inline;
            }
            .indentBottomLarge {
                    *zoom:1;
            }
    </style>
    <![endif]-->

<?php  $item = $this->WOVisitList[0]; ?>    

    <div style="width: 95%;">
        <div class="content old_style labelsnw">
            <!-- content box -->
            <form action="/widgets/details/update/" method="POST" id="updateDetailsForm">
                <input type="hidden" name="WIN_NUM" value="<?= $this->wo->WIN_NUM ?>" />
                <input type="hidden" name="company" value="<?= $this->company ?>" />
                <table width="100%" cellpadding="0" cellspacing="0" class="cco_ninfoflsTable">
                    <tr>
                        <td width="200px" class="tdfirstleft">Current Work Order State:</td>
                        <td class="tdfirstcenter"><span class="ninfo_data"><?= ucwords($this->wo->Status) ?></span></td>
                        <td width="140px" class="tdfirstcenter">Client WO ID#:</td>
                        <td class="tdfirstright"><span class="ninfo_data"><?= $this->escape($this->wo->WO_ID) ?></span></td>
                    </tr>
                    <tr>
                        <td class="tdcenterleft">WIN#:</td>
                        <td><span class="ninfo_data"><?= $this->wo->WIN_NUM ?></span></td>
                        <td>Lead:</td>
                        <td class="tdcenterright"><?= $this->wo->Lead ? 'Yes' : 'No' ?></td>
                    </tr>
                    <tr>
                        <td class="tdcenterleft">Date Entered:</td>
                        <td><span class="ninfo_data"><?= $this->displayDate('n/j/Y', $this->wo->StartDate) ?></span></td>
                        <td>Assist:</td>
                        <td class="tdcenterright"><?= $this->wo->Assist ? 'Yes' : 'No' ?></td>
                    </tr>
                    <tr>
                        <td class="tdcenterleft">Source By Date:</td>
                        <td><span class="ninfo_data"><?= $this->displayDate('n/j/Y', $this->wo->SourceByDate) ?></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="cco_ninfofls" colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding-right: 0px;" class="tdfirstleft"><div class="sectionBox_titleNewFLS"><a class="titleV2">Basic Work Order Information</a></div></td>
                        <td class="tdfirstright" style="padding-left: 0px;"><div style="width:95%;text-align:right;" class="sectionBox_titleNewFLS"><input style="margin-top: -6px;padding: 4px 0 8px;" type="button" value="Update" class="link_button updateButton" /></div></td>
                    </tr>
                    <tr>
                        <td class="subheader" colspan="4">Site Information </td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Site Number:</td>
                        <td><?= $this->wo->SiteNumber ?></td>
                        <td>Site Name:</td>
                        <td><?= $this->wo->SiteName ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Site Address:</td>
                        <td colspan="3"><?= $this->wo->Address ?><br>
                            <?= $this->wo->City ?>, <?= $this->wo->State ?> <?= $this->wo->Zipcode ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Site Contact Name:</td>
                        <td><?= $this->wo->Site_Contact_Name ?></td>
                        <td>Site Email:</td>
                        <td><?= $this->wo->SiteEmail ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Site Phone:</td>
                        <td><?= $this->wo->SitePhone ?></td>
                        <td>Site Fax:</td>
                        <td><?= $this->wo->SiteFax ?></td>
                    </tr>
                    <tr>
                        <td class="subheader" colspan="4">Service Schedule </td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Work Start:</td>
                        <td colspan="3"><?= $this->displayDate('n/j/Y', $item["StartDate"])."&nbsp;&nbsp;".$item["StartTime"] ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Est. Duration:</td>
                        <td colspan="3"> <?php
                                            if (!empty($this->EstDurationArray)) {
                                                foreach ($this->EstDurationArray as $EstDuration) {
                                                    ?>    
                                                    <?= $EstDuration["value"] == $item["EstimatedDuration"] ? $EstDuration["desc"] : "" ?>
                                                    <?php
                                                }
                                            }
                                            ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Tech Arrival Instructions:</td>
                        <td colspan="3"><?= $item["TechArrivalInstructions"] ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Tech Name:</td>
                        <td><?= $this->wo->Tech_FName." ".$this->wo->Tech_LName ?></td>
                        <td>Tech Called?</td>
                        <td><?= $this->wo->TechCalled ? 'Yes' : 'No' ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Update Requested?</td>
                        <td colspan="3">
                            <input type="checkbox" value="1" id="edit_Update_Requested" name="Update_Requested" <?php if ($this->wo->Update_Requested) echo'checked="checked"'; ?> />
                            &nbsp;
                            <!--End 14087-->
                            <input title="Reason for Update" style="width: 90%;" type="text" id="edit_Update_Reason" name="Update_Reason" class="perWidth100_ inputwatermark" value="<?= $this->escape($this->wo->Update_Reason) ?>" <?php if (!$this->wo->Update_Requested){ echo 'disabled';}else{ echo '';} ?>/>
                            <!--End 14087-->
                        </td>
                    </tr>
                   
                    <tr>
                        <td class="tdleftbody" colspan="4">Sign-off paperwork required for completion: <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" <?php if ($this->wo->SignOffSheet_Required) echo'checked'; ?> /></td>
                    </tr>
                    <tr>
                        <td class="subheader" colspan="4">Tech Site Completion Report</td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Paperwork received?</td>
                        <td><input type="checkbox" value="1" id="edit_Paperwork_Received" name="Paperwork_Received" <?= ($this->wo->Paperwork_Received) ? 'checked="checked"' : '' ?> /></td>
                        <td>Paperwork incomplete?</td>
                        <td><input type="checkbox" value="1" id="edit_Incomplete_Paperwork" name="Incomplete_Paperwork" <?= ($this->wo->Incomplete_Paperwork) ? 'checked="checked"' : '' ?> /></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Date Time Called</td>
                        <td colspan="3"><?= $this->displayDate('n/j/Y g:i a', $this->wo->CallDate) ?></td>
                    </tr>
                    <tr>
                        <td class="tdleftbody">Called By</td>
                        <td colspan="3"><?= $this->escape($this->wo->CalledBy) ?></td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>     
    <?php else: ?>
        <div style="margin:9% 39%">This Work Order is no longer available</div>
    <?php endif; ?>
