<?
$siteCount = Core_Site::getSiteCount($this->company, 3149);

$timepart3 = 0;
$timepart2 = "";
$timepart1 = "";

for ($i = 0; $i < 24; $i++) {
    for ($j = 1; $j < 5; $j++) {
        if ($j == 1)
            $timepart2 = "00";
        else
            $timepart2 = ($j - 1) * 15;

        if ($i < 12 || $i == 24)
            $timepart3 = "AM";
        else
            $timepart3 = "PM";


        if ($i == 0)
            $timepart1 = "12";
        else if ($i < 13 && $i > 0)
            $timepart1 = $i;
        else
            $timepart1 = $i - 12;

        $timestamp = $timepart1 . ":" . $timepart2 . " " . $timepart3;
        $this->TIME .= ("<option value='" . $timestamp . "'>" . $timestamp . "</option>");
    }
}
?>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "specific_textareas",
        editor_selector :  /(txtarea_f2)/,
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,|,bullist,numlist,|,removeformat",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,
        theme_advanced_resize_horizontal : false,
        width : "705",
        theme_advanced_path : false,
        // Skin options
        skin : "o2k7",
        skin_variant : "silver"
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        
        $('.sectionBox a.title').live('hover', function() {
            $(this).attr({title: "Expand Section"});
        });
        $('.sectionBox.sectionOpen a.title').live('hover', function() {
            $(this).attr({title: "Collapse Section"});
        });
        $(".sectionBox .title").click(function(){
            $(this).parent().next(".sectionInner").slideToggle("slow");
            $(this).parents(".sectionBox").toggleClass("sectionOpen");
            if ($('#createDetailsForm').find(".sectionBox").hasClass('sectionOpen')) {
                $('#all_btn').attr('title','Collapse Entire Work Order').children('.all_btn').removeClass('btnClosed').addClass('btnOpened');
            }else{
                $('#all_btn').attr('title','Expand Entire Work Order').children('.all_btn').addClass('btnClosed').removeClass('btnOpened');
            }
        });

        $("#all_btn").click(function(){
            var buttons = $(this).children('.all_btn').toggleClass('btnClosed').toggleClass('btnOpened');
            if (buttons.first().hasClass('btnOpened')) {
                $(this).attr('title','Collapse Entire Work Order');
                $('#createDetailsForm').find('.sectionInner').slideDown("slow").parents('.sectionBox').addClass('sectionOpen');
            }else if (buttons.first().hasClass('btnClosed')) {
                $(this).attr('title','Expand Entire Work Order');
                $('#createDetailsForm').find('.sectionInner').slideUp("slow").parents('.sectionBox').removeClass('sectionOpen');
            }
        });

        $(".sectionBox .title").each(function(index, value) {
            $(this).click();$(this).parent().next(".sectionInner").slideDown("slow");
        });

        function formatTime( timeObject )
        {
            var r1 = /^(1[0-2]|0?\d)\s*(am|pm)$/i;
            var r2 = /^(1[0-2]|0?\d)\:([0-5]\d)\s*(am|pm)$/i;
            var result;
            var time = $.trim($(timeObject).val()).toUpperCase();

            if ( time && (result = time.match(r1)) != null ) {
                $(timeObject).val(parseInt(result[1],10).toString() + ":00 " + result[2]);
            } else if ( time && (result = time.match(r2)) != null ) {
                $(timeObject).val(parseInt(result[1],10).toString() + ":" + result[2] + " " + result[3]);
            } else {
                $(timeObject).val(time);
            }
        }

        $('#edit_StartTime').blur(function () {
            formatTime(this);
        });
        var siteCount = <?= $siteCount > 0 ? "true" : "false" ?>;
        detailsWidget.typeSite = 1; 
        detailsWidget.selectSiteButtonEnable(siteCount, true);
        detailsWidget.initSiteNumberAutoComplete();
    });
</script>
<link rel="stylesheet" type="text/css" href="/widgets/css/details.css" media="screen" />
<div style="min-width:780px;">
    <div class="content old_style">
        <!-- content box -->
        <form action="/" method="POST" id="createDetailsForm">
            <input type="hidden" name="company" value="<?= $this->company ?>" />
            <input type="hidden" value="" id="edit_StartDate" name="StartDate" />
            <input type="hidden" value="" id="edit_StartTime" name="StartTime" />
            <input type="hidden" value="" id="edit_EndDate" name="EndDate" />
            <input type="hidden" value="" id="edit_EndTime" name="EndTime" />
            <input type="hidden" value="" id="edit_Duration" name="Duration" />
            <input type="hidden" value="<?= $_SESSION['UserName'] ?>" name="WorkOrderOwner" />
            <select title="" type="text" id="edit_Project_ID" style="display:none;">
                <option value="3149" selected></option>
            </select>
            <div class="gradBox indentTopLarge" id="divcreateDetailsForm">
                <div class="gradBox_1">
                    <div class="gradBox_2_tabs" id="ContentServiceSchedule">
                        <div>

                            <?php if ($this->success): ?>
                                <!-- section1 -->
                                <table style="width: 795px;" cellspacing="0" cellpadding="0" class="tableServiceSchedule cco_ninfoflsTable" id="tableServiceSchedule">
                                    <tr>
                                        <td class="tdfirstleft">
                                            Client Work Order ID#<span class="required">*</span>
                                        </td>
                                        <td class="tdfirstcenter">
                                            <input type="text" id="edit_WO_ID" name="WO_ID" style="width: 200px;" value="" />
                                        </td>
                                        <td class="tdfirstcenter">&nbsp;</td>
                                        <td class="tdfirstright">
                                            <div style="text-align: right;width: 200px;">
                                                <input type="button" value="Create" class="link_button updateButton" style="padding:4px 0 8px;margin-top:-3px;"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cco_ninfofls" colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding-right: 0px;" class="tdfirstleft"><div class="sectionBox_titleNewFLS"><a class="titleV2">Basic Work Order Information</a></div></td>
                                        <td class="tdfirstright" style="padding-left: 0px;"><div style="width:200px;text-align:right;" class="sectionBox_titleNewFLS"><span  class="red">*Required Information</span></div></td>
                                    </tr>
                                    <tr>
                                        <td class="subheader" colspan="1">Site Information </td>
                                        <td>
                                            <a style="cursor:default;" id="btn_selectsite" href="javascript:void(0)">

                                                <img id="img_selectsite" border="0" width="93px" height="30" src="/widgets/css/images/btn_orange_selectsite_disabled.png" alt="" />
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="tdleftbody">
                                            Site Number
                                        </td>
                                        <td>
                                            <input type="text" id="edit_SiteNumber" name="SiteNumber" style="width:180px;" value="" />
                                            &nbsp;<a href="javascript:void(0)" onclick="detailsWidget.siteLookup()"><img src="/widgets/images/magnify.gif" /></a>
                                        </td>

                                        <td>
                                            Site Name<span class="required">*</span>
                                        </td>
                                        <td>
                                            <input type="text" id="edit_SiteName" name="SiteName" style="width: 200px;" value=""/>
                                        </td>

                                    </tr>
                                    <tr >

                                        <td class="tdleftbody">
                                            Site Address<span class="required">*</span>
                                        </td>
                                        <td>
                                            <input type="text" id="edit_Address" name="Address" style="width: 200px;" value="" />
                                        </td>

                                        <td>
                                            City<span class="required">*</span>
                                        </td>
                                        <td>
                                            <input type="text" id="edit_City" name="City" style="width: 200px;" value="" />
                                        </td>

                                    </tr>
                                    <tr >

                                        <td class="tdleftbody">
                                            Country<span class="required">*</span>
                                        </td>
                                        <td>
                                            <select type="text" id="edit_Country" name="Country" class="floatLeft" onchange="$('#edit_Country').attr('title', $('#edit_Country option:selected').text());detailsWidget.onChangeCountry();" style="width:202px;">
                                                <?php
                                                $dotline = "----------------";
                                                $icount = 0;
                                                foreach ($this->countries as $ckey => $country) {
                                                    ?>
                                                    <option title="<?= $country->Name ?>" value="<?= $country->Code ?>"<?php if ($country->Code == 'US') echo'selected'; ?>><?= $country->Name ?></option>
                                                    <?php
                                                    if ($icount == 2) {
                                                        echo("<option value=\"\">$dotline</option>");
                                                    }
                                                    $icount = $icount + 1;
                                                }
                                                ?>
                                            </select>
                                        </td>

                                        <td>
                                            State / Province<span class="required">*</span>
                                        </td>
                                        <td>
                                            <select type="text" id="edit_State" name="State" class="floatLeft" onchange="$('#edit_State').attr('title', $('#edit_State option:selected').text());" style="width:202px;">
                                                <option selected="selected" value="">Select State</option>
                                                <?php foreach ($this->states as $skey => $state) : ?>
                                                    <option title="<?= $state ?>" value="<?= $skey ?>" ><?= $state ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="tdleftbody">
                                            Zip / Postal Code<span class="required">*</span>
                                        </td>
                                        <td>
                                            <input type="text" id="edit_Zipcode" name="Zipcode" style="width: 200px;" value="" />
                                        </td>

                                        <td>

                                        </td>

                                    </tr>
                                    <tr >

                                        <td class="tdleftbody">
                                            Site Contact Name
                                        </td>
                                        <td>
                                            <input type="text" id="edit_Site_Contact_Name" name="Site_Contact_Name" style="width: 200px;" value="" />
                                        </td>

                                        <td>
                                            Site Email
                                        </td>
                                        <td>
                                            <input type="text" id="edit_SiteEmail" name="SiteEmail" style="width: 200px;" value="" />
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="tdleftbody">
                                            Site Phone
                                        </td>
                                        <td>
                                            <input title="(###)###-####" class="inputwatermark" type="text" id="edit_SitePhone" name="SitePhone" style="width: 200px;" value="" />
                                        </td>

                                        <td>
                                            Site Fax
                                        </td>
                                        <td>
                                            <input  title="(###)###-####" class="inputwatermark" type="text" id="edit_SiteFax" name="SiteFax" style="width: 200px;" value="" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="subheader" colspan="4">Service Schedule </td>
                                    </tr>
                                    <tr>

                                        <td class="tdleftbody">
                                            Work Start<span class="required">*</span>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" title="MM/DD/YYYY" id="CalendarInput" class="CalendarInput StartDate inputwatermark" style="margin:0px; width:90px;">
                                                <span class="customSelect" style="width:95px;margin-left: 9px;">
                                                    <span>
                                                        <span style="width:86px;">
                                                            <input title="H:MM AM/PM" type="text" class="texttimeChooser StartTime csText TimeInput inputwatermark"  >
                                                            <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a> 
                                                            <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                                <?= $this->TIME ?>
                                                            </select>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>

                                            <div style="display: none;">
                                                <input type="text" title="MM/DD/YYYY" class="CalendarInput EndDate inputwatermark" style="margin:0px; width:90px;">
                                                <span class="customSelect" style="width:95px;margin-left: 9px;">
                                                    <span>
                                                        <span style="width:86px;">
                                                            <input title="H:MM AM/PM" type="text" class="texttimeChooser EndTime csText TimeInput inputwatermark"   >
                                                            <a class="csIcon csIconImg" href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                            <select style="display: none;" class="ServiceScheduleTimeItem" size="10">
                                                                <?= $this->TIME ?>
                                                            </select>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>

                                        </td>

                                        <td>
                                            Est. Duration<span class="required">*</span>
                                        </td>
                                        <td>
                                            <select style="width:202px" name="EstimatedDuration" class="EstimatedDuration">
                                            	<option value="">Select Duration</option>
                                                <?php
                                                if (!empty($this->EstDurationArray)) {
                                                    foreach ($this->EstDurationArray as $EstDuration) {
                                                        ?>    
                                                        <option  value="<?= $EstDuration["value"] ?>"><?= $EstDuration["desc"] ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr >

                                        <td class="tdleftbody">
                                            Tech Arrival Instructions
                                        </td>
                                        <td>
                                            <input style="width: 200px;" type="text"  class="TechArrivalInstructions" >
                                        </td>

                                        <td>
                                            <label for="edit_ShortNotice">Short Notice</label>
                                        </td>
                                        <td>
                                            <input type="checkbox" style="margin: 0px;" id="edit_ShortNotice" name="ShortNotice" />
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="subheader" colspan="4">General Instructions</td>
                                    </tr>

                                    <tr >

                                        <td class="tdleftbody" colspan="4" style="padding-bottom:10px;">
                                            Work Description<span class="required">*</span>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td colspan="4" class="tdleftbody" style="padding-bottom:10px;">
                                            <textarea rows="3" cols="45" id="edit_Description" class="txtarea_f2"></textarea>
                                        </td>
                                    </tr>
                                    <tr >

                                        <td colspan="4" class="tdleftbody" style="padding-bottom:10px;">
                                            <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="padding-top:5px;">Technician Role on Site:&#160;&#160;</td>
                                                    <td style="padding-top:5px;"><input type="checkbox" id="edit_Lead" name="Lead" value="1" />&#160;</td>
                                                    <td style="padding-top:5px;">Lead</td>
                                                    <td style="padding-top:5px;">&#160;&#160;<input type="checkbox" id="edit_Assist" name="Assist" value="1"  />&#160;</td>
                                                    <td style="padding-top:5px;">Assist</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="4" class="tdleftbody" style="padding-bottom:10px;">
                                            <label for="Pic1">
                                                Site list:
                                            </label>
                                            <input type="file" id="Pic1" name="Pic1" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <td colspan="4" class="tdleftbody">
                                            <input type="checkbox" id="edit_SignOffSheet_Required" name="SignOffSheet_Required" value="1"  />
                                            <label for="">Sign-off paperwork required for completion</label>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                </table>

                                <!-- section1 -->

                                <!-- sections -->
                            <?php else : ?>
                                <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') : ?>
                                    <div><?= $this->error ?></div>
                                <?php endif; ?>
                            <?php endif; ?>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- content box -->
    </div>
</div>
