<table width="100%" class="gradBox_table_inner">
    <col width="1%" />
    <col width="79px" />
    <col width="129px" />
    <col width="110px" />
    <col width="110px" />
    <col width="175px" />
    <col width="*" />
    <col width="125px" />
    <col width="120px" />
    <col width="123px" />
    <col width="115px" />
    <tr class="table_head">
        <th class="checkboxToggler">
            <?php if (sizeof($this->paginator)):?><input type="checkbox" onclick="toggleChecks(this)" id="checkboxToggler" /><?php endif; ?>
        </th>
        <th>Re-Publish</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Tech Status</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region</th>
        <th>Site Address</th>
        <th>Tech ID / Name / Address</th>
        <th>Tech Pay</th>
        <th class="last">Deliverables</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td colspan="2">
            <input type="checkbox" value="<?= $wo->WIN_NUM ?>" class="rePublishCheckbox" name="rePublishCheckbox" onclick="$('#widgetContainer #checkboxToggler').attr('checked',false);" id="rePublishCheckbox_<?=$wo->WIN_NUM?>" /> <span>Re-Publish</span><br />
            <select id="rePublishOptions_<?= $wo->WIN_NUM ?>" class="displayNone">
            	<option value="">No changes</option>
            	<option value="NoShow">No-Show</option>
            	<option value="BackOut">Back-Out</option>
            </select><br />

            <span class="ajaxLink" onclick="javascript:openPopup('wosApplicant.php?sb=0&ClientID=&v=<?=$this->company?>&WorkOrderID=<?=$wo->WIN_NUM?>&back_url='+wd.getReloadUrl(true))">Bids (<?= $wo->Qty_Applicants + 0 ?>)</span><br />
            <span class="ajaxLink" onclick="javascript:openPopup('techs.php?v=<?=$this->company?>&newSearch=1')">Find Techs</span><br />
        </td>
        <td>
            <span>WIN: <span class="ajaxLink" title="Work Order Information" onclick="openPopup('wosDetails_beta.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>')"><?=$wo->WIN_NUM?></span>&#160;&#160;&#160;<a href="javascript:openPopup('wosDetails_beta.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span><br />
            <span>Client PO: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->PO?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td class ="padr0">
			<table class="acc_conf_table"><tr><td>Accepted:</td><td><?php if ($wo->WorkOrderReviewed) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?></td></tr>
			<tr><td>Confirmed:</td><td><?php if ($wo->TechCheckedIn_24hrs) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?></td></tr>
			<tr><td>Checked In:</td><td><?php if ($wo->CheckedIn || $wo->Date_In || $wo->Time_In) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif; ?></td></tr></table>
        </td>
        <td>
            <span><?=trim($wo->WO_Category)?></span><br />
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><?=$wo->SiteName?></span><br />
            <span> <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->Region?></span></span>
        </td>
        <td>
            <span><?=$wo->Address?></span><br />
            <span><?= $wo->City.' '.$wo->State?></span><br />
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$wo->FLS_ID?></span></span><br />
            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City.' '.$this->techs[$wo->Tech_ID]->State.' '.$this->techs[$wo->Tech_ID]->Zipcode?></span></span>
            <?php endif; ?>
        </td>
        <td>
            <span>Agreed $: <?= trim($this->displayMoney($wo->Tech_Bid_Amount, "",$wo->Amount_Per)) ?></span><br />
        </td>
        <td class="last deliverablesCol">
            <?php if ($wo->Assist) : ?><span>Assist</span><br /><?php elseif ( $wo->Lead ) : ?><span>Lead</span><br /><?php endif; ?>
            <?php $countFiles = (($wo->Pic1_FromTech)?1:0)+(($wo->Pic2_FromTech)?1:0)+(($wo->Pic3_FromTech)?1:0); ?>
    <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
           <span> ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="11" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'assigned'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'assigned','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="11"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="11"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="11" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
