<table width="100%" class="gradBox_table_inner">
    <col width="100px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="130px" />
    <col width="110px" />
    <tr class="table_head">
        <th>Work Order <br />Info</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time <br /> Est. Hours</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region</th>
        <th>Tech ID / Name / Address</th>
        <th>Tech Pay Info</th>
        <th class="last">Deliverables</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <span>Reason:<br /> <?=trim($wo->DeactivationCode)?></span><br />
            <span><span class="ajaxLink" title="View Reason" onclick="return viewDeactivationReason(<?=$wo->WIN_NUM?>)">View Reason</span></span>
        </td>
        <td>
            <span>WIN: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>',tab:'<?=$this->tab?>'}}) }"><?=$wo->WIN_NUM?></span>&#160;&#160;&#160;<a href="javascript:openPopup('wosDetails_beta.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span><br />
            <span>Client PO: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->PO?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->Time_In)?></span><span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->WO_Category)?></span><br />
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><?=$wo->SiteName?></span><br />
            <span><span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->Region?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$wo->FLS_ID?></span></span><br />
            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
            <span><span class="ajaxLink" title="Tech Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City.' '.$this->techs[$wo->Tech_ID]->State.' '.$this->techs[$wo->Tech_ID]->Zipcode?></span></span>
            <?php endif; ?>
        </td>
        <td>
            <span>Bid $: <?=$this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per)?></span><br />
            <span>Final $: <span class="ajaxLink" title="Client and FS Work Order Completion" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'finalread',title:'Tech Pay Financials',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"><?=$this->displayMoney($wo->PayAmount)?></span></span>
        </td>
        <td class="last deliverablesCol">
            <?php if ($wo->Assist) : ?><span>Assist</span><br /><?php elseif ( $wo->Lead ) : ?><span>Lead</span><br /><?php endif; ?>
            <?php $countFiles = (($wo->Pic1_FromTech)?1:0)+(($wo->Pic2_FromTech)?1:0)+(($wo->Pic3_FromTech)?1:0); ?>
    <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="8" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'deactivated'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'deactivated','short'=>true)),"'"))?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="8"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="8"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="8" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
