/*Set's border, padding and margin to 0 for all values*/
*{padding: 0; margin: 0; border: 0; }

body, html {
	color: #000; 
	font-family: Verdana, Arial, Tahoma, sans-serif;
	background-color: #fff; 
}

body {font-size: 76%; height:100%;}

#mainContainer {width: 100%; min-width:800px; margin: 0 auto; height: 100%;}
div#header h1{height:80px;line-height:80px;margin:0;}
div#content p{line-height:1.4}

/***************************************/
/* 2 Column Layout */

div#leftcontent {
	float:left;
	width:50%;
	background-color:#FFFFFF;
	border-style: solid;
	border-right-color:#000000;
	border-right-width:thin;
		}

div#rightcontent {
	float:left;
	width:49%;
	background-color:#FFFFFF;
	border-style: solid;

		}

/***************************************/
/* Dashboard */

div#DashboardLeftContent {
float:left; 
width:170px; 
background-color:#FFFFFF;
}

div#DashboardRightContent {
float:right; 
width:82%;
background-color:#FFFFFF;
}


div#navigation{float:left;width:50%}
div#extra{float:left;width:49.9%}

p {
	padding: 7px 0 7px 0; 
	margin-left: 20px;	
	margin-right: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;}

a {color: #000099;}
a:hover{color: #0000FF; text-decoration: none;}

hr{height:2px; background:#000000;}

h1, h2, h3 {font-weight: bold; color:#174065; }
h1 {font-size: 14px; text-align:center; margin:20px;}
h2 {font-size: 12px;}
h3 {font-size: 14px; padding-top:25px; padding-bottom:25px; margin-left:0px; text-align:center;}
h1 a, #header h2{color: #fff;}

.clear { clear: both; }


/*--------------------------------*/
/* Forms  */
/*--------------------------------*/

form{background-color: #ffffff;}
input{background-color: #ffffff; border: 1px solid #000000;}
textarea{background-color: #ffffff; border: 1px solid #000000;}
select{background-color: #ffffff; border: 1px solid #000000;}
input[type="checkbox"], input[type="radio"]{background: transparent; border: 0;}


/**************************
HEADER
**************************/
#header {background: #ffffff;}
#headerLogo{background-image:url(images/FLSLogo.jpg); width: 314px; height: 67px;}
#headerRight{
	position:relative;
	background-image:url(images/hdrRght.jpg);
	float:right;
	color: #000;
	width: 449px;
	height: 67px;
	z-index: 20;
}

/***************************************/
/* Nav Bar Menu */
#maintab{
	background-color:#F80000;
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	font: bold 11px Verdana;
	text-transform:uppercase;
	list-style-type: none;
}

#maintab li{display: inline; margin: 0;}

#maintab li a{
	text-decoration: none;
	padding-left: 2px;
	padding-right: 5px;
	border-right: 1px solid #000000;
	color: white;
	background: #F80000;
}

#maintab li a:hover{background: #FE0808;}
/*selected main tab style */
#maintab li.selected a{color:white; border-color: black;}

#tabcontent{ /*2nd level content wrapper*/
	background-color: #000000;
	height: 17px; /*IE7 beta2 fix*/
	font: 10px Verdana;
}

#tabcontent ul{
	padding-left:2px;
	padding-right:5px;
	margin: 0;
	list-style-type: none;
	display: none;
	text-transform:uppercase;
}

#tabcontent li.selected a{color: white; font-weight:bold;}
#tabcontent ul li{display: inline;}
/*selected 2nd level content*/
#tabcontent ul.selected{display: block;}
#tabcontent ul li a:hover{color: gray;}

#tabcontent ul li a{
	color:white;
	padding-top: 2px;
	padding-left:2px; 
	padding-right:5px;
	padding-bottom:2px;
	list-style-type: circle;
	display:block;
	float:left;
	text-decoration:none;
}

/*Clear floats hack: http://positioniseverything.net/easyclearing.html*/
.clearfix:after{content: "."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display: inline;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/********************************************/
/* Top Nav Bar */
#topNavBar{padding:1px 0; margin-right:5px; margin-top:2px; margin-left:0; margin-bottom:0; font:10px Verdana; color:#000000;font-weight:bold; list-style-type: none; text-transform:uppercase;}
#topNavBar li{display: inline; margin: 0;}
#topNavBar li a:hover{color: gray;}
#topNavBar li.selected a{border-color: black;}
#topNavBar li a{text-decoration:none; padding-right:5px; margin-right:0px; color:#000000;border-right: 1px solid #000000;}

/********************************************/
/* Dashboard Tab Bar */
#tabbedMenu {min-width:1100px; font-size:93%; line-height:normal; margin-top:20px; padding-top: 20px; border-bottom:solid #10085A 1px; height:32px;}
#tabbedMenu ul {margin:0; padding:10px 0px 0; list-style:none;}
#tabbedMenu li {width: 95px; float:left; background:url("images/tabLeft.gif") no-repeat left top; margin:0; padding:0 0 0 9px; text-align:center;}
#tabbedMenu a {
display:block;
background:url("images/tabRight.gif") no-repeat right top;
padding:5px 5px 4px 0px;
text-decoration:none;
font-weight:bold;
color:#10085A;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#tabbedMenu a {float:none;}
/* End IE5-Mac hack */
#tabbedMenu a:hover {color:#333; text-decoration:underline;}
#tabbedMenu .current {background-image:url("images/tabLeftOver.gif"); border-width:0;}
#tabbedMenu .current a {background-image:url("images/tabRightOver.gif"); color:#ffffff; padding-bottom:5px;}

/**************************************************/
/* LEFT MENU */

#leftMenu {height:650px;; width:150px; background:#FFFFFF; border-right:1px solid #10085A; border-bottom:1px solid #10085A}
#leftMenu ul {margin:0; padding-left:0px;}
#leftMenu li {margin:0; padding-left:0px;}
#leftMenu a {padding-left:10px; text-decoration:underline; color:#000000;}
#leftMenu a:hover {background-color:#eeeeee; background-image:url(images/leftMenuArrow.gif); background-repeat:no-repeat;}
.leftMenuSubHeader{font-weight:bold; background-color:#000000; color:#ffffff; margin-bottom:20px; text-align:center;}



/*************************************************/
/* LOGOUT TAB  */

#logoutTab{padding: 3px 0; margin-left: 0; margin-bottom: 0; font:10px Verdana; text-transform:uppercase; list-style-type: none;}
#logoutTab li{display: inline; margin: 0;}
#logoutTab li a{text-decoration: none; padding: 1px 7px; margin-right: 3px; color: white;}
#logoutTab li a:hover{color: black;}
/*selected main tab style */


/*----------------------------------------------------*/
/* Footer */
div#footer{clear:left;width:100%}

div#footer p{margin:0;padding:0}
div#footer{
	position:fixed;
	bottom:0px;
	width:100%;
	margin:0;
	font: 9px Verdana;
	color: white;
	background-color:#032D5F;
	border-style: solid;
	border-top-color: #567EB9;
	border-top-width: 1px;
	border-style: solid;
	border-bottom-color: #567EB9;
	border-bottom-width: 1px;
	text-align:center;
	padding:1px;
}
	
div#footer2{clear:left;width:100%}
div#footer2 p{margin:0;padding:0}
div#footer2{
	bottom:0px;
	width:100%;
	margin:0;
	font: 9px Verdana;
	color: white;
	background-color:#032D5F;
	border-style: solid;
	border-top-color: #567EB9;
	border-top-width: 1px;
	border-style: solid;
	border-bottom-color: #567EB9;
	border-bottom-width: 1px;
	text-align:center;
	padding:1px;
}

.footer_menu {
background-color:#F0F0F0;
border-top:1px solid #80B7FF;
color:white;
font-family:Arial,Helvetica,sans-serif;
padding-bottom:10px;
font-size: 11px;
}

.clr {
overflow:hidden;
}

.footer_items {
font-weight:bold;
padding:10px 25px;
}

#footer_aboutus{
	font-weight: normal;
}


/*******************************************/
/* HOMEPAGE LAYOUT */

#hpBcgk{
	background-image:url(../../images/homePageDecide.gif);
	background-repeat:no-repeat;
	background-position:center;
	height:300px;
}

#hpTextlink{margin-top: 100px; font-size: 14px; text-align:center;}


/***************************************/
/* CONTENT */

#logout{margin-top: -20px;}

#welcomeModule{color:#174065; padding-left: 20px; border-color:#000000; border-bottom: 1px dashed; padding-bottom:5px;}
#welcomeName{margin-top:-17px; margin-left:100px;}
#techContent{width: 500px; text-align:left; border: #000000 thin solid;}
#contentText{margin-left: 100px; margin-right: 100px;}

#signUp{margin-left: 30%; margin-bottom: 0;	font: 12px Verdana;	padding:2px;}
#signUp li{margin: 0; display:list-item;}
#signUp li a:hover{color: navy;}
#signUp li.selected a{border-color: navy;}
#signUp li a{text-decoration: none;	padding: 1px 3px; margin-right: 3px;border: 1px solid #778; color: white;}

#simpleMenu li{display:inline; font:14px Verdana; padding-bottom:5px;}
#simpleMenu li a{text-decoration: none; padding: 1px 10px;}

#defaultMenu li{ display:list-item; list-style:none; font:14px Verdana; padding-bottom: 10px;}
#defaultMenu li a{text-decoration: underline; padding: 1px 3px;}

#clientMenu li{	display:list-item; text-align:left; font: 18px Verdana; padding-bottom: 20px;}
#clientMenu li a{text-decoration: none;	padding: 1px 3px;}

#clientSales{padding: 20px;}
#clientSalesText li{display:list-item; font:14px Verdana; padding-bottom:5px;}
#clientSalesText li a{text-decoration: none; padding: 1px 3px;}

#todo{font: 12px Verdana; list-style-position: outside; margin-left: 50px;}
#todo li{display:list-item; font: 12px Verdana;}

#clientSignup{font: 12px Verdana; margin-left:100px; margin-right:100px; margin-top:25px;}
#selfrating{font: 12px Verdana; width: 400px;}

/***********************************************/
/* Dashboard */
/***********************************************/

/* Tech Skills */
#EditRecordcablingSelfRating5{visibility:hidden;}
#EditRecordelectricalSelfRating5{visibility:hidden;}
#EditRecordconstructionSelfRating5{visibility:hidden;}
#EditRecorddesktopSelfRating5{visibility:hidden;}
#EditRecordtelephonySelfRating5{visibility:hidden;}
#EditRecordnetworkingSelfRating5{visibility:hidden;}
#ditRecordroutersSelfRating5{visibility:hidden;}
#EditRecordelectronicsSelfRating5{visibility:hidden;}
#EditRecordposSelfRating5{visibility:hidden;}
#EditRecordatmSelfRating5{visibility:hidden;}
#EditRecordroutersSelfRating5{visibility:hidden;}

/* Hide To Do update checkbox */
#EditRecordskillsComplete{visibility:hidden;}
#EditRecordexpComplete{visibility:hidden;}
#EditRecordcertComplete{visibility:hidden;}
#EditRecordmediaComplete{visibility:hidden;}
#EditRecordequipComplete{visibility:hidden;}

/************************************************/
/* Contact US */
/************************************************/
#contactRow{margin:10px;}
#messageRow{margin:10px; vertical-align:text-top;}
#clientInfoRow{margin-left:100px; color:red; text-align:center; width:500px;}

/************************************************/
/* About US */
/************************************************/
#aboutUsWrapper{margin:25px; width:800px; border-left:solid 1px #000000;}
#aboutUsHdr{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#012A5E; font-weight:bold; padding-top:25px; padding-left: 35px; margin-top:25px; margin-left:-25px; border-bottom:1px solid #000000;}

#aboutUsSubHdr{margin-left:20px; margin-top:20px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; color:#012A5E; font-weight:bold;}

#aboutUsText{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; margin-left:25px;}

#aboutUsList{margin-left:25px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; }
#aboutUsList li{margin-left: 20px; list-style-type:square;}

/************************************************/
/* Google AdSense */
/************************************************/
#adWrap{
	clear:left;
	
}

#adsenseFooter{
	
	/*position:fixed;*/
	bottom:0;
	height: auto;
	width: auto;
	margin-top: 20px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	text-align:center
	
}

/*************************************************/
/* Fixes */

#cbRowHover{}
.cbRowHover{}