<table width="100%" class="gradBox_table_inner">
    <col width="90px" />
    <col width="90px" />
    <col width="90px" />
    <col width="100px" />
    <col width="100px" />
    <col width="300px" />
    <col width="*" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <tr class="table_head">
		<th>WIN#</th>
        <th>Work Order #</th>
        <th>Company</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>Project</th>
        <th>Route</th>
        <th>Site</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Max pay $</th>
        <th>Tech Bid Amount</th>
        <th>Tech First Name</th>
        <th>Tech Last Name</th>
        <th>Tech Phone</th>
        <th>Tech Email</th>
        <th>Tech Accepted</th>
        <th>Tech Confirmed</th>
        <th class="last">Pay Amount</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; 
    foreach( $this->paginator as $wo ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <br/><span class="ajaxLink" title="Work Order Information" onclick="openPopup('wosDetails.php?v=<?=$wo->Company_ID?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>');"><?=$wo->WIN_NUM?></span><br /><br/>
        </td>
		<td>
            <span><?=$wo->WO_ID?></span>
        </td>		
		<td>
            <span><?=$wo->Company_Name?></span>
        </td>
        <td>
            <span class="ajaxLink" title="Work Order Information" onmouseover="if ( !FSWidget.isFilterActive() ) { roll.delay(1.1); roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span>
        </td>
        <td>
        	<span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span>
        </td>
        <td>
            <span><?=$this->truncate($this->projectName($wo), 60)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->Route, 60)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->SiteName, 60)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->City, 40)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->State, 40)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->Zipcode, 30)?></span>
        </td>
        <td>
            <span>$<?=$this->displayMoney($wo->PayMax)?></span>
        </td>
        <td>
            <span>$<?=$this->displayMoney($wo->Tech_Bid_Amount, "",$wo->Amount_Per) ?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->Tech_FName, 40)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->Tech_LName, 40)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->TechPhone, 40)?></span>
        </td>
        <td>
            <span><?=$this->truncate($wo->TechEmail, 40)?></span>
        </td>
        <td>
            <span><? if ($wo->WorkOrderReviewed) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif;?></span><br />
        </td>
        <td>
            <span><? if ($wo->TechCheckedIn_24hrs) : ?><img alt=""  src="/widgets/images/check_green.gif" /><?php endif;?></span><br />
        </td>
        <td>
            <span>$<?=$this->displayMoney($wo->PayAmount)?></span>
        </td>
        
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="20" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'inaccounting'))?>
        </td>
    </tr>
			<?php 
$htmlTmp = str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'workdone','short'=>true)),"'"));
$htmlTmp = str_replace('"',"'");
//echo("<br/>html: $htmlTmp<br/><br/>");
?>  
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=$htmlTmp?>');
   		$("#toppaginatorSizeContainer").html('<?=$this->displayPageSelector($this->pageSize);?>');
    });
    </script>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="19"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="19"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="19" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
