<?php $wo = $this->wo; 
$files = array();
foreach ($this->files as $f) {
	if ($f['type'] != Core_Files::TECH_FILE) continue;
	$files[] = $f;
}
?>
<a href="javascript:location.reload()" style="float:right">Refresh</a>
<br/>
<table <?=(!empty($this->renderedFromWO)) ? "" : "class=\"popup_table\""?> width="100%" cellpadding="0" cellspacing="0">
        <tr><td>Tech uploads: <?php if(count($files)===0){echo 'no documents';}?></td></tr>
        <?php if ( !empty($this->files) ) {
        foreach($files as $f){
        ?>
        <tr>
            <td>
			
                <a class="ajaxLink" href="http://<?=$_SERVER["HTTP_HOST"]?>/widgets/dashboard/do/file-wos-documents-download/filename/<?=urlencode(base64_encode($f->path))?>/<?= ltrim($f->path, '/') ?>?companyId=<?=$this->companyId?>&token=<?=$this->token?>"><?= ltrim($f->path, '/') ?></a>  
				<?php if(!empty($f->description)):?>
				<span> -
				<?= $f->description?>
				</span>
				<?php endif;?>
            </td>
        </tr>
        <?php }}?>
</table>

