<table width="100%" class="gradBox_table_inner">
    <col width="1%" />
    <col width="9%" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="143px" />
    <col width="110px" />
    <tr class="table_head">
        <th class="checkboxToggler">
            <?php if (sizeof($this->paginator)):?><input type="checkbox" onclick="toggleChecks(this)" id="checkboxToggler" /><?php endif; ?>
        </th>
        <th>Publish<br>Work Order</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Headline / Location</th>
        <th>Project / Site</th>
        <th>Tech Pay Info</th>
        <th class="last">Deliverables</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td colspan="2">
            <input type="checkbox" name="approveCheckbox" onclick="$('#widgetContainer #checkboxToggler').attr('checked',false);" value="<?=$wo->WIN_NUM?>" /> Show to Techs<br />
            <span class="ajaxLink" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(false);roll.show(this,event,{popup:'quickassigntool',title:'Quick Assign',width:400,preHandler:assignTool.getWidgetHtml,postHandler:assignTool.initEvents,context:assignTool,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }">Assign a Tech</span>
        </td>
        <td>
            <span>WIN: <a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>" class="wosDetails"><span class="ajaxLink" title="Work Order Information" onclick="openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>');"><?=$wo->WIN_NUM?></span></a>&#160;&#160;&#160;<a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full" class="wosDetails"><span onclick="javascript:openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></span></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span><br />
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><?=$wo->SiteName?></span><br />
        </td>
        <td>
            <span>Max $: <?=$this->displayBid($wo->PayMax, $wo->Amount_Per)?></span><br />
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <td class="last deliverablesCol">
            <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);?>
    <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="9" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'created'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'created','short'=>true)),"'"))?>');
    });
    </script>

<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="9"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="9"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="9" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
<script>
                    $(document).ready(function() { 
                        $(".wosDetails").click(function(){               
                            return false;
                        });
                    }); 
            </script>