<table width="100%" class="gradBox_table_inner">
    <col width="100px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <?php if(!$this->isFLSManager):?><col width="135px" /><?php endif;?>
    <tr class="table_head">
        <th>Work Order<br />Stage</th>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region</th>
        <th<?= ($this->isFLSManager)?' class="last"':''?>>Tech ID / Name / Address</th>
        <?php if(!$this->isFLSManager):?><th class="last">Tech Pay Info</th><?php endif;?>
    </tr>
    <?php if ($this->success && sizeof($this->paginator)):?>
    <?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <span><?=$wo->Status?></span><br />
        </td>
        <td>
            <span>WIN: <a class="ajaxLink" title="Work Order Information" href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>"><?=$wo->WIN_NUM?></a>&#160;&#160;&#160;<a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span><br />
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->Time_In)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><? echo ( empty($wo->SiteNumber) ? $wo->SiteName : $wo->SiteNumber . " - " . $wo->SiteName);?></span>
        </td>
        <td>
            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
            <span><span class="ajaxLink" title="Tech Profile" onclick="openPopupWin('wosViewTechProfile.php?simple=0&v=<?=$this->company?>&TechID=<?=$wo->Tech_ID?>')"><?=$wo->FLS_ID?></span></span>
            <!-- 13369 -->                       
                <span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkSortTech" > (<?php if (!empty($this->wosTechCount[$wo->Tech_ID])) {echo$this->wosTechCount[$wo->Tech_ID];} else {echo 0;} ?>)</span>
                &nbsp;&nbsp;<span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkUndoSortTech"  style="display:none;"> (undo)</span>                        
                <br />                   
            <!-- end 13369 -->
            <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
            <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?= $this->techs[$wo->Tech_ID]->City.' '.$this->techs[$wo->Tech_ID]->State.' '.$this->techs[$wo->Tech_ID]->Zipcode?></span></span>
            <?php endif; ?>
        </td>
        <?php if(!$this->isFLSManager):?>
        <td>
            <span><nobr>Offer $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalreadPopup(this, <?=$wo->WIN_NUM?>, '<?=$this->company?>'); }"><?=$this->displayMoney($wo->PayMax)?></span></nobr></span><br />
            <span><nobr>Agreed $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalreadPopup(this, <?=$wo->WIN_NUM?>, '<?=$this->company?>'); }"><?= $this->displayMoney($wo->Tech_Bid_Amount) ?></span></nobr></span><br />          
            <span><nobr>Final $:  <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalreadPopup(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>'); }">
                            <?php
                                 $api = new Core_Api_WosClass();
                                $Total_ApReThFS= $api->getTotal_ApReThFS($wo->WIN_NUM);
                                echo($this->displayMoney($Total_ApReThFS + $wo->PayAmount)); 
                            ?>
                        </span>
                </nobr>
            </span>            
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <?php endif; ?>
    </tr>
    <?php ++$tr; endforeach;?>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:7?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'all'))?>
        </td>
    </tr>
    <?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
    <tr><td colspan="<?=($this->isFLSManager)?6:7?>"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="<?=($this->isFLSManager)?6:7?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:7?>" class="tCenter">&#160;</td>
    </tr>
    <?php endif;?>
</table>
<script type="text/javascript">
$(document).ready( function() {
    $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'all','short'=>true)),"'"))?>');
    //13369       
    if(wd.params.IsSortTechIDFromLink==1)
    {
        jQuery(".lnkSortTech").each(function(){
            jQuery(this).css("display","none");   
});
        jQuery(".lnkUndoSortTech").each(function(){
            jQuery(this).css("display","");   
        });  
    }
    else
    {
        jQuery("span[id='lnkUndoSortTech']").each(function(){
            jQuery(this).css("display","none");   
        });
        jQuery("span[id='lnkSortTech']").each(function(){
            jQuery(this).css("display","");   
        });             

    }
    function lnkUndoSortTech_onclick(){
        var  TechID="";                                                    
            var currenttab = wd.UndoSortTech();
        wd.params.IsSortTechIDFromLink = 0;
        wd.filters().tech(TechID);
            wd.filters().fullSearch(false);
            window._search = false; 
            //wd.filters().win("<?=$wo->WIN_NUM?>");
            wd.show({tab:currenttab,params:wd.getParams(wd)});

    };
    function lnkSortTech_onclick(){
            wd.saveFilterTech();
        var  TechID=jQuery(this).attr("FSTechID"); 
        wd.params.IsSortTechIDFromLink = 1;
        wd.filters().tech(TechID);                            
            wd.filters().win(""); 
            wd.filters().fullSearch(false);   
            window._search = false;                             
        wd.show({tab:wd.currentTab,params:wd.getParams(wd)});                            
    };
    jQuery(".lnkSortTech")
        .unbind("click",lnkSortTech_onclick)
        .bind("click",lnkSortTech_onclick);
    jQuery(".lnkUndoSortTech")
        .unbind("click",lnkUndoSortTech_onclick)
        .bind("click",lnkUndoSortTech_onclick);
    //end 13369
});
</script>