<table width="100%" class="gradBox_table_inner">
    <?php if($this->isFLSManager):?>
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="140px" />
    <?php else :?>
    <col width="1%" />
    <col width="100px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="10%" />
    <col width="143px" />
    <col width="110px" />
    <?php endif;?>
    <tr class="table_head">
        <?php if(!$this->isFLSManager):?>
        <th class="checkboxToggler">
            <?php if (sizeof($this->paginator)):?><input type="checkbox" onclick="toggleChecks(this)" id="checkboxToggler" /><?php endif; ?>
        </th>
        <th>Re-Publish</th>
        <?php endif;?>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Skill / Headline / Location</th>
        <th>Project / Site / Region</th>
        <th>Site Address</th>
        <th>Tech ID / Name</th>
        <?php if(!$this->isFLSManager):?><th>Tech Pay</th><?php endif;?>
        <th class="last">Deliverables</th>
    </tr>
    <?php if ($this->success && sizeof($this->paginator)):?>
    <?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <?php if(!$this->isFLSManager):?>
        <td colspan="2">
            <input type="checkbox" value="<?= $wo->WIN_NUM ?>" class="rePublishCheckbox" onclick="$('#widgetContainer #checkboxToggler').attr('checked',false);" name="rePublishCheckbox" id="rePublishCheckbox_<?=$wo->WIN_NUM?>" /> <span>Re-Publish</span><br />
            <select id="rePublishOptions_<?= $wo->WIN_NUM ?>" class="displayNone">
            	<option value="">No changes</option>
            	<option value="NoShow">No-Show</option>
            	<option value="BackOut">Back-Out</option>
            </select><br />
            <span class="ajaxLink" onclick="javascript:openPopup('wosApplicant.php?sb=0&ClientID=&v=<?=$this->company?>&WorkOrderID=<?=$wo->WIN_NUM?>&back_url='+wd.getReloadUrl(true))">Bids (<?= $wo->Qty_Applicants + 0 ?>)</span><br />
            <span class="ajaxLink" onclick="javascript:openPopup('techs.php?v=<?=$this->company?>&newSearch=1&defaultZip=<?=$wo->Zipcode?>')">Find Techs</span><br />
        </td>
        <?php endif;?>
        <td>
            <span>WIN: <a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>" class="wosDetails"><span class="ajaxLink" title="Work Order Information" onclick="openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>')"><?=$wo->WIN_NUM?></span></a>&#160;&#160;&#160;<a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full" class="wosDetails"><span onclick="javascript:openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></span></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><? echo ( empty($wo->SiteNumber) ? $wo->SiteName : $wo->SiteNumber . " - " . $wo->SiteName);?></span>
        </td>
        <td>
            <span><?=$wo->Address?></span><br />
            <span><?= $wo->City.' '.$wo->State?></span><br />
            <span><?=$wo->Zipcode?></span>
        </td>
        <td>
            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
            <span><span class="ajaxLink" title="Tech Profile" onclick="openPopupWin('wosViewTechProfile.php?simple=0&v=<?=$this->company?>&TechID=<?=$wo->Tech_ID?>')"><?=$wo->FLS_ID?></span></span>
                <!-- 13369 -->                       
                <span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkSortTech" > (<?php if (!empty($this->wosTechCount[$wo->Tech_ID])) {echo$this->wosTechCount[$wo->Tech_ID];} else {echo 0;} ?>)</span>
                &nbsp;&nbsp;<span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkUndoSortTech"  style="display:none;"> (undo)</span>                        
                <br />                   
                <!-- end 13369 -->
                <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
            <?php endif; ?>
        </td>
        <?php if(!$this->isFLSManager):?>
        <td>
            <span><nobr>Agreed $: <?= trim($this->displayMoneyPer($wo->Tech_Bid_Amount, "",$wo->Amount_Per)) ?></nobr></span>
            <? if($wo->Amount_Per == "Device" || $wo->Amount_Per == "Visit"){
                $amount_per = $wo->Amount_Per.'s';
                echo "<span>$amount_per: $wo->Qty_Devices</span><br />";
            }
            ?>
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <?php endif;?>
        <td class="last deliverablesCol">
            <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);?>
            <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
    <?php ++$tr; endforeach;?>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?7:10?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'assigned'))?>
        </td>
    </tr>
    <?php else : ?>
        <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="<?=($this->isFLSManager)?7:10?>"><?=$this->error?></td></tr>
        <?php endif;?>
    <tr>
        <td colspan="<?=($this->isFLSManager)?7:10?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?7:10?>" class="tCenter">&#160;</td>
    </tr>
    <?php endif;?>
</table>

<script type="text/javascript">
$(document).ready( function() {
    $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'assigned','short'=>true)),"'"))?>');
});
</script>
<script>
                    $(document).ready(function() { 
                        $(".wosDetails").click(function(){               
                            return false;
                        });
        //13369       
        if(wd.params.IsSortTechIDFromLink==1)
        {
            jQuery(".lnkSortTech").each(function(){
                jQuery(this).css("display","none");   
                    }); 
            jQuery(".lnkUndoSortTech").each(function(){
                jQuery(this).css("display","");   
            });  
        }
        else
        {
            jQuery("span[id='lnkUndoSortTech']").each(function(){
                jQuery(this).css("display","none");   
            });
            jQuery("span[id='lnkSortTech']").each(function(){
                jQuery(this).css("display","");   
            });             
            
        }
        function lnkUndoSortTech_onclick(){
            var  TechID="";                                                    
            var currenttab = wd.UndoSortTech();
            wd.params.IsSortTechIDFromLink = 0;
            wd.filters().tech(TechID);
            wd.filters().fullSearch(false);
            window._search = false; 
            //wd.filters().win("<?=$wo->WIN_NUM?>");
            wd.show({tab:currenttab,params:wd.getParams(wd)});

        };
        function lnkSortTech_onclick(){
            var  TechID=jQuery(this).attr("FSTechID"); 
            wd.params.IsSortTechIDFromLink = 1;
            wd.filters().tech(TechID);                            
            wd.filters().win(""); 
            wd.filters().fullSearch(false);   
            window._search = false;                              
            wd.show({tab:wd.currentTab,params:wd.getParams(wd)});                            
        };
        jQuery(".lnkSortTech")
            .unbind("click",lnkSortTech_onclick)
            .bind("click",lnkSortTech_onclick);
        jQuery(".lnkUndoSortTech")
            .unbind("click",lnkUndoSortTech_onclick)
            .bind("click",lnkUndoSortTech_onclick);
        //end 13369
    
    }); 
</script>