<table width="100%" class="gradBox_table_inner">
    <?php if($this->isFLSManager):?>
    <col width="220px" />
    <col width="*" />
    <col width="220px" />
    <col width="*" />
    <col width="*" />
    <col width="140px" />
    <?php else :?>
    <col width="1%" />
    <col width="9%" />
    <col width="220px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="*" />
    <col width="130px" />
    <col width="110px" />
    <?php endif;?>
    <tr class="table_head">
        <?php if(!$this->isFLSManager):?>
        <th class="checkboxToggler">
            <?php if (sizeof($this->paginator)):?><input type="checkbox" onclick="toggleChecks(this)" id="checkboxToggler" /><?php endif; ?>
        </th>
        <th>Finalize<br>Work Order</th>
        <?php endif;?>
        <th>Work Order Identifiers</th>
        <th>Dates &amp; Times</th>
        <th>Descriptors</th>
        <th>Project / Site / Region</th>
        <th>Tech ID / Name</th>
        <?php if(!$this->isFLSManager):?><th>Tech Pay<br>Financials</th><?php endif;?>
        <th class="last">Deliverables</th>
    </tr>
    <?php if ($this->success && sizeof($this->paginator)):?>
    <?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <?php $api = new Core_Api_WosClass();
                    $Total_ApReThFS= $api->getTotal_ApReThFS($wo->WIN_NUM); ?>
        <?php if(!$this->isFLSManager):?>
        <td colspan="2">
            <span class="ajaxLink" title="View Reason" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'incompletereason',title:'Incomplete Reason',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }">View Reason</span><br />
            <input type="checkbox" value="<?=$wo->WIN_NUM?>" name="approveCheckbox" onclick="$('#widgetContainer #checkboxToggler').attr('checked',false);" id="approveCheckbox" /> <span id="approveSpan<?=$wo->WIN_NUM?>">Approve</span><br />
            <span>$ <input type="text" value="<?=$Total_ApReThFS + $wo->PayAmount ?>" name="approvePayAmount[<?= $wo->WIN_NUM ?>]" id="approvePayAmount_<?= $wo->WIN_NUM ?>" size="8" /></span><br />
            <span class="ajaxLink" onclick="openPopupWin('SATForm_beta.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>', null, {width:600,height:280,location:'no',scrollbars:'no'})">Rate Tech</span>
        </td>
        <?php endif;?>
        <td>
            <span>WIN: <a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>" class="wosDetails"><span class="ajaxLink" title="Work Order Information" onclick="openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>')"><?=$wo->WIN_NUM?></span></a>&#160;&#160;&#160;<a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full" class="wosDetails"><span onclick="javascript:openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></span></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span>
        </td>
        <td>
            <span>Start: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span>H/L: <?=trim($wo->Headline)?></span><br />
            <span>Loc: <?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span>Project: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span>Site: <? echo ( empty($wo->SiteNumber) ? $wo->SiteName : $wo->SiteNumber . " - " . $wo->SiteName);?></span>
        </td>
        <td>
            <?php if ( !empty($this->techs[$wo->Tech_ID]) ):?>
            <span><span class="ajaxLink" title="Tech Profile" onclick="openPopupWin('wosViewTechProfile.php?simple=0&v=<?=$this->company?>&TechID=<?=$wo->Tech_ID?>')"><?=$wo->FLS_ID?></span></span>
            <!-- 13369 --> 
            <span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkSortTech" > (<?php if (!empty($this->wosTechCount[$wo->Tech_ID])) {echo$this->wosTechCount[$wo->Tech_ID];} else {echo 0;} ?>)</span>
            &nbsp;&nbsp;<span FSTechID='<?= $wo->FLS_ID ?>' class="ajaxLink lnkUndoSortTech"  style="display:none;"> (undo)</span>                        
            <br />                   
            <!-- end 13369 -->
            <span><span class="ajaxLink" title="Tech Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'techinfo',title:'Tech Information',width:300,preHandler:wd.getWidgetHtml,context:wd,params:{tech:'<?=$wo->FLS_ID?>',company:'<?=$this->company?>'}}); }"><?=$this->techs[$wo->Tech_ID]->Firstname.' '.$this->techs[$wo->Tech_ID]->Lastname?></span></span><br />
            <?php endif; ?>
        </td>
        <?php if(!$this->isFLSManager):?>
        <td>
            <!-- 13376 -->
            <span>Final $: <span class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { wd.showFinalPopup(this, <?= $wo->WIN_NUM ?>, '<?= $this->company ?>'); }">
            <?php
                    
                    echo($this->displayMoney($Total_ApReThFS + $wo->PayAmount)); 
            ?>
            </span></span>
            <!-- End 13376 -->
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <?php endif;?>
        <td class="last deliverablesCol">
            <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);?>
            <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount+0:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span>
        </td>
    </tr>
    <?php ++$tr; endforeach;?>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'incomplete'))?>
        </td>
    </tr>
    <?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
    <tr><td colspan="<?=($this->isFLSManager)?6:9?>"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="<?=($this->isFLSManager)?6:9?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter">&#160;</td>
    </tr>
    <?php endif;?>
</table>

<script type="text/javascript">
$(document).ready( function() {
    $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'incomplete','short'=>true)),"'"))?>');
});
</script>
<script>
                    $(document).ready(function() { 
                        $(".wosDetails").click(function(){               
                            return false;
                        });
        //13369       
        if(wd.params.IsSortTechIDFromLink==1)
        {
            jQuery(".lnkSortTech").each(function(){
                jQuery(this).css("display","none");   
                    }); 
            jQuery(".lnkUndoSortTech").each(function(){
                jQuery(this).css("display","");   
            });  
        }
        else
        {
            jQuery("span[id='lnkUndoSortTech']").each(function(){
                jQuery(this).css("display","none");   
            });
            jQuery("span[id='lnkSortTech']").each(function(){
                jQuery(this).css("display","");   
            });             

        }
        function lnkUndoSortTech_onclick(){
            var  TechID="";      
            var currenttab = wd.UndoSortTech();
            wd.params.IsSortTechIDFromLink = 0;
            wd.filters().tech(TechID);
            wd.filters().fullSearch(false);
            window._search = false; 
            //wd.filters().win("<?=$wo->WIN_NUM?>");
            wd.show({tab:currenttab,params:wd.getParams(wd)});

        };
        function lnkSortTech_onclick(){
            var  TechID=jQuery(this).attr("FSTechID"); 
            wd.params.IsSortTechIDFromLink = 1;
            wd.filters().tech(TechID);                            
            wd.filters().win(""); 
            wd.filters().fullSearch(false);   
            window._search = false;                              
            wd.show({tab:wd.currentTab,params:wd.getParams(wd)});                            
        };
        jQuery(".lnkSortTech")
            .unbind("click",lnkSortTech_onclick)
            .bind("click",lnkSortTech_onclick);
        jQuery(".lnkUndoSortTech")
            .unbind("click",lnkUndoSortTech_onclick)
            .bind("click",lnkUndoSortTech_onclick);
        //end 13369
    }); 
</script>