<table width="100%" class="gradBox_table_inner">
    <?php if($this->isFLSManager):?>
    <col width="220px" />
    <col width="*" />
    <col width="220px" />
    <col width="*" />
    <col width="*" />
    <col width="140px" />
    <?php else :?>
    <col width="145px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="143px" />
    <col width="110px" />
    <?php endif;?>
    <tr class="table_head">
        <?php if(!$this->isFLSManager):?><th>Assign<br />Work Order</th><?php endif;?>
        <th>Work Order #'s</th>
        <th>Start Date &amp; Time<br />Est. Hours</th>
        <th>Headline / Location</th>
        <th>Project / Site</th>
        <th>Site Address</th>
        <?php if(!$this->isFLSManager):?><th>Tech Pay Info</th><?php endif;?>
        <th class="last">Deliverables</th>
    </tr>
    <?php if ($this->success && sizeof($this->paginator)):?>
    <?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <?php if(!$this->isFLSManager):?>
        <td>
            <div style="position: absolute;width: 150;height: 50;display: none;background-color:#FFFFFF;border:4px solid #BBBBBB;padding:5px;" id="<?=$wo->WIN_NUM?>_TechId_Box">
                <img id='<?=$wo->WIN_NUM?>_TechId_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" style="position:relative;" />
                <span id="<?=$wo->WIN_NUM?>_TechId_Html"></span>
            </div>
            <table cellspacing=0 cellpadding=0 class="publ_table">
                <col width="65px" />
                <col width="*" />
			    <tr>
                    <td><nobr>Tech ID #</nobr></td>
                    <td><input type="text" name="techId" value="<?php echo($this->techId);?>" id="<?=$wo->WIN_NUM?>_TechId" size="6" onblur="assignTool.showTechInfo(this);"/></td>
                </tr>
                <tr>
                    <td><nobr>Agreed $</nobr></td>
                    <td><input type="text" name="agreed" id="<?=$wo->WIN_NUM?>_TechAgreed" size="6" value="<?=trim($wo->PayMax, '$')?>"/></td>
                </tr>
            </table>
            <script type="text/javascript">
                var vPayMax<?= $wo->WIN_NUM ?> = new LiveValidation('<?= $wo->WIN_NUM ?>_TechAgreed',LVDefaults);
                vPayMax<?= $wo->WIN_NUM ?>.add( Validate.Format, { pattern: /^\d{1,15}(\.\d{2})?$/ } ).add( Validate.Presence);
                var vTID<?= $wo->WIN_NUM ?> = new LiveValidation('<?= $wo->WIN_NUM ?>_TechId',LVDefaults);
                vTID<?= $wo->WIN_NUM ?>.add( Validate.Numericality, { onlyInteger: true } ).add( Validate.Presence);
            </script>
            <input type="hidden" name="publishedWinNum" value="<?=$wo->WIN_NUM?>" />
            <span class="ajaxLink" title="Bids" onclick="javascript:openPopup('wosApplicant.php?sb=0&ClientID=&v=<?=$this->company?>&WorkOrderID=<?=$wo->WIN_NUM?>&back_url='+wd.getReloadUrl(true))">Bids (<?=$wo->Qty_Applicants+0?>)</span>
        </td>
        <?php endif;?>
        <td>
            <span>WIN: <a href="wosDetails.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>" class="wosDetails"><span class="ajaxLink" title="Work Order Information" onclick="openFramePage('wosDetails.php?v=<?=$this->company?>&id=<?=$wo->WIN_NUM?>&amp;tab=<?=$this->tab?>')"><?=$wo->WIN_NUM?></span></a>&#160;&#160;&#160;<a href="wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full" class="wosDetails"><span onclick="javascript:openFramePage('wosDetails.php?v=<?=$this->company?>&amp;id=<?=$wo->WIN_NUM?>&amp;tab=full');"><img alt="View Entire Work Order" title="View Entire Work Order" src="/widgets/images/magnify.gif"></span></a></span><br />
            <span>Client ID: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->WO_ID?></span></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></span><br />
            <span><span class="ajaxLink" title="Activity Log" onclick="openPopup('wosTimeStamps.php?v=<?=$this->company?>&WO_ID=<?=$wo->WIN_NUM?>')"><?=$this->displayDate('g:i A', $wo->StartTime)?></span></span><br />
            <span>Hours: <span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'starttime',title:'Time Details',width:250,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$wo->calculatedTechHrs?></span></span>
        </td>
        <td>
            <span><?=trim($wo->Headline)?></span><br />
            <span><?=$this->displayAddress($wo->City, $wo->State, $wo->Zipcode)?></span>
        </td>
        <td>
            <span><span class="ajaxLink" title="Work Order Information" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true);roll.show(this,event,{popup:'woinformation',title:'Work Order Information',width:400,preHandler:wd.getWidgetHtml,context:wd,params:{win:<?=$wo->WIN_NUM?>,companyId:'<?=$this->company?>'}}) }"><?=$this->projectName($wo)?></span></span><br />
            <span><? echo ( empty($wo->SiteNumber) ? $wo->SiteName : $wo->SiteNumber . " - " . $wo->SiteName);?></span>
        </td>
        <td>
            <span><?= $wo->City.' '.$wo->State?></span><br />
            <span><?=$wo->Zipcode?></span>
        </td>
        <?php if(!$this->isFLSManager):?>
        <td>
            <span>Offer $: <?=$this->displayMoneyPer($wo->PayMax,'',$wo->Amount_Per)?></span>
            <? if($wo->Amount_Per == "Device" || $wo->Amount_Per == "Visit"){
                $amount_per = $wo->Amount_Per.'s';
                echo "<span>$amount_per: $wo->Qty_Devices</span><br />";
            }
            ?>
            <?
                if(!empty($wo->AuditNeededDate))
                {
                    $AuditNeededDate = new DateTime($wo->AuditNeededDate);
                    $AuditNeeded = date_format($AuditNeededDate, 'm-d-Y g:i A').' CST';
                }
                
                if(!empty($wo->AuditCompleteDate))
                {
                    $AuditCompleteDate = new DateTime($wo->AuditCompleteDate);
                    $AuditComplete = date_format($AuditCompleteDate, 'm-d-Y g:i A').' CST';
                }
                
                if($wo->AuditComplete)
                {
                    
                    echo("<span><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded <br>Audit Complete: $AuditComplete\" class=\"hoverText\" src=\"/widgets/images/Green_Flag.png\"></span>");
                }
                else if($wo->AuditNeeded)
                {
                    echo("<span><a class=\"AuditNeeded\" auditneeded='$AuditNeeded' winnum='$wo->WIN_NUM' href=\"javascript:void(0);\"><img height=\"13px\" bt-xtitle=\"Audit Needed: $AuditNeeded<br>Click the red flag to mark the Audit Completed\" class=\"hoverText\" src=\"/widgets/images/Red_Flag.png\"></a></span>");
                }
            ?>
        </td>
        <?php endif;?>
        <td class="last deliverablesCol">
            <?php $countFiles = $this->files->getFilesCount($wo->WIN_NUM, Core_Files::TECH_FILE);?>
            <span>( <?=$countFiles?> ) <span<?php if ($countFiles > 0): ?> class="ajaxLink" title="Client and FS Work Order Completion" onclick="if ( !FSWidget.isFilterActive() ) { roll.autohide(true); roll.show(this,event,{popup:'documents',title:'Documents',width:260,preHandler:wd.getWidgetHtml,context:wd,params:{win:'<?=$wo->WIN_NUM?>',companyId:'<?=$this->company?>'}}); }"<?php endif; ?>>Documents</span></span><br />
            ( <?=($wo->ReturnPartCount)?$wo->ReturnPartCount:0;?> ) <a class="ajaxLink" title="Open Parts Manager" href="javascript:openPopup('parts/list.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->company?>',1200,500)">Return Parts</a></span><br />
        </td>
    </tr>
    <?php ++$tr; endforeach;?>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'published'))?>
        </td>
    </tr>
    <?php else : ?>
        <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="<?=($this->isFLSManager)?6:9?>"><?=$this->error?></td></tr>
        <?php endif;?>
    <tr>
        <td colspan="<?=($this->isFLSManager)?6:9?>"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="<?=($this->isFLSManager)?6:9?>" class="tCenter">&#160;</td>
    </tr>
    <?php endif;?>
</table>

<script type="text/javascript">
$(document).ready( function() {
    $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'published','short'=>true)),"'"))?>');
});
</script>
<script>
                    $(document).ready(function() { 
                        $(".wosDetails").click(function(){               
                            return false;
                        });
                    }); 
</script>