<?php 

    function sortClass($field, $cl )
    {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') {
            return 'sort-asc';
        } else if ($cl->sortBy == $field && $cl->sortDir == 'desc') {
            return 'sort-desc';
        }
    }
    
    function makeSort($field, $cl)
    {
        return "var opt=proj.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';proj.setParams(opt); proj.show({tab:'list-pricing-rule',params:opt});";
    }

?>

<table width="100%" class="gradBox_table_inner">
    <col width="100px" />
    <col width="100px" />
	<col width="*" />
    <col width="100px" />
    <col width="400px" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('Project_ID', $this);?>"><span onclick="<?=makeSort('Project_ID', $this);?>">Project ID</span></th>
        <th class="sortable <?=sortClass('Project_Company_ID', $this);?>"><span onclick="<?=makeSort('Project_Company_ID', $this);?>">Company ID</span></th>
        <th class="sortable <?=sortClass('Project_Name', $this);?>"><span onclick="<?=makeSort('Project_Name', $this);?>">Project Name</span></th>
        <th class="sortable <?=sortClass('PricingRuleID', $this);?>"><span onclick="<?=makeSort('PricingRuleID', $this);?>">Pricing Rule ID</span></th>
        <th><span>Description</span></th>
        <th class="last">&nbsp;</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):

?>

<?php $tr=1; foreach( $this->paginator as $project ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <br /><span><?=$this->truncate($project->Project_ID, 100)?></span><br /><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Project_Company_ID, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Project_Name, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->PricingRuleID, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->pricingRules[$project->PricingRuleID]?></span><br />
        </td>
        <td class="last deliverablesCol">
            <a class="ajaxLink" target="_blank" href="/admin/editProjectPricingRule.php?v=<?=$this->company?>&tab=listpricingrule&id=<?=$project->Project_ID?>">Edit Pricing Rule</a>
        </td>
    </tr>
  
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="9" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list-pricing-rule'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list-pricing-rule','short'=>true)),"'"))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="8"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="8"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="8" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
