<?php if ($this->success && empty($this->errors) && !empty($this->project)) :?>
<?php $prj = $this->project;?>

<div class="popup_form_holder">
	<form action="#" method="post" id="CreateProjectForm" name="CreateProjectForm">
        <input type="hidden" name="Project_ID" value="<?= $prj->Project_ID?>"/>
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
			<tr>
				<td class="label_field">Project ID</td>
				<td><strong><?= $prj->Project_ID?></strong></td>
			</tr>
            <tr>
				<td class="label_field">Project Name</td>
				<td><strong><?= $prj->Project_Name?></strong></td>
			</tr>
            <tr>
				<td class="label_field">ACS Price Each</td>
				<td><input type="text" maxlength="255" class="input_text" id="IVRPriceEach" name="IVRPriceEach" value="<?= $prj->IVRPriceEach?>" /></td>
			</tr>
			<tr>
				<td class="label_field">ACS Price Bundle</td>
				<td><input type="text" maxlength="255" class="input_text" id="IVRPriceBundle" name="IVRPriceBundle" value="<?= $prj->IVRPriceBundle?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Pricing Rule</td>
				<td>
                    <select name="PricingRuleID" id="PricingRuleID">
                		<option value="">Select One</option>
                        <?php foreach ($this->pricingRules as $rule) : ?>
                        <option title="<?= $rule->Description?>" <?php if($rule->PricingRuleId == $prj->PricingRuleID):?>selected<?php endif;?> value="<?=$rule->PricingRuleId?>"><?= $rule->Description ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="button" value="Submit" onclick="detailsWidget.validateSubmit();" />
                </td>
            </tr>

        </table>
    </form>
</div>
<?php else :?>
Error occurred
<?php endif;?>