<?php 
    
    

    function sortClass($field, $cl )
    {
        if ($cl->sortBy == $field && $cl->sortDir == 'asc') {
            return 'sort-asc';
        } else if ($cl->sortBy == $field && $cl->sortDir == 'desc') {
            return 'sort-desc';
        }
    }
    
    function makeSort($field, $cl)
    {
        return "var opt=proj.getParams();opt.sortBy = '{$field}';opt.sortDir = '" . (($cl->sortBy != $field || $cl->sortDir == 'desc') ? 'asc' : 'desc' ) . "';proj.setParams(opt); proj.show({tab:'list',params:opt});";
    }

?>

<table width="100%" class="gradBox_table_inner">
    <col width="100px" />
    <col width="220px" />
    <col width="135px" />
    <col width="175px" />
    <col width="*" />
    <col width="*" />
    <col width="110px" />
    <col width="110px" />
    <col width="110px" />
    <tr class="table_head">
        <th class="sortable <?=sortClass('Project_ID', $this);?>"><span onclick="<?=makeSort('Project_ID', $this);?>">Project ID</span></th>
        <th class="sortable <?=sortClass('Project_Name', $this);?>"><span onclick="<?=makeSort('Project_Name', $this);?>">Project Name</span></th>
        <th class="sortable <?=sortClass('Headline', $this);?>"><span onclick="<?=makeSort('Headline', $this);?>">Headline</span></th>
        <th class="sortable <?=sortClass('Project_Manager', $this);?>"><span onclick="<?=makeSort('Project_Manager', $this);?>">Project Manager</span></th>
        <th class="sortable <?=sortClass('Resource_Coordinator', $this);?>"><span onclick="<?=makeSort('Resource_Coordinator', $this);?>">Resource Coordinator</span></th>
        <th class="sortable <?=sortClass('Client_Name', $this);?>"><span onclick="<?=makeSort('Client_Name', $this);?>">Customer</span></th>
        <th>Active?</th>
        <th>Auto Blast?</th>
        <th class="last">Site List/WO's</th>
    </tr>
<?php if ($this->success && sizeof($this->paginator)):?>

<?php $tr=1; foreach( $this->paginator as $project ) :?>

    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <span><br /><a href="/clients/projectsView_new.php?v=<?=$this->company?>&tab=list&project_id=<?=$project->Project_ID?>"><?=$this->truncate($project->Project_ID, 100)?></a><br /><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Project_Name, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Headline, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Project_Manager, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Resource_Coordinator, 100)?></span><br />
        </td>
        <td>
            <span><?=$this->truncate($project->Client_Name, 100)?></span><br />
        </td>
        <td>
            <span><?= ($project->Active) ? 'yes' : 'no'?></span><br />
        </td>
        <td>
            <span><?= ($project->AutoBlastOnPublish) ? 'yes' : 'no'?></span><br />
        </td>
        <td class="last deliverablesCol">
			Sites: <?=(!empty($this->siteCount[$project->Project_ID])) ? $this->siteCount[$project->Project_ID] : 0?><br/>
            <a class="ajaxLink" href="/clients/wos.php?v=<?=$this->company?>&tab=list&projects=<?=$project->Project_ID?>">View WO's</a>
        </td>
    </tr>
  
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="9" class="tCenter" id="paginatorContainer">
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list'))?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes(trim ($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'list','short'=>true)),"'")))?>');
    });
    </script>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && !empty($this->error) ) :?>
        <tr><td colspan="8"><?=$this->error?></td></tr>
    <?php endif;?>
    <tr>
        <td colspan="8"><br /><br />No results found<br /><br /><br /></td>
    </tr>
    <tr class="paginator">
        <td colspan="8" class="tCenter">&#160;</td>
    </tr>
<?php endif;?>
</table>
