<style type="text/css">
#optionBox, #waitMessageBox {width: 90%;text-align: center;margin: 0px auto;}
#optionMessage, #waitMessage {margin: 90px 0px 20px 0px !important;font-size: 15px;font-weight: bold;}
#optionBox div, #waitMessageBox div {margin: 5px 0px;}
.cbButton {	color: #ffffff;font-size: 12px;font-family: Verdana;font-style: normal;font-weight: bold;text-align: center;vertical-align: middle;border-color: #5496C6;border-style: solid;border-width: 1px;background-color: #032D5F;width: auto;height: auto;margin: 0 3px;}
.cbButton:hover {background-color: #234D7F;}
</style>
<div id="optionBox">
    <div id="optionMessage">How would you like to apply Push2Tech&trade; and ACS changes?</div>
    <div><input type="button" value="All Work Orders" onClick="chooseOption(1)" class="cbButton"/></div>
    <div><input type="button" value="Future Work Orders Only" onClick="chooseOption(3)" class="cbButton"/></div>
    <div><input type="button" value="Cancel" onClick="window.close()" class="cbButton"/></div>
</div>
<div id="waitMessageBox" style="display:none">
    <div id="waitMessage">
        Updating ... please wait.<br/><br/>
        <img src="../images/loading.gif"/>
    </div>
</div>