<h2><u>Search Results Summary for <?=$this->searchParams($this->searchParameters)?></u></h2>

<div class="inner10">
    <h3>Summary of Work Order<?=(count($this->paginator)>1)?'s in this Period':''?></h3>

<?php if ($this->success && sizeof($this->paginator)):?>
<div class="notice">Click on WIN # to view Work Order details</div>
<table width="100%" class="gradBox_table_inner">
    <?php if ( $this->paginator->getTotalItemCount() / $this->paginator->getItemCountPerPage() > 1 ) : ?>
    <tr class="table_head">
    <?php else : ?>
    <tr class="table_head slimmed">
    <?php endif; ?>
        <th>WIN #</th>
        <th>Work Start Date</th>
        <th>Payment Date<sup>1</sup></th>
        <th>Gross $</th>
        <th>Fee $<sup>3</sup></th>
        <th class="last">Net $</th>
    </tr>

<?php $tr=1; foreach( $this->paginator as $wo ) :?>
    <tr class="<?=($tr%2)?'border_td odd_tr':'border_td even_tr'?>">
        <td>
            <span class="ajaxLink" title="Work Order Information" onclick="openPopup('wosDetails.php?v=<?=$wo->Company_ID?>&id=<?=$wo->WIN_NUM?>')"><?=$wo->WIN_NUM?></span>
        </td>
        <td>
            <nobr><span><?=$this->displayDate('n/j/Y', $wo->StartDate)?></span></nobr>
        </td>
        <?php if ($wo->DatePaid) :?>
        <td>
            <span><?=$this->displayDate('n/j/Y', $wo->DatePaid)?></span>
        </td>
        <td>
            <span><?= $this->displayMoney($wo->PayAmount) ?></span>
        </td>
        <td>
            <span><?php if($wo->PcntDeduct!=true):?><img src="/widgets/images/check_red.gif" /><?php else: ?><img src="/widgets/images/check_green.gif" /><?php endif; ?></span>
        </td>
        <td>
            <span><?= $this->displayMoney($wo->Net_Pay_Amount) ?></span>
        </td>
        <?php else:?>
        <td>
            <span>In Process<sup>2</sup></span>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <?php endif;?>
    </tr>
<?php ++$tr; endforeach;?>

    <tr class="paginator">
        <td colspan="17" class="tCenter" id="paginatorContainer">
        <?php if ( $this->paginator->getTotalItemCount() / $this->paginator->getItemCountPerPage() > 1 ) : ?>
            <?=$this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'techpaid'))?>
        <?php endif; ?>
        </td>
    </tr>
    <script type="text/javascript">
    $(document).ready( function() {
        $("#toppaginatorContainer").html('<?=str_replace("\n",'',addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginator.phtml', array('tab'=>'techpaid','short'=>true)),"'"))?>');
    });
	</script>
</table>
<div class="notice">1. Field Solutions pays on Fridays except for bank holidays. 2. Approved not yet dispersed. 3. Fee $ is client directed 10% administrative deduction</div>
<?php else : ?>
    <?php if (APPLICATION_ENV !== 'production' && trim($this->error) !== '') :?>
        <?=$this->error?><br />
    <?php endif;?>
    There are no results for this time period.
<?php endif;?>


</div>
