/* reset css by Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
* html legend {
	margin-left: -8px;
}
* + html legend {
	margin-left: -8px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* basic css */
.clearer:after {
	content: "";
	display: block;
	clear: both;
}
* html .clearer {
	height: 1%;
}
* + html  .clearer {
	height: 1%;
}
.fl {
	display: inline;
	float: left;
}
.fr {
	display: inline;
	float: right;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.wfull {
	width: 100%;
}
.whalf {
	width: 50%;
}
.wthird {
	width: 33.32%;
}
.wquarter {
	width: 25%;
}
/* custom css */
body {
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
	margin: 0 auto;
	width: 980px;
	text-align: left;
}
#header {
	border: 1px solid #d7d7d7;
	margin: 10px 0 5px 0;
	padding: 10px 8px 2px 8px;
}
#header .fl, #header .fr {
	font-size: 82%;
}
#header h1 {
	margin: 0 auto;
	text-align: center;
	width: 200px;
}
.round {
	background: url(../images/bg-headline.gif) no-repeat;
	padding: 5px 10px 7px 10px;
}
.form-basic {
	border: 1px solid #d7d7d7;
	font-size: 82%;
	margin-top: 5px;
	padding: 20px 25px 30px 25px;
}
.form-basic input, .form-basic button {
	cursor: pointer;
	vertical-align: middle;
}
.form-basic input[type=text] {
	height: 19px;
	color: #000;
        padding:0px;
}
.form-basic fieldset {
	padding-bottom: 50px;
}
.form-basic  legend {
	font-weight: bold;
	left: -4px;
	position: relative;
}
.form-basic  legend span {
	font-size: 100%;
	font-weight: bold;
}
.form-basic  legend .stext {
	font-size: 100%;
	font-weight: bold;
}
.stext {
	font-size: 100%;
	font-weight: normal;
}
.form-basic label {
	display: block;
	font-weight: bold;
	padding-bottom: 4px;
}
.form-basic label em {
	font-weight: normal;
}
.note {
	padding-top: 5px;
}
.set-default {
	padding-top: 15px;
}
.set-nolabel {
	padding-top: 4px;
}
.fnField {
	width: 196px;
}
#nameaddition {
	width: 116px;
}
.item-default {
	margin-left: 50px;
	width: 200px;
}
.item-default input {
	width: 200px;
}
.item-error {
	color: red;
}
.item-averag {
	margin-left: 50px;
	width: 125px;
}
.item-averag input {
	width: 120px;
}
.item-date {
	margin-left: 25px;
	width: 205px;
}
.item-date input {
	width: 170px;
}
.item-country {
	margin-left: 25px;
	width: 205px;
}
.item-country select {
	width: 200px;
}
.item-number {
	font-weight: bold;
	width: 25px;
}
.item-otehername {
	width: 290px;
}
.item-otehername  input {
	width: 290px;
}
.item-radio {
	margin-left: 25px;
	color: black;
}
.item-radio label {
	display: inline;
	font-weight: normal;
}
.item-radio2 {
	margin-top: 15px;
	color: black;
}
.item-radio2 label {
	display: block;
	font-weight: normal;
}
.item-radio2 em {
	display: block;
}
.item-lerge {
	margin-left: 50px;
	width: 320px;
}
.item-lerge input {
	width: 320px;
}
.item-num {
	margin-left: 30px;
	width: 125px;
}
.item-num input {
	width: 120px;
}
.area {
    background-color: #e4e4e4;
    margin: 5px -25px 0 -25px;
    padding: 0px 25px 20px 25px;
    position: relative;
    zoom: 1;
}
.area2 {
    background-color: #6B6B6B;
    margin: 45px -25px 20px -25px;
    padding: 10px 25px 10px 25px;
    position: relative;
    zoom: 1;
}
.area2 .stext {
	text-align:center;
	color: #fff;
	font-size: 150%;
}
.list-lalpha {
	font-weight: bold;
	list-style: lower-alpha;
	margin-left: 30px;
}
.list-lalpha li {
	margin-bottom: 25px;
}
.list-lalpha-inner {
	font-weight: normal;
}
.btn-img {
	background: none;
	border: 0;
	padding: 0;
}
.btn-img img {
	margin: 1px 0 0 -3px;
}
* html .btn-img img {
	margin-left: 0;
}
* + html .btn-img img {
	margin-left: 0;
}
.btn-date {
	width: 25px;
}
.item-first {
	margin-left: 0;
}
/*-----------------------Text Field-----------------------------*/
/*text_size#=width = #*10-----------------------------*/
/*text_size#=margin-left: 0px--------text_size#_$=margin-left: $*10px----------text_size#_$a=margin-left: $*10px+5------------------------*/

/*--------*/
.text_size4 {
    width: 40px;
}
.text_size4 input {
    width: 40px;
}
/*--------*/
.text_size4_1 {
    width: 40px;
    margin-left: 10px;
}
.text_size4_1 input {
    width: 40px;
}
.text_size5 {
    width: 50px;
}
.text_size5 input {
    width: 50px;
}
/*--------*/
.text_size7 {
    width: 70px;
}
.text_size7 input {
    width: 70px;
}
.text_size7_1 {
    margin-left: 10px;
    width: 70px;
}
.text_size7_1 input {
    width: 70px;
}
.text_size7_1a {
    margin-left: 15px;
    width: 70px;
}
.text_size7_1a input {
    width: 70px;
}
.text_size7_2a {
    margin-left: 25px;
    width: 70px;
}
.text_size7_2a input {
    width: 70px;
}
/*--------*/
.text_size10a_1a {
    width: 105px;
	margin-left: 15px;
}
.text_size10a_1a input {
    width: 105px;
}
/*--------*/
.text_size11_a {
    width: 110px;
    margin-left: 5px;
}
.text_size11_a input {
    width: 110px;
}
/*--------*/
.text_size12 {
    width: 120px;
}
.text_size12 input {
    width: 120px;
}
.text_size12_1 {
    width: 120px;
    margin-left: 10px;
}
.text_size12_1 input {
    width: 120px;
}
.text_size12_1a {
    width: 120px;
	margin-left: 15px;
}
.text_size12_1a input {
    width: 120px;
}
.text_size12_2 {
    width: 150px;
	margin-left: 20px;
}
.text_size12_2 input {
    width: 150px;
}
/*--------*/
.text_size15 {
    width: 150px;
}
.text_size15 input {
    width: 150px;
}
.text_size15a_1 {
    width: 155px;
    margin-left: 10px;
}
.text_size15a_1 input {
    width: 155px;
}
.text_size15_1a {
    width: 150px;
	margin-left: 15px;
}
.text_size15_1a input {
    width: 150px;
}
.text_size15_1 {
    width: 150px;
    margin-left: 10px;
}
.text_size15_1 input {
    width: 150px;
}
.text_size15_2 {
    width: 150px;
	margin-left: 20px;
}
.text_size15_2 input {
    width: 150px;
}
/*--------*/
.text_size16a_a {
	width: 165px;
	margin-left: 5px;
}
.text_size16a_a input {
	width: 165px;
}
.text_size16_1 {
    width: 160px;
    margin-left: 10px;
}
.text_size16_1 input {
    width: 160px;
}
/*--------*/
.text_size17 {
	width: 170px;
}
.text_size17 input {
	width: 170px;
}
.text_size17_1a {
	margin-left: 15px;
	width: 170px;
}
.text_size17_1a input {
	width: 170px;
}
.text_size17_2a {
	margin-left: 25px;
	width: 170px;
}
.text_size17_2a input {
	width: 170px;
}
/*--------*/
.text_size18a_2a {
	margin-left: 25px;
	width: 185px;
}
.text_size18a_2a input {
	width: 185px;
}
/*--------*/
.text_size19 {
    width: 190px;
}
.text_size19 input {
    width: 190px;
}
/*--------*/
.text_size19_1 {
    width: 190px;
	margin-left: 10px
}
.text_size19_1 input {
    width: 190px;
}
/*--------*/
.text_size20n {
	width: 200px;
	float: none;
}
.text_size20n input {
	width: 200px;
	float: none;
}
.text_size20 {
	width: 200px;
}
.text_size20 input {
	width: 200px;
}
.text_size20_1 {
    width: 200px;
    margin-left: 10px;
}
.text_size20_1 input {
    width: 200px;
}
.text_size20_2a {
	width: 200px;
	margin-left: 25px;
}
.text_size20_2a input {
	width: 200px;
}
/*--------*/
.text_size21 {
	width: 210px;
}
.text_size21 input {
	width: 210px;
}
/*--------*/
.text_size22_1 {
    width: 220px;
    margin-left: 10px;
}
.text_size22_1 input {
    width: 220px;
}
/*--------*/
.text_size23 {
	width: 230px;
}
.text_size23 input {
	width: 230px;
}
/*--------*/
.text_size24_2a {
	width: 240px;
	margin-left: 25px;
}
.text_size24_2a input {
	width: 240px;
}
/*--------*/
.text_size28a_1 {
    width: 285px;
    margin-left: 10px;
}
.text_size28a_1 input {
    width: 285px;
}
/*--------*/
.text_size29 {
	width: 290px;
}
.text_size29 input {
	width: 290px;
}
/*--------*/
.text_size30 {
	width: 300px;
}
.text_size30 input {
	width: 300px;
}
/*--------*/
.text_size31_1a {
	width: 310px;
	margin-left: 15px;
}
.text_size31_1a input {
	width: 310px;
}
/*--------*/
.text_size32 {
	width: 320px;
}
.text_size32 input {
	width: 320px;
}
/*--------*/
.text_size35 {
	width: 350px;
}
.text_size35 input {
	width: 350px;
}
/*--------*/
.text_size39_1 {
	width: 390px;
	margin-left: 10px;
}
.text_size39_ input {
	width: 390px;
}
/*--------*/
.text_size39_2a {
	width: 390px;
	margin-left: 25px;
}
.text_size39_2a input {
	width: 390px;
}
/*--------*/
.text_size41_2a {
	width: 380px;
	margin-left: 25px;
}
.text_size41_2a input {
	width: 380px;
}
/*--------*/
.text_size43a {
	width: 435px;
}
.text_size43a input {
	width: 435px;
}
/*--------*/
.text_size44a {
    width: 445px;
}
.text_size44a input {
    width: 445px;
}
/*--------*/
.text_size51a {
	width: 515px;
}
.text_size51a input {
	width: 515px;
}
.text_size51a_13 {
	width: 515px;
	margin-left: 130px;
}
.text_size51a_13 input {
	width: 515px;
}
/*--------*/
.text_size54 {
	width: 540px;
}
.text_size54 input {
	width: 540px;
}
.text_size54_2a {
	width: 540px;
	margin-left: 25px;
}
.text_size54_2a input {
	width: 540px;
}
/*--------*/
.text_size65_1a {
	width: 620px;
}
.text_size65_1a input {
	width: 620px;
}

/*-----------------------States-----------------------------*/
.item-state {
	width: 80px;
}
.item-state select {
	width: 80px;
}
/*--------*/
.item-state8 {
	width: 80px;
}
.item-state8 select {
	width: 80px;
}
.item-state8_1 {
    margin-left: 10px;
    width: 80px;
}
.item-state8_1 select {
    width: 80px;
}
.item-state8_1a {
	margin-left: 15px;
    width: 80px;
}
.item-state8_1a select {
    width: 80px;
}
.item-state8_2a {
	margin-left: 25px;
    width: 80px;
}
.item-state8_2a select {
    width: 80px;
}
.item-state8r_1 {
    margin-left: 10px;
    width: 80px;
    text-align: right;
}
.item-state8r_1 select {
    width: 80px;
}
/*--------*/
.item-state9 {
	width: 90px;
}
.item-state9 select {
	width: 90px;
}
/*--------*/
.item-state10a {
	width: 105px;
}
.item-state10a select {
	width: 105px;
}
/*--------*/
.item-state15 {
    width: 150px;
}
.item-state15 select {
    width: 150px;
}
.item-state15_1 {
    width: 150px;
    margin-left: 10px;
}
.item-state15_1 select {
    width: 150px;
}
.item-state15_1a {
    width: 150px;
    margin-left: 15px;
}
.item-state15_1a select {
    width: 150px;
}

/*-----------------------MonthYear-----------------------------*/
/*----item-month-------*/
.item-month {
	margin-left: 25px;
	width: 100px;
}
.item-month select {
	width: 100px;
}
.item-year {
	margin: 0 35px 0 20px;
	width: 60px;
}
.item-year input {
	width: 60px;
}
/*--------*//*--------*/
.item-month6a-45_1 {
    width: 89px;
}
.item-month6a-45_1 select {
    width: 89px;
}
.item-year6a-45_1 {
	margin-left: 10px;
    width: 23px;
}
.item-year6a-45_1 input {
    width: 23px;
}
/*--------*//*--------*/
.item-month6a_1a-45_1 {
    width: 89px;
	margin-left:15px;
}
.item-month6a_1a-45_1 select {
    width: 89px;
}
.item-year6a_1a-45_1 {
	margin-left: 10px;
    width: 23px;
}
.item-year6a_1a-45_1 input {
    width: 23px;
}
/*--------*//*--------*/
.item-month06a_1a-45_1 {
    width: 109px;
	margin-left:15px; 
}
.item-month06a_1a-45_1 select {
    width: 89px;
}
.item-year06a_1a-45_1 {
	margin-left: -10px;
    width: 23px;
}
.item-year06a_1a-45_1 input {
    width: 23px;
}
/*--------*//*--------*/
.item-month10-45_1 {
    width: 100px;
}
.item-month10-45_1 select {
    width: 100px;
}
.item-year10-45_1 {
	margin-left: 10px;
    width: 45px;
}
.item-year10-45_1 input {
    width: 45px;
}
/*--------*//*--------*/
.item-month10_1-45_1 {
    width: 100px;
	margin-left: 10px;
}
.item-month10_1-45_1 select {
    width: 100px;
}
.item-year10_1-45_1 {
    margin-left: 10px;
    width: 45px;
}
.item-year10_1-45_1 input {
    width: 45px;
}

/*--------------------Other CSS classes---------------------------*/
.item-code {
    margin-left: 15px;
    width: 150px;
}
.item-code select {
    width: 150px;
}
.item-type {
    margin-left: 15px;
    width: 160px;
}
.item-type select {
    width: 160px;
}
.note2_1a {
    padding-top: 15px;
}
.note2_2 {
    padding-top: 20px;
}
.note2_2a {
    padding-top: 25px;
}
.note2_3a {
    padding-top: 35px;
}
.note2_4a {
    padding-top: 45px;
}
.note2_5a {
    padding-top: 55px;
}
.no-padtop div{
	padding-top: 0px;
}
.disp_b {
	display: block;
}
.left_marg1 {
	margin-left: 10px;
}
.left_marg1a {
	margin-left: 15px;
}
.left_marg2a {
	margin-left: 25px;
}
.item_m_error {
	width: 100%; 
	position: relative;
}
.item_error {
	position: absolute; 
	right: 0px; 
	top: 45%; 
	width: 40%; 
}
.item_in_error {
	width: 60%;
}
.item_error2 {
	margin-left: 300px;
}
.item_error3 {
	position: normal;
	padding-left: 6px;
}
.for_radio3 div {
	margin: 0px;	
}
.for_radio3 {
	width: 70px;
	position:relative;
	top: -5px;
}
.for_radio4 {
	width: 70px;
	padding-top:8px;
}
.for_radio4 div {
	margin: 0px;	
}
.stext1 {
	font-size: 100%;
	font-weight: bold;
	position:relative;
	top:-3px;
	left: 18px;
}
.stext2 {
    font-weight: bold;
    margin-bottom: 5px;
}
.stext4 {
    font-weight: bold;
    color: red;
	font-size: 100%;
}
.stext5 {
	font-size: 150%;
	text-align: center;
}
.stext6 {
    font-size: 100%;
    font-weight: bold;
    left: 10px;
    position: relative;
    top: -3px;
}
.present {
    margin-left: 10px;
    text-align: left;
    width: 155px;
}
.present1 {
    margin-left: 10px;
    text-align: left;
    width: 110px;
}
.block_position1{
	position:relative;
	top: -17px;
} 
.block_position2{
    position: relative;
    top: -16px;
} 
.previous_period {
    width: 115px;
    float: left;
    height: 200px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
.area_w {
    background-color: #ffffff;
    margin: 5px -25px 0 -25px;
    padding: 0px 25px 20px 25px;
    position: relative;
    zoom: 1;
}
.for_date_to {
    text-align: center;
    width: 110px;
	padding-top: 10px;
}

.date_short {
    width: 120px;
    float: left;
    margin-left:15px;
    display: inline;
}

.date_short_first {
    width: 120px;
    float: left;
    margin-left:0px;
    display: inline;
}

.short {
    width: 90px;
}
body {
	text-align: center;
}
.error_mes {
	border: 1px solid #cccccc;
	text-align: center;
	padding: 20px;
	color: #ff0000;
}
.doc_pdf {
	border: 1px solid #cccccc;
	padding: 0px 20px;
}
.doc_pdf p {
	margin: 10px 0px 20px 0px;
	font: normal 12px/16px arial;
	color: #000000;
}
.doc_pdf a {
	font: bold 12px/16px arial;
	color: #000000;
}
#wrapper input {
	cursor: auto;
}
#wrapper .item-radio input, #wrapper .item-radio2 input {
	cursor: pointer;
}
#wrapper .btn {
	cursor: pointer;
}
.text_size28a_1, .text_size15a_1 {
	position: relative;
} 
#citizenb {
	vertical-align: top;
}