h1{
    color: #2a497d;
    font-size: 22px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    margin: 14px 0px 7px 0px;
    padding: 0px;
}

h2 {
    color: #2a497d;
    font-size: 20px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 14px 0px 7px 0px;
}
h3
{
    color: #000000;
    font-size: 14px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    padding: 0px;
    margin: 14px 0px 7px 0px;
}

p
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    margin: 7px 0px 7px 0px;
}

ul
{
    list-style-position: inside;
    list-style-type: square;
    margin: 7px 0px 7px 0px;
    padding: 0px;
}
li
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    margin: 1px 0px 1px 0px;
    padding: 0px;
}

a
{
    color: #0000ff;
    text-decoration: underline;
}

a:hover
{
    color: #0000ff;
    text-decoration: none;
}

.button
{
    width: 100px;
    border: 0px;
    height: 25px;
    background: url(/widgets/images/button.png) left top no-repeat;
}

.cbFormLabel
{
    color: #385c7e;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

.cbFormLabelError
{
    color: #2a497d;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}

.cbFormError
{
    color: #ff0000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    margin-left: 5px;
}

.cbFormTable
{
    border-color: #385c7e;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
}

.cbFormTableRow
{
    background-color: #FFFFFF;
    padding: 7px;
}

.cbFormTableRow:hover
{
    background-color: #ffffff;
}

.cbFormTableEvenRow
{
    background-color: #FFFFFF;
}

.cbFormTableEvenRow:hover
{
    background-color: #ffffff;
}


.cbFormLabelCell
{
    text-align: left;
    vertical-align: top;
    width: auto;
    white-space: nowrap;
    padding: 2px 5px;
}

.cbFormTextField
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

.cbFormTextArea
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.cbFormTextAreaHint
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}

.cbFormPassword
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    padding: 1px 1px 1px 1px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.cbFormFieldCell
{
    text-align: left;
    vertical-align: top;
    padding: 2px 5px;
    white-space: nowrap;
}

.cbFormDataCell
{
    text-align: left;
    vertical-align: top;
    width: auto;
    padding: 5px 10px;
    white-space: nowrap;
}

.cbFormDataCellNumberDate
{
    text-align: left;
    vertical-align: top;
    width: auto;
    padding: 5px 10px;
    white-space: nowrap;
}

.cbHTMLBlockContainer
{
    text-align: left;
    vertical-align: top;
    padding: 5px 10px;
    color: #2a497d;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}

.cbFormNestedTable
{
    width:100%;
    height:100%;
}

.cbFormNestedTableContainer
{
    text-align: left;
    vertical-align: top;
    padding:0px;
}

.cbFormLabelRequired
{
    color: #2a497d;
    font-size: 10px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}

.cbFormRequiredMarker
{
    color: #FF0000;
    font-size: 12px;
    font-family: Verdana;
    margin-left: 2px;
}


.cbFormData
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

.cbFormCalendar
{
    padding-left:5px;
}

.cbFormAutoCompleteList
{
    border-color: #999999;
    border-width: 1px;
    border-style: solid;
}

.cbFormAutoCompleteOption
{
    padding: 3px;
    background-color: #ffffff;
}

.cbFormAutoCompleteOption_hover
{
    padding: 3px;
    background-color: #e0e0e0;
}

.cbFormAutoCompleteOptionText
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

.cbFormAutoCompleteOptionText_hover
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

.cbFormAutoCompleteOptionRemainder
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}

.cbFormAutoCompleteOptionRemainder_hover
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}

.cbFormSearchAgainContainer
{
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    white-space: nowrap;
}

.cbFormSearchAgainLink
{
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

.cbFormSearchAgainLink:hover
{
    color: #000000;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.cbFormNavigationTable
{
    margin: 0px;
    width: 100%;
    border-color: #2a497d;
    border-style: solid;
    border-width: 2px;
    background-color: #A0A8AA;
}

.cbFormNavigationCell
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    white-space: nowrap;
}

.cbFormNavigationMessage
{
    color:#000000;
    font-size:12px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
}

.cbFormNavigationLinks
{
    color: #000000;
    font-size:12px;
    font-family: Verdana;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    margin: 0 5px;
}

.cbFormNavigationLinks:hover
{
    color: #000000;
    font-size:12px;
    font-family: Verdana;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    margin: 0 5px;
}

.cbFormActionsContainer
{
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}

.cbFormJumpToTextField
{
    text-align: right;
}

.cbFormSelect
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
}

.cbFormFile
{
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}


.cbFormDataLink
{
    color: #6373B5;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

.cbFormDataLink:hover
{
    color: #174065;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

.cbUpdateButton
{
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-color: #174065;
    border-style: solid;
    border-width: 1px;
    background-color: #385c7e;
    width: auto;
    height: auto;
    margin: 0 3px;
}


.cbUpdateButton_hover
{
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: Verdana;
    vertical-align: middle;
    border-style:solid;
    border-width: 1px;
    border-color: #405c8b;
    background-color: #6373B5;
    width: auto;
    height: auto;
    margin: 0 3px;
}

.cbUpdateButtonContainer
{
    padding: 5px 0px 5px 0px;
    text-align: center;
    vertical-align: middle;
    border-color: #2a497d;
    border-width: 2px;
    border-style: solid;
    background-color: #bacbdf;
}


.TR_Hidden_TechName
{/*Results Page Hidden Tech Name Label*/
    color: #2a497d;
    font-size: 12px;
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;
}

.cbLoginButtonContainer
{
        padding: 5px 0px 5px 0px;
        text-align: center;
        vertical-align: middle;
        border-color: #2a497d;
        border-width: 2px;
        border-style: solid;
        background-color: #bacbdf;
}

.cbLoginButton
{
        color: #ffffff;
        font-size: 12px;
        font-family: Verdana;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border-color: #174065;
        border-style: solid;
        border-width: 1px;
        background-color: #385c7e;
        width: auto;
        height: auto;
        margin: 0 3px;
}

.cbLoginButton_hover
{
        color: #FFFFFF;
        font-size: 12px;
        font-family: Verdana;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border-style:solid;
        border-width: 1px;
        border-color: #405c8b;
        background-color: #6373B5;
        width: auto;
        height: auto;
        margin: 0 3px;
}


.error{
        color: rgb(255, 0, 0);
        font-size: 12px;
        font-family: Verdana;
        font-style: normal;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
        padding-right: 10px;
        display: none;
        text-align: center;
}

