* 									{ margin: 0; padding: 0; }
body								{ font: 13px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
.maintab ul.dropdown {float: left;}
ul.dropdown {position: relative; z-index: 100;}
ul.dropdown2  { position: relative; z-index: 100; float: right;}
ul.dropdown li, ul.dropdown2 li                      { font-weight: normal; float: left; zoom: 1;  }
ul.dropdown > li.hover > a,
ul.dropdown a:hover, ul.dropdown2 > li.hover > a,
ul.dropdown2 a:hover			 { font-weight: bold; text-decoration: underline; }
/*ul.dropdown a:active                { color: #ffa500; }*/
ul.dropdown li a,ul.dropdown2 li a                    { display: block; padding: 5px 10px; color: #000000;font-size: 11px;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li:hover > a, ul.dropdown2 li:hover > a			{ color: #fff;font-size: 11px; }
ul.dropdown li:hover, ul.dropdown2 li:hover                { background: #032D5F; color: #ffffff; position: relative; }
ul.dropdown > li > a,
ul.dropdown li.hover a:hover, ul.dropdown2 > li > a,
ul.dropdown2 li.hover a:hover        { color: #ffffff; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 160px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 99; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; float: none; padding: 2px 0px;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

ul.dropdown2 ul 						{ width: 160px; display: none; position: absolute; top: 100%; right: 0; z-index: 99; }
ul.dropdown2 ul li 					{ font-weight: normal; background: #f6f6f6; color: #000;  text-align: right;
									  border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; float: none; padding: 2px 15px 2px 0;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown2 ul li a					{ border-left: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

ul.dropdown2 ul ul 					{ right: 100%; top: 0; }
ul.dropdown2 li:hover > ul 			{ display: block; }

.maintab {background-color:#4790D4;border-top:2px solid #032D5F;height:27px;font:bold 12px Verdana;}
.maintab ul {list-style-type:none;margin-bottom:0;margin-left:0;padding-top:0;}

#MyNoticesMenu{
    left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 99;
    background-color: #ffffff;
    width: 700px;
    height: 300px;
    border: 1px solid #999999;
}
