<style>
    .errorQT{
        background-color: #F2DADA;
        border-color: red;
    }
    .avaidQT{
        background-color: #09f;
        border-color: blue;
    }
</style>
<!--<div id="QuickTicketError" style="color: red;"></div>-->
<div id="contentProjectQT" style="height: 200px;overflow-y: auto;overflow-x: hidden;">
    <table cellspacing="0" cellpadding="0" border="0px" width="100%">
        <tbody id="tbodyProjectQuickTiket">
            <?php
            if (!empty($this->data)) {
                foreach ($this->data as $item) {
                    ?>
                    <tr>
                        <td  style='padding:3px;' align='center' width='20%'>
                            <input qtid='<?= $item['Project_ID'] ?>' <?= $item['IsInQTV'] == "1"?"checked='true'":"" ?> type='checkbox' class='QuickTicketChk' /></td>
                        <td style='padding:3px;'><?= $item['Project_Name'] ?></td>
                    </tr>
                <?php
                }
            }
            ?>
        </tbody>
    </table>
</div>
<div>
    <div style="float: right;"><input type="button" id="cmdSaveProjectQuickTecket" value="Save" class="link_button_popup" /></div>
    <div style="float: right;"><input type="button" value="Cancel" class="link_button_popup cmdCancelQuickTecket" /></div>
</div>
<input id="hidQTid" type="hidden" value="<?= $this->id ?>" />