<style>
    .errorQT{
        background-color: #F2DADA;
        border-color: red;
    }
    .avaidQT{
        background-color: #09f;
        border-color: blue;
    }
    .required
    {
        color: red;
    }
</style>
<!--<div id="QuickTicketError" style="color: red;"></div>-->
<form id="formAddUserQT" name="formAddUserQT">
    <div id="contentProjectQT" style="height: 200px;overflow-y: auto;overflow-x: hidden;">
        <table cellspacing="2" cellpadding="0" border="0px" width="100%">
            <tbody id="tbodyProjectQuickTiket">
                <tr>
                    <td class="label_field"><span class="required">*</span>Company Name</td>
                    <td><input  id="CustomerName" name="CreateForm[Customer_Name]" type="text"   class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Contact Name</td>
                    <td><input type="text" value="" name="CreateForm[Contact_Name]" id="ContactName" class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Customer Phone</td>
                    <td><input type="text" value="" name="CreateForm[Contact_Phone]" id="ContactPhone1" class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Customer Email</td>
                    <td><input type="text" value="" name="CreateForm[Contact_Email]" id="Email1" class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>User Name</td>
                    <td><input type="text" value="" name="CreateForm[Username]" id="UserName" class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Password</td>
                    <td><input type="text" value="" name="CreateForm[Password]" id="Password" class="input_text" maxlength="255"></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Send Welcome Email?</td>
                    <td>
                        <select id="Email" style="width:85px;" name="CreateForm[SendWelcomeEmail]">
                            <option  value="1">Yes</option>
                            <option selected="selected" value="0">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Active?</td>
                    <td>
                        <select id="Active"  name="CreateForm[active]">
                            <option value="">Select One</option>
                            <option selected="selected" value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div>
        <div style="float: right;"><input type="button" id="cmdSaveUserQuickTecket" value="Save" class="link_button_popup" /></div>
        <div style="float: right;"><input type="button" value="Cancel" class="link_button_popup cmdCancelQuickTecket" /></div>
    </div>
    <input id="hidQTid" name="hidQTid" type="hidden" value="<?= $this->id ?>" />
    <input id="Company_Name" name="CreateForm[FS_Client_Name]" type="hidden" value="<?= $this->CompanyName ?>" />
    <input type="hidden" value="<?= $this->companyId ?>" name="CreateForm[Company_ID]">
   
</form>