<style>
    .errorQT{
        background-color: #F2DADA;
        border-color: red;
    }
    .avaidQT{
        background-color: #09f;
        border-color: blue;
    }
</style>
<div id="QuickTicketError" style="color: red;"></div>
<table cellspacing="0" cellpadding="0" border="0px" width="100%">
    <tr class="table_head" style="background-color: #0070C0;color: white;">
        <th>
            QuickTicket View Name
        </th>
        <th width="20%">
            Active?
        </th>
    </tr>
</table>
<div id="contentQT" style="height: 165px;overflow-y: auto;overflow-x: hidden;">
    <table cellspacing="0" cellpadding="0" border="0px" width="100%">
        <tbody id="tbodyQuickTiket">
            <?php
            $companyname = "";
            if (!empty($this->data)) {
                foreach ($this->data as $item) {
                    $companyname = $item['CompanyName'];
                    ?>
                    <tr qtid='<?= $item['id'] ?>'>
                        <td style='padding:3px;'><?= $item['CompanyName'] ?> - <input style='width:130px;' value="<?= $item['CustomerName'] ?>" type='text' class='txtQuickTicketName' /></td>
                        <td style='padding:3px;' align='center' width='20%'><input <?= $item['active'] == "1" ? "checked='true'" : "" ?> type='checkbox' class='QuickTicketChk' /></td>
                    </tr>
                    <?php
                }
            }
            else {
            ?>
               <tr>
                    <td style='padding:3px;'><?= $this->companyname ?> - <input style='width:130px;' value="" type='text' class='txtQuickTicketName' /></td>
                    <td style='padding:3px;' align='center' width='20%'><input checked='true' type='checkbox' class='QuickTicketChk' /></td>
                </tr>
            <?php 
            }
            ?>
        </tbody>
    </table>
</div>
<div>
    <div style="float: left;cursor: pointer;color: #0063DC;" id="cmdAddNewQuickTicket">+ Add a QuickTicket View</div>
    <div style="float: right;"><input type="button" id="cmdSaveQuickTecket" value="Save" class="link_button_popup" /></div>
    <div style="float: right;"><input type="button" value="Cancel" class="link_button_popup cmdCancelQuickTecket" /></div>
</div>
<script>
    if(typeof(_profile) != 'undefined')
    {
        _profile.companyName = '<?= $this->companyname ?>'; 
        _profile.emailclient = '<?= $this->emailclient ?>'; 
    }
    if(typeof(_admin_client_profile) != 'undefined')
    {
        _admin_client_profile.companyName = '<?= $this->companyname ?>'; 
        _admin_client_profile.emailclient = '<?= $this->emailclient ?>'; 
    }
    
</script>