<style>
    .errorQT{
        background-color: #F2DADA;
        border-color: red;
    }
    .avaidQT{
        background-color: #09f;
        border-color: blue;
    }
    .required
    {
        color: red;
    }
</style>
<div>
    <?= $this->formErrors($this->messages) ?>
</div>
<!--<div id="QuickTicketError" style="color: red;"></div>-->
<form id="formEditUserQT" name="formEditUserQT">
    <div id="contentProjectQT" style="height: 180px;overflow-y: auto;overflow-x: hidden;">
        <table cellspacing="2" cellpadding="0" border="0px" width="100%">
            <tbody id="tbodyProjectQuickTiket">
                <tr>
                    <td class="label_field"><span class="required">*</span>Company Name</td>
                    <td><input readonly="true" id="CustomerName" type="text" value="<?= $this->customer->customerName ?>"  class="input_text" maxlength="255"></td>
                </tr>
                
                <tr>
                    <td class="label_field"><span class="required">*</span>Contact Name</td>
                    <td><input type="text" maxlength="255" class="input_text" id="ContactName" name="UpdateForm[Contact_Name]" value="<?= $this->customer->contactName ?>" /></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Customer Phone</td>
                    <td><input type="text" maxlength="255" class="input_text" id="ContactPhone1" name="UpdateForm[Contact_Phone]" value="<?= $this->customer->contactPhone ?>" /></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Customer Email</td>
                    <td><input type="text" maxlength="255" class="input_text" id="Email1" name="UpdateForm[Contact_Email]" value="<?= $this->customer->contactEmail ?>" /></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>User Name</td>
                    <td><?= $this->customer->login ?></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Password</td>
                    <td><input type="text" maxlength="255" class="input_text" id="Password" name="UpdateForm[Password]" value="<?= $this->customer->password ?>" /></td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Send Welcome Email?</td>
                    <td>
                        <select id="Email" style="width:85px;" name="UpdateForm[SendWelcomeEmail]">
                            <option <?= $this->customer->SendWelcomeEmail == "1"?"selected='selected'":"" ?> value="1">Yes</option>
                            <option <?= $this->customer->SendWelcomeEmail == "0" || $this->customer->SendWelcomeEmail=="" ?"selected='selected'":"" ?> value="0">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label_field"><span class="required">*</span>Active?</td>
                    <td>
                        <select id="Active" name="UpdateForm[active]">
                            <option value="">Select One</option>
                            <option <?= $this->customer->active == "1"?"selected='selected'":"" ?> value="1">Yes</option>
                            <option <?= $this->customer->active == false?"selected='selected'":"" ?> value="0">No</option>
                        </select>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div>
        <div style="float: right;"><input type="button" id="cmdSaveEditUserQuickTecket" value="Save" class="link_button_popup" /></div>
        <div style="float: right;"><input type="button" value="Cancel" class="link_button_popup cmdCancelQuickTecket" /></div>
    </div>
    <input type="hidden" name="Customer" value="<?= $this->customer->customerId?>" />
<!--    <input id="hidQTid" name="hidQTid" type="hidden" value="<?= $this->id ?>" />
    <input id="CustomerName" name="CreateForm[Customer_Name]" type="hidden" value="<?= $this->CustomerName ?>" />
    <input type="hidden" value="<?= $this->companyId ?>" name="CreateForm[Company_ID]">-->
</form>