<?php
$cursor = '';
if ($this->mode)
    $cursor = 'cursor: pointer;';
?>
<style>
    .gradBox_table_inner td 
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>
<table class="form_tableV2" style="margin-top: 0px;" width="100%">
    <tr>
        <td>
        <table border="0" width="100%">
            <tr>
            <td align="left" style="padding-top: 10px;padding-left: 20px;" valign="top" width="17%">
                <input class="link_button middle_button" type="button" id="cmdWhatIsQuickTicket" value="Instructions" />
                
            </td>
            <td align="left" style="padding-top: 10px;" valign="top"  width="40%">
                <input class="link_button middle_button_180 cmdSampleQT" type="button" value="See Sample QuickTicket View" />
            </td>
            <td align="right" style="padding-top: 10px;padding-right: 20px;" valign="top"  width="30%">
                <input class="link_button middle_button_180" type="button" id="cmdAddEditQuickTicket" value="Add/Edit QuickTicket Views" />
            </td>
            </tr>
        </table>
        </td>
    </tr>

    <tr>
        <!--330-->
        <td valign="top" id="clientAccessSettingsValue" align="left">
            <?php
                if (empty($this->data))
                {
                    ?>
            <div style='padding-left:20px;'>Click the <a href="javascript:;" class="cmdAddEditQuickTicket">Add/Edit QuickTicket Views</a> button to create a new QuickTicket View</div>
                <?php
                }
                ?>

            <div style="height: 500px;overflow-x: hidden;overflow-y: auto;">
                <?php
                if (!empty($this->data)) {
                    
                    foreach ($this->data as $itemQT) {
                        $projects = $this->Core_Api_CustomerClass->getPrjListForQTV($itemQT['id']);
                        $users = $this->Core_Api_CustomerClass->getUserListForQTV($itemQT['id']);
                        $QTV = $this->Core_Api_CustomerClass->getQTV($itemQT['id']);
                        ?>
                        <input id="isnewqt" type="hidden" value="0">
                        <div style="padding-top: 10px;padding-left: -15px;">
                            <a href="javascript:;" style="text-decoration: underline;" class="cmdAddEditQuickTicket"><?= $itemQT['CompanyName'] ?> - <?= $itemQT['CustomerName'] ?> </a>
                        </div>
                        <div style="padding-top: 5px;padding-left: 25px;">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td colspan="2">Custom Settings</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;width:20px;">
                                        <input type="checkbox" class="Customsetting" typevalue="1" itemid ="<?=$itemQT['id']?>" name="<?=$itemQT['id'].'_createwo'?>" id="<?=$itemQT['id'].'_createwo'?>" <?= $QTV['EnableCreateWO']?'checked':'' ?>>
                                    </td>
                                    <td>
                                        Enable Create a Work Order
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;width:20px;">
                                        <input type="checkbox"  class="Customsetting" typevalue="2"  itemid ="<?=$itemQT['id']?>"name="<?=$itemQT['id'].'_showpo'?>" id="<?=$itemQT['id'].'_showpo'?>" <?= $QTV['ShowClientPONum']?'checked':'' ?>>
                                    </td>
                                    <td>
                                        Show Client PO#
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;width:20px;">
                                        <input type="checkbox"  class="Customsetting" typevalue="3"  itemid ="<?=$itemQT['id']?>"name="<?=$itemQT['id'].'_techinfo'?>" id="<?=$itemQT['id'].'_techinfo'?>" <?= $QTV['ShowTechDirectContactInfo']?'checked':'' ?>>
                                    </td>
                                    <td>
                                        Show Technician Direct Contact Information
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;width:20px;">
                                        <input type="checkbox"  class="Customsetting" typevalue="4"  itemid ="<?=$itemQT['id']?>"name="<?=$itemQT['id'].'_techcomment'?>" id="<?=$itemQT['id'].'_techcomment'?>" <?= $QTV['ShowTechComments']?'checked':'' ?>>
                                    </td>
                                    <td>
                                        Show Technician Comments
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;width:20px;">
                                        <input type="checkbox"  class="Customsetting" typevalue="5"  itemid ="<?=$itemQT['id']?>"name="<?=$itemQT['id'].'_techpaydetails'?>" id="<?=$itemQT['id'].'_techpaydetails'?>" <?= $QTV['ShowTechPayDetails']?'checked':'' ?>>
                                    </td>
                                    <td>
                                        Show Technician Pay Details
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="padding-top: 10px;padding-left: 25px;float: left;">Projects:</div>
                        <div style="padding-top: 10px;float: right;padding-right: 7px;"><input CompanyName="<?= $itemQT['CompanyName'] ?>" CustomerName="<?= $itemQT['CustomerName'] ?>"
                                                                                                class="link_button middle_button cmdEditProjectQT" qtid="<?= $itemQT['id'] ?>" 
                                                                                                type="button" value="Add / Remove Projects" /></div>
                        <table width="100%" >
                            <tr>
                                <td width="30px">
                                    &nbsp;
                                </td>
                                <td>
                                    <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;padding-top: 2px;">
                                        <tr style="background-color: #0070C0;color: white;" class="table_head">
                                            <th>
                                                Project ID
                                            </th>
                                            <th>
                                                Project Name
                                            </th>
                                            <th>
                                                Headline
                                            </th>
                                            <th>
                                                Project Manager
                                            </th>
                                            
                                            <th>
                                                Active?
                                            </th>
                                        </tr>
                                        <?php
                                        if (!empty($projects)) {
                                            ?>
                                            <?php
                                            $tr = 1;
                                            
                                            foreach ($projects as $itempro) {
                                                ?>
                                                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                                                    <td>
                                                        <a href="/clients/projectsView_new.php?v=<?= $itemQT['Company_ID'] ?>&tab=list&project_id=<?= $itempro['Project_ID'] ?>" ><?= $itempro['Project_ID'] ?>    </a>
                                                    </td>
                                                    <td>
                                                       <?= $itempro['Project_Name'] ?>       
                                                    </td>
                                                    <td>
                                                        <?= $itempro['Headline'] ?> 
                                                    </td>
                                                    <td>
                                                        <?= $itempro['Project_Manager'] ?> 
                                                    </td>
                                                   
                                                    <td>
                                                        <?= $itempro['Active']=="1"?"Yes":"No" ?> 
                                                    </td>
                                                </tr>
                                                <?php
                                                ++$tr;
                                            }
                                            ?>
                                            <?php
                                        } else {
                                            ?>
                                            <tr>
                                                <td colspan="6">
                                                    Click the <u>Add/Remove Projects</u> button to give your customers visibility to the Work Orders you are running for them (we do not share pay or cost details).
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="padding-top: 10px;padding-left: 25px;float: left;">Customer Users:</div>
                        <div style="padding-top: 10px;float: right;padding-right: 7px;"><input CompanyName="<?= $itemQT['CompanyName'] ?>" CustomerName="<?= $itemQT['CustomerName'] ?>"
                                            class="link_button middle_button cmdAddUserQT" 
                                            qtid="<?= $itemQT['id'] ?>" type="button" value="Add Customer User" /></div>
                        <table width="100%" >
                            <tr>
                                <td width="30px">
                                    &nbsp;
                                </td>
                                <td>
                                    <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;padding-top: 2px;">
                                        <tr style="background-color: #0070C0;color: white;" class="table_head">
                                            <th>
                                                Username
                                            </th>
                                            <th>
                                                Company Name
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Phone
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Active?
                                            </th>
                                            <th>
                                                Remove
                                            </th>
                                        </tr>
                                        <?php
                                        if (!empty($users)) {
                                            ?>
                                            <?php
                                            $tr = 1;
                                            foreach ($users as $itemuser) {
                                                ?>
                                                <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                                                    <td>
                                                        <a href="javascript:;" qtid="<?= $itemQT['id'] ?>" userid="<?= $itemuser['UNID'] ?>" class="cmdEditUserQT" CompanyName="<?= $itemQT['CompanyName'] ?>" CustomerName="<?= $itemQT['CustomerName'] ?>"><?= $itemuser['Username'] ?> </a>
                                                    </td>
                                                    <td>
                                                        <?= $itemuser['Customer_Name'] ?>
                                                    </td>
                                                    <td>
                                                        <?= $itemuser['Contact_Name'] ?>
                                                    </td>
                                                    <td>
                                                        <?= $itemuser['Contact_Phone'] ?>
                                                    </td>
                                                    <td>
                                                        <a href="mailto:<?= $itemuser['Contact_Email'] ?>"><?= $itemuser['Contact_Email'] ?></a>   
                                                    </td>
                                                    <td>
                                                        <?= $itemuser['active']=='1'?'Yes':'No' ?>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" userid="<?= $itemuser['UNID'] ?>" username="<?= $itemuser['Username'] ?>" class="cmdRemoveUserQT">Remove</a>
                                                    </td>
                                                </tr>
                                                <?php
                                                ++$tr;
                                            }
                                            ?>
                                            <?php
                                        } else {
                                            ?>
                                            <tr>
                                                <td colspan="7">
                                                    Click the <u>Add Customer User</u> button to give your customers access to this QuickTicket View.
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </table>
                                    <div style="padding-top:5px;">After adding Customer User Accounts, direct your customers to sign in at <a href="http://www.fieldsolutions.com/quickticket" target="_blank">www.fieldsolutions.com/quickticket</a>.</div>
                                </td>
                            </tr>
                        </table>
                        <?php
                    }
                } else {
                    ?>
                    <input id="isnewqt" type="hidden" value="1">
                    <input id="isnewqt" type="hidden" value="1">
                    <div style="padding-top: 10px;padding-left: 25px;float: left;">Projects:</div>
                    <div style="padding-top: 10px;float: right;padding-right: 7px;">
                        <input class="link_button middle_button" type="button" value="Add / Remove Projects" />
                    </div>
                    <table width="100%" >
                        <tr>
                            <td width="30px">
                                &nbsp;
                            </td>
                            <td>
                                <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;padding-top: 2px;">
                                    <tr style="background-color: #0070C0;color: white;" class="table_head">
                                        <th>
                                            Project ID
                                        </th>
                                        <th>
                                            Project Name
                                        </th>
                                        <th>
                                            Headline
                                        </th>
                                        <th>
                                            Project Manager
                                        </th>

                                        <th>
                                            Active?
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            Click the Add/Remove Projects button to give your customers visibility to the Work Orders you are running for them (we do not share pay or cost details).
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="padding-top: 10px;padding-left: 25px;float: left;">Customer Users:</div>
                    <div style="padding-top: 10px;float: right;padding-right: 7px;">
                        <input class="link_button middle_button" type="button" value="Add Customer Users" />
                    </div>
                    <table width="100%" >
                        <tr>
                            <td width="30px">
                                &nbsp;
                            </td>
                            <td>
                                <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;padding-top: 2px;">
                                    <tr style="background-color: #0070C0;color: white;" class="table_head">
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Company Name
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Active?
                                        </th>
                                        <th>
                                            Remove
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            Click the Add Customer Users button to give your customers access to this QuickTicket View.
                                        </td>
                                    </tr>
                                </table>
                                <div style="padding-top:5px;">After adding Customer User Accounts, direct your customers to sign in at <a href="http://www.fieldsolutions.com/quickticket" target="_blank">www.fieldsolutions.com/quickticket</a>.</div>
                            </td>
                        </tr>
                    </table>
                    <?
                }
                ?>
            </div>
        </td>
        <!--330-->
    </tr>
</table>
