/*Set's border, padding and margin to 0 for all values*/
*{padding: 0; margin: 0; border: 0; }

body, html {
	color: #000; 
	font-family: Verdana, Arial, Tahoma, sans-serif;
	background-color: #fff; 
	background: url(images/hdrSlider.gif) repeat-x;
}

body {font-size: 76%; height:100%;}

#mainContainer {width: 100%; min-width:800px; margin: 0 auto; height: 100%;}
div#header h1{height:80px;line-height:80px;margin:0;}
div#content p{line-height:1.4}

/***************************************/
/* 2 Column Layout */

div#leftcontent {
	float:left;
	width:50%;
	background-color:#FFFFFF;
	border-style: solid;
	border-bottom-color:#000000;
	border-bottom-width:thin;
	border-right-color:#000000;
	border-right-width:thin;
		}

div#rightcontent {
	float:left;
	width:49%;
	background-color:#FFFFFF;
	border-style: solid;
	border-top-color:#000000;
	border-top-width:thin;
	
		}
		
div#navigation{float:left;width:50%}
div#extra{float:left;width:49.9%}

p {
	padding: 7px 0 7px 0; 
	margin-left: 20px;	
	margin-right: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;}

a {color: #000099;}
a:hover{color: #0000FF; text-decoration: none;}

hr{height:2px; background:#000000;}

h1, h2, h3 {font-weight: bold; color:#174065; }
h1 {font-size: 14px; text-align:center; margin:20px;}
h2 {font-size: 12px;}
h3 {font-size: 14px; padding-top:25px; padding-bottom:25px; margin-left:0px; text-align:center;}
h1 a, #header h2{color: #fff;}

.clear { clear: both; }


/*--------------------------------*/
/* Forms  */
/*--------------------------------*/

form{background-color: #ffffff;}
input{background-color: #ffffff; border: 1px solid #000000;}
textarea{background-color: #ffffff; border: 1px solid #000000;}
select{background-color: #ffffff; border: 1px solid #000000;}
input[type="checkbox"], input[type="radio"]{background: transparent; border: 0;}


/**************************
HEADER
**************************/
#header {background: #ffffff;}
#headerLogo{background-image:url(images/techLogo.gif); width: 189px; height: 115px;}
#headerRight{
	position:relative;
	background-image:url(images/hdrRght.jpg);
	float:right;
	color: #000;
	width: 577px;
	height: 115px;
	z-index: 20;
}

/***************************************/
/* Nav Bar Menu */
#maintab{
	background-color:#174065;
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	font: bold 12px Verdana;
	list-style-type: none;
}

#maintab li{display: inline; margin: 0;}

#maintab li a{
	text-decoration: none;
	padding: 1px 7px;
	margin-right: 3px;
	border: 1px solid #778;
	color: black;
	background: white;
}

#maintab li a:hover{color: navy; background: #A0A8AA;}
/*selected main tab style */
#maintab li.selected a{background-color: #A0A8AA; border-color: navy;}

#tabcontent{ /*2nd level content wrapper*/
	border: 1px solid #778;
	background-color: #A0A8AA;
	height: 17px; /*IE7 beta2 fix*/
}

#tabcontent ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: none;
}
#tabcontent li.selected a{background-color: #174065; border-color: navy;}
#tabcontent ul li{display: inline;}
/*selected 2nd level content*/
#tabcontent ul.selected{display: block;}
#tabcontent ul li a:hover{background-color: #D3F1A0; color: blue;}

#tabcontent ul li a{
	border-right: 1px solid #778;
	color:white;
	padding:2px 5px;
	display:block;
	float:left;
	text-decoration:none;
}

/*Clear floats hack: http://positioniseverything.net/easyclearing.html*/
.clearfix:after{content: "."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display: inline;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/********************************************/
/* Top Nav Bar */
#topNavBar{padding:1px 0; margin-left:0; margin-bottom:0; font:11px Verdana; color:white;font-weight:bold; list-style-type: none;}
#topNavBar li{display: inline; margin: 0;}
#topNavBar li a:hover{color: navy; background: #A0A8AA;}
#topNavBar li.selected a{background-color: #A0A8AA; border-color: navy;}
#topNavBar li a{text-decoration:none; padding:1px 5px; margin-right:2px; border:1px solid #778;	color:white;}


/*************************************************/
/* LOGOUT TAB  */

#logoutTab{padding: 3px 0; margin-left: 0; margin-bottom: 0; font: bold 12px Verdana;list-style-type: none;}
#logoutTab li{display: inline; margin: 0;}
#logoutTab li a{text-decoration: none; padding: 1px 7px; margin-right: 3px; border: 1px solid #778; color: black; background: white;}
#logoutTab li a:hover{color: navy; background: #A0A8AA;}
/*selected main tab style */
#logoutTab li.selected a{background-color: #A0A8AA; border-color: navy;}

/*----------------------------------------------------*/
/* Footer */
div#footer{clear:left;width:100%}

div#footer p{margin:0;padding:0}
div#footer{
	
	position:fixed;
	bottom:0px;
	width:100%;
	margin:0;
	font: 9px Verdana;
	color: white;
	background-color:#A0A8AA;
	border-style: solid;
	border-top-color: #174065;
	border-top-width: 1px;
	border-style: solid;
	border-bottom-color: #174065;
	border-bottom-width: 15px;
	text-align:center;
	padding:10px;
}



/*******************************************/
/* HOMEPAGE LAYOUT */

#hpBcgk{
	background-image:url(images/homePageDecide.gif);
	background-repeat:no-repeat;
	background-position:center;
	height:300px;
}

#hpTextlink{margin-top: 100px; font-size: 14px; text-align:center;}


/***************************************/
/* CONTENT */

#logout{margin-top: -20px;}

#welcomeModule{color:#174065; padding-left: 20px; border-color:#000000; border-bottom: 1px dashed; padding-bottom:5px;}
#welcomeName{margin-top:-17px; margin-left:100px;}
#techContent{width: 500px; text-align:left; border: #000000 thin solid;}
#contentText{margin-left: 100px; margin-right: 100px;}

#signUp{margin-left: 30%; margin-bottom: 0;	font: 12px Verdana;	padding:2px;}
#signUp li{margin: 0; display:list-item;}
#signUp li a:hover{color: navy;}
#signUp li.selected a{border-color: navy;}
#signUp li a{text-decoration: none;	padding: 1px 3px; margin-right: 3px;border: 1px solid #778; color: white;}

#simpleMenu li{display:inline; font:14px Verdana; padding-bottom:5px;}
#simpleMenu li a{text-decoration: none; padding: 1px 10px;}

#defaultMenu li{ display:list-item; list-style:none; font:14px Verdana; padding-bottom: 10px;}
#defaultMenu li a{text-decoration: underline; padding: 1px 3px;}

#clientMenu li{	display:list-item; text-align:left; font: 18px Verdana; padding-bottom: 20px;}
#clientMenu li a{text-decoration: none;	padding: 1px 3px;}

#clientSales{padding: 20px;}
#clientSalesText li{display:list-item; font:14px Verdana; padding-bottom:5px;}
#clientSalesText li a{text-decoration: none; padding: 1px 3px;}

#todo{font: 12px Verdana; list-style-position: outside; margin-left: 50px;}
#todo li{display:list-item; font: 12px Verdana;}

#clientSignup{font: 12px Verdana; margin-left:100px; margin-right:100px; margin-top:25px;}
#selfrating{font: 12px Verdana; width: 400px;}

/***********************************************/
/* Dashboard */
/***********************************************/

/* Tech Skills */
#EditRecordcablingSelfRating5{visibility:hidden;}
#EditRecordelectricalSelfRating5{visibility:hidden;}
#EditRecordconstructionSelfRating5{visibility:hidden;}
#EditRecorddesktopSelfRating5{visibility:hidden;}
#EditRecordtelephonySelfRating5{visibility:hidden;}
#EditRecordnetworkingSelfRating5{visibility:hidden;}
#ditRecordroutersSelfRating5{visibility:hidden;}
#EditRecordelectronicsSelfRating5{visibility:hidden;}
#EditRecordposSelfRating5{visibility:hidden;}
#EditRecordatmSelfRating5{visibility:hidden;}
#EditRecordroutersSelfRating5{visibility:hidden;}

/* Hide To Do update checkbox */
#EditRecordskillsComplete{visibility:hidden;}
#EditRecordexpComplete{visibility:hidden;}
#EditRecordcertComplete{visibility:hidden;}
#EditRecordmediaComplete{visibility:hidden;}
#EditRecordequipComplete{visibility:hidden;}

/************************************************/
/* Contact US */
/************************************************/
#contactRow{margin:10px;}
#messageRow{margin:10px; vertical-align:text-top;}
#clientInfoRow{margin-left:100px; color:red; text-align:center; width:500px;}


/************************************************/
/* Google AdSense */
/************************************************/
#adWrap{
	clear:left;
	
}

#adsenseFooter{
	
	/*position:fixed;*/
	bottom:0;
	height: auto;
	width: auto;
	margin-top: 20px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	text-align:center
	
}