<table width="100%">
    <col width="16%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />

    <tr>
        <th>Date &amp; Time</th>
        <th>Username</th>
        <th>Description</th>
        <th>Client</th>
        <th>Project</th>
        <th>Customer</th>
        <th>Tech ID</th>
        <th class="last">Tech</th>
    </tr>

    <?php if ( !empty($this->log) ): ?>
    <?php $i=0; foreach ( $this->log as &$ts ): ?>
    <tr class="<?php if($i%2):?>gray_bg<?php else :?>white_bg<?php endif; ?>">
        <td><?= $ts->dateTime ?></td>
        <td><?= $ts->username ?></td>
        <td><?= $ts->description ?></td>
        <td><?= $ts->clientName ?></td>
        <td><?= $ts->projectName ?></td>
        <td><?= $ts->customerName ?></td>
        <td><?php if(!empty($ts->techId)) $ts->techId ?></td>
        <td class="last"><?= $ts->techName ?></td>
    </tr>
    <?php ++$i; endforeach; ?>
    <?php else : ?>
    <tr>
        <td colspan="8" align="center"><strong>Log is empty</strong></td>
    </tr>
    <?php endif; ?>
</table>
