<div id="woErrorMsg" class="displayNone colorRed errormsg"></div>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#AuditNeeded1").change(function(){
            if ($(this).attr('checked'))
            {
                $("#AuditComplete1").removeAttr('disabled');
            }
            else
            {
                $("#AuditComplete1").attr('disabled', true);
            }
        });
    });
</script>
<form id="Approve_approveForm" action="/widgets/dashboard/do/updatepayfinan" method="post">
    <table class="popup_table Approve_approveForm-t321328" width="100%" cellpadding="0" cellspacing="0">
        <col width="40%" />
        <col width="60%" />
        <tr>
            <td>WIN #:</td>
            <td>
                <span>
                    <input type="text" id="Approve_WIN_NUM" name="WIN_NUM" onchange="assignTool.getApproveWoInfo(this)" size="12" />
                    <img id='Approve_WIN_NUM_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" />
                </span>
            </td>
        </tr>
        <tr>
            <td>Client Work Order ID #: </td>
            <td>
                <span>
                    <input type="text" id="Approve_WO_ID" name="WO_ID" onchange="assignTool.getApproveWoInfo(this)" size="12" />
                    <img id='Approve_WO_ID_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" />
                </span>
            </td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
            <td>Offer Amount $:</td>
            <td id="Approve_PayMax"></td>
        </tr>
        <tr>
            <td>Agree Amount $:</td>
            <td id="Approve_Tech_Bid_Amount"></td>
        </tr>
        <tr>
            <td>Base Tech Pay $:</td>
            <td>
                <input type="text" id="Approve_baseTechPay" name="baseTechPay" size="12" class="calculate"/>
            </td>
        </tr>
        <tr>
            <td>Out of Scope Amount $:</td>
            <td>
                <input type="text" id="Approve_OutofScope_Amount" name="OutofScope_Amount" size="12" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Trip Charge $:</td>
            <td>
                <input type="text" id="Approve_TripCharge" name="TripCharge" size="12" class="calculate" />
            </td>
        </tr>
        <tr>
            <td>Mileage Charge $:</td>
            <td>
                <input type="text" id="Approve_MileageReimbursement" name="MileageReimbursement" size="12" class="calculate"  />
            </td>
        </tr>
        <tr>
            <td>Materials Charge $:</td>
            <td>
                <input type="text" id="Approve_MaterialsReimbursement" name="MaterialsReimbursement" size="12" class="calculate"  />
            </td>
        </tr>
        <tr>
            <td>Other Adjustments $:</td>
            <td>
                <input type="text" id="Approve_Additional_Pay_Amount" name="Additional_Pay_Amount" size="12" class="calculate"  />
            </td>
        </tr>
        <tr>
            <td>Abort/Short Notice Pay Amount $:</td>
            <td>
                <input type="text" id="Approve_AbortFeeAmount" name="AbortFeeAmount" size="12" class="calculate"  />
            </td>
        </tr>
        <tr>
            <td id="htmlApproveTotalHours">Total Hours:</td>
            <td>
                <input type="text" id="Approve_calculatedTechHrs" onchange="calcBasePay();" name="calculatedTechHrs" size="12" class="calculate noformat"/>
                <input type="text" id="Approve_Qty_Devices" style="display:none;" onchange="jQuery('#Approve_calculatedTechHrs').val(jQuery(this).val());calcBasePay();" name="Qty_Devices" size="12" class="calculate noformat"/>
            </td>
        </tr>
        <tr>
            <td>Visit Quantity: </td>
            <td>
                <input type="text" id="Approve_Qty_Visits" name="Qty_Visits" size="12" class="calculate noformat" onchange="calcBasePayUpdate();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-bottom: 0px solid #ECECEC;">
                <div id ="Approve_ExpenseReporting">
                    
                </div>
            </td>
        </tr>
        <tr>
            <td>Final Total Tech $:</td>
            <td  colspan="2" ><span id="Approve_PayAmount_Out"></span></td>
        </tr>
        <tr>
            <td>Audit:</td>
            <td>
                <span>
                    <input id="AuditNeeded1" name="AuditNeeded" type="checkbox" <?= ($wo->AuditNeeded) ? 'checked' : ''; ?>  value="1" >&nbsp;Needed
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    <input id="AuditComplete1" name="AuditComplete" type="checkbox" disabled  value="1" >&nbsp;Complete
                </span>
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                <textarea  style="width: 90%;" rows="2" cols="25" id="Approve_Add_Pay_Reason" name="Add_Pay_Reason"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="tCenter">
                <input type="hidden" id="Approve_PayAmount" name="PayAmount" />
                <input type="hidden" id="Approve_Amount_Per" name="Amount_Per" class="calculate" />
                <input type="hidden" id="Approved" name="Approved" value="True">
                <input type="hidden" id="Approve_company" name="company" />
                <input id="updateApproveButton"  type="submit" name="updateApproveButton" value="Approve" class="link_button_popup updateApproveButton-t77333" />
                <input type="button" onclick="roll.hide();" class="link_button_popup" value="Cancel">
                <input type="hidden" name="Amount_Tech_Bid_Amount" id="Amount_Tech_Bid_Amount" value="<?= $this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per) ?>" />
            </td>
        </tr>
    </table>
</form>
<script>
    $("#Approve_approveForm").ajaxForm({dataType: 'json', success: function(data) {
		if (data.error == 0) {
                roll.hide();
                if(typeof(reloadTabFrame) == 'function')
                    reloadTabFrame();
            } else {
                $('#woErrorMsg').html(data.msg);
                $('#woErrorMsg').show('fast',function(){
                    setTimeout(function () { $('#woErrorMsg').hide(500); }, 3000);
                });
            }
        }, beforeSubmit: function() {
            progressBar.key('updatepayfinan');
            progressBar.run();
            return true;
        }});
        $("#updateApproveButton").click(function(){
            var event = this;
            detailObject.onInit.ConfirmApproveWithFinalTotalTechByZero(function(){
            detailObject.onInit.checkApproved({
            TechClaim:'Approved_tech_claim',
            bcatapproved:'Approved_bcatapproved',
            isApproved:'',
                el:event,
            Approved:"True",
            onSubmit: function(el){
                $("#Approve_approveForm").submit();
                }});
            },
            jQuery("#Approve_PayAmount_Out").html(),
            true);
            return false; 
        });

        function calcBasePayUpdate(){
            if ($("#Approve_Amount_Per").val() != "Hour"
               && $("#Approve_Amount_Per").val() != "Visit"
               && $("#Approve_Amount_Per").val() != "Device") return;
            var bidAmount = $("#Approve_Tech_Bid_Amount").text();
            bidAmount = String(bidAmount);
            var parts = bidAmount.split(" / ");
            if($("#Approve_Amount_Per").val() === "Visit"){
            	bidAmount = parseFloat(parts[0]) * ($("#Approve_Qty_Visits").val()*1);
            }else{
            	bidAmount = parseFloat(parts[0]) * ($("#Approve_calculatedTechHrs").val()*1);
            }

           // bidAmount = String(bidAmount);
           // var parts = bidAmount.split(" / ");
          //  bidAmount = (bidAmount * $("#calculatedTechHrs").val())*1;
            $("#Approve_baseTechPay").val(bidAmount).change();
        } 
</script>
