<?php 
    $wo = $this->wo; 
    $prj = $this->prj;
    $lastwobid = $this->lastwobid;
    $amount = "";
    $comments = "";
    if(!empty($lastwobid))
    {
        $amount =  $lastwobid['BidAmount'];
        $comments =  $lastwobid['Comments'];
    }  
?>
<div>
    <form name="doBidForm" id="doBidForm" action="/">
        <input type="hidden" name="win" value="<?=$this->escape($wo->WIN_NUM)?>" />
        <div id='messages'></div>
            <a class="ajaxLink" href="wosDetails.php?id=<?=$this->escape($wo->WIN_NUM)?>"><strong>WIN# <?=$this->escape($wo->WIN_NUM)?></strong></a><br />
		<h3><?=$this->escape($wo->Headline)?></h3>
		
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tbody>

                            <?php
                            if (!empty($this->AllWOVisitList)) {

                                $i = 0;
                                foreach ($this->AllWOVisitList as $item) {
                                    $i++;
                                    ?>
                                    <tr>
                                        <td>
                                            Visit #<?= $i ?>:
                                        </td>
                                        <td>
                                            <?php
                                            switch ($item["StartTypeID"]) {
                                                case 1:
                                                    echo "Firm Start Time";
                                                    break;
                                                case 2:
                                                    echo "Start Time Window";
                                                    break;
                                            }
                                            ?>
                                        </td>
                                        <td>
                                            <?= $this->displayDate('n/j/Y', $item["StartDate"]) . " " . $item["StartTime"] ?>
                                        </td>
                                        <td>
                                            to <?= $this->displayDate('n/j/Y', $item["EndDate"]) . " " . $item["EndTime"] ?>
                                        </td>
                                        <td>
                                            Est. Duration: <?= $item["EstimatedDuration"] ?>
                                        </td>
                                    </tr>
                                    <?
                                }
                            } else {
                                ?>
                                    <tr>
                                        <td colspan="6">
                                            No records displayed.
                                        </td>
                                    </tr>
                                <?php }
                            ?>
                        </tbody>
                    </table>
                    
			Location: <?=$this->escape($this->displayAddress($wo->City, $wo->State, $wo->Zipcode))?>
            <?php if ( $wo->Qty_Devices + 0 ) : ?><span class="dev_num"></span><?php switch ( trim(strtolower($wo->Amount_Per)) ) {
                                                                        case 'visit':
                                                                            echo '# of visits';   
                                                                            break;
                                                                        default :
                                                                            echo "# of devices";
                                                                            break;
                                                                        }?>: <?= $wo->Qty_Devices + 0 ?><?php endif; ?>
        <!-- 14013-->
                 <?php
                //14013
                if($wo->Lead==1 && $wo->Assist==1)
                { ?>
                     <span style="margin-left: 40px;" class="topSm10 bottomSm10">
                        <?php echo 'Role: Assist, Lead';?>
                     </span>
                <?php
                    
                }
                else if($wo->Assist==1)
                {
                ?>
                   <span style="margin-left: 40px;" class="topSm10 bottomSm10">
                        <?php echo 'Role: Assist';?>
                     </span>
                      
                <?php }
                else if($wo->Lead==1)  {
                ?>
                   <span style="margin-left: 40px;" class="topSm10 bottomSm10">
                        <?php echo 'Role: Lead';?>
                     </span>
                <?php }
                // end 14013
                ?>
        <!-- end 14013-->
		</p>
		<h3>Apply for Work Order</h3>
		<p>
			<?php if ($prj->FixedBid == true) : ?>
			Note: When you place a bid, <u>you are committing to do the work</u>.  If you are assigned the work and fail to do the job, it may result in you not being qualified for future work with Field Solutions.<br />
			<?php else : ?>
            Offer: $ <?=$this->escape($this->displayBid($wo->PayMax, ''))?><?php if (trim($wo->Amount_Per)) : ?> per <u><?=$this->escape(strtolower($wo->Amount_Per))?></u><?php endif; ?><br />
			Note: When you place a bid, <u>you are committing to do the work</u>.  If you are assigned the work and fail to do the job, it may result in you not being qualified for future work with Field Solutions.<br />
			You may "bid" a lower amount when you apply for this Work Order if you are willing to do the work for less than the Client's maximum pay amount.
			<?php endif; ?>
		</p>
                <!--14061-->
		 <p>
			<input type="checkbox" name="agree" id="agree" value="1" /> <label for="agree" class="wrapper">I agree that the named technician applying for this work order will be the individual performing the work at the work site.</label>
		</p>
		<p>
			<input type="checkbox" name="understand" id="understand" value="1" /> <label for="understand" class="wrapper">I understand that if a different technician goes to the work site then the client has the sole discretionary right to deny access to the work site, and may choose not to pay the agreed upon rate for the work order.</label>
		</p>
            <p>
                <?php if ($this->Dispatch) : ?>
			<label for="" class="">Choose tech:</label><select id="techbid" name="techbid" style="width:330px;" class="" >                        
                        <?if (!empty($TechLists))
                            {
                                foreach($TechLists as $TechList)
                                {
                                    ?>
                                    <option value='<?=$TechList["TechID"]?>' <?= ($techIdClosest==$TechList["TechID"])?'selected':"" ?> ><?=$TechList["LastName"]?>, <?=$TechList["FirstName"]?> - ID#<?=$TechList["TechID"]?> - <?=$TechList["City"]?>, <?=$TechList["State"]?> <?=$TechList["ZipCode"]?></option>
                                    <?
                                }
                            }
                        ?>
                        </select>
                 <?php else : ?> 
                        <div style="display:none;"> 
                            <select id="techbid" name="techbid" style="width:330px;" class="" >                                           
                                <option value='<?=$techId?>'></option>                              
                            </select>
                        </div>
                 <?php endif; ?>
		</p>
		
        <?php if ($prj->FixedBid == true) : ?>
        <p>
        FIXED TOTAL PAY WORK ORDER: this work order is a total pre-set fixed pay work order. No extra $ or hourly rates or bids will be accepted. No added comments will be considered or accepted.
        </p>
        <?php endif; ?>

        <p>

            <b><?
                            $PcntDeductPercentmsg ="";
                            if(empty($wo->PcntDeductPercent) || $wo->PcntDeductPercent == 0)
                            {
                                $PcntDeductPercentmsg = "No service fee will be deducted from your final total payment amount from this work order.";
                            }
                            else if($wo->PcntDeductPercent == 1)
                            {
                                $PcntDeductPercentmsg = "You will be paid outside of the FieldSolutions Platform for this work order.";
                            }
                            else
                            {
                                $PcntDeductPercentmsg = "A ".($wo->PcntDeductPercent*100)."% service fee will be deducted from your final total payment amount from this work order.";
                            }
                            echo ($PcntDeductPercentmsg);
                            ?></b>
            
            <?php if (Core_Geocoding_Google::isCanadianZip($wo->Zipcode)) :?>
            <br/><span class="payments-warning">(All payments and fees are in $US)</span> 
            <?php endif; ?>
        </p>

		
		<p>
			What is your bid amount for this work? <span class="reqired">* Required</span>
			<?php if ($prj->FixedBid == true) : ?>
			<input readonly="readonly" type="text" size="11" name="amount" id="amount" value="<?= $wo->PayMax ?>">
			<?php else : ?>
			<input type="text" size="11" name="amount" id="amount" value="<?=$amount?>" />
			<?php endif; ?>
            
            <?php if (trim($wo->Amount_Per)) : ?>per <?=$this->escape(strtolower($wo->Amount_Per))?><?php endif; ?>
		</p>
		<p>
			Comments 
			<input type="text" size="50" name="comments" id="comments" value="<?=$comments?>" />
		</p>
                <?
                if($amount!= "")
                {?>
                <p>
            <label for="withdraw" class="wrapper">Withdraw Application: </label> <input type="checkbox" name="withdraw" id="withdraw" value="1" />
        </p>
        <?}?>
        <p><input type="submit" id="cmdSubmitBidForm" class="link_button" name="submit" value="Submit" /></p>
    </form>
</div>
