<?php
$wo = $this->wo;
$prj = $this->prj;
$lastwobid = $this->lastwobid;
$amount = "";
$comments = "";
if (!empty($lastwobid))
{
    $amount = $lastwobid['BidAmount'];
    $comments = $lastwobid['Comments'];
}
?>
<div>
    <form name="doWithdrawForm" id="doWithdrawForm" action="/">
        <input type="hidden" id="winno" name="win" value="<?= $this->escape($wo->WIN_NUM) ?>" />
        <div id='messages'></div>
        <div id="divworthdraw">
            <p><?= $wo->WO_Category ?> - <?= $wo->Headline ?></p>
            <p>Start Date:  <?= date("m/d/Y", strtotime($wo->StartDate)) ?> <?= $wo->StartTime ?></p>
            <p>Location: <?= $wo->City ?>, <?= $wo->State ?> <?= $wo->Zipcode ?></p>

            <?
            if ($wo->Amount_Per == 'Visit')
            {
                ?>
                <p># of Visits: <?= $wo->Qty_Devices ?></p>
                <?
            } else if ($wo->Amount_Per == 'Device')
            {
                ?>
                <p># of Devices: <?= $wo->Qty_Devices ?></p>
                <?
            }
            ?>

            <p>Client $ Offer: <?= $wo->PayMax ?> per <?= $wo->Amount_Per ?></p>
            <?
            if ($prj->FixedBid != 0)
            {
                ?>
                <p><strong>This is a Fixed Pay Work Order</strong></p>
                <?
            }
            ?>
            <?
            if ($wo->PcntDeductPercent == 0)
            {
                ?>
                <p><strong>Deduct Service Fee: No</strong></p>
                <?
            } else if ($wo->PcntDeductPercent == 1)
            {
                ?>
                <p><strong>Paid outside FieldSolutions</strong></p>
                <?
            } else
            {
                ?>
                <p><strong>Deduct Service Fee: <?= $wo->PcntDeductPercent * 100 ?>%</strong></p>
                <?
            }
            ?>


            <p></p>
            <p>Your $ Offer:<?php if ($prj->FixedBid == true) : ?>
                    <input readonly="readonly" type="text" size="11" name="amount" id="amount" value="<?= $wo->PayMax ?>">
                <?php else : ?>
                    <input type="text" size="11" name="amount" id="amount" value="<?= $amount ?>" />
                <?php endif; ?> per <?= $wo->Amount_Per ?></p>
            <p>
                Comments <br>
                <input type="text" size="46" name="comments" id="comments" value="<?= $comments ?>" />
            </p>
            <p>
                <label for="withdraw" class="wrapper">Withdraw Application: </label> <input type="checkbox" name="withdraw" id="agreewithdraw" value="1" />
            </p>
            <p align="center">
                <input type="button" class="link_button" id="UpdateApplication" name="UpdateApplication" value="Update Application" />
                <input type="submit" class="link_button" id="doUpdateApplication" name="submit" value="Update Application"  style="display: none;"/>
            </p>
        </div>
        <div style='width:400px;height:auto; display:none;' id='divconfirm'>
            <div>Are you sure you want to withdraw your Application for this Work Order?<br></div>
            <div>
                <table border='0' width='100%'>
                    <tr>
                        <td style='width:50%;text-align:right;'>
                            <input id='WithDrawOkCancel' class='link_button middle2_button' type='button' value='Cancel'>
                        </td>
                        <td style='width:50%;text-align:left;'>
                            <input id='WithDrawOk' class='link_button middle2_button' type='button' value='Continue Updating'>
                        </td>
                    </tr>
                </table>
            </div>
    </form>
</div>
<script type="text/javascript">
    $("#UpdateApplication").click(function (event)
    {
        if($("#agreewithdraw").is(":checked"))
        {
            
            $("#divworthdraw").css("display","none");
            $("#divconfirm").css("display","");
             jQuery("#WithDrawOk").click(function(){
                var winno = $("#winno").val();
                var amount = $("#amount").val();
                var comments = $("#comments").val();
                var agreewithdraw = $("#agreewithdraw").is(":checked");
                quickBid.makeAWithdraw(winno,amount,comments, agreewithdraw);
                roll.hide();
            });   
            jQuery("#WithDrawOkCancel").click(function(){
                roll.hide();
            });
        }
        else
        {
            var winno = $("#winno").val();
            var amount = $("#amount").val();
            var comments = $("#comments").val();
            var agreewithdraw = $("#agreewithdraw").is(":checked");
            quickBid.makeAWithdraw(winno,amount,comments, agreewithdraw);
            roll.hide();
        }
    });
    
    
</script>
