<script type="text/javascript" src="/widgets/js/jquery.scrollTo.js"></script>
<?
$wo = $this->wo;
$QAlist = $this->QAlist;
$win = $wo->WIN_NUM;
$clientID = $this->clientID;

$city = $this->escape($this->wo->City);
$state = $this->escape($this->wo->State);
$zip = $this->escape($this->wo->Zipcode);
$csz = empty($city) ? '' : $city . ', ';
$csz.=$state . ' ' . $zip;
$ownerContactName = "";
$clients = $allClients->data;
foreach ($clients as $client)
{
    if (strtolower(trim($wo->WorkOrderOwner)) == strtolower(trim($client->UserName)))
    {
        $ownerContactName = $client->ContactName;
        break;
    } else
    {
        continue;
    }
}
if (empty($ownerContactName))
    $ownerContactName = trim($wo->WorkOrderOwner);

$assignedDate = "";
/*
  if(!empty($wo->Date_Assigned)) $assignedDate = $this->displayDate('n/j/Y h:i A', $wo->Date_Assigned);
 */
if (!empty($wo->Tech_ID))
{
    $lastAssignedDate = API_Timestamp::getLastWinAssignedTimestamp($win);
    $assignedtime = $this->displayDate('h:i A', $lastAssignedDate);
    $assignedtime = (substr($assignedtime, 0, 1) == 0) ? substr($assignedtime, (0 - strlen($assignedtime) + 1)) : $assignedtime;
    $assignedDate = $this->displayDate('n/j/Y', $lastAssignedDate) . ' ' . $assignedtime;
}

$publishedDate = "";
if ($wo->ShowTechs == 1)
{
    $publishedDate = $wo->DateEntered;
    $publishedime = $this->displayDate('h:i A', $lastAssignedDate);
    $publishedime = (substr($publishedime, 0, 1) == 0) ? substr($publishedime, (0 - strlen($publishedime) + 1)) : $publishedime;
    $publishedDate = $this->displayDate('n/j/Y', $publishedDate) . ' ' . $publishedime;
} else if ($wo->ShowTechs != 1 && strtolower($wo->Status) == "assigned")
{
    $publishedDate = API_Timestamp::getLastWinAssignedTimestamp($win);
    $publishedime = $this->displayDate('h:i A', $publishedDate);
    $publishedime = (substr($publishedime, 0, 1) == 0) ? substr($publishedime, (0 - strlen($publishedime) + 1)) : $publishedime;
    $publishedDate = $this->displayDate('n/j/Y', $publishedDate) . ' ' . $publishedime;
}

$workStart = "";
if (!empty($this->WOVisitList))
{
    $visitList = $this->WOVisitList;
    $baseVisit = $visitList[0];
    $workStartDate = $baseVisit["StartDate"];
    $workStartDate = $this->displayDate('n/j/Y', $workStartDate);
    $workStart = "";
    if (!empty($workStartDate))
    {
        $workStart = $workStartDate . ' ' . $baseVisit["StartTime"];
    }
}

$Timestamp = new API_Timestamp();

$Timestampitem = $Timestamp->getTimestampWhenPublishWO($win);
if (!empty($Timestampitem))
{
    $Timestampitem = new DateTime($Timestampitem);
    $publishdescription = "Work Order Published";
    $publishdate = date_format($Timestampitem, 'm/d/Y h:i A');
}

$WosClass = new Core_Api_WosClass();
$apiClass = new Core_Api_Class();
$assigntech = "";
if (strtolower($wo->Status) != WO_STATE_CREATED &&
        strtolower($wo->Status) != WO_STATE_PUBLISHED &&
        strtolower($wo->Status) != WO_STATE_DEACTIVATED &&
        !empty($wo->Tech_ID) && $wo->Tech_ID != "")
{
    $assigntech = $wo->Tech_ID;
    $assigntechname = $wo->Tech_FName . " " . $wo->Tech_LName;
    $textcopy = "Send Q&A Message to: ";
} else
{
    $assigntech = "";
    $assigntechname = "";
    $textcopy = "Send Q&A Message to: ";
}
$techlist = $WosClass->getTechIDList_HaveBidOrQuestion($win);
?>
<style type="text/css">
    .link_sendenable { width: 60px; height:20px; border:none; background: url(/widgets/images/btn_Blue.png) left top no-repeat; font: normal 13px Verdana, Arial, Helvetica, sans-serif; color: #385c7e; cursor: pointer; }
    .link_senddisable { width: 60px; height:20px; border:none; background: url(/widgets/images/btn_Disabled.png) left top no-repeat; font: normal 13px Verdana, Arial, Helvetica, sans-serif;  color: #385c7e;}
</style>
<script>
    function isdisablesendbutton()
    {
        if($(this).val() !="")
        {
            $("#cmdPostQuestion").attr('class', 'link_sendenable');
        }
        else
        {
            $("#cmdPostQuestion").attr('class', 'link_senddisable');
        }
    }
    
    function filtertechassigned()
    {
        
        var datastr = "WIN_NUM="+$("#winnum").val()+"&forTechID="+$(this).val();
        
        $.ajax({
            type: "POST",
            url: '/widgets/dashboard/popup/questionandanswerlist',
            data: datastr,
            context : this,
            success:function( html ) {
                jQuery("#QAdivscroll").html(html);
                $.fancybox.resize();
            },
            error:function(error) {
                alert('error; ' + eval(error));
            }
        });
    }
    
    $(window).ready(function(){
        jQuery("#question")
        .unbind("keyup", isdisablesendbutton)
        .bind("keyup", isdisablesendbutton);
        jQuery("#filtertechassigned")
        .unbind("change", filtertechassigned)
        .bind("change", filtertechassigned);
        
        detailObject.onInit.watermark();
    });
</script>
<div align="center" style="padding-top:5px;padding-bottom:5px;font-size:18px;">Work Order Q&A Log</div>
<input type="hidden" id="winnum" value="<?= $win ?>">
<table width="100%" cellspacing="0" cellpadding="0" style="border:1px solid #F69630;">
    <col width="33%" />
    <col width="33%" />
    <col width="33%" />
    <tr>
        <td valign="top" style="border-bottom: 1px solid #F69630;border-right: 1px solid #F69630; padding-left:5px;">
            <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                <colgroup>
                    <col width="90px">
                    <col width="*">
                </colgroup>
                <tr class="first_tr">
                    <td >Current State:</td>
                    <td>
                        <span class="ninfo_data">
                            <?php echo ucwords($wo->Status) ?>
                            <?php
                            if ($wo->Status == WO_STATE_WORK_DONE)
                            {
                                if (!empty($wo->TechMarkedComplete) && ($wo->TechMarkedComplete == 1))
                                {
                                    $common = new Core_Api_CommonClass();
                                    $days = $common->getTimeSince($wo->Date_Completed, null);
                                    if ($days > 1)
                                        echo " (" . $days . " Days Old)";
                                    else
                                        echo " (" . $days . " Day Old)";
                                }
                            }
                            ?></span>
                    </td>
                </tr>
                <tr>
                    <td>WIN#:</td>
                    <td><span class="ninfo_data"><?php echo $wo->WIN_NUM ?></span></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">Client WO ID#:</td>
                    <td><?php if ($wo->WO_ID): ?><span class="ninfo_data"><?php echo $this->escape($wo->WO_ID) ?></span><?php endif; ?></td>
                </tr>
            </table>
        </td>                    
        <td valign="top" style="border-bottom: 1px solid #F69630;border-right: 1px solid #F69630; padding-left:5px;">
            <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                <colgroup>
                    <col width="50px">
                    <col width="190px">
                </colgroup>
                <tr class="first_tr">
                    <td >Project:</td>
                    <td><span class="ninfo_data"><?= (strlen($wo->Project_Name)) > 32 ? (substr($wo->Project_Name, 0, 32) . " ...") : $wo->Project_Name; ?></span></td>
                </tr>
                <tr>
                    <td >Site #:</td>
                    <td ><span class="ninfo_data"><?= $this->escape($wo->SiteNumber) ?></span></td>
                </tr>
                <tr>
                    <td >Location:</td>
                    <td >
                        <span class="ninfo_data"><?= $csz ?></span>
                    </td>
                </tr>
                <tr class="last_tr">
                    <td >Route:</td>
                    <td >
                        <span class="ninfo_data"><?= $wo->Route ?></span>
                    </td>
                </tr>
            </table>                    
        </td>
        <td valign="top" style="border-bottom: 1px solid #F69630; padding-left:5px;">
            <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                <colgroup>
                    <col width="50px">
                    <col width="150px">
                </colgroup>
                <tr class="first_tr">
                    <td>Owner:</td>
                    <td><span class="ninfo_data"><?php echo($ownerContactName); ?></span></td>
                </tr>
                <tr>
                    <td >Published:</td>
                    <td><span class="ninfo_data"><?= $publishedDate ?><input type="hidden" name="DateEntered" value="<?= $publishedDate ?>" /></span></td>
                </tr>
                <tr>
                    <td >Assigned:</td>
                    <td>
                        <span class="ninfo_data"><?= $assignedDate ?></span>
                    </td>
                </tr>
                <tr class="last_tr">
                    <td>Work Start:</td>
                    <td><span class="ninfo_data"><?= $workStart ?></span></td>
                </tr>
            </table>                    
        </td>                
    </tr>
    <?
    if ($assigntech != "")
    {
        ?>
        <tr>
            <td colspan="3" style="border-bottom: 1px solid #F69630; padding-left:5px;padding-top:2px;padding-bottom:2px;">
                View communications with <select id="filtertechassigned" name="">
                    <option value="<?= $assigntech ?>">Assigned Tech Only</option>
                    <option value="0">All Techs</option>
                </select>
            </td>
        </tr>
        <?
    }
    ?>
    <tr>
        <td colspan="3">
            <div id="QAdivscroll" style="width:100%;max-height: 300px;min-height: 200px;overflow: auto;">
                <?php //  $this->QAlist = $QAlist;  ?>
                <?= $this->render('popup/questionandanswerlist.phtml'); ?>
            </div>
        </td>
    </tr>
    <tr>
        <!--13724-->
        <td colspan="3" style="border-top: 1px solid #F69630; line-height: 50px">
		<!--End 13724-->
            <form action="/widgets/dashboard/popup/clientPostQuestion" id="frmPostQuestion" method="post">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <col width="270px">
                    <col width="*">
                    <col width="130px">
                    <tr>
                        <td>
                            <?= $textcopy ?>
                            <span style="">
                                <select id="techlist" name="techlist" style="width: 120px;" >
                                    <?php
                                    if (empty($assigntech) || $assigntech == "")
                                    {
                                        ?>
                                        <option value="0" techname="All Techs">All Techs</option>
                                        <?
                                        if (!empty($techlist))
                                        {
                                            foreach ($techlist as $techitem)
                                            {
                                                ?>
                                                <option value="<?= $techitem['TechID'] ?>" <?= $assigntech == $techitem['TechID'] ? "selected" : "" ?> techname="<?= $techitem['FirstName'] . " " . $techitem['LastName'] ?>"><?= $techitem['TechID'] ?></option>
                                                <?
                                            }
                                        }
                                        ?>
                                        <option value="InternalNote" techname="Internal Note" selected>Internal Note</option>       
                                        <?
                                        if ($apiClass->isGPM($clientID) === false)
                                        {
                                            
                                        } else
                                        {
                                            ?>
                                            <option value="GPM" techname="GPM Only">GPM Only</option>   
                                            <?php
                                        }
                                    } else
                                    {
                                        ?>
                                        <option value="" techname="Assigned Tech">Assigned Tech</option>  
                                        <option value="InternalNote" techname="Internal Note" selected>Internal Note</option>    
                                        <?
                                        if ($apiClass->isGPM($clientID) === false)
                                        {
                                            
                                        } else
                                        {
                                            ?>
                                            <option value="GPM" techname="GPM Only">GPM Only</option>   
                                            <?php
                                        }
                                    }
                                    ?>
                                </select>
                            </span>
                            <input type="hidden" value="<?= $assigntech ?>" id="assigntech" name="assigntech">
                            <input type="hidden" value="<?= $assigntechname ?>" id="assigntechname" name="assigntechname">
                        </td>
                        <td>
							<!--13724-->
                            <textarea id="question" name="question" style="width: 100%; height: 40px; resize:none;"></textarea>
							<!--End 13724-->
                            <input type="hidden" value="<?= $wo->WIN_NUM ?>" id="WIN_NUM" name="WIN_NUM">
                        </td>
                        <td align="center">
							<!--13724-->
                            <input type="button" class ="link_senddisable" value="Send" id="cmdPostQuestion" style="height: 40px" >
							<!--End 13724-->
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

<script>
    jQuery(window).ready(function(){
        var notice = jQuery('#notice').val();
        if(notice  != "" && typeof(notice) != 'undefined'  ){
            if(typeof(window.parent) != 'undefined'){
                window.parent._global.autoResize(null,jQuery('body').height());
            }
        }
    });
</script>
