<table class="form_table" cellspacing="0" width="730px">
    <?php if($this->success):?>
    <col width="*" />
    <col width="*" />
    <tr>
        <td class="label_field">Date</td>
        <td><?= $this->data->Created_Date?></td>
    </tr>
    <tr>
        <td class="label_field"><nobr>Contacted By</nobr></td>
        <td><?= $this->data->Created_By?></td>
    </tr>
    <tr>
        <td class="label_field"><nobr>Contact Type</nobr></td>
        <td><?= $this->data->Type?></td>
    </tr>
    <tr>
        <td class="label_field"><nobr>Contact Name or Email Address</nobr></td>
        <td><?= $this->data->Contact?></td>
    </tr>
    <tr>
        <td class="label_field"><nobr>Subject / Reason</nobr></td>
        <td><?= $this->data->Subject?></td>
    </tr>
    <tr>
        <td class="label_field">Message</td>
        <td><?= $this->data->Message?></td>
    </tr>
    <?php else:
        foreach ($this->errors as $error) echo $error. '<br/>';
    endif;?>
</table>
