<?php $and = " and:";
    if(empty($this->Question1) 
            && empty($this->Question2)
            && empty($this->Question3)
            && empty($this->Question4))
    {
        $and = ".";
    }   
?>
<div style="width: 380px;padding: 15px;padding-right: 0px;">
    <div style="text-align:center;font-size: 15px;font-weight: bold;">Copier Skills Assessment Results</div>
    <br>
    <div><?= $this->techInfo->Firstname.' '.$this->techInfo->Lastname ?> (FS-Tech ID#: <?= $this->techid ?>) has passed the Copier Skills Assessment<?= $and ?></div>
    <br>
    <?php if(!empty($this->Question1)) { ?>
        <div>-Has worked on <?= $this->Question1[0]["item_descr"] ?> copiers</div>
    <?php }?>
    <?php if(!empty($this->Question2)) { ?>
        <div>-Has experience repairing the following brands of copiers:</div>
        <?php foreach($this->Question2 as $itemQ2) {?>
            <div style="padding-left: 20px;">-<?= $itemQ2["item_descr"] ?></div>
        <?php } ?>
    <?php }?>    
    <?php if(!empty($this->Question3)) { ?>
        <div>-Has <?= strtolower($this->Question3[0]["item_descr"]) ?>  of experience working on copiers</div>
    <?php }?> 
    <?php if(!empty($this->Question4)) { ?>
        <div>-Has performed the following repairs/services on copiers:</div>
        <?php foreach($this->Question4 as $itemQ4) {?>
            <div style="padding-left: 20px;">-<?= $itemQ4["item_descr"] ?></div>
        <?php } ?>
    <?php }?>     
</div>