<style>
    .errorQT{
        background-color: #F2DADA;
        border-color: red;
    }
    .avaidQT{
        background-color: #09f;
        border-color: blue;
    }
</style>
<div id="EMCError" style="color: red;"></div>
<table id="tableEMC" cellspacing="4" width="100%">
    <thead>
    <th style="text-align: left;">
        <span style="text-decoration:underline;">EMC Certifications</span> 
    </th>
    <th style="text-align: left;" width="30%">
        <span style="text-decoration:underline;">Date Completed</span> 
    </th>
</thead>
<tbody>
    <?php
    $i = 0;
    if (empty($this->data)) {
        ?>
        <tr>
            <td>
                <select style="width:100%;" class="cbxEMCCert" cbxid="<?= $i ?>">
                    <option  sort="" value="">Select an EMC Certification</option>
                    <?php
                    if (!empty($this->datacbx)) {
                        foreach ($this->datacbx as $item) {
                            ?>
                            <option sort="<?= $item['label'] ?>" value="<?= $item['name'] ?>"><?= $item['label'] ?></option>
                            <?php
                        }
                    }
                    ?>
                </select>
            </td>
            <td>
                <input style="width:100px;" type="text" class="datetimeEMCCert" />
            </td>
        </tr>   
        <?php
    } else {
        foreach ($this->data as $i => $value) {
            ?>
            <tr>
                <td>
                    <select style="width:100%;" class="cbxEMCCert" cbxid="<?= $i ?>">
                        <option  sort="" value="">Select an EMC Certification</option>
                        <?php
                        if (!empty($this->datacbx)) {
                            foreach ($this->datacbx as $item) {
                                if (!in_array($item['name'], $this->EMCListForTechnician_name)
                                    ||  $item['name'] == $value['name']) {
                                    ?>
                                    <option sort="<?= $item['label'] ?>" <?= $item['name']== $value['name']?'selected="selected"':""?> value="<?= $item['name'] ?>"><?= $item['label'] ?></option>
                                    <?php
                                }
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <input style="width:100px;" type="text" class="datetimeEMCCert" value="<?= !empty($value['date'])?date_format(new DateTime($value['date']), 'm/d/Y'):'' ?>" />
                </td>
            </tr> 
            <?php
        }
    }
    ?>
</tbody>
</table>
<?php if(count($this->datacbx) > count($this->data)) { ?>
<div> <a href="javascript:;" id="cmdAddNewEMC" >+ Add Another EMC Certification</a></div>
<?php } ?>
<div style="text-align: center;padding: 10px;padding-bottom: 2px;">
    <input type="button" value="Save" class="link_button_popup" id="cmdSaveEMC" />
    <input type="button" value="Cancel" class="link_button_popup"  id="cmdCancelEMC" />
</div>
<input type="hidden" value='
       <tr>
       <td>
       <select style="width:100%;" class="cbxEMCCert" cbxid="[cbxEMCCertBH]">
       <option value="" sort="">Select an EMC Certification</option>
       <?php
       if (!empty($this->datacbx)) {
           foreach ($this->datacbx as $item) {
               echo '<option sort="' . $item['label'] . '" value="' . $item['name'] . '">' . $item['label'] . '</option>';
           }
       }
       ?>
       </select>
       </td>
       <td>
       <input style="width:100px;" type="text" class="datetimeEMCCert" />
       </td>
       </tr>' id="hidTrMEC" />
<input type="hidden" id="hidNumCbx" value="<?= $i ?>" />
<input type="hidden" id="hidNumCbxOption" value="<?= count($this->datacbx) ?>" />