<?
$Expertlist = $this->Expertlist;
?>
<style>
    li {
        list-style:disc outside none;
        margin: 0 0 0 20px;
        padding-bottom: 5px;
    }
</style>
<div style="max-height: 400px;overflow: auto;">
    <center>
        <b>FS-Experts&trade;</b>
    </center>
    <div style="padding:5px;">
        FS-Experts&#8482; are technicians that FieldSolutions has vetted through client training and/or work history for specific technology  skill categories.
    </div>
    <div style="padding:5px;">
        The following technology skill categories have designated FS-Experts&#8482;:
    </div>

    <?
    if (!empty($Expertlist))
    {
        ?>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <ul>
                        <?
                        $TotalExpertNo = count($Expertlist);
                        $firstColItems = round($TotalExpertNo / 2);
                        $k = 0;
                        for ($i = 0; $i < $firstColItems; $i++)
                        {
                            if ($_SESSION['TechID'] != "")
                            {
                                ?>
                                <li >
                                    <?= $Expertlist[$k]["Title"] ?>
                                </li>
                                <?
                            } else
                            {
                            ?>
                            <li >
                                <?= "<b>".$Expertlist[$k]["Abbreviation"]."</b> &ndash; ".$Expertlist[$k]["Title"] ?>
                            </li>
                            <?
                            }
                            $k++;
                        }
                        ?>
                    </ul>
                </td>
                <td>
                    <ul>
                        <?
                        for ($i = $k; $i < $TotalExpertNo; $i++)
                        {
                            if ($_SESSION['TechID'] != "")
                            {
                                ?>
                                <li >
                                    <?= $Expertlist[$k]["Title"] ?>
                                </li>
                                <?
                            } else
                            {
                            ?>
                            <li >
                                <?= "<b>".$Expertlist[$k]["Abbreviation"]."</b> &ndash; ".$Expertlist[$k]["Title"] ?>
                            </li>
                            <?
                            }
                            $k++;
                        }
                        ?>
                    </ul>
                </td>
            </tr>
        </table>
        <?
    }
    ?>
</div>
