<style>
	.filterSection {
		display: none;
	}
</style>
<form name="filterForm" id="filterForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="filterCompanyId" id="filterCompanyId" />
<div style="text-align:center;">
    <input type="button" class="link_button_popup" onclick="wd.resetFilterForm(roll);" value="Reset" />
    <input type="button" class="link_button_popup" onclick="roll.hide(); FSWidget.filterActivate(false);" value="Cancel" />
    <input type="button" class="link_button_popup" onclick="wd.applyFilters(roll);" value="Ok" />
</div>
<div  class="filter_popup">
<table width="100%">
<col width="33%" />
<col width="*" />
    <tr>
        <td class="tRight">By Date Range</td>
        <td><span class="ajaxLink" onclick="$('#filterStartDate,#filterEndDate').val('')">ALL</span></td>
    </tr>
    <tr>
    <td class="tRight">Date Range</td>
    <td>
	<select id="dateRange" name="dateRange">
		<option value='published'>Published Date</option>
		<option value='assigned'>Assigned Date</option>
		<option value='start' selected>Start Date</option>
		<option value='workdone'>Work Done Date</option>
		<option value='approved'>Approved Date</option>
		<option value='invoiced'>Invoiced Date</option>
	</select>
    </td>
    </tr>
    <tr id="filter_date">
    <td class="tRight">Between </td>
    <td>
        <input type="text" onclick="calendarMove(this)" size="8" value="" name="filterStartDate" id="filterStartDate" /> and
        <input type="text"  onclick="calendarMove(this)" size="8" value="" name="filterEndDate" id="filterEndDate" /></td>
    </tr>
    
    <tr id='sectionCountry' class='filterSection'>
        <td class="tRight">By Country</td>
        <td>
            <select name="filterCountry" id="filterCountry" class="filterCountry" onchange="wd.onChangeCountry()">
                <option value="">Select Country</option>
                <?php 
                $dotline="----------------";
                $icount=0;
                foreach ($this->countries as $country){
                ?>
                    <option value="<?=$country->Code?>"><?=$country->Name?></option>
                <?php 
                    if($icount==2) {        
                        echo("<option value=\"\">$dotline</option>");        
                    }        
                    $icount = $icount+1;
                }
                
                ?>
            </select>
        </td>
    </tr>	
    <tr id='sectionZip' class='filterSection'>
        <td class="tRight">Zip </td><td><input type="text" size="5" value="" name="filterZip" id="filterZip" /></td>
    </tr>
    
    
    <tr id='sectionRegion' class='filterSection'>
        <td class="tRight">Region </td><td><input class="inputtext" type="text" name="filterRegion" id="filterRegion" /></td>
    </tr>
	<tr id='sectionRoute' class='filterSection'>
        <td class="tRight">Route </td><td><input class="inputtext" type="text" name="filterRoute" id="filterRoute" /></td>
    </tr>
    <tr id='sectionCalltype' class='filterSection'>
        <td class="tRight">Call Type</td>
        <td>
            <select name="filterCallType" id="filterCallType">
                <option value="none">Select Call Type</option>
                <?php foreach ($this->callTypes as $key => $val):?>
                    <option value="<?=$key?>"><?=$val?></option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <tr id='sectionClientpo' class='filterSection'>
        <td class="tRight">Client PO# </td><td><input class="inputtext" type="text" name="filterPO" id="filterPO" /></td>
    </tr>
    <tr id='sectionAudit' class='filterSection'>
        <td class="tRight">Audit Needed</td><td>
            <select name="Audit" id="Audit">
                <option value="">Any</option>
                <option value="1">Needed</option>
                <option value="2">Complete</option>
                <option value="3">None</option>
            </select>
        </td>
    </tr>
    <tr id='sectionOwner' class='filterSection'>
        <td class="tRight">Work Order Owner</td><td>
            <select name="Owner" id="Owner">
                <option value="">Any</option>
				<?php
					
					foreach( $this->usersAll->data as $user ):
						if (!$user->AccountEnabled || (!$this->isPM && $user->isPM()) || (!$this->isPM && $user->Company_ID != $this->companyId)) continue;
                                                if($user->Company_ID == $this->companyId)
                                                {
				?>
				<option _company="<?=$user->Company_ID?>" title="<?=$user->ContactName?> - <?=$user->UserName?>" value="<?=$user->UserName?>" ><?=$user->UserName?> - <?=$user->ContactName?></option>
				<?php
                                                }
					endforeach;
				?>
            </select>
        </td>
    </tr>
    <tr id="sectionProject">
        <td class="tRight">By Project</td>
        <td id="allProjectsTRContainer">
		<div class="filter_by_project">
        <?php for ($i=0; $i< sizeof($this->projects); ++$i):?>
            <?php $project = $this->projects[$i]; if ( $project->Active ):?>
                <input type="checkbox" name="filterProjects[]" value="<?=$project->Project_ID?>" /> <?=$project->Project_Name?><br />
            <?php endif;?>
        <?php endfor;?>
		</div>
        </td>
    </tr>
    <tr id='sectionState' >
        <td class="tRight">By State</td>
        <td>
            <select name="filterState" id="filterState">
                <option value="">Select State</option>
                <?php foreach ($this->states as $ab => $st): ?>
                    <option value="<?=$ab?>"><?=$st?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>
    <tr id='sectionAssignedTech' >
        <td class="tRight">Assigned Tech </td><td><input class="inputtext" type="text" name="filterAssignedTech" id="filterAssignedTech" /></td>
    </tr>
    <tr>
    <td class="tRight">More Filters</td>
    <td>
	<select id="moreFilters" name="moreFilters" onchange='wd.filterSelected()'>
		<option value=''>Select Another Filter</option>
		<option value='sectionCountry'>Country</option>
		<option value='sectionZip'>Zip</option>
		<option value='sectionRegion'>Region</option>
		<option value='sectionRoute'>Route</option>
		<option value='sectionCalltype'>Call Type</option>
		<option value='sectionClientpo'>Client PO#</option>
		<option value='sectionAudit'>Audit Needed</option>
		<option value='sectionOwner'>Work Order Owner</option>
                <option value='sectiontechPaperwork'>Tech Paperwork</option>
                <option value='sectionSiteStatus'>Site Status</option>
                <option value='sectionTimeZone'>Time Zone</option>
	</select>
	<select id="moreFiltersOrig" name="moreFilters" onchange='wd.filterSelected()' style="display:none">
		<option value=''>Select Another Filter</option>
		<option value='sectionCountry'>Country</option>
		<option value='sectionZip'>Zip</option>
		<option value='sectionRegion'>Region</option>
		<option value='sectionRoute'>Route</option>
		<option value='sectionCalltype'>Call Type</option>
		<option value='sectionClientpo'>Client PO#</option>
		<option value='sectionAudit'>Audit Needed</option>
		<option value='sectionOwner'>Work Order Owner</option>
                <option value='sectiontechPaperwork'>Tech Paperwork</option>
                <option value='sectionSiteStatus'>Site Status</option>
                <option value='sectionTimeZone'>Time Zone</option>
	</select>
    </td>
    </tr>
    <!--13892-->
    <tr id='sectionTimeZone' style="display: none;">
        <td class="tRight">Time Zone</td><td>
            <select name="StandardOffset" id="StandardOffset">               
                <option value=''>Select Time Zone</option>
                <option value="-10">Hawaii</option>
                <option value="-9">Alaska</option>
                <option value="-8">Pacific</option>
                <option value="-7">Mountain</option>
                <option value="-6">Central</option>
                <option value="-5">Eastern</option>
            </select>
        </td>
    </tr>
    <!--13892-->
    <tr id='sectiontechPaperwork' style="display: none;">
        <td class="tRight">Tech Paperwork</td><td>
            <select name="techPaperwork" id="techPaperwork">
                <option value="">Any</option>
                <option value="1">Received</option>
                <option value="2">Incomplete</option>
            </select>
        </td>
    </tr>
    <tr id='sectionSiteStatus' style="display: none;">
        <td class="tRight">Site Status</td><td>
            <select name="filterSiteStatus" id="filterSiteStatus">
                <option value="">Any</option>
                <?php
                if (!empty($this->SiteStatusList)) {
                    foreach ($this->SiteStatusList as $key => $value) {
                        ?>
                        <option  value="<?= $key ?>"><?= $value ?></option>    
                        <?php
                    }
                }
                ?>
            </select>
        </td>
    </tr>
    <!--017-->
    <?
    if($this->companyId=="FLS")
    {
    ?>
    <tr id='sectionshortnotice'>
        <td class="tRight" style="vertical-align:middle;">Short Notice</td><td>
            <select name="shortnotice" id="shortnotice">
                <option value="">Any</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </td>
    </tr>
    <?
    }
    ?>
    <!--end 017-->
</table>
</form>
</div>
