<form name="filterForm" id="filterForm" method="get" action="/">
    <div style="text-align:center;">
        <input type="reset" class="link_button_popup" id="cmdReset" value="Reset" />
        <input type="button" class="link_button_popup" id="cmdCancel" value="Cancel" />
        <input type="button" class="link_button_popup" id="cmdOk" value="Ok" />
    </div>
    <table width="100%">
        <col width="35%" />
        <col width="*" />
        <tr>
            <td class="tRight">WIN# </td>
            <td><input type="text" class="inputtext" value="" name="filterwin" id="filterwin" /></td>
        </tr>
        <tr>
            <td class="tRight">Client ID </td>
            <td><input type="text" class="inputtext" value="" name="filterClientID" id="filterClientID" /></td>
        </tr>
        <?php if($this->IsShownClientPO) { ?>
        <tr>
            <td class="tRight">Client PO# </td>
            <td><input type="text"  class="inputtext" value="" name="filterClientPO" id="filterClientPO" /></td>
        </tr>
        <?php } ?>
        <tr>
            <td class="tRight">Start Date Between </td>
            <td>
                <input type="text" size="7" class="datefilter" value="" name="filterStartDate" id="filterStartDate" /> and
                <input type="text"  size="7" class="datefilter" value="" name="filterEndDate" id="filterEndDate" /></td>
        </tr>
        <!--13892-->
        <tr>
            <td class="tRight">Time Zone </td>
            <td>
                <select style="width: 152px;"  name="StandardOffset" id="StandardOffset">
                    <option value=''>Select Time Zone</option>
                    <option value="-10">Hawaii</option>
                    <option value="-9">Alaska</option>
                    <option value="-8">Pacific</option>
                    <option value="-7">Mountain</option>
                    <option value="-6">Central</option>
                    <option value="-5">Eastern</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Tech Confirmed </td>
            <td>
                <select style="width: 152px;"  name="filterTechConfirmed" id="filterTechConfirmed">
                    <option value="">Any</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Tech Checked In </td>
            <td>
                <select style="width: 152px;"  name="filterTechCheckedIn" id="filterTechCheckedIn">
                    <option value="">Any</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Tech Checked Out </td>
            <td>
                <select style="width: 152px;"  name="filterTechCheckedOut" id="filterTechCheckedOut">
                    <option value="">Any</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">City </td>
            <td><input type="text"  value="" name="filterCity" id="filterCity" /></td>
        </tr>
        <tr>
            <td class="tRight">State </td>
            <td>
                <select style="width: 152px;"  name="filterState" id="filterState">
                    <option value="">Select State</option>
                    <?php foreach ($this->states as $ab => $st): ?>
                        <option value="<?= $ab ?>"><?= $st ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Country </td>
            <td>
                <select style="width: 152px;"  name="filterCountry" id="filterCountry" class="filterCountry" >
                    <option value="">Select Country</option>
                    <?php
                    $dotline = "----------------";
                    $icount = 0;
                    foreach ($this->countries as $country) {
                        ?>
                        <option value="<?= $country->Code ?>"><?= $country->Name ?></option>
                        <?php
                        if ($icount == 2) {
                            echo("<option value=\"0\">$dotline</option>");
                        }
                        $icount = $icount + 1;
                    }
                    ?>
                </select>
            </td>
        </tr>	
        <tr>
            <td class="tRight">Zip </td><td><input type="text" class="inputtext"  value="" name="filterZip" id="filterZip" /></td>
        </tr>

        <tr>
            <td class="tRight">Site Name </td><td><input class="inputtext" type="text" name="filterSiteName" id="filterSiteName" /></td>
        </tr>
        <tr>
            <td class="tRight">Site # </td><td><input class="inputtext" type="text" name="filterSiteNumber" id="filterSiteNumber" /></td>
        </tr>
        <tr>
            <td class="tRight">FS Tech ID# </td><td><input class="inputtext" type="text" name="filterTechID" id="filterTechID" /></td>
        </tr>
		<?php if ($this->companyId == "FATT"): ?>
        <tr>
            <td class="tRight">Contractor ID# </td><td><input class="inputtext" type="text" name="filterContractorID" id="filterContractorID" /></td>
        </tr>
		<?php endif; ?>
        <tr>
            <td class="tRight">Tech Last Name </td><td><input class="inputtext" type="text" name="filterTechLastName" id="filterTechLastName" /></td>
        </tr>
        <tr>
            <td class="tRight">Tech First Name </td><td><input class="inputtext" type="text" name="filterTechFirstName" id="filterTechFirstName" /></td>
        </tr>

        <tr>
            <td valign="top" class="tRight">Project </td>
            <td id="allProjectsTRContainer">
                <div class="filter_by_project">
                    <?php for ($i = 0; $i < sizeof($this->projects); ++$i): ?>
                        <?php
                        $project = $this->projects[$i];
                        if ($project->Active):
                            ?>
                            <input type="checkbox" name="filterProjects[]" value="<?= $project->Project_ID ?>" /> <?= $project->Project_Name ?><br />
                        <?php endif; ?>
                    <?php endfor; ?>
                </div>
            </td>
        </tr>
    </table>
</form>
