<form name="fWOrdForm" id="fWOrdForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="fWOrdCompanyId" id="fWOrdCompanyId" />
<?php  if(strpos($_SERVER['HTTP_REFERER'], "/clients/dashboard.php")){ ?>
	<input type="hidden" id="isDash" value="1" name="isDash" />
<?php } ?>
<div class="tCenter" id="fWOrdMessage"></div>
<table class="fWOrd_popup" width="100%">
    <col width="38%" />
    <col width="*" />
    <tbody>
        <tr>
            <td class="tRight">WIN#</td>
            <td><input class="inputtext" onkeyup="javascript:keyUpFindWorkOrder(event);" type="text" name="fWOrdWIN" id="fWOrdWIN" /></td>
        </tr>
        <tr>
            <td class="tRight">Client Work Order #</td>
            <td><input class="inputtext" onkeyup="javascript:keyUpFindWorkOrder(event);" type="text" name="fWOrdClientWO" id="fWOrdClientWO" /></td>
        </tr>
        <tr>
            <td class="tRight"></td>
            <td>
				<select class="inputtext" onkeyup="javascript:keyUpFindWorkOrder(event);" name="fWOrdWO_ID_Mode" id="fWOrdWO_ID_Mode" style="width:158px;">
                    <option value="1">Exact</option>
                    <option value="0">Contains</option>
				</select>
			</td>
        </tr>
        <tr>
            <td class="tRight">Project</td>
            <td>
                <select onkeyup="javascript:keyUpFindWorkOrder(event);" name="fWOrdProject" id="fWOrdProject" style="width:158px;">
                    <option value="0">Select Project</option>
                    <?php
                        foreach ($this->projects as $project) {
                            if ($project->Active) {
                                echo '<option value="' . $project->Project_ID . '">' . $this->escape($project->Project_Name) . '</option>';
                            }
                        }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Assigned Tech ID #</td>
            <td><input onkeyup="javascript:keyUpFindWorkOrder(event);" class="inputtext" type="text" name="fWOrdTechId" id="fWOrdTechId" /></td>
        </tr>
        <tr>
            <td class="tRight">Zip/Postal Code</td>
            <td><input onkeyup="javascript:keyUpFindWorkOrder(event);" class="inputtext" type="text" name="fWOrdZipCode" id="fWOrdZipCode" /></td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0;">
            	<div align="center">
                <input type="button" class="link_button_popup" onclick="roll.hide();" value="Cancel" />
                <input type="button" class="link_button_popup" onclick="findWorkOrder.doFind()" value="Ok" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
</form>
