<form name="fWOrdForm" id="fWOrdForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="fWOrdCompanyId" id="fWOrdCompanyId" />
<div class="tCenter" id="fWOrdMessage"></div>
<table class="fWOrd_popup tableMytech-t23423dsfs" width="100%">
    <col width="45%" />
    <col width="*" />
    <tbody>
        <tr>
            <td class="tRight">WIN#</td>
            <td><input onkeyup="keyUpmyTechs(event);" class="inputtext" type="text" name="fMTrdWIN" id="fMTrdWIN" /></td>
        </tr>
        <tr>
            <td class="tRight">Client Work Order #</td>
            <td><input onkeyup="keyUpmyTechs(event);" class="inputtext" type="text" name="fMTClientWO" id="fMTClientWO" /></td>
        </tr>
        <tr>
            <td class="tRight">Zip </td><td><input type="text" size="5" onkeyup="keyUpmyTechs(event);" value="" name="fMTZip" id="fMTZip" /></td>
        </tr>
        <tr>
        	<td class="tRight">Distance </td>
        	<td>
				<select onkeyup="keyUpmyTechs(event);" id="fMTDistance" name="fMTDistance" >
					<option value="1">Select Distance</option>
<?php 
    foreach ($this->distances->data as $abbr => $name) :
        if ($abbr == 50) :
        	?><option value="<?=$abbr?>" selected><?=$name?></option><?php 
        else:
           ?><option value="<?=$abbr?>"><?=$name?></option><?php
        endif;
    endforeach;
?></select>
        	</td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0;">
            	<div align="center">
                <input type="button" class="link_button_popup" onclick="roll.hide();" value="Cancel" />
                <input type="button" class="link_button_popup cmdmyTechs-tr63423" onclick="myTechs.doFind(); roll.hide();" value="Ok" />
                <?php  if(strpos($_SERVER['HTTP_REFERER'], "/clients/dashboard.php")){ ?>
                	<input type="hidden" id="isDash" value="1" name="isDash" />
                <?php } ?>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</form>
