<?php
//376
$api = new Core_Api_WosClass();
$reim= $api->getTotal_ApReThFS($this->wo->WIN_NUM);
$reim= $reim[$this->wo->WIN_NUM];//13900
$grossPay = ($this->wo->PayAmount) + $reim;
$fee = ($grossPay) * ($this->wo->PcntDeductPercent + 0);
$woNetPay = $grossPay - $fee;
//end 376
?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="40%" />
    <col width="60%" />

    <tr>
        <td>Gross $</td>
        <td><?= $this->displayMoney($grossPay) ?></td>
    </tr>
    <tr>
        <td>Fee $</td>
        <td><?= $this->displayMoney($fee) ?></td>
    </tr>
    <tr>
        <td>Net $</td>
        <td><?= $this->displayMoney($woNetPay) ?><!--334--></td>
    </tr>
</table>

