
<?
$wo = $this->wo;
$QAlist = $this->QAlist;
$win = $wo->WIN_NUM;
$TestID = $wo->Tech_ID;//14055
$companyID = $wo->Company_ID;

$WosClass = new Core_Api_WosClass();
$TechClass=new Core_Api_TechClass();  //14055   

$assigntech = "";
if (strtolower($wo->Status) != WO_STATE_CREATED &&
        strtolower($wo->Status) != WO_STATE_PUBLISHED &&
        strtolower($wo->Status) != WO_STATE_DEACTIVATED &&
        !empty($wo->Tech_ID) && $wo->Tech_ID != "")
{
    $assigntech = $wo->Tech_ID;
    $assigntechname = $wo->Tech_FName . " " . $wo->Tech_LName;
    $textcopy = "Send Q&A Message to: ";
} else
{
    $assigntech = "";
    $assigntechname = "";
    $textcopy = "Send Q&A Message to: ";
}
$techlist = $WosClass->getTechIDList_HaveBidOrQuestion($win);
?>
<script>
    function ishideshowsubmit()
    {
        var QuestionID = $(this).attr('QuestionID');
        if($(this).val() !="")
        {
            $(".cmdsubmit"+QuestionID).css('display','');
            var divHeight = $("#QAdivscroll").height();

            var elemTop = $(".cmdsubmit"+QuestionID).position().top;
            var elemBottom = elemTop + $(".cmdsubmit"+QuestionID).height() - 100;
            
            if(elemBottom < divHeight)
            {
                
            }
            else
            {
                $("#QAdivscroll").scrollTo(jQuery(this), 1000,  {offset: {top:-divHeight+50, left:0}});    
            }
        }
        else
        {
            $(".cmdsubmit"+QuestionID).css('display','none');
        }
    }
    
    function ishideshowanswer()
    {
        var QuestionID = $(this).attr('QuestionID');
        $("#transwer"+QuestionID).css('display','');
        var divHeight = $("#QAdivscroll").height();

        var elemTop = $("#transwer"+QuestionID).position().top;
        var elemBottom = elemTop + $("#transwer"+QuestionID).height() - 100;
            
        if(elemBottom > divHeight)
        {
            $("#QAdivscroll").scrollTo(jQuery("#transwer"+QuestionID), 1000,  {offset: {top:-divHeight+25, left:0}});    
        }
    }
        
    function answerquestion()
    {
        var QuestionID = $(this).attr('QuestionID');
        var WIN_NUM = $(this).attr('WIN_NUM');
        var msg = $(".txtanswer"+QuestionID).val();
        var techid = $(this).attr('techid');//13720
        $.ajax({
            type: "POST",
            url: "/widgets/dashboard/popup/postanswer",
            data: "WIN_NUM="+WIN_NUM+"&QuestionID="+QuestionID +"&techid="+techid +"&msg="+msg,
            success:function( html ) {
                //alert (html);
                $('#transwer'+QuestionID).before(html);
                $('.txtanswer'+QuestionID).val("");
                detailObject.onInit.watermark();
                $(".cmdsubmit"+QuestionID).css('display','none');
                $("#transwer"+QuestionID).css('display','none');
            },
            error:function(error) {
                alert('error; ' + eval(error));
            }
        });
    }
    
    function filtertech()
    {
        var data = jQuery("#frmPostQuestion").serialize();
        $.ajax({
            type: "POST",
            url: '/widgets/dashboard/popup/clientquestionandanswer',
            data: data,
            context : this,
            success:function( html ) {
                jQuery("#comtantPopupID").html("<div style='width:200px;'>"+html+"</div>");
                $('#fancybox-content').width(400);
                $('#fancybox-wrap').width(420);
                $.fancybox.resize();
            },
            error:function(error) {
                alert('error; ' + eval(error));
            }
        });
    }
    
    $(window).ready(function(){
        jQuery(".txtanswer")
        .unbind("keyup", ishideshowsubmit)
        .bind("keyup", ishideshowsubmit);
        jQuery(".cmdsubmit")
        .unbind("click", answerquestion)
        .bind("click", answerquestion);
        jQuery(".cmdreply")
        .unbind("click", ishideshowanswer)
        .bind("click", ishideshowanswer);
        detailObject.onInit.watermark();
    });
</script>

<table width="100%" cellspacing="0" cellpadding="0">
    <col width="200px">
    <col width="495px">
    <col width="50px">
    <col width="160px">
    <?
    /* print_r("<pre>");
      print_r($QAlist);
      print_r("</pre>"); */
    if (!empty($this->QAlist))
    {
        foreach ($this->QAlist as $QAitem)
        {
            $Tech_Name = ""; 
            //14055
            if(!empty($QAitem['data']['TechID'])){
                $isDeniedtech =   $TechClass->isDeniedTech($QAitem['data']['TechID'],$companyID);                
            }
            //14055
            if (!empty($QAitem['data']))
            {
                if (!empty($QAitem['data']['TechName']) || !empty($QAitem['data']['Contact']) ||
                        !empty($QAitem['data']['EmailedNum']) || !empty($QAitem['data']['ClientName']))
                {
                    if ($QAitem['message_type'] == 'EMAIL_SENT_TO_TECH')
                    {
                        $Tech_Name = "Email Sent to <span style='" . (($assigntech == "") ? "color:#4F81BD;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#4F81BD;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                    } else if ($QAitem['message_type'] == 'CALL_MADE_TO_TECH')
                    {
                        $Tech_Name = "Call Made to <span style='color:#4F81BD;'>" . $QAitem['data']['Contact'] . "</span>";
                    } else if ($QAitem['message_type'] == 'TECH_QUESTION')
                    {
                        //14055
                       // $Tech_Name = "<span style='" . (($assigntech == "color:#E46C0A;") ? "" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                       if($isDeniedtech)
                         {
                            $Tech_Name = "<span><a title='This tech is client-denied.' style='" . (($assigntech == "color:rgb(140, 140, 140);text-decoration:line-through;") ? "" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                     
                            
                         }
                         else
                         {
                            $Tech_Name = "<span style='" . (($assigntech == "color:#E46C0A;") ? "" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                                                                                                                     
                         }
                         // 14055
                    } else if ($QAitem['message_type'] == 'WO_ASSIGNED_TO')
                    {
                        if (!empty($QAitem['data']['TechID']))
                        {
                            //14055
                           // $Tech_Name = "Work Order Assigned to <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                           if($isDeniedtech)
                             {
                                 
                                //$Tech_Name = "Work Order Assigned to <span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                            
                                
                                $Tech_Name = "Work Order Assigned to <span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                            
                                
                             }
                             else
                             {
                                $Tech_Name = "Work Order Assigned to <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                                                                                                                                                                                                              
                             }
                            //14055
                        } else
                        {
                            $Tech_Name = "Work Order Assigned";
                        }
                    } else if ($QAitem['message_type'] == 'WO_PUBLISHED')
                    {
                        $Tech_Name = $QAitem['message'];
                    } else if ($QAitem['message_type'] == 'WO_MARKED_COMPLETE_BY_TECH')
                    {
                        if (!empty($QAitem['data']['TechName']))
                        {
                            //14055
                           // $Tech_Name = "Work Order Marked Complete by <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                           if($isDeniedtech)
                             {
                                                                                                                                           
                               // $Tech_Name = "Work Order Marked Complete by <span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                              
                               $Tech_Name = "Work Order Marked Complete by <span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                             
                                
                             }
                             else
                             {
                                $Tech_Name = "Work Order Marked Complete by <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                                                                                                                                                                                                                                        
                             }
                            //14055
                        } else
                        {
                            $Tech_Name = "Work Order Marked Complete";
                        }
                    } else if ($QAitem['message_type'] == 'WO_MARKED_COMPLETE')
                    {
                        $Tech_Name = "Work Order Marked Complete";
                    } else if ($QAitem['message_type'] == 'WO_MARKED_INCOMPLETE')
                    {
                        $Tech_Name = "Work Order Marked Incomplete";
                    } else if ($QAitem['message_type'] == 'WO_PAID')
                    {
                        $Tech_Name = "Work Order Paid";
                    } else if ($QAitem['message_type'] == 'AVAIL_WO_EMAIL_BLAST')
                    {
                        $Tech_Name = "Available Work Email Blast (" . $QAitem['data']['EmailedNum'] . " techs emailed)";
                    } else if ($QAitem['message_type'] == 'CLIENT_MESSAGE_TO_TECH')
                    {
                        //14055
                        //$Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span> sent a message to <span style='color:#E46C0A;'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                        if($isDeniedtech)
                         {
                                                                                                                                       
                            $Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span> sent a message to <span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";             
                            
                         }
                         else
                         {
                            $Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span> sent a message to <span style='color:#E46C0A;'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                                                                                                                                                                                                                                                                                                     
                         }
                        //14055
                    } else if ($QAitem['message_type'] == 'CLIENT_MESSAGE_TO_ALL_TECH')
                    {
                        $Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span>  sent a message to ALL Techs: ";
                    } else if ($QAitem['message_type'] == 'CLIENT_MESSAGE_TO_GPM')
                    {
                        $Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span> sent a message to GPMs ONLY: ";
                    } else if ($QAitem['message_type'] == 'CLIENT_MESSAGE_TO_INTERNAL_NOTE')
                    {
                        $Tech_Name = "<span style='color:#00B050;'>" . $QAitem['data']['ClientName'] . "</span> sent an internal message: ";
                    } else if ($QAitem['message_type'] == 'TECH_BID')
                    {
                        //14055
                        //$Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) bid <a style='cursor:pointer;' class = 'bidinfoQuestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>$" . $QAitem['data']['BidAmount'] . " per " . $QAitem['data']['Amount_Per'] . " " . (!empty($QAitem['data']['Comments']) ? "</a> with comment: " . $QAitem['data']['Comments'] : "" . "");
                        if($isDeniedtech)
                         {
                            
                            // echo("test1:");
                           // $Tech_Name = "<span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) bid <a style='cursor:pointer;' class = 'bidinfoQuestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>$" . $QAitem['data']['BidAmount'] . " per " . $QAitem['data']['Amount_Per'] . " " . (!empty($QAitem['data']['Comments']) ? "</a> with comment: " . $QAitem['data']['Comments'] : "" . "");                
                           $Tech_Name = "<span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) bid <a style='cursor:pointer;' class = 'bidinfoQuestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>$" . $QAitem['data']['BidAmount'] . " per " . $QAitem['data']['Amount_Per'] . " " . (!empty($QAitem['data']['Comments']) ? "</a> with comment: " . $QAitem['data']['Comments'] : "" . "");                                                     
                            
                         }
                         else
                         {
                            // echo("test2:");
                           // $Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) bid <a style='cursor:pointer;' class = 'bidinfoQuestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>$" . $QAitem['data']['BidAmount'] . " per " . $QAitem['data']['Amount_Per'] . " " . (!empty($QAitem['data']['Comments']) ? "</a> with comment: " . $QAitem['data']['Comments'] : "" . "");  
                             $Tech_Name = "<span style='color:#E46C0A;'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) bid <a style='cursor:pointer;' class = 'bidinfoQuestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>$" . $QAitem['data']['BidAmount'] . " per " . $QAitem['data']['Amount_Per'] . " " . (!empty($QAitem['data']['Comments']) ? "</a> with comment: " . $QAitem['data']['Comments'] : "" . "");               
                         }
                        //14055
                    } else if ($QAitem['message_type'] == 'WO_APPROVED')
                    {
                        $Tech_Name = "Work Order Approved";
                    } else if ($QAitem['message_type'] == 'TECH_CHECK_OUT_VISIT')
                    {
                        //14055
                        //$Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked Out &ndash; Visit #" . $QAitem['data']['VisitNo'];
                        if($isDeniedtech)
                         {
                            
                            //$Tech_Name = "<span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked Out &ndash; Visit #" . $QAitem['data']['VisitNo'];  
                            $Tech_Name = "<span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked Out &ndash; Visit #" . $QAitem['data']['VisitNo'];
                            
                         }
                         else
                         {
                            $Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked Out &ndash; Visit #" . $QAitem['data']['VisitNo'];  
                         }
                        //14055
                    } else if ($QAitem['message_type'] == 'TECH_CHECK_IN_VISIT')
                    {
                        //14055
                        //$Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked In &ndash; Visit #" . $QAitem['data']['VisitNo'];
                        if($isDeniedtech)
                         {
                            
                           // $Tech_Name = "<span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked In &ndash; Visit #" . $QAitem['data']['VisitNo']; 
                           $Tech_Name = "<span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</a></span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked In &ndash; Visit #" . $QAitem['data']['VisitNo'];                                                                
                         }
                         else
                         {
                            $Tech_Name = "<span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>) Checked In &ndash; Visit #" . $QAitem['data']['VisitNo'];                                       
                         }
                        //14055
                    } else if ($QAitem['message_type'] == 'QAMessageNotificationSentToTech')
                    {
                        //14055
                        //$Tech_Name = "Q&A Message Notification sent to  <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                        if($isDeniedtech)
                         {
                           // $Tech_Name = "Q&A Message Notification sent to  <span><a title='This tech is client-denied.' style='" . (($assigntech == "") ? "color:rgb(140, 140, 140);text-decoration:line-through;" : ($assigntech == $QAitem['data']['TechID']) ? "color:rgb(140, 140, 140);text-decoration:line-through;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                           $Tech_Name = "Q&A Message Notification sent to  <span><a title='This tech is client-denied.' style='color:rgb(140, 140, 140);text-decoration:line-through;'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";                                                 
                         }
                         else
                         {
                            $Tech_Name = "Q&A Message Notification sent to  <span style='" . (($assigntech == "") ? "color:#E46C0A;" : ($assigntech == $QAitem['data']['TechID']) ? "color:#E46C0A;" : "") . "'>" . $QAitem['data']['TechName'] . "</span> (ID: <a style='cursor:pointer;' class = 'techprofileforquestion' techid='" . $QAitem['data']['TechID'] . "' comid='" . $wo->Company_ID . "'>" . $QAitem['data']['TechID'] . "</a>)";
                         }
                        //14055
                    }
                } else
                {
                    $Tech_Name = $QAitem['message'];
                }

                if ($QAitem['message_type'] == 'TECH_QUESTION')
                {
                    $logdata = $QAitem['data']['Message'];
                    $QuestionID = $QAitem['data']['QuestionID'];
                } else if ($QAitem['message_type'] == 'CALL_MADE_TO_TECH' || $QAitem['message_type'] == 'WO_ASSIGNED_TO' ||
                        $QAitem['message_type'] == 'WO_APPROVED' || $QAitem['message_type'] == 'WO_PUBLISHED' ||
                        $QAitem['message_type'] == 'WO_MARKED_COMPLETE_BY_TECH' || $QAitem['message_type'] == 'WO_MARKED_INCOMPLETE' ||
                        $QAitem['message_type'] == 'WO_PAID' || $QAitem['message_type'] == 'AVAIL_WO_EMAIL_BLAST' ||
                        $QAitem['message_type'] == "TECH_BID" || $QAitem['message_type'] == "WO_MARKED_COMPLETE" ||
                        $QAitem['message_type'] == 'TECH_CHECK_OUT_VISIT' || $QAitem['message_type'] == 'TECH_CHECK_IN_VISIT' ||
                        $QAitem['message_type'] == 'QAMessageNotificationSentToTech')
                {
                    $logdata = "";
                } else if ($QAitem['message_type'] == 'CLIENT_MESSAGE_TO_TECH' || $QAitem['message_type'] == 'CLIENT_MESSAGE_TO_ALL_TECH' ||
                        $QAitem['message_type'] == 'CLIENT_MESSAGE_TO_GPM' || $QAitem['message_type'] == 'CLIENT_MESSAGE_TO_INTERNAL_NOTE')
                {
                    $logdata = $QAitem['data']['Message'];
                } else
                {
                    $logdata = "Subject:" . $QAitem['data']['Subject'] . "<br/>" . "Message:" . $QAitem['data']['Message'];
                }
            } else
            {
                if ($QAitem['message_type'] = "WO_PAID")
                {
                    $logdata = "";
                    $Tech_Name = $QAitem['message'];
                } else
                {
                    $logdata = $QAitem['message_type'];
                    //$Tech_Name = $QAitem['Message'];
                }
            }

            if ($QAitem['message_type'] == 'EMAIL_SENT_TO_TECH')
            {
                ?>
                <tr>
                    <td style="vertical-align:top;padding-top:5px;"><?= $Tech_Name ?>:</td>
                    <td style="vertical-align:top;padding-top:5px;" colspan="2">
                <?= $logdata ?>
                    </td>
                    <td style="vertical-align:top;padding-top:5px;">
            <?= $this->displayDate('m/d/Y h:i A', $QAitem['timestamp']) ?> CST
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr style="background-color:#d9d9d9;">
                    </td>
                </tr>
            <?
        } else if ($QAitem['message_type'] == 'TECH_QUESTION')
        {   
            $techid = $QAitem['data']['TechID'];//13720
            ?>
                <tr>
                    <td style="vertical-align:top;padding-top:5px;"><?= $Tech_Name ?>:</td>
                    <td style="vertical-align:top;padding-top:5px;">
            <?= $logdata ?>
                    </td>
                    <td style="vertical-align:top;text-align:center;padding-top:5px;">
                        <a class="cmdreply cmdreply<?= $QuestionID ?>" WIN_NUM="<?= $win ?>" QuestionID="<?= $QuestionID ?>" techid="<?= $techid ?>" style="cursor:pointer;text-decoration:underline;">Reply</a>
                    </td>
                    <td style="vertical-align:top;padding-top:5px;">
            <?= $this->displayDate('m/d/Y h:i A', $QAitem['timestamp']) ?> CST
                    </td>
                </tr>
            <?
            $AnswerList = $WosClass->getAnswerList_ForQuestion($QuestionID, $win);
            if (!empty($AnswerList))
            {
                foreach ($AnswerList as $Answeritem)
                {
                    ?>
                        <tr>
                            <td style="vertical-align:top;padding-left:20px;padding-top:5px;color:#00B050;"><?= $Answeritem['Client_Name'] ?>:</td>
                            <td style="vertical-align:top;padding-top:5px;" colspan="2">
                    <?= $Answeritem['Message'] ?>
                            </td>
                            <td style="vertical-align:top;padding-top:5px;">
                    <?= $this->displayDate('m/d/Y h:i A', $Answeritem['Created_Date']) ?> CST
                            </td>
                        </tr>
                    <?
                }
            }
            ?>
                <tr id="transwer<?= $QuestionID ?>" style="display:none;">
                    <td style="vertical-align:top;padding-top:5px;"></td>
                    <td style="vertical-align:top;padding-left:20px;padding-top:5px;" colspan="2">
                        <textarea class="txtanswer txtanswer<?= $QuestionID ?> inputwatermark" title="ReplytoText" QuestionID="<?= $QuestionID ?>" style="width: 500px; height: 16px;"></textarea><br/>
                        <a class="cmdsubmit cmdsubmit<?= $QuestionID ?>" WIN_NUM="<?= $win ?>" QuestionID="<?= $QuestionID ?>"  techid="<?= $techid ?>" style="display:none;cursor:pointer;">Submit</a>
                    </td>
                    <td style="vertical-align:top;padding-top:5px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr style="background-color:#d9d9d9;">
                    </td>
                </tr>
            <? //END 13720
        } else
        {
            ?>
                <tr>
                    <td style="vertical-align:top;padding-top:5px;" colspan="3"><?= $Tech_Name ?> <?= $logdata ?></td>
                    <td style="vertical-align:top;padding-top:5px;">
            <?= $this->displayDate('m/d/Y h:i A', $QAitem['timestamp']) ?> CST
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr style="background-color:#d9d9d9;">
                    </td>
                </tr>
            <?
        }
    }
}
?>
</table>  
