<div class="tCenter" style="padding-top: 30px;" >
    <b><?= $this->escape($this->error_message); ?></b>  <br/><br/>
    <input type="button" value="Close Window" onclick="self.close();" class="link_button" />
</div>
<script type="text/javascript">
$(function(){ setTimeout(function(){ self.close(); }, 5000); })
</script>
