<?
//735
$apiexpert = new Core_Api_FSExpertClass();
$filters = array();
$filters['TechId'] = $this->tech->TechID;
$filters['Category_ID'] = $this->wo->WO_Category_ID;
$FSExpertTech = $apiexpert->getFSExpertTechRecord($filters);

$filtersinfo['Category_ID'] = $this->wo->WO_Category_ID;
$FSExpertinfo = $apiexpert->getFSExpert($filtersinfo);

$Categoryname=$FSExpertinfo['Category'];

$isexpert = false;
if(!empty($FSExpertTech))
{
    $isexpert =true;
}

$FSExpertId = $FSExpertinfo['FSExpertId'];
//end 735
?>
<?php if ($this->updated) : ?>
    <div class='tCenter' style="padding-top: 30px;" >
        <b>Your submission was successful.</b> <br/><br/>
        <input type="button" value="Close Window" onclick="self.close();" class="link_button" />
    </div>
    <script type="text/javascript">
    $(function(){ setTimeout(function(){ self.close(); }, 5000); })
    </script>
<?php else : ?>
<div class="inner710">
    <form id="formSAT" name="formSAT" method="post">
    <table cellspacing="0">
		<col width="45px" />
		<col width="" />
		<col width="" />
		<col width="" />
		<col width="" />
        <tbody>
            <tr">
                <td>Win #</td>
                <td>
                    <span><?= $this->escape($this->wo->WIN_NUM); ?></span>
                </td>
                <td>Client Work Order ID #</td>
                <td>
                    <span><?= $this->escape($this->wo->WO_ID); ?></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop5">
                    <span class="SATLabel"><img src="/images/new.gif">Rate Tech Preference &amp; Performance Ratings:</span>
                </td>
            </tr>
                    <tr>
                        <td colspan="4" class="innerTop10">
                    <table cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <label for="EditRecordSATRecommended">How likely would you be to recommend this tech:</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="innerTop3">
                                    <table style="width: 100%; font-size: 11px;">
										<col width="125px" />
										<col width="125px" />
										<col width="115px" />
										<col width="120px" />
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATRecommended == 5) : ?>checked="checked"<?php endif; ?> value="5" id="edit_SATRecommended5" name="SATRecommended">
                                                    <label for="edit_SATRecommended5">Extremely likely</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATRecommended == 4) : ?>checked="checked"<?php endif; ?> value="4" id="edit_SATRecommended4" name="SATRecommended">
                                                    <input type="radio" style="display: none" <?php if ($this->wo->SATRecommended == 3) : ?>checked="checked"<?php endif; ?> value="3" id="edit_SATRecommended3" name="SATRecommended">
                                                    <label for="edit_SATRecommended4">Somewhat likely</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATRecommended == 2) : ?>checked="checked"<?php endif; ?> value="2" id="edit_SATRecommended2" name="SATRecommended">
                                                    <label for="edit_SATRecommended2">Not very likely</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATRecommended == 1) : ?>checked="checked"<?php endif; ?> value="1" id="edit_SATRecommended1" name="SATRecommended">
                                                    <label for="edit_SATRecommended1">Not at all likely</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop7">
                    <table cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <label for="EditRecordSATPerformance">The outcome of this field service event was:</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="innerTop3">
                                    <table style="width: 100%; font-size: 11px;">
										<col width="125px" />
										<col width="125px" />
										<col width="115px" />
										<col width="120px" />
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATPerformance == 5) : ?>checked="checked"<?php endif; ?> value="5" id="edit_SATPerformance5" name="SATPerformance">
                                                    <label for="edit_SATPerformance5">Excellent</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATPerformance == 4) : ?>checked="checked"<?php endif; ?> value="4" id="edit_SATPerformance4" name="SATPerformance">
                                                    <input type="radio" style="display: none" <?php if ($this->wo->SATPerformance == 3) : ?>checked="checked"<?php endif; ?> value="3" id="edit_SATPerformance3" name="SATPerformance">
                                                    <label for="edit_SATPerformance4">Very Good</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATPerformance == 2) : ?>checked="checked"<?php endif; ?> value="2" id="edit_SATPerformance2" name="SATPerformance">
                                                    <label for="edit_SATPerformance2">Satisfactory</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->wo->SATPerformance == 1) : ?>checked="checked"<?php endif; ?> value="1" id="edit_SATPerformance1" name="SATPerformance">
                                                    <label for="edit_SATPerformance1">Not Satisfactory</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop5">
                    <div align="center" id="preferDeny">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" colspan="2"><hr width="90%"></td>
                                </tr>
                                <tr>
                                    <td align="center" class="SATLabel">Tech ID: <?= $this->escape($this->tech->TechID); ?> </td>
                                    <td align="center" class="SATLabel">Tech Name: <?= $this->escape($this->tech->Firstname) ?> <?= $this->escape($this->tech->Lastname) ?> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="innerTop5">
                    <!--735-->
                    <table cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="innerTop3">
                                    <table>
										<col width="125px" />
										<col width="125px" />
					<col width="125px" />
										<col width="115px" />
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label for="cbParamVirtual1">Tech Status</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->techStatus == 1) : ?>checked="checked"<?php endif; ?> value="1" id="edit_PreferredStatus1" name="PreferredStatus">
                                                    <label for="edit_PreferredStatus1">Preferred</label>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->techStatus == 2) : ?>checked="checked"<?php endif; ?> value="2" id="edit_PreferredStatus2" name="PreferredStatus">
                                                            <label id="labelClientDenyTech" class="labelClientDenyTech" >Denied</label>
                                                            <script type="text/javascript" >
                                                                $(document).ready(function(){
                                                                    $("#edit_PreferTechV").change(function(){
                                                                        if ($(this).attr('checked')) {
                                                                            $("#edit_DenyTechV").removeAttr('checked');
                                                                        }
                                                                    });
                                                                           
                                                                            
                                                                    function ClosePopupClientDenyTech(){
                                                                        jQuery("#edit_PreferredStatus2").removeAttr("checked");
                                                                        jQuery("#labelClientDenyTech")
                                                                        .css('color', "")
                                                                        .css("font-weight", "")
                                                                        .css("text-decoration","")
                                                                        .css("cursor","");
                                                                    }
                                                                        
                                                                    function edit_PreferredStatus2_onClick(){
                                                                        var value=jQuery("#edit_PreferredStatus2").is(":checked");    
                                                                        var companyID="<?= $this->company ?>";  
                                                                        var techid = "<?= $this->wo->Tech_ID ?>";
                                                                        var clientid="<?= $this->ClientId ?>";
                                                                        var  url="/widgets/dashboard/details/update-client-deny-tech?techID=" + techid +"&clientID="+clientid+"&companyID="+companyID;
                                                                                                               
                                                                        if(value)
                                                                        {                                                                                                       
                                                                            $("<div id='ClientDenyTech'></div>").fancybox(
                                                                            {
                                                                                'type' : 'iframe',
                                                                                'href' : url,
                                                                                'autoDimensions' : false,
                                                                                'width' : 450,
                                                                                'height' : 180,
                                                                                'transitionIn': 'none',
                                                                                'transitionOut' : 'none'
                                                                            }
                                                                        ).trigger('click'); 
                                                                            jQuery("#fancybox-close")
                                                                            .unbind("click",ClosePopupClientDenyTech)
                                                                            .bind("click",ClosePopupClientDenyTech);

                                                                        }
                                                                        else
                                                                        {
                                                                            jQuery("#labelClientDenyTech")
                                                                            .css('color', "")
                                                                            .css("font-weight", "")
                                                                            .css("text-decoration","")
                                                                            .css("cursor","");
                                                                        }
                                                                    }
                                                                    jQuery("#edit_PreferredStatus2")
                                                                    .unbind("click",edit_PreferredStatus2_onClick)
                                                                    .bind("click",edit_PreferredStatus2_onClick);  
                                                                });
            
                                                                function ClosePopUpClientDenyTechAfterSave(){
                                                                    var value=$("#edit_PreferredStatus2").is(":checked");
                                                                    if(value)
                                                                        $("#edit_PreferredStatus1").removeAttr('checked');
                                                                    jQuery("#labelClientDenyTech")
                                                                    .css('color', "#F69630")
                                                                    .css("font-weight", "bold")
                                                                    .css("text-decoration","underline")
                                                                    .css("cursor","pointer");
                                                                    setTimeout("$.fancybox.close();", 1000);
                                                                                                                
                                                                }
                                                                var edit_DenyTechVCheck=jQuery("#edit_PreferredStatus2").is(":checked"); 
                                                                if(edit_DenyTechVCheck)
                                                                {
                                                                    jQuery("#labelClientDenyTech")
                                                                    .css('color', "#F69630")
                                                                    .css("font-weight", "bold")
                                                                    .css("text-decoration","underline")
                                                                    .css("cursor","pointer");
                                                                }
                                                                else
                                                                {
                                                                    jQuery("#labelClientDenyTech")
                                                                    .css('color', "")
                                                                    .css("font-weight", "")
                                                                    .css("text-decoration","")
                                                                    .css("cursor","");
                                                                }
                                                                jQuery("#labelClientDenyTech").click(function()
                                                                {
                                                                    var isClientDenyCheck=jQuery("#edit_PreferredStatus2").is(":checked");
                                                                                                                
                                                                    if(isClientDenyCheck)
                                                                    {                                                                                                           
                                                                                                                        
                                                                        this.rollWarning = new FSPopupRoll();
                                                                        var content = "<div id='ContentClientDeny'><div style='text-align:center;height:150px;background:url(/widgets/images/loader.gif) no-repeat center #fff;'>Loading...</div></div>";
                                                                        var opt = {
                                                                            width       : 250,
                                                                            height      : '',
                                                                            position    : 'middle',
                                                                            title       : 'This technician was client denied by',
                                                                            body        : content
                                                                        };
                                                                        this.rollWarning.showNotAjax(this, this, opt);
                                                                        data={
                                                                            companyID:"<?= $this->company ?>"
                                                                            ,techID:"<?= $this->wo->Tech_ID ?>"
                                                                            ,clientID:"<?= $this->ClientId ?>"
                                                                        };                            
                                                                        $.ajax({
                                                                            url : "/widgets/dashboard/details/view-client-deny-tech",
                                                                            data : data,
                                                                            cache : false,
                                                                            type : 'POST',
                                                                            dataType : 'html',
                                                                            context : this,
                                                                            error : function (xhr, status, error) {                                    
                                                                            },
                                                                            success : function(data, status, xhr) {
                                                                                jQuery("#ContentClientDeny").html(data);
                                                                                var  clientUserName=jQuery("#ContentClientDeny #ClientName").html();
                                                                                if(clientUserName==""||clientUserName==null)                                    
                                                                                {
                                                                                    jQuery("#ClientName").css("display","none").css('padding-bottom','20px');
                                                                                    jQuery(".popup-header-title").html("Comments:");
                                                                                    jQuery("#CommentsTitle").css("display","none");
                                                                                }

                                                                            }
                                                                        });
                                                                    }
                                                                });     
                                                            </script>
                                                </td>
                                                <td>
                                                    <input type="radio" <?php if ($this->techStatus == 0) : ?>checked="checked"<?php endif; ?> value="0" id="edit_PreferredStatus3" name="PreferredStatus">
                                                    <label for="edit_PreferredStatus0">None</label>
                                                    
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--13735-->
                            <?
                            if($FSExpertinfo['FSExpertEnable']!=0)
                            {
                            ?>
                                <tr>
                                    <td style="padding-top: 8px;">
                                        <label class="perWidth100"><?= $isexpert? "This Tech is " : "Recommend Tech as " ?>an FS-Expert in <?=$Categoryname;?>:&nbsp;</label><input type="checkbox" id="chkskillcategory" name="chkskillcategory"  value=""  <?= $isexpert? "checked" : "" ?> <?= $isexpert?($this->isGPM?"":"disabled"):""?>>
                                        <input type="hidden" name='FSExpertId' value="<?=$FSExpertId?>">
                                    </td>
                                </tr>
                            <?
                            }
                            ?>
                        </tbody>
                    </table>
                    <!--end 735-->
                </td>
            </tr>
            <tr>
                <td colspan="4" class="tCenter innerTop5 innerBottom3" style="background-color:#DFDFDF;">
                    <input type="button" value="Update" onclick="widgetSAT.doRequest({form : 'formSAT'});" class="link_button" />
                </td>
            </tr>
        </tbody>
    </table>
    </form>
<?php endif; ?>