<?php
$wo = $this->wo;
$WoTagClass = new Core_Api_WoTagClass();
?>
<form id="frmSiteStatus" onsubmit="jQuery('#cmdSaveSiteStatus').click();return false;" >
    <div style="text-align: center;font-weight: bold;padding-bottom: 15px;">
        <span>Site SLA Status Report&trade; </span>
        <img width="16px" height="16px" style="cursor: pointer;padding-left: 8px;" src="/widgets/images/FAQi.png" class="cmdhelpSiteStatus" bt-xtitle="" title="">
    </div>
    <input type="hidden" name="win" value="<?php echo $wo->WIN_NUM ?>" />
    <input type="hidden" name="Project_ID" value="<?php echo $wo->Project_ID ?>" />
    <input type="hidden" name="SiteNumber" value="<?php echo $wo->SiteNumber ?>" />
    <table width="100%" cellspacing="0" cellpadding="0" style="border:1px solid #F69630;">
        <col width="50%" />
        <col width="50%" />
        <tr id="trHeaderSiteStatus">
            <td valign="top" style="border-right: 1px solid #F69630; padding-left:5px;border-bottom: 1px solid #F69630;">
                <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                    <colgroup>
                        <col width="90px">
                        <col width="*">
                    </colgroup>
                    <tr>
                        <td style="padding-top: 6px;">Site #:</td>
                        <td style="padding-top: 6px;"><span class="ninfo_data"><?= $this->escape($wo->SiteName) . (!empty($wo->SiteName) && $wo->SiteNumber != "" ? " - " : "") . $this->escape($wo->SiteNumber) ?>
                                &nbsp;<a target="_blank" href="/clients/wos.php?v=<?= $wo->Company_ID ?>&tab=all&search=1&full_search=1&site_number=<?= $wo->SiteNumber ?>&projects[]=<?= $wo->Project_ID ?>" style="text-decoration: underline;font-weight: normal;">(<?= $this->NumOfWOs_InSiteOfProject ?> Work Order<?= $this->NumOfWOs_InSiteOfProject>1?"s":"" ?>)</a></span></td>
                    </tr>
                    <tr class="first_tr">
                        <td style="padding-bottom: 6px;">Project:</td>
                        <td style="padding-bottom: 6px;"><span class="ninfo_data"><?= (strlen($wo->Project_Name)) > 32 ? (substr($wo->Project_Name, 0, 32) . " ...") : $wo->Project_Name; ?></span></td>
                    </tr>
                </table>
            </td>                    
            <td valign="top" style="padding-left:5px;border-bottom: 1px solid #F69630;">
                <table cellspacing="0" cellpadding="0" width="100%" border="1" >
                    <colgroup>
                        <col width="50px">
                        <col width="190px">
                    </colgroup>
                    <?php
                    $city = $this->escape($this->wo->City);
                    $state = $this->escape($this->wo->State);
                    $zip = $this->escape($this->wo->Zipcode);
                    $csz = empty($city) ? '' : $city . ', ';
                    $csz.=$state . ' ' . $zip;
                    ?>
                    <tr>
                        <td style="padding-top: 6px;padding-bottom: 6px;">Location:</td>
                        <td style="padding-top: 6px;padding-bottom: 6px;">
                            <span class="ninfo_data"><?= $csz ?></span>
                        </td>
                    </tr>
                </table>                    
            </td>
        </tr>
        <tr>
        <style>
            .colorSiteStatus{
                <?php
                switch ($this->siteInfo["Status_ID"]) {
                    case 1:
                        echo "color:#F69630;";
                        break;
                    case 2:
                        echo "color:green;";
                        break;
                    case 3:
                        echo "color:red;";
                        break;
                    case 4:
                        echo "color:darkorange;";
                        break;
                }
                ?>
            }
        </style>
        <td style="padding-top: 6px;padding-bottom: 6px;padding-left: 6px;">
            Current Site SLA Status: <span id="viewSiteStatus"><span class="colorSiteStatus"><?= $this->siteInfo["Status"] ?></span> (<a id="cmdEditSiteStatusCbx" class="cmdEditSiteStatusCbx" href="javascript:;">edit</a>)</span>
            <select style="display: none;width: 120px;" id="cbxSiteStatus" name="cbxSiteStatus">
                <?php
                if (!empty($this->SiteStatusList)) {
                    foreach ($this->SiteStatusList as $key => $value) {
                        ?>
                        <option <?= $this->siteInfo["Status_ID"] == $key ? "selected" : "" ?> value="<?= $key ?>"><?= $value ?></option>    
                        <?php
                    }
                }
                ?>
            </select>   
        </td>
        <td style="padding-top: 6px;padding-bottom: 6px;padding-right: 6px;" align="right">
<!--            <input type="button" id="cmdButtonEditSiteStatusCbx"  value="Edit Site Status" class="link_button_sm cmdEditSiteStatusCbx" />-->
            &nbsp;
            <input type="button" id="cmdAddSiteStatus" value="Add WIN-Tag" class="link_button_sm" WinNum="<?php echo $wo->WIN_NUM ?>" />
            &nbsp;
            <input type="button" id="cmdDownloadSiteStatus" value="&nbsp;&nbsp;SLA Report" class="link_button download_button" />
        </td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 1px solid #F69630;">
                <div id="divSiteStatusContent" style="overflow-x: hidden;overflow-y: auto;width: 100%;">
                    <table class="gradBox_table_inner"  width="100%" style="border: 1px solid black;margin-bottom: 10px;">
                        <tbody>
                            <tr style="background-color: #0070C0;color: white;" class="table_head">
                                <th >
                                    WIN#
                                </th>
                                <th>
                                    Date Added
                                </th>
                                <th>
                                    WIN-Tag
                                </th>
                                <th>
                                    Owner
                                </th>
                                <th>
                                    Details
                                </th>
                                 <!-- 13843-->
                                <th>
                                    Notes
                                </th>
                                <th>
                                    Billable
                                </th>
                               
                                <th>
                                    Edit
                                </th>
                            </tr>
                            <?php
                            if (count($this->CSWinTagsInSiteOfProject) > 0) {
                                ?>
                                <?php
                                $Company_ID = $wo->Company_ID; //(!empty($_SESSION['Company_ID']) ) ? $_SESSION['Company_ID'] : NULL;
                                $tr = 1;
                                foreach ($this->CSWinTagsInSiteOfProject as $CSWinTags) {
                                    $value_id = $CSWinTags['value_id'];
                                   
                                    ?>
                                    <tr class="<?= ($tr % 2) ? 'border_td odd_tr' : 'border_td even_tr' ?>"> 
                                        <td>
                                            <span class="classTextShow">
                                                <a class="wosDetails" href="wosDetails.php?v=<?= $Company_ID ?>&id=<?= $CSWinTags['WIN_NUM'] ?>" target="_blank"><?= $CSWinTags['WIN_NUM'] ?></a>
                                            </span>
                                            <span class="openWintagFromSiteStatus" WIN_NUM="<?= $CSWinTags['WIN_NUM'] ?>">
                                                <?
                                                $WinTagStatus = $WoTagClass->getWinTagStatusForWin($CSWinTags['WIN_NUM']);
                                                if($WinTagStatus=='Complete')
                                                {
                                                    $imgsrc = "/widgets/images/CompleteWinTag.png";
                                                }
                                                else if($WinTagStatus=='Incomplete')
                                                {
                                                    $imgsrc = "/widgets/images/InCompleteWinTag.png";
                                                }
                                                 //13890
                                                else if($WinTagStatus=='Rescheduled' || $WinTagStatus=='Scheduled')
                                                {
                                                    $imgsrc="/widgets/images/WINorange.png";
                                                }
                                                else if($WinTagStatus=='Cancelled')
                                                {
                                                    $imgsrc="/widgets/images/CancelWinTag.png";
                                                }else
                                                {
                                                    $imgsrc="/widgets/images/WinTags.png";
                                                }
                                                // End 13890
												if($CSWinTags['item_sortdesc']=='Cancelled'){
													$item_sortdesc = ' Site Cancelled ';
												}else
													$item_sortdesc = $CSWinTags['item_sortdesc'];
                                                ?>
                                                <img style="cursor:pointer;" height="13px" alt="" title="WIN-Tags Performance Report" src="<?=$imgsrc?>">
                                            </span>
                                            <select style="width:75px;display: none;"  class="classWin" name="WIN_<?= $CSWinTags['wo_tag_item_value_id'] ?>">
                                                <?php
                                                $wo_tag_item_value_id = $CSWinTags['wo_tag_item_value_id'];
                                                if (!empty($this->WinNumArray_InSiteOfProject)) {
                                                    foreach ($this->WinNumArray_InSiteOfProject as $key => $value) {
                                                        echo "<option ".($value==$CSWinTags['WIN_NUM']?"selected":"")." value='$value'>$value</option>";
                                                    }
                                                }
                                                ?>
                                            </select>
                                            <input type="hidden" value="<?= $CSWinTags['WIN_NUM'] ?>" class="classHiddenWin" />
                                            <input type="hidden" value="<?= $CSWinTags['wo_tag_item_value_id'] ?>" name="woTagItemValueID[]" />
                                        </td>
                                        <td>
                                            <span class="classTextShow"><?= !empty($CSWinTags['DateAdded']) ? date_format(new DateTime($CSWinTags['DateAdded']), "m/d/Y h:i a") : "" ?> CST</span>
                                            <input type="text" style="display: none;width: 85px;margin-top: 0px;" value="<?= !empty($CSWinTags['DateAdded']) ? date_format(new DateTime($CSWinTags['DateAdded']), "m/d/Y h:i a") : "" ?>"  name="Date_<?= $CSWinTags['wo_tag_item_value_id'] ?>" class="classDate calendarInput" />
                                            <input type="hidden" value="<?= !empty($CSWinTags['DateAdded']) ? date_format(new DateTime($CSWinTags['DateAdded']), "m/d/Y h:i a") : "" ?>" class="classHiddenDate" />
                                        </td>
                                        <td><!-- 13843 -->
                                            <span class="classTextShow"><?= $item_sortdesc ?></span>
                                            <select  style="display: none;width: 100%;" class="classTags" name="Tags_<?= $CSWinTags['wo_tag_item_value_id'] ?>">
                                                <?php
                                                if (!empty($this->CompletionStatusTagList)) {
                                                    foreach ($this->CompletionStatusTagList as $item) {
                                                        ?>
                                                        <option <?= $item["wo_tag_item_id"]==$CSWinTags['wo_tag_item_id']?"selected":"" ?> value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </select>
                                            <input type="hidden" value="<?= $CSWinTags['wo_tag_item_id'] ?>" class="classHiddenTags" />
                                        </td>
                                        <td>
                                            <span class="classTextShow"><?= $CSWinTags['item_owner'] ?></span>
                                        </td>
                                        <td>
                                            <span class="classTextShow"><?= $CSWinTags['item_details'] ?></span>
                                        </td>
                                         <!-- 13843-->
                                         <td width="100px">
                                            <span class="classTextShow"><?= $CSWinTags['notes'] ?></span>
                                        </td>
                                        <td>
                                            <span class="classTextShow"><?= $value_id == 2 ? "Billable" : "No" ?></span>
                                            <select style="display: none;" class="classInvoiceable" name="Invoiceable_<?= $wo_tag_item_value_id ?>">
                                                <option <?= $value_id==2?"selected":"" ?> value="2">Billable</option>
                                                <option <?= $value_id==1?"selected":"" ?> value="1">Not Billable</option>
                                                
                                            </select>
                                            <input type="hidden" value="<?= $value_id ?>" class="classHiddenInvoiceable" />
                                        </td>
                                       
                                        <td align="center">
                                            <?php if($CSWinTags['wo_tag_item_id'] != 42) { ?>
                                            <a class="editItemSiteStatus" style="text-decoration: underline;" href="javascript:;" WinNum="<?php echo $wo->WIN_NUM ?>"><span style="color: black;">(</span>edit<span style="color: black;">)</span></a>
                                            <a class="cancelEditItemSiteStatus cancelEditItemSiteStatusV2" style="text-decoration: underline;display: none;" href="javascript:;"><span style="color: black;">(</span>cancel<span style="color: black;">)</span></a>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <?php ++$tr; ?>

                                <?php }
                                ?>
                                <?php
                            } else {
                                ?>
                                <tr>
                                    <td id="Notrecordsdisplay" colspan="8"><!-- 13853-->
                                        There are no WIN-Tags associated with Site #&nbsp;<?= $this->escape($wo->SiteNumber)?>.<!-- 13853-->
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div id="divSave" style="text-align: center;height: 30px;position: absolute;bottom: 0px;width: 100%;display: none;">
        <input type="button" id="cmdCancelSiteStatus" value="Cancel" class="link_button_sm" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" id="cmdSaveSiteStatus" value="Save" class="link_button_sm" />
    </div>
    <input type="hidden" name="por" value="1"/>
</form>

<table id="contentAddSiteStatus" style="display: none;">
    <tbody>
        <tr class="_CLASS_"> 
            <td>
                <select style="width:75px;"  class="classWin" name="WINNew__wo_tag_item_value_id_">
                    <?php
                    if (!empty($this->WinNumArray_InSiteOfProject)) {
                        foreach ($this->WinNumArray_InSiteOfProject as $key => $value) {
                            echo "<option ".($value==$wo->WIN_NUM?"selected":"")." value='$value'>$value</option>";
                        }
                    }
                    ?>
                </select>
                <input type="hidden" value="_wo_tag_item_value_id_" name="woTagItemValueIDNew[]" />
            </td>
            <td>
                <input type="text" style="width: 85px;margin-top: 0px;" value="<?= date("m/d/Y") ?>" name="DateNew__wo_tag_item_value_id_"  class="classDate calendarInput" />
            </td>
            <td>
                <select  style="width: 100%;" class="classTags" name="TagsNew__wo_tag_item_value_id_">
                    <?php
                    if (!empty($this->CompletionStatusTagList)) {
                        foreach ($this->CompletionStatusTagList as $item) {
                            ?>
                            <option  value="<?= $item["wo_tag_item_id"] ?>"><?= $item["wo_tag_item_name"] ?></option>
                            <?php
                        }
                    }
                    ?>
                </select>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <span style="display: none;" class="classTextShow">No</span>
                <select  class="classInvoiceable" name="InvoiceableNew__wo_tag_item_value_id_">
                    <option selected="selected" value="2">Billable</option>
                    <option  value="1">Not Billable</option>
                </select>
            </td>
            <td align="center">
                &nbsp;<div class="cancelEditItemSiteStatusV2"></div>
            </td>
        </tr>
    </tbody>
</table>
<div id="htmlDownloadSiteStatus" style="display: none;">
    <iframe id="ifrmDownloadSiteStatus" name="ifrmDownloadSiteStatus" style="height: 0px;width:0px;"></iframe>
    <form method="post" enctype="multipart/form-data" target="ifrmDownloadSiteStatus" id="frmDownload"  name="frmDownload"
                      action="/widgets/dashboard/reports/download-site-status" >
        <!--896-->
        <div style="padding-left: 10px;">
            <div><input checked="true" value="1" chekced type='radio' name='downloadSiteStatus' />&nbsp;SLA Status Report &ndash; Site #[<?= $this->escape($wo->SiteNumber) ?>]</div>
            <div><input value="2" type='radio' name='downloadSiteStatus' />&nbsp;SLA Status Report</div>
            <div><input value="3" type='radio' name='downloadSiteStatus' />&nbsp;Site Status Report</div>
        </div>
        <!--end 896-->
        <div style="padding-top: 4px;text-align: center;">
            <input type="button"  class="link_button_popup cmdCancelDownloadSiteStatus" value="Cancel">
            &nbsp;
            <input type="submit" class="link_button download_button" value="Download">
            <input type="hidden" name="Project_ID" value="<?= $wo->Project_ID ?>" />
            <input type="hidden" name="SiteNumber" value="<?= $wo->SiteNumber ?>" />
        </div>
    </form>
</div>