<form name="filterForm" id="filterForm" method="get" action="/">
<div style="text-align:center;">
    <input type="reset" class="link_button_popup" onclick="$('#' + roll.container().id + ' #filterForm')[0].reset(); if ( $.browser.msie ) { wd.resetFormIE(roll); }" value="Reset" />
    <input type="button" class="link_button_popup" onclick="roll.hide(); FSWidget.filterActivate(false);" value="Cancel" />
    <input type="button" class="link_button_popup" onclick="wd.applyFilters(roll);" value="Ok" />
</div>
<div class="filter_popup">
<table width="100%">
<col width="20%" />
<col width="*" />
    <tr>
        <td class="tRight">Date Range</td>
        <td>
        <input type="text" class="cursorPionter" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterStartDate" id="filterStartDate" />
        and
        <input type="text" class="cursorPionter" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterEndDate" id="filterEndDate" />
        <span class="ajaxLink leftPad" onclick="$('#filterStartDate,#filterEndDate').val('')">ALL</span></td>
    </tr>
    <tr>
        <td class="tRight">By Distance</td>
        <td>
        <select name="Distance" id="Distance">
        <option value=""></option>
        <option value="10">10 miles</option>
        <option value="25">25 miles</option>
        <option value="50">50 miles</option>
        <option value="75">75 miles</option>
        <option value="100">100 miles</option>
        <option value="150">150 miles</option>
        <option value="250">250 miles</option>
        <option value="500">500 miles</option>
        </select>
         </td>
    </tr>
    <tr>
        <td class="tRight">By State</td>
        <td>
            <select name="filterState" id="filterState">
                <option value="">Select State</option>
                <?php foreach ($this->states as $ab => $st): ?>
                    <option value="<?=$ab?>"><?=$st?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tRight">By Country</td>
        <td>
            <select name="filterCountry" id="filterCountry" class="filterCountry" onchange="wd.onChangeCountry()">
                <option value="">Select Country</option>
                <?php foreach ($this->countries as $country): ?>
                    <option value="<?=$country->Code?>"><?=$country->Name?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tRight">Zip </td><td><input type="text" size="5" value="" name="filterZip" id="filterZip" /></td>
    </tr>
	<tr>
        <td colspan="2"></td>
	</tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <select name="filterCallType" id="filterCallType">
                <option value="none">Select Call Type</option>
                <?php foreach ($this->callTypes as $key => $val):?>
                    <option value="<?=$key?>"><?=$val?></option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
</table>
</div>
</form>