<script type="text/javascript" >
    data = { 
        'tech_ID' : '<?= $this->Tech_ID ?>', 'date' : '<?= $this->date ?>', 'date_interval' : '<?= $this->date_interval ?>',
        display_date : <?= $this->display_date ?>, display_time : <?= $this->display_time ?>, display_calendar : <?= $this->display_calendar ?>
    }

    $('#SortWOALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'wo', 'sort_dir' : 'asc'})});
    });
    $('#SortWODLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'wo', 'sort_dir' : 'desc'})});
    });

    $('#SortStartTimeALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'starttime', 'sort_dir' : 'asc'})});
    });
    $('#SortStartTimeDLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'starttime', 'sort_dir' : 'desc'})});
    });

    $('#SortEndTimeALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'endtime', 'sort_dir' : 'asc'})});
    });
    $('#SortEndTimeDLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'endtime', 'sort_dir' : 'desc'})});
    });

    $('#SortLocationALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'wo', 'sort_dir' : 'asc'})});
    });
    $('#SortLocationDLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'location', 'sort_dir' : 'desc'})});
    });

    $('#SortZipALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'zip', 'sort_dir' : 'asc'})});
    });
    $('#SortZipDLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'zip', 'sort_dir' : 'desc'})});
    });

    $('#SortStatusALnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'status', 'sort_dir' : 'asc'})});
    });
    $('#SortStatusDLnk').bind('click', function(event){
        schedule.show(this, event, {data: jQuery.extend(data, {'sort' : 'status', 'sort_dir' : 'desc'})});
    });
    $(function(){
        $('#curDate').calendar({dateFormat:'YMD-', clearText:'', onSelect: function(dateStr){
            $('#curDate').val(dateStr);
            request_data = jQuery.extend(data, {sort : '<?= $this->sort ?>', sort_dir : '<?= $this->sort_dir ?>'});
            request_data.date = dateStr;
            schedule.show(null, null, {data: request_data});
        }});
        $('#ChangeDateCalLnk').bind('click', function(event){
            p = $(this).position();
            $('#curDate').focus();
            $('#calendar_div').css('top', parseInt($(schedule.container()).css('top')) + p.top + 'px');
            $('#calendar_div').css('left', parseInt($(schedule.container()).css('left')) + p.left + 'px');
            $('#calendar_div').css('position', 'fixed');


        });
        $('#PrintScheduleLnk').bind('click', function(){
            schedule.showPrint();
        })
    })
</script>
<?php if (!$this->date) : ?>
    <h1>Tech Schedule</h1>
<?php else : ?>
    <?php if ( $this->dateFrom->equals($this->dateTo, Zend_Date::DATE_MEDIUM) ) : ?>
        <h1>Tech Schedule for <?= $this->dateFrom->toString('MM/dd/yyyy') ?></h1>
    <?php else : ?>
        <?php if ($this->date_interval && $this->date_interval != 'all') : ?>
            <h1>Tech Schedule for <?= $this->dateFrom->toString('MM/dd/yyyy') ?> - <?= $this->dateTo->toString('MM/dd/yyyy') ?></h1>
        <?php else : ?>
            <h1>Tech Schedule from <?= $this->dateFrom->toString('MM/dd/yyyy') ?></h1>
        <?php endif; ?>
        
    <?php endif; ?>
<?php endif; ?>

<div style="float:left;">
<?php if ($this->display_calendar) : ?><a href="javascript:void(0);" id="ChangeDateCalLnk">Change Date</a><?php endif; ?>
</div>
<input type="hidden" name="curDate" id="curDate" value="<?php if ($this->date) : ?><?= $this->dateFrom->toString('yyyy-MM-dd') ?><?php else : ?><?= $this->dateNow->toString('yyyy-MM-dd') ?><?php endif; ?>">
<input type="hidden" name="curDateFrom" id="curDateFrom" value="<?= $this->dateFrom->toString('yyyy-MM-dd') ?>">
<input type="hidden" name="curDateTo" id="curDateTo" value="<?= $this->dateTo->toString('yyyy-MM-dd') ?>">

<div style="float:right;">
    <a href="javascript:void(0);" id="PrintScheduleLnk">Print this page</a>
</div>
<div style="clear:both;"></div>

<div style="overflow-y: auto; overflow-x:hidden; height: 338px;" id="mainScheduleContent">
    <table width="100%">
        <col width="" />
        <col width="" />
        <col width="" />
        <col width="" />
        <col width="" />
        <tr>
            <td>
                Work Order
                <a href="javascript:void(0)" id="SortWOALnk">asc</a>
                <a href="javascript:void(0)" id="SortWODLnk">desc</a>
            </td>
            <td colspan="<?=(int)$this->display_date + (int)$this->display_time;?>">
                Start <?php if ($this->display_date) : ?>Date/<?php endif; ?>Time
                <a href="javascript:void(0)" id="SortStartTimeALnk">asc</a>
                <a href="javascript:void(0)" id="SortStartTimeDLnk">desc</a>
            </td>
            <td colspan="<?=(int)$this->display_date + (int)$this->display_time;?>">
                End <?php if ($this->display_date) : ?>Date/<?php endif; ?>Time
                <a href="javascript:void(0)" id="SortEndTimeALnk">asc</a> 
                <a href="javascript:void(0)" id="SortEndTimeDLnk">desc</a>
            </td>
            <td>
                City/State
                <a href="javascript:void(0)" id="SortLocationALnk">asc</a>
                <a href="javascript:void(0)" id="SortLocationDLnk">desc</a>
            </td>
            <td>
                Zip
                <a href="javascript:void(0)" id="SortZipALnk">asc</a> 
                <a href="javascript:void(0)" id="SortZipDLnk">desc</a>
            </td>
            <?php /* Removed. 
            #12587. Remove the Applied count/header as this cannot be done until we move bids off of Caspio.
            
            <td>
                Assigned/Applied
                <a href="javascript:void(0)" id="SortStatusALnk">asc</a> 
                <a href="javascript:void(0)" id="SortStatusDLnk">desc</a>
            </td>
            */
            ?>
        </tr>
        <?php if ( $this->wos && sizeof($this->wos) != 0 ) : ?>
        <?php foreach ( $this->wos as $wo ) : ?>
        <tr>
            <td><?= $this->escape($wo->WIN_NUM) ?>:<?= $this->escape($wo->Headline) ?></td>
            
            <?php if ($this->display_date) : ?><td><?= $this->displayDate('n/j/Y', $wo->StartDate) ?></td><?php endif; ?>
            <?php if ($this->display_time) : ?><td><?= $this->displayDate('g:i a', $wo->StartTime) ?></td><?php endif; ?>

            
            <?php if ($this->display_date) : ?><td><?php echo $this->displayDate('n/j/Y', $wo->EndDate) ?></td><?php endif; ?>
            <?php if ($this->display_time) : ?><td><?= $this->displayDate('g:i a', $wo->EndTime) ?></td><?php endif; ?>
            <td>
                <?php if ($wo->City && $wo->State) : ?>
                    <?= $this->escape($wo->City) ?>/<?= $this->escape($wo->State) ?>
                <?php elseif( $wo->City) : ?>
                    <?= $this->escape($wo->City) ?>
                <?php elseif( $wo->State) : ?>
                    <?= $this->escape($wo->State) ?>
                <?php endif; ?>
            </td>
            <td><?= $this->escape($wo->Zipcode) ?></td>
<?php /* Removed. 
            #12587. Remove the Applied count/header as this cannot be done until we move bids off of Caspio.
            
            <td>
                <?php if ( $wo->Status == 'assigned') : ?>Assigned 
                <?php else : ?>Assigned
                <?php endif; ?>
            </td>
            */?>
        </tr>
        <?php endforeach; ?>
        <?php else : ?>
        <tr>
            <td colspan="6" style="padding: 30px 0px; text-align: center;"><b>There aren't records to display</b></td>
        </tr>
        <?php endif; ?>
    </table>
    <script type='text/javascript'>function printPage(){print();}</script>
</div>

    <?php
    if ( $this->wos && sizeof($this->wos) != 0 ) {
        ?>
 <table id="AcivitiLogUserTN" style="background-color: #6699CC;margin-bottom: 5px;" width="100%">
        <tr class="paginator">
            <td colspan="3" class="tCenter" id="paginatorContainer">
                <?= $this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxSchedule.phtml', array()) ?>
            </td>
        </tr>
        <script type="text/javascript">
            $(document).ready( function() {
                $("#toppaginatorContainer").html('<?= str_replace("\n", '', addcslashes($this->paginationControl($this->paginator, 'Sliding', 'paginatorAjaxSchedule.phtml', array()), "'")) ?>');
            });
        </script>
     </table>  
    <?php 
    
    } ?>

<iframe id="printScheduleContent" style="visibility:hidden; width:1px; height:1px">
    <body>
        <div id="printScheduleContentScript"><script type='text/javascript'>function printPage(){print();}</script></div>
        <div id="printScheduleContentHTML"></div>
    </body>
</iframe>
<script>

       function showTechSchedPage(event){
                    var page = jQuery(event).attr('page');
                    if(typeof(page) == 'undefined') page = 1;
                    var sort = '<?= $this->sort ?>'; 
                    var sort_dir  = '<?= $this->sort_dir ?>';
                    schedule.show($(this), event, {data:{
                    'tech_ID' : '<?= $this->Tech_ID ?>',
                    'date' : '',
                    'date_interval' : 'all',
                    'display_calendar' : 1,
                    'display_date' : 1,
                    'sort' : sort,
                    'sort_dir' : sort_dir,
                    'page' : page
                    }});
              } 

</script>
