<?php
    $wo = $this->wo;
	//14039
    $visits  = $this->viewtype;
    $woVisit = $this->woVisit; 
	//End 14039
    $tech = $this->tech;
    $woAddress  = ( '' != trim($wo->Address) ) ? trim($wo->Address).', ' : '';
    $woAddress .= ( '' != trim($wo->City) ) ? trim($wo->City).', ' : '';
    $woAddress .= ( '' != trim($wo->State) ) ? trim($wo->State) . ' ' . trim($wo->Zipcode) : '';
    $woAddress  = urlencode(trim(trim($woAddress, ', ') . ', United States', ', '));
    $techAddress  = ( '' != trim($tech->Address1) ) ? trim($tech->Address1).', ' : '';
    $techAddress .= ( '' != trim($tech->City) ) ? trim($tech->City).', ' : '';
    $techAddress .= ( '' != trim($tech->State) ) ? trim($tech->State) . ' ' . trim($tech->Zipcode) : '';
    $techAddress  = urlencode(trim(trim($techAddress, ', ') . ', United States', ', '));
  //14039
?>
<?php 
if(!$visits=='visits'){ 
//End 14039
?>
<label style="color: #5091CB;"><strong>Site information</strong></label>
<table width="100%">
    <col width="40%" />
    <col width="60%" />
    <?php if($wo->Status != "published"): ?>
         <?php if($wo->Status!='available') :?>
         <tr>
            <td>Site Name</td>
            <td><?= $wo->SiteName?></td>
         </tr>
         <tr>
             <td>Site Address</td>
             <td><?= $wo->Address?></td>
         </tr>
         <?php endif;?>
         <tr>
            <td>City, State,Zip</td>
            <td>
               <a href="http://maps.google.com/?daddr=<?=$woAddress?>" target="_blank" class="ajaxLink">View Map</a> |
               <a href="http://maps.google.com/?saddr=<?=$techAddress?>&daddr=<?=$woAddress?>" target="_blank" class="ajaxLink">Driving Directions</a>
            </td>
         </tr>
         <?php if($wo->Status!='available') :?>
         <tr>
            <td>Site Phone: <?= $wo->SitePhone?></td>
            <td>Site Fax: <?= $wo->SiteFax?></td>
         </tr>
         <tr>
            <td>Site Email: </td>
            <td><?= $wo->SiteEmail?></td>
         </tr>
         <tr>
            <td>Site Contact Name: </td>
            <td><?= $wo->Site_Contact_Name?></td>
         </tr>
         <?php endif;?>
      <?php else: ?>
         <tr>
      <td><?php echo $wo->City.",".$wo->State." ".$wo->Zipcode; ?></td>
         </tr>
      <?php endif; ?>
</table>
</br>
<label style="color: #5091CB;"><strong>Assigment Dates/Times</strong></label>
<table width="100%">
    <col width="40%" />
    <col width="60%" />
    <tr>
        <td>Work Start: <?=$this->displayDate('n/j/Y', $wo->StartDate);?> <?=$this->displayDate('H:i:s A',$wo->StartTime);?></td>
        <td>Work End: <?=$this->displayDate('n/j/Y', $wo->EndDate);?> <?=$this->displayDate('H:i:s A',$wo->EndTime);?></td>
    </tr>
    <tr>
        <td>Duration: </td>
        <td><?= $wo->Duration?></td>
    </tr>
</table>
<?php
//14039
 }else{ 
?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="50%" />
    <col width="50%" />
    <tr>
        <td>Work Start Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $woVisit["StartDate"])?></td>
    </tr>
    <tr>
        <td>Start Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $woVisit["StartTime"])?></td>
    </tr>
    <tr>
        <td>Work End Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y', $woVisit["EndDate"])?></td>
    </tr>
    <tr>
        <td>End Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A', $woVisit["EndTime"])?></td>
    </tr>
    <!--817-->
    <tr>
        <td>Scheduled Duration:</td>
        <td>&#160;<?=sprintf('%.2f', $woVisit["Duration"]+0)?> Hour<?=($woVisit["Duration"]+0 > 1)?'s':''?></td>
    </tr>
    <!--end 817-->
    <tr>
        <td>Check In Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y',$woVisit["Date_In"])?></td>
    </tr>
    <tr>
        <td>Check In Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A',$woVisit["Time_In"])?></td>
    </tr>
    <tr>
        <td>Check Out Date:</td>
        <td>&#160;<?=$this->displayDate('n/j/Y',$woVisit["Date_Out"])?></td>
    </tr>
    <tr>
        <td>Check Out Time:</td>
        <td>&#160;<?=$this->displayDate('g:i A',$woVisit["Time_Out"])?></td>
    </tr>
    <!--817-->
    <tr>
        <td>Actual Duration:</td>
        <td>&#160;<?=sprintf('%.2f', $wo->calculatedTechHrs+0)?> Hour<?=($wo->calculatedTechHrs+0 > 1)? "s" : ""?></td>
    </tr>
    <!--end 817-->
</table>


<?php 
//End 14039
}
?>