<form name="fWOrdForm" id="fWOrdForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="fWOrdCompanyId" id="fWOrdCompanyId" />
<div class="tCenter" id="fWOrdMessage"></div>
<table class="fWOrd_popup" width="100%">
    <col width="45%" />
    <col width="*" />
    <tbody>
        <tr>
            <td class="tRight">Bid Date (>=)</td>
            <td><input class="inputtext" type="text" name="BidDateGT" id="BidDateGT" /></td>
        </tr>
        <tr>
            <td class="tRight">Bid Date (<=)</td>
            <td><input class="inputtext" type="text" name="BidDateLT" id="BidDateLT" /></td>
        </tr>
        <tr>
            <td class="tRight">Start Date (>=)</td>
            <td><input class="inputtext" type="text" name="StartDateGT" id="StartDateGT" /></td>
        </tr>
        <tr>
            <td class="tRight">Start Date (<=)</td>
            <td><input class="inputtext" type="text" name="StartDateLT" id="StartDateLT" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2" style="padding: 0;">
                <input type="button" class="link_button_popup" onclick="widgetAppliedWork.hide();" value="Cancel" />
                <input type="button" class="link_button_popup" onclick="widgetAppliedWork.doFind()" value="Search" />
            </td>
        </tr>
    </tbody>
</table>
</form>
<script type="text/javascript">
$(function(){
	$('#BidDateGT').calendar({dateFormat: 'MDY/'});
	$('#BidDateLT').calendar({dateFormat: 'MDY/'});
	$('#StartDateGT').calendar({dateFormat: 'MDY/'});
	$('#StartDateLT').calendar({dateFormat: 'MDY/'});

    $('#BidDateGT').unbind('click').bind('click', function(event){
        p = $(this).position();
        $('#calendar_div').css('top', p.top + 'px');
        $('#calendar_div').css('left', p.left + 'px');
        $('#calendar_div').css('position', 'fixed');
    });
})
</script>
