<?php $tech = $this->tech->data[0]; ?>
<?php if ( $this->tech->success  ): ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="40%" />
    <col width="60%" />

    <tr>
        <td>Tech Name:</td>
        <td><?=$tech->Firstname.' '.$tech->Lastname?></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><?= $tech->Address1 ?></td>
    </tr>
    <?php if ($tech->Address2):?>
    <tr>
        <td>&#160;</td>
        <td><?= $tech->Address2 ?></td>
    </tr>
    <?php endif; ?>
    <?php if ( $tech->City || $tech->State || $tech->Zipcode ):?>
    <tr>
        <td>&#160;</td>
        <td><?=$tech->City.' '.$tech->State.' '.$tech->Zipcode?></td>
    </tr>
    <?php endif; ?>
    <?php if ( $tech->PrimaryPhone ):?>
    <tr>
        <td>Primary Phone:</td>
        <td>
        <?=$tech->PrimaryPhone?>
        <?php if($tech->PrimaryPhoneStatus == "1" && trim($tech->PrimaryPhone) != "") { ?>
        <img align="absmiddle" src="<?= $tech->PrimaryPhoneStatus == "1"?
            "/widgets/images/ico_phonex16.png"
            :"/widgets/images/ico_Notphonex16.png" ?>"
            title="<?= $tech->PrimaryPhoneStatus == "1"?
            "Click to notify ".$tech->Firstname.' '.$tech->Lastname." that this Phone # is Invalid"
            :"Invalid Phone # Reported" ?>"
            <?php if($tech->PrimaryPhoneStatus == "1") { ?>
                onclick="javascript:detailObject.onInit.RequitePhoneClick(this,'<?= $tech->TechID ?>' 
                    , 1,'<?=  base64_encode($tech->Firstname.' '.$tech->Lastname)?>'
                    ,'<?= $tech->PrimaryPhone ?>');" 
            <?php } ?>
            />
        <?php }  ?>
        </td>
    </tr>
    <?php endif;?>
    <?php if ( $tech->SecondaryPhone ):?>
    <tr>
        <td>Secondary Phone:</td>
        <td>
            <?=$tech->SecondaryPhone?>
            <?php if($tech->SecondaryPhoneStatus == "1" && trim($tech->SecondaryPhone) != "") { ?>
            <img align="absmiddle" src="<?= $tech->SecondaryPhoneStatus == "1"?
                "/widgets/images/ico_phonex16.png"
                :"/widgets/images/ico_Notphonex16.png" ?>"
                title="<?= $tech->SecondaryPhoneStatus == "1"?
                "Click to notify ".$tech->Firstname.' '.$tech->Lastname." that this Phone # is Invalid"
                :"Invalid Phone # Reported" ?>"
                <?php if($tech->SecondaryPhoneStatus == "1") { ?>
                    onclick="javascript:detailObject.onInit.RequitePhoneClick(this,
                        '<?= $tech->TechID ?>' , 
                        2,'<?=base64_encode($tech->Firstname.' '.$tech->Lastname)?>','<?= $tech->SecondaryPhone ?>');"
                <?php }  ?>
                 />
            <?php }  ?>
        </td>
    </tr>
    <?php endif;?>
    <?php if ( $tech->PrimaryEmail ):?>
    <tr>
        <td>Primary Email:</td>
        <td><a class="ajaxLink" href="mailto:<?=trim($tech->PrimaryEmail)?>"><?=$tech->PrimaryEmail?></a></td>
    </tr>
    <?php endif;?>
    <?php if ( $tech->SecondaryEmail ):?>
    <tr>
        <td>Secondary Email:</td>
        <td><a class="ajaxLink" href="mailto:<?=trim($tech->SecondaryEmail)?>"><?=$tech->SecondaryEmail?></a></td>
    </tr>
    <?php endif;?>
</table>

<?php else : ?>
    <span>Tech Information not found</span>
<?php endif; ?>
