<?php 
$techs = $this->TechList;
$companyID = $this->CompanyID;
?>
<form name="techsiteForm" id="techsiteForm" method="get" action="/">
<table class="gradBox_table_inner" width="100%" id="tblsitetechs">
    <colgroup>
        <col width="10%" />
<?php if($companyID=='FLS') { ?>
        <col width="10%" />    
<?php }?>        
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="20%" />
        <col width="*" />
    </colgroup>
    <tr class="table_head">
        <th>FS Tech ID#</th>
<?php if($companyID=='FLS') { ?>
        <th>FLS ID#</th>    
<?php }?>        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Business Phone</th>
        <th>Email Address</th>
        <th>Remove Tech from Site</th>
    </tr>
    <?php 
    $rowID = 0;
    $trClass = "border_td odd_tr";
if(!empty($techs)) {
    foreach($techs as $tech) {
    ?>
    <tr id="trow<?=$rowID?>" class="<?=$trClass?>">
        <td><input type="text" id="techid_row<?=$rowID?>" rowid="<?=$rowID?>" name="techid[]" size="6" value="<?=$tech['techid']?>" onchange="techSiteWidget.techIDChange(this);"></td>
<?php if($companyID=='FLS') { ?>
        <td><input type="text" id="FLSID_row<?=$rowID?>" rowid="<?=$rowID?>" name='FLSID[]' size="6" value="<?=$tech['FLSID']?>" onchange="techSiteWidget.FLSIDChange(this);" ></td>
<?php }?>        
        
        <td><span id="FirstName_row<?=$rowID?>"><?=$tech['FirstName']?></span></td>
        <td><span id="LastName_row<?=$rowID?>"><?=$tech['LastName']?></span></td>
        <td><span id="PrimaryPhone_row<?=$rowID?>"><?=$tech['PrimaryPhone']?></span></td>
        <td><span id="PrimaryEmail_row<?=$rowID?>"><?=$tech['PrimaryEmail']?></span></td>
        <td><span id="spanDeleteSiteTech_row<?=$rowID?>"><a class="ajaxLink" onclick="techSiteWidget.removeRow(<?=$rowID?>);">Delete</a></span></td>      
    </tr>    
    <?php 
        $rowID++;
        $trClass = $trClass == "border_td odd_tr" ? "border_td even_tr":"border_td odd_tr";
    }  // end of for
} else { 
    ?>
    <tr id="trow<?=$rowID?>" class="<?=$trClass?>">
        <td><input type="text" id="techid_row<?=$rowID?>" rowid="<?=$rowID?>" name="techid[]" size="6" value="" onchange="techSiteWidget.techIDChange(this);"></td>
<?php if($companyID=='FLS') { ?>
        <td><input type="text" id="FLSID_row<?=$rowID?>" rowid="<?=$rowID?>" name='FLSID[]' size="6" value="" onchange="techSiteWidget.FLSIDChange(this);" ></td>
<?php }?>        
        
        <td><span id="FirstName_row<?=$rowID?>"></span></td>
        <td><span id="LastName_row<?=$rowID?>"></span></td>
        <td><span id="PrimaryPhone_row<?=$rowID?>"></span></td>
        <td><span id="PrimaryEmail_row<?=$rowID?>"></span></td>
        <td><span id="spanDeleteSiteTech_row<?=$rowID?>" style="display:none"><a class="ajaxLink" onclick="techSiteWidget.removeRow(<?=$rowID?>);">Delete</a></span></td>      
    </tr>        
    <?php
}
    ?>
</table>

<table class="gradBox_table_inner" width="100%" >
    <tr style="height:20px;"><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td width="40%" align="left">
            <a class="ajaxLink" onclick="techSiteWidget.addRow('<?=$companyID?>')">+ Add a Technician</a>
        </td>        
        <td width="60%" align="right">
            <input type="button" onclick="roll.hide();" class="link_button_popup" value="Cancel" />
            <?php if(!empty($this->ProjectID)) {?>
            <input type="button" value="Save" onclick="techSiteWidget.save();" class="link_button_popup" />
            <?php } else {?>
            <input type="button" value="Save" onclick="techSiteWidget.addtechs();" class="link_button_popup" />
            <?php }?>
        </td>
    </tr>
</table>
<input type="hidden" name="SiteNumber" value="<?=$this->SiteNumber?>" />
<input type="hidden" name="ProjectID" value="<?=$this->ProjectID?>" />
</form>