<form id="frmupdatepasswordsecurity" onsubmit="return false;">
    <style>
        ul{
            list-style: disc;
            margin-left: 35px;
        }
    </style>
    <div style="text-align:center;font-size: 15px;">FieldSolutions Password Update</div>
    <div style="padding:5px;padding-top:10px;">
        <?php if($this->loggedInAs == "client"){ ?>
        <div>For your security, and that of your company, FieldSolutions is now requiring periodic password updates.</div>
        <?php } else { ?>
        <div>For your own security, FieldSolutions is now requiring periodic password updates.</div>
        <?php }  ?>
        <div style="padding-top:10px;">Your new password must meet the following criteria:</div>
        <ul style="padding-top:10px;">
            <li>Must be different than your existing password</li>
            <li>Between 8-15 characters long
            </li>
            <li>Contain at least 1 upper case letter, 1 lowercase letter and 1 number
            </li>
            <li>Does not contain the text: 'password'
            </li>
            <li>Does not contain your first or last name
            </li>
            <li>Does not contain your username
            </li>
            <li>Special characters are allowed
            </li>
        </ul>
        <div style="padding-top: 13px;color: red;" id="divError">
          
        </div>
        <div style="">
            <span style="width: 130px;display: inline-block;">New Password:</span>
            <span><input type="password" id="password" name="password" /></span>
        </div>
        <div style="padding-top: 4px;">
            <span style="width: 130px;display: inline-block;">Confirm Password:</span>
            <span><input type="password" id="Confirmpassword" name="Confirmpassword" /></span>
        </div>
        <div style="padding-top: 8px;text-align:center;">
            <input type="button" name="cmdSubmitDPS" id="cmdSubmitDPS" value="Submit" class="link_button_popup" />
        </div>
    </div>
</form>