<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/admindashboard/iso/do-create/" onSubmit="return detailsWidget.validateCreateSubmit('admin',this);" method="post" id="CreateProjectForm" name="CreateForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
            <tr>
				<td class="label_field"><span class="required">*</span>Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Company_Name" name="CreateForm[Company_Name]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field">Client ID (If also a client)</td>
				<td>
					<select name="CreateForm[Client_ID]" id="Client_ID">
                        <option value="">Select Company</option>
                        <?php foreach ($this->companies as $company) : 
				if (empty($company->Company_ID)) continue;
			?>
                        <option title="<?= $company->CompanyName?>" value="<?= $company->Company_ID?>"><?= $company->CompanyName?></option>
                        <?php endforeach; ?>
                    </select>
				</td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Address_1" name="CreateForm[Address_1]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"></td>
				<td><input type="text" maxlength="255" class="input_text" id="Address_2" name="CreateForm[Address_2]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>City</td>
				<td><input type="text" maxlength="255" class="input_text" id="City" name="CreateForm[City]" value="" /></td>
			</tr>
            <tr>
                <td class="label_field"><span id="requiredState" class="required">*</span>State / Province</td>
                <td>
                    <select name="CreateForm[State]" id="State">
                        <option value="0">Select State</option>
                        <?php foreach ($this->states as $abbr=>$state) : ?>
                        <option title="<?= $state?>" value="<?= $abbr?>"><?= $state?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field"><span id="requiredZip" class="required">*</span>Zip / Postal Code</td>
				<td><input type="text" maxlength="255" class="input_text" id="Zip" name="CreateForm[Zip]" value="" /></td>
			</tr>			
            <tr>
                <td class="label_field"><span class="required">*</span>Country</td>
                <td>
                    <select name="CreateForm[Country]" id="Country" onchange="detailsWidget.onChangeCountry()">
                        <option value="0">Select Country</option>
                        <?php 
                        $dotline="----------------";
                        $icount=0;
                        foreach ($this->countries as $country){
                        ?>
                        <option title="<?= $country->Name?>" value="<?= $country->Code?>" <?=(($country->Code == 'US') ? "selected='selected'" : "")?>><?= $country->Name?></option>
                        <?php 
                            if($icount==2) {        
                                echo("<option value=\"\">$dotline</option>");        
                            }        
                            $icount = $icount+1;
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Name" name="CreateForm[Contact_Name]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span id="requiredPhone" class="required">*</span>Contact Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Phone" name="CreateForm[Contact_Phone]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Email" name="CreateForm[Contact_Email]" value="" /></td>
			</tr>
			<tr><td colspan='2'><hr/></td></tr>
            <tr>
				<td class="label_field">Website Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Website" name="CreateForm[Website]" value="" /></td>
			</tr>
            <tr>
				<td class="label_field" colspan='2'>Company Description</td>
			</tr>
            <tr>
				<td colspan='2'><textarea class="input_text" style="width: 95%" rows="4" id="Company_Desc" name="CreateForm[Company_Desc]"></textarea></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>