<div class="popup_form_holder">
    <form action="/admin/ISO_List.php" onSubmit="" method="post" id="CreateProjectForm" name="SearchForm" enctype="multipart/form-data">
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
			<tr>
				<td class="label_field">Company Name</td>
                <td>
                    <select name="SearchForm[Client_ID]" id="Client_ID">
                        <option value="">Select Company</option>
                        <?php foreach ($this->companies as $company) : ?>
                        <option title="<?= $company->CompanyName?>" value="<?= $company->Company_ID?>"><?= $company->CompanyName?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
			</tr>
            <tr>
				<td class="label_field">Contact Name (contains)</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Name" name="SearchForm[Contact_Name]" value="" /></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>