<div class="popup_form_holder">
    <div>
        <?=$this->formErrors($this->messages)?>
    </div>
    <form action="/widgets/admindashboard/iso/do-update/" onSubmit="return detailsWidget.validateCreateSubmit('admin',this);" method="post" id="CreateProjectForm" name="UpdateForm" enctype="multipart/form-data">
		<input type="hidden" id="UNID" name="UNID" value="<?= $this->iso->UNID?>"/>
		<table class="form_table" cellspacing="0">
			<col class="col1" />
			<col class="col2" />
			<tr>
				<td colspan="2"><a href="/admin/banking_ISO.php?v=<?= $this->iso->UNID?>">Banking Info</a></td>
			</tr>
			<tr>
				<td class="label_field">ISO ID</td>
				<td><?= $this->iso->UNID?></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Company Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Company_Name" name="UpdateForm[Company_Name]" value="<?= $this->iso->Company_Name?>" /></td>
			</tr>
            <tr>
				<td class="label_field">Client ID (If also a client)</td>
				<td>
					<select name="UpdateForm[Client_ID]" id="Client_ID">
                        <option value="">Select Company</option>
                        <?php foreach ($this->companies as $company) : 
				if (empty($company->Company_ID)) continue;
			?>
                        <option title="<?= $company->CompanyName?>" value="<?= $company->Company_ID?>" <?= ($this->iso->Client_ID == $company->Company_ID ? "selected='selected'" : "") ?>><?= $company->CompanyName?></option>
                        <?php endforeach; ?>
                    </select>
				</td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Address_1" name="UpdateForm[Address_1]" value="<?= $this->iso->Address_1?>" /></td>
			</tr>
            <tr>
				<td class="label_field"></td>
				<td><input type="text" maxlength="255" class="input_text" id="Address_2" name="UpdateForm[Address_2]" value="<?= $this->iso->Address_2?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>City</td>
				<td><input type="text" maxlength="255" class="input_text" id="City" name="UpdateForm[City]" value="<?= $this->iso->City?>" /></td>
			</tr>
            <tr>
                <td class="label_field"><span class="required">*</span>State / Province</td>
                <td>
                    <select name="UpdateForm[State]" id="State">
                        <option value="0">Select State</option>
                        <?php foreach ($this->states as $abbr=>$state) : ?>
                        <option title="<?= $state?>" value="<?= $abbr?>" <?= ($this->iso->State == $abbr || $this->iso->State == $state ? "selected='selected'" : "") ?>><?= $state?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field"><span  id="requiredZip" <?= !$this->isRequiredZip?"style='display:none;'":"" ?> class="required">*</span>Zip / Postal Code</td>
				<td><input type="text" maxlength="255" class="input_text" id="Zip" name="UpdateForm[Zip]" value="<?= $this->iso->Zip?>" /></td>
			</tr>			
            <tr>
                <td class="label_field"><span class="required">*</span>Country</td>
                <td>
                    <select name="UpdateForm[Country]" id="Country" onchange="detailsWidget.onChangeCountry()">
                        <option value="0">Select Country</option>
                        <?php 
                        $dotline="----------------";
                        $icount=0;
                        foreach ($this->countries as $country) {
                        ?>
                        <option title="<?= $country->Name?>" value="<?= $country->Code?>" <?=(($country->Code == $this->iso->Country) ? "selected='selected'" : "")?>><?= $country->Name?></option>
                        <?php 
                            if($icount==2) {        
                                echo("<option value=\"\">$dotline</option>");        
                            }        
                            $icount = $icount+1;
                        } 
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Name</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Name" name="UpdateForm[Contact_Name]" value="<?= $this->iso->Contact_Name?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span <?= !$this->isRequiredPhone?"style='display:none;'":"" ?> id="requiredPhone" class="required">*</span>Contact Phone</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Phone" name="UpdateForm[Contact_Phone]" value="<?= $this->iso->Contact_Phone?>" /></td>
			</tr>
            <tr>
				<td class="label_field"><span class="required">*</span>Contact Email</td>
				<td><input type="text" maxlength="255" class="input_text" id="Contact_Email" name="UpdateForm[Contact_Email]" value="<?= $this->iso->Contact_Email?>" /></td>
			</tr>
			<tr><td colspan='2'><hr/></td></tr>
            <tr>
				<td class="label_field">Website Address</td>
				<td><input type="text" maxlength="255" class="input_text" id="Website" name="UpdateForm[Website]" value="<?= $this->iso->Website?>" /></td>
			</tr>
            <tr>
				<td class="label_field" colspan='2'>Company Description</td>
			</tr>
            <tr>
				<td colspan='2'><textarea class="input_text" style="width: 95%" rows="4" id="Company_Desc" name="UpdateForm[Company_Desc]"><?= $this->iso->Company_Desc?></textarea></td>
			</tr>
            <tr align="center" style="background-color:#BACBDF;">
                <td colspan="2" style="border-top:2px solid #032D5F;"">
                    <input type="Submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</div>