	
#newsCenter{
		display: none;
}
	
.toolSubmit{
		background-color: #4790D4;
		color: #FFFFFF;
		width: 70px; 
		margin-top: 5px;
}
.toolSubmit:hover{
		font-weight: bold;
		text-decoration:underline;
		background-color: #032D5F;
		color: #FFFFFF;
		cursor: pointer;
}
	
.toolsRightContent div{
		line-height: 10px;
}
.right_col{
		float: none;
		width: auto;
		text-align: left;
		margin-left: 10px;
		margin-top: 25px;
}
.left_col{
		float: none;
		width: auto;
		text-align: left;
		margin-left: 10px;
		margin-top: 25px;
}
	#dashleftcontent {
		float:left;
		min-height: 100%; 
		height: 100%;
		background-color:#FFFFFF;
		display: none;
		font: 10px/10px Verdana,Arial,Helvetica,sans-serif;
		background: url("/widgets/images/border_right.png") no-repeat scroll right top transparent;
		padding-right: 16px;
		line-height: 15px;
	}

	#dashrightcontent {
		float:right;
		min-height: 100%; 
		height: 100%;
		background-color:#FFFFFF;
	    display: none;
	    font: 10px/10px Verdana,Arial,Helvetica,sans-serif;
	    text-align: left;
	    white-space:nowrap;
	    overflow:hidden;
	    background: url("/widgets/images/border_right.png") no-repeat scroll left top transparent;
	    padding-left: 16px;
		}
/*	#dashcentercontent{
		background-color:#FFFFFF;
		height: 100%;
		float:left;
		width:50%;
	}*/

	.use-sidebar-right .use-sidebar-left #dashcentercontent {
		white-space:nowrap;
		overflow: hidden;	
	}
	.use-sidebar-right #dashrightcontent {
	    display:inline-block;
	    width: 245px;
	    white-space:nowrap;
		overflow: hidden;
		margin-top: 10px;
	}
	
	.use-sidebar-left #dashleftcontent {
	    display: inline-block;
	    width: 245px;
	    white-space:nowrap;
		overflow: hidden;
	}

	
	.use-sidebar-right #separatorRight {
		margin-right: auto;
	    display: block;
	    outline: none;
	    width: 16px;
	    height: 16px;
	   	background: url('/widgets/images/arrows-right5.png');
	    border-color: #FFF;
	    margin-bottom: 10px;
	}
	
	.use-sidebar-left #separatorLeft {
	    display: block;
	    outline: none;
	    width: 16px;
	    height: 16px;
	   	background: url('/widgets/images/arrows-left5.png');
	    border-color: #FFF;
	    margin-left: auto;

	}
	
	 .sidebar-at-right #separatorRight {float: left;}
	 .sidebar-at-left #separatorLeft {float: left;}
	
	.sidebar-at-right #separatorRight{
		float: right;
	    display: block;
	    outline: none;
	    width: 16px;
	    height: 16px;
	   	background: url('/widgets/images/arrows-left5.png') no-repeat;
	   	/*margin-left: -200px;*/
	   	margin-top: 0px;
	
	  }
	  
	  .sidebar-at-left #separatorLeft{
		float: left;
	    display: block;
	    outline: none;
	    width: 16px;
	    height: 16px;
	   	background: url('/widgets/images/arrows-right5.png') no-repeat;
	   	margin-right: 2px;
	   	margin-top: 0px;
	  }
	 
	 #container #dashleftcontent{
		width:245px;
	 }
	 #container #dashrightcontent{
		width:245px;
		float:right;
		
	 }
	 #container #header{
		overflow:auto;
		width:55%;
		min-width: 610px;
		display: inline-block;
	 }
	 #projectSearch{
		width:100%;
	 }
	 #widgetContainer{
		width:100%;
		white-space:wrap;
		min-width:1100px;
	 }
	 #detailsContainer{
		overflow:auto;
		width:55%;
		float:left;
	 }
	 .heading{
		background: url("/widgets/images/triangle.gif") no-repeat scroll left 1px transparent;
    font-size: 13px;
    margin: 10px 0;
    padding: 0 0 0 20px;
	color: #595959;
	font-weight: bolder;
	}
	.toolsLeftContent{
		
		margin: 0px 0px 10px 10px;
		color:#10085a;
		
	}
	
	.toolsRightContent{
		
		margin: 10px 0px 10px 0px;
		text-align:left;
		color:#10085a;
		border-top: 1px #DDDDDD solid;
	}
	
	.toolSubmit{
		background-color: #4790D4;
		color: #FFFFFF;
		width: 70px; 
		margin-top: 5px;
	}
	.toolSubmit:hover{
		font-weight: bold;
		text-decoration:underline;
		background-color: #032D5F;
		color: #FFFFFF;
		cursor: pointer;
	}
	
	.toolsRightContent div{
		line-height: 1;
	}
	table tr.special td{
		border-top: 1px #DDDDDD solid;
	}
	#chevrons{
		width: 18%; 
		position:relative;
	}
	#separatorLeftInside{
		margin-top:20px;
	}
	#inner-main{
		min-width:755px;
		width:78%;
		display: inline-block;
		}
	#container{
		display:inline;
	}
/*	  a:hover{
	  	cursor: pointer; 
	  	cursor: hand;
	  }
 
	.newsBlurb{
		margin-top: 8px;
		margin-bottom: 8px;
		line-height: 1.5;
	}
	
	*/
	
	

