body {
	margin:0px auto; 
	padding:0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px;
	color:#333;
}
ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
a {color:#6699cc;}
img {border: none;}
h1, h2, h3, h4, h5 {margin: 0px;}
h3 {
	font-size: 14px;
	color:#000000;
}
h4 {
	font-size: 13px;
	color:#595959;
}
h5 {
	font-size: 12px;
	color:#000000;
}
form, input {
	margin:0; padding:0;
	font-family: Arial, Helvetica, sans-serif;
}
.floatLeft {float: left;}
.floatRight {float: right;}
.floatNone {float: none!important;}
.tleft {text-align:left !important;}
.tcenter {text-align:center !important;}
.tright {text-align:right !important;}
.tBold {font-weight: bold;}
.tNormal {font-weight: normal;}
.tItalic {font-style: italic;}
.noTDecor {text-decoration: none;}
.tUnderline {text-decoration: underline;}
.vTop, .vTop td {vertical-align:top!important;}

.body {
	padding: 0px 25px;
	zoom:1;
}
.body2 {
	min-width: 970px;
	width: expression(document.body.clientWidth < 1042? "970px" : document.body.clientWidth > 1362? "1300px" : "auto");
	max-width: 1300px;
	margin: 0px auto;
}

.dBlock {
	display:block;
}

.menuLink {color:#285ea6; text-decoration: underline;}

.tColor1 {color:#666666;}
.tColor2 {color:#595959;}
.tColor3 {color:#999999;}
.tColor4 {color:#ff2525;}
.tColor5 {color: #6699cc;}
.tColor6 {color: #2c4056;}
.smallText {
	font-size: 11px;
}
.bigText {
	font-size: 14px;
}
.spacer {
	font-size: 1px;
}
.clr {
	overflow: hidden;
	zoom: 1;
}

.errors {
	font-weight: bold;
	padding: 10px;
	color:#fe1a0f;
}

.formSaved {
	font-weight: bold;
	padding: 10px;
	color:#43943b;
}
.font1 {
	font-size: 15px;
	font-weight: bold;
	color:#20406b;
}

.inner5 {padding: 5px;}
.inner10 {padding: 10px;}
.inner100 {padding: 10px 0px;}
.innerBottom15 {padding-bottom: 15px;}
.innerBottom100 {padding-bottom: 100px!important;}
.innerTop70 {padding-top: 70px;}

.indentTop {margin-top: 0px !important;}
.indentRight {margin-right: 10px !important;}
.indentBottom {margin-bottom: 10px !important;}
.indentLeft {margin-left: 10px !important;}

.indentTopSmall {margin-top: 5px !important;}
.indentRightSmall {margin-right: 5px !important;}
.indentBottomSmall {margin-bottom: 5px !important;}
.indentLeftSmall {margin-left: 5px !important;}

.indentTopLarge
{
/*    458
    margin-top: 10px !important;*/
    width: 100%;
}
.indentRightLarge {margin-right: 20px !important;}
.indentBottomLarge {margin-bottom: 20px !important;*zoom:1;}
.indentLeftLarge {margin-left: 20px !important;}

.innerTop {padding-top: 10px !important;}
.innerRight {padding-right: 10px !important;}
.innerBottom {padding-bottom: 10px !important;}
.innerLeft {padding-left: 10px !important;}

.innerTopSmall {padding-top: 5px !important;}
.innerRightSmall {padding-right: 5px !important;}
.innerBottomSmall {padding-bottom: 5px !important;}
.innerLeftSmall {padding-left: 5px !important;}

.innerTopLarge {padding-top: 20px !important;}
.innerRightLarge {padding-right: 20px !important;}
.innerBottomLarge {padding-bottom: 20px !important;}
.innerLeftLarge {padding-left: 20px !important;}

.indentLeft30 {margin-left: 30px;}
.indentRight30 {margin-right: 30px;}
.indentTop50 {margin-top: 50px;}
.indentLeft25 {margin-left: 25px;}

.noIndent {margin: 0 !important;}
.noIndentTop {
	margin-top: 0px!important;
}
.noIndentLeft {
	margin-left: 0px;
}
.noIndentBottom {
	margin-bottom: 0px !important;
} 

.width20 {width: 20px;}
.width30 {width: 30px;}
.width50 {width: 50px !important;}
.width60 {width: 60px !important;}
.width65 {width: 65px !important;}
.width70 {width: 70px !important;}
.width80 {width: 80px !important;}
.width85 {width: 85px !important;}
.width90 {width: 90px !important;}
.width95 {width: 95px;}
.width100 {width: 100px !important;}
.width110 {width: 110px;}
.width115 {width: 115px;}
.width120 {width: 120px !important;}
.width123 {width: 123px !important;}
.width125 {width: 125px !important;}
.width130 {width: 130px !important;}
.width140 {width: 140px !important;}
.width144 {width: 144px !important;}
.width150 {width: 150px;}
.width152 {width: 152px !important;}
.width170 {width: 170px !important;}
.width175 {width: 175px !important;}
.width180 {width: 180px !important;}
.width200 {width: 200px;}
.width205 {width: 205px;}
.width240 {width: 240px !important;}
.width250 {width: 250px;}
.width260 {width: 260px !important;}
.width265 {width: 265px;}
.width275 {width: 275px;}
.width290 {width: 290px;}
.width360 {width: 360px;}
.width370i {width: 370px; //width: 378px;}
.width410 {width: 410px;}
.width450 {width: 450px;}

.perWidth20 {width: 20%;}
.perWidth25 {width: 25%;}
.perWidth30 {width: 30%;}
.perWidth40 {width: 40%;}
.perWidth49 {width: 49%;}
.perWidth50 {width: 50%;}
.perWidth55 {width: 55%;}
.perWidth57 {width: 57%;}
.perWidth70 {width: 70%;}
.perWidth80 {width: 80%;}
.perWidth95 {width: 95%;}
.perWidth98 {width: 98%;}
.perWidth100 {width: 100% !important;}

.dispBlock { display:block;}
.pointer {cursor: pointer;}

.header {
	height: 75px;
	overflow: hidden;
	zoom:1;
}
.header_logo {
	float: left;
	margin-top: 10px;
}
.header_right {
	float: right;
	text-align: right;
}
.h_right_list {
	float: right;
	margin-top: 30px;
	overflow: hidden;
	_zoom:1;
}
.h_right_list li {
	float:left;
	padding: 0 10px;
	border-right: 1px solid #6699CC;

}
.h_right_list .last {
	border-right: none;
}
.header_right a {
	color:#6699cc;
	text-decoration:underline;
}
.header_right a:hover {
	text-decoration: none;
}
.h_top {background: url(images/h_topbg_right.gif) right no-repeat;}
.h_top_inn {
	background: url(images/h_topbg_left.gif) left no-repeat;
	height: 49px;
}
.h_top_inn h1 {
	font-size: 24px;
	font-weight:normal;
	margin-left: 30px;
	padding-top: 8px;
	color:#ffffff;
}
.topMenu {
	overflow: hidden;
	zoom:1;
	padding-left: 15px;
}
.topMenu li {
	display:block;
	float:left;
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 0 14px;
}
.topMenu li:hover {
	background: url(images/topMenuHoverLeft.png) left no-repeat;
}
.topMenu li.active, .topMenu li.active:hover {
	background: url(images/topMenuLeft.gif) left no-repeat;
	padding-left: 14px;
	margin: 0;
}
.topMenu .last {
	border-right: none;
}
.topMenu li a {
	display: block;
	color:#ffffff;
	text-decoration: none;
	padding: 15px 15px 15px 0;
}
.topMenu li a:hover {
	text-decoration: none;
}
.topMenu li:hover a {
	text-decoration: none;
	background: url(images/topMenuHoverRight.png) right no-repeat;
}
.topMenu .active a, .topMenu .active:hover a {
	color:#666666;
	background: url(images/topMenuRight.gif) right no-repeat;
	padding: 15px 15px 15px 0;
}

.topTitle {
	background-color:#507baf;
	padding: 6px 0px 0px 20px;
	height: 24px;
	
}
.topTitle h3 {
	font-size: 15px;
	font-weight: bold;
	color:#ffffff;
}

.content {padding: 20px 15px;}

.c_topTextBlock_left {
	float:left;
	/*width: 80%;*/
	font-size: 14px;
	color:#808080;
	padding-bottom: 15px;
}
.resBorder {
	border: solid 1px #404040;
}
.resBorderTop {
	border-top: solid 1px #6699cc;
}
.resBorderBottom {
	border-bottom: solid 1px #6699cc;
}
.resBorderTop2 {
	border-top: solid 1px #a6a6a6;
}
.resBorderBottom2 {
	border-bottom: solid 1px #a6a6a6;
}
.resBorderRight {
	border-right: solid 1px #404040;
}
.resBorderLeft {
	border-left: solid 1px #404040;
}

.resBorderDashTop {
	border-top:dashed 1px #a6a6a6;
}

.resBorderDashRight {
	border-right:dashed 1px #a6a6a6;
}

.resBorderDashLeft {
	border-left:dashed 1px #a6a6a6;
}

.resBorderDashBottom {
	border-bottom: dashed 1px #a6a6a6;
}
.resOver .searchRes {
	margin-top: 20px;
}
.searchRes th a {
	color:#000000;
	display: block;
	padding: 10px 5px;
	text-decoration: none;
}
.searchRes th a.first, .searchRes th a.last {
	padding:0;
}
.searchRes th a.bot span {
	background: url(images/arr_small_bot.gif) no-repeat right;
	padding-right: 10px;
}
.searchRes th a.top span {
	background: url(images/arr_small_top.gif) no-repeat right;
	padding-right: 10px;
}
.searchRes th a.first span {
	background: url(images/grad_bg_tl.gif) no-repeat left top;
	display:block;
	padding: 10px 5px;
}
.searchRes th a.last span {
	background: url(images/grad_bg_tr.gif) no-repeat right top;
	display:block;
	padding: 10px 5px;
}
.searchRes th a:hover, .searchRes th a.activeSearch {
	background: url(images/searchTopBg.gif) repeat-x;
	color: #4779ae;
}
.searchRes td {
	text-align: center;
	padding: 5px;
}
.searchRes th {
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}
.resOver {
	height: 585px;
	overflow:auto
}
.resOver td {
	padding: 5px 5px 5px 10px;
}
.profileLeft {
	float: left;
	width: 260px;
	padding-right: 20px;
}
*html .profileLeft {
	width: 240px;
}
.profileRight {
	padding-left: 0px;
	margin-left: 260px;
}

.profileLeftMenu {
	list-style-image: url(images/c_left_arr_l.gif) !important;	
	margin-left: 24px;
	margin-top: 20px;
	font-size: 12px;
	color:#6699cc;
	font-weight: bold;
}
.profileLeftMenu .op {
	list-style-image: url(images/c_left_arr_b.gif) !important;	
}
.profileLeftMenu li {
	padding-bottom: 5px;
}
.profileLeftSubMenu {
	list-style-image:none;
	margin-left: 10px;
	margin-top: 5px;
	font-weight: normal;
	font-size: 12px !important;
}
.profileLeftSubMenu a {
	text-decoration: underline;
}
.profileLeftSubMenu a:hover {
	text-decoration: none;
}
.profileLeftSubMenu li {
	padding-left: 10px;
	padding-bottom: 5px;
}
.profileLeftSubMenu .act {
	font-style: normal;
	font-weight: bold;
}
.profileLeftSubMenu .act a {
	text-decoration:none;
}

.techProfilePop {
	display: none;
	position: absolute;
	top: 20%;
	left: 350px;
	width: 630px;
	z-index: 50;
}
.tInfoPop {
	margin-top: 20px;
}
.tInfoPop td {
	padding: 10px 5px;
}
.tInfoPopInputText {
	border: solid 1px #ccc;
	width: 400px;
}
.infoPopTab {
	background: url(images/infPopTabLeft.jpg) left no-repeat;
	padding: 3px 0px 3px 4px;
	_padding: 2px 0px 2px 4px;
	text-decoration: none;
	float: left;
	margin: 0px 3px 3px 0px;
	
}
.infoPopTab span {
	background: url(images/infPopTabRight.jpg) right no-repeat;
	font-size:11px;
	padding: 2px 5px 2px 0px;
	color:#000000;
	
}
.activeTab span {
	color:#1c4985 !important;
}
.error {
    background-color : #f2dada;
    border: solid 1px #d32414;
    font-family : sans-serif;
    font-size : 13px;
    list-style-type : none;
    padding-bottom : 10px;
    padding-left : 10px;
    padding-top : 10px;
	line-height: 20px;
  }
.text {
    border-bottom-style : solid;
    border-bottom-width : 1px;
    border-left-style : solid;
    border-left-width : 1px;
    border-right-style : solid;
    border-right-width : 1px;
    border-top-style : solid;
    border-top-width : 1px;
    width : 300px;
  }
.norm {
    border-color:#c7c3b2;
  }
.err {
    border: solid 2px #ff0000;
  }
.sendEmail_pop {
	z-index:99; 
	position:absolute; 
	top: 30%; 
	left: 30%; 
	width:530px; 
}
.cursorHand {
    cursor:pointer;
}

.captcha_bl {
	border: solid 1px #4a8cbd;
	padding: 20px 0px;
	width: 360px;
	float: left;
	text-align:center;
}

#findTechnitianPopupForm {
	position: absolute;
	left: 120px;
	top: 220px;
	width: 280px;
	display: none;
}

#saveSearchPopup {
	position: absolute;
	left: 40px;
	top: 190px;
	width: 300px;
	display: none;
	zoom:1;
}

#saveSearchPopup #errorMessage {
	text-align: center;
	color: red;
}
.button1 {
	background: url(images/button1_left.gif) left no-repeat;	
	padding: 8px 0px 8px 15px;
	text-decoration: none;
}
.button1 span {
	background: url(images/button1_right.gif) right no-repeat;	
	font-size: 15px;
	font-weight: bold;
	padding: 7px 15px 7px 0px;
	color:#000000;
}
.logout {
	background: url(images/logout.gif) right no-repeat;
	padding-right: 20px;
}
.c_left_pr {
	width: 240px;
	background: url(images/c_left_middle.gif) top repeat-y;;
}
.c_left_mid {
	padding: 20px 12px;
}
.c_left_pr .c_left_mid{
	background:url(images/c_left_top.gif) top no-repeat
}
.confirmButton {
	background: url(/widgets/images/round_check.png);
}
.cancelButton {
	background: url(/widgets/images/round_x.png);
}
.gradBox {
/*	background: url(images/grad_bg.gif) top #ffffff repeat-x;*/
	zoom:1;
}
.gradBoxSearch {
	background: url(images/grad_bg_search.gif) top #ffffff repeat-x;
	zoom:1;
}
.gradBox_1 {
/*	background: url(images/grad_bg_tl.gif) left top no-repeat;*/
	padding: 0 0 0 20px;
	zoom:1;
}
.gradBox_1_table {
	background: url(images/grad_bg_tl.gif) left top no-repeat;
	zoom:1;
}
.gradBox_2 {
/*	background: url(images/grad_bg_tr.gif) right top no-repeat;*/
	padding: 20px 0 0 0;
	zoom:1;
}
.gradBox_2_table {
	background: url(images/grad_bg_tr.gif) right top no-repeat;
	zoom:1;
}
.gradBox_3 {
/*	background: url(images/grad_bg_br.gif) right bottom no-repeat;*/
	border: 0px none;
/*	padding: 0 20px 0 0;*/
        padding: 0 0px 0 0;
}
.gradBox_4 {
/*	background: url(images/grad_bg_bl.gif) left bottom no-repeat;*/
	margin-left: -20px;
	padding:0px 0px 0px 20px;
}
.gradBox_4_table {
	background: url(images/grad_bg_bl.gif) left bottom no-repeat;
	padding:0px 0px 20px 20px;
}
.noBorder-right {
	border-right: none !important;
}
.searchLeftMenu div{
	padding: 5px 0 5px 5px;
}
.searchLeftMenu div div {
	padding: 5px 0 !important;
}
.searchLeftMenu div.searchLeftMenuItem {
	padding: 5px 0 !important;
}
.searchLeftMenu div.searchLeftMenuItem div {
	padding: 0 !important;
}
.searchLeftMenu div.searchLeftMenuItem div div div {
	padding: 2px 0 !important;
}
.searchLeftMenu div.searchLeftMenuItem img {
	vertical-align:middle;
	float: left;
}
.searchLeft {
	float: left;
	width: 260px;
}
.searchRight {
	padding-left: 0px;
	margin-left: 260px;
}
.paginator span {background: #6699cc; color: #ffffff; padding: 0 2px;}
.paginator a {margin: 0 3px;}
.evenBg {background: #e9eef3;}
.popupTR {
	background: transparent url(images/popup_t_r.png) right top no-repeat;
	height: 20px;
	padding-right: 10px;
}
.popupTL {
	background: transparent url(images/popup_t_l.png) left top no-repeat;
	padding-left: 10px;
}
.popupML {
	background: transparent url(images/popup_m_l.png) left repeat-y;
	padding-left: 10px;
	zoom:1;
}
.popupMR {
	background: transparent url(images/popup_m_r.png) right repeat-y;
	padding-right: 25px;
	zoom:1;
}
.checkLabel {overflow: hidden; zoom:1; margin-bottom: 2px;}
.checkLabel input[type="checkbox"] {
	display: block;
	float: left;
}
.popupBR {
	background: transparent url(images/popup_b_r.png) right bottom no-repeat;
	height: 25px;
	padding-right: 10px;
}
.popupBL {
	background: transparent url(images/popup_b_l.png) left bottom no-repeat;
	padding-left: 15px;
}
.popupInBg {
	background: url(images/popup_inner_bg.gif) top repeat-x #f4efc7;
}
.popupInTL {
	background: url(images/popup_inner_t_l.gif) left top no-repeat;
}
.popupInTR {
	background: url(images/popup_inner_t_r.gif) right top no-repeat;
}
.popupInBL {
	background: url(images/popup_inner_b_l.gif) left bottom no-repeat;
	padding-left: 15px;
}
.popupInBR {
	background: url(images/popup_inner_b_r.gif) right bottom no-repeat;
	padding: 0;
}
.popupIn {padding: 10px;}
.popupForm {padding:0; margin:0;}
.txtarea_f {width: 390px; height: 70px;}
.txtarea_f2 {width: 650px; height: 80px;}
.txtarea_f3 {width: 240px; height: 156px;}
.txtarea_f2_single {width: 470px; height: 1.5em;}



.gradBox_2_tabs {
	background: url(images/grad_bg_tr.gif) right top no-repeat;
	padding: 20px 0 0 0;
	zoom:1;
}
.gradBox_3_tabs {
	background: url(images/grad_bg_br.gif) right bottom no-repeat;
	padding: 0 2px 0 0;
}
.gradBox_4_tabs {background: url(images/grad_bg_bl.gif) left bottom no-repeat;
	margin-left: -20px;
	padding:0px 0px 20px 0px;}
.topTabs {width: 100%; border-collapse:collapse; margin: -20px 0 0 1px;}
.topTabs td {te.deta.details_breadcrumbs ulils_breadcrumbs ulxt-align:center; vertical-align:middle; border-right: 1px solid #bbbbbb; background:url(images/border.png) repeat-x bottom;}
.topTabs td.last {border-right: none;}
.topTabs td a {display: block; padding: 10px 15px 12px; text-decoration:none; font: bold 12px/16px Arial, Helvetica, sans-serif; color: #000000;}
.topTabs td:hover, .topTabs td.topTabActive{background: url(images/tabsBg.png) bottom center no-repeat;}
.topTabs td.topTabActive a {color: #6699cc;}
/*.submenu {margin: 30px 0 0;}*/
.submenu ul {margin: 0 0 30px 10%;}
.submenu li { padding: 0 15px; border-right: 1px solid #6699cc;}
.submenu li.last {border: none;}
.submenu li a {/*border-bottom: 1px dashed #6699cc; */text-decoration:none; line-height: 17px;}
.submenu li a:hover {border-bottom: none;}
.sectionBox {margin: 10px 30px 0; background: url(images/sectionClosed.png) top repeat-x;}
.sectionOpen, .sectionBox:hover { background: #ffffff url(images/sectionOpen.png) top repeat-x;}
.sectionBox.sectionOpen:hover {cursor: auto;}
.sectionBox.sectionOpen .sectionBox_title a.titleV2 {
    background: url("images/bullet_toggle_minus.png") no-repeat scroll 26px -2px transparent !important;
    display: block;
    font: bold 15px/22px Arial,Helvetica,sans-serif;
    padding-left: 55px;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
    width: 70%;
    padding-top: 4px;
}
.sectionBox .sectionBox_title a.titleV2 {
    background: url("images/bullet_toggle_plus.png") no-repeat scroll 26px -2px transparent;
    cursor: pointer;
    display: block;


    text-decoration: none;
    padding-top: 4px;

}
.old_style .sectionBox .sectionBox_title a.titleV2{
    color: #FFFFFF;
    padding-left: 55px;
    font: bold 15px/22px Arial,Helvetica,sans-serif;
}
.sectionBox.sectionOpen a.title {display:block; background: url(images/triangle_up.gif) 4px 17px no-repeat !important;  font: bold 15px/22px Arial, Helvetica, sans-serif; text-decoration:none;}

.sectionBox a.title {display:block; background: url(images/triangle_down.gif) 4px 15px no-repeat; padding-left: 23px; font: bold 15px/22px Arial, Helvetica, sans-serif; text-decoration:none;cursor: pointer;}
.sectionBox2 {margin: 10px 30px 0 35px; border-bottom: 1px solid #F69630;width:92%;}
.sectionOpen2, .sectionBox2:hover {border-bottom: 1px solid #F69630;}
.sectionBox2.sectionOpen:hover {cursor: auto;}
.sectionBox2.sectionOpen a.title2
{
    display:block;
    background: url(images/btn_arrowup.png) 4px -1px no-repeat !important;
    padding-left: 30px;
    margin-left:-30px;
    font: italic 12px Arial, Helvetica, sans-serif;
    text-decoration:none;
    width:83%;
    height: 18px;
}
.sectionBox2 a.title2
{
    display:block;
    background: url(images/btn_arrowdown.png)4px -1px no-repeat;
    padding-left: 30px;
    margin-left:-30px;
    font: italic 12px Arial, Helvetica, sans-serif;
    text-decoration:none;
    cursor: pointer;
    width:83%;
    height: 18px;
}

.sectionInner {display: none; margin: 20px 35px 0; /*border-top: 1px solid #aeb0b3;*/ padding-top: 15px;}
.required {color:#ff2525; padding-right: 5px;}
.required2 {color:#ff2525; padding-right: 5px; font-size: 11px;}
.sectionInner form {width: 100%;}
.sectionForm, .sectionFormTop {width: 100%;}
.sectionForm td {padding: 0 3px; vertical-align:middle;}
.sectionForm td input, .sectionForm td select {margin: 7px 0;}
.sectionFormTop td{padding: 0 5px; vertical-align:top;}
.sectionFormTop .contentTechCheck td {padding-top:5px;}
.sectionFormTop td td {padding:0;}
.sectionFormTop td textarea, .sectionFormTop td input, .sectionFormTop td select {margin: 0 0 15px;}
.updatebutton_old {background: url(images/btn_green_update.jpg) no-repeat left top; color:#000000; padding: 3px 4px; border: none; cursor: pointer; width: 92px; height: 30px;}
.blueBox {
	background: url(images/blueBoxBg.png) top repeat-x;
	zoom:1;
	width: 205px;
	margin: 20px 0 10px;
	*zoom: 1;
}
.blueBox_1 {
	background: url(images/blue_bg_tl.gif) left top no-repeat;
	padding: 0 0 0 0;
	zoom:1;
}
.blueBox_2 {
	background: url(images/blue_bg_tr.gif) right top no-repeat;
	padding: 5px 0 0 0;
	zoom:1;
}
.blueBox_3 {
	background: url(images/blue_bg_br.gif) right bottom no-repeat;
	padding: 0 20px 0 0;
}
.blueBox_4 {
	background: url(images/blue_bg_bl.gif) left bottom no-repeat;
	margin-left: 0;
	padding:0px 0px 5px 15px;
}
.blueBox .title2 {position: relative; top: -10px;*top: -38px; background: #ffffff; padding: 2px 3px;*zoom:1;display: block;width: 60px;}
.blueBox .title3 {position: relative; top: -10px;*top: -38px; background: #ffffff; padding: 2px 3px;*zoom:1;display: block;width: 70px;}
.blueBox td input {margin: 0 0 2px;}
.blueBox td{ vertical-align: top; padding: 0 5px 5px;}
.labelIndent label{padding-bottom: 10px; display:block; width: 155px;}

/*   Styles for old stylization   */

.old_style {
    padding:0;
	background-color: #FFFFFF;
}

.old_style .gradBox, .old_style  .gradBox_1, .old_style  .gradBox_2, .old_style .gradBox_2_tabs {
    background-image:none;
    padding:0;
}

.old_style .gradBox {
/*    458
    padding:1px;*/
    margin:0;
	*zoom: 1;
}

.old_style .submenu {
    margin:0;
	overflow: hidden;
	*zoom: 1;
	background-color:#ffffff;
	padding: 7px 0 3px;
}

.old_style .submenu li a {
	border: none;
	font-weight: bold;
	text-decoration: underline;
	display: block;
    text-align:center;
}
.old_style .submenu li a:hover {
    color:#cc3300;
	text-decoration: none;	
}

.old_style .submenu li {
    /*background: transparent url(images/bg_right_submenu.png) no-repeat right 13px;*/
    border-right: none;
    width:auto;
    text-align:center;
    padding:0;
    display:inline-block;
}

.old_style .submenu li.last {
    background-image:none;
	width: auto;
}


.old_style .submenu ul { 
    margin-left:0; 
    margin-bottom:2px;
    text-align:center;
}

.old_style .sectionBox {
    margin:0 1px;
}
 
.old_style .sectionBox a.title {
   /* background-image:none;*/
    font-weight:bold;

    /*458
    font-size:14px;
    color:#fff;
    */
    font-size: 12px;
    color:black;
    width:90%;
    float:left;
    margin-left: -24px;
    padding-left:24px;
}
.old_style .sectionBox .sectionBox_title {
	background: url("images/section_background.gif") repeat-y scroll left top;
	border: 2px solid #DDD;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
	height: 31px;
}

/*458*/
.old_style .sectionBox .sectionBox_titleNew {
    border-bottom: 1px solid #F69630;
    height: 31px;
    margin-left: 25px;
}
/*end 458*/

.old_style .gradBox_1 {
    margin-bottom:1px;
}

.old_style /*.gradBox_4*/ {
    margin-bottom:0px;
    margin-left:0;
    padding:0;
}

.old_style /*.gradBox_3*/ {
    padding:0;
}

/*458*/
.old_style .sectionInner {
    margin:0;
/*    458
    padding:15px; */
    padding: 15px 0 0 50px;
}

.old_style .sectionOpen, .old_style .sectionBox, .old_style .sectionBox:hover {
    background-image:none;
}


.old_style .blueBox_1, .old_style .blueBox_2, .old_style .blueBox_3, .old_style .blueBox_4  {
    background-image:none;
	*zoom: 1;
}   

.old_style .blueBox {
    border:1px solid #000;
}   


/* breadcrumbs */

.details_breadcrumbs {
    color:#fff;
	background-color:#ffffff;
    overflow:hidden;
	*zoom: 1;
	margin: 0px auto 10px;
	width: 920px;
	text-align: left;
}

.details_breadcrumbs ul {
    font-size:13px;
	width: 100%;
    text-align:left;
}

.details_breadcrumbs li {
    color:#666666;
    display:inline;
    display:inline-block;
    font-weight:bold;
	width: auto;
	margin: 0px -2px;
	*margin: 0px;
	/*width: 105px;*/
	text-align: center;
	font: normal 10px Arial, Helvetica, sans-serif;
	position: relative;
	height:auto;
	vertical-align: bottom;
}
.details_breadcrumbs_text {
	padding: 0px 3px;
	background: #cccccc;
}
.details_breadcrumbs a {
	height: 23px;
	display: block;
	width: 100%;
}

.details_breadcrumbs li.first {
    color:#000;
    padding-right:8px;
}
.details_breadcrumbs li.last {
     
}

.details_breadcrumbs li.active {
    background-color:#008000;
	color:#fff;
}

.details_breadcrumbs li.visited {
    background-color:#d9d9d9;
	color:#000;
}



.details_breadcrumbs span.left {
    float:left;
    padding:10px;
}
.details_breadcrumbs span.right {
    float:right;
    padding:10px;
}

.details_all_btn {
	width: 34px;
	height: 17px;
	margin: 5px;
}
.all_btn {
	width: 17px;
	height: 17px;
	float: left;
}
.details_all_btn .btnClosed {
	background: url(images/bullet_toggle_plus.png) no-repeat -8px -8px;
}
.details_all_btn .btnOpened {
	background: url(images/bullet_toggle_minus.png) no-repeat -8px -8px;
}
.details_breadcrumbs_client {
	background: #DDDDDD;
	overflow: hidden;
	zoom: 1;
	color: #002c5d;
	z-index: 10;
	font-weight: bold;
}
.details_breadcrumbs #work_state {
	color: #bdbdbd;
	font: bold 13px/18px Arial, Helvetica, sans-serif;
	padding: 10px 0px 0px;
	float: left;
}
#bc_created a {
	background: url(images/btn_ltblue_created.png) no-repeat left top; width: 105px;
}
#bc_published a {
	background: url(images/btn_ltblue_published.png) no-repeat left top; width: 105px;
}
#bc_assigned a {
	background: url(images/btn_ltblue_assign.png) no-repeat left top; width: 105px;
}
#bc_approved a {
	background: url(images/btn_ltblue_workdone.png) no-repeat left top; width: 105px;
}
#bc_incomplete a {
	background: url(images/btn_ltblue_incomplete.png) no-repeat left top; width: 105px;
}
#bc_completed a {
	background: url(images/btn_ltblue_complete.png) no-repeat left top; width: 105px;
}
#bc_deactivated a {
	background: url(images/btn_ltblue_deactivated.png) no-repeat left top; width: 105px;
}

#bc_created a.selected {
	background: url(images/btn_dkblue_created.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_published a.selected {
	background: url(images/btn_dkblue_published.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_assigned a.selected {
	background: url(images/btn_dkblue_assign.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_approved a.selected {
	background: url(images/btn_dkblue_workdone.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_incomplete a.selected {
	background: url(images/btn_dkblue_incomplete.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_completed a.selected {
	background: url(images/btn_dkblue_complete.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
#bc_deactivated a.selected {
	background: url(images/btn_dkblue_deactivated.png) no-repeat left top; width: 120px;
	height: 32px;
	z-index: 11;
	position: relative;
	top: 9px;
	left: 0px;
}
.sectionBox .subheader {border: none; vertical-align: top;}
.labelIndent .label100 label {width: inherit !important;}
.details_breadcrumbs_client td {padding: 8px;}
.righthand_col, #pushtotech_box {background: #F2F2F2;}
.upd_btn {text-align: center; width:150px;float:right;}
/*458*/
.upd_btnNew {text-align: center; width:50px;float:right;margin-top:2px;}
.input150w {width: 150px !important;}
#right_brdwhite {border-right: 3px solid #ffffff;}
.bar_container {float:right;width: 748px;*width: 750px;}
.progress_bar_box {text-align: center;padding-top: 10px;}
.old_style input.white {color:#002C5D;font:bold 14px Arial;padding-top:2px;float:right;}
.section_0 {margin-right:15px;}
.required_tech {color:#ff2525; padding-right: 5px;}
.required_abortFee {color:#ff2525; padding-right: 5px;}
.labelsnw label { white-space:nowrap !important;}

/*458*/
.cco_nsubbm {padding-bottom: 6px; height: 107px;}
.cco_nsubbmfls {
    background-color: #DDDDDD;
    height: 107px;
    padding-bottom: 6px;
}

.cco_ninfofls .tnleft {float: left; width: 40%; text-align:left;}
.cco_ninfofls .tnmid {float: left; width: 29%; text-align:center;}
.cco_ninfofls .tnright {float: right; width: 30%; text-align: right;}
.cco_ninfo {overflow: hidden; padding: 0px 10px; font-size: 12px; font-weight: normal; border:1px solid #F69630;}
.cco_ninfo .border_left {border-left: 1px solid #F69630;padding-left:10px;}
.cco_ninfo .border_right {border-right: 1px solid #F69630;}
.cco_ninfo .first_tr td {padding-top:10px;}
.cco_ninfo .last_tr td {padding-bottom:10px;}

.input140w {width: 140px !important;}
.input100w {width: 100px !important;}

/*.cco_nsubbm {padding-bottom: 6px; height: 107px;}
.cco_nsubbmfls {
    background-color: #DDDDDD;
    height: 107px;
    padding-bottom: 6px;
}
.cco_ninfofls {
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 50px 10px;
}
.cco_ninfofls .tnleft {float: left; width: 40%; text-align:left;}
.cco_ninfofls .tnmid {float: left; width: 29%; text-align:center;}
.cco_ninfofls .tnright {float: right; width: 30%; text-align: right;}
.cco_ninfo {overflow: hidden; padding: 15px 10px 10px; font-size: 12px; font-weight: normal; border:1px solid #F69630;}
.cco_ninfo .border_left {border-left: 1px solid #F69630;padding-left:10px;}
.cco_ninfo .border_right {border-right: 1px solid #F69630;}
.input140w {width: 140px !important;}
.input100w {width: 100px !important;}
*/
/*end 458*/

.cco_ninfo .tnleft {float: left; width: 40%; text-align:left;}
.cco_ninfo .tnmid {float: left; width: 29%; text-align:center;}
.cco_ninfo .tnright {float: right; width: 30%; text-align: right;}
/*859*/
.ninfo_data {font-weight: bold;white-space:nowrap;}
/*end 859*/
.noborder {
	border: 0;

}

.liketext {
	cursor: default;
	background: #fff;
}
#deletecust {
display: none;
text-align: right;
float: right;
margin-right: 10%;
}
.popup_table{
	
}
.cancelUpdateButton, .updateButton {
	cursor: pointer;
	padding: 0px 2px;
	margin-top: 5px;
}
.sectionWIN {
	font-size:9px; 
	margin-top: -12px;
	margin-left: 0.2em;
}

#wod .sectionWIN {
	margin-left: 1.7em;
}
/*458*/
#wod .sectionWINNew {
    float: left;
    font-size: 12px;
    width: 513px;
    text-align: right;
}
.sectionWINNew {
    float: left;
    font-size: 12px;
    width: 513px;
    text-align: right;

}

.woSpinner {
	float: right; 
	background: url(/widgets/images/wait_small.png);
	width: 30px;
	height: 30px;
}

.emailCenterLink a {
	text-decoration: none;
}

.emailCenterLink a img {
	padding-right: 5px;
}

.emailCenterLink a span {
	text-decoration: underline;
}

.emailCenterLink a:hover span {
	text-decoration: none;
}

/* root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:5px 0 0;
	height:34px;
	border-bottom:1px solid #666;	 	
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
	height: 100%;
/*        458*/
        width:141px;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 10px;	
	text-decoration:none;
/*        458*/
/*	border:1px solid #666;	*/
	border-bottom:0px;
	height:18px;
	background-color:#ffc24b;
	color:#012a5e;
/*        458*/
	margin-right:1px;
	position:relative;
	top:5px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	vertical-align: bottom;
	text-align:center;
/*        458*/
        width:120px;
}

ul.tabs a:hover {
	background-color:#FFC24B;
	color:#333;
    text-decoration: underline;
}
	
/* selected tab */
ul.tabs a.current {
	background-color: #f69630;
	border-bottom:1px solid #f69630;
        /*458*/
        /*color:#012a5e;*/
        color:#ffffff;
	cursor:default;
	height:22px;
	top:0px;
}

div.tabsbottom {
	background-color: #f69630;
	height: 5px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
/*458*/
div.tabsbottomNew
{
    background-color: #f69630;
    height: 5px;
}
/*end 458*/
/* tab pane */
.panes div.contentbox {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	height:100%;
	padding: 10px 20px;
	background-color:#fff;	
	margin-top:10px;
}
/*458*/
.panesnew div.contentbox {
	display:none;
	border:1px solid #F69630;
	border-width:0 1px 1px 1px;
	height:100%;
	padding: 1px 0px 20px 0px;
	background-color:#fff;	
	margin-top:0px;
    
}
#commcenter.contentbox,#tech.contentbox,#docsparts.contentbox,#closeout.contentbox {
    padding-right: 10px;
}
/*end 458*/
.hideinfo{
	display:none;
}

#commcenter tr.infohide{
	display:none;
}

#tech .subheader{
	bottom-border: 1px none #3366CC;
}
#wobreaks{
background: #4D91CE repeat-y left top;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 0 0 0 #fff;
	-webkit-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
	height: 30px;
	margin:20px 0px;
}
#wobreaks a.title{
 font-weight:normal;
    font-size:14px;
    color:#fff;
	width:674px;
	float:left;
	margin-left: 5px;
	margin-top:5px;
	}

.old_style .submenu li {
		display: inline;
	}
.indentBottomLarge {
		*zoom:1;
	}
#companySelect{
	margin-top: 20px;
}
#tabsHolder{
height:38px;
}
#uploadWOdocs{

}
#TechACSReminderView:hover, #ClientEmailNotification:hover{
    cursor: pointer;
}
.grdtbl th {
    text-align: center;
}
.viewTechBtnHiddenView, .viewTechBtnHidden{
    text-decoration: none;
}
.sectionBox_titleNew .title div{
    width: 104% !important;
}
.visitLine{
    background-color: #F69630;
    height: 1px;
    margin-bottom: 9px;
    width: 92%;
}

#mkcontact span{
    font-size: 13px;
}
#mkcontact a:hover{
    font-size: 13px;
    cursor: pointer;
}
.sectionInner .subheader{
    color: #F69630;
    font-style: italic;
    font-weight: normal;
}
.sectionInner .subheader1 {color:#3366cc; font-weight: bold; padding-top: 10px;}

.sectionInner .subheaderLeft{
    padding-left: 25px;
}
.tableServiceSchedule{
    width: 100%;
}
.tableServiceSchedule .customSelect{
    width: 92px;
}
.tableServiceSchedule .customSelect span{
    width: 95px;
}
.tableServiceSchedule .customSelect span span{
    width: 85px;
}
.tableServiceSchedule .csText{
    width: 81px;
}
.tableServiceSchedule .CalendarInput{
    width: 91px;
}
#divAddAVisit{
    margin-left: -2px;
}

.sectionBoxP2t.sectionOpen a.title2 {
    background: url("/widgets/css/images/triangle_up.gif") no-repeat scroll 4px 2px transparent !important;
    display: block;
    font: italic 12px Arial,Helvetica,sans-serif;
    padding-left: 30px;
    margin-left:-30px;
    text-decoration: none;
    height: 18px;
}
.sectionBoxP2t a.title2 {
    background: url("/widgets/css/images/triangle_down.gif") no-repeat scroll 4px -1px transparent;
    cursor: pointer;
    display: block;
    font: italic 12px Arial,Helvetica,sans-serif;
    padding-left: 30px;
    margin-left:-30px;
    text-decoration: none;
    height: 18px;
}
.sectionBoxP2t {
    margin: 10px 30px 0px 0px;
    border-bottom: 1px solid #F69630;
}
.sectionBoxP2t:hover {
    border-bottom: 1px solid #F69630;
}

.sectionBoxNew.sectionOpen a.title2 {
    background: url("/widgets/css/images/triangle_up.gif") no-repeat scroll 4px 2px transparent !important;
    display: block;
    font: italic 12px Arial,Helvetica,sans-serif;
    padding-left: 30px;
    margin-left:-30px;
    text-decoration: none;
    height: 18px;
}
.sectionBoxNew a.title2 {
    background: url("/widgets/css/images/triangle_down.gif") no-repeat scroll 4px -1px transparent;
    cursor: pointer;
    display: block;
    font: italic 12px Arial,Helvetica,sans-serif;
    padding-left: 30px;
    margin-left:-30px;
    text-decoration: none;
    height: 18px;
}
.sectionBoxNew {
    margin: 10px 30px 0px 0px;
    border-bottom: 1px solid #F69630;
}
.sectionBoxNew:hover {
    border-bottom: 1px solid #F69630;
}
.cmdhelpFAQi{
    cursor: pointer;
}
.cco_ninfoflsTable .sectionBox_titleNewFLS{
    border-bottom: 1px solid #F69630;
    height: 18px;
    margin-left: 0px;
}
.cco_ninfoflsTable .sectionBox_titleNewFLS a.titleV2{
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.cco_ninfoflsTable .cco_ninfofls {
    border: 0px;
    border-bottom: 2px solid #F69630;
    margin: 0px;
    padding: 0px;
    height: 2px;
}
.cco_ninfoflsTable {
    overflow: hidden; 
    font-size: 13px; 
    font-weight: normal; 
    border:2px solid #F69630;
    width: 720px;
}
.cco_ninfoflsTable td{

    padding-bottom: 3px;
    vertical-align: top;
}
.cco_ninfoflsTable .tdfirstleft{
    padding-left: 10px;
    padding-top: 16px;
}
.cco_ninfoflsTable .tdfirstcenter{
    padding-top: 16px;
}
.cco_ninfoflsTable .tdfirstright{
    padding-right: 10px;
    padding-top: 16px;
}

.cco_ninfoflsTable .tdcenterleft{
    padding-left: 10px;
}
.cco_ninfoflsTable .tdcenterright{
    padding-right: 10px;
}
.cco_ninfoflsTable .subheader{
    color: #F69630;
    font-style: italic;
    font-weight: normal;
    padding-left: 35px;
    padding-top: 7px;
    border: 0px;
    padding-bottom: 10px;
}
.cco_ninfoflsTable .tdleftbody{
    padding-left: 58px;
}