.gradBox_table_inner {
    border-collapse: collapse;
    /*margin-left: 1px;*/
    margin-left: 0;
    /*position: relative;
    top: -2px;*/
	font: normal 10px/14px Verdana, Arial, Helvetica, sans-serif;
}
.gradBox_table_inner sup {
    font: normal 8px/14px Verdana, Arial, Helvetica, sans-serif;
}
.table_head th, .table_head th a{
    background:#5091CB;
	color: #ffffff;
	font-weight: normal;
}
.table_head th {
	padding:2px 3px;
    border-right: 1px solid #ffffff;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	text-align: center;
}
.table_head th.sortable {
	cursor: pointer;
	font-weight: bold;
}

.table_head th.sortable:hover, .table_head th.sortable a:hover {
	color: #00F;
	text-decoration: underline;
}

.table_head th.sort-asc {
    background-image: url("/widgets/images/set5_ascending.gif");
    background-position: right center;
    background-repeat: no-repeat;
}

.table_head th.sort-desc {
    background-image: url("/widgets/images/set5_descending.gif");
    background-position: right center;
    background-repeat: no-repeat;
}

.sub-header th {
	background: #bbe0e3;
	text-align: left;
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sub-header th.right {
	padding-right: 5px;
	text-align: right;
}

tr.gold td{
	background: #ffff8c;
}

.table_head.slimmed th {
    padding: 0;
}
.table_head th.last {border-right: none;}
.odd_tr, .odd_tech_tr_red {background-color:#ffffef;border-bottom:1px solid #000;}
.even_tr, .even_tech_tr_red {background-color:#F2F5F9;border-bottom:1px solid #000}
.odd_tr_red {background-color:#ffcfcf;border-bottom:1px solid #000;}
.even_tr_red {background-color:#ffeaea;border-bottom:1px solid #000}
.even_tr td{border-right: 1px solid #5091CB; }
.odd_tr td{border-right: 1px solid #cee0ec; }
.even_tr_red td{border-right: 1px solid #5091CB; }
.odd_tr_red td{border-right: 1px solid #cee0ec; }
.deliverablesCol {padding: 0 4px !important;}
.gradBox_table_inner td {padding: 0 10px;}
.gradBox_table_inner td.last {border: none;}
.gradBox_table_inner input[type=text] {margin-top:5px; padding: 0px 2px;}
.top_tr {height: 10px;}
.bottom_tr {height: 10px;}
.link_button, .link_button_disabled { width: 140px; border:none; background: url(/widgets/images/button_middle.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button_disabled { background: url(/widgets/images/button_middle_disabled.png) left top no-repeat; cursor: default }
.link_button_wo { width: 140px; border:none; background: url(/widgets/images/button_wo.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; height: 30px;}
.link_button_sm { width: 120px; border:none; background: url(/widgets/images/button_middle120.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.disabled { background: url(/widgets/images/button_disabled.png) left top no-repeat; }
.link_button.wide_button { width: 170px; background: url(/widgets/images/button_wide.png) left top no-repeat; }
.link_button.middle_button { width: 140px; background: url(/widgets/images/button_middle.png) left top no-repeat; }
.link_button.middle2_button { width: 140px; background: url(/widgets/images/button_middle.png) left top no-repeat; }
.link_button.wide_button220 { width: 220px; border:none; background: url(/widgets/images/button_middlex220.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.wide_button160 { width: 160px; border:none; background: url(/widgets/images/button_middlex160.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.wide_button300 { width: 300px; border:none; background: url(/widgets/images/button_middlex300.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.back_button {height:30px; width: 80px; border:none; background: url(/widgets/images/btn_Back.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.back_gray_button {height:30px;width: 80px; border:none; background: url(/widgets/images/btn_Back_Gray.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor:default; }
.link_button_popup{ width: 60px; border:none; background: url(/widgets/images/button_popup.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; margin: 0 3px;}
.link_button_popup.disabled{ background: url(/widgets/images/button_popup_disabled.png) left top no-repeat; color: #696969;}
.link_button.wide_button220 { width: 220px; border:none; background: url(/widgets/images/button_middlex220.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.link_button.wide_button160 { width: 160px; border:none; background: url(/widgets/images/button_middlex160.png) left top no-repeat; font: normal 10px/10px Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 8px; color: #385c7e; cursor: pointer; }
.download_button { width: 96px; background: url(/widgets/images/download.png) left top no-repeat !important; padding-left: 13px;}
.ics_button{width: 25px; height: 25px; background:url(widgets/images/date_add_32.png) left top no-repeat !important; padding-left: 13px;}
.toolGroup {float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;}
.tLeft {text-align: left !important;}
.tRight {text-align: right;}
.tCenter {text-align: center;}
.scroll {overflow: auto;}
.greybg {background-color:#dfdfdf;}
.grdtbl {width: 600px;}
.grdtbl td {padding: 7px 3px !important; text-align:center; vertical-align:middle;}
.grdtbl .sectionFormTop td textarea, .sectionFormTop td input, .sectionFormTop td select {margin-bottom: 0px !important;}
.innerTop20 {padding-top: 20px !important;}

a.ajaxLink, span.ajaxLink {
    cursor : pointer;
    font-weight : normal;
    font-size : 10px;
    color: #5091CB;
    text-decoration: underline;
}
a.ajaxLink:hover, span.ajaxLink:hover {
    text-decoration: none;
}

.gradBox_table_inner a.ajaxLink, .gradBox_table_inner span.ajaxLink {
	font: normal 10px/14px Verdana, Arial, Helvetica, sans-serif;
}

a.leftPad, span.leftPad {
    padding-left: 20px;
}
.cursorPionter:hover {
    cursor: pointer;
}
.gradBox_table_inner .paginator td{border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #5091CB; padding: 10px 0; font-weight: bold;}
.gradBox_table_inner .paginator span.ajaxLink  {color: #000000; font-weight: bold; text-decoration: underline;}
.gradBox_table_inner .paginator span.ajaxLink:hover {text-decoration: none;}
.toolGroupLeft {width: 65%; float: left; height: 22px;}
.toolBtn {float: left; margin-right: 10px;}
.topToolBtn { display: inline-block;*display: inline; position: relative; top: 10px; margin-left: 5px;zoom:1;margin-bottom:3px;}
.toolGroupRight {float: right;}
#tabbedMenu {margin: 0px 0px 2px; padding: 0px; border-bottom: none; height:19px;}
#projectSearch {margin-top: 10px;}
.topSm {padding-top: 2px;}
.bottomSm{padding-bottom: 2px;}
.topSm10 {padding-top: 10px;}
.bottomSm10{padding-bottom: 10px;}
.displayBlock {display:block;}
.displayNone {display:none;}

#tabbedMenu .current a {
    padding-bottom: 4px;
}
.sort_table select {width: 140px;}
.sort_table .even  td {padding-bottom: 10px;padding-left:20px;}
.sort_table .submit_buttons {padding-top:10px;}
.fWOrd_popup td {padding-bottom: 10px; }
input[type="checkbox"], input[type="radio"] {vertical-align:middle;}
.paginator_top {font-size: 10px;font-weight: bold; position:relative; top:7px;}
.paginator_top td {padding-top: 7px;}
.paginator_top span.ajaxLink  {color: #000000; font-weight: bold; text-decoration: underline;}
.paginator_top span.ajaxLink:hover {text-decoration: none;}
#tabbedMenu ul {overflow:hidden; float:left; margin-right: 30px;}

#tabbedMenu #toppaginatorSizeContainer {float: right; padding-top: 7px;}

.error {color: #ff0000; padding-bottom:10px;}
#errorMessages {
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 5px;
}
.success {color: #139113; padding-bottom:10px;}
.deactivation_t td {padding: 5px;}
.deactivation_t select {width: 150px;}
.deactivation_t textarea {width: 246px; vertical-align:top;}
#DRprogressimage {margin:10px;}
.activity_log {margin: 10px 0; max-height:500px; overflow-y:auto;}
.activity_log table {border: 1px solid #000; border-collapse: collapse;}
.activity_log td {padding: 5px; border-right:1px solid #CEE0EC;}
.activity_log td.last, .activity_log th.last {border: none;}
.activity_log th {padding: 5px; background-color: #dddddd; border-right:1px solid #999999;}
.activity_log .gray_bg {background-color: #F2F5F9;}
.activity_log .white_bg {background-color: #ffffff;}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
.publ_table td{padding:0; border:none;}
.acc_conf_table td {padding:0 0 0 0; height: 19px; border: none;}
.padr0 {padding-right:0px !important;}
.full_lite {font-size:10px; color:#10085A;width:10%;float:right;position:relative;right:0;top:5px;text-align:right;}
.full_lite select {font-size: 10px;}
.clr {overflow: hidden;}
.left_col {color: #6A6A6A; float: left; width: 18%; background:url(/widgets/images/border_right.png) right top no-repeat; font-family: Arial, Verdana, Helvetica}
.left_col h4 {margin: 10px 0; padding:0 0 0 20px; font-size:13px; background: url(/widgets/images/triangle.gif) left 1px no-repeat;}
.left_col ul {margin: 0 20px; padding:0;font-size:11px;}
.left_col ul ul{margin: 0 0 0 20px;}
.left_col ul li {list-style:disc; margin-bottom: 5px;}
.left_col .ajaxLink {font-size: 13px;}
.left_col .check  span {line-height:19px;}
.left_col .check {padding: 5px 0; overflow: hidden;}
.left_col .check img {float:left;}
.left_col select {width: 100%;}
.right_col h3 {text-align: left; margin: 0; padding:5px 0; color: #000;}
.right_col {
	float: left;
	width: 81%;
}
.wide_content .right_col {
	width: 945px;
}
.wide_content #dashboardContainer {
	min-width: 1220px;
}
.bottom_bar {border-top: 2px solid #4790d4; color: #999999;padding: 20px; overflow: hidden; margin-top: 20px;}
.bottom_bar a {color: #999999; text-decoration: none;}
.bot_col {float: left; width: 33%;}
.bot_col ul {margin: 10px 0 0 15px; padding: 0; list-style: disc;}
.right_col .schedule {width: 100%;}
.right_col .schedule th {color: #999999; font-size: 9px; padding: 5px; text-align: left; border-top: 1px solid #000000; border-bottom: 1px solid #000000;}
.right_col .schedule  td {text-align: left; padding: 5px; border-bottom: 1px solid #add5fe; background: #ffffff;}
.right_col .bg2 {background-color: #f0f0f0; padding: 3px;}
.right_col .schedule .bg3 td{background-color: #e6f8ff;}
.gray_box { width: 100%; margin: 10px 0;padding:0; text-align: left;}
.gray_box thead td {padding: 5px 10px; vertical-align: top;}
.gray_bg, tr.gray_bg td, tr.gray_bg th { background: #f0f0f0!important;}
.blue_bg, .blue_bg th { background: #c3e0e9!important;}
.borright {border-right: 10px solid #ffffff;}
.inner710 {padding: 7px 10px;}
.innerTop5{padding-top: 5px;}
.tButtons {position: relative; top: -27px;}
.table_head th.checkboxToggler {border-right: none; padding-left:10px;}
.fl {float:left !important;}
.fr {float:right !important;}
.header #headerLogo {margin-top:10px;}
.notices {font-size:14px; color:#10085A;}
.notices a { color: #032d5f; text-decoration: underline;}
.notices a:hover { text-decoration: none;}
.notices td {padding: 5px 5px 0px 0px;}
.indentTop10 {margin:10px 10px 0px 0px;}
.indentTop {margin-top:10px;}
.inner10 {padding: 10px;}
.header_right {max-width: 60%;}
.pseudolink {cursor: pointer; color: #5091CB!important; text-decoration: underline;}
.right_col h3.pseudolink {padding: 5px;}
.per50 thead td {vertical-align: top;}
.red {color: #ff0000;}
.indentTop5 {margin-top: 5px !important;}
.indentTop10 {margin-top: 10px;}
.indentTop20 {margin-top: 20px;}
.indentBottom10 {margin-bottom: 10px;}
.indentRight5 {margin-right: 5px;}
.indentRight120 {margin-right: 120px;}
.indentRight200 {margin-right: 200px;}
.innerTop3 {padding-top: 3px;}
.innerTop5 {padding-top: 5px;}
.innerTop7 {padding-top: 7px;}
.innerTop10 {padding-top: 10px;}
.innerTop15 {padding-top: 15px;}
.innerBottom3 {padding-bottom: 3px;}
.complete_ic {margin-bottom: 17px; margin-right: 10px;}
.wo_ttbx {width: 100%;}
.wo_ttbx td {padding: 0px 3px 2px 0;}
.wo_ttbx td h3 {pmargin-bottom: 3px;}
.SATLabel {font-weight: bold; font-size: 12px; color:#002C5D;}

.fileDiv {
    width       : 96px;
    height      : 27px;
    overflow    : hidden;
    z-index     : 100;
    -moz-opacity: 0;
    filter      : alpha(opacity=0);
    opacity     : 0;
    cursor      : pointer;
    float       : left;
}
.fileElement {
	font        : normal 26px/34px Verdana, Arial, Helvetica, sans-serif;
    cursor      : pointer;
}
.fileTd {
    background: url(/widgets/images/choose_file.png) left top no-repeat;
}
.fileTd_browse {
    background: url(/widgets/images/browse_button.gif) left top no-repeat;
}
.h275 {max-height: 275px;}
.tSmall {font-size: 11px;}
.tMidB {font-size: 12px; font-weight: bold;}
.vTop {vertical-align:top;}

.bottom_links {margin: 10px 0; text-align: center; padding: 10px 0;}
.bottom_links a {padding: 0 10px; color: #9E9E9E;}
.copyright {
color:#6A6A6A;
font:10px/14px Arial,Helvetica,sans-serif;
text-align:center;
}
.notice {
color:#6A6A6A;
font:10px/14px Arial,Helvetica,sans-serif;
/*text-align:center;*/
}

/*Form Styles in htdocs/clients/wosView.php*/
.label_field {
	color: #032D5F;
}
.submit_raw {
	background-color: #5091CB;
}
.form_table .submit_raw td {
	padding: 5px;
	border-top: solid 2px #032D5F;
}
.input_button {
	color: #FFFFFF;
	font-weight: bold;
	border: solid 1px #5091CB;
	margin: 0px 3px;
	background-color:#032D5F;
}
.form_table {
	border: solid 2px #032D5F;
	font-size: 12px;
}
.form_table td {
	padding: 2px 5px;
	vertical-align: top;
}
.form_table select {
	width: 200px;
}
.form_table input.input_text {
	width: 194px;
}
.form_table input.numeric_input {
	width: 94px;
}
.form_table input.input_date {
	width: 174px;
}
.form_table {
	margin: 10px;
}
.reqired {
	color: #FF0000;
}
.popup_form_holder {
	text-align: center;
}
.popup_form_holder .form_table {
	margin: 0px auto;
	text-align: left;
}
.subheader {color:#3366cc; font-weight: bold; border-bottom: solid 1px #3366cc; padding-top: 10px;}



#headerSlider, .clr {
	*zoom: 1;
}
.bottom_bar {
	*zoom: 1;
}
.header_right {
	*width: 43%;
}
.maintab ul li a {
	color: #ffffff;
}
.maintab ul.submenu li a {
	color: #000000;
}
#leftHandMenuOpend {
	background: #eef2f7;
	margin-left: 2px;
}
.leftHandMenuOpend_box {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.leftHandMenuOpend_box #orders_link {
	font-size: 13px;
}
.leftHandMenuOpend_box a#orders_link:hover {
	font-size: 13px;
	text-decoration: none;
}
#MyScheduleBtn {
	width: 140px;
}
#FullWOView {
	width: 140px;
}
#TechWOWorkPlaceLeft {
	margin-top: 0px;
	margin-right: 10px;
}
.PlaceLeft_title {
	background: #ffffff;
	color: #000000;
	padding-bottom: 0px;
	text-align:	left;
	font: normal 18px Arial;
}
#TechWOWorkPlaceLeft_box {
	background: #f4f4f4;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font: normal 12px Arial;
}
#TechWOWorkPlaceLeft_box h3 {
	color: #3475cd;
	text-align: left;
	padding: 0px;	
}
a.ajaxLink, span.ajaxLink {
	font-size: 13px;
}
#orders_link {
	color: #5091CB;
	font: normal 14px Arial;
	text-decoration: underline;
}
.info_table {
	font: normal 10px Arial;
	color: #000000;
}
.info_box {
	font: bold 12px Arial;
	color: #000000;
}
#TechWOWorkPlaceRight {
	margin-top: 0px;
	text-align: center;
}
.TechWOWorkPlaceRight_box {
	background: #dee8c9;
	padding: 5px 15px 5px 5px;
	min-height: 328px;
	/*height: 330px;*/
	font: normal 16px Arial;
	color: #000000;
	margin-bottom: 10px;
	text-align: left;
}
.Table_green_box {
	background: #dee8c9;
	font: normal 70% Arial;
}
.TechWOWorkPlaceRight_box.h391 {
	height: 437px;
	*height: 449px;
}
.right_title {
	font: bold 18px Arial;
}
.h3_right {
	font: bold 20px Arial;
	color: #000000;
	text-align: left;
}
.tools_box {
	background: #578cd4;
	width: 400px;
}
#woSections {
	padding: 10px;
}
#woSections table {
	border-spacing: 0px;
}
.woSections_title {
	background: #FFFFFF url(/widgets/css/images/section_background.gif) repeat-y left top;
	font: bold 14px/20px Arial;
	color: #000000;
	padding: 3px 5px;
	*zoom: 1;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 5px;
}
.woSections_title img {
     vertical-align: middle;
}
.win_num {
	float: right;
    padding-top: 0px;
}
#techwo_updatebtn {
	float: right;
}
.hpad_10 {
    padding-left: 10px;
    padding-right: 10px;
}
.woSections_box {
	background: #F4F4F4;
	margin: 0px 7px;
	padding: 10px;
	font: nomal 12px Arial;
	color: #000000;
}
.order_table {
	width: 100%;
}
#order_h1 {
	font: bold 16px/20px Arial;
	color: #000000;
}
.order_right {
	font: bold 14px/16px Arial;
	color: #000000;
	width: 20%;
}
.woSections_lefttitle {
	float: left;
    cursor: pointer;
    margin-top: 0px;
}
.client_num {
	font-weight: normal;
}
.woSections_lefttitle a, .woSections_lefttitle a:hover {
	color: #000000;
}

.item_title {
	font: bold 14px Arial;
}
#left_space {
	padding-left: 40px;
}
.left_tbl_box {
	padding: 10px 10px 10px 25px;
}
#right_box {
	margin-bottom: 0px;
	margin-left: 0px;
}
#woSections form {
	background: none;
}
#woSections #right_box select {
	background: #ffffff;
	width: 100px;
}
#woSections #right_box textarea {
	background: #ffffff;
	width: 850px;
}
#TechWODetailsSection4 .woSections_box {
	font: normal 15px Arial;
	color: #000000;
}
#TechWODetailsSection4 input, #TechWODetailsSection4 select, #TechWODetailsSection4 textarea {
	margin-bottom: 3px;
}
#red_sm {
	font: normal 8px Arial;
	color: #ff0000;
}
.red_mid {
	font: normal 10px Arial;
	color: #ff0000;
	font-style: italic;
}
#red_p {
	color: #ff0000;
	font: bold 14px Arial;
}
.link_button.middle_button_180	{
	background: transparent url(/widgets/images/button_middle_180.png) no-repeat scroll left top;
	width: 180px;
}
.link_button.middle_button_230	{
	background: transparent url(/widgets/images/button_middle_230.png) no-repeat scroll left top;
	width: 230px!important;
}
.link_button.button_green665 {background: transparent url(/widgets/images/button_green_665.png) no-repeat scroll left top;
	width: 665px!important;
	height: 40px;
	color: #fff;
	font: bold 22px/40px Verdana,Arial,Helvetica,sans-serif;
}
.link_button.btxt {font-size: 11px; font-weight: bold; line-height: 12px; float: right; }
.indentLeftm50 {margin-left: -50px;}
#TechWOWorkPlaceLeft_box h3 {margin-top:10px;}
.calendarIcon {
    cursor      : pointer;
    position    : relative;
    top         : 4px;
}
.parts_img {
	position: relative;
	*zoom: 1;
}
.parts_num {
	position: absolute;
	width: 20px;
	display: block;
	text-align:center;
	font: normal 11px Arial;
	color: #ffffff;
	top: 2px;
	left: 64px;
}
#TechWOWorkPlaceRight .right_tools {
	margin: auto;
}
.whiteCom {background-color:#ffffff; padding: 5px; margin-top: 7px;}
#example {position: relative;}
.showsb {font-size: 10px; position:absolute; width: 70px; top: -13px;}
.wp_btbl {width: 99%;}
.wp_btbl td {vertical-align: top;}
.wp_btbl .ltc {background-color:#F4F4F4;}
.wp_btbl .rtc {border-left: solid 10px #ffffff; background-color:#DEE8C9;}
.wp_btbl .rbc {height: 115px; //height: 105px; border-left: solid 10px #ffffff; vertical-align: bottom;}

.baseinfo_table td {
	padding: 5px 5px;
}
a.quickApply{
    width:54px;
    height:20px;
    display:block;
    overflow:hidden;
}
a.quickApply:hover img{
    margin-top:-23px;
}
#FSIdeas{
float:right;
    position: relative;
    top: 10px;
    width: 62px;
	right: 6px;
}
#FSIdeas-techs{
width:62px;
position: relative;
margin-right:7px;
top:-25px;
float:right;
}
#content{
	margin: 0 auto;
}
.frame_form{
	width:750px;
}
#partsListTable{
	width:1114px;
}
.wochevron{
	background: url("/widgets/images/arrows-left5.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin-right: 2px;
    margin-top: 0;
    outline: medium none;
    width: 16px;
}
.closed{
	background: url("/widgets/images/arrows-right5.png") repeat scroll 0 0 transparent;
}

.techProfileCenterContent  {
    color: #000000;
}
.techProfileCenterContent th {
    background-color: #4790D4;
    border: 1px solid #FFFFFF;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}
.techProfileCenterContent td {
    background-color: #F0F8FF;
    border: 1px solid #FFFFFF;
    font-size: 11px;
    text-align: center;
}
.techProfileCenterContent tr {
    height: 20px;
}
.commentDate {
	color: #6699CC;
}
.reportedAbuse {
	color: #D00;
}

/* Select box */
.customSelect .csIconImg{
    background: url("/widgets/css/images/btn_cbx.png") no-repeat scroll 0 0 transparent !important;
    height: 16px !important;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 15px !important;
    text-decoration: none;
}
.customSelect input[type=text]{
    width:92%;
}
.customOption{position:absolute;top:-15000px;left:-15000px;}
.customOption .csLayer{margin:0 2px;background-color:#ECECED;}
.customOption ul{overflow:hidden;}
.customOption ul li{padding:0 0 0 5px;width:100%;display:block;float:left;line-height:18px;}
.customOption ul li:hover{background-color:#bbb;}

.aucomplete{z-index:9991;padding:5px;height:200px;}
.aucomplete li{line-height:20px;font-size:12px;}
.aucomplete li.current{background-color:#eee;}
.aucomplete li:hover{background-color:#eee;}


.customSelect {
    background: url("/widgets/css/images/bg_input_left.png") no-repeat scroll left top transparent;
    display: block;
    height: 18px;
    padding: 0 0 0 6px;
    float: left;
    position:relative;
     width: 70px;
}
.customSelect span {
    background: url("/widgets/css/images/bg_input_right.png") no-repeat scroll right top transparent;
    display: block;
    float: right;
    height: 18px;
    padding: 0 2px 0 0;
    width: 57px;
}
.customSelect span span {
    background: url("/widgets/css/images/bg_input_mid.png") repeat-x scroll 100% top transparent;
    height: 18px;
    padding: 0 5px;
    width: 63px;
}
.customSelect span span input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    width: 100%;
    padding: 1px 0 0;
    margin: 0 0 0 -5px;
}
.tableServiceSchedule .CalendarInput{
    float: left;
    margin: 0 11px 0 0;
}
.tableServiceSchedule .classStartType{
    margin: 0px;
}
.tableServiceSchedule .EstimatedDuration{
    margin: 0px;
}
.tableServiceSchedule tr td{
    vertical-align: top;
}
.tableServiceSchedule .smallTextCalendar{
    float: left;
}
.tableServiceSchedule .DateTypeStart{
    width: 180px;
}
.tableServiceSchedule .DateTypeEnd{
    width: 180px;
}
/*New tech wo style*/
.woSections_titleNew
{
    font: bold 14px/20px Arial;
    color: #000000;
    padding: 3px 5px;
    overflow: hidden;
    margin: 5px 10px 5px 10px;
    padding-left: 20px;
}

.woSections_titleNew a
{
    font: bold 14px/20px Arial;
    text-decoration: none;
    color: #6699CC;
}

#woSectionsNew img.imgcol {
    margin-left: -20px;
    margin-bottom:-1px;
}

.woSections_lefttitleNew {
    float: left;
    cursor: pointer;
    margin-top: 0px;
    width:100%;
}
.woSections_righttitleNew
{
    border-bottom: 1px solid #F69630;
    width: 100% !important;
}

.woSections_TopInfo
{
    border-top: 1px solid #F69630;
    border-left: 1px solid #F69630;
    border-bottom: 1px solid #F69630;
    width: 99% !important;
}
.woSections_boxNew {
    margin: 0px 30px;
    font: nomal 12px Arial;
    color: #000000;
}
.whiteComNew
{
    /*margin-top:-10px;*/
    padding-left:20px;
}
.whiteComNew ol {
    display: block;
    list-style-type: decimal;
    padding-left: 40px;
}
.whiteComNew ul {
    display: block;
    list-style-type: disc;
    padding-left: 40px;
}
.whiteComNew li {
    display: list-item;
}

.deDescription p
{
    margin: 0px 0px 0px 0px;
}
.watermarkText{
    color: black;
    font-size: 13px;
}
.watermarkEmpty{
    color: gray;
    font-size: 13px;
}
.watermarkTextDateTime{
    color: black;
    font-size: 13px;
}
.watermarkEmptyDateTime{
    color: gray;
    font-size: 13px;
}
.inputwatermark{
    background-repeat: no-repeat;
    background-position: left center;
}
#clientCredentials img{
    vertical-align: middle;
}

.cmdOpenWinTabs{
    cursor: pointer;
}
.divSecctionWO .divWintagleft{
    width: 50%;
    float: left;
}
.divSecctionWO divWintagright{
    float: left;
}
.divSecction1 .divWintagleft{
    width: 69%;
    float: left;
}
.divSecction1 divWintagright{
    float: right;
}
.divSecction1 select,.divSecctionWO select{
    width:120px;
}

.link_disabled_sm {
    background: url("/widgets/images/button_disabled_sm.png") no-repeat scroll left top transparent;
    border: medium none;
    color: #385C7E;
    cursor: pointer;
    font: 10px/10px Verdana,Arial,Helvetica,sans-serif;
    padding: 4px 0 8px;
    width: 120px;
}


.download_disabled_button {
    background: url("/widgets/images/download_disabled.png") no-repeat scroll left top transparent !important;
    padding-left: 13px;
    width: 96px;
}
