div.popup-full-background {
    z-index: 9000;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/widgets/images/popup/bg.png);
    width: 100%;
    height:100%;
}
div.popup-container-roll {
    margin: 0;
    background: #fff;
    padding: 7px;
    border: 1px solid #999;
    z-index : 100;
    position : absolute;
}
div.popup-container {
    margin: 50px auto;
    background: #fff;
    padding: 15px;
    border: 1px solid #999;
}
div.popup-header-title {
    float: left;
    display: block;
	width: 100%;
}
div.popup-header-button {
    float: right;
    width: 18px;
    height: 18px;
    display: block;
    background: url(/widgets/images/popup/close.png);
    cursor: pointer;
}
div.popup-body {
    clear: both;
    display: block;
    padding-top: 7px;
	font: normal 10px/14px Verdana,Arial,Helvetica,sans-serif;
}
div.popup-body p {
    font-size: 11px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
div.popup-body h3 {
    font-size: 11px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #000000;
}
div.popup-header-button:hover {
    background: url(/widgets/images/popup/closehover.png);
}
.popup_table td {border-bottom: 1px solid #ececec; padding: 4px 0; border-collapse:collapse;}
.popup_table td.noborder {border-bottom: none;}
.popup_table textarea {width: 145px;}
.quickassign_table td{padding: 5px;vertical-align: middle;}
.filter_popup { padding-right: 10px;}
.filter_popup td {vertical-align: top; padding: 3px 0;}
.filter_popup td.tRight{padding-right: 5px;}
.filter_popup input.inputtext{width: 150px;}
.filter_popup select {width: 156px;}
.filter_by_project {height: 120px; overflow-y: auto;}

.dispalyNone {display: none;}
.colorRed {color: #FF0000;}
.errormsg {padding-bottom:5px;}
.quickassign_img {position: absolute; margin: -5px 0 0 5px;}
.dev_num {
	padding: 0px 5px;
	width: 90px;
	display: inline-block;
}








