* {
	padding: 0px;
	margin: 0px;
}
.TechWorkOrderPlace {
	text-align: center;
	padding-top: 20px;
}
.TechWorkOrderPlace_box {
	width: 21.6cm;
	margin: auto;
	/*overflow: hidden; Disabled. Page was trucated by height to*/
}
.TechWorkWOID {
	text-align: left;
	font: bold 18px Helvetica;
	padding: 0px 10px;
    margin-top: 10px;
}
.ClientLogo {
	text-align: center;
	font: normal 12px Helvetica;
}
.LogoBox {
	width: 200px;
	margin: auto;
	padding: 10px;
}
.TechWorkInformation {
	background: #edcdcb;
	text-align: left;
	padding: 3px 5px 0px 5px;
	font: bold 14px Helvetica;
	color: #000000;
	margin: 10px 0px 0px;
}
.InformationTitle {
	font: bold 18px Helvetica;
	color: #000000;
}
.TechWorkCols {
	text-align: left;
	margin-bottom: 10px;
	overflow: hidden;
	*zoom: 1;
}
.TechWorkCols_table {
	border-spacing: 10px;
}
#Page2 {
	margin-top: 10px;
}
.TechWorkLeftPlace {
	width: 330px;
	background: #f2f2f2;
	vertical-align: top;
}
.TechWorkRightPlace {
	width: 470px;
	background: #f2f2f2;
	vertical-align: top;
}
.TechWorkRightPlace .Place_box {
	/*padding: 16px 5px 16px 5px;*/
}
#Place_box2 {
	padding: 7px 5px 61px 5px;
}
.Place_box {
	padding: 0px 5px 7px 5px;
	font: normal 14px Helvetica;
	color: #000000;
}
.Place_boxtitle {
	font: bold 14px Helvetica;
	/*color: #3475cd;*/
	color: #000000;
}
.TechWorkSection {
	text-align:left;
}
.SectionTitle {
	font: bold 18px Helvetica;
	padding: 3px 7px;
	color: #000000;
	background: #f2f2f2;
	margin: 10px 0px;
}
.SectionPlace {
	background: #F2F2F2;
	padding: 7px;
	margin: 0px 10px;
	*zoom: 1;
}
#SectionPlace2 {
	margin: 0px;
}
#Skill {
	font: bold 18px Helvetica;
}
#info {
	font: bold 14px Helvetica;
}
.SectionItem {
	margin: 10px 0px;
	font: normal 14px Helvetica;
}
.ItemTitle {
	font: bold 14px Helvetica;
}
#left_pad {
	padding-left: 15px;
}
#contacts {
	background: #f2f2f2;
	font: normal 14px Helvetica;
	border-spacing: 5px;
}
.contacts_title {
	font: bold 14px Helvetica;
}
#contact_link {
	color: #acc5db;
}
#SectionPlaceContacts {
	background: #f2f2f2;
}
.TechWorkName {
	background: #f2f2f2;
	padding:7px;
	margin: 10px 0px 0px;
	text-align: left;
	/*border: 1px solid #000000;*/
	font: normal 18px Helvetica;
	*zoom: 1;
}
#techname {
	font: bold 18px Helvetica;
	color: #000000;
}
#SectionPlace4 {
	background: #f2f2f2;
	margin: 0px 4px;
}
.TechWorkApproval {
	font: normal 18px Helvetica;
	zoom: 1;
}
.TechWorkMap {
	background: #ffffff;
	padding: 7px;
	border: 1px solid #000000;
	text-align: left;
	margin: 10px 0px;
    height:500px;
}
.maptitle {
	font: bold 14px Helvetica;
	color: #85a446;
}