#mainContainer{
	min-width: 800px;
	width: 850px;
}

.required{
	padding: 0;
	
}

*{
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	outline: none;
}
#wr{
	margin: 20px auto;
	width: 800px;
	text-align: left;
}
#acc dt, #acc dd{
	/*width: 100%;*/
}
.sectionHeading{
	cursor: pointer;
	display: block;
	padding: 3px 10px;
	background: #E1E1E1;
	color: #000;
	border: solid 1px #666;
	height: 20px;
	font-weight: bold;
	font-size: 14px;
	text-align:left;
}

#acc dt.act{
	background: #E1E1E!;
}

#acc dd{
	/*display: none;*/
	padding: 3px 10px;
}

.label{
	text-align: right;

}

td.field input.invalid, td.field select.invalid, tr.errorRow td.field input, tr.errorRow td.field select,
span.field input.invalid{
    background-color: #FFFFD5;
    border: 2px solid red;
    color: red;
    margin: 0;
}
tr td.field div.formError, tr span.field div.formError {
    color: #FF0000;
    display: none;
}
tr.errorRow td.field div.formError {
    display: block;
    font-weight: normal;
}
div.invalid, label.invalid {
    color: red;
}
div.invalid a {
    color: #336699;
    font-size: 12px;
    text-decoration: underline;
}
#section{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
#reqStar{
	color: rgb(255, 0, 0); 
	font-size: 12px; 
	font-family: Verdana; 
	margin-left: 2px;
}

.round {
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; 
} 


.required{
	color: #000;
}
div.status{
	text-align: right;
	margin-right: 13px;
}


div#loader{
	display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/widgets/images/loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

#W9Agreement p{
margin: 0 80px 0 80px;
}

a, form a{
font-size: 12px;
}

#tableMain{
margin-left: auto; 
margin-right: auto; 
line-height: 2;
table-layout: fixed;
}

#tableMain td{
	width: 50%;
}

.sectionHeader{
border-bottom: 1px solid #000; 
margin-bottom: 5px;
}

.divider{
	margin-top: 10px;
}
