<?php $wo = $this->wo; ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <?php if ($this->side == 'client') : ?>
        <?php if ( $wo->Pic1 ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="detailsWidget.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic1))?>'}});"><?= substr($wo->Pic1, strrpos($wo->Pic1, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
        <?php if ( $wo->Pic2 ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="detailsWidget.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic2))?>'}});"><?= substr($wo->Pic2, strrpos($wo->Pic2, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
        <?php if ( $wo->Pic3 ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="detailsWidget.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic3))?>'}});"><?= substr($wo->Pic3, strrpos($wo->Pic3, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
    <?php else: ?>
        <?php if ( $wo->Pic1_FromTech ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="wd.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic1_FromTech))?>'}});return false;"><?= substr($wo->Pic1_FromTech, strrpos($wo->Pic1_FromTech, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
        <?php if ( $wo->Pic2_FromTech ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="wd.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic2_FromTech))?>'}});return false;"><?= substr($wo->Pic2_FromTech, strrpos($wo->Pic2_FromTech, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
        <?php if ( $wo->Pic3_FromTech ) :?>
        <tr>
            <td><span class="ajaxLink" onclick="wd.open({tab:'filedownload',params:{download:'file',filename:'<?=urlencode(base64_encode($wo->Pic3_FromTech))?>'}});return false;"><?= substr($wo->Pic3_FromTech, strrpos($wo->Pic3_FromTech, '/')+1) ?></span></td>
        </tr>
        <?php endif;?>
    <?php endif;?>
</table>

