<?php $wo = $this->wo; ?>
<form id="payFinanForm" action="/widgets/dashboard/do/updatepayfinan" method="post">
<div id="woErrorMsg" class="displayNone colorRed errormsg"></div>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="75%" />
    <col width="25%" />
    <tr>
        <td>Max Pay Amount $:</td>
        <td><?=$this->displayMoney($wo->PayMax)?>
            </td>
    </tr>
    <tr>
        <td>Agree Amount $:</td>
        <td id="Tech_Bid_Amount"><?=$this->displayBid($wo->Tech_Bid_Amount, $wo->Amount_Per)?>
        <input type="hidden" name="Amount_Per_Amount" value="<?= $wo->Amount_Per?>" /></td>
    </tr>
    <tr>
        <td>Base Tech Pay $:</td>
        <td><input type="text" id="baseTechPay" name="baseTechPay" size="8" value="<?= sprintf('%.2f', $wo->baseTechPay) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Out of Scope Amount $:</td>
        <td><input type="text" name="OutofScope_Amount" size="8" value="<?= sprintf('%.2f', $wo->OutofScope_Amount) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Trip Charge $:</td>
        <td><input type="text" name="TripCharge" size="8" value="<?= sprintf('%.2f', $wo->TripCharge) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Mileage Charge $:</td>
        <td><input type="text" name="MileageReimbursement" size="8" value="<?= sprintf('%.2f', $wo->MileageReimbursement) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Materials Charge $:</td>
        <td><input type="text" name="MaterialsReimbursement" size="8" value="<?= sprintf('%.2f', $wo->MaterialsReimbursement) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Other Adjustments $:</td>
        <td><input type="text" name="Additional_Pay_Amount" size="8" value="<?= sprintf('%.2f', $wo->Additional_Pay_Amount) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Abort/Short Notice Pay Amount $:</td>
        <td><input type="text" name="AbortFeeAmount" size="8" value="<?= sprintf('%.2f', $wo->AbortFeeAmount) ?>" class="calculate" /></td>
    </tr>
    <tr>
        <td>Total Hours:</td>
        <td><input type="text" id="calculatedTechHrs" name="calculatedTechHrs" size="8" value="<?= $wo->calculatedTechHrs+0 ?>" class="calculateHrs noformat" /></td>
    </tr>
    <tr>
        <td>Final Total Tech $:</td>
        <td id="payFinan_PayAmount_Output"><?=$this->displayMoney($wo->PayAmount)?></td>
    </tr>
    <tr>
    	<td>Comments</td>
    	<td>
    		<textarea rows="2" cols="25" name="Add_Pay_Reason"><?= $this->escape($wo->Add_Pay_Reason) ?></textarea>
    	</td>
    </tr>
    <tr>
    	<td colspan="2" class="tCenter">
			<input type="hidden" id="payFinan_PayAmount" name="PayAmount" value="<?= $wo->PayAmount ?>" />
			<input type="hidden" id="Approve_Amount_Per" name="Amount_Per" class="calculate" value="<?= $wo->Amount_Per ?>" />
    		<input type="hidden" name="WIN_NUM" value="<?= $wo->WIN_NUM ?>" />
    		<input type="hidden" name="company" value="<?= $this->escape($this->companyId) ?>" />
    		<input id="updateButton" type="submit" name="updateButton" value="Update" class="link_button_popup" />
    		<input id="updateApproveButton" type="submit" name="updateApproveButton" value="Update &amp; Approve" class="link_button middle2_button" />
    	</td>
    </tr>
</table>
</form>
<script type="text/javascript">
    function updatePayAmount(){

        newVal = $('Amount_Per_Amount').val()*1;
        newVal = newVal+$('OutofScope_Amount').val()*1;
        newVal = newVal+$('TripCharge').val()*1;
        newVal = newVal+$('MileageReimbursement').val()*1;
        newVal = newVal+$('MaterialsReimbursement').val()*1;
        newVal = newVal+$('Additional_Pay_Amount').val()*1;
        newVal = newVal+$('AbortFeeAmount').val()*1;

        if(!isNaN(newVal))
            $('#payFinan_PayAmount_Output').html(newVal);
        else
            $('#payFinan_PayAmount_Output').html('');
    }
</script>
