<?php $wo = $this->wo; ?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="75%" />
    <col width="25%" />
    <tr>
        <td>Max Pay Amount $:</td>
        <td><?=$this->displayMoney($wo->PayMax)?></td>
    </tr>
    <tr>
        <td>Bid/Agree Amount $:</td>
        <td><?=$this->displayMoney($wo->Tech_Bid_Amount)?></td>
    </tr>
    <tr>
        <td>Base Tech Pay $:</td>
        <td><?=$this->displayMoney($wo->baseTechPay)?></td>
    </tr>
    <tr>
        <td>Out of Scope Amount $:</td>
        <td><?=$this->displayMoney($wo->OutofScope_Amount)?></td>
    </tr>
    <tr>
        <td>Trip Charge $:</td>
        <td><?=$this->displayMoney($wo->TripCharge)?></td>
    </tr>
    <tr>
        <td>Mileage Charge $:</td>
        <td><?=$this->displayMoney($wo->MileageReimbursement)?></td>
    </tr>
    <tr>
        <td>Materials Charge $:</td>
        <td><?=$this->displayMoney($wo->MaterialsReimbursement)?></td>
    </tr>
    <tr>
        <td>Other Adjusments $:</td>
        <td><?=$this->displayMoney($wo->Additional_Pay_Amount)?></td>
    </tr>
    <tr>
        <td>About/Short Notice Pay Amount $:</td>
        <td><?=$this->displayMoney($wo->AbortFeeAmount)?></td>
    </tr>
    <tr>
        <td>Total Hours:</td>
        <td><?=$wo->calculatedTechHrs+0?> hour<?=($wo->calculatedTechHrs+0 > 1)?'s':''?></td>
    </tr>
    <tr>
        <td>Final Total Tech Pay $:</td>
        <td><?=$this->displayMoney($wo->PayAmount)?></td>
    </tr>
</table>

