<?php if ( trim($this->wo->MissingComments) ): ?>
    <p>
        <?= nl2br($this->wo->MissingComments); ?>
    </p>
<?php else : ?>
    <p>
        Comments is empty.
    </p>
<?php endif;?>

