<?php $wo = $this->wo; ?>
<table>
    <tr>
        <td colspan="4">Mark Work Order as "Incomplete" and notify tech</td>
    </tr>
    <tr>
        <td colspan="2">Paperwork Recieved: <?=($wo->Paperwork_Received)?'Yes':'No'?></td>
        <td colspan="2">Paperwork Incomplete: <?=($wo->Incomplete_Paperwork)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="4">Incomplete work order comments – indicate tech requirements to complete:<br /><?=($wo->MissingComments)?$wo->MissingComments:'Empty'?></td>
    </tr>
    <tr>
        <td colspan="2">Site Complete: <?=$wo->Site_Complete?></td>
        <td colspan="2">Closed in Client System: <?=$wo->CallClosed?></td>
    </tr>
    <tr>
        <td colspan="4">Client Closed Comments (not shown to techs):<br /><?=($wo->ClientComments)?$wo->ClientComments:'Empty'?></td>
    </tr>
    <tr>
        <td colspan="2">Work Out of Scope: <?=($wo->Work_Out_of_Scope)?'Yes':'No'?></td>
        <td colspan="2">Out of Scope Amount $: <?=$this->displayMoney($wo->OutofScope_Amount)?></td>
    </tr>
    <tr>
        <td colspan="4">Reason Out of Scope:<br /><?=($wo->OutofScope_Reason)?$wo->OutofScope_Reason:'Empty'?></td>
    </tr>
    <tr>
        <td>Trip Charge $: <?=$this->displayMoney($wo->TripCharge)?></td>
        <td>Mileage Charge $: <?=$this->displayMoney($wo->MileageReimbursement)?></td>
        <td>Materials Charge $: <?=$this->displayMoney($wo->MaterialsReimbursement)?></td>
        <td>&#160;</td>
    </tr>
    <tr>
        <td>Other Adjustments $: <?=$this->displayMoney($wo->Additional_Pay_Amount)?></td>
        <td colspan="3">&#160;</td>
    </tr>
    <tr>
        <td>Abort/Short Notice Pay: <?=($wo->AbortFee)?'Yes':'No'?></td>
        <td colspan="3">Abort/Short Notice Pay Amount $: <?=$this->displayMoney($wo->AbortFeeAmount)?></td>
    </tr>
    <tr>
        <td colspan="4">Special Fees &amp; Exceptions Authorized By: <?=$wo->Add_Pay_AuthBy?></td>
    </tr>
    <tr>
        <td>Special Fees &amp; Exceptions Fields Explanation: <?=$wo->Add_Pay_Reason?></td>
    </tr>
    <tr>
        <td colspan="2">Max Pay Amount $: <?=$this->displayMoney($wo->PayMax)?></td>
        <td colspan="2"><?=$this->displayAmountPer($wo->Amount_Per)?></td>
    </tr>
    <tr>
        <td colspan="4">Techs are informed that this is a pre-set fixed tech pay work order. Techs cannot bid other prices or request additional/conditional extra $: <?=($wo->FixedBid)?></td>
    </tr>
    <tr>
        <td>Bid/Agreed Amount $: <?=$this->displayMoney($wo->Tech_Bid_Amount)?></td>
        <td><?=$this->displayAmountPer($wo->Amount_Per)?></td>
        <td>Qty Devices: <?=$wo->Qty_Devices?></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">Total Hours</td>
        <td colspan="2"><?=$wo->calculatedTechHrs+0?> hour<?=($wo->calculatedTechHrs+0 > 1)?'s':''?></td>
    </tr>
    <tr>
        <td colspan="2">Base Tech Pay ($'s)</td>
        <td colspan="2"><?=$this->displayMoney($wo->baseTechPay)?></td>
    </tr>
    <tr>
        <td colspan="2">Final Total Tech Pay $</td>
        <td colspan="2"><?=$this->displayMoney($wo->PayAmount)?></td>
    </tr>
    <tr>
        <td colspan="2">Approve Work Order for Payment: <?=($wo->Approved)?'Yes':'No'?></td>
        <td colspan="2"><?=($wo->Approved)?$wo->DateApproved:'Date Approved'?></td>
    </tr>
    <tr>
        <td>Technician Paid by Field Solutions</td>
        <td><?=$wo->TechPaid?></td>
        <td><?($wo->TechPaid && strtolower(trim($wo->TechPaid))!='no')?$wo->DatePaid:'Date Paid'?></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">Rate Tech Preference &amp; Performance Ratings:</td>
    </tr>
    <tr>
        <td colspan="4">How likely would you be to recommend this tech: <?=$wo->SATRecommended?></td>
    </tr>
    <tr>
        <td colspan="4">The outcome of this field service event was: <?=$wo->SATPerformance?></td>
    </tr>
    <tr>
        <td colspan="2">Deactivated: <?=($wo->Deactivated)?'Yes':'No'?></td>
        <td colspan="2">Deactivation Code: <?=$wo->DeactivationReasonCode?></td>
    </tr>
    <tr>
        <td colspan="4">Deactivation Reason: <?=$wo->Deactivated_Reason?></td>
    </tr>
</table>
