<?php $wo = $this->wo;?>
<table>
    <tr>
        <td colspan="4">Work Description: <?=$wo->Description?></td>
    </tr>
    <tr>
        <td colspan="4">Tech Requirements: <?=$wo->Requirements?></td>
    </tr>
    <tr>
        <td colspan="4">Tools Required: <?=$wo->Tools?></td>
    </tr>
    <tr>
        <td colspan="4">Special Instructions and materials pick up instructions: <?=$wo->SpecialInstructions?></td>
    </tr>
    <tr>
        <td>Lead: <?=($wo->Lead)?'Yes':'No'?></td>
        <td>Assisit: <?=($wo->Assist)?'Yes':'No'?></td>
        <td>&#160;</td>
        <td>&#160;</td>
    </tr>
    <tr>
        <td colspan="4">Work Order Reference Documents and Files</td>
    </tr>
    <tr>
        <td colspan="4">Sign-off paperwork required for completion: <?=($wo->SignOffSheet_Required)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="4">File / Picture / Schematics 1: <?=($wo->Pic1)?$wo->Pic1:' &dash;'?></td>
    </tr>
    <tr>
        <td colspan="4">File / Picture / Schematics 2: <?=($wo->Pic2)?$wo->Pic2:' &dash;'?></td>
    </tr>
    <tr>
        <td colspan="4">File / Picture / Schematics 3: <?=($wo->Pic3)?$wo->Pic3:' &dash;'?></td>
    </tr>

    <tr colspan="4">FS-Parts Manager</tr>
    <tr>
        <td colspan="2">FS-Parts Manager ??</td>
        <td>New parts: ??</td>
        <td>Return parts: ??</td>
    </tr>

    <tr>
        <td colspan="4">Contact Information</td>
    </tr>
    <tr>
        <td colspan="2">PM Name: <?=$wo->ProjectManagerName?></td>
        <td>PM Number: <?=$wo->ProjectManagerPhone?></td>
        <td>PM Email: <?=$wo->ProjectManagerEmail?></td>
    </tr>
    <tr>
        <td colspan="2">RC Name: <?=$wo->ResourceCoordinatorName?></td>
        <td>RC Phone: <?=$wo->ResourceCoordinatorPhone?></td>
        <td>RC Email: <?=$wo->ResourceCoordinatorEmail?></td>
    </tr>
    <tr>
        <td colspan="2">Emergency Name: <?=$wo->EmergencyName?></td>
        <td>Emergency Number: <?=$wo->EmergencyPhone?></td>
        <td>Emergency Email: <?=$wo->EmergencyEmail?></td>
    </tr>
    <tr>
        <td colspan="2">Technical Support Name: <?=$wo->TechnicalSupportName?></td>
        <td>Technical Support Number: <?=$wo->TechnicalSupportPhone?></td>
        <td>Technical Support Email: <?=$wo->TechnicalSupportEmail?></td>
    </tr>
    <tr>
        <td colspan="2">Checkin / Checkout Name: <?=$wo->CheckInOutName?></td>
        <td>Checkin / Checkout Number: <?=$wo->CheckInOutNumber?></td>
        <td>Checkin / Checkout Email: <?=$wo->CheckInOutEmail?></td>
    </tr>

    <tr colspan="4">Automated Contact Services</tr>
    <tr>
`       <td colspan="3">Send SMS When Recruiting</td>
        <td><?=($wo->SMSBlast)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">Work Order Not Yet Accepted Reminder</td>
        <td><?=($wo->ReminderAcceptance)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">24 Hour Reminder Call</td>
        <td><?=($wo->Reminder24Hr)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">1 Hour Reminder Call</td>
        <td><?=($wo->Reminder1Hr)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">In-bound Check-In</td>
        <td><?=($wo->CheckInCall)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">In-bound Check-Out</td>
        <td><?=($wo->CheckOutCall)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">Work Order Not Yet Marked Complete Reminder</td>
        <td><?=($wo->ReminderNotMarkComplete)?'Yes':'No'?></td>
    </tr>
    <tr>
        <td colspan="3">Work Order Incomplete Reminder</td>
        <td><?=($wo->ReminderIncomplete)?'Yes':'No'?></td>
    </tr>

    <tr>
        <td colspan="4">Push2Tech™ Auto-Assignment Setting</td>
    </tr>
    <tr>
        <td colspan="3">Push2Tech™ auto-assignment:</td>
        <td><?=($wo->isProjectAutoAssign)?'Active':'Inactive'?></td>
    </tr>
    <tr>
        <td colspan="4">P2T&trade; Time Control – expires in: <?=$this->minutesToAnyFull($wo->MinutesRemainPublished, 'days')?> days <?=$this->minutesToAnyFull($wo->MinutesRemainPublished, 'hours')?> hours <?=$this->minutesToAnyFull($wo->MinutesRemainPublished, 'minutes')?> minutes.</td>
    </tr>
    <tr>
        <td colspan="3">Auto-assign to:</td>
        <td><?=($wo->isWorkOrdersFirstBidder)?'First Matching Bidder':'Lowest Matching Bidder Upon Time Expiration'?></td>
    </tr>
    <tr>
        <td colspan="3">Auto-assign to:</td>
        <td><?=($wo->P2TPreferredOnly)?'Preferred Tech Only':'Any Matching Tech'?></td>
    </tr>
    <tr>
        <td colspan="3">Category min. self rating for auto-assign: <?=$wo->MinimumSelfRating?></td>
        <td>Max. mileage for auto-assign: <?=$wo->MaximumAllowableDistance?></td>
    </tr>
</table>
