<?php if ($this->success):?>

<?php $wo = $this->wo;?>
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
<col width="40%" />
<col width="60%" />
    <?php if(!empty($this->win)): ?>
	<tr>
        <td>WIN # </td>
        <td><?=$this->win?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->WO_ID)): ?>
    <tr>
        <td>Client Work Order ID # </td>
        <td><?=$wo->WO_ID?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->DateEntered)): ?>
    <tr>
        <td>Date Created: </td>
        <td><?=$this->displayDate('n/j/y', $wo->DateEntered)?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->PO)): ?>
    <tr>
        <td>Client Purchase Order # </td>
        <td><?=$wo->PO?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->ShowTechs)): ?>
    <tr>
        <td>Show Work Order to Techs? </td>
        <td><?=($wo->ShowTechs)?'Yes':'No'?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartDate)): ?>
    <tr>
        <td>Work Start Date: </td>
        <td><?=$this->displayDate('n/j/y', $wo->StartDate)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartTime)): ?>
    <tr>
        <td>Start Time: </td>
        <td><?=$wo->StartTime?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->EndDate)): ?>
    <tr>
        <td>Work End Date: </td>
        <td><?=$this->displayDate('n/j/y', $wo->EndDate)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->EndTime)): ?>
    <tr>
        <td>End Time: </td>
        <td><?=$wo->EndTime?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->StartRange)): ?>
    <tr>
        <td>Estimated on-site arrival time: </td>
        <td><?=$wo->StartRange?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Duration)): ?>
    <tr>
        <td>Duration: </td>
        <td><?=$wo->Duration?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Region)): ?>
    <tr>
        <td>Region: </td>
        <td><?=$wo->Region?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Type_ID)): ?>
    <tr>
        <td>Call Type: </td>
        <td><?=$wo->Type_ID?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Project_Name)): ?>
    <tr>
        <td>Project: </td>
        <td><?=$this->projectName($wo)?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->WO_Category_ID)): ?>
    <tr>
        <td>Category: </td>
        <td><?=$wo->WO_Category_ID?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Headline)): ?>
    <tr>
        <td>Headline: </td>
        <td><?=$wo->Headline?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Site_Contact_Name)): ?>
    <tr>
        <td>Site Contact Name: </td>
        <td><?=$wo->Site_Contact_Name?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteName)): ?>
    <tr>
        <td>Site Name: </td>
        <td><?=$wo->SiteName?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteNumber)): ?>
    <tr>
        <td>Site Number: </td>
        <td><?=$wo->SiteNumber?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->Address)): ?>
    <tr>
        <td>Site Address: </td>
        <td><?=$wo->Address?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->City)): ?>
    <tr>
        <td>City: </td>
        <td><?=$wo->City?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->State)): ?>
    <tr>
        <td>US State &amp; CN Province: </td>
        <td><?=$wo->State?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->Zipcode)): ?>
    <tr>
        <td>Zip or Postal Code: </td>
        <td><?=$wo->Zipcode?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SitePhone)): ?>
    <tr>
        <td>Site Phone: </td>
        <td><?=$wo->SitePhone?></td>
	</tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteFax)): ?>
    <tr>
        <td>Site Fax: </td>
        <td><?=$wo->SiteFax?></td>
    </tr>
	<?php endif; ?>
	<?php if(!empty($wo->SiteEmail)): ?>
    <tr>
        <td>Site Email: </td>
        <td><?=$wo->SiteEmail?></td>
    </tr>
	<?php endif; ?>

</table>

<?php else :?>
    <?php if ( $this->errors && !is_string($this->errors) && strlen($this->errors) ):?>
        <?=$this->errors?>
    <?php else : ?>
        Sorry, error was occur.
    <?php endif;?>
<?php endif;?>
