<?php $wo = $this->wo; ?>
<table>
    <tr>
        <td>Tech Complete: <?=($wo->TechMarkedComplete)?'Yes':'No'?></td>
        <td>&#160;</td>
    </tr>
    <tr>
        <td>Date/Time Check-In</td>
        <td><?=$wo->Date_In.' '.$wo->Time_In?></td>
    </tr>
    <tr>
        <td>Date/Time Check-Out</td>
        <td><?=$wo->Date_Out.' '.$wo->Time_Out?></td>
    </tr>
    <tr>
        <td>Help Desk Contacted</td>
        <td><?=$wo->ContactHD?></td>
    </tr>
    <tr>
        <td>Total Tech Miles</td>
        <td><?=$wo->TechMiles?></td>
    </tr>
    <tr>
        <td>Tech Comments:</td>
        <td><?=$wo->TechComments?></td>
    </tr>
    <tr>
        <td>Tech File 1:</td>
        <td><?=($wo->Pic1_FromTech)?$wo->Pic1_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td>Tech File 2:</td>
        <td><?=($wo->Pic2_FromTech)?$wo->Pic2_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td>Tech File 3:</td>
        <td><?=($wo->Pic3_FromTech)?$wo->Pic3_FromTech:'Empty'?></td>
    </tr>
    <tr>
        <td><a href="https://www.fieldsolutions.com/techs/parts/parts.php?woId=<?=$wo->WIN_NUM?>&v=<?=$this->companyId?>" target="_blank">Tech Parts Details</a></td>
        <td>New parts:  Return parts: </td>
    </tr>
</table>
