<div id="woErrorMsg" class="displayNone colorRed errormsg"></div>
<form id="Approve_approveForm" action="/widgets/dashboard/do/updatepayfinan" method="post">
<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="50%" />
    <col width="50%" />
	<tr>
        <td>WIN #:</td>
        <td>
            <span><input type="text" id="Approve_WIN_NUM" name="WIN_NUM" onchange="assignTool.getApproveWoInfo(this)" size="12" />
            <img id='Approve_WIN_NUM_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" /></span>
        </td>
    </tr>
    <tr>
        <td>Client Work Order ID #: </td>
        <td>
            <span><input type="text" id="Approve_WO_ID" name="WO_ID" onchange="assignTool.getApproveWoInfo(this)" size="12" />
            <img id='Approve_WO_ID_Progress' src='/widgets/images/wait_small.gif' alt='Loading...' class="displayNone quickassign_img" /></span>
        </td>
	</tr>

    <tr><td colspan="2"><hr /></td></tr>
    <tr>
        <td>Max Pay Amount $:</td>
        <td id="Approve_PayMax"></td>
    </tr>
    <tr>
        <td>Agree Amount $:</td>
        <td id="Approve_Tech_Bid_Amount"></td>
    </tr>
    <tr>
        <td>Base Tech Pay $:</td>
        <td><input type="text" id="Approve_baseTechPay" name="baseTechPay" size="8" class="calculate"/></td>
    </tr>
    <tr>
        <td>Out of Scope Amount $:</td>
        <td><input type="text" id="Approve_OutofScope_Amount" name="OutofScope_Amount" size="8" class="calculate" /></td>
    </tr>
    <tr>
        <td>Trip Charge $:</td>
        <td><input type="text" id="Approve_TripCharge" name="TripCharge" size="8" class="calculate" /></td>
    </tr>
    <tr>
        <td>Mileage Charge $:</td>
        <td><input type="text" id="Approve_MileageReimbursement" name="MileageReimbursement" size="8" class="calculate"  /></td>
    </tr>
    <tr>
        <td>Materials Charge $:</td>
        <td><input type="text" id="Approve_MaterialsReimbursement" name="MaterialsReimbursement" size="8" class="calculate"  /></td>
    </tr>
    <tr>
        <td>Other Adjustments $:</td>
        <td><input type="text" id="Approve_Additional_Pay_Amount" name="Additional_Pay_Amount" size="8" class="calculate"  /></td>
    </tr>
    <tr>
        <td>Abort/Short Notice Pay Amount $:</td>
        <td><input type="text" id="Approve_AbortFeeAmount" name="AbortFeeAmount" size="8" class="calculate"  /></td>
    </tr>
    <tr>
        <td>Total Hours:</td>
        <td><input type="text" id="Approve_calculatedTechHrs" onchange="calcBasePay();" name="calculatedTechHrs" size="8" class="calculate noformat"/></td>
    </tr>
    <tr>
        <td>Final Total Tech $:</td>
        <td id="Approve_PayAmount_Out"></td>
    </tr>
    <tr>
    	<td>Comments</td>
    	<td>
    		<textarea rows="2" cols="25" id="Approve_Add_Pay_Reason" name="Add_Pay_Reason"></textarea>
    	</td>
    </tr>
    <tr>
    	<td colspan="2" class="tCenter">
			<input type="hidden" id="Approve_PayAmount" name="PayAmount" />
			<input type="hidden" id="Approve_Amount_Per" name="Amount_Per" class="calculate" />
    		<input type="hidden" id="Approve_company" name="company" />
    		<input id="updateApproveButton" type="submit" name="updateApproveButton" value="Approve" class="link_button_popup" />
			<input type="button" onclick="roll.hide();" class="link_button_popup" value="Cancel">
    	</td>
    </tr>
</table>
</form>
