<?php $wo = $this->wo; ?>
		
<div>
    <form name="doBidForm" id="doBidForm" action="/">
        <input type="hidden" name="win" value="<?=$this->escape($wo->WIN_NUM)?>" />
        <div id='messages'></div>
		<span class="ajaxLink" onclick="window.open('wosDetails.php?id=<?=$this->escape($wo->WIN_NUM)?>','name','height=650, width=600, left=100, top=100, resizable=yes, scrollbars=yes, toolbar=no,status=no');"><strong>WIN# <?=$this->escape($wo->WIN_NUM)?></strong></span><br />
		<h3><?=$this->escape($wo->Headline)?></h3>
		<p>
			Start Date: <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?>
			Start Time: <?=$this->escape($this->displayDate('g:i A', $wo->StartTime))?><br />
			Location: <?=$this->escape($this->displayAddress($wo->City, $wo->State, $wo->Zipcode))?>
            <?php if ( $wo->Qty_Devices + 0 ) : ?><span class="dev_num"></span># of devices: <?= $wo->Qty_Devices + 0 ?><?php endif; ?>
		</p>
		<h3>Apply for Work Order</h3>
		<p>
            Offer: $ <?=$this->escape($this->displayBid($wo->PayMax, ''))?><?php if (trim($wo->Amount_Per)) : ?> per <u><?=$this->escape(strtolower($wo->Amount_Per))?></u><?php endif; ?><br />
			Note: When you place a bid, <u>you are committing to do the work</u>.  If you are assigned the work and fail to do to the job, it may result in you not being qualified for future work with Field Solutions.<br />
			You may "bid" a lower amount when you apply for this Work Order if you are willing to do the work for less than the Client's maximum pay amount.
		</p>
		<p>
			<input type="checkbox" name="agree" id="agree" value="1" /> <label for="agree" class="wrapper">I agree that the named technician applying for this work order will be the individual performing the work at the work site.</label>
		</p>
		<p>
			<input type="checkbox" name="understand" id="understand" value="1" /> <label for="understand" class="wrapper">I understand that if a different technician goes to the work site then the client has the sole discretionary right to deny access to the work site, and may choose not to pay the agreed upon rate for the work order.</label>
		</p>
		<p>
			What is your bid amount for this work? <span class="reqired">* Required</span>
			<input type="text" size="11" name="amount" id="amount" value="" />
            <?php if (trim($wo->Amount_Per)) : ?>per <?=$this->escape(strtolower($wo->Amount_Per))?><?php endif; ?>
		</p>
		<p>
			Comments
			<input type="text" size="50" name="comments" id="comments" value="" />
		</p>
        <p><input type="submit" class="link_button" name="submit" value="Submit" /></p>
    </form>
</div>
