<form name="filterForm" id="filterForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="filterCompanyId" id="filterCompanyId" />
<div style="text-align:center;">
    <input type="reset" class="link_button_popup" onclick="$('#' + roll.container().id + ' #filterForm')[0].reset(); if ( $.browser.msie ) { wd.resetFormIE(roll); }" value="Reset" />
    <input type="button" class="link_button_popup" onclick="roll.hide(); FSWidget.filterActivate(false);" value="Cancel" />
    <input type="button" class="link_button_popup" onclick="wd.applyFilters(roll);" value="Ok" />
</div>
<div  class="filter_popup">
<table width="100%">
<col width="33%" />
<col width="*" />
    <tr>
        <td class="tRight">By Start Date Range</td>
        <td><span class="ajaxLink" onclick="$('#filterStartDate,#filterEndDate').val('')">ALL</span></td>
    </tr>
    <tr>
    <td class="tRight">Between </td>
    <td>
        <input type="text" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterStartDate" id="filterStartDate" /> and
        <input type="text" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterEndDate" id="filterEndDate" /></td>
    </tr>
    <tr>
        <td class="tRight">By State</td>
        <td>
            <select name="filterState" id="filterState">
                <option value="">Select State</option>
               <?php foreach ($this->states as $ab =>  $st):?>
                    <option value="<?=$st->Abbreviation?>"><?=$st->State?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tRight">Zip </td><td><input type="text" size="5" value="" name="filterZip" id="filterZip" /></td>
    </tr>

    <tr>
        <td class="tRight">Assigned Tech </td><td><input class="inputtext" type="text" name="filterAssignedTech" id="filterAssignedTech" /></td>
    </tr>
    <tr>
        <td class="tRight">Region </td><td><input class="inputtext" type="text" name="filterRegion" id="filterRegion" /></td>
    </tr>
	<tr>
        <td class="tRight">Route </td><td><input class="inputtext" type="text" name="filterRoute" id="filterRoute" /></td>
    </tr>
	<tr>
        <td colspan="2"></td>
	</tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <select name="filterCallType" id="filterCallType">
                <option value="none">Select Call Type</option>
                <?php foreach ($this->callTypes as $key => $val):?>
                    <option value="<?=$key?>"><?=$val?></option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tRight">Client PO# </td><td><input class="inputtext" type="text" name="filterPO" id="filterPO" /></td>
    </tr>
	<?php
	$prjCount = count($this->projects);
	if ($prjCount) :
	?>
    <tr>
        <td class="tRight">By Project</td>
        <td id="allProjectsTRContainer">
		<div class="filter_by_project">
        <?php for ($i=0; $i<$prjCount; ++$i):?>
            <?php $project = $this->projects[$i]; if ( $project->Active ):?>
                <input type="checkbox" name="filterProjects[]" value="<?=$project->Project_ID?>" /> <?=$project->Project_Name?><br />
            <?php endif;?>
        <?php endfor;?>
		</div>
        </td>
    </tr>
    <?php endif; ?>
    <tr>
        <td class="tRight">DeVry Students </td><td><input type="checkbox" id="filterDeVry" name="filterDeVry"  value="1" /></td>
    </tr>
</table>
</div>
</form>
