<form name="filterForm" id="filterForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="filterCompanyId" id="filterCompanyId" />
<div style="text-align:center;">
    <input type="button" class="link_button_popup" onclick="roll.hide(); FSWidget.filterActivate(false);" value="Cancel" />
    <input type="button" class="link_button_popup" onclick="aw.applyFilters(roll);" value="Ok" />
</div>
<div class="filter_popup">
<table width="100%">
<col width="25%" />
<col width="*" />
    <!--tr>
        <td class="tRight">WIN#</td>
        <td><input type="text" id="WIN_NUM" name="WIN_NUM" value="" /></td>
    </tr>
    <tr>
        <td class="tRight"><nobr>Date Created</nobr></td>
        <td> <input type="text" class="cursorPionter" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterDateCreated" id="filterDateCreated" />
    </tr-->
    <tr>
        <td class="tRight"><nobr>Date Range</nobr></td>
        <td>
        <input type="text" class="cursorPionter" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterStartDate" id="filterStartDate" value="" />
        and
        <input type="text" class="cursorPionter" onfocus="this.blur()" onclick="calendarMove(this)" size="8" value="" name="filterEndDate" id="filterEndDate" />
        <span class="ajaxLink leftPad" onclick="$('#filterStartDate,#filterEndDate').val('')">ALL</span></td>
    </tr>
    <tr>
        <td class="tRight"><nobr>By Distance</nobr></td>
        <td>
        <select name="Distance" id="Distance">
        <option value=""></option>
        <option value="10">10 miles</option>
        <option value="25">25 miles</option>
        <option value="50">50 miles</option>
        <option value="75">75 miles</option>
        <option value="100">100 miles</option>
        <option value="150">150 miles</option>
        <option value="250">250 miles</option>
        <option value="500">500 miles</option>
        </select>
         </td>
    </tr>
    <!--tr>
        <td class="tRight">City</td>
        <td><input type="text" id="City" name="City" value="" /></td>
    </tr-->
    <tr>
        <td class="tRight">By State</td>
        <td>
            <select name="filterState" id="filterState">
                <option value="">Select State</option>
                <?php foreach ($this->states as $ab => $st): ?>
                    <option value="<?=$ab?>"><?=$st?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>
    <tr>
        <td class="tRight">Zip </td><td><input type="text" size="5" value="" name="filterZip" id="filterZip" /></td>
    </tr>
	<tr>
        <td colspan="2"></td>
	</tr>
</table>
</div>
</form>