<form name="fWOrdForm" id="fWOrdForm" method="get" action="/">
<input type="hidden" value="<?=$this->companyId?>" name="fWOrdCompanyId" id="fWOrdCompanyId" />
<div class="tCenter" id="fWOrdMessage"></div>
<table class="fWOrd_popup" width="100%">
    <col width="45%" />
    <col width="*" />
    <tbody>
        <tr>
            <td class="tRight">WIN#</td>
            <td><input class="inputtext" type="text" name="fWOrdWIN" id="fWOrdWIN" /></td>
        </tr>
        <tr>
            <td class="tRight">Client Work Order #</td>
            <td><input class="inputtext" type="text" name="fWOrdClientWO" id="fWOrdClientWO" /></td>
        </tr>
        <tr>
            <td class="tRight">Project</td>
            <td>
                <select name="fWOrdProject" id="fWOrdProject" style="width:158px;">
                    <option value="0">Select Project</option>
                    <?php
                        foreach ($this->projects as $project) {
                            if ($project->Active) {
                                echo '<option value="' . $project->Project_ID . '">' . $this->escape($project->Project_Name) . '</option>';
                            }
                        }
                    ?>
                </select>
            </td>
        </tr>
        <tr>
            <td class="tRight">Assigned Tech ID #</td>
            <td><input class="inputtext" type="text" name="fWOrdTechId" id="fWOrdTechId" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2" style="padding: 0;">
                <input type="button" class="link_button_popup" onclick="roll.hide();" value="Cancel" />
                <input type="button" class="link_button_popup" onclick="findWorkOrder.doFind()" value="Ok" />
            </td>
        </tr>
    </tbody>
</table>
</form>
