<table class="popup_table" width="100%" cellpadding="0" cellspacing="0">
    <col width="40%" />
    <col width="60%" />

    <tr>
        <td>Gross $</td>
        <td><?= $this->displayMoney($this->wo->PayAmount) ?></td>
    </tr>
    <tr>
        <td>Fee $</td>
        <td><?= $this->displayMoney(($this->wo->PayAmount + 0) - ($this->wo->Net_Pay_Amount + 0)) ?></td>
    </tr>
    <tr>
        <td>Net $</td>
        <td><?= $this->displayMoney($this->wo->Net_Pay_Amount) ?></td>
    </tr>
</table>

