<?php $wo = $this->wo; 
$reim = $this->expenseReportingTotal["ApprovedThFSTotal"];
$grossPay = ($wo->PayAmount) + $reim;
$fee = ($grossPay)*($wo->PcntDeductPercent + 0);
$netPay = $grossPay - $fee;  
?>

<span class="right_title">This Work Order has been approved by the client and paid by FieldSolutions.</span> <br /><br />

    You agreed to complete this work order for <?=$this->displayMoney($wo->Tech_Bid_Amount)?> <?=$this->displayAmountPer($wo->Amount_Per)?>.<br /><br />


<span class="item_title">Payment Summary</span><br />

<table width="100%">
    <tr>
        <td>Payment Date<sup>1</sup></td>
        <td>Gross, $</td>
        <td>Fee, $<sup>3</sup></td>
        <td>Net, $</td>
    </tr>
    <tr>
        <td><?=$this->displayDate('n/j/Y', $wo->DatePaid)?></td>
        <td><?=$this->displayMoney($grossPay)?><sup>2</sup></td>
        <td><?= $this->displayMoney($fee + 0,"&nbsp;") ?></td>
        <td><?= $this->displayMoney($netPay) ?></td>
    </tr>
</table>

<br />
<span style="font-size: 50%">1 Field Solutions pays on Fridays except for bank holidays. 2 Approved not yet dispersed. 3 Fee $ is client directed 10% administrative deduction.</span>

