<?php $wo = $this->wo; ?>

<span class="right_title">This Work Order is currently assigned to you and begins on <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?><?php if (trim($wo->StartTime)) : ?> at <?php endif; echo $this->escape($this->displayDate('g:i A', $wo->StartTime));?>.</span> <br />
<h3 class="h3_right">Next Steps</h3>

<div id="messagesBox"></div>

<?php
    /**
     * @see issue #12249 */
    $now    = date('YmdHi00', time()+86400+43200); 
    $start  = ( '' !== ($time = $this->displayDate('Ymd', $wo->StartDate)) ) ? $time : '20100101'; 
    $start .= ( '' !== ($time = $this->displayDate('Hi00', $wo->StartTime)) ) ? $time : '000000';
    $toEarly = ( strcmp($now, $start) >= 0 ) ? false : true;  
    
    //$toEarly = false;
?>

Confirm your commitment to arrive on time for this assignment.<br />
<table>
    <tr>
        <td><input type="checkbox" name="TechCheckedIn_24hrs" id="TechCheckedIn_24hrs" <?php if ($toEarly) :?>disabled="disabled" <?php endif; ?>value="True" /></td>
        <td>&#160;</td> 
        <td><label for="TechCheckedIn_24hrs">I will be at this location tomorrow to complete this work.</label></td>
    </tr>
</table>
<div align="right" style="margin-top: 10px;margin-bottom: 10px;">
    <input name="confirmBtn" type="button" id="confirmSubmitBtn" class="link_button<?php if ($toEarly) :?> <?php endif; ?>" onclick="<?php if ($toEarly) :?> javascript:alert('You may not confirm more than 24 hours in advance');return false;<?php endif; ?>" <?php if ($toEarly) :?> <?php endif; ?>value="Confirm Now" />
</div>

<?php if ( !$toEarly ) : ?>
<script type="text/javascript">
    $(document).ready(function () {
        var validator = new FSFormValidator;
        validator.addChecked(
            $('#TechWOWorkPlaceRight #TechCheckedIn_24hrs'),
            true,
            "You should to confirm the terms before you go to the next step"
        );

        $('#TechWOWorkPlaceRight #confirmSubmitBtn').click(function () {
            woDetails.setMBox('#TechWOWorkPlaceRight #messagesBox');
            woDetails.updateWO({validator : validator, options : {'TechCheckedIn_24hrs' : 'True'}});
        });
    });
</script>
<?php endif; ?>

