<?php $wo = $this->wo; ?>

<span class="right_title">This Work Order is currently assigned to you and begins on <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?><?php if (trim($wo->StartTime)): ?> at <?php endif; echo $this->escape($this->displayDate('g:i A', $wo->StartTime));?>.</span> <br />
<h3 class="h3_right">Next Steps</h3>

<div id="messagesBox"></div>

<!-- You have not confirmed this assignment with the client<br /> -->
Confirm your acceptance of this work item assignment. <br/>
<table>
    <tr>
        <td><input type="checkbox"  name="WorkOrderReviewed" id="WorkOrderReviewed" value="1" /></td>
        <td>&#160;</td> 
        <td><label for="WorkOrderReviewed">I will be at this location on <?=$this->escape($this->displayDate('n/j/Y', $wo->StartDate))?><?php if (trim($wo->StartTime)):?> at <?php endif; echo $this->escape($this->displayDate('g:i A', $wo->StartTime))?> to complete this work.</label></td>
    </tr>
</table>
<div align="right" style="margin-top: 10px;margin-bottom: 10px;">
    <input type="button" id="confirmSubmitBtn" class="link_button" value="Confirm Now" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var validator = new FSFormValidator;
        validator.addChecked(
            $('#TechWOWorkPlaceRight #WorkOrderReviewed'),
            true,
            "You should to confirm the terms before you go to the next step"
        );

        $('#TechWOWorkPlaceRight #confirmSubmitBtn').click(function () {
            woDetails.setMBox('#TechWOWorkPlaceRight #messagesBox');
            woDetails.updateWO({validator : validator, options : {'WorkOrderReviewed' : 'True'}});
        });
    });
</script>

