<?php $wo = $this->wo; ?>

<span class="right_title">This Work Order has been marked <span class="red">incomplete</span> by the client. This work order will <u>NOT BE PAID</u> until all information has been accepted by the client.</span>
<br /></br />

<span class="item_title">Incomplete Status Notes to Tech:</span><br />
<?=$this->escape($wo->MissingComments)?> <br />

<h3 class="h3_right">Next Steps</h3>

<center><input type="button" id="FullWOView" value="Open Full Work Order to Update" style="margin-bottom:5px;" class="link_button middle_button_230" onclick="window.location = window.location.href + '#section1';for (i=1;i<7;i++) {openTab(i);}return false;"/></center>

