<?php 
    $wo = $this->wo;
    $descDate     = 'MM/DD/YYYY';
    $descTime     = 'HH:MM AM/PM';
    $descComments = 'Close out comments are Required';
    $enableER = true;
    if($this->enableExpenseReporting && !empty($this->expenseReporting)){
        $enableER = true;
        $msg = "";
        foreach ($this->expenseReporting as $item) {
            if($item["require_doc_upl"]){
                $msg = "Make Expense Reimbursement Claims below in Section 4 of the Work Order. Don't forget to upload required receipts.";
                break;
            }
        }
        if($msg == "") $msg = "Make Expense Reimbursement Claims below in Section 4 of the Work Order.";
    }else{
        $enableER = false;
    }
?>
<h3 class="h3_right topSm bottomSm">Next Steps</h3>
<div id="messagesBox"></div>
<form action="/" method="post" enctype="multipart/form-data">
    <table width="100%" class="Table_green_box">
        <col width="50%" />
        <col width="50%" />
        <tr>
            <td colspan="2"><span class="item_title">1. Check In / Check Out <span class="red_mid">* Required</span></span></td>
        </tr>
        <tr>
            <td>
                Date In&#160;&#160;&#160;&#160;
                <input type="text" style="cursor:pointer;" name="Date_In" id="Date_In" value="<?=(trim($wo->Date_In)) ? $this->displayDate('n/j/Y', $wo->Date_In) : $descDate;?>" size="8" />
                <img src="/widgets/images/calendar.gif" alt="" style="position:relative;top:4px;cursor:pointer;" onclick="woDetails.showCal(popUpCal, ($('#TechWOWorkPlaceRight #Date_In'))[0], '<?=$descDate?>')" />
            </td>
            <td>Check In&#160;&#160;&#160;&#160;<input type="text" name="Time_In" id="Time_In" value="<?=(trim($wo->Time_In)) ? $wo->Time_In : $descTime;?>" size="8" /></td>
        </tr>
        <tr>
            <td>
                Date Out&#160;
                <input type="text" style="cursor:pointer;" name="Date_Out" id="Date_Out" value="<?=(trim($wo->Date_Out)) ? $this->displayDate('n/j/Y', $wo->Date_Out) : $descDate;?>" size="8" />
                <img src="/widgets/images/calendar.gif" alt="" style="position:relative;top:4px;cursor:pointer;" onclick="woDetails.showCal(popUpCal, ($('#TechWOWorkPlaceRight #Date_Out'))[0], '<?=$descDate?>')" />
            </td>
            <td>Check Out&#160;<input type="text" name="Time_Out" id="Time_Out" value="<?=(trim($wo->Time_Out)) ? $wo->Time_Out : $descTime;?>" size="8" /></td>
        </tr>
        <tr>
            <td colspan="2"><span class="item_title"><br />2. Complete Work Order</span></td>
        </tr>
        <tr>
            <td colspan="2">&#160;
                <input type="checkbox" name="TechMarkedComplete" id="TechMarkedComplete"   value="True" /> <label for="TechMarkedComplete">Mark Work Order Tech Complete</label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span class="item_title"><br />3. Add Tech Comments: <span class="red_mid">* Required</span></span></td>
        </tr>
        <tr>
            <td colspan="2"><textarea name="TechComments" id="TechComments" onfocus="woDetails.dynClearFill(this, '<?=$descComments?>')" onblur="woDetails.dynClearFill(this, '<?=$descComments?>')"><?=(trim($wo->TechComments)) ? $this->escape($wo->TechComments) : $descComments ;?></textarea></td>
        </tr>
        <?php if($enableER) { ?>
        <tr>
            <td colspan="2"><span class="item_title"><br />4. Expense Reporting</span> 
            </td>
        </tr>
        <tr>
            <td colspan="2"><label><?= $msg; ?></label></td>
        </tr>
        <?php } ?>
        <tr>
            <td colspan="2"><span class="item_title"><br /><?= $enableER?"5":"4" ?>. Documents &amp; Parts</span> 
                <?php if($wo->SignOffSheet_Required == 1) {?>
                    <span class="red_mid">* Required</span>
                <?php } ?>
               <input type="hidden"  value="<?= $wo->SignOffSheet_Required ?>" id="HidSignOffSheet_Required"  />     
            </td>
        </tr>
        <tr>
            <td id="Pic1_FromTech_Td" colspan="2">
                <!--div class="fileDiv">
                    <input size="1" class="fileElement indentLeftm50" type="file" name="Pic_FromTech" id="Pic_FromTech" onchange="return " />
                </div>
                <label for="Pic_FromTech"> Add another file</label>
                <label><input type="text" value="" class="input150w" name="DescrPic_FromTech" id="DescrPic_FromTech"  maxlength="25"><span>Description </span></label-->

                <div id="UploadGreenTechPicsNew">
                    <input type="file" id="PicGreenTech1" name="PicGreenTech1" class="indentTop5" />
                    <label>
                        <span id="attachment_description_label_content"> Optional Description </span>
                        <input type="text" value="" class="input150w" name="DescrPicGreenTech1" id="DescrPicGreenTech1" maxlength="25">
                    </label>
                </div>
                <div><a onclick="addFileField('GreenTech'); return false;" href="#">Add another file</a></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="UploadTechPicGreen">
                <?php
                if(!empty($this->files)){
                    foreach($this->files as $k=>$f){
						if (strstr ($f->path, "/", true) == "projects-docs") {
							$filename = ltrim (strstr ($f->path, "/"), "/");
							$filepath = "/widgets/dashboard/do/file-project-documents-download/filename/" . base64_encode(urlencode($filename)) . "/" . $filename;
						}
						else {
							$filepath = "/widgets/dashboard/do/file-wos-documents-download/filename/" . base64_encode(urlencode($f->path)) . "/" . ltrim($f->path, '/');
							
						}
				?>

                <div class="UploadGreenTechPicsNew">
                <a class="ajaxLink" href="<?= $filepath; ?>"> <?= ltrim($f->path, '/'); ?></a>
                <?php if(!empty($f->description)):?><span> - <?= $f->description?></span><?php endif;?>
                <nobr><input type="checkbox" name="removefiles[]" id="Pic<?= $f->id?>_FromTech_Remove" value="<?= $f->id?>" onclick="woDetails.confirmRemoveFile(this, '<?= ltrim($f->path, '/') ?>');">
                <label for="Pic<?= $f->id?>_FromTech_Remove">Remove</label></nobr><br />
                </div>
                <? }}?>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" class="link_button middle_button_180" value="FS Parts Manager" onclick="openPopupWin('parts/list.php?woId=<?=$wo->WIN_NUM?>')" />
                <?php if($wo->PartManagerUpdate_Required == 1) {?>
                    <span class="red_mid">* Required</span>
                <?php } ?>
                    <input type="hidden"  value="<?= $wo->PartManagerUpdate_Required ?>" id="HidPartManagerUpdate_Required"  />
            </td>
            <td align="right" class="clr">
               <input type="button" class="link_button btxt" id="SubmitForApprovalBtn" value="UPDATE" /> <label class="red tMidB" style="float: right; margin-right: 7px; margin-top: 3px;">Submit for Approval</label>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    var validator;
    var filters;
    var Date_In;
    var Date_Out;
    var Time_Out;
    var Time_In;
    var TechComments;
    $(document).ready(function () {
        woDetails.setMBox('#TechWOWorkPlaceRight #messagesBox');

        validator = new FSFormValidator();
        filters = new FSFormFilter();

        Date_In = $('#TechWOWorkPlaceRight #Date_In');
        Date_Out = $('#TechWOWorkPlaceRight #Date_Out');
        Time_Out = $('#TechWOWorkPlaceRight #Time_Out');
        Time_In = $('#TechWOWorkPlaceRight #Time_In');
        TechComments = $('#TechWOWorkPlaceRight #TechComments');

        
        filters.addAsEmpty(Date_In, '<?=$descDate?>');
        filters.addAsEmpty(Date_Out, '<?=$descDate?>');
        filters.addAsEmpty(Time_Out, '<?=$descTime?>');
        filters.addAsEmpty(Time_In, '<?=$descTime?>');
        filters.addAsEmpty(TechComments, '<?=$descComments?>');

        validator.addRegex(
            Date_In,
            /(0?[1-9]|1[0-2])\/([0-2]?[0-9]|3[01])\/(20)?[1-9]\d/,
            "You set incorrect Date In, example: '10/26/10'"
        );
        validator.addRegex(
            Date_Out,
            /(0?[1-9]|1[0-2])\/([0-2]?[0-9]|3[01])\/(20)?[1-9]\d/,
            "You set incorrect Date Out, example: '10/26/10'"
        );
        validator.addRegex(
            Time_In,
            /([1-9]|1[012])\:[0-5]?[0-9] (am|pm)/i,
            "You set incorrect Time In, example: 3:17 PM"
        );
        validator.addRegex(
            Time_Out,
            /([1-9]|1[012])\:[0-5]?[0-9] (am|pm)/i,
            "You set incorrect Time Out, example: 3:17 PM"
        );
        validator.notEmpty(
            TechComments,
            'Tech Comments is required and cannot be empty'
        );
        validator.registerFilter(filters);

        $('#TechWOWorkPlaceRight #SubmitForApprovalBtn').click(function () {
            if ( woDetails.fullUpdateRequest(this.form) ) {
                fielsToRemove = [];
                fileFields = $('#UploadTechPicGreen input:checkbox');
                $('#UploadTechPicGreen input:checkbox').each(function(index) {
                    if(this.checked)
                        fielsToRemove.push(this.value);
                });

                var TechMarkedComplete = $('#TechWOWorkPlaceRight #TechMarkedComplete').is(":checked");
                if(TechMarkedComplete) TechMarkedComplete = "True"; else TechMarkedComplete = "False";
                options = {
                    'Date_In'               : filters.getValue(Date_In),
                    'Date_Out'              : filters.getValue(Date_Out),
                    'Time_In'               : filters.getValue(Time_In),
                    'Time_Out'              : filters.getValue(Time_Out),
                    'TechMarkedComplete'    : TechMarkedComplete,//358
                    'TechComments'          : filters.getValue(TechComments)};

                if(fielsToRemove.length)
                    options.removefiles = fielsToRemove;
                
                woDetails.updateWO({validator : validator, options :options,onsuccess:function(){uploadFile(woDetails, 1);}});
            }
        });

        $.each([Date_In, Date_Out], function(idx, val) {
            $(val).focus(function() {
                woDetails.showCal(popUpCal, this, '<?=$descDate?>');
            });
            $(val).blur(function() {
                if ($(this).val() == '') $(this).val('<?=$descDate?>');
            });
        });

        $.each([Time_In, Time_Out], function(idx, val) {
            $(val).focus(function() {
                if ($(this).val() == '<?=$descTime?>') $(this).val('');
            });
            $(val).blur(function() {
                formatTime(val[0]);
                if ($(this).val() == '') $(this).val('<?=$descTime?>');

                var id = $(this).attr('id');
                var form = document.getElementById('woForm');
                if ( form != null ) {
                    form[id].value = filters.getValue(val);
                    woDetails.updateTechHrsValue(form, $('#TechWODetailsSection3_slider #TechTotalHrs'), false);
                }
            });
        });
        $(TechComments).change(function() {
            $("#TechWODetailsSection4_slider #TechComments").val($(this).val());
        });

        /* Calendar init */
        $(Date_In).calendar({dateFormat:'MDY/', onSelect: function (dateStr) { selectHandler(Date_In, dateStr, false); }});
        $(Date_Out).calendar({dateFormat:'MDY/', onSelect: function (dateStr) { selectHandler(Date_Out, dateStr, false); }});
        /* Calendar init */
    });
    function uploadFile(woDetails, id)
    {
        if ( $('#PicGreenTech'+id).val() && $('#PicGreenTech'+id).val() != '' ) {
           
        woDetails.displayProgress();
        descr = '';
        if($('#DescrPicGreenTech'+id).val() != undefined) descr = encodeURIComponent($('#DescrPicGreenTech'+id).val());
        $.ajaxFileUpload({
            url             : "/widgets/dashboard/tech-wo-details/upload-file/win/<?=$wo->WIN_NUM?>/file/"+id+"?descr="+descr,
            secureuri       : false,
            fileElementId   : "PicGreenTech"+id,
            dataType        : 'json',
            success         : function (data, status) {
                woDetails.hideMessages();
                if ( data.success == 0 ) {
                    woDetails.clearMessages();
                    if ( data.message ) {
                        woDetails.addMessage(data.message);
                    } else {
                        woDetails.addMessage('Upload failed');
                    }
                    woDetails.displayErrors();
                } else {
                    uploadFile(woDetails, id+1);
                    newRemoveEl = '<a class="ajaxLink" href="/widgets/dashboard/tech/file-wos-documents-download/filename/'+ data.filename + '/' + data.name + '">'+ data.name +'</a>';
                    newRemoveEl +='<span> - '+ data.description + ' </span><nobr><input type="checkbox" name="removefiles[]" id="Pic'+data.id+'_FromTech_Remove" value="'+data.id+'" onclick="woDetails.confirmRemoveFile(this, \'' + data.name + '\');"><label for="Pic'+data.id+'_FromTech_Remove">Remove</label></nobr><br>';
                    $('#UploadTechPicGreen').append(newRemoveEl);
                }
            },
            error: function (data, status, error) { 
                woDetails.hideMessages();
                woDetails.clearMessages();
                if ( data.message ) {
                    woDetails.addMessage(data.message);
                } else {
                    woDetails.addMessage('Upload failed');
                }
                woDetails.displayErrors();
            }
        });
        } else {
            woDetails.hideMessages();
            location.reload();
        }
    }

</script>