<script type="text/javascript" src="/library/dataValidation.js?v=3"></script>

<?php
    $wo = $this->wo;
    $tech = $this->tech;
    $prj = $this->prj;
    $projectP2T = $prj->AutoSMSOnPublish;       
?>

<span class="right_title">This Work Order is available.</span> <br /><br />

<div align="right" style="margin-top: 232px;">
    <input type="button" id="applySubmitBtn" class="link_button" value="Apply" style="display:none;" />
</div>

<script type="text/javascript">
    $(function(){
        woDetails.setMBox('#applyFormMessagesBox');
        /**/
        $('#edit_BidAmount').bind('blur', function(){
            $(this).formatCurrency({groupDigits:false, symbol:''});
        })
        $('#edit_BidAmount').formatCurrency({groupDigits:false, symbol:''});
        detailObject.onInit.amountField($('#edit_BidAmount'));
        /**/
        $('#applySubmitBtn').bind('click', function(){
            woDetails.hideMessages();
            woDetails.clearMessages();
            $('#workPlaceBoxes').hide();
            $('#workPlaceBoxesApply').show();
            $('#workPlaceBoxesApplyForm').show();
            $('#workPlaceBoxesApplySuccess').hide();
        })
        
        $('#applySubmitBackBtn').bind('click', function(){
            woDetails.hideMessages();
            woDetails.clearMessages();
            $('#workPlaceBoxes').show();
            $('#workPlaceBoxesApply').hide();
        })
        
        $('#applySuccessBackBtn').bind('click', function(){
            woDetails.hideMessages();
            woDetails.clearMessages();
            $('#workPlaceBoxes').show();
            $('#workPlaceBoxesApply').hide();
        })
        
        $('#applySubmitOKBtn').bind('click', function(){
            woDetails.hideMessages();
            woDetails.clearMessages();
            if($("#techwithdraw").is(":checked"))
            {
                woDetails.displayProgress();
                
                comments = $('#edit_BidComment').length != 0 ? $('#edit_BidComment').val() : '';
                data = {woID : <?= $wo->WIN_NUM ?>, techID : <?= $tech->TechID ?>, BidAmount : $('#edit_BidAmount').val(), comments : comments}
                woDetails.createwithdrawBid( data, function(data){});
            }
            else
            {
            if ( !$('#agreeApply1').attr('checked') ) {
                woDetails.addMessage("Checkbox 'I agree ...' must be checked."); woDetails.displayErrors(); return false;
            }
            if ( !$('#agreeApply2').attr('checked') ) {
                woDetails.addMessage("Checkbox  'I understand ...' must be checked."); woDetails.displayErrors(); return false;
            }
            if ( $('#edit_BidAmount').val() == '' ) {
                woDetails.addMessage("Please enter a bid amount."); woDetails.displayErrors(); return false;
            }
            if (!isValidMoney($('#edit_BidAmount').val())) {
                woDetails.addMessage("Bid amount must be formated like 0.00"); woDetails.displayErrors(); return false;
            }
            if ($('#edit_BidAmount').val() == 0) {
                woDetails.addMessage("Bid amount cannot be 0.00"); woDetails.displayErrors(); return false;
            }
            woDetails.displayProgress();

            comments = $('#edit_BidComment').length != 0 ? $('#edit_BidComment').val() : '';
            data = {woID : <?= $wo->WIN_NUM ?>, techID : <?= $tech->TechID ?>, BidAmount : $('#edit_BidAmount').val(), comments : comments}
            woDetails.createBid( data, onSuccess );
            }
        })
        $('#applySubmitBtn').css('display', '');
    })
    
    function onSuccess( data )
    {
        bidAmount = $('#edit_BidAmount').val();
        <?php if ( $projectP2T == 'True' ) : ?>smsNum = '';<?php else : ?>
        <?php if ( $prj->isProjectAutoAssign == 'True' ) : ?>smsNum = 'Yes';<?php else : ?>smsNum = 'No';<?php endif; ?>
        <?php endif; ?>
        comments = $('#edit_BidComment').length != 0 ? $('#edit_BidComment').val() : '';
//        checkAutoAssign(bidAmount, smsNum, comments);
		woDetails.clearMessages();
        woDetails.hideMessages();
        $('#workPlaceBoxesApplyForm').hide();
        $('#workPlaceBoxesApplySuccess').show();
    }
    
    function checkAutoAssign( bidAmount, smsNum, comments ) {
        data = {
            techId : "<?= $tech->TechID ?>",
            woId : "<?= $wo->WIN_NUM ?>",
            firstName : "<?= $tech->Firstname ?>",
            lastName : "<?= $tech->Lastname ?>",
            bidAmount : bidAmount,
            smsNum : smsNum,
            comments  : encodeURIComponent(comments)
        }

        $.ajax({
            type : "GET",
            url : "/techs/ajax/checkAutoAssign.php",
            dataType : "",
            data : data,
            success : function(res) {
                woDetails.clearMessages();
                woDetails.hideMessages();
                $('#workPlaceBoxesApplyForm').hide();
                $('#workPlaceBoxesApplySuccess').show();
            }
        });
    }
</script>

