<?php
    $wo     = $this->wo;
    $prj    = $this->prj;
//    $projectP2T = $prj->AutoSMSOnPublish;
    $projectP2T = false; // replaces above which seems to be bug
    
    $lastwobid = $this->lastwobid;    
    $amount = "";
    $comments = "";
    if(!empty($lastwobid))
    {
        $amount =  $lastwobid['BidAmount'];
        $comments =  $lastwobid['Comments'];
    }    
    if($prj->FixedBid == true && empty($amount))
    {
        $amount = $wo->PayMax;
    }
?>
<div class="TechWOWorkPlaceRight_box">

    <?php if ( !isset($_SESSION["acceptedICA"]) || $_SESSION["acceptedICA"] != "Yes") : ?>
        <table cellspacing="0" width="100%" class="baseinfo_table">
            <tr>
                <td><span class="item_title">
                        Please agree to the <a href="../content/techTerms_form.php" target="_parent">Independent Contractor Agreement</a> before applying or bidding for work.
                </span></td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <div align="right" style="margin-top: 232px;">
                        <input type="button" id="applySuccessBackBtn" class="link_button" value="Back" />
                    </div>
                </td>
            </tr>
        </table>
    <?php else : ?>
        <div id="applyFormMessagesBox"></div>
        <table cellspacing="0" width="100%" class="baseinfo_table" id="workPlaceBoxesApplyForm">
            <tr>
                <td colspan="2">
                     <span class="">Note: When you place a bid, you are committing to do the work. If you are assigned the work and fail to do the job, it may result in you not being 
                                            qualified for future work with FieldSolutions. 
                                            <br>You may "bid" a lower amount when you apply for this Work Order if you are willing to do the work for less than the Client's maximum pay amount. 
                     </span>
                </td>
            <tr>
                <td colspan="2"><span class="item_title">Field Solutions clients require all work to be performed only by the named technician applying for the work order assignment.</span></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="1" name="agreeApply1" id="agreeApply1"></td>
                <td><label for="agreeApply1">I agree that the named technician applying for this work order will be the individual performing the work at the work site.</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" value="1" name="agreeApply2" id="agreeApply2"></td>
                <td><label for="agreeApply2">I understand that if a different technician goes to the work site then the client has the sole discretionary right to deny access to the work site, and may choose not to pay the agreed upon rate for the work order.</label></td>
            </tr>
            <?php if ($projectP2T == true) : ?>
                <tr>
                    <td colspan="2">
                        <table width="100%">
                            <col width="35%" />
                            <col width="65%" />
                            <tr>
                                <td>What is your bid amount for this work?<span class="red">* Required</span></td>
                                <td>
                                    <input style="width:50px;" type="text" name="BidAmount" id="edit_BidAmount" value="">&nbsp;<?=$this->displayAmountPer($wo->Amount_Per)?>
                                </td>
                            </tr>
                            <tr>
                                <td>Comments</td>
                                <td><input style="width:450px;" type="text" name="BidComment" id="edit_BidComment" value=""></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            <?php else : ?>
                <?php if ($prj->isProjectAutoAssign == true) : ?>
                <tr>
                    <td colspan="2"><span class="item_title">Push2Tech™ bids are firm bids. Pay will only be the amount you are bidding.</span></td>
                </tr>
                <?php endif; ?>
                <tr>
                    <td colspan="2">
                        <span class="item_title">
                            <?php if ($prj->FixedBid == true) : ?>
                            FIXED TOTAL PAY WORK ORDER: this work order is a total pre-set fixed pay work order. No extra $ or hourly rates or bids will be accepted. No added comments will be considered or accepted.
                            <?php endif; ?>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="item_title"><?
                            $PcntDeductPercentmsg ="";
                            if(empty($wo->PcntDeduct))
                            {
                                $PcntDeductPercentmsg = "No service fee will be deducted from your final total payment amount from this work order.";
                            }
                            else if($wo->PcntDeductPercent == 1)
                            {
                                $PcntDeductPercentmsg = "You will be paid outside of the FieldSolutions Platform for this work order.";
                            }
                            else
                            {
                                $PcntDeductPercentmsg = "A ".($wo->PcntDeductPercent*100)."% service fee will be deducted from your final total payment amount from this work order.";
                            }
                            echo ($PcntDeductPercentmsg);
                            ?></span>
                    <?php if (Core_Geocoding_Google::isCanadianZip($wo->Zipcode)) :?>
                    <br/><span class="item_title payments-warning">(All payments and fees are in $US)</span> 
                    <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table width="100%">
                            <col width="35%" />
                            <col width="65%" />
                            <tr>
                                <td>What is your bid amount for this work?<span class="red">* Required</span></td>
                                <td>
                                    <?php if ($prj->FixedBid == true) : //old: $wo->PayMax?>
                                    <input style="width:50px;" readonly="readonly" type="text" name="BidAmount" id="edit_BidAmount" value="<?= $amount ?>">&nbsp;<?=$this->displayAmountPer($wo->Amount_Per)?>
                                    <?php else : ?>
                                    <input style="width:50px;" type="text" name="BidAmount" id="edit_BidAmount" value="<?=$amount?>">&nbsp;<?=$this->displayAmountPer($wo->Amount_Per)?>
                                    <?php endif; ?>
                                </td>
                            </tr>
                            <?php if ($prj->isProjectAutoAssign != true) : ?>
                            <tr>
                                <td>Comments</td>
                                <td><input style="width:450px;" type="text" name="BidComment" id="edit_BidComment" value="<?=$comments?>"></td>
                            </tr>
                            <?php endif; ?>
                        </table>
                    </td>
                </tr>
            <?php endif;
                if($amount!= "")
                {?>
            <tr>
                    <td  colspan="2">
            <label for="techwithdraw" id="techwithdrawlabel" class="wrapper">Withdraw Application: </label> <input type="checkbox" name="techwithdraw" id="techwithdraw" value="1" />
            </td>
        </tr>
        <?}?>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <input type="button" id="applySubmitOKBtn" class="link_button" value="Submit" />&nbsp;&nbsp;<input type="button" id="applySubmitBackBtn" class="link_button" value="Back" />
                </td>
            </tr>
        </table>
        <table cellspacing="0" width="100%" class="baseinfo_table" id="workPlaceBoxesApplySuccess" style="display: none;">
            <tr>
                <td><span class="item_title">Thank you for your application. You will be notified if you were the winning bidder. <?php /* Click here to search for more work. */ ?></span></td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <div align="right" style="margin-top: 232px;">
                        <input type="button" id="applySuccessBackBtn" class="link_button" value="Back" />
                    </div>
                </td>
            </tr>
        </table>
        <!--
        Please agree to the Independent Contractor Agreement before applying or bidding for work. (http://zfs-branch.sukharev.buick/content/techTerms_form.php)
        agreeICAYes
        agreeICANo
        javascript:openPopup('techTerms_combined.php')
        -->
    <?php endif; ?>
</div>
