<?php $wo = $this->wo; ?>

<span class="right_title">This Work Order is currently marked as work done and is waiting for client approval for payment.</span> <br /><br />

    You agreed to complete this work order for <?=$this->displayMoney($wo->Tech_Bid_Amount)?> <?=$this->displayAmountPer($wo->Amount_Per)?>.<br /><br />
